<table class="table">
    <thead>
        <tr class="sonata-ba-view-container">
            <th></th>
            <th>Animatrice provisoire</th>
            <th>Animateur provisoire</th>
        </tr>
    </thead>
    <tbody>
        <tr class="sonata-ba-view-container">
            <th>ID</th>
            <td>{{ female ? female.id }}</td>
            <td>{{ male ? male.id }}</td>
        </tr>
        <tr class="sonata-ba-view-container">
            <th>Nom</th>
            <td>{{ female ? female.lastName }}</td>
            <td>{{ male ? male.lastName }}</td>
        </tr>
        <tr class="sonata-ba-view-container">
            <th>Prénom</th>
            <td>{{ female ? female.firstName }}</td>
            <td>{{ male ? male.firstName }}</td>
        </tr>
        <tr class="sonata-ba-view-container">
            <th>Civilité</th>
            <td>{{ female ? ('common.gender.' ~ female.gender)|trans }}</td>
            <td>{{ male ? ('common.gender.' ~ male.gender)|trans }}</td>
        </tr>
    </tbody>
</table>
