<section id="summary-experiences" class="l__wrapper--medium space--30-0">
    {% block summary_experiences %}
        <div>
            <h2 class="b__nudge--bottom">Mes expériences</h2>
            {% for experience_id, experience in summary.experiences %}
            <div class="cv__experience">
                <div>
                    <h3 class="text--body">{{ experience.title|upper }}</h3>
                    <h4 class="text--body">{{ experience.company }}</h4>
                    <div class="text--body b__nudge--bottom">
                        {{ experience.startedAt|localizeddate('none', 'none', 'fr_FR', null, 'MMMM yyyy') }}
                        {% if experience.endedAt %}
                            - {{ experience.endedAt|localizeddate('none', 'none', 'fr_FR', null, 'MMMM yyyy') }}
                        {% elseif experience.onGoing %}
                            - aujourd'hui
                        {% endif %}
                        ({{ experience.length }})
                    </div>
                    <div class="text--body">{{ experience.description }}</div>
                    {% block modify %}{% endblock %}
                </div>
            </div>
            {% endfor %}
        </div>
    {% endblock %}
</section>
