<section id="summary-experiences" class="l__wrapper--medium">
    {% block summary_experiences %}
        <div class="l__row l__row--h-stretch l__row--top l__tablet--col b__nudge--bottom-large">
            <h2>Expériences</h2>
            {% for experience_id, experience in summary.experiences %}
                <div class="summary-experience">
                    <h3>{{ experience.title }}</h3>
                    <h4>{{ experience.company }}</h4>
                    <p class="text--small">
                        {{ experience.startedAt|localizeddate('none', 'none', 'fr_FR', null, 'MMMM Y') }}
                        {% if experience.endedAt %}
                            - {{ experience.endedAt|localizeddate('none', 'none', 'fr_FR', null, 'MMMM Y') }}
                        {% endif %}
                        ({{ experience.length }})
                    </p>
                    <p>{{ experience.description }}</p>
                    {% block modify %}{% endblock %}
                </div>
            {% endfor %}
        </div>
    {% endblock %}
</section>
