<section>
    {% block summary_left_part %}
    <div class="progressive-background space--100-0"
         data-sd="{{ static_asset('procuration.jpg', {'w': 300, 'q': 20}) }}"
         data-hd="{{ static_asset('procuration.jpg', {'w': 2000, 'q': 70}) }}">
    </div>
    <div class="background--yellow cv__header">
        <div class="l__wrapper--medium text--center">
            <div class="cv__header__photo progressive-background">
                <img src="{{ url_photo }}" alt="Ajouter une photo" />
            </div>
            <div class="cv__header__about">
                <h2 class="text--large b__nudge--top">{{ summary.member.fullname }}</h2>

                {% set currentPosition = ('adherent.activity_position.' ~ summary.currentPosition)|trans  %}
                {% if summary.currentProfession %}
                    <div class="text--all-caps cv__header__profession">{{ summary.currentProfession }}</div>
                    <div class="text--body text--italic cv__header__position">{{ currentPosition }}</div>
                {% else %}
                    <div class="text--all-caps cv__header__position">{{ currentPosition }}</div>
                {% endif %}
                <p class="text--body">{{ summary.professionalSynopsis }}</p>
            </div>
        </div>
    </div>
    {% endblock %}
    {% block summary_contact %}
        <div class="cv__header__contact l__row l__row--center l__row--top">
            {% if summary.contactEmail %}
                <div class="summary-contact-email">
                    <a href="mailto:{{ summary.contactEmail }}"><i class="fa fa-envelope-o"></i></a>
                </div>
            {% endif %}
            {% if summary.facebookUrl %}
                <div class="summary-contact-facebook">
                    <a href="{{ summary.facebookUrl }}"><i class="fa fa-facebook-official"></i></a>
                </div>
            {% endif %}
            {% if summary.linkedInUrl %}
                <div class="summary-contact-linked_in">
                    <a href="{{ summary.linkedInUrl }}"><i class="fa fa-linkedin-square"></i></a>
                </div>
            {% endif %}
            {% if summary.twitterNickname %}
                <div class="summary-contact-twitter">
                    <a href="{{ summary.twitterNickname }}"><i class="fa fa-twitter"></i></a>
                </div>
            {% endif %}
        </div>
    {% endblock %}
</section>
