<section class="cv__work-status background--pink">
    {% block summary_synthesis %}
        <div class="bandeau bandeau--wide bandeau--pink">
            <ul>
                <li>
                    <div class="text--normal">Recherche</div>
                    <span class="summary-contributionwish">{{ summary.contributionWishLabel }}</span>
                </li>
                <li>
                    <div class="text--normal">Disponibilité</div>
                    <span class="summary-availability">{{ summary.availabilities|join(' ou ')|capitalize }}</span>
                </li>
                <li>
                    <div class="text--normal">Travail</div>
                    <span class="summary-location">{{ summary.jobLocations|join(' ou ')|capitalize }}</span>
                </li>
            </ul>
        </div>
    {% endblock %}
    {% block summary_bottom_part %}
        <div class="bandeau bandeau--wide bandeau--blue">
            <ul>
                <li>
                    <div class="text--normal">Date d'adhésion</div>
                    {% if summary.member.activatedAt %}
                        {{ summary.member.registeredAt|localizeddate('none', 'none', 'fr_FR', null, 'MMMM yyyy') }}
                    {% else %}
                        -
                    {% endif %}
                </li>
                <li>
                    <div class="text--normal">Participation</div>
                    {{ recent_activities.eventParticipationsCount }}
                    évènement{{ recent_activities.eventParticipationsCount > 1 ? 's' }}
                </li>
                <li>
                    <div class="text--normal">Profil complété</div>
                    <span class="summary-completion">{{ summary.completion }}%</span>
                </li>
            </ul>
        </div>
    {% endblock %}
</section>
