<section id="summary-trainings" class="l__wrapper--medium space--30-0">
    {% block summary_trainings %}
        <h2 class="b__nudge--bottom">Mes formations</h2>
        {% for training_id, training in summary.trainings %}
            <div class="cv__training">
                <h3 class="text--body">{{ training.diploma|upper }} - {{ training.studyField|upper }}</h3>
                <h4 class="text--body">{{ training.organization }}</h4>
                {% set endedAt = training.onGoing ? "aujourd'hui" : training.endedAt|localizeddate('none', 'none', 'fr_FR', null, 'MMMM yyyy') %}
                <div class="text--body">{{ training.startedAt|localizeddate('none', 'none', 'fr_FR', null, 'MMMM yyyy') }} - {{ endedAt }} ({{ training.length }})</div>
                <div class="cv__training__desc text--body b__nudge--top">{{ training.description }}</div>
                <span class="text--body text--italic">{{ training.extraCurricular }}</span>
                {% block modify %}{% endblock %}
            </div>
        {% endfor %}
    {% endblock %}
</section>
