{% extends 'base.html.twig' %}

{% block page_title 'Campus' %}
{% block meta_description 'Nous mettons à votre disposition une plateforme de formation citoyenne en ligne, gratuite et ouverte à tous.' %}
{% block canonical_url url('page_campus') %}

{% block open_graph_image (url('homepage')|trim('/') ~ static_asset('elles-marchent-sharer.jpg', {'q': 70}))|raw %}
{% block open_graph_image_width 1667 %}
{% block open_graph_image_height 873 %}

{% block final_stylesheets include('bot/_stylesheet.html.twig') %}
{% block final_javascripts include('bot/_javascript.html.twig') %}

{% block content %}
    <main class="campus">
        <header class="hero">
            <h1>
                La plateforme de formation pour les citoyens
            </h1>
            <p>
                Nous mettons à votre disposition une plateforme de formation
                citoyenne en ligne, gratuite et ouverte à tous.
            </p>
            <div class="hero__graphic--atop">
                <img src="{{ asset('images/campus-illustration.png') }}" />
            </div>
        </header>

        <section class="campus__row campus__row__inspiration">
            <div class="campus__row__inspiration__text">
                <div class="campus__text">
                    <h2>S'inspirer</h2>
                    <p>
                        Nous avons répertorié des initiatives citoyennes innovantes
                        partout en France et à l’étranger pour prendre un grand bol
                        d’air et vous donner des idées !
                    </p>
                    <a href="https://inspiration.en-marche.fr" class="btn btn--blue">S'inspirer</a>
                    <p>
                        <small>
                            Déjà une idée ? <a href="{{ path('app_create_citizen_initiative') }}" class="link--blue
                            link--no-decor">Créer une initiative citoyenne »</a>
                        </small>
                    </p>
                </div>
            </div>
            <div class="campus__row__inspiration__graphic progressive-background"
                 data-sd="{{ static_asset('campus/inspiration.png', {'w': 300, 'q': 20}) }}"
                 data-hd="{{ static_asset('campus/inspiration.png', {'w': 2000, 'q': 70}) }}">
            </div>
        </section>

        <section class="campus__row campus__row__learn">
            <div class="campus__row__learn__graphic progressive-background"
                 data-sd="{{ static_asset('campus/learn.png', {'w': 300, 'q': 20}) }}"
                 data-hd="{{ static_asset('campus/learn.png', {'w': 2000, 'q': 70}) }}">
            </div>
            <div class="campus__row__learn__text">
                <div class="campus__text">
                    <h2>Se former</h2>
                    <p>
                        Nous avons compilé une série de contenus afin vous
                        permettre de mieux comprendre le fonctionnement de nos
                        institutions et vous apporter des compétences pratiques
                        pour monter vos projets.
                    </p>
                    <a href="https://apprendre.en-marche.fr" class="btn btn--blue">Se former</a>
                    <p>
                        <small>
                            Déjà une idée ? <a href="{{ path('app_create_citizen_initiative') }}" class="link--blue
                            link--no-decor">Créer une initiative citoyenne »</a>
                        </small>
                    </p>
                </div>
            </div>
        </section>

        <section class="campus__row campus__row__action">
            <div>
                <div class="campus__text campus__text--center">
                    <h2>Agir</h2>
                    <p>
                        Nous sommes en train de développer des formations en
                        ligne d’une durée de 5 semaines pour vous aider à passer
                        à l’action et lancer vos propres initiatives, seul ou en
                        groupe. Ce sont les parcours citoyens.
                        <br/>
                        <a href="#" class="link--blue link--no-decor">
                            Être prévenu lors du lancement du
                            parcours citoyen »
                        </a>
                    </p>
                    <p>
                        Vous avez des idées et ne voulez pas attendre ? Lancez
                        une initiative citoyenne dès aujourd’hui !
                    </p>
                    <div class="text--center">
                        <a href="{{ path('app_create_citizen_initiative') }}" class="btn btn--blue">
                            Créer une initiative citoyenne
                        </a>
                    </div>
                </div>
            </div>
        </section>

    </main>
{% endblock %}
