{% extends 'base.html.twig' %}

{% block page_title 'Elles Marchent' %}
{% block meta_description 'Aujourd\'hui le combat pour l\'égalité réelle femme / homme est culturel. Les lois existent, c\'est maintenant aux mentalités d\'évoluer. Ce sera la grande cause nationale du quinquennat d\'Emmanuel Macron.' %}
{% block canonical_url url('page_elles_marchent') %}

{% block open_graph_image (url('homepage')|trim('/') ~ static_asset('elles-marchent-sharer.jpg', {'q': 70}))|raw %}
{% block open_graph_image_width 1667 %}
{% block open_graph_image_height 873 %}

{% block final_javascripts include('bot/_javascript.html.twig') %}

{% block content %}
    <main class="content elles-marchent">
        <section class="elles-marchent__header progressive-background"
                 data-sd="{{ static_asset('elles-marchent.jpg', {'w': 300, 'q': 20}) }}"
                 data-hd="{{ static_asset('elles-marchent.jpg', {'w': 2000, 'q': 70}) }}">
            <header class="space--100-0 l__wrapper--slim text--center text--white">
                <h1 class="text--larger b__nudge--bottom-small">
                    Elles Marchent
                </h1>
                <h2 class="bigger">
                    « La loi a changé, maintenant la vie doit changer »
                </h2>
            </header>
        </section>

        <section class="l__wrapper--medium">
            <article>
                <div class="action blue action--full-text">
                    <p>Je veux consulter les propositions pour l'Égalité Femme / Homme</p>
                    <a href="https://en-marche.fr/emmanuel-macron/le-programme/%C3%A9galit%C3%A9-hommes-et-femmes">
                        Je consulte
                    </a>
                </div>
            </article>
        </section>

        <section class="l__wrapper--slim space--30-0 text--body">
            Aujourd'hui le combat pour l'égalité réelle femme / homme est culturel. Les lois existent,
            c'est maintenant aux mentalités d'évoluer. Ce sera la grande cause nationale du quinquennat
            d'Emmanuel Macron.
        </section>

        <section class="l__wrapper--medium space--30-0">
            <h2 class="text--center b__nudge--bottom-small text--large">Elles nous inspirent</h2>
            <div class="text--center b__nudge--bottom text--body">Témoignages et trajectoires de femmes</div>
            <ul class="elles-marchent__videos text--body">
                <li class="progressive-background"
                    data-sd="{{ static_asset('elles-marchent/videos/axelle.jpg', {'w': 100, 'q': 20}) }}"
                    data-hd="{{ static_asset('elles-marchent/videos/axelle.jpg', {'h': 450, 'q': 70}) }}">
                    <a href="https://www.youtube.com/watch?v=BdTDCHJhdsk"></a>
                </li>
                <li class="progressive-background"
                    data-sd="{{ static_asset('elles-marchent/videos/marlene.jpg', {'w': 100, 'q': 20}) }}"
                    data-hd="{{ static_asset('elles-marchent/videos/marlene.jpg', {'h': 450, 'q': 70}) }}">
                    <a href="https://www.youtube.com/watch?v=TPuCdV-tMQ0"></a>
                </li>
                <li class="progressive-background"
                    data-sd="{{ static_asset('elles-marchent/videos/sibeth.jpg', {'w': 100, 'q': 20}) }}"
                    data-hd="{{ static_asset('elles-marchent/videos/sibeth.jpg', {'h': 450, 'q': 70}) }}">
                    <a href="https://www.youtube.com/watch?v=_-wh8JQrFBk"></a>
                </li>
                <li class="progressive-background"
                    data-sd="{{ static_asset('elles-marchent/videos/frederique.jpg', {'w': 100, 'q': 20}) }}"
                    data-hd="{{ static_asset('elles-marchent/videos/frederique.jpg', {'h': 450, 'q': 70}) }}">
                    <a href="https://www.youtube.com/watch?v=QrWxpTKNKw4"></a>
                </li>
                <li class="progressive-background"
                    data-sd="{{ static_asset('elles-marchent/videos/zineb.jpg', {'w': 100, 'q': 20}) }}"
                    data-hd="{{ static_asset('elles-marchent/videos/zineb.jpg', {'h': 450, 'q': 70}) }}">
                    <a href="https://www.youtube.com/watch?v=tpZVmlrP-HM"></a>
                </li>
                <li class="background--blue text--white space--30 info">
                    <div>
                        #Elles
                        <span>marchent</span>
                    </div>
                </li>
            </ul>
        </section>

        <section class="space--30-0">
            <h2 class="text--center b__nudge--bottom-small text--large">Notre démarche</h2>
            <div class="l__wrapper--slim text--center b__nudge--bottom text--body">
                En décembre 2016 de nombreuses femmes et de nombreux hommes ont répondu à l'appel
                Elles Marchent, aujourd'hui représentés par 4 personnalités du mouvement.
            </div>
            <ul class="l__wrapper--medium elles-marchent__demarches text--body">
                <li>
                    <h3>Répondre à vos questions</h3>
                    <p>
                        Nous sommes à l'écoute des femmes voulant s'engager avec le mouvement.
                        Au sein des comités locaux, des hommes et des femmes les forment à agir.
                    </p>
                </li>
                <li>
                    <h3>Inspirer l'action</h3>
                    <p>
                        Nous produisons et diffusons des vidéos témoignages de femmes d'actions.
                        En partageant leurs experiences personnelles du terrain, nous suscitons des vocations.
                    </p>
                </li>
                <li>
                    <h3>Accompagner l'engagement</h3>
                    <p>
                        Nous aidons les femmes à intégrer l'espace politique, via des vidéos qui expliquent
                        ce qu'est le rôle de député(e) ou comment s'organise une campagne électorale.
                    </p>
                </li>
            </ul>
        </section>

    </main>
{% endblock %}
