{% set candidacy_committee_membership = app.user.memberships.committeeCandidacyMembership %}

{% set able_to_candidate = is_granted('ABLE_TO_CANDIDATE') %}
{% set member_is_candidate_in_committee = able_to_candidate and candidacy_committee_membership == membership %}
{% set member_voting_in_committee = membership.isVotingCommittee %}

<section class="committee__elections-box b__nudge--bottom-larger">
    <div class="l__row">
        <h2 class="text--medium box-el">
            Désignation du binôme d'adhérents siégeant au Conseil territorial
            <div class="em-tooltip">
                <span class="em-tooltip--trigger">?</span>
                <div class="em-tooltip--content">
                    <p>
                        <strong>Le Conseil Territorial</strong> est le parlement de LaREM dans chaque territoire – il comprend,
                        outre les adhérents désignés par les comités, tous les animateurs locaux et tous les élus LaREM du territoire.
                    </p>
                </div>
            </div>
        </h2>
    </div>

    <p class="text--body text--dark text--small b__nudge--bottom b__nudge--top">
        {% if member_is_candidate_in_committee %}

            Vous êtes candidat pour représenter les adhérents de votre comité.
            <!-- Vous pouvez modifier ou retirer votre candidature jusqu'au
            {{ election_static_date.candidacyPeriodEndDate|localizeddate('none', 'none', 'fr_FR', null, "dd MMMM y à HH'h'mm") }}. -->

        {% else %}
            {% if member_voting_in_committee %}
                Candidatez pour représenter les adhérents de votre comité pour un mandat de 2 ans.
            {% endif %}

            <!-- Les candidatures sont ouvertes dans tous les comités du
            {{ election_static_date.candidacyPeriodStartDate|localizeddate('none', 'none', 'fr_FR', null, "dd MMMM y à HH'h'mm") }}
            au {{ election_static_date.candidacyPeriodEndDate|localizeddate('none', 'none', 'fr_FR', null, "dd MMMM y à HH'h'mm") }}. -->
        {% endif %}

        <!-- La designation se tiendra en ligne du {{ election_static_date.voteStartDate|localizeddate('none', 'none', 'fr_FR', null, "dd MMMM y à HH'h'mm") }}
        au {{ election_static_date.voteEndDate|localizeddate('none', 'none', 'fr_FR', null, "dd MMMM y à HH'h'mm") }}. -->
    </p>

    <div class="elections-actions l__row--wrap">
        {% if able_to_candidate %}
            {% if member_is_candidate_in_committee %}
                <a href="{{ path('app_committee_update_candidacy', {slug: committee.slug}) }}" class="btn btn--ghosting--pink btn--no-wrap box-el">Je modifie ma candidature</a>
            {% elseif candidacy_committee_membership is null and member_voting_in_committee %}
                {% if app.user.isOtherGender() %}
                    <a href="#"
                       class="btn btn--pink btn--no-wrap em-modal--trigger"
                       id="committee-toggle-candidacy"
                       data-confirm-content-element="#committee-candidacy-gender-choice-content"
                    >Je candidate</a>

                    <div class="hidden" id="committee-candidacy-gender-choice-content">
                        <div class="text--center font-roboto">
                            <p class="b__nudge--top-15 b__nudge--bottom-large text--dark">
                                Souhaitez-vous candidater en tant que <strong>Femme</strong> ou <strong>Homme</strong> ?
                            </p>

                            <div>
                                {% set candidate_url_params = {slug: committee.slug} %}

                                <a class="btn btn--ghosting--blue toggleModal b__nudge--right-nano" href="{{ path('app_committee_candidate', candidate_url_params|merge({gender: constant('AppBundle\\ValueObject\\Genders::FEMALE')})) }}">Femme</a>
                                <a class="btn btn--ghosting--blue toggleModal b__nudge--right-nano" href="{{ path('app_committee_candidate', candidate_url_params|merge({gender: constant('AppBundle\\ValueObject\\Genders::MALE')})) }}">Homme</a>
                            </div>
                        </div>
                    </div>
                {% else %}
                    <a href="{{ path('app_committee_candidate', {slug: committee.slug}) }}"
                       id="committee-toggle-candidacy"
                       class="btn btn--pink btn--no-wrap"
                    >Je candidate</a>
                {% endif %}
            {% endif %}
        {% endif %}

        <div class="candidacies-list text--body text--small text--gray box-el">
            Consulter <a href="#" id="candidacies-list-modal--trigger" class="link--no-decor text--blue--dark box-el">la liste des candidats</a>
        </div>

        {% if member_is_candidate_in_committee %}
            <div class="candidacy-remove text--body text--small b__nudge--top">
                <a href="{{ path('app_committee_remove_candidacy', {slug: committee.slug, back: true}) }}"
                      class="link--no-decor text--blue--dark em-confirm--trigger box-el"
                      data-confirm-content="Êtes-vous sûr de vouloir retirer votre candidature ?"
                      id="remove-candidacy-link">Retirer ma candidature
                </a>
            </div>
        {% endif %}
    </div>
</section>

{% if able_to_candidate and not member_voting_in_committee %}
    <div class="alert alert--tips b__nudge--bottom-small">
        Vous pouvez candidater dans le comité où vous avez choisi de participer aux désignations.<br />
        Rendez-vous sur la page <strong><a class="link--no-decor text--blue--dark" href="{{ path('app_adherent_committees') }}">mes activités</a></strong> pour choisir ou modifier votre comité de désignation.
    </div>
{% endif %}

{% if not able_to_candidate %}
    <div class="alert alert--tips b__nudge--bottom-small">
        Les
        {% if app.user.supervisor %}
            Animatrices et Animateurs
        {% elseif app.user.referent %}
            Référentes et Référents
        {% elseif app.user.deputy %}
            Députées et Députés
        {% elseif app.user.senator %}
            Sénatrices et Sénateurs
        {% endif %}
        sont membres de droit du Conseil territorial.
        Vous ne pouvez donc pas candidater à cette désignation mais pourrez y voter.

        {% if not app.user.supervisor %}
            Rendez-vous sur la page <strong><a class="link--no-decor text--blue--dark" href="{{ path('app_adherent_committees') }}">vos activités</a></strong>
            pour choisir ou modifier votre comité de désignation.
        {% endif %}
    </div>
{% endif %}

{% set count_male_candidates = count_committee_candidates(committee, true) %}
{% set count_female_candidates = count_committee_candidates(committee, false) %}

{% if (count_male_candidates > 0 and count_female_candidates < 1) or (count_male_candidates < 1 and count_female_candidates > 0) %}
    <div class="alert alert--tips b__nudge--bottom-small">
        {{ count_female_candidates < 1 ? 'Aucune femme n\'est encore candidate' : 'Aucun homme n\'est encore candidat'}}. La désignation ne pourra pas avoir lieu.
    </div>
{% endif %}
