{% set candidacy_committee_membership = app.user.memberships.committeeCandidacyMembership %}
{% set able_to_candidate = is_granted('ABLE_TO_CANDIDATE') %}

<section class="committee__elections-box b__nudge--bottom-larger">
    <h2 class="text--medium">Candidater pour participer au Conseil Territorial</h2>
    <p class="text--body b__nudge--bottom b__nudge--top">
        Mauris lacus odio, tempor et venenatis sed, tristique nec sem.
    </p>

    <div class="elections-actions">
        {% if able_to_candidate %}
            {% if candidacy_committee_membership is not null %}
                {% if candidacy_committee_membership == membership %}
                    <a href="{{ path('app_committee_remove_candidacy', {slug: committee.slug, back: true}) }}"
                       class="btn btn--ghosting--pink btn--no-wrap em-confirm--trigger"
                       data-confirm-content="Êtes-vous sûr de vouloir retirer votre candidature ?"
                       id="remove-candidacy-link"
                    >
                        Je retire ma candidature
                    </a>
                {% else %}
                    {% set display_wrang_committee_message = true %}
                {% endif %}
            {% else %}
                {% if membership.isVotingCommittee %}
                    {% if app.user.isOtherGender() %}
                        <a href="#"
                           class="btn btn--pink btn--no-wrap em-modal--trigger"
                           id="committee-toggle-candidacy"
                           data-confirm-content-element="#committee-candidacy-gender-choice-content"
                        >Je candidate</a>

                        <div class="hidden" id="committee-candidacy-gender-choice-content">
                            <div class="text--center font-roboto">
                                <p class="b__nudge--top-15 b__nudge--bottom-large text--dark">
                                    Souhaitez-vous candidater en tant que <strong>Femme</strong> ou <strong>Homme</strong> ?
                                </p>

                                <div>
                                    {% set candidate_url_params = {slug: committee.slug, token: csrf_token('committee.candidate')} %}

                                    <a class="btn btn--ghosting--blue toggleModal b__nudge--right-nano" href="{{ path('app_committee_candidate', candidate_url_params|merge({gender: constant('AppBundle\\ValueObject\\Genders::FEMALE')})) }}">Femme</a>
                                    <a class="btn btn--ghosting--blue toggleModal b__nudge--right-nano" href="{{ path('app_committee_candidate', candidate_url_params|merge({gender: constant('AppBundle\\ValueObject\\Genders::MALE')})) }}">Homme</a>
                                </div>
                            </div>
                        </div>
                    {% else %}
                        <a href="{{ path('app_committee_candidate', {slug: committee.slug, token: csrf_token('committee.candidate')}) }}"
                           id="committee-toggle-candidacy"
                           class="btn btn--pink btn--no-wrap"
                        >Je candidate</a>
                    {% endif %}
                {% else %}
                    {% set display_wrang_committee_message = true %}
                {% endif %}
            {% endif %}
        {% endif %}

        <div class="candidacies-list text--body text--small text--gray">
            Consulter <a href="#" id="candidacies-list-modal--trigger" class="link--no-decor text--blue--dark">la liste des candidats</a>
        </div>
    </div>
</section>

{% if display_wrang_committee_message is defined %}
    <div class="alert alert--tips b__nudge--bottom-small">
        Vous pouvez candidater dans le comité où vous avez choisi de voter.<br />
        Rendez-vous sur <strong><a class="link--no-decor text--blue--dark" href="{{ path('app_adherent_committees') }}">cette page</a></strong>
        pour choisir ou modifier votre comité.
    </div>
{% endif %}

{% if not able_to_candidate %}
    <div class="alert alert--tips b__nudge--bottom-small">
        Vous ne pouvez pas candidater
        {% if app.user.referent %}
            car vous êtes référent
        {% elseif app.user.supervisor %}
            car vous êtes Animateur Local
        {% endif %}
    </div>
{% endif %}

{% set count_male_candidates = count_committee_candidates(committee, true) %}
{% set count_female_candidates = count_committee_candidates(committee, false) %}

{% if (count_male_candidates > 0 and count_female_candidates < 1) or (count_male_candidates < 1 and count_female_candidates > 0) %}
    <div class="alert alert--tips b__nudge--bottom-small">
        {{ count_female_candidates < 1 ? 'Aucune femme n\'est encore candidate' : 'Aucun homme n\'est encore candidat'}}. La désignation ne pourra pas avoir lieu.
    </div>
{% endif %}
