{% set candidacy_committee_membership = app.user.memberships.committeeCandidacyMembership %}

<section class="committee__elections-box b__nudge--bottom-larger">
    <h2 class="text--medium">Candidater pour participer au Conseil Territorial</h2>
    <p class="text--body b__nudge--bottom b__nudge--top">
        Mauris lacus odio, tempor et venenatis sed, tristique nec sem.
    </p>

    <div class="l__row">
        <!-- <a href="#">boutons ici</a> -->
        <!-- <a href="#">boutons ici</a> -->
        <div class="">
            Consulter <a href="#" id="candidacies-list-modal--trigger" class="link--no-decor text--blue--dark">la liste des candidats</a>
        </div>
    </div>
</section>

{% if is_granted('ABLE_TO_CANDIDATE') %}
    {% if candidacy_committee_membership is not null %}
        {% if candidacy_committee_membership == membership %}
            <a href="{{ path('app_committee_remove_candidacy', {slug: committee.slug, back: true}) }}"
               class="btn btn--ghosting--pink btn--no-wrap em-confirm--trigger"
               data-confirm-content="Êtes-vous sûr de vouloir retirer votre candidature ?"
               id="remove-candidacy-link"
            >
                Je retire ma candidature
            </a>
        {% else %}
            <div class="alert alert--tips b__nudge__bottom-small">
                Vous pouvez candidater dans le comité où vous avez choisi de voter.<br />
                Rendez-vous sur <strong><a class="link--no-decor text--blue--dark" href="{{ path('app_adherent_committees') }}">cette page</a></strong>
                pour choisir ou modifier votre comité.
            </div>
        {% endif %}
    {% else %}
        {% if membership.isVotingCommittee %}
            <button role="button"
                    class="btn btn--pink btn--no-wrap committee-action-button b__nudge--top-large"
                    id="committee-toggle-candidacy"
                    data-action="candidater"
                    data-csrf-token="{{ csrf_token('committee.candidate') }}">
                <img src="{{ asset('images/loader-sm.gif') }}" id="committee-follow-btn-loader" />
                Je candidate
            </button>
        {% else %}
            <div class="alert alert--tips b__nudge__bottom-small">
                Vous pouvez candidater dans le comité où vous avez choisi de voter.<br />
                Rendez-vous sur <strong><a class="link--no-decor text--blue--dark" href="{{ path('app_adherent_committees') }}">cette page</a></strong>
                pour choisir ou modifier votre comité.
            </div>
        {% endif %}
    {% endif %}
{% else %}
    <div class="alert alert--tips b__nudge__bottom-small">
        Vous ne pouvez pas candidater
        {% if app.user.referent %}
            car vous êtes référent
        {% elseif app.user.supervisor %}
            car vous êtes Animateur Local
        {% endif %}
    </div>
{% endif %}

{% set count_male_candidates = count_committee_candidates(committee, true) %}
{% set count_female_candidates = count_committee_candidates(committee, false) %}

{% if (count_male_candidates > 0 and count_female_candidates < 1) or (count_male_candidates < 1 and count_female_candidates > 0) %}
    <div class="alert alert--tips b__nudge__bottom-small">
        {{ count_female_candidates < 1 ? 'Aucune femme n\'est encore candidate' : 'Aucun homme n\'est encore candidat'}}. La désignation ne pourra pas avoir lieu.
    </div>
{% endif %}
