{% set able_to_candidate = is_granted('ABLE_TO_CANDIDATE_IN_COMMITTEE', committee) %}

{% if designation.type == constant('App\\VotingPlatform\\Designation\\DesignationTypeEnum::COMMITTEE_SUPERVISOR') %}
    {% set candidate_button = 'Je candidate en binôme' %}
    {% set remove_candidature_button = 'Retirer ma pré-candidature' %}
{% else %}
    {% set candidate_button = 'Je candidate' %}
    {% set remove_candidature_button = 'Retirer ma candidature' %}
{% endif %}

<section class="instance__elections-box b__nudge--bottom-larger">
    {% if designation.type == constant('App\\VotingPlatform\\Designation\\DesignationTypeEnum::COMMITTEE_SUPERVISOR') %}
        <div class="l__row">
            <h2 class="text--medium box-el">{{ designation.getTitle() }}</h2>
        </div>

        <div class="text--body text--dark b__nudge--top instance__elections-box--text">
            Candidatez en binôme pour animer le comité local du Mouvement. <a href="https://storage.googleapis.com/en-marche-fr/Site%20Media/Votes_Animateurs_locaux.pdf" class="link--no-decor text--blue--dark box-el" target="_blank">En savoir plus</a>.
            <br/>Quel est le rôle des animateurs locaux paritaires

            <div class="em-tooltip">
                <span class="em-tooltip--trigger em-tooltip--trigger-circle">?</span>
                <div class="em-tooltip--content em-tooltip--content-big em-tooltip--content-bordered">
                    <p><strong>Quel est le rôle du binôme d’animateurs locaux ?</strong></p>

                    <ul>
                        <li>Accueillir les adhérents et animer le comité local</li>
                        <li>Œuvrer au développement du comité</li>
                        <li>Mobiliser les adhérents pour les actions de terrain et la réflexion menée par le mouvement sur les territoires</li>
                        <li>Organiser, sur le territoire du comité, le soutien aux candidats soutenus par LaREM pour les élections locales et nationales</li>
                    </ul>

                    <p>Le binôme paritaire d'animateurs locaux est élu pour deux ans par les membres du comité local.</p>
                </div>
            </div>
        </div>
    {% else %}
        <div class="l__row">
            <h2 class="text--medium box-el">
                {{ designation.getTitle() }}

                <div class="em-tooltip">
                    <span class="em-tooltip--trigger em-tooltip--trigger-circle">?</span>
                    <div class="em-tooltip--content em-tooltip--content-bordered">
                        <p>
                            <strong>Le Conseil territorial</strong> est le parlement de LaREM dans chaque territoire – il comprend,
                            outre les adhérents désignés par les comités, tous les animateurs locaux et tous les élus LaREM du territoire.
                        </p>
                    </div>
                </div>
            </h2>
        </div>
    {% endif %}

    <p class="text--body b__nudge--top b__nudge--bottom-large instance__elections-box--text">
        {% if committee_election.isCandidacyPeriodActive %}
            Les candidatures seront closes le <span class="text--bold">{{ committee_election.candidacyPeriodEndDate|format_datetime('none', 'none', "dd MMMM y à HH'h'mm") }}</span>.
        {% endif %}

        Le vote {{ committee_election.isVotePeriodStarted ? 'est' : 'sera' }} ouvert du <span class="text--bold">{{ committee_election.voteStartDate|format_datetime('none', 'none', "dd/MM/y à HH'h'mm") }}</span> au <span class="text--bold">{{ committee_election.voteEndDate|format_datetime('none', 'none', "dd/MM/y à HH'h'mm") }}</span>.
    </p>

    <hr/>

    <div class="text--body l__row l__row--wrap b__nudge--top">
        {% if committee_election.isCandidacyPeriodActive %}
            {% if able_to_candidate %}
                {% if candidacy %}
                    {% set with_two_rows = true %}

                    {% if candidacy.isConfirmed and designation.type == constant('App\\VotingPlatform\\Designation\\DesignationTypeEnum::COMMITTEE_SUPERVISOR') %}
                        {% if candidacy.hasOtherCandidacies() %}
                            <p class="font-roboto text--bold b__nudge--bottom-large b__nudge--top elections-icon-container">
                                <img class="elections-icon" src="{{ asset('images/icons/election-box/icn_confirmed.svg') }}" alt="confirm-logo"/>
                                Vous êtes maintenant candidat{{ candidacy.isFemale ? 'e' }} en binôme avec {{ candidacy.getOtherCandidacies()|first.committeeMembership.fullName }}.<br />
                                Vous ne pouvez plus retirer votre candidature.
                            </p>
                        {% else %}
                            <p class="font-roboto text--bold b__nudge--bottom-large b__nudge--top-large elections-icon-container l__col--half">
                                <img class="elections-icon" src="{{ asset('images/icons/election-box/icn_confirmed.svg') }}" alt="confirm-logo"/>
                                Vous êtes candidat{{ candidacy.isFemale ? 'e' }} seul{{ candidacy.isFemale ? 'e' }} à titre dérogatoire.
                            </p>
                        {% endif %}

                        <span class="btn btn--ghosting--pink btn--no-wrap box-el b__nudge--right btn--disabled">Modifier ma demande de binôme</span>
                    {% else %}
                        {% if designation.type == constant('App\\VotingPlatform\\Designation\\DesignationTypeEnum::COMMITTEE_SUPERVISOR') %}
                            {% if candidacy.hasPendingInvitation %}
                                <p class="font-roboto text--bold b__nudge--bottom-large b__nudge--top-large elections-icon-container">
                                    <img class="elections-icon" src="{{ asset('images/icons/election-box/icn_on-waiting.svg') }}" alt="waiting-logo" />
                                    {{ candidacy.getFirstInvitation().membership.fullName }} doit accepter votre demande pour que votre candidature soit confirmée
                                </p>

                                <a href="{{ path('app_committee_candidature_select_pair_candidate', {slug: committee.slug}) }}" class="btn btn--ghosting--pink btn--no-wrap b__nudge--right box-el">Modifier ma demande de binôme</a>
                            {% else %}
                                <a href="{{ path('app_committee_candidature_select_pair_candidate', {slug: committee.slug}) }}" class="btn btn--pink btn--no-wrap b__nudge--right box-el">Je choisis un binôme</a>
                            {% endif %}
                        {% endif %}
                    {% endif %}

                    <a href="{{ path('app_committee_candidature_edit', {slug: committee.slug}) }}" class="btn btn--ghosting--pink btn--no-wrap b__nudge--right box-el">Modifier mes informations</a>
                {% else %}
                    {% if app.user.isOtherGender() %}
                        <a href="{{ path('app_committee_candidature_edit', {slug: committee.slug}) }}" class="btn btn--pink b__nudge--right btn--no-wrap box-el em-modal--trigger"
                           data-content-element="#candidacy-gender-choice-content"
                        >{{ candidate_button }}</a>

                        <div class="hidden" id="candidacy-gender-choice-content">
                            <div class="text--center font-roboto">
                                <p class="b__nudge--top-15 b__nudge--bottom-large text--dark">
                                    Souhaitez-vous candidater en tant que <strong>Femme</strong> ou <strong>Homme</strong> ?
                                </p>

                                <div>
                                    <a class="btn btn--ghosting--blue toggleModal b__nudge--right-nano" href="{{ path('app_committee_candidature_edit', {slug: committee.slug, gender: constant('App\\ValueObject\\Genders::FEMALE')}) }}">Femme</a>
                                    <a class="btn btn--ghosting--blue toggleModal b__nudge--right-nano" href="{{ path('app_committee_candidature_edit', {slug: committee.slug, gender: constant('App\\ValueObject\\Genders::MALE')}) }}">Homme</a>
                                </div>
                            </div>
                        </div>
                    {% else %}
                        <a href="{{ path('app_committee_candidature_edit', {slug: committee.slug}) }}" class="btn btn--pink b__nudge--right btn--no-wrap box-el">{{ candidate_button }}</a>
                    {% endif %}
                {% endif %}
            {% else %}
                <div class="em-tooltip">
                    <span class="em-tooltip--trigger b__nudge--right btn btn--disabled">{{ candidate_button }}</span>

                    <div class="em-tooltip--content em-tooltip--content-bordered">
                        {% set ref_date = committee_election.getVoteEndDate ?? date() %}
                        {% set candidacy_membership = app.user.getCommitteeMembership() %}

                        {% if app.user.isMinor(ref_date) %}
                            Les mineurs ne peuvent pas candidater.
                        {% elseif has_active_parliamentary_mandate(app.user) %}
                            Les parlementaires ne peuvent pas candidater.
                        {% elseif app.user.registeredAt > ref_date|date_modify('-3 months') %}
                            Vous êtes adhérent{{ app.user.isFemale ? 'e' }} depuis moins de 3 mois.
                        {% elseif membership.subscriptionDate > ref_date|date_modify('-30 days') %}
                            Vous êtes membre de ce comité depuis moins de 30 jours.
                        {% elseif not app.user.isCertified %}
                            Vous devez <a href="{{ path('app_certification_request_home') }}" class="link--no-decor text--blue--dark">certifier votre profil</a> pour participer.
                        {% elseif candidacy_membership and candidacy_membership != membership %}
                            Vous êtes déjà candidat{{ app.user.isFemale ? 'e' }} dans le comité {{ candidacy_membership.committee.name }}.
                        {% elseif app.user.isSupervisor(false) %}
                            Les animateurs locaux ne peuvent pas candidater à cette élection.
                        {% elseif designation.getPools() is not empty and app.user.getGender() not in designation.getPools() %}
                            Seule la partie {{ (('common.' ~ (designation.getPools()|first))|trans) }} du binôme paritaire est renouvelée lors de cette désignation.
                        {% endif %}
                    </div>
                </div>
            {% endif %}
        {% elseif not committee_election.isVotePeriodStarted %}
            <div class="em-countdown-clock l__col--full" data-event-timestamp="{{ committee_election.voteStartDate.timestamp }}" data-now-timestamp="{{ date().timestamp }}">
                <span class="text--dark text--small">Le vote ouvrira dans :</span>
                <span class="clock-container"></span>
            </div>
        {% else %}
            {% set voting_platform_election = get_voting_platform_election_for_committee(committee) %}

            {% if voting_platform_election %}
                {% if voting_platform_election.isVotePeriodActive %}
                    {% if voting_platform_election.isSecondRoundVotePeriodActive %}
                        <p class="text--dark text--small instance__elections-box--text">
                            À la suite de cette première {{ designation.getDenomination() }} il y a eu une égalité entre les candidats,
                            nous vous invitions à voter de nouveau.
                        </p>

                        {% if voting_platform_election.isResultsDisplayable() %}
                            <p class="text--small text--dark instance__elections-box--text">Consulter les
                                <a href="{{ path('app_voting_platform_results', {uuid: voting_platform_election.uuid}) }}" class="link--no-decor text--blue--dark box-el">
                                    résultats incomplets
                                </a>
                            </p>
                        {% endif %}

                        <hr/>
                    {% endif %}

                    {% if is_granted('ABLE_TO_VOTE', voting_platform_election) %}
                        <div class="em-countdown-clock l__col--full" data-event-timestamp="{{ voting_platform_election.realVoteEndDate.timestamp }}" data-now-timestamp="{{ date().timestamp }}">
                            <span class="text--dark text--small">Il vous reste</span>
                            <span class="clock-container"></span>
                            <span class="text--dark text--small">pour participer à {{ designation.getDenomination(true) }}.</span>
                        </div>

                        <p>
                            <a href="{{ path('app_voting_platform_vote_step', {uuid: voting_platform_election.uuid}) }}"
                               id="committee-toggle-candidacy"
                               class="btn btn--pink btn--no-wrap box-el"
                            >Je participe</a>
                        </p>
                    {% else %}
                        {% set my_vote = get_my_vote_for_election(app.user, voting_platform_election.currentRound) %}

                        {% if my_vote %}
                            <p class="text--dark text--small instance__elections-box--text l__col--full">Votre choix a bien été enregistré.</p>

                            <div class="em-countdown-clock l__col--full" data-event-timestamp="{{ voting_platform_election.realVoteEndDate.timestamp }}" data-now-timestamp="{{ date().timestamp }}">
                                <span class="text--dark text--small">Les résultats seront publiés dans :</span>
                                <span class="clock-container"></span>
                            </div>
                        {% endif %}

                        <div class="em-tooltip b__nudge--top">
                            <span class="em-tooltip--trigger b__nudge--right btn btn--disabled">
                                Je participe
                            </span>

                            <div class="em-tooltip--content em-tooltip--content-bordered">
                                {% set ref_date = committee_election.getVoteEndDate ?? date() %}
                                {% set candidacy_membership = app.user.getCommitteeMembership() %}

                                {% if my_vote %}
                                    Vous avez déjà voté.
                                {% elseif app.user.registeredAt > ref_date|date_modify('-3 months') %}
                                    Vous êtes adhérent{{ app.user.isFemale ? 'e' }} depuis moins de 3 mois.
                                {% elseif membership.subscriptionDate > ref_date|date_modify('-30 days') %}
                                    Vous êtes membre de ce comité depuis moins de 30 jours.
                                {% elseif not app.user.isCertified %}
                                    Vous devez <a href="{{ path('app_certification_request_home') }}" class="link--no-decor text--blue--dark">certifier votre profil</a> pour participer.
                                {% elseif candidacy_membership and candidacy_membership != membership %}
                                    Vous êtes déjà candidat{{ app.user.isFemale ? 'e' }} dans le comité {{ candidacy_membership.committee.name }}.
                                {% elseif has_voted_for_designation(app.user, voting_platform_election.designation) %}
                                    Vous avez déjà voté dans un autre comité.
                                {% endif %}
                            </div>
                        </div>
                    {% endif %}
                {% elseif voting_platform_election.isResultPeriodActive %}
                    {% if voting_platform_election.isResultsDisplayable() %}
                        <p class="text--small text--dark instance__elections-box--text">
                            Consulter les <a href="{{ path('app_voting_platform_results', {uuid: voting_platform_election.uuid}) }}" id="committee-toggle-candidacy" class="link--no-decor text--blue--dark box-el">résultats détaillés</a>
                        </p>

                        {% if designation.type == constant('App\\VotingPlatform\\Designation\\DesignationTypeEnum::COMMITTEE_ADHERENT') %}
                            {% set election_result = voting_platform_election.electionResult %}
                            {% set elected_pool_results = election_result.electedPoolResults %}

                            {% import 'voting_platform/_macros.html.twig' as helper %}

                            <div class="l__row l__row--h-stretch l__row-- b__nudge--top-0 l__row--v-stretch">
                                {% for pool_result in elected_pool_results|sort((a, b) => a.electionPool.code <=> b.electionPool.code) %}
                                    {% set candidate_group_result = pool_result.electedCandidateGroupResults|first %}
                                    {% set candidate_group = candidate_group_result.candidateGroup %}
                                    {% set candidate = candidate_group.candidates|first %}

                                    <div class="instance__elections-box--result elected text--center b__nudge--top">
                                        <div class="l__row b__nudge--bottom-small">
                                            <div class="candidate-photo avatar-initials avatar--large avatar--style-01">
                                                {{ helper.display_candidate_photo(candidate) }}
                                            </div>
                                        </div>

                                        <div class="l__row font-gillsans text--medium b__nudge--bottom-small">
                                            {{ candidate.fullName }}
                                            <span class="candidate-gender b__nudge--left-small l__col l__col--center">{{ candidate.isFemale ? 'F' : 'H' }}</span>
                                        </div>

                                        <div class="b__nudge--bottom-small">
                                            <div><span class="text--default-large text--bold">{{ candidate_group_result.rate }}% des voix</span> <span class="text--small text--darker">({{ candidate_group_result.total }} bulletin{{ candidate_group_result.total > 1 ? 's' }})</span></div>
                                        </div>

                                        <div class="elected-tag text--body text--on-yellow text--bold text--small">
                                            Adhérent{{ candidate.isFemale ? 'e' }} désigné{{ candidate.isFemale ? 'e' }}
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        {% endif %}
                    {% else %}
                        <p class="text--small text--dark instance__elections-box--text">
                            Le dépouillement est en cours, encore quelques secondes !
                        </p>
                    {% endif %}
                {% endif %}
            {% else %}
                <p class="text--small text--dark instance__elections-box--text">
                    Nous ouvrons le bureau de vote, encore quelques instants !
                </p>
            {% endif %}
        {% endif %}

        {% if not committee_election.isVotePeriodStarted %}
            <p class="text--body text--small {{ with_two_rows is defined and with_two_rows ? 'b__nudge--top-large' }} b__nudge--right text--gray box-el">
                Consulter <a href="{{ path('app_committee_candidature_candidacy_list', {slug: committee.slug}) }}" class="link--no-decor text--blue--dark box-el">la liste des candidats</a>
            </p>
        {% endif %}

        {% if
            able_to_candidate
            and candidacy
            and committee_election.isCandidacyPeriodActive
            and (designation.type == constant('App\\VotingPlatform\\Designation\\DesignationTypeEnum::COMMITTEE_ADHERENT') or candidacy.isDraft)
        %}
            <p class="candidacy-remove text--body text--small b__nudge--top-large b__nudge--right">
                <a href="{{ path('app_committee_candidature_remove', {slug: committee.slug, back: true}) }}"
                   class="link--no-decor text--blue--dark em-confirm--trigger box-el"
                   data-confirm-title="Candidature"
                   data-confirm-content="Êtes-vous sûr de vouloir retirer votre candidature ?"
                   id="remove-candidacy-link">
                    {{ remove_candidature_button }}
                </a>
            </p>
        {% endif %}
    </div>
</section>
