{{ form_errors(form) }}

<div class="form__row" id="field-name">
    {{ form_label(form.name, 'Nom du comité') }}
    {{ form_errors(form.name) }}
    {{ form_widget(form.name, {
        attr: {
            class: 'form--full',
            placeholder: 'Choisissez un nom qui représente le territoire de votre comité',
        }
    }) }}
</div>

<div class="form__row" id="field-description">
    {{ form_label(form.description, 'Description') }}
    {{ form_errors(form.description) }}
    {{ form_widget(form.description, {
        attr: {
            class: 'form--full form__field--textarea-120',
            placeholder: 'Cette description sera visible dans le comité (Max 140 caractères)',
        }
    }) }}
</div>

<div id="committee-address" class="form__row">
    <div class="form__row">
        <div class="address-autocomplete form__row">
            <label class="form form__label required">Adresse postale</label>
            <div class="form__row">
                {{ form_errors(form.address) }}
                {{ form_errors(form.address.address) }}
                {{ form_errors(form.address.postalCode) }}
            </div>
        </div>
        <p class="text--error visually-hidden" id="address-autocomplete-help-message">
            Nous n'avons pas reconnu votre adresse.
        </p>
    </div>

    <div class="address-block">
        <div class="form__row">
            {{ form_widget(form.address.address, {attr: {class: 'form--full', placeholder: 'Elle déterminera l\'affichage de votre comité sur la page'}}) }}
        </div>
        <div class="form__row">
            {{ form_widget(form.address.postalCode, {attr: {placeholder: 'Code postal'}}) }}
            {{ form_widget(form.address.city, {attr: {class: 'register__form__city'}}) }}
            {{ form_widget(form.address.cityName, {attr: {class: 'register__form__city_name form--full', placeholder: 'Ville'}}) }}
        </div>
        <div class="form__row">
            {{ form_widget(form.address.country, {attr: {class: 'form--full', placeholder: 'Pays'}}) }}
        </div>
    </div>
</div>

{% if form.facebookPageUrl is defined %}
    <div class="form__row" id="field-facebook-page-url">
        {{ form_label(form.facebookPageUrl, 'Facebook') }}
        {{ form_errors(form.facebookPageUrl) }}
        {{ form_widget(form.facebookPageUrl, {attr: {
            class: 'form--full',
            placeholder: 'URL de la page Facebook de votre comité (si vous en avez une)'
        }}) }}
    </div>
{% endif %}

{% if form.twitterNickname is defined %}
    <div class="form__row" id="field-twitter-nickname">
        {{ form_label(form.twitterNickname, 'Twitter') }}
        {{ form_errors(form.twitterNickname) }}
        {{ form_widget(form.twitterNickname, {attr: {
            class: 'form--full',
            placeholder: '@compte Twitter de votre comité (si vous en avez un)'
        }}) }}
    </div>
{% endif %}

{% if form.provisionalSupervisorFemale is defined %}
    <hr>

    <p>Vous devez sélectionner au moins un(e) Animateur(trice) provisoire parmi vos adhérent(e)s</p>

    <div class="form__row" id="field-provisional-supervisor-female">
        {{ form_label(form.provisionalSupervisorFemale, 'Animatrice provisoire') }}
        {{ form_errors(form.provisionalSupervisorFemale) }}
        {{ form_widget(form.provisionalSupervisorFemale, {attr: {
            class: 'form--full form form__field',
            placeholder: 'Rechercher parmi vos adhérentes',
        }}) }}
    </div>
{% endif %}

{% if form.provisionalSupervisorMale is defined %}
    <div class="form__row" id="field-provisional-supervisor-male">
        {{ form_label(form.provisionalSupervisorMale, 'Animateur provisoire') }}
        {{ form_errors(form.provisionalSupervisorMale) }}
        {{ form_widget(form.provisionalSupervisorMale, {attr: {
            class: 'form--full form form__field',
            placeholder: 'Rechercher parmi vos adhérents',
        }}) }}
    </div>
{% endif %}
