{% extends 'base.html.twig' %}

{% set is_host = is_host(committee) %}

{%- block meta_description -%}
    {{ committee.name }} est un comité local de La République En Marche. Il se situe dans la ville de {{ committee.cityName }} et se compose de {{ 'committee.members_count'|transchoice(committee.membersCount) }}. Les comités locaux sont le fondement de notre mouvement, rejoignez-en un pour participer à la vie locale du mouvement !
{%- endblock -%}

{% block content %}
    <main class="committee">
        <div class="l__wrapper l__row l__row--top l__row--h-stretch l__tablet--col">
            <a href="{{ path('app_search_committees') }}" class="back-to-list icon--with-text text--summary b__nudge--bottom b__nudge--top">
                {{ include('components/caret--left.html.twig') }}
                Retour à la liste des comités</a>
        </div>

        <header class="background--blue space--60-0">
            <div class="l__wrapper l__row l__row--h-stretch l__mobile--col">
                <div class="text--white committee__header__titles">
                    <div class="text--uppercase text--small b__nudge--bottom-tiny">
                        Comité local {% if is_host %}n°{{ committee.id }}{% endif %}
                    </div>
                    <div class="committee__name">
                        {{ include('components/location-pin.html.twig') }}
                        <h1 id="committee-name" class="text--large b__nudge--left-small">{{ committee.name }}</h1>
                    </div>
                </div>

                <div class="l__col">
                    {% block committee_lcol %}{% endblock %}
                </div>
            </div>
        </header>

        <div class="l__wrapper l__row l__row--top l__row--h-stretch l__tablet--col">
            <div class="committee__main l__wrapper--main l__wrapper--main-left">
                {% block committee_content %}{% endblock %}
            </div>

            {{ include('committee/_sidebar.html.twig') }}

        </div>

    </main>
{% endblock %}
