{% extends 'base.html.twig' %}

{% set is_host = is_host(committee) %}

{%- block meta_description -%}
    {{ committee.name }} est un comité local de La République En Marche. Il se situe dans la ville de {{ committee.cityName }} et se compose de {{ 'committee.members_count'|transchoice(committee.membersCount) }}. Les comités locaux sont le fondement de notre mouvement, rejoignez-en un pour participer à la vie locale du mouvement !
{%- endblock -%}

{% block content %}
    <main class="committee">
        <div class="l__wrapper l__row l__row--top l__row--h-stretch l__tablet--col">
            <a href="{{ path('app_search_committees') }}" class="back-to-list icon--with-text text--summary b__nudge--bottom b__nudge--top">
                {{ include('components/caret--left.html.twig') }}
                Retour à la liste des comités</a>
        </div>

        <header class="background--blue space--60-0">
            <div class="l__wrapper pst--relative">
                {% if is_granted('REPORT') %}
                    <div class="committee__header__plus">
                        <button class="committee__header__plus--button" id="js-committee-plus">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="6" viewBox="0 0 24 6">
                              <path fill="#FFF" d="M20,18 C21.4727593,18 22.6666667,19.1939073 22.6666667,20.6666667 C22.6666667,22.139426 21.4727593,23.3333333 20,23.3333333 C18.5272407,23.3333333 17.3333333,22.139426 17.3333333,20.6666667 C17.3333333,19.1939073 18.5272407,18 20,18 Z M29.3333333,18 C30.8060927,18 32,19.1939073 32,20.6666667 C32,22.139426 30.8060927,23.3333333 29.3333333,23.3333333 C27.860574,23.3333333 26.6666667,22.139426 26.6666667,20.6666667 C26.6666667,19.1939073 27.860574,18 29.3333333,18 Z M10.6666667,18 C12.139426,18 13.3333333,19.1939073 13.3333333,20.6666667 C13.3333333,22.139426 12.139426,23.3333333 10.6666667,23.3333333 C9.19390733,23.3333333 8,22.139426 8,20.6666667 C8,19.1939073 9.19390733,18 10.6666667,18 Z" transform="translate(-8 -18)"/>
                            </svg>
                        </button>
                        <div class="committee__header__plus--dropdown">
                            <div class="dropdown-content">
                                <a href="{{ report_path(committee, app.request.pathInfo) }}" class="text--body link--no-decor text--blue--dark">Signaler ce comité</a>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
            <div class="l__wrapper committee__header__content">
                <div class="text--white committee__header__titles">
                    <div class="text--uppercase text--small b__nudge--bottom">
                        Comité local {% if is_host %}n°{{ committee.id }}{% endif %}
                    </div>
                    <div class="committee__name">
                        <h1 id="committee-name" class="text--large">{{ committee.name }}</h1>
                    </div>
                    <ul class="committee__infos">
                        <li>
                            {{ include('components/location.html.twig') }}
                            <a href="https://www.google.com/maps/search/{{ committee.postalCode }}+{{ committee.cityName }}+{{ committee.countryName }}" target="_blank" class="link--blue--dark link--no-decor b__nudge--right-small">{{ committee.cityName }}</a>
                            {% if committee.postalCode %}({{ committee.postalCode }}){% endif %}
                        </li>
                        <li>
                            {{ include('components/users.html.twig') }}
                            {{ 'committee.members_count'|transchoice(committee.membersCount) }}
                        </li>
                        <li>
                            {{ include('components/share.html.twig') }}
                            Partagez
                            <ul class="committee__socials text--white">
                                <li role="button" aria-label="Partagez sur Facebook"
                                    onclick="App.share('facebook', window.location.href, 'Rejoignez le comité : {{ committee.name }}')">
                                    <i class="fa fa-facebook-square"></i>
                                </li>
                                <li role="button" aria-label="Partagez via Twitter"
                                    onclick="App.share('twitter', window.location.href, 'Rejoignez le comité : {{ committee.name }}')">
                                    <i class="fa fa-twitter"></i>
                                </li>
                                <li role="button" aria-label="Partagez via email"
                                    onclick="App.share('email', window.location.href, 'Rejoignez le comité : {{ committee.name }}')">
                                    <i class="fa fa-envelope-o"></i>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>

                <div class="committee__header__actions">
                    {% block committee_lcol %}{% endblock %}
                </div>
            </div>
        </header>

        <div class="l__wrapper l__row l__row--top l__row--h-stretch l__tablet--col">
            <div class="committee__main l__wrapper--main l__wrapper--main-left">
                {% block committee_content %}{% endblock %}
            </div>

            {{ include('committee/_sidebar.html.twig') }}

        </div>

    </main>
{% endblock %}
