<aside class="committee__aside l__wrapper--aside">
    <div class="committee__card">
        <h5>À propos</h5>
        <div class="text--body" id="committee-description">{{ committee.description }}</div>
    </div>
    <div class="committee__card">
        <h5>
            Administration
        </h5>
        {% if not has_role_user %}
            <p class="text--summary text--gray b__nudge--bottom">Connectez-vous pour pouvoir contacter les responsables de comité.</p>
        {% endif %}
        <ul class="committee__hosts">
            {% for host in committee_hosts %}
                <li class="committee-host text--body b__nudge--bottom">
                    <div class="avatar-initials avatar--small avatar--style-01">
                        {{host.initials}}
                    </div>
                    <div class="b__nudge--left-medium">
                        <div class="text--body text--bold">{{ has_role_adherent ? host.fullName : host.partialName }}</div>
                        <span class="text--normal text--gray b__nudge--bottom">{{ host.isSupervisorOf(committee) ? 'animateur' : 'co-animateur' }}</span>
                    </div>
                    {% if is_host and app.user.equals(host) %}
                        <span class="m-auto--left">(vous)</span>
                    {% elseif has_role_user %}
                        <a href="{{ path('app_adherent_contact', {'uuid': host.uuid, 'from': 'committee', 'id': committee.uuid.toString}) }}"
                           class="link--no-decor text--blue--dark text--small m-auto--left">
                            Contacter
                        </a>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </div>

    {% if committee.socialNetworksLinks|length > 0 %}
    <div class="committee__card">
        <h5>Suivez notre comité</h5>
        {% for key, link in committee.socialNetworksLinks %}
            <a href="{{ link.url }}" target="_blank" rel="noopener" class="committee__social--{{ key }} btn btn--{{key}} b__nudge--bottom-tiny">
                <i class="fa fa--auto fa-{{key}} text--medium"></i>
                {{- link.label -}}
            </a>
        {% endfor %}
    </div>
    {% endif %}

</aside>
