<aside class="committee__aside l__wrapper--aside">
    {% if membership %}
        <div class="font-roboto text--silver-gray b__nudge--bottom">Vous êtes membre de ce comité depuis le {{ membership.subscriptionDate|format_datetime('none', 'none', 'd MMMM yyyy à HH:mm') }}</div>
    {% endif %}

    {% if has_role_user and committee.hasActiveElection and is_granted('ABLE_TO_CANDIDATE_IN_COMMITTEE', committee) %}
        {% set committee_election = committee.committeeElection %}

        {# If the vote was started, hide box if 0 candidates #}
        {% if committee_election.isBinomeDesignation and (not committee_election.isVotePeriodStarted or committee_election.countConfirmedCandidacies > 0) %}
            {% set candidacy = membership.committeeCandidacy(committee_election) %}

            {% if not candidacy or candidacy.isDraft %}
                <div class="committee__card">
                    <h5>Candidature & invitations</h5>
                    <div class="text--body">
                        <p class="text--body text--dark b__nudge--bottom">
                            Gérez, modifiez ou annulez votre candidature ou vos invitations.
                        </p>
                        <div>
                            <a href="{{ path('app_committee_candidature_invitation_list', {slug: committee.slug}) }}" class="btn btn--ghosting--pink btn--no-wrap">
                                Gérer
                            </a>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endif %}
    {% endif %}

    <div class="committee__card">
        <h5>À propos</h5>
        <div class="text--body" id="committee-description">{{ committee.description }}</div>
    </div>
    <div class="committee__card">
        <h5>
            Administration
        </h5>

        {% if not has_role_user %}
            <p class="text--summary text--gray b__nudge--bottom">Connectez-vous pour pouvoir contacter les responsables de comité.</p>
        {% endif %}

        <ul class="committee__hosts">
            {% for host in committee_hosts %}
                <li class="committee-host text--body b__nudge--bottom">
                    <div class="avatar-initials avatar--small avatar--style-01">
                        {{ host.initials }}
                    </div>
                    <div class="b__nudge--left-medium">
                        <div class="text--body text--bold">{{ has_role_user ? host.fullName : host.partialName }}</div>
                        <span class="text--normal text--gray b__nudge--bottom">
                            {% if host.female %}
                                {{ host.isSupervisorOf(committee, false)
                                    ? 'Animatrice'
                                    : (host.isSupervisorOf(committee, true) ? 'Animatrice provisoire' : 'Co-animatrice')
                                }}
                            {% else %}
                                {{ host.isSupervisorOf(committee, false)
                                    ? 'Animateur'
                                    : (host.isSupervisorOf(committee, true) ? 'Animateur provisoire' : 'Co-animateur')
                                }}
                            {% endif %}
                        </span>
                    </div>
                    {% if is_host and app.user.equals(host) %}
                        <span class="text--small m-auto--left">(vous)</span>
                    {% elseif has_role_user %}
                        <a href="{{ path('app_adherent_contact', {uuid: host.uuid, from: 'committee', id: committee.uuid.toString}) }}"
                           class="link--no-decor text--blue--dark text--small m-auto--left">
                            Contacter
                        </a>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </div>
</aside>
