{% extends 'base.html.twig' %}

{% block page_title 'Promouvoir un membre' %}

{% block content %}
    {% set is_host = is_host(committee) %}

    <main class="committee">
        <header class="background--blue space--60-0">
            <div class="l__wrapper--medium l__row l__row--h-stretch l__mobile--col">
                <div class="text--white">
                    <div class="text--all-caps text--small b__nudge--bottom-tiny">Comité local</div>
                    <h2 class="text--large">
                        {{ include('components/location-pin.html.twig') }}
                        <span id="committee-name" class="committee__name">{{ committee.name }}</span>
                    </h2>
                </div>

                <div class="l__col">
                    {% block committee_lcol %}{% endblock %}
                </div>
            </div>
        </header>

        <div class="l__wrapper l__row l__row--top l__row--h-stretch l__tablet--col">
            <div class="committee__main l__wrapper--main l__wrapper--main-left">
                <a href="{{ path('app_commitee_manager_list_members', {'slug': committee.slug}) }}"
                   class="back-to-list icon--with-text text--summary space--20-0">
                    {{ include('components/caret--left.html.twig') }}
                    Retour aux membres du comité
                </a>
                <header class="space--30-0">
                    <h1 class="b__nudge--bottom-small text--medium">
                        Promouvoir un adhérent
                    </h1>
                </header>

                <div class="text--body b__nudge--bottom-large">
                    Voulez-vous vraiment définir <strong>{{ member.partialName }}</strong>
                    comme {{ member.gender == 'female' ? 'co-animatrice' : 'co-animateur' }}
                    du comité <strong>{{ committee.name }}</strong> ?
                </div>

                <div class="committee__members__nav">
                    <div>
                        <form method="post" action="">
                            {{ form_widget(form) }}

                            <button type="submit" id="members-promote-button" class="btn btn--primary b__nudge--right">
                                Oui, promouvoir l'adhérent
                            </button>
                            <a href="{{ path('app_commitee_manager_list_members', {'slug': committee.slug}) }}" class="btn">
                                Non, annuler
                            </a>
                        </form>
                    </div>
                </div>
            </div>

            {{ include('committee/_sidebar.html.twig') }}
        </div>
    </main>
{% endblock %}
