{% extends 'legislatives/layout.html.twig' %}

{% block page_title candidate.fullName %}
{% block canonical_url url('legislatives_candidate', { slug: candidate.slug }) %}
{% block meta_description candidate.fullName ~ ' est la ou le candidat(e) de La République En Marche ! dans la ' ~ ('common.ordinal_number_feminine'|trans({ count: candidate.districtNumber })) ~ ' circonscription du département '~ candidate.districtZone.name ~'. Élu(e) député(e) lors des élections législatives des 11 et 18 juin 2017, elle ou il représente notre mouvement au sein du groupe La République En Marche ! à l\'Assemblée nationale.' %}

{% block content__inner %}
    <div class="l__wrapper">
        <a href="{{ path('legislatives_homepage') }}" class="icon--with-text text--summary space--20-0" title="Retour à la liste des candidats">
            {{ include('components/caret--left.html.twig') }}
            Retour à la liste des candidats
        </a>
    </div>

    <div class="l__wrapper--medium space--30-0 l__row l__row--h-stretch l__mobile--col legislatives__candidate--{{ candidate.status }}"
         id="candidate-profile">
        <div class="legislatives__candidate__photo progressive-background link--no-decor"
             id="candidate-profile-picture"
                {% if candidate.profilePicture  %}
                    data-sd="{{ media_asset(candidate.profilePicture, { w: 50, q: 20 }) }}"
                    data-hd="{{ media_asset(candidate.profilePicture, { w: 640, q: 70 }) }}"
                {% else  %}
                    data-sd="{{ static_asset('legislatives/unknown-candidate.jpg', { w: 50, q: 20 }) }}"
                    data-hd="{{ static_asset('legislatives/unknown-candidate.jpg', { w: 640, q: 70 }) }}"
                {% endif %}
        >
        </div>
        <div class="legislatives__candidate__info">
            {% if candidate.status == constant('STATUS_QUALIFIED', candidate) %}
                <span class="legislatives__candidate__info__label legislatives__candidate__info__label--qualified">
                    Qualifié(e)
                </span>
            {% elseif candidate.status == constant('STATUS_WON', candidate) %}
                <span class="legislatives__candidate__info__label legislatives__candidate__info__label--won">
                    Élu(e)
                </span>
            {% endif %}
            <br />

            {% if candidate.status == constant('STATUS_WON', candidate) %}
                <h1 class="text--large text--pink">{{ candidate.fullName }}</h1>
            {% elseif candidate.status == constant('STATUS_QUALIFIED', candidate) %}
                <h1 class="text--large text--blue">{{ candidate.fullName }}</h1>
            {% else %}
                <h1 class="text--large">{{ candidate.fullName }}</h1>
            {% endif %}
            <span class="text--body" id="candidate-district-name">{{ candidate.districtName }}</span>
            {% if candidate.hasWebPages %}
                {% set website_url_class = 'btn--muted' %}

                {% if candidate.status == constant('STATUS_QUALIFIED', candidate) %}
                    {% set website_url_class = 'btn--blue' %}
                {% elseif candidate.status == constant('STATUS_WON', candidate) %}
                    {% set website_url_class = 'btn--primary' %}
                {% endif %}

                {{ include('legislatives/_candidate_links.html.twig', {
                    'show_name': true,
                    'website_url_class': 'btn ' ~ website_url_class
                }) }}
            {% endif %}
        </div>
    </div>

    <div class="l__wrapper--slim text--body b__nudge--bottom-huge" id="candidate-description">
        {{ candidate.description|markdown }}
    </div>
{% endblock %}
