{% extends 'legislatives/layout.html.twig' %}

{% block page_title 'Le Trombinoscope' %}
{% block canonical_url url('legislatives_homepage') %}

{% block javascripts %}
    <script type="text/javascript">
        Kernel.onLoad(function() {
            App.runLegislativesCandidatesList();
        });
    </script>
{% endblock %}

{% block content__inner %}
    <header class="l__wrapper--medium text--center space--60-0">
        <h1 class="text--large text--pink">
            Je découvre les député(e)s de <em>La République En Marche !</em>
        </h1>
    </header>

    <div class="l__wrapper--medium b__nudge--bottom-large legislatives__form">
        <div class="label text--summary text--block text--uppercase">
          Rechercher par :
        </div>

        <input type="text" id="search" placeholder="Nom ou prénom..." />

        <div class="l__row">
            <select id="department" class="form">
                <option value="" selected="selected">Tous les départements</option>
                {% for group, zones in groupedZones %}
                    <optgroup label="{{ group }}">
                        {% for zone in zones %}
                            <option value="{{ zone.id }}">{{ zone.name }}</option>
                        {% endfor %}
                    </optgroup>
                {% endfor %}
            </select>
            <i class="fa fa-angle-down b__nudge--right"></i>
        </div>

        <div class="l__row">
            <select id="career" class="form">
                <option value="" selected="selected">Tous les parcours professionnels</option>
                {% for career in constant('App\\Entity\\LegislativeCandidate::CAREERS') %}
                    <option value="{{ career }}">{{ career|trans }}</option>
                {% endfor %}
            </select>
            <i class="fa fa-angle-down"></i>
        </div>

    </div>

    <div class="l__wrapper--medium l__row l__row--h-stretch l__row--wrap">
        <div class="legislatives__no_results hidden">
            Aucun résultat
        </div>

        {% for candidate in candidates %}
            <div class="legislatives__trombi__item legislatives_candidate"
                 data-zone="{{ candidate.districtZone.id }}"
                 data-name="{{ candidate.fullName }}"
                 data-career="{{ candidate.career }}"
            >
                {% if candidate.status == constant('STATUS_QUALIFIED', candidate) %}
                    <span class="legislatives__trombi__item__status legislatives__trombi__item__status--qualified">
                        Qualifié(e)
                    </span>
                {% elseif candidate.status == constant('STATUS_WON', candidate) %}
                    <span class="legislatives__trombi__item__status legislatives__trombi__item__status--won">
                        Élu(e)
                    </span>
                {% endif %}

                <a href="{{ path('legislatives_candidate', {'slug': candidate.slug}) }}"
                   title="{{ candidate.fullName }}"
                   class="legislatives__trombi__item__visual link--no-decor progressive-background"
                    {% if candidate.profilePicture  %}
                        data-sd="{{ media_asset(candidate.profilePicture, {'w': 50, 'q': 20}) }}"
                        data-hd="{{ media_asset(candidate.profilePicture, {'w': 640, 'q': 70}) }}"
                    {% else  %}
                        data-sd="{{ static_asset('legislatives/unknown-candidate.jpg', {'w': 50, 'q': 20}) }}"
                        data-hd="{{ static_asset('legislatives/unknown-candidate.jpg', {'w': 320, 'q': 70}) }}"
                   {% endif %}
                >
                    <div class="text--white">
                        <h1 class="text--medium-small">{{ candidate.fullName }}</h1>
                        <span class="text--body">{{ candidate.districtName }}</span>
                    </div>
                </a>
                {% if candidate.hasWebPages %}
                    {{ include('legislatives/_candidate_links.html.twig', {
                        'links_container_class': 'legislatives__social l__row l__row--h-stretch space--10-15',
                        'website_url_class': 'link--no-decor',
                        'social_networks_container_class': 'list__links--svgs',
                        'show_name': false
                    }) }}
                {% endif %}
            </div>
        {% endfor %}
    </div>
{% endblock %}
