{% extends 'donation/layout.html.twig' %}

{% block javascripts %}
    {% if google_maps_api_key %}
        <script src="https://maps.googleapis.com/maps/api/js?key={{ google_maps_api_key }}&amp;libraries=places" async defer></script>
    {% endif %}
    <script type="text/javascript">
        Kernel.onLoad(function() {
            App.runDonationInformation('{{ form.vars.form_type_class|e('js') }}');
        });
    </script>
{% endblock %}

{% block donation_content %}

    <div class="donation__informations">

        <!-- Need to dynamise this -->
        <section class="donation__header with-bkg">
            <div class="l__wrapper">
                <div class="donation__header__content">
                    <a href="{{ path('homepage') }}" class="text--logo-white">EM!</a>
                    <div class="donation__header__steps">
                        <ul>
                            <li>1. Montant</li>
                            <li class="chevron"><img src="{{ asset('images/icons/donation-journey-chevron.svg') }}" /></li>
                            <li class="active">2. Informations</li>
                            <li class="chevron"><img src="{{ asset('images/icons/donation-journey-chevron.svg') }}" /></li>
                            <li class="next">3. Paiement</li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>

        <div class="l__wrapper b__nudge--bottom-50 b__nudge--top-50">
            <a href="{{ path('donation_index') }}" class="text--body text--blue--dark link--no-decor">⟵ Retour</a>
        </div>

        <div class="l__wrapper--600">
            {{ form_start(form, { attr: { class: 'em-form donation__informations__form' } }) }}

            <div class="b__nudge--bottom">
                {{ form_errors(form, { error_raw: true }) }}
            </div>

            <section class="donation__informations__recap">
                <h3 class="donation-subtitle">Vous faites <span>un don</span> de :</h3>
                <h1 class="donation__informations__amount b__nudge--top-large">{{ donation.amount|localizedcurrency('EUR')|replace({',00' : ''}) }} {{ donation.duration == constant('AppBundle\\Donation\\PayboxPaymentSubscription::UNLIMITED') ? ' <span>/ mois</span>' }}</h1>
                <div class="donation__amount-chooser">
                    <div class="donation__amount-chooser__after-taxes">
                        soit <span class="after-taxes-amount">{{ (donation.amount * 0.34)|localizedcurrency('EUR')|replace({',00' : ''})}}</span> après réduction d’impôt
                        <div class="infos-taxe-reduction">
                        ?
                            <div class="infos-taxe-reduction__content">
                                <div>La réduction fiscale</div>
                                <p>
                                    66 % de votre don vient en déduction de votre impôt sur
                                    le revenu (dans la limite de 20 % du revenu imposable).
                                    <br /><br />
                                    <strong>Par exemple :</strong> un don de 100 € vous revient
                                    en réalité à 34 € et vous fait bénéficier
                                    d’une réduction d’impôt de 66 €. Le montant annuel de votre
                                    don ne peut pas excéder 7500 € par personne physique.
                                    <br /><br />
                                    Le reçu fiscal pour votre don de l’année N vous sera envoyé
                                    au 2e trimestre de l’année N+1.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="information__modal inf-modl--pale-blue b__nudge--top-large b__nudge--bottom-large">Votre don sera versé à l’Association de financement de La République En Marche (AFEMA), unique mandataire financier au bénéfice du Mouvement.</div>
                <div class="donation-reassurance b__nudge--bottom">
                    <div class="donation-reassurance__item">
                        <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 26 26">
                          <path d="M18.7324102,11.6420579 C18.5541175,11.4564351 18.337765,11.3636934 18.0830181,11.3636934 L17.7776363,11.3636934 L17.7776363,9.4544948 C17.7776363,8.23481709 17.3576067,7.18756312 16.5172799,6.31255877 C15.6770201,5.43751959 14.6714105,5 13.4999497,5 C12.3285223,5 11.3227121,5.43751959 10.4825191,6.31252394 C9.64219233,7.18756312 9.22216273,8.23478226 9.22216273,9.4544948 L9.22216273,11.3636934 L8.91664713,11.3636934 C8.66210097,11.3636934 8.44561465,11.4564351 8.26735541,11.6420579 C8.08909617,11.8275414 8,12.0529704 8,12.3182752 L8,18.0454878 C8,18.3105488 8.08912962,18.5360474 8.26735541,18.7217051 C8.44561465,18.9071538 8.66210097,19 8.91664713,19 L18.0832522,19 C18.3379991,19 18.5543182,18.9072582 18.7326443,18.7217051 C18.9107363,18.5360474 19,18.3105488 19,18.0454878 L19,12.3181707 C19.0001335,12.0530749 18.9107363,11.8276807 18.7324102,11.6420579 Z M15.9443755,11.3636934 L11.0555239,11.3636934 L11.0555239,9.4544948 C11.0555239,8.75187936 11.2942842,8.1519311 11.7717046,7.65485898 C12.2491919,7.1577172 12.8252401,6.90919855 13.50005,6.90919855 C14.1749268,6.90919855 14.7508412,7.15768238 15.228362,7.65485898 C15.7056486,8.15189628 15.9443755,8.75187936 15.9443755,9.4544948 L15.9443755,11.3636934 Z"/>
                        </svg>
                        <span>Paiement sécurisé</span>
                    </div>
                    <div class="donation-reassurance__item">
                        <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 26 26">
                          <path fill-rule="evenodd" d="M15.9175223,6 L17.3892911,6.85673959 L9.8631458,20 L8.39137706,19.1432604 L9.28819756,17.577132 C7.41210851,16.7152734 5.8904293,15.2203164 5.00025146,13.3678126 C6.42549259,10.3995772 9.47207172,8.34912794 13.0002355,8.34912794 C13.5116923,8.34912794 14.0130288,8.39221724 14.5007744,8.4749445 L15.9175223,6 Z M17.6643593,9.6671122 C19.1025632,10.5541588 20.2665313,11.8391993 21.000699,13.3675336 C19.5742955,16.3352307 16.5280038,18.3852203 13.0002355,18.3852203 C12.8917613,18.3852203 12.7837424,18.3832821 12.6762118,18.3794385 L13.747953,16.509291 C15.0754574,16.1731316 16.0594101,14.9486471 16.0594101,13.4895655 C16.0594101,13.2746076 16.038054,13.0647415 15.9973896,12.8620575 L15.9503648,12.661845 L17.6643593,9.6671122 Z M13.0117235,10.3784544 C11.3285327,10.3784544 9.96403689,11.7713463 9.96403689,13.4895655 C9.96403689,14.1851818 10.1876795,14.8274765 10.5655707,15.3456115 L13.3957028,10.40291 C13.2699341,10.3867704 13.1417801,10.3784544 13.0117235,10.3784544 Z"/>
                        </svg>
                        <span>Données confidentielles</span>
                    </div>
                </div>
                {% if form.confirmDonationType is defined %}
                    <p class="text--body">Vous vous apprêtez à faire un don important, <strong>soutenez durablement la transformation du pays en donnant mensuellement</strong> :</p>
                    <div class="em-form__group">
                        {{ form_row(form.confirmDonationType) }}
                    </div>

                {% endif %}
            </section>

            <div class="b__nudge--top-15">
                <h3 class="text--medium-small b__nudge--bottom">Informations personnelles</h3>
                <div class="text--body text--dark b__nudge--bottom-medium">
                    Toutes ces informations sont obligatoires pour que votre don soit validé par la Commission Nationale des Comptes de Campagne et des Financements Politiques (CNCCFP).
                </div>

                <div class="em-form__row">
                    <div class="em-form__group em-form__checkbox--inline">
                        {{ form_widget(form.gender, { attr: { class: 'form__radio'} }) }}
                        {{ form_errors(form.gender) }}
                    </div>
                </div>

                <div class="em-form__row">
                    <div class="em-form__group em-form__width--1">
                        <label class="em-form__label">Prénom <span class="em-form__required">*</span></label>
                        {{ form_errors(form.firstName) }}
                        {{ form_widget(form.firstName, { attr: { class: 'em-form__field', placeholder: 'Prénom' } }) }}
                    </div>
                    <div class="em-form__group em-form__width--1">
                        <label class="em-form__label">Nom <span class="em-form__required">*</span></label>
                        {{ form_errors(form.lastName) }}
                        {{ form_widget(form.lastName, { attr: { class: 'em-form__field', placeholder: 'Nom' } }) }}
                    </div>
                </div>

                <div class="em-form__group">
                    <label class="em-form__label">Nationalité <span class="em-form__required">*</span></label>
                    {{ form_errors(form.nationality) }}
                    {{ form_widget(form.nationality, { attr: { class: 'em-form__field', placeholder: 'Adresse email'} }) }}
                </div>

                <div class="em-form__group">
                    <label class="em-form__label">Adresse e-mail <span class="em-form__required">*</span></label>
                    {{ form_errors(form.emailAddress) }}
                    {{ form_widget(form.emailAddress, { attr: { class: 'em-form__field', placeholder: 'Adresse e-mail' } }) }}
                </div>
            </div>

            <div>
                {{ form_errors(form.address) }}

                <div class="em-form__group">
                    <div class="address-autocomplete">
                        <label class="em-form__label">Adresse postale <span class="em-form__required">*</span></label>
                    </div>
                    <p class="em-form__legend visually-hidden" id="address-autocomplete-help-message">
                        Nous n'avons pas reconnu votre adresse, veuillez cliquer <a href="#">ici</a> pour pouvoir la renseigner librement.
                    </p>
                </div>

                <div class="address-block">
                    <div class="em-form__group">
                        <label class="em-form__label">Adresse postale <span class="em-form__required">*</span></label>
                        {{ form_errors(form.address) }}
                        {{ form_widget(form.address, { attr: { class: 'em-form__field', placeholder: 'Adresse postale' } }) }}
                    </div>

                    <div class="em-form__group">
                        <label class="em-form__label">Pays <span class="em-form__required">*</span></label>
                        {{ form_errors(form.country) }}
                        {{ form_widget(form.country, { attr: { class: 'em-form__field' } }) }}
                    </div>

                    <div class="em-form__row">
                        <div class="em-form__group">
                            <label class="em-form__label">Code postal <span class="em-form__required">*</span></label>
                            {{ form_errors(form.postalCode) }}
                            {{ form_widget(form.postalCode, { attr: { class: 'em-form__field', placeholder: 'Code postal' } }) }}
                        </div>
                        <div class="em-form__group">
                            <label class="em-form__label">Ville <span class="em-form__required">*</span></label>
                            {{ form_errors(form.cityName) }}
                            {{ form_widget(form.cityName, { attr: { class: 'em-form__field', placeholder: 'Ville' } }) }}
                        </div>
                    </div>
                </div>
            </div>

            <div class="em-form__group em-form__group--cgu">
                <div class="form__checkbox">
                    {{ form_row(form.isPhysicalPerson, { label: "Je certifie sur l'honneur être une personne physique et que le règlement de mon don ne provient pas du compte d'une personne morale (entreprise, association, collectivité...) mais bien de mon compte bancaire personnel", label_attr: { id: 'donation_check_label' } }) }}
                </div>

                <div class="form__checkbox">
                    {{ form_row(form.hasFrenchNationality, { label: 'Je certifie être de nationalité française ou résider fiscalement en France', label_attr: { id: 'donation_check_nationality_label' } }) }}
                </div>

                <div class="form__checkbox">
                    {{ form_row(form.personalDataCollection, { label: "J'ai lu et j'accepte les mentions d'information relatives au recueil de mes données personnelles ci-dessous" }) }}
                </div>
            </div>

            {{ form_widget(form.submit, { label: 'Finaliser mon don', attr: { class: 'btn-fat btn-fat--red btn--full b__nudge--top' } }) }}

            <div class="em-form__group">
                <p class="em-form__cgu b__nudge--top-40">
                    Les données recueillies sur ce formulaire sont traitées par LaREM afin de gérer les informations relatives aux donateurs du mouvement et de permettre à LaREM de vous envoyer des communications politiques.
                    Les informations marquées d’un astérisque sont obligatoires. L’absence de réponse dans ces champs ne permettra pas à LaREM de traiter votre demande.
                    Conformément à la règlementation, vous disposez d’un droit d’opposition et d’un droit à la limitation du traitement de données vous concernant, ainsi que d’un droit d’accès, de rectification, de portabilité et d’effacement de vos données. Vous disposez également de la faculté de donner des directives sur le sort de vos données après votre décès.
                    Vous pouvez exercer vos droits en nous adressant votre demande accompagnée d’une copie de votre pièce d’identité à l’adresse postale ou électronique suivante : La République En Marche, 63 rue Sainte-Anne, 75002 Paris, France et <a href="mailto:mes-donnees@en-marche.fr">mes-donnees@en-marche.fr</a>
                    <br /><br />
                    Ces dons sont versés à l’AFEMA (Association de financement de l’association La République En Marche agréée le 7 Mars 2016 sous le n°1158) au bénéfice du parti politique La République En Marche EMA (Numéro RNA W943004354).
                    <br /><br />
                    Aux termes de l’article 11-4 de la loi n° 88-227 du 11 mars 1988 relative à la transparence financière de la vie politique modifiée par la loi n° 2017-286 du 6 mars 2017 : « les dons consentis et les cotisations versées en qualité d’adhérent d’un ou de plusieurs partis politiques par une personne physique dûment identifiée à une ou plusieurs associations agréées en qualité d’association de financement ou à un ou plusieurs mandataires financiers d’un ou de plusieurs partis politiques ne peuvent annuellement excéder 7 500 euros. […] Les personnes morales à l’exception des partis ou groupements politiques ne peuvent contribuer au financement des partis ou groupements politiques, ni en consentant des dons, sous quelque forme que ce soit, à leurs associations de financement ou à leurs mandataires financiers, ni en leur fournissant des biens, services ou autres avantages directs ou indirects à des prix inférieurs à ceux qui sont habituellement pratiqués. ».
                    L'article 11-5 de la même loi précise que les personnes qui ont versé un don ou consenti un prêt à un ou plusieurs partis ou groupements politiques en violation des articles 11-3-1 et 11-4 sont punies de trois ans d'emprisonnement et de 45 000 euros d'amende.
                </p>
            </div>

            {{ form_rest(form) }}
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
