{% extends 'donation/layout.html.twig' %}

{% block javascripts %}
    <script type="text/javascript">
        Kernel.onLoad(function() {
            hide(dom('#app-donation-redirect-form'));
            show(dom('#app-donation-redirect-loader'));
            document.getElementById('app-donation-redirect-form').submit();
        });
    </script>
{% endblock %}

{% block donation_content %}
    <ul class="donation__form-steps">
        <li>Montant</li>
        <li>Coordonnées</li>
        <li>Paiement</li>
        <li class="active">Confirmation</li>
    </ul>

    <div class="donation__result {{ successful ? 'donation__result--successful' : 'donation__result--failure' }}">
        {% if successful %}
            <div class="donation__result--successful__amount">
                Paiement réussi de<br />
                <h3>{{ (donation.amount/100)|round(2) }}€</h3>
            </div>
            {% if not campaign_expired %}
                <div class="donation__result--successful__thankyou">
                    {% if is_registration %}
                        <span>Nous sommes heureux de vous compter parmi nous.</span>
                        <span>
                            Nous venons de vous envoyer un email pour confirmer votre adhésion.<br/>
                            Rendez-vous sur votre boîte email.
                        </span>
                    {% else %}
                        Faites le savoir à vos<br />
                        proches, diffusez nos idées,<br />
                        rejoignez nos comités<br />
                        locaux. Soyez fier d’être<br />
                        En Marche !
                    {% endif %}
                </div>

                <div class="donation__result--successful__thankyou">
                    Votre soutien compte<br />
                    beaucoup pour moi.<br />
                    Vous êtes maintenant<br />
                    un acteur de la révolution<br />
                    En Marche !
                </div>

                <div class="donation__result--successful__share-pride">
                    « Fier d’être en Marche ! »
                </div>
                <ul class="donation__result--successful__sharer">
                    <li role="button" aria-label="Partagez sur Facebook"
                        class="btn btn-medium btn--social btn--facebook"
                        onclick="App.share('facebook', '{{ url('donation_index') }}', 'Fier d’être en Marche ! J\'ai donné, et vous ?')">
                        <i class="fa fa-facebook-square"></i> <span>Je partage</span>
                    </li>
                    <li role="button" aria-label="Partagez via Twitter"
                        class="btn btn-medi<um btn--social btn--twitter"
                        onclick="App.share('twitter', '{{ url('donation_index') }}', 'Fier d’être en Marche ! J\'ai donné, et vous ? http://en-marche.fr/don via @enmarchefr')">
                        <i class="fa fa-twitter"></i> <span>Je tweete</span>
                    </li>
                </ul>
            {% endif %}

            {% if not is_adherent %}
                <p>
                    Vous n'êtes pas encore adhérent(e)<br/>
                    de La République En Marche ? Rejoignez-nous !
                </p>
                <p>
                    <a href="{{ path('app_membership_join') }}" class="btn btn-medium">
                        J'adhère à La République En Marche !
                    </a>
                </p>
            {% endif %}

            {% if not is_newsletter_subscribed %}
                <div class="newsletter l__row l__row--h-stretch space--20-30 l__row--wrap l__tablet--col b__nudge--top">
                    <div class="text--small text--uppercase space--10-0">
                        Tenez-vous au courant des actualités du mouvement et du gouvernement en vous abonnant à notre newsletter hebdomadaire !
                    </div>
                    {{ form_start(newsletter_form, { action: path('newsletter_subscription'), attr: { class: 'l__row l__row--wrap'} }) }}
                        <p>
                            {{ form_widget(newsletter_form.email, {
                                attr: {
                                    title: 'common.email_address',
                                    placeholder: 'common.email_address',
                                    class: 'form__email'
                                }
                            }) }}
                        </p>
                        <p>
                            {{ form_widget(newsletter_form.postalCode, {
                                attr: {
                                    title: 'common.zip_code',
                                    placeholder: 'common.zip_code',
                                    class: 'form__zipcode'
                                }
                            }) }}
                            <button title="Je m'inscris à la newsletter" type="submit" class="form btn">Je m'inscris</button>
                        </p>
                    {{ form_end(newsletter_form) }}
                </div>
            {% endif %}

            <p>
                <a href="{{ path('homepage') }}" class="btn btn-medium">
                    Retour à l'accueil
                </a>
            </p>
        {% else %}
            <h3>
                Votre don n'a pas été effectué, soit car vous l'avez annulé soit car une erreur s'est produite.
            </h3>

            <p>
                <a href="{{ retry_url }}" class="btn btn--medium btn--primary">
                    Je souhaite réessayer
                </a>
            </p>

            <p class="donation-result__support">
                Si le problème se reproduit et que vous ne le comprenez pas, n'hésitez pas à contacter le
                <a href="mailto:support@en-marche.fr">support En Marche</a>.
            </p>
        {% endif %}
    </div>
{% endblock %}
