{% extends 'donation/layout.html.twig' %}

{% block donation_content %}
    <div class="donation__result {{ successful ? 'donation__result--successful' : 'donation__result--failure' }}">

        <!-- Need to dynamise this -->
        <section class="donation__header with-bkg">
            <div class="l__wrapper">
                <div class="donation__header__content">
                    <a href="{{ path('homepage') }}" class="text--logo-white">EM!</a>
                    <div class="donation__header__steps right">
                        <ul>
                            <li><a href="{{ path('homepage') }}">Aller sur la page d'accueil</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>

        {% if successful %}
            <section class="donation__result__intro text--center">
                <div class="l__wrapper">
                    <div class="donation__result__into--title">
                        <h1 class="text--larger b__nudge--bottom-larger b__nudge--top-40">Votre don de {{ (donation.amount/100)|localizedcurrency('EUR')|replace({',00' : ''}) }} est validé, merci !</h1>
                    </div>
                </div>
                <div class="l__wrapper--narrow">
                    <p class="donation__result__intro--text">
                        Continuons à transformer notre pays ensemble ! Les dons sont une ressource vitale pour La République En Marche !
                        Chaque don, quel que soit le montant, nous permet d'engager une action concrète pour réussir ensemble la transformation du pays.
                        <br /><br />
                        <strong>C'est votre engagement qui fait vivre cette promesse !</strong>
                    </p>
                </div>
            </section>

            <section class="donation__result__opportunities">
                <div class="l__wrapper--medium">
                    <div class="opportunities-list">
                        <div class="opportunity">
                            <h2><strong>J'invite</strong> mes amis à donner</h2>
                            <p class="text--body">Invitez par e-mail votre entourage à faire un don à La République En Marche !</p>
                            <a href="mailto:?{{ {subject: 'Je viens de donner à La République En Marche, pourquoi pas toi ?', body: "Je t'invite à lire leur brochure, elle donne envie de transformer le pays !\r\rLa brochure : https://en-marche.fr/brochure-don\rLa page de don : https://en-marche.fr/don"}|url_encode }}" class="btn btn--yellow">J'invite un(e) ami(e)</a>
                        </div>

                        <div class="opportunity">
                            <h2><strong>Je m'abonne</strong> à la newsletter</h2>
                            <p class="text--body">Quelques secondes suffisent pour s'inscrire à notre newsletter hebdomadaire !</p>
                            <a href="{{ path('newsletter_subscription') }}" target="_blank" class="btn btn--green--apple">Je m'abonne</a>
                        </div>

                        {% if not is_adherent %}
                        <div class="opportunity large">
                            <h2><strong>Rejoignez</strong> les {{ nb_adherent|number_format(0, ',', ' ') }} adhérents de La République En Marche !</h2>
                            <p class="text--body">C'est facile, gratuit et 3 minutes suffiront.</p>
                            <a href="{{ path('app_membership_join') }}" target="_blank" class="btn btn--blue--sky">J'adhère maintenant</a>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </section>

        {% else %}
            <div class="donation__result__failed">
                <div class="l__wrapper--slim text--center">
                    <h3 class="text--medium b__nudge--bottom-larger">{{ get_payment_message_by_code(result_code)|trans|raw }}</h3>

                    <a href="{{ retry_url }}" class="btn btn--red">
                        Je souhaite réessayer
                    </a>

                    <p class="text--body donation-result__support b__nudge--top-large">
                        Si le problème persiste, veuillez <a href="https://contact.en-marche.fr/" target="_blank" rel="noopener noreferrer">nous contacter</a>.
                    </p>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}
