{% extends 'donation/layout.html.twig' %}

{% block donation_content %}
    <div class="donation__result {{ successful ? 'donation__result--successful' : 'donation__result--failure' }}">

        <!-- Need to dynamise this -->
        <section class="donation__header">
            <div class="l__wrapper">
                <div class="donation__header__content">
                    <a href="{{ path('homepage') }}" class="text--logo-white">EM!</a>
                    <div class="donation__header__steps">
                        <ul>
                            <li><a href="{{ path('homepage') }}">Aller sur la page d'accueil</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>

        {% if successful %}
            <section class="donation__result__intro text--center">
                <div class="l__wrapper">
                    <div class="donation__result__into--title">
                        <h1 class="text--larger">Merci pour votre don de {{ (donation.amount/100)|localizedcurrency('EUR')|replace({',00' : ''}) }}</h1>
                    </div>
                </div>
                <div class="l__wrapper--narrow">
                    <p class="donation__result--intro--text text--body">
                        Continuons à transformer notre pays ensemble ! Les dons sont une ressource vitale pour La République En Marche !
                        Chaque don, quel que soit le montant, nous permet d’engager une action concrète pour réussir ensemble la
                        transformation du paysage politique français.
                        <br /><br />
                        C’est votre engagement qui fait vivre cette promesse !
                    </p>
                </div>
            </section>

            <section class="donation__result__actions">
                <div class="l__wrapper--medium">
                    <div class="">
                        <div class="">J'invite un ami'</div>
                        <div class="">Je m'abonne</div>
                        {% if not is_adherent %}
                        <div class="">
                            Je m'abonne
                            <p>Rejoignez nos {{ nb_adherent|number_format(0, ',', ' ') }} adhérents dès maintenant :</p>
                            <a href="{{ path('app_membership_join') }}" class="btn btn--primary btn-medium">
                                J'adhère à La République En Marche !
                            </a>
                        </div>
                        {% endif %}
                    </div>

                    <!-- {% if is_adherent and not is_newsletter_subscribed %}
                        <div class="newsletter l__row l__row--h-stretch space--20-30 l__row--wrap l__tablet--col b__nudge--top b__nudge--bottom-5">
                            <div class="text--body text--bold">
                                Tenez-vous au courant des actualités du mouvement et du gouvernement en vous abonnant à notre newsletter hebdomadaire !
                            </div>
                            {{ form_start(newsletter_form, { action: path('newsletter_subscription'), attr: { class: 'l__row l__row--wrap'} }) }}
                                <div class="form__row">
                                    {{ form_widget(newsletter_form.email, {
                                        attr: {
                                            title: 'common.email_address',
                                            placeholder: 'common.email_address',
                                            class: 'form--full'
                                        }
                                    }) }}
                                </div>
                                <div class="form__row">
                                    {{ form_widget(newsletter_form.postalCode, {
                                        attr: {
                                            title: 'common.zip_code',
                                            placeholder: 'common.zip_code',
                                            class: 'form--mid'
                                        }
                                    }) }}
                                    {{ form_widget(newsletter_form.country, { placeholder: 'common.country', attr: { class: 'form--mid' } }) }}
                                </div>
                                <div class="form__row">
                                    {{ form_row(newsletter_form.personalDataCollection, { label: "J'ai lu et j'accepte les mentions d'information relatives au recueil de mes données personnelles ci-dessous", label_attr: { class: 'text--gray text--smallest' }}) }}
                                </div>
                                <div class="form--full">
                                    <button title="Je m'inscris à la newsletter" type="submit" class="form btn btn--primary">Je m'inscris</button>
                                </div>
                            {{ form_end(newsletter_form) }}
                            <div class="text--gray text--small text--left">
                                Les données recueillies sur ce formulaire sont traitées par LaREM afin de vous envoyer la newsletter du mouvement et de permettre à LaREM de vous envoyer des communications politiques.
                                Les informations marquées d’un astérisque sont obligatoires. L’absence de réponse dans ces champs ne permettra pas à LaREM de traiter votre demande.
                                Conformément à la règlementation, vous disposez d’un droit d’opposition et d’un droit à la limitation du traitement de données vous concernant, ainsi que d’un droit d’accès, de rectification, de portabilité et d’effacement de vos données. Vous disposez également de la faculté de donner des directives sur le sort de vos données après votre décès.
                                Vous pouvez exercer vos droits en nous adressant votre demande accompagnée d’une copie de votre pièce d’identité à l’adresse postale ou électronique suivante : La République En Marche, 63 rue Sainte-Anne, 75002 Paris ou <a href="mailto:mes-donnees@en-marche.fr">mes-donnees@en-marche.fr</a>.
                            </div>
                        </div>
                    {% endif %} -->
                </div>
            </section>

        {% else %}
            <h3>{{ get_payment_message_by_code(result_code)|trans|raw }}</h3>

            <p>
                <a href="{{ retry_url }}" class="btn btn--medium btn--primary">
                    Je souhaite réessayer
                </a>
            </p>

            <p class="donation-result__support">
                Si le problème persiste, veuillez <a href="https://contact.en-marche.fr/" target="_blank" rel="noopener noreferrer">nous contacter</a>.
            </p>
        {% endif %}
    </div>
{% endblock %}
