{% extends 'donation/layout.html.twig' %}
{% form_theme form _self %}

{% block donation_content %}
    <ul class="donation__form-steps">
        <li class="active"><span>Montant</span></li>
        <li>Coordonnées</li>
        <li>Paiement</li>
        <li>Confirmation</li>
    </ul>

    <div class="donation__frequency">
        <h2>Je veux soutenir chaque mois<br />En Marche !</h2>

        <div class="donation__informations__amount b__nudge--top">
            Je donne<br /><br />
            <h3>{{ amount }}€ par mois</h3><br />
            pendant
        </div>

        {{ form_start(form) }}
            {{ form_errors(form) }}
            {{ form_widget(form.duration) }}

            <div class="b__nudge--top">
                {{ form_widget(form.submit, {attr:{class: 'btn btn--primary'}}) }}
            </div>
        {{ form_end(form) }}
    </div>
{% endblock %}

{%- block _donation_subscription_request_duration_widget -%}
    <div {{ block('widget_container_attributes') }}>
        {%- for child in form %}
            {{- form_widget(child) -}}
            {{- form_label(child, null, {label_attr: {class: 'btn btn--frequency'}, translation_domain: choice_translation_domain}) -}}
        {% endfor -%}
    </div>
{%- endblock _donation_subscription_request_duration_widget -%}
