{% extends '@SonataAdmin/CRUD/base_list_field.html.twig' %}

{% block field %}
    {% if object.data %}
        <ul>
            {% for key, value in object.data %}
                <li>
                    {% if key is same as('adherent_uuid') %}
                        {% set adherent = get_adherent_by_uuid(value) %}

                        {% if is_granted('ROLE_APP_ADMIN_ADHERENT_EDIT') %}
                            <a href="{{ path('admin_app_adherent_edit', {id: adherent.id}) }}">
                                {{ adherent.fullName }}
                            </a>
                        {% else %}
                            {{ adherent.fullName }}
                        {% endif %}
                    {% elseif key is same as('committee_uuid') %}
                        {% set committee = get_committee_by_uuid(value) %}

                        {% if is_granted('ROLE_APP_ADMIN_COMMITTEE_EDIT') %}
                            <a href="{{ path('admin_app_committee_edit', {id: committee.id}) }}">
                                {{ committee.name }}
                            </a>
                        {% else %}
                            {{ committee.name }}
                        {% endif %}
                    {% else %}
                        {% if not (key matches '/^\\d+$/') %}
                            <b>
                                {% if key is same as('before') %}
                                    Avant:
                                {% elseif key is same as('after') %}
                                    Après:
                                {% else %}
                                    {{ key }}:
                                {% endif %}
                            </b>
                        {% endif %}

                        {% if value is iterable %}
                            <pre><code>{{ value|json_encode(constant('JSON_PRETTY_PRINT') b-or constant('JSON_UNESCAPED_UNICODE') b-or constant('JSON_UNESCAPED_SLASHES'))|raw }}</code></pre>
                        {% else %}
                            {{ value }}
                        {% endif %}
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}
