{% set currentParam = app.request.get('type') %}

{% extends 'page/la-carte.html.twig' %}

{% block page_title 'Tous les événements' %}
{% block canonical_url url('page_les_evenements_la_carte') %}

{% block javascripts %}
    <script src="https://maps.googleapis.com/maps/api/js?key={{ google_maps_api_key }}"></script>
    <script type="text/javascript">
        Kernel.onLoad(function() {
            App.runEventsMap();
        });
    </script>
{% endblock %}

{% block map_chapo %}
    <div class="committees-map__counter">
        <div>
            <ul class="events-map-categories text--summary">
                    <li class="events-map-categories--all">
                        <a href="{{ path('page_les_evenements_la_carte') }}"
                           class="link--no-decor {{ currentParam ? '' : 'active' }}">
                            Tous ({{ eventCount|number_format(0, ',', ' ') }})
                        </a>
                    </li>
                {% for label, type in types %}
                    <li>
                        <a href="{{ path('page_les_evenements_la_carte', {'type': type}) }}"
                           class="link--no-decor {{ currentParam == type ? 'active' }}">{{ label }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}

{% block map_config %}
    <div id="map-config" data-event-type="{{ app.request.query.get('type') }}"></div>
{% endblock %}
