{% set currentParam = app.request.get('type') %}

{% extends 'page/la-carte.html.twig' %}

{% block page_title 'La carte des événements' %}
{% block canonical_url url('page_les_evenements_la_carte') %}

{% block javascripts %}
    <script src="https://maps.googleapis.com/maps/api/js?key={{ google_maps_api_key }}"></script>
    <script type="text/javascript">
        Kernel.onLoad(function() {
            App.runEventsMap();
        });
    </script>
{% endblock %}

{% block content %}
    <main class="content committees-map">
        <a href="{{ path('app_search_events') }}" class="l__wrapper icon--with-text text--summary">
            {{ include('components/caret--left.html.twig') }}
            Retour à la liste des événements</a>
        <header class="l__wrapper--slim text--center committees-map__header">
            <h1 class="text--large">
                {{- block('page_title') -}}
            </h1>
            <div class="text--summary b__nudge--top-5">
                (<a href="{{ path('page_le_mouvement_la_carte') }}">voir la carte des comités</a>)
            </div>
        </header>
        <section class="l__wrapper--wide text--body">
            <div class="l__row l__row--center l__hide--on-mobile">
                {% block map_chapo %}
                    <div class="committees-map__counter">
                        <div>
                            <ul class="events-map-categories text--summary">
                                    <li class="events-map-categories--all">
                                        <a href="{{ path('page_les_evenements_la_carte') }}"
                                           class="link--no-decor {{ currentParam ? '' : 'active' }}">
                                            Tous ({{ eventCount|number_format(0, ',', ' ') }})
                                        </a>
                                    </li>
                                {% for label, type in types %}
                                    <li>
                                        <a href="{{ path('page_les_evenements_la_carte', {'type': type}) }}"
                                           class="link--no-decor {{ currentParam == type ? 'active' }}">{{ label }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                {% endblock %}
            </div>
        </section>
        <section class="committees-map__container">
             <article class="text--center">
                 {% block map_config %}
                     <div id="map-config" data-event-type="{{ app.request.query.get('type') }}"></div>
                 {% endblock %}
                 <div id="map" style="height: 100%"></div>
             </article>
         </section>
    </main>
{% endblock %}
