{% extends 'adherent_space/_layout.html.twig' %}

{% set currentUserOrDelegator = current_user() %}
{% set delegated_access = get_delegated_access() %}

{% block page_title %}
    {% if app.user is same as(currentUserOrDelegator) %}
        Espace député
    {% else %}
        Espace député partagé
    {% endif %}
{% endblock %}

{% block canonical_url url('app_message_deputy_list') %}

{% set hasCharterAccepted = app.user.charters.hasDeputyCharterAccepted %}

{% block stylesheets %}
    {% if not hasCharterAccepted %}
        <link rel="stylesheet" href="{{ asset('bundles/sonataadmin/vendor/jqueryui/themes/base/minified/jquery-ui.min.css') }}" />
    {% endif %}
{% endblock %}

{% block content %}
    <main class="manager-space manager-body">
        <aside class="manager-sidebar">
            {{ include('deputy/_sidebar.html.twig') }}
        </aside>

        <section class="manager-content">
            <div class="manager-content__container">
                <div class="text--body">
                    {% block deputy_content %}{% endblock %}
                </div>
            </div>
        </section>

        {% if not hasCharterAccepted %}
            {% include 'chart_dialog.html.twig' with {
                'title': 'deputy.popup.title'|trans,
                'subtitle': 'deputy.popup.subtitle'|trans,
                'fileUrl': 'deputy.popup.file_url'|trans
            } %}
        {% endif %}
    </main>
{% endblock %}

{% block adherent_space_header_title %}
    Vous gérez : <span class="text--black text--bold">{{ currentUserOrDelegator.managedDistrict }} </span>
{% endblock %}

{% block final_javascripts %}
    {{ parent() }}

    <script type="text/javascript" src={{ asset('bundles/sonataadmin/vendor/jquery/dist/jquery.min.js') }}></script>
    <script type="text/javascript" src={{ asset('bundles/sonataadmin/vendor/jqueryui/ui/jquery-ui.js') }}></script>

    {% if not hasCharterAccepted %}
        {% if js is not defined %}
            {% import 'javascript.js.twig' as js %}
        {% endif %}


        <script type="text/javascript">
            Kernel.onLoad(function() {
                {{ js.chart_acceptation('#chart_dialog', constant('App\\AdherentCharter\\AdherentCharterTypeEnum::TYPE_DEPUTY')) }}
            } );
        </script>
    {% endif %}
{% endblock %}
