{% extends 'base.html.twig' %}

{% set currentUserOrDelegator = current_user(app.request) %}
{% set delegated_access = get_delegated_access(app.request) %}

{% block page_title %}
    {% if app.user is same as(currentUserOrDelegator) %}
        Espace député
    {% else %}
        Espace député délégué
    {% endif %}
{% endblock %}

{% block canonical_url url('app_message_deputy_list') %}

{% set hasCharterAccepted = app.user.charters.hasDeputyCharterAccepted %}

{% block stylesheets %}
    {% if not hasCharterAccepted %}
        <link rel="stylesheet" href="{{ asset('bundles/sonataadmin/vendor/jqueryui/themes/base/minified/jquery-ui.min.css') }}" />
    {% endif %}
{% endblock %}

{% block content %}
    <main>
        <section class="manager-space deputy procuration-manager b__nudge--bottom-huge">
            <header class="manager-header">
                <div class="l__wrapper">
                    <div class="first-section">
                        <div class="manager-information">
                            <p>Vous gérez : <span>{{ currentUserOrDelegator.managedDistrict }}</span></p>
                        </div>
                    </div>
                    <div class="second-section">
                        <div>
                            <h1 class="page-title text--large b__nudge--bottom">
                                {{ block('page_title') }}
                            </h1>
                            {% if app.user is not same as(currentUserOrDelegator) %}
                            <p class="text--body text--dark b__nudge--top-0">Vous êtes {{ delegated_access.role|lower }} du député {{ currentUserOrDelegator }}</p>
                            {% endif %}
                        </div>
                    </div>
                    <nav class="manager-header__menu">
                        {% set isDeputy = is_granted('ROLE_DEPUTY') %}
                        {% set delegated_access_uuid = app.request.attributes.get('delegated_access_uuid') %}
                        <ul>
                            {% if isDeputy %}
                            <li class="{{ is_active_route(app.request, 'app_message_deputy_*') ? 'active' }}">
                                <a href="{{ path("app_message_deputy_list", route_params|default({})) }}">Mes messages</a>
                            </li>
                            {% endif %}
                            {% if is_canary_enabled() and is_granted('HAS_DELEGATED_ACCESS_MESSAGES', app.request) %}
                                <li class="{{ is_active_route(app.request, 'app_message_deputy_*') ? 'active' }}">
                                    <a href="{{ path("app_message_deputy_delegated_list", route_params|default({})|merge({delegated_access_uuid: delegated_access_uuid})) }}">Mes messages</a>
                                </li>
                            {% endif %}

                            {% if isDeputy %}
                            <li class="{{ is_active_route(app.request, 'app_deputy_event_manager_*') ? 'active' }}">
                                <a href="{{ path('app_deputy_event_manager_events') }}">Événements</a>
                            </li>
                            {% endif %}
                            {% if is_canary_enabled() and is_granted('HAS_DELEGATED_ACCESS_EVENTS', app.request) %}
                                <li class="{{ is_active_route(app.request, 'app_deputy_event_manager_*') ? 'active' }}">
                                    <a href="{{ path('app_deputy_event_manager_delegated_events', {delegated_access_uuid: delegated_access_uuid}) }}">Événements</a>
                                </li>
                            {% endif %}

                            {% if isDeputy %}
                            <li class="{{ is_active_route(app.request, ['app_deputy_managed_users_list', 'app_deputy_adherent_invitation']) ? 'active' }}">
                                <a href="{{ path('app_deputy_managed_users_list') }}">Adhérents</a>
                            </li>
                            {% endif %}
                            {% if is_canary_enabled() and is_granted('HAS_DELEGATED_ACCESS_ADHERENTS', app.request) %}
                                <li class="{{ is_active_route(app.request, 'app_deputy_managed_users_delegated_list') ? 'active' }}">
                                    <a href="{{ path('app_deputy_managed_users_delegated_list', {delegated_access_uuid: delegated_access_uuid}) }}">Adhérents</a>
                                </li>
                            {% endif %}

                            {% if isDeputy %}
                                <li class="{{ is_active_route(app.request, 'app_deputy_committees') ? 'active' }}">
                                    <a href="{{ path('app_deputy_committees') }}">Comités</a>
                                </li>
                            {% endif %}
                            {% if is_canary_enabled() and is_granted('HAS_DELEGATED_ACCESS_COMMITTEE', app.request) %}
                                <li class="{{ is_active_route(app.request, 'app_deputy_delegated_committees') ? 'active' }}">
                                    <a href="{{ path('app_deputy_delegated_committees', {delegated_access_uuid: delegated_access_uuid}) }}">Comités</a>
                                </li>
                            {% endif %}

                            {% if is_canary_enabled() and isDeputy %}
                            <li class="{{ is_active_route(app.request, 'app_deputy_my_team_*') ? 'active' }}">
                                <a href="{{ path('app_deputy_my_team_list') }}">Mon équipe</a>
                            </li>
                            {% endif %}
                        </ul>
                    </nav>
                </div>
            </header>

            <div class="l__wrapper procuration-manager__content text--body">
                {% block deputy_content %}{% endblock %}
            </div>
        </section>

        {% if not hasCharterAccepted %}
            {% include 'chart_dialog.html.twig' with {
                'title': 'deputy.popup.title'|trans,
                'subtitle': 'deputy.popup.subtitle'|trans,
                'fileUrl': 'deputy.popup.file_url'|trans
            } %}
        {% endif %}
    </main>
{% endblock %}

{% block final_javascripts %}
    <script type="text/javascript" src={{ asset('bundles/sonataadmin/vendor/jquery/dist/jquery.min.js') }}></script>
    <script type="text/javascript" src={{ asset('bundles/sonataadmin/vendor/jqueryui/ui/jquery-ui.js') }}></script>

    {% if not hasCharterAccepted %}
        {% if js is not defined %}
            {% import 'javascript.js.twig' as js %}
        {% endif %}


        <script type="text/javascript">
            Kernel.onLoad(function() {
                {{ js.chart_acceptation('#chart_dialog', constant('App\\AdherentCharter\\AdherentCharterTypeEnum::TYPE_DEPUTY')) }}
            } );
        </script>
    {% endif %}
{% endblock %}
