{% extends '@SonataAdmin/CRUD/base_list_field.html.twig' %}

{% import _self as list_host %}

{% macro dislay_host_line(host, displayGender = false) %}
    <li>
        <a href="{{ path('admin_app_adherent_show', { id: host.id }) }}">
            {{ host.fullName }}
        </a> {% if displayGender %} ({{ host.genderName|trans|lower }}) {% endif %}
        <br />
        {{ host.emailAddress }}
        {% if host.phone %}
            <br />
            {{ host.phone|phone_number_format }}
        {% endif %}
    </li>
{% endmacro %}

{% block field %}
    {% if object.hosts|length %}
        <p>Animateur:</p>
        <ul>
            {{ list_host.dislay_host_line(object.hosts.get(0)) }}
        </ul>
        {% if object.activeAdherentMandates|length > 0 %}
            <p>Adhérent(s) désigné(s) :</p>
            <ul>
                {% for mandate in object.activeAdherentMandates %}
                    {{ list_host.dislay_host_line(mandate.adherent, true) }}
                {% endfor %}
            </ul>
        {% endif %}
        {% if object.hosts|length > 1 %}
            <p>Co-Animateur{{ object.hosts|length > 2 ? 's' }}:</p>
            <ul>
                {% for host in object.hosts %}
                    {% if not loop.first  %}
                        {{ list_host.dislay_host_line(host) }}
                    {% endif %}
                {% endfor %}
            </ul>
        {% endif %}
    {% endif %}
{% endblock %}
