{% extends '@SonataAdmin/CRUD/base_list_field.html.twig' %}

{% block field %}
    {% if object.creator %}
        <ul>
            <li>
                <a href="{{ path('admin_app_adherent_show', {id: object.creator.id}) }}">
                    {{ object.creator.fullName }}
                </a>
                <br />
                {{ object.creator.emailAddress }}
                {% if object.creator.phone %}
                    <br />
                    {{ object.creator.phone|phone_number_format }}
                {% endif %}
            </li>
        </ul>
    {% else %}
        <p>Adhérent désinscrit {% if object.createdBy %}UUID : {{ object.createdBy }}{% endif %}</p>
    {% endif %}
{% endblock %}
