{% extends '@SonataAdmin/CRUD/base_list_field.html.twig' %}

{% import _self as list_host %}

{% macro dislay_host_line(host, displayGender = false) %}
    <li>
        <a href="{{ path('admin_app_adherent_show', { id: host.id }) }}">
            {{ host.fullName }}
        </a> {% if displayGender %} ({{ host.genderName|trans|lower }}) {% endif %}
        <br />
        {{ host.emailAddress }}
        {% if host.phone %}
            <br />
            {{ host.phone|phone_number_format }}
        {% endif %}
    </li>
{% endmacro %}

{% block field %}
    {% set supervisors = object.supervisors(false) %}
    {% set provisionalSupervisors = object.supervisors(true) %}
    {% if supervisors|length > 0 %}
        <p>Animateur{{ supervisors|length > 1 ? 's' }}:</p>
        <ul>
            {% for supervisor in supervisors %}
                {{ list_host.dislay_host_line(supervisor, true) }}
            {% endfor %}
        </ul>
    {% endif %}
    {% if provisionalSupervisors|length > 0 %}
        <p>Animateur{{ provisionalSupervisors|length > 1 ? 's' }} provisional{{ provisionalSupervisors|length > 1 ? 's' }}:</p>
        <ul>
            {% for provisionalSupervisor in provisionalSupervisors %}
                {{ list_host.dislay_host_line(provisionalSupervisor, true) }}
            {% endfor %}
        </ul>
    {% endif %}
    {% if object.activeAdherentMandates|length > 0 %}
        <p>Adhérent{{ object.activeAdherentMandates|length > 1 ? 's' }} désigné{{ object.activeAdherentMandates|length > 1 ? 's' }} :</p>
        <ul>
            {% for mandate in object.activeAdherentMandates %}
                {{ list_host.dislay_host_line(mandate.adherent, true) }}
            {% endfor %}
        </ul>
    {% endif %}
    {% if object.hosts|length > 0 %}
        <p>Co-Animateur{{ object.hosts|length > 1 ? 's' }}:</p>
        <ul>
            {% for host in object.hosts %}
                {{ list_host.dislay_host_line(host) }}
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}
