{% extends 'admin/layout.html.twig' %}

{% block sonata_page_content_header %}
    <div class="sticky-wrapper">
        <nav class="navbar navbar-default" role="navigation" style="width: auto;">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">
                        Gérer les membres du comité "{{ committee.name }}"
                    </a>
                </div>
            </div>
        </nav>
    </div>
{% endblock %}

{% block sonata_admin_content %}
    {% set committeehasFemaleAdherentMandate = committee.hasFemaleAdherentMandate %}
    {% set committeehasMaleAdherentMandate = committee.hasMaleAdherentMandate %}
    {% set can_add_host = is_granted('PROMOTE_TO_HOST_IN_COMMITTEE', committee) %}
    {% block notice %}
        {{ parent() }}
    {% endblock %}

    <p>
        <a href="{{ path('admin_app_committee_list') }}" class="btn btn-default">
            <i class="fa fa-chevron-left" aria-hidden="true"></i>
            Retour à la liste
        </a>
        {% if not committee.isClosed %}
            <a href="{{ path('admin_app_committee_edit', {id: committee.id}) }}" class="btn btn-default">
                <i class="fa fa-pencil" aria-hidden="true"></i>
                Editer le comité
            </a>
        {% endif %}
    </p>

    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-10">
            <div class="box box-primary">
                <div class="box-body table-responsive no-padding">
                    <table class="table table-bordered table-striped sonata-ba-list committee-members">
                        <thead>
                            <tr>
                                <th>
                                    Id
                                </th>
                                <th>
                                    Membre
                                </th>
                                <th>
                                    Civilité
                                </th>
                                <th>
                                    Rôle
                                </th>
                                <th>
                                    Date de membership
                                </th>
                                <th>
                                    Comité de vote
                                </th>
                                <th>
                                    Actions
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for membership in memberships|sort((a, b) => (b.isSupervisor ? 2 : (b.adherent.id in active_mandates_adherent_ids ? 1 : 0)) <=> (a.isSupervisor ? 2 : (a.adherent.id in active_mandates_adherent_ids ? 1 : 0))) %}
                            {% set member = membership.adherent %}
                            {% set token = csrf_token('committee.change_privilege.' ~ member.id) %}
                            {% set mandateToken = csrf_token('committee.change_mandate.' ~ member.id) %}

                            <tr>
                                <td>
                                    {{ membership.id }}
                                </td>
                                <td>
                                    <a href="{{ path('admin_app_adherent_show', {id: member.id}) }}">
                                        {{ member.fullName }}
                                    </a>
                                    <br />
                                    {{ member.emailAddress }}
                                </td>
                                <td>
                                    {{ member.gender ? ('common.gender.' ~ member.gender)|trans }}
                                </td>
                                <td>
                                    {% if membership.isSupervisor(false) %}
                                        <span class="label label-primary">Animateur</span>
                                    {% elseif membership.isSupervisor(true) %}
                                        <span class="label label-primary">Animateur provisoire</span>
                                    {% elseif membership.isHostMember %}
                                        <span class="label label-primary">Co-animateur</span>
                                    {% endif %}
                                    {% if member.id in active_mandates_adherent_ids %}
                                        <span class="label label-warning">Adhérent désigné</span>
                                    {% endif %}
                                </td>
                                <td>
                                    {{ membership.subscriptionDate|date('d/m/Y H:i') }}
                                </td>
                                <td>
                                    {{ (membership.votingCommittee ? 'global.yes' : 'global.no')|trans }}
                                </td>
                                <td>
                                    {% if committee.isApproved %}
                                        {% if membership.isFollower and can_add_host %}
                                            <a href="{{ path('app_admin_committee_change_privilege', {committee: committee.id, adherent: member.id, privilege: constant('COMMITTEE_HOST', membership), token: token}) }}"
                                               class="btn btn-default btn-sm">
                                                Transformer en co-animateur
                                            </a>
                                        {% elseif membership.isHostMember %}
                                            <a href="{{ path('app_admin_committee_change_privilege', {committee: committee.id, adherent: member.id, privilege: constant('COMMITTEE_FOLLOWER', membership), token: token}) }}"
                                               class="btn btn-default btn-sm">
                                                Transformer en membre normal
                                            </a>
                                        {% endif %}
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
