{% extends 'admin/layout.html.twig' %}

{% import 'admin/macros/labels.html.twig' as ui %}

{% macro render_members_table(title, memberships) %}
    <div class="box box-primary">
        <div class="box-header with-border"><h3 class="box-title">{{ title }}</h3></div>
        <div class="box-body table-responsive no-padding">
            <table class="table table-bordered table-striped sonata-ba-list committee-members">
                <thead>
                <tr>
                    <th>Membre</th>
                    <th>Labels</th>
                    <th>Date d'entrée</th>
                </tr>
                </thead>
                <tbody>
                {% for membership in memberships %}
                    {% set adherent = membership.adherent %}
                    <tr>
                        <td>
                            {{ include('admin/adherent/display_fullname_certified.html.twig', {object: adherent}) }}
                        </td>
                        <td>
                            {% for tag in adherent.tags %}
                                {% if tag starts with 'adherent:' %}
                                    {{ ui.label(
                                        translate_tag(tag, false),
                                        adherent.hasActiveMembership() ? '#ffeccc' : '#d6e7ff',
                                        adherent.hasActiveMembership() ? '#8e681e' : '#0f72bd',
                                    ) }}
                                {% elseif tag starts with 'sympathisant:' %}
                                    {{ ui.label(
                                        translate_tag(tag, false),
                                        '#e3f8ff',
                                        '#4890a8',
                                    ) }}
                                {% endif %}
                            {% endfor %}
                        </td>
                        <td>
                            {{ membership.subscriptionDate|date('d/m/Y H:i') }}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endmacro %}

{% block sonata_page_content_header %}
    <div class="sticky-wrapper">
        <nav class="navbar navbar-default" role="navigation" style="width: auto;">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">
                        Gérer les membres du comité "{{ committee.name }}"
                    </a>
                </div>
            </div>
        </nav>
    </div>
{% endblock %}

{% block sonata_admin_content %}
    {% set committeehasFemaleAdherentMandate = committee.hasFemaleAdherentMandate %}
    {% set committeehasMaleAdherentMandate = committee.hasMaleAdherentMandate %}
    {% set can_add_host = is_granted('PROMOTE_TO_HOST_IN_COMMITTEE', committee) %}
    {% block notice %}
        {{ parent() }}
    {% endblock %}

    <p>
        <a href="{{ path('admin_app_committee_list') }}" class="btn btn-default">
            <i class="fa fa-chevron-left" aria-hidden="true"></i>
            Retour à la liste
        </a>
        {% if not committee.isClosed %}
            <a href="{{ path('admin_app_committee_edit', {id: committee.id}) }}" class="btn btn-default">
                <i class="fa fa-pencil" aria-hidden="true"></i>
                Editer le comité
            </a>
        {% endif %}
    </p>

    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-10">
            {{ _self.render_members_table(
                'Membres (adhérents)',
                memberships|filter(m => m.adherent and m.adherent.isRenaissanceAdherent),
            ) }}

            {{ _self.render_members_table(
                'Non-membres (sympathisants)',
                memberships|filter(m => m.adherent and not m.adherent.isRenaissanceAdherent),
            ) }}
        </div>
    </div>
{% endblock %}
