{% extends 'SonataAdminBundle::standard_layout.html.twig' %}

{% block sonata_page_content_header %}
    <div class="sticky-wrapper">
        <nav class="navbar navbar-default" role="navigation" style="width: auto;">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">
                        Gérer les membres du comité "{{ committee.name }}"
                    </a>
                </div>
            </div>
        </nav>
    </div>
{% endblock %}

{% block sonata_admin_content %}
    {% set committeeHasFemaleMandate = committee.hasFemaleMandate %}
    {% set committeeHasMaleMandate = committee.hasMaleMandate %}
    {% block notice %}
        {{ parent() }}
    {% endblock %}

    <p>
        <a href="{{ path('admin_app_committee_list') }}" class="btn btn-default">
            <i class="fa fa-chevron-left" aria-hidden="true"></i>
            Retour à la liste
        </a>
        <a href="{{ path('admin_app_committee_edit', { id: committee.id }) }}" class="btn btn-default">
            <i class="fa fa-pencil" aria-hidden="true"></i>
            Editer le comité
        </a>
    </p>

    <div class="row">
        <div class="col-xs-12 col-sm-8 col-md-6">
            <div class="box box-primary">
                <div class="box-body table-responsive no-padding">
                    <table class="table table-bordered table-striped sonata-ba-list committee-members">
                        <thead>
                            <tr>
                                <th>
                                    Membre
                                </th>
                                <th>
                                    Rôle
                                </th>
                                <th>
                                    Actions
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for membership in memberships|sort((a, b) => (b.isSupervisor ? 2 : (b.adherent.id in active_mandates_adherent_ids ? 1 : 0)) <=> (a.isSupervisor ? 2 : (a.adherent.id in active_mandates_adherent_ids ? 1 : 0))) if membership.canHostCommittee %}
                            {% set host = membership.adherent %}
                            {% set token = csrf_token('committee.change_privilege.' ~ host.id) %}
                            {% set mandateToken = csrf_token('committee.change_mandate.' ~ host.id) %}

                            <tr>
                                <td>
                                    <a href="{{ path('admin_app_adherent_show', { id: host.id }) }}">
                                        {{ host.fullName }}
                                    </a>
                                    <br />
                                    {{ host.emailAddress }}
                                </td>
                                <td>
                                    {% if membership.isSupervisor %}
                                        <span class="label label-primary">Animateur principal</span>
                                    {% elseif membership.isHostMember %}
                                        <span class="label label-primary">Co-animateur</span>
                                    {% endif %}
                                    {% if host.id in active_mandates_adherent_ids %}
                                        <span class="label label-warning">Adhérent désigné</span>
                                    {% endif %}
                                </td>
                                <td>
                                    {% if committee.isApproved %}
                                        <a href="{{ path('app_admin_committee_change_privilege', { committee: committee.id, adherent: host.id, privilege: constant('COMMITTEE_FOLLOWER', membership), token: token }) }}"
                                           class="btn btn-default btn-sm">
                                            Transformer en membre normal
                                        </a>

                                        {% if supervisors_count < 1 %}
                                            <a href="{{ path('app_admin_committee_change_privilege', { committee: committee.id, adherent: host.id, privilege: constant('COMMITTEE_SUPERVISOR', membership), token: token }) }}"
                                               class="btn btn-default btn-sm">
                                                Transformer en animateur principal
                                            </a>
                                        {% endif %}

                                        {% if host.id in active_mandates_adherent_ids %}
                                            <a href="{{ path('app_admin_committee_change_mandate', { committee: committee.id, adherent: host.id, action: constant('App\\Committee\\CommitteeAdherentMandateManager::FINISH_ACTION'), token: mandateToken }) }}"
                                            class="btn btn-default btn-sm">
                                                Transformer en simple adhérent
                                            </a>
                                        {% elseif (host.gender is constant('App\\ValueObject\\Genders::MALE') and not committeeHasMaleMandate)
                                            or (host.gender is constant('App\\ValueObject\\Genders::FEMALE') and not committeeHasFemaleMandate) %}
                                            <a href="{{ path('app_admin_committee_change_mandate', { committee: committee.id, adherent: host.id, action: constant('App\\Committee\\CommitteeAdherentMandateManager::CREATE_ACTION'), token: mandateToken }) }}"
                                               class="btn btn-default btn-sm">
                                                Transformer en adhérent désigné
                                            </a>
                                        {% endif %}
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                        {% for membership in memberships|sort((a, b) => (b.adherent.id in active_mandates_adherent_ids ? 1 : 0) <=> (a.adherent.id in active_mandates_adherent_ids ? 1 : 0)) if membership.isFollower %}
                            {% set member = membership.adherent %}
                            {% set token = csrf_token('committee.change_privilege.' ~ member.id) %}
                            {% set mandateToken = csrf_token('committee.change_mandate.' ~ member.id) %}

                            <tr>
                                <td>
                                    <a href="{{ path('admin_app_adherent_show', { id: member.id }) }}">
                                        {{ member.fullName }}
                                    </a>
                                    <br />
                                    {{ member.emailAddress }}
                                </td>
                                <td>
                                    {% if member.id in active_mandates_adherent_ids %}
                                        <span class="label label-warning">Adhérent désigné</span>
                                    {% else %}
                                        <span class="label label-default">Membre</span>
                                    {% endif %}
                                </td>
                                <td>
                                    {% if committee.isApproved %}
                                        <a href="{{ path('app_admin_committee_change_privilege', { committee: committee.id, adherent: member.id, privilege: constant('COMMITTEE_HOST', membership), token: token }) }}"
                                           class="btn btn-default btn-sm">
                                            Transformer en co-animateur
                                        </a>

                                        {% if supervisors_count < 1 %}
                                            <a href="{{ path('app_admin_committee_change_privilege', { committee: committee.id, adherent: member.id, privilege: constant('COMMITTEE_SUPERVISOR', membership), token: token }) }}"
                                               class="btn btn-default btn-sm">
                                                Transformer en animateur principal
                                            </a>
                                        {% endif %}

                                        {% if member.id in active_mandates_adherent_ids %}
                                            <a href="{{ path('app_admin_committee_change_mandate', { committee: committee.id, adherent: member.id, action: constant('App\\Committee\\CommitteeAdherentMandateManager::FINISH_ACTION'), token: mandateToken }) }}"
                                               class="btn btn-default btn-sm">
                                                Transformer en simple adhérent
                                            </a>
                                        {% elseif (member.gender is constant('App\\ValueObject\\Genders::MALE') and not committeeHasMaleMandate)
                                            or (member.gender is constant('App\\ValueObject\\Genders::FEMALE') and not committeeHasFemaleMandate) %}
                                            <a href="{{ path('app_admin_committee_change_mandate', { committee: committee.id, adherent: member.id, action: constant('App\\Committee\\CommitteeAdherentMandateManager::CREATE_ACTION'), token: mandateToken }) }}"
                                               class="btn btn-default btn-sm">
                                                Transformer en adhérent désigné
                                            </a>
                                        {% endif %}
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
