{% extends 'oauth/base.html.twig' %}

{% block page_title 'Connectez-vous avec vos identifiants En Marche.' %}

{% block stylesheets %}
    <style type="text/css">
        body {
            background-color: #fafafa;
        }
        @media (max-width: 650px) {
            body {
                background: white;
            }
        }
    </style>
{% endblock %}

{% block content %}
    <section class="l__inner">
        <h1>Connectez-vous avec votre compte<br>adhérent(e) <em>La République En Marche</em></h1>

        {% if error %}
            <div id="auth-error" class="form__error">
                {{- error.messageKey|trans(error.messageData)|raw -}}
            </div>
        {% endif %}

        {{ form_start(form, { action: path('app_user_login_check') }) }}
            <ul class="form">
                <li>
                     {{ form_label(form._login_email, 'E-mail', { label_attr: { class: 'visually-hidden' } }) }}
                     {{ form_errors(form._login_email) }}
                     {{ form_widget(form._login_email, { attr: { placeholder: 'E-mail' } }) }}
                </li>

                <li>
                    {{ form_label(form._login_password, 'Mot de passe', { label_attr: { class: 'visually-hidden' } }) }}
                    {{ form_errors(form._login_password) }}
                    {{ form_widget(form._login_password, { attr: { placeholder: 'Mot de passe' } }) }}

                    <a href="{{ path('forgot_password') }}" class="form__forgotten-pw">Oublié ?</a>
                </li>

                <li>
                    <button class="btn">Connexion</button>
                </li>
            </ul>
        {{ form_end(form) }}
    </section>

    <section class="l__inner__footer">
        Pas encore adhérent(e) ? <a href="{{ path('app_membership_join') }}">S’inscrire</a>.
    </section>
{% endblock %}
