{% extends 'oauth/base.html.twig' %}

{% block favicon %}
    <link rel="shortcut icon" href="{{ asset('favicon-re.png') }}" />
{% endblock %}

{% block title 'Administration' %}

{% block em_logo %}
    <div class="b__nudge--top-15 b__nudge--left-medium b__nudge--right-small b__nudge--bottom-larger">
        {{ include('renaissance/partials/logo-text.svg.twig', {svg_class: 'h-4 w-auto text-white lg:h-5'}) }}
    </div>
{% endblock %}

{% block content %}
    <section class="l__inner">
        <h1>Connectez-vous avec vos identifiants afin d’accéder à cette application.</h1>

        {{ form_errors(form) }}

        {% if error %}
            <div id="auth-error" class="form__error">
                {{- error.messageKey|trans(error.messageData) -}}
            </div>
        {% endif %}

        {{ form_start(form, {action: path('app_admin_login')}) }}
            <ul class="form">
                <li>
                     {{ form_label(form._username, 'Email', {label_attr: {class: 'visually-hidden'}}) }}
                     {{ form_errors(form._username) }}
                     {{ form_widget(form._username, {attr: {placeholder: 'Email'}}) }}
                </li>

                <li>
                    {{ form_label(form._password, 'Mot de passe', {label_attr: {class: 'visually-hidden'}}) }}
                    {{ form_errors(form._password) }}
                    {{ form_widget(form._password, {attr: {placeholder: 'Mot de passe'}}) }}
                </li>

                <li>
                    <button class="btn">Connexion</button>
                </li>
            </ul>
        {{ form_end(form) }}
    </section>
{% endblock %}
