{% extends 'security/besoindeurope_layout.html.twig' %}

{% block title 'Connexion en cours' %}

{% block security_content %}
    <div class="relative flex h-6 w-6 items-center justify-center self-center m-auto">
        <div class="animate-ping absolute inline-flex h-full w-full rounded-full bg-sky-400 opacity-75"></div>
        <div class="relative inline-flex rounded-full h-5 w-5 bg-[#00AEEF]"></div>
    </div>

    <div class="font-medium text-[#00AEEF] mt-6 lg:mt-16 animate-pulse self-center m-auto text-center">Connexion...</div>

    <form x-data x-init="$nextTick(function () {setTimeout(function () {}, 2000)})" action="{{ path('app_user_connect_with_magic_link', {app_domain: user_besoindeurope_host}) }}" method="POST" class="hidden">
        <input type="hidden" name="expires" value="{{ expires }}">
        <input type="hidden" name="user" value="{{ user }}">
        <input type="hidden" name="hash" value="{{ hash }}">
        <input type="hidden" name="_target_path" value="{{ target_path }}">
        <input type="hidden" name="_failure_path" value="{{ failure_path }}">

        <button type="submit">Continuer</button>
    </form>

    <hr class="my-6 w-full border-dashed" />

    <p class="text-center text-[16px] font-normal">
        {% include 'besoindeurope/partials/contact_info.html.twig' %}
    </p>
{% endblock %}
