{% extends 'oauth/base_coalition.html.twig' %}

{% block page_title 'Réinitialiser mon mot de passe' %}

{% block em_logo '' %}

{% block content %}
    {% if legacy %}
        <main class="forgot-password">
            <section class="l__wrapper--slim b__nudge--bottom-large">
                <div class="committee__waiting-for-approval">
                    Le lien que vous venez d'utiliser n'est plus disponible depuis que la plateforme En Marche a été mise à jour.
                    Pour demander un nouveau mot de passe, vous pouvez utiliser le formulaire suivant.
                </div>
            </section>
        </main>
    {% endif %}

    <section class="l__inner">
        <h1 style="margin-top: 45px">{{ block('page_title') }}</h1>

        <div>
            <p>
                Saisissez l'adresse e-mail associée à votre compte, et nous vous enverrons
                un e-mail afin de réinitialiser votre mot de passe.
            </p>

            {{ form_start(form) }}
                <ul class="form">
                    <li>{{ form_errors(form) }}</li>

                    <li>
                         {{ form_label(form.email, 'E-mail', { 'label_attr': {'class': 'visually-hidden'} }) }}
                         {{ form_errors(form.email) }}
                         {{ form_widget(form.email, {'attr': {'placeholder': 'E-mail'} }) }}
                    </li>

                    <li>
                        <button class="btn">Envoyer un e-mail</button>
                    </li>
                </ul>
            {{ form_end(form) }}
        </div>

    </section>
{% endblock %}
