{% extends 'oauth/base_jemengage.html.twig' %}

{% block title 'Réinitialiser mon mot de passe' %}

{% block content %}
    <section class="l__inner">
        <h1 style="margin-top: 45px">{{ block('title') }}</h1>

        <div>
            <p>
                Saisissez l'adresse e-mail associée à votre compte, et nous vous enverrons
                un e-mail afin de réinitialiser votre mot de passe.
            </p>

            {{ form_start(form) }}
                <ul class="form">
                    <li>{{ form_errors(form) }}</li>

                    <li>
                         {{ form_label(form.email, 'E-mail', { 'label_attr': {'class': 'visually-hidden'} }) }}
                         {{ form_errors(form.email) }}
                         {{ form_widget(form.email, {'attr': {'placeholder': 'E-mail'} }) }}
                    </li>

                    <li>
                        <button class="btn">Envoyer un e-mail</button>
                    </li>
                </ul>
            {{ form_end(form) }}
        </div>

    </section>
{% endblock %}
