{% extends 'oauth/base_jemengage.html.twig' %}

{% block title 'Réinitialiser mon mot de passe' %}

{% block content %}
    <div class="forgot-password-container">
        <h1 id="title">Je m'engage</h1>
        <div id="subtitle">
            Saisissez l'adresse e-mail associée à votre compte Je m'engage, et nous vous enverrons
            un e-mail afin de réinitialiser votre mot de passe.
        </div>

        {{ form_start(form) }}
            <ul class="form">
                <li>
                    {{ form_errors(form) }}
                </li>

                <li>
                    {{ form_label(form.email, 'E-mail', { 'label_attr': {'class': 'visually-hidden'} }) }}
                    {{ form_errors(form.email) }}
                    {{ form_widget(form.email, {'attr': {'placeholder': 'E-mail'} }) }}
                </li>

                <li>
                    <button class="btn"><span class="capitalize">Envoyer</span> moi l'email</button>
                </li>
            </ul>
        {{ form_end(form) }}
    </div>
{% endblock %}
