{% extends 'oauth/base_jemengage.html.twig' %}

{% form_theme form 'jemengage/form_theme.html.twig' %}

{% block title 'Réinitialiser mon mot de passe' %}

{% block content %}
    <div class="create-password-container">
        <h2 id="title">Je m'engage</h2>
        <div id="subtitle">Créez votre mot de passe.</div>

        {{ form_start(form) }}
            {{ form_errors(form) }}

            <div>
                {{ form_errors(form.password) }}
                {{ form_errors(form.password.first) }}
                {{ form_widget(form.password.first, { attr: { class: 'form--full', placeholder: "Nouveau mot de passe" } }) }}
                {{ form_widget(form.password.second, { attr: { class: 'form--full', placeholder: "Confirmation" } }) }}
            </div>

            <div>
                {{ form_widget(form.submit, { label: 'Créer mon mot de passe', defaultClass: false, attr: { class: 'btn' } }) }}
            </div>

            {{ form_rest(form) }}
        {{ form_end(form) }}
    </div>
{% endblock %}
