{% extends 'security/legislative_layout.html.twig' %}

{% block title 'Connectez-vous avec un lien magique' %}

{% form_theme form 'renaissance/forms/tailwind_form_theme.html.twig' %}

{% block security_block_title %}
    Je me connecte <span class="text-secondary">avec un lien</span>
{% endblock %}

{% block security_content %}
    {{ form_start(form, { attr: { class: 'grid grid-cols-1 gap-6' } }) }}
        {% if error is defined %}
            <twig:ReParagraphStatus status="error" icon>
                {{- error.messageKey|trans(error.messageData)|raw -}}
            </twig:ReParagraphStatus>
        {% endif %}

        {{ form_row(form, {
            attr: {
                placeholder: 'Adresse email',
                autocomplete: 'email',
            }, label: false}) }}

        <twig:ReButton
            color="black"
            class="w-full mt-3"
        >M’envoyer un lien</twig:ReButton>
    {{ form_end(form) }}

    <hr class="mt-6 mb-6 ml-auto mr-auto lg:block border-dashed"/>

    <div class="w-full flex justify-center align-center">
        <a href="{{ path('app_legislative_login') }}" class="text-center font-maax hover:underline text-[16px] lg:text-base font-normal tracking-tight">Page précédente</a>
    </div>
{% endblock %}
