{% extends 'security/renaissance_layout.html.twig' %}

{% block title 'Connectez-vous avec un lien magique' %}

{% block security_block_title %}
    Je me connecte avec <span class="text-[#0084FF]">un lien</span>
{% endblock %}

{% block security_content %}
    {{ form_start(form, { attr: { class: 'grid grid-cols-1 gap-6 lg:gap-[1rem]' } }) }}
        {% if error is defined %}
            <twig:Atoms:ReParagraphStatus status="error" icon="error">
                {{- error.messageKey|trans(error.messageData)|raw -}}
            </twig:Atoms:ReParagraphStatus>
        {% endif %}

        {{ form_row(form, {
            attr: {
                placeholder: 'Adresse mail',
                validate:"['required']",
                autocomplete: 'email',
            }, label: false}) }}

        <twig:Molecules:ReButton
            color="blue"
            value="M’envoyer un lien"
            class="w-full"
            icon="link-circle"
        />
    {{ form_end(form) }}

    <hr class="mt-10 hidden lg:block"/>

    <a href="{{ path('app_renaissance_login') }}" class="mt-10 self-center font-maax hover:underline text-[#0084FF] text-[13px] lg:text-base font-normal tracking-tight">← Page précédente</a>
{% endblock %}
