{% extends 'security/renaissance_layout.html.twig' %}

{% block title 'Réinitialiser mon mot de passe' %}

{% block security_block_title %}
    Je réinitialise mon <span class="text-ui_blue-50">mot de passe</span>
{% endblock %}

{% block security_content %}
    {{ form_start(form, { attr: { class: 'grid grid-cols-1 gap-6 lg:gap-4' } }) }}
        {% if error is defined %}
            <twig:Atoms:ReParagraphStatus status="error" icon="error">
                {{- error.messageKey|trans(error.messageData)|raw -}}
            </twig:Atoms:ReParagraphStatus>
        {% endif %}

        {{ form_row(form.email, {
            attr: {
                placeholder: 'Adresse mail',
                validate:"['required']",
                autocomplete: 'email',
            }, label: false}) }}

        <twig:ReButton class="w-full">
            Réinitialiser
        </twig:ReButton>
    {{ form_end(form) }}

    <hr class="mt-10 hidden lg:block"/>

    <a href="{{ path('app_renaissance_login') }}" class="mt-10 self-center font-maax hover:underline text-ui_blue-50 text-[13px] lg:text-base font-normal tracking-tight">← Page précédente</a>
{% endblock %}
