{% extends 'renaissance/double_columns_layout.html.twig' %}

{% block title 'Réinitialiser mon mot de passe' %}

{% form_theme form 'renaissance/form_theme.html.twig' %}

{% block content_right_side %}
    <section class="self-center w-full">
        <div id="subtitle">
            Saisissez l'adresse e-mail associée à votre compte, et nous vous enverrons
            un e-mail afin de réinitialiser votre mot de passe.
        </div>

        {{ form_start(form) }}
        <ul class="form">
            <li>
                {{ form_errors(form) }}
            </li>

            <li>
                {{ form_errors(form.email) }}
                {{ form_widget(form.email, {'attr': {'placeholder': 'E-mail'} }) }}
            </li>

            <li>
                <button type="submit" class="w-full rounded py-5 bg-white text-dark-blue font-din font-bold text-base uppercase text-center"><span class="capitalize">Envoyez-moi l'email</button>
            </li>
        </ul>
        {{ form_end(form) }}
    </section>
{% endblock %}
