{% extends 'renaissance/double_columns_layout.html.twig' %}

{% block title 'Connectez-vous avec vos identifiants' %}

{% form_theme form 'renaissance/form_theme.html.twig' %}

{% block content_left_side %}
    {% include 'renaissance/partials/left-side-content.html.twig' %}
{% endblock %}

{% block content_right_side %}
    <section class="flex items-center justify-center flex-grow p-5">
        <div class="w-96">
            {{ form_start(form, { action: path('app_user_login_check') }) }}
                {% if error %}
                    <div class="py-3 text-red-400">
                        {{- error.messageKey|trans(error.messageData)|raw -}}
                    </div>
                {% endif %}

                {{ form_row(form._login_email, { label: 'E-mail', attr: { autocapitalize: 'off' } }) }}
                {{ form_row(form._login_password, { label: 'Mot de passe' }) }}

                <p class="mt-4">
                    <a href="{{ path('app_renaissance_forgot_password') }}" class="text-base font-medium leading-6 text-dark-blue hover:underline">Mot de passe oublié ?</a>
                </p>

                <button type="submit" class="mt-5 button button-blue button-full">Connexion</button>
            {{ form_end(form) }}
        </div>
    </section>
{% endblock %}
