{% extends 'renaissance/double_columns_layout.html.twig' %}

{% block title 'Connectez-vous avec vos identifiants' %}

{% form_theme form 'renaissance/form_theme.html.twig' %}

{% block content_right_side %}
    <section class="flex flex-grow items-center justify-center p-5">
        <div class="w-96">
            {{ form_start(form, { action: path('app_user_login_check', {app_domain: renaissance_host}) }) }}
                {% if error %}
                    <div class="text-red-400 py-3">
                        {{- error.messageKey|trans(error.messageData)|raw -}}
                    </div>
                {% endif %}

                {{ form_row(form._login_email, { label: false, attr: { placeholder: 'E-mail', autocapitalize: 'off' } }) }}
                {{ form_row(form._login_password, { label: false, attr: { placeholder: 'Mot de passe' } }) }}

                <div class="mb-4">
                    <a href="{{ path('app_renaissance_forgot_password') }}" class="form__forgotten-pw">Mot de passe oublié ?</a>
                </div>

                <div>
                    <button type="submit" class="w-full rounded py-5 bg-white text-dark-blue font-din font-bold text-base uppercase text-center">Connexion</button>
                </div>
            {{ form_end(form) }}
        </div>
    </section>
{% endblock %}
