{% extends 'renaissance/double_columns_layout.html.twig' %}

{% block title 'Connectez-vous avec vos identifiants' %}

{% form_theme form 'renaissance/forms/default_form_theme.html.twig' %}

{% block back_btn '' %}

{% block content_left_side %}
    {% include 'renaissance/partials/left-side-content.html.twig' %}
{% endblock %}

{% block content_right_side %}
    <section class="flex flex-grow items-center justify-center p-5">
        <div class="w-96">
            {{ form_start(form) }}
                {{ form_errors(form) }}

                {{ form_row(form.password.first, { label: 'Nouveau mot de passe', attr: { placeholder: false } }) }}
                {{ form_row(form.password.second, { label: 'Confirmation', attr: { placeholder: false } }) }}

                <div>
                    {{ form_widget(form.submit, { label: 'Créer mon mot de passe', defaultClass: false, attr: { class: 'button button-blue button-full' } }) }}
                </div>

                {{ form_rest(form) }}
            {{ form_end(form) }}
        </div>
    </section>
{% endblock %}
