{% extends 'renaissance/double_columns_layout.html.twig' %}

{% block title 'Connectez-vous avec vos identifiants' %}

{% form_theme form 'renaissance/form_theme.html.twig' %}

{% block content_right_side %}
    <section class="self-center w-full">
        {{ form_start(form) }}
            {{ form_errors(form) }}
            <div>
                {{ form_errors(form.password) }}
                {{ form_errors(form.password.first) }}
                {{ form_widget(form.password.first, { attr: { class: 'form--full', placeholder: "Nouveau mot de passe" } }) }}
                {{ form_widget(form.password.second, { attr: { class: 'form--full', placeholder: "Confirmation" } }) }}
            </div>

            <div>
                {{ form_widget(form.submit, { label: 'Créer mon mot de passe', defaultClass: false, attr: { class: 'w-full rounded py-5 bg-white text-dark-blue font-din font-bold text-base uppercase text-center' } }) }}
            </div>

            {{ form_rest(form) }}
        {{ form_end(form) }}
    </section>
{% endblock %}

