{% extends 'security/renaissance_layout.html.twig' %}

{% block title 'Connectez-vous avec vos identifiants' %}

{% block security_block_title %}
    Je me connecte à <span class="text-ui_blue-50">mon espace</span>
{% endblock %}

{% block security_content %}
    {{ form_start(form, { action: path('app_user_login_check', { app_domain: app_renaissance_host }), attr: { class: 'grid grid-cols-1 gap-6 lg:gap-4 w-[280px] lg:w-[420px]' } }) }}
        {% if error %}
            <twig:Atoms:ReParagraphStatus status="error" icon="error">
                {{- error.messageKey|trans(error.messageData)|raw -}}
            </twig:Atoms:ReParagraphStatus>
        {% endif %}

        {{ form_row(form._login_email, {
            attr: {
                placeholder: 'Adresse mail',
                validate:"['required']",
                autocomplete: 'email',
            }, label: false}) }}

        {{ form_row(form._login_password, { attr: {
            placeholder: 'Mot de passe',
            validate:"['required']",
        }, label: false }) }}

        {{ form_row(form._remember_me, { label: 'Se souvenir de moi' }) }}

        <twig:Molecules:ReButton
            color="blue"
            value="Me connecter"
            class="w-full"
        />
    {{ form_end(form) }}

    <div class="grid grid-cols-1 gap-6 lg:gap-10 mt-6 lg:mt-10">
        <div class="flex justify-between">
            <a href="{{ path('app_adhesion_index') }}" class="font-maax hover:underline text-ui_blue-50 text-[13px] lg:text-base font-normal tracking-tight">Devenir adhérent</a>
            <a href="{{ path('app_renaissance_forgot_password') }}" class="font-maax hover:underline text-ui_blue-50 text-[13px] lg:text-base font-normal tracking-tight">Mot de passe oublié ?</a>
        </div>

        <hr />

        <twig:Molecules:ReButton
            tag="a"
            href="{{ path('app_user_get_magic_link') }}"
            value="Me connecter avec un lien"
            class="text-sm lg:text-base"
            icon="link-circle"
            stroke
        />

        <p class="text-center text-[13px] lg:text-base font-normal">
            {% include 'renaissance/partials/contact_info.html.twig' %}
        </p>
    </div>
{% endblock %}
