{% extends 'renaissance/double_columns_layout.html.twig' %}

{% block title 'Réinitialiser mon mot de passe' %}

{% form_theme form 'renaissance/form_theme.html.twig' %}

{% block back_btn_target path('app_renaissance_login') %}

{% block content_right_side %}
    <section class="flex flex-grow items-center justify-center p-5">
        <div class="w-96">
            {{ form_start(form) }}
                <div class="mb-4">
                    Saisissez l'adresse e-mail associée à votre compte, et nous vous enverrons
                    un e-mail afin de réinitialiser votre mot de passe.
                </div>

                <ul class="form">
                    <li>
                        {{ form_errors(form) }}
                    </li>

                    <li>
                        {{ form_errors(form.email) }}
                        {{ form_widget(form.email, {'attr': {'placeholder': 'E-mail'} }) }}
                    </li>

                    <li>
                        <button type="submit" class="w-full rounded py-5 bg-white text-dark-blue font-din font-bold text-base uppercase text-center">Envoyez-moi l'email</button>
                    </li>
                </ul>
            {{ form_end(form) }}
        </div>
    </section>
{% endblock %}
