{% extends 'election_result_list/_layout.html.twig' %}

{% block vote_result_lists_content %}
    {% form_theme form with ['jquery.collection.html.twig'] %}

    {{ form_start(form, { attr: { class: 'em-form' } }) }}

    <h3>Édition des listes</h3>

    <div class="text--right b__nudge--bottom-small">
        <button class="btn btn--blue--soft" type="submit">Sauvegarder</button>
    </div>

    <p class="text--small text--silver-gray">Pour des informations plus détaillées sur les nuances de chaque liste, <a href="https://storage.googleapis.com/en-marche-fr/nuances_officielles_listes.pdf" target="_blank">cliquez ici.</a></p>

    {{ form_errors(form) }}

    <div>
        {{ form_row(form.lists, {label: false, attr: {class: 'vote-result-list-collection'}}) }}
    </div>

    <div class="text--right">
        <button class="btn btn--blue--soft" type="submit">Sauvegarder</button>
    </div>

    {{ form_end(form) }}
{% endblock %}

{% block final_javascripts %}
    <script type="text/javascript" src={{ asset('bundles/sonataadmin/vendor/jquery/dist/jquery.min.js') }}></script>
    <script type="text/javascript" src="{{ asset('js/jquery.collection.js') }}"></script>

    <script type="text/javascript">
        Kernel.onLoad(function() {
            $('.vote-result-list-collection').collection({
                allow_up: false,
                allow_down: false,
                add_at_the_end: true,
                add: '<div class="b__nudge--top-40"><a href="#" class="btn btn-info">+</a></div>',
                remove: false,
                init_with_n_elements: 1,
            });
        });
    </script>
{% endblock %}
