{% extends 'adherent_space/_layout.html.twig' %}

{% block page_title "Mon espace J'écoute" %}

{% block banner '' %}

{% block content %}
    <main class="manager-space manager-body">
        <aside class="manager-sidebar">
            {{ include('jecoute/_sidebar.html.twig') }}
        </aside>

        <section class="manager-content">
            <div class="manager-content__container">
                <div class="text--body">
                    {% block jecoute_content %}{% endblock %}
                </div>
            </div>
        </section>
    </main>
{% endblock %}

{% block adherent_space_header_title %}
    Vous gérez : <span class="text--black text--bold">{{ app.user.jecouteManagedArea.zone }}</span>
{% endblock %}

{% block final_javascripts %}
    {{ parent() }}

    <script type="text/javascript" src={{ asset('bundles/sonataadmin/vendor/jquery/dist/jquery.min.js') }}></script>
    <script type="text/javascript" src={{ asset('bundles/sonataadmin/vendor/jqueryui/ui/jquery-ui.js') }}></script>
{% endblock %}
