{% extends 'candidate/_layout.html.twig' %}

{% block candidate_content %}
    {% form_theme form with ['jquery.collection.html.twig', 'jecoute/_form_theme.html.twig'] %}

    <div class="jecoute-region l__wrapper--slim">
        <div class="form__title b__nudge--bottom-larger">
            <h3 class="text--medium">{{ is_creation ? 'Créer une' : 'Modifier la' }} campagne régionale</h3>
        </div>

        {% if not form.vars.valid %}
            <p class="text--error">Le formulaire est invalide</p>
        {% endif %}

        {{ form_start(form, { attr: { class: 'em-form b__nudge--top-40' } }) }}

        <div class="em-form__group">
            {{ form_errors(form.subtitle) }}
            {{ form_label(form.subtitle, 'Sous-titre', { label_attr: { class: 'em-form__label' } }) }}
            {{ form_widget(form.subtitle, { attr: { class: 'em-form__field committee_event__form__name', placeholder: 'Entrez le sous-titre (120 caractères max.)' } }) }}
        </div>

        <div class="em-form__group">
            {{ form_errors(form.description) }}
            {{ form_label(form.description, 'Description', { label_attr: { class: 'em-form__label' } }) }}
            {{ form_widget(form.description, { attr: { class: 'em-form__field committee_event__form__name', placeholder: 'Entrez la description' } }) }}
        </div>

        <div class="em-form__group">
            {{ form_errors(form.primaryColor) }}
            {{ form_label(form.primaryColor, 'Couleur', { label_attr: { class: 'em-form__label' } }) }}
            {{ form_widget(form.primaryColor) }}
        </div>

        <div class="em-form__group">
            {{ form_label(form.logoFile, 'Logo', { label_attr: { class: 'em-form__label' } }) }}
            <div id="form-file">
                <div class="em-form__file">
                    {{ form_widget(form.logoFile, { attr: { class: 'em-form__file--area' } }) }}
                    {{ form_label(form.logoFile, 'Télécharger une image', { label_attr: { class: 'em-form__file--label text--blue--dark' } }) }}
                    <span class="em-form__file--name">Aucun fichier sélectionné</span>
                    <span id="bad-file-selected" class="em-form__legend em-form--error visually-hidden">Le fichier séléctionné n'est pas autorisé</span>
                </div>
                <div class="em-form__legend">Formats acceptés : tous les formats d'images • Taille max. : 5Mo.</div>
                {{ form_errors(form.logoFile) }}
            </div>
        </div>

        <div class="em-form__group">
            {{ form_label(form.bannerFile, 'Bannière', { label_attr: { class: 'em-form__label' } }) }}
            <div id="form-file">
                <div class="em-form__file">
                    {{ form_widget(form.bannerFile, { attr: { class: 'em-form__file--area' } }) }}
                    {{ form_label(form.bannerFile, 'Télécharger une image', { label_attr: { class: 'em-form__file--label text--blue--dark' } }) }}
                    <span class="em-form__file--name">Aucun fichier sélectionné</span>
                    <span id="bad-file-selected" class="em-form__legend em-form--error visually-hidden">Le fichier séléctionné n'est pas autorisé</span>
                </div>
                <div class="em-form__legend">Formats acceptés : tous les formats d'images • Taille max. : 5Mo.</div>
                {{ form_errors(form.bannerFile) }}
            </div>
        </div>

        <div class="em-form__group em-form__group--cgu">
            <div class="form__checkbox">
                {{ form_errors(form.removeBanner) }}
                {{ form_widget(form.removeBanner, { attr: { class: 'committee_event__form__name' } }) }}
                {{ form_label(form.removeBanner, 'Supprimer la bannière ?') }}
            </div>
        </div>

        <div class="form__row text--center b__nudge--top">
            <button type="submit" class="btn btn--blue btn--large-and-full b__nudge--top">Enregistrer</button>
        </div>

        {{ form_end(form) }}
    </div>
{% endblock %}

{% block final_javascripts %}
    {{ parent() }}

    <script type="text/javascript">
        Kernel.onLoad(function() {
            $('.em-form__file--area').bind('change', (event) => {
                const $input = $(event.currentTarget);
                const selectedFileName = $input.val();
                const $fileName = $input.siblings('.em-form__file--name');
                const $label = $input.siblings('.em-form__file--label');

                if (0 < $input.length && 0 < selectedFileName.length) {
                    $fileName.html(selectedFileName.split('\\').pop());
                    $label.html('Modifier la pièce jointe');
                }
            });
        });
    </script>
{% endblock %}
