{% extends 'jecoute/_layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" type="text/css" href="{{ asset('css/cropper.min.css') }}" />
{% endblock %}

{% block jecoute_content %}
    <div class="jecoute-region l__wrapper--slim">
        <div class="form__title b__nudge--bottom-larger">
            <h3 class="text--medium">{{ is_creation ? 'Créer une' : 'Modifier la' }} personnalisation</h3>
        </div>

        {% if not form.vars.valid %}
            <p class="text--error">Le formulaire est invalide</p>
        {% endif %}

        {{ form_start(form, {attr: {class: 'em-form b__nudge--top-40'}}) }}

        {% if form.zone is defined %}
            <div class="information__modal inf-modl--pale-blue b__nudge--top-50 b__nudge--bottom-large">
                Vous pouvez modifier ici les informations qui s'afficheront aux utilisateurs de l'application,
                dans votre zone<br>
                <br>
                Si vous gérez plusieurs zones, vous devez personnaliser les informations sur chacune d'elles.
            </div>
            <div class="em-form__group em-form__checkbox--inline">
                <label class="em-form__label required">Zone concernée</label>
                {{ form_widget(form.zone, {attr: {class: 'em-form__field committee_event__form__name', placeholder: 'Sélectionner une seule zone'}}) }}
                {{ form_errors(form.zone) }}
            </div>
        {% endif %}

        <div class="em-form__group">
            {{ form_errors(form.subtitle) }}
            {{ form_label(form.subtitle, 'Sous-titre', {label_attr: {class: 'em-form__label'}}) }}
            {{ form_widget(form.subtitle, {attr: {class: 'em-form__field committee_event__form__name', placeholder: 'Entrez le sous-titre (120 caractères max.)'}}) }}
        </div>

        <div class="em-form__group">
            {{ form_errors(form.description) }}
            {{ form_label(form.description, 'Description', {label_attr: {class: 'em-form__label'}}) }}
            {{ form_widget(form.description, {attr: {class: 'em-form__field committee_event__form__name', placeholder: 'Entrez la description'}}) }}
        </div>

        <div class="em-form__group">
            {{ form_errors(form.primaryColor) }}
            {{ form_label(form.primaryColor, 'Couleur', {label_attr: {class: 'em-form__label'}}) }}
            {{ form_widget(form.primaryColor) }}
        </div>

        <div class="em-form__group">
            {{ form_errors(form.externalLink) }}
            {{ form_label(form.externalLink, 'Lien', {label_attr: {class: 'em-form__label'}}) }}
            {{ form_widget(form.externalLink, {attr: {class: 'em-form__field committee_event__form__name', placeholder: 'Entrez le lien externe (facultatif)'}}) }}
        </div>

        {{ form_row(form.logoFile) }}

        {{ form_row(form.bannerFile) }}

        {{ form_row(form.enabled) }}

        <div class="form__row text--center b__nudge--top">
            <button type="submit" class="btn btn--blue btn--large-and-full b__nudge--top">Enregistrer</button>
        </div>

        {{ form_end(form) }}
    </div>
{% endblock %}

{% block final_javascripts %}
    {{ parent() }}

    {% import 'javascript.js.twig' as js %}

    <script type="text/javascript">
        Kernel.onLoad(function() {
            {{ js.init_cropperjs(form.logoFile, 1, 500, 500) }}
            {{ js.init_cropperjs(form.bannerFile, 16 / 9, 960, 540) }}

            {% if form.zone is defined %}
                once(dom('#{{ form.zone.vars.id }}'), 'change', function (event) {
                    window.location.href = window.location.pathname + '?zone_id=' + event.currentTarget.value;
                });
            {% endif %}
        });
    </script>
{% endblock %}
