{% extends 'jecoute/_layout.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/sonataadmin/vendor/jqueryui/themes/base/minified/jquery-ui.min.css') }}" />
{% endblock %}

{% block javascripts %}
    {% import 'javascript.js.twig' as js %}
    {{ parent() }}
    <script type="text/javascript" src={{ asset('bundles/sonataadmin/vendor/jquery/dist/jquery.min.js') }}></script>
    <script type="text/javascript" src={{ asset('bundles/sonataadmin/vendor/jqueryui/ui/jquery-ui.js') }}></script>

    <script type="text/javascript">
        Kernel.onLoad(function() {
            $('.stats-bar')
                .each(function () {
                    $(this)
                        .find('.stats-bar__progress-bar')
                        .animate({
                            width: $(this).attr('data-percent')
                        }, 800);
                })
            ;

            const dataAnswersDialog = $('#data_answers_dialog');

            dataAnswersDialog.dialog({
                modal: true,
                autoOpen: false,
                height: 'auto',
                width: '50%',
                minHeight: 500,
                resizable: false,
                draggable: false,
                position: { my: 'center', at: 'center' },
                dialogClass: 'ui-dialog__middle',
                open: function() {
                    $(this).siblings('.ui-dialog-titlebar')
                        .find('button').blur()
                    ;
                }
            });

            $('.data-answers-open-popin').click(function() {
                let url = "{{ path("app_jecoute_#{space_name}_survey_stats_answers_list", { uuid: 'questionUuid' }) }}";

                $.ajax({
                    url: url.replace('questionUuid', $(this).attr('data-question-uuid'))
                }).then(function(results) {
                     $("#data_answers_dialog .survey-stats-content").html(results);

                     dataAnswersDialog.dialog('open');
                });
            });
        });
    </script>
{% endblock %}

{% block jecoute_content %}
    {% if data.survey.isNational %}
        <a href="{{ path("app_jecoute_#{space_name}_national_surveys_list") }}" class="back-to-list text--blue--dark link--no-decor b__nudge--bottom block">
            ⟵ Retour
        </a>
    {% else %}
        <a href="{{ path("app_jecoute_#{space_name}_local_surveys_list") }}" class="back-to-list text--blue--dark link--no-decor b__nudge--bottom block">
            ⟵ Retour
        </a>
    {% endif %}
    <div class="l__wrapper--slim">
        <div class="form__title b__nudge--bottom-larger">
            <h3 class="text--medium text--center">Statistiques : {{ data.survey.name }}</h3>
        </div>

        <div class="jecoute-survey-stats b__nudge--top-40">
            {% for question in data.questions %}
                <div class="form__row form__new">
                    <label class="label__header--large form form__label">{{ question.content }}</label>
                        {% if question.stats.totalAnswered > 0 %}
                            {% if question.type != constant('AppBundle\\Jecoute\\SurveyQuestionTypeEnum::SIMPLE_FIELD') %}
                                <p class="total-answered b__nudge--top-15">{{ question.stats.totalAnswered }} réponses</p>
                                {% for answer in question.stats.answers %}
                                    <div class="block-stats b__nudge--bottom-small">
                                            <div class="stats-bar" data-percent="{{ answer.percent }}%">
                                                <div class="stats-bar__title"><span class="text--bold">{{ answer.value }}</span></div>
                                                <div class="stats-bar__progress-bar"></div>
                                                <div class="stats-bar__answered text--white text--bold">{{ answer.answered }}</div>
                                            </div>
                                            <div class="stats-percent text--right">
                                                <span>{{ answer.percent|replace({'.' : ','}) }} %</span>
                                            </div>
                                    </div>
                                {% endfor %}
                            {% else %}
                                <div class="b__nudge--top b__nudge--bottom-small">
                                    <a data-question-uuid="{{ question.uuid }}" data-space-name="{{ space_name }}" class="data-answers-open-popin btn-secondary btn-secondary--blue">
                                        Voir les {{ question.stats.totalAnswered }} réponses
                                    </a>
                                </div>
                            {% endif %}
                        {% else %}
                            <p class="text--gray text--small">Aucune donnée n'est disponible pour le moment.</p>
                        {% endif %}
                    <br/>
                    <hr />
                </div>
                <br/>
            {% endfor %}
        </div>

        <div class="form__row text--center">
            <a href="{{ path("app_jecoute_#{space_name}_survey_stats_download", {'uuid': data.survey.uuid}) }}" class="btn btn--ghosting--blue btn--large-and-full">Télécharger au format CSV</a>
        </div>
    </div>

    {% include ('jecoute/data_answers_dialog.html.twig') %}

{% endblock %}
