{% extends '@SonataAdmin/CRUD/base_edit.html.twig' %}

{% import _self as macros %}

{% block sonata_tab_content %}
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-body table-responsive no-padding">
                        <table class="table table-bordered table-striped sonata-ba-list">
                            <thead>
                                <tr class="sonata-ba-list-field-header">
                                    <th class="sonata-ba-list-field-header-text">Ville</th>
                                    <th class="sonata-ba-list-field-header-text">INSEE</th>
                                    <th class="sonata-ba-list-field-header-text">Département</th>
                                    <th class="sonata-ba-list-field-header-text">Région</th>
                                    <th class="sonata-ba-list-field-header-text" width="200px">Population</th>
                                    <th class="sonata-ba-list-field-header-text" width="200px">Priorité</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="sonata-ba-list-field sonata-ba-list-field-text">
                                        {{ object.city }}
                                    </td>
                                    <td class="sonata-ba-list-field sonata-ba-list-field-text">
                                        {{ object.city.inseeCode }}
                                    </td>
                                    <td class="sonata-ba-list-field sonata-ba-list-field-text">
                                        {{ object.city.department }}
                                    </td>
                                    <td class="sonata-ba-list-field sonata-ba-list-field-text">
                                        {{ object.city.department.region }}
                                    </td>
                                    <td class="sonata-ba-list-field sonata-ba-list-field-text">
                                        {{ object.population|number_format(0, ',', ' ') }}
                                    </td>
                                    <td class="sonata-ba-list-field sonata-ba-list-field-text">
                                        {{ form_widget(form.priority)}}
                                        {{ form_errors(form.priority)}}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header">
                        <h4 class="box-title">Candidat / Chef de file</h4>
                    </div>
                    <div class="box-body table-responsive no-padding">
                        <table class="table table-bordered table-striped sonata-ba-list">
                            <tbody>
                                {{ form_row(form.firstCandidate) }}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header">
                        <h4 class="box-title">Résultats</h4>
                    </div>
                    <div class="box-body">
                        {% set results = get_aggregated_city_results(object.city) %}

                        <ul class="nav nav-tabs" id="results-tabs" role="tablist">
                            <li role="presentation"{% if results.isMinistryResult %} class="active"{% endif %}>
                                <a href="#ministry-results" id="ministry-results-tab" role="tab" data-toggle="tab" aria-controls="ministry-results" aria-expanded="{{ results.isMinistryResult ? 'true' : 'false' }}">
                                    Ministère
                                </a>
                            </li>
                            <li role="presentation"{% if results.isCityResult %} class="active"{% endif %}>
                                <a href="#city-results" role="tab" id="city-results-tab" data-toggle="tab" aria-controls="city-results" aria-expanded="{{ results.isCityResult ? 'true' : 'false' }}">
                                    Ville
                                </a>
                            </li>
                            <li role="presentation"{% if results.isVotePlacesResults %} class="active"{% endif %}>
                                <a href="#vote-places-results" role="tab" id="vote-places-results-tab" data-toggle="tab" aria-controls="vote-places-results" aria-expanded="{{ results.isVotePlacesResults ? 'true' : 'false' }}">
                                    Bureaux
                                </a>
                            </li>
                        </ul>
                        <div class="tab-content" id="results-tabs-content">
                            <div class="tab-pane fade {% if results.isMinistryResult %}active {% endif %}in table-responsive" role="tabpanel" id="ministry-results" aria-labelledby="ministry-results-tab">
                                {% if results.ministryVoteResult %}
                                    {{ macros.display_results_lists(results.ministryLists) }}
                                    {{ macros.display_results_totals(results.totals) }}
                                {% else %}
                                    <p class="text-center">
                                        <b>Aucun résultat remonté par le Ministère</b>
                                    </p>
                                {% endif %}
                            </div>
                            <div class="tab-pane fade {% if results.isCityResult %}active {% endif %}in table-responsive" role="tabpanel" id="city-results" aria-labelledby="city-results-tab">
                                {% if results.cityVoteResult %}
                                    {{ macros.display_results_lists(results.cityLists) }}
                                    {{ macros.display_results_totals(results.totals) }}
                                {% else %}
                                    <p class="text-center">
                                        <b>Aucun résultat remonté au niveau communal</b>
                                    </p>
                                {% endif %}
                            </div>
                            <div class="tab-pane fade {% if results.isVotePlacesResults %}active {% endif %}in table-responsive" role="tabpanel" id="vote-places-results" aria-labelledby="vote-places-results-tab">
                                {% if results.votePlacesResults|length > 0 %}
                                    {{ macros.display_results_lists(results.votePlacesLists) }}
                                    {{ macros.display_results_totals(results.totals) }}
                                {% else %}
                                    <p class="text-center">
                                        <b>Aucun résultat remonté pour les bureaux de vote</b>
                                    </p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header">
                        <h4 class="box-title">Deuxième tour</h4>
                    </div>
                    <div class="box-body table-responsive no-padding">
                        <table class="table table-bordered table-striped sonata-ba-list">
                            <thead>
                                <tr class="sonata-ba-list-field-header">
                                    <th class="sonata-ba-list-field-header-text"></th>
                                    <th class="sonata-ba-list-field-header-text">Stratégie</th>
                                    <th class="sonata-ba-list-field-header-text">Prénom</th>
                                    <th class="sonata-ba-list-field-header-text">Nom</th>
                                    <th class="sonata-ba-list-field-header-text">Alliances</th>
                                    <th class="sonata-ba-list-field-header-text">Alliés</th>
                                    <th class="sonata-ba-list-field-header-text">Validé par</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{ form_row(form.preparationPrevision) }}
                                {{ form_row(form.candidatePrevision) }}
                                {{ form_row(form.nationalPrevision) }}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <div class="box box-primary">
                    <div class="box-header">
                        <h4 class="box-title">Partenaires</h4>
                    </div>
                    <div class="box-body no-padding">
                        {{ form_row(form.partners, { label: false }) }}
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="box box-primary">
                    <div class="box-header">
                        <h4 class="box-title">
                            Suivi / Pilotage
                        </h4>

                        {% if is_granted('ROLE_ADMIN_ELECTION_CITY_CARD_MANAGERS') %}
                            <a href="{{ path('admin_app_election_citycard_managers_edit', { id: object.id }) }}" target="_blank">
                                <span class="fa fa-external-link"></span>
                            </a>
                        {% endif %}
                    </div>
                    <div class="box-body table-responsive no-padding">
                        <table class="table table-bordered table-striped sonata-ba-list">
                            <tbody>
                            <tr>
                                <td class="sonata-ba-list-field sonata-ba-list-field-text">Siège</td>
                                <td class="sonata-ba-list-field sonata-ba-list-field-text">
                                    {{ macros.display_manager(object.headquartersManager) }}
                                </td>
                            </tr>
                            <tr>
                                <td class="sonata-ba-list-field sonata-ba-list-field-text">Politique</td>
                                <td class="sonata-ba-list-field sonata-ba-list-field-text">
                                    {{ macros.display_manager(object.politicManager) }}
                                </td>
                            </tr>
                            <tr>
                                <td class="sonata-ba-list-field sonata-ba-list-field-text">Task force</td>
                                <td class="sonata-ba-list-field sonata-ba-list-field-text">
                                    {{ macros.display_manager(object.taskForceManager) }}
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header">
                        <h4 class="box-title">Personnes à contacter</h4>
                    </div>
                    <div class="box-body no-padding">
                        {{ form_row(form.contacts, { label: false }) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    <style type="text/css">
        .sonata-collection-row-without-label .field-container span:nth-child(2) .sonata-ba-action {
            margin-left: 10px;
        }

        #results-tabs-content {
            padding-top: 20px;
        }
    </style>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript">
        $('#results-tabs a').click(function (e) {
            e.preventDefault()
            $(this).tab('show')
        })
    </script>
{% endblock %}

{% macro display_manager(manager) %}
    {% if manager %}
        {{ manager.fullName }}
        {% if manager.phone %}
            <br>
            <a href="tel:{{ manager.phone|phone_number_format }}">
                {{ manager.phone|phone_number_format }}
            </a>
        {% endif %}
    {% endif %}
{% endmacro %}

{% macro display_results_lists(lists) %}
    <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered table-striped sonata-ba-list">
                <thead>
                    <tr class="sonata-ba-list-field-header">
                        <th class="sonata-ba-list-field-header-text">#</th>
                        <th class="sonata-ba-list-field-header-text">Liste</th>
                        <th class="sonata-ba-list-field-header-text">Nuance</th>
                        <th class="sonata-ba-list-field-header-text">Résultat</th>
                    </tr>
                </thead>
                <tbody>
                    {% for index,list in lists %}
                        <tr class="{{ 10 <= list.percent ? 'success' : 5 < list.percent ? 'warning' : 'danger' }}">
                            <td class="sonata-ba-list-field sonata-ba-list-field-text">
                                {{ index + 1 }}
                            </td>
                            <td class="sonata-ba-list-field sonata-ba-list-field-text">
                                {{ list.name }}
                            </td>
                            <td class="sonata-ba-list-field sonata-ba-list-field-text">
                                {{ list.nuance }}
                            </td>
                            <td class="sonata-ba-list-field sonata-ba-list-field-text">
                                <b>{{ list.percent }}%</b> ({{ list.total }})
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="4" class="sonata-ba-list-field sonata-ba-list-field-text text-center">
                                <b>Aucun résultat de liste remonté</b>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endmacro %}

{% macro display_results_totals(totals) %}
    <hr>
    <div class="row">
        <div class="col-md-6">
            <table class="table table-bordered table-striped sonata-ba-list">
                <tbody>
                    <tr>
                        <th class="sonata-ba-list-field-header-text">Inscrits</th>
                        <td class="sonata-ba-list-field sonata-ba-list-field-text">
                            {{ totals.registered }}
                        </td>
                    </tr>
                    <tr>
                        <th class="sonata-ba-list-field-header-text">Abstentions</th>
                        <td class="sonata-ba-list-field sonata-ba-list-field-text">
                            {{ totals.abstentions }}
                        </td>
                    </tr>
                    <tr>
                        <th class="sonata-ba-list-field-header-text">Participations</th>
                        <td class="sonata-ba-list-field sonata-ba-list-field-text">
                            {{ totals.participated }}
                        </td>
                    </tr>
                    <tr>
                        <th class="sonata-ba-list-field-header-text">Exprimés</th>
                        <td class="sonata-ba-list-field sonata-ba-list-field-text">
                            {{ totals.expressed }}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-6">
            <table class="table table-bordered table-striped sonata-ba-list">
                <tbody>
                    <tr>
                        <th class="sonata-ba-list-field-header-text">Dernière remontée</th>
                        <td class="sonata-ba-list-field sonata-ba-list-field-text">
                            le {{ totals.updatedAt|localizeddate('none', 'none', 'fr_FR', null, "d MMM yyyy à HH:mm") }}
                            {% if totals.updatedBy is instanceof('AppBundle\\Entity\\Adherent') %}
                                <br/>par
                                <a href="{{ path('admin_app_adherent_edit', { id: totals.updatedBy.id }) }}" target="_blank">
                                    {{ totals.updatedBy.fullName }}
                                </a>
                            {% endif %}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endmacro %}
