{% extends '@SonataAdmin/CRUD/base_list_field.html.twig' %}

{% block field %}
    {% if object.isAdherent %}
        {% if is_granted('ROLE_APP_ADMIN_ADHERENT_EDIT') %}
            <a href="{{ path('admin_app_adherent_edit', {id: object.adherent.id}) }}">
                {{ object.adherent }}
            </a>
        {% elseif is_granted('ROLE_APP_ADMIN_ADHERENT_VIEW') %}
            <a href="{{ path('admin_app_adherent_show', {id: object.adherent.id}) }}">
                {{ object.adherent }}
            </a>
        {% else %}
            {{ object.adherent }}
        {% endif %}

        {% if object.adherent.phone %}
            <br>
            <a href="tel:{{ object.adherent.phone|phone_number_format }}">
                {{ object.adherent.phone|phone_number_format }}
            </a>
        {% endif %}
    {% else %}
        <span class="label label-danger">Non</span>
    {% endif %}
{% endblock %}
