{% extends 'base.html.twig' %}

{% block banner '' %}
{% block page_title article.title %}
{% block meta_description article.description %}

{% block canonical_url url('app_formation_article', { 'slug': article.slug }) %}

{% block final_javascripts include('bot/_javascript.html.twig') %}

{% block base_stylesheets %}
    {{ parent() }}

    <link href="{{ asset('css/emoji.min.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
    <main class="content espace-formation">
        <section class="espace-formation__article">
            <nav class="space--20-0 text--body">
                <div class="l__wrapper">
                    <a href="{{ path('app_formation_axe', { 'slug': article.axe.slug }) }}">
                        Ma formation
                    </a>
                    {{ include('components/chevron--right.html.twig') }}
                    <a href="{{ path('app_formation_axe', { 'slug': article.axe.slug }) }}">
                        Axe : <span>{{ article.axe.title }}</span>
                    </a>
                    {{ include('components/chevron--right.html.twig') }}
                    <div>{{ article.title }}</div>
                </div>
            </nav>

            <article class="l__wrapper--slim">
                {{ article.content|markdown }}
            </article>
        </section>
    </main>
{% endblock %}
