{% extends 'base.html.twig' %}

{% block banner '' %}
{% block page_title axe.title %}
{% block meta_description axe.description %}

{% block canonical_url url('app_formation_axe', { 'slug': axe.slug }) %}

{% block base_stylesheets %}
    {{ parent() }}

    <link href="{{ asset('css/emoji.min.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
    <main class="content espace-formation">
        <section class="espace-formation__axis">
            <nav class="space--20-0 text--body">
                <div class="l__wrapper">
                    <a href="{{ path('app_formation_home') }}">
                        Ma formation
                    </a>
                    {{ include('components/chevron--right.html.twig') }}
                    <div>Axe : <span>{{ axe.title }}</span></div>
                </div>
            </nav>

            <article class="l__wrapper--slim">
                {{ axe.content|markdown }}
            </article>

            <div class="espace-formation__axis__cases l__wrapper--slim b__nudge--top">
                <ol>
                    {% for article in axe.articles %}
                        <li>
                            <a href="{{ path('app_formation_article', { 'slug': article.slug }) }}"
                               class="link--no-decor">
                                <div class="text--medium">{{ article.title }}</div>
                                <div class="button">
                                   {{ include('components/chevron--right.html.twig') }}
                               </div>
                            </a>
                        </li>
                    {% endfor %}
                </ol>
            </div>
        </section>
    </main>
{% endblock %}
