{% extends 'formation/layout.html.twig' %}

{% block page_title page.title %}
{% block meta_description page.description %}
{% block meta_twitter_description page.twitterDescription ?: page.description %}
{% block canonical_url url('app_formation_home') %}

{% block content__inner %}
<section class="espace-formation">

    <header class="space--40-0">
        <div class="l__wrapper--slim text--center">
            <h1 class="text--large text--inline text--on-white">
                <span class="text--blue--new">{{ app.user.firstname }}</span>, {{ page.title }}
            </h1>
        </div>
    </header>

    <div class="l__wrapper--slim">
        <div class="espace-formation__intro text--body">
            {{ page.content|raw }}
        </div>
    </div>

    <div class="l__wrapper--slim espace-formation__cases">
        <ol>
            {% for keyAxe, axe in axes %}
            <li>
                <h2 class="text--medium-small" style="padding:80px 0 0 30px;">{{ axe.title }}</h2>
            </li>
                {% for keyArticle, article in axe.articles %}
                    <a href="{{ path('app_formation_article', { 'slug': article.slug }) }}">
                        <strong>M{{ keyAxe+1 }}.{{ keyArticle }} -</strong> {{ article.title }}
                    </a>
                {% endfor %}
            {% endfor %}
        </ol>
    </div>
</section>
{% endblock %}
