{% extends 'formation/layout.html.twig' %}

{% block page_title page.title %}
{% block meta_description page.description %}
{% block meta_twitter_description page.twitterDescription ?: page.description %}
{% block canonical_url url('app_formation_home') %}

{% block content__inner %}
<section class="l__wrapper">
    <div class="espace-formation__head">
        <div class="espace-formation__head--container">
            <h1 class="espace-formation__head--title text--large">
                <span class="text--blue">{{ app.user.firstname }}</span>, bienvenue dans<br> votre parcours formation.
            </h1>
        </div>
    </div>

    <div class="espace-formation__intro">
        {{ page.content|raw }}
    </div>

    {% for path in paths %}
        <div class="espace-formation__sct">
            <div class="espace-formation__descr b__nudge--top-60 b__nudge--bottom-60">
                <h2 class="text--medium b__nudge--bottom-medium">{{ path.title }}</h2>
                <p>{{ path.description }}</p>
            </div>
            <div class="espace-formation__cases">
                {% for axe in path.axes %}
                    <div class="espace-formation__case espace-formation__case--{{ loop.index }}">
                        <ul>
                            <span class="espace-formation__case--number">Axe {{ loop.index }}</span>
                            <h2 class="espace-formation__case--title">{{ axe.title }}</h2>
                            {% for module in axe.modules %}
                            <li>
                                <a class="espace-formation__module" href="{{ path('app_formation_module', { 'slug': module.slug }) }}">
                                    <strong>M{{ loop.parent.loop.index }}.{{ loop.index0 }} -</strong> {{ module.title }}
                                </a>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endfor %}
</section>
{% endblock %}
