{% extends 'formation/layout.html.twig' %}

{% block banner '' %}
{% block page_title module.title %}
{% block meta_description module.description %}

{% block canonical_url url('app_formation_module', { 'slug': module.slug }) %}

{% block base_stylesheets %}
    {{ parent() }}

    <link href="{{ asset('css/emoji.min.css') }}" rel="stylesheet">
{% endblock %}

{% block content__inner %}

    <div class="l__wrapper b__nudge--top-50">
        <a href="{{ path('app_formation_home') }}" class="espace-formation__go-back">
            <img src="{{ asset('/images/icons/icn_go-back-left-arrow.svg') }}" />
        </a>
    </div>

    <section class="espace-formation__article">
        <article class="l__wrapper--slim">
            {{ module.content|markdown }}

            {% if module.files|length > 0 %}
                <h2>Contenus du module</h2>
                <ul>
                    {% for file in module.files %}
                        <li>
                            <a href="{{ path('asset_url', { path: file.path, mime_type: 'application/pdf' }) }}"
                               target="_blank" class="text--blue link--no-decor">{{ file.title }}</a> (pdf)
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </article>
    </section>
{% endblock %}
