{% extends 'coalition/_layout.html.twig' %}

{% block coalition_content %}
    <div class="datagrid__pre-table b__nudge--bottom-larger">
        <h3>Causes</h3>
    </div>

    <div class="manager__filters">
        <div class="manager__filters__form">
            {{ form_start(form) }}

            {{ form_errors(form) }}

            <h4 class="manager__filters__subtitle">Filtrer par</h4>

            <div class="filter__row">
                <label class="filter__label">Statut</label>
                {{ form_widget(form.status, {placeholder: 'Tous les status', attr: {class: 'filter__field' }}) }}
                {{ form_errors(form.status) }}
            </div>

            <div class="manager__filters__actions b__nudge--top">
                <button type="submit" class="btn btn--black b__nudge--bottom-medium">Filtrer</button>
                <a href="" class="btn btn--no-border b__nudge--bottom-medium btn-filter--reset">Réinitialiser le filtre</a>
            </div>

            {{ form_end(form) }}
        </div>
    </div>

    <div class="datagrid">
        <div class="l__row datagrid__action datagrid__action--sticky-scroll actions-wrapper"></div>

        <div class="b__nudge--bottom-larger">
            <div class="datagrid__table-container">
                <table class="datagrid__table-manager">
                    <thead>
                    <tr>
                        <th width="50" class="space--20"><input type="checkbox" id="items-check-all" /></th>
                        <th>Objectif de la cause</th>
                        <th style="width: 150px;">Porteur(se) de la cause</th>
                        <th style="width: 100px;">Image</th>
                        <th>Coalitions</th>
                        <th>Description</th>
                        <th style="width: 120px;">Date de création</th>
                        <th style="width: 90px;">Statut</th>
                        <th style="width: 90px;">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for cause in causes %}
                        <tr class="event__item">
                            <td><input type="checkbox" name="items[]" value="{{ cause.id }}" /></td>
                            <td>{{ cause.name }}</td>
                            <td class="adherent-identity">
                                {% if cause.author %}
                                    <div class="adherent-name">
                                        {{ cause.author.firstName }} ({{ cause.author.cityName }})
                                    </div>
                                    <div class="adherent-caracs">
                                        {{ cause.author.emailAddress }}
                                    </div>
                                {% endif %}
                            </td>
                            <td>
                                {% if cause.hasImageName %}
                                    <div class="avatar avatar--small avatar--style-01">
                                        <img src="{{ path('asset_url', { path: cause.getImagePath }) }}" alt="image">
                                    </div>
                                {% endif %}
                            </td>
                            <td>{{ cause.coalition }}{{ cause.secondCoalition ? (','~cause.secondCoalition) : ''}}</td>
                            <td>
                                {{ cause.description|length > 1000 ? cause.description|slice(0, 1000) ~ '...' : cause.description }}
                            </td>
                            <td>{{ cause.createdAt|date('d/m/Y H:i') }}</td>
                            <td><span class="status status__{{ cause.status }}">{{ ('cause.'~cause.status)|trans }}</span></td>
                            <td>
                                <a href="{{ path('app_coalition_cause_edit', {'slug': cause.slug}) }}"
                                   title="Modifier"
                                   class="promote-host-link text--blue--dark link--no-decor">
                                    Modifier
                                </a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="9" class="text--center">
                                <img src="{{ asset('/images/icons/icn_no-result.svg') }}" class="icn--no-result" width="30" />
                                Aucun résultat
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        {% include 'components/_modern_pagination.html.twig' with {
            current_page: causes.currentPage,
            total_pages: causes.lastPage,
            pagination_route_params: {f: filter.toArray()},
        } %}
    </div>
{% endblock %}

{% block final_javascripts %}
    {{ parent() }}

    {% if causes.count %}
        <script type="text/javascript">
            {% set actions = [
                { name: 'Approuver', path: path('app_coalition_approve_causes'), method: 'post' },
                { name: 'Refuser', path: path('app_coalition_refuse_causes'), method: 'post' },
            ] %}

            Kernel.onLoad(function() {
                App.runBatchActions(
                    '.actions-wrapper',
                    'input[name="items[]"]',
                    '#items-check-all',
                    {{ actions|json_encode|raw }}
                );
            });
        </script>
    {% endif %}
{% endblock %}
