{% extends 'admin/layout.html.twig' %}

{% block sonata_head_title 'Adhésions par département' %}

{% block javascripts %}
    {{ parent() }}

    <script src="https://cdn.datatables.net/1.13.8/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.8/js/dataTables.bootstrap.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.4.2/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.html5.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>

    <script>
        $(document).ready(function() {
            $('.dataTable').DataTable({
                language: {
                    url: "//cdn.datatables.net/plug-ins/1.10.20/i18n/French.json"
                },
                scrollX: true,
                searching: false,
                paging: false,
                dom: 'frt<"table-footer"iB>',
                buttons: [
                    {
                        extend: 'excelHtml5',
                        className: 'btn btn-default',
                        filename: 'Adhésions par département {{ current_year }}',
                        title: null,
                    },
                    {
                        extend: 'csvHtml5',
                        className: 'btn btn-default',
                        filename: 'Adhésions par département {{ current_year }}',
                        title: null,
                    }
                ]
            });
        });
    </script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.8/css/dataTables.bootstrap.min.css" />

    <style>
        .table-footer {
            display: flex;
            justify-content: space-between;
            margin: 10px 0;
        }
    </style>
{% endblock %}

{% set current_year = 'now'|date('Y') %}

{% block sonata_page_content_header %}
    <h1>
        Adhésions par département pour l'année <strong>{{ current_year }}</strong>
    </h1>
{% endblock %}

{% block sonata_admin_content %}
    {% set first = stats_per_department|first %}

    <div class="row">
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
                <span class="info-box-icon bg-green"><i class="fa fa-check"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text">À jour {{ current_year }}</span>
                    <span class="info-box-number">{{ first['total_year_n'] }}</span>
                </div>
            </div>
        </div>

        {% set percentPrimo = first['total_year_n'] > 0 ? (first['total_primo'] * 100.0 / first['total_year_n']) : 0 %}
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box bg-aqua">
                <span class="info-box-icon"><i class="fa fa-user-plus"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text">Primo adhésion</span>
                    <span class="info-box-number">{{ first['total_primo'] }}</span>
                    <div class="progress">
                        <div class="progress-bar" style="width: {{ percentPrimo }}%"></div>
                    </div>
                    <span class="progress-description">
                        {{ percentPrimo|number_format(1, ',', ' ')|replace({',0': ''}) }} %
                    </span>
                </div>
            </div>
        </div>

        {% set percentReadhesion = first['total_year_n'] > 0 ? (first['total_recotisation'] * 100.0 / first['total_year_n']) : 0 %}
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box bg-yellow">
                <span class="info-box-icon"><i class="fa fa-retweet"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text">Recotisation</span>
                    <span class="info-box-number">{{ first['total_recotisation'] }}</span>
                    <div class="progress">
                        <div class="progress-bar" style="width: {{ percentReadhesion }}%"></div>
                    </div>
                    <span class="progress-description">
                        {{ percentReadhesion|number_format(1, ',', ' ')|replace({',0': ''}) }} %
                    </span>
                </div>
            </div>
        </div>

        {% set percentElu = first['total_year_n'] > 0 ? (first['total_elu'] * 100.0 / first['total_year_n']) : 0 %}
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box bg-green">
                <span class="info-box-icon"><i class="fa fa-institution"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text">À jour de cotisation élu</span>
                    <span class="info-box-number">{{ first['total_elu'] }}</span>
                    <div class="progress">
                        <div class="progress-bar" style="width: {{ percentElu }}%"></div>
                    </div>
                    <span class="progress-description">
                        {{ percentElu|number_format(1, ',', ' ')|replace({',0': ''}) }} %
                    </span>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-body">
                    <div class="dataTables_wrapper form-inline dt-bootstrap">
                        <div class="row">
                            <div class="col-sm-12">
                                <table class="table table-bordered table-hover dataTable">
                                    <thead>
                                        <tr role="row">
                                            <th class="sorting">Région</th>
                                            <th class="sorting">Code</th>
                                            <th class="sorting">Département</th>
                                            <th class="sorting">{{ 'adherent.tag.sympathisant'|trans }}</th>
                                            <th class="sorting">{{ 'adherent.tag._label_.a_jour_%s'|trans({year: current_year - 3}) }}</th>
                                            <th class="sorting">{{ 'adherent.tag._label_.a_jour_%s'|trans({year: current_year - 2}) }}</th>
                                            <th class="sorting">{{ 'adherent.tag._label_.a_jour_%s'|trans({year: current_year - 1}) }}</th>
                                            <th class="sorting">{{ 'adherent.tag._label_.a_jour_%s'|trans({year: current_year}) }}</th>
                                            <th class="sorting">{{ 'adherent.tag._label_.primo'|trans({current_year: ''}) }}</th>
                                            <th class="sorting">{{ 'adherent.tag._label_.recotisation'|trans({current_year: ''}) }}</th>
                                            <th class="sorting">{{ 'adherent.tag._label_.elu_a_jour'|trans }}</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        {% for stats in stats_per_department[1:] %}
                                            <tr>
                                                {% for value in stats %}
                                                    <td class="{{ not value ? 'text-muted' }}">{{ value == null and loop.index > 2 ? 0 : value }}</td>
                                                {% endfor %}
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
