{% extends 'base.html.twig' %}

{% block title 'La République En Marche ! Le mouvement fondé par Emmanuel Macron' %}

{% block meta_description 'Site officiel de La République En Marche : retrouvez toute l’actualité du mouvement fondé par Emmanuel Macron. Articles, vidéos... Abonnez-vous à notre newsletter !' %}
{% block open_graph_title 'La République En Marche !' %}
{% block content %}
    <main>
        <section class="l__wrapper">
            <div class="l__row l__tablet--col l__row--v-stretch">
                {% if blocks[0].media and blocks[0].media.video %}
                    {% include 'video.html.twig' with {'block': blocks[0], 'width': 1200 } %}
                {% else %}
                    <a href="{{ blocks[0].link }}" class="card card__background card--large card--large__desktop l__hide--on-tablet l__col--bottom {{ blocks[0].hasDisplayFilter ? '' : ' card--no-gradient' }}"
                       style="background-image: url('{{ media_asset(blocks[0].media, {'w': 1200, 'q': 70}) }}'); height: 370px;">
                        <div class="background">
                            <div class="content">
                                {% if blocks[0].hasDisplayTitles %}
                                    <h1 class="text--large b__nudge--bottom-small">{{ blocks[0].title }}</h1>
                                    <div class="text--body">{{ blocks[0].subtitle }}</div>
                                {% endif %}
                                <div class="btn btn--no-border">Découvrir</div>
                            </div>
                        </div>
                    </a>
                    <div class="card card--large card--large__tablet l__hide--on-desktop {{ blocks[0].hasDisplayFilter ? '' : ' card--no-gradient' }}">
                        <a href="{{ blocks[0].link }}" class="background-container">
                            <div class="background card__background"
                                 style="background-image: url('{{ media_asset(blocks[0].media, {'w': 1200, 'q': 70}) }}')"></div>
                        </a>
                        {% if blocks[0].hasDisplayTitles %}
                            <a class="content" href="{{ blocks[0].link }}">
                                <h2>{{ blocks[0].title }}</h2>
                                <p class="text--summary">{{ blocks[0].subtitle }}</p>
                            </a>
                        {% endif %}
                    </div>
                {% endif %}

                <a href="{{ blocks[1].link }}" class="topstory-side card card--large-secondary l__col l__col--bottom space--30 card__background"
                     style="background-image: url('{{ media_asset(blocks[1].media, {'w': 1000, 'q': 70}) }}');">
                    <div class="background">
                        <div class="content">
                            <h2 class="text--large text--italic text--white">{{ blocks[1].title }}</h2>
                            <p class="text--white text--summary">{{ blocks[1].subtitle }}</p>
                            <div class="btn btn--no-border">Voir</div>
                        </div>
                    </div>
                </a>
            </div>

            <div class="content b__nudge--top">
                <article class="l__row l__row--v-stretch l__tablet--col">
                    <div class="action action__home {{ blocks[9].bgColor|default('black') }}">
                        {% if blocks[9].media and blocks[9].media.video %}
                            {% include 'video.html.twig' with {'block': blocks[9], 'width': 550 } %}
                        {% else %}
                            <p class="{{ blocks[9].colorCta }}">{{ blocks[9].title }}</p>
                            <a href="{{ blocks[9].link }}" class="{{ blocks[9].colorCta }}">
                                {{ blocks[9].titleCta }}
                            </a>
                        {% endif %}
                    </div>
                    <div class="action action__home {{ blocks[10].bgColor|default('black') }}">
                        {% if  blocks[10].media and blocks[10].media.video %}
                            {% include 'video.html.twig' with {'block': blocks[10], 'width': 550 } %}
                        {% else %}
                            <p class="{{ blocks[10].colorCta }}">{{ blocks[10].title }}</p>
                            <a href="{{ blocks[10].link }}" class="{{ blocks[10].colorCta }}" target="_blank" rel="noreferrer noopener">
                                {{ blocks[10].titleCta }}
                            </a>
                        {% endif %}
                    </div>
                </article>
            </div>

            <ul class="list__links list__links--row list__links--no-decor list__links--svgs l__hide--on-mobile space--35-15">
                <li class="head">Suivez La République En Marche !</li>
                <li>
                    <a href="https://www.facebook.com/EnMarche" target="_blank" rel="noopener noreferrer">
                        <i class="fa fa-facebook-square"></i>
                    </a>
                </li>
                <li>
                    <a href="https://twitter.com/enmarchefr" target="_blank" rel="noopener noreferrer">
                        <i class="fa fa-twitter"></i>
                    </a>
                </li>
                <li>
                    <a href="https://www.instagram.com/enmarchefr/" target="_blank" rel="noopener noreferrer">
                        <i class="fa fa-instagram"></i>
                    </a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/company/en-marche" target="_blank" rel="noopener noreferrer">
                        <i class="fa fa-linkedin-square"></i>
                    </a>
                </li>
                <li>
                    <a href="https://www.youtube.com/channel/UCJw8np695wqWOaKVhFjkRyg" target="_blank" rel="noopener noreferrer">
                        <i class="fa fa-youtube-square"></i>
                    </a>
                </li>
                <li>
                    <a href="https://www.flickr.com/photos/enmarchefr/albums" target="_blank" rel="noopener noreferrer">
                        <i class="fa fa-flickr"></i>
                    </a>
                </li>
                <li>
                    <a href="https://t.me/enmarchefr" rel="noopener noreferrer" target="_blank">
                        <i class="fa fa-telegram"></i>
                    </a>
                </li>
                <li>
                    <a href="{{ url('articles_feed') }}" target="_blank" rel="noopener noreferrer">
                        <i class="fa fa-rss"></i>
                    </a>
                </li>
            </ul>

            <div class="l__wrapper space--5-20 l__row l__row--center l__hide--on-tablet">
                <div class="icon--with-text text--uppercase text--bold b__nudge--right">
                    {{ include('components/lightening-bolt.html.twig') }}
                    En Direct
                </div>

                <ul class="list__links list__links--row">
                    {% for live_link in live_links %}
                        <li><a href="{{ live_link.link }}">{{ live_link.title }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </section>

        <section class="l__wrapper b__nudge--bottom-larger">
            <ul class="l__row l__row--wrap l__row--top space--20-0 l__row--h-stretch-around l__mobile--col">
                {% for block in blocks|slice(2,6) %}
                {{ include('home/articles.html.twig') }}
                {% endfor %}
            </ul>
            <div class="l__row l__row--center b__nudge--bottom-large">
                <a href="{{ path('articles_list', {'category': 'actualites'}) }}" class="btn">
                    Plus d'actualités
                </a>
            </div>
        </section>

        {% if blocks|length >= 9 %}
            <section class="l__wrapper b__nudge--bottom-large">
                {% if blocks[8].media and blocks[8].media.video %}
                    {% include 'video.html.twig' with {'block': blocks[8], 'width': 1150 } %}
                {% else %}
                    <div class="proteger l__col l__col--center progressive-background"
                         data-sd="{{ media_asset(blocks[8].media, {'w': 300, 'q': 20}) }}"
                         data-hd="{{ media_asset(blocks[8].media, {'w': 1800, 'q': 70}) }}"
                         data-bg-prefix="linear-gradient(120deg, rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35))"
                         style="background-color: #000000;">
                        <h2 class="text--extra-large b__nudge--bottom text--limited text--center text--white text--italic">{{ blocks[8].title }}</h2>
                        <a href="{{ blocks[8].link }}" class="btn btn--no-border">En savoir plus</a>
                    </div>
                {% endif %}
            </section>
        {% endif %}

        {% if not app.user %}
            <section class="l__wrapper">
                <div class="newsletter l__row l__row--h-stretch b__border--black space--20-30 l__row--wrap l__tablet--col b__nudge--top b__nudge--bottom">
                    <div class="text--small text--uppercase space--10-0">Recevez la newsletter du mouvement</div>
                    <form method="post" action="{{ path('newsletter_subscription') }}" class="l__row l__row--wrap" name="app_newsletter_subscription">
                        {{ form_widget(newsletter_form.email, {
                            'attr': {
                                'aria-label': 'Entrez votre adresse email',
                                'title': 'common.email_address',
                                'placeholder': 'common.email_address',
                                'class': 'form__email'
                            }
                        }) }}
                        {{ form_widget(newsletter_form.postalCode, {
                            'attr': {
                                'aria-label': 'Entrez votre code postal',
                                'title': 'common.zip_code',
                                'placeholder': 'common.zip_code',
                                'class': 'form__zipcode'
                            }
                        }) }}
                        {{ form_widget(newsletter_form.country, { placeholder: 'common.country' }) }}

                        <button title="Je m'inscris" type="submit" class="form btn btn--green">Je m'inscris</button>
                        <div class="l__row l__row--wrap l__tablet-col b__nudge--top-10">
                            {{ form_row(newsletter_form.personalDataCollection) }}
                        </div>
                        <p class="text--gray text--small">
                            Les données recueillies sur ce formulaire sont traitées par LaREM afin de vous envoyer la newsletter du mouvement et de permettre à LaREM de vous envoyer des communications politiques.
                            Les informations marquées d’un astérisque sont obligatoires. L’absence de réponse dans ces champs ne permettra pas à LaREM de traiter votre demande.
                            Conformément à la règlementation, vous disposez d’un droit d’opposition et d’un droit à la limitation du traitement de données vous concernant, ainsi que d’un droit d’accès, de rectification, de portabilité et d’effacement de vos données. Vous disposez également de la faculté de donner des directives sur le sort de vos données après votre décès.
                            Vous pouvez exercer vos droits en nous adressant votre demande accompagnée d’une copie de votre pièce d’identité à l’adresse postale ou électronique suivante : La République En Marche, 63 rue Sainte-Anne, 75002 Paris ou <a href="mailto:mes-donnees@en-marche.fr">mes-donnees@en-marche.fr</a>.
                        </p>
                    </form>
                </div>
            </section>
        {% endif %}

        <section class="background--blue space--60-0">
            <div class="l__wrapper--500 text--center b__nudge--bottom-larger">
                <h3 class="text--white text--uppercase-wide text--normal b__nudge--bottom-small">Le Mouvement</h3>
                <div class="text--white text--large text--bold">« Tout commence par la rénovation de l’engagement politique. »</div>
            </div>
            <div class="l__wrapper--medium">
                <ul class="l__row l__row--h-stretch-around boxes">
                    <li class="box">
                        <div>
                            <h2 class="text--medium text--normal">En Marche ! est un mouvement ouvert à tous, sans exception.</h2>
                            <p class="text--summary">La plupart de nos adhérents s'engagent pour la première fois. Mais quelle que soit votre histoire, quelles que soient vos origines politiques nous vous invitons à en réinventer les codes avec nous. L'adhésion est gratuite.</p>
                        </div>
                        <a href="{{ path('app_membership_join') }}" class="btn btn--blue">Adhérer</a>
                    </li>
                    <li class="box">
                        <div>
                            <h2 class="text--medium text--normal">Des comités locaux partout en France, près de chez vous !</h2>
                            <p class="text--summary">Ils rassemblent des parcours et des sensibilités variés. Le but ? Que chacun(e) puisse s’engager selon son envie et ses disponibilités, sans obligation. Vous pouvez même créer le vôtre !</p>
                        </div>
                        <a href="{{ path('app_search_committees') }}" class="btn btn--blue">Rejoindre un comité</a>
                    </li>
                    <li class="box">
                        <div>
                            <h2 class="text--medium text--normal">Des centaines d’événements gratuits chaque semaine.</h2>
                            <p class="text--summary">Ateliers de réflexion sur le programme ou actions de terrain à la rencontre de ses concitoyens, les événements vous permettent d'agir très concrètement pour notre projet.</p>
                        </div>
                        <a href="{{ path('app_search_events') }}" class="btn btn--blue">Voir les événements</a>
                    </li>
                </ul>
            </div>
        </section>

        <section class="donate donate--home progressive-background"
                 data-sd="{{ static_asset('je-marche.jpg', {'w': 300, 'q': 20}) }}"
                 data-hd="{{ static_asset('je-marche.jpg', {'w': 2000, 'q': 70}) }}"
                 data-bg-prefix="linear-gradient(120deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0))"
                 style="background-color: #aa6b49;">
            <div class="l__wrapper space--45-5 l__row l__row--h-stretch l__mobile--col">
                <div class="donate__text text--white">
                    <h2 class="text--large">
                        Un don pour <span class="text--on-red">transformer</span> la France !
                    </h2>
                    <p class="text--body b__nudge--top-large">
                        Chaque don, quel que soit le montant, nous permet d’engager une action concrète pour réussir ensemble la transformation du pays.
                    </p>
                </div>

                {{ include('donation/_quick_form.html.twig') }}
            </div>
        </section>
    </main>
{% endblock %}
