<div class="bg-gray-50 flex flex-col justify-between border border-gray-200 rounded-md p-3 md:p-4">
    <div>
        <div class="w-10 h-10 rounded-md text-white bg-re-blue-500 flex items-center justify-center">
            {{ include('icons/academic.svg.twig', {svg_class: 'h-6 w-6'}) }}
        </div>
        <h3 class="mt-4 text-base lg:text-lg font-medium text-slate-900">{{ formation.title }}</h3>
    </div>

    {% if formation.description is not empty %}
        <p class="mt-2 text-sm leading-5 text-slate-500">{{ formation.description }}</p>
    {% endif %}

    <div class="mt-4">
        <a class="inline-flex items-center px-3 py-2 rounded-md text-sm leading-5 bg-re-blue-50 text-re-blue-800 hover:bg-re-blue-100"
           target="_blank"
           href="{{ path('app_renaissance_adherent_formation_content', {uuid: formation.uuid}) }}">
            {% if formation.isFileContent() %}
                {{ include('icons/download.svg.twig', {svg_class: 'h-5 w-5 mr-2'}) }}
                Télécharger
            {% else %}
                {{ include('icons/eye.svg.twig', {svg_class: 'h-5 w-5 mr-2'}) }}
                Voir
            {% endif %}
        </a>
    </div>
</div>
