{% extends 'base.html.twig' %}

{% block page_title 'Je fais procuration - Procuration' %}

{% block content %}
    <section class="l__wrapper">
        <form method="post" action="{{ path('app_procuration_request_profile') }}">
            {{ form_errors(form) }}

            <div class="form__checkbox">
                {{ form_widget(form.electionPresidentialFirstRound) }}
                {{ form_label(form.electionPresidentialFirstRound, 'Pour le premier tour de l\'élection présidentielle') }}
            </div>

            <div class="form__checkbox">
                {{ form_widget(form.electionPresidentialSecondRound) }}
                {{ form_label(form.electionPresidentialSecondRound, 'Pour le second tour de l\'élection présidentielle') }}
            </div>

            <div class="form__checkbox">
                {{ form_widget(form.electionLegislativeFirstRound) }}
                {{ form_label(form.electionLegislativeFirstRound, 'Pour le premier tour des élections législatives') }}
            </div>

            <div class="form__checkbox">
                {{ form_widget(form.electionLegislativeSecondRound) }}
                {{ form_label(form.electionLegislativeSecondRound, 'Pour le premier tour des élections législatives') }}
            </div>

            {{ form_rest(form) }}

            <div class="text--center">
                <button type="submit" class="btn btn--primary btn--medium">
                    Je continue
                </button>
            </div>
        </form>
    </section>
{% endblock %}
