{% extends 'procuration/_layout.html.twig' %}

{% block page_title 'Mon lieu de vote - Procuration' %}

{% block javascripts %}
    <script type="text/javascript">
        Kernel.onLoad(function() {
            App.createAddressSelector(
                '{{ form.voteCountry.vars.id }}',
                '{{ form.votePostalCode.vars.id }}',
                '{{ form.voteCity.vars.id }}',
                '{{ form.voteCityName.vars.id }}'
            );
        });
    </script>
{% endblock %}

{% block procuration_content %}
    <section class="procuration__content l__wrapper l__row l__row--top l__row--h-stretch-around l__tablet--col space--60-0">
        <div>
            {% if has_error %}
                <div class="committee__waiting-for-approval b__nudge--bottom-large">
                    Une erreur s'est produite lors de votre demande.
                    Pourriez-vous réessayer s'il vous plait ?
                </div>
            {% endif %}

            <div class="text--body text--medium-small">
                Vous pouvez demander une procuration jusqu'à la veille du scrutin, soit le 22 avril pour le 1er
                tour de la présidentielle. Mais il faut que le bureau de vote soit prévenu à temps, ce qui peut
                prendre de 3 à 7 jours. Effectuez donc votre démarche le plus tôt possible !
            </div>
            <div class="text--body b__nudge--top-50">
                <strong>Comment ça marche ?</strong>
                <ol>
                    <li>Remplissez ce formulaire avec vos coordonnées et votre bureau de vote</li>
                    <li>Vous recevrez votre "CERFA", faites le tamponner au commissariat</li>
                    <li>Le jour de l'élection, un volontaire <em>En Marche !</em> vote en votre nom</li>
                </ol>
            </div>
            <div class="text--body b__nudge--top">
                Besoin de plus d'informations ?
                <a href="#">En savoir plus</a>.
            </div>
        </div>

        <div class="procuration__banner__form">
            <ul class="procuration__steps">
                <li class="active"><span>Mon lieu de vote</span></li>
                <li>Mes coordonnées</li>
                <li>Ma procuration</li>
            </ul>
            <form method="post" action="{{ path('app_procuration_request_vote') }}">
                <div class="form__row">
                    {{ form_label(form.voteCountry, 'Le pays de mon lieu de vote') }}
                    {{ form_widget(form.voteCountry, { 'attr': { 'class': 'form--full' } }) }}
                </div>

                <div class="form__row">
                    {{ form_label(form.votePostalCode, 'Le code postal de mon lieu de vote') }}
                    {{ form_widget(form.votePostalCode, { 'attr': { 'class': 'form--full', 'placeholder': 'Code postal' } }) }}
                </div>

                <div class="form__row">
                    {{ form_label(form.voteCity, 'La ville dans laquelle je vote') }}
                    {{ form_widget(form.voteCity) }}
                    {{ form_widget(form.voteCityName, { 'attr': { 'class': 'form--full', 'placeholder': 'Ville' } }) }}
                </div>

                <div class="form__row">
                    {{ form_label(form.voteOffice, 'Le nom de mon bureau de vote (optionnel)') }}
                    {{ form_errors(form.voteOffice) }}
                    {{ form_widget(form.voteOffice, { 'attr': { 'class': 'form--full', 'placeholder': 'Bureau de vote' } }) }}
                    <div class="text--body text--small b__nudge--top-10">
                        Le nom de votre bureau de vote sera utilisé par nos équipe afin de trouver
                        la personne la plus adaptée pour voter à votre place.
                    </div>
                </div>

                {{ form_rest(form) }}

                <div class="text--center b__nudge--top-large">
                    <button type="submit" class="btn btn--blue">
                        Je continue
                    </button>
                </div>
            </form>
        </div>
    </section>
{% endblock %}
