{% extends 'procuration/_layout.html.twig' %}

{% block page_title 'Procuration En Marche !' %}
{% block meta_description 'Chaque vote compte. Donnez procuration avec En Marche !' %}

{% block javascripts %}
    <script type="text/javascript">
        Kernel.onLoad(function() {
            App.createVoteLocationSelector(
                '{{ form.voteCountry.vars.id }}',
                '{{ form.votePostalCode.vars.id }}',
                '{{ form.voteCity.vars.id }}',
                '{{ form.voteCityName.vars.id }}',
                '{{ form.voteOffice.vars.id }}'
            );
        });
    </script>
{% endblock %}

{% block procuration_content %}
    <section class="procuration__content l__wrapper l__row l__row--top l__row--h-stretch-around l__tablet--col space--60-0">
        <div>
            {% if has_error %}
                <div class="committee__waiting-for-approval b__nudge--bottom-large">
                    Une erreur s'est produite lors de votre demande.
                    Pourriez-vous réessayer s'il vous plait ?
                </div>
            {% endif %}

            <div class="text--body text--medium-small">
                Les élections législatives ont lieu les 11 et 18 juin 2017 en France (3 et 17 juin pour les Français de l'étranger du continent Américain et 4 et 18 juin pour les autres Français de l'étranger).<br />
                <strong>Vous serez absent(e) à une de ces dates ? Pensez à donner procuration !</strong>
                <div class="text--summary b__nudge--top-10">
                    Attention : si vous n'êtes pas en France métropolitaine, votre date de vote peut varier.
                    <a href="https://www.service-public.fr/particuliers/actualites/A10598">Consulter les dates</a>.
                </div>
            </div>
            <div class="text--body b__nudge--top-large">
                <h2 class="b__nudge--bottom">Un de nos volontaires peut porter votre voix</h2>
                Si vous n’avez pas de proche de confiance qui pourrait voter pour vous dans votre commune, nous
                pouvons trouver quelqu’un qui portera votre voix. Remplissez simplement le formulaire.
                Attention, la procuration doit ensuite parvenir à votre bureau de vote, ce qui prend plusieurs jours.
                Effectuez donc votre démarche rapidement !
            </div>
            <div class="text--body b__nudge--top-50">
                <h2>Comment ça marche ?</h2>
                <ol>
                    <li>
                        Remplissez ce formulaire en indiquant vos coordonnées et votre bureau de vote.
                    </li>
                    <li>
                        <em>En Marche !</em> recherche une personne de confiance dans votre commune disponible le jour du vote.
                    </li>
                    <li>
                        Vous recevrez d'ici quelques jours toutes les informations pour compléter le formulaire CERFA avec les coordonnées de la personne qui votera en votre nom.
                    </li>
                    <li>
                        Le jour de l'élection, un électeur <em>En Marche !</em> vote en votre nom.
                    </li>
                </ol>
                <a href="{{ asset('en-marche_fiches-procurations.pdf') }}" target="_blank">En savoir plus &raquo;</a>
            </div>
        </div>

        <div class="procuration__banner__form">
            <ul class="procuration__steps">
                <li class="active"><span>Mon lieu de vote</span></li>
                <li>Mes coordonnées</li>
                <li>Ma procuration</li>
            </ul>
            <form method="post" action="{{ path('app_procuration_request_vote') }}" name="app_procuration_vote">
                <div class="text--body text--small b__nudge--bottom-medium">
                    Attention : votre lieu de vote n’est pas forcément le même que votre lieu de résidence.
                </div>

                <div class="form__row">
                    {{ form_label(form.voteCountry, 'Le pays où je suis inscrit sur les listes électorales') }}
                    {{ form_widget(form.voteCountry, { 'attr': { 'class': 'form--full' } }) }}
                </div>

                <div class="form__row">
                    {{ form_label(form.votePostalCode, 'Le code postal où je vote') }}
                    {{ form_widget(form.votePostalCode, { 'attr': { 'class': 'form--full', 'placeholder': 'Code postal' } }) }}
                </div>

                <div class="form__row">
                    <span id="vote-label-city-name">
                        {{ form_label(form.voteCity, 'La ville dans laquelle je vote') }}
                    </span>
                    <span id="vote-label-consulate" style="display: none;">
                        {{ form_label(form.voteCity, 'Le consulat ou l\'ambassade dans lequel ou laquelle je vote') }}
                    </span>
                    {{ form_widget(form.voteCity) }}
                    {{ form_widget(form.voteCityName, { 'attr': { 'class': 'form--full', 'placeholder': 'Ville' } }) }}
                </div>

                <div class="form__row">
                    {{ form_label(form.voteOffice, 'Nom de votre bureau de vote (si vous le connaissez)') }}
                    {{ form_errors(form.voteOffice) }}
                    {{ form_widget(form.voteOffice, { 'attr': { 'class': 'form--full', 'placeholder': 'Bureau de vote' } }) }}
                    <div class="text--body text--small b__nudge--top-10">
                        Connaître votre bureau de vote nous permettra de trouver une personne qui pourra s’y rendre.
                    </div>
                </div>

                {{ form_rest(form) }}

                <div class="text--center b__nudge--top-large">
                    <button type="submit" class="btn btn--blue">
                        Je continue
                    </button>
                </div>
            </form>
            {{ include('procuration/legal.html.twig') }}
        </div>
    </section>
{% endblock %}
