{% extends 'base.html.twig' %}

{% block page_title 'Je me propose - Procuration' %}
{% block meta_description 'Chaque vote compte. Allez voter au nom d’un citoyen de votre ville.' %}
{% block canonical_url url('app_procuration_index') %}
{% block open_graph_image (url('homepage')|trim('/') ~ static_asset('procuration-sharer.jpg', {'q': 70}))|raw %}
{% block open_graph_image_width 1200 %}
{% block open_graph_image_height 630 %}

{% block banner '' %}
{% block header '' %}
{% block footer '' %}

{% block javascripts %}
    <script src="https://www.google.com/recaptcha/api.js"></script>
    <script type="text/javascript">
        Kernel.onLoad(function() {
            App.createAddressSelector(
                '{{ form.country.vars.id }}',
                '{{ form.postalCode.vars.id }}',
                '{{ form.city.vars.id }}',
                '{{ form.cityName.vars.id }}'
            );

            App.createVoteLocationSelector(
                '{{ form.voteCountry.vars.id }}',
                '{{ form.votePostalCode.vars.id }}',
                '{{ form.voteCity.vars.id }}',
                '{{ form.voteCityName.vars.id }}',
                '{{ form.voteOffice.vars.id }}'
            );
        });
    </script>
{% endblock %}

{% block content %}
    <main class="procuration">
        <section class="procuration__header--outer l__row l__row--h-stretch list__links--nav progressive-background text--center text--white"
                 data-sd="{{ static_asset('procuration.jpg', {'w': 300, 'q': 20}) }}"
                 data-hd="{{ static_asset('procuration.jpg', {'w': 2000, 'q': 70}) }}">
            <div class="l__wrapper l__row space--30-0">
                <a href="{{ path('homepage') }}" class="text--logo link--no-decor text--white">En Marche !</a>
            </div>
            <div class="procuration__header--inner l__wrapper--slim">
                <h1 class="text--larger">
                    Chaque vote compte.
                </h1>
                <h1 class="text--large b__nudge--top-10 l__hide--on-mobile">
                    Allez voter au nom d’un citoyen de votre ville.
                </h1>
            </div>
        </section>
        <section class="procuration__content l__wrapper l__row l__row--top l__row--h-stretch-around l__tablet--col space--60-0">
            <div>
                <div class="text--body text--medium-small">
                    Les élections législatives ont lieu les 11 et 18 juin 2017 en France (3 et 17 juin pour les Français de l'étranger du continent Américain et 4 et 18 juin pour les autres Français de l'étranger).
                    Proposez-vous en tant que mandataire, à qui un citoyen de votre ville peut donner procuration.
                    <div class="text--summary b__nudge--top-10">
                        Attention : si vous n'êtes pas en France métropolitaine, votre date de vote peut varier.
                        <a href="https://www.service-public.fr/particuliers/actualites/A10598">Consulter les dates</a>.
                    </div>
                </div>
                <div class="text--body b__nudge--top-50">
                    <strong>Comment ça marche ?</strong>
                    <ol>
                        <li>
                            Vous remplissez ce formulaire en indiquant vos coordonnées et disponibilités.
                        </li>
                        <li>
                            En cas de demande de procuration, vous êtes mis en relation avec les personnes
                            absentes les jours de vote.
                        </li>
                        <li>
                            Vous votez en leur nom.
                        </li>
                    </ol>
                    <a href="{{ asset('en-marche_fiches-procurations.pdf') }}" target="_blank">En savoir plus &raquo;</a>
                </div>
            </div>

            <div class="procuration__banner__form procuration__banner__form--large">
                <form method="post" name="app_procuration_proposal">
                    {{ form_errors(form) }}

                    <div>
                        <h4>Mes informations</h4>

                        <div class="l__row l__row--h-stretch b__nudge--bottom-tiny form__radio-button">
                            {{ form_widget(form.gender, { attr: { class: 'register__form__gender' } }) }}
                            {{ form_errors(form.gender) }}
                        </div>

                        <div class="l__row l__row--top l__row--h-stretch l__mobile--col">
                            <div class="register__form--mid">
                                {{ form_widget(form.firstNames, { attr: { placeholder: 'Prénom(s)' } }) }}
                                {{ form_errors(form.firstNames) }}
                            </div>
                            <div class="register__form--mid">
                                {{ form_widget(form.lastName, { attr: { placeholder: 'Nom de naissance' } }) }}
                                {{ form_errors(form.lastName) }}
                            </div>
                        </div>

                        <div class="l__row l__row--h-stretch register__form--full">
                            {{ form_widget(form.address, { attr: { placeholder: 'Mon adresse de résidence' } }) }}
                            {{ form_errors(form.address) }}
                        </div>

                        <div class="l__row l__row--top l__row--h-stretch l__mobile--col">
                            <div class="register__form__country register__form--third">
                                {{ form_widget(form.country) }}
                                {{ form_errors(form.country) }}
                            </div>

                            <div class="register__form__zip_code register__form--third">
                                {{ form_widget(form.postalCode, { attr: { placeholder: 'Code postal' } }) }}
                            </div>

                            <div class="register__form__city register__form--third">
                                {{ form_widget(form.city, { 'attr': { 'class': 'register__form__city'} }) }}
                                {{ form_widget(form.cityName, { 'attr': { 'class': 'register__form__city_name', 'placeholder': 'Ville' } }) }}
                                {{ form_errors(form.city) }}
                            </div>
                        </div>

                        <div class="l__row l__row--h-stretch register__form--full">
                            {{ form_widget(form.emailAddress, { attr: { placeholder: 'Adresse e-mail' } }) }}
                            {{ form_errors(form.emailAddress) }}
                        </div>

                        <div class="l__col l__col--top">
                            {{ form_label(form.birthdate, 'Date de naissance', { 'label_attr': {'class': 'text--gray'} }) }}
                            <div class="l__row l__row--h-stretch">
                                {% for field in form.birthdate|reverse %}
                                    {{ form_widget(field, {'attr': {'style': 'width: 32%;'}}) }}
                                {% endfor %}
                            </div>
                            {{ form_errors(form.birthdate) }}
                        </div>

                        <div class="l__col l__col--top register__form__phone">
                            {{ form_label(form.phone, 'Téléphone', { 'label_attr': {'class': 'text--gray'} }) }}
                            <div class="l__row l__row--top l__row--h-stretch">
                                {{ form_widget(form.phone.country, { attr: { class: 'membership_request__form__phone'} }) }}
                                {{ form_widget(form.phone.number, { attr: { placeholder: 'Téléphone' } }) }}
                            </div>
                            {{ form_errors(form.phone) }}
                        </div>
                    </div>

                    <div class="b__nudge--top-40">
                        <h4>Mon lieu de vote</h4>

                        <div class="form__row">
                            {{ form_label(form.voteCountry, 'Le pays où je suis inscrit sur les listes électorales') }}
                            {{ form_widget(form.voteCountry, { 'attr': { 'class': 'form--full' } }) }}
                        </div>

                        <div class="form__row">
                            {{ form_label(form.votePostalCode, 'Le code postal où je vote') }}
                            {{ form_widget(form.votePostalCode, { 'attr': { 'class': 'form--full', 'placeholder': 'Code postal' } }) }}
                        </div>

                        <div class="form__row">
                            <span id="vote-label-city-name">
                                {{ form_label(form.voteCity, 'La ville dans laquelle je vote') }}
                            </span>
                            <span id="vote-label-consulate" style="display: none;">
                                {{ form_label(form.voteCity, 'Le consulat ou l\'ambassade dans lequel ou laquelle je vote') }}
                            </span>
                            {{ form_widget(form.voteCity) }}
                            {{ form_widget(form.voteCityName, { 'attr': { 'class': 'form--full', 'placeholder': 'Ville' } }) }}
                        </div>

                        <div class="form__row">
                            {{ form_label(form.voteOffice, 'Nom de votre bureau de vote (si vous le connaissez)') }}
                            {{ form_errors(form.voteOffice) }}
                            {{ form_widget(form.voteOffice, { 'attr': { 'class': 'form--full', 'placeholder': 'Bureau de vote' } }) }}
                        </div>
                    </div>

                    <div class="b__nudge--top-40">
                        <h4>Mes disponibilités</h4>

                        <h5 class="procuration__title-elections">
                            Je peux recevoir une procuration ...
                            <span class="text--small text--gray">(cocher les cases correspondantes)</span>
                        </h5>

                        <div class="procuration__choose-election">
                            <div class="form__checkbox">
                                {{ form_widget(form.electionLegislativeFirstRound) }}
                                {{ form_label(form.electionLegislativeFirstRound, 'Pour le premier tour des élections législatives') }}
                            </div>
                            <div class="text--small text--body procuration__choose-election__day">
                                Dimanche 11 juin 2017 en France (3 juin pour les Français de l'étranger du continent Américain et 4 juin pour les autres Français de l'étranger)
                            </div>
                        </div>

                        <div class="procuration__choose-election">
                            <div class="form__checkbox">
                                {{ form_widget(form.electionLegislativeSecondRound) }}
                                {{ form_label(form.electionLegislativeSecondRound, 'Pour le second tour des élections législatives') }}
                            </div>
                            <div class="text--small text--body procuration__choose-election__day">
                                Dimanche 18 juin 2017 en France (17 juin pour les Français de l'étranger du continent Américain et 18 juin pour les autres Français de l'étranger)
                            </div>
                        </div>
                    </div>

                    <div class="l__col l__col--top register__form__phone">
                        {{ form_label(form.inviteSourceName, 'Si vous n\'avez pas été invité(e) en tant qu\'adhérent(e) à En Marche, indiquez quel marcheur vous a invité(e) à devenir mandataire (optionnel)') }}
                        <div class="l__row l__row--top l__row--h-stretch">
                            {{ form_widget(form.inviteSourceFirstName, { 'attr': { 'class': 'form--full', 'placeholder': 'Nom de la personne qui vous a invité' } }) }}
                            {{ form_widget(form.inviteSourceName, { 'attr': { 'class': 'form--full', 'placeholder': 'Prénom de la personne qui vous a invité' } }) }}
                        </div>
                        {{ form_errors(form.inviteSourceFirstName) }}
                        {{ form_errors(form.inviteSourceName) }}
                    </div>

                    <div class="b__nudge--top-40">
                        {{ form_errors(form.conditions) }}
                        <div class="form__row form__checkbox form__checkbox--large">
                            {{ form_widget(form.conditions) }}
                            {{ form_label(form.conditions, 'En cochant cette case, je m’engage à voter selon les vœux du mandant.') }}
                        </div>

                        {{ form_errors(form.authorization) }}
                        <div class="form__row form__checkbox form__checkbox--large">
                            {{ form_widget(form.authorization) }}
                            {{ form_label(form.authorization, 'En cochant cette case, vous autorisez En Marche à utiliser les informations détaillées dans le présent formulaire dans le cadre de la plateforme de procuration.') }}
                        </div>
                    </div>

                    <input type="hidden" class="nojs-g-recaptcha-response" name="g-recaptcha-response" value="" />
                    {% if recaptcha_public_key is not empty %}
                        <div class="g-recaptcha" data-sitekey="{{ recaptcha_public_key }}" style="margin: 10px auto 50px auto;"></div>
                    {% endif %}

                    <div class="text--center b__nudge--top-large">
                        <button type="submit" class="btn btn--blue">
                            Je continue
                        </button>
                    </div>

                    {{ form_rest(form) }}

                </form>
                {{ include('procuration/legal.html.twig') }}
            </div>
        </section>
    </main>
{% endblock %}
