{% extends 'procuration/_layout.html.twig' %}

{% block page_title 'Mon lieu de vote - Procuration' %}

{% block javascripts %}
    <script type="text/javascript">
        Kernel.onLoad(function() {
            App.createVoteLocationSelector(
                '{{ form.voteCountry.vars.id }}',
                '{{ form.votePostalCode.vars.id }}',
                '{{ form.voteCity.vars.id }}',
                '{{ form.voteCityName.vars.id }}',
                '{{ form.voteOffice.vars.id }}'
            );
        });
    </script>
{% endblock %}

{% block procuration_content %}
    <section class="procuration__content l__wrapper l__row l__row--top l__row--h-stretch-around l__mobile--col space--60-0">
        <div class="procuration__banner__form">
            <ul class="procuration__steps">
                <li class="active"><span>Mon lieu de vote</span></li>
                <li>Mes coordonnées</li>
                <li>Ma procuration</li>
            </ul>
            <form method="post" name="app_procuration_vote">
                <div class="text--body text--small b__nudge--bottom-medium">
                    Attention : votre lieu de vote n’est pas forcément le même que votre lieu de résidence.
                </div>

                {{ form_errors(form) }}

                <div class="form__row">
                    {{ form_label(form.voteCountry, 'Le pays où je suis inscrit sur les listes électorales') }}
                    {{ form_errors(form.voteCountry) }}
                    {{ form_widget(form.voteCountry, { 'attr': { 'class': 'form--full' } }) }}
                </div>

                <div class="form__row">
                    {{ form_label(form.votePostalCode, 'Le code postal où je vote') }}
                    {{ form_errors(form.votePostalCode) }}
                    {{ form_widget(form.votePostalCode, { 'attr': { 'class': 'form--full', 'placeholder': 'Code postal' } }) }}
                </div>

                <div class="form__row">
                    <span id="vote-label-city-name">
                        {{ form_label(form.voteCity, 'La ville dans laquelle je vote') }}
                    </span>
                    <span id="vote-label-consulate" style="display: none;">
                        {{ form_label(form.voteCity, 'Le consulat ou l\'ambassade dans lequel ou laquelle je vote') }}
                    </span>
                    {{ form_widget(form.voteCity) }}
                    {{ form_widget(form.voteCityName, { 'attr': { 'class': 'form--full', 'placeholder': 'Ville' } }) }}
                    {{ form_errors(form.voteCity) }}
                </div>

                <div class="form__row">
                    {{ form_label(form.voteOffice, 'Nom de votre bureau de vote (si vous le connaissez)') }}
                    {{ form_errors(form.voteOffice) }}
                    {{ form_widget(form.voteOffice, { 'attr': { 'class': 'form--full', 'placeholder': 'Bureau de vote' } }) }}
                    <div class="text--body text--small b__nudge--top-10">
                        Connaître votre bureau de vote nous permettra de trouver une personne qui pourra s’y rendre.
                    </div>
                </div>

                {{ form_rest(form) }}

                <div class="text--center b__nudge--top-large">
                    <button type="submit" class="btn btn--blue">
                        Je continue
                    </button>
                </div>
            </form>
        </div>
    </section>
{% endblock %}
