{% extends 'territorial_council_designation/_layout.html.twig' %}

{% block designation_content %}
    <section>
        <div class="datagrid__pre-table b__nudge--bottom">
            <h3>Désignations</h3>
        </div>

        <div class="datagrid__table-container">
            <table class="datagrid__table-manager">
                <thead>
                    <tr>
                        <th>Type</th>
                        <th>Conseil territorial</th>
                        <th>Statut</th>
                        <th>Mode</th>
                        <th>Date</th>
                        <th>Informations</th>
                        <th>Action</th>
                    </tr>
                </thead>

                <tbody>
                    {% for election in elections %}
                        {% set designation = election.designation %}
                        {% set status = election.status %}

                        <tr>
                            <td>
                                {{ "designation.label.type_#{designation.type}"|trans }}
                            </td>
                            <td>{{ election.territorialCouncil.name }}</td>
                            <td>
                                <span class="cursor--pointer status {{ status in constant('App\\VotingPlatform\\Designation\\DesignationStatusEnum::ACTIVE_STATUSES') ? 'status__1' : 'status__2' }}">{{ ('designation.status.'~status)|trans|lower }}</span>
                            </td>
                            <td>
                                {% if election.electionMode %}
                                    {{ ('designation.vote_mode.' ~ election.electionMode)|trans }}
                                {% endif %}
                            </td>
                            <td>{{ designation.voteEndDate ? designation.voteEndDate|localizeddate('none', 'none', 'fr_FR', null, "d MMM yyyy à HH:mm") : '~' }}</td>
                            <td>
                                {% if status in [constant('App\\VotingPlatform\\Designation\\DesignationStatusEnum::OPENED'), constant('App\\VotingPlatform\\Designation\\DesignationStatusEnum::SCHEDULED')] %}
                                    {% for row in get_territorial_council_candidates_stats(election) %}
                                        <span class="quality-title-{{ constant('App\\Entity\\TerritorialCouncil\\TerritorialCouncilQualityEnum::QUALITY_PRIORITIES')[row.quality] }}"
                                              title="{{ ('territorial_council.membership.qualities.' ~ row.quality)|trans }}">
                                            {{ row.total }}
                                            {% if not loop.last %}<span> - </span>{% endif %}
                                        </span>
                                    {% endfor %}
                                {% elseif status in [constant('App\\VotingPlatform\\Designation\\DesignationStatusEnum::IN_PROGRESS'), constant('App\\VotingPlatform\\Designation\\DesignationStatusEnum::CLOSED')] %}
                                    {% set votes_stats = get_votes_stats(election) %}
                                    {% if votes_stats %}
                                        <span>Participation</span><br/>
                                        {{ votes_stats.voters_count ? (votes_stats.votes_count * 100 / votes_stats.voters_count)|round(2) : 0 }} %
                                    {% endif %}
                                {% endif %}
                            </td>
                            <td>
                                {% set items = [] %}

                                {% if designation.voteStartDate is empty %}
                                    {% set items = items|merge([{
                                        href: path('app_territorial_council_referent_designations_election_send_convocation', {uuid: election.uuid}),
                                        label: 'Envoyer la convocation',
                                        linkAttr: {class: 'row-action link--no-decor'}
                                    }]) %}
                                {% elseif status in [constant('App\\VotingPlatform\\Designation\\DesignationStatusEnum::SCHEDULED'), constant('App\\VotingPlatform\\Designation\\DesignationStatusEnum::IN_PROGRESS')] %}
                                    {% set items = items|merge([{
                                        href: path('app_territorial_council_selected_candidacy_list', {uuid: election.territorialCouncil.uuid}),
                                        label: 'Voir les candidatures',
                                        linkAttr: {class: 'row-action link--no-decor'}
                                    }]) %}
                                {% endif %}

                                {% if status in [constant('App\\VotingPlatform\\Designation\\DesignationStatusEnum::IN_PROGRESS'), constant('App\\VotingPlatform\\Designation\\DesignationStatusEnum::CLOSED')] %}
                                    {% set voting_platform_election = get_voting_platform_election_for_territorial_council_election(election) %}

                                    {% set items = items|merge([{
                                        href: path('app_territorial_council_referent_designation_results_dashboard', {uuid: voting_platform_election.uuid}),
                                        label: 'Voir les détails',
                                        linkAttr: {class: 'row-action link--no-decor'}
                                    }]) %}
                                {% endif %}

                                {% if items|length %}
                                    {% if items|length > 1 %}
                                        {% include 'components/_annimated_sub_menu.html.twig' with {items: items} %}
                                    {% else %}
                                        <a href="{{ items|first.href }}">{{ items|first.label }}</a>
                                    {% endif %}
                                {% endif %}
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="5" class="text--center">
                                <img src="{{ asset('/images/icons/icn_no-result.svg') }}" alt="aucun résultat" class="icn--no-result" width="30" />
                                La liste est vide
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </section>
{% endblock %}
