{% extends 'procuration/_layout.html.twig' %}

{% form_theme procuration_form 'procuration/_election_rounds_form.html.twig' %}

{% block page_title 'Ma procuration - Procuration' %}

{% block javascripts %}
    <script src="https://www.google.com/recaptcha/api.js"></script>
    <script type="text/javascript">
        Kernel.onLoad(function() {
            var reasonSelector = dom('#{{ procuration_form.reason.vars.id }}');
            var residencyWarning = dom('#reason-residency-warning');

            on(reasonSelector, 'change', function() {
                if ('residency' == reasonSelector.value) {
                    show(residencyWarning);
                } else {
                    hide(residencyWarning);
                }
            });
        });
    </script>
{% endblock %}

{% block procuration_content %}
    <section class="procuration__content l__wrapper l__row l__row--top l__row--h-stretch-around l__mobile--col space--60-0">
        <div class="procuration__banner__form">
            <ul class="procuration__steps">
                <li>
                    <a href="{{ path('app_procuration_request', { step: constant('STEP_URI_VOTE', procuration_form.vars.data) }) }}">
                        Mon lieu de vote
                    </a>
                </li>
                <li>
                    <a href="{{ path('app_procuration_request', { step: constant('STEP_URI_PROFILE', procuration_form.vars.data) }) }}">
                        Mes coordonnées
                    </a>
                </li>
                <li class="active">Ma procuration</li>
            </ul>
            <form method="post" name="app_procuration_elections">
                {{ form_errors(procuration_form) }}

                <div class="text--body text--small b__nudge--bottom-small">
                    Sauf mention contraire, toutes les informations demandées sont obligatoires.
                </div>

                {{ form_label(procuration_form.requestFromFrance, 'Où ai-je fait ma procuration ?') }}
                <div class="form__row form__radio-button">
                    {{ form_errors(procuration_form.requestFromFrance) }}
                    {{ form_widget(procuration_form.requestFromFrance, { attr: { class: 'form--full b__nudge--top-5' } }) }}
                </div>

                <h5 class="procuration__title-elections">
                    Je donne procuration pour...
                    <span class="text--small text--gray">(cocher les cases correspondantes)</span>
                </h5>

                {{ form_widget(procuration_form.electionRounds) }}
                {{ form_errors(procuration_form.electionRounds) }}

                <div class="form__row b__nudge--top-40">
                    {{ form_label(procuration_form.reason, 'Pour quelle raison vous est-il impossible de voter ?') }}
                    {{ form_errors(procuration_form.reason) }}
                    {{ form_widget(procuration_form.reason, { attr: { class: 'form--full b__nudge--top-5' } }) }}
                </div>

                <div class="text--summary" id="reason-residency-warning">
                    Nous vous rappelons que pour faire valider votre procuration, il vous sera nécéssaire
                    de vous déplacer dans un commissariat, gendarmerie ou tribunal d'instance (si vous habitez
                    en France) ou dans une ambassade ou consulat de France (si vous résidez à l'étranger).
                </div>

                <div class="b__nudge--top-40">
                    {{ form_errors(procuration_form.reachable) }}
                    <div class="form__row form__checkbox form__checkbox--large" id="procuration_reachable">
                        {{ form_widget(procuration_form.reachable) }}
                        {{ form_label(procuration_form.reachable, "En cochant cette case, j'accepte d'être recontacté par LaREM pour la prochaine échéance électorale, à savoir les élections départementales de 2021.") }}
                    </div>

                    {{ form_errors(procuration_form.authorization) }}
                    <div class="form__row form__checkbox form__checkbox--large" id="procuration_authorization">
                        {{ form_widget(procuration_form.authorization) }}
                        {{ form_label(procuration_form.authorization, "En cochant cette case, j'accepte que LaREM traite mes données dans le cadre de la plateforme de procuration en ligne. *") }}
                    </div>
                </div>

                <div class="form__row b__nudge--top-40">
                    {{ form_errors(procuration_form.reason) }}
                    {{ form_widget(procuration_form.reason, { attr: { class: 'form--full' } }) }}
                </div>

                <input type="hidden" class="nojs-g-recaptcha-response" name="g-recaptcha-response" value="" />
                {% if recaptcha_public_key is not empty %}
                    <div class="g-recaptcha" data-sitekey="{{ recaptcha_public_key }}" style="margin: 10px auto 50px auto;"></div>
                {% elseif app.debug %}
                    <input type="hidden" name="g-recaptcha-response" value="fake" />
                {% endif %}

                {{ form_rest(procuration_form) }}

                <p class="b__nudge--top-large text--small text--gray text--justify" id="procuration_legal_notices">
                    Les informations marquées d'un astérisque sont obligatoires, l'absence de réponse de ces champs
                    ne permettra pas à LaREM de traiter votre demande. Les données recueillies dans ce formulaire sont
                    traitées par LaREM dans le cadre de la plateforme de procuration, afin (i) d'identifier des
                    personnes susceptibles d'être mandataires en vue d'obtenir la procuration d'un tiers dans le cadre
                    des élections municipales 2020, (ii) d'identifier des personnes susceptibles d'être mandants en vue
                    d'octroyer une procuration à un tiers dans le cadre des élections municipales 2020, et (iii) de
                    mettre en relation des mandataires et des mandants afin que les premiers puissent recevoir
                    la procuration des seconds dans le cadre des élections municipales 2020.<br/><br/>

                    Si vous y consentez, ces informations peuvent également être utilisées par LaREM afin de vous
                    contacter pour la prochaine échéance électorale, à savoir les élections départementales de 2021.<br/><br/>

                    Ces informations sont nécessaires pour vous permettre de devenir mandant et peuvent être
                    communiquées aux services administratifs habilités par LaREM et chargés de la gestion des
                    procurations, comme nos responsables procuration, les mairies et bureaux de vote.<br/><br/>

                    Conformément à la règlementation en vigueur, vous disposez d'un droit d'opposition et d'un droit à la limitation du traitement de données vous concernant, ainsi que d'un droit d'accès, de rectification, de portabilité et d'effacement de vos données. Vous disposez également de la faculté de donner des directives sur le sort de vos données après votre décès. Vous pouvez exercer vos droits en nous adressant votre demande accompagnée d'une copie de votre pièce d'identité à l'adresse postale ou électronique suivante : La République En Marche, 63 rue Sainte-Anne, 75002 Paris, France ou <a target="_blank" class="link--no-decor" href="mailto:mes-donnees@en-marche.fr">mes-donnees@en-marche.fr</a>. Pour plus d'information vous pouvez consulter la Politique de protection des données de LaREM <a href="https://en-marche.fr/politique-protection-donnees" target="_blank" rel="noopener noreferrer" class="link--no-decor">https://en-marche.fr/politique-protection-donnees</a>.
                </p>

                <div class="text--center b__nudge--top-large">
                    <button type="submit" class="btn btn--blue">Je continue</button>
                </div>
            </form>
        </div>
    </section>
{% endblock %}
