{% extends 'renaissance/national_event/_inscription_layout.html.twig' %}

{% block background_image '' %}
{% block body_classes 'bg-ui_gray-5' %}

{% block header %}
    <header class="flex py-10 md:py-20 justify-center w-full">
        {% if event.logoImage %}
            <img class="max-h-36" src="{{ vich_uploader_asset(event.logoImage) }}" alt="logo"/>
        {% else %}
            <a href="{{ path('renaissance_site') }}">
                <img src="{{ asset('/images/renaissance/logo-dark.svg') }}" alt="logo"/>
            </a>
        {% endif %}
    </header>
{% endblock %}

{% block content_section %}
    {% set packageConfig = event.packageConfig %}

    <div class="flex flex-col md:flex-row gap-8 justify-center items-center md:items-start w-full px-5 pb-20" x-data="xNationalEventPage({uncheckInputs: {{ form.vars.valid ? 'true' : 'false' }}, packageConfig: {{ packageConfig|json_encode }}, discountLabel: '{{ event.discountLabel|e('js') }}', discountFactor: {{ event.getDiscountFactor() }}})">
        <div class="flex flex-col gap-8 max-w-[500px] md:w-[500px]">
            {% if event.intoImage %}
                <div
                    class="w-full rounded-2xl overflow-hidden bg-gray-100"
                    style="aspect-ratio: {{ event.intoImage.getWidth() }} / {{ event.intoImage.getHeight() }};"
                >
                    <img
                        class="w-full h-full object-cover"
                        src="{{ vich_uploader_asset(event.intoImage) }}"
                        loading="lazy"
                        alt="event-image"
                    />
                </div>
            {% endif %}

            {% if event.textHelp %}
                <div x-data="{ expanded: false }" class="relative">
                    <div
                        class="relative overflow-hidden md:overflow-visible transition-all duration-300"
                        :class="expanded ? 'max-h-full' : 'max-h-[10rem]'"
                    >
                        <div class="md:block formatted-text">
                            {{ event.textHelp|raw }}
                        </div>

                        <div
                            class="absolute bottom-0 left-0 w-full h-12 bg-gradient-to-t from-white to-transparent pointer-events-none md:hidden"
                            x-show="!expanded"
                        ></div>
                    </div>

                    <div class="mt-2 md:hidden">
                        <button
                            x-show="!expanded"
                            @click="expanded = true"
                            class="text-blue-600 font-medium"
                        >Lire la suite</button>

                        <button
                            x-show="expanded"
                            @click="expanded = false"
                            class="text-blue-600 font-medium"
                        >Réduire</button>
                    </div>
                </div>
            {% endif %}
        </div>

        {{ form_start(form, {attr: {class: 'max-w-[500px]'}}) }}
            <div class="flex flex-col gap-8">
                <twig:Atoms:ReCard class="!rounded-2xl !gap-6">
                    <h1 class="font-bold text-5xl text-ui_gray-80">Inscription</h1>

                    {% if event.textIntro %}
                        <div class="text-subtitle1">{{ event.textIntro|tw_html }}</div>
                    {% endif %}

                    <div class="bg-ui_gray-5 rounded-lg p-6 formatted-text">
                        {% if event.textIntroContact %}
                            {{ event.textIntroContact|raw|nl2br }}
                        {% else %}
                            Une question relative à l’inscription ?<br/>
                            Écrivez-nous à <a href="mailto:evenements@parti-renaissance.fr" class="text-ui_blue-50">evenements@parti-renaissance.fr</a> ou appelez-nous au <a href="tel:+33186950286" class="text-ui_blue-50">01 86 95 02 86</a>
                        {% endif %}
                    </div>

                    {% if event.connectionEnabled and not app.user %}
                        <div class="text-center">
                            Adhérent ou sympathisant ?<br/>
                            <a href="{{ login_path_for_anonymous_follower(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')|default({})|merge({app_domain: user_vox_host})) }}" class="text-ui_blue-50">Connectez-vous</a> pour faciliter votre inscription.
                        </div>
                    {% endif %}

                    {{ form_errors(form) }}

                    <div class="flex-col flex gap-4">
                        <twig:Atoms:ReLabel>Mes informations personnelles</twig:Atoms:ReLabel>

                        {{ form_row(form.civility, {
                            label: false,
                            attr: {onCheck: "setFieldValid('gender')", validate: "['required']"},
                        }) }}

                        <div class="flex flex-col xs:flex-row gap-5 ">
                            {{ form_row(form.firstName, {
                                label: false,
                                attr: {placeholder: 'Prénom', onCheck: "setFieldValid('firstName')", validate: "['required', 'min:2', 'max:50']"},
                            }) }}
                            {{ form_row(form.lastName, {
                                label: false,
                                attr: {placeholder: 'Nom', onCheck: "setFieldValid('lastName')", validate: "['required', 'min:1', 'max:50']"},
                            }) }}
                        </div>
                    </div>

                    {{ form_row(form.email, {
                        label: 'Mon adresse email',
                        help: 'Si vous êtes déjà militant, merci de renseigner l\'adresse email de votre compte',
                        attr: {
                            placeholder: 'adresse@mail.com',
                            validate: "['required', 'email']",
                            autocomplete: 'email',
                            onCheck: "setFieldValid('email')",
                        },
                    }) }}

                    {{ form_row(form.postalCode, {
                        label: 'Code postal',
                        attr: {placeholder: '75000', onCheck: "setFieldValid('postalCode')", validate: "['required']"},
                    }) }}

                    <fieldset class="relative flex flex-col">
                        <twig:Atoms:ReLabel class="mb-3">Date de naissance</twig:Atoms:ReLabel>

                        <fieldset class="flex gap-2.5 relative">
                            {{ form_widget(form.birthdate.day, {label: false, attr: {
                                class: 'w-full',
                                placeholder: 'Jour',
                                validate: "['required']",
                                onCheck: "setFieldValid('birthDay')",
                                searchBoxProps: {'x-numberonly': ''},
                            }}) }}

                            {{ form_widget(form.birthdate.month, {label: false, attr: {
                                class: 'w-full',
                                placeholder: 'Mois',
                                validate: "['required']",
                                onCheck: "setFieldValid('birthMonth')",
                            }}) }}

                            {{ form_widget(form.birthdate.year, {label: false, attr: {
                                class: 'w-full',
                                placeholder: 'Année',
                                validate: "['required']",
                                onCheck: "setFieldValid('birthYear')",
                                searchBoxProps: {'x-numberonly': ''},
                            }}) }}
                        </fieldset>

                        {{ form_help(form.birthdate, {help_attr: {class: 'mt-3'}}) }}

                        {{ form_errors(form.birthdate) }}

                        {% if event.textHelpBirthdateField %}
                            <div class="text-ui_gray-50 formatted-text">
                                {{ event.textHelpBirthdateField|raw|nl2br }}
                            </div>
                        {% endif %}
                    </fieldset>

                    {% if form.birthPlace is defined %}
                        {{ form_row(form.birthPlace, {
                            label: 'Lieu de naissance',
                            attr: {placeholder: 'Ma ville de naissance', onCheck: "setFieldValid('birthPlace')", validate: "['required']"},
                        }) }}
                    {% endif %}

                    <fieldset>
                        {{ form_row(form.phone, {label: 'Numéro de téléphone', help: event.textHelpPhoneField ? event.textHelpPhoneField : 'En nous communiquant votre téléphone, vous recevrez votre billet par SMS.'}) }}
                    </fieldset>

                    {% if form.emergencyContactName is defined %}
                        <div class="flex flex-col bg-ui_gray-1 rounded-lg gap-4 p-6">
                            <label class="font-bold" for="{{ form.emergencyContactName.vars.id }}">Contact en cas d’urgence (obligatoire)</label>

                            <div class="text-ui_gray-50">En cas de problème nous contacterons cette personne.</div>

                            {{ form_row(form.emergencyContactName) }}

                            <fieldset>
                                {{ form_row(form.emergencyContactPhone) }}
                            </fieldset>
                        </div>
                    {% endif %}

                    {% if form.isJAM is defined %}
                        <div class="bg-ui_gray-1 rounded-lg p-6 mt-4">
                            {{ form_row(form.isJAM, {attr: {widget_side: 'right'}}) }}
                        </div>
                    {% endif %}
                </twig:Atoms:ReCard>

                {% for child in form.packageValues %}
                    {% set configKey = child.vars.name %}

                    {% set currentConfig = packageConfig|filter(item => item.cle == configKey)|first %}
                    {% set defaultVisibility = (currentConfig.dependence is defined and currentConfig.dependence is not empty) ? 'false' : 'true' %}

                    <twig:Atoms:ReCard
                        class="!rounded-2xl !gap-6"
                        data-field-group="{{ configKey }}"
                        x-show="availabilities.{{ configKey }} ?? {{ defaultVisibility }}"
                        x-cloak
                    >
                        {{ form_row(child) }}
                    </twig:Atoms:ReCard>
                {% endfor %}

                <twig:Atoms:ReCard class="!rounded-2xl !gap-6">
                    <div class="bg-ui_gray-1 rounded-lg p-6 flex flex-col gap-4" x-show="getSummaryItems().length > 0">
                        {{ form_row(form.withDiscount, {label: event.discountLabel ?? 'Étudiant, demandeur d’emploi ou bénéficiaire des minimas sociaux ? Vous bénéficiez de -50%', attr: {
                            widget_side: 'right',
                            'x-model': 'withDiscount',
                        }}) }}

                        {% if event.discountHelp %}
                            <div class="text-ui_gray-60 formatted-text">
                                {{ event.discountHelp|raw|nl2br }}
                            </div>
                        {% endif %}
                    </div>

                    <div class="bg-ui_gray-1 rounded-lg p-6 flex flex-col gap-4">
                        {% if form.volunteer is defined %}
                            {{ form_row(form.volunteer, {label: "Je souhaite être bénévole pour aider à l'organisation", attr: {widget_side: 'right'}}) }}
                        {% endif %}

                        <div>
                            <twig:Molecules:ReCheckboxField widgetSide="right" id="accessibility-checkbox" x-model="accessibility">
                                <label for="accessibility-checkbox">J’ai une allergie, un régime spécial, un handicap ou autre question</label>
                            </twig:Molecules:ReCheckboxField>
                        </div>
                        <div x-show="accessibility" x-transition x-cloak>
                            {{ form_row(form.accessibility, {label: false, attr: {rows: 6, placeholder: 'Décrivez les aménagements que nous pourrions anticiper'}}) }}
                        </div>
                    </div>

                    {% if form.allowNotifications is defined %}
                        {{ form_row(form.allowNotifications, {label: 'Je m’abonne à la newsletter pour ne rien rater des actualités de Renaissance (optionnel)'}) }}
                    {% endif %}

                    {{ form_row(form.acceptCgu, {label: 'national_event.inscription.accept_cgu', attr: {validate: '["required"]', onCheck: "setFieldValid('acceptCgu')"}}) }}

                    {% if event.isJEM() %}
                        {% set accept_media_label = 'En participant à cet événement, je suis informé(e) qu’il sera filmé  et autorise les JEM ou toute structure qui se substituerait à elle, à enregistrer sur tous supports mon image et ma voix et/ou mon image et  la voix d’un mineur dont je suis le représentant légal, à l’exploiter et à la diffuser en intégralité ou par extrait (1)' %}
                    {% else %}
                        {% set accept_media_label = 'En participant à cet événement, je suis informé(e) qu’il sera filmé et autorise Renaissance ou toute structure qui se substituerait à elle, à enregistrer sur tous supports mon image et ma voix et/ou mon image et la voix d’un mineur dont je suis le représentant légal, à l’exploiter et à la diffuser en intégralité ou par extrait (1)' %}
                    {% endif %}

                    {{ form_row(form.acceptMedia, {label: accept_media_label, attr: {validate: '["required"]', onCheck: "setFieldValid('acceptMedia')"}}) }}

                    <div class="w-full re-field-frame !h-auto cursor-pointer" @click="dom('.frc-button')?.click()">
                        {{ include('renaissance/partials/friendly-captcha.html.twig', {friendly_captcha_site_key: friendly_captcha_europe_site_key}) }}
                    </div>

                    <div class="flex flex-col bg-ui_gray-1 rounded-lg p-6 gap-4" x-show="getSummaryItems().length > 0" x-cloak>
                        <twig:Atoms:ReLabel class="text-gray-950">Récapitulatif</twig:Atoms:ReLabel>

                        <template x-for="item in getSummaryItems()" :key="item.label">
                            <div class="grid grid-cols-[5fr_1fr] gap-2 items-center">
                                <span x-text="item.label"></span>
                                <span class="text-right" :class="item.price < 0 ? 'text-ui_green-50' : 'text-ui_blue-50'" x-text="item.price.toLocaleString() + ' €'"></span>
                            </div>
                        </template>

                        <div class="grid grid-cols-[5fr_1fr] gap-2 mt-1 items-center">
                            <span class="font-medium text-ui_gray-80">Montant total</span>
                            <span class="font-medium text-ui_gray-80 text-right" x-text="getTotalPrice().toLocaleString() + ' €'"></span>
                        </div>
                    </div>

                    <twig:ReButton class="w-full" color="blue">Je réserve ma place</twig:ReButton>
                </twig:Atoms:ReCard>

                {{ block('national_event_legality') }}
            </div>

            <input type="hidden" id="email-validation-token" value="{{ email_validation_token }}"/>
        {{ form_end(form) }}
    </div>
{% endblock %}
