<div class="l__wrapper--narrow">
    <h3 class="text--medium b__nudge--bottom-50">Détails du candidat</h3>

    <div class="data-listing">
        <div class="data-listing__row">
            <div class="data-listing__item data-listing__item--label">Nom</div>
            <div class="data-listing__item data-listing__item--value">{{ request.lastName }}</div>
        </div>

        <div class="data-listing__row">
            <div class="data-listing__item data-listing__item--label">Prénom</div>
            <div class="data-listing__item data-listing__item--value">{{ request.firstName }}</div>
        </div>

        <div class="data-listing__row">
            <div class="data-listing__item data-listing__item--label">Téléphone</div>
            <div class="data-listing__item data-listing__item--value">{{ request.phone ? request.phone|phone_number_format : '' }}</div>
        </div>

        <div class="data-listing__row">
            <div class="data-listing__item data-listing__item--label">Quelle est votre profession ?</div>
            <div class="data-listing__item data-listing__item--value">{{ request.profession }}</div>
        </div>

        <div class="data-listing__row b__nudge--bottom">
            <div class="data-listing__item data-listing__item--label">Vos thématique(s) de prédilection</div>
            <div class="data-listing__item data-listing__item--value">
                <ul>
                    {% for favoriteTheme in request.favoriteThemes %}
                        <li>{{ favoriteTheme.name }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        <div class="data-listing__row b__nudge--bottom">
            <div class="data-listing__item data-listing__item--label">Détails thématiques “Autres”</div>
            <div class="data-listing__item data-listing__item--value text--justify">{{ request.customFavoriteTheme }}</div>
        </div>

        <div class="data-listing__row b__nudge--bottom">
            <div class="data-listing__item data-listing__item--label">Disposez-vous de compétences techniques spécifiques ?</div>
            <div class="data-listing__item data-listing__item--value">
                <ul>
                    {% for technicalSkill in request.technicalSkills %}
                        <li>{{ technicalSkill.name }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        <div class="data-listing__row b__nudge--bottom">
            <div class="data-listing__item data-listing__item--label">Avez-vous déjà participé à une campagne ?</div>
            <div class="data-listing__item data-listing__item--value">{{ request.isPreviousCampaignMember ? 'Oui' : 'Non' }}</div>
        </div>

        <div class="data-listing__row b__nudge--bottom">
            <div class="data-listing__item data-listing__item--label">Détails</div>
            <div class="data-listing__item data-listing__item--value text--justify">{{ request.previousCampaignDetails }}</div>
        </div>

        <div class="data-listing__row">
            <div class="data-listing__item data-listing__item--label">Souhaitez-vous nous faire part de vos engagements associatifs et/ou militants ?</div>
            <div class="data-listing__item data-listing__item--value">{{ request.shareAssociativeCommitment ? 'Oui' : 'Non' }}</div>
        </div>

        <div class="data-listing__row">
            <div class="data-listing__item data-listing__item--label">Détails</div>
            <div class="data-listing__item data-listing__item--value text--justify">{{ request.associativeCommitmentDetails }}</div>
        </div>
    </div>
</div>
