{% extends 'admin/layout.html.twig' %}

{% block sonata_page_content_header %}
    <div class="sticky-wrapper">
        <nav class="navbar navbar-default" role="navigation" style="width: auto;">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">
                        Mandats du comité "{{ committee.name }}"
                    </a>
                </div>
                {{ include(('admin/committee/_actions_menu_right.html.twig'), {object: committee}) }}
            </div>
        </nav>
    </div>
{% endblock %}

{% block sonata_admin_content %}
    {% block notice %}
        {{ parent() }}
    {% endblock %}

    <p>
        <a href="{{ path('admin_app_committee_list') }}" class="btn btn-default">
            <i class="fa fa-chevron-left" aria-hidden="true"></i>
            Retour à la liste
        </a>
        {% if is_granted('ADD_MANDATE_TO_COMMITTEE', committee) %}
            <a href="{{ path('app_admin_committee_add_mandate', {id: committee.id}) }}" class="btn btn-default">
                <i class="fa fa-plus" aria-hidden="true"></i>
                Ajouter un mandat
            </a>
        {% endif %}
    </p>

    {% set mandates = committee.adherentMandates %}
    {% set can_change_mandate = is_granted('CHANGE_MANDATE_OF_COMMITTEE', committee) %}

    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header">
                    <h4 class="box-title">Mandats actifs</h4>
                </div>
                <div class="box-body table-responsive no-padding">
                    <table class="table table-bordered table-striped sonata-ba-list committee-active-mandates">
                        <thead>
                            <tr>
                                <th width="30px">
                                    Id
                                </th>
                                <th width="140px">
                                    Type
                                </th>
                                <th width="75px">
                                    Civilité
                                </th>
                                <th>
                                    Adhérent
                                </th>
                                <th width="120px">
                                    Date de début
                                </th>
                                <th width="120px">
                                    Actions
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for mandate in mandates|filter(mandate => mandate.finishAt is null)|sort((a, b) => (b.beginAt <=> a.beginAt)) %}
                            {% set adherent = mandate.adherent %}
                            <tr>
                                <td>
                                    {{ mandate.id }}
                                </td>
                                <td>
                                    {{ ('adherent_mandate.committee.' ~ mandate.type)|trans }}
                                </td>
                                <td>
                                    {{ ('common.gender.' ~ mandate.gender)|trans }}
                                </td>
                                <td>
                                    <a href="{{ path('admin_app_adherent_show', {id: adherent.id}) }}">
                                        {{ adherent.fullName }}
                                    </a>
                                    <br />
                                    {{ adherent.emailAddress }}
                                </td>
                                <td>
                                    {{ mandate.beginAt|date('d/m/Y H:i') }}
                                </td>
                                <td>
                                    {% if can_change_mandate %}
                                        <a href="{{ path('app_admin_committee_replace_mandate', {id: mandate.id}) }}" class="btn btn-xs btn-default">
                                            <i class="fa fa-repeat" aria-hidden="true"></i>
                                            Remplacer
                                        </a>
                                        <a href="{{ path('app_admin_committee_close_mandate', {id: mandate.id}) }}" class="btn btn-xs btn-default">
                                            <i class="fa fa-close" aria-hidden="true"></i>
                                            Retirer
                                        </a>
                                    {% endif %}
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="5" class="text--center">
                                    <img src="{{ asset('/images/icons/icn_no-result.svg') }}" class="icn--no-result" width="30" />
                                    Pas de mandats
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header">
                    <h4 class="box-title">Mandats inactifs</h4>
                </div>
                <div class="box-body table-responsive no-padding">
                    <table class="table table-bordered table-striped sonata-ba-list committee-inactive-mandates">
                        <thead>
                        <tr>
                            <th width="30px">
                                Id
                            </th>
                            <th width="140px">
                                Type
                            </th>
                            <th width="75px">
                                Civilité
                            </th>
                            <th>
                                Adhérent
                            </th>
                            <th width="120px">
                                Date de début
                            </th>
                            <th width="120px">
                                Date de fin
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for mandate in mandates|filter(mandate => mandate.finishAt is not null)|sort((a, b) => (b.finishAt > a.finishAt ? 1 : (b.finishAt == a.finishAt ? b.beginAt <=> a.beginAt : -1))) %}
                            {% set adherent = mandate.adherent %}
                            <tr>
                                <td>
                                    {{ mandate.id }}
                                </td>
                                <td>
                                    {{ ('adherent_mandate.committee.' ~ mandate.type)|trans }}
                                </td>
                                <td>
                                    {{ ('common.gender.' ~ mandate.gender)|trans }}
                                </td>
                                <td>
                                    <a href="{{ path('admin_app_adherent_show', {id: adherent.id}) }}">
                                        {{ adherent.fullName }}
                                    </a>
                                    <br />
                                    {{ adherent.emailAddress }}
                                </td>
                                <td>
                                    {{ mandate.beginAt|date('d/m/Y') }}
                                </td>
                                <td>
                                    {{ mandate.finishAt|date('d/m/Y') }}
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="6" class="text--center">
                                    <img src="{{ asset('/images/icons/icn_no-result.svg') }}" class="icn--no-result" width="30" />
                                    Pas de mandats
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
