{% extends 'admin/committee/mandates/_layout_mandate_action.html.twig' %}

{% form_theme form '@SonataDoctrineORMAdmin/Form/form_admin_fields.html.twig' %}

{% set new_mandate_name %}
    Nouveau {{ mandate.quality is constant('App\\Entity\\AdherentMandate\\CommitteeMandateQualityEnum::SUPERVISOR')
                ? 'animateur provisoire' : 'adhérent désigné' }}
{% endset %}

{% block action_title 'Remplacer' %}
{% block action_title_left %}
    Ancien {{ include('admin/committee/mandates/_type.html.twig', { mandate: mandate })|lower }}
{% endblock %}

{% block action_title_right %}
    {{ new_mandate_name }}
{% endblock %}

{% block action_content_left %}
    <div class="table-responsive margin-bottom">
        {% include('admin/committee/mandates/_mandate_as_table.html.twig') with { mandate: mandate, show_all: true } %}
    </div>
{% endblock %}

{% block action_content_right %}
    {{ form_errors(form) }}

    <div class="sonata-ba-collapsed-fields">
        {{ form_row(form.adherent, { label: new_mandate_name, attr: { placeholder: 'Insérer un Id d\'adhérent' } }) }}
    </div>
    {% do form.confirm.setRendered %}
{% endblock %}

{% block action_buttons %}
    <div>
        <button type="submit" class="btn btn-success">Suivant</button>
        <a href="{{ path('app_admin_committee_mandates', { id: mandate.committee.id }) }}" class="btn btn-danger">
            Retour à la liste des mandats
        </a>
    </div>
{% endblock %}
