{% extends 'SonataAdminBundle:CRUD:base_list.html.twig' %}

{% block list_table %}
    <div class="col-xs-12 col-md-12">
        {% set batchactions = admin.batchactions %}
        {% if admin.hasRoute('batch') and batchactions|length %}
        <form action="{{ admin.generateUrl('batch', {'filter': admin.filterParameters}) }}" method="POST" >
            <input type="hidden" name="_sonata_csrf_token" value="{{ csrf_token }}">
            {% endif %}

            {# Add a margin if no pager to prevent dropdown cropping on window #}
            <div class="box box-primary" {% if admin.datagrid.pager.lastPage == 1 %}style="margin-bottom: 100px;"{% endif %}>
                <div class="box-body {% if admin.datagrid.results|length > 0 %}table-responsive{% endif %}">
                    {{ sonata_block_render_event('sonata.admin.list.table.top', { 'admin': admin }) }}

                    {% block list_header %}{% endblock %}

                    {% if admin.datagrid.results|length > 0 %}

                        {% for stepName, stepNumber in constant('App\\Entity\\MyEuropeChoice::STEPS') %}
                            {% set objects = [] %}
                            {% for object in admin.datagrid.results if object.step == stepNumber %}
                                {% set objects = objects|merge({ (loop.index0): object}) %}
                            {% endfor %}

                            <h2>{{ stepName|trans([], 'forms') }}</h2>

                            {% if objects|length %}
                                <table class="table table-bordered table-striped sonata-ba-list">
                                    {% block table_header %}
                                        <thead>
                                        <tr class="sonata-ba-list-field-header">
                                            {% for field_description in admin.list.elements %}
                                                {% if admin.hasRoute('batch') and field_description.getOption('code') == '_batch' and batchactions|length > 0 %}
                                                    <th class="sonata-ba-list-field-header sonata-ba-list-field-header-batch">
                                                        <input type="checkbox" id="list_batch_checkbox">
                                                    </th>
                                                {% elseif field_description.getOption('code') == '_select' %}
                                                    <th class="sonata-ba-list-field-header sonata-ba-list-field-header-select"></th>
                                                {% elseif field_description.name == '_action' and app.request.isXmlHttpRequest %}
                                                    {# Action buttons disabled in ajax view! #}
                                                {% elseif field_description.getOption('ajax_hidden') == true and app.request.isXmlHttpRequest %}
                                                    {# Disable fields with 'ajax_hidden' option set to true #}
                                                {% else %}
                                                    {% set sortable = false %}
                                                    {% if field_description.options.sortable is defined and field_description.options.sortable %}
                                                        {% set sortable             = true %}
                                                        {% set sort_parameters      = admin.modelmanager.sortparameters(field_description, admin.datagrid) %}
                                                        {% set current              = admin.datagrid.values._sort_by == field_description or admin.datagrid.values._sort_by.fieldName == sort_parameters.filter._sort_by %}
                                                        {% set sort_active_class    = current ? 'sonata-ba-list-field-order-active' : '' %}
                                                        {% set sort_by              = current ? admin.datagrid.values._sort_order : field_description.options._sort_order %}
                                                    {% endif %}

                                                    {% spaceless %}
                                                        <th class="sonata-ba-list-field-header-{{ field_description.type}} {% if sortable %} sonata-ba-list-field-header-order-{{ sort_by|lower }} {{ sort_active_class }}{% endif %}{% if field_description.options.header_class is defined %} {{ field_description.options.header_class }}{% endif %}"{% if field_description.options.header_style is defined %} style="{{ field_description.options.header_style }}"{% endif %}>
                                                            {% if sortable %}<a href="{{ admin.generateUrl('list', sort_parameters) }}">{% endif %}
                                                                {{ field_description.label|trans({}, field_description.translationDomain) }}
                                                                {% if sortable %}</a>{% endif %}
                                                        </th>
                                                    {% endspaceless %}
                                                {% endif %}
                                            {% endfor %}
                                        </tr>
                                        </thead>
                                    {% endblock %}

                                    {% block table_body %}
                                        <tbody>
                                        {% for object in objects %}
                                            <tr>
                                                {% include admin.getTemplate('inner_list_row') %}
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    {% endblock %}

                                    {% block table_footer %}
                                    {% endblock %}
                                </table>
                            {% else %}
                                {{ block('no_result_content') }}
                            {% endif %}
                        {% endfor %}
                    {% else %}
                        {% block no_result_content %}
                            <div class="info-box">
                                <span class="info-box-icon bg-aqua"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i></span>
                                <div class="info-box-content">
                                    <span class="info-box-text">{{ 'no_result'|trans({}, 'SonataAdminBundle') }}</span>
                                    <div class="progress">
                                        <div class="progress-bar" style="width: 0%"></div>
                                    </div>
                                    <span class="progress-description">
                                    {% if not app.request.xmlHttpRequest %}
                                        <ul class="list-unstyled">
                                        {% include 'SonataAdminBundle:Button:create_button.html.twig' %}
                                    </ul>
                                    {% endif %}
                                </span>
                                </div><!-- /.info-box-content -->
                            </div>
                        {% endblock %}
                    {% endif %}

                    {{ sonata_block_render_event('sonata.admin.list.table.bottom', { 'admin': admin }) }}
                </div>

                {% block list_footer %}
                    {% if admin.datagrid.results|length > 0 %}
                        <div class="box-footer">
                            <div class="form-inline clearfix">
                                {% if not app.request.isXmlHttpRequest %}
                                    <div class="pull-left">
                                        {% if admin.hasRoute('batch') and batchactions|length > 0  %}
                                            {% block batch %}
                                                <script>
                                                    {% block batch_javascript %}
                                                    jQuery(document).ready(function ($) {
                                                        // Toggle individual checkboxes when the batch checkbox is changed
                                                        $('#list_batch_checkbox').on('ifChanged change', function () {
                                                            var checkboxes = $(this)
                                                                            .closest('table')
                                                                            .find('td.sonata-ba-list-field-batch input[type="checkbox"], div.sonata-ba-list-field-batch input[type="checkbox"]')
                                                                    ;
                                                            if (window.SONATA_CONFIG.USE_ICHECK) {
                                                                checkboxes.iCheck($(this).is(':checked') ? 'check' : 'uncheck');
                                                            } else {
                                                                checkboxes.prop('checked', this.checked);
                                                            }
                                                        });

                                                        // Add a CSS class to rows when they are selected
                                                        $('td.sonata-ba-list-field-batch input[type="checkbox"], div.sonata-ba-list-field-batch input[type="checkbox"]')
                                                                .on('ifChanged change', function () {
                                                                    $(this)
                                                                            .closest('tr, div.sonata-ba-list-field-batch')
                                                                            .toggleClass('sonata-ba-list-row-selected', $(this).is(':checked'))
                                                                    ;
                                                                })
                                                                .trigger('ifChanged')
                                                        ;
                                                    });
                                                    {% endblock %}
                                                </script>

                                            {% block batch_actions %}
                                                <label class="checkbox" for="{{ admin.uniqid }}_all_elements">
                                                    <input type="checkbox" name="all_elements" id="{{ admin.uniqid }}_all_elements">
                                                    {{ 'all_elements'|trans({}, 'SonataAdminBundle') }}
                                                    ({{ admin.datagrid.pager.nbresults }})
                                                </label>

                                                <select name="action" style="width: auto; height: auto" class="form-control">
                                                    {% for action, options in batchactions %}
                                                        <option value="{{ action }}">{{ options.label|trans({}, options.translation_domain|default(admin.translationDomain)) }}</option>
                                                    {% endfor %}
                                                </select>
                                            {% endblock %}

                                                <input type="submit" class="btn btn-small btn-primary" value="{{ 'btn_batch'|trans({}, 'SonataAdminBundle') }}">
                                            {% endblock %}
                                        {% endif %}
                                    </div>


                                    {# NEXT_MAJOR : remove this assignment #}
                                    {% set export_formats = export_formats|default(admin.exportFormats) %}

                                    <div class="pull-right">
                                        {% if admin.hasRoute('export') and admin.hasAccess('export') and export_formats|length %}
                                            <div class="btn-group">
                                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                                    <i class="fa fa-share-square-o" aria-hidden="true"></i>
                                                    {{ "label_export_download"|trans({}, "SonataAdminBundle") }}
                                                    <span class="caret"></span>
                                                </button>
                                                <ul class="dropdown-menu">
                                                    {% for format in export_formats %}
                                                    <li>
                                                        <a href="{{ admin.generateUrl('export', admin.modelmanager.paginationparameters(admin.datagrid, 0) + {'format' : format}) }}">
                                                            <i class="fa fa-arrow-circle-o-down" aria-hidden="true"></i>
                                                            {{ ("export_format_" ~ format)|trans({}, 'SonataAdminBundle') }}
                                                        </a>
                                                    <li>
                                                        {% endfor %}
                                                </ul>
                                            </div>

                                            &nbsp;-&nbsp;
                                        {% endif %}

                                        {% block pager_results %}
                                            {% include admin.getTemplate('pager_results') %}
                                        {% endblock %}
                                    </div>
                                {% endif %}
                            </div>

                            {% block pager_links %}
                                {% if admin.datagrid.pager.haveToPaginate() %}
                                    <hr/>
                                    {% include admin.getTemplate('pager_links') %}
                                {% endif %}
                            {% endblock %}
                        </div>
                    {% endif %}
                {% endblock %}
            </div>
            {% if admin.hasRoute('batch') and batchactions|length %}
        </form>
        {% endif %}
    </div>
{% endblock %}
