{% extends 'SonataAdminBundle::standard_layout.html.twig' %}

{% block sonata_page_content_header %}
    <div class="sticky-wrapper">
        <nav class="navbar navbar-default" role="navigation" style="width: auto;">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">
                        Export des Mon Europe
                    </a>
                </div>
            </div>
        </nav>
    </div>
{% endblock %}

{% set urlAdminList = path('admin_app_myeuropeinvitation_list') %}
{% set filenameCsv = 'my-europe-invitations.csv' %}
{% set urlAdminExportPartial = path('app_admin_myeurope_export_invitations_partial') %}

{% block sonata_admin_content %}
    {% block notice %}
        {{ parent() }}
    {% endblock %}

    <p>
        <a href="{{ urlAdminList }}" class="btn btn-default">
            <i class="fa fa-chevron-left" aria-hidden="true"></i>
            Retour à la liste
        </a>
    </p>

    <div id="state-export">
        <p>
            Export en cours ...
        </p>
        <p>
            <span id="progress_percentage">0</span> % effectué (<span id="progress_count">0</span> / {{ total_count }})
        </p>

        <div class="progress">
            <div class="progress-bar progress-bar-striped active" role="progressbar" id="progress_bar" style="width: 0%"></div>
        </div>
    </div>

    <div id="state-ready" style="display: none;">
        <p>
            Export terminé
        </p>
        <p>
            <a href="#" target="_blank" download="{{ filenameCsv }}" class="btn btn-primary" id="button-download">
                Télécharger le fichier CSV
            </a>
        </p>
    </div>
{% endblock %}


{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript">
        $(function() {
            var stateExport = $('#state-export');
            var stateReady = $('#state-ready');
            var buttonDownload = $('#button-download');

            setTimeout(function() {
                var progressCountView = $('#progress_count');
                var progressPercentageView = $('#progress_percentage');
                var progressBarView = $('#progress_bar');

                var apiPartialEndpoint = '{{ urlAdminExportPartial }}';

                var totalCount = {{ total_count }};
                var currentPage = 1;
                var currentCount = 0;
                var percentage = 0;

                var csv = "{{ csv_header }}\r\n";

                function loadNextPage() {
                    if (currentCount >= totalCount) {
                        buttonDownload.attr('href', window.URL.createObjectURL(new Blob([csv], { type: 'text/csv' })));

                        stateExport.hide();
                        stateReady.show();

                        return;
                    }

                    var request = $.ajax({
                        url: apiPartialEndpoint+'?page='+currentPage
                    });

                    request.then(function(data) {
                        currentPage++;
                        currentCount += data.count;
                        csv += data.lines+"\r\n";

                        percentage = Math.round((currentCount / totalCount) * 100);

                        progressCountView.text(currentCount);
                        progressPercentageView.text(percentage);
                        progressBarView.width(percentage+'%');

                        loadNextPage();
                    });
                }

                loadNextPage();
            }, 100);
        });
    </script>
{% endblock %}
