{% if events is empty %}
    <div class="rounded-lg p-5 md:p-6 bg-white shadow overflow-hidden">
        <div class="flex flex-col">
            <h3 class="flex items-center justify-center text-lg font-medium leading-6 text-gray-900 tracking-wider">Participez à un événement proche de chez vous</h3>
            <div class="mt-6 flex justify-center">
                <a href="{{ path('app_renaissance_event_list') }}" class="button button-blue">Rechercher un événement</a>
            </div>
        </div>
    </div>
{% else %}
    <div class="grid lg:grid-cols-2 gap-6">
        {% for registration in events %}
            {% set event = registration.event %}
            <article class="flex flex-col overflow-hidden border rounded-lg shadow-md border-slate-100">
                <div class="flex flex-col justify-between flex-1 p-6 bg-white">
                    <div class="flex items-center justify-between space-x-1 text-gray-500">
                        <span class="inline-flex items-center">
                            {{ include('icons/calendar-empty.svg.twig', {svg_class: 'h-5 w-5 mr-2'}) }}
                            <time datetime="{{ event.beginAt|format_datetime('none', 'none', "HH'H'mm") }}" class="capitalize">
                                {{ event.beginAt|format_datetime('full', 'none', 'E d MMM YYYY') }}
                            </time>
                        </span>
                        <span class="inline-flex items-center gap-x-1.5 rounded-full px-2 py-1 text-sm text-gray-700 ring-1 ring-inset ring-gray-200">
                            <svg class="h-1.5 w-1.5 fill-blue-600" viewBox="0 0 6 6" aria-hidden="true">
                                <circle cx="3" cy="3" r="3" />
                            </svg>
                            {{ event.categoryName }}
                        </span>
                    </div>
                    <div class="mt-5 flex-1">
                        <h3 class="text-lg font-medium text-slate-900">{{- event.name -}}</h3>
                    </div>
                    <div class="mt-8">
                        <div class="text-sm leading-5 text-gray-500">
                            <p class="flex items-center flex-wrap">
                                {{ include('icons/user.svg.twig', {svg_class: 'h-5 w-5 mr-1.5'}) }}
                                <span>
                                    {% if event.committee %}
                                        Par le comité <span class="font-medium text-gray-700">{{ event.committee.name }}</span>
                                    {% elseif event.organizer %}
                                        Par <span class="font-medium text-gray-700">{{ is_granted('ROLE_USER') ? event.organizer.fullName : event.organizer.partialName }}</span>
                                    {% endif %}
                                </span>
                            </p>
                            {% if event.getAddress() %}
                                <p class="mt-2 flex items-center">
                                    {{ include('icons/map.svg.twig', {svg_class: 'h-5 w-5 mr-1.5'}) }}
                                    <span>
                                        {{ event.postAddress.inlineFormattedAddress }}
                                    </span>
                                </p>
                            {% endif %}
                            <p class="mt-2 flex items-center">
                                {{ include('icons/clock.svg.twig', {svg_class: 'h-5 w-5 mr-1.5'}) }}
                                <span>
                                    <time datetime="{{ event.beginAt|format_datetime('none', 'none', "HH'H'mm") }}" class="capitalize">
                                        {{ event.beginAt|date('G\\hi') -}} {{ event.timeZone|utc_offset }}
                                    </time>
                                </span>
                            </p>
                        </div>
                        <div class="mt-3 flex items-center justify-between space-x-1 text-gray-500">
                            <a class="inline-flex items-center leading-5 font-medium text-blue-700 hover:underline"
                               href="{{ path('app_renaissance_event_show', {slug: event.slug}) }}">
                                {{ include('icons/eye.svg.twig', {svg_class: 'h-5 w-5 mr-2'}) }}
                                En savoir plus
                            </a>
                            <span class="inline-flex items-center">
                                {{ include('icons/participants.svg.twig', {svg_class: 'h-5 w-5 mr-2'}) }}
                                {{ 'participants_count'|trans({count: event.participantsCount}) }}
                           </span>
                        </div>
                    </div>
                </div>
            </article>
        {% endfor %}
    </div>
    {% if events.lastPage > 1 %}
        {{ include('renaissance/partials/pagination.html.twig', {
            current_page: events.currentPage,
            total_pages: events.lastPage,
            pagination_type: events_type,
        }) }}
    {% endif %}
{% endif %}
