{% import 'voting_platform/_macros.html.twig' as helper %}

<div class="candidate__box l__row b__nudge--bottom-medium">
    {{ form_widget(form) }}
    {{ form_label(form, ' ') }}

    <div class="box__content">
        {% if candidate_group %}
            {% for candidate in candidate_group.candidates %}
                <div class="candidate-photo avatar-initials avatar--large avatar--style-01">
                    {{ helper.display_candidate_photo(candidate) }}
                </div>

                <div class="candidate-infos">
                    <h3 class="candidate-name text--medium b__nudge--bottom-tiny">{{ candidate.fullName }}</h3>
                    <div class="candidate-biography">
                        {% if candidate.hasBiography %}
                            <a href="#" class="text--body link--no-decor text--blue--dark b__nudge--none em-modal--trigger"
                              data-confirm-content-element="#candidate-biography-content-{{ candidate.uuid.toString|slice(0, 8) }}"
                            >Lire la présentation</a>

                            <div id="candidate-biography-content-{{ candidate.uuid.toString|slice(0, 8) }}" class="hidden">
                                <h3 class="text--muted text--uppercase b__nudge--bottom">Présentation</h3>

                                <h2 class="text--medium-large b__nudge--bottom-larger">{{ candidate.fullName }}</h2>

                                <p class="text--body text--dark">{{ candidate.biography }}</p>
                            </div>
                        {% else %}
                            <span class="text--body text--muted b__nudge--none">Présentation indisponible</span>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <div class="candidate-infos">
                <h3 class="candidate-name text--medium b__nudge--bottom-tiny">Bulletin blanc</h3>
            </div>
        {% endif %}
    </div>
</div>
