<div class="candidate__box l__row {{ not designation.isPollType() ? 'l__row--v-stretch' }} b__nudge--bottom-medium">
    {{ form_widget(form) }}

    {% if designation.isExecutiveOfficeType() %}
        {{ include('voting_platform/vote_step/candidate_box/burex_content.html.twig') }}
    {% elseif designation.isTerritorialAssemblyType() or designation.isLocalElectionTypes() or designation.isCommitteeSupervisorType() %}
        {{ include('voting_platform/vote_step/candidate_box/local_election_content.html.twig') }}
    {% else %}
        {{ include('voting_platform/vote_step/candidate_box/default_content.html.twig') }}
    {% endif %}
</div>
