{% import 'voting_platform/_macros.html.twig' as helper %}

<div class="candidate__box l__row l__row--v-stretch b__nudge--bottom-medium">
    <div class="box__content">
        {% set candidates = candidate_group.getCandidatesSorted() %}

        <ul class="candidate-names">
            {% for candidate in candidates %}
                <li class="text--body">{{ candidate.fullName }} <span class="candidate-gender l__col l__col--center">{{ candidate.isFemale ? 'F' : 'H' }}</span></li>
            {% endfor %}
        </ul>

        <div class="candidate-footer l__row l__row--h-stretch">
            <div class="left l__row">
                {% for candidate in candidates %}
                    <div class="candidate-photo avatar-initials avatar--small avatar--style-01">
                        {{ helper.display_candidate_photo(candidate) }}
                    </div>
                {% endfor %}
            </div>

            <div class="right">
                {% set candidacies_with_bio = candidates|filter(candidacy => candidacy.hasBiography) %}

                {% if candidacies_with_bio|length > 0 %}
                    <div class="candidate-biography">
                        <a href="#" class="text--body link--no-decor text--blue--dark b__nudge--none em-modal--trigger"
                           data-content-element="#candidate-biography-content-{{ candidate_group.uuid }}"
                           data-modal-side="right"
                        >Voir la candidature</a>

                        <div id="candidate-biography-content-{{ candidate_group.uuid }}" class="hidden">
                            {% for candidate in candidacies_with_bio %}
                                <h3 class="text--muted text--uppercase b__nudge--bottom">Présentation</h3>

                                <h2 class="text--medium-large b__nudge--bottom-larger">{{ candidate.fullName }}</h2>

                                <p class="text--body text--dark">{{ candidate.biography|nl2br }}</p>

                                {% if loop.last and candidate.faithStatement %}
                                    <h3 class="text--muted text--normal text--uppercase b__nudge--bottom b__nudge--top-60">Notre projet</h3>

                                    <p class="text--body text--dark">{{ candidate.faithStatement|nl2br }}</p>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                {% else %}
                    <span class="text--body text--muted b__nudge--none">Présentation indisponible</span>
                {% endif %}
            </div>
        </div>

        {{ form_errors(form) }}
        {{ form_widget(form) }}
    </div>
</div>
