{% extends 'base_renaissance.html.twig' %}

{% block page_title 'Adhérez à Renaissance en 1 minute' %}
{% block flash_message '' %}
{% block body_classes 'bg-ui_gray-5' %}

{% form_theme form 'renaissance/forms/tailwind_form_theme.html.twig' %}

{% block head_javascripts %}
    <script>
        function isFranceCountry() {
            const countryInput = document.querySelector('[id$=_country]');
            return 'FR' !== countryInput.value;
        }
    </script>
{% endblock %}

{% block content %}
    <main class="flex flex-col items-center py-10">
        <twig:Atoms:ReCard class="gap-6 max-w-lg">
            {{ include('renaissance/partials/flashes.html.twig', {slim: true}) }}

            <h1 class="font-maax font-medium text-ui_gray-80">Adhérez à Renaissance en 1 minute</h1>

            {{ form_start(form) }}
                <div class="flex flex-col gap-6" x-data="{
                        showAutoComplete: true,
                        showForm: {{ is_valid is not same as(null) ? 'true' : 'false' }},
                        setFieldValid(field) { this[field] = true;},
                }">
                    <div class="flex flex-col gap-6 border rounded-2xl p-6 max-w-md">
                        <div style="display: none" class="flex flex-col gap-6" x-show="showForm">
                            {{ form_row(form.civility, {label: 'Mes informations'}) }}

                            <div class="flex flex-col xs:flex-row gap-5 ">
                                {{ form_row(form.firstName, {label: false, attr: {placeholder: 'Prénom'}}) }}
                                {{ form_row(form.lastName, {label: false, attr: {placeholder: 'Nom'}}) }}
                            </div>

                            {{ form_row(form.email, {label: 'Mon adresse email'}) }}

                            {{ form_row(form.nationality, {label: 'Nationalité'}) }}

                            {{ form_row(form.address, {label: 'Adresse postale'}) }}

                            <fieldset class="relative">
                                <twig:Atoms:ReLabel class="mb-6">Date de naissance</twig:Atoms:ReLabel>

                                <fieldset class="flex gap-2.5 relative">
                                    {{ form_widget(form.birthdate.day, {label: false, attr: {
                                        class: 'w-full',
                                        placeholder: 'Jour',
                                        searchBoxProps: {'x-numberonly': ''},
                                    }}) }}

                                    {{ form_widget(form.birthdate.month, {label: false, attr: {
                                        class: 'w-full',
                                        placeholder: 'Mois',
                                    }}) }}

                                    {{ form_widget(form.birthdate.year, {label: false, attr: {
                                        class: 'w-full',
                                        placeholder: 'Année',
                                        searchBoxProps: {'x-numberonly': ''},
                                    }}) }}
                                </fieldset>
                                {{ form_errors(form.birthdate) }}
                            </fieldset>

                            {{ form_row(form.phone, {label: 'Numéro de téléphone'}) }}
                        </div>

                        <div x-show="!showForm" class="flex flex-col gap-6">
                            {% if referral.referrer %}
                                <p>{{ referral.referrer.firstName }} a pré-rempli ces informations pour vous :</p>
                            {% endif %}

                            <div class="gap-2">
                                <p><span class="font-bold">Prénom Nom :</span> {{ referral.getCivilityAlias() }} {{ referral.firstName }} {{ referral.lastName }}</p>
                                <p><span class="font-bold">Email :</span> {{ referral.emailAddress }}</p>

                                {% if referral.phone %}
                                    <p><span class="font-bold">Téléphone :</span> {{ referral.phone|phone_number_format }}</p>
                                {% endif %}

                                <p><span class="font-bold">Nationalité :</span> {{ referral.nationality|countryName }}</p>
                                <p><span class="font-bold">Adresse postale :</span> {{ referral.getInlineFormattedAddress() }}</p>

                                {% if referral.birthdate %}
                                    <p><span class="font-bold">Date de naissance :</span> {{ referral.birthdate|date('d/m/Y') }}</p>
                                {% endif %}
                            </div>

                            <a href="#" class="text-ui_blue-50 font-medium" @click.prevent="showForm = true">Modifier</a>
                        </div>
                    </div>

                    <div class="flex flex-col gap-3">
                        <p>En confirmant votre inscription, vous certifiez sur l’honneur être une personne physique d’au moins 16 ans et que le règlement de ma cotisation ne provient pas du compte d’une personne morale (entreprise, association, collectivité...) mais bien de mon compte bancaire personnel.</p>
                        <p>Vous certifiez être de nationalité française ou résident fiscal Français.</p>
                        <p>Vous adhérez aux <a href="https://utilisateur.parti-renaissance.fr/assets/static/Statuts-Renaissance.pdf" class="text-ui_blue-50">Statuts</a> et au <a href="https://utilisateur.parti-renaissance.fr/assets/corpus-des-valeurs-parti-renaissance.pdf" class="text-ui_blue-50">Corpus des valeurs</a> de Renaissance.</p>
                        <p>Vous acceptez les <a href="https://parti-renaissance.fr/cgu" class="text-ui_blue-50">CGU du site</a> Renaissance et déclare avoir lu la <a href="https://parti-renaissance.fr/politique-de-protection-des-donnees" class="text-ui_blue-50">Politique de protection des données personnelles</a> et les mentions d’information relatives au traitement de mes données ci-dessous.</p>
                        <p>Dans le cadre de votre adhésion, vous acceptez de recevoir nos communications politiques par e-mail.</p>
                    </div>

                    <twig:ReButton>Je confirme mon inscription</twig:ReButton>

                    <twig:ReParagraphStatus status="info" style="display:none" x-show="showForm">
                        {{ include('renaissance/partials/contact_info.html.twig', {adhesion: true}) }}
                    </twig:ReParagraphStatus>
                </div>
            {{ form_end(form) }}
        </twig:Atoms:ReCard>
    </main>
{% endblock %}
