{% extends 'base_renaissance.html.twig' %}

{% block page_title 'Signaler l\'invitation' %}
{% block flash_message '' %}
{% block body_classes ' bg-ui_gray-5' %}

{% block content %}
    <main class="h-screen flex flex-col items-center justify-center py-10">
        <twig:Atoms:ReCard class="gap-6 max-w-lg">
            {% if form is defined %}
                {% form_theme form 'renaissance/forms/tailwind_form_theme.html.twig' %}

                <h1 class="text-3xl font-maax font-medium text-ui_gray-80">Signaler cette invitation ?</h1>

                <p>En la signalant, nous effacerons immédiatement vos données personnelles
                    {%- if referral.referrer %}
                        et préviendrons <span class="font-bold">{{ referral.referrer.firstName }}</span> que son invitation n’était pas sollicitée
                    {%- endif -%}
                .</p>
                {{ form_start(form) }}
                    {{ form_row(form.allow, {label: 'Signaler', attr: {class: 'w-full', color: 'red'}}) }}
                {{ form_end(form) }}

                <p>Si vous avez cliqué ici par erreur, vous pouvez toujours adhérer rapidement via cette <a class="text-ui_blue-50" href="{{ path('app_adhesion_with_invitation', {identifier: referral.identifier}) }}">invitation</a>.</p>
            {% else %}
                {% if referral.isReported() %}
                    <h1 class="text-3xl font-maax font-medium text-ui_gray-80">Votre invitation a été signalée</h1>

                    <p>Vos données personnelles sont supprimées.</p>
                    <p>Nous avons prévenu son auteur qu’elle n’était pas sollicitée.</p>
                    <p>Vous ne pouvez plus utiliser cette invitation pour adhérer à Renaissance, mais pouvez toujours adhérer depuis <a class="text-ui_blue-50" href="{{ path('app_adhesion_index') }}">notre site internet</a>.</p>
                {% else %}
                    <h1 class="text-3xl font-maax font-medium text-ui_gray-80">Cette invitation a déjà été utilisée</h1>

                    <p>Impossible de signaler une invitation qui a été utilisée pour créer un compte ou adhérer.</p>
                    <p>Si vous ne souhaitez plus être adhérent rendez-vous dans votre espace militant pour supprimer votre compte et/ou désadhérer.</p>
                {% endif %}
            {% endif %}
        </twig:Atoms:ReCard>
    </main>
{% endblock %}
