{% extends 'base.html.twig' %}

{% block banner '' %}
{% block footer '' %}

{% block header %}
    <nav class="manager-topbar">
        <div class="manager-topbar__container">
            <a href="{{ path('homepage') }}" class="text--logo b__nudge--right-large">EM!</a>

            {% block manager_topbar_menu_mobile %}
                <a href="#" class="manager-topbar__menu-mobile js-topbar-sidebar-mobile">
                    <div class="burger">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </a>
            {% endblock %}

            {% if is_granted('ROLE_SUPERVISOR') or
                is_granted('ROLE_HOST') or
                is_granted('ROLE_DEPUTY') or
                is_granted('ROLE_PROCURATION_MANAGER') or
                is_granted('ROLE_FDE_COORDINATOR') or
                is_granted('ROLE_LEGISLATIVE_CANDIDATE') or
                is_granted('ROLE_JECOUTE_MANAGER') or
                is_granted('ROLE_CANDIDATE') or
                is_granted('ROLE_DELEGATED_DEPUTY')
            %}
                <div class="em-dropdown manager-topbar__spaces">
                    <div class="manager-topbar__spaces--content em-dropdown--trigger">
                        <span class="current-space">{{ block('page_title') }}</span>
                    </div>

                    <div class="em-dropdown--container">
                        <ul>
                            <li class="b__nudge--bottom-small"><a href="{{ path('homepage') }}">Retour à la page d'accueil</a></li>
                        </ul>
                    </div>
                </div>
            {% endif %}

            <p class="manager-topbar__area text--small">
                {% block adherent_space_header_title %}{% endblock %}
            </p>

            <div class="em-dropdown em-nav-dropdown manager-topbar__user desktop">
                <span class="em-dropdown--trigger icon--with-text">
                    {{ include('components/user.html.twig') }}
                    {{ app.user.firstName }}
                </span>

                {{ include('components/_dropdown_user_desktop.html.twig') }}
            </div>

            <div class="em-dropdown em-nav-dropdown manager-topbar__user mobile">
                <span class="em-dropdown--trigger icon--with-text">
                    {{ include('components/user.html.twig') }}
                </span>
                <div class="em-dropdown--container em-nav">
                    {{ include('components/_dropdown_user_mobile.html.twig') }}
                </div>
            </div>
        </div>
    </nav>
{% endblock %}

{% block content %}
    <main class="manager-space manager-body">
        {% block manager_sidebar_wrapper %}
            <aside class="manager-sidebar">
                {% block manager_sidebar '' %}
            </aside>
        {% endblock %}

        <section class="manager-content">
            <div class="manager-content__container">
                <div class="text--body">
                    {% block manager_content '' %}

                    {% block manager_footer %}
                        <div class="b__nudge--top-60">
                            {{ include('components/_footer_cgu.html.twig') }}
                        </div>
                    {% endblock %}
                </div>
            </div>
        </section>
    </main>
{% endblock %}

{% block final_javascripts %}
    {{ parent() }}

    <script type="text/javascript">
        Kernel.onLoad(function() {
            var topbarSideBarMobile = dom('.js-topbar-sidebar-mobile');
            var sidebar = dom('.manager-sidebar');
            if (!topbarSideBarMobile || !sidebar) { return; }

            var body = dom('body');

            on(topbarSideBarMobile, 'click', function(event) {
                event.preventDefault();

                if (!sidebar.style.display || sidebar.style.display === 'none') {
                    show(sidebar);
                    addClass(body, 'o-hidden');
                } else {
                    hide(sidebar);
                    removeClass(body, 'o-hidden');
                }
            });
        });
    </script>
{% endblock %}
