{% extends base_template %}

{% block committee_content %}
    <div class="datagrid__pre-table b__nudge--bottom">
        <h3>Comités</h3>

        {% if is_granted('ROLE_REFERENT') or (is_granted('ROLE_DELEGATED_REFERENT') and is_granted('HAS_DELEGATED_ACCESS_COMMITTEE')) %}
            <a href="{{ path("app_referent_create_committee") }}" class="btn-secondary btn-secondary--blue">
                + Créer un comité
            </a>
        {% endif %}
    </div>

    <div class="manager__filters">
        <div class="manager__filters__form">
            {{ form_start(form) }}
                <h4 class="manager__filters__subtitle">Filtrer par</h4>

                {{ form_errors(form) }}

                <div class="manager__filters__row">
                    <div class="manager__filters__section">
                        <div class="manager__filters__group">
                            <div class="filter__row">
                                <label class="filter__label">Zones</label>
                                {{ form_widget(form.zones) }}
                                {{ form_errors(form.zones) }}
                            </div>
                        </div>
                    </div>

                    <div class="manager__filters__section">
                        <div class="filter__row">
                            <label class="filter__label">Nom de comité</label>
                            {{ form_widget(form.committeeName, {attr: {class: 'filter__field', placeholder: 'Saisissez un nom de comité'}}) }}
                            {{ form_errors(form.committeeName) }}
                        </div>
                    </div>
                </div>

                <div class="manager__filters__actions b__nudge--top">
                    <button type="submit" class="btn btn--black b__nudge--bottom-medium">Appliquer</button>
                    {% if form.vars.submitted %}
                        <a href="{{ path("app_#{space_type}_committees_designations") }}" class="btn btn--no-border b__nudge--bottom-medium">
                            Réinitialiser les filtres
                        </a>
                    {% endif %}
                </div>
            {{ form_end(form) }}
        </div>
    </div>

    {% if block('sub_menu') is defined %}
        {{ block('sub_menu') }}
    {% endif %}

    <div class="datagrid__table-container">
        <table class="datagrid__table-manager">
            <thead>
                <tr>
                    <th width="250">Type</th>
                    <th width="300">Comité</th>
                    <th width="150" class="text--center">Date</th>
                    <th width="150">Statut</th>
                    <th width="300">Détails</th>
                    <th width="100" class="text--center">Action</th>
                </tr>
            </thead>
            <tbody>
                {% for row in elections %}
                    {% set election = row[0] %}
                    {% set designation = election.designation %}
                    {% set committee = election.committee %}

                    <tr class="committee__item">
                        <td>
                            {{ ('designation.label.type_' ~ designation.type)|trans }}
                        </td>
                        <td>{{ committee.name }}</td>
                        <td class="text--center">{{ designation.voteStartDate|localizeddate('none', 'none', 'fr_FR', null, "dd MMMM y à HH'h'mm") }}</td>
                        <td>
                            {% set status = election.status %}
                            <span class="status {{ status in constant('App\\VotingPlatform\\Designation\\DesignationStatusEnum::ACTIVE_STATUSES') ? 'status__1' : 'status__2' }}">
                                {{ ('designation.status.'~status)|trans }}
                            </span>
                        </td>
                        <td>
                            {% if row.winners %}
                                {% for winner in row.winners|split(',')|sort((a, b) => a|split('|', 1) <=> b|split('|', 1)) %}
                                    {% set winner = winner|split('|') %}

                                    <span>{{ winner[1] }} {{ winner[2] }}</span>
                                    <span class="candidate-gender l__col l__col--center">{{ winner[0] == 'female' ? 'F' : 'H' }}</span>
                                    <br/>
                                {% endfor %}
                            {% else %}
                                {% set total_confirmed_candidatures = row.total_confirmed_candidacy_male + row.total_confirmed_candidacy_female %}
                                {% set total_draft_candidatures = row.total_draft_candidacy_male + row.total_draft_candidacy_female %}

                                <span>{{ total_confirmed_candidatures }} candidature{{ total_confirmed_candidatures > 1 ? 's' }}</span><br/>
                                <span>{{ total_draft_candidatures }} pré-candidature{{ total_draft_candidatures > 1 ? 's' }}</span>
                            {% endif %}
                        </td>
                        <td class="text--center">
                            {% if status == constant('App\\VotingPlatform\\Designation\\DesignationStatusEnum::CLOSED') %}
                                <a href="{{ path("app_#{space_type}_designations_dashboard", {committee_slug: committee.slug, uuid: row.voting_platform_election_uuid}) }}" class="link--no-decor">Détails</a>
                            {% endif %}
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="6" class="text--center">
                            <img src="{{ asset('/images/icons/icn_no-result.svg') }}" class="icn--no-result" width="30" />
                            Aucun élément
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        {% if elections.count %}
            {% include 'components/_modern_pagination.html.twig' with {
                current_page: elections.currentPage,
                total_pages: elections.lastPage,
                pagination_route_params: {f: filter.toArray()},
            } %}
        {% endif %}
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('select2/select2.min.css') }}" rel="stylesheet">
{% endblock %}

{% block final_javascripts %}
    {{ parent() }}

    <script type="text/javascript" src="{{ asset('select2/select2.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('select2/fr.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/tetranzselect2entity/js/select2entity.js') }}"></script>
    <script type="text/javascript">
        Kernel.onLoad(function() {
            $('.select2entity[data-autostart="false"]').select2entity({
                theme: 'default em-filters'
            })

            App.runCandidacyModal('.candidacies-list-modal--trigger');
        });
    </script>
{% endblock %}
