{% extends "#{space_type}/committee/list.html.twig" %}

{% block committee_table_content %}
    <table class="datagrid__table-manager">
        <thead>
            <tr>
                <th>Date</th>
                <th>Nom</th>
                <th>Adresse</th>
                <th>Zones</th>
                <th>Demandeur</th>
                <th>Statut</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for committee in committees %}
            <tr class="committee__item">
                <td>{{ committee.createdAt|date('d/m/Y') }}</td>
                <td>
                    {% if committee.isApproved %}
                        <a href="{{ path('app_committee_show', {slug: committee.slug}) }}" target="_blank" rel="noopener noreferrer">
                            {{ committee.name }}
                        </a>
                    {% else %}
                        {{ committee.name }}
                    {% endif %}
                </td>
                <td>{{ committee.address }}, {{ committee.postalCode }} {{ committee.cityName }}, {{ committee.country }}</td>
                <td>{{ committee.zones|map(p => p.nameCode)|join('<br>')|raw }}</td>
                <td>{{ get_name_by_uuid(committee.createdBy) }}</td>
                <td><span class="status status__{{ committee.status|lower }}">{{ committee.status|lower|trans }}</span></td>
                <td>
                    {% set items = [] %}
                    {% if committee.isPending or committee.isPreRefused %}
                        {% set items = items|merge([
                            {
                                label: 'Pré-approuver',
                                href: path('app_referent_pre_approve', {slug: committee.slug}),
                                linkAttr: {
                                    class: 'text--body link--no-decor text--blue--dark committee-action-button committee-unfollow',
                                    'data-action': 'quitter',
                                    'data-csrf-token': csrf_token('committee.unfollow')
                                }
                            },
                        ]) %}
                    {% endif %}
                    {% if committee.isPending %}
                        {% set items = items|merge([
                            {
                                label: 'Pré-refuser',
                                href: path('app_referent_pre_refuse', {slug: committee.slug}),
                                linkAttr: {
                                    class: 'text--body link--no-decor text--blue--dark committee-action-button committee-unfollow',
                                    'data-action': 'quitter',
                                    'data-csrf-token': csrf_token('committee.unfollow')
                                }
                            },
                        ]) %}
                    {% endif %}

                    {% include 'components/_annimated_sub_menu.html.twig' with {items: items} %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7" class="text--center">
                    <img src="{{ asset('/images/icons/icn_no-result.svg') }}" class="icn--no-result" width="30" />
                    Aucun comité
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
