{% extends 'base.html.twig' %}

{% block banner '' %}
{% block page_title 'J\'agis !' %}
{% block canonical_url url('app_je_marche') %}

{% block stylesheets %}
    <style type="text/css">
        body > header {
            display: none;
        }
    </style>
{% endblock %}

{% block content %}
<main class="content je-marche">
    <section class="header__main background--blue">
        <div class="l__wrapper space--30-0">
            <a href="{{ path('homepage') }}" class="text--logo link--no-decor text--white">En Marche !</a>
        </div>
    </section>
    <section class="je-marche__header background--blue">
        <header class="l__wrapper--slim text--center">
            <h1 class="text--larger b__nudge--bottom text--white">
                J'agis
            </h1>
            <h2 class="text--white">Emmanuel Macron<br>a besoin de vous pour convaincre les indécis !</h2>
            <h3 class="text--white text--body text--normal">Convaincre 10 personnes, collecter 10 e-mails ou donner 10 euros, chacun peut aider à sa façon pour faire gagner les idées du progrès.</h3>
        </header>
    </section>

    <section>
        <div class="bandeau bandeau--pink">
            <ul>
                <li class="text--white"><a href="{{ path('app_newsletter_invitation') }}">
                    J'invite des amis à la newsletter de campagne
                </a></li>
                <li><a href="{{ path('app_ton_macron_invite') }}">
                    Je convaincs par email
                </a></li>
                <li><a href="{{ path('program_index') }}">
                    Je partage une proposition du programme
                </a></li>
            </ul>
        </div>
        <div class="bandeau bandeau--yellow">
            <ul>
                <li><a href="http://teamlove.ghost.io/teammarcheurs/">
                    Je convaincs sur les réseaux sociaux
                </a></li>
                <li><a href="{{ path('app_search_events') }}">
                    Je rejoins une équipe de volontaires
                </a></li>
                <li><a href="https://enmarche.typeform.com/to/JGyz8W">
                    Je deviens relais du programme
                </a></li>
            </ul>
        </div>
        <div class="bandeau bandeau--green bandeau--one">
            <ul>
                <li><a href="{{ path('app_je_marche_action') }}">
                    J'organise ma propre action
                    <div>Sélectionnez l'une des 6 actions à mener en toute autonomie et collectez les adresses e-mails des convaincus et des réceptifs.</div>
                </a></li>
            </ul>
        </div>
    </section>

</main>
{% endblock %}
