<!DOCTYPE html>
<html lang="fr">
    <head>
        {% if cookiebot_cbid %}
            <script id="Cookiebot" src="https://consent.cookiebot.com/uc.js" data-cbid="{{ cookiebot_cbid }}" data-blockingmode="auto" type="text/javascript"></script>
        {% endif %}

        <meta charset="UTF-8" />
        <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width" />

        <title>{% block title %}La République En Marche !{% endblock %}</title>

        <link rel="stylesheet" href="{{ asset('css/font-awesome.min.css') }}" />
        <link rel="stylesheet" href="{{ webpack_asset('app.css') }}" />
        {% block stylesheets '' %}

        {% block favicon %}
            <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        {% endblock %}
    </head>

    <body>
        <section class="l__wrapper--430 oauth">
            {% block header '' %}

            {% for key, messages in app.flashes %}
                {% for message in messages %}
                    <div class="flash flash-{{ key }}">{{ message|trans }}</div>
                {% endfor %}
            {% endfor %}

            {% block em_logo %}<div class="text--logo">EM!</div>{% endblock %}

            {% block content '' %}
        </section>

        <script type="text/javascript" src="{{ webpack_asset('kernel.js') }}"></script>

        {% block javascripts '' %}

        <script type="text/javascript">
            on(window, 'load', function() {
                Kernel.boot(
                    '{{ app.debug ? 'debug' : assets_hash }}',
                    {{ sentry_dsn ? ('\''~sentry_dsn~'\'')|raw : 'null' }},
                    '{{ app.environment }}',
                    {{ algolia_app_id ? ('\''~algolia_app_id|e('js')~'\'')|raw : 'null' }},
                    {{ algolia_api_key ? ('\''~algolia_api_key|e('js')~'\'')|raw : 'null' }},
                    '{{ algolia_blacklist|base64_encode }}'
                );
            });
        </script>
    </body>
</html>
