<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width" />

        <title>{% block title %}Renaissance !{% endblock %}</title>

        <link rel="stylesheet" href="{{ asset('css/fontawesome-v4.min.css') }}" />
        <link rel="stylesheet" href="{{ webpack_asset('kernel.css') }}" />
        {% block stylesheets '' %}

        {% block favicon %}
            <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        {% endblock %}
    </head>

    <body class="{% block body_class '' %}">
        <section class="{% block section_wrapper 'l__wrapper--430 oauth' %}">
            {% block header '' %}

            {% for key, messages in app.flashes %}
                {% for message in messages %}
                    <div class="flash flash-{{ key }}">{{ message|trans }}</div>
                {% endfor %}
            {% endfor %}

            {% block em_logo %}<div class="text--logo">EM!</div>{% endblock %}

            {% block content '' %}
        </section>

        <script type="text/javascript" src="{{ webpack_asset('kernel.js') }}"></script>

        {% block javascripts '' %}

        <script type="text/javascript">
            on(window, 'load', function() {
                Kernel.boot(
                    '{{ app_version }}',
                    {{ sentry_dsn ? ('\'' ~ sentry_dsn ~ '\'')|raw : 'null' }},
                    '{{ app_environment }}',
                    '{{ app.user ? app.user.getUserIdentifier() }}'
                );
            });
        </script>
    </body>
</html>
