{% extends 'base.html.twig' %}

{% block banner '' %}
{% block page_title page.title %}
{% block meta_description page.description %}
{% block meta_twitter_description page.twitterDescription ?: page.description %}
{% block canonical_url url('desintox_list') %}

{% block open_graph_image (homepage_url ~ static_asset('pages-sharers/desintox.png', {'q': 70}))|raw %}

{% block stylesheets %}
    <style type="text/css">
        body {
            background-color: #E5E5E5;
        }
        header {
            background-color: #fff;
        }
    </style>
{% endblock %}

{% block base_stylesheets %}
    {{ parent() }}

    <link href="{{ asset('css/emoji.min.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
<main class="content">
    <section class="desintox">

        <header class="space--40-0">
            <div class="l__wrapper--slim text--center">
                <h1 class="text--large text--inline text--on-white">
                    {{ page.title }}
                </h1>
            </div>
        </header>

        <div class="l__wrapper--slim">
            <div class="desintox__intro text--body">
                {{ page.content|raw }}
            </div>
        </div>

        <div class="l__wrapper">
            <ul class="desintox__cases">
                {% for clarification in clarifications %}
                <li>
                    <h1 class="text--large">
                        <a href="{{ path('desintox_view', {'slug': clarification.slug}) }}"
                           class="link--no-decor">
                            {{ clarification.title }}
                        </a>
                    </h1>
                    <div>
                        <a href="{{ path('desintox_view', {'slug': clarification.slug}) }}"
                           class="btn btn--green--apple">Lire</a>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
    </section>

</main>
{% endblock %}
