{% extends 'adherent_profile/_layout.html.twig' %}

{% block adherent_profile_content %}
<section class="adherent-profile__section" id="certification">
    <h1 class="text--medium-large">Certification du profil</h1>

    {{ form_start(form, { attr: { class: 'em-form', id: 'app_certification_request' } }) }}

        {{ form_errors(form) }}

        <div class="em-form__group">
            <div class="em-form__label">1. Mettez à jour vos informations personnelles</div>

            <p class="text--body">
                Les informations suivantes (Nom, Prénom, Date de naissance) doivent être renseignées dans vos paramètres et correspondre à celles présentes sur votre pièce d’idendité.
                Sans cette correspodance, votre compte ne pourra pas être certifié.
            </p>
            <p class="text--body">
                <strong>Nom :</strong> {{ app.user.lastName }}<br />
                <strong>Prénom :</strong> {{ app.user.firstName }}<br />
                <strong>Date de naissance :</strong> {{ app.user.birthDate|date('d/m/Y') }}
            </p>
            <a class="link--blue--dark link--no-decor text--body" href="{{ path('app_user_edit') }}">
                Éditer les informations
            </a>
        </div>

        <div class="em-form__group">
            <div class="em-form__label">2. Téléchargez une pièce d'identité</div>
            <div class="em-form__file">
                {{ form_widget(form.document, { attr: { class: 'em-form__file--area' } }) }}
                {{ form_label(form.document, 'Télécharger votre CNI recto ou votre passeport', { label_attr: { class: 'em-form__file--label text--blue--dark' } }) }}
                <span class="em-form__file--name">Aucun fichier sélectionné</span>
            </div>
            <div class="em-form__legend">Formats acceptés : jpg, png, pdf • Taille max. : 5Mo.</div>
            {{ form_errors(form.document) }}
        </div>

        <div class="em-form__group">
            <p class="em-form__cgu">
                Les données présentes sur ce formulaire sont recueillies,
                en vertu de l’article 9.2 a) et 9.2 d) du Règlement Général sur la Protection des Données (RGPD)
                par La République en Marche (LaREM) et traitée par elle et son équipe
                afin de certifier les profils des adhérents qui souhaitent participer
                à une élection interne au Mouvement en candidatant ou en votant,
                conformément au règlement intérieur adopté par le Bureau exécutif de LaREM le 11 mai 2020
                sur base des statuts adoptés par la Convention en décembre 2019.
                <br>
                <br>
                Les informations et les champs marqués d’un astérisque sont obligatoires.
                L’absence de réponse dans ces champs ne permettra pas à LaREM de traiter votre demande.
                <br>
                <br>
                Conformément au RGPD et à la loi no 78-17 du 6 janvier 1978, dite informatique et libertés,
                vous disposez d’un droit d’opposition
                et d’un droit à la limitation du traitement des données vous concernant,
                ainsi que d’un droit d’accès, de rectification, de portabilité et d’effacement de vos données.
                Vous disposez également du droit de retirer votre consentement à tout moment
                et de la faculté de donner des directives sur le sort de vos données après votre décès.
                <br>
                <br>
                Vous pouvez exercer vos droits en nous adressant votre demande à l’adresse électronique suivante :
                <a href="mailto:mes-donnees@en-marche.fr">mes-donnees@en-marche.fr</a>.
                Pour toute information concernant la protection de vos données,
                vous pouvez consulter la Politique de protection des données de LaREM ici :
                <a href="{{ path('app_static_page', { slug: 'politique-protection-donnees' }) }}"
                   target="_blank" rel="noopener noreferrer" class="link--no-decor">
                    {{ url('app_static_page', { slug: 'politique-protection-donnees' }) }}
                </a>
                et/ou contacter notre DPO à l’adresse <a href="mailto:dpo@en-marche.fr">dpo@en-marche.fr</a>
            </p>
            <div class="form__checkbox form__checkbox--large">
                <div>
                    {{ form_widget(form.cgu) }}
                    {% block _form_cgu_label %}
                        <label class="form" for="certification_request_cgu">
                            <span>
                                En cliquant sur « Valider », je reconnais avoir lu, compris et donne mon consentement
                                pour que mes données soient traitées dans les conditions et pour les finalités précitées.
                            </span>
                        </label>
                    {% endblock %}
                </div>
                {{ form_errors(form.cgu) }}
            </div>
        </div>

        <button type="submit" class="btn btn--blue">
            Valider
        </button>

    {{ form_end(form) }}
</section>
{% endblock %}

{% block head_javascripts %}
    <script type="text/javascript" src={{ asset('bundles/sonataadmin/vendor/jquery/dist/jquery.min.js') }}></script>
{% endblock %}

{% block final_javascripts %}
    {{ parent() }}

    <script type="text/javascript">
        $('.em-form__file--area').bind('change', (event) => {
            const $input = $(event.currentTarget);
            const selectedFileName = $input.val();
            const $fileName = $input.siblings('.em-form__file--name');
            const $label = $input.siblings('.em-form__file--label');

            if (0 < $input.length && 0 < selectedFileName.length) {
                $fileName.html(selectedFileName.split('\\').pop());
                $label.html('Modifier la pièce jointe');
            }
        });
    </script>
{% endblock %}
