{% extends 'certification_request/_layout.html.twig' %}

{% block certification_content %}

    <p class="b__nudge--top text--bold">Votre profil certifié</p>

    <div class="certification-status b__border text--center b__nudge--bottom-large {{ app.user.isCertified ? 'certified' : '' }}">
        {% if app.user.isCertified %}
            <img src="{{ asset('/images/icons/certification/certified-lg.svg') }}" />
            <div class="title">Votre profil est certifié</div>

        {% elseif app.user.certificationRequests.hasBlockedCertificationRequest %}
            <img src="{{ asset('/images/icons/certification/blocked.svg') }}" />
            <div class="title b__nudge--bottom">Demande de certification bloquée</div>
            <p>Vous ne pouvez pas refaire de nouvelle demande pour l'instant.</p>

        {% elseif app.user.certificationRequests.hasPendingCertificationRequest %}
            <img src="{{ asset('/images/icons/certification/on-waiting.svg') }}" />
            <div class="title b__nudge--bottom">Demande de certification en attente</div>
            <p>Votre demande est en attente d'approbation par nos équipes.</p>

        {% elseif app.user.certificationRequests.hasRefusedCertificationRequest %}
            {% set refusedCertificationRequest = app.user.certificationRequests.getRefusedCertificationRequests.first %}

            <img src="{{ asset('/images/icons/certification/blocked.svg') }}" />
            <div class="title b__nudge--bottom">Demande de certification refusée</div>
            <p>Votre demande de certification a été refusée.<br />
            {% if refusedCertificationRequest.refusalReason %}
                <p>
                    Raison:
                    {% if refusedCertificationRequest.isRefusedWithOtherReason %}
                        {{ refusedCertificationRequest.customRefusalReason }}
                    {% else %}
                        {{ refusedCertificationRequest.refusalReasonKey|trans }}
                    {% endif %}
                </p>
            {% endif %}
            Vous pouvez <a class="link--blue--dark link--no-decor" href="{{ path('app_certification_request_form') }}">réessayer</a>.</p>

        {% else %}
            <img src="{{ asset('/images/icons/certification/not-certified.svg') }}" />
            <div class="title b__nudge--bottom">Votre profil n'est pas encore certifié.</div>
            <p>Certifiez le avec une pièce d'identité, ça ne prend qu'une minute.</p>
            <a href="{{ path('app_certification_request_form') }}" class="btn btn--blue b__nudge--top">Certifier mon profil</a>

        {% endif %}
    </div>

{% endblock %}
