{% extends base_template %}

{% form_theme form 'referent/_form_theme.html.twig' %}

{% block my_team_content %}
    <a href="{{ path('app_'~ space_name ~'_my_team_list') }}" class="back-to-list text--blue--dark link--no-decor b__nudge--bottom block">
         ⟵ Annuler
    </a>
    <div class="l__wrapper--slim">
        <h2 class="b__nudge--bottom">Déléguer un accès à mon espace</h2>

        {{ form_errors(form) }}

        <div id="js-by-name" {% if form.email.vars.data %}style="display: none;"{% endif %}>
            {{ form_start(filter_form, {attr: {id: 'search-form'}}) }}
                {{ form_errors(filter_form) }}
                <div class="form__row">
                    {{ form_label(filter_form.name, 'Adhérent') }}
                    <div class="pst--relative">
                        {{ form_widget(filter_form.name, {value: form.vars.data.delegated ? form.vars.data.delegated.fullName, attr: {placeholder: 'Saisissez un prénom et/ou un nom'}}) }}
                        <button type="submit" class="btn btn--blue pst--absolute" style="right: 12px; top: 10px;">Rechercher</button>
                    </div>

                    <div id="no-result" class="form form__error" style="display: none;">
                        Aucun adhérent ne correspond à votre recherche
                    </div>
                    <div class="text--body b__nudge--top-10 b__nudge--bottom-small">
                        L'adhérent est hors de mon territoire - <span class="text--blue--dark link--no-decor" id="js-search-by-email" style="cursor: pointer;">Saisir son adresse e-mail</span>
                    </div>
                </div>

            {{ form_end(filter_form) }}
        </div>
        <div id="user-search"></div>
    </div>

    <div>
        {{ form_start(form, {attr: {id: 'delegate-access-form', class: 'em-form' }}) }}
        <div class="l__wrapper--slim">

            <div id="js-by-email" {% if not form.email.vars.data %}style="display: none;"{% endif %}>
                <div class="form__row">
                    {{ form_row(form.email, {attr: {placeholder: 'Entrez une adresse e-mail'}}) }}
                    <div class="text--body text--blue--dark link--no-decor b__nudge--top-10 b__nudge--bottom-small" id="js-search-by-name" style="cursor: pointer;">Rechercher par prénom et/ou nom</div>
                </div>
            </div>

            <div class="form__row">
                {{ form_label(form.role, 'Rôle') }}
                {{ form_widget(form.role) }}
            </div>

            {{ form_widget(form.delegated) }}

            <div class="em-form__group">
                {{ form_label(form.accesses, 'Accès délégués', {label_attr: {class: 'em-form__label' }}) }}
                <div class="em-form__legend">Ajoutez autant d'accès que nécessaire.</div>
                {{ form_widget(form.accesses) }}
            </div>

            <div id="js-restrict-form" style="display: none">
                <div class="em-form__group">
                    <div class="em-form__label">Limiter l'accès aux données adhérent</div>
                    <div class="em-form__legend">Ajoutez autant de villes et/ou de comités que nécessaire.</div>
                </div>

                <div class="form__row">
                    {{ form_label(form.restrictedCommittees_search, 'Par comité') }}
                    {{ form_widget(form.restrictedCommittees_search) }}
                    {{ form_widget(form.restrictedCommittees) }}
                </div>

                <div class="form__row">
                    {{ form_label(form.restrictedCities_search, 'Par ville') }}
                    {{ form_widget(form.restrictedCities_search) }}
                    {{ form_widget(form.restrictedCities) }}
                </div>
            </div>

            <button type="submit" class="btn btn--blue btn--large-and-full b__nudge--bottom-medium">Valider</button>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('select2/select2.min.css') }}" rel="stylesheet">
{% endblock %}

{% block final_javascripts %}
    {{ parent() }}
    <script type="text/javascript" src={{ asset('select2/select2.min.js') }}></script>
    <script type="text/javascript" src={{ asset('select2/fr.js') }}></script>

    {% import 'javascript.js.twig' as js %}

    <script>
      Kernel.onLoad(function () {
        $('.select2').select2({
          tags: true,
          theme: 'default em-form',
          createTag: function (params) {
            return {
              id: params.term,
              text: params.term,
              newOption: true,
            }
          }
        });

        $('#search-form').on('submit', function (e) {
          e.preventDefault();

          $.ajax({
            type: 'POST',
            url: "{{ path('app_'~ space_name ~'_my_team_search') }}",
            data: $(this).serialize(),
          }).done(function (data) {
            if (data.result) {
              $('#user-search').html(data.content);
              $('#js-by-name').hide();
              $('#no-result').hide();
            } else {
              $('#no-result').show();
            }
          })
        });

        $('#delegate-access-form').on('submit', function () {
          var email = $('#delegate_access_email').val();
          if (!!email.trim()) {
            $('#delegate_access_delegated').val(email);
          }
        });

        $(document).on('change', '#js-select-adherent', function () {
          $('#delegate_access_delegated').val($(this).find('option:selected').val());
        });

        $('input[type="checkbox"][value="adherents"]').on('change', function () {
          if ($(this).is(':checked')) {
            $('#js-restrict-form').show();
          } else {
            $('#js-restrict-form').hide();
          }
        });

        $(document).on('click', '.js-undo-search', function (e) {
          e.preventDefault();
          $('#js-by-name').show();
          $('#user-search').html('');
          $('input', '#search-form').val('').focus();
        });

        {{ js.committee(
          '#delegate_access_restrictedCommittees',
          '#delegate_access_restrictedCommittees_search',
          path('app_'~ space_name ~'_my_team_autocomplete_committee'),
          '#delegate_access_restrictedCommittees_search'
        ) }}
        {{ js.applicationFavoriteCities(
          '#delegate_access_restrictedCities',
          '#delegate_access_restrictedCities_search',
          path('app_'~ space_name ~'_my_team_autocomplete_city'),
          '#delegate_access_restrictedCities_search'
        ) }}
        $(document).on('click', '#js-search-by-email', function (e) {
          $('#js-by-name').hide();
          $('#js-by-email').show();
        });
        $(document).on('click', '#js-search-by-name', function (e) {
          $('#js-by-email').hide();
          $('#js-by-name').show();
        });
      });
    </script>
{% endblock %}
