{% extends base_template %}

{% block my_team_content %}
    <div class="datagrid__pre-table b__nudge--bottom-small">
        <h3>Mon équipe</h3>
        <a href="{{ path('app_'~ space_name ~'_my_team_delegate_access') }}" class="btn-secondary btn-secondary--blue">Déléguer un accès à mon espace</a>
    </div>

    <div class="team-organization">
        {% for access in delegatedAccesses %}
            <div class="team-organization__member-container">
                <div class="team-organization__member">
                    <div class="content">
                        <div class="l__row l__row--h-stretch">
                            <a href="{{ path('app_'~ space_name ~'_my_team_delegate_access_edit', {uuid: access.uuid}) }}" class="name">{{ access.delegated }}</a>
                            <a href="{{ path('app_'~ space_name ~'_my_team_delegate_access_delete', {uuid: access.uuid}) }}" class="text--blue--dark link--no-decor">Supprimer</a>
                        </div>
                        <div class="roles">{{ access.role }}</div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}
