{% extends 'filesystem/_layout.html.twig' %}

{% block files_content %}
    <div class="datagrid__pre-table b__nudge--bottom-larger">
        <h3>
            {% if directory %}
                <a class="text--blue--dark" href="{{ path("app_#{space_name}_files_list", {order: order}) }}">Documents</a> <i class="fa fa-angle-right"></i> {{ directory.name }}
            {% else %}
                {{ directory ? directory.name : 'Documents' }}
            {% endif %}
        </h3>
    </div>

    <div class="datagrid">
        <div class="b__nudge--bottom-larger">
            <div class="datagrid__table-container">
                <table class="datagrid__table-manager">
                    <thead>
                    <tr>
                        <th class="text-center" style="width: 3%;"></th>
                        <th style="width: 100px;"><a
                                    {% set link_to_order = directory ? path("app_#{space_name}_files_list_in_directory", {slug: directory.slug, order: order}) : path("app_#{space_name}_files_list", {order: order}) %}
                                    href="{{ link_to_order }}"
                                    class="sort-link sort-link--order-{{ order }}"
                            >
                                Nom
                            </a></th>
                        <th style="width: 100px;">Type</th>
                        <th style="width: 100px;">Date de création</th>
                        <th style="width: 100px;">Dernière modification</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for file in files %}
                        {% set isDir = file.isDir %}
                        {% set isLink = file.isLink %}
                        <tr class="referent__item referent__item--adherent">
                            <td>
                                <i class="fa fa-{{ isDir ? 'folder' : (isLink ? 'link' : 'file-text-o') }}"></i>
                            </td>
                            <td>
                                {% if isDir %}
                                    <a href="{{ path("app_#{space_name}_files_list_in_directory", {slug: file.slug, order: order}) }}">{{ file.name }}/</a>
                                {% else %}
                                    <a href="{{ path("app_#{space_name}_files_download", {uuid: file.uuid}) }}">{{ isLink ? file.name : file.nameWithExtension }}</a>
                                {% endif %}
                            </td>
                            <td>
                                {{ isDir ? 'Dossier' : (isLink ? 'Lien externe' : '') }}
                            </td>
                            <td>{{ file.createdAt|date('d/m/Y') }}</td>
                            <td>{{ file.createdAt != file.updatedAt ? file.updatedAt|date('d/m/Y') : '~' }}</td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="5" class="text--center">
                                <img src="{{ asset('/images/icons/icn_no-result.svg') }}" class="icn--no-result" width="30" />
                                Pas de document
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <div id="modal-wrapper"></div>
    </div>
{% endblock %}
