{% extends 'renaissance/adherent/_layout.html.twig' %}

{% form_theme form with ['renaissance/forms/form_theme_profile.html.twig', 'renaissance/forms/socials_theme.html.twig'] %}

{% block page_title 'Informations générales' %}

{% block stylesheets %}
    <link href="{{ asset('select2/select2.min.css') }}" rel="stylesheet">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src={{ asset('js/jquery/jquery-2.2.4.min.js') }}></script>
    <script type="text/javascript" src={{ asset('select2/select2.min.js') }}></script>
    <script type="text/javascript" src={{ asset('select2/fr.js') }}></script>

    {% if google_maps_api_key %}
        <script src="https://maps.googleapis.com/maps/api/js?key={{ google_maps_api_key }}&amp;libraries=places" async defer></script>
    {% endif %}

    <script type="text/javascript">
        Bootstrap.onLoad(function() {
            $('.select2').select2({theme: 'default em-form'});
        });
    </script>
{% endblock %}

{% block content_right_side %}
    <section class="space-y-4 md:space-y-6">
        <h1 class="text-3xl font-bold leading-10 text-gray-900">Général</h1>

        <div class="rounded-lg p-5 md:p-6 bg-white shadow overflow-hidden">
            {{ form_start(form, {attr: {class: 'form'}}) }}
                <div class="space-y-5">
                    <div class="space-y-4">
                        {% if app.user.certified %}
                            <div class="rounded-md bg-sky-50 p-4">
                                <div class="flex">
                                    <div class="shrink-0">
                                        {% include 'icons/check-blue.svg.twig' with { svg_class: 'h-5 w-5 text-sky-500'} %}
                                    </div>
                                    <div class="ml-3 flex-1 md:flex md:justify-between">
                                        <p class="text-sm text-sky-700">Votre profil est certifié, vous ne pouvez donc plus modifier votre civilité, nom, prénom et date de naissance.</p>
                                    </div>
                                </div>
                            </div>
                        {% endif %}

                        <div class="em-form__group">
                            {{ form_errors(form) }}
                        </div>
                    </div>

                    <div class="space-y-8 divide-y divide-gray-200">
                        <div>
                            <div>
                                <h3 class="text-lg font-medium leading-6 text-gray-900 uppercase tracking-wider">Votre identité</h3>
                            </div>
                            <div class="mt-6 grid grid-cols-1 gap-y-6 gap-x-4 md:grid-cols-6">
                                <div class="md:col-span-3">
                                    {{ form_row(form.firstName) }}
                                </div>
                                <div class="md:col-span-3">
                                    {{ form_row(form.lastName) }}
                                </div>
                                <div class="md:col-span-3">
                                    {{ form_row(form.birthdate, {label: 'Date de naissance'}) }}
                                </div>
                                <div class="md:col-span-3">
                                    {{ form_row(form.nationality, {label: 'Nationalité'}) }}
                                </div>
                                <div class="md:col-span-2">
                                    {{ form_row(form.gender, {label: 'Civilité'}) }}
                                </div>
                                <div class="md:col-span-2">
                                    {{ form_row(form.emailAddress, {half: true, label: 'Adresse email'}) }}
                                </div>
                                <div class="md:col-span-2">
                                    {{ form_row(form.phone.country, {label: 'Numéro de téléphone'}) }}
                                    {{ form_row(form.phone.number, {label: ' ', attr: {placeholder: 'Numéro de téléphone'}}) }}
                                    {{ form_errors(form.phone) }}
                                </div>
                            </div>
                        </div>
                        <div class="pt-8">
                            <div>
                                <h3 class="text-lg font-medium leading-6 text-gray-900 uppercase tracking-wider">Vos coordonnées</h3>
                            </div>

                            {{ form_row(form.address) }}
                        </div>
                        <div class="pt-8">
                            <div>
                                <h3 class="text-lg font-medium leading-6 text-gray-900 uppercase tracking-wider">Situation professionnelle</h3>
                            </div>
                            <div class="mt-6 grid grid-cols-1 gap-y-6 gap-x-4 md:grid-cols-6">
                                <div class="md:col-span-3">
                                    {{ form_row(form.position, {label: 'Statut professionnel'}) }}
                                </div>
                                <div class="md:col-span-3">
                                    {{ form_row(form.activityArea, {half: true, label: 'Secteur d\'activité'}) }}
                                </div>
                                <div class="md:col-span-6">
                                    {{ form_row(form.job, {label: 'Métier'}) }}
                                </div>
                            </div>
                        </div>
                        <div class="pt-8">
                            <div>
                                <h3 class="text-lg font-medium leading-6 text-gray-900 uppercase tracking-wider">Vos mandats déclarés</h3>
                                <p class="mt-1 text-sm text-gray-500">Cette information est seulement déclarative et facilitera le lien entre votre compte adhérent et vos mandats.</p>
                            </div>
                            <div class="mt-6">
                                {{ form_label(form.mandates, 'adherent.mandate.label') }}
                                {{ form_widget(form.mandates, {attr: {class: 'mt-4'}}) }}
                                {{ form_errors(form.mandates) }}
                            </div>
                        </div>
                        <div class="pt-8">
                            <div>
                                <h3 class="text-lg font-medium leading-6 text-gray-900 uppercase tracking-wider">Vos identifiants réseaux sociaux</h3>
                                <p class="mt-1 text-sm text-gray-500">
                                    Vous pourrez être contacté(e) par vos responsables locaux ou recevoir des informations susceptibles de vous intéresser.
                                </p>
                            </div>
                            <div class="mt-6 grid grid-cols-1 gap-y-6 gap-x-4 md:grid-cols-6">
                                <div class="md:col-span-3">
                                    {{ form_row(form.facebookPageUrl, {label: 'Facebook'}) }}
                                </div>
                                <div class="md:col-span-3">
                                    {{ form_row(form.linkedinPageUrl, {label: 'LinkedIn'}) }}
                                </div>
                                <div class="md:col-span-3">
                                    {{ form_row(form.twitterPageUrl, {label: 'Twitter'}) }}
                                </div>
                                <div class="md:col-span-3">
                                    {{ form_row(form.telegramPageUrl, {label: 'Telegram'}) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="mt-10">
                    <button type="submit" class="button button-blue">Enregistrer</button>
                </div>
            {{ form_end(form) }}
        </div>

        <div x-data="{ isOpen: false }" class="bg-white shadow rounded-lg px-4 py-5 md:p-6">
            <button type="button" class="flex w-full items-start justify-between text-left text-gray-400" aria-controls="faq-0" @click="isOpen = !isOpen" aria-expanded="false" x-bind:aria-expanded="isOpen.toString()">
                <span class="text-lg font-medium leading-6 text-red-600 uppercase tracking-wider">Suppression du compte</span>
                <span class="ml-6 flex h-7 items-center">
                <svg class="h-6 w-6 transform rotate-0" :class="{ '-rotate-180': isOpen, 'rotate-0': !(isOpen) }" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 8.25l-7.5 7.5-7.5-7.5"></path>
                </svg>
            </span>
            </button>
            <div x-cloak x-show="isOpen">
                {% if is_granted('UNREGISTER', app.user) %}
                    <div class="mt-2 max-w-xl text-gray-500">
                        <p>
                            Cliquez ci-dessous si vous souhaitez supprimer votre compte.
                        </p>
                        <div class="mt-5">
                            <a href="{{ path('app_user_terminate_membership', { app_domain: app_renaissance_host }) }}" class="inline-flex items-center justify-center rounded-md border border-transparent bg-red-100 px-4 py-2 font-medium text-red-700 hover:bg-red-200 focus:outline-none focus:ring-2 focus:ring-red-500 focus:ring-offset-2 sm:text-sm">
                                Supprimer mon compte
                            </a>
                        </div>
                    </div>

                {% endif %}
                {% if not is_granted('UNREGISTER', app.user) %}
                    <div class="mt-2 space-y-2 max-w-3xl text-base leading-6 text-gray-500 lg:max-w-none">
                        <p>
                            Si vous êtes animateur local, référent, parlementaire, porteur de projet, membre du conseil ou désigné lors d'une élection interne, vous ne pouvez pas supprimer votre compte directement :
                            il vous faut d'abord quitter vos responsabilités.
                        </p>
                        <p>Pour ce faire, vous pouvez écrire votre demande par email à l'adresse suivante : <a href="mailto:territoires@parti-renaissance.fr" class="text-re-blue-500 underline">territoires@parti-renaissance.fr"</a>.</p>
                        <p>
                            Si vous êtes co-animateur local, votre animateur peut retirer votre rôle depuis son espace comité. <br />
                            Si vous êtes candidat à une désignation interne, vous ne pouvez pas désadhérer du mouvement directement, il vous faut attendre la fin de la désignation.
                        </p>
                    </div>
                {% endif %}
            </div>
        </div>
    </section>
{% endblock %}
