<!DOCTYPE html>
<!--
 ______         __  __                _            _
|  ____|       |  \/  |              | |          | |
| |__   _ __   | \  / | __ _ _ __ ___| |__   ___  | |
|  __| | '_ \  | |\/| |/ _` | '__/ __| '_ \ / _ \ | |
| |____| | | | | |  | | (_| | | | (__| | | |  __/ |_|
|______|_| |_| |_|  |_|\__,_|_|  \___|_| |_|\___| (_)

-->
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="msapplication-tap-highlight" content="no" />
        <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width" />

        <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('apple-touch-icon.png') }}?v2" />
        <link rel="icon" type="image/png" href="{{ asset('favicon-32x32.png') }}?v2" sizes="32x32" />
        <link rel="icon" type="image/png" href="{{ asset('favicon-16x16.png') }}?v2" sizes="16x16" />
        <link rel="manifest" href="{{ asset('manifest.json') }}?v2" />
        <link rel="mask-icon" href="{{ asset('safari-pinned-tab.svg') }}?v2" color="#ff3680" />
        <meta name="theme-color" content="#ffffff" />

        <title>{% block title %}{% block page_title %}{% endblock %} | En Marche !{% endblock %}</title>

        <link rel="canonical" href="{% block canonical_url %}{{ url('homepage')|trim('/') }}{% endblock %}" />
        <meta name="description" content="{% block meta_description %}Pour ceux qui sont convaincus que le pays est bloqué, qui ont le goût du travail, du progrès, du risque, qui vivent pour la liberté, l'égalité, et l'Europe.{% endblock %}" />

        <meta property="og:site_name" content="En Marche !" />
        <meta property="og:type" content="{% block open_graph_type %}website{% endblock %}" />
        <meta property="og:url" content="{% block open_graph_url %}{{ block('canonical_url') }}{% endblock %}" />
        <meta property="og:title" content="{% block open_graph_title %}{{ block('title') }}{% endblock %}" />
        <meta property="og:description" content="{% block open_graph_description %}{{ block('meta_description') }}{% endblock %}" />
        <meta property="og:image" content="{% block open_graph_image %}{{ url('homepage')|trim('/') ~ asset('images/default_sharer.jpg') }}{% endblock %}" />
        <meta property="og:image:width" content="{% block open_graph_image_width %}628{% endblock %}" />
        <meta property="og:image:height" content="{% block open_graph_image_height %}288{% endblock %}" />
        {% block open_graph %}{% endblock %}

        <meta property="fb:pages" content="543099962534877" />

        <meta name="twitter:card" content="summary" />
        <meta name="twitter:title" content="{{ block('open_graph_title') }}" />
        <meta name="twitter:description" content="{{ block('open_graph_description') }}" />
        <meta name="twitter:image:src" content="{{ block('open_graph_image') }}" />

        <link rel="stylesheet" href="{{ asset('css/font-awesome.min.css') }}" />
        <link rel="stylesheet" href="{{ webpack_asset('app.css') }}" />
        {% block stylesheets %}{% endblock %}

        {% block json_ld %}
        <script type="application/ld+json">
            {
                "@context": "http://schema.org",
                "@type": "WebSite",
                "url": "{{ block('open_graph_url') }}",
                "name": "{{ block('title') }}",
                "image": "{{ block('open_graph_image') }}",
                "description": "{{ block('meta_description') }}",
                "funder": {
                    "@type": "Person",
                    "givenName": "Emmanuel",
                    "familyName": "Macron"
                }
            }
        </script>
        {% endblock %}

        <link rel="stylesheet" type="text/css" href="{{ asset('css/cookieconsent.min.css') }}" />
    </head>
    <body>
        {% for message in app.session.flashbag.get('info') %}
            <div class="flash" id="notice-flashes">
                <div class="flash__inner">{{ message }}</div>
            </div>
        {% endfor %}

        {% block banner %}
        <div class="background--primary l__hide--on-tablet" id="header-banner" style="display: none;">
            <div class="l__wrapper l__row l__row--h-stretch space--30-0">
                <div class="text--large text--bold text--limited">
                    La démocratie n’a pas de prix, mais
                    <span class="text--on-white">elle a un coût !</span>
                </div>
                <div class="l__row">
                    <a href="{{ path('donation_index') }}" class="btn btn--large btn--no-border b__nudge--right-large">
                        Donnez
                    </a>
                    <a href="javascript:void(0)" class="btn__icon btn__icon--dark" id="header-banner-close-btn">
                        {{ include('components/close.html.twig') }}
                    </a>
                </div>
            </div>
        </div>
        {% endblock %}

        {% set user_is_adherent = is_granted('ROLE_ADHERENT') %}

        <header>
            <!--  Header / Navigation Desktop -->
            <nav class="l__wrapper l__row l__row--h-stretch space--20-0 l__hide--on-small-laptop">
                <ul class="list__links list__links--row list__links--row-top list__links--no-decor list__links--nav">
                    <li><h1><a href="{{ path('homepage') }}">En Marche !</a></h1></li>
                    <li><a class="text--medium-small" href="{{ path('page_emmanuel_macron') }}">Emmanuel Macron</a></li>
                    <li><a class="text--medium-small" href="{{ path('page_emmanuel_macron_programme') }}">Projet</a></li>
                    <li><a class="text--medium-small" href="{{ path('page_le_mouvement') }}">Le Mouvement</a></li>
                    <li><a class="text--medium-small" href="{{ path('articles_list', {'category': 'actualites'}) }}">Actualités</a></li>
                    {#
                    <li><a href="#">
                        {{ include('components/search.html.twig') }}
                    </a></li>
                    #}
                </ul>
                <div class="l__row">
                    {% if not user_is_adherent %}
                        <a href="{{ enable_platform ? path('app_membership_register') : legacy_adhesion }}"
                           class="btn b__nudge--right-nano">
                            J'adhère
                        </a>
                    {% endif %}
                    <a href="{{ path('donation_index') }}" class="btn btn--primary b__nudge--right">Je donne</a>
                    <div class="nav__user">
                        <a href="{{ enable_platform ? (path(user_is_adherent ? 'app_adherent_profile' : 'app_adherent_login')) : url_legacy }}" class="icon--with-text text--medium-small nav__user__name">
                            {{ include('components/user.html.twig') }}
                            {{ user_is_adherent ? app.user.fullName : 'Espace perso' }}
                        </a>
                        {% if user_is_adherent %}
                            <div class="nav__user__caret">
                                <span class="nav__user__caret--outer"></span>
                                <span class="nav__user__caret--inner"></span>
                            </div>
                            <div class="nav__user__menu">
                                <div class="nav__user__menu__comites">
                                    {{ render(controller('AppBundle:Adherent:listMyCommittees')) }}
                                </div>
                                <ul class="nav__user__menu__account">
                                    <li><a href="{{ path('app_search_events') }}">Tous les événements</a></li>
                                    <li><a href="{{ path('app_search_committees') }}">Tous les comités</a></li>
                                    <li><a href="{{ path('page_le_mouvement_la_carte') }}">La carte En Marche !</a></li>
                                    <li><a href="{{ path('app_documents_index') }}">Documents</a></li>
                                    <li class="nav__user__menu__separator"></li>
                                    {% if is_granted('CREATE_COMMITTEE') %}
                                        <li class="text--small">
                                            <a href="{{ path('app_adherent_create_committee') }}">Créer un comité</a>
                                        </li>
                                    {% endif %}
                                    {% if is_granted('ROLE_REFERENT') %}
                                        <li class="text--small">
                                            <a href="{{ path('app_referent_users') }}">Espace référent</a>
                                        </li>
                                    {% endif %}
                                    <li class="text--small"><a href="{{ path('app_adherent_events') }}">Mes événements</a></li>
                                    <li class="text--small"><a href="{{ path('app_adherent_profile') }}">Profil</a></li>
                                    {#<li class="text--small"><a href="#">Aide</a></li>#}
                                    {% if is_granted('ROLE_PREVIOUS_ADMIN') %}
                                        <li class="text--small">
                                            <a href="{{ path('app_admin_impersonation_exit') }}">
                                                Quitter l'impersonnification
                                            </a>
                                        </li>
                                    {% endif %}
                                    <li class="text--small"><a href="{{ path('app_adherent_logout') }}">Déconnexion</a></li>
                                </ul>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </nav>
            <!--  Header / Navigation Mobile-->
            <nav class="l__wrapper l__hide--above-small-laptop space--20-0">
                <ul class="list__links list__links--row list__links--nav l__row--h-stretch">
                    <li><h1><a href="{{ path('homepage') }}" class="link--no-decor">En Marche !</a></h1></li>
                    <li class="l__row">
                        {% if not user_is_adherent %}
                            <a href="{{ enable_platform ? path('app_membership_register') : legacy_adhesion }}"
                               class="btn b__nudge--right-nano l__hide--on-mobile">
                                J'adhère
                            </a>
                        {% endif %}
                        <a href="{{ path('donation_index') }}" class="btn btn--primary b__nudge--right-larger">
                            Je donne
                        </a>
                    </li>
                </ul>
                <div class="nav__mobile">
                    <input type="checkbox" id="nav-menu">
                    <label for="nav-menu">Menu de navigation</label>
                    <div class="nav__mobile--menu">
                        <div class="l__row l__row--h-stretch">
                            <a href="{{ enable_platform ? (path(user_is_adherent ? 'app_adherent_profile' : 'app_adherent_login')) : url_legacy }}"
                               class="icon--with-text text--medium-small">
                                {{ include('components/user.html.twig') }}
                                {{ user_is_adherent ? app.user.fullName : 'Espace perso' }}
                            </a>
                            {#
                            <a href="#" class="link--no-decor">
                                {{ include('components/search.html.twig') }}
                            </a>
                            #}
                        </div>
                        <hr>
                        {% if user_is_adherent %}
                            <div class="text--medium-small">
                                {{ render(controller('AppBundle:Adherent:listMyCommittees')) }}
                                <hr>
                            </div>
                        {% endif %}

                        <ul class="list__links list__links--col list__links--no-decor list__links--nav">
                            {% if user_is_adherent %}
                                <li><a href="{{ path('app_search_events') }}">Tous les événements</a></li>
                                <li><a href="{{ path('app_search_committees') }}">Tous les comités</a></li>
                                <li><a href="{{ path('page_le_mouvement_la_carte') }}">La carte En Marche !</a></li>
                                <li><a href="{{ path('app_documents_index') }}">Documents</a></li>
                                <li class="nav__user__menu__separator"></li>
                                {% if is_granted('CREATE_COMMITTEE') %}
                                    <li class="text--small">
                                        <a href="{{ path('app_adherent_create_committee') }}">Créer un comité</a>
                                    </li>
                                {% endif %}
                                {% if is_granted('ROLE_REFERENT') %}
                                    <li class="text--small">
                                        <a href="{{ path('app_referent_users') }}">Espace référent</a>
                                    </li>
                                {% endif %}
                                <li class="text--small"><a href="{{ path('app_adherent_events') }}">Mes événements</a></li>
                                <li class="text--small"><a href="{{ path('app_adherent_profile') }}">Profil</a></li>
                                {#<li class="text--small"><a href="#">Aide</a></li>#}
                                {% if is_granted('ROLE_PREVIOUS_ADMIN') %}
                                    <li class="text--small">
                                        <a href="{{ path('app_admin_impersonation_exit') }}">
                                            Quitter l'impersonnification
                                        </a>
                                    </li>
                                {% endif %}
                                <li class="text--small"><a href="{{ path('app_adherent_logout') }}">Déconnexion</a></li>
                                <hr>
                            {% endif %}
                            <li><a class="text--medium-small" href="{{ path('page_emmanuel_macron') }}">Emmanuel Macron</a></li>
                            <li><a class="text--medium-small" href="{{ path('page_emmanuel_macron_programme') }}">Projet</a></li>
                            <li><a class="text--medium-small" href="{{ path('page_le_mouvement') }}">Le Mouvement</a></li>
                            <li><a class="text--medium-small" href="{{ path('articles_list', {'category': 'actualites'}) }}">Actualités</a></li>
                        </ul>
                        <hr>
                        <ul class="list__links list__links--row b__nudge--bottom-small">
                            <li class="head">Suivez Emmanuel Macron !</li>
                        </ul>
                        <ul class="list__links list__links--row list__links--no-decor list__links--svgs l__row--wrap">
                            <li><a href="https://www.facebook.com/EmmanuelMacron" target="_blank" rel="noopener noreferrer">
                                <i class="fa fa-facebook-square"></i></a>
                            </li>
                            <li><a href="https://twitter.com/EmmanuelMacron" target="_blank" rel="noopener noreferrer">
                                <i class="fa fa-twitter"></i></a>
                            </li>
                            <li><a href="https://www.instagram.com/emmanuelmacron/" target="_blank" rel="noopener noreferrer">
                                <i class="fa fa-instagram"></i></a>
                            </li>
                            <li><a href="https://www.linkedin.com/in/emmanuelmacron" target="_blank" target="_blank" rel="noopener noreferrer">
                                <i class="fa fa-linkedin-square"></i></a>
                            </li>
                            <li><a href="https://medium.com/@EmmanuelMacron" target="_blank" rel="noopener noreferrer">
                                <i class="fa fa-medium"></i></a>
                            </li>
                            <li><a href="https://www.youtube.com/channel/UCJw8np695wqWOaKVhFjkRyg" target="_blank" rel="noopener noreferrer">
                                <i class="fa fa-youtube-square"></i>
                            </a></li>
                            <li><a href="http://www.snapchat.com/add/enmarchefr" target="_blank" rel="noopener noreferrer">
                                <i class="fa fa-snapchat-ghost"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>

        {% block content %}{% endblock %}

        {% block footer %}
        <footer class="background--lighter space--30-0">
            <div class="l__wrapper">
                <div class="l__row l__row--h-stretch b__nudge--bottom-large l__tablet--col l__mobile--col-center">
                    <a href="{{ path('homepage') }}" class="link--no-decor">
                        {{ include('components/logo-footer.html.twig') }}
                    </a>
                    <ul class="list__links list__links--row list__links--no-decor list__links--svgs l__hide--on-tablet">
                        <li class="head">Suivez En Marche !</li>
                        <li><a href="https://www.facebook.com/EnMarche/" target="_blank" rel="noopener noreferrer"><i class="fa fa-facebook-square"></i></a></li>
                        <li><a href="https://twitter.com/enmarchefr" target="_blank" rel="noopener noreferrer"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="https://www.instagram.com/enmarchefr/" target="_blank" rel="noopener noreferrer"><i class="fa fa-instagram"></i></a></li>
                        <li><a href="https://www.youtube.com/channel/UCJw8np695wqWOaKVhFjkRyg" target="_blank" rel="noopener noreferrer"><i class="fa fa-youtube-square"></i></a></li>
                        <li><a href="https://medium.com/@enmarchefr" target="_blank" rel="noopener noreferrer"><i class="fa fa-medium"></i></a></li>
                        <li><a href="https://www.linkedin.com/company/en-marche" target="_blank" rel="noopener noreferrer"><i class="fa fa-linkedin-square"></i></a></li>
                        <li><a href="https://www.snapchat.com/add/enmarchefr" target="_blank" rel="noopener noreferrer"><i class="fa fa-snapchat-ghost"></i></a></li>
                    </ul>
                </div>
                <div class="l__row l__row--h-stretch l__row--top b__nudge--bottom-large l__row--wrap l__mobile--col">
                    <ul class="list__links list__links--col list__links--no-decor">
                        <li><h4><a href="{{ path('page_emmanuel_macron') }}" class="text--bold text--medium-small">Emmanuel Macron</a></h4></li>
                        <li><a href="{{ path('page_emmanuel_macron') }}">Ce que je suis</a></li>
                        <li><a href="{{ path('page_emmanuel_macron_revolution') }}">Révolution</a></li>
                    </ul>
                    <ul class="list__links list__links--col list__links--no-decor">
                        <li><h4><a href="{{ path('page_le_mouvement') }}" class="text--bold text--medium-small">Le Mouvement</a></h4></li>
                        <li><a href="{{ path('page_le_mouvement') }}">Qui sommes-nous?</a></li>
                        <li><a href="{{ path('page_le_mouvement_notre_organisation') }}">Notre organisation</a></li>
                        <li><a href="{{ path('page_le_mouvement_les_comites') }}">En marche sur le terrain</a></li>
                        <li><a href="{{ path('page_le_mouvement_devenez_benevole') }}">Devenez bénévole</a></li>
                        {#<li><a href="#">Recrutement</a></li>#}
                    </ul>
                    <ul class="list__links list__links--col list__links--no-decor">
                        <li><h4><a href="{{ path('articles_list', {'category': 'actualites'}) }}" class="text--bold text--medium-small">Actualités</a></h4></li>
                        <li><a href="{{ path('articles_list', {'category': 'videos'}) }}">Vidéos</a></li>
                        <li><a href="{{ path('articles_list', {'category': 'discours'}) }}">Discours</a></li>
                        <li><a href="{{ path('articles_list', {'category': 'medias'}) }}">Médias</a></li>
                        <li><a href="{{ path('articles_list', {'category': 'communiques'}) }}">Communiqués</a></li>
                    </ul>
                    <ul class="list__links list__links--col list__links--no-decor">
                        <li><h4><a href="{{ path('page_le_mouvement_devenez_benevole') }}" class="text--bold text--medium-small">S’engager</a></h4></li>
                        <li><a href="{{ enable_platform ? path('app_membership_register') : legacy_adhesion }}">Adhérer</a></li>
                        <li><a href="{{ path('donation_index') }}">Donner</a></li>
                        <li><a href="{{ enable_platform ? path('app_search_committees') : url_legacy }}">Rejoindre un comité</a></li>
                        <li><a href="{{ enable_platform ? path('app_search_events') : url_legacy }}">S’inscrire à un événement</a></li>
                        <li><a href="{{ path('invitation_form') }}">Inviter une connaissance</a></li>
                        {#<li><a href="{{ path('app_je_marche') }}">Je Marche</a></li>#}
                        {#<li><a href="#">FAQ</a></li>#}
                    </ul>
                    <ul class="list__links list__links--col list__links--no-decor">
                        <li><h4><a href="https://twitter.com/hashtag/TousEnMarche" class="text--bold text--medium-small" target="_blank" rel="noopener noreferrer">#TousEnMarche</a></h4></li>
                        <li><a href="http://vision-macron.fr" target="_blank" rel="noopener noreferrer">Vision Macron</a></li>
                        <li><a href="http://www.lesjeunesavecmacron.fr" target="_blank" rel="noopener noreferrer">Les Jeunes avec Macron</a></li>
                        <li><a href="http://www.leselusavecmacron.fr" target="_blank" rel="noopener noreferrer">Les élus avec Macron</a></li>
                        {#<li><a href="#">Elles Marchent</a></li>#}
                    </ul>
                </div>
                <div class="l__row l__row--h-stretch l__tablet--col">
                    <div class="donate-mail">
                        Vous pouvez envoyer vos dons en
                        <a href="https://storage.googleapis.com/en-marche-fr/bulletin-de-don-EMa.pdf" class="text--bold" target="_blank" rel="noopener noreferrer">téléchargeant ce bulletin</a>.
                    </div>
                    <ul class="list__links list__links--row list__links--no-decor list__links--col-mobile">
                        <li><a href="mailto:contact@en-marche.fr">Écrivez-nous</a></li>
                        <li><a href="{{ path('articles_list', {'category': 'communiques'}) }}">Presse</a></li>
                        <li><a href="{{ path('page_mentions_legales') }}">Mentions Legales</a></li>
                        <li>En Marche &copy;</li>
                    </ul>
                </div>
            </div>
        </footer>
        {% endblock %}

        <script type="text/javascript" src="{{ webpack_asset('kernel.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/cookieconsent.min.js') }}"></script>
        {% block javascripts '' %}
        <script type="text/javascript">
            on(window, 'load', function() {
                Kernel.boot('{{ app.debug ? 'debug' : assets_hash }}', {{ sentry_dsn ? ('\''~sentry_dsn~'\'')|raw : 'null' }});
            });
        </script>
    </body>
</html>
