<!DOCTYPE html>
<!--
 ______         __  __                _            _
|  ____|       |  \/  |              | |          | |
| |__   _ __   | \  / | __ _ _ __ ___| |__   ___  | |
|  __| | '_ \  | |\/| |/ _` | '__/ __| '_ \ / _ \ | |
| |____| | | | | |  | | (_| | | | (__| | | |  __/ |_|
|______|_| |_| |_|  |_|\__,_|_|  \___|_| |_|\___| (_)

-->
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="msapplication-tap-highlight" content="no" />
        <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width" />

        <link rel="icon" type="image/png" href="{{ asset('favicon.png') }}" />
        <!--[if IE]><link rel="shortcut icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" /><![endif]-->
        <link rel="apple-touch-icon" sizes="57x57" href="{{ asset('apple-icon-57x57.png') }}" />
        <link rel="apple-touch-icon" sizes="60x60" href="{{ asset('apple-icon-60x60.png') }}" />
        <link rel="apple-touch-icon" sizes="72x72" href="{{ asset('apple-icon-72x72.png') }}" />
        <link rel="apple-touch-icon" sizes="76x76" href="{{ asset('apple-icon-76x76.png') }}" />
        <link rel="apple-touch-icon" sizes="114x114" href="{{ asset('apple-icon-114x114.png') }}" />
        <link rel="apple-touch-icon" sizes="120x120" href="{{ asset('apple-icon-120x120.png') }}" />
        <link rel="apple-touch-icon" sizes="144x144" href="{{ asset('apple-icon-144x144.png') }}" />
        <link rel="apple-touch-icon" sizes="152x152" href="{{ asset('apple-icon-152x152.png') }}" />
        <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('apple-icon-180x180.png') }}" />
        <link rel="icon" type="image/png" sizes="192x192" href="{{ asset('android-icon-192x192.png') }}" />
        <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('favicon-32x32.png') }}" />
        <link rel="icon" type="image/png" sizes="96x96" href="{{ asset('favicon-96x96.png') }}" />
        <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('favicon-16x16.png') }}" />
        <meta name="msapplication-TileImage" content="{{ asset('ms-icon-144x144.png') }}" />
        <meta name="msapplication-TileColor" content="#ffffff" />
        <meta name="theme-color" content="#ffffff" />

        <link rel="manifest" href="{{ asset('manifest.json') }}" />

        <title>{% block title %}{% block page_title %}Actualités{% endblock %} | En Marche !{% endblock %}</title>

        <meta name="description" content="{% block meta_description %}Pour ceux qui sont convaincus que le pays est bloqué, qui ont le goût du travail, du progrès, du risque, qui vivent pour la liberté, légalité, et l'Europe.{% endblock %}" />

        <meta property="og:site_name" content="En Marche !" />
        <meta property="og:type" content="{% block open_graph_type %}website{% endblock %}" />
        <meta property="og:url" content="{% block open_graph_url %}{{ url('homepage')|trim('/') }}{% endblock %}" />
        <meta property="og:title" content="{% block open_graph_title %}{{ block('title') }}{% endblock %}" />
        <meta property="og:description" content="{% block open_graph_description %}{{ block('meta_description') }}{% endblock %}" />
        <meta property="og:image" content="{% block open_graph_image %}{{ url('homepage')|trim('/') ~ asset('logo/large_bg_transparent.png') }}{% endblock %}" />
        <meta property="og:image:width" content="{% block open_graph_image_width %}628{% endblock %}" />
        <meta property="og:image:height" content="{% block open_graph_image_height %}288{% endblock %}" />
        {% block open_graph %}{% endblock %}

        <meta property="fb:pages" content="543099962534877" />

        <meta name="twitter:card" content="summary" />
        <meta name="twitter:title" content="{{ block('open_graph_title') }}" />
        <meta name="twitter:description" content="{{ block('open_graph_description') }}" />
        <meta name="twitter:image:src" content="{{ block('open_graph_image') }}" />

        <link rel="stylesheet" href="{{ asset('css/font-awesome.min.css') }}" />
        <link rel="stylesheet" href="{{ webpack_asset('app.css') }}" />
        {% block stylesheets %}{% endblock %}

        {% block json_ld %}
        <script type="application/ld+json">
            {
                "@context": "http://schema.org",
                "@type": "WebSite",
                "url": "{{ block('open_graph_url') }}",
                "name": "{{ block('title') }}",
                "image": "{{ block('open_graph_image') }}",
                "description": "{{ block('meta_description') }}",
                "funder": {
                    "@type": "Person",
                    "givenName": "Emmanuel",
                    "familyName": "Macron"
                }
            }
        </script>
        {% endblock %}
    </head>
    <body>
        {% for message in app.session.flashbag.get('info') %}
            <p id="notice-flashes">
                {{ message }}
            </p>
        {% endfor %}

        {% block banner %}
        <div class="background--primary l__hide--on-tablet" id="header-banner">
            <div class="l__wrapper l__row l__row--h-stretch space--30-0">
                <div class="text--large text--bold text--limited">
                    La démocratie n’a pas de prix, mais
                    <span class="text--on-white">elle a un coût !</span>
                </div>
                <div class="l__row">
                    <a href="{{ path('donation_index') }}" class="btn btn--large btn--no-border b__nudge--right-large">
                        Donnez
                    </a>
                    <a href="javascript:void(0)" class="btn__icon btn__icon--dark" id="header-banner-close-btn">
                        <svg width="24px" height="24px" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                            <g stroke="#000000">
                                <path d="M0.6,0.6 L23.4,23.4"></path>
                                <path d="M0.6,0.6 L23.4,23.4" transform="translate(12.000000, 12.000000) scale(-1, 1) translate(-12.000000, -12.000000) "></path>
                            </g>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
        {% endblock %}

        {% set user_is_adherent = is_granted('ROLE_ADHERENT') %}

        <header>
            <!--  Header / Navigation Desktop -->
            <nav class="l__wrapper l__row l__row--h-stretch space--20-0 l__hide--on-tablet">
                <ul class="list__links list__links--row list__links--row-bottom list__links--no-decor list__links--nav">
                    <li><h1><a href="{{ path('homepage') }}">En Marche !</a></h1></li>
                    <li><a class="text--medium-small" href="{{ path('emmanuel') }}">Emmanuel Macron</a></li>
                    <li><a class="text--medium-small" href="{{ path('mouvement') }}">Le Mouvement</a></li>
                    <li><a class="text--medium-small" href="#">Actualités</a></li>
                    {#
                    <li><a href="#">
                        <svg class="icon-search" width="23px" height="24px" viewBox="0 0 23 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" role="img" aria-labelledby="title">
                            <title>Recherche</title>
                            <path d="M9.9263,0 C4.4443,0 0.0003,4.444 0.0003,9.926 C0.0003,15.408 4.4443,19.853 9.9263,19.853 C15.4083,19.853 19.8523,15.408 19.8523,9.926 C19.8523,4.444 15.4083,0 9.9263,0 M9.9263,1 C14.8483,1 18.8523,5.004 18.8523,9.926 C18.8523,14.848 14.8483,18.853 9.9263,18.853 C5.0043,18.853 1.0003,14.848 1.0003,9.926 C1.0003,5.004 5.0043,1 9.9263,1" fill="#333333"></path>
                            <path class="stroke" d="M16.6294,16.7087 L22.6294,22.6357" stroke="#333333" stroke-linecap="round"></path>
                        </svg>
                    </a></li>
                    #}
                </ul>
                <div class="l__row">
                    {% if not user_is_adherent %}
                        <a href="{{ path('app_membership_register') }}" class="btn b__nudge--right-nano">J'adhère</a>
                    {% endif %}
                    <a href="{{ path('donation_index') }}" class="btn btn--primary b__nudge--right">Je donne</a>
                    <a href="{{ path(user_is_adherent ? 'app_adherent_profile' : 'app_adherent_login') }}" class="icon--with-text text--medium-small">
                        <svg width="28px" height="27px" viewBox="503 375 28 27" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                            <path
                                d="M517.1737,375 C509.8977,375 503.9997,380.898 503.9997,388.174 C503.9997,395.45 509.8977,401.348 517.1737,401.348 C524.4497,401.348 530.3477,395.45 530.3477,388.174 C530.3477,380.898 524.4497,375 517.1737,375 M517.1737,376 C523.8867,376 529.3477,381.461 529.3477,388.174 C529.3477,394.886 523.8867,400.348 517.1737,400.348 C510.4607,400.348 504.9997,394.886 504.9997,388.174 C504.9997,381.461 510.4607,376 517.1737,376"
                                stroke="none"
                                fill="#000000"
                                fill-rule="evenodd"></path>
                            <path
                                d="M517.1737,379.9834 C514.8597,379.9834 512.9837,381.8594 512.9837,384.1734 C512.9837,386.4884 514.8597,388.3644 517.1737,388.3644 C519.4877,388.3644 521.3637,386.4884 521.3637,384.1734 C521.3637,381.8594 519.4877,379.9834 517.1737,379.9834 M517.1737,380.9834 C518.9327,380.9834 520.3637,382.4144 520.3637,384.1734 C520.3637,385.9324 518.9327,387.3644 517.1737,387.3644 C515.4147,387.3644 513.9837,385.9324 513.9837,384.1734 C513.9837,382.4144 515.4147,380.9834 517.1737,380.9834"
                                stroke="none"
                                fill="#000000"
                                fill-rule="evenodd"></path>
                            <path
                                d="M508.424568,397.153247 C510.76681,393.840331 513.821352,391.4676 517.3383,391.4676 C520.844145,391.4676 523.792095,393.805307 526.000766,397.080174 C526.155171,397.309115 526.465934,397.369538 526.694874,397.215134 C526.923815,397.060729 526.984238,396.749966 526.829834,396.521026 C524.453485,392.997537 521.263123,390.4676 517.3383,390.4676 C513.409729,390.4676 510.119924,393.02308 507.608032,396.575953 C507.448616,396.801433 507.502173,397.113453 507.727653,397.272868 C507.953133,397.432284 508.265153,397.378727 508.424568,397.153247 Z"
                                stroke="none"
                                fill="#000000"
                                fill-rule="evenodd"></path>
                        </svg>
                        {{ user_is_adherent ? app.user.fullName : 'Espace perso' }}
                    </a>
                    {% if user_is_adherent %}
                        {# This list must be designed #}
                        <ul>
                            <li><a href="#">Comité A</a></li>
                            <li><a href="#">Comité B</a></li>
                            <li><a href="#">Comité C</a></li>
                            <li class="login__separator"></li>
                            <li><a href="{{ path('events_index') }}">Tous les événements</a></li>
                            <li><a href="#">Tous les comités</a></li>
                            <li><a href="#">La carte En Marche !</a></li>
                            <li><a href="#">Documents</a></li>
                            <li class="login__separator"></li>
                            {% if is_granted('CREATE_COMMITTEE') %}
                                <li>
                                    <a href="{{ path('app_adherent_create_committee') }}">Créer un comité</a>
                                </li>
                            {% endif %}
                            <li><a href="{{ path('app_adherent_profile') }}">Profil</a></li>
                            <li><a href="#">Aide</a></li>
                            <li><a href="{{ path('app_adherent_logout') }}">Déconnexion</a></li>
                        </ul>
                    {% endif %}
                </div>
            </nav>
            <!--  Header / Navigation Mobile-->
            <nav class="l__wrapper l__hide--on-desktop space--20-0">
                <ul class="list__links list__links--row list__links--nav l__row--h-stretch">
                    <li><h1><a href="{{ path('homepage') }}" class="link--no-decor">En Marche !</a></h1></li>
                    <li class="l__row">
                        {% if not user_is_adherent %}
                            <a href="{{ path('app_membership_register') }}" class="btn b__nudge--right-nano l__hide--on-mobile">J'adhère</a>
                        {% endif %}
                        <a href="{{ path('donation_index') }}" class="btn btn--primary b__nudge--right-larger">Je donne</a>
                    </li>
                </ul>
                <div class="nav__mobile">
                    <input type="checkbox" id="nav-menu">
                    <label for="nav-menu">Menu de navigation</label>
                    <div class="nav__mobile--menu">
                        <div class="l__row l__row--h-stretch">
                            <a href="{{ path(user_is_adherent ? 'app_adherent_profile' : 'app_adherent_login') }}" class="icon--with-text text--medium-small">
                                <svg width="28px" height="27px" viewBox="503 375 28 27" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <path
                                        d="M517.1737,375 C509.8977,375 503.9997,380.898 503.9997,388.174 C503.9997,395.45 509.8977,401.348 517.1737,401.348 C524.4497,401.348 530.3477,395.45 530.3477,388.174 C530.3477,380.898 524.4497,375 517.1737,375 M517.1737,376 C523.8867,376 529.3477,381.461 529.3477,388.174 C529.3477,394.886 523.8867,400.348 517.1737,400.348 C510.4607,400.348 504.9997,394.886 504.9997,388.174 C504.9997,381.461 510.4607,376 517.1737,376"
                                        stroke="none"
                                        fill="#000000"
                                        fill-rule="evenodd"></path>
                                    <path
                                        d="M517.1737,379.9834 C514.8597,379.9834 512.9837,381.8594 512.9837,384.1734 C512.9837,386.4884 514.8597,388.3644 517.1737,388.3644 C519.4877,388.3644 521.3637,386.4884 521.3637,384.1734 C521.3637,381.8594 519.4877,379.9834 517.1737,379.9834 M517.1737,380.9834 C518.9327,380.9834 520.3637,382.4144 520.3637,384.1734 C520.3637,385.9324 518.9327,387.3644 517.1737,387.3644 C515.4147,387.3644 513.9837,385.9324 513.9837,384.1734 C513.9837,382.4144 515.4147,380.9834 517.1737,380.9834"
                                        stroke="none"
                                        fill="#000000"
                                        fill-rule="evenodd"></path>
                                    <path
                                        d="M508.424568,397.153247 C510.76681,393.840331 513.821352,391.4676 517.3383,391.4676 C520.844145,391.4676 523.792095,393.805307 526.000766,397.080174 C526.155171,397.309115 526.465934,397.369538 526.694874,397.215134 C526.923815,397.060729 526.984238,396.749966 526.829834,396.521026 C524.453485,392.997537 521.263123,390.4676 517.3383,390.4676 C513.409729,390.4676 510.119924,393.02308 507.608032,396.575953 C507.448616,396.801433 507.502173,397.113453 507.727653,397.272868 C507.953133,397.432284 508.265153,397.378727 508.424568,397.153247 Z"
                                        stroke="none"
                                        fill="#000000"
                                        fill-rule="evenodd"></path>
                                </svg>
                                {{ user_is_adherent ? app.user.fullName : 'Espace perso' }}
                            </a>
                            <a href="#" class="link--no-decor">
                                <svg class="icon-search" width="23px" height="24px" viewBox="0 0 23 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" role="img" aria-labelledby="title">
                                    <title>Recherche</title>
                                    <path d="M9.9263,0 C4.4443,0 0.0003,4.444 0.0003,9.926 C0.0003,15.408 4.4443,19.853 9.9263,19.853 C15.4083,19.853 19.8523,15.408 19.8523,9.926 C19.8523,4.444 15.4083,0 9.9263,0 M9.9263,1 C14.8483,1 18.8523,5.004 18.8523,9.926 C18.8523,14.848 14.8483,18.853 9.9263,18.853 C5.0043,18.853 1.0003,14.848 1.0003,9.926 C1.0003,5.004 5.0043,1 9.9263,1" fill="#333333"></path>
                                    <path class="stroke" d="M16.6294,16.7087 L22.6294,22.6357" stroke="#333333" stroke-linecap="round"></path>
                                </svg>
                            </a>
                        </div>
                        <hr>
                        <ul class="list__links list__links--col list__links--no-decor list__links--nav">
                            <li><a class="text--medium-small" href="#">Emmanuel Macron</a></li>
                            <li><a class="text--medium-small" href="#">Le Mouvement</a></li>
                            <li><a class="text--medium-small" href="#">Actualités</a></li>
                        </ul>
                        <hr>
                        <ul class="list__links list__links--row b__nudge--bottom-small">
                            <li class="head">Suivez Emmanuel Macron !</li>
                        </ul>
                        <ul class="list__links list__links--row list__links--no-decor list__links--svgs l__row--wrap">
                            <li><a href="https://www.facebook.com/EnMarche/"><i class="fa fa-facebook-square"></i></a></li>
                            <li><a href="https://twitter.com/enmarchefr"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="https://www.instagram.com/enmarchefr/"><i class="fa fa-instagram"></i></a></li>
                            <li><a href="https://www.youtube.com/channel/UCJw8np695wqWOaKVhFjkRyg"><i class="fa fa-youtube-square"></i></a></li>
                            <li><a href="https://medium.com/@enmarchefr"><i class="fa fa-medium"></i></a></li>
                            <li><a href="https://www.linkedin.com/company/en-marche"><i class="fa fa-linkedin-square"></i></a></li>
                            <li><a href="#"><i class="fa fa-snapchat-ghost"></i></a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>

        {% block content %}{% endblock %}

        {% block footer %}
        <footer class="background--lighter space--30-0">
            <div class="l__wrapper">
                <div class="l__row l__row--h-stretch b__nudge--bottom-large l__tablet--col l__mobile--col-center">
                    <svg width="109px" height="41px" viewBox="462 369 109 41" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" role="img" aria-labelledby="title">
                        <title>En Marche Logo</title>
                        <polygon id="E" stroke="none" fill="#000000" fill-rule="evenodd" points="468.6709 369.5363 462.9999 408.6353 492.3099 408.6353 493.2979 401.6383 474.0579 401.6383 475.3849 391.9913 489.2349 391.9913 490.2219 384.9943 476.4849 384.9943 477.6969 376.5043 493.5239 376.5043 494.5109 369.5363"></polygon>
                        <polygon id="M" stroke="none" fill="#000000" fill-rule="evenodd" points="538.969 369.5363 525.569 394.3603 519.391 369.5363 508.869 369.5363 495.978 408.6353 505.822 408.6353 514.313 382.8223 520.774 408.6353 526.782 408.6353 540.351 383.6123 541.451 408.6353 551.043 408.6353 549.209 369.5363"></polygon>
                        <path id="!" d="M570.3975,373.2315 C570.3975,374.1905 570.2895,375.1775 570.0735,376.1935 C569.8565,377.2095 569.5415,378.4505 569.1275,379.9175 L564.6705,395.5175 L558.7185,395.5175 L559.2265,377.3775 C559.4145,374.9155 559.6685,373.2215 559.9885,372.3005 C560.2885,371.4725 560.8765,370.7155 561.7515,370.0295 C562.6265,369.3425 563.8525,369.0005 565.4325,369.0005 C567.2005,369.0005 568.4695,369.4375 569.2415,370.3115 C570.0115,371.1865 570.3975,372.1595 570.3975,373.2315 M566.4485,403.2745 C566.4485,404.3285 566.1845,405.3055 565.6585,406.2095 C565.1315,407.1115 564.4175,407.8265 563.5135,408.3525 C562.6115,408.8785 561.6335,409.1425 560.5805,409.1425 C559.5085,409.1425 558.5205,408.8785 557.6185,408.3525 C556.7155,407.8265 556.0015,407.1115 555.4745,406.2095 C554.9475,405.3055 554.6845,404.3285 554.6845,403.2745 C554.6845,402.2035 554.9475,401.2155 555.4745,400.3125 C556.0015,399.4105 556.7155,398.6955 557.6185,398.1685 C558.5205,397.6425 559.5085,397.3785 560.5805,397.3785 C561.6335,397.3785 562.6115,397.6425 563.5135,398.1685 C564.4175,398.6955 565.1315,399.4105 565.6585,400.3125 C566.1845,401.2155 566.4485,402.2035 566.4485,403.2745" stroke="none" fill="#000000" fill-rule="evenodd"></path>
                    </svg>
                    <ul class="list__links list__links--row list__links--no-decor list__links--svgs l__hide--on-tablet">
                        <li class="head">Suivez En Marche !</li>
                        <li><a href="https://www.facebook.com/EnMarche/"><i class="fa fa-facebook-square"></i></a></li>
                        <li><a href="https://twitter.com/enmarchefr"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="https://www.instagram.com/enmarchefr/"><i class="fa fa-instagram"></i></a></li>
                        <li><a href="https://www.youtube.com/channel/UCJw8np695wqWOaKVhFjkRyg"><i class="fa fa-youtube-square"></i></a></li>
                        <li><a href="https://medium.com/@enmarchefr"><i class="fa fa-medium"></i></a></li>
                        <li><a href="https://www.linkedin.com/company/en-marche"><i class="fa fa-linkedin-square"></i></a></li>
                        <li><a href="#"><i class="fa fa-snapchat-ghost"></i></a></li>
                    </ul>
                </div>
                <div class="l__row l__row--h-stretch l__row--top b__nudge--bottom-large l__row--wrap l__mobile--col">
                    <ul class="list__links list__links--col list__links--no-decor">
                        <li><h4><a href="{{ path('emmanuel') }}" class="text--bold text--medium-small">Emmanuel Macron</a></h4></li>
                        <li><a href="#">Ce que je suis</a></li>
                        <li><a href="#">Révolution</a></li>
                        <li><a href="#">Mes propositions</a></li>
                        <li><a href="#">Mon agenda</a></li>
                    </ul>
                    <ul class="list__links list__links--col list__links--no-decor">
                        <li><h4><a href="{{ path('mouvement') }}" class="text--bold text--medium-small">Le Mouvement</a></h4></li>
                        <li><a href="#">Nos valeurs</a></li>
                        <li><a href="#">Notre organisation</a></li>
                        <li><a href="#">Les comités</a></li>
                        <li><a href="#">Les évènements</a></li>
                        <li><a href="#">Devenez bénévole</a></li>
                        <li><a href="#">Recrutement</a></li>
                    </ul>
                    <ul class="list__links list__links--col list__links--no-decor">
                        <li><h4><a href="#" class="text--bold text--medium-small">Actualités</a></h4></li>
                        <li><a href="#">Vidéos</a></li>
                        <li><a href="#">Photos</a></li>
                        <li><a href="#">Discours</a></li>
                        <li><a href="#">Médias</a></li>
                        <li><a href="#">Communiqués</a></li>
                    </ul>
                    <ul class="list__links list__links--col list__links--no-decor">
                        <li><h4><a href="#" class="text--bold text--medium-small">S’engager</a></h4></li>
                        <li><a href="{{ path('app_membership_register') }}">Adhérer</a></li>
                        <li><a href="{{ path('donation_index') }}">Donner</a></li>
                        <li><a href="#">Rejoindre un comité</a></li>
                        <li><a href="#">S’inscrire à un évènement</a></li>
                        <li><a href="#">FAQ</a></li>
                    </ul>
                    <ul class="list__links list__links--col list__links--no-decor">
                        <li><h4><a href="#" class="text--bold text--medium-small">#TousEnMarche</a></h4></li>
                        <li><a href="#">Vision Macron</a></li>
                        <li><a href="#">Les Jeunes avec Macron</a></li>
                        <li><a href="#">Elles Marchent</a></li>
                        <li><a href="#">Les élus avec Macron</a></li>
                    </ul>
                </div>
                <div class="l__row l__row--h-stretch l__tablet--col">
                    <div class="donate-mail">Vous pouvez envoyer vos dons en <a href="#" class="text--bold">téléchargeant ce bulletin</a>.</div>
                    <ul class="list__links list__links--row list__links--no-decor list__links--col-mobile">
                        <li><a href="#">Écrivez-nous</a></li>
                        <li><a href="#">Presse</a></li>
                        <li><a href="#">Mentions Legales</a></li>
                        <li>En Marche &copy;</li>
                    </ul>
                </div>
            </div>
        </footer>
        {% endblock %}

        {% block javascripts %}
            <script type="text/javascript">
                function controller() {}
            </script>
        {% endblock %}

        <script type="text/javascript" src="{{ webpack_asset('kernel.js') }}"></script>
        <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
        <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
        <script type="text/javascript">
            Kernel.boot('{{ app.debug ? 'debug' : assets_hash }}', {{ sentry_dsn ? ('\''~sentry_dsn~'\'')|raw : 'null' }}, controller);
        </script>
        <script type="text/javascript">
        function share(type, url, title) {
            if (type == 'email') {
                window.location = 'mailto:?subject=' + title + '&body=' + url;
            } else {
                if (type== 'facebook') {
                    w = 555;
                    h = 450;
                    link = 'https://www.facebook.com/dialog/share?app_id=620675918119463&display=popup&href=' + url;
                } else if (type == 'twitter') {
                    w = 600;
                    h = 450;
                    link = 'https://twitter.com/share?url=' + url + '&text=' + title + '&via=enmarchefr&';
                }
                wLeft = window.screenLeft ? window.screenLeft : window.screenX;
                wTop = window.screenTop ? window.screenTop : window.screenY;
                var left = wLeft + (window.innerWidth / 2) - (w / 2);
                var top = wTop + (window.innerHeight / 2) - (h / 2);

                newwindow = window.open(link,'name','width = ' + w + ', height = ' + h + ', top=' + top + ', left=' + left +' ');
                if (window.focus) { newwindow.focus() }
                return false;
            }
        }
        </script>
    </body>
</html>
