{% extends 'base.html.twig' %}

{% block banner '' %}
{% block page_title article.title %}
{% block meta_description article.description %}
{% block meta_twitter_description article.twitterDescription ?: article.description %}

{% block canonical_url url('app_explainer_article_show', {'slug': article.slug}) %}

{% block amp_link %}<link rel="amphtml" href="{{ url('amp_explainer_article_show', {'slug': article.slug}) }}" />{% endblock %}

{% block open_graph_image (article.media ? (homepage_url ~ media_asset(article.media)) : default_sharer)|raw %}

{% block final_javascripts include('bot/_javascript.html.twig') %}

{% block content %}
    <main class="content b__nudge--bottom">
        <section class="programme b__nudge--bottom">
            <nav class="text--body">
                <a class="l__wrapper space--20-0 icon--with-text"
                   href="{{ path('app_explainer_index') }}">
                        {{ include('components/caret--left.html.twig') }}
                        Retour
                </a>
            </nav>
            <header class="space--60-0 l__wrapper--slim">
                <h1 class="text--large b__nudge--bottom-small">
                    {{ article.title }}
                </h1>
                <h2 class="text--gray b__nudge--bottom">{{ article.description }}</h2>
                <ul class="article__social">
                    <li role="button" aria-label="Partagez sur Facebook"
                        class="btn btn--social btn--facebook"
                        onclick="App.share('facebook', window.location.href, '{{ article.title|escape('js') }}')">
                        <i class="fa fa-facebook-square"></i> <span>Partagez</span>
                    </li>
                    <li role="button" aria-label="Partagez via Twitter"
                        class="btn btn--social btn--twitter"
                        onclick="App.share('twitter', window.location.href, '{{ article.title|escape('js') }}')">
                        <i class="fa fa-twitter"></i> <span>Tweetez</span>
                    </li>
                    <li role="button" aria-label="Partagez via email"
                        class="btn btn--social btn--email"
                        onclick="App.share('email', window.location.href, '{{ article.title|escape('js') }}')">
                        <i class="fa fa-envelope-o"></i> <span>Envoyez</span>
                    </li>
                </ul>
            </header>

            {% if article.media and article.displayMedia %}
                <amp-img src="{{ media_asset(article.media, {'q': 70}) }}"
                         width="{{ article.media.width }}"
                         height="{{ article.media.height }}"
                         layout="responsive">
                    <noscript>
                        <img src="{{ media_asset(article.media, {'q': 70}) }}"
                             width="{{ article.media.width }}"
                             height="{{ article.media.height }}" />
                    </noscript>
                </amp-img>
            {% endif %}

            <article class="l__wrapper--slim">
                {{ article.content|markdown }}
            </article>

            <ul class="article__social space--60-0 l__wrapper--slim">
                <li role="button" aria-label="Partagez sur Facebook"
                    class="btn btn--social btn--facebook"
                    onclick="App.share('facebook', window.location.href, '{{ article.title|escape('js') }}')">
                    <i class="fa fa-facebook-square"></i> <span>Partagez</span>
                </li>
                <li role="button" aria-label="Partagez via Twitter"
                    class="btn btn--social btn--twitter"
                    onclick="App.share('twitter', window.location.href, '{{ article.title|escape('js') }}')">
                    <i class="fa fa-twitter"></i> <span>Tweetez</span>
                </li>
                <li role="button" aria-label="Partagez via email"
                    class="btn btn--social btn--email"
                    onclick="App.share('email', window.location.href, '{{ article.title|escape('js') }}')">
                    <i class="fa fa-envelope-o"></i> <span>Envoyez</span>
                </li>
            </ul>

            <a href="{{ path('app_explainer_index') }}" class="icon--with-text b__nudge--bottom-60 l__wrapper--slim text--body">
                {{ include('components/caret--left.html.twig') }}
                Retour
            </a>
        </section>

        <section class="donate l__wrapper--narrow background--green b__nudge--bottom-huge">
            <div class="space--30 l__row l__row--h-stretch l__mobile--col">
                <div class="donate__text">
                    <h2 class="text--large">
                        Un don pour <span class="text--on-white">transformer</span> la France !
                    </h2>
                    <p class="text--body text--small b__nudge--top-large">
                        Chaque don, quel que soit le montant, nous permet d’engager une action concrète pour réussir ensemble la transformation du pays.
                    </p>
                </div>

                {{ include('donation/_quick_form.html.twig') }}
            </div>
        </section>
    </main>
{% endblock %}
