{% extends 'base.html.twig' %}

{% block banner '' %}
{% block page_title explainer.title %}
{% block meta_description explainer.description %}
{% block meta_twitter_description explainer.twitterDescription ?: explainer.description %}

{% block canonical_url url('app_explainer_article_show', {'slug': explainer.slug}) %}

{% block amp_link %}<link rel="amphtml" href="{{ url('amp_explainer_view', {'slug': explainer.slug}) }}" />{% endblock %}

{% block open_graph_image (explainer.media ? (homepage_url ~ media_asset(explainer.media)) : default_sharer)|raw %}
{% block open_graph_image_width (explainer.media ? explainer.media.width : default_sharer_width) %}
{% block open_graph_image_height (explainer.media ? explainer.media.height : default_sharer_height) %}

{% block json_ld %}
    <script type="application/ld+json">
    {
        "@context": "http://schema.org",
        "@type": "NewsArticle",
        "name": "{{ block('page_title') }}",
        "headline": "{{ explainer.description|slice(0, 110) }}",
        "description": "{{ explainer.description }}",
        "url": "{{ block('canonical_url') }}",
        "datePublished": "{{ explainer.published|date(constant('DATE_ISO8601')) }}",
        "image": {
            "@type": "ImageObject",
            "url": "{{ block('open_graph_image')|raw }}",
            "contentUrl": "{{ block('open_graph_image')|raw }}",
            "width": {{ block('open_graph_image_width') }},
            "height": {{ block('open_graph_image_height') }}
        },
        "mainEntityOfPage": {
            "@type": "WebSite",
            "name": "En Marche !",
            "url": "{{ homepage_url }}"
        },
        "author": {
            "@type": "Organization",
            "name": "En Marche !",
            "url": "{{ homepage_url }}"
        },
        "publisher": {
            "@type": "Organization",
            "name": "En Marche !",
            "url": "{{ homepage_url }}",
            "logo": {
                "@type": "ImageObject",
                "url": "{{ homepage_url ~ asset('images/publisher_logo.png') }}",
                "contentUrl": "{{ homepage_url ~ asset('images/publisher_logo.png') }}",
                "width": 357,
                "height": 60
            }
        }
    }
    </script>
{% endblock %}

{% block final_stylesheets include('bot/_stylesheet.html.twig') %}
{% block final_javascripts include('bot/_javascript.html.twig') %}

{% block content %}
    <main class="content b__nudge--bottom">
        <section class="programme b__nudge--bottom">
            <nav class="text--body">
                <a class="l__wrapper space--20-0 icon--with-text"
                   href="{{ path('app_explainer_index') }}">
                        {{ include('components/caret--left.html.twig') }}
                        Retour
                </a>
            </nav>
            <header class="space--60-0 l__wrapper--slim">
                <h1 class="text--large b__nudge--bottom-small">
                    {{ explainer.title }}
                </h1>
                <h2 class="text--gray b__nudge--bottom bigger">{{ explainer.description }}</h2>
                <ul class="article__social">
                    <li role="button" aria-label="Partagez sur Facebook"
                        class="btn btn--social btn--facebook"
                        onclick="App.share('facebook', window.location.href, '{{ block('page_title') }}')">
                        <i class="fa fa-facebook-square"></i> <span>Partagez</span>
                    </li>
                    <li role="button" aria-label="Partagez via Twitter"
                        class="btn btn--social btn--twitter"
                        onclick="App.share('twitter', window.location.href, '{{ block('page_title') }}')">
                        <i class="fa fa-twitter"></i> <span>Tweetez</span>
                    </li>
                    <li role="button" aria-label="Partagez via email"
                        class="btn btn--social btn--email"
                        onclick="App.share('email', window.location.href, '{{ block('page_title') }}')">
                        <i class="fa fa-envelope-o"></i> <span>Envoyez</span>
                    </li>
                </ul>
            </header>

            {% if explainer.media and explainer.displayMedia %}
                <amp-img src="{{ media_asset(explainer.media, {'q': 70}) }}"
                         width="{{ explainer.media.width }}"
                         height="{{ explainer.media.height }}"
                         layout="responsive">
                    <noscript>
                        <img src="{{ media_asset(explainer.media, {'q': 70}) }}"
                             width="{{ explainer.media.width }}"
                             height="{{ explainer.media.height }}" />
                    </noscript>
                </amp-img>
            {% endif %}

            <article class="l__wrapper--slim">
                {{ explainer.ampContent|raw }}
            </article>

            <ul class="article__social space--60-0 l__wrapper--slim">
                <li role="button" aria-label="Partagez sur Facebook"
                    class="btn btn--social btn--facebook"
                    onclick="App.share('facebook', window.location.href, '{{ block('page_title') }}')">
                    <i class="fa fa-facebook-square"></i> <span>Partagez</span>
                </li>
                <li role="button" aria-label="Partagez via Twitter"
                    class="btn btn--social btn--twitter"
                    onclick="App.share('twitter', window.location.href, '{{ block('page_title') }}')">
                    <i class="fa fa-twitter"></i> <span>Tweetez</span>
                </li>
                <li role="button" aria-label="Partagez via email"
                    class="btn btn--social btn--email"
                    onclick="App.share('email', window.location.href, '{{ block('page_title') }}')">
                    <i class="fa fa-envelope-o"></i> <span>Envoyez</span>
                </li>
            </ul>

            <a href="{{ path('app_explainer_index') }}" class="icon--with-text b__nudge--bottom-60 l__wrapper--slim text--body">
                {{ include('components/caret--left.html.twig') }}
                Retour
            </a>
        </section>

        <section class="donate l__wrapper--narrow background--green b__nudge--bottom-huge">
            <div class="space--30 l__row l__row--h-stretch l__mobile--col">
                <div class="donate__text">
                    <h2 class="text--large">Donnez et <span class="text--on-white">faites gagner le progrès !</span></h2>
                    <p class="text--body text--small b__nudge--top-large">Votre don vous donne droit à une réduction annuelle d’impôt sur le revenu à hauteur de 66% de son montant.</p>
                </div>

                {{ include('donation/_quick_form.html.twig') }}
            </div>
        </section>
    </main>
{% endblock %}
