{% extends 'base.html.twig' %}

{% block banner '' %}
{% block page_title 'Transformons la France : réforme du code du travail et du dialogue social' %}
{% block canonical_url url('app_explainer_index') %}
{% block meta_description page.description %}
{% block meta_twitter_description page.twitterDescription ?: page.description %}

{% block open_graph_image (page.media ? (homepage_url ~ media_asset(page.media)) : default_sharer)|raw %}
{% block open_graph_image_width (page.media ? page.media.width : default_sharer_width) %}
{% block open_graph_image_height (page.media ? page.media.height : default_sharer_height) %}

{% block final_javascripts include('bot/_javascript.html.twig') %}

{% block content %}
    <main class="content">
        <section class="explainer">
            <header class="space--100-0 background--blue">
                <div class="l__wrapper--slim text--center">
                    <h1 class="text--extra-large text--italic text--white">
                        Transformons la France : réforme du code du travail et du dialogue social
                    </h1>
                </div>
            </header>

            <article>
                <div class="explainer__description">
                    <p>
                        Nous savons que le travail, quand il est exercé dans de
                        bonnes conditions et correctement payé, est un facteur
                        d’émancipation et de progression sociale.
                    </p>
                    <p>
                        Face aux évolutions rapides du monde économique, à la
                        transformation numérique, au chômage de masse qui ne
                        faiblit pas et à la précarité, nous devons tout faire
                        pour que chacun trouve sa place.
                    </p>
                </div>
            </article>

            <section class="explainer__articles">
                <ul>
                    {% for section in sections|slice(0, 1) %}
                    <li>
                        <h2>{{ section.name }}</h2>

                        <ul>
                            {% for article in section.getPublishedArticlesOrderedByPosition %}
                                <li>
                                    <a href="{{ path('app_explainer_article_show', {'slug': article.slug}) }}">
                                        {{ article.title }}
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </li>
                    {% endfor %}
                </ul>
            </section>

            <article>
                {{ page.content|markdown }}
            </article>

            <section class="explainer__articles b__nudge--bottom-huge">
                <ul>
                    {% for section in sections[1:] %}
                    <li>
                        <h2>{{ section.name }}</h2>

                        <ul>
                            {% for article in section.getPublishedArticlesOrderedByPosition %}
                                <li>
                                    <a href="{{ path('app_explainer_article_show', {'slug': article.slug}) }}">
                                        {{ article.title }}
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </li>
                    {% endfor %}
                </ul>
            </section>

        </section>

    </main>
{% endblock %}
