{% extends 'adherent_profile/_funnel_layout.html.twig' %}

{% form_theme form with ['form_theme_profile.html.twig', 'socials_theme.html.twig'] %}

{% block adherent_profile_content %}
    <section class="adherent-profile__section">
        <h1 class="text--medium-large">Général</h1>

        {{ form_start(form, {attr: {class: 'em-form'}}) }}
        {{ form_errors(form) }}

        <div class="em-form__section">
            <h2 class="section-subtitle">Vos identifiants réseaux sociaux</h2>
            <p class="text--body text--muted text--small">
                Vous pourrez être contactés par vos responsables locaux ou recevoir des informations susceptibles de vous intéresser.
            </p>
            <div class="em-form__row">
                {{ form_row(form.facebookPageUrl, {label: 'Facebook'}) }}
            </div>
            <div class="em-form__row">
                {{ form_row(form.linkedinPageUrl, {label: 'LinkedIn'}) }}
            </div>
            <div class="em-form__row">
                {{ form_row(form.twitterPageUrl, {label: 'Twitter'}) }}
            </div>
            <div class="em-form__row">
                {{ form_row(form.telegramPageUrl, {label: 'Télégram'}) }}
            </div>
        </div>

        <div class="em-form__section">
            <h2 class="section-subtitle">Votre situation professionnelle</h2>
            <div class="em-form__row">
                {{ form_row(form.position, {label: 'Statut professionnel'}) }}
                {{ form_row(form.job, {label: 'Métier'}) }}
            </div>
            {{ form_row(form.activityArea, {half: true, label: 'Secteur d\'activité'}) }}
        </div>

        <div class="em-form__section">
            <a href="{{ path('app_funnel_certification') }}" class="btn btn--as-link">Passer cette étape</a>
            <button class="btn btn--blue">Enregistrer</button>
        </div>
        {{ form_end(form) }}
    </section>
{% endblock %}
