{% extends 'renaissance/adherent/_layout.html.twig' %}

{% form_theme form with 'renaissance/forms/form_theme_profile.html.twig' %}

{% block page_title 'Cotisation élus' %}

{% block content_right_side %}
    <section class="space-y-4 md:space-y-6" id="elected-representative-contribution">
        <div class="flex items-center justify-between">
            <h1 class="text-3xl font-bold leading-10 text-gray-900">Cotisation élus [3/4]</h1>
            <nav class="flex items-center justify-center" aria-label="Progress">
                <p class="text-sm font-medium">Etape 3 sur 4</p>
                <ol role="list" class="ml-8 flex items-center space-x-5">
                    <li>
                        <!-- Completed Step -->
                        <a href="#" class="block h-2.5 w-2.5 rounded-full bg-re-blue-600 hover:bg-re-blue-900">
                            <span class="sr-only">Etape 1</span>
                        </a>
                    </li>

                    <li>
                        <!-- Current Step -->
                        <a href="#" class="relative flex items-center justify-center" aria-current="step">
                            <span class="absolute flex h-5 w-5 p-px" aria-hidden="true">
                              <span class="h-full w-full rounded-full bg-re-blue-200"></span>
                            </span>
                            <span class="relative block h-2.5 w-2.5 rounded-full bg-re-blue-600" aria-hidden="true"></span>
                            <span class="sr-only">Etape 2</span>
                        </a>
                    </li>

                    <li>
                        <!-- Upcoming Step -->
                        <a href="#" class="block h-2.5 w-2.5 rounded-full bg-gray-200 hover:bg-gray-400">
                            <span class="sr-only">Etape 3</span>
                        </a>
                    </li>

                    <li>
                        <!-- Upcoming Step -->
                        <a href="#" class="block h-2.5 w-2.5 rounded-full bg-gray-200 hover:bg-gray-400">
                            <span class="sr-only">Step 4</span>
                        </a>
                    </li>
                </ol>
            </nav>
        </div>

        <div class="rounded-lg p-5 md:p-6 bg-white shadow overflow-hidden">
            {{ form_start(form, { attr: { id: 'app_elected_representative_contribution_informations' } }) }}

            {{ form_errors(form) }}

            <div class="space-y-5">
                <div class="space-y-4">
                    <h2 class="text-lg font-medium text-gray-900">1. Mettez à jour vos informations personnelles</h2>

                    <p class="text-gray-500 leading-7">
                        Les informations suivantes (Nom, Prénom, Date de naissance) doivent être renseignées dans vos informations générales et correspondre à celles présentes sur votre pièce d’idendité.
                        Sans cette correspondance, votre compte ne pourra pas être certifié.
                    </p>
                    <div class="text-gray-500">
                        <p><span class="text-gray-700 font-medium">Nom :</span> {{ app.user.lastName }}</p>
                        <p><span class="text-gray-700 font-medium">Prénom :</span> {{ app.user.firstName }}</p>
                        <p>
                            <span class="text-gray-700 font-medium">Date de naissance :</span>
                            {{ app.user.birthDate|date('d/m/Y') }} ({{ app.user.birthdate|format_datetime('none', 'none', 'd MMMM YYYY') }} - {{ app.user.age }} ans)
                        </p>
                    </div>
                    <a class="inline-flex items-center text-re-blue-500 leading-6 hover:underline" href="{{ path('app_user_edit', { app_domain: renaissance_host }) }}">
                        Éditer les informations
                        <svg class="w-5 h-5 ml-1" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L6.832 19.82a4.5 4.5 0 01-1.897 1.13l-2.685.8.8-2.685a4.5 4.5 0 011.13-1.897L16.863 4.487zm0 0L19.5 7.125" />
                        </svg>
                    </a>
                </div>
                {{ form_row(form.accountName, { label: 'Nom du titulaire du compte' }) }}

                {{ form_row(form.accountCountry, { label: 'Pays du compte bancaire' }) }}

                <div>
                    {{ form_row(form.iban, { label: 'IBAN' }) }}
                    <p class="mt-1 text-sm text-gray-500">Identifiant international de compte bancaire (IBAN)</p>
                </div>
            </div>

            <div class="mt-6">
                <button type="submit" class="button button-blue">Valider</button>
            </div>

            {{ form_end(form) }}

            <div class="mt-4 border-t pt-3 border-gray-200">
                <a class="inline-flex items-center text-base leading-5 font-medium text-re-blue-500 hover:text-re-blue-700 hover:underline" href="{{ path('app_renaissance_elected_representative_contribution_fill_revenue') }}">
                    <span aria-hidden="true">&larr; </span>
                    Retournez aux informations
                </a>
            </div>
        </div>
    </section>
{% endblock %}
