{% extends '@SonataAdmin/CRUD/base_list_field.html.twig' %}

{% block field %}
    {% set proxy_slots = object.proxySlots %}

    {% if proxy_slots is not empty %}
        <ol>
            {% for proxy_slot in proxy_slots %}
                <li>
                    Tour: <i>{{ proxy_slot.round.name }}</i>
                    <br>
                    Mandant associé:
                    {% if proxy_slot.requestSlot %}
                        {% set request = proxy_slot.requestSlot.request %}

                        <b>
                            {{ ('common.civility.' ~ (request.gender == constant('App\\ValueObject\\Genders::FEMALE') ? 'mrs' : 'mr'))|trans }}
                            {{ request.firstNames }} {{ request.lastName }}
                        </b>

                        <a href="{{ path('admin_app_procuration_request_edit', {id: request.id}) }}">
                            <i class="icon fa fa-external-link"></i>
                        </a>

                        <br>

                        <b>[{{ request.id }}]</b> <i>{{ request.email }}</i>
                    {% else %}
                        <b>Aucun</b>
                    {% endif %}
                </li>
            {% endfor %}
        </ol>
    {% endif %}
{% endblock %}
