{% extends 'admin/layout.html.twig' %}

{% block sonata_page_content_header %}
    <div class="sticky-wrapper">
        <nav class="navbar navbar-default" role="navigation" style="width: auto;">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">
                        Liens d'invitations à la procuration pour les référents
                    </a>
                </div>
            </div>
        </nav>
    </div>
{% endblock %}

{% block sonata_admin_content %}
    <p>
        <a href="{{ path('admin_app_procurationproxy_list') }}" class="btn btn-default">
            <i class="fa fa-chevron-left" aria-hidden="true"></i>
            Retour à la liste
        </a>
    </p>

    <div class="box box-primary">
        <div class="box-body table-responsive no-padding">
            <table class="table table-bordered table-striped sonata-ba-list">
                <thead>
                <tr>
                    <th style="width: 250px;">
                        Référent
                    </th>
                    <th style="width: 150px;">
                        Zone attribuée
                    </th>
                    <th>
                        Lien d'invitation
                    </th>
                </tr>
                {% for referent in referents %}
                    <tr>
                        <td>
                            <a href="{{ path('admin_app_adherent_show', {'id': referent.id}) }}">
                                {{ referent.fullName }}
                            </a>
                            <br />
                            {{ referent.emailAddress }}
                        </td>
                        <td>
                            {{ referent.adherentReferentData.tags|join(', ') }}
                        </td>
                        <td>
                            <input type="text" class="form-control"
                                   value="{{ url('app_procuration_proxy_proposal', {'uuid': referent.uuid.toString}) }}" />
                        </td>
                    </tr>
                {% endfor %}
                </thead>
            </table>
        </div>
    </div>
{% endblock %}
