{% extends '@SonataAdmin/CRUD/base_list_field.html.twig' %}

{% block field %}
    {% if object.data %}
        <ul>
            {% for key, value in object.data %}
                <li>
                    {% if key is same as('adherent_uuid') %}
                        {% set adherent = get_adherent_by_uuid(value) %}

                        {% if is_granted('ROLE_APP_ADMIN_ADHERENT_EDIT') %}
                            <a href="{{ path('admin_app_adherent_edit', {id: adherent.id}) }}">
                                {{ adherent.fullName }}
                            </a>
                        {% else %}
                            {{ adherent.fullName }}
                        {% endif %}
                    {% else %}
                        {% if not (key matches '/^\\d+$/') %}
                            <b>{{ key }}:</b>
                        {% endif %}

                        {% if key is same as('role') %}
                            {{ ('role.' ~ value)|trans }}
                        {% elseif key is same as('zones') %}
                            {{ value|join(', ') }}
                        {% else %}
                            {{ value|json_encode(constant('JSON_PRETTY_PRINT'))|raw }}
                        {% endif %}
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}
