{% block adherent_membership_form %}
    {{ form_start(form) }}

    <div class="l__row l__row--h-stretch">
        {{ form_widget(form.gender, { attr: { class: 'register__form__gender' } }) }}
        {{ form_errors(form.gender) }}
    </div>

    <div class="l__row l__row--top l__row--h-stretch l__mobile--col">
        <div class="register__form--mid">
            {{ form_widget(form.firstName, { attr: { placeholder: 'Prénom' } }) }}
            {{ form_errors(form.firstName) }}
        </div>
        <div class="register__form--mid">
            {{ form_widget(form.lastName, { attr: { placeholder: 'Nom' } }) }}
            {{ form_errors(form.lastName) }}
        </div>
    </div>

    {% if form.emailAddress is defined %}
        <div class="register__form--full" id="field-email-address">
            {{ form_widget(form.emailAddress, { attr: { placeholder: 'Adresse e-mail' } }) }}
            {{ form_errors(form.emailAddress) }}
        </div>
    {% endif %}

    {% if form.password is defined %}
        <div class="l__row l__row--top l__row--h-stretch l__mobile--col">
            <div class="l__col l__col--top register__form--mid">
                {{ form_widget(form.password.first, { attr: { placeholder: 'Mot de passe' } }) }}
                {{ form_errors(form.password.first) }}
            </div>
            <div class="l__col l__col--top register__form--mid">
                {{ form_widget(form.password.second, { attr: { placeholder: 'Ré-entrez votre mot de passe' } }) }}
                {{ form_errors(form.password.second) }}
            </div>
        </div>
    {% endif %}

    <div id="membership-address">
        {{ form_errors(form.address) }}
        <div class="l__row l__row--h-stretch register__form--full">
            {{ form_widget(form.address.address, { attr: { placeholder: 'Adresse postale' } }) }}
            {{ form_errors(form.address.address) }}
        </div>

        <div class="l__row l__row--top l__row--h-stretch l__mobile--col">
            <div class="register__form__zip_code register__form--third">
                {{ form_widget(form.address.postalCode, { attr: { placeholder: 'Code postal' } }) }}
            </div>

            <div class="register__form__city register__form--third">
                {{ form_widget(form.address.city, { 'attr': { 'class': 'register__form__city'} }) }}
                {{ form_widget(form.address.cityName, { 'attr': { 'class': 'register__form__city_name', 'placeholder': 'Ville' } }) }}
                {{ form_errors(form.address.city) }}
            </div>

            <div class="register__form__country register__form--third">
                {{ form_widget(form.address.country) }}
                {{ form_errors(form.address.country) }}
            </div>
        </div>
    </div>

    <div class="register__form__phone">
        <div class="l__row l__row--top l__row--h-stretch">
            {{ form_widget(form.phone.country, { attr: { class: 'membership_request__form__phone'} }) }}
            {{ form_widget(form.phone.number, { attr: { placeholder: 'Téléphone' } }) }}
        </div>
        {{ form_errors(form.phone) }}
    </div>

    <div class="l__row l__row--top l__row--h-stretch l__mobile--col">
        <div class="l__col l__col--top register__form--mid">
            {{ form_widget(form.position, { attr: { class: 'register__form__profession' } }) }}
            {{ form_errors(form.position) }}
        </div>

        <div class="l__col l__col--top register__form--mid" id="field-birthdate">
            {{ form_widget(form.birthdate, { attr: { class: 'form--full', placeholder: 'Date de naissance JJ/MM/AAAA' } }) }}
            {{ form_errors(form.birthdate) }}
        </div>
    </div>

    {% if form.conditions is defined %}
        <div class="b__nudge--top text--small" id="field-conditions">
            {{ form_widget(form.conditions) }}
            <div class="register__form__conditions">Oui, j'adhère à la charte et j'ai pris connaissance des règles de fonctionnement d'En Marche !</div>
            {{ form_errors(form.conditions) }}
        </div>
    {% endif %}

    <div class="register__form">
        {{ form_widget(form.submit, { attr: { class: 'btn--large-and-medium btn--blue b__nudge--top' }}) }}
    </div>

    {{ form_end(form) }}
{% endblock %}
