{% extends 'base.html.twig' %}

{% block banner '' %}
{% block page_title 'Vidéos' %}
{% block canonical_url url('page_emmanuel_macron_videos') %}

{% block stylesheets %}
    <style type="text/css">
        body {
            background-color: #FF3680;
        }
        .btn--primary {
            background-color: black;
            border-color: black;
        }
    </style>
{% endblock %}

{% block final_javascripts %}
    <div id="fb-root"></div>

    {{ include('bot/_javascript.html.twig') }}
    <script type="text/javascript">
        (function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v2.8&appId=222392711147441";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
{% endblock %}

{% block content %}
    <main class="content">
        <section class="videos">
            <header class="space--60-0">
                <div class="l__wrapper--slim text--center">
                    <h1 class="text--large text--inline text--on-white">
                        Vidéos
                    </h1>
                </div>
            </header>

            <hr class="l__wrapper" />

            <div class="l__wrapper--slim videos__intro text--body text--medium space--60-0 text--center">
                Retrouvez nos vidéos #JeVoteMacron à partager avec vos amis 
            </div>

            <ul class="l__wrapper--medium videos__grid">
                {% for video in videos %}
                <li>
                    <div class="fb-video"
                         data-href="{{ video.facebookUrl }}"
                         data-allowfullscreen="true"
                         data-show-captions="true"
                         data-width="450"
                         data-show-text="true">
                        <blockquote cite="{{ video.facebookUrl }}" class="fb-xfbml-parse-ignore">
                            <a href="{{ video.facebookUrl }}"></a>
                            <p>{{ video.description }}</p>
                            Publié par {{ video.author }} le {{ video.createdAt|date('m/d/Y', 'Europe/Paris') }}
                        </blockquote>
                    </div>

                    <div class="l__row">
                        <button role="button" aria-label="Partagez via Twitter"
                                class="btn btn--social btn--facebook b__nudge--right-nano"
                                onclick="App.share('facebook', '{{ video.facebookUrl }}', '{{ video.description|url_encode }}')">
                            <i class="fa fa-facebook"></i> <span>Partagez</span>
                        </button>

                        {% if video.twitterUrl %}
                            <button role="button" aria-label="Partagez via Twitter"
                                    class="btn btn--social btn--twitter"
                                    onclick="App.share('twitter', '{{ video.twitterUrl }}', '{{ video.description|url_encode }}')">
                                <i class="fa fa-twitter"></i> <span>Tweetez</span>
                            </button>
                        {% endif %}
                    </div>
                </li>
                {% endfor %}
            </ul>
        </section>

    </main>
{% endblock %}
