{% set block_alert_exists = app.user.isRenaissanceSympathizer() or not app.user.hasActiveMembership() %}

<div class="adherent-banner adherent-banner-consultation bg-neutral-100 rounded-2xl mb-10 pb-10 {{ not block_alert_exists ? 'pt-10' }} text-black">
    {% if block_alert_exists %}
        {% if app.user.isRenaissanceSympathizer() %}
            <div class="alert alert-danger flex px-10 w-full justify-between py-3 rounded-t-2xl">
                <span class="flex flex-grow-1 items-center font-medium">
                    <img src="{{ asset('/images/icons/icn_warning.svg') }}" alt="Information" class="mr-3" />
                    Vous devez adhérer pour participer à la consultation
                </span>

                <a class="banner-btn" href="{{ path('app_renaissance_adhesion_pre_payment') }}">
                    <img src="{{ asset('/images/icons/icn_cotisation.svg') }}" alt="Cotisation" class="mr-3" /> Je cotise
                </a>
            </div>
        {% elseif not app.user.hasActiveMembership() %}
            <div class="alert alert-warning flex px-10 w-full justify-between py-3 rounded-t-2xl">
                <span class="flex flex-grow-1 items-center font-medium">
                    <img src="{{ asset('/images/icons/icn_warning.svg') }}" alt="Information" class="mr-3" />
                    Vous n’êtes pas à jour de cotisation
                </span>

                <a class="banner-btn" href="{{ path('app_renaissance_adhesion_pre_payment') }}">
                    <img src="{{ asset('/images/icons/icn_cotisation.svg') }}" alt="Cotisation" class="mr-3" /> Je recotise pour {{ 'now'|date('Y') }}
                </a>
            </div>
        {% endif %}
    {% endif %}

    <div class="adherent-banner__inner mx-10 {{ block_alert_exists ? 'mt-10' }}">
        <div class="w-2/3 flex flex-col">
            <h2 class="text-3xl">{{ consultation_designation.getTitle() }}</h2>

            {% if consultation_designation.getDescription() %}
                <p class="mt-6 text-justify">{{ consultation_designation.getDescription() }}</p>
            {% endif %}

            <div class="flex mt-6 items-center justify-between">
                <a class="banner-btn {{ not consultation_designation.isVotePeriodStarted() ? 'banner-btn-disabled' }}" href="{{ consultation_designation.isVotePeriodStarted() ? path('app_sas_election_index', {uuid: consultation_designation.getUuid()}) : '#' }}">
                    <img src="{{ asset('/images/icons/icn_vote-hand.svg') }}" alt="Main vote" class="mr-3" /> Je participe !
                </a>

                {% if consultation_designation.isVotePeriodStarted() %}
                    <span class="font-medium">Fin de la consultation</span>

                    <span class="em-countdown-clock bg-white rounded py-1" data-event-timestamp="{{ consultation_designation.voteEndDate.timestamp }}" data-now-timestamp="{{ date().timestamp }}">
                        <span class="clock-container font-medium"></span>
                    </span>
                {% else %}
                    <span class="font-medium ml-3">Du {{ consultation_designation.voteStartDate|format_datetime('none', 'none', "dd/MM/y à HH'h'") }} au {{ consultation_designation.voteEndDate|format_datetime('none', 'none', "dd/MM/y à HH'h'") }}</span>
                {% endif %}
            </div>
        </div>
    </div>
</div>
