{% extends 'referent/_layout.html.twig' %}

{% block stylesheets %}
    <link href="{{ asset('select2/select2.min.css') }}" rel="stylesheet" />
{% endblock %}

{% block referent_content %}

{% block links '' %}
<div class="l__wrapper--slim">
    {{ form_start(form, { attr: { class: 'b__nudge--top-40' } }) }}
        <div class="form__row">
            {{ form_errors(form.tags) }}
            {{ form_label(form.tags, 'Tags de candidature', { label_attr: { class: 'label__header--large' } }) }}
            {{ form_widget(form.tags, { attr: { class: 'form--full committee_event__form__name multi_tags' } }) }}
        </div>
        <button type="submit" class="btn btn--blue btn--large-and-full b__nudge--top">Enregistrer</button>
    {{ form_end(form) }}
</div>
{% endblock %}

{% block final_javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('select2/select2.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('select2/fr.js') }}"></script>
    <script type="text/javascript">
        Kernel.onLoad(function() {
            $('.multi_tags').select2({
                theme: 'default em-form'
            });
        });
    </script>
{% endblock %}
