{% set homepage_url = url('homepage')|trim('/') %}

{% set default_sharer = homepage_url ~ asset('images/default_sharer.jpg') %}
{% set default_sharer_width = 1905 %}
{% set default_sharer_height = 1000 %}

<!DOCTYPE html>
<html amp lang="fr">
<head>
    <meta charset="utf-8">

    <title>{% block title 'La République En Marche !' %}</title>
    <meta name="description" content="{% block meta_description %}Pour ceux qui sont convaincus que le pays est bloqué, qui ont le goût du travail, du progrès, du risque, qui vivent pour la liberté, l'égalité, et l'Europe.{% endblock %}" />

    <link rel="canonical" href="{% block canonical_url homepage_url %}" />
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1" />
    <meta name="referrer" content="origin">

    {% block meta '' %}
    {% block json_ld '' %}

    <meta property="og:site_name" content="{% block open_graph_site_name 'La République En Marche !' %}" />
    <meta property="og:url" content="{% block open_graph_url block('canonical_url') %}" />
    <meta property="og:title" content="{% block open_graph_title block('title') %}" />
    <meta property="og:description" content="{% block open_graph_description block('meta_description') %}" />
    <meta property="og:image" content="{% block open_graph_image default_sharer %}" />
    <meta property="og:image:width" content="{% block open_graph_image_width default_sharer_width %}" />
    <meta property="og:image:height" content="{% block open_graph_image_height default_sharer_height %}" />

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="{{ block('title') }}" />
    <meta name="twitter:description" content="{% block meta_twitter_description block('meta_description') %}" />
    <meta name="twitter:image" content="{% block meta_twitter_image block('open_graph_image') %}" />

    <meta property="fb:pages" content="543099962534877" />

    <style amp-boilerplate>body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}</style><noscript><style amp-boilerplate>body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style></noscript>
    <style amp-custom>
        {{ include('amp/style.css.twig') }}
    </style>

    <script async src="https://cdn.ampproject.org/v0.js"></script>
    <script async custom-element="amp-video" src="https://cdn.ampproject.org/v0/amp-video-0.1.js"></script>
    <script async custom-element="amp-analytics" src="https://cdn.ampproject.org/v0/amp-analytics-0.1.js"></script>
    <script async custom-element="amp-twitter" src="https://cdn.ampproject.org/v0/amp-twitter-0.1.js"></script>
    <script async custom-element="amp-facebook" src="https://cdn.ampproject.org/v0/amp-facebook-0.1.js"></script>
    <script async custom-element="amp-youtube" src="https://cdn.ampproject.org/v0/amp-youtube-0.1.js"></script>
    <script async custom-element="amp-dailymotion" src="https://cdn.ampproject.org/v0/amp-dailymotion-0.1.js"></script>
    <script async custom-element="amp-soundcloud" src="https://cdn.ampproject.org/v0/amp-soundcloud-0.1.js"></script>
    <script async custom-element="amp-iframe" src="https://cdn.ampproject.org/v0/amp-iframe-0.1.js"></script>
</head>
<body>
    {% block header %}
        <header>
            <!--  Header / Navigation Desktop -->
            <nav class="l__wrapper l__row l__row--h-stretch space--20-0 l__hide--on-small-laptop">
                <ul class="list__links list__links--row list__links--row-top list__links--no-decor list__links--nav">
                    <li><a class="link--no-decor text--logo" href="{{ path('homepage') }}">En Marche !</a></li>
                    <li><a class="text--medium-small" href="{{ path('page_le_mouvement') }}">Le Mouvement</a></li>
                    <li><a class="text--medium-small" href="https://legislatives.en-marche.fr/">Législatives</a></li>
                    <li><a class="text--medium-small" href="{{ path('page_emmanuel_macron') }}">Emmanuel Macron</a></li>
                    <li><a class="text--medium-small" href="{{ path('program_index') }}">Programme</a></li>
                    <li><a class="text--medium-small" href="{{ path('articles_list', {category: 'tout'}) }}">Actualités</a></li>
                </ul>
                <div class="l__row">
                    <a href="{{ path('donation_index') }}" class="btn btn--primary b__nudge--right">Donner</a>
                    <div class="nav-dropdown">
                        <a href="{{ path('app_user_login') }}" class="icon--with-text nav-dropdown__name">
                            {{ include('components/user.html.twig') }}
                            Aller sur la plateforme
                        </a>
                    </div>
                </div>
            </nav>

            <!--  Header / Navigation Mobile-->
            <nav class="l__wrapper l__hide--above-small-laptop space--20-0">
                <ul class="list__links list__links--row list__links--nav l__row--h-stretch">
                    <li><a class="link--no-decor text--logo" href="{{ path('homepage') }}">En Marche !</a></li>
                    <a href="{{ path('donation_index') }}" class="btn btn--primary b__nudge--right-larger">
                        Je donne
                    </a>
                </ul>
                <div class="nav-mobile">
                    <input type="checkbox" id="nav-menu">
                    <label for="nav-menu">Menu de navigation</label>
                    <div class="nav-mobile--menu">
                        <div class="l__row l__row--h-stretch">
                            <a href="{{ path('homepage') }}" class="icon--with-text text--medium-small">
                                {{ include('components/user.html.twig') }}
                                Aller sur la plateforme
                            </a>
                        </div>
                        <hr />
                        <ul class="list__links list__links--col list__links--no-decor list__links--nav">
                            <li><a class="text--medium-small" href="{{ path('page_le_mouvement') }}">Le Mouvement</a></li>
                            <li><a class="text--medium-small" href="{{ path('program_index') }}">Programme</a></li>
                            <li><a class="text--medium-small" href="{{ path('page_emmanuel_macron') }}">Emmanuel Macron</a></li>
                            <li><a class="text--medium-small" href="{{ path('articles_list', {category: 'tout'}) }}">Actualités</a></li>
                        </ul>
                        <hr>
                        <ul class="list__links list__links--row b__nudge--bottom-small">
                            <li class="head">Suivez La République En Marche !</li>
                        </ul>
                        <ul class="list__links list__links--row list__links--no-decor list__links--svgs l__row--wrap">
                            <li>
                                <a href="https://www.facebook.com/EnMarche" target="_blank" rel="noopener noreferrer">
                                    <i class="fa fa-facebook-square"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://twitter.com/enmarchefr" target="_blank" rel="noopener noreferrer">
                                    <i class="fa fa-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.instagram.com/enmarchefr/" target="_blank" rel="noopener noreferrer">
                                    <i class="fa fa-instagram"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.linkedin.com/company/en-marche" target="_blank" rel="noopener noreferrer">
                                    <i class="fa fa-linkedin-square"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.youtube.com/channel/UCJw8np695wqWOaKVhFjkRyg" target="_blank" rel="noopener noreferrer">
                                    <i class="fa fa-youtube-square"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.flickr.com/photos/enmarchefr/albums" rel="noopener noreferrer" target="_blank">
                                    <i class="fa fa-flickr"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://t.me/enmarchefr" rel="noopener noreferrer" target="_blank">
                                    <i class="fa fa-telegram"></i>
                                </a>
                            </li>
                            <li>
                                <a href="{{ url('articles_feed') }}" target="_blank" rel="noopener noreferrer">
                                    <i class="fa fa-rss"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
    {% endblock %}

    {% block content '' %}

    {% if not app.debug %}
    <amp-analytics config="https://www.googletagmanager.com/amp.json?id=GTM-TTW2FMQ&gtm.url=SOURCE_URL" data-credentials="include">
        <script type="application/json">
            {
                "vars": {
                    "account": "UA-72646335-1"
                },
                "triggers": {
                    "trackPageview": {
                        "on": "visible",
                        "request": "pageview"
                    }
                }
            }
        </script>
    </amp-analytics>
    {% endif %}
</body>
</html>
