{% extends 'amp/_layout.html.twig' %}

{% block title article.title %}
{% block canonical_url url('app_explainer_article_show', {'slug': article.slug}) %}

{% block json_ld %}
    {% set image = article.media ? (homepage_url ~ (media_asset(article.media)|raw)) : default_sharer %}
    {% set image_width = article.media ? article.media.width : default_sharer_width %}
    {% set image_height = article.media ? article.media.height : default_sharer_height %}

    <script type="application/ld+json">
    {
        "@context": "http://schema.org",
        "@type": "NewsArticle",
        "name": "{{ article.title }}",
        "headline": "{{ article.description|slice(0, 110) }}",
        "description": "{{ article.description }}",
        "url": "{{ block('canonical_url') }}",
        "dateModified": "{{ article.updatedAt|date(constant('DATE_ISO8601')) }}",
        "image": {
            "@type": "ImageObject",
            "url": "{{ image|raw }}",
            "contentUrl": "{{ image|raw }}",
            "width": {{ image_width }},
            "height": {{ image_height }}
        },
        "mainEntityOfPage": {
            "@type": "WebSite",
            "name": "En Marche !",
            "url": "{{ homepage_url }}"
        },
        "author": {
            "@type": "Organization",
            "name": "En Marche !",
            "url": "{{ homepage_url }}"
        },
        "publisher": {
            "@type": "Organization",
            "name": "En Marche !",
            "url": "{{ homepage_url }}",
            "logo": {
                "@type": "ImageObject",
                "url": "{{ homepage_url ~ asset('images/publisher_logo.png') }}",
                "contentUrl": "{{ homepage_url ~ asset('images/publisher_logo.png') }}",
                "width": 357,
                "height": 60
            }
        }
    }
    </script>
{% endblock %}

{% block content %}
    <div class="amp-warning">
        <a href="{{ block('canonical_url') }}">Retrouvez cet article sur en-marche.fr</a>
    </div>

    <main class="b__nudge--bottom">
        <section class="content b__nudge--bottom-huge">
            <header class="b__nudge--top l__wrapper--slim">
                <h1 class="text--large b__nudge--bottom-small">
                    {{ article.title }}
                </h1>
                <h2 class="text--gray">{{ article.createdAt|localizeddate('none', 'none', 'fr_FR', null, "d MMMM yyyy") }} - {{ article.description }}</h2>
            </header>

            {% if article.media and article.displayMedia %}
                <amp-img src="{{ media_asset(article.media, {'q': 70}) }}"
                         width="{{ article.media.width }}"
                         height="{{ article.media.height }}"
                         layout="responsive">
                    <noscript>
                        <img src="{{ media_asset(article.media, {'q': 70}) }}"
                             width="{{ article.media.width }}"
                             height="{{ article.media.height }}" />
                    </noscript>
                </amp-img>
            {% endif %}

            <article class="l__wrapper--slim">
                {{ article.ampContent|raw }}
            </article>
        </section>
    </main>
{% endblock %}
