{% extends 'amp/_layout.html.twig' %}

{% block page_title proposal.title %}
{% block canonical_url url('program_proposal', {'slug': proposal.slug}) %}

{% block image %}{% spaceless %}
    {% if proposal.media %}
        {{ url('homepage')|trim('/') }}{{ media_asset(proposal.media)|raw }}
    {% else %}
        {{ url('homepage')|trim('/') ~ asset('images/default_sharer.jpg') }}
    {% endif %}
{% endspaceless %}{% endblock %}

{% block json_ld %}
<script type="application/ld+json">
{
    "@context": "http://schema.org",
    "@type": "Article",
    "name": "{{ block('page_title') }}",
    "description": "{{ proposal.description }}",
    "url": "{{ block('canonical_url') }}",
    "image": "{{ block('image') }}"
}
</script>
{% endblock %}

{% block content %}
    <main class="content b__nudge--bottom">
        <section class="programme b__nudge--bottom">
            <nav class="text--body b__nudge--bottom">
                <a class="l__wrapper space--20-0 icon--with-text"
                   href="{{ path('program_index') }}">
                    {{ include('components/caret--left.html.twig') }}
                    Retour aux propositions
                </a>
            </nav>

            <header class="space--60-0 l__wrapper--slim">
                <h1 class="text--large b__nudge--bottom-small">
                    {{ proposal.title }}
                </h1>
                <h2 class="text--gray b__nudge--bottom bigger">{{ proposal.description }}</h2>
            </header>

            {% if proposal.media and proposal.displayMedia %}
                <amp-img src="{{ media_asset(proposal.media, {'q': 70}) }}"
                         width="{{ proposal.media.width }}"
                         height="{{ proposal.media.height }}"
                         layout="responsive">
                    <noscript>
                        <img src="{{ media_asset(proposal.media, {'q': 70}) }}"
                             width="{{ proposal.media.width }}"
                             height="{{ proposal.media.height }}" />
                    </noscript>
                </amp-img>
            {% endif %}

            <article class="l__wrapper--slim">
                {{ proposal.ampContent|raw }}
            </article>
        </section>
    </main>
{% endblock %}
