{% extends 'renaissance/adherent/_layout.html.twig' %}

{% form_theme form 'renaissance/forms/form_theme_profile.html.twig' %}

{% block page_title 'Inviter des amis à un événement' %}

{% block final_javascripts %}
    <script type="module" src="{{ asset('js/friendlycaptcha.widget-0.9.14.module.min.js') }}" async defer></script>
{% endblock %}

{% block content_right_side %}
    <section class="isolate relative">
        <a href="{{ path('app_renaissance_event_show', {slug: event.slug}) }}" class="inline-flex items-center text-sm leading-10 text-re-blue-500 hover:text-re-blue-400">
            <svg class="w-5 h-5 mr-2" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 15.75L3 12m0 0l3.75-3.75M3 12h18" />
            </svg>
            Retourner à l'évènement
        </a>
        <div class="mt-4 bg-white rounded-lg p-5 md:p-6 shadow overflow-hidden">
            <div>
                <span class="inline-flex items-center gap-x-1.5 rounded-full px-2 py-1 text-ms font-medium text-gray-900 ring-1 ring-inset ring-gray-200">
                    <svg class="h-1.5 w-1.5 fill-teal-600" viewBox="0 0 6 6" aria-hidden="true">
                        <circle cx="3" cy="3" r="3" />
                    </svg>
                    {{ event.categoryName }}
                </span>
                <h2 class="text-2xl font-medium text-gray-900 lg:text-3xl tracking-tighter">
                    {{- event.name -}}
                </h2>
            </div>
            <div class="mt-4 space-y-8 divide-y divide-gray-200">
                <div class="text-sm leading-5 text-gray-500">
                    <p class="flex items-center flex-wrap">
                        {{ include('icons/user.svg.twig', {svg_class: 'h-5 w-5 mr-1.5'}) }}
                        <span>
                            {% if event.committee %}
                                Par le comité <span class="font-medium text-gray-700">{{ event.committee.name }}</span>
                            {% elseif event.organizer %}
                                Par <span class="font-medium text-gray-700">{{ event.organizer.fullName }}</span>
                            {% endif %}
                        </span>
                    </p>
                    <p class="mt-2 flex items-center">
                        {{ include('icons/calendar.svg.twig', {svg_class: 'h-5 w-5 mr-1.5'}) }}
                        <span>
                            {{- event.beginAt|format_datetime('full', 'none')|capitalize }}, {{ event.beginAt|date('G\\hi') -}}{{ event.timeZone|utc_offset }}
                        </span>
                    </p>
                    <p class="mt-2 flex items-center">
                        {{ include('icons/map.svg.twig', {svg_class: 'h-5 w-5 mr-1.5'}) }}
                        <span>
                            {{ event.postAddress.inlineFormattedAddress }}
                        </span>
                    </p>
                </div>

                <div class="pt-8">
                    <h3 class="text-xl font-medium leading-6 text-gray-900 uppercase tracking-wider">Inviter des amis à l'événement</h3>

                    <div>
                        {{ form_start(form, {attr: {class: 'form'}}) }}
                            <div class="space-y-5 mb-10">
                                <div class="space-y-4">
                                    <div class="em-form__group">
                                        {{ form_errors(form) }}
                                    </div>
                                </div>
                                <div class="space-y-8">
                                    <div class="mt-6 grid grid-cols-1 gap-y-6 gap-x-4 md:grid-cols-6">
                                        <div class="md:col-span-3">
                                            {{ form_row(form.firstName, {label: 'Nom'}) }}
                                        </div>
                                        <div class="md:col-span-3">
                                            {{ form_row(form.lastName, {label: 'Prénom'}) }}
                                        </div>
                                    </div>
                                    <div>
                                        {{ form_row(form.email, {half: true, label: 'Adresse email'}) }}
                                    </div>
                                    <div>
                                        {{ form_row(form.message, {label: 'Message d\'invitation', attr: {rows: 4}}) }}
                                    </div>
                                    {% for guest in form.guests %}
                                        <div>
                                            {{ form_row(guest, {label: 'Email de l\'invité N° ' ~ loop.index}) }}
                                        </div>
                                    {% endfor %}

                                    {{ include('renaissance/partials/friendly-captcha.html.twig', {justify_class: 'justify-between'}) }}
                                </div>
                            </div>
                        {{ form_end(form) }}

                        <div class="mt-5 prose lg:prose-base prose-blue max-w-none">
                            Les données recueillies sur ce formulaire sont traitées par Renaissance afin de gérer les informations relatives aux inscriptions aux évènements de Renaissance et de permettre à Renaissance de vous envoyer des communications politiques.
                            Toutes les informations sont obligatoires, sauf celles marquées "Optionnel". L’absence de réponse dans ces champs ne permettra pas à Renaissance de traiter votre demande.
                            Conformément à la règlementation, vous disposez d’un droit d’opposition et d’un droit à la limitation du traitement de données vous concernant, ainsi que d’un droit d’accès, de rectification, de portabilité et d’effacement de vos données. Vous disposez également de la faculté de donner des directives sur le sort de vos données après votre décès.
                            Vous pouvez consulter notre Politique de protection des données et exercer vos droits en nous adressant votre demande accompagnée d’une copie de votre pièce d’identité à l’adresse postale ou électronique suivante : Renaissance, 68 rue du Rocher, 75008 Paris, France et <a href="mailto:mes-donnees@parti-renaissance.fr">mes-donnees@parti-renaissance.fr</a>.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
