{% extends 'renaissance/adherent/_layout.html.twig' %}

{% block page_title 'Événements' %}

{%  block stylesheets %}
    <link href="{{ asset('select2/select2.min.css') }}" rel="stylesheet" />
{% endblock %}

{% block final_javascripts %}
    <script type="text/javascript" src={{ asset('js/jquery/jquery-2.2.4.min.js') }}></script>
    <script type="text/javascript" src={{ asset('select2/select2.min.js') }}></script>
    <script type="text/javascript" src={{ asset('select2/fr.js') }}></script>
    <script type="text/javascript" src="{{ asset('bundles/tetranzselect2entity/js/select2entity.js') }}"></script>
    <script type="text/javascript">
        Bootstrap.onLoad(function() {
            $('.select2entity').select2entity({
                theme: 'default em-filters',
                multiple: false,
            });
        });
    </script>
{% endblock %}

{% block content_right_side %}
    <section class="isolate relative">
        <a href="{{ path('app_renaissance_event_my_events_list') }}" class="inline-flex items-center text-sm leading-5 text-re-blue-500 hover:text-re-blue-400">
            <svg class="w-5 h-5 mr-2" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 15.75L3 12m0 0l3.75-3.75M3 12h18" />
            </svg>
            Retourner à mes évènements
        </a>
        {{ form_start(form, { attr: { class: 'mt-4 bg-white border border-gray-300 rounded-lg p-5 md:p-6' }}) }}
            <div class="flex justify-center text-sm text-red-500 font-medium">
                {{ form_errors(form) }}
            </div>
            <div class="grid {{ form.zone is defined ? 'gap-4 lg:grid-cols-3' : 'gap-6 lg:grid-cols-2' }}">
                <div>
                    {{ form_row(form.name, {label: 'Recherche', label_attr: { class: 'block text-sm font-medium leading-6 text-gray-700' }, attr: { class: 'mt-1 block w-full rounded-md border py-1.5 text-gray-900 shadow-sm border-gray-300 placeholder:text-gray-400 focus:border-re-blue-500 focus:ring focus:ring-blue-600 md:text-sm md:leading-6', placeholder: 'Recherche par nom' }}) }}
                </div>
                <div>
                    {{ form_row(form.category, {label: 'Type d\'évènements', label_attr: { class: 'block text-sm font-medium leading-6 text-gray-700' }, attr: { class: 'mt-1 block w-full rounded-md border-0 py-1.5 pl-3 pr-10 text-gray-900 ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-blue-600 sm:text-sm sm:leading-6'}}) }}
                </div>
                {% if form.zone is defined %}
                    <div>
                        {{ form_row(form.zone, {label: 'Zone géographique', label_attr: { class: 'block text-sm font-medium leading-6 text-gray-700' }, attr: { class: 'mt-1 block w-full rounded-md border-0 py-1.5 pl-3 pr-10 text-gray-900 ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-blue-600 sm:text-sm sm:leading-6'}}) }}
                    </div>
                {% endif %}
            </div>
            <div class="mt-4 flex justify-end items-center space-x-3">
                <button
                    type="submit"
                    class="inline-flex items-center bg-white rounded-md px-4 py-2 text-sm leading-5 border border-gray-200 uppercase tracking-wider font-medium text-re-blue-500 hover:bg-re-blue-50 focus:ring-2 focus:ring-white focus:ring-offset-re-blue-500 focus:ring-offset-2"
                >Rechercher</button>
                <a
                    href="{{ path('app_renaissance_event_list') }}"
                    class="inline-flex items-center bg-white rounded-md px-4 py-2 text-sm leading-5 border border-gray-200 uppercase tracking-wider font-medium text-re-blue-500 hover:bg-re-blue-50 focus:ring-2 focus:ring-white focus:ring-offset-re-blue-500 focus:ring-offset-2"
                >Réinitialiser</a>
            </div>
        {{ form_end(form) }}
        <div id="search-results" class="mt-5 flex-1 grid gap-4 lg:grid-cols-2 lg:gap-y-3 lg:gap-x-5">
            {{ include('renaissance/adherent/events/partials/_search_result.html.twig') }}
        </div>
    </section>
{% endblock %}
