{% extends 'renaissance/adherent/_layout.html.twig' %}

{% block page_title event.name %}

{% block content_right_side %}
    <section class="isolate relative">
        {% if is_event_already_participating(event, app.user) %}
            <a href="{{ path('app_renaissance_event_my_events_list') }}"
               class="inline-flex items-center text-sm leading-5 text-re-blue-500 hover:text-re-blue-400">
                <svg class="w-5 h-5 mr-2" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                     stroke-width="1.5" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 15.75L3 12m0 0l3.75-3.75M3 12h18"/>
                </svg>
                Retourner à mes événements
            </a>
        {% else %}
            <a href="{{ path('app_renaissance_event_list') }}"
               class="inline-flex items-center text-sm leading-5 text-re-blue-500 hover:text-re-blue-400">
                <svg class="w-5 h-5 mr-2" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                     stroke-width="1.5" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 15.75L3 12m0 0l3.75-3.75M3 12h18"/>
                </svg>
                Retourner aux événements
            </a>
        {% endif %}
        <header class="mt-3 flex items-start space-x-5">
            <div class="flex flex-col overflow-hidden shadow rounded-xl w-20">
                <div class="text-center bg-teal-600 p-1">
                    <span
                        class="text-white uppercase text-base leading-6 font-medium">{{ event.localBeginAt|format_datetime('none', 'none', 'MMM', event.timeZone)|trim('.') -}}</span>
                </div>
                <div class="bg-white text-center py-2">
                    <span
                        class="text-xl font-semibold text-gray-900 lg:text-2xl">{{ event.localBeginAt|date('d', event.timeZone) -}}</span>
                </div>
            </div>
            <div>
                <span
                    class="inline-flex items-center gap-x-1.5 rounded-full px-2 py-1 text-sm font-medium text-gray-900 ring-1 ring-inset ring-gray-200">
                    <svg class="h-1.5 w-1.5 fill-teal-600" viewBox="0 0 6 6" aria-hidden="true">
                        <circle cx="3" cy="3" r="3"/>
                    </svg>
                    {{ event.categoryName }}
                </span>
                {% if event.cancelled %}
                    <span class="inline-flex items-center bg-red-100 gap-x-1.5 rounded-full px-2 py-1 text-sm font-medium text-gray-900 ring-1 ring-inset ring-gray-200">Cet événement est annulé</span>
                {% elseif event.finished %}
                    <span class="inline-flex items-center bg-red-100 gap-x-1.5 rounded-full px-2 py-1 text-sm font-medium text-gray-900 ring-1 ring-inset ring-gray-200">Cet événement est terminé</span>
                {% endif %}
                <h2 class="text-2xl font-medium text-gray-900 lg:text-3xl tracking-tighter">
                    {{- event.name -}}
                </h2>
            </div>
        </header>
        <div class="mt-5 grid gap-4 lg:grid-cols-3 lg:gap-x-3">
            <div class="lg:col-span-2">
                <div class="aspect-w-4 aspect-h-2">
                    {% if event is defined and event.imageName is not empty %}
                        <img class="object-cover shadow-lg rounded-lg"
                             src="{{ path('asset_url', { path: event.imagePath, app_domain: app_renaissance_host }) }}" alt="photo">
                    {% else %}
                        <div
                            class="bg-gray-100 rounded-lg border border-gray-200 w-full h-auto flex items-center justify-center">
                            <svg class="w-10 h-10 text-gray-400" xmlns="http://www.w3.org/2000/svg" fill="none"
                                 viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                      d="M2.25 15.75l5.159-5.159a2.25 2.25 0 013.182 0l5.159 5.159m-1.5-1.5l1.409-1.409a2.25 2.25 0 013.182 0l2.909 2.909m-18 3.75h16.5a1.5 1.5 0 001.5-1.5V6a1.5 1.5 0 00-1.5-1.5H3.75A1.5 1.5 0 002.25 6v12a1.5 1.5 0 001.5 1.5zm10.5-11.25h.008v.008h-.008V8.25zm.375 0a.375.375 0 11-.75 0 .375.375 0 01.75 0z"/>
                            </svg>
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="lg:col-span-1">
                <div class="border border-gray-200 rounded-xl bg-white p-4 space-y-4">
                    <div class="flex items-start space-x-4">
                        <dt>
                            {% include 'icons/user.svg.twig' with { svg_class: 'h-5 w-5 text-gray-500' } %}
                        </dt>
                        <dd class="text-sm leading-5 space-y-1">
                            <h4 class="text-gray-400">Organisé par</h4>
                            <p>
                                {% if event is instanceof('App\\Entity\\Event\\CommitteeEvent') and event.committee %}
                                    le comité <span class="font-medium text-gray-700">{{ event.committee.name }}</span>
                                {% elseif event.organizer %}
                                    <span class="font-medium text-gray-700">{{ event.organizer.fullName }}</span>
                                {% endif %}
                            </p>
                        </dd>
                    </div>
                    <div class="flex items-start space-x-4">
                        <dt>
                            {% include 'icons/calendar.svg.twig' with { svg_class: 'h-5 w-5 text-gray-500' } %}
                        </dt>
                        <dd class="text-sm leading-5 space-y-1">
                            <h4 class="text-gray-400">Date & Heure</h4>
                            <p class="text-gray-700 font-medium">
                                {{- event.localBeginAt|format_datetime('full', 'none', '', event.timeZone)|capitalize }}, {{ event.localBeginAt|date('G\\hi', event.timeZone) -}}{{ event.timeZone|utc_offset }}
                            </p>
                            <a href="{{ path('app_renaissance_event_ical', { slug: event.slug }) }}" class="text-re-blue-500 hover:text-re-blue-800 hover:underline">
                                Ajouter au calendrier
                            </a>
                        </dd>
                    </div>
                    {% if event.getAddress() %}
                        <div class="flex items-start space-x-4">
                            <dt>
                                {% include 'icons/map.svg.twig' with { svg_class: 'h-5 w-5 text-gray-500' } %}
                            </dt>
                            <dd class="text-sm leading-5 space-y-1.5">
                                <h4 class="text-gray-400">Adresse</h4>
                                <p class="text-gray-700 font-medium">{{- event.inlineFormattedAddress -}}</p>
                            </dd>
                        </div>
                    {% endif %}
                    <div class="flex items-start space-x-4">
                        <dt>
                            {% include 'icons/participants.svg.twig' with { svg_class: 'h-5 w-5 text-gray-500' } %}
                        </dt>
                        <dd class="text-sm leading-5 space-y-1.5">
                            <h4 class="text-gray-400">Participants</h4>
                            <p class="text-gray-700 font-medium">{{ 'participants_count'|trans({ count: event.participantsCount }) }} {% if event.full %}(Complet){% endif %}</p>
                        </dd>
                    </div>
                </div>
            </div>
        </div>
        <div class="mt-10 space-y-5">
            <div class="space-y-3 md:space-y-0 md:flex md:items-center justify-between md:space-x-4">
                <div class="flex items-center space-x-3">
                    {% if not event.cancelled and not event.finished %}
                        {% if event.organizer is not same as (app.user) %}
                            {% if is_event_already_participating(event, app.user) %}
                                <a href="{{ path('app_renaissance_event_unregistration', { slug: event.slug }) }}"
                                    class="rounded-md bg-blue-600 px-3 py-2 text-sm font-medium text-white shadow-sm hover:bg-blue-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-blue-600 unregister-event"
                                >
                                    Je ne peux plus participer
                                </a>
                            {% elseif not event.full %}
                                <a href="{{ path('app_renaissance_event_registration', { slug: event.slug }) }}"
                                   class="rounded-md bg-blue-600 px-3 py-2 text-sm font-medium text-white shadow-sm hover:bg-blue-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-blue-600">
                                    Je participe
                                </a>
                            {% endif %}
                        {% endif %}
                        {% if not event.finished %}
                            {% if not event.full and is_event_already_participating(event, app.user) %}
                                <a href="{{ path('app_renaissance_event_invitation', { slug: event.slug }) }}"
                                   class="rounded-md bg-blue-50 px-3 py-2 border border-re-blue-200 text-sm font-medium text-blue-600 shadow-sm hover:bg-blue-100">
                                    Inviter des amis
                                </a>
                            {% endif %}
                            {% if event.organizer is not same as (app.user)  %}
                                <a href="{{ path('app_renaissance_event_contact_organizer', { slug: event.slug }) }}"
                                   class="rounded-md bg-blue-50 px-3 py-2 border border-re-blue-200 text-sm font-medium text-blue-600 shadow-sm hover:bg-blue-100">
                                    Contact
                                </a>
                            {% endif %}
                        {% endif %}
                        {% if event.visioUrl %}
                            <div class="flex items-center">
                                <a href="{{- event.visioUrl -}}"
                                   class="mt-1 inline-flex items-center px-3 py-2 rounded-md text-sm leading-5 font-medium text-white bg-gray-900 hover:bg-gray-800 md:mt-0 focus:ring-2 focus:ring-offset-2 focus:ring-gray-800">
                                    <svg class="w-5 h-5 mr-1.5" xmlns="http://www.w3.org/2000/svg" fill="none"
                                         viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                                        <path stroke-linecap="round"
                                              d="M15.75 10.5l4.72-4.72a.75.75 0 011.28.53v11.38a.75.75 0 01-1.28.53l-4.72-4.72M4.5 18.75h9a2.25 2.25 0 002.25-2.25v-9a2.25 2.25 0 00-2.25-2.25h-9A2.25 2.25 0 002.25 7.5v9a2.25 2.25 0 002.25 2.25z"/>
                                    </svg>
                                    Lien de la visio
                                </a>
                                <div
                                    class="inline-flex items-center bg-gray-100 text-gray-800 px-3 py-0.5 rounded-full border border-gray-300 text-sm leading-5 ml-2">
                                    Ceci est un évènement en ligne
                                </div>
                            </div>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
            <div id="unregistration_error"></div>
            <div>
                <h4 class="text-lg font-medium text-gray-900">A propos</h4>
                <div class="mt-3 text-base leading-6 text-gray-700">
                    {{- event.description|raw -}}
                </div>
            </div>
        </div>
    </section>
{% endblock %}
