{% extends '@SonataAdmin/CRUD/base_list_field.html.twig' %}

{% block field %}
    {% set proxy = object.proxy %}

    {% if proxy %}
        {{ ('common.civility.' ~ (proxy.gender == constant('App\\ValueObject\\Genders::FEMALE') ? 'mrs' : 'mr'))|trans  }}
        <i>{{ proxy.firstNames }}</i> <b>{{ proxy.lastName }}</b>

        <a href="{{ path('admin_app_procurationv2_proxy_edit', {id: proxy.id}) }}">
            <i class="icon fa fa-external-link"></i>
        </a>
        <br>

        <b>[{{ proxy.id }}]</b> <i>{{ proxy.email }}</i>
    {% endif %}
{% endblock %}
