{% extends '@SonataAdmin/CRUD/base_list_field.html.twig' %}

{% block field %}
    {% set requests = object.requests %}

    {% if requests is not empty %}
        <ol>
            {% for request in requests %}
                <li>
                    {{ ('common.civility.' ~ (request.gender == constant('App\\ValueObject\\Genders::FEMALE') ? 'mrs' : 'mr'))|trans  }}
                    <i>{{ request.firstNames }}</i> <b>{{ request.lastName }}</b>

                    <a href="{{ path('admin_app_procurationv2_request_edit', {id: request.id}) }}">
                        <i class="icon fa fa-external-link"></i>
                    </a>
                    <br>

                    <b>[{{ request.id }}]</b> <i>{{ request.email }}</i>
                </li>
            {% endfor %}
        </ol>
    {% endif %}
{% endblock %}
