{% extends 'renaissance/adhesion/_layout.html.twig' %}

{% form_theme form 'renaissance/forms/default_form_theme.html.twig' %}
{% set left_side_background = 'bg-light-red' %}

{% block content_left_side %}
    {% include 'renaissance/partials/left-side-content.html.twig' with {
        re_logo_class: 'w-20 h-20 re-logo-red',
        text_color_class: 'text-red',
    } %}
{% endblock %}

{% block adhesion_content %}
    <section>
        {% if app.request.query.has('from_payment') %}
            <h1 class="mb-5 text-lg leading-6 md:text-2xl md:leading-9">Paiement Validé ! Plus que quelques informations et c'est fini</h1>
        {% endif %}

        {{ form_start(form) }}
            {% if app.user and app.user.certified %}
                <div class="alert alert--tips b__nudge--bottom-large">
                    Votre profil est certifié, vous ne pouvez donc plus modifier votre genre et date de naissance.
                </div>
            {% endif %}

            {{ form_errors(form) }}

            {{ form_row(form.birthdate, { label: 'Date de naissance' }) }}

            {{ form_errors(form.phone) }}
            <div class="flex flex-row space-x-4">
                {{ form_row(form.phone.country, { label: 'Indicatif Pays' }) }}
                {{ form_row(form.phone.number, { label: 'Téléphone' }) }}
            </div>

            <div class="mt-4">
                <div class="2xl:max-w-[70rem] border-t-2 border-white/10 md:border-none">
                    <button type="submit" class="button button-red button-full">
                        Finaliser
                    </button>
                </div>
            </div>
        {{ form_end(form) }}
    </section>
{% endblock %}
