{% extends 'renaissance/adhesion/_layout.html.twig' %}

{% form_theme form 'renaissance/form_theme.html.twig' %}

{% set left_side_background = 'bg-light-green' %}
{% set back_btn_target = path('app_renaissance_adhesion') %}

{% block final_javascripts %}
    <script type="text/javascript">
        Bootstrap.onLoad(function () {
            Main.runAdhesionAmountPage();
        });
    </script>
{% endblock %}

{% block content_left_side %}
    {% include 'renaissance/partials/left-side-content.html.twig' with {
        re_logo_class: 'h-20 w-20 re-logo-green',
        text_color_class: 'text-green',
    } %}
{% endblock %}

{% block adhesion_content %}
    <section class="cotisation lg:max-w-xl lg:mx-auto space-y-12 selection:bg-green selection:text-white">
        <div>
            <h1 class="uppercase font-din text-3xl text-green leading-none">
                Ma <span class="font-medium">Cotisation</span>
            </h1>
            <div class="mt-6 text-base text-gray-600 leading-6">
                <p class="font-medium text-gray-900">Nous avons fait le choix d’une cotisation</p>
                <p>
                    Cette contribution que nous vous demandons finance le fonctionnement des fédérations départementales,
                    et leur autonomie.
                </p>
            </div>
        </div>

        {{ form_start(form) }}
            {{ form_errors(form) }}
            {% include 'renaissance/components/amount_chooser.html.twig' %}

            <div class="my-10 mention-checkbox-container">
                {{ form_errors(form.isPhysicalPerson) }}
                <div class="form__checkbox">
                    {{ form_widget(form.isPhysicalPerson, { attr: { class: 'form-checkbox form-checkbox-green' }}) }}
                    <label for="{{ form.isPhysicalPerson.vars.id }}" class="required">
                        Je certifie sur l'honneur être une personne physique et que le règlement de ma cotisation ne provient pas du compte d'une personne morale (entreprise, association, collectivité...) mais bien de mon compte bancaire personnel
                    </label>
                </div>

                {{ form_errors(form.conditions) }}
                <div class="form__checkbox">
                    {{ form_widget(form.conditions, { attr: { class: 'form-checkbox form-checkbox-green' }}) }}
                    <label for="{{ form.conditions.vars.id }}" class="required">
                        Oui, j'adhère <a class="underline font-bold" href="{{ path('asset_url', {path: 'statuts-renaissance.pdf', mime_type: 'application/pdf', app_domain: app_renaissance_host}) }}" target="_blank">aux statuts</a> et <a class="underline font-bold" href="{{ path('asset_url', {path: 'corpus-des-valeurs-parti-renaissance.pdf', mime_type: 'application/pdf', app_domain: app_renaissance_host}) }}" target="_blank">au Corpus des Valeurs de Renaissance</a>
                    </label>
                </div>

                {{ form_errors(form.cguAccepted) }}
                <div class="form__checkbox">
                    {{ form_widget(form.cguAccepted, { attr: { class: 'form-checkbox form-checkbox-green' }}) }}
                    <label for="{{ form.cguAccepted.vars.id }}" class="required">
                        J’accepte les <a class="underline font-bold" href="{{ path('app_static_page', {slug: 'conditions-generales-utilisation', app_domain: app_renaissance_host}) }}" target="_blank">CGU du site Renaissance</a> et déclare avoir lu la <a href="{{ path('app_static_page', {slug: 'politique-de-protection-des-donnees', app_domain: app_renaissance_host}) }}" class="underline font-bold" target="_blank">politique de protection des données personnelles</a> et les mentions d’informations relatives au traitement de mes données ci-dessous
                    </label>
                </div>

                {{ form_errors(form.allowEmailNotifications) }}
                <div class="form__checkbox">
                    {{ form_widget(form.allowEmailNotifications, { attr: { class: 'form-checkbox form-checkbox-green' }}) }}
                    <label for="{{ form.allowEmailNotifications.vars.id }}">
                        Je souhaite recevoir les informations sur l'actualité de Renaissance et ses communications politiques par e-mail ({{ 'common.optional'|trans }})
                    </label>
                </div>

                {{ form_errors(form.allowMobileNotifications) }}
                <div class="form__checkbox">
                    {{ form_widget(form.allowMobileNotifications, { attr: { class: 'form-checkbox form-checkbox-green' }}) }}
                    <label for="{{ form.allowMobileNotifications.vars.id }}">
                        Je souhaite recevoir des informations sur les actions militantes du parti par téléphone ({{ 'common.optional'|trans }})
                    </label>
                </div>
            </div>

            {% include 'renaissance/partials/previous-next-buttons.html.twig' with {
                previous_route_name: 'app_renaissance_adhesion',
            } %}

            <div class="mt-10 prose lg:prose-lg prose-emerald">
                {{ cms_block('renaissance-adhesion-rgpd-block') }}
            </div>
        {{ form_end(form) }}
    </section>
{% endblock %}
