{% extends 'renaissance/adhesion/_layout.html.twig' %}

{% form_theme form 'renaissance/form_theme.html.twig' %}

{% set active_step = 'Contributions' %}

{% block adhesion_title %}
    Bienvenue <span class="stabilo stabilo-blue">{{ command.firstName }}.</span><br/>
    Choisissez le montant<br/>
    de votre contribution.
{% endblock %}

{% block adhesion_content %}
    <div class="w-96">
        {{ form_start(form) }}
            {{ form_errors(form) }}

            {{ form_row(form.amount, { label: false, attr: { placeholder: 'Autre montant' } }) }}

            <p class="mt-4 text-sm">
                * Tarif réservé aux adhérents dont la situation financière personnelle ne permet pas d'acquitter le montant de 30 €.
            </p>

            {% include 'renaissance/partials/previous-next-buttons.html.twig' with {
                route_name: 'app_renaissance_adhesion',
                form_button: form.membership_amount
            } %}
        {{ form_end(form) }}
    </div>
{% endblock %}
