{% extends 'renaissance/adhesion/_adhesion_layout.html.twig' %}

{% form_theme form 'renaissance/form_theme.html.twig' %}

{% set active_step = 'Contributions' %}

{% block adhesion_title %}
    Bienvenue <span class="stabilo stabilo-blue">{{ command.firstName }}.</span><br/>
    Choisissez le montant<br/>
    de votre contribution.
{% endblock %}

{% block content_right_side %}
    {{ parent() }}

    <section class="self-center w-full">
        {{ form_start(form) }}
            {{ form_errors(form) }}

            {{ form_row(form.amount, { label: false, attr: { placeholder: 'Autre montant' } }) }}

                {% include 'renaissance/partials/previous-next-buttons.html.twig' with {
                    route_name: 'app_renaissance_adhesion',
                    form_button: form.membership_amount
                } %}
        {{ form_end(form) }}
    </section>
{% endblock %}
