{% extends 'renaissance/adhesion/_layout.html.twig' %}

{% form_theme form 'renaissance/forms/default_form_theme.html.twig' %}
{% set left_side_background = 'bg-light-red' %}

{% block content_left_side %}
    {% include 'renaissance/partials/left-side-content.html.twig' with {
        re_logo_class: 'w-20 h-20 re-logo-red',
        text_color_class: 'text-red',
    } %}
{% endblock %}

{% block adhesion_content %}
    <section>
        <h2 class="my-10 uppercase text-center font-din text-xl text-red mb-12">
            Votre adresse email est validée !
        </h2>

        {{ form_start(form) }}
            {% if app.user and app.user.certified %}
                <div class="alert alert--tips b__nudge--bottom-large">
                    Votre profil est certifié, vous ne pouvez donc plus modifier votre genre.
                </div>
            {% endif %}

            {{ form_errors(form) }}

            <div class="space-y-5">
                <div>
                    {{ form_row(form.gender, { label: 'Civilité' }) }}
                </div>

                <div>
                    {{ form_row(form.nationality, { label: 'Nationalité' }) }}
                </div>
            </div>

            <div class="mt-10 max-w-xl mx-auto mention-checkbox-container">
                <div class="form__checkbox">
                    {{ form_errors(form.frenchTaxResidentConfirmation) }}
                    {{ form_widget(form.frenchTaxResidentConfirmation, { attr: { class: 'h-4 w-4 rounded border-gray-300 text-red-500 focus:ring-red-500' } }) }}
                    <label for="{{ form.frenchTaxResidentConfirmation.vars.id }}" class="text-base text-gray-700 font-medium required">
                        Je certifie résider fiscalement en France
                    </label>
                </div>

                {{ form_errors(form.exclusiveMembership) }}
                <div class="form__checkbox">
                    {{ form_widget(form.exclusiveMembership, { attr: { class: 'h-4 w-4 rounded border-gray-300 text-red-500 focus:ring-red-500' } }) }}
                    <label for="{{ form.exclusiveMembership.vars.id }}" class="text-base text-gray-700 font-medium">
                        Je certifie sur l'honneur que je n'appartiens à aucun autre parti politique
                    </label>
                </div>

                {{ form_errors(form.territoireProgresMembership) }}
                <div class="form__checkbox">
                    {{ form_widget(form.territoireProgresMembership, { attr: { class: 'h-4 w-4 rounded border-gray-300 text-red-500 focus:ring-red-500' } }) }}
                    <label for="{{ form.territoireProgresMembership.vars.id }}" class="text-base text-gray-700 font-medium">
                        Je suis membre de « Territoires de Progrès » et je peux bénéficier à ce titre de la double adhésion prévue dans les dispositions transitoires des statuts de Renaissance.
                    </label>
                </div>

                {{ form_errors(form.agirMembership) }}
                <div class="form__checkbox">
                    {{ form_widget(form.agirMembership, { attr: { class: 'h-4 w-4 rounded border-gray-300 text-red-500 focus:ring-red-500' } }) }}
                    <label for="{{ form.agirMembership.vars.id }}" class="text-base text-gray-700 font-medium">
                        Je suis membre d'« Agir, la droite constructive » et je peux bénéficier à ce titre de la double adhésion prévue dans les dispositions transitoires des statuts de Renaissance.
                    </label>
                </div>
            </div>

            <div class="mt-12">
                <div class="2xl:max-w-[70rem] border-t-2 border-white/10 md:border-none">
                    <button type="submit" class="button button-red button-full">
                        Finaliser
                    </button>
                </div>
            </div>
        {{ form_end(form) }}
    </section>
{% endblock %}

{% block final_javascripts %}
    <script type="text/javascript">
        Bootstrap.onLoad(function () {
            var nationalityField = dom('#{{ form.nationality.vars.id }}');
            var frenchTaxResidentConfirmationBlock = dom('#{{ form.frenchTaxResidentConfirmation.vars.id }}').parentNode;

            var changeNationalityCallback = function (value) {
                if (value === 'FR') {
                    hide(frenchTaxResidentConfirmationBlock);
                    findOne(frenchTaxResidentConfirmationBlock, 'input').removeAttribute('required');
                } else {
                    show(frenchTaxResidentConfirmationBlock);
                    findOne(frenchTaxResidentConfirmationBlock, 'input').setAttribute('required', 'required');
                }
            }
            on(nationalityField, 'change', function (event) { changeNationalityCallback(event.target.value); });
            changeNationalityCallback('{{ form.nationality.vars.data }}');

            var checkboxes = [
                dom('#{{ form.exclusiveMembership.vars.id }}'),
                dom('#{{ form.territoireProgresMembership.vars.id }}'),
                dom('#{{ form.agirMembership.vars.id }}'),
            ];

            checkboxes.map(function (element) {
                on(element, 'change', function (event) {
                    checkboxes.map(function (subCheckbox) {
                        if (event.target.checked && subCheckbox != event.target) {
                            subCheckbox.setAttribute('disabled', 'disabled');
                        } else {
                            subCheckbox.removeAttribute('disabled');
                        }
                    });
                });
            });
        });
    </script>
{% endblock %}
