{% extends 'base_renaissance.html.twig' %}

{% block page_title 'Confirmation de l\'email' %}

{% block flash_message '' %}

{% form_theme form 'renaissance/forms/tailwind_form_theme.html.twig' %}
{% form_theme new_code_form 'renaissance/forms/tailwind_form_theme.html.twig' %}

{% block content %}
    <twig:ReStandaloneLayout class="re_new_ui"
                           x-data="xEmailVerificationForm({
                               email: '{{ app.user.emailAddress }}',
                               step: '{{ request.emailAddress or not form.emailAddress.first.vars.valid ? 'email' : 'code' }}'
                           })"
    >
        <twig:Atoms:ReCard class="max-w-[500px]">
            {% include 'renaissance/partials/flashes.html.twig' with {slim: true} %}

            <div>
                <twig:Atoms:ReLabel>Confirmer votre adresse email</twig:Atoms:ReLabel>

                <p class="gap-2.5 flex flex-col">
                    <span class="text-ui_gray-80">
                        La confirmation de votre adresse email est obligatoire pour accéder à votre espace adhérent.
                    </span>
                    <span class="text-ui_gray-60">
                        Vous venez de recevoir un code de vérification sur l’adresse email :
                    </span>
                </p>
            </div>

            {{ form_start(form, { attr: { 'x-ref': 'form', class: 'flex gap-8 flex-col'} }) }}
                {{ form_errors(form) }}

                <template x-if="!isChangeMailMode">
                    <div class="flex gap-8 flex-col">
                        <div class="flex flex-col justify-center items-center gap-2.5">
                            <span class="font-medium text-ui_gray-80 underline">
                                {{ app.user.emailAddress }}
                            </span>
                            <a @click.prevent="isChangeMailMode=true" class="text-ui_blue-50" href="#">Changer mon adresse email</a>
                        </div>

                        <twig:Atoms:ReParagraphStatus class="!w-auto" status="warning" icon="warning" slim="true">
                            Code actif pendant {{ code_ttl }} minutes
                        </twig:Atoms:ReParagraphStatus>

                        {{ form_row(form.code, {label: false, attr: {
                            placeholder: 'Votre code de vérification',
                            class: 'w-full [&>div>div>input]:text-center',
                            onCheck: "setFieldValid('code')",
                            'x-on:input': 'handleCodeInput($event)',
                        }}) }}

                        {{ form_row(form.validate, { label: 'Valider', attr: {
                            color: "blue",
                            class: "w-full",
                            'x-bind:class': "{disabled: !checkValidity()}",
                        }}) }}
                    </div>
                </template>

                <template x-if="isChangeMailMode" >
                    <div class="flex gap-8 flex-col">
                        <div class="flex flex-col justify-center items-center gap-2.5">
                            <a @click.prevent="isChangeMailMode=false" class="text-ui_blue-50" href="#">Revenir au code</a>
                        </div>

                        <div>
                            <twig:Atoms:ReLabel>
                                Mon adresse email
                            </twig:Atoms:ReLabel>

                            {{ form_row(form.emailAddress.first, {attr: {
                                placeholder: 'Adresse email',
                                validate: "['required']",
                                onCheck: "setFieldValid('email')",
                                'x-on:input': "handleEmailInput($event)",
                            }}) }}
                            {{ form_row(form.emailAddress.second, {attr: {
                                placeholder: 'Confirmer mon adresse email',
                                validate: "['required']",
                                onCheck: "setFieldValid('confirmEmail')",
                                'x-on:input': "handleEmailInput($event)",
                            }}) }}
                        </div>

                        {{ form_row(form.changeEmail, { label: 'Changer mon email', attr: {
                            color: "blue",
                            class: "w-full",
                            'x-bind:class': "{disabled: !checkValidity()}",
                        }}) }}
                    </div>
                </template>
            {{ form_end(form) }}

            {{ form_start(new_code_form, {action: path('app_adhesion_request_new_activation_code')}) }}
                {{ form_widget(new_code_form.allow, {attr: {
                    color: "as-link",
                    class: "w-full",
                }}) }}
            {{ form_end(new_code_form) }}
        </twig:Atoms:ReCard>
    </twig:ReStandaloneLayout>
{% endblock %}

{% block final_javascripts %}
    <script>
        Bootstrap.onLoad(() => Main.runAdhesionConfirmEmailPage());
    </script>
{% endblock %}
