{% extends 'base_renaissance.html.twig' %}

{% block page_title 'Création de mot de passe' %}

{% block flash_message '' %}

{% form_theme form 'renaissance/forms/tailwind_form_theme.html.twig' %}

{% block content %}
    <twig:ReStandaloneLayout class="bg-gradient-to-b from-slate-600 to-slate-500" x-data="xCreatePasswordForm">
        <twig:Atoms:ReCard class="max-w-[500px]">
            {{ include('renaissance/partials/flashes.html.twig', {slim: true}) }}

            <twig:ReParagraphStatus status="info">
                Nous vous recommandons de compléter dès maintenant vos informations pour accéder à l’ensemble des fonctionnalités offertes : consultation, formations, événements...
            </twig:ReParagraphStatus>

            <div>
                <twig:Atoms:ReLabel class="mb-6">Votre espace adhérent</twig:Atoms:ReLabel>

                <p class="text-ui_gray-80">
                    Votre adhésion s’accompagne d’un compte qui vous permettra de participer à la vie du parti nationalement et localement.
                </p>
            </div>

            {{ form_start(form, {attr: {'x-ref': 'form', class: 'flex gap-6 flex-col'}}) }}
                {{ form_errors(form) }}

                <p class="font-medium">Nouveau mot de passe</p>

                <p class="text-ui_gray-80">
                    Votre mot de passe doit faire au moins 8 caractères.
                </p>

                {{ form_row(form.password.first, {label: false, attr: {
                    placeholder: 'Mon mot de passe',
                    class: 'w-full',
                    onCheck: "setFieldValid('password')",
                    validate: "['required']",
                    autocomplete: 'new-password',
                    '@input': 'handlePasswordInput($event)',
                }}) }}

                {{ form_row(form.password.second, {label: false, attr: {
                    placeholder: 'Confirmer mon mot de passe',
                    class: 'w-full',
                    onCheck: "setFieldValid('passwordConfirmation')",
                    validate: "['required']",
                    autocomplete: 'new-password',
                    xSyncLoading: 'loading',
                }}) }}

                {{ form_row(form.submit, {label: 'Valider', attr: {
                    color: 'blue',
                    class: 'w-full',
                    '@click': 'handleSubmit($event)',
                    'x-bind:class': '{disabled: !checkValidity()}',
                }}) }}
            {{ form_end(form) }}
        </twig:Atoms:ReCard>
    </twig:ReStandaloneLayout>
{% endblock %}

{% block final_javascripts %}
    <script>
        Bootstrap.onLoad(() => Main.runAdhesionCreatePasswordPage());
    </script>
{% endblock %}
