{% extends 'renaissance/adhesion/_layout.html.twig' %}

{% form_theme form 'renaissance/form_theme.html.twig' %}

{% block final_javascripts %}
    {% if google_maps_api_key %}
        <script src="https://maps.googleapis.com/maps/api/js?key={{ google_maps_api_key }}&libraries=places" async></script>
    {% endif %}
{% endblock %}

{% block content_left_side %}
    {% include 'renaissance/partials/left-side-content.html.twig' %}
{% endblock %}

{% block adhesion_content %}
    <section class="lg:max-w-lg lg:mx-auto space-y-12">
        <h1 class="flex items-center justify-center uppercase text-center font-din text-3xl text-light-blue-500 mb-12">
            J'adhère à <img src="{{ asset('/images/renaissance/logo.svg') }}" class="ml-2.5 h-6 w-auto re-logo-light-blue" alt="logo"/>
        </h1>

        <div class="rounded-md bg-blue-50/30 p-4">
            <div class="flex">
                <div class="flex-shrink-0">
                    <svg class="h-5 w-5 text-light-blue-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                        <path fill-rule="evenodd" d="M19 10.5a8.5 8.5 0 11-17 0 8.5 8.5 0 0117 0zM8.25 9.75A.75.75 0 019 9h.253a1.75 1.75 0 011.709 2.13l-.46 2.066a.25.25 0 00.245.304H11a.75.75 0 010 1.5h-.253a1.75 1.75 0 01-1.709-2.13l.46-2.066a.25.25 0 00-.245-.304H9a.75.75 0 01-.75-.75zM10 7a1 1 0 100-2 1 1 0 000 2z" clip-rule="evenodd" />
                    </svg>
                </div>
                <div class="ml-3 flex-1 text-sm leading-5">
                    <p class="text-gray-900 font-medium">Une question relative à l’adhésion ?</p>
                    <p class="text-gray-600">Écrivez-nous à <a href="mailto:adherents@parti-renaissance.fr" class="text-blue-500 hover:underline">adherents@parti-renaissance.fr</a>.</p>
                </div>
            </div>
        </div>


        {{ form_start(form) }}
            {% if app.user and app.user.certified %}
                <div class="alert alert--tips b__nudge--bottom-large">
                    Votre profil est certifié, vous ne pouvez donc plus modifier votre nom et prénom.
                </div>
            {% endif %}

            {{ form_errors(form) }}

            <div class="flex flex-row space-x-4">
                {{ form_row(form.firstName, { label: 'Prénom' }) }}
                {{ form_row(form.lastName, { label: 'Nom' }) }}
            </div>

            {% if form.emailAddress.first is defined %}
                {{ form_row(form.emailAddress.first, { label: 'E-mail' }) }}
                {{ form_row(form.emailAddress.second, { label: 'Re-saisir l\'e-mail' }) }}
            {% else %}
                {{ form_row(form.emailAddress, { label: 'E-mail' }) }}
            {% endif %}

            {{ form.password is defined ? form_row(form.password, { label: 'Mot de passe' }) }}

            <div class="my-12 space-y-4">
                <h4 class="text-2xl text-gray-900 font-bold">Adresse postale</h4>
                <div class="text-base leading-6 text-gray-700">
                    <p class="font-medium">Confirmez votre adresse postale afin d’être bien sûr de recevoir votre carte d’adhérent.</p>
                    <p class="mt-0.5">
                        Elle nous est également indispensable pour vous rattacher à votre circonscription électorale
                        et à vous proposer les événements et comités les plus proches de chez vous.
                    </p>
                </div>
                {{ form_row(form.address, { label: 'Adresse postale' }) }}
            </div>

            <div>
                <input type="hidden" class="nojs-g-recaptcha-response" name="g-recaptcha-response" value="" />
                {% if recaptcha_public_key is not empty %}
                    {% for flashMessage in app.flashes("error_recaptcha") %}
                        <p id="recapture_error" class="form__error">{{ flashMessage|trans }}</p>
                    {% endfor %}
                    <div class="g-recaptcha" data-sitekey="{{ recaptcha_public_key }}" style="margin:0 auto;"></div>
                {% elseif app.debug %}
                    <input type="hidden" name="g-recaptcha-response" value="fake" />
                {% endif %}
            </div>
            {% if re_friendly_site_key is not empty %}
                <div>
                    <script
                            type="module"
                            src="https://cdn.jsdelivr.net/npm/friendly-challenge@0.9.1/widget.module.min.js"
                            async
                            defer
                    ></script>
                    <script nomodule src="https://cdn.jsdelivr.net/npm/friendly-challenge@0.9.1/widget.min.js" async defer></script>


                    <div class="frc-captcha mb-5"
                         data-sitekey="{{ re_friendly_site_key }}"
                         data-puzzle-endpoint="https://eu-api.friendlycaptcha.eu/api/v1/puzzle"
                         data-lang="fr"
                    ></div>
                    <input type="hidden" name="recaptcha_site_key" value="{{ re_friendly_site_key }}" />
                </div>
            {% elseif app.debug %}
                <div>
                    <input type="hidden" name="frc-captcha-solution" value="fake" />
                    <input type="hidden" name="recaptcha_site_key" value="fake_key" />
                </div>
            {% endif %}

            <div class="mt-12 flex flex-col">
                <button type="submit" class="button button-light-blue button-full">Étape suivante</button>

                <div class="or-separator"></div>

                <a class="button button-blue button-full" href="https://storage.googleapis.com/enmarche-prod/Renaissance-Bulletin-adhesion.pdf" target="_blank">
                    Télécharger le bulletin d'adhésion
                </a>
            </div>
        {{ form_end(form) }}

        <div class="prose lg:prose-base">
            <p>
                Les informations marquées d’un astérisque sont obligatoires. L’absence de réponse dans
                ces champs ne permettra pas à Renaissance de traiter votre demande d’adhésion
            </p>
            <p>
                66 % de votre cotisation vient en déduction de votre impôt sur le revenu
                (dans la limite de 20 % du revenu imposable). Le reçu fiscal pour votre
                cotisation de l’année N vous sera envoyé́ au 2e trimestre de l’année N+1.
            </p>
            <p>
                Ces cotisations sont versées exclusivement à l’AFIR (Association de financement de Renaissance agréée le 7 mars 2016 sous le n°1158)
                au bénéfice du parti politique Renaissance (Numéro RNA W943004354).
                Aux termes de l’article 11-4 de la loi n° 88-227 du 11 mars 1988 relative à la
                transparence financière de la vie politique modifiée par la loi n° 2017-286 du 6 mars 2017 :
                « Les dons consentis et les cotisations versées en qualité d’adhérent d’un ou de plusieurs partis politiques par une
                personne physique dûment identifiée à une ou plusieurs associations agréées en qualité d’association de financement
                ou à un ou plusieurs mandataires financiers d’un ou de plusieurs partis politiques ne peuvent annuellement excéder
                7 500 euros. […] Les personnes morales à l’exception des partis ou groupements politiques ne peuvent
                contribuer au financement des partis ou groupements politiques, ni en consentant des dons, sous quelque
                forme que ce soit, à leurs associations de financement ou à leurs mandataires financiers, ni en
                leur fournissant des biens, services ou autres avantages directs ou indirects à des prix inférieurs
                à ceux qui sont habituellement pratiqués. » L’article 11-5 de la même loi précise que les personnes
                qui ont versé un don ou consenti un prêt à un ou plusieurs partis ou groupements politiques en
                violation des articles 11-3-1 et 11-4 sont punies de trois ans d’emprisonnement et de 45 000 euros d’amende.
            </p>
            <p>
                Les données recueillies sur ce formulaire sont traitées par Renaissance, en sa qualité de responsable de traitement,
                dans le cadre de votre demande d’adhésion à Renaissance. Ces données permettront à Renaissance notamment d’instruire
                votre demande de contact et de renseignements, de gérer les adhésions et les paiements de cotisations, d’effectuer
                et gérer les opérations de communication, de prospection politique et de propagande électorale par tout moyen,
                d’établir des études statistiques et des consultations publiques ou d’organiser et de gérer des événements.
                Si vous êtes élu(e) ou ancien(ne) élu(e), nous traitons également vos données dans le cadre de l’animation de
                notre réseau d’élu(e)s et vos données peuvent être transféré à La République Ensemble ou à l’institut de
                formation Tous Politiques. Ces données sont conservées par Renaissance jusqu’à (3) trois ans après la
                fin de votre adhésion lorsque vous êtes adhérents, 3 ans après le dernier contact à votre initiative
                lorsque vous êtes sympathisant ou jusqu’au retrait de votre consentement, lorsque vous souhaitez
                recevoir les informations sur l’actualité de Renaissance et ses communications politiques.
                En envoyant ce formulaire, vous autorisez Renaissance à utiliser vos données pour ces finalités.
                Conformément à la règlementation, vous disposez d’un droit d’opposition et d’un droit à la limitation
                du traitement de données vous concernant, ainsi que d’un droit d’accès, de rectification, de portabilité
                et d’effacement de vos données. Vous disposez également de la faculté de donner des directives sur le
                sort de vos données après votre décès. Vous pouvez exercer vos droits en nous adressant votre demande
                à l'adresse postale : Renaissance, 68 rue du Rocher, 75008 Paris, France ou à l’adresse électronique
                : <span class="text-light-blue-500 font-medium">mes-donnees@parti-renaissance.fr</span>. Dans certains cas,
                <span class="font-medium text-gray-900">Renaissance</span> peut vous demander un justificatif d’identité afin de traiter votre demande.
                Pour toute information relative au traitement de vos données, vous pouvez consulter notre politique de protection des données en cliquant ici.
            </p>
        </div>
    </section>
{% endblock %}
