{% extends 'renaissance/adhesion/_layout.html.twig' %}

{% form_theme form 'renaissance/forms/default_form_theme.html.twig' %}

{% block final_javascripts %}
    <script type="module" src="{{ asset('js/friendlycaptcha.widget-0.9.14.module.min.js') }}" async defer></script>

    {% if google_maps_api_key %}
        <script src="https://maps.googleapis.com/maps/api/js?key={{ google_maps_api_key }}&libraries=places" async></script>
    {% endif %}
{% endblock %}

{% block content_left_side %}
    {% include 'renaissance/partials/left-side-content.html.twig' %}
{% endblock %}

{% block adhesion_content %}
    <section class="lg:max-w-lg lg:mx-auto space-y-12">
        <h1 class="flex flex-col items-center justify-center uppercase text-center text-3xl text-light-blue-500 mb-12 md:flex-row">
            J'adhère à
            {% include 'renaissance/partials/logo-text.svg.twig' with { svg_class: 'mt-2.5 h-5 w-auto text-re-blue-500 md:mt-0 md:ml-3 md:h-6' } %}
        </h1>

        <div class="rounded-md bg-blue-50/30 p-4">
            <div class="flex">
                <div class="flex-shrink-0">
                    {% include 'icons/info.svg.twig' %}
                </div>
                <div class="ml-3 flex-1 text-sm leading-5">
                    <p class="text-gray-900 font-medium">Une question relative à l’adhésion ?</p>
                    <p class="text-gray-600">Écrivez-nous à <a href="mailto:adherents@parti-renaissance.fr" class="text-blue-500 hover:underline">adherents@parti-renaissance.fr</a>.</p>
                </div>
            </div>
        </div>


        {{ form_start(form, {action: '?'}) }}
            {% if app.user and app.user.certified %}
                <div class="rounded-md bg-sky-50 p-4 mb-4">
                    <div class="flex">
                        <div class="flex-shrink-0">
                            {% include 'icons/check-blue.svg.twig' with { svg_class: 'h-5 w-5 text-sky-500'} %}
                        </div>
                        <div class="ml-3 flex-1 md:flex md:justify-between">
                            <p class="text-sm text-sky-700">
                                Votre profil est certifié, vous ne pouvez donc plus modifier votre nom et prénom.
                            </p>
                        </div>
                    </div>
                </div>
            {% endif %}

            {{ form_errors(form) }}

            <div class="flex flex-row space-x-4">
                {{ form_row(form.firstName, { label: 'Prénom' }) }}
                {{ form_row(form.lastName, { label: 'Nom' }) }}
            </div>

            {% if form.emailAddress.first is defined %}
                {{ form_row(form.emailAddress.first, { label: 'E-mail' }) }}
                {{ form_row(form.emailAddress.second, { label: 'Re-saisir l\'e-mail' }) }}
            {% else %}
                {{ form_row(form.emailAddress, { label: 'E-mail' }) }}
            {% endif %}

            {{ form.password is defined ? form_row(form.password, { label: 'Mot de passe' }) }}

            <div class="my-12 space-y-4">
                <h4 class="text-2xl text-gray-900 font-bold">Adresse postale</h4>
                <div class="text-base leading-6 text-gray-700">
                    <p class="font-medium">Confirmez votre adresse postale afin d’être bien sûr de recevoir votre carte d’adhérent.</p>
                    <p class="mt-0.5">
                        Elle nous est également indispensable pour vous rattacher à votre circonscription électorale
                        et à vous proposer les événements et comités les plus proches de chez vous.
                    </p>
                </div>
                {{ form_row(form.address) }}
            </div>

            {% include 'renaissance/partials/friendly-captcha.html.twig' %}

            <div class="mt-12 flex flex-col">
                <button type="submit" class="button button-light-blue button-full">Étape suivante</button>

                <div class="or-separator"></div>

                <a class="button button-blue button-full" href="https://storage.googleapis.com/parti-renaissance.fr/Renaissance-Bulletin-adhesion.pdf" target="_blank">
                    Télécharger le bulletin d'adhésion
                </a>
            </div>
        {{ form_end(form) }}

        <div class="prose lg:prose-base prose-blue">
            {{ cms_block('renaissance-adhesion-rgpd-block') }}
        </div>
    </section>
{% endblock %}
