{% extends 'base_renaissance.html.twig' %}

{% block page_title "Félicitation #{app.user.firstName} !" %}

{% block content %}
    <twig:ReStandaloneLayout class="bg-gradient-to-b from-slate-600 to-slate-500">
        <twig:Atoms:ReCard class="max-w-[500px]">
            {% if type == 'adhesion' and app.user.acceptMemberCard %}
                <twig:ReParagraphStatus status="success" icon slim>
                    Votre carte d’adhérent est envoyée !
                </twig:ReParagraphStatus>
            {% endif %}

            <twig:Atoms:ReCard class="!p-0 overflow-hidden" variant="inner">
                <video loop muted autoplay width="100%" poster="{{ asset('videos/adhesion/congrats/congrats.jpg') }}">
                    <source src="{{ asset('videos/adhesion/congrats/congrats.webm') }}" type="video/webm">
                    <source src="{{ asset('videos/adhesion/congrats/congrats.mp4') }}" type="video/mp4">
                    <source src="{{ asset('videos/adhesion/congrats/congrats.ogv') }}" type="video/ogg">
                </video>
            </twig:Atoms:ReCard>

            {% if type == 'sympathizer' %}
                <h1 class="text-ui_gray-80 text-4xl">
                    Vous êtes désormais sympathisant, <span class="whitespace-nowrap">bienvenue !</span>
                </h1>

                <p class="text-ui_gray-70 text-base">
                    Vous avez maintenant accès à votre espace personnel depuis lequel vous pourrez pleinement participer à la vie du parti.
                    Accédez à votre profil et participez aux événements locaux.
                    <br>
                    <br>
                    À très vite sur le terrain,
                    <br>
                    L'équipe de Renaissance
                </p>
            {% elseif type == 'readhesion' %}
                <h1 class="text-ui_gray-80 text-4xl">
                    Vous êtes à jour de cotisations, <span class="whitespace-nowrap">félicitations !</span>
                </h1>

                <p class="text-ui_gray-70 text-base">
                    Vous pouvez à nouveau profiter des avantages réservés aux adhérents à jour, comme répondre aux consultations et participer aux élections internes.
                    <br>
                    <br>
                    À très vite sur le terrain,
                    <br>
                    L'équipe de Renaissance
                </p>
            {% else %}
                <h1 class="text-ui_gray-80 text-4xl">
                    Vous êtes désormais adhérent, <span class="whitespace-nowrap">félicitations !</span>
                </h1>

                <p class="text-ui_gray-70 text-base">
                    Vous avez maintenant accès à votre espace adhérent depuis lequel vous pourrez pleinement participer à la vie du parti. Accédez à votre profil, participez aux événements locaux, élections internes et consultations.
                    <br>
                    <br>
                    À très vite sur le terrain,
                    <br>
                    L'équipe de Renaissance
                </p>
            {% endif %}

            {% if callback_path %}
                <twig:ReButton tag="a" href="{{ callback_path }}" class="w-full" >
                    {{ callback_path starts with '/election' ? 'Retourner à l\'élection' : 'Continuer' }}
                </twig:ReButton>
            {% else %}
                <twig:ReButton tag="a" href="{{ type is same as ('readhesion') ? path('vox_app_profile') : path('vox_app_redirect') }}" class="w-full" >
                    Accéder à mon espace
                </twig:ReButton>
            {% endif %}
        </twig:Atoms:ReCard>
    </twig:ReStandaloneLayout>
{% endblock %}
