{% extends 'base_renaissance.html.twig' %}

{% block page_title 'Adhésion' %}

{% form_theme form 'renaissance/forms/tailwind_form_theme.html.twig' %}

{% block content %}
    <main class="bg-[#F4F4F7] re_new_ui">
        <section
            class="flex flex-col justify-center items-center gap-10"
            x-data="xFunnelPage({initStep:0})"
            @stepper:adhesion-stepper:change.window="handleStepperChange($event.detail)">
            <header class="w-full flex flex-col p-6 bg-white sticky top-0 z-50 items-center h-auto
                            md:p-0 md:grid md:grid-cols-4 md:h-20
                            lg:grid-cols-3">

                <div class="pb-6 md:pb-0 md:pl-8 md:px-12">
                    <a href="{{ path('app_renaissance_homepage') }}">
                        <img src="{{ asset('/images/renaissance/logo-dark.svg') }}" class="h-4" alt="logo"/>
                    </a>
                </div>
                <twig:Molecules:ReStepper
                        id="adhesion-stepper"
                        class="relative z-50 md:col-span-2 lg:col-span-1"
                        steps="{{ ['E-mail', 'Infomations', 'Autorisation', 'Cotisation'] }}"
                        initStep="currentStep"
                />
                <div></div>
            </header>

            <div class="flex-col justify-start items-start gap-8 inline-flex" x-data="{formData:{}}">
                {{ form_start(form) }}
                <div class="flex gap-8 flex-col p-5">
                    <twig:Atoms:ReCard class="max-w-[500px] re-step" x-data="FirstFormStep" id="step_1">
                        <template x-if="generalNotification">
                            <twig:Atoms:ReParagraphStatus
                                    x-bind:data-status="generalNotification.status"
                                    xSyncStatus="generalNotification.status"
                                    x-text="generalNotification.message"/>
                        </template>

                        {{ form_row(form.email, {
                            attr: {
                                placeholder: 'Adresse mail',
                                validate:"['required', 'email']",
                                autocomplete: 'email',
                                onCheck:"setFieldValid('email')",
                            }, label: false}) }}

                        {{ form_row(form.consentDataCollect, {
                            attr: {
                                validate: "['required']",
                                onCheck: "setFieldValid('consentDataCollect')",
                            },
                            label: 'Je consent au traitement de mes données personnelles'
                        }) }}

                        <div class="w-full re-field-frame !h-auto cursor-pointer"
                             x-on:click="dom('.frc-button')?.click()">
                            {% include 'renaissance/partials/friendly-captcha.html.twig' %}
                        </div>

                        <twig:Molecules:ReButton
                            color="blue"
                            value="J'adhère"
                            class="w-full"
                            x-bind:class="{disabled: !checkValidity()}"
                            x-on:click="handleOnSubmit($event, $dispatch)"
                            xSyncLoading="loading"
                        />

                        <p class="text-center">
                            Vous préférez adhérer par voie postale ?<br/>
                            Télécharger le formulaire d’adhésion papier !
                        </p>

                        <div class="flex justify-center items-center">
                            <twig:Molecules:ReButton
                                tag="a"
                                href="https://storage.googleapis.com/parti-renaissance.fr/Renaissance-Bulletin-adhesion.pdf"
                                target="_blank"
                                color="not-fill"
                                value="Télécharger"
                                class="!w-auto"
                                icon="download"
                            />
                        </div>
                        <hr/>

                        <twig:Atoms:ReParagraphStatus status="info">
                            Une question relative à l’adhésion ? <br>
                            Écrivez-nous à <a class="text-ui_blue-50" href="mailto:adherents@parti-renaissance.fr">adherents@parti-renaissance.fr</a> ou <br>
                            appelez-nous au <a class="text-ui_blue-50" href="tel:+33186950286">01 86 95 02 86</a>
                        </twig:Atoms:ReParagraphStatus>

                    </twig:Atoms:ReCard>

                    <twig:Atoms:ReCard class="max-w-[500px] re-step" id="step_2" x-data="SecondFormStep">
                        {{ form_row(form.civility, {
                            label: 'Mes informations',
                            attr: { onCheck:"setFieldValid('gender')", validate: "['required']" }
                        }) }}
                        <div class="flex-row flex gap-5">
                            {{ form_row(form.lastName, {
                                label: false,
                                attr: { placeholder: 'Nom', onCheck:"setFieldValid('lastName')", validate: "['required', 'min:2', 'max:50']" }
                            }) }}
                            {{ form_row(form.firstName, {
                                label: false,
                                attr: { placeholder: 'Prénom', onCheck:"setFieldValid('firstName')", validate: "['required', 'min:1', 'max:50']" }
                            }) }}
                        </div>

                        {{ form_row(form.nationality, {
                            label: 'Nationalité',
                            attr: { onCheck:"setFieldValid('nationality')", validate: "['required']" }
                        }) }}

                        {{ form_row(form.address, {label: 'Adresse postale'}) }}

                        <twig:Molecules:ReButton
                            color="blue"
                            value="Suivant"
                            class="w-full"
                            x-on:click="handleOnSubmit($event, $dispatch)"
                            x-bind:class="{disabled: !checkValidity()}"
                        />
                    </twig:Atoms:ReCard>

                    <twig:Atoms:ReCard class="max-w-[500px] re-step" id="step_3" x-data="ThirdFormStep">
                        <template x-if="generalNotification">
                            <twig:Atoms:ReParagraphStatus
                                    x-bind:data-status="generalNotification.status"
                                    xSyncStatus="generalNotification.status"
                                    x-text="generalNotification.message"/>
                        </template>
                             {{ form_row(form.exclusiveMembership, {
                                 label: 'Autorisation',
                                 attr:{
                                     'x-on:change':'handleExclusiveMembershipChange($event)',
                                     validate:"['required']",
                                     onCheck: 'setFieldValid("exclusiveMembership")'
                                 }
                             }) }}
                        <div x-show="notExclusiveMember" x-cloak class="flex flex-col gap-8">
                            <hr>
                            {{ form_row(form.partyMembership, {
                                label: "J'appartiens déjà à un parti politique :",
                                attr:{
                                    'x-on:change':'handlePartyMembershipChange($event)',
                                    validate:"['?:notExlusiveMember', 'required']",
                                    onCheck: 'setFieldValid("partyMembership")'
                                }
                            }) }}
                        </div>


                        <hr>

                        <div class="flex flex-col gap-8">
                            <template x-if="isMemberOfAnotherParty && notExclusiveMember" x-cloak>
                                <twig:Atoms:ReParagraphStatus status="warning" icon="warning">
                                    Si vous êtes déjà affilié à un parti politique, il vous est impossible de devenir membre de Renaissance. Toutefois, il vous est tout à fait possible d'exprimer votre soutien en tant que sympathisant.
                                </twig:Atoms:ReParagraphStatus>
                                <twig:Atoms:ReLabel>En devenant sympathisant :</twig:Atoms:ReLabel>
                            </template>

                            <template x-if="!(isMemberOfAnotherParty && notExclusiveMember)">
                                <twig:Atoms:ReLabel>En adhérant :</twig:Atoms:ReLabel>
                            </template>

                            {{ form_row(form.allowNotifications, {
                                label: 'Je souhaite recevoir les informations sur l’actualité de Renaissance et ses communications politiques par e-mail'
                            }) }}
                        </div>
                        {{ form_row(form.isPhysicalPerson, {
                            label: 'adhesion.physical_person.label', label_html: true,
                            attr: { onCheck:"setFieldValid('isPhysicalPerson')", validate: "['required']" }
                        }) }}


                        <template x-if="isMemberOfAnotherParty && notExclusiveMember" x-cloak>
                            <twig:Molecules:ReButton
                                color="yellow"
                                value="Je deviens sympathisant"
                                class="w-full"
                                xSyncLoading="loading"
                                x-on:click="handleOnSubmit($event, $dispatch)"
                                x-bind:class="{disabled: !checkValidity()}"
                            />
                        </template>

                        <template x-if="!(isMemberOfAnotherParty && notExclusiveMember)">
                            <twig:Molecules:ReButton
                                color="blue"
                                value="J’adhère"
                                class="w-full"
                                xSyncLoading="loading"
                                x-on:click="handleOnSubmit($event, $dispatch)"
                                x-bind:class="{disabled: !checkValidity()}"
                            />
                        </template>
                    </twig:Atoms:ReCard>

                    <twig:Atoms:ReCard class="max-w-[500px] re-step" id="step_4" x-data="{
                        value: '2',
                        price: 60,
                        isSelected: function (value) {
                            return this.value === value;
                        },
                    }">
                        <header>
                            <twig:Atoms:ReLabel>Cotisation adhérent</twig:Atoms:ReLabel>
                            <div class="text-ui_gray-80 text-base">
                                <span class="font-medium">
                                    Nous avons fait le choix d'une cotisation pour l’année civile.
                                </span>

                                <br/>

                                <span class=" font-normal">
                                    Cette contribution finance le fonctionnement des assemblées départementales et leur autonomie.
                                </span>
                            </div>
                        </header>

                        {% set contributions =  [
                            {
                                'value': '1',
                                'price': '30',
                                'type': 'simple',
                                'checked': false,
                                'id': 'amount_10',
                                'name': 'amount',
                            },
                            {
                                'value': '2',
                                'price': '60',
                                'type': 'classic',
                                'checked': true,
                                'tagged': 'tagged',
                                'id': 'amount_20',
                                'name': 'amount',
                            },
                            {
                                'value': '3',
                                'price': '120',
                                'type': 'support',
                                'checked': false,
                                'id': 'amount_30',
                                'name': 'amount',
                            },
                            {
                                'value': '4',
                                'price': '10',
                                'type': 'united',
                                'checked': false,
                                'id': 'amount_40',
                                'name': 'amount',
                            },
                            {
                                'value': '5',
                                'price': '60',
                                'type': 'custom',
                                'checked': false,
                                'id': 'amount_50',
                                'name': 'amount',
                            },
                        ] %}

                        {% for contribution in contributions %}
                            <twig:Molecules:ReContributionOpt {{ ...contribution }} onChange="(p) => price = p" />
                        {% endfor %}

                        <template x-if="value === '4'">
                            <twig:Molecules:ReCheckboxField validate="['required']" id="isStudent" status="default">
                                Je confirme être étudiant, une personne bénéficiant des minima sociaux ou sans emploi
                            </twig:Molecules:ReCheckboxField>
                        </template>

                        {{ form_errors(form.amount) }}
                        {{ form_row(form.amount) }}

                        <twig:Molecules:ReButton
                            color="green"
                            x-text="`J'adhère pour ${price}€`"
                            value="J'adhère"
                            class="w-full"
                        />
                    </twig:Atoms:ReCard>

                    <div class="spacer h-[50vh]"></div>
                </div>
                <input type="hidden" id="email-validation-token" value="{{ email_validation_token }}"/>
            </div>
            {{ form_end(form) }}
        </section>
    </main>
{% endblock %}

{% block final_javascripts %}
    <script type="module" src="{{ asset('js/friendlycaptcha.widget-0.9.14.module.min.js') }}" async defer></script>
    <script>
        Bootstrap.onLoad(() => Main.runAdhesionPage('{{ google_maps_api_key }}'));
    </script>
{% endblock %}
