{% extends 'base_renaissance.html.twig' %}

{% block page_title 'Informations complémentaires' %}

{% block flash_message '' %}

{% form_theme form 'renaissance/forms/tailwind_form_theme.html.twig' %}

{% block content %}
    <twig:ReStandaloneLayout class="re_new_ui "
                           x-data="xFurtherInformationForm({
                            isJam: {{ (form.vars.data.getAge() and form.vars.data.getAge() < 35 ? 'true' : 'false')|e('js') }},
                            isElu: {{ (form.mandates.vars.value and form.mandates.vars.value|length ? 'true' : 'false')|e('js') }}
                            })"
    >
        <twig:Atoms:ReCard class="max-w-[500px]">
            {{ include('renaissance/partials/flashes.html.twig', {slim: true}) }}

            {{ form_start(form, {attr: {'x-ref': 'form', class: 'flex gap-8 flex-col'}}) }}
                {{ form_errors(form) }}

                <fieldset>
                    <twig:Atoms:ReLabel class="mb-6">Informations complémentaires</twig:Atoms:ReLabel>
                    <twig:Molecules:ReCheckboxField id="is-elu" class="w-full" @change="handleIsElu($event)">
                        <label for="is-elu">Je suis élu(e)</label>
                    </twig:Molecules:ReCheckboxField>
                </fieldset>

                <twig:ReParagraphStatus status="valid" x-show="isElu" x-cloak>
                    En déclarant vos mandats ici, nous préviendrons votre
                    <span class="font-medium">Président d’Assemblée départementale</span>
                    qui pourra, le cas échéant, vous inclure dans les élus de Renaissance.
                </twig:ReParagraphStatus>

                <fieldset class="flex flex-col gap-2.5" x-show="isElu" x-cloak id="elu-form">
                    {{ form_row(form.mandates) }}
                </fieldset>

                <fieldset class="relative h-[100px]">
                    <twig:Atoms:ReLabel class="mb-6">Date de naissance</twig:Atoms:ReLabel>

                    <fieldset class="flex gap-2.5 relative">
                        {{ form_widget(form.birthdate.day, {label: false, attr: {
                            class: 'w-full',
                            placeholder: 'Jour',
                            validate: "['required']",
                            onCheck: "setFieldValid('birthDay')",
                            '@change': 'setDay($event.target.value)',
                            searchBoxProps: {'x-numberonly': ''},
                        }}) }}

                        {{ form_widget(form.birthdate.month, {label: false, attr: {
                            class: 'w-full',
                            placeholder: 'Mois',
                            validate: "['required']",
                            onCheck: "setFieldValid('birthMonth')",
                            '@change': 'setMonth($event.target.value)',
                        }}) }}

                        {{ form_widget(form.birthdate.year, {label: false, attr: {
                            class: 'w-full',
                            placeholder: 'Année',
                            validate: "['required']",
                            onCheck: "setFieldValid('birthYear')",
                            '@change': 'setYear($event.target.value)',
                            searchBoxProps: {'x-numberonly': ''},
                        }}) }}
                    </fieldset>

                    {{ form_errors(form.birthdate) }}
                </fieldset>

                <twig:ReParagraphStatus status="valid" x-show="isJam" x-cloak>
                    <p class="pb-2.5 flex flex-col justify-center items-center">
                        <img src="{{ asset('images/icons/jeunes-avec-macron.png') }}" alt="Jeunes avec Macron" class="w-20">
                    </p>
                    Vous avez moins de 35 ans, vous êtes donc automatiquement adhérent des
                    <span class="font-medium">Jeunes avec Macron</span>, le mouvement de jeunesse de Renaissance.
                    <br>
                    <br>
                    {{ form_row(form.refuseJamNotification, {label: 'Je ne souhaite pas recevoir les communications des Jeunes avec Macron par email.', label_attr: {class: 'w-full text-ui_gray-80'}}) }}
                </twig:ReParagraphStatus>
                <hr>
                <fieldset>
                    {{ form_row(form.phone, {label: 'Numéro de téléphone'}) }}
                </fieldset>

                {{ form_row(form.acceptSmsNotification, {label: "Je souhaite recevoir les informations sur l'actualité de Renaissance et ses communications politiques par SMS et téléphone"}) }}

                <twig:ReButton
                    class="w-full"
                    loading="x:loading"
                    @click="handleSubmit($event)"
                    x-bind:class!="{disabled: !checkValidity()}"
                >Continuer</twig:ReButton>
            {{ form_end(form) }}
        </twig:Atoms:ReCard>
    </twig:ReStandaloneLayout>
{% endblock %}

{% block final_javascripts %}
    <script>
        Bootstrap.onLoad(() => Main.runAdhesionFurtherInformationPage());
    </script>
{% endblock %}
