{% extends 'renaissance/adhesion/_layout.html.twig' %}

{% block javascripts %}
    <script type="text/javascript">
        Kernel.onLoad(function() {
            App.runRenaissanceAdhesion();

            findAll(document, '.js-flip').forEach(function (element) {
                on(element, 'click', function (event) {
                    event.preventDefault();
                    toggleClass(dom('.adhesion-box__flip'), 'flipped');

                    findAll(document, '.adhesion-box__front, .adhesion-box__back').forEach(function (element) {
                        toggleClass(element, 'disable');
                    });
                });
            });
        });
    </script>
{% endblock %}

{% set boxHead = '<h1 class="text--larger">J\'adhère à <span>Renaissance</span></h1>' %}

{% block adhesion_content %}
    <div class="adhesion__landing">

        <section class="adhesion__header">
            <div class="l__wrapper">
                <div class="adhesion__header__content">
                    <div class="adhesion__header__steps">
                        <ul>
                            <li class="active">1. Adhésion</li>
                            <li class="chevron"><img src="{{ asset('images/icons/donation-journey-chevron.svg') }}" /></li>
                            <li class="next">2. Informations</li>
                            <li class="chevron"><img src="{{ asset('images/icons/donation-journey-chevron.svg') }}" /></li>
                            <li class="next">3. Paiement</li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>

        <section class="adhesion-hero">
            <div class="adhesion-hero__overlay"></div>
            <div class="adhesion-hero__container l__wrapper">
                <div class="adhesion-hero__content">
                    {{ cms_block('adhesion-index-header-content') }}

                    <div class="adhesion-reassurance dark">
                        <div class="adhesion-reassurance__item">
                            <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 26 26">
                                <path d="M18.7324102,11.6420579 C18.5541175,11.4564351 18.337765,11.3636934 18.0830181,11.3636934 L17.7776363,11.3636934 L17.7776363,9.4544948 C17.7776363,8.23481709 17.3576067,7.18756312 16.5172799,6.31255877 C15.6770201,5.43751959 14.6714105,5 13.4999497,5 C12.3285223,5 11.3227121,5.43751959 10.4825191,6.31252394 C9.64219233,7.18756312 9.22216273,8.23478226 9.22216273,9.4544948 L9.22216273,11.3636934 L8.91664713,11.3636934 C8.66210097,11.3636934 8.44561465,11.4564351 8.26735541,11.6420579 C8.08909617,11.8275414 8,12.0529704 8,12.3182752 L8,18.0454878 C8,18.3105488 8.08912962,18.5360474 8.26735541,18.7217051 C8.44561465,18.9071538 8.66210097,19 8.91664713,19 L18.0832522,19 C18.3379991,19 18.5543182,18.9072582 18.7326443,18.7217051 C18.9107363,18.5360474 19,18.3105488 19,18.0454878 L19,12.3181707 C19.0001335,12.0530749 18.9107363,11.8276807 18.7324102,11.6420579 Z M15.9443755,11.3636934 L11.0555239,11.3636934 L11.0555239,9.4544948 C11.0555239,8.75187936 11.2942842,8.1519311 11.7717046,7.65485898 C12.2491919,7.1577172 12.8252401,6.90919855 13.50005,6.90919855 C14.1749268,6.90919855 14.7508412,7.15768238 15.228362,7.65485898 C15.7056486,8.15189628 15.9443755,8.75187936 15.9443755,9.4544948 L15.9443755,11.3636934 Z"/>
                            </svg>
                            <span>Paiement sécurisé</span>
                        </div>
                        <div class="adhesion-reassurance__item">
                            <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 26 26">
                                <path fill-rule="evenodd" d="M15.9175223,6 L17.3892911,6.85673959 L9.8631458,20 L8.39137706,19.1432604 L9.28819756,17.577132 C7.41210851,16.7152734 5.8904293,15.2203164 5.00025146,13.3678126 C6.42549259,10.3995772 9.47207172,8.34912794 13.0002355,8.34912794 C13.5116923,8.34912794 14.0130288,8.39221724 14.5007744,8.4749445 L15.9175223,6 Z M17.6643593,9.6671122 C19.1025632,10.5541588 20.2665313,11.8391993 21.000699,13.3675336 C19.5742955,16.3352307 16.5280038,18.3852203 13.0002355,18.3852203 C12.8917613,18.3852203 12.7837424,18.3832821 12.6762118,18.3794385 L13.747953,16.509291 C15.0754574,16.1731316 16.0594101,14.9486471 16.0594101,13.4895655 C16.0594101,13.2746076 16.038054,13.0647415 15.9973896,12.8620575 L15.9503648,12.661845 L17.6643593,9.6671122 Z M13.0117235,10.3784544 C11.3285327,10.3784544 9.96403689,11.7713463 9.96403689,13.4895655 C9.96403689,14.1851818 10.1876795,14.8274765 10.5655707,15.3456115 L13.3957028,10.40291 C13.2699341,10.3867704 13.1417801,10.3784544 13.0117235,10.3784544 Z"/>
                            </svg>
                            <span>Données confidentielles</span>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="adhesion-box__container">
            <div class="l__wrapper">
                <div class="adhesion-box">
                    <div class="adhesion-box__flip with-shadow">
                        <div class="adhesion-box__front">
                            <div class="adhesion-box__head text--center b__nudge--bottom">
                                {{ boxHead|raw }}
                            </div>

                            <form method="get" action="{{ path('app_renaissance_index') }}" class="adhesion-widget-wrapper em-form">
                                <div class="spin-loader"></div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <div class="others-sections">
            <section class="section adhesion-why">
                <div class="l__wrapper">
                    <div class="adhesion-why__content">
                        {{ cms_block('donation-index-why-content') }}
                    </div>
                </div>
            </section>
        </div>
    </div>
{% endblock %}
