{% extends 'renaissance/adhesion/_layout.html.twig' %}

{% block canonical_url url('app_renaissance_information') %}

{% block javascripts %}
    {% import 'javascript.js.twig' as js %}
    {% if google_maps_api_key %}
        <script src="https://maps.googleapis.com/maps/api/js?key={{ google_maps_api_key }}&amp;libraries=places" async defer></script>
    {% endif %}
    <script type="text/javascript">
        Kernel.onLoad(function() {
            App.runRenaissanceAdhesionInformation('{{ form.vars.form_type_class|e('js') }}');
            {{ js.address(form.address) }}
        });
    </script>
    <script src="https://www.google.com/recaptcha/enterprise.js"></script>
{% endblock %}

{% block adhesion_content %}
    <div class="adhesion__informations">
        <section class="adhesion__header with-bkg">
            <div class="l__wrapper">
                <div class="adhesion__header__content">
                    <div class="adhesion__header__steps">
                        <ul>
                            <li>1. Adhésion</li>
                            <li class="chevron"><img src="{{ asset('images/icons/donation-journey-chevron.svg') }}" /></li>
                            <li class="active">2. Informations</li>
                            <li class="chevron"><img src="{{ asset('images/icons/donation-journey-chevron.svg') }}" /></li>
                            <li class="next">3. Paiement</li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>

        <div class="l__wrapper b__nudge--bottom-50 b__nudge--top-50">
            <a href="{{ path('app_renaissance_adhesion') }}" class="text--body text--blue--dark link--no-decor">⟵ Retour</a>
        </div>

        <div class="l__wrapper--600">
            {{ form_start(form, { attr: { class: 'em-form adhesion__informations__form' } }) }}

            <div class="b__nudge--bottom">
                {{ form_errors(form, { error_raw: true }) }}
            </div>

            <section class="adhesion__informations__recap">
                <h3 class="adhesion-subtitle">Vous avez choisi <span>une cotisation</span> de :</h3>
                <h1 class="adhesion__informations__amount b__nudge--top-large">{{ membership.amount|format_currency('EUR')|replace({',00' : ''}) }}</h1>
                <div class="adhesion__amount-chooser">
                    <div class="adhesion__amount-chooser__after-taxes">
                        soit <span class="after-taxes-amount">{{ (membership.amount * 0.34)|format_currency('EUR')|replace({',00' : ''})}}</span> après réduction d’impôt
                        <div class="infos-taxe-reduction">
                            ?
                            <div class="infos-taxe-reduction__content">
                                <div>La réduction fiscale</div>
                                <p>
                                    66 % de votre cotisation vient en déduction de votre impôt sur
                                    le revenu (dans la limite de 20 % du revenu imposable).
                                    <br /><br />
                                    <strong>Par exemple :</strong> une cotisation de 100 € vous revient
                                    en réalité à 34 € et vous fait bénéficier
                                    d’une réduction d’impôt de 66 €. Le montant annuel de votre
                                    cotisation (don y compris) ne peut pas excéder 7500 € par personne physique.
                                    <br /><br />
                                    Le reçu fiscal pour votre cotisation de l’année N vous sera envoyé
                                    au 2e trimestre de l’année N+1.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="information__modal inf-modl--pale-blue b__nudge--top-large b__nudge--bottom-large">Votre cotisation sera versée à l’Association de financement de La République En Marche (AFEMA), unique mandataire financier au bénéfice du Mouvement.</div>
                <div class="adhesion-reassurance b__nudge--bottom">
                    <div class="adhesion-reassurance__item">
                        <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 26 26">
                            <path d="M18.7324102,11.6420579 C18.5541175,11.4564351 18.337765,11.3636934 18.0830181,11.3636934 L17.7776363,11.3636934 L17.7776363,9.4544948 C17.7776363,8.23481709 17.3576067,7.18756312 16.5172799,6.31255877 C15.6770201,5.43751959 14.6714105,5 13.4999497,5 C12.3285223,5 11.3227121,5.43751959 10.4825191,6.31252394 C9.64219233,7.18756312 9.22216273,8.23478226 9.22216273,9.4544948 L9.22216273,11.3636934 L8.91664713,11.3636934 C8.66210097,11.3636934 8.44561465,11.4564351 8.26735541,11.6420579 C8.08909617,11.8275414 8,12.0529704 8,12.3182752 L8,18.0454878 C8,18.3105488 8.08912962,18.5360474 8.26735541,18.7217051 C8.44561465,18.9071538 8.66210097,19 8.91664713,19 L18.0832522,19 C18.3379991,19 18.5543182,18.9072582 18.7326443,18.7217051 C18.9107363,18.5360474 19,18.3105488 19,18.0454878 L19,12.3181707 C19.0001335,12.0530749 18.9107363,11.8276807 18.7324102,11.6420579 Z M15.9443755,11.3636934 L11.0555239,11.3636934 L11.0555239,9.4544948 C11.0555239,8.75187936 11.2942842,8.1519311 11.7717046,7.65485898 C12.2491919,7.1577172 12.8252401,6.90919855 13.50005,6.90919855 C14.1749268,6.90919855 14.7508412,7.15768238 15.228362,7.65485898 C15.7056486,8.15189628 15.9443755,8.75187936 15.9443755,9.4544948 L15.9443755,11.3636934 Z"/>
                        </svg>
                        <span>Paiement sécurisé</span>
                    </div>
                    <div class="adhesion-reassurance__item">
                        <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 26 26">
                            <path fill-rule="evenodd" d="M15.9175223,6 L17.3892911,6.85673959 L9.8631458,20 L8.39137706,19.1432604 L9.28819756,17.577132 C7.41210851,16.7152734 5.8904293,15.2203164 5.00025146,13.3678126 C6.42549259,10.3995772 9.47207172,8.34912794 13.0002355,8.34912794 C13.5116923,8.34912794 14.0130288,8.39221724 14.5007744,8.4749445 L15.9175223,6 Z M17.6643593,9.6671122 C19.1025632,10.5541588 20.2665313,11.8391993 21.000699,13.3675336 C19.5742955,16.3352307 16.5280038,18.3852203 13.0002355,18.3852203 C12.8917613,18.3852203 12.7837424,18.3832821 12.6762118,18.3794385 L13.747953,16.509291 C15.0754574,16.1731316 16.0594101,14.9486471 16.0594101,13.4895655 C16.0594101,13.2746076 16.038054,13.0647415 15.9973896,12.8620575 L15.9503648,12.661845 L17.6643593,9.6671122 Z M13.0117235,10.3784544 C11.3285327,10.3784544 9.96403689,11.7713463 9.96403689,13.4895655 C9.96403689,14.1851818 10.1876795,14.8274765 10.5655707,15.3456115 L13.3957028,10.40291 C13.2699341,10.3867704 13.1417801,10.3784544 13.0117235,10.3784544 Z"/>
                        </svg>
                        <span>Données confidentielles</span>
                    </div>
                </div>
            </section>

            <div class="b__nudge--top-15">
                <h3 class="text--medium-small b__nudge--bottom">Informations personnelles</h3>

                <div class="em-form__row">
                    <div class="em-form__group em-form__width--1">
                        <label class="em-form__label">Prénom <span class="em-form__required">*</span></label>
                        {{ form_widget(form.firstName, { attr: { class: 'em-form__field', placeholder: 'Prénom' } }) }}
                        {{ form_errors(form.firstName) }}
                    </div>
                    <div class="em-form__group em-form__width--1">
                        <label class="em-form__label">Nom <span class="em-form__required">*</span></label>
                        {{ form_widget(form.lastName, { attr: { class: 'em-form__field', placeholder: 'Nom' } }) }}
                        {{ form_errors(form.lastName) }}
                    </div>
                </div>

                <div class="em-form__group">
                    <label class="em-form__label">Adresse e-mail <span class="em-form__required">*</span></label>
                    {{ form_widget(form.emailAddress.first, { attr: { class: 'em-form__field', placeholder: 'E-mail' } }) }}
                    {{ form_errors(form.emailAddress.first) }}
                </div>
                <div class="em-form__group visually-hidden">
                    <label class="em-form__label">Re-saisir l'adresse e-mail <span class="em-form__required">*</span></label>
                    {{ form_widget(form.emailAddress.second, { attr: { class: 'em-form__field', placeholder: 'Re-saisir l\'e-mail', 'data-validated-with': form.emailAddress.first.vars.id } }) }}
                    {{ form_errors(form.emailAddress.second) }}
                    {{ form_errors(form.emailAddress) }}
                </div>

                <div class="em-form__group">
                    <label class="em-form__label">Mot de passe <span class="em-form__required">*</span></label>
                    {{ form_widget(form.password, { attr: { class: 'em-form__field', placeholder: 'Mot de passe' } }) }}
                    {{ form_errors(form.password) }}
                </div>

                <div class="em-form__group">
                    <label class="em-form__label">Nationalité <span class="em-form__required">*</span></label>
                    {{ form_errors(form.nationality) }}
                    {{ form_widget(form.nationality, { attr: { class: 'em-form__field', placeholder: 'Nationalité'} }) }}
                </div>

                <div>
                    <div class="em-form__group">
                        <div class="address-autocomplete">
                            <label class="em-form__label">Adresse postale <span class="em-form__required">*</span></label>
                        </div>
                        <p class="em-form--error visually-hidden" id="address-autocomplete-help-message">
                            Nous n'avons pas reconnu votre adresse, veuillez <a href="#">cliquer ici</a> pour pouvoir la renseigner librement.
                        </p>
                    </div>

                    <div class="address-block">
                        <div class="em-form__group">
                            <label class="em-form__label">Adresse postale <span class="em-form__required">*</span></label>
                            {{ form_widget(form.address.address, { attr: { class: 'em-form__field', placeholder: 'Adresse postale' } }) }}
                            {{ form_errors(form.address.address) }}
                        </div>

                        <div class="em-form__row">
                            <div class="em-form__group">
                                <label class="em-form__label">Code postal <span class="em-form__required">*</span></label>
                                {{ form_widget(form.address.postalCode, { attr: { class: 'em-form__field', placeholder: 'Code postal' } }) }}
                                {{ form_errors(form.address.postalCode) }}
                            </div>
                            <div class="em-form__group">
                                <label class="em-form__label">Ville <span class="em-form__required">*</span></label>
                                {{ form_widget(form.address.city, { 'attr': { 'class': 'register__form__city'} }) }}
                                {{ form_widget(form.address.cityName, { attr: { class: 'em-form__field', placeholder: 'Ville' } }) }}
                                {{ form_errors(form.address.city) }}
                                {{ form_errors(form.address.cityName) }}
                            </div>
                        </div>
                        <div class="em-form__row">
                            <div class="em-form__group">
                                <label for="{{ form.address.region.vars.id }}" class="em-form__label">Région</label>
                                {{ form_widget(form.address.region, { attr: { class: 'em-form__field', placeholder: 'Région' } }) }}
                                {{ form_errors(form.address.region) }}
                            </div>
                            <div class="em-form__group">
                                <label class="em-form__label">Pays <span class="em-form__required">*</span></label>
                                {{ form_widget(form.address.country, { attr: { class: 'em-form__field' } }) }}
                                {{ form_errors(form.address.country) }}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="em-form__row">
                    <div class="em-form__group">
                        <label class="em-form__label">Date de naissance <span class="em-form__required">*</span></label>
                        {{ form_widget(form.birthdate, { attr: { placeholder: 'Date de naissance', class: 'l__row l__row--h-stretch' } }) }}
                        {{ form_errors(form.birthdate) }}
                    </div>
                    <div class="em-form__group">
                        <label class="em-form__label">Genre <span class="em-form__required">*</span></label>
                        {{ form_widget(form.gender, { attr: { class: 'register__form__gender' } }) }}
                        {{ form_errors(form.gender) }}
                    </div>
                </div>

                <div class="em-form__group visually-hidden">
                    <label class="em-form__label">Personnalisez votre genre</label>
                    {{ form_widget(form.customGender, { attr: { class: 'em-form__field', placeholder: 'Personnaliser mon genre' } }) }}
                    {{ form_errors(form.customGender) }}
                </div>

                <div class="register__form--line b__nudge--top-50">
                    <span class="b__nudge--bottom-larger text--gray text--italic">{{ 'common.optional'|trans|capitalize }}</span>
                    <hr id="hr_join">
                </div>

                <div class="space--10-0"></div>

                <div id="{{ form.phone.vars.id }}">
                    <div class="em-form__row">
                        <div class="em-form__group">
                            <label class="em-form__label">Téléphone</label>
                            {{ form_widget(form.phone.country, { placeholder: 'Indicatif Pays', attr: { class: 'em-form__field', 'data-validated-with': form.phone.number.vars.id } }) }}
                        </div>
                        <div class="em-form__group">
                            <label class="em-form__label"></label>
                            {{ form_widget(form.phone.number, { attr: { class: 'em-form__field', placeholder: 'Téléphone' } }) }}
                            {{ form_errors(form.phone.country) }}
                            {{ form_errors(form.phone.number) }}
                        </div>
                        {{ form_errors(form.phone) }}
                    </div>
                </div>

                <div class="em-form__group">
                    <label class="em-form__label">Catégorie socio-professionnelle</label>
                    {{ form_widget(form.position, { attr: { class: 'em-form__field', placeholder: 'Catégorie socio-professionnelle' } }) }}
                    {{ form_errors(form.position) }}
                </div>

                <hr class="b__nudge--top-50 b__nudge--bottom-larger"/>

                <div class="em-form__group em-form__group--cgu b__nudge--top-large">
                    <div class="form__checkbox" id="field-conditions">
                        {{ form_widget(form.conditions) }}
                        <label class="em-form__label" for="{{ form.conditions.vars.id }}">
                            <span class="text__checkbox">
                                Oui, j'adhère à la <a href="https://storage.googleapis.com/en-marche-prod/documents/adherents/1-charte-et-manifeste/LaREM_regles_de_fonctionnement.pdf" target="_blank">charte des valeurs, aux statuts et aux règles de fonctionnement</a> de La République En Marche, ainsi qu'aux <a href="{{ path('page_mentions_legales') }}" target="_blank">conditions générales d'utilisation</a> du site et à la <a href="https://en-marche.fr/politique-protection-donnees" target="_blank">politique de protection des données à caractère personnel</a> du site
                            </span>
                        </label>
                        {{ form_errors(form.conditions) }}
                    </div>
                    <div class="form__checkbox" id="field-com-email">
                        {{ form_widget(form.allowEmailNotifications) }}
                        <label class="em-form__label" for="{{ form.allowEmailNotifications.vars.id }}">
                            <span class="text__checkbox">
                                Je souhaite être informé(e) de l'actualité de Renaissance par e-mail
                                <span class="text--gray text--italic">({{ 'common.optional'|trans }})</span>                            </span>
                        </label>
                        {{ form_errors(form.allowEmailNotifications) }}
                    </div>
                    <div class="form__checkbox" id="field-com-email">
                        {{ form_widget(form.allowMobileNotifications) }}
                        <label class="em-form__label" for="{{ form.allowMobileNotifications.vars.id }}">
                            <span class="text__checkbox">
                                Je souhaite recevoir des informations sur les actions militantes du parti par téléphone
                                <span class="text--gray text--italic">({{ 'common.optional'|trans }})</span>                           </span>
                        </label>
                        {{ form_errors(form.allowMobileNotifications) }}
                    </div>
                </div>

                {% if not has_role_user %}
                    <div class="form__captcha">
                        <input type="hidden" class="nojs-g-recaptcha-response" name="g-recaptcha-response" value="" />
                        {% if recaptcha_public_key is not empty %}
                            {% for flashMessage in app.flashes("error_recaptcha") %}
                                <p id="recapture_error" class="form__error">{{ flashMessage|trans }}</p>
                            {% endfor %}
                            <div class="g-recaptcha" data-sitekey="{{ recaptcha_public_key }}" style="margin: 30px auto 10px auto;"></div>
                        {% elseif app.debug %}
                            <input type="hidden" name="g-recaptcha-response" value="fake" />
                        {% endif %}
                    </div>
                {% endif %}

                <div>
                    {% if not form.vars.valid %}
                        <p class="text--error text--small">L'un des champs du formulaire est mal renseigné.</p>
                    {% endif %}
                    {{ form_widget(form.submit, { attr: { class: 'btn-fat btn-fat--red btn--full b__nudge--top' }}) }}
                </div>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
