{% extends 'renaissance/double_columns_layout.html.twig' %}

{% block title 'Adhérer à Renaissance' %}

{% block content_right_side %}
    <section class="text-white">
        {{ form_start(form) }}
            {{ form_errors(form) }}
            <div>
                <div>
                    {{ form_widget(form.conditions) }}
                    <label for="{{ form.conditions.vars.id }}">
                        <span>
                            Oui, j'adhère à la charte des valeurs, aux statuts et aux règles de fonctionnement de La République En Marche, ainsi qu'aux politiques de protection des données à caractère personnel du site
                        </span>
                    </label>
                    {{ form_errors(form.conditions) }}
                </div>
                <div>
                    {{ form_widget(form.allowEmailNotifications) }}
                    <label for="{{ form.allowEmailNotifications.vars.id }}">
                        <span>
                            Je souhaite être informé(e) de l'actualité de Renaissance par e-mail ({{ 'common.optional'|trans }})
                        </span>
                    </label>
                    {{ form_errors(form.allowEmailNotifications) }}
                </div>
                <div>
                    {{ form_widget(form.allowMobileNotifications) }}
                    <label for="{{ form.allowMobileNotifications.vars.id }}">
                        <span>
                            Je souhaite recevoir des informations sur les actions militantes du parti par téléphone ({{ 'common.optional'|trans }})
                        </span>
                    </label>
                    {{ form_errors(form.allowMobileNotifications) }}
                </div>

                {{ cms_block('renaissance-adhesion-rgpd-block') }}

                <div class="mt-4">
                    <a href="{{ path('app_renaissance_adhesion_amount') }}"
                       class="bg-blue-700 hover:bg-blue-500 text-white font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded">
                        ⟵ Étape précédente
                    </a>
                    {{ form_widget(form.membership_request_mentions, { attr: { class: 'bg-white hover:bg-slate-400 text-blue-700 font-semibold hover:text-blue-700 py-2 px-4 border border-blue-500 hover:border-transparent rounded' } }) }}
                </div>
            </div>
        {{ form_end(form) }}
    </section>
{% endblock %}
