{% extends 'renaissance/adhesion/_layout.html.twig' %}

{% form_theme form 'renaissance/form_theme.html.twig' %}

{% set active_step = 'Mentions' %}

{% block adhesion_title %}
    Quelques mentions<br/>légales, et <span class="stabilo stabilo-blue">c’est fini.</span>
{% endblock %}

{% block adhesion_content %}
    <section class="text-lg">
        {{ form_start(form) }}
            {{ form_errors(form) }}
            <div class="border-t-1 border-white/10 pt-3.75 mb-5">
                {{ form_widget(form.isPhysicalPerson) }}
                <label for="{{ form.isPhysicalPerson.vars.id }}">
                        <span>
                            Je certifie sur l'honneur être une personne physique et que le règlement de ma cotisation ne provient pas du compte d'une personne morale (entreprise, association, collectivité...) mais bien de mon compte bancaire personnel
                        </span>
                </label>
                {{ form_errors(form.isPhysicalPerson) }}
            </div>

            <div class="border-t-1 border-white/10 pt-3.75 mb-5">
                {{ form_widget(form.conditions) }}
                <label for="{{ form.conditions.vars.id }}">
                    <span>
                        Oui, j'adhère <a class="underline font-bold" href="{{ path('asset_url', {path: 'statuts-renaissance.pdf', mime_type: 'application/pdf', app_domain: renaissance_host}) }}" target="_blank">aux statuts</a> et <a class="underline font-bold" href="{{ path('asset_url', {path: 'corpus-des-valeurs-parti-renaissance.pdf', mime_type: 'application/pdf', app_domain: renaissance_host}) }}" target="_blank">au Corpus des Valeurs de Renaissance</a>
                    </span>
                </label>
                {{ form_errors(form.conditions) }}
            </div>

            <div class="border-t-1 border-white/10 pt-3.75 mb-5">
                {{ form_widget(form.cguAccepted) }}
                <label for="{{ form.cguAccepted.vars.id }}">
                        <span>
                            J’accepte les <a class="underline font-bold" href="{{ path('app_static_page', {slug: 'conditions-generales-utilisation', app_domain: renaissance_host}) }}" target="_blank">CGU du site Renaissance</a> et déclare avoir lu la <a href="{{ path('app_static_page', {slug: 'politique-de-protection-des-donnees', app_domain: renaissance_host}) }}" class="underline font-bold" target="_blank">politique de protection des données personnelles</a> et les mentions d’informations relatives au traitement de mes données ci-dessous
                        </span>
                </label>
                {{ form_errors(form.cguAccepted) }}
            </div>

            <div class="border-t-1 border-white/10 pt-3.75 mb-5">
                {{ form_widget(form.allowEmailNotifications) }}
                <label for="{{ form.allowEmailNotifications.vars.id }}">
                    <span>
                        Je souhaite recevoir les informations sur l'actualité de Renaissance et ses communications politiques par e-mai ({{ 'common.optional'|trans }})
                    </span>
                </label>
                {{ form_errors(form.allowEmailNotifications) }}
            </div>

            <div class="border-t-1 border-white/10 pt-3.75 mb-5">
                {{ form_widget(form.allowMobileNotifications) }}
                <label for="{{ form.allowMobileNotifications.vars.id }}">
                    <span>
                        Je souhaite recevoir des informations sur les actions militantes du parti par téléphone ({{ 'common.optional'|trans }})
                    </span>
                </label>
                {{ form_errors(form.allowMobileNotifications) }}
            </div>

            <div class="mt-5 h-80 md:h-64 overflow-auto mb-5 border border-white/10 py-2 px-3.75">
                {{ cms_block('renaissance-adhesion-rgpd-block') }}
            </div>

            {% include 'renaissance/partials/previous-next-buttons.html.twig' with {
                route_name: 'app_renaissance_adhesion_additional_informations',
                form_button: form.membership_request_mentions
            } %}
        {{ form_end(form) }}
    </section>
{% endblock %}
