{% extends 'renaissance/adhesion/_adhesion_layout.html.twig' %}

{% form_theme form 'renaissance/form_theme.html.twig' %}

{% set active_step = 'Mentions' %}

{% block adhesion_title %}
    Quelques mentions<br/>légales, et <span class="stabilo stabilo-blue">c’est fini.</span>
{% endblock %}

{% block content_right_side %}
    {{ parent() }}

    <section class="py-10">
        {{ form_start(form) }}
            {{ form_errors(form) }}
            <div class="border-t-1 border-white/10 pt-3.75 mb-5">
                {{ form_widget(form.conditions) }}
                <label for="{{ form.conditions.vars.id }}">
                    <span>
                        Oui, j'adhère à la charte des valeurs, aux statuts et aux règles de fonctionnement de La République En Marche, ainsi qu'aux politiques de protection des données à caractère personnel du site
                    </span>
                </label>
                {{ form_errors(form.conditions) }}
            </div>

            <div class="border-t-1 border-white/10 pt-3.75 mb-5">
                {{ form_widget(form.allowEmailNotifications) }}
                <label for="{{ form.allowEmailNotifications.vars.id }}">
                    <span>
                        Je souhaite être informé(e) de l'actualité de Renaissance par e-mail ({{ 'common.optional'|trans }})
                    </span>
                </label>
                {{ form_errors(form.allowEmailNotifications) }}
            </div>

            <div class="border-t-1 border-white/10 pt-3.75 mb-5">
                {{ form_widget(form.allowMobileNotifications) }}
                <label for="{{ form.allowMobileNotifications.vars.id }}">
                    <span>
                        Je souhaite recevoir des informations sur les actions militantes du parti par téléphone ({{ 'common.optional'|trans }})
                    </span>
                </label>
                {{ form_errors(form.allowMobileNotifications) }}
            </div>

            <div class="mt-5 text-xs">
                {{ cms_block('renaissance-adhesion-rgpd-block') }}
            </div>

            {% include 'renaissance/adhesion/partials/previous-next-buttons.html.twig' with {
                route_name: 'app_renaissance_adhesion_amount',
                form_button: form.membership_request_mentions
            } %}
        {{ form_end(form) }}
    </section>
{% endblock %}
