{% extends 'base_renaissance.html.twig' %}

{% block title 'Connectez-vous avec un lien magique' %}

{% block content %}
    <header class="p-10">
        <a href="{{ path('app_renaissance_homepage') }}">
            <img src="{{ asset('/images/renaissance/logo-dark.svg') }}" class="h-4" alt="logo"/>
        </a>
    </header>

    <section class="flex flex-col bg-white px-10 pt-8 pb-[3.25rem] w-[380px] lg:w-[500px] mx-auto items-center">
        <div class="hidden flex flex-col items-center" id="app-adhesion-redirect-loader">
            <twig:Atoms:ReParagraphStatus status="info" class="w-full justify-center" slim="true">
                Redirection en cours...
            </twig:Atoms:ReParagraphStatus>

            <div class="relative flex h-6 w-6 items-center justify-center my-12">
                <div class="animate-ping absolute inline-flex h-full w-full rounded-full bg-sky-400 opacity-75"></div>
                <div class="relative inline-flex rounded-full h-5 w-5 bg-sky-500"></div>
            </div>

            <div class="font-medium">Vous allez être redirigé vers la banque...</div>
        </div>

        <form action="{{ url }}" method="post" name="app_adhesion_payment" id="app-adhesion-redirect-form" class="mt-8">
            {% for field in form %}
                <input
                    type="{{ field.vars.block_prefixes[1] }}"
                    name="{{ field.vars.name }}"
                    {% if field.vars.value is not empty %}value="{{ field.vars.value }}"{% endif %}
                />
            {% endfor %}

            <twig:Molecules:ReButton
                color="not-fill"
                value="Continuer vers ma banque"
                class="w-full"
            />
        </form>
    </section>
{% endblock %}

{% block final_javascripts %}
    <script type="text/javascript">
        Bootstrap.onLoad(function() {
            dom('#app-adhesion-redirect-loader').style.display = 'flex';
            var form = dom('#app-adhesion-redirect-form');
            form.style.display = 'none';
            form.submit();
        });
    </script>
{% endblock %}
