{% extends 'renaissance/double_columns_layout.html.twig' %}

{% block title 'Adhérer à Renaissance' %}

{% block content_right_side %}
    <section class="text-white">
        <div class="summary-bloc">
            <table>
                <tr class="lastname">
                    <td>Nom</td>
                    <td>{{ membershipRequest.lastName }}</td>
                </tr>
                <tr class="firstname">
                    <td>Prénom</td>
                    <td>{{ membershipRequest.firstName }}</td>
                </tr>
                <tr class="address">
                    <td>Adresse postale</td>
                    <td>{{ membershipRequest.address.fullAddress }}</td>
                </tr>
                <tr class="email">
                    <td>Email</td>
                    <td>{{ membershipRequest.emailAddress }}</td>
                </tr>
                <tr class="birthdate">
                    <td>Date de naissance</td>
                    <td>{{ membershipRequest.birthdate|date('d/m/Y') }}</td>
                </tr>
                <tr class="gender">
                    <td>Genre</td>
                    <td>{{ membershipRequest.getGenderName|trans }}</td>
                </tr>
                <tr class="nationality">
                    <td>Nationalité</td>
                    <td>{{ membershipRequest.nationality|countryName }}</td>
                </tr>
                <tr class="phone">
                    <td>Téléphone</td>
                    <td>{{ membershipRequest.phone ? membershipRequest.phone|phone_number_format }}</td>
                </tr>
                <tr class="amount">
                    <td>Cotisation</td>
                    <td>{{ membershipRequest.amount|format_currency('EUR')|replace({',00' : ''}) }}</td>
                </tr>
            </table>
        </div>

        {{ form_start(form) }}
            {{ form_errors(form) }}
            <div class="mt-4 text-black">
                <a href="{{ path('app_renaissance_adhesion') }}" class="bg-blue-700 hover:bg-blue-500 text-white font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded {{ not workflow_can(membershipRequest, 'to_fill_personal_info') ? 'disabled' : '' }}">
                    Modifier mes informations
                </a>
                {{ form_widget(form.payment, { attr: { class: 'bg-white hover:bg-slate-200 text-black font-semibold py-2 px-4 border border-blue-500 hover:border-transparent rounded', disabled: not workflow_can(membershipRequest, 'to_pay_membership') ? 'disabled' : false } }) }}
            </div>
        {{ form_end(form) }}
    </section>
{% endblock %}
