{% extends 'citizen_action/_layout.html.twig' %}

{% block page_title 'Contacter des inscrits à l\'action citoyenne' %}

{% block javascripts %}
    {{ parent() }}
    {% import 'javascript.js.twig' as js %}

    <script src="{{ asset('ckeditor/ckeditor.js') }}"></script>
    <script src="{{ asset('ckeditor/lang/fr.js') }}"></script>
    <script type="text/javascript">
        Kernel.onLoad(function() {
            {{ js.ckeditor('message') }}
        });
    </script>
{% endblock %}

{% block citizen_action_content %}
    <main class="committee__event__create">

        <section class="l__wrapper--slim space--30-0 text--body">
            <div class="b__nudge--bottom-huge">
                <h2 class="b__nudge--bottom-small text--medium">
                    Contacter des inscrits à l'action citoyenne
                </h2>
                <div class="b__nudge--bottom-medium">
                    {% if contacts is empty %}
                        <div class="error">
                            Vous n'avez pas selectionné de participant destinataire de ce message,
                            il ne pourra donc pas être envoyé.
                        </div>
                    {% else %}
                        <div class="text--body">
                            {% set msg = 'Votre message sera envoyé par e-mail à %s de l\'action citoyenne.' %}
                            {{ msg|format('event.participants_count'|transchoice(contacts|length)) }}
                        </div>
                    {% endif %}
                </div>

                {{ form_start(form) }}

                    <input type="hidden" name="contacts" value="{{ contacts|json_encode }}" />

                    <div class="form__row subject">
                        {{ form_label(form.subject, 'Objet') }}
                        {{ form_errors(form.subject) }}
                        {{ form_widget(form.subject, { attr: { class: 'form--full' } }) }}
                    </div>

                    <div class="form__row message">
                        {{ form_label(form.message, 'Message') }}
                        {{ form_errors(form.message) }}
                        {{ form_widget(form.message, { attr: { class: 'form--full form__field--textarea-300' } }) }}
                    </div>

                    {{ form_widget(form.submit, { label: 'Envoyer', attr: { class: 'btn btn--blue b__nudge--top-15' } }) }}

                    <a href="{{ path('app_citizen_action_event_list_participants', { slug: citizen_action.slug }) }}"
                       class="btn">
                        Annuler
                    </a>

                {{ form_end(form) }}

            </div>
        </section>
    </main>
{% endblock %}
