{% extends '@SonataAdmin/CRUD/base_show_field.html.twig' %}

{% block field_value %}
    {% if value %}
        <table class="table table-striped table-bordered" style="width:300px">
            <tr><td class="text-bold">Nombre de contacts trouvés</td><td>{{ value.getContacts() }}</td></tr>
            <tr><td class="text-bold">Non envoyé car déjà désabonnés</td><td>{{ value.getNotSent() }}</td></tr>
            <tr><td class="text-bold">Envoyés</td><td>{{ value.getSent() }}</td></tr>
            <tr><td class="text-bold">Reçus</td><td>{{ value.getDelivered() }}</td></tr>
            <tr><td class="text-bold">Echec d'envoi</td><td>{{ value.getFailedSent() }}</td></tr>
            <tr><td class="text-bold">En attente</td><td>{{ value.getPending() }}</td></tr>
            <tr><td class="text-bold text-danger">Désabonnement</td><td>{{ value.getStoplisted() }}</td></tr>
        </table>
    {% else %}
        <i>Les statistiques ne sont pas encore disponibles</i>
    {% endif %}
{% endblock %}
