{% extends 'SonataAdminBundle:CRUD:list.html.twig' %}

{% block list_footer %}
    {% set enable_export = admin.datagrid.hasActiveFilters() %}

    {% if admin.datagrid.results|length > 0 %}
        <div class="box-footer">
            <div class="form-inline clearfix">
                <div class="pull-right">
                    {% if not enable_export %}
                        <small>Vous devez activer les filtres pour exporter. </small>
                    {% endif %}

                    {% set route_params = admin.modelmanager.paginationparameters(admin.datagrid, 0) %}

                    <div class="btn-group">
                        <button type="button" class="btn btn-default dropdown-toggle" {{ not enable_export ? 'disabled="disabled"' }} data-toggle="dropdown">
                            <i class="fa fa-share-square-o" aria-hidden="true"></i>
                            Export Villes
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="{{ path('admin_city_card_export_all', route_params + {'_format': 'csv'}) }}"><i class="fa fa-arrow-circle-o-down" aria-hidden="true"></i>CSV</a><li>
                            <li><a href="{{ path('admin_city_card_export_all', route_params + {'_format': 'xls'}) }}"><i class="fa fa-arrow-circle-o-down" aria-hidden="true"></i>XLS</a><li>
                        </ul>
                    </div>

                    <div class="btn-group">
                        <button type="button" class="btn btn-default dropdown-toggle" {{ not enable_export ? 'disabled="disabled"' }} data-toggle="dropdown">
                            <i class="fa fa-share-square-o" aria-hidden="true"></i>
                            Export Listes
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="{{ path('admin_city_card_export_lists', route_params + {'_format': 'csv'}) }}"><i class="fa fa-arrow-circle-o-down" aria-hidden="true"></i>CSV</a><li>
                            <li><a href="{{ path('admin_city_card_export_lists', route_params + {'_format': 'xls'}) }}"><i class="fa fa-arrow-circle-o-down" aria-hidden="true"></i>XLS</a><li>
                        </ul>
                    </div>

                    {% block pager_results parent() %}
                </div>
            </div>
        </div>

        {% block pager_links parent() %}
    {% endif %}
{% endblock %}
