{% extends 'base.html.twig' %}

{% set is_host = is_host(committee) %}

{% block content %}
    <main class="committee">
        <div class="l__wrapper l__row l__row--top l__row--h-stretch l__tablet--col b__nudge--bottom-small">
            <a href="{{ path('app_search_committees') }}" class="back-to-list icon--with-text text--summary">
                {{ include('components/caret--left.html.twig') }}
                Retour à la liste des comités</a>
        </div>

        <header class="background--blue space--60-0">
            <div class="l__wrapper--medium l__row l__row--h-stretch l__mobile--col">
                <div class="text--white committee__header__titles">
                    <div class="text--all-caps text--small b__nudge--bottom-tiny">Comité local</div>
                    <h2 class="text--large">
                        {{ include('components/location-pin.html.twig') }}
                        <span id="committee-name" class="committee__name">{{ committee.name }}</span>
                    </h2>
                </div>

                <div class="l__col">
                    {% block committee_lcol %}{% endblock %}
                </div>
            </div>
        </header>

        <div class="l__wrapper l__row l__row--top l__row--h-stretch l__tablet--col">
            <div class="committee__main l__wrapper--main l__wrapper--main-left">
                {% block committee_content %}{% endblock %}
            </div>

            {{ include('committee/_sidebar.html.twig') }}

        </div>

    </main>
{% endblock %}
