{% extends 'base.html.twig' %}

{% block title %}
    Membres du comité « {{ committee.name }} » {{ parent() }}
{% endblock %}

{% block banner '' %}

{% block javascripts %}
    <script type="application/javascript">
        var allCheckbox = dom('#members-check-all');
        var selectionCheckboxes = document.getElementsByName('members[]');
        var contactButton = dom('#members-contact-button');
        var contactSelection = dom('#members-contact-selection');
        var exportButton = dom('#members-export-button');
        var exportSelection = dom('#members-export-selection');

        // Bind the 'select all' checkbox
        on(allCheckbox, 'change', function() {
            if (allCheckbox.checked) {
                toggleCheckboxs(true);
                toggleButtons(true);
            } else {
                toggleCheckboxs(false);
                toggleButtons(false);
            }
        });

        // Bind each 'selection' checkbox
        selectionCheckboxes.forEach(function(element) {
            on(element, 'change', function() {
                var all = true;

                // Default behaviour
                toggleButtons(false);
                allCheckbox.checked = false;

                selectionCheckboxes.forEach(function (element) {
                    if (element.checked) {
                        // Enable button if at least one selection checkbox is checked
                        toggleButtons(true);
                    } else {
                        all = false;
                    }
                });

                // When all selection checkbox are checked, also check the 'select all' checkbox
                if (all) {
                    allCheckbox.checked = true;
                }
            });
        });

        // Toggle action buttons
        function toggleButtons(value) {
            contactButton.disabled = !value;
            exportButton.disabled = !value;
        }

        // Toggle each 'selection' checkbox
        function toggleCheckboxs(value) {
            selectionCheckboxes.forEach(function (element) {
                element.checked = value;
            });
        }

        // Bind the export button (build a Json list of members to export)
        on(exportButton, 'click', function () {
            var members = [];

            selectionCheckboxes.forEach(function(element) {
                if (element.checked) {
                    members.push(element.value);
                }
            });

            exportSelection.value = JSON.stringify(members);
        });

        // Bind the export button (build a Json list of members to export)
        on(contactButton, 'click', function () {
            var members = [];

            selectionCheckboxes.forEach(function(element) {
                if (element.checked) {
                    members.push(element.value);
                }
            });

            contactSelection.value = JSON.stringify(members);
        });
    </script>
{% endblock %}

{% block content %}
    {% set is_host = is_host(committee) %}

    <section class="l__wrapper--medium">
        <h1>{{ committee.name }}</h1>

        <a href="#">Discussion</a>
        <strong>Membres</strong>

        <a href="{{ committee_path('app_committee_edit', committee) }}">Editer le comité</a>

        <form method="post" action="{{ committee_path('app_commitee_contact_members', committee) }}">
            <input type="hidden" name="token" value="{{ csrf_token('committee.contact_members') }}" />
            <input type="hidden" name="contacts" value="" id="members-contact-selection" />

            <button id="members-contact-button" disabled="disabled">Contacter</button>
        </form>

        <form method="post" action="{{ committee_path('app_commitee_export_members', committee) }}">
            <input type="hidden" name="token" value="{{ csrf_token('committee.export_members') }}" />
            <input type="hidden" name="exports" value="" id="members-export-selection" />

            <button id="members-export-button" disabled="disabled">Exporter</button>
        </form>

        <a href="#" class="btn">Inviter des personnes</a>

        <table>
            <tr>
                <th><input type="checkbox" id="members-check-all" /></th>
                <th>Prénom</th>
                <th>Nom</th>
                <th>Age</th>
                <th>Code Postal</th>
            </tr>
            {% for member in members %}
                <tr>
                    <td><input type="checkbox" name="members[]" value="{{ member.uuid }}" /></td>
                    <td>{{ member.firstName }}</td>
                    <td>{{ member.lastName }}</td>
                    <td>{{ member.age }}</td>
                    <td>{{ member.cityName }}</td>
                </tr>
            {% endfor %}
        </table>
    </section>

    {{ include('committee/_sidebar.html.twig') }}
{% endblock %}
