{% extends 'base.html.twig' %}

{% block title committee.name %}

{% block banner '' %}

{% block javascripts %}
    <script type="text/javascript">
        Kernel.onLoad(function(di) {
            var page = 1;
            var limit = {{ committee_timeline_max_messages }};
            var moreButton = dom('#committee-timeline-more');

            on(moreButton, 'click', function() {
                page++;
                di.get('api').getCommitteeTimelineFeed(
                    '{{ committee.uuid }}',
                    '{{ committee.slug }}',
                    ((page - 1) * limit),
                    function (response) {
                        if (response instanceof XMLHttpRequest) {
                            hide(moreButton);
                            return;
                        }
            
                        var newPage = document.createElement('div');
                            newPage.id = 'committee-timeline-page-'+page;
                            newPage.innerHTML = response;

                        insertAfter(dom('#committee-timeline-page-'+(page-1)), newPage);
                    }
                );
            });
        });
    </script>
{% endblock %}

{% block content %}
    {% set is_host = is_host(committee) %}

    <section class="l__wrapper--medium">
        <div class="committee">
            <h2 id="committee-name">{{ committee.name }}</h2>
        </div>

        <div>
            {% if not is_granted('ROLE_ADHERENT') %}
                <div class="committee-link committee-follow-disabled">
                    Suivre ce comité
                </div>
                <a href="{{ path('app_membership_register') }}" id="committee-register-link">Adhérer à En Marche!</a>
            {% elseif can_follow(committee) %}
                <a href="{{ committee_path('app_committee_unfollow', committee) }}" class="committee-link committee-follow">
                    Suivre ce comité
                </a>
            {% elseif can_unfollow(committee) %}
                <a href="{{ committee_path('app_committee_unfollow', committee) }}" class="committee-link committee-unfollow">
                    Quitter ce comité
                </a>
            {% endif %}
        </div>
    </section>

    <hr/>

    <section class="l__wrapper--medium committee-timeline" id="committee-timeline">
        <div id="committee-timeline-page-1">
            {{ include('committee/timeline/feed.html.twig') }}
        </div>
        <span>
            <button role="button" class="btn" id="committee-timeline-more">Afficher plus</button>
        </span>
    </section>
    
    <hr/>

    <section class="l__wrapper--medium">
        {% if is_host %}
            <ul id="committee-host-nav">
                <li>
                    Discussion
                </li>
                <li>
                   <a href="{{ committee_path('app_commitee_list_members', committee) }}">
                       Membres
                   </a>
                </li>
                <li>
                    <a href="{{ committee_path('app_committee_edit', committee) }}">Éditer le comité</a>
                </li>
            </ul>

            <div id="comittee-host-menu">
                <ul>
                    <li>Créer un message</li>
                    <li>
                        <a href="{{ committee_path('app_committee_add_event', committee) }}">Créer un événement</a>
                    </li>
                </ul>
            </div>

            <div id="committee-message-form">
                {{ form(form) }}
            </div>
        {% endif %}
    </section>

    <section class="l__wrapper--medium">
        <div class="committee-details">
            <h4>{{ 'committee.members_count'|transchoice(committee_members_count) }}</h4>
            <h5>À propos</h5>
            <p id="committee-description">{{ committee.description }}</p>
        </div>
        <div class="committee-details">
            <h5>Administration</h5>
            <ul class="committee-hosts">
                {% for host in committee_hosts %}
                    <li class="committee-host">
                        {{ host }}
                        {% if is_host and app.user.equals(host) %}
                            (vous)
                        {% else %}
                            <a href="mailto:{{ host.emailaddress }}">Contacter</a>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="committee-details">
            <h5>Localisation</h5>
            <img src="{{ path('map_url', { latitude: committee.latitude, longitude: committee.longitude }) }}" alt="Plan" />
        </div>
        <div class="committee-details">
            <h5>Partager</h5>
            {% for key, link in committee.socialNetworksLinks %}
                <a href="{{ link.url }}" target="_blank" class="committee-{{ key }}">
                    {{- link.label -}}
                </a>
            {% endfor %}
        </div>
        <div class="committee-details">
            <a href="#">Signaler ce comité local</a>
        </div>
    </section>
{% endblock %}
