{% extends 'base.html.twig' %}

{% block title committee.name %}

{% block banner '' %}

{% block content %}
    {% set is_host = is_host(committee) %}

    <section class="l__wrapper--medium">
        <div class="committee">
            <h2 id="committee-name">{{ committee.name }}</h2>
        </div>

        <div>
            {% if not is_granted('ROLE_ADHERENT') %}
                <div class="committee-link committee-follow-disabled">
                    Suivre ce comité
                </div>
                <a href="{{ path('app_membership_register') }}" id="committee-register-link">Adhérer à En Marche!</a>
            {% elseif can_follow(committee) %}
                <a href="{{ committee_path('app_committee_unfollow', committee) }}" class="committee-link committee-follow">
                    Suivre ce comité
                </a>
            {% elseif can_unfollow(committee) %}
                <a href="{{ committee_path('app_committee_unfollow', committee) }}" class="committee-link committee-unfollow">
                    Quitter ce comité
                </a>
            {% endif %}
        </div>
    </section>

    <section class="l__wrapper--medium">
        {% if is_host %}
            <ul id="committee-host-nav">
                <li>
                    Discussion
                </li>
                <li>
                   <a href="{{ committee_path('app_commitee_list_members', committee) }}">
                       Membres
                   </a>
                </li>
                <li>
                    <a href="{{ committee_path('app_committee_edit', committee) }}">
                        Éditer le comité
                    </a>
                </li>
            </ul>

            <div id="comittee-host-menu">
                {#
                    TODO implement event message form
                #}
                <a href="#">Créer un événement</a>
            </div>
        {% endif %}
    </section>

    <section class="l__wrapper--medium">
        <div class="committee-details">
            <h4>{{ 'committee.members_count'|transchoice(committee_members_count) }}</h4>
            <h5>À propos</h5>
            <p id="committee-description">{{ committee.description }}</p>
        </div>
        <div class="committee-details">
            <h5>Administration</h5>
            <ul class="committee-hosts">
                {% for host in committee_hosts %}
                    <li class="committee-host">
                        {{ host }}
                        {% if is_host and app.user.equals(host) %}
                            (vous)
                        {% else %}
                            <a href="mailto:{{ host.emailaddress }}">Contacter</a>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="committee-details">
            <h5>Localisation</h5>
            {#
                TODO add static image
            #}
        </div>
        <div class="committee-details">
            <h5>Partager</h5>
            {% if committee.facebookPageUrl %}
                <a href="{{ committee.facebookPageUrl }}" target="_blank" class="committee-facebook">
                    Facebook
                </a>
            {% endif %}
            {% if committee.googlePlusPageUrl %}
                <a href="{{ committee.googlePlusPageUrl }}" target="_blank" class="committee-google_plus">
                    Google +
                </a>
            {% endif %}
            {% if committee.twitterNickname %}
                <a href="https://twitter.com/{{ committee.twitterNickname }}" target="_blank" class="committee-twitter">
                    Twitter
                </a>
            {% endif %}
        </div>
        <div class="committee-details">
            <a href="#">Signaler ce comité local</a>
        </div>
    </section>
{% endblock %}
