{% extends 'committee/_candidacy_layout.html.twig' %}

{% block page_title 'Choix de votre binôme' %}

{% block candidacy_content %}
    <div class="l__wrapper b__nudge--bottom-huge">
        <div class="b__nudge--top b__nudge--bottom">
            <a href="{{ path('app_committee_show', {slug: committee.slug}) }}" class="text--body link--no-decor link--blue--dark">⟵ Retour</a>
        </div>

        <div class="l__wrapper--slim">
            <h2 class="font-roboto text--medium b__nudge--bottom-large b__nudge--top-50">Choix de votre binôme</h2>

            <p class="text--body text--gray text--small b__nudge--bottom-50">
                Vous ne retrouverez ici que les membres du comité pouvant former un binôme. <br/><br/>

                Si la personne que vous recherchez n'apparait pas, vérifiez si celle-ci n'est pas déjà candidate, est bien membre du comité depuis plus de 30 jours, adhérente depuis plus de 3 mois, qu'elle est certifiée et que sa civilité est correctement renseigné dans son profil.
            </p>

            {{ form_start(form, {attr: {class: 'em-form'}}) }}

            {{ form_errors(form) }}

            <div class="em-form__group">
                {{ form_errors(form.invitations) }}

                {{ form_label(form.invitations, 'Sélectionnez un membre pour composer votre binôme', {label_attr: {class: 'em-form__label'}}) }}

                {{ form_widget(form.invitations) }}

                <div class="membership-widget-wrapper"></div>
            </div>

            <div>
                {{ form_row(form.save, {label: 'Envoyer l\'invitation', attr: {class: 'btn btn--blue btn--large-and-full b__nudge--top-15'}}) }}

                {% if not invitation or not invitation.id %}
                    <a href="{{ path('app_committee_candidature_edit', {slug: committee.slug}) }}" class="btn btn--ghosting--blue btn--large-and-full b__nudge--top-15">
                        Étape précédente
                    </a>
                {% endif %}
            </div>

            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        Kernel.onLoad(function() {
            App.runCommitteeCandidacy(
                '{{ committee.slug }}',
                '#{{ form.save.vars.id }}',
                '.membership-widget-wrapper'
            );
        });
    </script>
{% endblock %}
