{% extends 'committee/_candidacy_layout.html.twig' %}

{% if designation.type == constant('App\\VotingPlatform\\Designation\\DesignationTypeEnum::COMMITTEE_SUPERVISOR') %}
    {% set title = 'Candidats en binômes' %}
    {% set description = 'Ne s\'affichent ici que les candidatures confirmées, en binômes partitaires.' %}
{% else %}
    {% set title = 'Candidat(e)s' %}
    {% set description = '' %}
{% endif %}

{% block page_title title %}

{% block candidacy_content %}
    <section class="l__wrapper b__nudge--bottom-huge">
        <div class="b__nudge--top b__nudge--bottom">
            <a href="{{ path('app_committee_show', {slug: committee.slug}) }}" class="text--body link--no-decor link--blue--dark">⟵ Retour</a>
        </div>

        <h2 class="b__nudge--bottom-larger">{{ title }}</h2>

        <p class="text--body text--gray text--small b__nudge--bottom-50">{{ description }}</p>

        <div class="committee__candidacies b__nudge--bottom-larger">
            {% for candidacy in candidacies if not candidacy.isTaken %}
                <div class="territorial-council__candidacies l__row l__row--wrap">
                    {% if candidacy.hasOtherCandidacies() %}
                        {% set candidacies_sub_array = candidacy.getCandidaciesGroup().getCandidacies()|sort((a, b) => b.isFemale <=> a.isFemale) %}
                    {% else %}
                        {% set candidacies_sub_array = [candidacy] %}
                    {% endif %}

                    {% for cand in candidacies_sub_array %}
                        {{ cand.take() }}

                        {% set adherent = cand.committeeMembership.adherent %}

                        <div class="territorial-council__candidate">
                            {% include 'components/_member_identity_box.html.twig' with {
                                initials: adherent.initials,
                                image_path: cand.imagePath,
                                full_name: adherent.fullName,
                                details: '<span class="candidate-gender l__col l__col--center">' ~ (cand.isFemale ? 'F' : 'H') ~ '</span>',
                            } %}
                        </div>
                    {% endfor %}

                    <div>
                        <a href="#" class="text--body text--blue--dark b__nudge--none em-modal--trigger territorial-council__biography"
                           data-content-element="#candidate-biography-content-{{ candidacy.uuid }}"
                           data-modal-side="right"
                        > <img src="{{ asset('/images/icons/chevron-down.svg') }}" /> </a>

                        <div id="candidate-biography-content-{{ candidacy.uuid }}" class="hidden">
                            <h3 class="text--muted text--normal text--uppercase b__nudge--bottom">Présentations</h3>

                            {% for cand in candidacies_sub_array %}
                                <h2 class="text--medium-large b__nudge--bottom-larger b__nudge--top-60">{{ cand.committeeMembership.fullName }}</h2>
                                <p class="text--body text--dark">{{ cand.biography|nl2br }}</p>
                            {% endfor %}

                            {% if designation.type == constant('App\\VotingPlatform\\Designation\\DesignationTypeEnum::COMMITTEE_SUPERVISOR') %}
                                <h3 class="text--muted text--normal text--uppercase b__nudge--bottom b__nudge--top-60">Notre projet</h3>

                                {% if (election.isCandidacyPeriodStarted() and not election.isCandidacyPeriodActive()) or first_candidacy.isPublicFaithStatement %}
                                    <p class="text--body text--dark">{{ candidacy.faithStatement|nl2br }}</p>
                                {% else %}
                                    <p class="text--body text--gray text--small">Le projet de ce binôme n'a pas encore été publié.</p>
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% else %}
                <p class="text--center">
                    <img src="{{ asset('/images/icons/icn_no-result.svg') }}" class="icn--no-result" width="30" /><br/>
                    Aucune candidature
                </p>
            {% endfor %}
        </div>
    </section>
{% endblock %}
