{% extends 'committee/edit_candidacy.html.twig' %}

{% block page_title 'Mes informations de candidature' %}

{% block candidacy_form %}
    <div class="l__wrapper b__nudge--bottom-huge">
        <div class="b__nudge--top b__nudge--bottom">
            <a href="{{ path('app_committee_show', {slug: committee.slug}) }}" class="text--body link--no-decor link--blue--dark">⟵ Retour</a>
        </div>

        <div class="l__wrapper--slim">
            <h2 class="font-roboto text--medium b__nudge--bottom-large b__nudge--top-50">Mes informations de candidature</h2>

            <p class="text--body text--dark b__nudge--bottom-50">
                Ajoutez une photo de vous et un texte de présentation à votre candidature. Ces informations ne
                seront visibles que lorsque votre binôme sera constitué et resteront modifiables jusqu'à la
                clôture des candidatures.
            </p>

            {{ form_start(form, {attr: {class: 'em-form'}}) }}

            {{ form_errors(form) }}

            {{ form_row(form.image) }}

            <div class="em-form__group">
                {{ form_label(form.biography, 'Ajouter une présentation', {label_attr: {class: 'em-form__label'}}) }}

                <div class="text--body text--dark b__nudge--bottom-small">Présentez-vous succinctement à ceux qui ne vous connaissent pas encore.</div>

                {{ form_errors(form.biography) }}

                <div class="em-form__field--ctn">
                    {{ form_widget(form.biography, {attr: {class: ' em-form__field ', rows: 50}}) }}
                </div>
            </div>

            <hr class="separator b__nudge--top-50" />

            <h2 class="font-roboto text--medium b__nudge--bottom-large b__nudge--top-50">Notre projet</h2>

            <p class="text--body text--dark b__nudge--bottom-50">
                Rédigez votre projet avec votre binôme pour motiver votre candidature. Ce texte, éditable par les deux membres,
                ne sera visible par l'ensemble des membres du comité qu'une fois la case « Publier notre projet »
                cochée ou les candidatures closes.
            </p>

            <div class="em-form__group">
                {{ form_errors(form.faithStatement) }}

                <div class="em-form__field--ctn">
                    {{ form_widget(form.faithStatement, {attr: {class: ' em-form__field ', rows: 80}}) }}
                </div>
            </div>

            <div class="em-form__group">
                <div class="form__checkbox">
                    {{ form_widget(form.isPublicFaithStatement) }}

                    <label class="form form__label" for="{{ form.isPublicFaithStatement.vars.id }}">Publier notre projet</label>
                </div>
            </div>

            <p class="font-roboto text-center">
                ⚠️ <strong>Une fois votre binôme validé, vous ne pourrez plus annuler votre candidature.</strong>
            </p>

            <div>
                {{ form_row(form.save, {label: invitation is defined ? 'Accepter et enregistrer' : (candidacy and candidacy.id ? 'Enregistrer' : 'Enregistrer et choisir mon binôme'), attr: {class: 'btn btn--blue btn--large-and-full b__nudge--top-15'}}) }}
            </div>

            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
