{% extends 'base_renaissance.html.twig' %}

{% set default_bg_color = 'bg-light-blue' %}
{% set default_background_image = '/images/renaissance/parcours-adherent.jpg' %}

{% block content %}
    <section class="w-screen h-screen flex flex-col md:flex-row">
        <div class="flex flex-col h-1/4 md:h-full w-full md:w-1/2 bg-cover"
             style="background-image: url('{{ asset(background_image|default(default_background_image)) }}')">

            <div class="flex justify-between items-center border-b-2 border-white/10 w-full">
                <a href="{{ path('app_renaissance_homepage') }}" class="flex items-center pl-7.5 h-14">
                    <img src="{{ asset('/images/renaissance/logo.svg') }}" alt="logo"/>
                </a>

                <a href="{{ path('app_renaissance_homepage') }}" class="md:hidden text-white font-bold text-sm pr-7.5">
                    <i class="fa fa-caret-left text-white mr-4"></i> Retour
                </a>
            </div>

            {% block content_left_side '' %}
        </div>

        <!-- Right side -->
        <div class="flex flex-col h-3/4 md:h-full md:w-1/2 {{ bg_color|default(default_bg_color) }} text-white">
            {% block back_btn %}
                <div class="hidden md:flex md:border-b-2 md:border-white/10 md:justify-end md:items-center">
                    <a href="{% block back_btn_target path('app_renaissance_homepage') %}" class="flex items-center md:mr-7.5 text-white font-bold text-sm h-14">
                        <i class="fa fa-caret-left text-white mr-4"></i> Retour
                    </a>
                </div>
            {% endblock %}

            <div class="overflow-auto flex flex-col flex-grow">
                {% block content_right_side '' %}
            </div>
        </div>
    </section>
{% endblock %}
