{% use "form_div_layout.html.twig" %}

{% block form_widget_simple -%}
    {% set attr = attr|merge({class: (attr.class|default('') ~ ' form-control')|trim}) %}
    {{- parent() -}}
{%- endblock form_widget_simple %}

{%- block date_widget -%}
    {%- if widget == 'single_text' -%}
        {{ block('form_widget_simple') }}
    {%- else -%}
        <div {{ block('widget_container_attributes') }} class="flex flex-row space-x-4 w-full">
            {{- date_pattern|replace({
                '{{ year }}':  form_widget(form.year),
                '{{ month }}': form_widget(form.month),
                '{{ day }}':   form_widget(form.day),
            })|raw -}}
        </div>
    {%- endif -%}
{%- endblock date_widget -%}

{%- block choice_widget_collapsed -%}
    {% set attr = attr|merge({class: (attr.class|default('') ~ ' form-control')|trim}) %}
    {{- parent() -}}
{%- endblock choice_widget_collapsed -%}

{% block form_row -%}
    {%- set row_attr = row_attr|merge({class: (row_attr.class|default('') ~ ' form-group')|trim}) -%}
    {{- parent() -}}
{%- endblock form_row %}

{%- block form_errors -%}
    {%- if errors|length > 0 -%}
        <div class="text-red-400 mb-2">{{ parent() }}</div>
    {%- endif -%}
{%- endblock form_errors -%}

{% block _app_renaissance_membership_amount_widget %}
    {{ block('choice_tab_widget') }}
{% endblock %}

{% block choice_tab_widget %}
    <div class="flex">
        {%- for child in form %}
            {{- form_widget(child, {attr: {class: 'hidden'}}) -}}
            {{- form_label(child, null, {translation_domain: choice_translation_domain, label_attr: {class: 'button-group grow'}}) -}}
        {% endfor -%}
    </div>
{% endblock %}
