{% use "form_div_layout.html.twig" %}

{% block form_widget_simple -%}
    {% set attr = attr|merge({class: (attr.class|default('') ~ ' form-control')|trim}) %}
    {{- parent() -}}
{%- endblock form_widget_simple %}

{%- block date_widget -%}
    {%- if widget == 'single_text' -%}
        {{ block('form_widget_simple') }}
    {%- else -%}
        <div {{ block('widget_container_attributes') }} class="flex flex-row space-x-4 w-full">
            {{- date_pattern|replace({
                '{{ year }}':  form_widget(form.year),
                '{{ month }}': form_widget(form.month),
                '{{ day }}':   form_widget(form.day),
            })|raw -}}
        </div>
    {%- endif -%}
{%- endblock date_widget -%}

{%- block choice_widget_expanded -%}
    {% set attr = attr|merge({class: (attr.class|default('') ~ ' flex')|trim}) %}

    <div {{ block('widget_container_attributes') }}>
        {%- for child in form %}
            <div class="mr-3">
                {{- form_widget(child) -}}
                {{- form_label(child, null, {label_attr: { class: 'ml-2' }, translation_domain: choice_translation_domain}) -}}
            </div>
        {% endfor -%}
    </div>
{%- endblock choice_widget_expanded -%}

{%- block choice_widget_collapsed -%}
    {% set attr = attr|merge({class: (attr.class|default('') ~ ' form-control')|trim}) %}
    {{- parent() -}}
{%- endblock choice_widget_collapsed -%}

{% block form_row -%}
    {%- set row_attr = row_attr|merge({class: (row_attr.class|default('') ~ ' form-group')|trim}) -%}
    {{- parent() -}}
{%- endblock form_row %}

{%- block form_errors -%}
    {%- if errors|length > 0 -%}
        <div class="text-red-500 mb-2">{{ parent()|raw }}</div>
    {%- endif -%}
{%- endblock form_errors -%}

{% block adhesion_amount_widget %}
    <div class="grid gap-5 md:grid-cols-2 md:gap-x-4">
        {%- for child in form %}
            <div class="cotisation-checkbox">
                {{- form_widget(child, {attr: {class: 'sr-only choice-widget'}}) -}}
                <label for="{{ child.vars.id }}" class="relative flex cursor-pointer rounded-lg border bg-white p-4 shadow-sm focus:outline-none">
                    <span class="flex flex-1">
                        <span class="flex flex-col">
                            <span class="amount-text-label block text-sm font-medium uppercase tracking-wider text-gray-600">{{ child.vars.label }}</span>
                            <span class="mt-2 text-3xl leading-10 font-medium text-gray-900">{{ child.vars.value }} <sup>€</sup></span>
                        </span>
                    </span>
                    <svg class="h-5 w-5 text-green" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                        <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z" clip-rule="evenodd" />
                    </svg>
                    <span class="active-border pointer-events-none absolute -inset-px rounded-lg border" aria-hidden="true"></span>
                </label>
            </div>
        {% endfor -%}
    </div>
{% endblock %}

{% block choice_tab_widget %}
    <div class="flex">
        {%- for child in form %}
            {{- form_widget(child, {attr: {class: 'hidden choice-widget'}}) -}}
            {{- form_label(child, null, {translation_domain: choice_translation_domain, label_attr: {class: 'button-group grow'}}) -}}
        {% endfor -%}
    </div>
{% endblock %}

{% block _app_renaissance_donation_confirmDonationType_row %}
    {{ form_errors(form.parent.children.confirmSubscriptionAmount) }}
    {%- for child in form %}
        <div class="form-radio">
            {{- form_widget(child) -}}
            <label for="{{ child.vars.id }}">
                {% if child.vars.value == constant('App\\Form\\Renaissance\\Donation\\DonationRequestConfirmType::CONFIRM_DONATION_TYPE_UNIQUE') %}
                    Je fais un don unique de {{ form.parent.children.amount.vars.value|format_currency('EUR')|replace({',00' : ''})  }}
                {% else %}
                    Je fais un don mensuel de  <span class="inline-flex items-baseline"> {{ form_widget(form.parent.children.confirmSubscriptionAmount, {attr: {class: 'form-group'}}) }} <span> &nbsp;€</span></span>
                {% endif %}
            </label>
        </div>
    {% endfor -%}
{% endblock %}

{% block _app_renaissance_membership_gender_row %}
    {{- form_label(form, null, {label_attr: { class: 'text-sm uppercase tracking-wider text-re-blue-500 font-medium' }}) -}}
    {{ form_errors(form) }}
    <div class="mt-1 isolate flex rounded-md w-full max-w-xs">
        {%- for child in form %}
            <div class="civility-choice relative inline-flex w-full items-center justify-center first:rounded-l-md last:rounded-r-md last:-ml-px border border-re-blue-100 overflow-hidden">
                {{- form_widget(child, {attr: {class: 'sr-only'}}) -}}
                <label for="{{ child.vars.id }}" class="cursor-pointer block text-center w-full bg-gray px-4 py-2.5 text-sm font-medium text-re-blue-700 hover:bg-re-blue-50 uppercase tracking-wider">
                    {{ child.vars.label|trans }}
                </label>
            </div>
        {% endfor -%}
    </div>
{% endblock %}

{% block autocomplete_address_row %}
    {{ block('form_errors') }}

    {{ form_row(form.address, { label: 'Adresse postale' }) }}
    {{ form_row(form.cityName) }}

    <div class="flex space-x-4">
        {{ form_row(form.postalCode) }}
        {{ form_row(form.country) }}
    </div>
{% endblock %}

{% block autocomplete_input_widget %}
    {{ block('form_widget') }}
    <div class="address-autocomplete" data-form="{{ form.vars.name }}"></div>
{% endblock %}
