{% extends 'base_renaissance.html.twig' %}

{% block page_title 'Bienvenue' %}

{% form_theme newsletter_form 'renaissance/form_theme.html.twig' %}

{% block content %}
    {% include 'renaissance/partials/site-header.html.twig' %}

    <section class="h-[50rem] md:h-[65.75rem] lg:h-[69.625rem] pt-25 md:pt-[10.3125rem] px-3.75 md:px-20 bg-light-blue">
        <div class="xl:container">
            <div class="max-w-[345px] md:max-w-[900px] mb-12.5 md:mb-[4.6875rem]">
                <p class="text-white font-bold text-3xl md:text-[4.375rem] md:leading-[5.5rem]">
                    Rejoignez Renaissance, le parti d'Emmanuel Macron.
                </p>
            </div>
            <div class="md:flex md:gap-x-37.5 mb-12.5 text-white">
                <div class="flex-column-container max-w-[31.875rem]">
                    {% if app.user %}
                        <p class="flex-1 font-medium mb-3.75 md:mb-12.5">
                            Bonjour, {{ app.user.firstName }} !
                        </p>
                        <a class="flex bg-dark-blue px-5 py-3 pb-2 md:px-7.5 md:py-4.25 rounded w-fit items-center" href="{{ path('logout', {app_domain: renaissance_host}) }}">
                        <span class="font-bold text-xs md:text-base uppercase mr-4">
                            Me déconnecter
                        </span>
                            <i class="fa fa-caret-right"></i>
                        </a>
                    {% else %}
                        <p class="flex-1 font-medium mb-3.75 md:mb-12.5">
                            Déjà adhérent de <i>La République En Marche</i>, vous pouvez rejoindre <i>Renaissance</i> en quelques clics !
                        </p>
                        <a class="flex bg-dark-blue px-5 py-3 pb-2 md:px-7.5 md:py-4.25 rounded w-fit items-center" href="{{ path('app_renaissance_login') }}">
                        <span class="font-bold text-xs md:text-base uppercase mr-4">
                            Me connecter
                        </span>
                            <i class="fa fa-caret-right"></i>
                        </a>
                    {% endif %}
                </div>
                <div class="flex-column-container max-w-[31.875rem]">
                    {% if app.user and app.user.hasActiveMembership %}
                        <p class="flex-1 font-medium mb-3.75 md:mb-12.5">
                            Vous souhaitez faire un don?
                        </p>
                        <a href="{{ path('app_renaissance_donation') }}" class="flex bg-dark-blue px-5 py-3 pb-2 md:px-7.5 md:py-4.25 rounded w-fit items-center">
                            <span class="font-bold text-xs md:text-base uppercase mr-4">
                                Je donne
                            </span>
                            <i class="fa fa-caret-right"></i>
                        </a>
                    {% else %}
                        <p class="flex-1 font-medium mb-3.75 md:mb-12.5">
                            Vous partagez nos valeurs et vous souhaitez défendre nos couleurs : adhérez en 3 minutes au parti d’Emmanuel Macron !
                        </p>
                        <a href="{{ path('app_renaissance_adhesion') }}" class="flex bg-dark-blue px-5 py-3 pb-2 md:px-7.5 md:py-4.25 rounded w-fit items-center">
                            <span class="font-bold text-xs md:text-base uppercase mr-4">
                                Adhérer
                            </span>
                            <i class="fa fa-caret-right"></i>
                        </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>

    <!-- Translated picture/video -->
    <div class="xl:container h-[180px] md:h-[350px] lg:h-[500px] mx-3.75 md:mx-20">
        <img src="{{ asset('images/renaissance/bain-foule-macron.jpg') }}" alt="bain-foule-macron" class="rounded-lg w-full -translate-y-1/2"/>
    </div>

    <section class="px-3.75 md:px-20 mb-12.5 md:mb-25 -mt-12.5">
        <div class="max-w-7xl items-start mx-auto md:flex md:gap-x-28 lg:gap-x-37.5">
            <div class="md:sticky md:top-8 flex-1 md:w-1/3 border-t border-gray pt-7.5 md:pt-12.5">
                <p class="text-dark-blue font-bold text-[1.5rem] leading-8 md:text-custom-xl mb-6.25 md:mb-7.5">
                    Renaissance: <br/>
                    Qui <span class="stabilo stabilo-yellow">sommes-nous?</span>
                </p>
                <p class="text-dark-blue font-normal text-lg leading-6.25 md:text-2xl md:leading-9 mb-12.5 md:mb-0">
                    Depuis le 6 avril 2016, nous avons entamé un rassemblement inédit des forces progressistes du pays autour d’un grand projet commun : bâtir une France unie dans une Europe plus forte.
                </p>
            </div>
            <div class="flex-1">
                <img src="{{ asset('images/renaissance/qui-sommes-nous.jpg') }}" class="inline rounded-lg mb-12.5" alt="qui-sommes-nous"/>
                <p class="font-normal md:text-lg md:leading-7.5">
                    « Retrouver l’esprit de conquête de 2016, construire le parti le plus décentralisé de la Vème République, unir un collectif qui puisera ses forces sur le terrain et rassemblera toutes les sensibilités progressistes de notre pays : voilà notre feuille de route pour les mois qui viennent.
                </p>
                <br/>
                <p class="font-normal md:text-lg md:leading-7.5">
                    Face à la montée des populismes et des conservatismes, et par-delà les crises, nous ancrerons les idées et le projet de Renaissance dans les grands débats du siècle.
                </p>
                <br/>
                <p class="font-normal md:text-lg md:leading-7.5">
                    Ce sera notre honneur et notre responsabilité. »
                </p>
                <br/>
                <p class="font-normal md:text-lg md:leading-7.5">
                    Stéphane Séjourné,
                    Secrétaire général de Renaissance
                </p>
            </div>
        </div>
    </section>

    <!-- Donation section -->
    <section class="w-full md:mx-auto mb-12.5 lg:mb-25">
        <div class="max-w-7xl bg-green md:rounded-lg md:m-20 xl:mx-auto lg:flex px-3.75 md:px-20 py-12.5 md:py-30">
            <div class="flex-1 lg:border-r-2 lg:border-white/10 lg:pr-31.25">
                <p class="text-white font-bold text-custom-2xl lg:text-[2.1875rem] lg:leading-10 mb-6.25 lg:mb-10">
                    Faire un don pour aider Renaissance
                </p>
                <p class="text-white font-medium lg:text-lg lg:leading-6.25">
                    66 % de votre don vient en déduction de votre impôt sur le revenu
                    (dans la limite de 20 % du revenu imposable).
                </p>
                <br/>
                <p class="text-white font-medium lg:text-lg lg:leading-6.25 mb-12.5 lg:mb-0">
                    Par exemple : un don de 100 € vous revient en réalité à 34 € et vous
                    fait bénéficier d’une réduction d’impôt de 66 €. Le montant annuel
                    de votre don ne peut pas excéder 7500 € par personne physique. Le
                    reçu fiscal pour votre don de l’année N vous sera envoyé au 2e
                    trimestre de l’année N+1.
                </p>
            </div>
            <div class="flex-1 lg:pl-31.25">
                <div class="flex flex-col">
                    {% include'renaissance/donation/partials/_quick_form.html.twig' with {form_donation: donation_form} %}
                </div>
            </div>
        </div>
    </section>

    <!-- Values and commitments -->
    <section class="px-3.75 md:px-20 bg-background-gray pt-12.5 lg:pt-25 mb-12.5 lg:mb-25">
        <div class="max-w-7xl mx-auto">
            <div class="md:flex md:gap-12.5 lg:gap-37.5 mb-12.5 lg:mb-25">
                <div class="md:w-2/5 lg:1/3">
                    <div class="divide-y border-gray-border border-0.5 w-full mb-7.5"></div>
                    <p class="text-dark-blue font-bold text-custom-2xl lg:text-custom-xl mb-6.25 lg:mb-7.5">
                        Nos valeurs et nos <span class="stabilo stabilo-yellow">engagements</span>
                    </p>
                    <p class="text-dark-blue font-normal text-lg leading-6.25 lg:text-2xl lg:leading-9 mb-12.5">
                        Ce texte coconstruit avec l’ensemble des fondateurs du parti, engage chaque adhérent de Renaissance.
                    </p>
                </div>
                <div class="md:w-3/5 lg:2/3">
                    <img
                        src="{{ asset('images/renaissance/nos-valeurs.jpg') }}"
                        class="rounded-lg md:h-full md:w-full"
                        alt="nos-valeurs"
                    />
                </div>
            </div>
            <div class="columns-2 md:columns-3 lg:columns-4 gap-3.75 lg:gap-10 pb-12.5 lg:pb-25">
                {% for commitment in commitments %}
                    {% set slug = commitment.title|slug %}
                    <div
                        id="valeur-{{ slug }}"
                        class="{{ not loop.first ? 'mt-8 ' }} h-fit bg-white active:bg-yellow px-3.75 py-5 cursor-pointer rounded p-8 hover:shadow-gray-200 hover:drop-shadow-lg hover:bg-yellow-400 duration-200 slide-over--trigger"
                        data-commitment-title="{{ commitment.title|e('html_attr') }}"
                        data-commitment-slug="{{ slug }}"
                        data-commitment-image="{{ url('asset_url', {path: commitment.getImagePath()}) }}"
                        data-commitment-description="{{ commitment.description|e('html_attr') }}"
                    >
                        <h3 class="text-light-blue font-medium text-custom-xs lg:text-custom-base2 mb-2.5">{{ commitment.title }}</h3>
                        <div class="text-medium-gray font-normal text-xs lg:text-custom-base2">{{ commitment.shortDescription }}</div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>

    <section class="px-3.75 md:px-20 bg-white mb-12.5 lg:mb-20">
        <div class="max-w-7xl mx-auto">
            <div class="md:flex md:gap-12.5 lg:gap-37.5 mb-12.5 lg:mb-25">
                <div class="md:w-2/5 lg:1/3">
                    <div class="divide-y border-gray-border border-0.5 w-full mb-7.5"></div>
                    <p class="text-dark-blue font-bold text-custom-2xl lg:text-custom-xl mb-6.25 lg:mb-7.5">
                        Le bureau <span class="stabilo stabilo-yellow">exécutif</span>
                    </p>
                    <p class="text-dark-blue font-normal text-lg leading-6.25 lg:text-2xl lg:leading-9 mb-12.5">
                        Une équipe paritaire de femmes et d’hommes engagés, rassemblant toutes les sensibilités de Renaissance et représentative de l’ensemble de nos territoires.
                    </p>
                </div>
                <div class="md:w-3/5 lg:2/3">
                    <img src="{{ asset('images/renaissance/burex-renaissance.jpg') }}" class="rounded-lg md:h-full w-full" alt="Burex"/>
                </div>
            </div>

            {% set memberGroups = [
                [
                    {
                        name: 'Emmanuel Macron',
                        position: 'Président d\'honneur',
                        image: 'images/renaissance/burex/macron.jpg',
                    },
                    {
                        name: 'Stéphane Séjourné',
                        position: 'Secrétaire général',
                        image: '/images/renaissance/burex/sejourne.jpg',
                    },
                ],
                [
                    {
                        name: 'Clément Beaune',
                        position: 'Secrétaire général délégué',
                        image: '/images/renaissance/burex/beaune.jpg',
                    },
                    {
                        name: 'Aurore Bergé',
                        position: 'Secrétaire générale déléguée',
                        image: '/images/renaissance/burex/berge.jpg',
                    },
                    {
                        name: 'Brigitte Bourguignon',
                        position: 'Secrétaire générale déléguée',
                        image: '/images/renaissance/burex/bourguignon.jpg',
                    },
                    {
                        name: 'Pascal Canfin',
                        position: 'Secrétaire général délégué',
                        image: '/images/renaissance/burex/canfin.jpg',
                    },
                    {
                        name: 'Bérangère Couillard',
                        position: 'Secrétaire générale déléguée',
                        image: '/images/renaissance/burex/couillard.jpg',
                    },
                    {
                        name: 'Gérald Darmanin',
                        position: 'Secrétaire général délégué',
                        image: '/images/renaissance/burex/darmanin.jpg',
                    },
                    {
                        name: 'Amélie de Montchalin',
                        position: 'Secrétaire générale déléguée',
                        image: '/images/renaissance/burex/montchalin.jpg',
                    },
                    {
                        name: 'Olivier Dussopt',
                        position: 'Secrétaire général délégué',
                        image: '/images/renaissance/burex/dussopt.jpg',
                    },

                    {
                        name: 'Fabienne Keller',
                        position: 'Secrétaire générale déléguée',
                        image: '/images/renaissance/burex/keller.jpg',
                    },
                    {
                        name: 'Bruno Le Maire',
                        position: 'Secrétaire général délégué',
                        image: '/images/renaissance/burex/lemaire.jpg',
                    },
                    {
                        name: 'Nathalie Nieson',
                        position: 'Secrétaire générale déléguée',
                        image: '/images/renaissance/burex/nieson.jpg',
                    },
                    {
                        name: 'Bénédicte Peyrol',
                        position: 'Secrétaire générale déléguée – Trésorière',
                        image: '/images/renaissance/burex/peyrol.jpg',
                    },
                ],
                [
                    {
                        name: 'Franck Riester',
                        position: 'Secrétaire général délégué',
                        image: '/images/renaissance/burex/riester.jpg',
                    },
                ]
            ] %}

            {% for members in memberGroups %}
                <div class="divide-y border-gray-border border-0.5 mb-6.25 lg:mb-12.5"></div>

                <div class="flex justify-center flex-wrap gap-x-3.75 gap-y-6.25 lg:gap-x-7.5 lg:gap-y-10">
                    {% for member in members %}
                        <div class="flex flex-col mb-6.25 lg:mb-12.5">
                            <img src="{{ asset(member.image) }}" class="rounded mb-10 md:mb-5 hover:scale-105 transition ease-in-out" height="100%" alt="{{ member.name }}"/>
                            <p class="text-center text-dark-gray font-medium text-xs leading-5 md:text-sm">{{ member.name }}</p>
                            <p class="text-center font-normal text-xs leading-4.5 md:text-sm">{{ member.position }}</p>
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    </section>

    <section class="px-3.75 md:px-20 bg-white mb-[4.6875rem] lg:mb-37.5">
        <div class="max-w-7xl mx-auto">
            <div class="md:flex md:gap-12.5 lg:gap-37.5 mb-12.5 lg:mb-25">
                <div class="md:w-2/5 lg:1/3">
                    <div class="divide-y border-gray-border border-0.5 w-full mb-7.5"></div>
                    <p class="text-dark-blue font-bold text-custom-2xl lg:text-custom-xl mb-6.25 lg:mb-7.5">
                        Le parti le plus <span class="stabilo stabilo-yellow">décentralisé</span> de France
                    </p>
                    <p class="text-dark-blue font-normal text-lg leading-6.25 lg:text-2xl lg:leading-9 mb-12.5 lg:mb-0">
                        Pour aller au plus près des Français et être présents partout sur le terrain, nous avons inscrit dans nos statuts une organisation décentralisée et différenciée.
                    </p>
                </div>
                <div class="md:w-3/5 lg:2/3">
                    <img src="{{ asset('images/renaissance/d2d.jpg') }}" class="rounded-lg md:h-full md:w-full" alt="d2d"/>
                </div>
            </div>
            <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-x-10">
                <div class="mb-6.25 lg:mb-25">
                    <div class="divide-y border-gray-border border-0.5 w-full mb-6.25 lg:mb-10"></div>
                    <p class="text-light-blue font-bold text-custom-base2 mb-2.5">
                        Les comités locaux
                    </p>
                    <p class="text-medium-gray font-normal">
                        Enracinés partout en France, les comités sont en charge de l’animation locale de la vie du parti.
                    </p>
                </div>
                <div class="mb-6.25">
                    <div class="divide-y border-gray-border border-0.5 w-full mb-6.25 lg:mb-10"></div>
                    <p class="text-light-blue font-bold text-custom-base2 mb-2.5">
                        L’assemblée départementale
                    </p>
                    <p class="text-medium-gray font-normal">
                        Rassemblant l’ensemble des adhérents d’un département, elle élit les membres du bureau départemental qui vote à la majorité pour son Président : il est en charge de l’animation de la vie du Parti et des investitures aux élections locales.
                    </p>
                </div>
                <div class="mb-6.25">
                    <div class="divide-y border-gray-border border-0.5 w-full mb-6.25 lg:mb-10"></div>
                    <p class="text-light-blue font-bold text-custom-base2 mb-2.5">
                        Le délégué régional
                    </p>
                    <p class="text-medium-gray font-normal">
                        Il est le Président de la région ou est nommé par les Présidents des assemblées départementales du territoire. Il participe à l’animation des Assemblées départementales.
                    </p>
                </div>
                <div class="mb-6.25">
                    <div class="divide-y border-gray-border border-0.5 w-full mb-6.25 lg:mb-10"></div>
                    <p class="text-light-blue font-bold text-custom-base2 mb-2.5">
                        L’Assemblée des territoires
                    </p>
                    <p class="text-medium-gray font-normal">
                        Composée de tous les élus adhérents, elle sera consultée sur les orientations politiques en vue de chaque élection et pour les investitures locales.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <!-- Newsletter -->
    <section class="md:px-20 md:mb-25">
        <div class="max-w-7xl lg:mx-auto md:flex w-full">
            <div
                class="bg-cover md:rounded-tl-lg md:rounded-bl-lg lg:w-[34.375rem] px-7.5 py-12.5 lg:px-[6.875rem] lg:py-25 min-h-[15.75rem]"
                style="background-image: url('{{ asset('/images/renaissance/newsletter.jpg') }}')"
            >
                <p class="text-white font-bold text-custom-2xl mb-5 lg:text-3xl lg:leading-[2.1875rem]">
                    Newsletter
                </p>
                <p class="text-white font-normal text-lg leading-6.25 lg:text-xl lg:leading-7.5">
                    Restez les premiers informés de l’actualité de <i>Renaissance</i>.
                </p>
            </div>
            <div class="bg-light-blue px-7.5 py-12.5 lg:px-[6.875rem] lg:py-25 md:rounded-tr-lg md:rounded-br-lg lg:w-[45.625rem]">
                {{ form_start(newsletter_form) }}
                    {% set error = app.flashes('newsletter_error')|first %}
                    {% if error %}
                        <div class="text-red-500" id="newsletter-form-error">
                            {{ error }}
                        </div>
                    {% endif %}

                    <div class="lg:flex lg:flex-row lg:gap-x-3.75">
                        {{ form_widget(newsletter_form.firstName, { label: false, attr: { placeholder: 'Prénom' } }) }}
                        {{ form_widget(newsletter_form.zipCode, { label: false, attr: { placeholder: 'Code postal' } }) }}
                    </div>

                    {{ form_widget(newsletter_form.email, { label: false, attr: { placeholder: 'Email' } }) }}

                    <div class="text-white pt-3.75 mb-5">
                        {{ form_widget(newsletter_form.conditions) }}
                        <label for="{{ newsletter_form.conditions.vars.id }}">
                        <span>
                            J’accepte de recevoir la newsletter de Renaissance
                        </span>
                        </label>
                    </div>

                    <div class="text-white mb-5">
                        {{ form_widget(newsletter_form.cguAccepted) }}
                        <label for="{{ newsletter_form.cguAccepted.vars.id }}">
                            <span>
                                J’accepte les <a class="underline font-bold" href="{{ path('app_static_page', {slug: 'conditions-generales-utilisation', app_domain: renaissance_host}) }}" target="_blank">CGU du site</a> et déclare avoir lu la <a href="{{ path('app_static_page', {slug: 'Politique-de-protection-des-donnees', app_domain: renaissance_host}) }}" class="underline font-bold" target="_blank">politique de protection des données personnelles</a> et les mentions d’informations accessibles <a class="underline font-bold" href="{{ path('app_static_page', {slug: 'mentions-informations-newsletter', app_domain: renaissance_host}) }}">ici</a>
                            </span>
                        </label>
                    </div>

                    <input type="hidden" class="nojs-g-recaptcha-response" name="g-recaptcha-response" value="" />
                    {% if recaptcha_public_key is not empty %}
                        <div class="g-recaptcha mb-3.75" data-sitekey="{{ recaptcha_public_key }}"></div>
                    {% elseif app.debug %}
                        <input type="hidden" name="g-recaptcha-response" value="fake" />
                    {% endif %}

                    <button type="submit" class="bg-white rounded w-full py-5.75 font-din font-bold uppercase text-dark-blue text-lg">
                        M'inscrire
                    </button>
                {{ form_end(newsletter_form) }}
            </div>
        </div>
    </section>
    <!-- Footer -->
    <section class="bg-dark-blue pt-25 md:pt-36">
        <div class="max-w-7xl md:mx-auto mb-12.5">
            <a href="{{ path('app_renaissance_homepage') }}">
                <img
                    height="35"
                    src="{{ asset('/images/renaissance/logo.svg') }}"
                    class="mx-auto mb-[7.8125rem] md:mb-36 h-[1.25rem] md:h-8.75"
                    alt="logo"
                />
            </a>
            <div class="flex justify-center divide-white/10 gap-y-6.25 px-7.5 md:px-20 md:mb-6.25">
                <!-- Facebook -->
                <a
                    href="https://www.facebook.com/Renaissance"
                    class="flex flex-col md:flex-row items-center pr-6.25 lg:px-12.5 border-r-2 border-white/10"
                >
                    <span class="fa-stack mb-5 md:mb-0 md:mr-7.5 lg:mr-5.75">
                        <i
                            class="fa fa-circle fa-stack-2x"
                            style="color: rgba(255, 255, 255, 0.1)"
                        ></i>
                        <i class="fa fa-facebook-f fa-stack-1x fa-inverse"></i>
                    </span>
                    <span class="text-white font-medium text-custom-base1">Facebook</span>
                </a>
                <!-- Instagram -->
                <a
                    href="https://www.instagram.com/renaissance"
                    class="flex flex-col md:flex-row items-center px-6.25 lg:px-12.5 border-r-2 border-white/10"
                >
                    <span class="fa-stack md:fa-2x mb-5 md:mb-0 md:mr-7.5 lg:mr-5.75">
                        <i
                            class="fa fa-circle fa-stack-2x"
                            style="color: rgba(255, 255, 255, 0.1)"
                        ></i>
                        <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
                    </span>
                    <span class="text-white font-medium text-custom-base1">Instagram</span>
                </a>
                <!-- Twitter -->
                <a
                    href="https://twitter.com/renaissance "
                    class="flex flex-col md:flex-row items-center pl-6.25 lg:px-12.5 lg:border-white/10"
                >
                    <span class="fa-stack md:fa-2x mb-5 md:mb-0 md:mr-7.5 lg:mr-5.75">
                        <i
                            class="fa fa-circle fa-stack-2x"
                            style="color: rgba(255, 255, 255, 0.1)"
                        ></i>
                        <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                    </span>
                    <span class="text-white font-medium text-custom-base1">Twitter</span>
                </a>
            </div>
        </div>

        <!-- Legal notice -->
        <div class="md:bg-dark-gray/10 flex flex-col items-center md:flex-row md:justify-center gap-x-7.5 pb-12.5 md:py-6.25 text-white font-normal text-sm">
            <a href="{{ path('app_static_page', {slug: 're-mentions-legales', app_domain: renaissance_host}) }}">
                Mentions légales
            </a>
            <a href="{{ path('app_static_page', {slug: 'conditions-generales-utilisation', app_domain: renaissance_host}) }}">
                CGU
            </a>
            <a href="{{ path('app_static_page', {slug: 'Politique-de-protection-des-donnees', app_domain: renaissance_host}) }}">
                Données personnelles
            </a>
        </div>
    </section>
{% endblock %}

{% block final_javascripts %}
    <script src="https://www.google.com/recaptcha/enterprise.js"></script>

    <script type="text/javascript">
        Bootstrap.onLoad(function () {
            Main.runHomePage();
        });
    </script>
{% endblock %}
