{% extends 'base_renaissance.html.twig' %}

{% block page_title 'Bienvenue' %}

{% form_theme newsletter_form 'renaissance/forms/default_form_theme.html.twig' %}

{% block content %}
    <section class="flex flex-col justify-between h-screen pb-12 bg-bottom bg-cover md:pb-15" style="background-image: url('{{ path('asset_url', {path: 'images/bain-foule-macron.jpg'}) }}')">
        <nav x-data="{ open: false }" @keydown.escape="open = false" class="relative flex justify-between items-center w-full border-b border-b-white/10 px-4 py-5 md:px-7 md:py-6">
            <a href="{{ path('renaissance_site') }}">
                {% include 'renaissance/partials/logo-text.svg.twig' with { svg_class: 'h-4 w-auto text-white lg:h-5' } %}
            </a>

            <div class="relative">
                <div class="-my-2 -mr-2 md:hidden">
                    <button type="button" class="inline-flex items-center justify-center rounded-md border-2 border-white bg-transparent p-2 text-white hover:bg-white/20 focus:outline-none" @click="open =! open" @mousedown="if (open) $event.preventDefault()" aria-expanded="false" :aria-expanded="open.toString()">
                        <span class="sr-only">Menu</span>
                        <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"/>
                        </svg>
                    </button>
                </div>
                <div class="hidden md:flex flex-nowrap space-x-2">
                    {% if is_granted('ROLE_ADMIN_DASHBOARD') %}
                        <a href="{{ path('sonata_admin_dashboard') }}" class="text-white text-xl">
                            Admin 🦸
                        </a>
                    {% else %}
                        {% if app.user %}
                            <a class="button button-white" href="{{ path('app_renaissance_event_list') }}">
                                Mon espace
                            </a>

                            {% if is_granted('ROLE_PREVIOUS_ADMIN') %}
                                <a class="button button-white" href="{{ path('admin_app_adherent_list', {'_switch_user': '_exit'}) }}">Quitter l'impersonnification</a>
                            {% else %}
                                <a class="button button-white" href="{{ path('logout', { app_domain: app_renaissance_host }) }}">Me déconnecter</a>
                            {% endif %}
                        {% else %}
                            <a class="button button-blue-lighter" href="{{ path('app_renaissance_login') }}">
                                Me connecter
                            </a>
                        {% endif %}

                        {% if not app.user or not app.user.hasActiveMembership() %}
                            <a href="{{ path('app_adhesion_index') }}" class="button button-blue">
                                {{ app.user ? '(Re)' }} Adhérer
                            </a>
                        {% elseif app.user.hasActiveMembership() %}
                            <a href="{{ path('app_donation_index') }}" class="button button-green">
                                Je donne
                            </a>
                        {% elseif app.user.isEligibleForMembershipPayment() %}
                            {% if app.user.isRenaissanceAdherent() and not app.user.hasActiveMembership() %}
                                <a href="{{ path('app_adhesion_index') }}" class="button button-green">
                                    Je mets à jour ma cotisation
                                </a>
                            {% else %}
                                <a href="{{ path('app_adhesion_index') }}" class="button button-green">
                                    Je termine mon adhésion
                                </a>
                            {% endif %}
                        {% endif %}
                    {% endif %}
                </div>
            </div>

            <div x-cloak x-show="open"
                 x-transition:enter="duration-200 ease-out"
                 x-transition:enter-start="opacity-0 scale-95"
                 x-transition:enter-end="opacity-100 scale-100"
                 x-transition:leave="duration-100 ease-in"
                 x-transition:leave-start="opacity-100 scale-100"
                 x-transition:leave-end="opacity-0 scale-95"
                 class="absolute inset-x-0 top-0 z-10 origin-top-right transform p-2 transition md:hidden"
                 x-ref="panel" @click.away="open = false">
                <div class="divide-y-2 divide-gray-50 rounded-lg bg-white shadow-lg ring-1 ring-black ring-opacity-5">
                    <div class="px-5 pt-5 pb-6">
                        <div class="flex items-center justify-between">
                            <div>
                                {% include 'renaissance/partials/logo-text.svg.twig' with { svg_class: 'h-5 w-auto text-re-blue-500' } %}
                            </div>
                            <div class="-mr-2">
                                <button type="button" class="inline-flex items-center justify-center rounded-md bg-white p-2 text-gray-400 hover:bg-gray-100 hover:text-gray-500 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-indigo-500" @click="open =! open">
                                    <span class="sr-only">Fermer le menu</span>
                                    <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12"/>
                                    </svg>
                                </button>
                            </div>
                        </div>
                        <div class="mt-6">
                            <nav class="grid gap-y-8">
                                {% if app.user %}
                                    <a class="-m-3 flex items-center rounded-md p-3 hover:bg-gray-50" href="{{ path('app_renaissance_event_list') }}">
                                        <span class="text-base font-medium text-gray-900">Mon espace</span>
                                    </a>
                                    <a class="-m-3 flex items-center rounded-md p-3 hover:bg-gray-50" href="{{ path('logout', { app_domain: app_renaissance_host }) }}">
                                        <span class="text-base font-medium text-gray-900">Me déconnecter</span>
                                    </a>
                                {% else %}
                                    <a class="-m-3 flex items-center rounded-md p-3 hover:bg-gray-50" href="{{ path('app_renaissance_login') }}">
                                        <span class="text-base font-medium text-gray-900">Me connecter</span>
                                    </a>
                                {% endif %}
                            </nav>
                        </div>
                    </div>
                    {% if not is_granted('ROLE_ADMIN_DASHBOARD') %}
                        <div class="space-y-6 py-6 px-5">
                            {% if not app.user or not app.user.hasActiveMembership() %}
                                <a href="{{ path('app_adhesion_index') }}" class="flex w-full items-center justify-center rounded-md border border-transparent bg-re-blue-600 px-4 py-3 text-base font-medium text-white shadow-sm hover:bg-re-blue-700">
                                    {{ app.user ? '(Re)' }} Adhérer
                                </a>
                            {% elseif app.user.hasActiveMembership() %}
                                <a href="{{ path('app_donation_index') }}" class="flex w-full items-center justify-center rounded-md border border-transparent bg-re-green-600 px-4 py-3 text-base font-medium text-white shadow-sm hover:bg-re-green-700">
                                    Je donne
                                </a>
                            {% elseif app.user.isEligibleForMembershipPayment() %}
                                {% if app.user.isRenaissanceAdherent() and not app.user.hasActiveMembership() %}
                                    <a href="{{ path('app_adhesion_index') }}" class="flex w-full items-center justify-center rounded-md border border-transparent bg-red-600 px-4 py-3 text-base font-medium text-white shadow-sm hover:bg-red-700">
                                        Je mets à jour ma cotisation
                                    </a>
                                {% else %}
                                    <a href="{{ path('app_adhesion_index') }}" class="flex w-full items-center justify-center rounded-md border border-transparent bg-red-600 px-4 py-3 text-base font-medium text-white shadow-sm hover:bg-red-700">
                                        Je termine mon adhésion
                                    </a>
                                {% endif %}
                            {% endif %}
                        </div>
                    {% endif %}
                </div>
            </div>
        </nav>

        <div class="xl:container px-4 mb-2.5">
            <p class="text-white font-bold text-4xl md:text-7xl md:leading-tight mb-12">
                Rejoignez Renaissance, le parti d\'Emmanuel Macron.
            </p>
        </div>
    </section>

    <section class="px-4 py-12 md:py-15 bg-lighter-blue">
        <div class="xl:container md:flex md:gap-x-28 lg:gap-x-38">
            <div class="flex-1 md:sticky md:top-8 md:w-1/3">
                <h2 class="mb-8 text-dark-blue text-4xl">
                    Qui<br/>
                    <span class="font-bold">sommes-nous ?</span>
                </h2>
                <p class="text-dark-blue font-normal text-lg leading-6 md:text-2xl md:leading-9 mb-8 md:mb-0">
                    Depuis le 6 avril 2016, nous avons entamé un rassemblement inédit des forces progressistes du pays autour d’un grand projet commun : bâtir une France unie dans une Europe plus forte.
                </p>
            </div>
            <div class="flex-1">
                <p class="mb-8">
                    <img src="{{ asset('images/renaissance/qui-sommes-nous.jpg') }}" class="w-full rounded-lg" alt="qui-sommes-nous"/>
                </p>
                <p class="font-normal md:text-lg md:leading-7">
                    « Retrouver l’esprit de conquête de 2016, construire le parti le plus décentralisé de la Vème République, unir un collectif qui puisera ses forces sur le terrain et rassemblera toutes les sensibilités progressistes de notre pays : voilà notre feuille de route pour les mois qui viennent.
                </p>
                <p class="font-normal md:text-lg md:leading-7">
                    Face à la montée des populismes et des conservatismes, et par-delà les crises, nous ancrerons les idées et le projet de Renaissance dans les grands débats du siècle.
                </p>
                <p class="font-normal md:text-lg md:leading-7 mb-5">
                    Ce sera notre honneur et notre responsabilité. »
                </p>
                <p class="font-roboto uppercase text-right md:text-lg md:leading-7">
                    <span class="font-medium">Stéphane Séjourné,</span><br/>
                    Secrétaire général de Renaissance
                </p>
            </div>
        </div>
    </section>

    <section class="px-4 py-12 md:py-15">
        <div class="xl:container">
            <div class="md:flex md:gap-x-28 lg:gap-x-38 mb-12">
                <div class="flex-1">
                    <h2 class="mb-8 text-dark-blue text-4xl">
                        Le bureau<br/>
                        <span class="font-bold">exécutif</span>
                    </h2>
                    <p class="text-dark-blue text-lg leading-6 lg:text-2xl lg:leading-9">
                        Une équipe paritaire de femmes et d’hommes engagés, rassemblant toutes les sensibilités de Renaissance et représentative de l’ensemble de nos territoires.
                    </p>
                </div>

                <div class="flex-1 hidden md:flex">
                    <img src="{{ asset('images/renaissance/burex-renaissance.jpg') }}" class="w-full rounded-lg" alt="Burex"/>
                </div>
            </div>

            {% set executive_office_groups = [
                executive_office_members.getSpecialGroup(),
                executive_office_members.getRegularGroup(),
                executive_office_members.getFonctionnalDelegateMembers(),
                executive_office_members.getMembersByRight(),
            ] %}

            {% for executive_office_group in executive_office_groups %}
                {% if executive_office_group is not empty %}
                    {% set member = executive_office_group|first %}
                    {% set title = ('executive_office.title.'~member.getRole())|trans %}

                   <div class="overflow-hidden space-y-10 mb-6 pb-10 lg:mb-12">
                       {% if title != 'executive_office.title.'~member.getRole() %}
                           <h4 class="text-dark-blue text-xl font-medium leading-6 lg:text-2xl lg:leading-9">{{ title }}</h4>
                       {% endif %}

                       <div class="flex space-x-4 carousel-widget" data-carousel-slides-visible="4">
                           {% for member in executive_office_group %}
                               <div>
                                   <div class="shrink-0 mb-5 lg:mb-6">
                                       <img src="{{ path('asset_url', {path: member.imagePath, app_domain: app_renaissance_host}) }}" class="object-cover w-full h-auto transition ease-in-out rounded md:hover:scale-105 lg:h-[350px]" alt="{{ member.fullName }}"/>
                                   </div>
                                  <div class="text-center text-sm md:text-base">
                                      <p class="font-medium text-gray-900 md:text-lg">{{ member.fullName }}</p>
                                      <p class="text-gay-600">{{ member.job }}</p>
                                  </div>
                               </div>
                           {% endfor %}
                       </div>
                   </div>
                {% endif %}
            {% endfor %}
        </div>
    </section>

    <section class="px-4 py-12 md:py-15">
        <div class="mx-auto max-w-7xl">
            <div class="md:flex md:gap-12 lg:gap-38 mb-12 lg:mb-25">
                <div class="md:w-2/5 lg:1/3">
                    <h2 class="text-dark-blue font-bold text-3xl lg:text-4xl mb-6 lg:mb-7">
                        Le parti le plus <span class="stabilo stabilo-yellow">décentralisé</span> de France
                    </h2>
                    <p class="text-dark-blue font-normal text-lg leading-6 lg:text-2xl lg:leading-9 mb-12 lg:mb-0">
                        Pour aller au plus près des Français et être présents partout sur le terrain, nous avons inscrit dans nos statuts une organisation décentralisée et différenciée.
                    </p>
                </div>
                <div class="md:w-3/5 lg:2/3">
                    <img src="{{ asset('images/renaissance/d2d.jpg') }}" class="w-full rounded-lg" alt="d2d"/>
                </div>
            </div>
            <div class="grid grid-cols-1 md:grid-cols-2 gap-x-10">
                <div class="mb-6 lg:mb-25">
                    <div class="divide-y border-gray-border border w-full mb-6 lg:mb-10"></div>
                    <p class="text-light-blue font-bold text-base mb-2.5">
                        Les comités locaux
                    </p>
                    <p class="font-normal text-medium-gray">
                        Enracinés partout en France, les comités sont en charge de l’animation locale de la vie du parti.
                    </p>
                </div>
                <div class="mb-6">
                    <div class="divide-y border-gray-border border w-full mb-6 lg:mb-10"></div>
                    <p class="text-light-blue font-bold text-base mb-2.5">
                        L’assemblée départementale
                    </p>
                    <p class="font-normal text-medium-gray">
                        Rassemblant l’ensemble des adhérents d’un département, elle élit les membres du bureau départemental qui vote à la majorité pour son Président : il est en charge de l’animation de la vie du Parti et des investitures aux élections locales.
                    </p>
                </div>
                <div class="mb-6">
                    <div class="divide-y border-gray-border border w-full mb-6 lg:mb-10"></div>
                    <p class="text-light-blue font-bold text-base mb-2.5">
                        Le délégué régional
                    </p>
                    <p class="font-normal text-medium-gray">
                        Il est le Président de la région ou est nommé par les Présidents des assemblées départementales du territoire. Il participe à l’animation des Assemblées départementales.
                    </p>
                </div>
                <div class="mb-6">
                    <div class="divide-y border-gray-border border w-full mb-6 lg:mb-10"></div>
                    <p class="text-light-blue font-bold text-base mb-2.5">
                        L’Assemblée des territoires
                    </p>
                    <p class="font-normal text-medium-gray">
                        Composée de tous les élus adhérents, elle sera consultée sur les orientations politiques en vue de chaque élection et pour les investitures locales.
                    </p>
                </div>
            </div>
        </div>
    </section>

    <!-- Newsletter -->
    <section class="md:px-20 md:mb-25">
        <div class="w-full max-w-7xl lg:mx-auto md:flex">
            <div
                class="bg-cover bg-bottom md:rounded-tl-lg md:rounded-bl-lg lg:w-[34.375rem] px-7 py-12 lg:px-28 lg:py-25 min-h-[15.75rem] text-white"
                style="background-image: linear-gradient(to bottom, rgba(0,0,0,.3), transparent), url('{{ asset('/images/renaissance/newsletter.jpg') }}');"
            >
                <p class="font-bold text-2xl mb-5 lg:text-3xl lg:leading-8">
                    Newsletter
                </p>
                <p class="text-lg leading-6 lg:text-xl lg:leading-7">
                    Restez les premiers informés de l’actualité de <i>Renaissance</i>.
                </p>
            </div>
            <div class="bg-light-blue px-7 py-10 lg:px-27 md:rounded-tr-lg md:rounded-br-lg lg:w-182">
                {{ form_start(newsletter_form) }}
                    {% set error = app.flashes('newsletter_error')|first %}
                    {% if error %}
                        <div class="text-red-500" id="newsletter-form-error">
                            {{ error }}
                        </div>
                    {% endif %}

                    <div class="lg:flex lg:flex-row lg:gap-x-4">
                        {{ form_row(newsletter_form.firstName, { label: 'Prénom' }) }}
                        {{ form_row(newsletter_form.zipCode, { label: 'Code postal' }) }}
                    </div>

                    {{ form_row(newsletter_form.email, { label: 'Email' }) }}

                    <div class="text-white">
                        {{ form_widget(newsletter_form.conditions, { attr: { class: 'h-4 w-4 rounded border-gray-300 text-re-blue-600 focus:ring-re-blue-500' } }) }}
                        <label for="{{ newsletter_form.conditions.vars.id }}">
                        <span>
                            J’accepte de recevoir la newsletter de Renaissance
                        </span>
                        </label>
                    </div>

                    <div class="mb-3 text-white">
                        {{ form_widget(newsletter_form.cguAccepted, { attr: { class: 'h-4 w-4 rounded border-gray-300 text-re-blue-600 focus:ring-re-blue-500' } }) }}
                        <label for="{{ newsletter_form.cguAccepted.vars.id }}">
                            <span>
                                J’accepte les <a class="font-bold underline" href="{{ path('app_static_page', {slug: 'conditions-generales-utilisation', app_domain: app_renaissance_host}) }}" target="_blank">CGU du site</a> et déclare avoir lu la <a href="{{ path('app_static_page', {slug: 'Politique-de-protection-des-donnees', app_domain: app_renaissance_host}) }}" class="font-bold underline" target="_blank">politique de protection des données personnelles</a> et les mentions d’informations accessibles <a class="font-bold underline" href="{{ path('app_static_page', {slug: 'mentions-informations-newsletter', app_domain: app_renaissance_host}) }}" target="_blank">ici</a>
                            </span>
                        </label>
                    </div>

                    <div class="mb-4 w-full">
                        {% include 'renaissance/partials/friendly-captcha.html.twig' %}
                    </div>

                    <button type="submit" class="button button-white button-full">
                        M'inscrire
                    </button>
                {{ form_end(newsletter_form) }}
            </div>
        </div>
    </section>

    <!-- Footer -->
    <section class="bg-dark-blue pt-25 md:pt-36">
        <div class="max-w-7xl md:mx-auto mb-12">
            <a href="{{ path('renaissance_site') }}">
                <img
                    height="35"
                    src="{{ asset('/images/renaissance/logo.svg') }}"
                    class="mx-auto mb-32 md:mb-36 h-5 md:h-8"
                    alt="logo"
                />
            </a>
            <div class="flex justify-center flex-wrap md:mb-6 gap-y-6">
                <!-- Facebook -->
                <a
                    href="https://www.facebook.com/Renaissance"
                    class="flex flex-col md:flex-row items-center px-6 border-r-2 border-white/10"
                >
                    <span class="fa-stack mb-5 md:mb-0 md:mr-7 lg:mr-5">
                        <i
                            class="fa fa-circle fa-stack-2x"
                            style="color: rgba(255, 255, 255, 0.1)"
                        ></i>
                        <i class="fa fa-facebook-f fa-stack-1x fa-inverse"></i>
                    </span>
                    <span class="font-medium text-white text-base">Facebook</span>
                </a>
                <!-- Instagram -->
                <a
                    href="https://www.instagram.com/renaissance"
                    class="flex flex-col md:flex-row items-center px-6 border-r-2 border-white/10"
                >
                    <span class="fa-stack md:fa-2x mb-5 md:mb-0 md:mr-7 lg:mr-5">
                        <i
                            class="fa fa-circle fa-stack-2x"
                            style="color: rgba(255, 255, 255, 0.1)"
                        ></i>
                        <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
                    </span>
                    <span class="font-medium text-white text-base">Instagram</span>
                </a>
                <!-- Twitter -->
                <a
                    href="https://twitter.com/renaissance"
                    class="flex flex-col md:flex-row items-center px-6 border-r-2 border-white/10"
                >
                    <span class="fa-stack md:fa-2x mb-5 md:mb-0 md:mr-7 lg:mr-5">
                        <i
                            class="fa fa-circle fa-stack-2x"
                            style="color: rgba(255, 255, 255, 0.1)"
                        ></i>
                        <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                    </span>
                    <span class="font-medium text-white text-base">Twitter</span>
                </a>
                <!-- Youtube -->
                <a
                        href="https://www.youtube.com/c/EnMarcheFr"
                        class="flex flex-col md:flex-row items-center px-6 border-r-2 border-white/10"
                >
                    <span class="fa-stack md:fa-2x mb-5 md:mb-0 md:mr-7 lg:mr-5">
                        <i
                                class="fa fa-circle fa-stack-2x"
                                style="color: rgba(255, 255, 255, 0.1)"
                        ></i>
                        <i class="fa fa-youtube-play fa-stack-1x fa-inverse"></i>
                    </span>
                    <span class="font-medium text-white text-base">Youtube</span>
                </a>
                <!-- Tik Tok -->
                <a
                        href="https://www.tiktok.com/@parti_renaissance"
                        class="flex flex-col md:flex-row items-center px-6 border-r-2 border-white/10"
                >
                    <span class="fa-stack md:fa-2x mb-5 md:mb-0 md:mr-7 lg:mr-5">
                        <img src="{{ asset('/images/icons/tiktok.svg') }}" alt="logo-tiktok" class="fa fa-stack-1x" style="width:15px;left:9px;top:7px;"/>
                        <i class="fa fa-circle fa-stack-2x" style="color: rgba(255, 255, 255, 0.1)"></i>
                    </span>
                    <span class="text-white font-medium text-base">TikTok</span>
                </a>
                <!-- LinkedIn -->
                <a
                        href="https://www.linkedin.com/company/parti-renaissance"
                        class="flex flex-col md:flex-row items-center pl-6"
                >
                    <span class="fa-stack md:fa-2x mb-5 md:mb-0 md:mr-7 lg:mr-5">
                        <i
                                class="fa fa-circle fa-stack-2x"
                                style="color: rgba(255, 255, 255, 0.1)"
                        ></i>
                        <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
                    </span>
                    <span class="font-medium text-white text-base">LinkedIn</span>
                </a>
            </div>
        </div>

        <!-- Legal notice -->
        <div class="md:bg-dark-gray/10 flex flex-col items-center md:flex-row md:justify-center gap-x-7 py-6 text-white font-normal text-sm">
            <a href="{{ path('app_static_page', {slug: 're-mentions-legales', app_domain: app_renaissance_host}) }}" class="hover:underline">
                Mentions légales
            </a>
            <a href="{{ path('app_static_page', {slug: 'conditions-generales-utilisation', app_domain: app_renaissance_host}) }}" class="hover:underline">
                CGU
            </a>
            <a href="{{ path('app_static_page', {slug: 'politique-de-protection-des-donnees', app_domain: app_renaissance_host}) }}" class="hover:underline">
                Données personnelles
            </a>
            <a href="https://contact.parti-renaissance.fr" class="hover:underline">
                Contactez-nous
            </a>
            <a href="{{ static_asset('Statuts-Renaissance.pdf', {}, 0, app_renaissance_host) }}" class="hover:underline">
                Statuts
            </a>
            <a href="{{ static_asset('RI-V.AK-24-avril-2023.pdf', {}, 0, app_renaissance_host) }}" class="hover:underline">
                Règlement Intérieur
            </a>
            <a href="https://parti-renaissance.fr/cellule-alerte" class="hover:underline">
                Cellule d'alerte
            </a>
        </div>
    </section>
{% endblock %}

{% block final_javascripts %}
    <script type="module" src="{{ asset('js/friendlycaptcha.widget-0.9.14.module.min.js') }}" async defer></script>
{% endblock %}
