{% extends 'base_ren.html.twig' %}

{% block page_title 'Bienvenue' %}

{% block content %}
    <header class="sticky top-0 border-b border-b-white/10 bg-light-blue z-10 px-3.75 py-4.75 md:px-7.5 md:py-6.25">
        <a href="{{ path('app_ren_homepage') }}"><img src="/images/renaissance/logo.svg" alt="logo"/></a>
    </header>

    <section class="h-[44.375rem] md:h-[68.75rem] lg:h-[65.625rem] pt-25 md:pt-[10.3125rem] px-3.75 md:px-20 bg-light-blue">
        <div class="xl:container">
            <div class="max-w-[345px] md:max-w-[900px] mb-12.5 md:mb-[4.6875rem]">
                <p class="text-white font-bold text-3xl md:text-[4.375rem] md:leading-[5rem]">
                    Rejoignez Renaissance, le parti <span class="stabilo stabilo-green">d'Emmanuel Macron.</span>
                </p>
            </div>
            <div class="md:flex md:gap-x-37.5 mb-12.5 text-white">
                <div class="flex-column-container max-w-[31.875rem]">
                    <p
                            class="flex-1 font-medium mb-3.75 md:mb-12.5"
                    >
                        Déjà adhérent En Marche, bénéficiez d'une inscription rapide
                    </p>
                    <a
                        class="flex bg-dark-blue px-5 py-3 pb-2 md:px-7.5 md:py-4.25 rounded w-fit items-center"
                        href="{{ path('app_renaissance_login') }}"
                    >
                        <span
                                class="font-bold text-xs md:text-base uppercase mr-4"
                        >
                            Me connecter
                        </span>
                        <i class="fa fa-caret-right"></i>
                    </a>
                </div>
                <div class="flex-column-container max-w-[31.875rem]">
                    <p class="flex-1 font-medium mb-3.75 md:mb-12.5">
                        Vous soutenez le Président, adhérez au parti de la République et
                        du progrès. 3 minutes suffisent !
                    </p>
                    <a href="{{ path('app_renaissance_adhesion') }}" class="flex bg-dark-blue px-5 py-3 pb-2 md:px-7.5 md:py-4.25 rounded w-fit items-center">
                        <span class="font-bold text-xs md:text-base uppercase mr-4">
                            Adhérer
                        </span>
                        <i class="fa fa-caret-right"></i>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <!-- Translated picture/video -->
    <div class="xl:container h-[180px] md:h-[350px] lg:h-[500px] mx-3.75 md:mx-20">
        <img src="/images/renaissance/bain-foule-macron.jpg" alt="bain-foule-macron" class="rounded-lg w-full -translate-y-1/2"/>
    </div>

    <section class="px-3.75 md:px-20 mb-12.5 md:mb-25 -mt-12.5">
        <div
                class="max-w-7xl items-start mx-auto md:flex md:gap-x-28 lg:gap-x-37.5"
        >
            <div
                    class="md:sticky md:top-8 flex-1 md:w-1/3 border-t border-gray pt-7.5 md:pt-12.5"
            >
                <p
                        class="text-light-blue font-bold text-[1.5rem] leading-8 md:text-custom-xl mb-6.25 md:mb-7.5"
                >
                    Renaissance: <br/>
                    Qui <span class="stabilo stabilo-rose">sommes-nous?</span>
                </p>
                <p
                        class="text-light-blue font-normal text-lg leading-6.25 md:text-2xl md:leading-9 mb-12.5 md:mb-0"
                >
                    Depuis le 6 avril 2016, le fil rouge de notre action est de remettre
                    les Français au cœur de la République pour porter un projet
                    progressiste français et européen.
                </p>
                <img src="/images/renaissance/section-1.jpg" class="rounded-lg mb-12.5 md:hidden" alt="qui-sommes-nous"/>
            </div>
            <div class="flex-1">
                <img
                        src="/images/renaissance/section-1.jpg"
                        class="hidden md:inline rounded-lg mb-12.5" alt="qui-sommes-nous"
                />
                <p class="font-normal md:text-lg md:leading-7.5">
                    Depuis le 7 mai 2017, nous le mettons en œuvre. Le 24 avril 2022, le
                    Président de la République a été réélu et nous a confier une
                    mission, celle d’aller plus loin. Alors que notre continent traverse
                    de très graves crises, nous avons fait le choix d’écrire une
                    nouvelle page : Renaissance.
                </p>
                <br/>
                <p class="font-normal md:text-lg md:leading-7.5">
                    Renaissance, c’est un parti qui fait confiance aux territoires.
                    Présentes partout en France, nos Fédérations départementales sont la
                    voix des territoires. Renaissance, c’est un parti de propositions.
                    Nos adhérents sont notre force et nos idées. Par leurs votes, par
                    leurs remontées, par leur mobilisation, ils façonnent le visage de
                    Renaissance. Renaissance, c’est un parti d’action. Face aux crises
                    actuelles et face aux défis à venir, nous croyons que la réponse est
                    dans notre engagement.
                </p>
                <br/>
                <p class="font-normal md:text-lg md:leading-7.5">
                    Renaissance, c’est le parti de la majorité. Nous accueillons toutes
                    les formations politiques qui ont l’ambition de défendre le projet
                    du Président de la République.
                </p>
            </div>
        </div>
    </section>
    <!-- Donation section -->
    <section class="w-full md:mx-auto mb-12.5 lg:mb-25">
        <div
                class="max-w-7xl bg-green md:rounded-lg md:m-20 xl:mx-auto lg:flex px-3.75 md:px-20 py-12.5 md:py-30"
        >
            <div class="flex-1 lg:border-r-2 lg:border-white/10 lg:pr-31.25">
                <p
                        class="text-white font-bold text-custom-2xl lg:text-[2.1875rem] lg:leading-10 mb-6.25 lg:mb-10"
                >
                    Faire un don pour aider Renaissance
                </p>
                <p
                        class="text-white font-medium lg:text-lg lg:leading-6.25"
                >
                    66 % de votre don vient en déduction de votre impôt sur le revenu
                    (dans la limite de 20 % du revenu imposable).
                </p>
                <br/>
                <p
                        class="text-white font-medium lg:text-lg lg:leading-6.25 mb-12.5 lg:mb-0"
                >
                    Par exemple : un don de 100 € vous revient en réalité à 34 € et vous
                    fait bénéficier d’une réduction d’impôt de 66 €. Le montant annuel
                    de votre don ne peut pas excéder 7500 € par personne physique. Le
                    reçu fiscal pour votre don de l’année N vous sera envoyé au 2e
                    trimestre de l’année N+1.
                </p>
            </div>
            <div class="flex-1 lg:pl-31.25">
                <div class="flex flex-col">
                    <!-- Button group -->
                    <div class="flex mb-5" role="group">
                        <button class="button-group bg-green rounded-tl-lg rounded-bl-lg">
                            <span class="font-medium text-sm">Tarif réduit 10€</span>
                        </button>
                        <button
                                class="button-group bg-green border-l-0 rounded-tr-lg rounded-br-lg"
                        >
                            <span class="font-medium text-sm">Tarif normal 30€</span>
                        </button>
                    </div>
                    <!-- Other donation amount -->
                    <input
                            type="number"
                            class="border-white/20 focus:border-white focus:ring-0 border-2 rounded-lg p-5 mb-5 bg-green text-white font-medium text-sm placeholder:text-white placeholder:font-medium placeholder:text-sm"
                            placeholder="Montant libre (€)"
                    />
                    <!-- Tax deduction -->
                    <div class="text-white text-center mb-5">
                        <p class="font-normal text-3xl leading-10">20,4€</p>
                        <p class="font-medium text-sm">Après réduction d’impôt</p>
                    </div>
                    <!-- Button -->
                    <a
                            href="#"
                            class="text-center bg-white py-5.75 px-7.5 rounded"
                    >
                        <span
                                class="text-light-blue uppercase font-bold text-lg mr-4"
                        >
                            Donner à Renaissance
                        </span>
                        <i class="fa fa-caret-right text-black"></i>
                    </a>
                </div>
            </div>
        </div>
    </section>

    <!-- Values and commitments -->
    <section
            class="px-3.75 md:px-20 bg-background-gray pt-12.5 lg:pt-25 mb-12.5 lg:mb-25"
    >
        <div class="max-w-7xl mx-auto">
            <div class="md:flex md:gap-12.5 lg:gap-37.5 mb-12.5 lg:mb-25">
                <div class="md:w-2/5 lg:1/3">
                    <div
                            class="divide-y border-gray-border border-0.5 w-full mb-7.5"
                    ></div>
                    <p
                            class="text-dark-blue font-bold text-custom-2xl lg:text-custom-xl mb-6.25 lg:mb-7.5"
                    >
                        Nos valeurs et nos <span class="stabilo stabilo-rose">engagements</span>
                    </p>
                    <p
                            class="text-light-blue font-normal text-lg leading-6.25 lg:text-2xl lg:leading-9 mb-12.5"
                    >
                        Renaissance se fond autour de 15 valeurs, que ses adhérents
                        s’engagent à défendre.
                    </p>
                </div>
                <div class="md:w-3/5 lg:2/3">
                    <img
                        src="/images/renaissance/grid-section-pic.jpg"
                        class="rounded-lg md:h-full md:w-full"
                        alt="nos-valeurs"
                    />
                </div>
            </div>
            <div class="columns-2 md:columns-3 lg:columns-4 gap-3.75 lg:gap-10 pb-12.5 lg:pb-25">
                {% for commitment in commitments %}
                    {% set slug = commitment.title|slug %}
                    <div
                        id="valeur-{{ slug }}"
                        class="{{ not loop.first ? 'mt-8 ' }} h-fit bg-white active:bg-yellow px-3.75 py-5 cursor-pointer rounded p-8 hover:shadow-gray-200 hover:drop-shadow-lg hover:bg-yellow-400 duration-200 slide-over--trigger"
                        data-commitment-title="{{ commitment.title|e('html_attr') }}"
                        data-commitment-slug="{{ slug }}"
                        data-commitment-image="{{ url('asset_url', {path: commitment.getImagePath()}) }}"
                        data-commitment-description="{{ commitment.description|e('html_attr') }}"
                    >
                        <h3 class="text-light-blue font-medium text-custom-xs lg:text-custom-base2 mb-2.5">{{ commitment.title }}</h3>

                        <div class="text-medium-gray font-normal text-xs lg:text-custom-base2">{{ commitment.shortDescription }}</div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>

    <section class="px-3.75 md:px-20 bg-white mb-12.5 lg:mb-37.5">
        <div class="max-w-7xl mx-auto">
            <div class="md:flex md:gap-12.5 lg:gap-37.5 mb-12.5 lg:mb-25">
                <div class="md:w-2/5 lg:1/3">
                    <div
                            class="divide-y border-gray-border border-0.5 w-full mb-7.5"
                    ></div>
                    <p
                            class="text-dark-blue font-bold text-custom-2xl lg:text-custom-xl mb-6.25 lg:mb-7.5"
                    >
                        Le bureau <span class="stabilo stabilo-rose">exécutif</span>
                    </p>
                    <p
                            class="text-light-blue font-normal text-lg leading-6.25 lg:text-2xl lg:leading-9 mb-12.5"
                    >
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                        eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    </p>
                </div>
                <div class="md:w-3/5 lg:2/3">
                    <img
                            src="/images/renaissance/executive-office.jpg"
                            class="rounded-lg md:h-full w-full"
                    />
                </div>
            </div>
            <div
                    class="divide-y border-gray-border border-0.5 mb-6.25 lg:mb-12.5"
            ></div>
            <div
                    class="grid grid-cols-2 md:grid-cols-4 gap-x-3.75 gap-y-6.25 lg:gap-x-7.5 lg:gap-y-10 mb-6.25 lg:mb-12.5"
            >
                <div class="flex flex-col">
                    <img
                            src="/images/renaissance/burex/macron.jpg"
                            class="rounded mb-10 md:mb-5 hover:scale-105 transition ease-in-out"
                    />
                    <p
                            class="text-center text-dark-gray font-medium text-xs leading-5 md:text-sm"
                    >
                        Emmanuel Macron
                    </p>
                    <p class="text-center font-normal text-xs leading-4.5 md:text-sm">
                        Président d'honneur
                    </p>
                </div>
                <div class="flex flex-col w-full">
                    <img
                            src="/images/renaissance/burex/sejourne.jpg"
                            class="rounded mb-10 md:mb-5 hover:scale-105 transition ease-in-out"
                    />
                    <p
                            class="text-center text-dark-gray font-medium text-xs leading-5 md:text-sm"
                    >
                        Stéphane Séjourné
                    </p>
                    <p class="text-center font-normal text-xs leading-4.5 md:text-sm">
                        Secrétaire général à la coordination
                    </p>
                </div>
                <div class="flex flex-col w-full">
                    <img
                            src="/images/renaissance/burex/borello.jpg"
                            class="rounded mb-10 md:mb-5 hover:scale-105 transition ease-in-out"
                    />
                    <p
                            class="text-center text-dark-gray font-medium text-xs leading-5 md:text-sm"
                    >
                        Jean-Marc Borello
                    </p>
                    <p class="text-center font-normal text-xs leading-4.5 md:text-sm">
                        Secrétaire général délégué
                    </p>
                </div>
                <div class="flex flex-col w-full">
                    <img
                            src="/images/renaissance/burex/guevenoux.jpg"
                            class="rounded mb-10 md:mb-5 hover:scale-105 transition ease-in-out"
                    />
                    <p
                            class="text-center text-dark-gray font-medium text-xs leading-5 md:text-sm"
                    >
                        Marie Guevenoux
                    </p>
                    <p class="text-center font-normal text-xs leading-4.5 md:text-sm">
                        Secrétaire général délégué
                    </p>
                </div>
            </div>
            <div
                    class="divide-y border-gray-border border-0.5 mb-6.25 lg:mb-12.5"
            ></div>
            <div
                    class="grid grid-cols-2 md:grid-cols-4 gap-x-3.75 gap-y-6.25 lg:gap-x-7.5 lg:gap-y-10 mb-6.25 lg:mb-12.5"
            >
                <div class="flex flex-col w-full">
                    <img
                            src="/images/renaissance/burex/castaner.jpg"
                            class="rounded mb-10 md:mb-5 hover:scale-105 transition ease-in-out"
                    />
                    <p
                            class="text-center text-dark-gray font-medium text-xs leading-5 md:text-sm"
                    >
                        Christophe Castaner
                    </p>
                    <p class="text-center font-normal text-xs leading-4.5 md:text-sm">
                        Président d’honneur
                    </p>
                </div>
                <div class="flex flex-col w-full">
                    <img
                            src="/images/renaissance/burex/bourguignon.jpg"
                            class="rounded mb-10 md:mb-5 hover:scale-105 transition ease-in-out"
                    />
                    <p
                            class="text-center text-dark-gray font-medium text-xs leading-5 md:text-sm"
                    >
                        Brigitte Bourguignon
                    </p>
                    <p class="text-center font-normal text-xs leading-4.5 md:text-sm">
                        Secrétaire général à la coordination
                    </p>
                </div>
                <div class="flex flex-col w-full">
                    <img
                            src="/images/renaissance/burex/beaune.jpg"
                            class="rounded mb-10 md:mb-5 hover:scale-105 transition ease-in-out"
                    />
                    <p
                            class="text-center text-dark-gray font-medium text-xs leading-5 md:text-sm"
                    >
                        Clément Beaune
                    </p>
                    <p class="text-center font-normal text-xs leading-4.5 md:text-sm">
                        Secrétaire général délégué
                    </p>
                </div>
                <div class="flex flex-col w-full">
                    <img
                            src="/images/renaissance/burex/blanquer.jpg"
                            class="rounded mb-10 md:mb-5 hover:scale-105 transition ease-in-out"
                    />
                    <p
                            class="text-center text-dark-gray font-medium text-xs leading-5 md:text-sm"
                    >
                        Jean-Michel Blanquer
                    </p>
                    <p class="text-center font-normal text-xs leading-4.5 md:text-sm">
                        Secrétaire général délégué
                    </p>
                </div>
            </div>
            <div
                    class="divide-y border-gray-border border-0.5 mb-6.25 lg:mb-12.5"
            ></div>
            <div
                    class="grid grid-cols-2 md:grid-cols-4 gap-x-3.75 gap-y-6.25 lg:gap-x-7.5 lg:gap-y-10"
            >
                <div class="flex flex-col w-full">
                    <img
                            src="/images/renaissance/burex/cicurel.jpg"
                            class="rounded mb-10 md:mb-5 hover:scale-105 transition ease-in-out"
                    />
                    <p
                            class="text-center text-dark-gray font-medium text-xs leading-5 md:text-sm"
                    >
                        Ilana Cicurel
                    </p>
                    <p class="text-center font-normal text-xs leading-4.5 md:text-sm">
                        Président d’honneur
                    </p>
                </div>
                <div class="flex flex-col w-full">
                    <img
                            src="/images/renaissance/burex/avia.jpg"
                            class="rounded mb-10 md:mb-5 hover:scale-105 transition ease-in-out"
                    />
                    <p
                            class="text-center text-dark-gray font-medium text-xs leading-5 md:text-sm"
                    >
                        Laetitia Avia
                    </p>
                    <p class="text-center font-normal text-xs leading-4.5 md:text-sm">
                        Secrétaire général à la coordination
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section class="px-3.75 md:px-20 bg-white mb-[4.6875rem] lg:mb-37.5">
        <div class="max-w-7xl mx-auto">
            <div class="md:flex md:gap-12.5 lg:gap-37.5 mb-12.5 lg:mb-25">
                <div class="md:w-2/5 lg:1/3">
                    <div
                            class="divide-y border-gray-border border-0.5 w-full mb-7.5"
                    ></div>
                    <p
                            class="text-dark-blue font-bold text-custom-2xl lg:text-custom-xl mb-6.25 lg:mb-7.5"
                    >
                        Devenir le parti le plus <span class="stabilo stabilo-rose">délocalisé</span> de France
                    </p>
                    <p
                            class="text-light-blue font-normal text-lg leading-6.25 lg:text-2xl lg:leading-9 mb-12.5 lg:mb-0"
                    >
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                        eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    </p>
                </div>
                <div class="md:w-3/5 lg:2/3">
                    <img src="/images/renaissance/D2D.jpg" class="rounded-lg md:h-full md:w-full"/>
                </div>
            </div>
            <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-x-10">
                <div class="mb-6.25 lg:mb-25">
                    <div
                            class="divide-y border-gray-border border-0.5 w-full mb-6.25 lg:mb-10"
                    ></div>
                    <p class="text-light-blue font-bold text-custom-base2 mb-2.5">
                        Les Comités locaux
                    </p>
                    <p class="text-medium-gray font-normal">
                        Enracinés partout en France, les comités élisent un bureau
                        paritaire de 4 à 10 membres chargés de l’animation du territoire.
                    </p>
                </div>
                <div class="mb-6.25">
                    <div
                            class="divide-y border-gray-border border-0.5 w-full mb-6.25 lg:mb-10"
                    ></div>
                    <p class="text-light-blue font-bold text-custom-base2 mb-2.5">
                        Le Bureau national
                    </p>
                    <p class="text-medium-gray font-normal">
                        Le secrétariat général exécutif, les Présidents de Fédérations y
                        siègent et votent pour élire le Secrétaire général. Les
                        parlementaires, les membres du gouvernement et les Présidents
                        d’exécutif locaux de plus de 60 000 habitants en sont membres
                        observateurs.
                    </p>
                </div>
                <div class="mb-6.25">
                    <div
                            class="divide-y border-gray-border border-0.5 w-full mb-6.25 lg:mb-10"
                    ></div>
                    <p class="text-light-blue font-bold text-custom-base2 mb-2.5">
                        Les Fédérations
                    </p>
                    <p class="text-medium-gray font-normal">
                        Représentant chacune une région, elles sont élues pour 3 ans et
                        leurs Présidents siègent au bureau national.
                    </p>
                </div>
                <div class="mb-6.25">
                    <div
                            class="divide-y border-gray-border border-0.5 w-full mb-6.25 lg:mb-10"
                    ></div>
                    <p class="text-light-blue font-bold text-custom-base2 mb-2.5">
                        Les Comités locaux
                    </p>
                    <p class="text-medium-gray font-normal">
                        Composée de tous les Présidents des exécutifs locaux, elle élit un
                        Président et est régulièrement consultée.
                    </p>
                </div>
                <div>
                    <div
                            class="divide-y border-gray-border border-0.5 w-full mb-6.25 lg:mb-10"
                    ></div>
                    <p class="text-light-blue font-bold text-custom-base2 mb-2.5">
                        Le Congrès
                    </p>
                    <p class="text-medium-gray font-normal">
                        Le Congrès est l’organe de nos adhérents. Ils élisent un collège
                        de 120 d’entre eux qui siègeront au bureau national pendant 3 ans.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <!-- Newsletter -->
    <section class="md:px-20 md:mb-25">
        <div class="max-w-7xl lg:mx-auto md:flex w-full">
            <div
                    class="bg-cover md:rounded-tl-lg md:rounded-bl-lg lg:w-[34.375rem] px-7.5 py-12.5 lg:px-[6.875rem] lg:py-25 min-h-[15.75rem]"
                    style="background-image: url('/images/renaissance/macron-newsletter.jpg')"
            >
                <p
                        class="text-white font-bold text-custom-2xl mb-5 lg:text-3xl lg:leading-[2.1875rem]"
                >
                    Newsletter
                </p>
                <p
                        class="text-white font-normal text-lg leading-6.25 lg:text-xl lg:leading-7.5"
                >
                    Restez les premiers informés de l’actualité de Renaissance.
                </p>
            </div>
            <div
                    class="bg-light-blue px-7.5 py-12.5 lg:px-[6.875rem] lg:py-25 md:rounded-tr-lg md:rounded-br-lg lg:w-[45.625rem]"
            >
                <div class="lg:flex lg:flex-row lg:gap-x-3.75">
                    <input
                            type="text"
                            placeholder="Prénom*"
                            class="form-control"
                    />
                    <input
                            type="text"
                            placeholder="Nom*"
                            class="form-control"
                    />
                </div>
                <input
                        type="text"
                        placeholder="Email*"
                        class="form-control"
                />
                <button
                        class="bg-white rounded w-full py-5.75"
                >
                    <span
                            class="font-din text-dark-blue uppercase font-bold text-lg text-center"
                    >
                        M'inscrire
                    </span>
                </button>
            </div>
        </div>
    </section>
    <!-- Footer -->
    <section class="bg-dark-blue pt-25 md:pt-50">
        <div class="max-w-7xl md:mx-auto mb-12.5">
            <a href="{{ path('app_ren_homepage') }}">
                <img
                    src="/images/renaissance/logo.svg"
                    class="mx-auto mb-[7.8125rem] md:mb-50 h-[1.25rem] md:h-8.75"
                    alt="logo"
                />
            </a>
            <div class="grid grid-cols-3 lg:grid-cols-5 divide-white/10 gap-y-6.25 px-7.5 md:px-20 md:mb-6.25">
                <!-- Facebook -->
                <a
                    href="#"
                    class="flex flex-col md:flex-row items-center pr-6.25 lg:px-12.5 border-r-2 border-white/10"
                >
                    <span class="fa-stack mb-5 md:mb-0 md:mr-7.5 lg:mr-5.75">
                        <i
                            class="fa fa-circle fa-stack-2x"
                            style="color: rgba(255, 255, 255, 0.1)"
                        ></i>
                        <i class="fa fa-facebook-f fa-stack-1x fa-inverse"></i>
                    </span>
                    <span class="text-white font-medium text-custom-base1">Facebook</span>
                </a>
                <!-- Instagram -->
                <a
                    href="#"
                    class="flex flex-col md:flex-row items-center px-6.25 lg:px-12.5 border-r-2 border-white/10"
                >
                    <span class="fa-stack md:fa-2x mb-5 md:mb-0 md:mr-7.5 lg:mr-5.75">
                        <i
                            class="fa fa-circle fa-stack-2x"
                            style="color: rgba(255, 255, 255, 0.1)"
                        ></i>
                        <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
                    </span>
                    <span class="text-white font-medium text-custom-base1">Instagram</span>
                </a>
                <!-- Twitter -->
                <a
                    href="#"
                    class="flex flex-col md:flex-row items-center pl-6.25 lg:px-12.5 lg:border-r-2 lg:border-white/10"
                >
                    <span class="fa-stack md:fa-2x mb-5 md:mb-0 md:mr-7.5 lg:mr-5.75">
                        <i
                            class="fa fa-circle fa-stack-2x"
                            style="color: rgba(255, 255, 255, 0.1)"
                        ></i>
                        <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                    </span>
                    <span class="text-white font-medium text-custom-base1">Twitter</span>
                </a>

                <!-- Linkedin -->
                <a
                    href="#"
                    class="flex flex-col md:flex-row items-center pr-6.25 lg:px-12.5 lg:pl-6.25 border-r-2 border-white/10"
                >
                    <span class="fa-stack md:fa-2x mb-5 md:mb-0 md:mr-7.5 lg:mr-5.75">
                        <i
                            class="fa fa-circle fa-stack-2x"
                            style="color: rgba(255, 255, 255, 0.1)"
                        ></i>
                        <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
                    </span>
                    <span class="text-white font-medium text-custom-base1">Linkedin</span>
                </a>
                <!-- Youtube -->
                <a
                    href="#"
                    class="flex flex-col md:flex-row items-center px-6.25 lg:px-12.5 border-r-2 border-white/10 md:border-0"
                >
                    <span class="fa-stack md:fa-2x mb-5 md:mb-0 md:mr-7.5 lg:mr-5.75">
                        <i
                            class="fa fa-circle fa-stack-2x"
                            style="color: rgba(255, 255, 255, 0.1)"
                        ></i>
                        <i class="fa fa-youtube fa-stack-1x fa-inverse"></i>
                    </span>
                    <span class="text-white font-medium text-custom-base1">Youtube</span>
                </a>
            </div>
        </div>
        <!-- Legal notice -->
        <div
                class="md:bg-dark-gray/10 flex flex-col items-center md:flex-row md:justify-center gap-x-7.5 pb-12.5 md:py-6.25"
        >
            <a href="#">
                <span class="text-white font-normal text-sm">Mentions légales</span>
            </a>
            <a href="#">
                <span class="text-white font-normal text-sm">
                    Politique de confidentialité
                </span>
            </a>
            <a href="#">
                <span class="text-white font-normal text-sm">Contactez-nous</span>
            </a>
            <a href="#">
                <span class="text-white font-normal text-sm">Données personnelles</span>
            </a>
        </div>
    </section>
{% endblock %}

{% block final_javascripts %}
    <script type="text/javascript">
        Bootstrap.onLoad(function () {
            Main.runHomePage();
        });
    </script>
{% endblock %}
