{% extends 'base.html.twig' %}

{% block page_title 'Nouvel événement' %}

{% block javascripts %}
    {% import 'javascript.js.twig' as js %}

    <script type="text/javascript" src="{{ asset('ckeditor/ckeditor.js') }}"></script>
    <script type="text/javascript" src="{{ asset('ckeditor/lang/fr.js') }}"></script>
    <script type="text/javascript" src={{ asset('bundles/sonataadmin/vendor/jquery/dist/jquery.min.js') }}></script>
    <script type="text/javascript" src={{ asset('bundles/sonataadmin/vendor/jqueryui/ui/jquery-ui.js') }}></script>
    <script type="text/javascript">
        Kernel.onLoad(function() {
            {{ js.address(form.address) }}
            {{ js.ckeditor('citizen_initiative_description') }}
            {{ js.skills('#citizen_initiative_skills', '#citizen_initiative_skill_search', path('app_citizen_initiative_skills_autocomplete'), '#citizen_initiative_skill_search') }}
        });

        $(document).ready(function() {
            var idCoachingRequested = '#citizen_initiative_coaching_requested';
            var idNeedSkills = 'input[type=radio][name="citizen_initiative[expert_assistance_needed]"]';

            var toogleSearchSkills = function(value) {
                if (value) {
                    $('#citizen-initiative-skills-field').show();
                } else {
                    $('#citizen-initiative-skills-field').hide();
                }
            };

            var toggleCoachingRequest = function() {
                if ($(idCoachingRequested).is(':checked')) {
                    $('#citizen-initiative-required_means-field').show();
                } else {
                    $('#citizen-initiative-required_means-field').hide();
                }
            };

            // Show/hide coaching request fields
            $(idCoachingRequested).change(function() {
                toggleCoachingRequest();
            });

            // Show/hide skills search fields
            $(idNeedSkills).change(function() {
                toogleSearchSkills(parseInt(this.value));
            });

            toogleSearchSkills(0);
            toggleCoachingRequest();
        });
    </script>
{% endblock %}

{% block content %}
<main class="citizen_initiative__create l__wrapper">
    <section class="content ">
        {% if initiative.slug is defined %}
        <header class="space--30-0 l__wrapper--slim">
            <h1 class="text--large text--center">
                Je modifie mon initiative citoyenne
            </h1>
        </header>
        <hr/>
        {% else %}
        <header class="space--60-0 l__wrapper--slim">
            <h1 class="text--large text--center">
                Je crée mon initiative citoyenne
            </h1>
            <div class="text--body text--center b__nudge--top-10">
                Une initiative citoyenne, c'est une action locale qui vise à améliorer concrètement le quotidien des habitants.
            </div>
        </header>
        <hr/>
        {% endif %}
    </section>
    <section class="l__wrapper--slim">
        <div id="citizen-initiative-form">
            {{ form_start(form, { attr: { class: 'b__nudge--top-40'} }) }}
            {{ form_errors(form) }}

            <div class="form__row" id="citizen-initiative-name-field">
                {{ form_errors(form.name) }}
                {{ form_label(form.name, 'Titre de l\'initiative', {'label_attr': { class: 'text--bold' }}) }}
                {{ form_widget(form.name, { attr: { class: 'form--full citizen_initiative__form__name', 'placeholder': 'Entrez un nom accrocheur et explicite pour votre initiative (100 caractères max).' } }) }}
                <div class="text--gray text--italic">Ex : Un stage pour tous : aider les élèves de 3e à trouver un stage en entreprise.</div>
            </div>

            <div class="form__row" id="citizen-initiative-problem_description-field">
                {{ form_errors(form.coaching_request.problem_description) }}
                {{ form_label(form.coaching_request.problem_description, 'À quel problématique locale répond votre initiative ?', {'label_attr': { class: 'text--bold' }}) }}
                {{ form_widget(form.coaching_request.problem_description, { attr: { class: 'citizen_initiative__problem_description form--full form__field--textarea-120', placeholder: 'Décrivez en 1 ou 2 phrases le problème local auquel vous proposez de répondre (500 caractères max).' } }) }}
                <div class="text--gray text--italic">Ex : Les collégiens ont à effectuer un stage d’observation en classe de 3e ou de 4e pour les aider à déterminer leur orientation professionnelle mais ils ont parfois du mal à trouver ce stage en dehors de leur réseau familial.</div>
            </div>

            <div class="form__row" id="citizen-initiative-description-field">
                {{ form_errors(form.description) }}
                {{ form_label(form.description, 'Que voulez-vous faire ?', {'label_attr': { class: 'text--bold' }}) }}
                {{ form_widget(form.description, { attr: { class: 'citizen_initiative__proposed_solution form--full form__field--textarea-120', placeholder: 'Décrivez en un court paragraphe les solutions que vous envisagez (1000 caractères max).', 'rows': '15', 'cols': '70' } }) }}
                <div class="text--gray text--italic">
                    Ex : Nous souhaitons recenser les entreprises prêtes à recevoir un élève pour un stage d'une semaine, et proposer ces opportunités aux élèves de 3e des collèges classés en zone d'éducation prioritaire du quartier. Les jeunes pourront ainsi découvrir un univers professionnel hors de leur réseau familial, et réfléchir différemment à leur orientation !
                </div>
            </div>

            <div class="form__row" id="citizen-initiative-take-action-field">
                {{ form_errors(form.coaching_request.proposed_solution) }}
                {{ form_label(form.coaching_request.proposed_solution, 'Quand comptez-vous passer à l\'action ?', {'label_attr': { class: 'text--bold' }}) }}
                {{ form_widget(form.coaching_request.proposed_solution, { attr: { class: 'citizen_initiative__take_action form--full form__field--textarea-120', 'placeholder': 'Indiquez votre calendrier prévisionnel : date de la première action envisagée, principales étapes de votre projet (500 caractères max).', 'rows': '15', 'cols': '70' } }) }}
                <div class="text--gray text--italic">
                    <ul>
                        <li>Ex: 1. Contacter des élèves de 3e et des parents d'élèves pour mieux comprendre leurs besoins ;</li>
                        <li>2. Recenser des opportunités de stages auprès d'entreprises locales ;</li>
                        <li>3. Faire connaître ces opportunités aux collégiens : via les établissements, les associations, etc.</li>
                        <li>Date de lancement prévue : décembre 2017.</li>
                    </ul>
                </div>
            </div>

            <div class="form__row" id="citizen-initiative-beginat-field">
                {{ form_errors(form.beginAt) }}
                {{ form_label(form.beginAt, 'Début', {'label_attr': { class: 'text--bold' }}) }}
                {{ form_widget(form.beginAt, { attr: { class: 'citizen_initiative__begin_at l__row' } }) }}
            </div>

            <div class="form__row" id="citizen-initiative-finishat-field">
                {{ form_errors(form.finishAt) }}
                {{ form_label(form.finishAt, 'Fin', {'label_attr': { class: 'text--bold' }}) }}
                {{ form_widget(form.finishAt, { attr: { class: 'citizen_initiative__finish_at l__row' } }) }}
            </div>

            <div class="form__row" id="citizen-initiative-description-field">
                {{ form_errors(form.category) }}
                {{ form_label(form.category, 'Quel thème correspond à votre initiative ?', {'label_attr': { class: 'text--bold' }}) }}
                {{ form_widget(form.category, { attr: { class: 'form--full citizen_initiative__form__category', 'placeholder': "Choisissez le thème de l'initiative" } }) }}
            </div>

            <div class="form__row" id="citizen-initiative-interests-field">
                {{ form_errors(form.interests) }}
                {{ form_label(form.interests, 'Quelles sont les thématiques liées à votre initiative ?', {'label_attr': { class: 'text--bold' }}) }}
                <div class="l__row l__row--wrap l__tablet-col">
                    {% for interest in form.interests %}
                        <div class="form__checkbox form__checkbox--col citizen_initiative__interests">
                            {{ form_widget(interest) }}
                            {{ form_label(interest) }}
                        </div>
                    {% endfor %}
                </div>
            </div>

            <div id="citizen-initiative-address" class="form__row">
                {{ form_errors(form.address) }}

                <div class="form__row citizen_initiative__form--trunc" id="citizen-initiative-address-address-field">
                    {{ form_errors(form.place) }}
                    {{ form_label(form.place, 'Où se déroule mon initiative ?', {'label_attr': { class: 'text--bold' }}) }}
                    {{ form_widget(form.place, { attr: { class: 'form--full', placeholder: "Si pertinent, indiquez le lieu où se déroulera votre initiative (100 caractères max)." } }) }}
                    <div class="text--gray text--italic">Ex : Fablab Antipolis / Quartier des Murettes / Pays du Morvan.</div>
                </div>

                <div class="form__row citizen_initiative__form--trunc" id="citizen-initiative-address-address-field">
                    {{ form_errors(form.address.address) }}
                    {{ form_label(form.address.address, 'Adresse', {'label_attr': { class: 'text--bold' }}) }}
                    {{ form_widget(form.address.address, { attr: { class: 'form--full', placeholder: "Si votre initiative ne se déroule pas dans un lieu précis, indiquez l'adresse qui vous semble la plus pertinente." } }) }}
                    <div class="text--gray text--italic">Ex : 127, rue de Paradis</div>
                </div>

                <div class="citizen_initiative__address l__row l__row--h-stretch l__mobile--col">
                    <div class="form__row citizen_initiative__form__zip_code register__form--third"
                         id="citizen-initiative-address-zipcode-field">
                        {{ form_label(form.address.postalCode, 'Code postal', {'label_attr': { class: 'text--bold' }}) }}
                        {{ form_widget(form.address.postalCode, { attr: { class: 'form--full', placeholder: 'Entrez le code postal' } }) }}
                    </div>

                    <div class="form__row citizen_initiative__form__city register__form--third"
                         id="citizen-initiative-address-city-field">
                        {{ form_errors(form.address.city) }}
                        {{ form_label(form.address.cityName, 'Ville', {'label_attr': { class: 'text--bold' }}) }}
                        {{ form_widget(form.address.city, { attr: { class: 'citizen_initiative__form__city'}}) }}
                        {{ form_widget(form.address.cityName, { 'attr': { 'class': 'form--full citizen_initiative__form__city_name', 'placeholder': 'Ville' } }) }}
                    </div>

                    <div class="form__row citizen_initiative__form__country register__form--third"
                         id="citizen-initiative-address-country-field">
                        {{ form_errors(form.address.country) }}
                        {{ form_label(form.address.country, 'Pays', {'label_attr': { class: 'text--bold' }}) }}
                        {{ form_widget(form.address.country, { attr: { class: 'form--full', 'placeholder': 'Choisissez le pays' } }) }}
                    </div>
                </div>
            </div>

            <div class="form__row b__nudge--top" id="citizen-initiative-expert_assistance_needed-field">
                <h3 class="text--medium-small text--bold">
                    J’ai besoin de compétences spécifiques d’autres adhérents
                </h3>
                {{ form_errors(form.expert_assistance_needed) }}
                {{ form_widget(form.expert_assistance_needed, { attr: { class: 'citizen_initiative__expert_assistance_needed form__radio-button' } }) }}
            </div>

            <div class="form__row" id="citizen-initiative-skills-field">
                {{ form_errors(form.skills) }}
                {{ form_label(form.skill_search, 'Saisissez les compétences recherchées', { label_attr: { class: 'l__col text--body' } }) }}
                <div>
                    {{ form_widget(form.skill_search, { attr: { style: 'margin-bottom: 10px', class: 'form__skills' } }) }} <span id="add_skill" class="btn summary-add-item">Ajouter</span>
                    {{ form_widget(form.skills, { attr: { class: 'citizen_initiative__skills' } }) }}
                </div>
            </div>

            <div class="form__row b__nudge--top" id="citizen-initiative-coaching_requested-field">
                {{ form_errors(form.coaching_requested) }}
                <div class="form__checkbox citizen_initiative__coaching_requested">
                    {{ form_widget(form.coaching_requested) }}
                    {{ form_label(form.coaching_requested, 'Je sollicite un accompagnement personnalisé de la part d\'En Marche', {'label_attr': { class: 'text--bold' }}) }}
                </div>
            </div>

            <div class="form__row" id="citizen-initiative-required_means-field">
                {{ form_errors(form.coaching_request.required_means) }}
                {{ form_label(form.coaching_request.required_means, 'En quoi l\'équipe d’accompagnement peut-elle m\'aider ?', {'label_attr': { class: 'text--bold' }}) }}
                {{ form_widget(form.coaching_request.required_means, { attr: { class: 'citizen_initiative__required_means form--full form__field--textarea-120', placeholder: '(1000 caractères max.)' } }) }}
                <div class="text--gray text--italic">Le Mouvement ne finance pas les initiatives citoyennes.</div>
            </div>

            {% if initiative.slug is defined %}
                <div class="form__row b__nudge--top">
                    <button type="submit" class="btn btn--blue">Enregistrer</button>
                    <a href="{{ path('app_citizen_initiative_show', {'slug': initiative.slug}) }}"
                       class="btn">
                        Annuler
                    </a>
                </div>
            {% else %}
                <div class="form__row text--center b__nudge--top-40 b__nudge--bottom-huge">
                    <button type="submit" class="btn btn--blue btn--medium">Je crée mon initiative</button>
                </div>
            {% endif %}

            {{ form_end(form) }}
        </div>
    </section>
</main>
{% endblock %}
