{% extends 'summary/_block/experiences.html.twig' %}

{% block summary_experiences %}
    {{ parent() }}
    <a href="{{ path('app_summary_manager_handle_experience') }}" class="button btn summary-add-item icon--with-text">
        <i class="fa fa-plus"></i> Ajouter une expérience
    </a>
    {% block modify %}
        {{ parent() }}
        {% if experience|default(false) and not experience.new %}
            <div class="cv__experience--options">
                <a href="{{ path('app_summary_manager_handle_experience', { id: experience_id }) }}">
                    Modifier
                </a>
                {{ delete_form(path('app_summary_manager_remove_experience', { id: experience_id }), constant('App\\Summary\\SummaryManager::DELETE_EXPERIENCE_TOKEN')) }}
            </div>
        {% endif %}
    {% endblock %}
{% endblock %}
