{% extends 'summary/_block/header.html.twig' %}

{% block summary_left_part %}
    <div>
        <div>Ajouter une photo</div>
        <h2 class="text--large b__nudge--bottom-tiny">{{ app.user.fullname }}</h2>
        <div class="text--body text--gray">{{ app.user.age }} ans, {{ app.user.cityName }}</div>
    </div>
{% endblock %}

{% block summary_right_part %}
    <div>
        <div>CV <br> {{ summary.public ? 'public' : 'non public' }}</div>
        <a href="#">{{ summary.public ? 'dépublier' : 'publier' }} mon CV</a>
        {% if summary.public %}
            <a href="{{ path('app_summary_index', { slug: summary.slug }) }}">Voir mon CV en ligne</a>
        {% endif %}
    </div>
{% endblock %}

{% block summary_bottom_part %}
    <div>
        <div>
            {{ app.user.activatedAt|localizeddate('none', 'none', 'fr_FR', null, 'MMMM Y') }}<br>
            Date d'adhésion
        </div>
        <div>
            23 <br> participations à des events
        </div>
        <div>
            65% <br> profile complété
        </div>
    </div>
{% endblock %}

