{% extends 'summary/_block/header.html.twig' %}

{% block summary_left_part %}
    <div class="progressive-background space--100-0"
         data-sd="{{ static_asset('procuration.jpg', { w: 300, q: 20 }) }}"
         data-hd="{{ static_asset('procuration.jpg', { w: 2000, q: 70 }) }}">
    </div>
    <div class="background--yellow cv__header">
        <div class="l__wrapper--medium text--center">
            {{ include('summary_manager/_block/photo.html.twig') }}
            <div class="cv__header__about">
                <h2 class="text--large b__nudge--top">{{ app.user.fullname }}</h2>
                {% if summary.currentPosition %}
                    {% set currentPositionLabel = ('adherent.activity_position.' ~ summary.currentPosition)|trans  %}
                    {% if summary.currentProfession %}
                        <div class="text--uppercase cv__header__profession">{{ summary.currentProfession }}</div>
                        <div class="text--body text--italic cv__header__position">{{ currentPositionLabel }}</div>
                    {% else %}
                        <div class="text--uppercase cv__header__position">{{ currentPositionLabel }}</div>
                    {% endif %}
                {% endif %}
                <p class="text--body">{{ summary.professionalSynopsis }}</p>
                <div class="cv__header--modify">
                    <a href="{{ path('app_summary_manager_step', { step: constant('App\\Form\\SummaryType::STEP_SYNTHESIS') }) }}" class="button">
                        Modifier mes ambitions</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block summary_contact %}
    {{ parent() }}
    <div class="cv__header__contact--modify">
        <a href="{{ path('app_summary_manager_step', { step: constant('App\\Form\\SummaryType::STEP_CONTACT') }) }}" class="button">Modifier les moyens de me contacter</a>
    </div>
{% endblock %}

{% block summary_right_part %}
    <div class="cv__header__manage">
        {% if summary.public %}
            <div>Mon profil En Marche est public</div>
            <a href="{{ path('app_summary_manager_unpublish') }}" class="link--white">Dépublier mon profil</a>
            <a href="{{ path('app_summary_index', { slug: summary.slug }) }}" target="_blank"
               class="link--white">Voir mon profil en ligne</a>
        {% else %}
            <div>Mon profil En Marche est privé</div>
            <a href="{{ path('app_summary_manager_publish') }}" class="link--white">Publier mon profil</a>
        {% endif %}
    </div>
{% endblock %}
