{% extends 'summary/_block/header.html.twig' %}

{% block summary_left_part %}
    <div>
        <div>Ajouter une photo</div>
        <h2 class="text--large b__nudge--bottom-tiny">{{ app.user.fullname }}</h2>
        <div class="text--body text--gray">{{ app.user.age }} ans, {{ app.user.cityName }}</div>
    </div>
{% endblock %}

{% block summary_right_part %}
    <div>
        {% if summary.public %}
            <div>CV <br> public</div>
            <a href="{{ path('app_summary_manager_unpublish') }}">dépublier mon CV</a>
            <a href="{{ path('app_summary_index', { slug: summary.slug }) }}">Voir mon CV en ligne</a>
        {% else %}
            <div>CV <br> non public</div>
            {% if summary.completed %}
                <a href="{{ path('app_summary_manager_publish') }}">publier mon CV</a>
            {% endif %}
        {% endif %}
    </div>
{% endblock %}
