{% extends 'summary/_block/languages.html.twig' %}

{% block summary_languages %}
    {{ parent() }}
    <a href="{{ path('app_summary_manager_handle_language') }}" class="btn b__nudge--top summary-add-item icon--with-text">
        <i class="fa fa-plus"></i> Ajouter une langue
    </a>
    {% block modify %}
        {{ parent() }}
        {% if language|default(false) and language.id %}
            <a href="{{ path('app_summary_manager_handle_language', { id: language_id }) }}">
                Modifier
            </a>
            {{ delete_form(path('app_summary_manager_remove_language', { id: language_id }), constant('App\\Summary\\SummaryManager::DELETE_LANGUAGE_TOKEN')) }}
        {% endif %}
    {% endblock %}
{% endblock %}
