{% extends 'summary/_block/synthesis.html.twig' %}

{% block summary_synthesis %}
    {{ parent() }}
    <div class="cv__work-status--modify">
        <a href="{{ path('app_summary_manager_step', { step: constant('AppBundle\\Form\\SummaryType::STEP_SYNTHESIS') }) }}" class="button">
            Modifier mes ambitions chez En Marche</a>
    </div>
{% endblock %}


{% block summary_bottom_part %}
    <div class="bandeau bandeau--wide bandeau--blue">
        <ul>
            <li>
                <div class="text--normal">Date d'adhésion</div>
                {% if summary.member.activatedAt %}
                    {{ summary.member.registeredAt|localizeddate('none', 'none', 'fr_FR', null, 'MMMM yyyy') }}
                {% else %}
                    -
                {% endif %}
            </li>
            <li>
                <div class="text--normal">Participation</div>
                {{ recent_activities.eventParticipationsCount }}
                évènement{{ recent_activities.eventParticipationsCount > 1 ? 's' }}
            </li>
            <li>
                <div class="text--normal">Profil complété</div>
                <span class="summary-completion">{{ summary.completion }}%</span>
            </li>
        </ul>
    </div>
{% endblock %}
