<section class="l__wrapper--medium">

    <div class="l__row l__row--h-stretch l__row--top l__tablet--col b__nudge--bottom-large">
        <div class="l__wrapper--main">
            {% if summary.currentProfession %}
                <h2>{{ summary.currentProfession }}</h2>
                <h3>{{ summary.currentPosition }}</h3>
            {% else %}
                <h2>{{ summary.currentPosition }}</h2>
            {% endif %}
            <a href="#" class="button">Modifer</a>
        </div>
    </div>

    <hr>

    <div class="l__row l__row--h-stretch l__row--top l__tablet--col b__nudge--bottom-large">
        <div class="l__col--left">
            <p>Recherche</p>
            <p>{{ summary.contributionWishLabel }}</p>
        </div>
        <div class="l__col--center">
            <p>Disponibilité</p>
            <p>{{ summary.availabilities|join(' ou ')|capitalize }}</p>
        </div>
        <div class="l__col--right">
            <p>Travail</p>
            <p>{{ summary.jobLocations|join(' ou ')|capitalize }}</p>
        </div>
    </div>

    <hr>

    <div class="l__row l__row--h-stretch l__row--top l__tablet--col b__nudge--bottom-large">
        <p>{{ summary.professionalSynopsis }}</p>
    </div>

</section>
