{% extends 'summary/_block/trainings.html.twig' %}

{% block summary_trainings %}
    {{ parent() }}
    <a href="{{ path('app_summary_manager_handle_training') }}" class="button summary-add-item"><i class="fa fa-plus fa-3x"></i></a>
    {% block modify %}
        {{ parent() }}
        {% if training is defined and not training.new %}
            <a href="{{ path('app_summary_manager_handle_training', { id: training_id }) }}" class="btn">
                Modifier
            </a>
            {{ delete_form(path('app_summary_manager_remove_training', { id: training_id }), constant('AppBundle\\Summary\\SummaryManager::DELETE_TRAINING_TOKEN')) }}
        {% endif %}
    {% endblock %}
{% endblock %}
