{% extends 'summary/_block/trainings.html.twig' %}

{% block summary_trainings %}
    {{ parent() }}
    <a href="{{ path('app_summary_manager_handle_training') }}" class="btn summary-add-item icon--with-text">
        <i class="fa fa-plus"></i> Ajouter une formation
    </a>

    {% block modify %}
        {{ parent() }}
        {% if training is defined and not training.new %}
        <div class="cv__training--options">
            <a href="{{ path('app_summary_manager_handle_training', { id: training_id }) }}">
                Modifier
            </a>
            {{ delete_form(path('app_summary_manager_remove_training', { id: training_id }), constant('App\\Summary\\SummaryManager::DELETE_TRAINING_TOKEN')) }}
        </div>
        {% endif %}
    {% endblock %}
{% endblock %}
