{% extends get_admin_template('base_list_field', admin.code) %}

{% block field %}
    {% if object is instanceof('App\\Entity\\NationalEvent\\Payment') %}
        {% set object = object.inscription %}
    {% endif %}

    {% set adherent = object.adherent %}

    {% if adherent %}
        {{ include('admin/adherent/display_fullname_certified.html.twig') }}
    {% else %}
        <div style="white-space: nowrap;">
            <p style="font-weight: bold;">{{ object.gender|civility_alias }} {{ object.firstName }} {{ object.lastName }}</p>
            <p>{{ object.addressEmail }}</p>
        </div>
    {% endif %}
{% endblock %}
