{% extends 'SonataAdminBundle::standard_layout.html.twig' %}

{% block sonata_page_content_header %}
    <div class="sticky-wrapper">
        <nav class="navbar navbar-default" role="navigation" style="width: auto;">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">
                        Gérer les membres du projet citoyen "{{ citizenProject.name }}"
                    </a>
                </div>
            </div>
        </nav>
    </div>
{% endblock %}

{% block sonata_admin_content %}
    {% block notice %}
        {{ parent() }}
    {% endblock %}

    <p>
        <a href="{{ path('admin_app_citizenproject_list') }}" class="btn btn-default">
            <i class="fa fa-chevron-left" aria-hidden="true"></i>
            Retour à la liste
        </a>
        <a href="{{ path('admin_app_citizenproject_edit', {'id': citizenProject.id}) }}" class="btn btn-default">
            <i class="fa fa-pencil" aria-hidden="true"></i>
            Éditer le projet citoyen
        </a>
    </p>

    <div class="row">
        <div class="col-xs-12 col-sm-8 col-md-6">
            <div class="box box-primary">
                <div class="box-body table-responsive no-padding">
                    <table class="table table-bordered table-striped sonata-ba-list">
                        <thead>
                        <tr>
                            <th>
                                Membre
                            </th>
                            <th>
                                Rôle
                            </th>
                            <th>
                                Actions
                            </th>
                        </tr>
                        {% for membership in memberships if membership.canAdministrateCitizenProject %}
                            {% set administrator = membership.adherent %}
                            {% set token = csrf_token('citizenProject.change_privilege.' ~ administrator.id) %}

                            <tr>
                                <td>
                                    <a href="{{ path('admin_app_adherent_show', {'id': administrator.id}) }}">
                                        {{ administrator.fullName }}
                                    </a>
                                    <br />
                                    {{ administrator.emailAddress }}
                                </td>
                                <td>
                                    {% if membership.isAdministrator %}
                                        <span class="label label-primary">Administrateur</span>
                                    {% endif %}
                                </td>
                                <td>
                                    <a href="{{ path('app_admin_citizenproject_change_privilege', {citizenProject: citizenProject.id, adherent: administrator.id, privilege: constant('CITIZEN_PROJECT_FOLLOWER', membership), token: token}) }}"
                                       class="btn btn-default btn-sm">
                                        Transformer en follower
                                    </a>

                                    {% if administratorsCount < 1 %}
                                        <a href="{{ path('app_admin_citizenproject_change_privilege', {citizenProject: citizenProject.id, adherent: administrator, privilege: constant('CITIZEN_PROJECT_ADMINISTRATOR', membership), token: token}) }}"
                                           class="btn btn-default btn-sm">
                                            Transformer en administrateur
                                        </a>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                        {% for membership in memberships if membership.isFollower %}
                            {% set member = membership.adherent %}
                            {% set token = csrf_token('citizenProject.change_privilege.' ~ member.id) %}

                            <tr>
                                <td>
                                    <a href="{{ path('admin_app_adherent_show', {'id': member.id}) }}">
                                        {{ member.fullName }}
                                    </a>
                                    <br />
                                    {{ member.emailAddress }}
                                </td>
                                <td>
                                    <span class="label label-default">Membre</span>
                                </td>
                                <td>
                                    <a href="{{ path('app_admin_citizenproject_change_privilege', {citizenProject: citizenProject.id, adherent: member.id, privilege: constant('CITIZEN_PROJECT_ADMINISTRATOR', membership), token: token}) }}"
                                       class="btn btn-default btn-sm">
                                        Transformer en administrateur
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
