{% extends 'base.html.twig' %}

{% block page_title 'Mon espace Municipales 2020' %}

{% block banner '' %}

{% block stylesheets %}
    {% if not app.user.isChartAccepted %}
        <link rel="stylesheet" href="{{ asset('bundles/sonataadmin/vendor/jqueryui/themes/base/minified/jquery-ui.min.css') }}" />
    {% endif %}
{% endblock %}

{% block content %}
    <main>
        <section class="manager-space b__nudge--bottom-huge">
            <header class="manager-header">
                <div class="l__wrapper">
                    <div class="first-section">
                        <div class="el manager-information">
                            <p>Vous gérez : <span>{{ get_cities_names_from_insee_code(app.user.municipalChiefManagedArea.codes)|join(', ') }}</span></p>
                        </div>
                        <div class="el">
                            <p class="report">🐛 Bug ? Nouveau besoin ?
                                <a href="mailto:cellule.technique.municipales&#64;en-marche.fr" class="text--blue--dark link--no-decor">Écrivez-nous !</a>
                            </p>
                        </div>
                    </div>
                    <div class="second-section">
                        <h1 class="page-title text--large b__nudge--bottom">
                            {{ block('page_title') }}
                        </h1>
                        <div class="direct-actions">
                            <a href="{{ path('app_message_municipal_chief_create') }}" class="btn btn--blue">+&nbsp;<span>Nouveau&nbsp;</span>message</a>
                            <a href="{{ path('app_municipal_chief_event_manager_events_create') }}" class="btn btn--ghosting--blue">+&nbsp;<span>Créer un&nbsp;</span>événement</a>
                        </div>
                    </div>
                    <nav class="manager-header__menu">
                        <ul>
                            <li class="{{ is_active_route(app.request, 'app_municipal_chief_home') ? 'active' }}">
                                <a href="{{ path('app_municipal_chief_home') }}">Vue d'ensemble</a>
                            </li>

                            <li class="{{ is_active_route(app.request, 'app_municipal_chief_candidate_*') ? 'active' }}">
                                <a href="{{ path('app_municipal_chief_candidate_running_mate_list') }}">Candidats</a>
                            </li>

                            <li class="{{ is_active_route(app.request, 'app_municipal_chief_event_manager_*') ? 'active' }}">
                                <a href="{{ path('app_municipal_chief_event_manager_events') }}">Événements</a>
                            </li>

                            <li class="{{ is_active_route(app.request, 'app_municipal_chief_my_team_*') ? 'active' }}">
                                <a href="{{ path('app_municipal_chief_my_team_running_mate_list') }}">Mon équipe</a>
                            </li>

                            <li class="{{ is_active_route(app.request, 'app_message_municipal_chief_*') ? 'active' }}">
                                <a href="{{ path('app_message_municipal_chief_list') }}">Mes messages</a>
                            </li>
                        </ul>
                    </nav>

                </div>
            </header>

            <div class="l__wrapper text--body">
                {% block municipal_chief_content %}{% endblock %}
            </div>
        </section>

        {% if not app.user.isChartAccepted %}
            {% include 'chart_dialog.html.twig' with {
                'title': 'application_request.municipal_chief.popup.title'|trans,
                'fileUrl': 'application_request.municipal_chief.popup.file_url'|trans
            } %}
        {% endif %}
    </main>
{% endblock %}

{% block final_javascripts %}
    {% if not app.user.isChartAccepted %}
        <script type="text/javascript" src={{ asset('bundles/sonataadmin/vendor/jquery/dist/jquery.min.js') }}></script>
        <script type="text/javascript" src={{ asset('bundles/sonataadmin/vendor/jqueryui/ui/jquery-ui.js') }}></script>

        {% if js is not defined %}
            {% import 'javascript.js.twig' as js %}
        {% endif %}

        <script type="text/javascript">
            Kernel.onLoad(function() {
                {{ js.chart_acceptation('#chart_dialog') }}
            });
        </script>
    {% endif %}
{% endblock %}
