{% extends 'municipal_chief/_layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('select2/select2.min.css') }}" rel="stylesheet">
{% endblock %}

{% block municipal_chief_content %}
    <div class="manager-overview">
        <div class="manager-overview__row">
            <div class="manager-overview__case">
                <span class="manager-overview__case--section">Mes contacts</span>
                <span class="manager-overview__case--value">{{ candidate_count }}</span>
                <h1 class="manager-overview__case--title">Candidature{{ candidate_count > 1 ? 's' }}</h1>
                <footer class="manager-overview__case--footer">
                    <a href="{{ path('app_municipal_chief_candidate_running_mate_list') }}" class="btn btn btn--ghosting--blue">Analyser</a>
                </footer>
            </div>
            <div class="manager-overview__case">
                <span class="manager-overview__case--section">Mes contacts</span>
                <span class="manager-overview__case--value">{{ team_member_count }}</span>
                <h1 class="manager-overview__case--title">Membre{{ team_member_count > 1 ? 's' }} d'équipe</h1>
                <footer class="manager-overview__case--footer">
                    <a href="{{ path('app_municipal_chief_my_team_running_mate_list') }}" class="btn btn btn--ghosting--blue">Gérer</a>
                </footer>
            </div>
            <div class="manager-overview__case">
                <span class="manager-overview__case--section">Communication & Mobilisation</span>
                <span class="manager-overview__case--value">{{ event_count }}</span>
                <h1 class="manager-overview__case--title">Événement{{ event_count > 1 ? 's' }}</h1>
                <footer class="manager-overview__case--footer">
                    <a href="{{ path('app_municipal_chief_event_manager_events') }}" class="btn btn btn--ghosting--blue">Voir</a>
                </footer>
            </div>
        </div>

        {% if last_sent_message %}
            <!-- If no e-mail has been sent : disabled this row -->
            <div class="manager-overview__row">
                <div class="manager-overview__case case-full">
                    <span class="manager-overview__case--section">Communication & Mobilisation</span>
                    <h1 class="manager-overview__case--title">Statistique du dernier e-mail :
                        <a href="{{ path('app_message_municipal_chief_preview', {uuid: last_sent_message.uuid}) }}"
                           class="link--no-decor text--blue--dark">{{ last_sent_message.subject }}</a>
                    </h1>
                    <div class="manager-overview__case--data-row b__nudge--top-large">
                        <div class="el">
                            <div class="text--data-label">Envoyé à</div>
                            <div class="b__nudge--top-5">
                                <span class="text--data-value">{{ message_stats.sent }}</span>
                                <span class="text--dark">contacts</span>
                            </div>
                        </div>
                        <div class="el">
                            <div class="text--data-label">Taux d'ouverture</div>
                            <div class="b__nudge--top-5">
                                <span class="text--data-value">{{ message_stats.open_rate }}%</span>
                                <span class="text--dark">({{ message_stats.opens }})</span>
                            </div>
                        </div>
                        <div class="el">
                            <div class="text--data-label">Taux de clic</div>
                            <div class="b__nudge--top-5">
                                <span class="text--data-value">{{ message_stats.click_rate }}%</span>
                                <span class="text--dark">({{ message_stats.clicks }})</span>
                            </div>
                        </div>
                        <div class="el">
                            <div class="text--data-label">Taux de désabonnement</div>
                            <div class="b__nudge--top-5">
                                <span class="text--data-value">{{ message_stats.unsubscribe_rate }}%</span>
                                <span class="text--dark">({{ message_stats.unsubscribe }})</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}

        <div class="manager-overview__row">
            {% if is_granted('ROLE_PRINT_PRIVILEGE') %}
              <div class="manager-overview__case case-half">
                  <div class="manager-verview__case--content">
                      <span class="manager-overview__case--section">Communication & Mobilisation</span>
                      <h1 class="manager-overview__case--title">Mes tracts</h1>
                      <p class="manager-overview__case--baseline">Connectez-vous avec vos identifiants En Marche pour créer vos tracts de campagne.</p>
                  </div>
                  <footer class="manager-overview__case--footer">
                      <a href="https://muni2020.lamaisondesimpressions.fr/login" target="_blank" class="btn btn btn--ghosting--blue">Administrer</a>
                  </footer>
              </div>
            {% endif %}

            {% if app.user.municipalChiefManagedArea.hasJecouteAccess() %}
                <div class="manager-overview__case case-half">
                    <div class="manager-verview__case--content">
                        <span class="manager-overview__case--section">Communication & Mobilisation</span>
                        <h1 class="manager-overview__case--title">J'écoute</h1>
                        <p class="manager-overview__case--baseline">
                            Créez des questionnaires pour recueillir les impressions et les idées des citoyens sur la vie de votre commune.
                            <a class="link--no-decor text--blue--dark" href="https://storage.googleapis.com/en-marche-fr/TECH/Jecoute/guide_utilisation_jecoute.pdf" target="_blank">Voir le guide d'utilisation</a>
                            <br /><br />
                            Application disponible sur
                            <a class="text--blue--dark link--no-decor" target="_blank" href="https://play.google.com/store/apps/details?id=fr.en_marche.jecoute">Google Play</a>
                            et sur l'<a class="text--blue--dark link--no-decor" target="_blank" href="https://apps.apple.com/fr/app/j%C3%A9coute/id1441973895">App Store</a>.
                        </p>
                    </div>
                    <footer class="manager-overview__case--footer">
                        <a href="{{ path('app_jecoute_municipal_chief_local_surveys_list') }}" target="_blank" class="btn btn btn--ghosting--blue">Administrer</a>
                    </footer>
                </div>
            {% endif %}
            {% if municipal_site_is_enabled(app.user) %}
                <div class="manager-overview__case case-half">
                    <div class="manager-verview__case--content">
                        <span class="manager-overview__case--section">Communication & Mobilisation</span>
                        <h1 class="manager-overview__case--title">Mon site</h1>
                        <p class="manager-overview__case--baseline">Connectez-vous avec vos identifiants En Marche pour gérer votre site de campagne.
                        <a class="link--no-decor text--blue--dark" href="https://storage.googleapis.com/en-marche-fr/TECH/Sites_muni_dpt/guide_utilisation_sites.pdf" target="_blank">Voir le guide d'utilisation</a></p>
                    </div>
                    <footer class="manager-overview__case--footer">
                        <a href="{{ dpt_api_host }}/admin/auth/login" target="_blank" class="btn btn btn--ghosting--blue">Administrer</a>
                    </footer>
                </div>
            {% endif %}
        </div>
        <div class="b__nudge--top-large text--center">
            <a href="https://storage.googleapis.com/en-marche-fr/TECH/charte_numerique_municipales_2020.pdf" class="text--small" target="_blank">Consulter la Charte de bonne utilisation des outils numériques</a>
        </div>
    </div>
{% endblock %}
