{% extends 'base.html.twig' %}

{% block page_title 'Simulateur de retraite' %}
{% block canonical_url url('app_retirement_simulator_home') %}

{% block content %}
    <main class="retirement-simulator">
        <section class="retirement-simulator__header">
            <div class="l__wrapper">
                <h1 class="text--large title">Le simulateur de la reforme des retraites</h1>
                <div class="retirement-simulator__journey">
                    <div class="simulator-journey__item">
                        <label for="{{ form.delayBeforeRetirement.vars.id }}">
                            Aujourd'hui (avant la réforme), il est prévu que vous partiez à la retraite
                            <span>{{ form_widget(form.delayBeforeRetirement) }}</span>.
                        </label>
                    </div>

                    <br />

                    <div class="simulator-journey__item">
                        <label for="{{ form.yearOfBirth.vars.id }}">
                            Vous êtes né(e) <span>{{ form_widget(form.yearOfBirth) }}</span>.
                        </label>

                    </div>

                    <div class="simulator-journey__item">
                        <label for="{{ form.numberOfChildren.vars.id }}">
                            Vous avez <span>{{ form_widget(form.numberOfChildren) }}</span> enfant(s).
                        </label>
                    </div>

                    <br />

                    <div class="simulator-journey__item">
                        <label for="{{ form.profession.vars.id }}">
                            Vous êtes <span>{{ form_widget(form.profession) }}</span>.
                        </label>
                    </div>
                </div>
            <div>
        </section>

        <section class="retirement-simulator__result">
            <div class="l__wrapper l__row l__row--top l__row--h-stretch l__row--wrap">
                <div class="simulator-result__col unchanged" id="simulator-result-unchanged">
                </div>

                <div class="simulator-result__col changed" id="simulator-result-changed">
                </div>
            </div>
        </section>
    </main>
{% endblock %}

{% block javascripts %}
    <script src={{ asset('bundles/sonataadmin/vendor/jquery/dist/jquery.min.js') }}></script>
    <script type="text/javascript">
        Kernel.onLoad(function() {
            $('.retirement-simulator__journey select').change(function() {
                resizeSelect($(this));
            }).each(function() {
                resizeSelect($(this));
            });

            function resizeSelect(select) {
                var text = select.find('option:selected').text()
                var $aux = $('<select/>').append($('<option/>').text(text))
                select.after($aux)
                select.width($aux.width())
                $aux.remove()
            }

            let delayBeforeRetirementSelect= $('select[name="app_retirement_simulator[delayBeforeRetirement]"]');
            let yearOfBirthSelect = $('select[name="app_retirement_simulator[yearOfBirth]"]');
            let numberOfChildrenSelect = $('select[name="app_retirement_simulator[numberOfChildren]"]');
            let professionSelect = $('select[name="app_retirement_simulator[profession]"]');

            delayBeforeRetirementSelect.change(function() {
                if ('before_2037' === this.value && 'before_2004' !== yearOfBirthSelect.val()) {
                    yearOfBirthSelect.val('before_2004');
                }
            });

            yearOfBirthSelect.change(function() {
                if ('in_or_after_2004' === this.value && 'in_or_after_2037' !== delayBeforeRetirementSelect.val()) {
                    delayBeforeRetirementSelect.val('in_or_after_2037');
                }
            });

            delayBeforeRetirementSelect
                .add(yearOfBirthSelect)
                .add(numberOfChildrenSelect)
                .add(professionSelect)
                .change(function() {
                    updateContent();
                })
            ;

            function updateContent() {
                updateUnchangedContent();
                updateChangedContent();
            }
            updateContent();

            function updateUnchangedContent() {
                let content = '<h2 class="text--medium">Ce qui ne change pas</h2>' +
                    '<hr>';

                content += wrapMeasure('L\'âge légal de départ à la retraite est maintenu à 62 ans.');
                content += wrapMeasure('Les personnes qui ont une carrière longue pourront toujours partir 2 ans plus tôt.');
                content += wrapMeasure('Les personnes qui bénéficient aujourd\'hui du dispositif de prise en compte de la pénibilité pourront toujours partir 2 ans plus tôt.');
                content += wrapMeasure('Les interruptions longue de carrière (congé maternité, période de chômage, longue maladie) ne sont pas pénalisées.');

                if ('before_2037' === delayBeforeRetirementSelect.val()) {
                    content += wrapMeasure(
                        'Il n\'y aura aucune évolution des modalités de calculs des montants de la retraite, ' +
                        'tant pour le régime général que pour les régimes spéciaux, ' +
                        'sauf pour prendre en compte les améliorations de la réforme (voir "ce qui change").'
                    );
                }

                if ('in_or_after_2037' === delayBeforeRetirementSelect.val() && 'before_2004' === yearOfBirthSelect.val()) {
                    content += wrapMeasure('Le système actuel continue de fonctionner comme maintenant jusqu\'en 2025. Les droits acquis jusqu\'en 2025 sont garantis à 100%.');
                }

                if ('three_or_more' === numberOfChildrenSelect.val()) {
                    content += wrapMeasure('Bonus au 3ème enfant. Il ne sera pas réduit, contrairement à ce que préconisait le rapport Delevoye.');
                }

                if ('teacher' === professionSelect.val()) {
                    content += wrapMeasure('Les pensions des enseignants ne baisseront pas et cet engagement sera inscrit dans la loi.');
                }

                if ('security_force' === professionSelect.val()) {
                    content += wrapMeasure('Les âges dérogatoires pour les forces de sécurité exposées à des fonctions dangereuses seront maintenus.');
                }

                changeContent($('#simulator-result-unchanged'), content);
            }

            function updateChangedContent() {
                let content = '<h2 class="text--medium">Ce qui change</h2>' +
                    '<hr>';

                if (
                    'in_or_after_2037' === delayBeforeRetirementSelect.val()
                    || 'hospital_staff' === professionSelect.val()
                    || 'teacher' === professionSelect.val()
                    || 'researcher' === professionSelect.val()
                ) {
                    content += '<div class="subtitle">Plus de responsabilité.</div>';
                }

                if ('in_or_after_2037' === delayBeforeRetirementSelect.val()) {
                    content += wrapMeasure('Chaque euro cotisé donne le même montant de pension.');
                    content += wrapMeasure('Chaque heure travaillée crée des droits à la retraite, même quand on travaille moins de 150 heures par trimestre.');
                    content += wrapMeasure('Le point de retraite ne pourra pas baisser. Sa valeur sera fixée par les partenaires sociaux.');
                }

                if ('in_or_after_2037' === delayBeforeRetirementSelect.val() && 'in_or_after_2004' === yearOfBirthSelect.val()) {
                    content += wrapMeasure('Les jeunes cotiseront enfin pour leur retraite lors de leurs stages et de leurs jobs d’été.');
                }

                if ('in_or_after_2037' === delayBeforeRetirementSelect.val() && 'official' === professionSelect.val()) {
                    content += wrapMeasure(
                        'Les primes des fonctionnaires seront intégrées dans le calcul de la retraite, ' +
                        'ce qui va conduire à une amélioration de la situation.'
                    );
                    content += wrapMeasure(
                        'Ceux qui effectuent des tâches pénibles pourront partir plus tôt à la retraite ' +
                        '(meilleure prise en compte de la pénibilité).'
                    );
                }

                if ('hospital_staff' === professionSelect.val()) {
                    content += wrapMeasure(
                        'Ceux qui effectuent des tâches pénibles pourront partir plus tôt à la retraite (prise en compte de la pénibilité). ' +
                        'Cela concerne en particulier les infirmiers. ' +
                        'L\'abaissement des seuils de pénibilité du travail de nuit leur permettra de partir plus tôt.'
                    );
                }

                if ('teacher' === professionSelect.val() || 'researcher' === professionSelect.val()) {
                    content += wrapMeasure('Revalorisation progressives des salaires à partir de 2021.');
                }

                content += '<div class="subtitle">Un système qui protège mieux :</div>';
                content += wrapMeasure('A partir de 2022, augmentation de la retraite minimum à 1000€ net par mois pour les carrières complètes.');

                if ('in_or_after_2037' === delayBeforeRetirementSelect.val()) {
                    content += wrapMeasure('Le montant minimal de la pension de réversion (des veuves ou des veufs), est garanti à au moins 70% de la retraite du couple.');
                }

                if ('in_or_after_2037' === delayBeforeRetirementSelect.val() && 'zero' !== numberOfChildrenSelect.val()) {
                    content += wrapMeasure('Majoration de la pension pour les femmes, dès le 1er enfant. Grâce à cela, 5 millions de femmes auront une augmentation de leur retraite.');
                }

                content += '<div class="subtitle">Entrée en vigueur :</div>';

                if ('before_2037' === delayBeforeRetirementSelect.val()) {
                    content += wrapMeasure(
                        'Si les partenaires sociaux ne trouve pas de solution alternative, ' +
                        'l\'âge de départ à taux plein sera progressivement augmenté pour passer de 62 ans en 2022 à 64 ans en 2027.'
                    );

                    content += wrapMeasure(
                        'À partir de 2022, les personnes qui n\'ont pas suffisamment de trimestres pourront partir à la retraite à taux plein avant 67 ans. ' +
                        'Cela bénéficie particulièrement aux femmes. ' +
                        'Cet abaissement de l\'âge d\'annulation de la décote sera progressivement amené de 67 ans en 2022 à 65 ans en 2027.'
                    );
                }

                if ('in_or_after_2037' === delayBeforeRetirementSelect.val() && 'before_2004' === yearOfBirthSelect.val()) {
                    content += wrapMeasure('Le nouveau système universel à points entre en vigueur pour toutes les années travaillées après 2025.');

                    content += wrapMeasure(
                        'En 2025, il y aura une conversion en points de tous les droits acquis, ' +
                        'selon des règles de calcul qui doivent être négociées secteur par secteur, avec les partenaires sociaux. ' +
                        'Aujourd\'hui, les règles de conversion ne sont pas connues, ' +
                        'donc tous les simulateurs en ligne qui calculent des valeur en euros sont erronés.'
                    );
                }

                if ('in_or_after_2037' === delayBeforeRetirementSelect.val() && 'in_or_after_2004' === yearOfBirthSelect.val()) {
                    content += wrapMeasure(
                        'Tous les jeunes nés à partir de 2004 entreront directement dans le nouveau système de retraite universelle par point. ' +
                        'Personne ne bénéficiera d\'un régime spécial de retraite.'
                    );
                }

                changeContent($('#simulator-result-changed'), content);
            }

            function wrapMeasure(measure) {
                return '<div class="simulator-result__col--measure">' + measure + '</div>';
            }

            function changeContent(node, content) {
                node.animate({'opacity': 0}, 250, function () {
                    $(this).html(content);
                }).animate({'opacity': 1}, 250);
            }
        });
    </script>
{% endblock %}
