<script type="text/javascript" src={{ asset('bundles/sonataadmin/vendor/jquery/dist/jquery.min.js') }}></script>
<script type="text/javascript">
    $(document).ready(function() {
        $("#citizen_project_image_clear").click(function () {
            $("#citizen_project_image").val('');

            return false;
        });
    });
</script>

{{ form_errors(form) }}

<div class="form__row" id="field-name">
    {{ form_label(form.name, 'Donnez un nom à votre projet :', {label_attr: {class: 'form__label'}}) }}
    {% if form.name.vars.disabled %}
        <div id="citizen_project_name_text">{{ form.vars.data.name }}</div>
        <div class="visually-hidden">{{ form_widget(form.name) }}</div>
    {% else %}
        {{ form_errors(form.name) }}
        <div class="pst--relative">
            {{ form_widget(form.name, {
                attr: {
                    'class': 'form__field',
                    'placeholder': 'Un nom court et clair',
                }
            }) }}
        </div>
        <span class="form__legend text--small">Ex: "Un stage pour tous"</span>
    {% endif %}
</div>

{% if form.district is defined %}
    <div class="form__row" id="field-district">
        {{ form_label(form.district, "Ajoutez ici le nom de votre quartier pour qu'il apparaisse dans le titre du projet :", {label_attr: {class: 'form__label'}}) }}
        {{ form_errors(form.district) }}
        <div class="pst--relative">
            {{ form_widget(form.district, {
                attr: {
                    'class': 'form__field',
                    'placeholder': 'Le nom de votre quartier',
                }
            }) }}
        </div>
        <span class="form__legend text--small">Laissez vide pour afficher la ville.</span>
    </div>
{% endif %}

<div class="form__row" id="field-subtitle">
    {{ form_label(form.subtitle, 'Et un sous-titre :', {label_attr: {class: 'form__label'}}) }}
    {% if form.subtitle.vars.disabled %}
        <div id="citizen_project_subtitle_text">{{ form.vars.data.subtitle }}</div>
        <div class="visually-hidden">{{ form_widget(form.subtitle) }}</div>
    {% else %}
        {{ form_errors(form.subtitle) }}
        <div class="pst--relative">
            {{ form_widget(form.subtitle, {
                attr: {
                    class: 'form__field',
                    placeholder: 'Un sous-titre explicatif',
                }
            }) }}
        </div>
        <span class="form__legend text--small">Ex: "Aider les élèves de 3e à trouver un stage en entreprise"</span>
    {% endif %}
</div>

<div class="form__row" id="field-category">
    {{ form_label(form.category, 'Choisissez le thème de votre projet :', {label_attr: {class: 'form__label'}}) }}
    {% if form.category.vars.disabled %}
        <div id="citizen_project_category_text">{{ form.vars.data.category }}</div>
        <div class="visually-hidden">{{ form_widget(form.category) }}</div>
    {% else %}
        {{ form_errors(form.category) }}
        <div class="pst--relative">
            {{ form_widget(form.category, {
                attr: {
                    class: 'form__field',
                    placeholder: 'Sélectionnez un thème',
                }
            }) }}
        </div>
    {% endif %}
</div>

<div class="form__row" id="field-image">
    <label class="form__label">Ajoutez une image d'illustration : <span>(Optionnel)</span></label>
    {{ form_errors(form.image) }}
    {% if citizen_project is defined and citizen_project.hasImageUploaded %}
        <div class="citizen_project_form__picture_preview">
            <img style="max-width: 400px" src="{{ asset(citizen_project.getAssetImagePath) }}" />
        </div>
        <div class="form__checkbox form__checkbox--large">
            {{ form_widget(form.remove_image) }}
            {{ form_label(form.remove_image, 'Supprimer l\'image') }}
        </div>
    {% endif %}
    <label class="label__header--image">Veuillez sélectionner une image sur votre ordinateur.</label>
    {{ form_widget(form.image) }}
    <div class="field-image-info">
        <div>JPEG ou PNG - 5 Mo maximum</div>
        <div>Au moins 1200x675 pixels - format 16:9</div>
    </div>
    <span class="form__legend text--small">Choisissez une image sans texte, représentative de votre projet et libre de droit.</span>
</div>

<div class="form__row" id="field-problem-description">
    {{ form_label(form.problem_description, 'À quelle problématique locale répond votre projet ?', {label_attr: {class: 'form__label'}}) }}
    {% if form.problem_description.vars.disabled %}
        <div id="citizen_project_problem_description_text">{{ form.vars.data.problemDescription }}</div>
        <div class="visually-hidden">{{ form_widget(form.problem_description) }}</div>
    {% else %}
        {{ form_errors(form.problem_description) }}
        <div class="pst--relative">
            {{ form_widget(form.problem_description, {
                attr: {
                    class: 'form__field form__field--textarea-120',
                    placeholder: 'Décrivez en 1 ou 2 phrases le problème local auquel vous proposez de répondre.',
                }
            }) }}
        </div>
        <span class="form__legend text--small">
            Ex: "Les collégiens doivent effectuer un stage d'observation en classe de 3e ou de 4e
            pour les aider à déterminer leur orientation professionnelle mais
            ils ont parfois du mal à le trouver en dehors de leur réseau famillial."
        </span>
    {% endif %}
</div>

<div class="form__row" id="field-proposed-solution">
    {{ form_label(form.proposed_solution, 'Comment votre projet tend à répondre à ce problème ?', {label_attr: {class:'form__label'}}) }}
    {% if form.proposed_solution.vars.disabled %}
        <div id="citizen_project_proposed_solution_text">{{ form.vars.data.proposedSolution|raw }}</div>
        <div class="visually-hidden">{{ form_widget(form.proposed_solution) }}</div>
    {% else %}
        {{ form_errors(form.proposed_solution) }}
        <div class="pst--relative">
            {{ form_widget(form.proposed_solution, {
                attr: {
                    class: 'form__field form__field--textarea-120',
                    placeholder: 'Un court paragraphe sur la ou les solutions que vous proposez',
                }
            }) }}
        </div>
        <span class="form__legend text--small">
            Ex: Le projet a pour objectif de mettre en relation ces élèves avec un réseau de professionnels
            (entreprises, commerçants, artisans, etc.) volontaires pour les accueillir.
        </span>
    {% endif %}
</div>

<div class="form__row" id="field-required-means">
    {{ form_label(form.required_means, 'Quel est votre plan d\'action ?', {label_attr: {class: 'form__label'}}) }}
    {{ form_errors(form.required_means) }}
    <div class="pst--relative">
        {{ form_widget(form.required_means, {
            attr: {
                class: 'form__field form__field--textarea-120',
                placeholder: 'Votre calendrier prévisionnel et les principales étapes de votre projet',
            }
        }) }}
    </div>
    <span class="form__legend text--small">
        Ex: Nous vous proposons:<br>
        (i) de nous aider à identifier des professionnels susceptibles de proposer des stages<br>
        (ii) de faire connaître l'initiative auprès d'un maximum d'élèves, notamment via des associations<br>
        (iii) de participer à des ateliers d'orientation de collégiens, via des associations partenaires.<br>
    </span>
</div>

<div class="form__row" id="field-skills">
    {{ form_errors(form.skills) }}
    <label class="form__label">Ce projet a besoin de : <span>(Optionnel)</span></label>
    <div class="form_checkbox_multi_column">
        {{ form_label(form.skills) }}
        {{ form_widget(form.skills, {attr: {class: 'hidden'}}) }}
    </div>
</div>

<div class="form__row" id="citizen-project-address">
    {{ form_label(form.address, 'Autour de quelle ville se déroulera ce projet ?', {label_attr: {class: 'form__label'}}) }}
    {{ form_errors(form.address) }}
    <div class="l__row l__row--top l__row--h-stretch l__mobile--col">
        <div class="register__form__zip_code register__form--third" id="field-postal-code-city">
            {{ form_widget(form.address.postalCode, { attr: { placeholder: 'Code postal' } }) }}
            {{ form_errors(form.address.postalCode) }}
        </div>

        <div class="register__form__city register__form--third">
            {{ form_widget(form.address.city, {attr: {class: 'register__form__city'}}) }}
            {{ form_errors(form.address.cityName) }}
            {{ form_widget(form.address.cityName, {attr: {class: 'register__form__city_name', placeholder: 'Ville'} }) }}
            {{ form_errors(form.address.city) }}
        </div>

        <div class="register__form__country register__form--third" id="field-country">
            {{ form_widget(form.address.country) }}
            {{ form_errors(form.address.country) }}
        </div>
    </div>
</div>

<div class="form__row" id="field-committee">
    {{ form_errors(form.committees) }}
    <label class="form__label">Vous avez déjà le soutien d'un comité local ?<br />Indiquez son nom : <span>(Optionnel)</span></label>
    <div>
        {{ form_widget(form.committees_search, {attr: {class: 'form__field'} }) }}
        {{ form_widget(form.committees, {attr: {class: 'citizen-project__skills'} }) }}
    </div>
</div>

<div class="form__row">
    <div class="form__group w-legend" id="citizen-project-phone">
        <div class="form__row register__form__phone">
            {{ form_label(form.phone, 'Votre téléphone :', {label_attr: {class: 'form__label'}}) }}
            {{ form_widget(form.phone.country) }}
        </div>
        <div class="form__row">
            {{ form_widget(form.phone.number, {attr: { placeholder: 'Téléphone' }}) }}
        </div>
        {{ form_errors(form.phone) }}
    </div>
    <span class="form__legend text--small">
        Nous vous contacterons sur ce numéro, il sera uniquement mis à disposition de nos équipes départementales.
    </span>
</div>
