{{ form_errors(form) }}

<div class="form__row" id="field-name">
    {{ form_errors(form.name) }}
    {{ form_label(form.name, 'Donnez un titre à votre projet :', {'label_attr': { class: 'text--bold' }}) }}
    {{ form_widget(form.name, {
        'attr': {
            'class': 'form--full',
            'placeholder': 'Le titre court et descriptif de mon projet',
        }
    }) }}
    <p>Ex. "Un stage pour tous"</p>
</div>

<div class="form__row" id="field-subtitle">
    {{ form_errors(form.subtitle) }}
    {{ form_label(form.subtitle, 'Donnez un sous-titre à votre projet :', {'label_attr': { class: 'text--bold' }}) }}
    {{ form_widget(form.subtitle, {
        'attr': {
            'class': 'form--full',
            'placeholder': 'Un sous-titre explicatif du titre',
        }
    }) }}
    <p>Ex. "Aider les élèves de 3e à trouver un stage en entreprise"</p>
</div>

<div class="form__row" id="field-category">
    {{ form_errors(form.category) }}
    {{ form_label(form.category, 'Choisissez une catégorie :', {'label_attr': { class: 'text--bold' }}) }}
    {{ form_widget(form.category, {
        'attr': {
            'class': 'form--full',
            'placeholder': 'Choisissez une catégorie',
        }
    }) }}
</div>

<div class="form__row" id="field-problem-description">
    {{ form_errors(form.problem_description) }}
    {{ form_label(form.problem_description, 'À quel problème local répond votre projet ?', {'label_attr': { class: 'text--bold' }}) }}
    {{ form_widget(form.problem_description, {
        'attr': {
            'class': 'form--full form__field--textarea-120',
            'placeholder': 'Décrivez en 1 ou 2 phrases le problème local auquel vous proposez de répondre',
        }
    }) }}
    <p>Ex. "Les collégiens ont à effectuer un stage d'observation en classe de 3e ou de 4e
        pour les aider à déterminer leur orientation professionnelle mais
        ils ont parfois du mal à trouver ce stage en dehors de leur réseau famillial."
    </p>
</div>

<div class="form__row" id="field-proposed-solution">
    {{ form_errors(form.proposed_solution) }}
    {{ form_label(form.proposed_solution, 'Comment répondez-vous à ce problème ?', {'label_attr': { class: 'text--bold' }}) }}
    {{ form_widget(form.proposed_solution, {
        'attr': {
            'class': 'form--full form__field--textarea-120',
            'placeholder': 'Decriver en un court paragraphe la ou les solutions que vous envisagez.',
        }
    }) }}
</div>

<div class="form__row" id="field-required-means">
    {{ form_errors(form.required_means) }}
    {{ form_label(form.required_means, 'Quelle est votre feuille de route ? Par quoi allez-vous commencer ? Comment comptez-vous vous y prendre ?', {'label_attr': { class: 'text--bold' }}) }}
    {{ form_widget(form.required_means, {
        'attr': {
            'class': 'form--full form__field--textarea-120',
            'placeholder': 'Indiquez votre calendrier prévisionnel : date de la première action envisagée, principales étapes de votre projet.',
        }
    }) }}
</div>

<div class="form__row" id="field-skills">
    {{ form_errors(form.skills) }}
    {{ form_label(form.skills_search, 'Ce projet à besoin de : (Optionnel)', {'label_attr': { class: 'text--bold' }}) }}
    <div>
        {{ form_widget(form.skills_search, { attr: { style: 'margin-bottom: 10px', class: 'form--full' } }) }}
        {{ form_widget(form.skills, { attr: { class: 'citizen_initiative__skills' } }) }}
    </div>
</div>

<div class="form__row" id="citizen-project-address">
    {{ form_errors(form.address) }}
    {{ form_label(form.address, 'Autour de quelle ville se déroulera ce projet ?', {'label_attr': { class: 'text--bold' }}) }}
    <div class="l__row l__row--top l__row--h-stretch l__mobile--col">
        <div class="register__form__country register__form--third" id="field-country">
            {{ form_widget(form.address.country) }}
            {{ form_errors(form.address.country) }}
        </div>

        <div class="register__form__zip_code register__form--third" id="field-postal-code-city">
            {{ form_widget(form.address.postalCode, { attr: { placeholder: 'Code postal' } }) }}
            {{ form_errors(form.address.postalCode) }}
        </div>

        <div class="register__form__city register__form--third">
            {{ form_widget(form.address.city, { 'attr': { 'class': 'register__form__city'} }) }}
            {{ form_errors(form.address.cityName) }}
            {{ form_widget(form.address.cityName, { 'attr': { 'class': 'register__form__city_name', 'placeholder': 'Ville' } }) }}
            {{ form_errors(form.address.city) }}
        </div>
    </div>
</div>

<div class="l__row l__row--top l__row--h-stretch l__mobile--col" id="citizen-project-phone">
    <div class="l__col l__col--top register__form__phone register__form--third">
        {{ form_label(form.phone, 'Téléphone', { 'label_attr': {'class': 'text--gray'} }) }}
        <div class="l__row l__row--top l__row--h-stretch">
            {{ form_widget(form.phone.country) }}
            {{ form_widget(form.phone.number, { attr: { placeholder: 'Téléphone' } }) }}
        </div>
    </div>
    {{ form_errors(form.phone) }}
</div>

<div class="form__row" id="field-assistance-needed">
    {{ form_errors(form.assistance_needed) }}
    {{ form_widget(form.assistance_needed) }}
    <label for="{{ form.assistance_needed.vars.id }}">
        Je solicite un accompagnement personalisé de la part d'En Marche
    </label>
</div>
<div class="form__row">
    {{ form_errors(form.assistance_content) }}
    {{ form_label(form.assistance_content, 'En quoi l\'équipe d\'accompagnement peut-elle m\'aider ?', {'label_attr': { class: 'text--bold' }}) }}
    {{ form_widget(form.assistance_content, {
        'attr': {
            'class': 'form--full form__field--textarea-120'
        }
    }) }}
</div>
