{% for citizen_project in results %}
    <li class="search__citizen_project__box">
        {% if citizen_project.imageName %}
            <div class="search__citizen_project__image">
                <img src="{{ asset(citizen_project.assetImagePath) }}" alt="{{ citizen_project.name }}"/>
            </div>
        {% endif %}
        <div class="search__citizen_project__meta">
            <div>
                <h3 class="text--medium-small">{{ citizen_project.name }}</h3>
                <div class="text--gray b__nudge--top-5">{{ citizen_project.subtitle }}</div>
                <div class="citizen-projects__landing__card__creator text--small text--gray b__nudge--top-10">Par <span class="text--dark">{{ is_granted('IS_AUTHENTICATED_FULLY') ? citizen_project.creator : citizen_project.creator.partialName }}</span>
                </div>
            </div>

            <div class="search__citizen_project__skills text--gray text--small b__nudge--top-50">
                {% if citizen_project.skills|length > 0 %}
                    <div>Aidez-nous en :</div>
                    <ul>
                        {% for skill in citizen_project.skills %}
                            <li>{{ skill }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
        </div>
        <a href="{{ path('app_citizen_project_show', {slug: citizen_project.slug}) }}"
           class="search__citizen_project__box__link"></a>
    </li>
{% endfor %}
