{% extends 'base.html.twig' %}

{% block banner '' %}

{% set is_administrator = is_citizen_project_administrator(citizen_project) %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        Kernel.onLoad(function(di) {
            {% if has_role_user %}
                var citizenProjectSlug = '{{ citizen_project.slug }}';
                var toggleMembershipButton = dom('#citizen_project-toggle-membership');

                toggleMembershipButton && on(toggleMembershipButton, 'click', function () {
                    toggleMembershipButton.disabled = true;

                    di.get('api').toggleCitizenProjectMembership(
                        citizenProjectSlug,
                        toggleMembershipButton.getAttribute('data-action'),
                        toggleMembershipButton.getAttribute('data-csrf-token'),
                        function (result) {
                            window.location.reload();
                        }
                    );
                });
            {% endif %}
        });
    </script>
{% endblock %}
{% block content %}
    <main class="citizen-project">
        <header class="background--purple">
            {% if citizen_project.hasImageUploaded %}
                <div class="citizen-project--bkg"
                     style="background-image:url('{{ asset(citizen_project.getAssetImagePath) }}')">
             {% else %}
                <div class="l__wrapper l__row space--60-0">
             {% endif %}
                <div class="l__wrapper space--60-0 text--white l__row--h-start">
                    <div class="b__nudge--bottom-larger">
                        <ul class="text--small b__nudge--bottom-tiny list__links list__links--vertical-align list__links--margin-right">
                            <li class="text--body text--small text--uppercase text--shadow">Projet citoyen</li>
                            {% if citizen_project.isFeatured %}
                                <li class="citizen_project_featured newbtn--orange newbtn--smaller">Nos coups de cœur</li>
                            {% endif %}
                            {% if citizen_project.approvedCommitteeSupports|length > 0 %}
                                <li class="newbtn--orange newbtn--smaller">{{ 'citizen_project.committees_count'|transchoice(citizen_project.approvedCommitteeSupports|length) }}</li>
                            {% endif %}
                        </ul>
                        <h1 class="text--larger text--shadow" id="citizen-project-name">
                            {{ citizen_project.name }}
                        </h1>
                        <div class="text--body b__nudge--top-5 text--shadow">{{ citizen_project.subtitle }}</div>
                    </div>
                    <div class="l__row l__row--h-stretch l__mobile--col">
                        {% if citizen_project.isApproved %}
                            <div class="l__row l__mobile--col">
                                {% if not has_role_user %}
                                    <button type="button"
                                            class="newbtn newbtn--orange citizen-project-follow b__nudge--right-large"
                                            disabled="disabled">
                                        Rejoindre ce projet
                                    </button>

                                    <div class="text--white text--margin-right">
                                        <a href="{{ path('app_user_login') }}" class="link--white">Connectez-vous</a>
                                         pour rejoindre ce projet citoyen
                                    </div>
                                {% elseif can_follow_citizen_project(citizen_project) %}
                                    <button type="button"
                                            id="citizen_project-toggle-membership"
                                            class="newbtn newbtn--orange citizen-project-follow b__nudge--right-large"
                                            data-action="rejoindre"
                                            data-csrf-token="{{ csrf_token('citizen_project.follow') }}">
                                        Rejoindre ce projet
                                    </button>
                                {% elseif can_unfollow_citizen_project(citizen_project) %}
                                    <button type="button"
                                            id="citizen_project-toggle-membership"
                                            class="newbtn newbtn--orange citizen-project-unfollow b__nudge--right-large"
                                            data-action="quitter"
                                            data-csrf-token="{{ csrf_token('citizen_project.unfollow') }}">
                                        Quitter ce projet citoyen
                                    </button>
                                {% endif %}

                                <ul class="list__links list__links--default list__links--row list__links--svgs list__links--svgs--small">
                                    <li>Partager</li>
                                    <li role="button" aria-label="Partagez sur Facebook"
                                        onclick="App.share('facebook', window.location.href, 'Rejoignez ce projet citoyen !')">
                                        <i class="fa fa-facebook-square"></i>
                                    </li>
                                    <li role="button" aria-label="Partagez via Twitter"
                                        onclick="App.share('twitter', window.location.href, 'Rejoignez ce projet citoyen !')">
                                        <i class="fa fa-twitter"></i>
                                    </li>
                                    <li role="button" aria-label="Partagez via email"
                                        onclick="App.share('email', window.location.href, 'Rejoins le projet citoyen : {{ citizen_project.name|e('js') }} de La République En Marche !')">
                                        <i class="fa fa-envelope-o"></i>
                                    </li>
                                </ul>

                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </header>

        <div class="l__wrapper l__row l__row--top l__row--h-stretch l__tablet--col b__nudge--bottom-huge">
            <div class="l__wrapper--main l__wrapper--main-left">
                {% block citizen_project_content %}{% endblock %}
            </div>

            {% block citizen_project_sidebar %}
                {{ include('citizen_project/_sidebar.html.twig') }}
            {% endblock %}
        </div>
    </main>
{% endblock %}
