{% extends 'base.html.twig' %}

{% block open_graph_image 'https://storage.googleapis.com/en-marche-staging/images/cp_sharing.png' %}
{% block open_graph_image_width 2501 %}
{% block open_graph_image_height 1313 %}

{% block banner '' %}

{% set is_cp_administrator = is_citizen_project_administrator(citizen_project) %}

{% block javascripts %}
    {{ parent() }}
    {% import 'javascript.js.twig' as js %}
    <script type="text/javascript" src={{ asset('bundles/sonataadmin/vendor/jquery/dist/jquery.min.js') }}></script>
    <script type="text/javascript">
        Kernel.onLoad(function(di) {
            {{ js.toggleDisplayOnClick('#show-more-skills', ['#show-more-skills', '#show-less-skills', '#other-skills']) }}
            {{ js.toggleDisplayOnClick('#show-less-skills', ['#show-more-skills', '#show-less-skills', '#other-skills']) }}
            {{ js.toggleDisplayOnClick('#show-more-citizen-actions', ['#show-more-citizen-actions', '#show-less-citizen-actions', '#other-citizen-actions']) }}
            {{ js.toggleDisplayOnClick('#show-less-citizen-actions', ['#show-more-citizen-actions', '#show-less-citizen-actions', '#other-citizen-actions']) }}
            {{ js.toggleDisplayOnClick('#show-more-citizen-project-info', ['#show-more-citizen-project-info', '#show-less-citizen-project-info', '#citizen-project-info']) }}
            {{ js.toggleDisplayOnClick('#show-less-citizen-project-info', ['#show-more-citizen-project-info', '#show-less-citizen-project-info', '#citizen-project-info']) }}
            {% if has_role_user %}
                var citizenProjectSlug = '{{ citizen_project.slug }}';
                var toggleMembershipButton = dom('#citizen_project-toggle-membership');

                toggleMembershipButton && on(toggleMembershipButton, 'click', function () {
                    toggleMembershipButton.disabled = true;

                    di.get('api').toggleCitizenProjectMembership(
                        citizenProjectSlug,
                        toggleMembershipButton.getAttribute('data-action'),
                        toggleMembershipButton.getAttribute('data-csrf-token'),
                        function (result) {
                            window.location.reload();
                        }
                    );
                });
            {% endif %}
        });
    </script>
{% endblock %}

{% block content %}
    <main class="citizen-project">
        <header class="background--purple">
            {% if citizen_project.imageName %}
                <div class="{{ citizen_project.hasImageUploaded ? 'citizen-project--bkg--gradient' : 'citizen-project--bkg' }}"
                     style="background-image:url('{{ asset(citizen_project.getAssetImagePath) }}')">
            {% else %}
                <div class="l__wrapper l__row space--60-0">
            {% endif %}
                <div class="l__wrapper space--60-0 text--white l__row--h-start">
                    <div class="b__nudge--bottom-larger">
                        <ul class="text--small b__nudge--bottom-tiny list__links list__links--vertical-align list__links--margin-right">
                            <li class="text--body text--small text--uppercase text--shadow">Projet citoyen</li>
                            {% if citizen_project.isFeatured %}
                                <li class="citizen_project_featured newbtn--orange newbtn--smaller">Nos coups de cœur</li>
                            {% endif %}
                        </ul>
                        <h1 class="text--larger text--shadow" id="citizen-project-name">
                            {%- block citizen_project_title -%}
                                {{ citizen_project.name }}
                                {% if citizen_project.isFromTurnkeyProject %}
                                    - {{ citizen_project.district ?: citizen_project.cityName }}
                                {% endif %}
                            {%- endblock -%}
                        </h1>
                        <div class="text--body b__nudge--top-5 text--shadow">{{ citizen_project.subtitle }}</div>
                    </div>
                    <div class="l__row l__row--h-stretch l__mobile--col">
                        {% if citizen_project.isApproved %}
                            <div class="l__row l__mobile--col">
                                {% if not has_role_user %}
                                    <button type="button"
                                            class="newbtn newbtn--orange citizen-project-follow b__nudge--right-large"
                                            disabled="disabled">
                                        Rejoindre ce projet
                                    </button>

                                    <div class="committee-follow--anonymous__link text--white text--margin-right">
                                        <a href="{{ login_path_for_anonymous_follower() }}" id="committee-login-link" class="link--white">Connectez-vous</a>
                                        ou
                                        <a href="{{ register_path_for_anonymous_follower() }}" id="committee-register-link" class="link--white">
                                            adhérez
                                        </a>
                                        pour rejoindre ce projet citoyen
                                    </div>
                                {% elseif can_follow_citizen_project(citizen_project) %}
                                    <button type="button"
                                            id="citizen_project-toggle-membership"
                                            class="newbtn newbtn--orange citizen-project-follow b__nudge--right-large"
                                            data-action="rejoindre"
                                            data-csrf-token="{{ csrf_token('citizen_project.follow') }}">
                                        Rejoindre ce projet
                                    </button>
                                {% endif %}

                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </header>

        <div class="l__wrapper l__row l__row--top l__row--h-stretch l__tablet--col b__nudge--bottom-huge">
            <div class="l__wrapper--main l__wrapper--main-left">
                {% block citizen_project_content %}{% endblock %}
            </div>

            {% block citizen_project_sidebar %}
                {{ include('citizen_project/_sidebar.html.twig') }}
            {% endblock %}
        </div>
    </main>
{% endblock %}
