{% extends 'base.html.twig' %}

{% block banner '' %}

{% set is_administrator = is_administrator(citizen_project) %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        Kernel.onLoad(function(di) {
            {% if is_granted('ROLE_ADHERENT') %}
                var citizenProjectSlug = '{{ citizen_project.slug }}';
                var toggleMembershipButton = dom('#citizen_project-toggle-membership');

                toggleMembershipButton && on(toggleMembershipButton, 'click', function () {
                    toggleMembershipButton.disabled = true;

                    di.get('api').toggleCitizenProjectMembership(
                        citizenProjectSlug,
                        toggleMembershipButton.getAttribute('data-action'),
                        toggleMembershipButton.getAttribute('data-csrf-token'),
                        function (result) {
                            window.location.reload();
                        }
                    );
                });
            {% endif %}
        });

    </script>
{% endblock %}
{% block content %}
    <main class="citizen_project">
        <header class="background--purple space--60-0">
            <div class="l__wrapper l__col text--white">
                <div class="b__nudge--bottom-larger">
                    <ul class="text--small b__nudge--bottom-tiny list__links list__links--vertical-align list__links--margin-right">
                        <li class="text--body text--small text--uppercase">Projet citoyen</li>
                        {% if citizen_project.isFeatured %}
                            <li class="citizen_project_featured newbtn--orange newbtn--smaller">Nos coups de cœur</li>
                        {% endif %}
                        {% if citizen_project.approvedCommitteeSupports|length > 0 %}
                            <li class="newbtn--orange newbtn--smaller">{{ 'citizen_project.committees_count'|transchoice(citizen_project.approvedCommitteeSupports|length) }}</li>
                        {% endif %}
                    </ul>
                    <h2 class="text--larger" id="citizen-project-name">
                        {{ citizen_project.name }}
                    </h2>
                    <div class="text--body b__nudge--top-5">{{ citizen_project.subtitle }}</div>
                </div>
                <div class="l__row l__row--h-stretch l__mobile--col">
                    {% if citizen_project.isApproved %}
                        <div class="l__row l__mobile--col">
                            {% if not user_is_adherent %}
                                <a href="{{ path('app_adherent_login') }}" class="newbtn newbtn--orange b__nudge--right-large">
                                    Rejoindre ce projet
                                </a>
                            {% elseif can_follow_citizen_project(citizen_project) %}
                                <button type="button"
                                        id="citizen_project-toggle-membership"
                                        class="newbtn newbtn--orange citizen-project-follow b__nudge--right-large"
                                        data-action="rejoindre"
                                        data-csrf-token="{{ csrf_token('citizen_project.follow') }}">
                                    Rejoindre ce projet
                                </button>
                            {% elseif can_unfollow_citizen_project(citizen_project) %}
                                <button type="button"
                                        id="citizen_project-toggle-membership"
                                        class="newbtn newbtn--orange citizen-project-unfollow b__nudge--right-large"
                                        data-action="quitter"
                                        data-csrf-token="{{ csrf_token('citizen_project.unfollow') }}">
                                    Quitter ce projet citoyen
                                </button>
                            {% endif %}

                            <ul class="list__links list__links--default list__links--row list__links--svgs list__links--svgs--small">
                                <li>Partager</li>
                                <li role="button" aria-label="Partagez sur Facebook"
                                    onclick="App.share('facebook', window.location.href, 'Rejoignez ce projet citoyen !')">
                                    <i class="fa fa-facebook-square"></i>
                                </li>
                                <li role="button" aria-label="Partagez via Twitter"
                                    onclick="App.share('twitter', window.location.href, 'Rejoignez ce projet citoyen !')">
                                    <i class="fa fa-twitter"></i>
                                </li>
                                <li role="button" aria-label="Partagez via email"
                                    onclick="App.share('email', window.location.href, 'Rejoins le projet citoyen : {{ citizen_project.name|e('js') }} de La République En Marche !')">
                                    <i class="fa fa-envelope-o"></i>
                                </li>
                            </ul>

                        </div>

                        {% if is_granted('REPORT') %}
                            <a href="{{ path('app_report', {type: 'citizen-project', uuid: citizen_project.uuid, redirectUrl: app.request.pathInfo}) }}" class="text--body link--white">Signaler</a>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </header>

        <div class="l__wrapper l__row l__row--top l__row--h-stretch l__tablet--col">
            <div class="l__wrapper--main l__wrapper--main-left">
                {% block citizen_project_content %}{% endblock %}
            </div>

            {% block citizen_project_sidebar %}
                {{ include('citizen_project/_sidebar.html.twig') }}
            {% endblock %}
        </div>
    </main>
{% endblock %}
