<aside class="citizen_project__aside l__wrapper--aside">
    <div class="citizen_project__card b__nudge--top-large text--medium-small text--uppercase icon--with-text">
        {{ include('components/participants.html.twig') }}
        <span class="citizen-project-members">{{ 'citizenProject.members_count'|transchoice(citizenProject.membersCount) }}</span>
    </div>
    <div class="citizen_project__card">
        <h5>À propos</h5>
        <div class="text--body" id="citizen-project-description">{{ citizenProject.name }}</div>
    </div>
    <div class="citizen_project__card">
        <h5 class="icon--with-text">
            {{ include('components/admin.html.twig') }}
            Administration
        </h5>
        <ul class="citizen_project__administrators">
            {% for administrator in citizen_project_administrators %}
                <li class="citizen-project-administrator text--body text--bold">
                    {{ administrator }}
                    {% if is_administrator and app.user.equals(administrator) %}
                        (vous)
                    {% else %}
                        <a href="{{ path('app_adherent_contact', {'uuid': administrator.uuid, 'from': 'citizen_project', 'id': citizenProject.uuid.toString}) }}"
                           class="link--no-decor text--blue text--normal text--summary">
                            Contacter
                        </a>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </div>
    <div class="citizen_project__card">
        <h5 class="icon--with-text svg--black">
            {{ include('components/location-pin.html.twig') }}
            Localisation
        </h5>

        {% if citizenProject.latitude and citizenProject.longitude %}
        <img src="{{ path('map_url', { latitude: citizenProject.latitude, longitude: citizenProject.longitude }) }}"
             title="Carte d'accès au projet citoyens {{ citizenProject.name }}"
             alt="{{ citizenProject.inlineFormattedAddress }}" />
        {% endif %}

        <div class="text--summary">{{ citizenProject.inlineFormattedAddress }}</div>
    </div>

</aside>
