<aside class="citizen_project__aside l__wrapper--aside">
    <div class="citizen_project__card">
        <h3>Nous recherchons</h3>
        <ul>
            {% for skill in citizen_project.citizenProjectSkills  %}
                <li>{{skill}}</li>
            {% endfor %}
        </ul>
    </div>

    <div class="citizen_project__card">
        <h3>{{ 'citizen_project.administrators_count'|transchoice(citizen_project_administrators|length) }}</h3>

        <ul>
            {% for administrator in citizen_project_administrators %}
                <li class="text--body">
                    {{ administrator }}
                    {% if is_administrator and app.user.equals(administrator) %}
                        (vous)
                    {% else %}
                        <a href="{{ path('app_adherent_contact', {'uuid': administrator.uuid, 'from': 'citizen_project', 'id': citizen_project.uuid.toString}) }}"
                           class="link--no-decor text--blue text--normal text--summary">
                            Contacter
                        </a>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </div>

    <div class="citizen_project__card">
        <h3>{{ 'citizen_project.followers_count'|transchoice(citizen_project_followers|length) }}</h3>
        <ul>
            {% for follower in citizen_project_followers|slice(0, 11) %}
                <li class="text--body">
                    {{ follower }}
                    {% if user_is_adherent and app.user.equals(follower) %}
                        (vous)
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
        <a href="#">Tous &gt;</a>
    </div>

    <div class="citizen_project__card">
        <h3 class="svg--black">Thèmes</h3>

        <ul>
            {% for category in citizen_project.category %}
                <li class="text--body">
                    {{ category }}
                </li>
            {% endfor %}
        </ul>
    </div>

    <div class="citizen_project__card">
        <h3 class="svg--black">Localisé autour de</h3>
        <div class="text--summary">{{ citizen_project.cityName }}</div>
        <a href="#">Voir carte &gt;</a>
    </div>

    <div class="citizen_project__card">
        <h3 class="svg--black">{{ 'citizen_project.committees'|transchoice(citizen_project.committee|length) }}</h3>
        <ul>
            {% for committee in citizen_project.committee %}
                <li class="text--body">
                    {{ committee }}
                </li>
            {% endfor %}
        </ul>
        <a href="#">Notre comité souhaite aussi soutenir ce projet</a>
    </div>
</aside>
