<aside class="l__wrapper--aside citizen-project__aside text--body">

    {% if can_unfollow_citizen_project(citizen_project) %}
        <div class="citizen-project__card b__nudge--top-40">
            <button type="button"
                    id="citizen_project-toggle-membership"
                    class="citizen-project-unfollow btn--as-link text--body text--blue--dark"
                    data-action="quitter"
                    data-csrf-token="{{ csrf_token('citizen_project.unfollow') }}">
                Quitter ce projet citoyen
            </button>
        </div>
    {% endif %}

    <div class="citizen-project__card b__nudge--top-40">
        {% if is_granted('REPORT') and not is_cp_administrator %}
            <a href="{{ report_path(citizen_project, app.request.pathInfo) }}" class="text--body link--newblue">Signaler un abus</a>
        {% endif %}
    </div>

    <div class="citizen-project__card">
        <ul class="list__links list__links--default list__links--svgs list__links--svgs--small">
            <li>Partager</li>
            <li role="button" aria-label="Partagez sur Facebook"
                onclick="App.share('facebook', window.location.href, 'Rejoignez ce projet citoyen !')">
                <i class="fa fa-facebook-square"></i>
            </li>
            <li role="button" aria-label="Partagez via Twitter"
                onclick="App.share('twitter', window.location.href, 'Rejoignez ce projet citoyen !')">
                <i class="fa fa-twitter"></i>
            </li>
            <li role="button" aria-label="Partagez via email"
                onclick="App.share('email', window.location.href, 'Rejoins le projet citoyen : {{ citizen_project.name|e('js') }} de La République En Marche !')">
                <i class="fa fa-envelope-o"></i>
            </li>
        </ul>
    </div>

    <div class="citizen-project__card">
        <h3>Aidez-nous en :</h3>
        <ul class="citizen-project__skills">
            {% for skill in citizen_project.skills|slice(0, 3) %}
                <li>{{ skill }}</li>
            {% else %}
                Aucune compétence recherchée pour l'instant.
            {% endfor %}
        </ul>
        {% if citizen_project.skills|length > 3 %}
            <div id="show-more-skills" class="text--small text--blue--dark cursor--pointer">Voir plus</div>
            <ul id="other-skills" class="visually-hidden b__nudge--top-0 citizen-project__skills">
                {% for skill in citizen_project.skills|slice(3) %}
                    <li>{{ skill }}</li>
                {% endfor %}
            </ul>
            <div id="show-less-skills" class="text--small text--blue--dark visually-hidden cursor--pointer">Voir moins</div>
        {% endif %}
    </div>

    <div class="citizen-project__card">
        <h3>
            {{ 'citizen_project.administrators_count'|transchoice(administrators|length) }}
        </h3>

        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <ul class="l__row l__row--wrap">
                {% for administrator in administrators %}
                    <li class="text--body">
                        {% if not is_cp_administrator %}
                            <a href="{{ path('app_adherent_contact', {uuid: administrator.uuid, from: 'citizen_project', id: citizen_project.uuid.toString}) }}"
                               class="text--small link--newblue">
                                Contacter
                            </a>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>

    <div class="citizen-project__card" id="members">
        <h3>
            <span class="citizen-project__card__title">{{ 'common.members_count'|transchoice(citizen_project.membersCount) }}</span>
        </h3>
        <span class="l__row l__row--wrap text--small text--normal">
            <a  class="link--newblue" href="{{ path('app_citizen_project_list_actors', {slug: citizen_project.slug}) }}">Voir</a>
        </span>
    </div>

    <div class="citizen-project__card">
        <h3 class="svg--black  text--medium-small">Thème</h3>
        <ul>
            {{ citizen_project.category.name }}
        </ul>
    </div>

    <div class="citizen-project__card">
        <h3 class="svg--black">Localisé autour de</h3>
        <span>{{ citizen_project.cityName }}</span>
    </div>

    <div class="citizen-project__card" id="support-committee">
        <h3 class="svg--black">{{ 'citizen_project.committees'|transchoice(citizen_project.approvedCommitteeSupports|length) }}</h3>
        <ul>
            {% for committeeSupport in citizen_project.approvedCommitteeSupports %}
                <li class="text--body">
                    {{ committeeSupport.committee }}
                </li>
            {% else %}
                Aucun comité en soutien pour l'instant
            {% endfor %}
        </ul>
        {% if is_granted('ROLE_SUPERVISOR') %}
            <form method="post" id="committee-confirm-support-form" class="form" action="{{ path('app_citizen_project_committee_support', {slug: citizen_project.slug}) }}">
                {{ form_widget(form_committee_support) }}
                <div>
                    {% set has_support = citizen_project.isSupportedByCommitteeUuid(app.user.memberships.committeeSupervisorMemberships.last.committeeUuid.toString) %}
                    <button type="submit" id="committee-confirm-support" class="{{ has_support ? 'btn--as-link text--body text--blue--dark' : 'newbtn--small btn--blue' }} b__nudge--top">
                        {% if has_support %}
                            Retirer mon soutien à ce projet
                        {% else %}
                            Soutenir ce projet avec mon comité
                        {% endif %}
                    </button>
                </div>
            </form>
        {% endif %}
    </div>
</aside>
