<aside class="l__wrapper--aside citizen-project__aside text--body">

    <div class="citizen-project__card b__nudge--top-40">
        {% if is_granted('REPORT') %}
            <a href="{{ report_path(citizen_project, app.request.pathInfo) }}" class="text--body link--newblue">Signaler ce projet</a>
        {% endif %}
    </div>

    <div class="citizen-project__card">
        <h3>Aidez-nous en :</h3>
        <ul class="citizen-project__skills">
            {% if citizen_project.skills|length > 0 %}
                {% for skill in citizen_project.skills %}
                    <li>{{ skill }}</li>
                {% endfor %}
            {% else %}
                Aucune compétence recherchée pour l'instant.
            {% endif %}
        </ul>
    </div>

    <div class="citizen-project__card">
        <h3>
            {{ 'citizen_project.administrators_count'|transchoice(administrators|length) }}
        </h3>

        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <ul class="l__row l__row--wrap">
                {% for administrator in administrators %}
                    <li class="text--body">
                        <span
                           title="{{ is_administrator and app.user.equals(administrator) ? 'Vous' : administrator }}">
                            {{ include('components/user.html.twig') }}
                        </span>
                        {% if not is_administrator %}
                            <a href="{{ path('app_adherent_contact', {uuid: administrator.uuid, from: 'citizen_project', id: citizen_project.uuid.toString}) }}"
                               class="text--small link--newblue">
                                Contacter
                            </a>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>

    <div class="citizen-project__card" id="followers">
        <h3>
            <span class="citizen-project__card__title">{{ 'citizen_project.followers_count'|transchoice(followers|length) }}</span>
            <span class="text--small text--normal">(<a  class="link--newblue" href="{{ path('app_citizen_project_list_actors', {slug: citizen_project.slug}) }}">Voir</a>)</span>
        </h3>
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <ul class="l__row l__row--wrap">
                {% for follower in followers|slice(0, 11) %}
                    <li>
                        <span title="{{ not has_role_admin and app.user and app.user.equals(follower) ? 'Vous' : follower }}">{{ include('components/user.html.twig') }}</span>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>

    <div class="citizen-project__card">
        <h3 class="svg--black  text--medium-small">Thème</h3>
        <ul>
            {{ citizen_project.category.name }}
        </ul>
    </div>

    <div class="citizen-project__card">
        <h3 class="svg--black">Localisé autour de</h3>
        <span>{{ citizen_project.cityName }}</span>
    </div>

    <div class="citizen-project__card" id="support-committee">
        <h3 class="svg--black">{{ 'citizen_project.committees'|transchoice(citizen_project.approvedCommitteeSupports|length) }}</h3>
        <ul>
            {% for committeeSupport in citizen_project.approvedCommitteeSupports %}
                <li class="text--body">
                    {{ committeeSupport.committee }}
                </li>
            {% else %}
                Aucun comité en soutien pour l'instant
            {% endfor %}
        </ul>
        {% if is_granted('ROLE_SUPERVISOR') %}
            <form method="post" id="committee-confirm-support-form" class="form citizen-project-form" action="{{ path('app_citizen_project_committee_support', {slug: citizen_project.slug}) }}">
                {{ form_widget(form_committee_support) }}
                <div>
                    <button type="submit" id="committee-confirm-support" class="newbtn newbtn--hollow newbtn--smaller">
                        {% if citizen_project.isSupportedByCommitteeUuid(app.user.memberships.committeeSupervisorMemberships.last.committeeUuid.toString) %}
                            Retirer mon soutien à ce projet
                        {% else %}
                            Soutenir ce projet avec mon comité
                        {% endif %}
                    </button>
                </div>
            </form>
        {% endif %}
    </div>
</aside>
