<html>
    <head>
        <meta charset="UTF-8"/>
        <style type="text/css">
            /* http://meyerweb.com/eric/tools/css/reset/ v2.0 | 20110126 License:none (public domain) */
            html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
            /* HTML5 display-role reset for older browsers */
            article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}
            body{line-height:1;}ol,ul{list-style:none;}blockquote,q{quotes:none;}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}table{border-collapse:collapse;border-spacing:0;}

            body {
                width: 820px;
                height: 312px;
                color: #fff;
                text-align: center;
            }
            #background {
                background-repeat: no-repeat;
                background-size: cover;
                background-image: url("{{ command.imagePath }}");
            }
            #mask {
                position: relative;
                width: 100%;
                height: 100%;
                background-color: {{ command.getRgbaColor(0.60) }};
            }
            #badge {
                position: absolute;
                top: 10px;
                right: 10%;
            }
            #badge img {
                width: 135px;
            }
            #text {
                width: 100%;
                position: absolute;
                top: 60%;
                -webkit-transform: translateY(-60%);
                text-align: center;
            }
            @font-face {
                font-family: title-1;
                src: url("{{ project_dir }}/public/fonts/gillsans-heavy-italic.ttf");
            }
            @font-face {
                font-family: title-2;
                src: url("{{ project_dir }}/public/fonts/gillsans-regular.ttf");
            }
            .title-1 {
                font-family: title-1;
                font-size: 50px;
            }
            .title-2 {
                font-family: title-2;
                font-size: 20px;
            }
        </style>
    </head>
    <body>
        <div id="background">
            <div id="mask">
                <div id="badge">
                    <img src="{{ project_dir }}/data/static/badge/citizen-project.png" />
                </div>
                <div id="text">
                    <span class="title-1">{{ command.citizenProjectTitle|upper }}</span>
                    <br>
                    <span class="title-2">({{ command.departmentCode }}) {{ command.city|upper }}</span>
                </div>
            </div>
        </div>
    </body>
</html>
