{% extends 'base.html.twig' %}

{% block page_title 'Mon espace projet citoyen' %}

{% block content %}

    <h1 class="text--center text--large" style="padding-top: 135px;">{{ block('page_title') }}</h1>
    <p class="text--center text--body text--light-gray">
        Vous gérez {{ 'common.citizen_projects_count'|transchoice(citizen_projects|length) }}
    </p>

    <div class="l__row l__row--wrap l__row--center">
        {% for citizen_project in citizen_projects|slice(0, 6) %}
            {{ block('citizen_project_block') }}
        {% endfor %}

        <div class="l__col l__col--half space--20 citizen-project-block b__nudge--top-15">
            <p class="text--gray">+ Créer un nouveau projet citoyen</p>
        </div>
    </div>

        {% if citizen_projects|length > 6 %}
            <div class="b__nudge--top-40 l__row l__row--center">
                <a href="javascript:void(0);" class="btn btn--as-link show-more-link">Voir plus</a>
            </div>
            <div class="l__row l__row--wrap l__row--center hidden" id="citizen-projects-next-part">
                {% for citizen_project in citizen_projects|slice(6) %}
                    {{ block('citizen_project_block') }}
                {% endfor %}
            </div>
        {% endif %}
{% endblock %}

{% block citizen_project_block %}
    <div class="l__col l__col--half space--20 citizen-project-block b__nudge--top-15">
        <p><strong>{{ citizen_project.name }}</strong></p>
        <div>
            <a href="{{ path('app_citizen_project_manager_edit', {slug: citizen_project.slug}) }}" class="btn btn--blue">Gérer</a>
            <span class="b__nudge--left-small">{{ citizen_project.membersCount }} membres</span>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        on(window, 'load', function() {
            once(dom('.show-more-link'), 'click', function () {
                hide(this);
                removeClass(dom('#citizen-projects-next-part'), 'hidden');
            });
        });
    </script>
{% endblock %}
