{% extends 'citizen_project/_space_layout.html.twig' %}

{% block page_title 'Modifier mon project citoyen' %}

{% block javascripts %}
    {% import 'javascript.js.twig' as js %}
    <script src="{{ asset('ckeditor/ckeditor.js') }}"></script>
    <script src="{{ asset('ckeditor/lang/fr.js') }}"></script>
    <script type="text/javascript" src={{ asset('bundles/sonataadmin/vendor/jquery/dist/jquery.min.js') }}></script>
    <script type="text/javascript" src={{ asset('bundles/sonataadmin/vendor/jqueryui/ui/jquery-ui.js') }}></script>
    <script type="text/javascript">
        Kernel.onLoad(function() {
            {{ js.address(form.address) }}
            {{ js.ckeditor('citizen_project_proposed_solution') }}
            {{ js.citizenProjectSkills('#citizen_project_category', '#citizen_project_skills', path('app_citizen_project_skills_autocomplete')) }}
            {{ js.committee('#citizen_project_committees', '#citizen_project_committees_search', path('app_citizen_project_committee_autocomplete'), '#citizen_project_committees_search') }}
        });
    </script>
{% endblock %}

{% block citizen_project_content %}
    <main class="citizen-projects__create">
        <section class="l__wrapper--medium">
            {% if citizen_project.isRefused %}
                <div class="citizen-project__waiting-for-approval">
                    En l'état, votre projet citoyen n'a pas été validé par nos équipes.
                    Vous pouvez à tout moment modifier ce projet ou en proposer un nouveau.
                    Pour plus d’informations, reportez-vous à <a class="link--blue" href="https://storage.googleapis.com/en-marche-prod/documents/projets-citoyens/La%20Charte%20des%20Projets%20Citoyens.pdf">la Charte des Projets Citoyens</a>.
                </div>
            {% elseif not citizen_project.isApproved %}
                <div class="citizen-project__waiting-for-approval">
                    Votre projet citoyen est en attente de validation par nos équipes.
                    Vous serez alerté(e) par e-mail quand il sera validé.
                </div>
            {% endif %}

            <header class="space--30-0">
                <h1 class="b__nudge--bottom-small text--medium">
                    Modifier mon projet citoyen
                </h1>
            </header>
            {{ form_start(form, {attr: {id: 'edit-citizen-project-form', class: 'form b__nudge--bottom-huge'}}) }}
                {{ include('citizen_project/_form.html.twig', {citizen_project: citizen_project}) }}
                {% if form.cgu is defined %}
                    <div class="form__checkbox form__checkbox--large">
                        <div>
                            {{ form_widget(form.cgu) }}
                            {% block _form_cgu_label %}
                                <label class="form" for="citizen_project_cgu">
                                    <span>
                                        Je consens au traitement de mes données dans le cadre des Projets citoyens et à la communication de mes coordonnées (téléphone et e-mail) à l'équipe Engagement Citoyen au niveau départemental et national.
                                    </span>
                                </label>
                            {% endblock %}
                        </div>
                        {{ form_errors(form.cgu) }}
                    </div>
                {% endif %}
                {% if form.data_processing is defined %}
                    <div class="form__checkbox form__checkbox--large">
                        <div>
                            {{ form_widget(form.data_processing) }}
                            {% block _form_data_processing_label %}
                                <label class="form" for="citizen_project_data_processing"><span>J’adhère aux <a href="https://storage.googleapis.com/en-marche-prod/documents/projets-citoyens/CGU%20-%20Projets%20Citoyens.pdf" target="_blank" class="link--blue">Conditions Générales d’Utilisation des Projets citoyens</a> et à la <a href="https://storage.googleapis.com/en-marche-prod/documents/projets-citoyens/La%20Charte%20des%20Projets%20Citoyens.pdf" target="_blank" class="link--blue">Charte des Projets citoyens</a></span></label>
                            {% endblock %}
                        </div>
                        {{ form_errors(form.data_processing) }}
                    </div>
                {% endif %}
                <hr>
                <button type="submit" id="edit-citizen-project" class="btn btn--blue">
                    Enregistrer
                </button>
                <a href="{{ path('app_citizen_project_show', {slug: citizen_project.slug}) }}" class="btn">
                    Annuler
                </a>
                {{ form_rest(form) }}
            {{ form_end(form) }}
        </section>
    </main>
{% endblock %}
