{% extends 'base.html.twig' %}

{% block page_title 'Projets citoyens - image generateur' %}

{% block content %}
    <main class="image-generator">
        <section class="l__wrapper--medium space--30-0">
            <header class="space--30-0">
                <h1 class="b__nudge--bottom-small text--medium">Creer vos images</h1>
            </header>

            <div>
                <p>Grâce a cette interface, generez les photos du profil et de couverture de votre projet citoyen sur les reseaux sociaux.</p>

                {{ form_start(form) }}

                {{ form_errors(form) }}

                <div class="l__row l__row--center l__row--v-stretch b__nudge--bottom-60">

                  <div class="l__col l__col--half l__col--top b__nudge--right-larger">

                    <div class="img-gen__fieldset">
                      {{ form_row(form.citizenProjectTitle, {
                          label: 'Entrez le nom de votre projet citoyen :',
                          attr: {class: 'img-gen__input img-gen__input--block'},
                          label_attr: {class: 'img-gen__label'}
                      }) }}
                    </div>

                    <div class="img-gen__fieldset">
                      <div>
                        {{ form_label(form.emoji, 'Entrez un emoji qui représente au mieux votre projet :', {
                          label_attr: {class: 'img-gen__label'}
                        })}}
                        {{ form_errors(form.emoji)}}

                        <div class="l__row">
                          {{ form_widget(form.emoji, {
                            attr: {class: 'img-gen__input img-gen__input--narrow'}
                          }) }}
                          <div class="text--small b__nudge--left-medium">
                            Vous pouvez aller chercher votre emoji sur
                            <a href="https://getemoji.com" class="text--blue--dark" target="_blank">getemoji.com</a> et le coller ici.
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="img-gen__fieldset">
                      {{ form_row(form.backgroundColor, {
                          label: 'Choisissez une couleur :',
                          attr: {class: 'img-gen__input l__row l__row--wrap'},
                          label_attr: {class: 'img-gen__label'}
                      }) }}
                    </div>

                  </div>

                  <div class="l__col l__col--half l__col--top">

                    <div class="img-gen__fieldset">
                    {{ form_row(form.city, {
                        label: 'Entrez votre ville :',
                        attr: {class: 'img-gen__input img-gen__input--block'},
                        label_attr: {class: 'img-gen__label'}
                    }) }}
                    </div>

                    <div class="img-gen__fieldset">
                      <div>
                        {{ form_label(form.departmentCode, 'Entrez le numéro de votre département :', {
                          label_attr: {class: 'img-gen__label'}
                        })}}
                        {{ form_errors(form.departmentCode)}}

                        <div class="l__row">
                          {{ form_widget(form.departmentCode, {
                            attr: {
                              class: 'img-gen__input img-gen__input--narrow',
                              maxlength: 2
                            }
                          })}}
                        </div>
                      </div>
                    </div>

                    <div class="img-gen__fieldset">
                    </div>

                  </div>
                </div>

                {{ dump(previewCoverImage) }}
                {% if previewCoverImage %}
                    <hr/>
                    <div>
                        <div>
                            <h6>Profile</h6>
                            <img src="{{ previewEmojiImage }}"/>
                        </div>
                        <div>
                            <h6>Cover</h6>
                            <img src="{{ previewCoverImage }}" style="max-width: 800px"/>
                        </div>
                    </div>
                    {{ form_row(form.preview, {
                        label: 'Générer un apperçu (avant le téléchargement)',
                        attr: {class: 'b__nudge--top-15'}
                    }) }}

                    {{ form_row(form.download, {
                        label: 'Télécharger les images',
                        attr: {class: 'b__nudge--top-15'}
                    }) }}
                {% else %}
                    {{ form_row(form.preview, {
                        label: 'Générer un apperçu (avant le téléchargement)',
                        attr: {class: 'b__nudge--top-15'}
                    }) }}

                {% endif %}

                {{ form_end(form) }}
            </div>
        </section>
    </main>
{% endblock content %}
