{% extends 'base.html.twig' %}

{% block page_title 'Projets citoyens - image generateur' %}

{% block content %}
    <main class="image-generator">
        <section class="l__wrapper--medium space--30-0">
            <header class="space--30-0">
                <h1 class="b__nudge--bottom-small text--medium">Creer vos images</h1>
            </header>

            <div>
                <p>Grâce a cette interface, generez les photos du profil et de couverture de votre projet citoyen sur les reseaux sociaux.</p>

                {{ form_start(form) }}

                {{ form_errors(form) }}

                <div class="l__row l__row--center l__row--v-stretch b__nudge--bottom-60">

                  <div class="l__col l__col--half l__col--top b__nudge--right-larger">

                    <div class="img-gen__fieldset">
                    </div>

                    <div class="img-gen__fieldset">
                    </div>

                    <div class="img-gen__fieldset">
                    </div>

                  </div>

                  <div class="l__col l__col--half l__col--top">

                    <div class="img-gen__fieldset">
                    </div>

                    <div class="img-gen__fieldset">
                    </div>

                    <div class="img-gen__fieldset">
                    </div>

                  </div>
                </div>

                {{ dump(previewCoverImage) }}
                {% if previewCoverImage %}
                    <hr/>
                    <div>
                        <div>
                            <h6>Profile</h6>
                            <img src="{{ previewEmojiImage }}"/>
                        </div>
                        <div>
                            <h6>Cover</h6>
                            <img src="{{ previewCoverImage }}" style="max-width: 800px"/>
                        </div>
                    </div>
                    {{ form_row(form.preview, {
                        label: 'Générer un apperçu (avant le téléchargement)',
                        attr: {class: 'b__nudge--top-15'}
                    }) }}

                    {{ form_row(form.download, {
                        label: 'Télécharger les images',
                        attr: {class: 'b__nudge--top-15'}
                    }) }}
                {% else %}
                    {{ form_row(form.preview, {
                        label: 'Générer un apperçu (avant le téléchargement)',
                        attr: {class: 'b__nudge--top-15'}
                    }) }}

                {% endif %}

                {{ form_end(form) }}
            </div>
        </section>
    </main>
{% endblock content %}
