{% extends 'base.html.twig' %}

{% block banner '' %}
{% block page_title 'Agissez près de chez vous !' %}

{% block javascripts %}
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key={{ google_maps_api_key }}&amp;libraries=places"></script>
    <script type="text/javascript">
        Kernel.onLoad(function(di) {
            var cityInput = dom('#city-search-input'),
                cityDisplay = dom('#city-search-display'),
                btnChangeCity = dom('#change-city'),
                waitQueue;

            on(btnChangeCity, 'click', toogleCityInput);

            function toogleCityInput() {
                if (!!( cityDisplay.offsetWidth || cityDisplay.offsetHeight || cityDisplay.getClientRects().length )) {
                    cityDisplay.style.display = 'none';
                    cityInput.style.display = 'inline';
                } else {
                    cityDisplay.innerHTML = cityInput.value;
                    cityDisplay.style.display = 'inline';
                    cityInput.style.display = 'none';
                }
            }

            function fetchResults() {
                // setTimeout avoids sending all HTTP request while the user is typing
                clearTimeout(waitQueue);
                waitQueue = setTimeout(function() {
                    di.get('api').getCitizenProjectLandingPage(cityInput.value, function (response) {
                        if (response instanceof XMLHttpRequest) {
                            dom('#search-results').innerHTML = '<div class="text--body text--center l__wrapper">Aucun résultat pour ces critères de recherche.</div>';

                            return;
                        }

                        dom('#search-results').innerHTML = response;
                    });
                }, 200);
            }
            autocomplete = new google.maps.places.Autocomplete(cityInput, {
                types: ['(cities)'],
            });

            google.maps.event.addListener(autocomplete, 'place_changed', toogleCityInput);
            google.maps.event.addListener(autocomplete, 'place_changed', fetchResults);

            fetchResults();
        });
    </script>
{% endblock %}

{% block content %}
<section class="citizen-projects__landing">
    <header class="space--100-0">
        <div class="l__wrapper l__col text--white">
            <h1 class="text--extra-large">Agissez près de chez vous !</h1>
            <h2>Proposez votre projet citoyen ou rejoignez un projet déjà lancé</h2>
            <img src="" alt="">
        </div>
    </header>

    <div class="l__wrapper space--60-0">
        <div class="text--large text--bold">Des projets à rejoindre autour de <span id="city-search-display">{{ city }}</span> <input style="display: none;" type="text" value="{{ city }}" id="city-search-input"> <span id="change-city" class="btn">Changer lieu</span></div>
        <div id="search-results">
            <div class="text--body text--center l__wrapper">Soupoudrer de perlimpinpin...</div>
        </div>
        <div class="text--center">
            <a class="newbtn" href="{{ path('app_search_citizen_projects') }}">Tous les projets</a>
        </div>
    </div>


    <hr>

    <div class="l__wrapper space--60-0 text--center">
        <p class="text--large text--bold">
            Les projets citoyens sont des actions locales qui visent à améliorer concrètement notre quotidien en réunissant la force et les compétences de toutes et tous.
        </p>
    </div>

    <div class="background--purple l__wrapper space--60-0 text--center">
        <img src="" alt="">
        <p class="text--large text--bold">Envie d'agir autrement près de chez vous ?</p>
        <p class="text--large text--bold">Lancez votre projet local !</p>
        <form id="start-creation-citizen-project" action="{{ path('app_adherent_create_citizen_project') }}" method="GET">
            <input type="text" name="name" placeholder="Le titre court et descriptif de mon projet">
            <button type="submit">Prochaine étape</button>
        </form>
    </div>

    <div class="text--center">
        <video src=""></video>
    </div>

</section>


{% endblock %}
