{% extends 'citizen_project/_space_layout.html.twig' %}

{% block page_title "Acteurs du projet citoyen #{citizen_project.name}" %}
{% block meta_description "Découvrez les #{citizen_project.membersCount} acteurs de #{citizen_project.name}, une action créée dans le cadre des projets citoyens de La République En Marche ! et portée à #{citizen_project.cityName}." %}

{% block javascripts %}
    {{ parent() }}
    {% if is_cp_administrator %}
        <script type="text/javascript">
            Kernel.onLoad(function() {
                App.runManageParticipants();
            });
        </script>
    {% endif %}
{% endblock %}

{% block citizen_project_title %}Acteurs de {{ parent() }}{% endblock %}

{% block citizen_project_content %}
    <div class="l__wrapper l__row l__row--top l__row--h-stretch l__tablet--col">
        <div class="committee__main l__wrapper--main l__wrapper--main-left">
            <header class="space--30-0">
                <h2 class="b__nudge--bottom-small text--medium">Liste des membres</h2>
            </header>

            <table class="committee__members__list" cellpadding="10">
                <tr>
                    <th>Prénom</th>
                    <th>Nom</th>
                    {% if is_cp_administrator %}
                        <th>Age</th>
                        <th>CP</th>
                        <th>Ville</th>
                    {% endif %}
                        <th>Rôle</th>
                    {% if is_cp_administrator %}
                        <th>Adhésion</th>
                    {% endif %}
                </tr>
                {% for actor in actors %}
                    {% set member = actor.adherent %}
                    {% set is_promotable_host = actor.promotableAdministrator %}
                    <tr{{ not is_promotable_host ? ' class="committee__members__list__host"' : '' }}>
                        <td class="member-first-name">{{ member.firstName|capitalize }}</td>
                        <td class="member-last-name">
                            {{ not is_cp_administrator ? member.lastNameInitial|upper : member.lastName}}
                        </td>
                        {% if is_cp_administrator %}
                            <td class="member-age">{{ member.age }}</td>
                            <td class="member-postal-code">{{ member.postalCode }}</td>
                            <td class="member-city-name">{{ member.cityName }}</td>
                        {% endif %}
                            <td>
                                {% if not is_promotable_host %}
                                    Porteur du projet
                                {% else %}
                                    Membre
                                {% endif %}
                            </td>
                        {% if is_cp_administrator %}
                            <td class="member-subscription-date">
                                {{- actor.subscriptionDate|date('d/m/Y') -}}
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}
