{% extends 'citizen_project/_space_layout.html.twig' %}

{% block page_title "Acteurs du projet citoyen #{citizen_project.name}" %}
{% block meta_description "Découvrez les #{citizen_project.membersCount} acteurs de #{citizen_project.name}, une action créée dans le cadre des projets citoyens de La République En Marche ! et portée à #{citizen_project.cityName}." %}

{% block javascripts %}
    {{ parent() }}
    {% if is_cp_administrator %}
        <script type="text/javascript">
            Kernel.onLoad(function() {
                App.runManageParticipants();
            });
        </script>
    {% endif %}
{% endblock %}

{% block citizen_project_title %}Acteurs de {{ parent() }}{% endblock %}

{% block citizen_project_content %}
    <div class="datagrid__pre-table b__nudge--bottom-larger">
        <h3>Adhérents</h3>
    </div>

    <table class="datagrid__table-manager">
        <thead>
            <tr>
                <th>Prénom</th>
                <th>Nom</th>
                {% if is_cp_administrator %}
                    <th>Age</th>
                    <th>CP</th>
                    <th>Ville</th>
                {% endif %}
                    <th>Statut</th>
                    <th>Rôle</th>
                {% if is_cp_administrator %}
                    <th>Adhérent depuis le</th>
                    <th>A rejoint le projet le</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for actor in actors %}
                {% set member = actor.adherent %}
                {% set is_promotable_host = actor.promotableAdministrator %}
                <tr{{ not is_promotable_host ? ' class="host-member"' : '' }}>
                    <td class="member-first-name">{{ member.firstName|default('~')|capitalize }}</td>
                    <td class="member-last-name">
                        {{ not is_cp_administrator ? member.lastNameInitial|upper : member.lastName}}
                    </td>
                    {% if is_cp_administrator %}
                        <td class="member-age">{{ member.age|default('~') }}</td>
                        <td class="member-postal-code">{{ member.postalCode|default('~') }}</td>
                        <td class="member-city-name">{{ member.cityName|default('~') }}</td>
                    {% endif %}
                    <td class="status status__{{ member.hasCitizenProjectHostEmailSubscription ? '1' : '2' }}">
                        <span></span>
                        {{ member.hasCitizenProjectHostEmailSubscription ? 'Abonné(e)' : 'Non-abonné(e)' }}
                    </td>
                    <td>
                        {% if not is_promotable_host %}
                            Porteur de projet
                        {% else %}
                            Membre
                        {% endif %}
                    </td>
                    {% if is_cp_administrator %}
                        <td>{{ actor.adherent.registeredAt|date('d/m/Y') }}</td>
                        <td class="member-subscription-date">{{ actor.subscriptionDate|date('d/m/Y') }}</td>
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
