{% extends 'citizen_project/media_generator.html.twig' %}

{% block page_title 'Projets citoyens - tract generateur' %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        Kernel.onLoad(function() {
            App.runCitizenProjectImageGenerator();
        });
    </script>
{% endblock %}

{% block media_generator_form %}
    {{ form_start(form) }}

    {{ form_errors(form) }}

    <div class="l__row l__row--center l__row--v-stretch b__nudge--bottom-60">

        <div class="l__col l__col--half l__col--top b__nudge--right-larger">

            <div class="img-gen__fieldset">
                {{ form_row(form.citizenProjectTitle, {
                    label: 'Entrez le nom de votre projet citoyen :',
                    attr: { class: 'img-gen__input img-gen__input--block' },
                    label_attr: { class: 'img-gen__label' }
                }) }}
            </div>

            <div class="img-gen__fieldset">
                {{ form_row(form.backgroundColor, {
                    label: 'Choisissez une couleur :',
                    attr: { class: 'img-gen__input l__row l__row--wrap' },
                    label_attr: { class: 'img-gen__label' }
                }) }}
            </div>

            <div class="img-gen__fieldset">
                {{ form_row(form.description, {
                    label: 'Indiquez ici le lieu et l\'heure de votre action :',
                    attr: { class: 'img-gen__input img-gen__input--block' },
                    label_attr: { class: 'img-gen__label' }
                }) }}
            </div>

            <div class="img-gen__fieldset">
                <div>
                    {{ form_row(form.details, {
                        label: 'Entrez le deuxième paragraphe :',
                        attr: { class: 'img-gen__input img-gen__input--block' },
                        label_attr: { class: 'img-gen__label' }
                    }) }}
                    <p class="text--summary text--muted l__col--grow-1">
                        Si vous souhaitez distribuer ce tract sur la voie publique, veillez à indiquer la mention “Ne pas jeter sur la voie publique” ainsi que le RCS de votre imprimeur ou la mention “IPNS” si vous l’imprimez vous-même (Imprimé Par Nos Soins)
                    </p>
                </div>
            </div>

            <div class="img-gen__fieldset">
                <div>
                    {{ form_label(form.backgroundImage, 'Ajoutez une photo :', {
                        label_attr: { class: 'img-gen__label' }
                    }) }}
                    {{ form_errors(form.backgroundImage) }}
                    {{ form_widget(form.backgroundImage, {
                        attr: { class: 'img-gen__input img-gen__input--block' }
                    }) }}
                    <p class="text--summary text--muted l__col--grow-1">
                        Vous pouvez choisir des images sur <a href="https://unsplash.com/" class="text--blue--dark" target="_blank">unsplash.com</a> ou d’autres banques d’images. Choisissez une image sans texte, représentative de votre projet et libre de droit.
                    </p>
                </div>
            </div>

            <div class="l__row l__row--h-stretch l__wrapper--500">
                {{ form_row(form.download, {
                    label: 'Créer mon PDF',
                    attr: { class: 'img-gen__button--inverse' }
                }) }}
            </div>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}
