{% extends 'citizen_project/_layout.html.twig' %}

{% block page_title citizen_project.name %}
{% block canonical_url url('app_citizen_project_show', {slug: citizen_project.slug}) %}

{% block json_ld %}
    <script type="application/ld+json">
    {
        "@context": "http://schema.org",
        "@type": "Organization",
        "name": "{{ citizen_project.name }}",
        "url": "{{ block('open_graph_url') }}",
        "image": {
            "@type": "ImageObject",
            "url": "{{ block('open_graph_image')|raw }}",
            "contentUrl": "{{ block('open_graph_image')|raw }}",
            "width": {{ block('open_graph_image_width') }},
            "height": {{ block('open_graph_image_height') }}
        },
        "description": "{{ citizen_project.problemDescription }}",
        "funder": {
            "@type": "Person",
            "givenName": "Emmanuel",
            "familyName": "Macron"
        },
        "parentOrganization": {
            "@type": "Organization",
            "name": "En Marche !",
            "url": "{{ homepage_url }}"
        },
        "location": {
            "@type": "PostalAddress",
            "streetAddress": "{{ citizen_project.address }}",
            "addressLocality": "{{ citizen_project.cityName }}",
            "postalCode": "{{ citizen_project.postalCode }}",
            "addressCountry": "{{ citizen_project.country }}"
        }
    }
    </script>
{% endblock %}

{%- block meta_description -%}
    {{ citizen_project.name }} est une action créée dans le cadre des projets citoyens de La République En Marche ! Ce projet, situé à {{ citizen_project.postAddress.cityName }}, a le soutien de {{ 'citizen_project.members_count'|transchoice(citizen_project.membersCount) }}. Rejoignez-le et participez à améliorer le quotidien de votre quartier ou de votre village !
{%- endblock -%}

{% block citizen_project_content %}
    {% if is_cp_administrator %}
        <nav class="b__nudge--top b__nudge--bottom">
            <ul class="list__links list__links--margin-right">
                <li>
                    <a href="{{ path('app_citizen_project_manager_edit', { slug: citizen_project.slug }) }}"
                       class="text--body link--newblue">
                        {{ 'citizen_project.edit_project'|trans }}
                    </a>
                </li>
                {% if citizen_project.isApproved %}
                    <li>
                        <a href="{{ path('app_citizen_project_image_generator') }}" class="text--body link--newblue">
                            {{ 'citizen_project.create_image'|trans }}
                        </a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    {% endif %}

    {% if citizen_project.isRefused %}
        <section>
            <div class="citizen-project__waiting-for-approval flex--center--mobile">
                {{ 'citizen_project.denied'|trans|raw }}
            </div>
        </section>
    {% elseif not citizen_project.isApproved %}
        <section>
            <div class="citizen-project__waiting-for-approval flex--center--mobile">
                {{ 'citizen_project.waiting_for_approval'|trans }}
            </div>
        </section>
    {% else %}
        {% if can_create_citizen_action(citizen_project) %}
            <a class=" newbtn--small btn--pink btn" href="{{ path('app_citizen_action_manager_create', {project_slug: citizen_project.slug}) }}">{{ 'citizen_project.create_citizen_action'|trans }}</a>
        {% endif %}
        <h2 class="space--20-0 b__nudge--top">{{ 'citizen_project.about'|trans }}</h2>
        <hr>
        <div class="text--body text--dark" id="citizen-project-problem-description">
            <p class="text--bold">{{ 'citizen_project.the_problem'|trans }}</p>
            <p>{{ citizen_project.problemDescription|nl2br }}</p>
        </div>
        <hr>
        <span id="show-more-citizen-project-info" class="text--body text--blue--dark cursor--pointer">{{ 'citizen_project.show_more'|trans }}</span>
        <div id="citizen-project-info" class="visually-hidden">
            <div class="text--body text--dark" id="citizen-project-proposed-solution">
                <p class="text--bold">{{ 'citizen_project.our_project'|trans }}</p>
                <p>{{ citizen_project.proposedSolution|raw }}</p>
            </div>
            <hr>
            <div class="text--body text--dark" id="citizen-project-required-means">
                <p class="text--bold">{{ 'citizen_project.action_to_launch'|trans }}</p>
                <p>{{ citizen_project.requiredMeans|nl2br }}</p>
            </div>
            <hr>
        </div>
        <span id="show-less-citizen-project-info" class="text--body text--blue--dark visually-hidden cursor--pointer">{{ 'citizen_project.show_less'|trans }}</span>

        {% if citizen_project.isFromTurnkeyProject and is_cp_administrator %}
            <h2 id="citizen-project-files" class="b__nudge--top">{{ 'citizen_project.my_kit'|trans }}</h2>
            Cliquez sur les liens pour télécharger les docs
            <div class="text--body text--dark">
                <ul>
                    {% for file in citizen_project.turnkeyProject.files %}
                        <li>
                            <a href="{{ path('app_citizen_project_kit_file', { slug: file.slug, extension: file.extension }) }}" class="link--newblue">
                                {{ file.title }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}

        <ul id="citizen-project-menu" class="citizen-project__menu list__links list__links--left list__links--row">
            {% set currentRoute = app.request.attributes.get('_route') %}
            <li>
                <a class="{{ currentRoute == 'app_citizen_project_show' ? 'active' }}" href="{{ path('app_citizen_project_show', {slug: citizen_project.slug}) }}">{{ 'citizen_project.our_field_action'|trans }}</a>
            </li>
            <hr>
        </ul>
        <section>
            {% block citizen_project_show_content %}{% endblock %}
        </section>
    {% endif %}
{% endblock %}
