{% extends 'citizen_project/show_base.html.twig' %}

{% block page_title citizen_project.name %}
{% block canonical_url url('app_citizen_project_show_next_actions', {slug: citizen_project.slug}) %}

{% block citizen_project_show_content %}
    <div class="citizen-project-next-actions">
        <h2 class="space--20-0 b__nudge--top-40">À venir</h2>

        {% for action in citizen_actions %}
            <div class="citizen-project-action">
                <div class="citizen-project-action__date">
                    {{ action.beginAt|date('d') }}
                    <br>
                    {{ action.beginAt|date('M') }}
                </div>

                <div class="citizen-project-action__description">
                    {{ action.name }}
                    <br>
                    {{ action.participantsCount }} inscrit(s)
                </div>

                <div class="citizen-project-action__attend">
                    <a href="{{ path('app_citizen_action_attend', {slug: action.slug}) }}">
                        RSVP
                    </a>
                </div>
            </div>
        {% else %}
            Aucune action prévue pour le moment
        {% endfor %}
    </div>
{% endblock %}
