{% extends 'citizen_project/_layout.html.twig' %}

{% block page_title citizen_project.name %}
{% block canonical_url url('app_citizen_project_show', {slug: citizen_project.slug}) %}

{% block json_ld %}
    <script type="application/ld+json">
    {
        "@context": "http://schema.org",
        "@type": "Organization",
        "name": "{{ citizen_project.name }}",
        "url": "{{ block('open_graph_url') }}",
        "image": {
            "@type": "ImageObject",
            "url": "{{ block('open_graph_image')|raw }}",
            "contentUrl": "{{ block('open_graph_image')|raw }}",
            "width": {{ block('open_graph_image_width') }},
            "height": {{ block('open_graph_image_height') }}
        },
        "description": "{{ citizen_project.problemDescription }}",
        "funder": {
            "@type": "Person",
            "givenName": "Emmanuel",
            "familyName": "Macron"
        },
        "parentOrganization": {
            "@type": "Organization",
            "name": "En Marche !",
            "url": "{{ homepage_url }}"
        },
        "location": {
            "@type": "PostalAddress",
            "streetAddress": "{{ citizen_project.address }}",
            "addressLocality": "{{ citizen_project.cityName }}",
            "postalCode": "{{ citizen_project.postalCode }}",
            "addressCountry": "{{ citizen_project.country }}"
        }
    }
    </script>
{% endblock %}

{% block citizen_project_content %}
    {% if is_administrator %}
        <nav>
            <div>
                <ul class="list__links list__links--default list__links--row list__links--row-left"></ul>
                <ul class="list__links list__links--default list__links--row">
                    <li>
                        <a href="{{ path('app_citizen_project_manager_edit', {slug: citizen_project.slug}) }}" class="icon--with-text">
                            <i class="fa fa-sliders"></i>
                            Éditer le projet citoyen
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    {% endif %}

    {% if not citizen_project.isApproved %}
        <section>
            <div class="citizen_project__waiting-for-approval">
                Votre projet citoyen est en attente de validation par les équipes d'En Marche !
                Vous serez alerté(e) par e-mail quand nous l'aurons accepté.
            </div>

            <p>
                Une fois que votre projet citoyen sera validé, vous pourrez contacter les adhérents suivants votre projet citoyen
                sur cette page.
            </p>
        </section>
    {% else %}
        <div id="citizen-project-menu">
            {% set currentRoute = app.request.attributes.get('_route') %}
            <a href="{{ path('app_citizen_project_show', {slug: citizen_project.slug}) }}" class="{{ currentRoute == 'app_citizen_project_show' ? 'active' }}">À venir</a>
            {% if can_see_comment_citizen_project(citizen_project) %}
                <a href="{{ path('app_citizen_project_show_comments', {slug: citizen_project.slug}) }}" class="{{ currentRoute == 'app_citizen_project_show_comments' ? 'active' }}">Discussions</a>
                {% if can_create_citizen_action(citizen_project) %}
                    <a href="{{ path('app_citizen_action_manager_create', {project_slug: citizen_project.slug}) }}">Créer une action citoyenne</a>
                {% endif %}
            {% endif %}
        </div>

        <section>
            {% block citizen_project_show_content %}
                <h1 class="space--20-0 b__nudge--top-40">À propos</h1>

                {% if citizen_project.hasImageUploaded %}
                    <div class="search__results__picture">
                        <img style="max-width: 600px" src="{{ asset(citizen_project.getAssetImagePath) }}" />
                    </div>
                {% endif %}

                <div class="text--body" id="citizen-project-description">
                    {{ citizen_project.problemDescription }}
                </div>
            {% endblock %}
        </section>
    {% endif %}
{% endblock %}
