<html>
    <head>
        <meta charset="UTF-8"/>
        <style type="text/css">
            /* http://meyerweb.com/eric/tools/css/reset/ v2.0 | 20110126 License:none (public domain) */
            html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
            /* HTML5 display-role reset for older browsers */
            article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}
            body{line-height:1;}ol,ul{list-style:none;}blockquote,q{quotes:none;}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}table{border-collapse:collapse;border-spacing:0;}

            body {
                width: 1754px;
                height: 2480px;
                color: #fff;
                text-align: center;
            }

            #background {
                background-repeat: no-repeat;
                background-size: cover;
                background-image: url("{{ command.imagePath }}");
            }

            #mask {
                width: 1754px;
                height: 2480px;
                background-image: -webkit-linear-gradient(top, {{ command.rgbaStartColor }}, {{ command.rgbaEndColor }} 95%);
                background-image: linear-gradient(to bottom, {{ command.rgbaStartColor }}, {{ command.rgbaEndColor }} 95%);
            }

            #badge {
                text-align: right;
                padding-right: 138px;
                padding-top: 138px;
            }

            #badge img {
                width: 425px;
            }
            #text {
                padding: 0 100px;
                text-align: center;
                margin-top: 650px;
            }
            @font-face {
                font-family: title-1;
                src: url("{{ project_dir }}/public/fonts/gillsans-heavy-italic.ttf");
            }
            @font-face {
                font-family: title-2;
                src: url("{{ project_dir }}/public/fonts/gillsans-regular.ttf");
            }
            @font-face {
                font-family: title-3;
                src: url("{{ project_dir }}/public/fonts/gillsans-italic.ttf");
            }
            .title-1 {
                font-family: title-1;
                font-size: 135px;
                text-transform: uppercase;
                margin-bottom: 50px;
            }
            .title-2 {
                font-family: title-2;
                font-size: 60px;
                margin-bottom: 30px;
            }
            #details {
                margin-top: 60px;
                font-family: title-3;
                font-size: 50px;
                font-style: italic;
            }
        </style>
    </head>
    <body>
        <div id="background">
            <div id="mask">
                <div id="badge">
                    <img src="{{ project_dir }}/data/static/badge/citizen-project.png" />
                </div>
                <div id="text">
                    <h1 class="title-1">{{ command.citizenProjectTitle }}</h1>
                    <h2 class="title-2">{{ command.description|nl2br }}</h2>
                    <h4 id="details">{{ command.details|nl2br }}</h4>
                </div>
            </div>
        </div>
    </body>
</html>
