{% extends 'page/action-talents/layout.html.twig' %}

{% block page_title 'Action talents - Candidater' %}
{% block canonical_url url('app_static_page', { slug: 'action-talents' }) %}
{% block meta_description page.description %}
{% block meta_twitter_description page.twitterDescription ?: page.description %}

{% block action_talents_header %}
    <header class="hero hero--minimalist hero--gradient progressive-background"
            data-sd="{{ static_asset('action-talents/apply.jpg', {'w': 300, 'q': 20}) }}"
            data-hd="{{ static_asset('action-talents/apply.jpg', {'w': 2000, 'q': 70}) }}">
        <div class="hero--minimalist__nav">
            <a href="{{ path('homepage') }}">En Marche !</a>
        </div>
        <div class="hero--minimalist__content">
            <h1>
                Action talents !
            </h1>
        </div>
    </header>
{% endblock %}

{% block action_talents_content %}
    <div class="space--20-0 b__nudge--top">
        <a href="{{ path('app_static_page', { slug: 'action-talents' }) }}"
           class="icon--with-text text--summary">
        {{ include('components/caret--left.html.twig') }}
        Retour</a>

        {{ page.content|markdown }}
    </div>
{% endblock %}
