{% extends 'page/le-mouvement/layout.html.twig' %}

{% block stylesheets %}
<style>
    #map {
        height: 400px;
        width: 100%;
        background: url('{{ asset('images/loader-sm.gif') }}') no-repeat 50% 50%;
    }
</style>
{% endblock %}

{% block javascripts %}
    <script src="https://maps.googleapis.com/maps/api/js?key={{ google_maps_api_key }}"></script>
{% endblock %}

{% block page_title 'Le Bureau exécutif | La République En Marche !' %}
{% block canonical_url url('app_our_organization') %}
{% block meta_description 'Le Bureau exécutif de La République En Marche ! tient le rôle de conseil d\'administration du mouvement. Élu par le Conseil de LaREM, il est composé d\'un Délégue Général ainsi que d\'une trentaine de membres issus du monde politique et de la société civile.' %}
{% block open_graph_title 'Le Bureau exécutif | La République En Marche !' %}

{% block json_ld %}
<script type="application/ld+json">
    {
        "@context": "http://schema.org",
        "@type": "Organization",
        "url": "https://en-marche.fr/le-mouvement/notre-organisation",
        "name": "Le Bureau exécutif de La République En Marche !",
        "logo": "https://en-marche.fr/assets/static/pages-sharers/adherents-en-marche.jpg?q=70&cache=4f169c3d5750f73807b8&fm=pjpg&s=270adc4552e19b20795bd2e0fb26d31f",
        "description": "Le Bureau exécutif de La République En Marche ! tient le rôle de conseil d'administration du mouvement. Élu par le Conseil de LaREM, il est composé d'un Délégue Général ainsi que d'une trentaine de membres issus du monde politique et de la société civile.",
        "funder": {
            "@type": "Person",
            "givenName": "Emmanuel",
            "familyName": "Macron"
        }
    }
</script>
{% endblock %}

{% block mouvement_content %}
    <div id="biography">

        {% if executiveOfficer or deputyGeneralDelegate %}
            <div class="executive-office-leaders">
                <h2 class="text--center">Nos délégués généraux</h2>
                <ul class="team">
                    {% for member in [executiveOfficer, deputyGeneralDelegate] %}
                        {% if member %}
                            <li>
                                <a class="link--no-decor" href="{{ path('app_our_organization_show', { slug: member.slug }) }}">
                                    <div class="profile-pic">
                                        {% if member.hasImageName %}
                                            <img src="{{ path('asset_url', { path: member.getImagePath }) }}">
                                        {% endif %}
                                    </div>
                                    <div class="team__meta">
                                        <div class="b__nudge--bottom-large">
                                            <div class="text--bold">{{ member.lastName|upper }} {{ member.firstName }}</div>
                                            <div class=" b__nudge--bottom-small">{{ member.job }}</div>
                                            <div class="description">{{ member.description }}</div>
                                        </div>
                                    </div>
                                </a>
                                <div class="social-networks">
                                    {{ include('social_share/social_networks.html.twig', { object: member }) }}
                                </div>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        {% endif %}

        {% if executiveOfficeMembers %}
            <div class="executive-office-members">
                <h2 class="text--center">Le Bureau Exécutif</h2>
                <ul class="team">
                    {% for member in executiveOfficeMembers %}
                        <li>
                            <a class="link--no-decor" href="{{ path('app_our_organization_show', { slug: member.slug }) }}">
                                <div class="profile-pic">
                                    {% if member.hasImageName %}
                                        <img src="{{ path('asset_url', { path: member.getImagePath }) }}">
                                    {% endif %}
                                </div>
                                <div class="team__meta">
                                    <div class="b__nudge--bottom-large">
                                        <div class="text--bold">{{ member.lastName|upper }} {{ member.firstName }}</div>
                                        <div class=" b__nudge--bottom-small">{{ member.job }}</div>
                                        <div class="description">{{ member.description }}</div>
                                    </div>
                                </div>
                            </a>
                            <div class="social-networks">
                                {{ include('social_share/social_networks.html.twig', { object: member }) }}
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}

        <div class="space--30">
            <h2>Les responsables fonctionnels</h2>
            <p>
                Nommés par le Délégué général et le Délégué général adjoint, ils accompagnent leur action dans différents domaines.
            </p>
            <a href="https://storage.googleapis.com/en-marche-fr/E-MAILING/LaREM-responsables-fonctionnels.jpg"
               target="_blank" rel="noopener noreferrer" class="btn btn--blue">Les responsables fonctionnels</a>
       </div>

       <div class="space--30">
            <h2>Les responsables thématiques</h2>
            <p>
               Sous la houlette des responsables du Débat d’Idées (Marlène Schiappa accompagnée par Aurélien Taché) et de la Prospective (Laurent Saint-Martin accompagné par Guillaume Chiche), ces binômes ont pour mission d’établir un lien avec les acteurs de leur secteur et d’animer les réseaux d’influence et d’idées en lien avec leur thématique.
            </p>
            <a href="https://en-marche.fr/responsabilites-thematiques"
              target="_blank" rel="noopener noreferrer" class="btn btn--blue">Les responsables thématiques</a>
        </div>

       <div class="space--30">
            <h2>Nos référents</h2>
            <p>
                Ils sont les représentants du mouvement au niveau départemental. Chaque référent(e) coordonne notamment les actions des comités locaux de son département.
            </p>
            <a href="{{ path('our_referents_homepage') }}" class="btn btn--blue">Nos Referents</a>
        </div>
    </div>
{% endblock %}
