{% extends 'procuration/_layout.html.twig' %}

{% form_theme form 'renaissance/forms/proxy_form_theme.html.twig' %}

{% block final_javascripts %}
    <script type="module" src="{{ asset('js/friendlycaptcha.widget-0.9.14.module.min.js') }}" async defer></script>

    <script>
        Bootstrap.onLoad(() => Main.runProxyVotingRepresentativePage());
    </script>

    {% if app_environment == 'staging' %}
    <script type="text/javascript">!function(e,t,n){function a(){var e=t.getElementsByTagName("script")[0],n=t.createElement("script");n.type="text/javascript",n.async=!0,n.src="https://beacon-v2.helpscout.net",e.parentNode.insertBefore(n,e)}if(e.Beacon=n=function(t,n,a){e.Beacon.readyQueue.push({method:t,options:n,data:a})},n.readyQueue=[],"complete"===t.readyState)return a();e.attachEvent?e.attachEvent("onload",a):e.addEventListener("load",a,!1)}(window,document,window.Beacon||function(){});</script><script type="text/javascript">window.Beacon('init', '4e9ca0c4-190d-4246-92e6-b729717ec783')</script>
    {% endif %}
{% endblock %}

{% set fde_additional_form %}
    {% block fde_additional_form '' %}
{% endset %}

{% set round_additional_form %}
    {% block round_additional_form'' %}
{% endset %}

{% set additional_form %}
    {% block inner_content_section '' %}
{% endset %}

{% set title_content_section %}
    {% block title_content_section '' %}
{% endset %}

{% set description_content_section %}
    {% block description_content_section '' %}
{% endset %}

{% set submit_label_content %}
    {% block submit_label_content '' %}
{% endset %}

{% set legal_content_section %}
    {% block legal_content_section '' %}
{% endset %}

{% set alternative_form %}
    {% block alternative_form '' %}
{% endset %}

{% block content_section %}
    <section x-data="xFunnelPage({step: 0})" class="w-full sm:w-auto">
        {{ form_start(form) }}
        <div class="flex gap-8 flex-col p-0">
            {% if form.vars.errors|length > 0 %}
                <twig:ReParagraphStatus status="error" icon class="md:max-w-[500px]">
                    <ul
                        {% if form.vars.errors|length > 1 %}
                            class="list-disc list-inside flex flex-col gap-2.5"
                        {% endif %}
                    >
                        {% for error in form.vars.errors %}
                            <li class="[&>a]:font-medium [&>a]:underline">{{ error.message|raw }}</li>
                        {% endfor %}
                    </ul>
                </twig:ReParagraphStatus>
            {% endif %}

            <twig:Atoms:ReCard class="md:max-w-[500px] re-step" id="step_1" x-data="FirstFormStep({api: '{{ path('app_procuration_persist_email') }}'})">
                <header class="flex flex-col gap-8">
                    <h3 class="font-sharp font-semibold text-[2rem]/[normal] text-black neg-letter-spacing--4">
                        {{ title_content_section }}
                    </h3>
                    <div class="text-subtitle1">{{ description_content_section }}</div>
                </header>

                {{ form_row(form.email, {
                    label: 'Mon adresse email',
                    attr: {
                        placeholder: 'adresse@mail.com',
                        onCheck: "setFieldValid('email')",
                        validate: "['required', 'email']",
                    },
                }) }}

                {{ form_row(form.acceptCgu, {
                    label: 'procuration.accept_cgu.label',
                    attr: {onCheck: "setFieldValid('acceptCgu')", validate: "['required']"},
                }) }}

                <div class="w-full re-field-frame !h-auto cursor-pointer"
                     @click="dom('.frc-button')?.click()">
                    {{ include('renaissance/partials/friendly-captcha.html.twig') }}
                </div>

                <twig:ReButton
                        color="black"
                        class="w-full"
                        loading="x:loading"
                        @click="handleOnSubmit($event)"
                >Continuer</twig:ReButton>

               {{ alternative_form }}
            </twig:Atoms:ReCard>

            <twig:Atoms:ReCard class="md:max-w-[500px] re-step" id="step_2" x-data="SecondFormStep({ zoneApi: '{{ path('app_zone_autocomplete') }}' })">
                <h3 class="font-sharp font-semibold text-[1.25rem]/[normal] text-black neg-letter-spacing--4 pb-4">
                    Mes informations<br/>personnelles
                </h3>

                {{ form_row(form.gender, {
                    label: 'Civilité',
                }) }}

                {{ form_row(form.firstNames, {
                    label: 'Prénom(s)',
                    attr: {
                        placeholder: 'Marie, Claude, Anne',
                    },
                }) }}

                {{ form_row(form.lastName, {
                    label: 'Nom (spécifier votre nom de jeune fille)',
                    attr: {
                        placeholder: 'Mon nom de famille complet',
                    },
                }) }}

                <fieldset class="relative h-[100px]">
                    <twig:Atoms:ReLabel class="mb-6">Date de naissance</twig:Atoms:ReLabel>

                    <fieldset class="flex gap-2.5 relative">
                        {{ form_widget(form.birthdate.day, {
                            label: 'Jour',
                        }) }}

                        {{ form_widget(form.birthdate.month, {
                            label: 'Mois',
                        }) }}

                        {{ form_widget(form.birthdate.year, {
                            label: 'Année',
                        }) }}
                    </fieldset>

                    {{ form_errors(form.birthdate) }}
                </fieldset>

                {{ form_row(form.address, {
                    label: 'Adresse postale',
                }) }}

                <fieldset>
                    <twig:Atoms:ReLabel class="mb-6">Numéro de téléphone</twig:Atoms:ReLabel>
                    <p class="text-[#555555] opacity-50">Nous n’utiliserons ce numéro de téléphone que dans le cadre de la procuration, pour traiter votre demande.</p>
                    {{ form_row(form.phone) }}
                </fieldset>

                <h3 class="font-sharp font-semibold text-[1.25rem]/[normal] text-black neg-letter-spacing--4">
                    Mon bureau de vote
                </h3>

                <p class="text-[#555555] opacity-50">
                    Sachez que ces informations sont indiquées sur votre carte d'électeur. En cas de besoin vous pouvez également les récupérer en allant sur ce site <a class="text-ui_blue-50 hover:text-ui_blue-70" href="https://www.service-public.fr/particuliers/vosdroits/demarches-et-outils/ISE">(Interroger votre situation électorale | Service-Public.fr)</a>
                </p>

                <fieldset class="flex flex-col gap-8 relative">
                    {{ form_row(form.distantVotePlace, {
                        label: 'Je vote dans une autre ville ou un autre pays ?',
                    }) }}

                    <fieldset>
                        {{ form_row(form.voteZone) }}
                    </fieldset>

                    {{ fde_additional_form }}

                    <fieldset>
                        <template x-if="showManualBDV || (votePlaceUuid && isNotInFrance)">
                            <twig:Atoms:ReLabel class="mb-6" x-text="`Mon bureau de vote ${isNotInFrance ? '(optionnel)' : ''}`"></twig:Atoms:ReLabel>
                            <p class="text-[#555555] opacity-50 pb-4" x-show="isNotInFrance">
                                Si vous connaissez votre bureau de vote, il aidera notre équipe à vous trouver le meilleur mandataire. Si vous ne l’avez pas, nous utiliserons votre adresse postale.
                            </p>
                        </template>
                        <template x-if="votePlaceLoading">
                            <div class="opacity-20 pointer-events-none cursor-not-allowed">
                                <twig:Molecules:ReSelect id="fake_vote_place" name="fake_vote_place" placeholder="Recherche de bureau de vote..." status="loading"/>
                            </div>
                        </template>
                        <div class="gap-5 flex flex-col" x-show="!votePlaceLoading">
                            <template x-if="votePlaceUuid && !isNotInFrance && !showManualBDV && !isVotePlacesEmpty">
                                {{ form_row(form.votePlace, {attr: {placeholder: 'Saisir mon bureau de vote (saisie automatique)'}}) }}
                            </template>
                            <template x-if="votePlaceUuid && !isNotInFrance && !showManualBDV && !isVotePlacesEmpty">
                                <p class="text-[#1877F2] text-center hover:text-[rgb(20,86,171)] cursor-pointer" @click="setManualBDV(true)">
                                    Je saisis mon bureau de vote manuellement
                                </p>
                            </template>

                            <template x-if="showManualBDV || (votePlaceUuid && isNotInFrance) || isVotePlacesEmpty">
                                {{ form_row(form.customVotePlace, {attr: {placeholder: 'Saisir mon Bureau de vote'}}) }}
                            </template>

                            <template x-if="votePlaceUuid && showManualBDV && !isVotePlacesEmpty">
                                <p class="text-[#1877F2] text-center hover:text-[rgb(20,86,171)] cursor-pointer" @click="setManualBDV(false)">
                                    Je saisis mon bureau de vote automatiquement
                                </p>
                            </template>

                        </div>

                        {{ form_errors(form.votePlace) }}
                    </fieldset>

                    {{ round_additional_form }}
                    {{ form_errors(form.rounds) }}

                    <fieldset>
                        {{ form_row(form.joinNewsletter, {
                            label: 'Je m’abonne à la newsletter pour ne rien rater des actualités (optionnel)',
                        }) }}
                    </fieldset>
                </fieldset>
                {{ additional_form }}

                <twig:ReButton color="black" class="w-full">
                    {{ submit_label_content }}
                </twig:ReButton>
            </twig:Atoms:ReCard>

            <twig:Atoms:ReCard class="md:max-w-[500px]">
                {{ legal_content_section }}
            </twig:Atoms:ReCard>

            <input type="hidden" id="email-validation-token" value="{{ email_validation_token }}"/>
        </div>
        {{ form_end(form) }}
    </section>
{% endblock content_section %}
