{% extends 'procuration/_layout.html.twig' %}

{% block page_title 'Procuration' %}
{% block meta_description 'Chaque vote compte. Donnez ou proposez procuration !' %}
{% block canonical_url url('app_procuration_choose_election', { action: action }) %}

{% set is_request = constant('App\\Procuration\\ElectionContext::ACTION_REQUEST') is same as(action) %}

{% block procuration_content %}
    <section class="procuration__content l__wrapper--slim space--60-0">
        {{ form_start(elections_form) }}
            <div>
                <div class="text--body b__nudge--top-large">
                    {% if is_request %}
                        <h2 class="b__nudge--bottom">
                            Un de nos volontaires peut porter votre voix
                        </h2>
                        <p>
                            {{ cms_block('procuration-request-form-intro') }}
                        </p>
                    {% else %}
                        <h2 class="text--medium b__nudge--bottom">
                            {{ cms_block('procuration-proposal-form-header') }}
                        </h2>
                    {% endif %}
                </div>
                <div class="text--body">
                    <strong>Choisissez l'élection qui vous concerne :</strong>
                </div>
                <div class="form__checkbox b__nudge--top b__nudge--bottom">
                    {{ form_errors(elections_form) }}
                    {{ form_widget(elections_form.election) }}
                </div>

            </div>
            <div>
                {{ form_widget(elections_form.choose, { label: 'Continuer' }) }}
            </div>

        {{ form_end(elections_form) }}
    </section>
{% endblock %}
