{% extends 'procuration/_layout.html.twig' %}

{% block page_title 'Procuration En Marche !' %}
{% block meta_description 'Chaque vote compte. Donnez ou proposez procuration avec En Marche !' %}
{% block canonical_url url('app_procuration_choose_election', { action: action }) %}

{% set is_request = constant('AppBundle\\Procuration\\ElectionContext::ACTION_REQUEST') is same as(action) %}

{% block procuration_content %}
    <section class="procuration__content l__wrapper--slim space--60-0">
        {{ form_start(elections_form) }}
            <div>
                <div class="text--body b__nudge--top-large">
                    {% if is_request %}
                        <h2 class="b__nudge--bottom">
                            Un de nos volontaires peut porter votre voix
                        </h2>
                        <p>
                            Si vous n'avez pas de proche de confiance qui pourrait voter pour vous dans votre commune, nous pouvons trouver quelqu’un qui portera votre voix. Remplissez simplement le formulaire. Attention, la procuration doit ensuite parvenir à votre bureau de vote, ce qui prend plusieurs jours. Effectuez donc votre démarche rapidement !
                        </p>
                    {% else %}
                        <h2 class="text--medium b__nudge--bottom">
                            Portez la voix d'un citoyen de votre ville
                        </h2>
                    {% endif %}
                </div>
                <div class="text--body">
                    <strong>Choisissez les élections qui vous concernent :</strong>
                </div>
                <div class="form__checkbox b__nudge--top b__nudge--bottom">
                    {{ form_errors(elections_form.elections) }}
                    {{ form_widget(elections_form.elections) }}
                </div>

            </div>
            <div>
                {{ form_widget(elections_form.choose, { label: 'Continuer' }) }}
            </div>

        {{ form_end(elections_form) }}
    </section>
{% endblock %}
