{% extends 'procuration/_layout.html.twig' %}

{% block meta_description 'Chaque vote compte. Donnez ou recevez procuration.' %}
{% block canonical_url url('app_procuration_landing') %}

{% block procuration_content %}
    <section class="procuration__content l__wrapper--500 l__col space--60-0 text--center">
        {% if next_election %}
            <div class="b__nudge--bottom-60">
                {{ next_election.proposalContent|raw }}

                <div class="b__nudge--bottom text--summary">
                    {{ cms_block('procuration-proposal-cta') }}
                </div>
                <a href="{{ path('app_procuration_choose_election', { action: constant('App\\Procuration\\ElectionContext::ACTION_PROPOSAL') }) }}" class="btn btn--red-secondary">
                    Je me porte mandataire
                </a>
            </div>
            <div>
                {{ next_election.requestContent|raw }}

                <div class="b__nudge--bottom text--summary">
                    {{ cms_block('procuration-request-cta') }}
                </div>

                <a href="{{ path('app_procuration_choose_election', { action: constant('App\\Procuration\\ElectionContext::ACTION_REQUEST') }) }}" class="btn btn--blue-secondary">
                    Je donne procuration
                </a>
            </div>
        {% else %}
            Pas d'élection en approche.
        {% endif %}
    </section>
{% endblock %}
