{% extends 'procuration/_layout.html.twig' %}

{% block page_title 'Procuration En Marche !' %}
{% block meta_description 'Chaque vote compte. Donnez ou recevez procuration avec En Marche !' %}
{% block canonical_url url('app_procuration_landing') %}

{% block content %}
    <main class="procuration">
        <div>
            <section class="procuration__header--outer l__row l__row--h-stretch list__links--nav progressive-background text--center text--white"
                     data-sd="{{ static_asset('procuration.jpg', { w: 300, q: 20 }) }}"
                     data-hd="{{ static_asset('procuration.jpg', { w: 2000, q: 70 }) }}">
                <div class="l__wrapper l__row space--30-0">
                    <a href="{{ path('homepage') }}" class="text--logo link--no-decor text--white">En Marche !</a>
                </div>
                <div class="procuration__header--inner l__wrapper--slim">
                    {% if next_election %}
                        {{ next_election.introduction|raw }}
                    {% else %}
                        No coming election, TODO.
                    {% endif %}
                </div>
            </section>

            {% include 'procuration/_faq.html.twig' %}

            <section class="procuration__content l__wrapper--500 l__col space--60-0 text--center">
                {% if next_election %}
                    <div class="b__nudge--bottom-60">
                        <h2 class="text--medium text--bold b__nudge--bottom-small">
                            Je suis présent(e) à une ou plusieurs dates des élections
                        </h2>
                        <div class="b__nudge--bottom text--summary">
                            Je veux voter au nom d'un(e) citoyen(ne) de ma ville.
                        </div>
                        <a href="{{ path('app_procuration_choose_election', { action: constant('AppBundle\\Procuration\\ElectionContext::ACTION_PROPOSAL') }) }}" class="btn btn--primary">
                            Je me porte mandataire
                        </a>
                    </div>
                    <div>
                        <h2 class="text--medium text--bold b__nudge--bottom-small">
                            Je ne suis pas présent(e) à une ou plusieurs dates des élections
                        </h2>
                        <div class="b__nudge--bottom text--summary">
                            Un(e) habitant(e) de ma ville va voter en mon nom.
                        </div>

                        <a href="{{ path('app_procuration_choose_election', { action: constant('AppBundle\\Procuration\\ElectionContext::ACTION_REQUEST') }) }}" class="btn btn--blue">
                            Je donne procuration
                        </a>
                    </div>
                {% else %}
                    No coming election, TODO.
                {% endif %}
            </section>
        </div>
    </main>
{% endblock %}
