{% extends 'procuration/_layout.html.twig' %}

{% block page_title 'Mes coordonnées - Procuration' %}

{% block javascripts %}
    {% import 'javascript.js.twig' as js %}

    {% if google_maps_api_key %}
        <script src="https://maps.googleapis.com/maps/api/js?key={{ google_maps_api_key }}&amp;libraries=places" async defer></script>
    {% endif %}
    <script src={{ asset('bundles/sonataadmin/vendor/jquery/dist/jquery.min.js') }}></script>
    <script type="text/javascript">
        Kernel.onLoad(function() {
            App.runProcurationRequest(
                '#{{ procuration_form.country.vars.id }}',
                '#{{ procuration_form.postalCode.vars.id }}',
                '#{{ procuration_form.state.vars.id }}'
            );
        });
    </script>
{% endblock %}

{% block procuration_content %}
    <section class="procuration__content l__wrapper l__row l__row--top l__row--h-stretch-around l__mobile--col space--60-0">
        <div class="procuration__banner__form">
            <ul class="procuration__steps">
                <li><a href="{{ path('app_procuration_request', { step: constant('STEP_URI_VOTE', procuration_form.vars.data) }) }}">Mon lieu de vote</a></li>
                <li class="active">Mes coordonnées</li>
                <li>Ma procuration</li>
            </ul>
            <form method="post" name="app_procuration_profile">
                <div class="text--body text--small b__nudge--bottom-medium">
                    Renseignez votre lieu de résidence: ce n’est pas forcément
                    le même que votre lieu d’inscription sur les listes électorales
                </div>

                {{ form_errors(procuration_form) }}

                <div class="l__row l__row--h-stretch b__nudge--bottom-tiny form__radio-button">
                    {{ form_widget(procuration_form.gender, { attr: { class: 'register__form__gender' } }) }}
                    {{ form_errors(procuration_form.gender) }}
                </div>

                <div class="l__row l__row--top l__row--h-stretch l__mobile--col">
                    <div class="register__form--mid">
                        {{ form_widget(procuration_form.firstNames, { attr: { placeholder: 'Prénom(s)' } }) }}
                        {{ form_errors(procuration_form.firstNames) }}
                    </div>
                    <div class="register__form--mid">
                        {{ form_widget(procuration_form.lastName, { attr: { placeholder: 'Nom de naissance' } }) }}
                        {{ form_errors(procuration_form.lastName) }}
                    </div>
                </div>

                <div id="membership-address">
                    <div>
                        <div class="address-autocomplete"></div>
                        <p class="text--smallest text--muted text--left visually-hidden" id="address-autocomplete-help-message">
                            Nous n'avons pas reconnu votre adresse, veuillez cliquer <a href="#">ici</a> pour pouvoir la renseigner librement.
                        </p>
                    </div>

                    <div class="address-block">
                        <div class="l__row l__row--h-stretch register__form--full">
                            {{ form_widget(procuration_form.address, { attr: { placeholder: 'Adresse postale' } }) }}
                            {{ form_errors(procuration_form.address) }}
                        </div>

                        <div class="l__row l__row--top l__row--h-stretch l__mobile--col">
                            <div class="register__form__country register__form--third">
                                {{ form_widget(procuration_form.country) }}
                                {{ form_errors(procuration_form.country) }}
                            </div>

                            <div class="register__form__zip_code register__form--third">
                                {{ form_widget(procuration_form.postalCode, { attr: { placeholder: 'Code postal' } }) }}
                                {{ form_errors(procuration_form.postalCode) }}
                            </div>

                            <div class="register__form__city register__form--third">
                                {{ form_widget(procuration_form.city, { attr: { class: 'register__form__city' } }) }}
                                {{ form_widget(procuration_form.cityName, { attr: { class: 'register__form__city_name', placeholder: 'Ville' } }) }}
                                {{ form_errors(procuration_form.city) }}
                            </div>
                        </div>

                        <div class="l__row l__row--top l__row--h-stretch l__mobile--col">
                            <div class="register__form__state register__form--mid">
                                {{ form_widget(procuration_form.state, { attr: { placeholder: 'État/Province'} }) }}
                                {{ form_errors(procuration_form.state) }}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="space--10-0"></div>

                <div class="l__row l__row--top l__row--h-stretch l__mobile--col">
                    <div class="l__col l__col--top register__form__phone register__form--mid">
                        {{ form_label(procuration_form.phone, 'Téléphone', { label_attr: { class: 'text--gray' } }) }}
                        <div class="l__row l__row--top l__row--h-stretch">
                            {{ form_widget(procuration_form.phone.country, { attr: { class: 'membership_request__form__phone' } }) }}
                            {{ form_widget(procuration_form.phone.number, { attr: { placeholder: 'Téléphone' } }) }}
                        </div>
                        {{ form_errors(procuration_form.phone) }}
                    </div>

                    <div class="l__col l__col--top register__form--mid" id="field-birthdate">
                        {{ form_label(procuration_form.birthdate, 'Date de naissance', { label_attr: { class: 'text--gray' } }) }}
                        <div class="l__row l__row--h-stretch">
                            {% for field in procuration_form.birthdate|reverse %}
                                {{ form_widget(field, { attr: { style: 'width: 32%;' } }) }}
                            {% endfor %}
                        </div>
                        {{ form_errors(procuration_form.birthdate) }}
                    </div>
                </div>

                <div class="space--10-0"></div>

                <div class="register__form--full" id="field-email-address">
                    {{ form_widget(procuration_form.emailAddress, { attr: { placeholder: 'Adresse e-mail' } }) }}
                    {{ form_errors(procuration_form.emailAddress) }}
                </div>

                <div class="text--center b__nudge--top-large">
                    <button type="submit" class="btn btn--blue">
                        Je continue
                    </button>
                </div>

                {{ form_rest(procuration_form) }}

            </form>
        </div>
    </section>
{% endblock %}
