{% extends 'base.html.twig' %}

{% form_theme procuration_form 'procuration/_election_rounds_form.html.twig' %}

{% block page_title 'Je me propose - Procuration' %}
{% block meta_description 'Chaque vote compte. Allez voter au nom d’un citoyen de votre ville.' %}
{% block canonical_url url('app_procuration_proxy_proposal') %}

{% block open_graph_image (homepage_url ~ static_asset('procuration-sharer.jpg', { q: 70 }))|raw %}

{% block banner '' %}
{% block header '' %}
{% block footer '' %}

{% block javascripts %}
    <script src={{ asset('bundles/sonataadmin/vendor/jquery/dist/jquery.min.js') }}></script>
    <script src="https://www.google.com/recaptcha/api.js"></script>
    <script type="text/javascript">
        Kernel.onLoad(function() {
            App.createAddressSelector(
                '{{ procuration_form.country.vars.id }}',
                '{{ procuration_form.postalCode.vars.id }}',
                '{{ procuration_form.city.vars.id }}',
                '{{ procuration_form.cityName.vars.id }}'
            );

            App.createVoteLocationSelector(
                '{{ procuration_form.voteCountry.vars.id }}',
                '{{ procuration_form.votePostalCode.vars.id }}',
                '{{ procuration_form.voteCity.vars.id }}',
                '{{ procuration_form.voteCityName.vars.id }}',
                '{{ procuration_form.voteOffice.vars.id }}'
            );

            updateProxiesCount();

            $('#{{ procuration_form.voteCountry.vars.id }}').change(function() {
                updateProxiesCount();
            });

            function updateProxiesCount() {
                var proxiesCountSelected = '#{{ procuration_form.proxiesCount.vars.id }}';
                var radioButtons = $(proxiesCountSelected+' > div');
                var radioButtonsHelper = $(proxiesCountSelected+'_helper');

                if ('FR' === $('#{{ procuration_form.voteCountry.vars.id }}').val()) {
                    $(proxiesCountSelected+'_'+1).prop('checked', true);
                    radioButtons.last().hide();
                    radioButtonsHelper.text('{{ 'procuration.vote_country.conditions.fr'|trans({}, 'validators')|e('js') }}')
                } else {
                    $(proxiesCountSelected+'_'+2).prop('checked', true);
                    radioButtons.last().show();
                    radioButtonsHelper.text('{{ 'procuration.vote_country.conditions.other'|trans({}, 'validators')|e('js') }}');
                }
            }
        });
    </script>
{% endblock %}

{% block content %}
    <main class="procuration">
        <section class="procuration__header--outer l__row l__row--h-stretch list__links--nav progressive-background text--center text--white"
                 data-sd="{{ static_asset('procuration.jpg', { w: 300, q: 20 }) }}"
                 data-hd="{{ static_asset('procuration.jpg', { w: 2000, q: 70 }) }}">
            <div class="l__wrapper l__row space--30-0">
                <a href="{{ path('homepage') }}" class="text--logo link--no-decor text--white">En Marche !</a>
            </div>
            <div class="procuration__header--inner l__wrapper--slim">
                <h1 class="text--larger">
                    Chaque vote compte.
                </h1>
                <h1 class="text--large b__nudge--top-10 l__hide--on-mobile">
                    Allez voter au nom d’un citoyen de votre ville.
                </h1>
            </div>
        </section>
        <section class="procuration__content l__wrapper l__row l__row--top l__row--h-stretch-around l__tablet--col space--60-0">
            <div class="procuration__banner__form procuration__banner__form--large">
                <form method="post" name="app_procuration_proposal">
                    {{ form_errors(procuration_form) }}

                    <div>
                        <h4>Mes informations</h4>

                        <div class="l__row l__row--h-stretch b__nudge--bottom-tiny form__radio-button">
                            {{ form_widget(procuration_form.gender, { attr: { class: 'register__form__gender' } }) }}
                            {{ form_errors(procuration_form.gender) }}
                        </div>

                        <div class="l__row l__row--top l__row--h-stretch l__mobile--col">
                            <div class="register__form--mid">
                                {{ form_widget(procuration_form.firstNames, { attr: { placeholder: 'Prénom(s)' } }) }}
                                {{ form_errors(procuration_form.firstNames) }}
                            </div>
                            <div class="register__form--mid">
                                {{ form_widget(procuration_form.lastName, { attr: { placeholder: 'Nom de naissance' } }) }}
                                {{ form_errors(procuration_form.lastName) }}
                            </div>
                        </div>

                        <div class="l__row l__row--h-stretch register__form--full">
                            {{ form_widget(procuration_form.address, { attr: { placeholder: 'Mon adresse de résidence' } }) }}
                            {{ form_errors(procuration_form.address) }}
                        </div>

                        <div class="l__row l__row--top l__row--h-stretch l__mobile--col">
                            <div class="register__form__country register__form--third">
                                {{ form_widget(procuration_form.country) }}
                                {{ form_errors(procuration_form.country) }}
                            </div>

                            <div id="vote-row-postal-code" class="register__form__zip_code register__form--third">
                                {{ form_widget(procuration_form.postalCode, { attr: { placeholder: 'Code postal' } }) }}
                            </div>

                            <div class="register__form__city register__form--third">
                                {{ form_widget(procuration_form.city, { attr: { class: 'register__form__city'} }) }}
                                {{ form_widget(procuration_form.cityName, { attr: { class: 'register__form__city_name', placeholder: 'Ville' } }) }}
                                {{ form_errors(procuration_form.city) }}
                            </div>
                        </div>

                        <div class="l__row l__row--h-stretch register__form--full">
                            {{ form_widget(procuration_form.emailAddress, { attr: { placeholder: 'Adresse e-mail' } }) }}
                            {{ form_errors(procuration_form.emailAddress) }}
                        </div>

                        <div class="l__col l__col--top">
                            {{ form_label(procuration_form.birthdate, 'Date de naissance', { label_attr: { class: 'text--gray' } }) }}
                            <div class="l__row l__row--h-stretch">
                                {% for field in procuration_form.birthdate|reverse %}
                                    {{ form_widget(field, { attr: { style: 'width: 32%;' } }) }}
                                {% endfor %}
                            </div>
                            {{ form_errors(procuration_form.birthdate) }}
                        </div>

                        <div class="l__col l__col--top register__form__phone">
                            {{ form_label(procuration_form.phone, 'Téléphone', { label_attr: { class: 'text--gray' } }) }}
                            <div class="l__row l__row--top l__row--h-stretch">
                                {{ form_widget(procuration_form.phone.country, { attr: { class: 'membership_request__form__phone' } }) }}
                                {{ form_widget(procuration_form.phone.number, { attr: { placeholder: 'Téléphone' } }) }}
                            </div>
                            {{ form_errors(procuration_form.phone) }}
                        </div>
                    </div>

                    <div class="b__nudge--top-40">
                        <h4>Mon lieu de vote</h4>

                        <div class="form__row">
                            {{ form_label(procuration_form.voteCountry, 'Le pays où je suis inscrit sur les listes électorales') }}
                            {{ form_widget(procuration_form.voteCountry, { attr: { class: 'form--full' } }) }}
                        </div>

                        <div class="form__row">
                            {{ form_label(procuration_form.votePostalCode, 'Le code postal où je vote') }}
                            {{ form_widget(procuration_form.votePostalCode, { attr: { class: 'form--full', placeholder: 'Code postal' } }) }}
                        </div>

                        <div class="form__row">
                            <span id="vote-label-city-name">
                                {{ form_label(procuration_form.voteCity, 'La ville dans laquelle je vote') }}
                            </span>
                            <span id="vote-label-consulate" style="display: none;">
                                {{ form_label(procuration_form.voteCity, 'Le consulat ou l\'ambassade dans lequel ou laquelle je vote') }}
                            </span>
                            {{ form_widget(procuration_form.voteCity) }}
                            {{ form_widget(procuration_form.voteCityName, { attr: { class: 'form--full', placeholder: 'Ville' } }) }}
                        </div>

                        <div class="form__row">
                            {{ form_label(procuration_form.voteOffice, 'Nom ou localisation de votre bureau de vote') }}
                            {{ form_errors(procuration_form.voteOffice) }}
                            {{ form_widget(procuration_form.voteOffice, { attr: { class: 'form--full', placeholder: 'Bureau de vote' } }) }}
                        </div>

                        <div class="form__row" id="proxiesCount">
                            {{ form_label(procuration_form.proxiesCount, 'Nombre de procurations proposées') }}
                            {{ form_errors(procuration_form.proxiesCount) }}
                        </div>

                        <div class="form__row">
                            <div class="l__row--h-stretch b__nudge--bottom-medium form__radio-button">
                                {{ form_widget(procuration_form.proxiesCount, { attr: { class: 'b__nudge--bottom-small' } }) }}
                            </div>

                            <div id="app_procuration_proposal_proxiesCount_helper"></div>
                        </div>
                    </div>

                    <div class="b__nudge--top-40">
                        <h4>Mes disponibilités</h4>

                        <h5 class="procuration__title-elections">
                            Je peux recevoir une procuration pour...
                            <span class="text--small text--gray">(cocher les cases correspondantes)</span>
                        </h5>

                        {{ form_widget(procuration_form.electionRounds) }}
                        {{ form_errors(procuration_form.electionRounds) }}
                    </div>

                    <div class="l__col l__col--top register__form__phone">
                        {{ form_label(procuration_form.inviteSourceName, 'Si vous n\'avez pas été invité(e) en tant qu\'adhérent(e) à En Marche, indiquez quel marcheur vous a invité(e) à devenir mandataire (optionnel)') }}
                        <div class="l__row l__row--top l__row--h-stretch">
                            {{ form_widget(procuration_form.inviteSourceFirstName, { attr: { class: 'form--full', placeholder: 'Nom de la personne qui vous a invité' } }) }}
                            {{ form_widget(procuration_form.inviteSourceName, { attr: { class: 'form--full', placeholder: 'Prénom de la personne qui vous a invité' } }) }}
                        </div>
                        {{ form_errors(procuration_form.inviteSourceFirstName) }}
                        {{ form_errors(procuration_form.inviteSourceName) }}
                    </div>

                    <div class="b__nudge--top-40">
                        {{ form_errors(procuration_form.conditions) }}
                        <div class="form__row form__checkbox form__checkbox--large">
                            {{ form_widget(procuration_form.conditions) }}
                            {{ form_label(procuration_form.conditions, 'En cochant cette case, je m’engage à voter selon les vœux du mandant.') }}
                        </div>

                        {{ form_errors(procuration_form.authorization) }}
                        <div class="form__row form__checkbox form__checkbox--large">
                            {{ form_widget(procuration_form.authorization) }}
                            {{ form_label(procuration_form.authorization, 'En cochant cette case, vous autorisez En Marche à utiliser les informations détaillées dans le présent formulaire dans le cadre de la plateforme de procuration.') }}
                        </div>
                    </div>

                    <input type="hidden" class="nojs-g-recaptcha-response" name="g-recaptcha-response" value="" />
                    {% if recaptcha_public_key is not empty %}
                        <div class="g-recaptcha" data-sitekey="{{ recaptcha_public_key }}" style="margin: 10px auto 50px auto;"></div>
                    {% elseif app.debug %}
                        <input type="hidden" name="g-recaptcha-response" value="fake" />
                    {% endif %}

                    <div class="text--center b__nudge--top-large">
                        <button type="submit" class="btn btn--blue">
                            Je continue
                        </button>
                    </div>

                    {{ form_rest(procuration_form) }}

                </form>
            </div>
        </section>
    </main>
{% endblock %}
