{% extends 'procuration/_form.html.twig' %}

{% block page_title 'Procuration - Proposition (Mandataire)' %}

{% block open_graph_image 'https://assets.parti-renaissance.fr/sharer/mandataire.png' %}
{% block open_graph_title 'Votez pour une personne proche de chez vous • Renaissance' %}
{% block open_graph_description 'Entre le front populiste et le front nationaliste, aucune voie ne doit manquer pour nos candidats.' %}
{% block canonical_url url('app_procuration_proxy', {slug: election.slug}) %}

{% block content_title 'Proposition (Mandataire)' %}

{% block title_content_section %}
    {{ election.proxyTitle|markdown_to_html }}
{% endblock %}

{% block description_content_section %}
    {{ election.proxyDescription|markdown_to_html }}
{% endblock %}

{% block legal_content_section %}
    {{ election.proxyLegal|markdown_to_html }}
{% endblock %}

{% block alternative_form %}
    <p class="text-center">
        <b>Absent ?</b>
        <br>
        Nous trouvons une personne qui ira voter pour vous.
        <br>
        <a
            class="text-[#1877F2] text-center hover:text-[rgb(20,86,171)] cursor-pointer"
            href="{{ url('app_procuration_request', {slug: election.slug}) }}">
            Je dépose une demande
        </a>
    </p>
{% endblock %}

{% block round_additional_form %}
    <fieldset>
        <twig:Atoms:ReLabel class="mb-6">Je prends une procuration pour :</twig:Atoms:ReLabel>
        {{ form_row(form.rounds) }}
    </fieldset>
{% endblock %}

{% block inner_content_section %}
    <fieldset>
        <twig:Atoms:ReLabel class="mb-6">Mon numéro d’électeur (optionnel)</twig:Atoms:ReLabel>
        <p class="text-[#555555] opacity-50">Il facilitera la démarche pour vous faire procuration.</p>
        {{ form_row(form.electorNumber, {attr: {placeholder: 'Mon numéro d’électeur', 'x-numberonly': '', validate: '["max:9"]'}}) }}
        <p class="text-[#555555] opacity-60">Pour trouver votre numéro d'électeur <a href="https://www.service-public.gouv.fr/particuliers/vosdroits/R51788" class="underline" target="_blank">cliquer ici</a></p>
    </fieldset>

    <fieldset x-show="isNotInFrance">
        <twig:Atoms:ReLabel class="mb-6">Et si vous votiez une 3e ou 4e fois ?</twig:Atoms:ReLabel>
        <p class="text-[#555555] opacity-50">En tant que FDE, vous pouvez porter jusqu’à 3 procurations dès lors que seule l’une d’entre elles, au maximum, a été enregistrée dans une gendarmerie ou un commissariat en France.</p>
        {{ form_row(form.slots) }}
    </fieldset>
    <twig:ReParagraphStatus status="default" x-show="isNotInFrance">
        <div>
            Voici les différents scénarios possibles :
            <ul class="list-disc pl-6">
                <li>3 procurations enregistrées à l’étranger (dans un consulat français)</li>
                <li>2 procurations enregistrées à l’étranger et 1 procuration enregistrée en France</li>
                <li>1 procuration enregistrée à l’étranger et 1 procuration enregistrée en France</li>
                <li>1 procuration enregistrée à l’étranger et aucune procuration enregistrée en France</li>
                <li>Aucune procuration enregistrée à l’étranger et 1 procuration enregistrée en France</li>
            </ul>
        </div>
    </twig:ReParagraphStatus>
{% endblock %}

{% block submit_label_content %}
    Je me propose
{% endblock %}
