
{% import 'admin/donation/_macros.html.twig' as macros %}

{% set donations = get_donations_history(adherent) %}
{% set subscribed_donations = get_subscribed_donations(adherent) %}
{% set last_subscription_ended = get_last_subscription_ended(adherent) %}

<div class="box">
    <div class="box-header">
        <h4 class="box-title">Informations</h4>
    </div>
    <div class="box-body table-responsive">
        <table class="table">
            <tbody>
                <tr class="sonata-ba-view-container">
                    <th>Dernière cotisation</th>
                    <td>
                        {% if adherent.hasActiveMembership() %}
                            {{ adherent.lastMembershipDonation()|format_datetime('medium', 'none') }}
                        {% else %}
                            Aucune
                        {% endif %}
                    </td>
                </tr>
                <tr class="sonata-ba-view-container">
                    <th>Don mensuel</th>
                    <td>
                        {% if subscribed_donations %}
                            {% for subscribed_donation in subscribed_donations %}
                                Prochaine échéance de {{ subscribed_donation.amountInEuros|format_currency('EUR', locale='fr')|replace({',00' : ''}) }}
                                le {{ subscribed_donation.nextDonationAt|format_datetime('medium', 'none') }}
                                {% if not loop.last %}
                                    <br />
                                {% endif %}
                            {% endfor %}
                        {% elseif last_subscription_ended %}
                            Terminé le {{ last_subscription_ended.subscriptionEndedAt|format_datetime('medium', 'none') }}
                        {% else %}
                            Aucun
                        {% endif %}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

{% set tax_receipts = get_tax_receipts_for_adherent(adherent) %}

<div class="box">
    <div class="box-header">
        <h4 class="box-title">Reçus fiscaux</h4>
    </div>
    <div class="box-body table-responsive">
        {% if tax_receipts is empty %}
            <p>Aucun reçu fiscal.</p>
        {% else %}
            <table class="table">
                <thead>
                    <tr>
                        <th>Libellé</th>
                        <th>Fichier</th>
                        <th>Date d'ajout</th>
                    </tr>
                </thead>

                <tbody>
                    {% for receipt in tax_receipts %}
                        <tr>
                            <td>{{ receipt.label }}</td>
                            <td>
                                <a href="{{ path('app_admin_files_download_from_storage', {filePath: receipt.getFilePath()}) }}" target="_blank">
                                    <i class="fa fa-file-pdf-o"></i>
                                    {{ receipt.fileName }}
                                </a>
                            </td>
                            <td>{{ receipt.createdAt|format_datetime('medium', 'none') }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </div>
</div>

<div class="box">
    <div class="box-header">
        <h4 class="box-title">Historique des transactions</h4>
    </div>

    <div class="box-body table-responsive">
        {% if donations is not empty %}
            <table class="table">
                <thead>
                    <th>Date</th>
                    <th>Montant</th>
                    <th>Type</th>
                    <th>Méthode</th>
                    <th>Statut</th>
                </thead>
                <tbody>
                    {% for donation in donations %}
                        <tr class="sonata-ba-view-container">
                            <td>
                                {{ donation.date|format_datetime('medium', 'none') }}
                            </td>
                            <td>
                                {{ donation.amountInEuros|format_currency('EUR', locale='fr')|replace({',00' : ''}) }}
                            </td>
                            <td>
                                {% if donation.isSubscription %}
                                    <span class="label label-primary">Don mensuel</span>
                                {% elseif donation.membership %}
                                    <span class="label label-danger">Cotisation</span>
                                {% else %}
                                    <span class="label label-info">Don ponctuel</span>
                                {% endif %}
                            </td>
                            <td>
                                {{ macros.get_donation_type_badge(donation.type) }}
                            </td>
                            <td>
                                {{ macros.get_donation_status_badge(donation.status) }}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            Aucune transaction trouvée pour cet utilisateur.
        {% endif %}
    </div>
</div>
