{% import 'admin/macros/labels.html.twig' as ui %}

{% set colors = {
    green: '#61e9d5',
    yellow: '#ffec00',
    grey: '#4b5c6b',
} %}

<div style="display: flex; flex-direction: column; align-items: flex-start; gap: 1px;">
    {% if not object.isEnabled() or object.getMailchimpStatus() == constant('App\\Mailchimp\\Contact\\ContactStatusEnum::UNSUBSCRIBED') %}
        {% set label %}
            <i data-lucide="mail"></i>
            Désabonné
        {% endset %}
        {{ ui.label(label, colors.grey) }}
    {% elseif object.getMailchimpStatus() == constant('App\\Mailchimp\\Contact\\ContactStatusEnum::SUBSCRIBED') %}
        <a href="#" data-toggle="modal" data-target="#adherent-subscription-{{ object.id }}">
            {% set label %}
                <i data-lucide="mail"></i>
                Abonné
            {% endset %}
            {{ ui.label(label, colors.green, '#333333') }}
        </a>
    {% elseif object.getMailchimpStatus() == constant('App\\Mailchimp\\Contact\\ContactStatusEnum::CLEANED') %}
        {% set label %}
            <i data-lucide="mail"></i>
            Cleaned
        {% endset %}
        {{ ui.label(label, colors.yellow, '#333333') }}
    {% endif %}

    {% if object.getPhone() %}
        {% if object.hasSmsSubscriptionType() %}
            {% set label %}
                <i data-lucide="phone"></i>
                Abonné
            {% endset %}
            {{ ui.label(label, colors.green, '#333333') }}
        {% else %}
            {% set label %}
                <i data-lucide="phone"></i>
                Désabonné
            {% endset %}
            {{ ui.label(label, colors.grey) }}
        {% endif %}
    {% endif %}

    {% set active_sessions = object.findAppSessions(get_vox_client(), true) %}

    {% set system_enum = enum('App\\AppSession\\SystemEnum') %}
    {% set active_web_session = active_sessions|filter(session => session.appSystem == system_enum.WEB)|first %}
    {% if active_web_session %}
        {% if active_web_session.isSubscribed() %}
            {% set label %}
                <i data-lucide="laptop"></i>
                Abonné
            {% endset %}
            {{ ui.label(label, colors.green, '#333333') }}
        {% else %}
            {% set label %}
                <i data-lucide="laptop"></i>
                Désabonné
            {% endset %}
            {{ ui.label(label, colors.grey) }}
        {% endif %}
    {% endif %}

    {% set active_mobile_session = active_sessions|filter(session => session.appSystem in [system_enum.IOS, system_enum.ANDROID])|first %}
    {% if active_mobile_session %}
        {% if active_mobile_session.isSubscribed() %}
            {% set label %}
                <i data-lucide="smartphone"></i>
                Abonné
            {% endset %}
            {{ ui.label(label, colors.green, '#333333') }}
        {% else %}
            {% set label %}
                <i data-lucide="smartphone"></i>
                Désabonné
            {% endset %}
            {{ ui.label(label, colors.grey) }}
        {% endif %}
    {% endif %}
</div>

<div class="modal fade" id="adherent-subscription-{{ object.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel"><strong>{{ object.getFullName() }}</strong> : préférences de notification Email & SMS</h4>
            </div>
            <div class="modal-body">
                {% set subscription_types = object.subscriptionTypes %}

                {% if subscription_types|length %}
                    <ul>
                        {% for subscription_type in object.subscriptionTypes %}
                            <li>{{ subscription_type.label }}</li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <p>Aucune préférence de notification</p>
                {% endif %}
            </div>
            <div class="modal-footer"></div>
        </div>
    </div>
</div>
