{% macro display_row(icon, label, bgColor, textColor = '#333333') %}
    <span class="label" style="display: flex;font-weight:normal;align-items: center;color: {{ textColor }};width: fit-content;background-color: {{ bgColor }};border-radius: 4px;padding: 2px 4px;gap: 4px;">
        <i data-lucide="{{ icon }}"></i>
        {{ label }}
    </span>
{% endmacro %}

{% set colors = {
    green: '#61e9d5',
    yellow: '#ffec00',
    grey: '#4b5c6b',
} %}

<div style="display: flex;flex-direction: column;gap: 4px;">
    {% if not object.isEnabled() or object.getMailchimpStatus() == constant('App\\Mailchimp\\Contact\\ContactStatusEnum::UNSUBSCRIBED') %}
        {{ _self.display_row('mail', 'Désabonné', colors.grey, 'white') }}
    {% elseif object.getMailchimpStatus() == constant('App\\Mailchimp\\Contact\\ContactStatusEnum::SUBSCRIBED') %}
        <a href="#" data-toggle="modal" data-target="#adherent-subscription-{{ object.id }}">{{ _self.display_row('mail', 'Abonné', colors.green) }}</a>
    {% elseif object.getMailchimpStatus() == constant('App\\Mailchimp\\Contact\\ContactStatusEnum::CLEANED') %}
        {{ _self.display_row('mail', 'Cleaned', colors.yellow) }}
    {% endif %}

    {% if object.getPhone() %}
        {% if object.hasSmsSubscriptionType() %}
            {{ _self.display_row('phone', 'Abonné', colors.green) }}
        {% else %}
            {{ _self.display_row('phone', 'Désabonné', colors.grey, 'white') }}
        {% endif %}
    {% endif %}

    {% set system_enum = enum('App\\AppSession\\SystemEnum') %}
    {% set active_web_session = object.findAppSessions(get_vox_client(), true, [system_enum.WEB])|first %}
    {% if active_web_session %}
        {% if active_web_session.isSubscribed() %}
            {{ _self.display_row('laptop', 'Abonné', colors.green) }}
        {% else %}
            {{ _self.display_row('laptop', 'Désabonné', colors.grey, 'white') }}
        {% endif %}
    {% endif %}

    {% set active_mobile_session = object.findAppSessions(get_vox_client(), true, [system_enum.IOS, system_enum.ANDROID])|first %}
    {% if active_mobile_session %}
        {% if active_mobile_session.isSubscribed() %}
            {{ _self.display_row('smartphone', 'Abonné', colors.green) }}
        {% else %}
            {{ _self.display_row('smartphone', 'Désabonné', colors.grey, 'white') }}
        {% endif %}
    {% endif %}
</div>

<div class="modal fade" id="adherent-subscription-{{ object.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel"><strong>{{ object.getFullName() }}</strong> : préférences de notification Email & SMS</h4>
            </div>
            <div class="modal-body">
                {% set subscription_types = object.subscriptionTypes %}

                {% if subscription_types|length %}
                    <ul>
                        {% for subscription_type in object.subscriptionTypes %}
                            <li>{{ subscription_type.label }}</li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <p>Aucune préférence de notification</p>
                {% endif %}
            </div>
            <div class="modal-footer"></div>
        </div>
    </div>
</div>
