{% extends '@SonataAdmin/CRUD/base_list_field.html.twig' %}

{% block field %}
    {% if object.isOfJemarcheDataSurvey %}
        {{ object.jemarcheDataSurvey.firstName }} {{ object.jemarcheDataSurvey.lastName }}
        <br />
        {{ object.jemarcheDataSurvey.emailAddress }}
    {% elseif object.isOfPhoningCampaignHistory and object.phoningCampaignHistory.adherent %}
        <a href="{{ path('admin_app_adherent_show', { id: object.phoningCampaignHistory.adherent.id }) }}">
            {{ object.phoningCampaignHistory.adherent.fullName }}
        </a>
        <br />
        {{ object.phoningCampaignHistory.adherent.emailAddress }}
    {% elseif object.isOfPapCampaignHistory and object.papCampaignHistory.adherent %}
        <a href="{{ path('admin_app_adherent_show', { id: object.papCampaignHistory.adherent.id }) }}">
            {{ object.papCampaignHistory.adherent.fullName }}
        </a>
        <br />
        {{ object.papCampaignHistory.adherent.emailAddress }}
    {% endif %}
{% endblock %}
