<div {{ attributes.only('class') }} x-data="xValidateField({
    status: '{{ status is defined ? 'default' }}',
    message: '{{ message is defined ? message : '' }}',
    validate: {{ validate is defined ? validate : '[]' }},
    onCheck: {{ onCheck is defined ? onCheck : '()=>{}' }}
})">
    <div class="relative flex-col flex justify-center">
        <div class="justify-start items-start gap-2.5 inline-flex">
            <twig:Atoms:ReCheckbox
                {{ ...attributes.without('class').all() }}
                status="{{ status }}"
                class="mt-1"
                type="checkbox"
                checked="{{ checked }}"
                x-bind="validateField"
                xSyncStatus="status"
            />

            {% block content '' %}

            {% if iconToolTip is defined and iconToolTip|length > 0 %}
                <twig:ReIcon class="mt-1" name="info-blank" x-tooltip.bottom-end.re="{{ iconToolTip }}"/>
            {% endif %}
        </div>
    </div>

    <twig:Atoms:ReTextStatus
        x-show="status !== 'default' && message"
        value="{{ message is defined ? '' }}"
        type="{{ status }}"
        xSyncStatus="status"
        xSyncValue="message"
        showIcon="true"
    />
</div>
