{% set attr = attributes.all() %}

<div {{ attributes.only('class') }}
    x-data="xValidateField({
        status: '{{ status is defined ? status : 'default' }}',
        message: '{{ message is defined ? message : '' }}',
        validate: {{ validate is defined ? validate : '[]' }},
        onCheck: {{ onCheck is defined ? onCheck : '()=>{}' }}
    })"
    {{ id ? "@x-validate:#{id}.window=\"setData($event.detail)\""|raw }}>

    <div class="relative flex-col flex justify-center">
        <div x-data="{
                isActive: false,
                isPassword: {{ attr.type is same as('password') ? 'true' : 'false' }},
                isPasswordVisible: false,
                handleBlur() {
                    this.isActive = false;
                    this.$refs.input.setAttribute('type', this.isPassword ? 'password' : this.$refs.input.getAttribute('type'))
                },
                handleLockClick() {
                    if (this.$refs.input.type === 'password') {
                        this.isPasswordVisible = true;
                        this.$refs.input.setAttribute('type', 'text')
                    } else {
                        this.isPasswordVisible = false;
                        this.$refs.input.setAttribute('type', 'password')
                    }
                }
            }"
             class="
                re-field-frame !p-0 {{ (status is defined ? ' re-field-frame--' ~ status) }}
                flex flex-row justify-center items-center
                {{ attr.type is same as('textarea') ? '!h-auto' }}
            "
             x-bind:class="{ [`re-field-frame--${status}`]: status !== 'default', active: isActive }">

            {% block prefix '' %}

            {% if attr.type is same as('textarea') %}
                <textarea {{ attributes.without('class', 'value') }}
                    x-ref="input"
                    x-bind="validateField"
                    @focus="isActive = true"
                    @blur="handleBlur()"
                    class="w-full border-0 outline-none focus:outline-none focus:ring-0 focus:border-0 bg-transparent {{ (center ? ' text-center' : '') }}"
                    id="{{ id }}">{{ value }}</textarea>
            {% else %}
                <input {{ attributes.without('class') }}
                    x-ref="input"
                    x-bind="validateField"
                    @focus="isActive = true"
                    @blur="handleBlur()"
                    class="h-full w-full border-0 outline-none focus:outline-none focus:ring-0 focus:border-0 bg-transparent {{ (center ? ' text-center' : '') }}"
                    id="{{ id }}" />
            {% endif %}

            <twig:ReIcon x-show="status !== 'default'"
                               name="x:status"
                               type="{{ status }}"
                               @click="$refs.input.focus()"
                               class="flex pr-4 cursor-text"/>
            {% if icon %}
                <twig:ReIcon x-show="status === 'default'"
                                   x-ref="icon"
                                   x-cloak
                                   name="{{ icon }}"
                                   @click="$refs.input.focus()"
                                   class="flex pr-4 cursor-text"
                />
            {% endif %}

            {% if attr.type is same as('password') %}
                <div x-bind:class="{'active': isPasswordVisible}">
                    <twig:ReIcon
                            x-ref="icon"
                            x-cloak
                            name="x:isPasswordVisible ? 'unlock' : 'lock'"
                            @click="handleLockClick()"
                            class="flex pr-4 cursor-pointer"
                    />
                </div>
            {% endif %}
        </div>
    </div>
    <twig:Atoms:ReTextStatus x-show="status !== 'default' && message"
                             value="{{ message is defined ? '' }}"
                             xSyncStatus="status"
                             xSyncValue="message"/>
</div>
