{% set attr = attributes.all() %}

<div {{ attributes.only('class') }}
    x-data="xValidateField({
        status: '{{ status is defined ? status : 'default' }}',
        message: '{{ message is defined ? message : '' }}',
        validate: {{ validate is defined ? validate : '[]' }},
        onCheck: {{ onCheck is defined ? onCheck : '()=>{}' }}
    })"
    {{ id ? "@x-validate:#{id}.window=\"setData($event.detail)\"" | raw }}>

    <div class="relative flex-col flex justify-center">
        <div x-data="{ isActive: false, }"
             class="
                re-field-frame !p-0 {{ (status is defined ? ' re-field-frame--' ~ status) }}
                flex flex-row justify-center items-center
            "
             x-bind:class="{ [`re-field-frame--${status}`]: status !== 'default', active: isActive }">

            {% block prefix '' %}

             <input {{ attributes.without('class') }}
                    x-ref="input"
                    x-bind="validateField"
                    x-on:focus="isActive = true"
                    x-on:blur="isActive = false"

                    class="h-full w-full border-0 outline-none focus:outline-none focus:ring-0 focus:border-0 bg-transparent"
                    id="{{ id }}" />

            <twig:Atoms:ReIcon x-show="status !== 'default'"
                               xSyncType="status"
                               x-on:click="$refs.input.focus()"
                               class="flex pr-4 cursor-text"/>
            {% if icon %}
                <twig:Atoms:ReIcon x-show="status === 'default'"
                                   x-ref="icon"
                                   x-cloak
                                   type="{{ icon }}"
                                   x-on:click="$refs.input.focus()"
                                   class="flex pr-4 cursor-text"
                />
            {% endif %}

        </div>
    </div>
    <twig:Atoms:ReTextStatus x-show="status !== 'default' && message"
                             value="{{ message is defined ? '' }}"
                             xSyncStatus="status"
                             xSyncValue="message"/>
</div>
