<ul class="b__nudge--top">
    {% for member in results %}
        <li>
            <ul class="spaces__results__row">
                <li>
                    <div>
                        <img src="{{ asset('images/user.svg') }}" width="50" />
                    </div>
                </li>
                <li>
                    <div class="text--bold">{{ member }}</div>
                    <div class="text--gray">{{ member|age }}, {{ member.isFemale ? 'F' : 'M' }}, {{ member.cityName }}</div>
                </li>
                <li>
                    <div>
                        {% for role in member.boardMember.roles %}
                            {{ role.name }}
                            {% if not loop.last %}, {% endif %}
                        {% endfor %}
                    </div>
                </li>
                <li>
                    {% include 'board_member/_list_actions.html.twig' %}
                </li>
            </ul>
        </li>
    {% endfor %}
</ul>
