<form method="get" action="{{ path('app_board_member_search') }}#send-message" class="form__new">
    <div class="spaces__search__filters">
        <ul>
            <li>
                <legend class="label__header">Genre</legend>
                <div class="l__row">
                    <div class="form__radio-button--tab">
                        <input type="radio" value="" id="parameter_gender_all"
                               name="{{ constant('PARAMETER_GENDER', filter) }}"
                                {{ filter.queryGender|length == 0 ? 'checked="checked"' : '' }} />
                        <label class="label--small" for="parameter_gender_all">
                            Tous
                        </label>
                    </div>
                    <div class="form__radio-button--tab">
                        <input type="radio" value="female" id="parameter_gender_female"
                               name="{{ constant('PARAMETER_GENDER', filter) }}"
                                {{ filter.queryGender is same as('female') ? 'checked="checked"' : '' }} />
                        <label class="label--small" for="parameter_gender_female">
                            Femme
                        </label>
                    </div>
                    <div class="form__radio-button--tab">
                        <input type="radio" value="male" id="parameter_gender_male"
                               name="{{ constant('PARAMETER_GENDER', filter) }}"
                                {{ filter.queryGender is same as ('male') ? 'checked="checked"' : '' }} />
                        <label class="label--small" for="parameter_gender_male">
                            Homme
                        </label>
                    </div>
                    <div class="form__radio-button--tab">
                        <input type="radio" value="other" id="parameter_gender_other"
                               name="{{ constant('PARAMETER_GENDER', filter) }}"
                                {{ filter.queryGender is same as ('other') ? 'checked="checked"' : '' }} />
                        <label class="label--small" for="parameter_gender_other">
                            Autre
                        </label>
                    </div>
                </div>
            </li>
            <li>
                <legend class="label__header">Age</legend>
                <div class="l__row l__row--h-stretch">
                    <label style="width: 45%">
                        <input type="number"
                               name="{{ constant('PARAMETER_AGE_MIN', filter) }}"
                               value="{{ filter.queryAgeMinimum is same as(0) ? "" : filter.queryAgeMinimum }}"
                               class="form form__field form--full"
                               placeholder="18" />
                    </label>
                    à
                    <label style="width: 45%">
                        <input type="number"
                               name="{{ constant('PARAMETER_AGE_MAX', filter) }}"
                               value="{{ filter.queryAgeMaximum is same as(0) ? "" : filter.queryAgeMaximum }}"
                               class="form form__field form--full"
                               placeholder="99" />
                    </label>
                </div>
            </li>
            <li>
                <label class="label__header">
                    Nom
                </label>
                <input type="text"
                       name="{{ constant('PARAMETER_LAST_NAME', filter) }}"
                       value="{{ filter.queryLastName }}"
                       class="form form__field form--full"
                       placeholder="Saisissez un nom" />
            </li>
            <li>
                <label class="label__header">
                    Prénom
                </label>
                <input type="text"
                       name="{{ constant('PARAMETER_FIRST_NAME', filter) }}"
                       value="{{ filter.queryFirstName }}"
                       class="form form__field form--full"
                       placeholder="Saisissez un prénom" />
            </li>
        </ul>
        <ul>
            <li>
                <label class="label__header">
                    Code postal ou département
                </label>
                <input type="text"
                       name="{{ constant('PARAMETER_POSTAL_CODE', filter) }}"
                       value="{{ filter.queryPostalCode }}"
                       class="form form__field form--full"
                       placeholder="Saisissez-en un ou plusieurs" />
                <div class="text--gray text--small b__nudge--left-medium b__nudge--top-5">
                    Exemple: "33450, 12, 8, 75002"
                </div>
            </li>
            <li>
                <legend class="label__header">Région</legend>
                {% for area_key, area_value in areas %}
                    <div class="form__checkbox">
                        <input type="checkbox" value="{{ area_value }}" id="parameter_area_{{ area_value }}"
                               name="{{ constant('PARAMETER_AREAS', filter) }}[]"
                                {{ area_value in filter.queryAreas ? 'checked="checked"' : '' }} />
                        <label for="parameter_area_{{ area_value }}">
                            {{ area_key|trans }}
                        </label>
                    </div>
                {% endfor %}
            </li>
        </ul>
        <ul>
            <li style="height: 410px;">
                <legend class="label__header">Rôles</legend>
                <div class="l__col--wrap l__row--h-stretch">
                    {% for role in roles %}
                        <div class="form__checkbox" style="width: 46%;">
                            <input type="checkbox" value="{{ role.code }}" id="parameter_role_{{ role.code }}"
                                   name="{{ constant('PARAMETER_ROLES', filter) }}[]"
                                    {{ role.code in filter.queryRoles ? 'checked="checked"' : '' }} />
                            <label for="parameter_role_{{ role.code }}">
                                {{ role.name }}
                            </label>
                        </div>
                    {% endfor %}
                </div>
            </li>
        </ul>
    </div>

    <div class="referent__filters__buttons">
        <button type="submit" class="newbtn">
            Rechercher
        </button>
        {% if has_filter %}
            <div class="b__nudge--top-10">
                <a href="{{ path('app_board_member_search') }}"
                   class="link--newblue text--small">
                    Réinitialiser
                </a>
            </div>
        {% endif %}
    </div>

    <input type="hidden" name="{{ constant('PARAMETER_TOKEN', filter) }}" value="{{ filter.token }}" />
</form>
