{% extends 'board_member/layout.html.twig' %}

{% block page_title 'Espace membre du Conseil' %}

{% block content__inner %}
    <section class="l__wrapper--slim text--center space--60-0">
        <h1 class="text--extra-large">
            Bienvenue, {{ app.user.firstname }} !
            <img src="{{ asset('images/emojis/waving-hand-sign.svg') }}" width="50" />
        </h1>
        <p class="text--body text--medium-small b__nudge--top text--gray">
            Nous avons crée un espace dédié aux membres du Conseil.
        </p>
    </section>

    <section class="l__wrapper--slim b__nudge--bottom-huge text--with-bullet">
        <h2 class="b__nudge--bottom">À quoi ça sert ?</h2>
        <ul class="text--body">
            <li>Mieux vous connaître !</li>
            <li>Monter une liste de candidature pour vous présenter à la fonction de délégué(e) général(e) ou membre du bureau exécutif.</li>
            <li>Chercher des parrainages dans le cadre d'une candidature à la fonction de délégué(e) général(e)</li>
        </ul>
    </section>

    <section class="l__wrapper--slim b__nudge--bottom-huge">
        <h2>Comment ça marche ?</h2>
        <ol class="text--body">
            <li>
                Commencez d’abord par remplir <a href="{{ path('app_summary_manager_index') }}" class="link--newblue">votre profil</a> et ajouter votre photo !
            </li>
            <li>
                <a href="{{ path('app_board_member_search') }}" class="link--newblue">Rechercher des membres</a>.
                Vous pouvez filtrer selon leur genre, leur role, leur code postal, département ou région. Ceci vous permet de constituer des listes paritaires et diverses.
            </li>
            <li>
                Vous pouvez contacter les membres de façon groupée ou individuelle.
            </li>
            <li>
                Vous avez aussi la possibilité de “sauvegarder” certains profils. Ces sauvegardes sont personnelles et privées. Une personne sauvegardée ne sera pas notifiée.
            </li>
        </ol>
    </section>

    <section class="l__wrapper--slim b__nudge--bottom-huge text--with-bullet">
        <h2 class="b__nudge--bottom">Des questions ?</h2>
            <ul class="text--body">
                <li>Vous cherchez des informations sur le Conseil, les modalités de candidature au Bureau Exécutif et au poste de Délégué(e) Général(e) ?
                    <a class="link--newblue" href="{{ path('article_view', {categorySlug:'actualites', articleSlug: 'le-conseil-de-la-republique-en-marche'}) }}">Cliquez ici</a>.</li>
                <li>Si malgré notre super article, vous ne trouvez toujours pas la réponse à votre question, contactez nous à <a href="mailto:membres-conseil@en-marche.fr" class="link--newblue">membres-conseil@en-marche.fr</a>.</li>
            </ul>
    </section>
{% endblock %}
