{% extends 'base.html.twig' %}

{% set currentRoute = app.request.attributes.get('_route') %}

{% block app_title 'La République En Marche !' %}
{% block meta_description 'Nous avons créé cet espace afin que vous puissiez contacter d’autres personnes membres du Conseil. Cet outil vous sera utile si vous cherchez à monter une liste de candidature, ou bien si vous cherchez des parrainages pour vous présenter en tant que délégué(e) général(e) ou membre du bureau exécutif du Conseil.' %}
{% block meta_rss '' %}

{% block banner '' %}
{% block header '' %}

{% block content %}
    {% block redirection %}
    {% endblock %}

    <header class="l__wrapper l__row l__row--h-stretch spaces__header">
        <div class="l__row l__tablet--col">
            <div class="l__row">
                <a href="{{ path('homepage') }}" class="link--no-decor spaces__header__logo">
                    {{ include('components/logo-mini-em.html.twig') }}
                </a>
                <div class="spaces__header__separator"></div>
                <a href="{{ path('app_board_member_home') }}" class="spaces__header__name">
                    Membre du Conseil
                </a>
            </div>
            <ul class="list__links list__links--row list__links--no-decor">
                {% set currentRoute = app.request.attributes.get('_route') %}
                {% for route, title in {
                'app_board_member_search': 'Rechercher des membres',
                'app_board_member_saved_profile': 'Profils sauvegardés'
                } %}
                    <li class="{{ route == currentRoute ? 'text--bold' }}">
                        <a href="{{ path(route) }}">
                            {{ title }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </header>

    {% block content__outer %}
        <main>
            {% block content__inner %}{% endblock %}
        </main>
    {% endblock %}
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        Kernel.onLoad(function() {
            App.runBoardMember();
        });
    </script>
{% endblock %}
