{% extends 'SonataAdminBundle::standard_layout.html.twig' %}

{#{% block stylesheets %}#}
    {#{{ parent() }}#}

    {#<link rel="stylesheet" href="{{ asset('css/simplemde.min.css') }}">#}
    {#<link rel="stylesheet" href="{{ asset('bundles/sonatacore/vendor/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css') }}" />#}
    {#<style>#}
        {#.editor-toolbar.fullscreen, .CodeMirror-fullscreen {#}
            {#z-index: 1100 !important;#}
        {#}#}
        {#.category-skills-bloc .sonata-collection-row .row .btn-link.sonata-collection-delete {#}
            {#float: right;#}
        {#}#}
        {#.category-skills-bloc .sonata-collection-row .row .sonata-ba-field .form-group {#}
            {#display: inline-block;#}
        {#}#}
        {#.category-skills-bloc .sonata-collection-row .row .sonata-ba-field .form-group .select2-container {#}
            {#width: 100%;#}
        {#}#}
        {#.category-skills-bloc .sonata-collection-row .row .sonata-ba-field [id$="_skill"].form-group {#}
            {#width: 50%;#}
        {#}#}
        {#.category-skills-bloc .sonata-collection-row .row .sonata-ba-field [id$="_promotion"].form-group {#}
            {#width: 20%;#}
            {#margin-left: 30px;#}
        {#}#}
        {#.a2lix_translations .nav-tabs > li.error > a {#}
            {#background-color: #dd4b39 !important;#}
            {#color: #fff !important;#}
        {#}#}
    {#</style>#}
{#{% endblock %}#}

{#{% block javascripts %}#}
    {#{{ parent() }}#}

    {#<script src="{{ asset('js/simplemde.min.js') }}"></script>#}
    {#<script src="{{ asset('bundles/sonatacore/vendor/moment/min/moment-with-locales.min.js') }}"></script>#}
    {#<script src="{{ asset('bundles/sonatacore/vendor/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js') }}"></script>#}
    {#<script src="{{ asset('ckeditor/ckeditor.js') }}"></script>#}
    {#<script src="{{ asset('ckeditor/lang/fr.js') }}"></script>#}
    {#<script>#}
        {#$(function() {#}
            {#$('.content-editor').each(function(key, item) {#}
                {#var simplemde = new SimpleMDE({#}
                    {#element: item,#}
                    {#spellChecker: false,#}
                    {#renderingConfig: {#}
                        {#singleLineBreaks: false#}
                    {#},#}
                    {#previewConfig: {#}
                        {#useIframe: true,#}
                        {#editorCss: [#}
                            {#'{{ webpack_asset('app.css') }}',#}
                            {#'{{ asset('css/simplemde.inside.css') }}'#}
                        {#],#}
                    {#},#}
                    {#toolbar: [#}
                        {#{#}
                            {#name: "fullscreen",#}
                            {#action: function() {#}
                                {#simplemde.toggleSideBySide();#}
                                {#simplemde.toggleFullScreen();#}
                            {#},#}
                            {#className: "fa fa-eye",#}
                            {#title: "Plein écran avec prévisualisation"#}
                        {#},#}
                        {#"|",#}
                        {#{#}
                            {#name: "bold",#}
                            {#action: SimpleMDE.toggleBold,#}
                            {#className: "fa fa-bold",#}
                            {#title: "Gras"#}
                        {#},#}
                        {#{#}
                            {#name: "italic",#}
                            {#action: SimpleMDE.toggleItalic,#}
                            {#className: "fa fa-italic",#}
                            {#title: "Italique"#}
                        {#},#}
                        {#{#}
                            {#name: "title",#}
                            {#action: SimpleMDE.toggleHeading3,#}
                            {#className: "fa fa-header",#}
                            {#title: "Titre"#}
                        {#},#}
                        {#"|",#}
                        {#{#}
                            {#name: "unordered-list",#}
                            {#action: SimpleMDE.toggleUnorderedList,#}
                            {#className: "fa fa-list-ul",#}
                            {#title: "Liste à puces"#}
                        {#},#}
                        {#{#}
                            {#name: "ordered-list",#}
                            {#action: SimpleMDE.toggleUnorderedList,#}
                            {#className: "fa fa-list-ol",#}
                            {#title: "Liste à chiffres"#}
                        {#},#}
                        {#"|",#}
                        {#{#}
                            {#name: "link",#}
                            {#action: SimpleMDE.drawLink,#}
                            {#className: "fa fa-link",#}
                            {#title: "Lien"#}
                        {#},#}
                        {#{#}
                            {#name: "image",#}
                            {#action: function(editor) {#}
                                {#editor.codemirror.replaceSelection(#}
                                    {#"<figure>\n" +#}
                                    {#"    <img src=\"http://url-de-l-image.com\">\n" +#}
                                    {#"    <figcaption>Légende de l'image</figcaption>\n" +#}
                                    {#"</figure>"#}
                                {#);#}

                                {#editor.codemirror.focus();#}
                            {#},#}
                            {#className: "fa fa-image",#}
                            {#title: "Image avec légende"#}
                        {#},#}
                        {#{#}
                            {#name: "video",#}
                            {#action: function(editor) {#}
                                {#editor.codemirror.replaceSelection(#}
                                    {#"<div class=\"video\">\n"+#}
                                    {#"    <iframe src=\"https://url-de-la-video.com\" width=\"560\" height=\"315\"\n" +#}
                                    {#"            frameborder=\"0\" style=\"border:none;overflow:hidden\" scrolling=\"no\" frameborder=\"0\" allowTransparency=\"true\" allowFullScreen=\"true\"></iframe>\n"+#}
                                    {#"</div>"#}
                                {#);#}

                                {#editor.codemirror.focus();#}
                            {#},#}
                            {#className: "fa fa-film",#}
                            {#title: "Vidéo YouTube/Facebook"#}
                        {#},#}
                        {#{#}
                            {#name: "quote",#}
                            {#action: function(editor) {#}
                                {#editor.codemirror.replaceSelection(#}
                                    {#"<figure>\n" +#}
                                    {#"    <blockquote>\n" +#}
                                    {#"        <span>« Citation »</span>\n" +#}
                                    {#"    </blockquote>\n" +#}
                                    {#"    <figcaption>Emmanuel Macron, le 20 janvier 2017</figcaption>\n" +#}
                                    {#"</figure>"#}
                                {#);#}

                                {#editor.codemirror.focus();#}
                            {#},#}
                            {#className: "fa fa-quote-left",#}
                            {#title: "Citation"#}
                        {#},#}
                        {#{#}
                            {#name: "horizontal-rule",#}
                            {#action: SimpleMDE.drawHorizontalRule,#}
                            {#className: "fa fa-minus",#}
                            {#title: "Barre de séparation horizontale"#}
                        {#},#}
                        {#"|",#}
                        {#{#}
                            {#name: "guide",#}
                            {#action: "https://github.com/EnMarche/en-marche.fr/blob/master/docs/content-styleguide.md",#}
                            {#className: "fa fa-question-circle",#}
                            {#title: "Mardown Guide"#}
                        {#},#}
                        {#"|",#}
                        {#"side-by-side"#}
                    {#],#}
                {#});#}
            {#});#}

            {#$('.ck-editor').each(function(key, item) {#}
                {#CKEDITOR.replace(item, {#}
                    {#removePlugins: 'elementspath',#}
                    {#height: {{ height|default(200) }},#}
                    {#resize_enabled: false,#}
                    {#toolbar: [#}
                        {#{ name: 'tools', items: [ 'Maximize' ] },#}
                        {#{ name: 'clipboard', items: [ 'Undo', 'Redo' ] },#}
                        {#{ name: 'styles', items: [ 'Format' ] },#}
                        {#{ name: 'basicstyles', items: [ 'Bold', 'Italic', 'Underline', 'Strike', '-', 'RemoveFormat' ] },#}
                        {#{ name: 'paragraph', items: [ 'NumberedList', 'BulletedList' ] },#}
                        {#{ name: 'align', items: [ 'JustifyLeft', 'JustifyCenter', 'JustifyRight' ] },#}
                        {#{ name: 'links', items: [ 'Link', 'Unlink', 'Image' ] }#}
                    {#]#}
                {#});#}
            {#});#}

            {#$('.ck-editor-advanced').each(function(key, item) {#}
                {#CKEDITOR.replace(item, {#}
                    {#removePlugins: 'elementspath',#}
                    {#height: {{ height|default(200) }},#}
                    {#resize_enabled: false,#}
                    {#toolbar: [#}
                        {#{ name: 'tools', items: [ 'Maximize' ] },#}
                        {#{ name: 'clipboard', items: [ 'Undo', 'Redo' ] },#}
                        {#{ name: 'styles', items: [ 'Format' ] },#}
                        {#{ name: 'basicstyles', items: [ 'Bold', 'Italic', 'Underline', 'Strike', '-', 'RemoveFormat', '-', 'Source' ] },#}
                        {#{ name: 'paragraph', items: [ 'NumberedList', 'BulletedList' ] },#}
                        {#{ name: 'align', items: [ 'JustifyLeft', 'JustifyCenter', 'JustifyRight' ] },#}
                        {#{ name: 'links', items: [ 'Link', 'Unlink', 'Image' ] }#}
                    {#]#}
                {#});#}
            {#});#}
        {#});#}
    {#</script>#}
    {#<script src="{{ asset('js/pixsort_ini.js') }}"></script>#}
{#{% endblock %}#}

{% block sonata_sidebar_search '' %}

{% block side_bar_before_nav %}
    <ul class="sidebar-menu">
        <li>
            <a href="{{ path('sonata_admin_dashboard') }}">
                <i class="fa fa-home"></i>
                <span>Tableau de bord</span>
            </a>
        </li>
    </ul>
{% endblock %}

{% block side_bar_after_nav %}
    <ul class="sidebar-menu">
        <li>
            <a href="{{ path('homepage') }}">
                <i class="fa fa-reply"></i>
                <span>Retour au site</span>
            </a>
        </li>
        <li>
            <a href="{{ path('logout') }}">
                <i class="fa fa-sign-out"></i>
                <span>Déconnexion</span>
            </a>
        </li>
    </ul>
{% endblock %}
