<article class="flex flex-col overflow-hidden border rounded-lg shadow-md border-slate-100">
    <div class="shrink-0 aspect-w-2 aspect-h-1">
        <img class="object-cover w-full" src="{{ media_asset(article.media, {q: 70, app_domain: app_renaissance_host}) }}" alt="{{ article.title }}">
    </div>
    <div class="flex flex-col justify-between flex-1 p-6 bg-white">
        <div class="flex-1">
            <h3 class="text-sm font-medium text-dark-blue">
                <a href="{{ path('article_view', {categorySlug: article.category.slug, articleSlug: article.slug, app_domain: app_renaissance_host}) }}" class="hover:underline">{{ article.category.name }}</a>
            </h3>
            <a href="{{ path('article_view', {categorySlug: article.category.slug, articleSlug: article.slug, app_domain: app_renaissance_host}) }}" class="inline-block mt-2">
                <span class="text-xl font-semibold text-dark-gray">{{ article.title }}</span>
            </a>
            <p class="mt-3 text-base line-clamp-2">{{ article.description }}</p>
        </div>
        <div class="mt-6 flex items-center space-x-1 text-sm text-gray-500">
            <time datetime="{{ article.publishedAt|date('Y-m-d') }}">{{ article.publishedAt|date('d M, Y') }}</time>
            <span aria-hidden="true">&middot;</span>
            <a href="{{ path('article_view', {categorySlug: article.category.slug, articleSlug: article.slug, app_domain: app_renaissance_host}) }}" class="text-dark-blue hover:underline hover:text-light-blue-500">En savoir plus</a>
        </div>
    </div>
</article>
