{% extends 'base.html.twig' %}

{% block banner '' %}
{% block page_title 'Les propositions d\'Emmanuel Macron' %}
{% block canonical_url url('program_index') %}
{% block meta_description page.description %}
{% block meta_twitter_description page.twitterDescription ?: page.description %}

{% block open_graph_image (homepage_url ~ static_asset('programme.jpg', {'w': 1200, 'h': 630}))|raw %}
{% block open_graph_image_width 1200 %}
{% block open_graph_image_height 630 %}

{% block final_javascripts include('bot/_javascript.html.twig') %}

{% block content %}
<main class="content">
    <section class="programme">
        <nav class="text--body">
            <ul class="l__wrapper">
                <li class="active">
                    <a href="{{ path('program_index') }}">
                        Le programme
                    </a>
                </li>
                <li>
                    <a href="{{ path('article_view', {categorySlug: 'actualites', articleSlug: 'contrat-avec-la-nation'}) }}">
                        Le contrat avec la Nation
                    </a>
                </li>
                <li>
                    <a href="{{ path('article_view', {categorySlug: 'actualites', articleSlug: 'emmanuel-macron-notre-projet-economique-efficace-juste-et-credible'}) }}">
                        Stratégie économique
                    </a>
                </li>
                <li>
                    <a href="https://storage.googleapis.com/en-marche-fr/COMMUNICATION/Programme-Emmanuel-Macron.pdf"
                       target="_blank" rel="noopener noreferrer">
                        Télécharger le programme
                    </a>
                </li>
                <li>
                    <a href="{{ path('app_social_share_list') }}">
                        Partagez
                    </a>
                </li>
            </ul>
        </nav>

        <header class="programme__header__outer space--30-0 progressive-background"
                data-sd="{{ static_asset('propositions.jpg', {'w': 300, 'q': 20}) }}"
                data-hd="{{ static_asset('propositions.jpg', {'q': 70}) }}">
            <div class="programme__header__inner l__wrapper--slim">
                <div class="programme__titles">
                    <h1 class="text--large b__nudge--bottom-small">
                        Le programme d’Emmanuel Macron
                    </h1>
                    <a href="https://storage.googleapis.com/en-marche-fr/COMMUNICATION/Programme-Emmanuel-Macron.pdf"
                       class="programme__download icon--with-text text--white btn btn--blue"
                       target="_blank" rel="noopener noreferrer">
                        {{ include('components/arrow--down.html.twig') }}
                        Télécharger le programme
                    </a>
                    <p class="text--body">
                        {{ page.description }}
                    </p>
                </div>
                <a href="https://storage.googleapis.com/en-marche-fr/COMMUNICATION/Programme-Emmanuel-Macron.pdf"
                   class="programme__cover" target="_blank" rel="noopener noreferrer">
                    <img src="{{ asset('images/couverture-programme.png') }}" />
                </a>
            </div>
        </header>

        <article class="l__wrapper--slim">
            <div class="b__nudge--bottom-larger">
                {{ page.content|markdown }}
            </div>

            <ul class="programme__proposals">
                <li class="programme__proposal programme__proposal--category">
                    <a href="https://storage.googleapis.com/en-marche-fr/COMMUNICATION/Programme-Emmanuel-Macron.pdf"
                       target="_blank" rel="noopener noreferrer">
                        <h2>
                            Le programme d’Emmanuel Macron
                        </h2>
                        <div>Télécharger</div>
                    </a>
                </li>
                <li class="programme__proposal programme__proposal--category">
                    <a href="{{ path('article_view', {categorySlug: 'actualites', articleSlug: 'contrat-avec-la-nation'}) }}">
                        <h2>
                            Le contrat avec la Nation
                        </h2>
                        <div>
                            En savoir plus
                        </div>
                    </a>
                </li>
                <li class="programme__proposal programme__proposal--category">
                    <a href="{{ path('article_view', {categorySlug: 'actualites', articleSlug: 'emmanuel-macron-notre-projet-economique-efficace-juste-et-credible'}) }}">
                        <h2>
                            Stratégie économique
                        </h2>
                        <div>En savoir plus</div>
                    </a>
                </li>

                {% for proposal in proposals if proposal.published %}
                <li class="programme__proposal">
                    <a href="{{ path('program_proposal', {'slug': proposal.slug}) }}">
                        <h2>
                            {% for theme in proposal.themes %}
                                {{ theme.name }}
                            {% endfor %}
                        </h2>
                        <div>En savoir plus</div>
                    </a>
                </li>
                {% endfor %}
            </ul>
        </article>
    </section>

</main>
{% endblock %}
