<div class="{{ links_container_class|default('legislatives__social space--20-0') }}" class="candidate_links">
    {% if candidate.websiteUrl %}
        <a href="{{ candidate.websiteUrl }}" class="{{ website_url_class|default('btn btn--primary') }}" title="Visiter le site du candidat">
            Voir le site{% if show_name %} de {{ candidate.fullName }}{% endif %}
        </a>
    {% endif %}

    <div class="{{ social_networks_container_class|default('list__links--svgs b__nudge--top-10') }} candidate_social_networks_links">
        {% if candidate.twitterPageUrl %}
            <a href="{{ candidate.twitterPageUrl }}" target="_blank" class="link--no-decor" title="Twitter">
                <i class="fa fa-twitter"></i>
            </a>
        {% endif %}

        {% if candidate.facebookPageUrl %}
            <a href="{{ candidate.facebookPageUrl }}" target="_blank" class="link--no-decor" title="Facebook">
                <i class="fa fa-facebook-official"></i>
            </a>
        {% endif %}

        {% if candidate.donationPageUrl %}
            <a href="{{ candidate.donationPageUrl }}" target="_blank" class="link--no-decor" title="Faire un don">
                <i class="fa fa-link"></i>
            </a>
        {% endif %}
    </div>

</div>
