{% extends 'legislatives/layout.html.twig' %}

{% block page_title candidate.fullName ~ ' | Législatives' %}
{% block canonical_url url('legislatives_candidate', {'slug': candidate.slug}) %}

{% block content__inner %}
    <div class="l__wrapper">
        <a href="{{ path('legislatives_homepage') }}" class="icon--with-text text--summary space--20-0" title="Retour à la liste des candidats">
            {{ include('components/caret--left.html.twig') }}
            Retour à la liste des candidats
        </a>
    </div>

    <div class="l__wrapper--medium space--30-0 l__row l__row--h-stretch l__mobile--col" id="candidate-profile">
        <div class="legislatives__candidate__photo progressive-background link--no-decor"
             id="candidate-profile-picture"
                {% if candidate.profilePicture  %}
                    data-sd="{{ media_asset(candidate.profilePicture, {'w': 50, 'q': 20}) }}"
                    data-hd="{{ media_asset(candidate.profilePicture, {'w': 640, 'q': 70}) }}"
                {% else  %}
                    data-sd="{{ static_asset('legislatives/unknown-candidate.jpg', {'w': 50, 'q': 20}) }}"
                    data-hd="{{ static_asset('legislatives/unknown-candidate.jpg', {'w': 640, 'q': 70}) }}"
                {% endif %}
        >
        </div>
        <div class="legislatives__candidate__info">
            <h1 class="text--large text--pink">{{ candidate.fullName }}</h1>
            <span class="text--body" id="candidate-district-name">{{ candidate.districtName }}</span>
            {% if candidate.hasWebPages %}
                {{ include('legislatives/_candidate_links.html.twig', {'show_name': true}) }}
            {% endif %}
        </div>
    </div>

    <div class="l__wrapper--slim text--body b__nudge--bottom-huge" id="candidate-description">
        {{ candidate.description|markdown }}
    </div>
{% endblock %}
