{% extends 'legislatives/layout.html.twig' %}

{% block page_title 'Le Trombinoscope | Législatives' %}
{% block canonical_url url('legislatives_homepage') %}

{% block javascripts %}
    <script type="text/javascript">
        Kernel.onLoad(function() {
            var department = dom("[name='department']");
            var career = dom("[name='career']");
            var search = dom("input[name='search']");
            var results = findAll(document, '.legislatives__trombi__item');
            var noResults = dom('.legislatives__no_results');
            var filteredResults = findAll(document, '.legislatives__trombi__item:not(.hidden)');

            on(department, 'change', filterCallback);
            on(career, 'change', filterCallback);
            on(search, 'keyup', searchOnFilteredResults);

            function filterCallback() {
                filteredResults = results;
                filterResults(career.value, 'data-career');
                filterResults(department.value, 'data-zone');
                searchOnFilteredResults();
                toggleNoResults(findAll(document, '.legislatives__trombi__item:not(.hidden)').length);
            }

            function filterResults(value, attribute) {
                filteredResults.forEach(e => {
                    let attributeValue = e.getAttribute(attribute);

                    if ('' === value || attributeValue === value) {
                        e.classList.remove('hidden');
                    } else {
                        e.classList.add('hidden');
                    }
                });

                filteredResults = findAll(document, '.legislatives__trombi__item:not(.hidden)');
            }

            function searchOnFilteredResults() {
                filteredResults.forEach(e => {
                    let name = e.getAttribute('data-name');

                    if (-1 !== name.search(new RegExp(search.value, 'i'))) {
                        e.classList.remove('hidden');
                    } else {
                        e.classList.add('hidden');
                    }
                });
            }

            function toggleNoResults(length) {
                if (0 === length) {
                    noResults.classList.remove('hidden');
                } else {
                    noResults.classList.add('hidden');
                }
            }
        });
    </script>
{% endblock %}

{% block content__inner %}
    <header class="l__wrapper--slim text--center space--60-0">
        <h1 class="text--large text--pink">
            Je découvre les 577 candidats <em>En Marche !</em>
        </h1>
        <h2 class="text--body text--medium text--normal b__nudge--top-10">
            Aux élections législatives 2017
        </h2>
    </header>

    <form class="l__wrapper--medium b__nudge--bottom-large">
        <select name="department" class="form form__field">
            <option value="" selected="selected">Département</option>
            {% for group, zones in groupedZones %}
                <optgroup label="{{ group }}">
                    {% for zone in zones %}
                        <option value="{{ zone.id }}">{{ zone.name }}</option>
                    {% endfor %}
                </optgroup>
            {% endfor %}
        </select>

        <select name="career" class="form form__field">
            <option value="" selected="selected">Parcours professionnel</option>
            {% for career in constant('AppBundle\\Entity\\LegislativeCandidate::CAREERS') %}
                <option value="{{ career }}">{{ career|trans }}</option>
            {% endfor %}
        </select>

        <input type="text" name="search" placeholder="Rechercher..." />
    </form>

    <div class="l__wrapper--medium l__row l__row--h-stretch l__row--wrap">
        <div class="legislatives__no_results hidden">
            Aucun résultat
        </div>

        {% for candidate in candidates %}
            <div class="legislatives__trombi__item legislatives_candidate"
                 data-zone="{{ candidate.districtZone.id }}"
                 data-name="{{ candidate.fullName }}"
                 data-career="{{ candidate.career }}"
            >
                <a href="{{ path('legislatives_candidate', {'slug': candidate.slug}) }}"
                   title="{{ candidate.fullName }}"
                   class="legislatives__trombi__item__visual link--no-decor {{ candidate.profilePicture ? 'progressive-background' : '' }}"
                   {% if candidate.profilePicture  %}
                       data-sd="{{ media_asset(candidate.profilePicture, {'w': 100, 'q': 20}) }}"
                       data-hd="{{ media_asset(candidate.profilePicture, {'w': 300, 'q': 70}) }}"
                   {% endif %}
                >
                    <div class="text--white">
                        <h1 class="text--medium-small">{{ candidate.fullName }}</h1>
                        <span class="text--body">{{ candidate.districtName }}</span>
                    </div>
                </a>
                {% if candidate.hasWebPages %}
                    {{ include('legislatives/_candidate_links.html.twig', {
                        'links_container_class': 'legislatives__social l__row l__row--h-stretch space--10-15',
                        'website_url_class': 'link--no-decor',
                        'social_networks_container_class': 'list__links--svgs',
                        'show_name': false
                    }) }}
                {% endif %}
            </div>
        {% endfor %}
    </div>
{% endblock %}
