<section class="interactive__content l__wrapper--500 l__mobile--col space--60-0">
    <div>
        <ul class="tonmacron__steps">
            <li></li>
            <li></li>
            <li class="active"></li>
            <li></li>
        </ul>

        {{ form_start(interactive_form) }}

        <h4 class="interactive__title text--medium b__nudge--bottom text--center">
            La(es)quelle(s) de ces valeurs importe(nt) le plus à votre proche ?
            <br />
            <span class="text--italic text--normal text--light-gray text--medium-small">(2 choix maximum)</span>
        </h4>

        {{ form_errors(interactive_form) }}

        <div class="form__row">
            {% for checkbox in interactive_form.friendAppreciations %}
                <div class="interactive__choice">
                    <div class="form__checkbox">
                        {{ form_widget(checkbox) }}
                        {{ form_label(checkbox) }}
                    </div>
                </div>
            {% endfor %}
        </div>

        <div class="text--center b__nudge--top-large">
            <a href="{{ path('app_my_europe_restart') }}" class="btn">Recommencer</a>
            {{ form_widget(interactive_form.fill_appreciations, {'attr': {'class': 'btn btn--blue'}}) }}
        </div>

        {{ form_end(interactive_form) }}
    </div>
</section>
