<div class="interactive__header">
    <h1 class="text--large b__nudge--top-large text--center l__wrapper--slim">
        Pourquoi voter pour le ou la candidat(e) <em>La République En Marche !</em> aux législatives
    </h1>
</div>

<section class="interactive__content l__wrapper l__mobile--col space--60-0">
    <div>
        <ul class="tonmacron__steps">
            <li></li>
            <li class="active"></li>
            <li></li>
            <li></li>
        </ul>

        {{ form_start(interactive_form) }}
        {{ form_errors(interactive_form) }}

            <h5 class="interactive__title">
                {{ interactive.friendFirstName }} est-il dans une des situations suivantes ?
            </h5>

            <div class="form l__row l__row--wrap">
                {% for checkbox in interactive_form.friendCases %}
                    <div class="form__checkbox form__checkbox--col">
                        {{ form_widget(checkbox) }}
                        {{ form_label(checkbox) }}
                    </div>
                {% endfor %}
            </div>

            <div class="text--center b__nudge--top-large">
                <a href="{{ path('app_purchasing_power_restart') }}" class="btn">Recommencer</a>
                {{ form_widget(interactive_form.fill_cases, {'attr': {'class': 'btn btn--blue'}}) }}
            </div>

        {{ form_end(interactive_form) }}
    </div>
</section>
