<section class="interactive__content space--60-0">
    <ul class="tonmacron__steps">
        <li class="active"></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
    <div class="interactive__banner__form-container l__wrapper--500">
        <div class="interactive__banner__form">
            {{ form_start(interactive_form) }}
            <h4 class="b__nudge--bottom text--medium text--center">
                Quel est le profil de votre ami(e) ?
            </h4>

            <div class="l__row l__row--h-stretch b__nudge--bottom-medium form__radio-button">
                {{ form_widget(interactive_form.friendGender, { attr: { class: 'register__form__gender' } }) }}
                {{ form_errors(interactive_form.friendGender) }}
            </div>

            <div class="form__row">
                {{ form_label(interactive_form.friendFirstName) }}
                {{ form_errors(interactive_form.friendFirstName) }}
                {{ form_widget(interactive_form.friendFirstName, { 'attr': { 'class': 'form--full' } }) }}
            </div>

            <div class="form__row">
                {{ form_label(interactive_form.friendAge) }}
                {{ form_errors(interactive_form.friendAge) }}
                {{ form_widget(interactive_form.friendAge, { 'attr': { 'class': 'form--full' } }) }}
            </div>

            <div class="text--center b__nudge--top-large">
                {{ form_widget(interactive_form.fill_info, {'attr': {'class': 'btn btn--blue'}}) }}
            </div>

            {{ form_end(interactive_form) }}
        </div>

        <div class="text--gray b__nudge--top-50 text--summary text--smallest">
            <p>
                Les informations recueillies à partir de ce formulaire font l’objet
                d’un traitement informatique exclusivement destiné à La République En Marche.
            </p>
            <p>
                Vos informations ne pourront être communiquées qu'aux personnes habilitées
                de LaREM et aux co-contractants qui, en leur qualité de sous-traitants de LaREM,
                n'agiront que sur les instructions de cette dernière et seront soumis à une stricte
                obligation de confidentialité. Certains de ces partenaires peuvent avoir des activités
                dans des pays situés en dehors de l’Union Européenne, notamment aux fins d’hébergement
                des données. Vos données pourront être transférées dans des pays présentant une
                protection adéquate au regard des garanties imposées par la loi informatique et
                libertés du 6 janvier 1978, et dans le cadre des clauses contractuelles types
                de la Commission européenne.
            </p>
            <p>
                En application des articles 38 et suivants de la loi du 6 janvier 1978,
                vous bénéficiez des droits d’accès, de rectification et de suppression des
                informations vous concernant. Vous pouvez accéder aux informations vous
                concernant en nous écrivant à l'adresse : contact@en-marche.fr ou La République
                En Marche 63 rue Sainte Anne 75002 Paris. Vous pouvez également,
                pour des motifs légitimes, vous opposer au traitement des données
                vous concernant.
            </p>
        </div>
    </div>
</section>
