{% extends 'interactive/_layout.html.twig' %}

{% block content %}
    <main class="interactive b__nudge--bottom-huge">
        {{ include('interactive/_header.html.twig') }}
        <section class="l__wrapper--slim text--center">
            <h1 class="b__nudge--top-50 b__nudge--bottom">
                Votre message pour {{ interactive.friendFirstName }} a bien été envoyé !
            </h1>

            <div class="text--body b__nudge--bottom-large">
                Vous êtes en copie de celui-ci.
            </div>

            <div class="b__nudge--bottom-huge">
                <a href="{{ path('app_my_europe_restart') }}" class="btn btn--blue">
                    Recommencer pour un(e) autre proche
                </a>
            </div>

            <div class="b__nudge--top-50 text--body">
                Je partage <strong>« Mon Europe ! »</strong>
            </div>
            <ul class="space--20-0">
                <li role="button" aria-label="Partagez sur Facebook"
                    class="btn btn--social btn--facebook"
                    onclick="App.share('facebook', '{{ url('app_my_europe') }}', '')">
                    <i class="fa fa-facebook-square"></i> <span>Partagez</span>
                </li>
                <li role="button" aria-label="Partagez via Twitter"
                    class="btn btn--social btn--twitter"
                    onclick="App.share('twitter', '{{ url('app_my_europe') }}', '')">
                    <i class="fa fa-twitter"></i> <span>Tweetez</span>
                </li>
                <li role="button" aria-label="Partagez via email"
                    class="btn btn--social btn--email"
                    onclick="App.share('email', '{{ url('app_my_europe') }}', '')">
                    <i class="fa fa-envelope-o"></i> <span>Envoyez</span>
                </li>
            </ul>
        </section>
    </main>
{% endblock %}
