{% extends 'interactive/_layout.html.twig' %}

{% block javascripts %}
    {% if transition is constant('AppBundle\\Interactive\\MyEuropeProcessor::TRANSITION_SEND') %}
        {% import 'javascript.js.twig' as js %}

        <script src="{{ asset('ckeditor/ckeditor.js') }}"></script>
        <script src="{{ asset('ckeditor/lang/fr.js') }}"></script>
        <script type="text/javascript">
            {{ js.ckeditor('my_europe_messageContent', 500) }}
        </script>
        <script src="https://www.google.com/recaptcha/api.js"></script>
    {% endif %}
{% endblock %}

{% block content %}
    {{ include('interactive/_header.html.twig') }}
    <main class="interactive">
        {{ include('interactive/_'~transition~'.html.twig') }}
    </main>
{% endblock %}
