{% extends 'interactive/_layout.html.twig' %}

{% block javascripts %}
    {% if transition is constant('AppBundle\\Interactive\\MyEuropeProcessor::TRANSITION_SEND') %}
        {% import 'javascript.js.twig' as js %}

        <script src="{{ asset('ckeditor/ckeditor.js') }}"></script>
        <script src="{{ asset('ckeditor/lang/fr.js') }}"></script>
        <script type="text/javascript">
            {{ js.ckeditor('my_europe_messageContent', 500) }}
        </script>
    {% endif %}
{% endblock %}

{% block content %}
    <header class="interactive__header hero hero--minimalist hero--gradient hero--minimalist--center-20 progressive-background"
            data-sd="{{ static_asset('mon-europe.jpg', {'w': 300, 'q': 20}) }}"
            data-hd="{{ static_asset('mon-europe.jpg', {'w': 2000, 'q': 70}) }}">
        <div class="hero--minimalist__nav">
            <a href="{{ path('homepage') }}">EM!</a>
        </div>
        <div class="hero--minimalist__content">
            <h1>
                Mon Europe !
            </h1>
            <p>
                Dites-nous en un peu plus sur le profil d'un(e) ami(e) : <br/>
                nous générerons un e-mail personnalisé à lui envoyer ! 
            </p>
        </div>
    </header>
    <main class="interactive">
        {{ include('interactive/_'~transition~'.html.twig') }}
    </main>
{% endblock %}
