{% extends 'base.html.twig' %}

{% block page_title 'Espace référent' %}
{% block canonical_url url('app_referent_users') %}

{% block content %}
    <main>
        <section class="referent procuration-manager b__nudge--bottom-huge">
            <header class="l__wrapper--slim b__nudge--bottom-large b__nudge--top">
                <h1 class="text--center text--large">
                    {{ block('page_title') }}
                </h1>
                <p class="text--center text--body">
                    <strong>Vous gérez :</strong> {{ app.user.managedArea.tags|join(', ') }}
                    <br>
                    <a href="https://en-marche.helprace.com/" target="_blank" class="text--body text--blue--dark text--small link--no-decor">
                        🐛 Bug ? Nouveau besoin ? Faites-le nous savoir.
                    </a>
                </p>
            </header>

            <div class="l__wrapper procuration-manager__content text--body">
                {% set pages = [
                    {
                        'route': 'app_referent_users',
                        'label': 'Envoyer un message'
                    },
                    {
                        'route': 'app_referent_events',
                        'label': 'Événements'
                    },
                    {
                        'route': 'app_referent_committees',
                        'label': 'Comités'
                    },
                    {
                        'route': 'app_referent_organizational_chart',
                        'label': 'Équipe départementale',
                        'role': 'IS_ROOT_REFERENT'
                    }
                ] %}

                <ul class="procuration-manager__tabs">
                    {% for page in pages if page.role is not defined or is_granted(page.role) %}
                        <li class="{{ app.request.attributes.get('_route') == page.route ? 'active' : '' }}">
                            <a href="{{ path(page.route) }}">
                                {{ page.label }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>

                <hr />

                {% block referent_content %}{% endblock %}
            </div>
        </section>
    </main>
{% endblock %}
