{% extends 'base.html.twig' %}

{% block page_title 'Mon espace référent' %}
{% block canonical_url url('app_referent_users') %}

{% block banner '' %}

{% block stylesheets %}
    {% if not app.user.isChartAccepted %}
        <link rel="stylesheet" href="{{ asset('bundles/sonataadmin/vendor/jqueryui/themes/base/minified/jquery-ui.min.css') }}" />
    {% endif %}
{% endblock %}

{% block content %}
    {% if app.user.isCoReferent %}
        {% set managedAreaTags = app.user.referentTeamMember.referent.managedArea.tags|join(', ') %}
    {% else %}
        {% set managedAreaTags = app.user.managedArea.tags|join(', ') %}
    {% endif %}
    <main>
        <section class="manager-space referent procuration-manager b__nudge--bottom-huge">
            <header class="manager-header">
                <div class="l__wrapper">
                    <div class="first-section">
                        <div class="manager-information">
                            <p>Vous gérez : <span>{{ managedAreaTags }}</span></p>

                            {% set last_visit_date = get_referent_previous_visit_date(app.user) %}
                            {% if last_visit_date is not null %}
                                <p>
                                    Dernière visite le <span>{{ last_visit_date|date('d/m/Y') }}</span>
                                    à <span>{{ last_visit_date|date('H\\hi') }}</span>
                                </p>
                            {% endif %}
                        </div>
                        <p class="report">🐛 Bug ? Nouveau besoin ?
                            <a href="https://t.me/joinchat/EmY0e1J2fyTv4Fd-cHEMHg" target="_blank" class="text--blue--dark link--no-decor">Écrivez-nous !</a>
                        </p>
                    </div>
                    <div class="second-section">
                        <h1 class="page-title text--large b__nudge--bottom">
                            {{ block('page_title') }}
                        </h1>
                        {% if is_granted('ROLE_REFERENT') %}
                            <div class="direct-actions">
                                <a href="{{ path('app_message_referent_create') }}" class="btn btn--blue">+&nbsp;<span>Nouveau&nbsp;</span>message</a>
                                <a href="{{ path('app_referent_event_manager_events_create') }}" class="btn btn--ghosting--blue">+&nbsp;<span>Créer un&nbsp;</span>événement</a>
                            </div>
                        {% endif %}
                    </div>

                    {% if is_granted('ROLE_REFERENT') %}
                    <nav class="manager-header__menu">
                        <ul>
                            {% set is_mobilisation_links = is_active_route(app.request, ['app_referent_event_manager_event*', 'app_referent_institutional_events*', 'app_referent_committees', 'app_referent_users*', 'app_jecoute_referent_*']) %}

                            <li class="{{ is_active_route(app.request, 'app_referent_event_manager_event*') ? 'active' }}">
                                <a href="{{ path('app_referent_event_manager_events') }}">Événements</a>
                            </li>

                            <li class="{{ is_active_route(app.request, 'app_referent_committees') ? 'active' }}">
                                <a href="{{ path('app_referent_committees') }}">Comités</a>
                            </li>

                            <li class="{{ is_active_route(app.request, 'app_referent_citizen_projects') ? 'active' }}">
                                <a href="{{ path('app_referent_citizen_projects') }}">Projets citoyens</a>
                            </li>

                            <li class="{{ is_active_route(app.request, 'app_referent_users*') ? 'active' }}">
                                <a href="{{ path('app_referent_users') }}">Adhérents</a>
                            </li>

                            <li class="{{ is_active_route(app.request, 'app_jecoute_referent_*') ? 'active' }}">
                                <a href="{{ path('app_jecoute_referent_local_surveys_list') }}">J'écoute</a>
                            </li>

                            {% if is_canary_enabled() %}
                            <li class="{{ is_active_route(app.request, 'app_referent_candidate_*') ? 'active' }}">
                                <a href="{{ path('app_referent_candidate_running_mate_list') }}">Municipales</a>
                            </li>
                            {% endif %}

                            <li class="{{ is_active_route(app.request, 'app_message_referent_*') ? 'menu-right active' : 'menu-right' }}">
                                <a href="{{ path('app_message_referent_list') }}">Mes messages</a>
                            </li>

                            <li class="{{ is_active_route(app.request, 'app_referent_institutional_events*') ? 'active' }}">
                                <a href="{{ path('app_referent_institutional_events') }}">Mes réunions privées</a>
                            </li>

                            {% if is_granted('IS_ROOT_REFERENT') %}
                                <li class="{{ is_active_route(app.request, ['app_referent_organizational_chart', 'app_referent_referent_person_link_edit']) ? 'active' }}">
                                    <a href="{{ path('app_referent_organizational_chart') }}">Mon équipe</a>
                                </li>
                            {% endif %}
                        </ul>
                    </nav>
                    {% endif %}

                </div>
            </header>

            <div class="l__wrapper procuration-manager__content text--body">
                {% block referent_content %}{% endblock %}
            </div>

            <div id="managerOnScroll" class="manager__fixed-bar">
                <div class="l__wrapper manager__fixed-bar__content">
                    <p>Vous gérez : <span>{{ managedAreaTags }}</span></p>
                    {% if is_granted('ROLE_REFERENT') %}
                        <div class="direct-actions">
                            <a href="{{ path('app_message_referent_create') }}" class="btn btn--blue">+&nbsp;<span>Nouveau&nbsp;</span>message</a>
                            <a href="{{ path('app_referent_event_manager_events_create') }}" class="btn btn--ghosting--blue">+&nbsp;<span>Créer un&nbsp;</span>événement</a>
                        </div>
                    {% endif %}
                </div>
            </div>
        </section>

        {% if not app.user.isChartAccepted %}
            {% include 'chart_dialog.html.twig' with {
                'title': 'referent.popup.title'|trans,
                'subtitle': 'referent.popup.subtitle'|trans,
                'fileUrl': 'referent.popup.file_url'|trans
            } %}
        {% endif %}
    </main>
{% endblock %}

{% block final_javascripts %}
    <script type="text/javascript" src={{ asset('bundles/sonataadmin/vendor/jquery/dist/jquery.min.js') }}></script>
    <script type="text/javascript" src={{ asset('bundles/sonataadmin/vendor/jqueryui/ui/jquery-ui.js') }}></script>
    {% if js is not defined %}
        {% import 'javascript.js.twig' as js %}
    {% endif %}

    {% if not app.user.isChartAccepted %}
        <script type="text/javascript">
            Kernel.onLoad(function() {
                {{ js.chart_acceptation('#chart_dialog') }}
            });
        </script>
    {% endif %}

    <script type="text/javascript">
        Kernel.onLoad(function() {
            {{ js.manager_sticky_header('#managerOnScroll') }}
        });
    </script>
{% endblock %}
