{% extends 'base.html.twig' %}

{% block page_title 'Espace référent' %}
{% block canonical_url url('app_referent_users') %}

{% block content %}
    <main>
        <section class="referent procuration-manager b__nudge--bottom-huge">
            <header class="l__wrapper--slim b__nudge--bottom-large">
                <h1 class="text--center text--large">
                    {{ block('page_title') }}
                </h1>
                <p class="text--center">
                    Vous gérez : {{ app.user.managedArea.tags|join(', ') }}
                </p>
            </header>

            <div class="l__wrapper procuration-manager__content">
                {% set pages = [
                    {
                        'route': 'app_referent_users',
                        'label': 'Envoyer un message'
                    },
                    {
                        'route': 'app_referent_events',
                        'label': 'Événements'
                    },
                    {
                        'route': 'app_referent_commitees',
                        'label': 'Comités'
                    },
                    {
                        'route': 'app_referent_organizational_chart',
                        'label': 'Équipe départementale',
                        'role': 'IS_ROOT_REFERENT'
                    }
                ] %}

                <ul class="procuration-manager__tabs">
                    {% for page in pages if page.role is not defined or is_granted(page.role) %}
                        <li class="{{ app.request.attributes.get('_route') == page.route ? 'active' : '' }}">
                            <a href="{{ path(page.route) }}">
                                {{ page.label }}
                            </a>
                        </li>
                    {% endfor %}
                    <li>
                        <a href="https://en-marche.helprace.com/" target="_blank">
                            Vos retours <i class="fa fa-external-link" aria-hidden="true"></i>
                        </a>
                    </li>
                </ul>

                <hr />

                {% block referent_content %}{% endblock %}
            </div>
        </section>
    </main>
{% endblock %}
