{% extends 'adherent_space/_layout.html.twig' %}

{% block canonical_url url('app_referent_managed_users_list') %}

{% set currentUserOrDelegator = current_user() %}
{% set delegated_access = get_delegated_access() %}

{% block page_title %}
    {% if app.user is same as(currentUserOrDelegator) %}
        Espace référent
    {% else %}
        Espace référent partagé
    {% endif %}
{% endblock %}

{% set hasCharterAccepted = app.user.charters.hasReferentCharterAccepted %}
{% set isReferent = is_granted('ROLE_REFERENT') %}

{% block stylesheets %}
    {% if not hasCharterAccepted %}
        <link rel="stylesheet" href="{{ asset('bundles/sonataadmin/vendor/jqueryui/themes/base/minified/jquery-ui.min.css') }}" />
    {% endif %}
{% endblock %}

{% block manager_sidebar %}
    {{ include('referent/_sidebar.html.twig') }}
{% endblock %}

{% block manager_content %}
    {% block referent_content %}{% endblock %}

    {% if not hasCharterAccepted %}
        {% include 'chart_dialog.html.twig' with {
            'title': 'referent.popup.title'|trans,
            'subtitle': 'referent.popup.subtitle'|trans,
            'fileUrl': 'referent.popup.file_url'|trans
        } %}
    {% endif %}
{% endblock %}

{% block adherent_space_header_title %}
    Vous gérez : <span class="text--black text--bold">{{ currentUserOrDelegator.managedArea.tags|join(', ') }} </span>

    {% set last_visit_date = get_referent_previous_visit_date(app.user) %}

    {% if last_visit_date is not null %}
        • Dernière visite le <span class="text--black text--bold">{{ last_visit_date|date('d/m/Y') }}</span>
        à <span class="text--black text--bold">{{ last_visit_date|date('H\\hi') }}</span>
    {% endif %}
{% endblock %}

{% block final_javascripts %}
    {{ parent() }}

    <script type="text/javascript" src={{ asset('bundles/sonataadmin/vendor/jquery/dist/jquery.min.js') }}></script>
    <script type="text/javascript" src={{ asset('bundles/sonataadmin/vendor/jqueryui/ui/jquery-ui.js') }}></script>

    {% if js is not defined %}
        {% import 'javascript.js.twig' as js %}
    {% endif %}

    {% if not hasCharterAccepted %}
        <script type="text/javascript">
            Kernel.onLoad(function() {
                {{ js.chart_acceptation('#chart_dialog', constant('App\\AdherentCharter\\AdherentCharterTypeEnum::TYPE_REFERENT')) }}
            });
        </script>
    {% endif %}
{% endblock %}
