{% extends 'base.html.twig' %}

{% block page_title 'Espace référent' %}
{% block canonical_url url('app_referent_users') %}

{% block banner '' %}

{% block stylesheets %}
    {% if not app.user.isChartAccepted %}
        <link rel="stylesheet" href="{{ asset('bundles/sonataadmin/vendor/jqueryui/themes/base/minified/jquery-ui.min.css') }}" />
    {% endif %}
{% endblock %}

{% block content %}
    <main>
        <section class="referent procuration-manager b__nudge--bottom-huge">
            <header class="l__wrapper--slim b__nudge--bottom-large b__nudge--top">
                <h1 class="text--center text--large">
                    {{ block('page_title') }}
                </h1>
                <p class="text--center text--body">
                    <strong>Vous gérez :</strong> {{ app.user.managedArea.tags|join(', ') }}
                    <br>
                    <a href="https://en-marche.helprace.com/" target="_blank" class="text--body text--blue--dark text--small link--no-decor">
                        🐛 Bug ? Nouveau besoin ? Faites-le nous savoir.
                    </a>
                </p>
            </header>

            <div class="l__wrapper procuration-manager__content text--body">
                {% set pages = [
                    {
                        'route': 'app_referent_events',
                        'label': 'Événements'
                    },
                    {
                        'route': 'app_referent_institutional_events',
                        'label': 'Événements institutionnels'
                    },
                    {
                        'route': 'app_referent_committees',
                        'label': 'Comités'
                    },
                    {
                        'route': 'app_referent_events_create',
                        'label': 'Créer un événement'
                    },
                    {
                        'route': 'app_referent_users',
                        'label': 'Mes adhérents'
                    },
                    {
                        'route': 'app_message_referent_list',
                        'label': 'Envoyer un message ✨'
                    },
                    {
                        'route': 'app_referent_organizational_chart',
                        'label': 'Votre équipe départementale',
                        'role': 'IS_ROOT_REFERENT'
                    },
                    {
                        'route': 'app_referent_surveys',
                        'label': 'J\'écoute'
                    }
                ] %}

                <ul class="procuration-manager__tabs">
                    {% for page in pages if page.role is not defined or is_granted(page.role) %}
                        <li class="{{ app.request.attributes.get('_route') == page.route ? 'active' : '' }}">
                            <a href="{{ path(page.route, page.params|default({})) }}">
                                {{ page.label }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>

                {% block referent_content %}{% endblock %}
            </div>
        </section>

        {% if not app.user.isChartAccepted %}
            {% include 'chart_dialog.html.twig' with {
                'title': 'referent.popup.title'|trans,
                'subtitle': 'referent.popup.subtitle'|trans,
                'fileUrl': 'referent.popup.file_url'|trans
            } %}
        {% endif %}
    </main>
{% endblock %}

{% block final_javascripts %}
    {% if not app.user.isChartAccepted %}
        {% if js is not defined %}
            {% import 'javascript.js.twig' as js %}
        {% endif %}

        <script type="text/javascript" src={{ asset('bundles/sonataadmin/vendor/jquery/dist/jquery.min.js') }}></script>
        <script type="text/javascript" src={{ asset('bundles/sonataadmin/vendor/jqueryui/ui/jquery-ui.js') }}></script>
        <script type="text/javascript">
            Kernel.onLoad(function() {
                {{ js.chart_acceptation('#chart_dialog') }}
            } );
        </script>
    {% endif %}
{% endblock %}
