{% if isReferent or is_granted('HAS_DELEGATED_ACCESS_ANY') %}
{% set delegated_access_uuid = app.request.attributes.get('delegated_access_uuid') %}
<nav class="manager-sidebar__menu">
    {% if app.user is not same as(currentUserOrDelegator) %}
        <p class="manager-sidebar__text text--body">Vous êtes <span class="text--black">{{ delegated_access.role|lower }}</span> du réferent <span class="text--black">{{ currentUserOrDelegator }}</span></p>
    {% endif %}

    {% if isReferent or is_granted('HAS_DELEGATED_ACCESS_MESSAGES') %}
        <ul>
            <li class="menu-section">Messagerie</li>
            <li class="{{ is_active_route(app.request, 'app_message_referent_*') and not is_active_route(app.request, ['app_message_referent_elected_representative_*', 'app_message_referent_instances_*']) ? 'active' }}">
                <a href="{{ path('app_message_referent_list') }}" class="messaging adherent">
                    <svg width="16" height="16" viewBox="0 0 16 16">
                        <use xlink:href="/images/icons/icons.svg#messaging"></use>
                    </svg>
                    Aux adhérents
                </a>
            </li>
            <li class="{{ is_active_route(app.request, 'app_message_referent_elected_representative_*') ? 'active' }}">
                <a href="{{ path('app_message_referent_elected_representative_list') }}" class="messaging elected">
                    <svg width="16" height="16" viewBox="0 0 16 16">
                        <use xlink:href="/images/icons/icons.svg#messaging"></use>
                    </svg>
                    Aux élus
                </a>
            </li>
            <li class="{{ is_active_route(app.request, 'app_message_referent_instances_*') ? 'active' }}">
                <a href="{{ path('app_message_referent_instances_list') }}" class="messaging council">
                    <svg width="16" height="16" viewBox="0 0 16 16">
                        <use xlink:href="/images/icons/icons.svg#messaging"></use>
                    </svg>
                    Aux instances
                </a>
            </li>
        </ul>
    {% endif %}

    <ul>
        <li class="menu-section">Territoires</li>

        {% if isReferent or is_granted('HAS_DELEGATED_ACCESS_ADHERENTS') %}
            <li class="{{ is_active_route(app.request, ['app_referent_managed_users_list', 'app_referent_adherent_invitation']) ? 'active' }}">
                <a href="{{ path('app_referent_managed_users_list') }}">Adhérents</a>
            </li>
        {% endif %}

        {% if isReferent or is_granted('HAS_DELEGATED_ACCESS_ELECTED_REPRESENTATIVES') %}
            <li class="{{ is_active_route(app.request, 'app_referent_elected_representatives_*') ? 'active' }}">
                <a href="{{ path('app_referent_elected_representatives_list') }}">Élus</a>
            </li>
        {% endif %}

        {% if isReferent or is_granted('HAS_DELEGATED_ACCESS_EVENTS') %}
            <li class="{{ is_active_route(app.request, 'app_referent_event_manager_event*') ? 'active' }}">
                <a href="{{ path('app_referent_event_manager_events') }}">Événements</a>
            </li>
        {% endif %}

        {% if isReferent or is_granted('HAS_DELEGATED_ACCESS_COMMITTEE') %}
            <li class="{{ is_active_route(app.request, ['app_referent_committees', 'app_referent_designations_*']) ? 'active' }}">
                <a href="{{ path('app_referent_committees') }}">Comités</a>
            </li>
        {% endif %}

        {% if isReferent or is_granted('HAS_DELEGATED_ACCESS_CITIZEN_PROJECTS') %}
            <li class="{{ is_active_route(app.request, 'app_referent_citizen_projects_list') ? 'active' }}">
                <a href="{{ path('app_referent_citizen_projects_list') }}">Projets citoyens</a>
            </li>
        {% endif %}

        {% if isReferent or is_granted('HAS_DELEGATED_ACCESS_JECOUTE') %}
        <li class="{{ is_active_route(app.request, 'app_jecoute_referent_*') ? 'active' }}">
            <a href="{{ path('app_jecoute_referent_local_surveys_list') }}">Questionnaires</a>
        </li>
        {% endif %}
    </ul>

    {% if isReferent %}
        <ul>
            <li class="menu-section">Instances</li>

            <li class="{{ is_active_route(app.request, 'app_territorial_council_referent_members*') ? 'active' }}">
                <a href="{{ path('app_territorial_council_referent_members_list') }}">Membres</a>
            </li>

            <li class="{{ is_active_route(app.request, 'app_territorial_council_referent_designation*') ? 'active' }}">
                <a href="{{ path('app_territorial_council_referent_designations_list') }}">Désignations</a>
            </li>

            <li class="{{ is_active_route(app.request, 'app_instances_convocation_referent_*') ? 'active' }}">
                <a href="{{ path('app_instances_convocation_referent_list') }}">Convocations</a>
            </li>

            <li class="{{ is_active_route(app.request, 'app_instances_official_report_referent_*') ? 'active' }}">
                <a href="{{ path('app_instances_official_report_referent_list') }}">Procès-verbaux</a>
            </li>
        </ul>

        {% if enable_assessor_space %}
            <ul>
                <li class="menu-section">Élections</li>
                <li class="{{ is_active_route(app.request, ['app_assessors_referent_*', 'app_vote_results_referent_index', 'app_referent_vote_result_list_edit', 'app_municipal_manager_referent_attribution_form', 'app_referent_city_vote_results_edit']) ? 'active' }}">
                    <a href="{{ path('app_assessors_referent_attribution_form') }}">Assesseurs</a>
                </li>
            </ul>
        {% endif %}

        <ul>
            <li class="menu-section">Mon équipe</li>

            <li class="{{ is_active_route(app.request, 'app_referent_institutional_events*') ? 'active' }}">
                <a href="{{ path('app_referent_institutional_events') }}">Réunions privées</a>
            </li>


            <li class="{{ is_active_route(app.request, ['app_referent_my_team_list', 'app_referent_my_team_delegate_access']) ? 'active' }}">
                <a href="{{ path('app_referent_my_team_list') }}">Délégations d'accès</a>
            </li>
        </ul>
    {% endif %}
</nav>
{% endif %}
