{% extends base_template %}

{% block committee_content %}
    <div class="datagrid__table-container">
        <table class="datagrid__table-manager">
            <thead>
                <tr>
                    <th width="250">Nom</th>
                    <th width="150">Ville (code postal)</th>
                    <th width="20" class="text--center">Membre</th>
                    <th width="20" class="text--center">Votants</th>
                    <th width="20" class="text--center">Candidates / Candidats</th>
                    <th width="20" class="text--center">Action</th>
                </tr>
            </thead>
            <tbody>
            {% for committee_row in committees %}
                {% set committee = committee_row.committee %}
                <tr>
                    <td>
                        <a href="{{ path('app_committee_show', {slug: committee.slug}) }}" target="_blank" rel="noopener noreferrer">
                            {{ committee.name }}
                        </a>
                    </td>
                    <td>{{ committee.cityName }} ({{ committee.postalCode }})</td>
                    <td class="text--center">{{ committee.membersCount }}</td>
                    <td class="text--center">{{ committee_row.total_voters }}</td>
                    <td class="text--center">
                        {% if committee_row.total_candidacy_female is not null %}
                            <a href="#" class="link--no-decor text--blue--dark candidacies-list-modal--trigger" data-uuid="{{ committee.uuid }}">
                                {{ committee_row.total_candidacy_female }} F / {{ committee_row.total_candidacy_male }} H
                            </a>
                        {% endif %}
                    </td>
                    <td class="text--center">
                        <a href="{{ path("app_referent_designations_list", {committee_slug: committee.slug}) }}" class="link--no-decor">Désignations</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="6" class="text--center">
                        <img src="{{ asset('/images/icons/icn_no-result.svg') }}" class="icn--no-result" width="30" />
                        Aucun élément
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div id="modal-wrapper"></div>
{% endblock %}

{% block final_javascripts %}
    <script type="text/javascript">
        Kernel.onLoad(function() {
            App.runCandidacyModal('.candidacies-list-modal--trigger');
        });
    </script>
{% endblock %}
