{% extends base_template %}

{% block committee_content %}

    <div class="datagrid__pre-table b__nudge--bottom">

        <h3>Comités</h3>

        {% if total_count %}
            <span class="datagrid__count">
                <span>{{ committees.totalItems|number_format(0, ',', ' ') }}</span>
                sur {{ total_count|number_format(0, ',', ' ') }}
                comité{{ total_count > 1 ? 's' : '' }}
            </span>
        {% endif %}

    </div>

    <div class="manager__filters">
        <div class="manager__filters__form">

            {{ form_start(form) }}

                <h4 class="manager__filters__subtitle">Filtrer par</h4>

                {{ form_errors(form) }}

                <div class="manager__filters__row">
                    <div class="manager__filters__section">
                        <div class="manager__filters__group">
                            <div class="filter__row">
                                <label class="filter__label">Zones</label>
                                {{ form_widget(form.zones) }}
                                {{ form_errors(form.zones) }}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="manager__filters__actions b__nudge--top">
                    <button type="submit" class="btn btn--black b__nudge--bottom-medium">Appliquer</button>
                    {% if form.vars.submitted %}
                        <a href="{{ path("app_#{space_name}_committees") }}" class="btn btn--no-border b__nudge--bottom-medium">
                            Réinitialiser les filtres
                        </a>
                    {% endif %}
                </div>

            {{ form_end(form) }}

        </div>
    </div>

    <div class="datagrid__table-container">
        <table class="datagrid__table-manager">
            <thead>
                <tr>
                    <th width="250">Nom</th>
                    <th width="150">Ville (code postal)</th>
                    <th width="20" class="text--center">Membre</th>
                    <th width="20" class="text--center">Comité de vote</th>
                    <th width="20" class="text--center">Candidates / Candidats</th>
                    <th width="20" class="text--center">Action</th>
                </tr>
            </thead>
            <tbody>
            {% for committee_row in committees %}
                {% set committee = committee_row.committee %}
                <tr class="committee__item">
                    <td>
                        <a href="{{ path('app_committee_show', {slug: committee.slug}) }}" target="_blank" rel="noopener noreferrer">
                            {{ committee.name }}
                        </a>
                    </td>
                    <td>{{ committee.cityName }} ({{ committee.postalCode }})</td>
                    <td class="text--center">{{ committee.membersCount }}</td>
                    <td class="text--center">{{ committee_row.total_voters }}</td>
                    <td class="text--center">
                        {% if committee_row.total_candidacy_female is not null %}
                            <a href="#" class="link--no-decor text--blue--dark candidacies-list-modal--trigger" data-uuid="{{ committee.uuid }}">
                                {{ committee_row.total_candidacy_female }} F / {{ committee_row.total_candidacy_male }} H
                            </a>
                        {% endif %}
                    </td>
                    <td class="text--center">
                        <a href="{{ path("app_referent_designations_list", {committee_slug: committee.slug}) }}" class="link--no-decor">Désignations</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="6" class="text--center">
                        <img src="{{ asset('/images/icons/icn_no-result.svg') }}" class="icn--no-result" width="30" />
                        Aucun élément
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('select2/select2.min.css') }}" rel="stylesheet">
{% endblock %}

{% block final_javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('select2/select2.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('select2/fr.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/tetranzselect2entity/js/select2entity.js') }}"></script>
    <script type="text/javascript">
        Kernel.onLoad(function() {
            $('.select2entity[data-autostart="false"]').select2entity({
                theme: 'default em-filters'
            })

            App.runCandidacyModal('.candidacies-list-modal--trigger');
        });
    </script>
{% endblock %}
