{% extends 'referent/_layout.html.twig' %}

{% block referent_content %}
    <a href="{{ path('app_referent_organizational_chart') }}" class="back-to-list text--blue--dark link--no-decor b__nudge--bottom">
         ⟵ Retour
    </a>
    <div class="l__wrapper--slim">
        <h3>
            Edition de {{ person_organizational_chart_item.label }}
        </h3>
        {{ form_start(form_referent_person_link, { attr: { class: 'b__nudge--top-40' } }) }}
            {{ form_row(form_referent_person_link) }}

            <div class="form__row text--center b__nudge--top-50">
                <button type="submit" class="btn btn--blue btn--large-and-full">Sauvegarder</button>
            </div>
        {{ form_end(form_referent_person_link) }}
    </div>
{% endblock %}
