{% extends 'referent/_layout.html.twig' %}

{% form_theme form 'referent/_form_theme.html.twig' %}

{% block javascripts %}
    {% import 'javascript.js.twig' as js %}

    <script type="text/javascript" src={{ asset('bundles/sonataadmin/vendor/jquery/dist/jquery.min.js') }}></script>
    <script type="text/javascript" src={{ asset('bundles/sonataadmin/vendor/jqueryui/ui/jquery-ui.js') }}></script>
    <script type="text/javascript">
        Kernel.onLoad(function() {
            {{ js.committee(
                '#referent_person_link_restrictedCommittees',
                '#referent_person_link_restrictedCommittees_search',
                path('app_referent_referent_person_link_autocomplete_committee'),
                '#referent_person_link_restrictedCommittees_search'
            ) }}
            {{ js.applicationFavoriteCities(
                '#referent_person_link_restrictedCities',
                '#referent_person_link_restrictedCities_search',
                path('app_referent_referent_person_link_autocomplete_city'),
                '#referent_person_link_restrictedCities_search'
            ) }}
        });
    </script>
{% endblock %}

{% block referent_content %}
    <a href="{{ path('app_referent_organizational_chart') }}" class="back-to-list text--blue--dark link--no-decor b__nudge--bottom">
         ⟵ Retour
    </a>
    <div class="l__wrapper--slim">
        <h3>
            Edition de {{ person_organizational_chart_item.label }}
        </h3>

        {{ form_start(form, { attr: { class: 'b__nudge--top-40' } }) }}

        {{ form_errors(form) }}

        {{ form_row(form.firstName) }}

        {{ form_row(form.lastName) }}

        {{ form_row(form.email, { attr: { placeholder: "Indiquez ici son adresse mail d'adhérent" } }) }}

        {% if form.email.vars.disabled %}
            <div class="text--small text--gray b__nudge--bottom">
                {{ 'referent.email.unchangeable'|trans|raw }}
            </div>
        {% endif %}

        {{ form_row(form.phone) }}

        {{ form_row(form.postalAddress) }}

        <div id="referent_person_link_coReferent">
            <label class="form form__label" for="{{ form.coReferent.vars.id }}">
                {{ 'referent.label.co_referent'|trans|raw }}
            </label>
            {% for choice in form.coReferent %}

                <div class="form__radio--margin">
                    {{ form_row(choice) }}
                </div>

                {% if 'referent.radio.limited_co_referent' == choice.vars.label %}
                    <div class="em-form__group em-form__type-and-select">
                        {{ form_label(form.restrictedCommittees_search, 'Comités', { required: true }) }}
                        {{ form_widget(form.restrictedCommittees_search, { attr: { autocomplete: 'nope', placeholder: 'Rechercher un comité' } }) }}
                        {{ form_errors(form.restrictedCommittees) }}
                        <div class="type-and-select__tags">
                            {{ form_widget(form.restrictedCommittees) }}
                        </div>
                    </div>

                    <div class="em-form__group em-form__type-and-select">
                        {{ form_label(form.restrictedCities_search, 'Villes', { required: true }) }}
                        {{ form_widget(form.restrictedCities_search, { attr: { autocomplete: 'nope', placeholder: 'Rechercher une ville ou un code postal' } }) }}
                        {{ form_errors(form.restrictedCities) }}
                        <div class="type-and-select__tags">
                            {{ form_widget(form.restrictedCities) }}
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>

        <div class="form__checkbox">
            {{ form_widget(form.isJecouteManager) }}
            <label class="form form__label" for="{{ form.isJecouteManager.vars.id }}">
                {{ 'referent.checkbox.jecoute_manager'|trans|raw }}
            </label>
        </div>

        <div class="form__checkbox">
            {{ form_widget(form.isMunicipalManagerSupervisor) }}
            <label class="form form__label" for="{{ form.isMunicipalManagerSupervisor.vars.id }}">
                {{ 'referent.checkbox.municipal_manager_supervisor'|trans|raw }}
            </label>
        </div>

        <div class="form__row text--center b__nudge--top-50">
            <p>
                <button type="submit" class="btn btn--blue btn--large-and-full">Sauvegarder</button>
            </p>
            {% if form.vars.data.id %}
                <p>
                    <button type="submit" name="delete" class="btn btn--large-and-full">Supprimer</button>
                </p>
            {% endif %}
        </div>

        {{ form_end(form) }}
    </div>
{% endblock %}
