{% extends 'referent/_layout.html.twig' %}

{% block referent_content %}
    <a href="{{ path('app_referent_organizational_chart') }}" class="back-to-list text--blue--dark link--no-decor b__nudge--bottom">
         ⟵ Retour
    </a>
    <div class="l__wrapper--slim">
        <h3>
            Edition de {{ person_organizational_chart_item.label }}
        </h3>
        {{ form_start(form_referent_person_link, { attr: { class: 'b__nudge--top-40' } }) }}
            {{ form_row(form_referent_person_link.firstName) }}
            {{ form_row(form_referent_person_link.lastName) }}
            {{ form_row(form_referent_person_link.email, { attr: { placeholder: "Indiquez ici son adresse mail d’adhérent" } }) }}
            {% if form_referent_person_link.email.vars.disabled %}
                <div class="text--small text--gray b__nudge--bottom">
                    {{ 'referent.email.unchangeable'|trans }}
                </div>
            {% endif %}
            {{ form_row(form_referent_person_link.phone) }}
            {{ form_row(form_referent_person_link.postalAddress) }}
            {% if form_referent_person_link.isCoReferent is defined %}
                {{ form_widget(form_referent_person_link.isCoReferent) }}
                <label class="form form__label" for="{{ form_referent_person_link.isCoReferent.vars.id }}">
                    {{ 'referent.checkbox.co_referent'|trans|raw }}
                </label>
            {% endif %}
        <span class="text--small text--gray">{{ form_referent_person_link.isCoReferent is defined and form_referent_person_link.isCoReferent.vars.disabled ? 'referent.adherent.can_be_coreferent'|trans|raw : '' }}</span>

            <div class="form__row text--center b__nudge--top-50">
                <button type="submit" class="btn btn--blue btn--large-and-full">Sauvegarder</button>
            </div>
        {{ form_end(form_referent_person_link) }}
    </div>
{% endblock %}
