{% extends 'referent/_layout.html.twig' %}

{% block javascripts %}
    {% import 'javascript.js.twig' as js %}
    <script type="text/javascript">
        Kernel.onLoad(function() {
            {{ js.address(form.address) }}
            App.startDateFieldsSynchronisation('{{ form.beginAt.vars.full_name|e('js') }}', '{{ form.finishAt.vars.full_name|e('js') }}')
        });
    </script>
{% endblock %}

{% block referent_content %}
    <a href="{{ path('app_referent_events') }}" class="back-to-list icon--with-text b__nudge--top-15 b__nudge--bottom">
        {{ include('components/caret--left.html.twig') }}
        Retour à la liste
    </a>

    <h3>
        Créer un événement
    </h3>

    <hr />

    <div class="l__wrapper--slim">
        {{ include('components/alert_european_elections.html.twig') }}

        {{ form_start(form, { attr: { class: 'b__nudge--top-40'} }) }}
        {{ form_errors(form) }}

        <div class="form__row" id="committee-event-name-field">
            {{ form_errors(form.name) }}
            {{ form_label(form.name, "Nom de l'événement") }}
            {{ form_widget(form.name, { attr: { class: 'form--full committee_event__form__name', placeholder: "Entrez le nom de l'événement" } }) }}
        </div>

        <div class="form__row" id="committee-event-description-field">
            {{ form_errors(form.category) }}
            {{ form_label(form.category, 'Type') }}
            {{ form_widget(form.category, { attr: { class: 'form--full committee_event__form__category', placeholder: "Choisissez le type de l'événement" } }) }}
        </div>

        <div class="form__row" id="committee-event-beginat-field">
            {{ form_errors(form.beginAt) }}
            {{ form_label(form.beginAt, 'Début') }}
            {{ form_widget(form.beginAt, { attr: { class: 'event__begin_at', autocomplete: 'off' } }) }}
        </div>

        <div class="form__row" id="committee-event-finishat-field">
            {{ form_errors(form.finishAt) }}
            {{ form_label(form.finishAt, 'Fin') }}
            {{ form_widget(form.finishAt, { attr: { class: 'event__finish_at', autocomplete: 'off' } }) }}
        </div>

        <div id="committee-event-address">
            {{ form_errors(form.address) }}

            <div class="form__row committee_event__form--trunc" id="committee-event-address-address-field">
                {{ form_errors(form.address.address) }}
                {{ form_label(form.address.address, 'Adresse') }}
                {{ form_widget(form.address.address, { attr: { class: 'form--full', placeholder: "Entrez l'adresse de l'événement" } }) }}
            </div>

            <div class="event__address l__row l__row--h-stretch">
                <div class="form__row committee_event__form__zip_code b__nudge--right-nano register__form--third" id="committee-event-address-zipcode-field">
                    {{ form_label(form.address.postalCode, 'Code postal') }}
                    {{ form_widget(form.address.postalCode, { attr: { class: 'form--full', placeholder: 'Entrez le code postal' } }) }}
                </div>

                <div class="form__row committee_event__form__city b__nudge--right-nano register__form--third" id="committee-event-address-city-field">
                    {{ form_errors(form.address.city) }}
                    {{ form_label(form.address.cityName, 'Ville') }}
                    {{ form_widget(form.address.city, { attr: { class: 'committee_event__form__city'}}) }}
                    {{ form_widget(form.address.cityName, { 'attr': { 'class': 'form--full', placeholder: 'Ville' } }) }}
                </div>

                <div class="form__row committee_event__form__country register__form--third " id="committee-event-address-country-field">
                    {{ form_errors(form.address.country) }}
                    {{ form_label(form.address.country, 'Pays') }}
                    {{ form_widget(form.address.country, { attr: { class: 'form--full', placeholder: 'Choisissez le pays' } }) }}
                </div>
                <div class="form__row committee_event__form__timezone register__form--third"
                     id="committee_event-address-timezone-field">
                    {{ form_errors(form.timeZone) }}
                    {{ form_label(form.timeZone, 'Fuseau horaire') }}
                    {{ form_widget(form.timeZone, { attr: { class: 'form--full', placeholder: 'Choisissez le fuseau horaire' } }) }}
                </div>
            </div>
        </div>

        <div class="form__row" id="committee-event-description-field">
            {{ form_errors(form.description) }}
            {{ form_label(form.description, 'À propos') }}
            {{ form_widget(form.description, { attr: { class: 'form--full form__field--textarea-300 b__nudge--top-15', placeholder: 'Entrez un paragraphe afin de décrire cet événement.', rows: '20', cols: '70' } }) }}
        </div>

        <div class="form__row" id="committee-event-capacity-field">
            {{ form_errors(form.capacity) }}
            {{ form_label(form.capacity, 'Capacité') }}
            {{ form_widget(form.capacity, { attr: { class: 'form--full committee_event__form__capacity', placeholder: 'Quel est le nombre maximum de participants à cet événement.' } }) }}
        </div>

        <div class="form__row text--center b__nudge--top">
            <button type="submit" class="btn btn--blue btn--medium b__nudge--bottom-huge">Créer cet événement</button>
        </div>

        {{ form_end(form) }}
    </div>
{% endblock %}
