{% macro orga_chart_row(items, referent, editable, admin) %}
    {% import _self as oc %}
    <ol{% if items is not empty and items|first.level <= 2 %} class="organizational-chart"{% endif %}>
        {% for item in items %}
            <li>
                {{ oc.orga_chart_item(item, referent, editable, admin) }}
            </li>
        {% endfor %}
    </ol>
{% endmacro %}

{% macro orga_chart_item(item, referent, editable, admin) %}
    {% import _self as oc %}
    <div>
        <h3>
            {% if item.referentPersonLinks is defined %}
                {% if editable or admin %}
                    <a href="{{ admin ? admin.generateObjectUrl('edit', item, admin.listFieldDescriptions['batch'].options.route.parameters) : path('app_referent_referent_person_link_edit', {id: item.id}) }}">
                {% endif %}
                        <span class="name">
                            {% set ref_person_link = get_ref_person_link(item, referent) %}
                            {% if ref_person_link %}
                                {{ ref_person_link.firstName }} {{ ref_person_link.lastName }}
                            {% else %}
                                <span class="name--empty">Nom du responsable</span>
                            {% endif %}
                        </span>
                        <span class="function">
                            {{ item.label }}
                        </span>
                        {% if ref_person_link %}
                            {% if ref_person_link.isCoReferent %}
                                <span class="referent-person-link">{{ 'referent.coreferent_access'|trans }}</span>
                            {% endif %}
                            {% if ref_person_link.isJecouteManager %}
                                <span class="referent-person-link">{{ 'common.jecoute_manager'|trans }}</span>
                            {% endif %}
                            {% if ref_person_link.isMunicipalManagerSupervisor %}
                                <span class="referent-person-link">{{ 'referent.municipal_managers_access'|trans }}</span>
                            {% endif %}
                        {% endif %}
                {% if editable %}
                    </a>
                {% endif %}
            {% elseif admin %}
                <a href="{{ admin.generateObjectUrl('edit', item, admin.listFieldDescriptions['batch'].options.route.parameters) }}">
                    {{ item.label }}
                </a>
            {% else %}
                {{ item.label }}
            {% endif %}
        </h3>
    </div>
    {% if item.children|length %}
        {{ oc.orga_chart_row(item.children, referent, editable, admin) }}
    {% endif %}
{% endmacro %}
