{% macro orga_chart_row(items, referent, editable) %}
    {% import _self as oc %}
    <ol{% if items is not empty and items|first.level <= 2 %} class="organizational-chart"{% endif %}>
        {% for item in items %}
            <li>
                {{ oc.orga_chart_item(item, referent, editable) }}
            </li>
        {% endfor %}
    </ol>
{% endmacro %}

{% macro orga_chart_item(item, referent, editable) %}
    {% import _self as oc %}
    <div>
        <h{{ item.level }}>
            {% if item.referentPersonLinks is defined %}
                {% if editable %}
                    <a href="{{ path('app_referent_referent_person_link_edit', {id: item.id}) }}">
                        {% endif %}
                        {{ item.label }}
                        <br />
                        {% set ref_person_link = get_ref_person_link(item, referent) %}
                        {% if ref_person_link %}
                            {{ ref_person_link.firstName }} {{ ref_person_link.lastName }}
                        {% else %}
                            -
                        {% endif %}
                        {% if editable %}
                    </a>
                {% endif %}
            {% else %}
                {{ item.label }}
            {% endif %}
        </h{{ item.level }}>
    </div>
    {% if item.children|length %}
        {{ oc.orga_chart_row(item.children, referent, editable) }}
    {% endif %}
{% endmacro %}
