{% extends 'referent/_layout.html.twig' %}

{% block referent_content %}
    <div class="referent__filters">
        <h3 class="referent__filters__title" id="send-message">
            Envoyer un message
        </h3>

        <div class="referent__filters__form">
            <form method="get" action="{{ path('app_referent_users') }}#send-message">
                <div class="referent__filters__subtitle">
                    Envoyer un message aux ...
                </div>
                <div class="l__row l__row--top l__mobile--col">
                    <div class="l__col--grow-1 b__nudge--right">
                        <div class="form__row form__checkbox">
                            <input type="checkbox" value="1" id="parameter_include_adherents_no_committee"
                                   name="{{ constant('PARAMETER_INCLUDE_ADHERENTS_NO_COMMITTEE', filter) }}"
                                    {{ filter.includeAdherentsNoCommittee ? 'checked="checked"' : '' }} />
                            <label for="parameter_include_adherents_no_committee">
                                Adhérents ne faisant partie d'aucun comité
                            </label>
                        </div>
                        <div class="form__row form__checkbox">
                            <input type="checkbox" value="1" id="parameter_include_adherents_in_committee"
                                   name="{{ constant('PARAMETER_INCLUDE_ADHERENTS_IN_COMMITTEE', filter) }}"
                                    {{ filter.includeAdherentsInCommittee ? 'checked="checked"' }} />
                            <label for="parameter_include_adherents_in_committee">
                                Adhérents faisant partie d'au moins un comité (hors animateurs)
                            </label>
                        </div>
                    </div>

                    <div class="l__col--grow-1 b__nudge--right">
                        <div class="form__row form__checkbox">
                            <input type="checkbox" value="1" id="parameter_include_supervisors"
                                   name="{{ constant('PARAMETER_INCLUDE_SUPERVISORS', filter) }}"
                                    {{ filter.includeSupervisors ? 'checked="checked"' : '' }} />
                            <label for="parameter_include_supervisors">
                                Animateurs de comités locaux
                            </label>
                        </div>

                        <div class="form__row form__checkbox">
                            <input type="checkbox" value="1" id="parameter_include_hosts"
                                   name="{{ constant('PARAMETER_INCLUDE_HOSTS', filter) }}"
                                    {{ filter.includeHosts ? 'checked="checked"' : '' }} />
                            <label for="parameter_include_hosts">
                                Co-animateurs de comités locaux
                            </label>
                        </div>

                        <div class="form__row form__checkbox">
                            <input type="checkbox" value="1" id="parameter_include_cp"
                                   name="{{ constant('PARAMETER_INCLUDE_CP', filter) }}"
                                    {{ filter.includeCitizenProject ? 'checked="checked"' : '' }} />
                            <label for="parameter_include_cp">
                                Porteurs de projets citoyens
                            </label>
                        </div>
                    </div>
                </div>

                <div class="referent__filters__subtitle">
                    Et filtrer par ...
                </div>

                <div class="referent__filters__search l__row l__row--v-stretch l__tablet--col">
                    <div class="referent__filters__search__col">
                        <legend class="label__header">Genre</legend>
                        <div class="l__row">
                            <div class="form__radio-button--tab">
                                <input type="radio" value="" id="parameter_gender_all"
                                       name="{{ constant('PARAMETER_GENDER', filter) }}"
                                        {{ 0 == filter.queryGender ? 'checked="checked"' : '' }} />
                                <label for="parameter_gender_all">
                                    Tous
                                </label>
                            </div>
                            <div class="form__radio-button--tab">
                                <input type="radio" value="female" id="parameter_gender_female"
                                       name="{{ constant('PARAMETER_GENDER', filter) }}"
                                        {{ filter.queryGender is same as('female') ? 'checked="checked"' : '' }} />
                                <label for="parameter_gender_female">
                                    Femme
                                </label>
                            </div>
                            <div class="form__radio-button--tab">
                                <input type="radio" value="male" id="parameter_gender_male"
                                       name="{{ constant('PARAMETER_GENDER', filter) }}"
                                        {{ filter.queryGender is same as ('male') ? 'checked="checked"' : '' }} />
                                <label for="parameter_gender_male">
                                    Homme
                                </label>
                            </div>
                            <div class="form__radio-button--tab">
                                <input type="radio" value="other" id="parameter_gender_other"
                                       name="{{ constant('PARAMETER_GENDER', filter) }}"
                                        {{ filter.queryGender is same as ('other') ? 'checked="checked"' : '' }} />
                                <label for="parameter_gender_other">
                                    Autre
                                </label>
                            </div>
                        </div>

                        <legend class="label__header">Age</legend>
                        <div class="l__row l__row--h-stretch">
                            <label style="width: 45%">
                                <input type="number"
                                       name="{{ constant('PARAMETER_AGE_MIN', filter) }}"
                                       value="{{ filter.queryAgeMinimum is same as(0) ? "" : filter.queryAgeMinimum }}"
                                       class="form form__field form--full"
                                       placeholder="18"/>
                            </label>
                            à
                            <label style="width: 45%">
                                <input type="number"
                                       name="{{ constant('PARAMETER_AGE_MAX', filter) }}"
                                       value="{{ filter.queryAgeMaximum is same as(0) ? "" : filter.queryAgeMaximum }}"
                                       class="form form__field form--full"
                                       placeholder="99"/>
                            </label>
                        </div>

                        <legend class="label__header">Nom</legend>
                        <div class="l__row">
                            <input type="text"
                                   name="{{ constant('PARAMETER_LAST_NAME', filter) }}"
                                   value="{{ filter.queryLastName }}"
                                   class="form form__field form--full"
                                   placeholder="Saisissez un nom"/>
                        </div>

                        <legend class="label__header">Prénom</legend>
                        <div class="l__row">
                            <input type="text"
                                   name="{{ constant('PARAMETER_FIRST_NAME', filter) }}"
                                   value="{{ filter.queryFirstName }}"
                                   class="form form__field form--full"
                                   placeholder="Saisissez un prénom"/>
                        </div>
                    </div>

                    <div class="referent__filters__search__col">
                        <legend class="label__header">Ville</legend>
                        <div class="l__row">
                            <input type="text"
                                   name="{{ constant('PARAMETER_QUERY_CITY', filter) }}"
                                   value="{{ filter.queryCity }}"
                                   class="form form__field form--full"
                                   placeholder="Saisissez une ville"/>
                        </div>

                        <legend class="label__header">Code postal, département ou pays</legend>
                        <div class="l__row referent__filters__search__col__area-code">
                            <input type="text"
                                   name="{{ constant('PARAMETER_QUERY_AREA_CODE', filter) }}"
                                   value="{{ filter.queryAreaCode }}"
                                   class="form form__field form--full"
                                   placeholder="Saisissez-en un ou plusieurs"/><br/>
                        </div>
                        <legend class="text--gray text--small">
                            Exemple: "59400, 18, CH"
                        </legend>

                        <legend class="label__header label__header__interest">Centres d'intérêt</legend>
                        <div class="referent__filters__search__col__interest">
                            <div class="form l__row l__row--wrap">
                                {% for key, value in adherent_interests %}
                                    <div class="form__checkbox form__checkbox--col">
                                        <input type="checkbox" id="referent_pin_interests_{{ loop.index0 }}" name="{{ constant('PARAMETER_INTEREST', filter) }}[]" value="{{ key }}" {{ key in filter.queryInterests ? 'checked' }}>
                                        <label class="form form__label" for="referent_pin_interests_{{ loop.index0 }}">{{ value }}</label>
                                    </div>
                                {% endfor %}
                            </div>
                            <legend class="text--gray text--small">
                                Exemple : Si vous cochez 2 intérêts, vous filtrerez les adhérents qui suivent au moins ces 2 intérêts
                            </legend>
                        </div>
                    </div>
                </div>

                <div class="referent__filters__buttons">
                    {% if has_filter %}
                        <a href="{{ path('app_referent_users') }}" class="btn btn--no-border">
                            Réinitialiser le filtre
                        </a>
                    {% endif %}
                    <button type="submit" class="btn btn--blue b__nudge--bottom-tiny">
                        Filtrer pour envoyer un message
                    </button>
                </div>

                <input type="hidden" name="{{ constant('PARAMETER_TOKEN', filter) }}" value="{{ filter.token }}" />
                <input type="hidden" name="c" value="{{ 'now'|date('His') }}" />
            </form>
        </div>
    </div>

    {% if has_filter %}
        <div class="referent__filters__count">
            <div class="text--body text--medium-small">{{ results_count }} contact(s) trouvé(s)</div>

            <a href="{{ path('app_referent_users_message') ~ filter }}" class="btn btn--primary b__nudge--top-10">
                Leur envoyer un message
            </a>
        </div>
    {% endif %}

    <div class="text--center">
        {% block pager %}
            {% set current_page = (filter.offset / constant('PER_PAGE', filter))|round(0, 'ceil') + 1 %}
            {% set last_page = (results_count / constant('PER_PAGE', filter))|round(0, 'ceil') %}

            {% if filter.offset > 0 %}
                <a href="{{ path('app_referent_users') ~ filter.queryStringForOffset(0) }}" class="btn btn--small">
                    Première
                </a>
                <a href="{{ path('app_referent_users') ~ filter.previousPageQueryString }}" class="btn btn--small">
                    Précédente
                </a>
            {% endif %}

            <span class="btn btn--small btn--no-border">
                    Page {{ current_page }} / {{ last_page }}
                </span>

            {% if filter.offset + constant('PER_PAGE', filter) < results_count %}
                <a href="{{ path('app_referent_users') ~ filter.nextPageQueryString }}" class="btn btn--small">
                    Suivante
                </a>
                <a href="{{ path('app_referent_users') ~ filter.queryStringForOffset((last_page - 1) * constant('PER_PAGE', filter)) }}" class="btn btn--small">
                    Dernière
                </a>
            {% endif %}
        {% endblock %}
    </div>

    <div class="datagrid">
        <div class="b__nudge--bottom-larger">
            <table class="datagrid__table">
                <thead>
                <tr>
                    <th style="width: 100px;">Prénom</th>
                    <th style="width: 100px;">Nom</th>
                    <th style="width: 100px;">Téléphone</th>
                    <th style="width: 100px;">Ville</th>
                    <th style="width: 120px;" class="">Projets citoyens</th>
                    <th style="width: 100px;" class="datagrid__table__col--left">Informations</th>
                    <th style="width: 120px;" class="datagrid__table__col--left datagrid__table__col--hide-mobile">Comités</th>
                    <th style="width: 150px;" class="datagrid__table__col--hide-mobile">Adhésion</th>
                </tr>
                </thead>
                <tbody>
                {% for user in results %}
                    <tr class="referent__item referent__item--{{ user.styleType }}">
                        <td>{{ user.firstName }}</td>
                        <td>{{ user.lastName }}</td>
                        <td>{{ user.phone ? user.phone|phone_number_format : '~' }}</td>
                        <td>{{ user.postalCode }} <br/> {{ user.city }}, {{ user.country }}</td>
                        <td class="datagrid__table__col--left">
                            <ul>
                            {% for slug, name in user.citizenProjectsOrganizer %}
                                <li><a href="{{ path('app_citizen_project_show', {'slug': slug}) }}"><strong>{{ name }}</strong></a></li>
                            {% endfor %}

                            {% for slug, name in user.citizenProjects %}
                                <li><a href="{{ path('app_citizen_project_show', {'slug': slug}) }}">{{ name }}</a></li>
                            {% endfor %}
                            </ul>
                        </td>
                        <td class="datagrid__table__col--left">
                            <small class="referent__item__metadata">
                                {{ user.age ? user.age ~ ' ans' : '~'}},
                                {% if user.gender %}
                                    {% if 'male' == user.gender %}
                                        {{ 'common.gender.man'|trans }}
                                    {% else %}
                                        {{ 'common.gender.woman'|trans }}
                                    {% endif %}
                                {% else %}
                                    ~
                                {% endif %}
                            </small>
                            <br />
                            <small>
                                {% set isBasicAdherent = true %}
                                {%- if user.citizenProjectsOrganizer -%}
                                    {% set isBasicAdherent = false %}
                                    Porteur du projet<br />
                                {% endif %}
                                {%- if user.isCommitteeSupervisor -%}
                                    {% set isBasicAdherent = false %}
                                    Animateur local<br />
                                {% endif %}
                                {%- if user.isCommitteeHost -%}
                                    {% set isBasicAdherent = false %}
                                    Co-animateur local<br />
                                {% endif %}
                                {%- if isBasicAdherent -%}
                                    Adhérent
                                {% endif %}
                            </small>
                            <br />
                            <small class="text--italic">
                                {% set interets = [] %}

                                {% for interest in user.interests if adherent_interests[interest] is defined %}
                                    {% set interets = interets|merge([adherent_interests[interest]]) %}
                                {% endfor %}

                                {{ interets|join(', ') }}
                            </small>
                        </td>
                        <td class="datagrid__table__col--left datagrid__table__col--hide-mobile">
                            {% if user.committees %}
                                {{ user.committees|e|join('<br />')|raw }}
                            {% else %}
                                ~
                            {% endif %}
                        </td>
                        <td class="datagrid__table__col--hide-mobile">
                            {{ user.createdAt|date('d/m/Y H:i') }}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        <hr />

        <div class="text--center">
            {{ block('pager') }}
        </div>
    </div>
{% endblock %}
