{% for label, messages in app.flashes(['error', 'info', 'success']) %}
    {% if messages|length %}
        {% for message in messages %}
            <div class="{{ wrapper_class ?? '' }}">
                <twig:Atoms:ReParagraphStatus status="{{ label }}" icon="{{ label }}" slim="{{ slim ?? '0' }}">
                    {{ message|trans|raw }}
                </twig:Atoms:ReParagraphStatus>
            </div>
        {% endfor %}
    {% endif %}
{% endfor %}
