<div class="flex h-full w-full items-center justify-center overflow-hidden md:hidden">
    <a href="{{ path('renaissance_site') }}">
        {{ include('renaissance/partials/logo-icon.svg.twig', {svg_class: re_logo_class|default('h-20 w-20 text-white')}) }}
    </a>
</div>

<div class="hidden md:flex flex-col justify-center md:self-end text-white font-bold text-[1.75rem] leading-8 md:text-5xl md:leading-tight">
    <p class="mb-16 whitespace-nowrap {{ text_color_class|default('') }}">
        Humanistes <br/>
        Citoyens <br/>
        Européens <br/>
        Libre-penseurs <br/>
        Progressistes <br/>
        Ambitieux <br/>
        Écologistes <br/>
        Féministes
    </p>
    <p class="mb-16">
        <a href="{{ path('renaissance_site') }}">
            {{ include('renaissance/partials/logo-icon.svg.twig', {svg_class: re_logo_class|default('h-20 w-20 text-white')}) }}
        </a>
    </p>
</div>
