<div class="flex bg-dark-blue justify-center py-15">
    <a href="{{ path('app_renaissance_homepage') }}" class="h-9">
        <img
            src="{{ asset('/images/renaissance/logo.svg') }}"
            class="h-full"
            alt="logo"
        />
    </a>
</div>
<div class="flex flex-col md:flex-row bg-dark-blue items-center md:justify-center gap-x-7.5 pb-12.5 md:py-6.25 text-white font-normal text-sm">
    <a href="{{ path('app_static_page', {slug: 're-mentions-legales', app_domain: renaissance_host}) }}">
        Mentions légales
    </a>
    <a href="{{ path('app_static_page', {slug: 'conditions-generales-utilisation', app_domain: renaissance_host}) }}">
        CGU
    </a>
    <a href="{{ path('app_static_page', {slug: 'politique-de-protection-des-donnees', app_domain: renaissance_host}) }}">
        Données personnelles
    </a>
</div>
