{% extends 'territorial_council/_slim_header_layout.html.twig' %}

{% block territorial_council_content %}
    <div class="territorial-council l__wrapper b__nudge--bottom-huge">
        <div>
            <a href="{{ path('app_territorial_council_index') }}" class="text--body link--no-decor link--blue--dark">⟵ Retour</a>
        </div>

        <div class="l__wrapper--slim">
            <h2 class="font-roboto text--medium b__nudge--bottom-large b__nudge--top-50">Choix de votre binôme</h2>

            <p class="text--body text--gray text--small b__nudge--bottom-50">
                Les membres non sélectionnables ne sont pas éligibles car ils sont soit déjà membres du Copol,
                soit déjà candidats.
            </p>

            {{ form_start(form, {attr: {class: 'em-form'}}) }}

            {{ form_errors(form) }}

            <div class="em-form__group">
                {{ form_label(form.quality, 'Je candidate en tant que', {label_attr: {class: 'em-form__label'}}) }}

                {{ form_errors(form.quality) }}

                <div class="em-form__field--ctn">
                    {{ form_widget(form.quality, {attr: {class: 'em-form__field'}}) }}
                </div>
            </div>

            <div class="em-form__group">
                {{ form_label(form.invitation, 'Sélectionnez un membre pour composer votre binôme', {label_attr: {class: 'em-form__label'}}) }}

                {{ form_widget(form.invitation) }}

                <div class="membership-widget-wrapper"></div>
            </div>

            <div>
                {{ form_row(form.save, {label: 'Envoyer l\'invitation', attr: {class: 'btn btn--blue btn--large-and-full b__nudge--top-15'}}) }}

                {% if not invitation %}
                    <a href="{{ path('app_territorial_council_candidature_edit') }}" class="btn btn--ghosting--blue btn--large-and-full b__nudge--top-15">
                        Étape précedente
                    </a>
                {% endif %}
            </div>

            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        Kernel.onLoad(function() {
            App.runTerritorialCouncilCandidacy(
                '#{{ form.quality.vars.id }}',
                '#{{ form.invitation.membership.vars.id }}',
                '#{{ form.save.vars.id }}',
                '.membership-widget-wrapper'
            );
        });
    </script>
{% endblock %}
