{% extends 'territorial_council/_layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" type="text/css" href="{{ asset('css/cropper.min.css') }}" />
{% endblock %}

{% block territorial_council_content %}
    {% set election = territorial_council.currentElection %}

    <div class="territorial-council__main l__wrapper--narrow b__nudge--bottom-huge">
        <div>
            <a href="{{ path('app_territorial_council_index') }}" class="text--body link--no-decor link--blue--dark">⟵ Annuler</a>
        </div>

        <div class="l__wrapper--600">
            <h2 class="font-roboto text--medium b__nudge--bottom-large b__nudge--top-50">Votre candidature</h2>

            <p class="text--body text--dark b__nudge--bottom-50">
                Ajoutez une photo de vous et un texte de présentation à votre candidature. Ces informations ne
                seront visibles que lorsque votre binôme sera constitué et resteront modifiables jusqu'à la
                clôture des candidatures.
            </p>

            {{ form_start(form, {attr: {class: 'em-form'}}) }}

            {{ form_errors(form) }}

            <div class="em-form__group">
                <label for="{{ form.image.vars.id }}" class="em-form__label">Ajouter une photo</label>

                <div class="text--body text--dark b__nudge--bottom-small">
                    Elle permettra aux autres membres de mieux vous reconnaître.
                </div>

                {{ form_errors(form.image) }}

                {% if candidacy is defined and candidacy.imageName %}
                    {% set image_url = path('asset_url', {path: candidacy.imagePath}) %}
                {% endif %}

                <div class="em-form__file">
                    {{ form_widget(form.image, {attr: {class: 'em-form__file--area', accept: 'image/*'}}) }}

                    <div>
                        <div class="image-uploader--label {{ image_url is defined ? 'hidden' }}">
                            {{ form_label(form.image, 'Télécharger une photo', {label_attr: {class: 'text--blue--dark em-form__file--label'}}) }}
                            <div class="em-form__file--name custom-file-label">Aucun fichier sélectionné</div>
                        </div>

                        <div class="image-uploader--preview {{ image_url is not defined ? 'hidden' }}">
                            <div>
                                <div class="preview-image--container" {% if image_url is defined %}style="background-image: url({{ image_url }})"{% endif %}></div>
                            </div>

                            <div>
                                <label for="{{ form.image.vars.id }}">Modifier</label>
                                <span class="separtor"><strong>·</strong></span>
                                <a href="#" class="link--no-decor link--blue delete-profile-image--trigger">Supprimer</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="em-form__legend">Formats acceptés : jpg, png • Taille max. : 5Mo.</div>
            </div>

            <div class="em-form__group">
                {{ form_label(form.biography, 'Ajouter une présentation', {label_attr: {class: 'em-form__label'}}) }}

                <div class="text--body text--dark b__nudge--bottom-small">Présentez-vous succinctement à ceux qui ne vous connaissent pas encore.</div>

                {{ form_errors(form.biography) }}

                <div class="em-form__field--ctn">
                    {{ form_widget(form.biography, {attr: {class: ' em-form__field ', rows: 50}}) }}
                </div>
            </div>

            <div class="em-form__group">
                {{ form_label(form.faithStatement, 'Profession de foi', {label_attr: {class: 'em-form__label'}}) }}

                <div class="text--body text--dark b__nudge--bottom-small">
                    Elle motive votre candidature. Ce texte est éditable par les deux membres de votre binôme.
                    Il ne sera visible aux membres du Conseil territorial qu'une fois la case « publier la
                    profession de foi » cochée ou les candidatures closes.
                </div>

                {{ form_errors(form.faithStatement) }}

                <div class="em-form__field--ctn">
                    {{ form_widget(form.faithStatement, {attr: {class: ' em-form__field ', rows: 80}}) }}
                </div>
            </div>

            <div class="em-form__group">
                <div class="form__checkbox">
                    {{ form_widget(form.isPublicFaithStatement) }}

                    <label class="form form__label" for="{{ form.isPublicFaithStatement.vars.id }}">Publier la profession de foi</label>
                </div>
            </div>

            <div class="em-form__group">
                <div class="form__checkbox">
                    {{ form_widget(form.accept) }}

                    <label class="form form__label" for="{{ form.accept.vars.id }}">Je m’engage à remettre au conseil territorial mon mandat au sein du comité politique territorial dans le mois suivant la proclamation des résultats des élections des animateurs locaux, conseillers – Départementaux / Régionaux – afin de permettre au Conseil d’organiser des élections intégrant les nouveaux élus.</label>
                </div>
            </div>

            <div>
                {{ form_row(form.save, {label: 'Enregistrer et choisir mon binôme', attr: {class: 'btn btn--blue btn--large-and-full b__nudge--top-15'}}) }}
            </div>

            {{ form_end(form) }}
        </div>

        <div id="modal-wrapper"></div>
    </div>
{% endblock %}

{% block head_javascripts %}
    <script type="text/javascript" src={{ asset('bundles/sonataadmin/vendor/jquery/dist/jquery.min.js') }}></script>
{% endblock %}

{% block final_javascripts %}
    {{ parent() }}

    <script type="text/javascript">
        Kernel.onLoad(function () {
            var inputFile = dom('#' + '{{ form.image.vars.id }}');
            var inputCroppedImage = dom('#' + '{{ form.croppedImage.vars.id }}');

            on(inputFile, 'change', function () {
                App.runImageCropper(inputFile, inputCroppedImage);
            });

            on(dom('.delete-profile-image--trigger'), 'click', function (event) {
                event.preventDefault();

                {% if candidacy is defined %}
                    inputFile.value = '';
                    dom('#' + '{{ form.croppedImage.vars.id }}').value = -1;
                {% else %}
                    inputFile.value = '';
                    dom('#' + '{{ form.croppedImage.vars.id }}').value = '';
                {% endif %}

                show(dom('.image-uploader--label'));
                hide(dom('.image-uploader--preview'));
            })
        });
    </script>
{% endblock %}

