{% extends 'territorial_council/_layout.html.twig' %}

{% block territorial_council_content %}
    <div class="territorial-council__main l__wrapper--narrow b__nudge--bottom-huge">
        <div>
            <a href="{{ path('app_territorial_council_index') }}" class="text--body link--no-decor link--blue--dark">⟵ Retour</a>
        </div>

        <div class="l__wrapper--600">
            <h3>Votre candidature</h3>

            <div class="b__nudge--top-40 b__nudge--bottom-huge">
                {% if candidacy %}
                    {% if candidacy.hasPendingInvitation %}
                        {% set adherent = candidacy.invitation.membership.adherent %}

                        <p class="b__nudge--bottom-huge">{{ adherent.fullName }} a été avertie de votre demande de binôme.
                            Vous recevrez un email lorsqu’elle celle-ci aura répondu à votre invitation.</p>

                        <p class="text--bold">Invitation envoyée</p>

                        <div class="b__nudge--bottom-large l__row">
                            {% include 'territorial_council/_member_identity_box.html.twig' with {
                                initials: adherent.initials,
                                full_name: adherent.fullName
                            } %}

                            <div>
                                <a href="{{ path('app_territorial_council_candidature_select_pair_candidate') }}" class="btn btn--ghosting--pink btn--no-wrap">Modifier ma demande de binôme</a>
                            </div>
                        </div>

                        <hr/>

                        <div class="b__nudge--top-large">
                            <a href="{{ path('app_territorial_council_candidature_edit') }}" class="btn btn--pink btn--no-wrap">Modifier ma candidature</a>

                            <a href="{{ path('app_territorial_council_candidature_remove') }}"
                               class="link--no-decor text--gray em-confirm--trigger b__nudge--left-large"
                               data-confirm-title="Candidature"
                               data-confirm-content="Êtes-vous sûr de vouloir retirer votre candidature ?">Retirer ma candidature
                            </a>
                        </div>
                    {% else %}
                        <div class="text--center">
                            <p class="text--gray">Vous n'avez pas encore choisi votre binôme</p>

                            <p>
                                <a href="{{ path('app_territorial_council_candidature_select_pair_candidate') }}" class="btn btn--pink btn--no-wrap box-el">Je choisis un binôme</a>
                            </p>
                        </div>
                    {% endif %}
                {% else %}
                    <p>Lancez votre propre candidature ! Vous pouvez candidater de vous même et alors choisir votre binôme.</p>

                    <p class="text--small text--gray text--center">Aucune candidature en cours</p>

                    <div class="text--center b__nudge--top-15 b__nudge--bottom-larger">
                        {% if app.user.isOtherGender() %}
                            <a href="#" class="btn btn--pink btn--no-wrap em-modal--trigger"
                               data-confirm-content-element="#candidacy-gender-choice-content"
                            >Je candidate en binôme</a>

                            <div class="hidden" id="candidacy-gender-choice-content">
                                <div class="text--center font-roboto">
                                    <p class="b__nudge--top-15 b__nudge--bottom-large text--dark">
                                        Souhaitez-vous candidater en tant que <strong>Femme</strong> ou <strong>Homme</strong> ?
                                    </p>

                                    <div>
                                        <a class="btn btn--ghosting--blue toggleModal b__nudge--right-nano" href="{{ path('app_territorial_council_candidature_edit', {gender: constant('App\\ValueObject\\Genders::FEMALE')}) }}">Femme</a>
                                        <a class="btn btn--ghosting--blue toggleModal b__nudge--right-nano" href="{{ path('app_territorial_council_candidature_edit', {gender: constant('App\\ValueObject\\Genders::MALE')}) }}">Homme</a>
                                    </div>
                                </div>
                            </div>
                        {% else %}
                            <a href="{{ path('app_territorial_council_candidature_edit') }}" class="btn btn--pink btn--no-wrap">Je candidate en binôme</a>
                        {% endif %}
                    </div>
                {% endif %}
            </div>

            <h3 class="b__nudge--bottom-large">Invitations reçues</h3>

            <div>
                <p>Retrouvez ici les invitations à la constitution d’un binôme pour une candidature au Conseil territorial.
                    Vous pouvez choisir d’accepter une invitation et devrez alors compléter votre candidature.</p>

                {% for invitation in invitations %}
                    {% set author_candidacy = invitation.candidacy %}
                    <div class="l__row">
                        <div class="candidate-photo avatar-initials avatar--medium b__nudge--right">
                            <img src="{{ path('asset_url', {path: author_candidacy.imagePath}) }}" alt="photo" />
                        </div>

                        <div class="text--bold">
                            {{ author_candidacy.membership.fullName }}
                        </div>

                        <div>
                            <a href="{{ path('app_territorial_council_candidature_invitation_accept', {uuid: invitation.uuid}) }}" class="btn btn--pink btn--no-wrap">Accepter</a>

                            <a href="{{ path('app_territorial_council_candidature_invitation_decline', {uuid: invitation.uuid}) }}" class="btn btn--ghosting--pink btn--no-wrap em-confirm--trigger"
                               data-confirm-title="Invitation"
                               data-confirm-content="Êtes-vous sûr de vouloir décliner l'invitation ?"
                            >Décliner</a>
                        </div>
                    </div>
                {% else %}
                    <p class="text--small text--gray text--center">Aucune invitation</p>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
