{% extends 'jecoute/_layout.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/sonataadmin/vendor/jqueryui/themes/base/minified/jquery-ui.min.css') }}" />
{% endblock %}

{% block final_javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/jquery.collection.js') }}"></script>

    <script type="text/javascript">
        Kernel.onLoad(function() {
        });
    </script>
{% endblock %}

{% block jecoute_content %}
    {% form_theme form with ['jecoute/_form_theme.html.twig'] %}

    <a href="{{ path("app_jecoute_news_#{space_name}_news_list") }}" class="back-to-list text--blue--dark link--no-decor b__nudge--bottom block">
        ⟵ Retour
    </a>

    <div class="jecoute-survey l__wrapper--slim">
        <div class="form__title b__nudge--bottom-larger">
            <h3 class="text--medium">Suppression d'actualité</h3>
        </div>

        {% if not form.vars.valid %}
            <p class="text--error">Le formulaire est invalide</p>
        {% endif %}

        {{ form_start(form, { attr: { class: 'em-form b__nudge--top-40' } }) }}

            {{ form_widget(form.allow, { label: 'Confirmer', attr: { class: 'btn btn--primary' } }) }}
            {{ form_widget(form.deny, { label: 'Retour', attr: { class: 'btn btn-warning' } }) }}

        {{ form_end(form) }}
    </div>
{% endblock %}
