{% if banner.isDisplayBlock %}
    {% if banner.media and banner.media.video %}
        {{ include('video.html.twig', {block: banner}) }}
    {% else %}
        <div class="newsletter__banner background--{{ banner.bgColor|default('green') }}" id="header-banner" >
            <div class="l__wrapper l__row l__row--h-stretch space--30-0">
                <div class="text--large text--bold text--limited text--{{ banner.colorCta|default('black') }}">
                    {{ banner.title }}
                </div>

                <div class="l__row l__row--wrap">
                    <a href="{{ banner.link }}" target="_blank" rel="noreferrer noopener" class="btn btn--large btn--{{ banner.colorCta }}">
                        {{ banner.titleCta }}
                    </a>

                    <a href="javascript:void(0)" class="btn__icon btn__icon--dark newsletter__banner__btn" id="header-banner-close-btn">
                        {{ include('components/close.html.twig') }}
                    </a>
                </div>
            </div>
        </div>
    {% endif %}
{% endif %}
