<div class="l__wrapper--slim">
    <strong>Nom :</strong> {{ volunteerRequest.lastName }}<br>
    <strong>Prénom :</strong> {{ volunteerRequest.firstName }}<br>
    <strong>Téléphone :</strong> {{ volunteerRequest.phone ? volunteerRequest.phone|phone_number_format : '' }}<br>
    <strong>Profession :</strong> {{ volunteerRequest.profession }}<br>
    <strong>Thèmes favoris :</strong>
    <ul>
    {% for favoriteTheme in volunteerRequest.favoriteThemes %}
        <li>{{ favoriteTheme.name }}</li>
    {% endfor %}
    </ul><br>
    <strong>Thèmes favoris personnalisés :</strong><blockquote>{{ volunteerRequest.customFavoriteTheme }}</blockquote><br>
    <strong>Compétences techniques :</strong>
    <ul>
    {% for technicalSkill in volunteerRequest.technicalSkills %}
        <li>{{ technicalSkill.name }}</li>
    {% endfor %}
    </ul><br>
    <strong>Fait partie d'une précédente campagne ?</strong> {{ volunteerRequest.isPreviousCampaignMember ? 'Oui' : 'Non' }}<br>
    <strong>Domaine de l'association locale :</strong><blockquote>{{ volunteerRequest.previousCampaignDetails }}</blockquote><br>
    <strong>Partage l'engagement associatif ?</strong> {{ volunteerRequest.shareAssociativeCommitment ? 'Oui' : 'Non' }}<br>
    <strong>Détail de l'engagement associatif :</strong><blockquote>{{ volunteerRequest.associativeCommitmentDetails }}</blockquote><br>
</div>
