{% extends 'base_renaissance.html.twig' %}

{% block app_title 'Renaissance' %}

{% block open_graph %}
    <meta property="og:image" content="{% block open_graph_image default_sharer_image %}" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:image" content="{{ block('open_graph_image') }}" />
{% endblock %}

{% block header %}
    <header class="w-full fixed z-30 border-b-2 border-black bg-white">
        <div class="max-w-8xl flex items-center mx-auto pt-0 px-6 md:px-6 md:py-6 md:h-[80px] h-[56px] ">
            <img src="{{ asset('/images/renaissance/logo-dark.svg') }}" alt="logo" />
        </div>
    </header>
{% endblock %}

{% block flash_message '' %}

{% block content %}
    <main class="flex flex-col bg-[#F4F5F7] pt-[58px] md:pt-[82px]">
        {% block sub_content '' %}

        <footer class="flex flex-col bg-black items-center md:justify-center gap-[56px] py-[80px] text-white text-sm border-t-[2px] border-white z-10">
            {# --------------- SOCIALS -------------- -#}
            <div class="flex bg-black items-center md:justify-center gap-[40px]">
                {{ include('renaissance/national_event/partials/sn_links.html.twig') }}
            </div>

            <div class="h-[2px] md:hidden bg-white/25 w-3/4"></div>

            {# --------------- PARTENERS -------------- -#}
            <div class="flex flex-col flex-wrap md:flex-row bg-black items-center md:justify-center gap-x-[40px]">
                <img src="{{ asset('images/icons/bde/parteners/LOGO_RENAISSANCE.svg') }}" alt="Logo Renaissance">
                <img src="{{ asset('images/icons/bde/parteners/LOGO_MODEM.svg') }}" alt="Logo MoDem">
                <img src="{{ asset('images/icons/bde/parteners/LOGO_HORIZONS.svg') }}" alt="Logo Horizons">
                <img src="{{ asset('images/icons/bde/parteners/LOGO_UDI.png') }}" alt="Logo UDI">
                <img src="{{ asset('images/icons/bde/parteners/LOGO_PARTI_RADICAL.svg') }}" alt="Logo Parti Radical">
            </div>

            <div class="h-[2px] md:hidden bg-white/25 w-3/4"></div>

            {# --------------- LINKS -------------- -#}
            <div class="flex flex-col gap-[40px] md:gap-[24px] justify-center items-center">
                <div class="flex flex-col md:flex-row bg-black items-center md:justify-center gap-[40px]">
                    <a href="https://parti-renaissance.fr/cgu" target="_blank">CGU</a>
                    <a href="https://parti-renaissance.fr/mentions-legales" target="_blank">Mentions légales</a>
                    <a href="https://parti-renaissance.fr/politique-de-protection-des-donnees" target="_blank">Données personnelles</a>
                </div>
                <span>© {{ 'now'|date('Y') }} RENAISSANCE</span>
            </div>
        </footer>
    </main>
{% endblock %}
