<div class="l__wrapper--600">
    <div class="header-bloc">
        <a href="{{ path('app_assessor_request_back') }}" class="back text--medium-small">&larr; Précédent</a>
        <div class="title">
            <h1 class="text--medium">Informations assesseur(e)</h1>
            <span class="step text--medium text--normal text--light-gray">2/3</span>
        </div>
    </div>

    {{ form_start(form) }}
        {{ form_errors(form) }}
        <div class="l__row l__row--top l__row--h-stretch l__mobile--col">
            <div class="l__row--h-stretch register__form--full">
                <p class="b__nudge--bottom-tiny text--bold">Pays où vous souhaitez être assesseur(e)</p>
                {{ form_widget(form.assessorCountry, { attr: { class: 'form--full' } }) }}
            </div>
        </div>

        <div class="french-block l__row l__row--top l__row--h-stretch l__mobile--col">
            <div class="l__row--h-stretch register__form--full">
                <p class="b__nudge--bottom-tiny text--bold">Code postal</p>
                {{ form_widget(form.assessorPostalCode, { attr: { placeholder: 'Code postal où vous souhaitez être assesseur(e)' } }) }}
                {{ form_errors(form.assessorPostalCode) }}
            </div>
        </div>

        <div class="french-block l__row l__row--top l__row--h-stretch l__mobile--col">
            <div class="l__row--h-stretch register__form--full">
                <p class="b__nudge--bottom-tiny text--bold">Ville</p>
                {{ form_widget(form.assessorCity, { attr: { placeholder: 'Ville où vous souhaitez être assesseur(e)' } }) }}
                {{ form_errors(form.assessorCity) }}
            </div>
        </div>

        <div class="l__row l__row--top l__row--h-stretch l__mobile--col vote-place-wishes">
            <div class="l__row--h-stretch register__form--full">
                <p class="b__nudge--bottom-tiny text--bold">Bureaux de votes disponibles</p>
                {{ form_widget(form.votePlaceWishes, { attr: { class: 'multi_vote_place_wishes' } }) }}
                {{ form_errors(form.votePlaceWishes) }}
                <p class="text--small text--gray">
                    Sont affichés les bureaux de vote qui correspondent au code postal ou à la liste consulaire
                    que vous avez renseigné(e) ci-dessus. Si le votre n'apparaît pas, n'hésitez pas à nous contacter !
                </p>
            </div>
        </div>

        <div class="l__row l__row--top l__row--h-stretch l__mobile--col">
            <div class="l__row--h-stretch register__form--full">
                <p class="b__nudge--bottom-tiny text--bold">Fonction</p>
                {{ form_widget(form.office) }}
                {{ form_errors(form.office) }}
            </div>
        </div>

        <div class="form__row form__checkbox b__nudge--top-large">
            {{ form_widget(form.acceptValuesCharter) }}
            <label for="{{ form.acceptValuesCharter.vars.id }}">
                J'ai pris connaissance de la Charte des valeurs de LaREM et je suis informé que j’engage ma responsabilité pour tout propos injurieux, diffamatoire, illicite ou contraire à l’ordre public et aux bonnes mœurs.
            </label>
            {{ form_errors(form.acceptValuesCharter) }}
        </div>

        <p class="text--small text--light-gray text--justify">
            Les données recueillies sur ce formulaire sont traitées par LaREM dans le cadre de l’utilisation du service
            de l’Atelier des idées et permettent à LaREM de vous contacter à ce sujet. Conformément à la règlementation, vous disposez d'un droit d'opposition et d'un droit à la limitation du
            traitement de données vous concernant, ainsi que d'un droit d'accès, de rectification, de portabilité et
            d'effacement de vos données. Vous disposez également de la faculté de donner des directives sur le sort de vos données après votre décès.
            Vous pouvez exercer vos droits en nous adressant votre demande accompagnée d'une copie de votre pièce d'identité
            à l'adresse postale ou électronique suivante :
            La République En Marche, 63 rue Sainte-Anne, 75002 Paris, France et mes-donnees@en-marche.fr.
        </p>

        <div class="text--center b__nudge--top-large">
            {{ form_widget(form.fill_assessor_info, { attr: {class: 'btn btn--medium newbtn--blue-dark'}}) }}
        </div>

    {{ form_end(form) }}
</div>
