<div class="l__wrapper--600">
    <div class="header-bloc">
        <a href="{{ path('app_assessor_request_back') }}" class="back text--medium-small">&larr; Précédent</a>
        <div class="title">
            <h1 class="text--medium">Informations assesseur(e)</h1>
            <span class="step text--medium text--normal text--light-gray">2/3</span>
        </div>
    </div>

    {{ form_start(form) }}
        {{ form_errors(form) }}
        <div class="l__row l__row--top l__row--h-stretch l__mobile--col">
            <div class="l__row--h-stretch register__form--full">
                <p class="b__nudge--bottom-tiny text--bold">Pays où vous souhaitez être assesseur(e) <span class="text--normal">*</span></p>
                {{ form_widget(form.assessorCountry, { attr: { class: 'form--full' } }) }}
            </div>
        </div>

        <div class="french-block l__row l__row--top l__row--h-stretch l__mobile--col">
            <div class="l__row--h-stretch register__form--full">
                <p class="b__nudge--bottom-tiny text--bold">Code postal <span class="text--normal">*</span></p>
                {{ form_widget(form.assessorPostalCode, { attr: { placeholder: 'Code postal où vous souhaitez être assesseur(e)' } }) }}
                {{ form_errors(form.assessorPostalCode) }}
            </div>
        </div>

        <div class="french-block l__row l__row--top l__row--h-stretch l__mobile--col">
            <div class="l__row--h-stretch register__form--full">
                <p class="b__nudge--bottom-tiny text--bold">Ville <span class="text--normal">*</span></p>
                {{ form_widget(form.assessorCity, { attr: { class: 'select-assessor-city', placeholder: 'Ville où vous souhaitez être assesseur(e)' } }) }}
                {{ form_errors(form.assessorCity) }}
                <p class="text--small text--gray">
                    Les villes disponibles le sont en fonction du code postal que vous avez entré. Si celle de
                    votre choix n'apparaît pas, vérifiez que vous avez sélectionné le bon code postal.
                </p>
            </div>
        </div>

        <div class="l__row l__row--top l__row--h-stretch l__mobile--col vote-place-wishes">
            <div class="l__row--h-stretch register__form--full">
                <p class="b__nudge--bottom-tiny text--bold">Bureaux de votes disponibles <span class="text--normal">*</span></p>
                {{ form_widget(form.votePlaceWishes, { attr: { class: 'select-vote-place-wishes' } }) }}
                {{ form_errors(form.votePlaceWishes) }}
                <p class="text--small text--gray">
                    Sont affichés les bureaux de vote qui correspondent au code postal ou à la liste consulaire
                    que vous avez renseigné(e) ci-dessus. Si le votre n'apparaît pas, n'hésitez pas à nous contacter !
                </p>
            </div>
        </div>

        <div class="l__row l__row--top l__row--h-stretch l__mobile--col">
            <div class="l__row--h-stretch register__form--full">
                <p class="b__nudge--bottom-tiny text--bold">Fonction <span class="text--normal">*</span></p>
                {{ form_widget(form.office) }}
                {{ form_errors(form.office) }}
                <p class="text--small text--gray">
                    Attention, en sélectionnant la fonction de titulaire, vous vous engagez à être présent(e) au
                    bureau de vote durant toute la journée électorale. Pour obtenir plus d'informations sur le rôle de
                    l'assesseur, <a href="https://storage.googleapis.com/en-marche-fr/guide_assesseur.pdf" target="_blank">cliquez ici</a>.
                </p>
            </div>
        </div>

        <div class="form__row form__checkbox b__nudge--top-large">
            {{ form_widget(form.reachable) }}
            <label for="{{ form.reachable.vars.id }}">
                J'accepte d'être recontacté par LaREM pour les prochaines échéances électorales.
            </label>
            {{ form_errors(form.reachable) }}
        </div>

        <div class="form__row form__checkbox b__nudge--top-large">
            {{ form_widget(form.acceptDataTreatment) }}
            <label for="{{ form.acceptDataTreatment.vars.id }}">
                Je consens au traitement de mes données personnelles et à la communication de celles-ci à la mairie/au bureau de vote qui sera attribué(e) à ma candidature.
            </label>
            {{ form_errors(form.acceptDataTreatment) }}
        </div>

        <div class="form__row form__checkbox b__nudge--top-large">
            {{ form_widget(form.acceptValuesCharter) }}
            <label for="{{ form.acceptValuesCharter.vars.id }}">
                J'ai pris connaissance et accepte la Charte des valeurs de LaREM et je suis informé que j'engage ma responsabilité pour tout propos injurieux, diffamatoire, illicite ou contraire à l'ordre public et aux bonnes mœurs.
            </label>
            {{ form_errors(form.acceptValuesCharter) }}
        </div>

        <p class="b__nudge--top-large text--small text--gray text--justify">
            Les informations recueillies via le formulaire ci-dessus et le formulaire précédent sont utilisées par
            LaREM afin de traiter votre demande de devenir assesseur dans un bureau de vote lors des
            élections européennes.<br/><br/>

            Les champs marqués d'un astérisque (*) sont obligatoires, tout défaut de réponse ne permettra pas à LaREM
            de traiter votre demande.<br/><br/>

            Conformément aux dispositions légales et règlementaires relatives à la protection des données personnelles,
            vous disposez d'un droit d'accès, de rectification, d'effacement et de portabilité de vos données,
            ainsi que d'un droit d'opposition et d'un droit à la limitation du traitement des données vous concernant.
            Vous du droit de donner des directives sur le sort de vos données après votre décès.<br/><br/>

            Pour plus d'informations sur le traitement de vos données personnelles, vous pouvez consulter la
            Politique de protection des données à l'adresse <a href="https://en-marche.fr/politique-protection-donnees" target="_blank" rel="noopener noreferrer" class="link--no-decor">https://en-marche.fr/politique-protection-donnees</a> et
            exercer vos droits en nous adressant votre demande accompagnée d'une copie de votre pièce d'identité à
            l'adresse électronique suivante: <a target="_blank" class="link--no-decor" href="mailto:mes-donnees@en-marche.fr">mes-donnees@en-marche.fr</a>
        </p>

        <div class="text--center b__nudge--top-large">
            {{ form_widget(form.fill_assessor_info, { attr: {class: 'btn btn--medium newbtn--blue-dark'}}) }}
        </div>

    {{ form_end(form) }}
</div>
