<!DOCTYPE html>
<html lang="fr-FR" prefix="og: http://ogp.me/ns#">

<head>
    <meta charset="UTF-8">
    <base href="/">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('apple-touch-icon.png') }}?v2" />
    <link rel="icon" type="image/png" href="{{ asset('favicon-32x32.png') }}?v2" sizes="32x32" />
    <link rel="icon" type="image/png" href="{{ asset('favicon-16x16.png') }}?v2" sizes="16x16" />
    <link rel="manifest" href="{{ asset('manifest.json') }}?v2" />
    <link rel="mask-icon" href="{{ asset('safari-pinned-tab.svg') }}?v2" color="#ff3680" />
    <meta name="theme-color" content="#ffffff" />
    <link rel="profile" href="https://gmpg.org/xfn/11">
    <!-- This site is optimized with the Yoast SEO plugin v3.1.2 - https://yoast.com/wordpress/plugins/seo/ -->
    <title>Adherer au mouvement politique En marche ?</title>
    <meta property="og:locale" content="fr_FR"/>
    <meta property="og:site_name" content="En Marche !" />
    <meta property="og:type" content="{% block open_graph_type %}website{% endblock %}" />
    <meta property="og:url" content="{% block open_graph_url %}{{ block('canonical_url') }}{% endblock %}" />
    <meta property="og:title" content="{% block open_graph_title %}{{ block('title') }}{% endblock %}" />
    <meta property="og:description" content="{% block open_graph_description %}{{ block('meta_description') }}{% endblock %}" />
    <meta property="og:image" content="{% block open_graph_image %}{{ url('homepage')|trim('/') ~ asset('images/default_sharer.jpg') }}{% endblock %}" />
    <meta property="og:image:width" content="{% block open_graph_image_width %}628{% endblock %}" />
    <meta property="og:image:height" content="{% block open_graph_image_height %}288{% endblock %}" />
    {% block open_graph %}{% endblock %}

    <meta property="fb:pages" content="543099962534877" />

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content="{{ block('open_graph_title') }}" />
    <meta name="twitter:description" content="{{ block('open_graph_description') }}" />
    <meta name="twitter:image:src" content="{{ block('open_graph_image') }}" />
    <meta name="description"
          content="Adherez au mouvement politique En marche ou devenez un marcheur. Engagez-vous pour le futur de la France !"/>
    <!-- / Yoast SEO plugin. -->
    <link rel='stylesheet' id='cff-font-awesome-css'
          href='//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css?ver=4.2.0' type='text/css'
          media='all'/>
    <link rel='stylesheet' id='bootstrap-css'
          href='{{ asset('legacy/bootstrap.min.css') }}' type='text/css'
          media='all'/>
    <link rel='stylesheet' id='theme-css' href='{{ asset('legacy/theme.min.css') }}'
          type='text/css' media='all'/>
    <script type='text/javascript' src='{{ asset('legacy/jquery.min.js') }}'></script>
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function () {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-72646335-1', 'auto');
        ga('send', 'pageview', {
            'page': '/j\'adhère/'
        });
    </script>

    <script src="{{ asset('legacy/jquery.validate.min.js') }}"></script>
    <script src="{{ asset('legacy/feed.min.js') }}"></script>
    <script src="{{ asset('legacy/adhesion.min.js') }}"></script>

    <!-- temporary override styles -->
    <style type="text/css">
        .layout-container {
            padding-top: 0 !important;
        }
        .form-group,
        .form-group-material {
            margin-bottom: 35px;
        }

        .new-form .label {
            color: black;
            font-size: 100%;
            font-weight: normal;
            white-space: normal;
        }

        .new-form .form-join > div {
            /*overflow-x: hidden;*/
        }

        .new-form form {
            max-width: 530px;
            margin: auto;
        }

        .new-form form .checkbox,
        .new-form form .radio {
            margin-top: 0;
            margin-bottom: 5px;
        }

        .new-form [vc-recaptcha] {
            max-width: 530px;
            margin: auto;
        }

        .interets-label {
            font-weight: normal;
        }

        .buttons {
            margin: 20px 0;
        }

        @media screen and (min-width: 480px) {
            .split-3 {
                columns: 2;
            }
        }
    </style>
</head>

<body class="page page-id-187 page-template-default">
<div id="off-canvas-left-menu" class="navmenu navmenu-main navmenu-default navmenu-fixed-left offcanvas-lg">
    <a class="navmenu-close" data-toggle="offcanvas" data-target=".navmenu-main" href="#">+</a>
    <div class="menu-menu-principal-container">
        <ul class="nav navbar-nav">
            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-19"><a href="/le-mouvement">En Marche</a></li>
            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-17"><a href="/emmanuel-macron">Emmanuel Macron</a></li>
            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-16"><a href="/articles/actualites">Actualités</a></li>
            <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2743"><a href="https://adherents.en-marche.fr">Nos comités</a></li>
            <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2608"><a href="/le-mouvement/notre-organisation">Notre organisation</a></li>
            <li class="burger-menu hidden menu-item menu-item-type-custom menu-item-object-custom menu-item-1280"><a href="/adherer.html">J’adhère</a></li>
            <li class="burger-menu hidden menu-item menu-item-type-post_type menu-item-object-page menu-item-1281"><a href="/don">Je donne</a></li>
        </ul>
    </div>
</div>
<div class="layout-container">
    <div class="layout-main">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
                    <div style="text-align: center; ">
                        <img src="{{ asset('logo/large_bg_white.jpg') }}" style="width: 250px; margin-bottom: 50px;" />
                    </div>

                    <div class="adhesion-accueil">
                        <div class="adhesion-accueil-pre">
                            <h2 class="section-title">Bienvenue: devenez adhérent !</h2>
                            <!--                                <h3 class="article-title | color_black"></h3>-->
                            <p class="fontsize_16 | color_grey">Nous voulons qu’En Marche soit un mouvement ouvert à
                                tous, sans exception.</p>
                            <ol class="counter-left">
                                <li>Adhérer c’est gratuit.</li>
                                <li>Participer activement à la vie du mouvement.</li>
                                <li>Disposer d’outils de participation.</li>
                                <li>Participer à l’Assemblée Générale.</li>
                                <li>Etre tenu au courant de l’actualité du mouvement.</li>
                            </ol>
                        </div>
                        <div class="adhesion-accueil-form">
                            <p class="fontsize_16 | little-title">Notre charte pour avancer ensemble:</p>
                            <p class="fontsize_16 | color_grey">En Marche est un collectif citoyen qui part d’une
                                conviction : les Français doivent être au cœur de la vie politique, et non son décor.
                                <br>Ce collectif n’est pas l’addition d’individus, mais le rassemblement de personnes
                                engagées qui partagent un socle de valeurs.</p>
                            <!-- TODO charte pdf -->
                            <a class="fontsize_16 | lightgrey" target="_blank"
                               href="{{ asset('legacy/charte.pdf') }}">Télécharger l’intégralité de la
                                charte et les règles de fonctionnement<i class="emi emi-angle-right"></i></a>
                            <h4 class="little-title">Complétez les informations ci-dessous pour devenir adhérent:</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="new-form" ng-app="app">
            <user-register hide-intro="true"></user-register>
        </div>
        <div class="mentions container">
            <h4 class="title">Mentions légales</h4>
            <p>Les informations que vous nous communiquez sont nécessaires à la gestion de vos dons et de nos relations.
                Elles sont exclusivement réservées à l'usage de En Marche et en retournant ce formulaire, vous autorisez
                celles-ci à utiliser vos données pour des opérations de communication politique et de dons. Vos
                informations ne pourront être communiquées qu'à des co-contractants qui, en leur qualité de
                sous-traitants de En Marche, n'agiront que sur les instructions de cette dernière et seront soumis à une
                stricte obligation de confidentialité. En application des articles 38 et suivants de la loi du 6 janvier
                1978, vous bénéficiez des droits d'accès, de rectification, de suppression et d'opposition aux
                informations vous concernant. Vous pouvez exercer ces droits en nous écrivant à l'adresse : <a
                        href="mailto:contact@en-marche.fr">contact@en-marche.fr</a> ou En Marche – BP 80 049 – 94801
                Villejuif.</p>
        </div>
    </div>
    <div class="layout-footer">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-lg-10 col-lg-offset-1">
                    <ul class="list-inline">
                        <li class="label"><a href="{{ asset('legacy/bulletin-adhesion-EMa.pdf') }}">Vous
                                pouvez également adhérer en téléchargeant ce bulletin</a></li>
                    </ul>
                    <ul class="list-inline links">
                        <li style="text-align: left; width: 30%">©En Marche</li>
                        <li style="text-align: center; width: 30%"><a href="https://en-marche.fr/mentions-legales">Mentions Légales <i
                                        class="emi emi-angle-right"></i></a></a>
                        </li>
                        <li style="text-align: right; width: 30%">Contact presse : 0186958423</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<script type='text/javascript' src='{{ asset('legacy/vendors.min.js') }}'></script>
<script type='text/javascript' src='{{ asset('legacy/app.min.js') }}'></script>
<script type='text/javascript' src='{{ asset('legacy/dons.min.js') }}'></script>
<script src="//www.google.com/recaptcha/api.js?render=explicit&onload=vcRecaptchaApiLoaded" async defer></script>
<script src="//adherents.en-marche.fr/espaceperso/vendor.bundle.js?ver=2.5.2"></script>
<script src="//adherents.en-marche.fr/espaceperso/bundle.js?ver=2.5.2"></script>
<script>
    (function(e,c,a,g,f){function d(){var b=c.createElement("script");b.async=!0;
        b.src="//radar.cedexis.com/1/22286/radar.js";c.body.appendChild(b)}
        (function(){for(var b=[/\bMSIE (5|6)/i],a=b.length;a--;)if(b[a]
                .test(navigator.userAgent))return!1;return!0})()
        &&("complete"!==c.readyState?(a=e[a])?a(f,d,!1):(a=e[g])&&a("on"+f,d):d())})
    (window,document,"addEventListener","attachEvent","load");
</script>
<!-- ©&© -->
</body>

</html>
