{% extends 'base.html.twig' %}

{% block page_title 'Les propositions d\'Emmanuel Macron' %}
{% block meta_description 'Le moment que nous vivons est celui d’une refondation profonde de la France. Voici celle que nous vous proposons.' %}

{% block canonical_url url('page_programme') %}

{% block open_graph_image %}{% spaceless %}
    {{ url('homepage')|trim('/') }}{{ static_asset('programme.jpg', {'w': 1200, 'h': 630})|raw }}
{% endspaceless %}{% endblock %}
{% block open_graph_image_width 1200 %}
{% block open_graph_image_height 630 %}

{% block javascripts %}
    <script type="text/javascript">
        function controller(app) {
            app.home();
        }
    </script>
{% endblock %}

{% block content %}
<main>
    <section class="content programme">
        <header class="space--30-0" style="background-image: url('{{ static_asset('programme.jpg') }}');">
            <div class="l__wrapper--slim">
                <h1 class="text--larger b__nudge--bottom-small">
                    Les propositions d’Emmanuel Macron<br />
                    #Révolution
                </h1>
                <p class="text--body">
                    Le moment que nous vivons est celui d’une refondation profonde de la France.<br />
                    Voici celle que nous vous proposons.
                </p>
            </div>
        </header>

        <div class="l__wrapper--slim">
            <ul>
                {% for proposal in proposals %}
                <li class="programme-proposal">
                    <a href="{{ path('page_proposal', {'slug': proposal.slug}) }}">
                        <h2>
                            {{ proposal.title }}
                        </h2>
                        <div>
                            {% for theme in proposal.themes %}
                                <span style="background: #{{ theme.color }};">
                                    {{ theme.name }}
                                </span>
                            {% endfor %}
                        </div>
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
        <div class="l__wrapper--slim space--60-0">
            <span class="more">Cet espace accueillera de nouvelles propositions dans les semaines qui viennent.</span>
        </div>

    </section>

</main>
{% endblock %}
