{% extends 'security/campaign/layout.html.twig' %}

{% block title 'Réinitialiser mon mot de passe' %}

{% form_theme form 'renaissance/forms/tailwind_form_theme.html.twig' %}

{% block security_block_title %}
    <span>Je réinitialise</span>
    <span class="bg-vox-yellow-200 px-2 py-1 whitespace-nowrap">mon mot de passe</span>
{% endblock %}

{% block security_content %}
    {{ form_start(form, {attr: {class: 'flex flex-col gap-4 w-full'}}) }}
        {{ form_errors(form) }}

        <div class="flex flex-col gap-2">
            {{ form_row(form.password.first, {label: false, attr: {
                placeholder: 'Nouveau mot de passe',
                validate: "['required']",
            }}) }}

            {{ form_row(form.password.second, {label: false, attr: {
                placeholder: 'Confirmation',
                validate: "['required']",
            }}) }}
        </div>

        {{ form_row(form.submit, {label: 'Créer mon mot de passe', attr: {class: 'w-full rounded-full py-3.5 text-[16px] font-semibold bg-vox-blue-600 text-white hover:enabled:bg-vox-blue-700'}}) }}
    {{ form_end(form) }}
{% endblock %}
