{% extends 'security/campaign/layout.html.twig' %}

{% block title 'Connectez-vous avec un lien magique' %}

{% form_theme form 'renaissance/forms/tailwind_form_theme.html.twig' %}

{% block security_block_title %}
    <span>Je me connecte</span>
    <span class="bg-vox-yellow-200 px-2 py-1 whitespace-nowrap">avec un lien</span>
{% endblock %}

{% block security_content %}
    {{ form_start(form, {attr: {class: 'flex flex-col gap-4 w-full'}}) }}
        {% if error is defined %}
            <twig:ReParagraphStatus status="error" icon>
                {{- error.messageKey|trans(error.messageData)|raw -}}
            </twig:ReParagraphStatus>
        {% endif %}

        {{ form_row(form, {
            attr: {
                placeholder: 'Adresse email',
                autocomplete: 'email',
            }, label: false}) }}

        <twig:ReButton
            color="blue"
            class="w-full rounded-full py-3.5 text-[16px] font-semibold bg-vox-blue-600 text-white hover:enabled:bg-vox-blue-700"
            icon="link-circle"
        >M’envoyer un lien</twig:ReButton>
    {{ form_end(form) }}

    <a href="{{ path('app_renaissance_login', {app_domain: app.request.attributes.get('app_domain', app.request.host)}) }}" class="mt-8 self-center text-vox-blue-600 hover:underline text-[14px] font-semibold">← Page précédente</a>
{% endblock %}
