{% extends 'referent/_layout.html.twig' %}

{% block javascripts %}
    {% import 'javascript.js.twig' as js %}
    <script type="text/javascript">
        Kernel.onLoad(function() {
            {{ js.address(form.address) }}
            App.startDateFieldsSynchronisation('{{ form.beginAt.vars.full_name|e('js') }}', '{{ form.finishAt.vars.full_name|e('js') }}')
        });
    </script>
{% endblock %}

{% block referent_content %}
    {% set is_edit_view = form.vars.view == constant('AppBundle\\Form\\InstitutionalEventCommandType::EDIT_VIEW') %}

    <a href="{{ path('app_referent_institutional_events') }}" class="back-to-list text--blue--dark link--no-decor b__nudge--bottom">
         ⟵ Annuler
    </a>

    <div class="l__wrapper--slim">
        <h3>
            {% if is_edit_view %}
                Modifier la réunion privée
            {% else %}
                Créer une réunion privée
            {% endif %}
        </h3>

        {{ form_start(form, { attr: { class: 'b__nudge--top-40'} }) }}
        {{ form_errors(form) }}

        <div class="form__row" id="institutional_event-name-field">
            {{ form_errors(form.name) }}
            {{ form_label(form.name, "Nom de l'événement institutionnel", { label_attr: { class: 'text--bold' }}) }}
            {{ form_widget(form.name, { attr: { class: 'form--full committee_event__form__name', placeholder: "Entrez le nom de l'événement institutionnel" } }) }}
        </div>

        <div class="form__row" id="institutional_event-description-field">
            {{ form_errors(form.category) }}
            {{ form_label(form.category, 'Type', { label_attr: { class: 'text--bold' }}) }}
            {{ form_widget(form.category, { attr: { class: 'form--full committee_event__form__category', placeholder: "Choisissez le type de l'événement institutionnel" } }) }}
        </div>

        <div class="form__row form__date-and-time" id="institutional_event-beginat-field">
            {{ form_errors(form.beginAt) }}
            {{ form_label(form.beginAt, 'Début', { label_attr: { class: 'text--bold' }}) }}
            {{ form_widget(form.beginAt, { attr: { class: 'form__group event__begin_at', autocomplete: 'off' } }) }}
        </div>

        <div class="form__row form__date-and-time" id="institutional_event-event-finishat-field">
            {{ form_errors(form.finishAt) }}
            {{ form_label(form.finishAt, 'Fin', { label_attr: { class: 'text--bold' }}) }}
            {{ form_widget(form.finishAt, { attr: { class: 'form__group event__finish_at', autocomplete: 'off' } }) }}
        </div>

        <div id="institutional_event-address">
            {{ form_errors(form.address) }}

            <div class="form__row committee_event__form--trunc" id="institutional_event-address-address-field">
                {{ form_errors(form.address.address) }}
                {{ form_label(form.address.address, 'Adresse', { label_attr: { class: 'text--bold' }}) }}
                {{ form_widget(form.address.address, { attr: { class: 'form--full', placeholder: "Entrez l'adresse de l'événement institutionnel" } }) }}
            </div>

            <div class="form__group dual__fields">
                <div class="form__row committee_event__form__zip_code b__nudge--right-nano register__form--third" id="institutional_event-address-zipcode-field">
                    {{ form_label(form.address.postalCode, 'Code postal', { label_attr: { class: 'text--bold' }}) }}
                    {{ form_widget(form.address.postalCode, { attr: { class: 'form--full', placeholder: 'Entrez le code postal' } }) }}
                </div>
                <div class="form__row committee_event__form__city b__nudge--right-nano register__form--third" id="institutional_event-address-city-field">
                    {{ form_errors(form.address.city) }}
                    {{ form_label(form.address.cityName, 'Ville', { label_attr: { class: 'text--bold' }}) }}
                    {{ form_widget(form.address.city, { attr: { class: 'committee_event__form__city'}}) }}
                    {{ form_widget(form.address.cityName, { 'attr': { 'class': 'form--full', placeholder: 'Ville' } }) }}
                </div>
            </div>

            <div class="form__group dual__fields">
                <div class="form__row committee_event__form__country register__form--third " id="institutional_event-address-country-field">
                    {{ form_errors(form.address.country) }}
                    {{ form_label(form.address.country, 'Pays', { label_attr: { class: 'text--bold' }}) }}
                    {{ form_widget(form.address.country, { attr: { class: 'form--full', placeholder: 'Choisissez le pays' } }) }}
                </div>
                <div class="form__row committee_event__form__timezone register__form--third"
                     id="committee_event-address-timezone-field">
                    {{ form_errors(form.timeZone) }}
                    {{ form_label(form.timeZone, 'Fuseau horaire', { label_attr: { class: 'text--bold' }}) }}
                    {{ form_widget(form.timeZone, { attr: { class: 'form--full', placeholder: 'Choisissez le fuseau horaire' } }) }}
                </div>
            </div>
        </div>

        <div class="form__row b__nudge--top-15" id="institutional_event-description-field">
            {{ form_errors(form.description) }}
            {{ form_label(form.description, 'À propos', { label_attr: { class: 'text--bold' }}) }}
            {{ form_widget(form.description, { attr: { class: 'form--full form__field--textarea-300', placeholder: 'Entrez un paragraphe afin de décrire cet événement institutionnel.', rows: '20', cols: '70' } }) }}
        </div>

        <div class="form__row b__nudge--top-15" id="institutional_event-invitations-field">
            {{ form_label(form.invitations, 'Invitations', { label_attr: { class: 'text--bold' }}) }}
            <p class="text--small text--muted b__nudge--top-0">
                Pour la liste des invités, vous devez saisir leurs adresses emails séparées par des points virgules.<br/>
                Exemple : <span class="text--bold">jean@exemple.fr;michel@exemple.fr;marcel@exemple.fr</span>
            </p>
            {{ form_widget(form.invitations, { attr: { class: 'form--full form__field--textarea-120', placeholder: 'Entrez ici les adresses emails des invités séparées par des points virgules.', rows: '20', cols: '70' } }) }}
            {{ form_errors(form.invitations) }}
        </div>

        {% if is_edit_view %}
            <p class="b__nudge--top-large text--small text--error">
                <strong>Attention</strong>, vous éditez un événement pour lequel les invitations ont déjà été envoyées.
                Toute nouvelle modification entraînera l'envoi d'un nouveau mail.
            </p>
        {% endif %}

        <div class="form__row text--center b__nudge--top-50">
            <button type="submit" class="btn btn--blue btn--large-and-full">
                {% if is_edit_view %}
                    Modifier cet événement institutionnel
                {% else %}
                    Créer cet événement institutionnel
                {% endif %}
            </button>
        </div>

        {{ form_end(form) }}
    </div>
{% endblock %}
