{% extends 'procuration_manager/_layout.html.twig' %}

{% block procuration_manager_content %}
    {% if requests|length == 0 %}
        <div class="text--body text--center">
            Vous n'avez aucune demande(s) de procuration à traiter.
        </div>
    {% else %}
        <div class="text--body text--center b__nudge--bottom-large">
            Vous avez {{ countToProcess }} demande(s) de procuration à traiter.
        </div>

        <table class="datagrid__table">
            <thead>
            <tr>
                <th class="datagrid__table__col--hide-mobile" style="width: 100px;">Numéro</th>
                <th class="datagrid__table__col--left">Coordonnées du demandeur</th>
                <th>Statut de la demande</th>
                <th>Mandataires</th>
                <th class="datagrid__table__col--left">Scrutins concernés</th>
                <th class="datagrid__table__col--hide-mobile">Date de la demande</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for request in requests %}
            <tr>
                <td class="datagrid__table__col--hide-mobile">
                    {{ request.data.id }}
                </td>
                <td class="datagrid__table__col--left">
                    {{ request.data.firstNames }} {{ request.data.lastName }}<br />
                    <span class="datagrid__table__col--hide-mobile">
                        <em>Lieu de vote :</em>
                        {{ request.data.votePostalCode }} {{ request.data.voteCityName }} {{ request.data.voteCountry }}
                    </span>
                </td>
                <td>
                    {% if not request.data.processed %}
                        <strong>En attente</strong>
                    {% else %}
                        Traitée
                    {% endif %}
                </td>
                <td>
                    {{ request.matchingProxiesCount }}
                </td>
                <td class="datagrid__table__col--left">
                    {% if request.data.electionPresidentialFirstRound and request.data.electionPresidentialSecondRound %}
                        Pésidentielle : 1er et 2nd tour<br />
                    {% elseif request.data.electionPresidentialFirstRound %}
                        Pésidentielle : 1er tour<br />
                    {% elseif request.data.electionPresidentialSecondRound %}
                        Pésidentielle : 2nd tour<br />
                    {% endif %}

                    {% if request.data.electionLegislativeFirstRound and request.data.electionLegislativeSecondRound %}
                        Législatives : 1er et 2nd tour<br />
                    {% elseif request.data.electionLegislativeFirstRound %}
                        Législatives : 1er tour<br />
                    {% elseif request.data.electionLegislativeSecondRound %}
                        Législatives : 2nd tour<br />
                    {% endif %}
                </td>
                <td class="datagrid__table__col--hide-mobile">
                    {{ request.data.createdAt|date('d/m/Y H:i') }}
                </td>
                <td>
                    <a href="{{ path('app_procuration_manager_request', {'id': request.data.id}) }}">
                        Afficher
                    </a>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}
