{% extends 'procuration_manager/_layout.html.twig' %}

{% block javascripts %}
    <script type="text/javascript">
        Kernel.onLoad(function() {
            App.runProcurationManagerRequests({{ totalCount }}, {{ constant('AppBundle\\Controller\\ProcurationManagerController::PER_PAGE') }});
        });
    </script>
{% endblock %}

{% block procuration_manager_content %}
    <div class="text--center">
        <strong>Demandes</strong>
        -
        <a href="{{ path('app_procuration_manager_proposals') }}">Mandataires</a>
    </div>

    <hr />

    {% if requests|length == 0 %}
        <div class="text--body text--center">
            Vous n'avez aucune demande(s) de procuration à traiter.
        </div>
    {% else %}
        <div class="text--body text--center b__nudge--bottom-large">
            Vous avez {{ countToProcess }} demande(s) de procuration à traiter.
        </div>

        <table class="datagrid__table datagrid__table--bordered-rows">
            <thead>
            <tr>
                <th class="datagrid__table__col--hide-mobile" style="width: 100px;">Numéro</th>
                <th class="datagrid__table__col--left">Coordonnées du demandeur</th>
                <th>Statut de la demande</th>
                <th class="datagrid__table__col--left">Scrutins concernés</th>
                <th>Mandataires</th>
                <th class="datagrid__table__col--hide-mobile">Date de la demande</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody id="requests-list">
                {{ include('procuration_manager/_requests_list.html.twig') }}
            </tbody>
        </table>

        {% if totalCount > constant('AppBundle\\Controller\\ProcurationManagerController::PER_PAGE') %}
            <div class="text--center space--30">
                <button class="btn" id="btn-more">Afficher plus</button>
                <span id="loader" style="display: none;">Chargement ...</span>
            </div>
        {% endif %}
    {% endif %}
{% endblock %}
