{% extends 'procuration_manager/_layout.html.twig' %}

{% block javascripts %}
    <script type="text/javascript">
        Kernel.onLoad(function() {
            App.runProcurationManagerProposals('{{ filterqQueryString|e('js') }}', {{ totalCount }}, {{ constant('AppBundle\\Controller\\ProcurationManagerController::PER_PAGE') }});
        });
    </script>
{% endblock %}

{% block procuration_manager_content %}
    <div class="text--center">
        <a href="{{ path('app_procuration_manager_index') }}">Demandes</a>
        -
        <strong>Mandataires</strong>
    </div>

    <hr />

    Votre lien d'invitation (à partager uniquement aux mandataires de confiance) :<br />
    <input type="text" class="form form--full form__field"
           value="{{ url('app_procuration_proxy_proposal', {'uuid': app.user.uuid.toString}) }}" />

    <hr />

    {{ include('procuration_manager/_filters.html.twig') }}

    <hr />

    {% if filters.hasData %}
        {% if proxies|length == 0 %}
            <div class="text--body text--center">
                Aucun résultat
            </div>
        {% else %}
            <div class="text--body text--center b__nudge--bottom-large">
                {{ totalCount }} résultat(s)
            </div>
        {% endif %}
    {% else %}
        {% if proxies|length == 0 %}
            <div class="text--body text--center">
                Vous n'avez aucune propositon de mandataire
            </div>
        {% else %}
            <div class="text--body text--center b__nudge--bottom-large">
                Vous avez {{ totalCount }} propositon(s) de mandataire
            </div>
        {% endif %}
    {% endif %}

    {% if proxies|length > 0 %}
        <table class="datagrid__table datagrid__table--bordered-rows">
            <thead>
            <tr>
                <th class="datagrid__table__col--hide-mobile" style="width: 100px;">Numéro</th>
                <th class="datagrid__table__col--left">Coordonnées du mandataire</th>
                <th class="datagrid__table__col--left">Disponibilités restantes</th>
                <th class="datagrid__table__col--hide-mobile">Date de la proposition</th>
                <th>Statut</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody id="proposals-list">
                {{ include('procuration_manager/_proposals_list.html.twig') }}
            </tbody>
        </table>

        {% if totalCount > constant('AppBundle\\Controller\\ProcurationManagerController::PER_PAGE') %}
            <div class="text--center space--30">
                <button class="btn" id="btn-more">Afficher plus</button>
                <span id="loader" style="display: none;">Chargement ...</span>
            </div>
        {% endif %}
    {% endif %}
{% endblock %}
