{% extends 'procuration_manager/_layout.html.twig' %}

{% block procuration_manager_content %}
    <div class="text--summary b__nudge--bottom-large">
        <a href="{{ path('app_procuration_manager_index') }}" class="back-to-list icon--with-text">
            {{ include('components/caret--left.html.twig') }}
            Retour à la liste
        </a>
    </div>

    <h3 class="text--center b__nudge--bottom-large">
        Demande de procuration n°{{ request.id }}
    </h3>

    <hr />

    <div class="l__row l__tablet--col l__row--v-stretch b__nudge--bottom-60">
        <div class="procuration-manager__request__col-left">
            {% if request.processed %}
                <a href="{{ path('app_procuration_manager_request_transform', {'id': request.id, 'action': 'detraiter'}) }}"
                   class="btn btn--small profile-btn">
                    Marquer en attente
                </a>
            {% else %}
                <a href="{{ path('app_procuration_manager_request_transform', {'id': request.id, 'action': 'traiter'}) }}"
                   class="btn btn--small profile-btn">
                    Marquer traitée
                </a>
            {% endif %}

            <h4 class="b__nudge--bottom">
                Demande {{ request.processed ? 'traitée' : 'en attente' }}
            </h4>

            <div class="profile-label">
                Auteur
            </div>
            <div class="profile-value">
                {{ request.gender == 'male' ? 'Monsieur' : 'Madame' }}
                {{ request.firstNames }} {{ request.lastName }}
            </div>

            <div class="profile-label">
                Coordonnées
            </div>
            <div class="profile-value">
                Email :
                <a href="mailto:{{ request.emailAddress }}">
                    {{ request.emailAddress }}
                </a>
                <br />
                Téléphone :
                <a href="tel:{{ request.phone|phone_number_format(constant('\\libphonenumber\\PhoneNumberFormat::RFC3966')) }}">
                    {{ request.phone|phone_number_format }}
                </a>
            </div>

            <div class="profile-label">
                Lieu de vote
            </div>
            <div class="profile-value">
                {{ request.votePostalCode }} {{ request.voteCityName }} {{ request.voteCountry }}
                {% if request.voteOffice %}
                    <br />
                    Bureau : {{ request.voteOffice }}
                {% endif %}
            </div>

            <div class="profile-label">
                Lieu de résidence
            </div>
            <div class="profile-value">
                {{ request.address }}<br />
                {{ request.postalCode }} {{ request.cityName }} {{ request.country }}
            </div>

            <div class="profile-label">
                Scrutins concernés
            </div>
            <div class="profile-value">
                {% if request.electionPresidentialFirstRound and request.electionPresidentialSecondRound %}
                    Pésidentielle : 1er et 2nd tour<br />
                {% elseif request.electionPresidentialFirstRound %}
                    Pésidentielle : 1er tour<br />
                {% elseif request.electionPresidentialSecondRound %}
                    Pésidentielle : 2nd tour<br />
                {% endif %}

                {% if request.electionLegislativeFirstRound and request.electionLegislativeSecondRound %}
                    Législatives : 1er et 2nd tour<br />
                {% elseif request.electionLegislativeFirstRound %}
                    Législatives : 1er tour<br />
                {% elseif request.electionLegislativeSecondRound %}
                    Législatives : 2nd tour<br />
                {% endif %}
            </div>

            <div class="profile-label">
                Raison de la demande
            </div>
            <div class="profile-value">
                {% if request.reason == constant('AppBundle\\Entity\\ProcurationRequest::REASON_RESIDENCY') %}
                    En raison de mon lieu de résidence
                {% elseif request.reason == constant('AppBundle\\Entity\\ProcurationRequest::REASON_HOLIDAYS') %}
                    Vacances
                {% elseif request.reason == constant('AppBundle\\Entity\\ProcurationRequest::REASON_PROFESIONNAL') %}
                    Obligations professionnelles
                {% elseif request.reason == constant('AppBundle\\Entity\\ProcurationRequest::REASON_HANDICAP') %}
                    En raison d'un handicap
                {% elseif request.reason == constant('AppBundle\\Entity\\ProcurationRequest::REASON_HEALTH') %}
                    Pour raison de santé
                {% elseif request.reason == constant('AppBundle\\Entity\\ProcurationRequest::REASON_HELP') %}
                    Assistance apportée à une personne
                {% elseif request.reason == constant('AppBundle\\Entity\\ProcurationRequest::REASON_TRAINING') %}
                    Obligations de formation
                {% endif %}
            </div>
        </div>
        <div class="procuration-manager__request__col-right">
            <h4 class="b__nudge--bottom">
                Mandataires trouvés avec le même code postal
            </h4>

            {% if matchingProxies|length  == 0 %}
                <div class="text--body b__nudge--bottom-large">
                    Aucun mandataire trouvé pour cette demande.
                </div>
            {% else %}
                <div class="text--body b__nudge--bottom-large">
                    {% if matchingProxies|length == 1 %}
                        1 mandataire semble correspondre à cette demande.<br />
                        N'hésitez pas à le contacter pour confirmer ses disponibilités.
                    {% else %}
                        {{ matchingProxies|length }} mandataires semblent correspondre à cette demande.<br />
                        N'hésitez pas à les contacter pour confirmer leurs disponibilités.
                    {% endif %}
                </div>

                <table class="datagrid__table">
                    <thead>
                    <tr>
                        <th class="datagrid__table__col--left">Mandataire</th>
                        <th class="datagrid__table__col--left">Lieu de vote</th>
                        <th class="datagrid__table__col--left">Lieu de résidence</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for proxy in matchingProxies %}
                        <tr>
                            <td class="datagrid__table__col--left">
                                <strong>{{ proxy.firstNames }} {{ proxy.lastName }}</strong>
                                <br />
                                <em>Email :</em>
                                <a href="mailto:{{ proxy.emailAddress }}">
                                    {{ proxy.emailAddress }}
                                </a>
                                <br />
                                <em>Téléphone :</em>
                                <a href="tel:{{ proxy.phone|phone_number_format(constant('\\libphonenumber\\PhoneNumberFormat::RFC3966')) }}">
                                    {{ proxy.phone|phone_number_format }}
                                </a>
                                <br />
                                <em>Disponibilités :</em><br />
                                {% if proxy.electionPresidentialFirstRound and proxy.electionPresidentialSecondRound %}
                                    Pésidentielle : 1er et 2nd tour<br />
                                {% elseif proxy.electionPresidentialFirstRound %}
                                    Pésidentielle : 1er tour<br />
                                {% elseif proxy.electionPresidentialSecondRound %}
                                    Pésidentielle : 2nd tour<br />
                                {% endif %}

                                {% if proxy.electionLegislativeFirstRound and proxy.electionLegislativeSecondRound %}
                                    Législatives : 1er et 2nd tour<br />
                                {% elseif proxy.electionLegislativeFirstRound %}
                                    Législatives : 1er tour<br />
                                {% elseif proxy.electionLegislativeSecondRound %}
                                    Législatives : 2nd tour<br />
                                {% endif %}
                            </td>
                            <td class="datagrid__table__col--left">
                                {{ proxy.votePostalCode }} {{ proxy.voteCityName }}, {{ proxy.voteCountry }}
                                {% if proxy.voteOffice %}
                                    <br />{{ proxy.voteOffice }}
                                {% endif %}
                            </td>
                            <td class="datagrid__table__col--left">
                                {{ proxy.address }}<br />
                                {{ proxy.postalCode }} {{ proxy.cityName }}, {{ proxy.country }}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </div>
    </div>
{% endblock %}
