{% extends 'board_member/layout.html.twig' %}

{% block page_title 'Contacter les membres du Conseil' %}

{% block javascripts %}
    {% import 'javascript.js.twig' as js %}

    <script src="{{ asset('ckeditor/ckeditor.js') }}"></script>
    <script src="{{ asset('ckeditor/lang/fr.js') }}"></script>
    <script type="text/javascript">
        Kernel.onLoad(function() {
            {{ js.ckeditor('board_member_message_content') }}
        });
    </script>
{% endblock %}

{% block content__inner %}
    <section class="l__wrapper--600 b__nudge--top-40 b__nudge--bottom">
        <a href="{%- block return_path path('app_board_member_search') -%}" class="icon--with-text">
            {{ include('components/caret--left.html.twig') }}
            Retour
        </a>
    </section>

    <section class="l__wrapper--600">
        <h2>Envoyer un message</h2>

        {# {% block recipients '' %} #}

        <p class="text--body">
            Vous recevrez les réponses directement dans votre boite e-mail.
        </p>

        <div class="space--20-0 form__new">
            {{ form_start(form) }}
            {{ form_errors(form) }}
            <ul>
                <li>
                    {{ form_label(form.subject, 'Destinataire(s)', { 'label_attr': {'class': 'label__header'} }) }}
                    <input type="text" disabled="disabled"
                           value="{{ 'board_member.message.recipients'|transchoice(message.recipients|length) }}" />
                </li>

                <li>
                    {{ form_label(form.subject, 'Expéditeur', { 'label_attr': {'class': 'label__header'} }) }}
                    <input type="text" disabled="disabled"
                           value="{{ app.user.fullName }}" />
                </li>

                <li>
                    {{ form_label(form.subject, 'Objet', { 'label_attr': {'class': 'label__header'} }) }}
                    {{ form_errors(form.subject) }}
                    {{ form_widget(form.subject) }}
                </li>

                <li>
                    {{ form_label(form.content, 'Message', { 'label_attr': {'class': 'label__header'} }) }}
                    {{ form_errors(form.content) }}
                    {{ form_widget(form.content) }}
                </li>

                <li class="text--center l__row l__col">
                    <button class="newbtn b__nudge--bottom-small" type="submit">
                        Envoyer le message
                    </button>
                    <a href="{{- block('return_path') -}}" class="link--newblue">
                        Annuler
                    </a>
                </li>
            </ul>
            {{ form_end(form) }}
        </div>
    </section>
{% endblock %}
