{% extends '@SonataAdmin/CRUD/base_list_field.html.twig' %}

{% macro display(user, admin) %}
    {% if user is instanceof('App\\Entity\\Administrator') %}
        {% if admin.isGranted('EDIT', user) %}
            <a class="btn btn-xs btn-danger" href="{{ path('admin_app_administrator_edit', {id: user.id}) }}">
                {{ user }} <i class="fa fa-external-link"></i>
            </a>
        {% else %}
            <span class="label label-danger">
                {{ user }}
            </span>
        {% endif %}
    {% elseif user is instanceof('App\\Entity\\Adherent') %}
        {% if admin.isGranted('EDIT', user) %}
            <a class="btn btn-xs btn-primary" href="{{ path('admin_app_adherent_edit', {id: user.id}) }}">
                {{ user }} <i class="fa fa-external-link"></i>
            </a>
        {% else %}
            <span class="label label-primary">
                {{ user }}
            </span>
        {% endif %}
    {% endif %}
{% endmacro %}

{% block field %}
    {% set createdBy = object.createdByAdministrator %}
    {% if createdBy is null and object is instanceof('App\\Entity\\EntityAdherentBlameableInterface') %}
        {% set createdBy = object.createdByAdherent %}
    {% endif %}

    {% set updatedBy = object.updatedByAdministrator %}
    {% if updatedBy is null and object is instanceof('App\\Entity\\EntityAdherentBlameableInterface') %}
        {% set updatedBy = object.updatedByAdherent %}
    {% endif %}

    {% if createdBy %}
        Créé par: {{ _self.display(createdBy, admin) }}
    {% endif %}

    {% if createdBy and updatedBy %}
        <br>
    {% endif %}

    {% if updatedBy %}
        Modifié par: {{ _self.display(updatedBy, admin) }}
    {% endif %}
{% endblock %}
