{% extends 'event_manager/_layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" type="text/css" href="{{ asset('css/cropper.min.css') }}" />
{% endblock %}

{% block event_manager_content %}
    <a href="{{ path("app_#{space_name}_event_manager_events") }}" class="back-to-list text--blue--dark link--no-decor b__nudge--bottom">
        ⟵ Annuler
    </a>

    <div class="l__wrapper--slim">
        <h2 class="text--medium b__nudge--bottom-larger">{{ block('form_title') }}</h2>

        {{ form_start(form, { attr: { class: 'b__nudge--top-40 em-form'} }) }}
        {{ form_errors(form) }}

        <div class="form__row" id="event-name-field">
            {{ form_errors(form.name) }}
            {{ form_label(form.name, "Nom de l'événement") }}
            {{ form_widget(form.name, { attr: { class: 'form--full committee_event__form__name', placeholder: "Entrez le nom de l'événement" } }) }}
        </div>

        <div class="form__row" id="event-category-field">
            {{ form_errors(form.category) }}
            {{ form_label(form.category, 'Type') }}
            {{ form_widget(form.category, { attr: { class: 'form--full committee_event__form__category' }, placeholder: "Choisissez le type de l'événement" }) }}
        </div>

        {% if form.coalition is defined %}
            <div class="form__row" id="event-coalition-field">
                {{ form_errors(form.coalition) }}
                {{ form_label(form.coalition, 'Coalition') }}
                {{ form_widget(form.coalition, { attr: { class: 'form--full committee_event__form__category' }, placeholder: "Choisissez la coalition" }) }}
            </div>
        {% endif %}

        <div class="form__row form__date-and-time" id="event-beginat-field">
            {{ form_errors(form.beginAt) }}
            {{ form_label(form.beginAt, 'Début') }}
            {{ form_widget(form.beginAt, { attr: { class: 'form__group event__begin_at', autocomplete: 'off' } }) }}
        </div>

        <div class="form__row form__date-and-time" id="event-finishat-field">
            {{ form_errors(form.finishAt) }}
            {{ form_label(form.finishAt, 'Fin') }}
            {{ form_widget(form.finishAt, { attr: { class: 'form__group event__finish_at', autocomplete: 'off' } }) }}
        </div>

        <div id="event-address">
            {{ form_errors(form.address) }}

            <div class="form__row committee_event__form--trunc" id="event-address-address-field">
                {{ form_errors(form.address.address) }}
                {{ form_label(form.address.address, 'Adresse') }}
                {{ form_widget(form.address.address, { attr: { class: 'form--full', placeholder: "Entrez l'adresse de l'événement" } }) }}
            </div>

            <div class="form__group dual__fields">
                <div class="form__row committee_event__form__zip_code" id="event-address-zipcode-field">
                    {{ form_label(form.address.postalCode, 'Code postal') }}
                    {{ form_widget(form.address.postalCode, { attr: { class: 'form--full', placeholder: 'Entrez le code postal' } }) }}
                </div>

                <div class="form__row committee_event__form__city" id="event-address-city-field">
                    {{ form_errors(form.address.city) }}
                    {{ form_label(form.address.cityName, 'Ville') }}
                    {{ form_widget(form.address.city, { attr: { class: 'committee_event__form__city'}}) }}
                    {{ form_widget(form.address.cityName, { 'attr': { 'class': 'form--full', placeholder: 'Ville' } }) }}
                </div>
            </div>

            <div class="form__group dual__fields">
                <div class="form__row committee_event__form__country" id="event-address-country-field">
                    {{ form_errors(form.address.country) }}
                    {{ form_label(form.address.country, 'Pays') }}
                    {{ form_widget(form.address.country, { attr: { class: 'form--full', placeholder: 'Choisissez le pays' } }) }}
                </div>
                <div class="form__row committee_event__form__timezone"
                     id="committee_event-address-timezone-field">
                    {{ form_errors(form.timeZone) }}
                    {{ form_label(form.timeZone, 'Fuseau horaire') }}
                    {{ form_widget(form.timeZone, { attr: { class: 'form--full', placeholder: 'Choisissez le fuseau horaire' } }) }}
                </div>
            </div>
        </div>

        <div class="form__row" id="event-description-field">
            {{ form_errors(form.description) }}
            {{ form_label(form.description, 'À propos') }}
            {{ form_widget(form.description, { attr: { class: 'form--full form__field--textarea-300 b__nudge--top-15', placeholder: 'Entrez un paragraphe afin de décrire cet événement.', rows: '20', cols: '70' } }) }}
        </div>

        {% if not form.vars.coalition %}
            {{ form_row(form.image) }}
        {% endif %}

        <div class="form__row" id="event-visiourl-field">
            {{ form_errors(form.visioUrl) }}
            {{ form_label(form.visioUrl, 'Lien de la visio ou du live') }}
            {{ form_widget(form.visioUrl,  { attr: { class: 'form--full committee_event__form__visio_url', placeholder: "Entrez le lien de la visio de l'évènement (facultatif)" } }) }}
        </div>

        {% if not form.vars.coalition %}
            <div class="form__row" id="event-capacity-field">
                {{ form_errors(form.capacity) }}
                {{ form_label(form.capacity, 'Capacité') }}
                {{ form_widget(form.capacity, { attr: { class: 'form--full committee_event__form__capacity', placeholder: 'Quel est le nombre maximum de participants à cet événement.' } }) }}
            </div>
        {% endif %}

        <div class="form__row b__nudge--top-50">
            <button type="submit" class="btn btn--blue btn--large-and-full">Enregistrer</button>
        </div>

        {{ form_end(form) }}
    </div>
{% endblock %}

{% block final_javascripts %}
    {{ parent() }}

    {% import 'javascript.js.twig' as js %}

    <script src="{{ asset('ckeditor/ckeditor.js') }}"></script>
    <script src="{{ asset('ckeditor/lang/fr.js') }}"></script>

    {% if form is defined %}
        <script type="text/javascript">
            Kernel.onLoad(function() {
                {{ js.address(form.address) }}
                {% if not form.vars.coalition %}
                    {{ js.ckeditor('event_command_description', null, constant('App\\Entity\\UserDocument::TYPE_EVENT')) }}
                {{ js.init_event_cropperjs(form.image) }}
                {% endif %}
                App.startDateFieldsSynchronisation('{{ form.beginAt.vars.full_name|e('js') }}', '{{ form.finishAt.vars.full_name|e('js') }}')
            });
        </script>
    {% endif %}
{% endblock %}
