{% extends 'event_manager/_layout.html.twig' %}

{% block event_manager_content %}
    <div class="box-success text--center l__wrapper--500 font-roboto">
        <img class="icn_success b__nudge--bottom" src="{{ asset('images/icons/icn_success.svg') }}" />

        <h2 class="text--medium b__nudge--bottom-larger">L'événement <a class="link--no--decor text--blue--dark" target="_blank" rel="noopener noreferrer" href="{{ path('app_committee_event_show', { slug: event.slug }) }}">&laquo; {{ event.name }} &raquo;</a> a bien été créé.</h2>

        {% if space_name != constant('App\\Event\\EventManagerSpaceEnum::CANDIDATE') %}
            {% if event.status == constant('STATUS_SCHEDULED', event) %}
                <p class="alert alert--tips b__nudge--bottom-20">
                    Votre événement est en ligne mais pas encore diffusé.<br/> Partagez-le par message en cliquant ci-dessous.
                </p>
            {% endif %}

            <br/>

            <form method="POST" action="{{ path("app_message_#{space_name}_create") }}">
                <input type="hidden" name='message_content' value="Inscrivez-vous à l'événement <a href='{{ url('app_committee_event_show', { slug: event.slug }) }}'>ici</a>">
                <button class="btn btn--blue b__nudge--bottom">L'envoyer par e-mail</button>
            </form>
        {% endif %}

        <br/>

        {% if space_name != constant('App\\Event\\EventManagerSpaceEnum::MUNICIPAL_CHIEF') %}
            <a href="{{ path("app_#{space_name}_event_manager_events_mine") }}" class="back-to-list text--normal link--no-decor b__nudge--bottom">
                Voir tous mes événements
            </a>
        {% else %}
            <a href="{{ path("app_#{space_name}_event_manager_events") }}" class="back-to-list text--normal link--no-decor b__nudge--bottom">
                Voir tous les événements
            </a>
        {% endif %}
    </div>
{% endblock %}
