{% extends 'event_manager/_layout.html.twig' %}

{% block event_manager_content %}
    <div class="datagrid__pre-table b__nudge--bottom-larger">
        <h3>Événements</h3>
        <a href="{{ path("app_#{space_name}_event_manager_create") }}" class="btn-secondary btn-secondary--blue">
            + Créer
        </a>
    </div>

    <div class="datagrid">
        <div class="b__nudge--bottom-larger">
            <div class="datagrid__table-container">
                <table class="datagrid__table-manager">
                    <thead>
                        <tr>
                            <th>Nom de l'événement</th>
                            <th style="width: 150px;">Organisateur</th>
                            <th>Statut</th>
                            <th style="width: 150px;">Code postal</th>
                            <th style="width: 150px;">Date</th>
                            <th style="width: 100px;" class="datagrid__table__col--hide-mobile">Participants</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for event in events %}
                        <tr class="event__item">
                            <td>
                                <a href="{{ path('app_committee_event_show', {slug: event.slug}) }}" target="_blank">{{ event.name }}</a>
                            </td>
                            <td>{{ event.organizer ? event.organizer.fullName : 'un ancien adhérent' }}</td>
                            <td>
                                <span class="status status__{{ event.isActive ? 1 : 2 }}">{{ event.status|trans([], 'forms') }}</span>
                            </td>
                            <td>{{ event.country == 'FR' ? event.postalCode : event.postalCode ~ ' (' ~ event.countryName ~ ')' }}</td>
                            <td>{{ event.beginAt|date('d/m/Y H:i') }}</td>
                            <td class="datagrid__table__col--hide-mobile">
                                {{ event.participantsCount }}
                            </td>
                            <td>
                                {% if share_by_email %}
                                    {% set items = [
                                        {
                                            label: 'Partager par email',
                                            linkAttr: {
                                                class: 'row-action share-by-email',
                                                'data-url': url('app_committee_event_show', {slug: event.slug}),
                                            },
                                        },
                                    ] %}
                                {% else %}
                                    {% set items = [] %}
                                {% endif %}

                                {% if (is_granted('HOST_EVENT', event) and event.isActive()) %}
                                    {% set items = items|merge([
                                        {
                                            label: 'Modifier',
                                            href: path("app_#{space_name}_event_manager_edit", {slug: event.slug}),
                                        },
                                        {
                                            label: 'Écrire aux participants',
                                            href: path('app_committee_event_members', {slug: event.slug}),
                                        },
                                        {
                                            label: 'Annuler',
                                            href: path("app_#{space_name}_event_manager_cancel", {slug: event.slug}),
                                            linkAttr: {
                                                class: 'row-action text--error em-confirm--trigger',
                                            },
                                        },
                                    ]) %}
                                {% endif %}

                                {{ include('components/_annimated_sub_menu.html.twig', {items: items}) }}
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="7" class="text--center">
                                <img src="{{ asset('/images/icons/icn_no-result.svg') }}" class="icn--no-result" width="30" />
                                Aucun résultat
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        {% if events.count and events.lastPage != 1 %}
            {{ include('components/_modern_pagination.html.twig', {
                current_page: events.currentPage,
                total_pages: events.lastPage,
            }) }}
        {% endif %}
    </div>
{% endblock %}
