{% extends 'adherent_space/_layout.html.twig' %}

{% set currentUserOrDelegator = current_user() %}
{% set delegated_access = get_delegated_access() %}

{% block page_title %}
    {% if app.user is same as(currentUserOrDelegator) %}
        Espace sénateur
    {% else %}
        Espace sénateur partagé
    {% endif %}
{% endblock %}

{% block canonical_url url('app_message_senator_list') %}

{% set hasCharterAccepted = app.user.charters.hasSenatorCharterAccepted %}

{% block stylesheets %}
    {% if not hasCharterAccepted %}
        <link rel="stylesheet" href="{{ asset('bundles/sonataadmin/vendor/jqueryui/themes/base/minified/jquery-ui.min.css') }}" />
    {% endif %}
{% endblock %}

{% block manager_sidebar %}
    {{ include('senator/_sidebar.html.twig') }}
{% endblock %}

{% block manager_content %}
    {% block senator_content %}{% endblock %}

    {% if not hasCharterAccepted %}
        {% include 'chart_dialog.html.twig' with {
            'title': 'senator.popup.title'|trans,
            'subtitle': 'senator.popup.subtitle'|trans,
            'fileUrl': 'senator.popup.file_url'|trans
        } %}
    {% endif %}
{% endblock %}

{% block adherent_space_header_title %}
    Vous gérez le département : <span class="text--black text--bold">{{ currentUserOrDelegator.senatorArea.departmentTag }} </span>
{% endblock %}

{% block final_javascripts %}
    {{ parent() }}

    <script type="text/javascript" src={{ asset('bundles/sonataadmin/vendor/jquery/dist/jquery.min.js') }}></script>
    <script type="text/javascript" src={{ asset('bundles/sonataadmin/vendor/jqueryui/ui/jquery-ui.js') }}></script>

    {% if not hasCharterAccepted %}
        {% if js is not defined %}
            {% import 'javascript.js.twig' as js %}
        {% endif %}

        <script type="text/javascript">
            Kernel.onLoad(function() {
                {{ js.chart_acceptation('#chart_dialog', constant('App\\AdherentCharter\\AdherentCharterTypeEnum::TYPE_SENATOR')) }}
            } );
        </script>
    {% endif %}
{% endblock %}
