{% extends 'base.html.twig' %}

{% set currentUserOrDelegator = current_user(app.request) %}
{% set delegated_access = get_delegated_access(app.request) %}

{% block page_title %}
    {% if app.user is same as(currentUserOrDelegator) %}
        Espace sénateur
    {% else %}
        Espace sénateur partagé
    {% endif %}
{% endblock %}

{% block canonical_url url('app_message_senator_list') %}

{% set hasCharterAccepted = app.user.charters.hasSenatorCharterAccepted %}

{% block stylesheets %}
    {% if not hasCharterAccepted %}
        <link rel="stylesheet" href="{{ asset('bundles/sonataadmin/vendor/jqueryui/themes/base/minified/jquery-ui.min.css') }}" />
    {% endif %}
{% endblock %}

{% block content %}
    <main>
        <section class="manager-space procuration-manager b__nudge--bottom-huge">
            <header class="manager-header">
                <div class="l__wrapper">
                    <div class="first-section">
                        <div class="manager-information">
                            <p>Vous gérez le département : <span>{{ currentUserOrDelegator.senatorArea.departmentTag }}</span></p>
                        </div>
                    </div>
                    <div class="second-section">
                        <div>
                            <h1 class="page-title text--large b__nudge--bottom">
                                {{ block('page_title') }}
                            </h1>
                            {% if app.user is not same as(currentUserOrDelegator) %}
                                <p class="text--body text--dark b__nudge--top-0">Vous êtes {{ delegated_access.role|lower }} du député {{ currentUserOrDelegator }}</p>
                            {% endif %}
                        </div>
                    </div>
                    <nav class="manager-header__menu">
                        <ul>
                            {% if is_granted('HAS_DELEGATED_ACCESS_MESSAGES', app.request) %}
                            <li class="{{ is_active_route(app.request, 'app_message_senator_*') ? 'active' }}">
                                <a href="{{ path("app_message_senator_delegated_list", route_params|default({})|merge({delegated_access_uuid: app.request.get('delegated_access_uuid')})) }}">Mes messages</a>
                            </li>
                            {% else %}
                            <li class="{{ is_active_route(app.request, 'app_message_senator_*') ? 'active' }}">
                                <a href="{{ path("app_message_senator_list", route_params|default({})) }}">Mes messages</a>
                            </li>
                            {% endif %}

                            {% if is_granted('HAS_DELEGATED_ACCESS_EVENTS', app.request) %}
                            <li class="{{ is_active_route(app.request, 'app_senator_event_manager_*') ? 'active' }}">
                                <a href="{{ path('app_senator_event_manager_delegated_events', {delegated_access_uuid: app.request.attributes.get('delegated_access_uuid')}) }}">Événements</a>
                            </li>
                            {% else %}
                            <li class="{{ is_active_route(app.request, 'app_senator_event_manager_*') ? 'active' }}">
                                <a href="{{ path('app_senator_event_manager_events') }}">Événements</a>
                            </li>
                            {% endif %}

                            {% if is_granted('HAS_DELEGATED_ACCESS_ADHERENTS', app.request) %}
                            <li class="{{ is_active_route(app.request, 'app_senator_managed_users_delegated_list') ? 'active' }}">
                                <a href="{{ path('app_senator_managed_users_delegated_list', {delegated_access_uuid: app.request.attributes.get('delegated_access_uuid')}) }}">Adhérents</a>
                            </li>
                            {% else %}
                            <li class="{{ is_active_route(app.request, ['app_senator_managed_users_list', 'app_senator_adherent_invitation']) ? 'active' }}">
                                <a href="{{ path('app_senator_managed_users_list') }}">Adhérents</a>
                            </li>
                            {% endif %}

                            {% if is_granted('ROLE_SENATOR') %}
                                <li class="{{ is_active_route(app.request, 'app_senator_elected_representatives_*') ? 'active' }}">
                                    <a href="{{ path('app_senator_elected_representatives_list') }}">Élus</a>
                                </li>
                                <li class="{{ is_active_route(app.request, ['app_senator_my_team_list', 'app_senator_my_team_delegate_access']) ? 'active' }}">
                                    <a href="{{ path('app_senator_my_team_list') }}">Mon équipe</a>
                                </li>
                            {% endif %}
                        </ul>
                    </nav>
                </div>
            </header>

            <div class="l__wrapper procuration-manager__content text--body">
                {% block senator_content %}{% endblock %}
            </div>
        </section>

        {% if not hasCharterAccepted %}
            {% include 'chart_dialog.html.twig' with {
                'title': 'senator.popup.title'|trans,
                'subtitle': 'senator.popup.subtitle'|trans,
                'fileUrl': 'senator.popup.file_url'|trans
            } %}
        {% endif %}
    </main>
{% endblock %}

{% block final_javascripts %}
    <script type="text/javascript" src={{ asset('bundles/sonataadmin/vendor/jquery/dist/jquery.min.js') }}></script>
    <script type="text/javascript" src={{ asset('bundles/sonataadmin/vendor/jqueryui/ui/jquery-ui.js') }}></script>

    {% if not hasCharterAccepted %}
        {% if js is not defined %}
            {% import 'javascript.js.twig' as js %}
        {% endif %}

        <script type="text/javascript">
            Kernel.onLoad(function() {
                {{ js.chart_acceptation('#chart_dialog', constant('App\\AdherentCharter\\AdherentCharterTypeEnum::TYPE_SENATOR')) }}
            } );
        </script>
    {% endif %}
{% endblock %}
