<h3 class="mt-10 mb-5 font-bold text-xl">
    {% if designation.isTerritorialAnimatorType() %}
        Candidatures
    {% else %}
        Listes
    {% endif %}
</h3>

{% for pool in pools %}
    <ul class="grid grid-cols-1 gap-6 md:grid-cols-2 lg:grid-cols-3">
        {% for group in pool.getCandidaciesGroups() %}
            {% set is_list = group.getCandidacies|length > 1 %}

            <li x-data="{ open: false }" class="relative">
                <div class="relative flex items-start space-x-5 rounded-lg border border-gray-300 bg-white p-4 md:px-6 md:py-5 shadow-sm focus-within:ring-2 focus-within:ring-re-blue-500 focus-within:ring-offset-2 hover:border-gray-400">
                    <div class="shrink-0">
                        <div class="w-10 h-10 rounded-full bg-gray-100 flex justify-center items-center text-gray-700">
                            {% if is_list %}
                                {{ include('icons/teams.svg.twig', {svg_class: 'w-6 h-6'}) }}
                            {% else %}
                                {{ include('icons/user.svg.twig', {svg_class: 'w-6 h-6'}) }}
                            {% endif %}
                        </div>
                    </div>
                    <div class="min-w-0 flex-1">
                        <div class="focus:outline-none group space-y-2">
                            <p class="text-sm font-medium text-gray-900">
                                {% if is_list %}
                                    Liste {{ group.label ?? loop.index }} (<span class="truncate text-sm text-gray-500">{{ group.candidacies|length }} membres</span>)
                                {% endif %}
                            </p>
                            {% set candidacy = group.candidacies|first %}
                            <p class="font-medium text-gray-900">{{ candidacy.firstName }} <span class="uppercase">{{ candidacy.lastName }}</span></p>
                        </div>
                        {% if is_list %}
                            <div class="mt-3 flex items-center space-x-3">
                                <button @click="open =! open" type="button" class="inline-flex items-center text-sm leading-5 text-re-blue-500 group-hover:text-re-blue-400">
                                    Afficher
                                </button>

                                {% if candidacy.getFaithStatement() and candidacy.isPublicFaithStatement() %}
                                    <span aria-hidden="true">·</span>
                                    <a href="{{ candidacy.getFaithStatement() }}" class="text-sm flex items-center hover:text-re-blue-400" target="_blank">
                                        {{ include('icons/download.svg.twig', {svg_class: 'h-5 w-5 mr-1.5'}) }}
                                        Profession de foi
                                    </a>
                                {% endif %}
                            </div>
                        {% endif %}
                        <div x-cloak x-show="open" class="mt-4 border-t border-dashed border-gray-300 pt-4 md:hidden">
                            <div class="border-b border-gray-200 pb-3">
                                <h3 class="text-lg font-medium leading-6 text-gray-500">Titulaires</h3>
                            </div>

                            {% for candidacy in group.getCandidaciesByType(false) %}
                                <div class="py-1.5">
                                    <span class="text-gray-400">{{ candidacy.gender == 'male' ? 'M' : 'Mme' }}</span>
                                    <span class="inline-block ml-0.5 text-gray-700 font-medium">
                                        {{ candidacy.getFirstName() }} <span class="uppercase">{{ candidacy.getLastName() }}</span>
                                    </span>
                                </div>
                            {% endfor %}

                            {% if group.getCandidaciesByType(true) %}
                                <div class="border-b border-gray-200 mt-2 pb-3">
                                    <h3 class="text-lg font-medium leading-6 text-gray-500">Suppléants</h3>
                                </div>

                                <ul class="!my-0">
                                    {% for substitute in group.getCandidaciesByType(true) %}
                                        <li class="py-1.5">
                                            <span class="text-gray-400">{{ substitute.gender == 'male' ? 'M' : 'Mme' }}</span>
                                            <span class="inline-block ml-0.5 text-gray-700 font-medium">
                                                {{ substitute.getFirstName() }} <span class="uppercase">{{ substitute.getLastName() }}</span>
                                            </span>
                                        </li>
                                    {% endfor %}
                                </ul>
                            {% endif %}

                            <p class="mt-4 border-t border-gray-200 text-right py-3 px-4">
                                <button type="button" @click="open = false" class="text-sm leading-5 font-medium text-gray-600 hover:text-gray-900 hover:underline">Réduire</button>
                            </p>
                        </div>
                    </div>
                </div>

                {% if is_list %}
                    <div class="hidden md:block">
                        <!-- Modal Liste des candidats -->
                        <div @keydown.window.escape="open = false" x-show="open" class="relative z-10" aria-labelledby="modal-title" x-ref="dialog" aria-modal="true">
                            <div x-show="open" x-cloak
                                 x-transition:enter="ease-out duration-300"
                                 x-transition:enter-start="opacity-0"
                                 x-transition:enter-end="opacity-100"
                                 x-transition:leave="ease-in duration-200"
                                 x-transition:leave-start="opacity-100"
                                 x-transition:leave-end="opacity-0"
                                 class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity backdrop-blur-sm"></div>

                            <div class="fixed inset-0 z-10 overflow-y-auto">
                                <div class="flex min-h-full items-end justify-center p-4 text-center md:items-center md:p-0">
                                    <div x-show="open"
                                         x-transition:enter="ease-out duration-300"
                                         x-transition:enter-start="opacity-0 translate-y-4 md:translate-y-0 md:scale-95"
                                         x-transition:enter-end="opacity-100 translate-y-0 md:scale-100"
                                         x-transition:leave="ease-in duration-200"
                                         x-transition:leave-start="opacity-100 translate-y-0 md:scale-100"
                                         x-transition:leave-end="opacity-0 translate-y-4 md:translate-y-0 md:scale-95"
                                         class="relative transform overflow-hidden rounded-lg bg-white px-4 pt-5 pb-4 text-left shadow-xl transition-all md:my-8 md:w-full md:max-w-lg md:p-6"
                                         @click.away="open = false"
                                         x-cloak
                                    >
                                        <div class="absolute top-0 right-0 hidden pt-4 pr-4 md:block">
                                            <button type="button" class="rounded-md bg-white text-gray-400 hover:text-gray-500 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2" @click="open = false">
                                                <span class="sr-only">Fermer</span>
                                                {{ include('icons/x-close.svg.twig') }}
                                            </button>
                                        </div>
                                        <div>
                                            <div class="flex items-center space-x-3">
                                                <div class="flex h-10 w-10 shrink-0 items-center justify-center rounded-full bg-re-blue-100">
                                                    {{ include('icons/teams.svg.twig', {svg_class: 'w-6 h-6 text-re-blue-600'}) }}
                                                </div>
                                                <h3 class="!my-0 !text-lg font-medium !leading-6 !text-gray-900">Membres de la liste</h3>
                                            </div>
                                            <div class="mt-2">
                                                <div class="border-b border-gray-200 pb-3">
                                                    <h3 class="text-lg font-medium leading-6 text-gray-500">Titulaires</h3>
                                                </div>
                                                <ul class="!my-0">
                                                    {% for candidacy in group.getCandidaciesByType(false) %}
                                                        <li class="px-4 py-1.5">
                                                            <span class="text-gray-400">{{ candidacy.gender == 'male' ? 'M' : 'Mme' }}</span>
                                                            <span class="inline-block ml-0.5 text-gray-700 font-medium">
                                                                {{ candidacy.getFirstName() }} <span class="uppercase">{{ candidacy.getLastName() }}</span>
                                                            </span>
                                                        </li>
                                                    {% endfor %}
                                                </ul>
                                                {% if group.getCandidaciesByType(true) %}
                                                    <div class="border-b border-gray-200 mt-2 pb-3">
                                                        <h3 class="text-lg font-medium leading-6 text-gray-500">Suppléants</h3>
                                                    </div>
                                                    <ul class="!my-0">
                                                        {% for substitute in group.getCandidaciesByType(true) %}
                                                            <li class="px-4 py-1.5">
                                                                <span class="text-gray-400">{{ substitute.gender == 'male' ? 'M' : 'Mme' }}</span>
                                                                <span class="inline-block ml-0.5 text-gray-700 font-medium">
                                                                    {{ substitute.getFirstName() }} <span class="uppercase">{{ substitute.getLastName() }}</span>
                                                                </span>
                                                            </li>
                                                        {% endfor %}
                                                    </ul>
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div class="mt-5 md:mt-4 md:flex md:flex-row-reverse">
                                            <button type="button" class="mt-3 inline-flex w-full justify-center rounded-md border border-gray-300 bg-white px-4 py-2 text-base font-medium text-gray-700 shadow-sm hover:text-gray-500 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 md:mt-0 md:w-auto md:text-sm" @click="open = false">Fermer la liste</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% endfor %}
