<h4 class="manager__filters__subtitle">Filtrer par</h4>
<div class="manager__filters__row">
    <div class="manager__filters__section">
        <div class="manager__filters__group">
            <div class="filter__row">
                <label class="filter__label">Rôles</label>
                    {{ form_row(form.includeAdherentsNoCommittee, {label: 'Adhérents ne faisant partie d\'aucun comité'}) }}
                    {{ form_row(form.includeAdherentsInCommittee, {label: 'Adhérents faisant partie d\'au moins un comité (hors animateurs)'}) }}
                    {{ form_row(form.includeCommitteeSupervisors, {label: 'Animateurs de comités locaux'}) }}
                    {{ form_row(form.includeCommitteeHosts, {label: 'Co-animateurs de comités locaux'}) }}
                    {{ form_row(form.includeCitizenProjectHosts, {label: 'Porteurs de projets citoyens'}) }}
            </div>
        </div>
    </div>

    <div class="manager__filters__section">
        <div class="manager__filters__group">
            <div class="filter__row">
                <label class="filter__label">Genre</label>
                {{ form_widget(form.gender, {attr: {class: 'filter__radio__tabs inputs--4'}}) }}
            </div>

            <div class="filter__row">
                <label class="filter__label">Age</label>
                <div class="filter__multi">
                    <label style="width: 45%">
                        {{ form_widget(form.ageMin, {label: false, attr: {class: 'filter__field', placeholder: 18}}) }}
                    </label>
                    à
                    <label style="width: 45%">
                        {{ form_widget(form.ageMax, {label: false, attr: {class: 'filter__field', placeholder: 99}}) }}
                    </label>
                </div>
            </div>

            <div class="filter__row">
                <label class="filter__label">Centres d'intéret</label>
                {{ form_widget(form.interests, {attr: {class: 'filter__field'}}) }}
            </div>

        </div>
    </div>

    <div class="manager__filters__section">
        <div class="manager__filters__group">
            <div class="filter__row">
                <label class="filter__label">Nom</label>
                {{ form_widget(form.lastName, {attr: {class: 'filter__field', placeholder: 'Saisissez un nom'}}) }}
            </div>

            <div class="filter__row">
                <label class="filter__label">Prénom</label>
                {{ form_widget(form.firstName, {attr: {class: 'filter__field', placeholder: 'Saisissez un prénom'}}) }}
            </div>

            <div class="filter__row">
                <label class="filter__label">Ville ou code postal</label>
                {{ form_widget(form.city, {attr: {class: 'filter__field', placeholder: 'Saisissez une ville'}}) }}
            </div>
        </div>
    </div>

</div>
