{% extends 'message/filter.html.twig' %}

{% block filter_content %}
    <div class="form__title b__nudge--bottom-larger">
        <h3 class="text--medium  text--center">Filtrer mon message</h3>
        <div class="form__step">
            <span class="active">2</span>
            / 2
        </div>
    </div>

    <div class="manager__filters">
        <div class="manager__filters__form">
            {{ form_start(form) }}
            <h4 class="manager__filters__subtitle">Filtrer par</h4>
            <div class="manager__filters__row">
                <div class="manager__filters__section">
                    <div class="manager__filters__group">
                        <div class="filter__row">
                            <label class="filter__label">Villes</label>
                            {{ form_widget(form.cities, {attr: {class: 'filter__field multi_select2', 'data-placeholder': 'Choisissez une ou plusieures villes'}}) }}
                            {{ form_errors(form.cities) }}
                        </div>

                        <div class="filter__row">
                            <label class="filter__label">Nom</label>
                            {{ form_widget(form.lastName, {attr: {class: 'filter__field', placeholder: 'Saisissez un nom'}}) }}
                            {{ form_errors(form.lastName) }}
                        </div>

                        <div class="filter__row">
                            <label class="filter__label">Prénom</label>
                            {{ form_widget(form.firstName, {attr: {class: 'filter__field', placeholder: 'Saisissez un prénom'}}) }}
                            {{ form_errors(form.firstName) }}
                        </div>
                    </div>
                </div>

                <div class="manager__filters__section">
                    <div class="manager__filters__group" id="contact-choices-container">
                        <div class="filter__row">
                            <label class="filter__label">ÉQUIPE</label>
                            {{ form_row(form.contactRunningMateTeam, {label: 'Colistiers de mon équipe'}) }}
                            {{ form_row(form.contactVolunteerTeam, {label: 'Bénévoles de mon équipe'}) }}
                        </div>
                        <div class="filter__row">
                            <label class="filter__label">CANDIDATS</label>
                            {{ form_row(form.contactOnlyRunningMates, {label: 'Colistiers (hors équipe)'}) }}
                            {{ form_row(form.contactOnlyVolunteers, {label: 'Bénévoles (hors équipe)'}) }}
                        </div>
                    </div>
                </div>
            </div>

            <div class="manager__filters__actions b__nudge--top">
                <button type="submit" class="btn btn--black b__nudge--bottom-medium">Filtrer</button>
                {% if message.filter %}
                    <a
                        href="{{ path('app_message_municipal_chief_filter', {uuid: message.uuid, reset: true}) }}"
                        class="btn btn--no-border b__nudge--bottom-medium btn-filter--reset"
                    >Réinitialiser le filtre</a>
                {% endif %}
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('select2/select2.min.css') }}" rel="stylesheet">
{% endblock %}

{% block final_javascripts %}
    {{ parent() }}
    <script type="text/javascript" src={{ asset('bundles/sonataadmin/vendor/jquery/dist/jquery.min.js') }}></script>
    <script type="text/javascript" src={{ asset('select2/select2.min.js') }}></script>
    <script type="text/javascript" src={{ asset('select2/fr.js') }}></script>
    <script type="text/javascript">
        Kernel.onLoad(function() {
            $('.multi_select2').each(function () {
                $(this).select2({
                    placeholder: this.dataset.placeholder || '',
                    theme: 'default em-filters'
                });
            });

            $('#contact-choices-container input').on('change', function () {
                if (this.checked) {
                    var parentElement = $(this).closest('.filter__row');

                    $('#contact-choices-container .filter__row').each(function () {
                        var groupElement = $(this);

                        if (groupElement.is(parentElement) === false) {
                            $('input', groupElement).prop('checked', false);
                        }
                    });
                }
            });
        });
    </script>
{% endblock %}
