<div class="referent__filters__form">
    {{ form_start(form) }}
        <div class="referent__filters__subtitle text--center">
            Filtrer par zones gérées
        </div>

        <div class="l__wrapper--slim b__nudge--bottom-huge l__col l__col--center">
            {{ form_errors(form.zones) }}
            <div class="l__row">
                {{ form_widget(form.zones, {attr: {class: 'form--full'}}) }}
            </div>
        </div>

        <div class="referent__filters__buttons text--center space--45-5 l__wrapper--500 b__nudge--top-40 background--lighter">
            {% if message.filter %}
                {% if not message.synchronized %}
                    <p>Nous recherchons les adhérents correspondant à vos critères</p>
                {% elseif message.recipientCount is not null %}
                    {%  if message.recipientCount == 0 %}
                        <p>Votre filtre ne correspond à aucun adhérent :(</p>
                    {% else %}
                        <p>Votre filtre correspond à {{ message.recipientCount }} adhérent(s) !</p>
                    {% endif %}
                {% endif %}

                <button type="submit" name="reset" class="btn btn--no-border">Réinitialiser le filtre</button>
            {% endif %}

            <button type="submit" class="btn btn--blue">Sauvegarder le filtre</button>
        </div>
    {{ form_end(form) }}
</div>
