<div class="referent__filters__form">
    {{ form_start(form) }}

        {% if form.referentTags is defined %}
            {{ include('message/filter/_referent_zone_filter_form.html.twig') }}
        {% else %}
            {{ include('message/filter/_referent_full_filter_form.html.twig') }}
        {% endif %}

        <div class="referent__filters__buttons text--center space--45-5 l__wrapper--500 b__nudge--top-40 background--lighter">
            {% if message.filter %}
                {% if not message.synchronized %}
                    <p>Nous recherchons les adhérents correspondant à vos critères</p>
                {% elseif message.recipientCount is not null %}
                    {%  if message.recipientCount == 0 %}
                        <p>Votre filtre ne correspond à aucun adhérent :(</p>
                    {% else %}
                        <p>Votre filtre correspond à {{ message.recipientCount }} adhérent(s) !</p>
                    {% endif %}
                {% endif %}

                <button type="submit" name="reset" class="btn btn--no-border">Réinitialiser le filtre</button>
            {% endif %}

            <button type="submit" class="btn btn--blue">Sauvegarder le filtre</button>
        </div>
    {{ form_end(form) }}
</div>
