{% import 'voting_platform/_macros.html.twig' as helper %}

{% set candidate_group = candidate_group_result.candidateGroup %}
{% set candidacies = candidate_group.getCandidates() %}
{% set first = candidacies|first %}

<div class="candidate__box {{ candidate_group.elected ? 'elected' }}">
    <div class="box__content">
        <div class="flex flex-col">
            <h3 class="text-gray-500">
                Liste
                <span class="text-gray-500"> ({{ candidacies|length }} candidat{{ candidacies|length > 1 ? 's' }})</span>
            </h3>
            <p class="font-bold">{{ first.getFirstName() }} <span class="uppercase"> {{ first.getLastName() }}</span></p>

            {% set votes_rate = candidate_group_result.rate %}
            <p class="my-3">Exprimés : <span class="font-bold">{{ votes_rate|number_format(2, ',') }}%</span></p>

            <div class="l__row progress-bar">
                {% set votes_rate = candidate_group_result.rate %}
                <div class="progress-bar__gauge">
                    <div class="slider" style="width: {{ votes_rate }}%"></div>
                </div>
            </div>
        </div>

        {% set elected = candidacies|filter(cand => cand.isAdditionallyElected()) %}

        <h3 class="mt-5">Siège{{ elected|length > 1 ? 's' }} attribué{{ elected|length > 1 ? 's' }} : <span class="font-bold">{{ elected|length }}</span></h3>

        <ul class="candidate-names">
            {% for candidate in candidacies|sort((a, b) => b.isAdditionallyElected() <=> a.isAdditionallyElected()) %}
                <li class="text--body">{{ candidate.getFirstName() }} <span class="uppercase">{{ candidate.getLastName() }}</span>
                    {% if candidate.isAdditionallyElected %}
                        <span class="bg-yellow-100 text-yellow-800 text-sm font-medium mr-2 px-2.5 py-0.5 rounded dark:bg-yellow-200 dark:text-yellow-900">
                            Élu{{ candidate.isFemale ? 'e' }}
                        </span>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </div>
</div>
