<aside class="election__aside">
    {% if my_vote is defined and my_vote %}
        <div class="election__participated space--30">
            <p class="text--body text--white text--bold">Vous avez participé à cette {{ designation.denomination }} le {{ my_vote.votedAt|localizeddate('none', 'none', 'fr_FR', null, "dd/MM/yyyy à HH'h'mm") }}.</p>
        </div>
    {% endif %}

    <div class="election__stats space--30">
        <h3 class="text--medium-large b__nudge--bottom-large">Les <span class="text--on-yellow">chiffres</span> de {{ designation.getDenomination(true) }}</h3>

        {% set participated = pool_result.participated ?? 0 %}
        {% set expressed = pool_result.expressed ?? 0 %}
        <div class="el">
            <div class="title">Participants</div>
            <span class="value">{{ participated }}</span>
        </div>

        <div class="el">
            <div class="title">Exprimés</div>
            <span class="value">{{ expressed }}</span>
        </div>

        {% if not designation.isMajorityType %}
            {% if designation.isBlankVoteEnabled() %}
                <div class="el">
                    <div class="title">Blancs</div>
                    <span class="value">{{ pool_result.blank ?? 0 }}</span>
                </div>
            {% endif %}

            <div class="el">
                <div class="title">Abstentions</div>
                <span class="value">{{ pool_result.abstentions ?? 0 }}</span>
            </div>
        {% else %}
            <div class="el">
                <div class="title">Participation</div>
                <span class="value">{{ ((expressed / participated) * 100)|number_format(1, ',') }}%</span>
            </div>
        {% endif %}
    </div>
</aside>
