{% extends 'voting_platform/results.html.twig' %}

{% set my_vote = get_my_vote_for_election(app.user, election) %}

{% block results_content %}
    <div>
        <nav class="l__wrapper--slim results__menu b__nudge--bottom-large">
            <ul>
                <li class="active"><a href="#" class="results-tab--toggle">Résultats femmes</a></li>
                <li><a href="#" class="results-tab--toggle">Résultats hommes</a></li>
                <li><a href="#" class="results-tab--toggle">Bulletins dépouillés</a></li>
            </ul>
        </nav>

        <div class="candidate-tabs--container">
            <div class="candidate-tab candidate-tab--1">
                <div class="tab--container">
                    {% include 'voting_platform/results/_candiates_list.html.twig' with {
                        'candidate_groups': election.candidateGroups.womanCandidateGroups,
                        'candidates': results.aggregated.candidates,
                        'resume': results.aggregated.resume[0],
                    } %}

                    {% include 'voting_platform/results/_stats_block.html.twig' with {
                        'resume': results.aggregated.resume[0],
                    } %}
                </div>
            </div>

            <div class="candidate-tab candidate-tab--2" style="display: none;">
                <div class="tab--container">
                    {% include 'voting_platform/results/_candiates_list.html.twig' with {
                        'candidate_groups': election.candidateGroups.manCandidateGroups,
                        'candidates': results.aggregated.candidates,
                        'resume': results.aggregated.resume[1],
                    } %}

                    {% include 'voting_platform/results/_stats_block.html.twig' with {
                        'resume': results.aggregated.resume[1],
                    } %}
                </div>
            </div>

            <div class="candidate-tab candidate-tab--3" style="display: none;">
                <div class="tab--container">
                    <div class="l__col--wrap l__wrapper--slim">
                        <h3>Bulletins dépouillés</h3>

                        <p>Cette page recense la totalité des {{ results.aggregated.resume[0].participated }} bulletins dépouillés lors de cette désignations.</p>
                        <p>Retrouvez vos bulletins avec le N° anonyme qui vous a été transmis lors du versement de vos bulletins dans l'urne.</p>

                        <div class="table--container">
                            <table>
                                <thead>
                                    <tr>
                                        <th>N° anonyme</th>
                                        <th>Bulletin F</th>
                                        <th>Bulletin H</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for vote in results.votes %}
                                        <tr>
                                            <td>{{ vote.voterKey }}</td>
                                            <td>
                                                {% if vote.voteChoices[0].isBlank %}
                                                    ~
                                                {% else %}
                                                    {% set candidate = vote.voteChoices[0].candidateGroup.candidates|first %}
                                                    {{ candidate.firstName }} {{ candidate.lastName }}
                                                {% endif %}
                                            </td>
                                            <td>
                                                {% if vote.voteChoices[1].isBlank %}
                                                    ~
                                                {% else %}
                                                    {% set candidate = vote.voteChoices[1].candidateGroup.candidates|first %}
                                                    {{ candidate.firstName }} {{ candidate.lastName }}
                                                {% endif %}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block final_javascripts %}
    {{ parent() }}

    <script type="text/javascript">
        findAll(dom('.results__menu'), 'a.results-tab--toggle').forEach(function(link, index) {
            on(link, 'click', function (event) {
                event.preventDefault();
                toggleVoteTab(index);

                removeClass(dom('.results__menu li.active'), 'active');
                addClass(link.parentNode, 'active');
            });
        });

        function toggleVoteTab(id) {
            findAll(document, '.candidate-tabs--container > div').forEach(function(tab, index) {
                if (index === id) {
                    show(tab);
                } else {
                    hide(tab);
                }
            });
        }
    </script>
{% endblock %}
