{% for citizen_project in results %}
    <a href="{{ path('app_citizen_project_show', {'slug': citizen_project.slug}) }}" class="search__citizen_project__box">
        <div class="search__results__meta">
            <h2 class="text--medium text--normal">
                {{ citizen_project.name }}
            </h2>
            <div class="text--body text--bold">{{ citizen_project.cityName }}</div>
        </div>

        {% if citizen_project.hasImageUploaded %}
            <div class="search__results__picture">
                <img style="max-width: 300px" src="{{ asset(citizen_project.getAssetImagePath) }}" />
            </div>
        {% endif %}

        <p>{{ citizen_project.getProblemDescription }}</p>

        <div class="search__results__creator">
            <p>
                <span class="card">{{ include('components/user.html.twig') }}</span>Par
                    {{ citizen_project.creator ? citizen_project.creator.fullName : 'un anonyme' }}
                </span>
            </p>
        </div>

        Nous recherchons :
        <div class="search__results__skills">
            {% if citizen_project.skills|length > 0 %}
                <ul>
                    {% for skill in citizen_project.skills  %}
                        <li>{{ skill }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    </a>
{% endfor %}
