{% for citizen_project in results %}
    <div class="search__citizen_project__box">
        {% if citizen_project.hasImageUploaded %}
            <div class="search__citizen_project__image">
                <img src="{{ asset(citizen_project.getAssetImagePath) }}" />
            </div>
        {% endif %}
        <div class="search__citizen_project__meta">

            <h2 class="text--medium-small">
                {{ citizen_project.name }}
            </h2>
            <div class="text--gray b__nudge--top-5">{{ citizen_project.getProblemDescription }}</div>

            <div class="text--small text--gray b__nudge--top">
                    Par <span class="text--dark">{{ citizen_project.creator ? citizen_project.creator.fullName : 'un anonyme' }}</span> à
                    {{ citizen_project.cityName }}
            </div>

            <div class="text--gray text--small b__nudge--top-50">
                {% if citizen_project.skills|length > 0 %}
                Nous recherchons
                    <ul class="search__citizen_project__skills">
                        {% for skill in citizen_project.skills  %}
                            <li>{{ skill }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>

        </div>
        <a href="{{ path('app_citizen_project_show', {slug: citizen_project.slug}) }}"
           class="search__citizen_project__box__link"></a>
    </div>
{% endfor %}
