{% for event in results %}
    {% if date is not defined or date != event.beginAt|date('Ymd') %}
        {% set date = event.beginAt|date('Ymd') %}

        <div class="text--normal text--bold text--all-caps b__nudge--bottom-medium b__nudge--top-large">
            {{ event.beginAt|localizeddate('none', 'none', 'fr_FR', null, 'd MMMM Y') }}
        </div>

    {% endif %}

    <div class="search__results__row l__row l__row--h-stretch l__row--v-center {{ event.type and event.type is same as('citizen_initiative') ? 'search__results__row--citizen_initiative' : '' }} {{ event.organizer and event.organizer.isReferent ? 'search__results__row--referent-event' : '' }}">
        <div class="search__results__info l__col l__col--v-stretch l__col--left">
            <div class="search__results__meta">
                {% if event.isForLegislatives %}
                    <div class="tag--orange">Législatives</div>
                {% endif %}
                <h2 class="text--normal text--medium b__nudge--bottom-small text--breakword">
                    <a class="link--no-decor"
                       href="{{ path("app_#{event.type}_show", { slug: event.slug }) }}">
                      {{ event.name }}
                    </a>
                </h2>
                <div class="text--body">
                    {{ event.beginAt|localizeddate('none', 'none', 'fr_FR', null, 'd MMMM Y') }} &mdash; à {{ event.cityName }}<br />
                </div>
                {% if event.type and event.isCitizenInitiative %}
                    {% if event.organizer %}
                        <div class="text--body"><span class="text--bold">Initiative citoyenne</span> organisée par l'adhérent <span class="text--bold">{{ is_granted('IS_AUTHENTICATED_FULLY') ? event.organizer.fullName : event.organizer.partialName }}</span></div>
                    {% else %}
                        <div class="text--body"><span class="text--bold">Initiative citoyenne</span> organisée par un ancien adhérent</div>
                    {% endif %}
                {% elseif event.committee %}
                    <div class="text--body">Organisé par le comité <span class="text--bold">{{ event.committee.name }}</span></div>
                {% elseif event.organizer and event.organizer.isReferent %}
                    <div class="text--body">Organisé par un <span class="text--bold">Référent En Marche</span> ({{ event.organizer.fullName }})</div>
                {% elseif event.organizer %}
                    <div class="text--body">Organisé par <span class="text--bold">{{ event.organizer.fullName }}</span></div>
                {% endif %}
            </div>

            <div class="search__results__cta">
                {% if event.finished %}
                    <div class="text--body search__results__cta__text">
                        Cet événement est terminé
                    </div>
                {% elseif event.cancelled %}
                    <div class="text--body b__nudge--right">
                        Cet événement est annulé
                    </div>
                {% elseif not event.full %}
                    <a href="{{ path("app_#{event.type}_attend", {slug: event.slug}) }}"
                       class="btn btn--blue" target="_blank" rel="noopener noreferrer">
                        Je participe
                    </a>
                {% else %}
                    <div class="text--body search__results__cta__text">
                        Événement complet
                    </div>
                {% endif %}
                <a href="{{ path("app_#{event.type}_show", { slug: event.slug }) }}"
                   class="btn" target="_blank" rel="noopener noreferrer">
                    En savoir plus
                </a>
                <div class="text--body icon--with-text l__row--center">
                    {{ include('components/participants.html.twig') }}
                    {{ 'event.participants_count'|transchoice(event.participantsCount) }}
                </div>
            </div>
        </div>

        <img class="search-map"
             src="{{ path('map_url', { latitude: event.latitude, longitude: event.longitude }) }}"
             title="Carte d'accès à l'événement {{ event.name }}"
             alt="{{ event.inlineFormattedAddress }}" />

        <a href="{{ path("app_#{event.type}_show", { slug: event.slug }) }}"
           class="search__results__row__link link--no-decor" target="_blank" rel="noopener noreferrer">
            En savoir plus
        </a>
    </div>
{% endfor %}
