<div>
    <select name="{{ constant('PARAMETER_RADIUS', search) }}">
        {% for option in constant('RADII', search) %}
            <option value="{{ option }}" {% if constant('DEFAULT_RADIUS', search) == option %}selected="selected"{% endif %}>
                {{ 'citizen_project.search.filter_radius_citizen_projects'|transchoice(option) }}
            </option>
        {% endfor %}
    </select>
</div>
<!-- Old class search__bar__options__types -->
<div class="search__bar__options">
    <select class="search__bar__options__cp-skills" name="{{ constant('PARAMETER_CITIZEN_PROJECT_SKILL_IDS', search) }}" class="form" >
        {% for skill in skills %}
            <option value="{{ skill.id }}">{{ skill.name }}</option>
        {% endfor %}
    </select>
</div>
