<div class="search__bar space--30 text--white text--body">
    <div class="search__bar__options">
        <input class="search-box" name="{{ constant('PARAMETER_QUERY', search) }}" placeholder="Rechercher...">

        {% if search.isTypeEvents() %}
            <div class="search__bar__options__types">
                <select id="select-event-category" name="{{ constant('PARAMETER_EVENT_CATEGORY', search) }}" class="form">
                    <option value=""{% if not search.eventCategory %} selected="selected"{% endif %}>Tous les événements</option>
                    <option value="{{ constant('TYPE_CITIZEN_ACTIONS', search) }}">Actions citoyennes</option>
                    {% for category_group in event_categories %}
                        <optgroup label="{{ category_group.name }}">
                            {% for category in category_group.eventCategories %}
                                <option value="{{ category.id }}"{% if search.eventCategory == category.id %} selected="selected"{% endif %}>{{ category.name }}</option>
                            {% endfor %}
                        </optgroup>
                    {% endfor %}
                </select>
            </div>
            <div class="form__checkbox search__bar__options__referent-events">
                <input type="checkbox" id="search-referent-events" name="{{ constant('PARAMETER_REFERENT_EVENTS', search) }}">
                <label class="form form__label" for="adherent_elected">Uniquement les événements de référents</label>
            </div>
        {% endif %}

        {% if search.isTypeCitizenProjects %}
            {{ include('search/_filters_radius_citizen_projects.html.twig') }}
        {% else %}
            {{ include('search/_filters_radius.html.twig') }}
        {% endif %}

        <div>
            <form>
                autour de
                {# this widget will be embedded in the ribbon text #}
                <input class="search-city" id="search-city" name="{{ constant('PARAMETER_CITY', search) }}" value="{{ search.city }}" placeholder="Ville ou code postal"/>
                <input id="search-type" type="hidden" name="{{ constant('PARAMETER_TYPE', search) }}" value="{{ search.type }}"/>
            </form>
        </div>
    </div>
</div>
