{% extends 'referent/_layout.html.twig' %}

{% block head_javascripts %}
    <script type="text/javascript" src={{ asset('bundles/sonataadmin/vendor/jquery/dist/jquery.min.js') }}></script>
{% endblock %}

{% import 'javascript.js.twig' as js %}

{% block referent_content %}
    <div class="territorial-council l__wrapper b__nudge--bottom-huge">
        <div>
            <a href="{{ path('app_instances_convocation_referent_list') }}" class="text--body link--no-decor link--blue--dark">⟵ Retour</a>
        </div>

        <div class="l__wrapper--slim">
            <h2 class="font-roboto text--medium b__nudge--bottom-large b__nudge--top-50">Nouvelle convocation</h2>

            {{ form_start(form, {attr: {class: 'em-form'}}) }}

            {{ form_errors(form) }}

            <div>
                <div id="instance-type-tab-coterr">
                    {% if form.politicalCommittee is defined %}
                        <div class="em-form__group">
                            <div class="form__radio">
                                <input type="radio" name="instance-type" id="instance-type-coterr" />
                                <label class="form form__label" for="instance-type-coterr">Conseil territorial</label>
                            </div>
                        </div>
                    {% endif %}

                    <div class="em-form__group">
                        {% if form.politicalCommittee is not defined %}
                            <label class="em-form__label">Conseil territorial <span class="em-form__required">*</span></label>
                        {% endif %}
                        {{ form_errors(form.territorialCouncil) }}
                        {{ form_widget(form.territorialCouncil, {attr: {class: 'em-form__field'}}) }}
                    </div>
                </div>

                {% if form.politicalCommittee is defined %}
                    <div id="instance-type-tab-copol">
                        <div class="em-form__group">
                            <div class="form__radio">
                                <input type="radio" name="instance-type" id="instance-type-copol" />
                                <label class="form form__label" for="instance-type-copol">Comité politique</label>
                            </div>
                        </div>

                        <div class="em-form__group">
                            {{ form_errors(form.politicalCommittee) }}
                            {{ form_widget(form.politicalCommittee, {attr: {class: 'em-form__field'}}) }}
                        </div>
                    </div>
                {% endif %}
            </div>

            <hr class="separator b__nudge--top-50" />

            <div class="em-form__group">
                {{ form_errors(form.mode) }}
                {{ form_widget(form.mode) }}
            </div>

            <div class="meeting-form-fields space--20-30">
                <div>
                    <div class="em-form__group" style="{{ form.mode.vars.value != constant('App\\TerritorialCouncil\\Designation\\DesignationVoteModeEnum::VOTE_MODE_ONLINE') ? 'display: none' }}">
                        <label class="em-form__label">Le lien de la réunion <span class="em-form__required">*</span></label>
                        {{ form_errors(form.meetingUrl) }}
                        {{ form_widget(form.meetingUrl, { attr: { class: 'em-form__field', placeholder: 'https://' } }) }}
                    </div>

                    <div style="{{ form.mode.vars.value != constant('App\\TerritorialCouncil\\Designation\\DesignationVoteModeEnum::VOTE_MODE_MEETING') ? 'display: none' }}">
                        {{ form_errors(form.address) }}

                        <div>
                            <div class="address-autocomplete em-form__group">
                                <label class="em-form__label">Adresse postale <span class="em-form__required">*</span></label>
                            </div>
                            <p class="text--error visually-hidden" id="address-autocomplete-help-message">
                                Nous n'avons pas reconnu votre adresse, veuillez <a href="#">cliquer ici</a> pour pouvoir la renseigner librement.
                            </p>
                        </div>

                        <div class="address-block">
                            <div class="em-form__group">
                                <label class="em-form__label">Adresse postale <span class="em-form__required">*</span></label>
                                {{ form_errors(form.address.address) }}
                                {{ form_widget(form.address.address, { attr: { class: 'em-form__field', placeholder: 'Adresse postale' } }) }}
                            </div>

                            <div class="em-form__group">
                                <label class="em-form__label">Pays <span class="em-form__required">*</span></label>
                                {{ form_errors(form.address.country) }}
                                {{ form_widget(form.address.country, { attr: { class: 'em-form__field' } }) }}
                            </div>

                            <div class="em-form__row">
                                <div class="em-form__group">
                                    <label class="em-form__label">Code postal <span class="em-form__required">*</span></label>
                                    {{ form_errors(form.address.postalCode) }}
                                    {{ form_widget(form.address.postalCode, { attr: { class: 'em-form__field', placeholder: 'Code postal' } }) }}
                                </div>
                                <div class="em-form__group">
                                    <label class="em-form__label">Ville <span class="em-form__required">*</span></label>
                                    {{ form_errors(form.address.cityName) }}
                                    {{ form_widget(form.address.cityName, { attr: { class: 'em-form__field', placeholder: 'Ville' } }) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <hr class="separator b__nudge--top-50" />

                <div class="em-form__row b__nudge--top-large">
                    <div class="em-form__group em-form__width--1 em-form__width--100">
                        {{ form_label(form.meetingStartDate, 'Début de la réunion', {label_attr: {class: 'em-form__label'}}) }}
                        {{ form_errors(form.meetingStartDate) }}
                        {{ form_widget(form.meetingStartDate) }}
                    </div>
                    <div class="em-form__group em-form__width--1 em-form__width--100">
                        {{ form_label(form.meetingEndDate, 'Fin de la réunion', {label_attr: {class: 'em-form__label'}}) }}
                        {{ form_errors(form.meetingEndDate) }}
                        {{ form_widget(form.meetingEndDate) }}
                    </div>
                </div>
            </div>

            <h2 class="font-roboto text--medium b__nudge--bottom-large b__nudge--top-50">Questions diverses</h2>

            <div class="em-form__group b__nudge--top">
                {{ form_label(form.description, 'Ordre du jour', {label_attr: {class: 'em-form__label'}}) }}
                {{ form_errors(form.description) }}
                <div class="em-form__field--ctn">
                    {{ form_widget(form.description, { attr: { class: 'form--full form__field--textarea-300', rows: 20, cols: 70 } }) }}
                </div>
            </div>

            <div>
                {{ form_row(form.save, {label: 'Envoyer', attr: {class: 'btn btn--blue btn--large-and-full b__nudge--top-15'}}) }}
            </div>

            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}

{% block final_javascripts %}
    {{ parent() }}

    <script src="{{ asset('ckeditor/ckeditor.js') }}"></script>
    <script src="{{ asset('ckeditor/lang/fr.js') }}"></script>
    <script type="text/javascript">
        Kernel.onLoad(function() {
            {{ js.microCkeditor(form.description.vars.id, null, 2000) }}
        });
    </script>

    {% if google_maps_api_key %}
        <script src="https://maps.googleapis.com/maps/api/js?key={{ google_maps_api_key }}&amp;libraries=places" async defer></script>
    {% endif %}

    <script type="text/javascript">
        Kernel.onLoad(function() {
            {{ js.autocomlete_address(form.address) }}

            var meetingUrlContainer = dom('.meeting-form-fields > div > div:first-child');
            var meetingAddressContainer = dom('.meeting-form-fields > div > div:last-child');

            findAll(document, 'input[name="{{ form.mode.vars.full_name }}"').forEach(function(radio) {
                on(radio, 'change', function (event) {
                    if (event.target.value === '{{ constant('App\\TerritorialCouncil\\Designation\\DesignationVoteModeEnum::VOTE_MODE_MEETING') }}') {
                        hide(meetingUrlContainer);
                        show(meetingAddressContainer);
                    } else {
                        hide(meetingAddressContainer);
                        show(meetingUrlContainer);
                    }
                });
            });

            {% if form.politicalCommittee is defined %}
                var copolSelect = $('#{{ form.politicalCommittee.vars.id }}');

                var coterrRadio = $('#instance-type-coterr');
                var copolRadio = $('#instance-type-copol');

                var switchCallback = function (activeElement, inactiveElement) {
                    activeElement.addClass('active');
                    inactiveElement.removeClass('active');

                    activeElement.find('select').prop('disabled', false);
                    inactiveElement.find('select').prop('disabled', true);
                }

                coterrRadio.on('change', function () {
                    switchCallback($('#instance-type-tab-coterr'), $('#instance-type-tab-copol'));
                });

                copolRadio.on('change', function () {
                    switchCallback($('#instance-type-tab-copol'), $('#instance-type-tab-coterr'));
                });

                if (copolSelect.val()) {
                    copolRadio.prop('checked', true).trigger('change');
                } else {
                    coterrRadio.prop('checked', true).trigger('change');
                }
            {% endif %}
        });
    </script>
{% endblock %}
