{% if app.user.isSupervisor or app.user.isHost %}
    <li>
        <a href="{{ path('app_committee_space_dashboard') }}">Espace comité</a>
    </li>
{% endif %}
{% if is_granted('ROLE_CITIZEN_PROJECT_ADMINISTRATOR') %}
    <li>
        <a href="{{ path('app_citizen_project_space_dashboard') }}">Espace porteur de projet</a>
    </li>
{% endif %}
{% if app.user.isReferent %}
    <li>
        <a href="{{ path('app_referent_event_manager_events') }}">Espace référent</a>
    </li>
{% endif %}
{% if is_granted('IS_DELEGATED_REFERENT') %}
    <li>
        <a href="{{ path(get_first_access_route(app.request.attributes.get('_delegatedAccesses'), 'referent')) }}">Espace référent délégué</a>
    </li>
{% endif %}
{% if app.user.isCoReferent %}
    <li>
        <a href="{{ path('app_referent_managed_users_list') }}">Espace référent partagé</a>
    </li>
{% endif %}
{% if app.user.isDeputy %}
    <li>
        <a href="{{ path('app_message_deputy_list') }}">Espace député</a>
    </li>
{% endif %}
{% if is_granted('IS_DELEGATED_DEPUTY') %}
    <li>
        <a href="{{ path(get_first_access_route(app.request.attributes.get('_delegatedAccesses'), 'deputy')) }}">Espace député délégué</a>
    </li>
{% endif %}
{% if app.user.isSenator %}
    <li>
        <a href="{{ path('app_message_senator_list') }}">Espace sénateur</a>
    </li>
{% endif %}
{% if is_granted('IS_DELEGATED_SENATOR') %}
    <li>
        <a href="{{ path(get_first_access_route(app.request.attributes.get('_delegatedAccesses'), 'senator')) }}">Espace sénateur délégué</a>
    </li>
{% endif %}
{% if app.user.isCoordinatorCitizenProjectSector %}
    <li>
        <a href="{{ path('app_coordinator_citizen_project', { s: constant('App\\Entity\\CitizenProject::PENDING')}) }}"> Espace responsable engagement citoyen
        </a>
    </li>
{% endif %}
{% if app.user.isCoordinatorCommitteeSector %}
    <li>
        <a href="{{ path('app_coordinator_committees', { s: constant('App\\Entity\\Committee::PENDING')}) }}">Espace coordinateur régional</a>
    </li>
{% endif %}
{% if app.user.isProcurationManager %}
    <li>
        <a href="{{ path('app_procuration_manager_requests') }}">Espace responsable procuration</a>
    </li>
{% endif %}
{% if app.user.isAssessorManager %}
    <li>
        <a href="{{ path('app_assessor_manager_requests') }}">Espace responsable assesseur</a>
    </li>
{% endif %}
{% if app.user.isMunicipalChief %}
    <li>
        <a href="{{ path('app_municipal_chief_home') }}">Espace Municipales 2020 🇫🇷</a>
    </li>
{% endif %}
{% if app.user.isJecouteManager %}
    <li>
        <a href="{{ path('app_jecoute_manager_local_surveys_list') }}">Espace responsable J'écoute</a>
    </li>
{% endif %}
{% if app.user.isAssessor %}
    <li>
        <a href="{{ path('app_vote_results_assessor_index') }}">Espace Assesseur</a>
    </li>
{% endif %}
{% if app.user.isMunicipalManager %}
    <li>
        <a href="{{ path('app_assessors_municipal_manager_attribution_form') }}">Espace Responsable communal</a>
    </li>
{% endif %}
{% if app.user.isElectionResultsReporter %}
    <li>
        <a href="{{ path('app_election_results_reporter_space_cities_list') }}">Espace Rapporteur résultats</a>
    </li>
{% endif %}
{% if app.user.isMunicipalManagerSupervisor %}
    <li>
        <a href="{{ path('app_municipal_manager_municipal_manager_supervisor_attribution_form') }}">
            Espace Responsable attribution
        </a>
    </li>
{% endif %}
