{% block adherent_membership_form %}
    {{ form_start(form) }}

    {{ form_errors(form) }}

    <div id="membership-address">
        <strong>Adresse</strong>
        {{ form_errors(form.address) }}
        <div class="l__row l__row--h-stretch register__form--full">
            {{ form_widget(form.address.address, { attr: { placeholder: 'Adresse' } }) }}
            {{ form_errors(form.address.address) }}
        </div>

        <div class="l__row l__row--top l__row--h-stretch l__mobile--col">
            <div class="register__form__city register__form--mid">
                {{ form_widget(form.address.city, { 'attr': { 'class': 'register__form__city'} }) }}
                {{ form_widget(form.address.cityName, { 'attr': { 'class': 'register__form__city_name', 'placeholder': 'Ville' } }) }}
                {{ form_errors(form.address.city) }}
            </div>
             <div class="register__form__zip_code register__form--mid">
                {{ form_widget(form.address.postalCode, { attr: { placeholder: 'Code postal' } }) }}
            </div>
        </div>

        <div class="l__row l__row--top l__row--h-stretch l__mobile--col register__form__country register__form--full">
            {{ form_widget(form.address.country) }}
            {{ form_errors(form.address.country) }}
        </div>
    </div>

    <div class="space--10-0"></div>

    <div class="l__row l__row--top l__row--h-stretch l__mobile--col">
        <div class="register__form--mid" id="field-birthdate">
            <strong>Date de naissance</strong>
            <div class="l__row l__row--h-stretch">
                {% for field in form.birthdate|reverse %}
                    {{ form_widget(field, {attr: {style: 'width: 32%;'}}) }}
                {% endfor %}
            </div>
            {{ form_errors(form.birthdate) }}
        </div>
        <div class="form__radio-button register__form--mid">
            <strong>Sexe</strong>
            {{ form_widget(form.gender, { attr: { class: 'register__form__gender' } }) }}
            {{ form_errors(form.gender) }}
        </div>
    </div>

    <div class="space--10-0"></div>

    <div class="l__row l__row--top l__row--h-stretch l__mobile--col">
        <div class="register__form--full">
            <strong>Numéro de téléphone mobile</strong>
            <div class="l__row l__row--h-stretch">
                {{ form_widget(form.phone.country, { placeholder: 'common.country'|trans, attr: { class: 'membership_request__form__phone'} }) }}
                {{ form_widget(form.phone.number, { attr: { placeholder: 'Téléphone' } }) }}
            </div>
            {{ form_errors(form.phone) }}
        </div>
    </div>

    <div class="space--10-0"></div>

    {% if form.emailAddress is defined %}
        <div class="register__form--full" id="field-email-address">
            {{ form_widget(form.emailAddress, { attr: { placeholder: 'Adresse e-mail' } }) }}
            {{ form_errors(form.emailAddress) }}
        </div>
    {% endif %}

    {% if form.comMobile is defined %}
        <div class="b__nudge--top text--small form__checkbox form__checkbox--large" id="field-com-mobile">
            {{ form_widget(form.comMobile) }}
            <label class="form form__label" for="{{ form.comMobile.vars.id }}"><span>J'accepte de recevoir par SMS et/ou MMS des informations ou sollicitations à des fins de communication politique de la part de <em>En Marche</em>.</span></label>
        </div>
    {% endif %}

    <div class="register__form--full">
        {{ form_widget(form.submit, { attr: { class: 'btn btn--blue btn--medium b__nudge--top' }}) }}
        <a href="{{ url('homepage') }}" >Je ne souhaite pas adhérer maintenant</a>
    </div>

    {{ form_end(form) }}
{% endblock %}
