{% set route = app.request.attributes.get('_route') %}

<div class="l__wrapper--aside settings-menu">
    <ul>
        <li class="{{ route == 'app_user_profile' ? 'active' }}">
            <a href="{{ path('app_user_profile') }}">Mon compte</a>
        </li>

        <li class="{{ is_active_route(app.request, 'app_certification_request_*') ? 'active' }} }}">
            <a href="{{ path('app_certification_request_home') }}">Certification du profil</a>
        </li>

        <li class="{{ route == 'app_user_edit' ? 'active' }}">
            <a href="{{ path('app_user_edit') }}">Mes informations personnelles</a>
        </li>

        <li class="{{ route == 'app_user_profile_donation' ? 'active' }}" >
            <a href="{{ path('app_user_profile_donation') }}" id="my_donations">Mes dons</a>
        </li>

        {% if app.user.isAdherent %}
            <li class="{{ route == 'app_adherent_pin_interests' ? 'active' }}">
                <a href="{{ path('app_adherent_pin_interests') }}">
                    Mes centres d'intérêt
                </a>
            </li>
            <li class="{{ route == 'app_summary_manager_index' ? 'active' }}">
                <a target="_blank" href="{{ path('app_summary_manager_index') }}">
                    Modifier mon profil <i class="fa fa-external-link"></i>
                </a>
            </li>
        {% endif %}

        <li class="{{ route == 'app_user_set_email_notifications' ? 'active' }}">
            <a href="{{ path('app_user_set_email_notifications') }}">Mes communications via e-mail et mobile</a>
        </li>

        <li class="{{ route == 'app_user_change_password' ? 'active' }}">
            <a href="{{ path('app_user_change_password') }}">Mot de passe</a>
        </li>
    </ul>
</div>
