{% extends 'adherent_profile/_layout.html.twig' %}

{% form_theme form 'form_theme_profile.html.twig' %}

{% block page_title 'Mot de passe' %}

{% block adherent_profile_content %}
    <section class="adherent-profile__section">
        <h1 class="text--medium-large">Mot de passe</h1>

        {{ form_start(form, {attr: {class: 'em-form'}}) }}
            <div class="em-form__section">
                <h2 class="section-subtitle">Votre mot de passe</h2>
                {{ form_row(form.old_password, {half: true, label: 'Mot de passe actuel', attr: {placeholder: 'Entrez votre mot de passe actuel'}}) }}
                {{ form_row(form.password.first, {half: true, label: 'Nouveau mot de passe', attr: {placeholder: 'Entrez votre nouveau mot de passe'}}) }}
                {{ form_row(form.password.second, {half: true, label: 'Nouveau mot de passe une deuxième fois', attr: {placeholder: 'Ré-entrez votre nouveau mot de passe'}}) }}
            </div>
            {{ form_widget(form.submit, {label: 'Enregistrer', attr: {class: 'btn btn--blue'}}) }}
        {{ form_end(form) }}
    </section>
{% endblock %}
