{% extends 'adherent/layout.twig' %}

{% block adherent_profile_form %}

    <h2>Mot de passe</h2>
    <p>Modifiez votre mot de passe.</p>

    {{ form_start(form) }}

        <div class="l__col">

            {{ form_errors(form) }}

            {{ form_label(form.old_password, 'Mot de passe actuel') }}
            {{ form_errors(form.old_password) }}
            {{ form_widget(form.old_password, { attr: { placeholder: 'Entrez votre mot de passe actuel', class: 'form--full b__nudge--bottom-small' } }) }}

            {{ form_label(form.password.first, 'Nouveau mot de passe') }}
            {{ form_errors(form.password.first) }}
            {{ form_widget(form.password.first, { attr: { placeholder: 'Entrez votre nouveau mot de passe', class: 'form--full b__nudge--bottom-small' } }) }}

            {{ form_label(form.password.second, 'Nouveau mot de passe une deuxième fois') }}
            {{ form_widget(form.password.second, { attr: { placeholder: 'Ré-entrez votre nouveau mot de passe', class: 'form--full b__nudge--bottom-small' } }) }}

            <div class="b__nudge--top">
                {{ form_widget(form.submit, { label: 'Enregistrer ce nouveau mot de passe', attr: { class: 'btn--blue' } }) }}
            </div>

        </div>

    {{ form_end(form) }}

{% endblock %}
