{% extends 'adherent/activities.html.twig' %}

{% block page_title 'Mes activités' %}

{% block tab %}
{% set votingCommitteeName = get_voting_committee_name(committeeMemberships) %}
{% set candidacyCommitteeName = get_candidacy_committee_name(committeeMemberships) %}
    <div class="l__wrapper--narrow b__nudge--bottom-huge">
        {% for membership in committeeMemberships %}
            <div class="committee-committee adherent__activity comittee space--30">
                <div class="committee__details">
                    <h2 class="text--normal text--medium b__nudge--bottom-small text--breakword">
                        <a class="link--no-decor"
                           href="{{ path("app_committee_show", { slug: membership.committee.slug }) }}">
                            {{ membership.committee.name }}
                        </a>
                    </h2>
                    <div>
                        <span class="font-roboto text--bold b__nudge--right-small">{{ membership.committee.getCityName }}</span>
                        <span class="font-roboto">{{ 'committee.members_count'|transchoice(membership.committee.membersCount) }}</span>
                    </div>
                </div>
                <div class="committee__actions">
                    <div class="left">
                        <a href="{{ path("app_committee_show", { slug: membership.committee.slug }) }}"
                           class="btn btn--blue b__nudge--right-small" target="_blank" rel="noopener noreferrer">
                            Voir
                        </a>
                    </div>
                    <div class="right">
                        {% if membership.isVotingCommittee %}
                            <div class="em-switch__wrapper">
                                <button role="button"
                                        class="committee-action-button em-switch__toggle checked"
                                        id="committee-toggle-vote-{{ loop.index0 }}"
                                        data-action="ne-plus-voter"
                                        data-slug="{{ membership.committee.slug }}"
                                        data-csrf-token="{{ csrf_token('committee.vote') }}">
                                        <span class="btn-loader"></span>
                                </button>
                                <span class="em-switch__label">Vous votez dans ce comité</span>
                            </div>
                            {% if candidacyCommitteeName is not empty %}
                                <div class="legend active">Vous êtes candidat dans ce comité.</div>
                            {% endif %}
                        {% else %}
                            {% if votingCommitteeName is not empty %}
                                <div class="em-switch__wrapper {{ candidacyCommitteeName is not empty ? "disabled" : ""}}">
                                    <button role="button"
                                            class="committee-toggle-button em-switch__toggle"
                                            id="committee-toggle-vote-{{ loop.index0 }}"
                                            {% if candidacyCommitteeName is not empty %}
                                            disabled=true
                                            {% endif %}
                                            data-slug="{{ membership.committee.slug }}">
                                            <span class="btn-loader"></span>
                                    </button>
                                    <span class="em-switch__label">Voter dans ce comité</span>
                                </div>
                                {% if candidacyCommitteeName is not empty %}
                                    <div class="legend">Vous devez retirer votre candidature pour pouvoir changer de comité de vote.</div>
                                {% endif %}

                            {% else %}
                                <div class="em-switch__wrapper">
                                    <button role="button"
                                            class="committee-action-button em-switch__toggle"
                                            id="committee-toggle-vote-{{ loop.index0 }}"
                                            data-action="voter"
                                            data-slug="{{ membership.committee.slug }}"
                                            data-csrf-token="{{ csrf_token('committee.vote') }}">
                                            <span class="btn-loader"></span>
                                    </button>
                                    <span class="em-switch__label">Voter dans ce comité</span>
                                </div>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
            </div>
        {% else %}
            <div class="text--center b__nudge--bottom-60">
                <p class="text--body b__nudge--bottom-large">Vous n'êtes inscrit(e) dans aucun comité pour le moment.</p>
                <a href="{{ path('app_search_committees') }}" class="btn btn--blue">Rejoindre un comité</a>
            </div>
        {% endfor %}
    </div>
    <div class="em-modal" style="display: none;">
        <div class="modal-background"></div>
        <div class="modal-content">
            <span class="close"></span>
            <div class="font-roboto">
                <div class="text--bold text--default-large">Changement du comité de vote</div>
                <p class="b__nudge--top-15 b__nudge--bottom-large text--dark">
                    Vous êtes sur le point de changer votre comité de vote. Vous ne pourrez plus voter dans le comité {{ votingCommitteeName }},
                    êtes-vous sûr de vouloir changer votre comité de vote ?
                </p>

                <div class="btn btn--ghosting--blue toggleModal b__nudge--right-nano">
                    Annuler
                </div>

                <button role="button"
                        class="btn btn--blue committee-action-button"
                        id="committee-toggle-vote-modal"
                        data-action="voter"
                        data-csrf-token="{{ csrf_token('committee.vote') }}">
                    <img src="{{ asset('images/loader-sm.gif') }}" class="btn-loader visually-hidden" />
                    Confirmer
                </button>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        Kernel.onLoad(function(di) {
            const toggleModal = (e) => {
                let modal = dom('.em-modal');
                modal.style.display = modal.style.display === 'none' ? 'block' : 'none';
            }
            var api = di.get('api');

            findAll(document, '.committee-toggle-button').forEach(function (button) {
                on(button, 'click', function () {
                    let modalButton = dom('.em-modal button')
                    modalButton.setAttribute('data-slug', button.getAttribute('data-slug'));
                    modalButton.setAttribute('data-loop', button.getAttribute('data-loop'));
                    toggleModal();
                });
            });

            on(dom('.modal-background'), 'click', toggleModal);
            on(dom('.close'), 'click', toggleModal);
            on(dom('.toggleModal'), 'click', toggleModal);

            findAll(document, '.committee-action-button').forEach(function (button) {
                on(button, 'click', function () {
                    removeClass(find(button, '.btn-loader'), 'visually-hidden');
                    button.disabled = true;

                    api.toggleCommitteeMembership(
                        button.getAttribute('data-slug'),
                        button.getAttribute('data-action'),
                        button.getAttribute('data-csrf-token'),
                        function (response) {
                            if (response === null) {
                                addClass(find(button, '.btn-loader'), 'visually-hidden');
                                button.disabled = false;
                                toggleModal();
                            } else {
                                window.location.reload();
                            }
                        }
                    );
                });
            });
        });
    </script>
{% endblock %}
