{% extends 'base.html.twig' %}

{% block page_title 'Contacter '~adherent.fullName %}

{% block javascripts %}
    <script src="https://www.google.com/recaptcha/api.js"></script>
{% endblock %}

{% block content %}
    <main class="search">
        <section class="l__wrapper--slim b__nudge--bottom-60">
            {% if fromType and from %}
                {% if fromType == 'committee' %}
                    <a href="{{ path('app_committee_show', {'slug': from.slug}) }}" class="back-to-list icon--with-text text--summary">
                        {{ include('components/caret--left.html.twig') }}
                        Retour au comité</a>
                {% elseif fromType == 'citizen_project' %}
                    <a href="{{ path('app_citizen_project_show', {'slug': from.slug}) }}" class="back-to-list icon--with-text text--summary">
                        {{ include('components/caret--left.html.twig') }}
                        Retour au projet citoyen</a>
                {% elseif fromType == 'territorial_council' %}
                    <a href="{{ path('app_territorial_council_index') }}" class="back-to-list icon--with-text text--summary">
                        {{ include('components/caret--left.html.twig') }}
                        Retour au Conseil territorial</a>
                {% else %}
                    <a href="{{ path('app_event_show', {'slug': from.slug}) }}" class="back-to-list icon--with-text text--summary">
                        {{ include('components/caret--left.html.twig') }}
                        Retour à l'évenement</a>
                {% endif %}
            {% endif %}

            <header class="space--45-5 text--center">
                <h1 class="text--large search-title">{{ block('page_title') }}</h1>
            </header>

            {{ form_start(form, { attr: { class: 'form', id: 'app_adherent_contact' } }) }}

                {{ form_label(form.content, 'Contenu du message') }}
                {{ form_errors(form.content) }}
                {{ form_widget(form.content, { attr: {
                    class: 'form--full form__field--textarea-300',
                    placeholder: "Entrez le message que vous souhaitez envoyer à "~adherent.fullName
                } }) }}

            <input type="hidden" class="nojs-g-recaptcha-response" name="g-recaptcha-response" value="" />
            {% if recaptcha_public_key is not empty %}
                {% for flashMessage in app.flashes("error_recaptcha") %}
                    <p id="recapture_error" class="form__error">{{ flashMessage|trans }}</p>
                {% endfor %}
                {{ form_errors(form) }}
                <div class="g-recaptcha" data-sitekey="{{ recaptcha_public_key }}" style="margin: 10px auto 50px auto;"></div>
            {% elseif app.debug %}
                <input type="hidden" name="g-recaptcha-response" value="fake" />
            {% endif %}

            <button type="submit" class="btn btn--blue">
                Envoyer
            </button>
            <a href="javascript:history.back()" class="btn">
                Annuler
            </a>

            {{ form_end(form) }}
        </section>
    </main>
{% endblock %}
