{% extends 'base.html.twig' %}

{% block page_title 'Je crée mon projet citoyen !' %}

{% block javascripts %}
    {% import 'javascript.js.twig' as js %}

    <script src="{{ asset('ckeditor/ckeditor.js') }}"></script>
    <script src="{{ asset('ckeditor/lang/fr.js') }}"></script>
    <script type="text/javascript">
        Kernel.onLoad(function() {
            {{ js.address(form.address) }}
            {{ js.ckeditor('citizen_project_proposed_solution') }}
            App.runCitizenProjectCreation();
        });
    </script>
{% endblock %}

{% block content %}
    <main>
        <section class="l__wrapper--medium b__nudge--bottom-huge">
            <a href="{{ path('app_search_citizen_projects') }}" class="back-to-list icon--with-text text--summary">
                {{ include('components/caret--left.html.twig') }}
                Retour à la liste des projets citoyens</a>

            <header class="space--30-0 l__wrapper--slim l__col l__col--center text--center">
                <h1 class="b__nudge--bottom-small text--large">
                    Lancez votre projet citoyen !
                </h1>
                <p class="text--body">
                    Ce projet visera à améliorer concrètement votre quotidien - en réunissant la force et les comptétences de toutes et tous.
                </p>
            </header>
            <div>
                <div class="citizen-project__help">
                    <p class="text--body">
                        Tout projet citoyen doit adhérer à <a href="{{ path('app_citizen_project_help') }}">notre charte</a>.
                    </p>
                    <p class="text--body">
                        Des questions ? Dirigez vous vers <a href="{{ path('app_citizen_project_help') }}">la FAQ</a>.
                    </p>
                </div>

                <div class="citizen-project__form">
                    <form method="post" id="create-citizen-project-form" class="form citizen-project-form">
                        {{ include('citizen_project/_form.html.twig') }}

                        <div class="form__row" id="field-personal-phone">
                            <label class="text--bold form form__label">Vérifier mes informations</label>
                            <p>Mon numéro de téléphone : {{ app.user.phone ? app.user.phone|phone_number_format : null }}</p>
                            <p>Mon e-email : {{ app.user.emailAddress }}</p>
                            <a href="{{ path('app_adherent_profile') }}">Modifier</a>
                            <p>Nous vous contacterons sur ce numéro - il sera mis à disposition de nos équipe NON QG</p>
                        </div>

                        <div class="text--center">
                            <button type="submit" class="btn btn--blue btn--medium" id="create-my-citizen-project">
                                Proposer mon projet
                            </button>
                        </div>
                        {{ form_widget(form._token) }}
                    </form>
                </div>
            </div>
        </section>
    </main>
{% endblock %}
