{% extends 'base.html.twig' %}

{% block page_title 'Lancez votre projet citoyen !' %}
{% block banner '' %}

{% block javascripts %}
    {% import 'javascript.js.twig' as js %}

    <script src="{{ asset('ckeditor/ckeditor.js') }}"></script>
    <script src="{{ asset('ckeditor/lang/fr.js') }}"></script>
    <script type="text/javascript" src={{ asset('bundles/sonataadmin/vendor/jquery/dist/jquery.min.js') }}></script>
    <script type="text/javascript" src={{ asset('bundles/sonataadmin/vendor/jqueryui/ui/jquery-ui.js') }}></script>
    <script type="text/javascript">
        Kernel.onLoad(function() {
            {{ js.address(form.address) }}
            {{ js.simpleCkeditor('citizen_project_proposed_solution') }}
            {{ js.toggleDisplayingElement('#citizen_project_assistance_needed', '#citizen_project_assistance_content') }}
            {{ js.citizenProjectSkills('#citizen_project_skills', '#citizen_project_skills_search', path('app_citizen_project_skills_autocomplete'), '#citizen_project_skills_search') }}
            {{ js.committee('#citizen_project_committees', '#citizen_project_committees_search', path('app_citizen_project_committee_autocomplete'), '#citizen_project_committees_search') }}
        });
    </script>
{% endblock %}

{% block content %}
    <main class="citizen-projects__create">
        <section class="b__nudge--bottom-huge l__wrapper--600">
            <header class="space--60-0">
                <h1 class="b__nudge--bottom-small text--large">
                    Lancez votre projet citoyen !
                </h1>
                <p class="text--body">
                    Un projet citoyen vise à améliorer concrètement le quotidien des habitants de votre quartier ou de votre village, en réunissant l'énergie et les compétences de tous ceux qui veulent agir.
                  </p>
                <div class="text--summary text--gray">
                    Tous les projets citoyens doivent respecter <a class="link--blue" href="https://storage.googleapis.com/en-marche-prod/documents/projets-citoyens/La%20Charte%20des%20Projets%20Citoyens.pdf">la Charte</a>.
                    Des questions ? Consultez la <a class="link--blue" href="{{ url_help_en_marche }}/category/702-projets-citoyens">FAQ</a>.
                </div>
            </header>
            <div>
                <div class="citizen-project__form">
                    {{ form_start(form, {attr: {'id': 'create-citizen-project-form', 'class': 'form citizen-project-for'}}) }}
                        {{ include('citizen_project/_form.html.twig') }}

                        {% if form.cgu is defined %}
                            <div class="form__checkbox form__checkbox--large">
                                <div>
                                    {{ form_widget(form.cgu) }}
                                    {% block _form_cgu_label %}
                                        <label for="citizen_project_cgu">
                                            Je consens au traitement de mes données dans le cadre des Projets citoyens et à la communication de mes coordonnées (téléphone et e-mail) à l'équipe Engagement Citoyen au niveau départemental et national.
                                        </label>
                                    {% endblock %}
                                </div>
                                {{ form_errors(form.cgu) }}
                            </div>
                        {% endif %}

                        <p class="wrong-personal-infos">
                            Ces informations ne sont pas justes ?
                            <a href="{{ path('app_user_profile') }}">Éditez-les</a>.
                        </p>

                        {% if form.data_processing is defined %}
                            <div class="form__checkbox form__checkbox--large ">
                                <div>
                                    {{ form_widget(form.data_processing) }}
                                    {% block _form_data_processing_label %}
                                        <label class="block" for="citizen_project_data_processing">J’adhère aux <a href="https://storage.googleapis.com/en-marche-prod/documents/projets-citoyens/CGU%20-%20Projets%20Citoyens.pdf" target="_blank" rel="noopener" class="link--blue">Conditions Générales d’Utilisation des Projets citoyens</a> et à la <a href="https://storage.googleapis.com/en-marche-prod/documents/projets-citoyens/La%20Charte%20des%20Projets%20Citoyens.pdf" target="_blank" class="link--blue">Charte des Projets citoyens</a></label>
                                    {% endblock %}
                                </div>
                                {{ form_errors(form.data_processing) }}
                            </div>
                        {% endif %}

                        <div class="text--center b__nudge--top-40">
                            <button type="submit" class="newbtn" id="create-my-citizen-project">
                                Proposer mon projet
                                {{ include('components/arrow--right.html.twig') }}
                            </button>
                        </div>
                        {{ form_widget(form._token) }}
                    {{ form_end(form) }}
                    <p class="text--gray text--summary text--small b__nudge--top">
                        Les informations recueillies sur ce formulaire sont enregistrées dans un fichier informatisé par La République En Marche pour le référencement de Projets citoyens et la mise en relation entre Adhérents et Utilisateurs du site <a href="https://en-marche.fr">https://en-marche.fr/</a>.
                    </p>
                    <p class="text--gray text--summary text--small b__nudge--top">
                        Elles sont conservées pendant toute la durée de référencement du Projet citoyen, et au-delà de cette durée dès lors qu’une disposition légale ou règlementaire le prévoit. Ces données sont destinées aux services digitaux de La République En Marche, aux équipes locales de bénévoles de l’association et aux adhérents de La République En Marche désireux de participer à un Projet citoyen.
                    </p>
                    <p class="text--gray text--summary text--small b__nudge--top">
                        Conformément à la loi Informatique et Libertés, vous pouvez exercer vos droits d’opposition, d'accès, de rectification et de suppression des données vous concernant et d’opposition au traitement de données en adressant votre demande accompagnée d’une copie de votre pièce d’identité à l’adresse suivante : <a href="mailto:projetscitoyens@en-marche.fr">projetscitoyens@en-marche.fr</a>.
                    </p>
                </div>
            </div>
        </section>
    </main>
{% endblock %}
