{% extends 'base.html.twig' %}

{% block page_title 'Je crée mon comité En Marche !' %}

{% block javascripts %}
    {% import 'javascript.js.twig' as js %}
    <script type="text/javascript">
        Kernel.onLoad(function() {
            {{ js.address(form.address) }}
        });
    </script>
{% endblock %}

{% block content %}
    <main>
        <section class="l__wrapper--medium b__nudge--bottom-huge">
            <a href="{{ path('app_search_committees') }}" class="back-to-list icon--with-text text--summary">
                {{ include('components/caret--left.html.twig') }}
                Retour à la liste des comités</a>

            <header class="space--30-0 l__wrapper--slim l__col l__col--center text--center">
                <h1 class="b__nudge--bottom-small text--large">
                    Je crée mon comité En Marche !
                </h1>
                <p class="text--body">
                    Soyez artisan du mouvement en devenant animateur de comité ! En lien avec nos équipes nationales
                    et les autres animateurs de votre région, faites vivre le mouvement et ses valeurs avec les
                    adhérents d’En Marche proches de chez vous.
                </p>
            </header>

            <div class="committee__form">
                <form method="post" id="create-committee-form" class="form committee-form">
                    {{ include('committee/_form.html.twig') }}

                    <div class="space--20-30">
                        <h3>Rappel de vos informations personnelles</h3>

                        <div class="form__row" id="field-personal-information">
                            <strong>Nom</strong> : {{ adherent.lastName|upper }}<br/>
                            <strong>Prénom</strong> : {{ adherent.firstName|capitalize }}<br/>
                            <strong>Adresse e-mail</strong> : {{ adherent.emailAddress }}<br/>
                        </div>

                        <p class="wrong-personal-infos">
                            Ces informations ne sont pas justes ?
                            <a href="{{ path('app_user_profile') }}">Éditez-les</a>.
                        </p>
                    </div>

                    <div class="form__row form__checkbox" id="field-confidentiality-terms">
                        {{ form_widget(form.acceptConfidentialityTerms) }}
                        {{ form_label(form.acceptConfidentialityTerms, "J'ai pris connaissance et j'accèpte les règles de confidentialité en qualité de créateur de comité.") }}
                        {{ form_errors(form.acceptConfidentialityTerms) }}
                    </div>

                    <div class="form__row form__checkbox" id="field-contacting-terms">
                        {{ form_widget(form.acceptContactingTerms) }}
                        {{ form_label(form.acceptContactingTerms, "J'accèpte d'être contacté(e) depuis la plateforme En Marche !") }}
                        {{ form_errors(form.acceptContactingTerms) }}
                    </div>

                    <div class="text--center">
                        <button type="submit" class="btn btn--blue btn--medium" id="create-my-committee">
                            Créer mon comité
                        </button>
                    </div>

                    {{ form_rest(form) }}
                </form>
            </div>
        </section>
    </main>
{% endblock %}
