{% extends 'base.html.twig' %}

{% block page_title 'Je crée mon comité En Marche !' %}

{% block javascripts %}
    {% import 'javascript.js.twig' as js %}
    {% if google_maps_api_key %}
        <script src="https://maps.googleapis.com/maps/api/js?key={{ google_maps_api_key }}&amp;libraries=places" async defer></script>
    {% endif %}
    <script type="text/javascript">
        Kernel.onLoad(function() {
            {{ js.autocomlete_address(form.address, true) }}
        });
    </script>
{% endblock %}

{% block content %}
    <main>
        <section class="l__wrapper--narrow b__nudge--bottom-huge">
            <div class="b__nudge--top">
                <a href="{{ path('app_search_committees') }}" class="back-to-list icon--with-text text--summary">
                    {{ include('components/caret--left.html.twig') }}
                    Retour à la liste des comités</a>
            </div>

            <header class="space--30-0 l__wrapper--narrow l__col l__col--center text--center">
                <h1 class="b__nudge--bottom-small text--large">
                    Je crée mon comité En Marche !
                </h1>
                <p class="text--body">
                    Soyez artisan du mouvement en devenant animateur de comité ! En lien avec nos équipes nationales
                    et les autres animateurs de votre région, faites vivre le mouvement et ses valeurs avec les
                    adhérents d’En Marche proches de chez vous.
                </p>
            </header>

            {% if app.user.isMinor %}
                <div class="committee__warning text--center">
                    Vous devez être majeur pour créer un comité.
                </div>
            {% elseif not app.user.certified %}
                <div class="committee__warning text--center">
                    Vous devez être certifié{{ app.user.isFemale ? 'e' }} pour pouvoir faire une demande de création de comité.
                    <div>
                        <a href="{{ path('app_certification_request_form') }}" class="btn btn--blue b__nudge--top">Me certifier</a>
                    </div>
                </div>
            {% elseif app.user.isSupervisor or has_active_parliamentary_mandate(app.user) %}
                <div class="committee__warning text--center">
                    Les parlementaires et les animateurs ne peuvent pas créer de comité.
                </div>
            {% else %}
                <div class="committee__form em-form">
                    {{ form_start(form, { attr: { id: 'create-committee-form', class: 'form committee-form' } }) }}
                        {{ include('committee/_form.html.twig') }}

                        <div class="form__row">
                            {{ form_label(form.phone, 'Numéro de téléphone') }}
                            {{ form_errors(form.phone) }}
                            <div class="form--full">
                                {{ form_widget(form.phone.country) }}
                                {{ form_widget(form.phone.number, {attr: {placeholder: "Vous pourrez être contacté" ~ (app.user.isFemale ? 'e') ~ " pour l'approbation de votre comité"}}) }}
                            </div>
                        </div>
                        <div class="form__group">
                            {{ form_errors(form.phone) }}
                        </div>

                        <div class="form__row form__checkbox" id="field-confidentiality-terms">
                            {{ form_widget(form.acceptConfidentialityTerms) }}
                            {{ form_label(form.acceptConfidentialityTerms, "J'ai pris connaissance et j'accepte les règles de confidentialité en qualité de créateur de comité.") }}
                            {{ form_errors(form.acceptConfidentialityTerms) }}
                        </div>

                        <div class="form__row form__checkbox" id="field-contacting-terms">
                            {{ form_widget(form.acceptContactingTerms) }}
                            {{ form_label(form.acceptContactingTerms, "J'accepte d'être contacté" ~ (app.user.isFemale ? 'e') ~ " dans le cadre de la création de mon comité") }}
                            {{ form_errors(form.acceptContactingTerms) }}
                        </div>

                        <div class="committee__warning">
                            La création de votre comité doit être approuvée par le CoPol de votre territoire avant d'être affective.
                        </div>

                        <div class="text--center">
                            <button type="submit" class="btn btn--blue btn--medium" id="create-my-committee">
                                Envoyer ma demande
                            </button>
                        </div>

                        {{ form_rest(form) }}
                    {{ form_end(form) }}
                </div>
            {% endif %}
        </section>
    </main>
{% endblock %}
