{% extends 'base.html.twig' %}

{% block page_title 'Lancez votre projet citoyen !' %}
{% block banner '' %}

{% block javascripts %}
    {% import 'javascript.js.twig' as js %}

    <script src="{{ asset('ckeditor/ckeditor.js') }}"></script>
    <script src="{{ asset('ckeditor/lang/fr.js') }}"></script>
    <script type="text/javascript" src={{ asset('bundles/sonataadmin/vendor/jquery/dist/jquery.min.js') }}></script>
    <script type="text/javascript" src={{ asset('bundles/sonataadmin/vendor/jqueryui/ui/jquery-ui.js') }}></script>
    <script type="text/javascript">
        Kernel.onLoad(function() {
            {{ js.address(form.address) }}
            {{ js.simpleCkeditor('citizen_project_proposed_solution') }}
            {{ js.citizenProjectSkills('#citizen_project_category', '#citizen_project_skills', path('app_citizen_project_skills_autocomplete')) }}
            {{ js.committee('#citizen_project_committees', '#citizen_project_committees_search', path('app_citizen_project_committee_autocomplete'), '#citizen_project_committees_search') }}
        });
    </script>
{% endblock %}

{% block content %}
    <main class="citizen-projects__create">
        <section class="b__nudge--bottom-huge l__wrapper--600">
            <header class="space--60-0">
                <h1 class="b__nudge--bottom-small text--large">
                    Lancez votre projet citoyen !
                </h1>
                <p class="text--body">
                    Un projet citoyen vise à améliorer concrètement le quotidien des habitants de votre quartier ou de votre village, en réunissant l'énergie et les compétences de tous ceux qui veulent agir.
                  </p>
                <div class="text--summary text--gray">
                    Tous les projets citoyens doivent respecter <a class="link--blue" href="https://storage.googleapis.com/en-marche-prod/documents/projets-citoyens/La%20Charte%20des%20Projets%20Citoyens.pdf">la Charte</a>.
                    Des questions ? Consultez la <a class="link--blue" href="{{ url_help_en_marche }}/category/702-projets-citoyens">FAQ</a>.
                </div>
            </header>
            <div>
                <div class="citizen-project__form">
                    {{ form_start(form, {attr: {'id': 'create-citizen-project-form', 'class': 'form citizen-project-for'}}) }}
                        {{ include('citizen_project/_form.html.twig') }}

                        {% if form.cgu is defined %}
                            <div class="form__checkbox form__checkbox--large">
                                <div>
                                    {{ form_widget(form.cgu) }}
                                    {% block _form_cgu_label %}
                                        <label for="citizen_project_cgu">
                                            Je consens au traitement de mes données dans le cadre des Projets citoyens et à la communication de mes coordonnées (téléphone et e-mail) à l'équipe Engagement Citoyen au niveau départemental et national.
                                        </label>
                                    {% endblock %}
                                </div>
                                {{ form_errors(form.cgu) }}
                            </div>
                        {% endif %}

                        {% if form.data_processing is defined %}
                            <div class="form__checkbox form__checkbox--large ">
                                <div>
                                    {{ form_widget(form.data_processing) }}
                                    {% block _form_data_processing_label %}
                                        <label class="block" for="citizen_project_data_processing">
                                            <span>
                                                J'adhère aux <a href="https://storage.googleapis.com/en-marche-prod/documents/projets-citoyens/CGU%20-%20Projets%20Citoyens.pdf" target="_blank" rel="noopener" class="link--blue">Conditions Générales d’Utilisation des Projets citoyens</a> et à la <a href="https://storage.googleapis.com/en-marche-prod/documents/projets-citoyens/La%20Charte%20des%20Projets%20Citoyens.pdf" target="_blank" class="link--blue">Charte des Projets citoyens</a>
                                            </span>
                                        </label>
                                    {% endblock %}
                                </div>
                                {{ form_errors(form.data_processing) }}
                            </div>
                        {% endif %}

                        <div class="b__nudge--top-50">
                            <button type="submit" class="btn btn--blue btn--large-and-full" id="create-my-citizen-project">
                                Proposer mon projet
                            </button>
                        </div>
                        {{ form_widget(form._token) }}
                    {{ form_end(form) }}

                    <p class="text--gray text--summary text--small b__nudge--top-40">
                        Les données recueillies sur ce formulaire sont traitées par LaREM afin de gérer les informations relatives aux projets citoyens et de permettre à LaREM de vous envoyer des communications politiques.<br><br>
                        Toutes les informations sont obligatoires, sauf celles marquées "Optionnel". L’absence de réponse dans ces champs ne permettra pas à LaREM de traiter votre demande.<br><br>
                        Elles sont conservées pendant toute la durée de référencement du Projet citoyen, et au-delà de cette durée dès lors qu’une disposition légale ou règlementaire le permet. Ces données sont destinées aux services digitaux de La République En Marche, aux équipes locales de bénévoles de l’association et aux adhérents de La République En Marche désireux de participer à un Projet citoyen.<br><br>
                        Conformément à la règlementation, vous disposez d’un droit d’opposition et d’un droit à la limitation du traitement de données vous concernant, ainsi que d’un droit d’accès, de rectification, de portabilité et d’effacement de vos données. Vous disposez également de la faculté de donner des directives sur le sort de vos données après votre décès.<br><br>
                        Vous pouvez consulter notre <a href="https://en-marche.fr/politique-protection-donnees" target="_blank">Politique de protection des données</a> et exercer vos droits en nous adressant votre demande accompagnée d’une copie de votre pièce d’identité à l’adresse postale ou électronique suivante : La République En Marche, 63 rue Sainte-Anne, 75002 Paris, France et <a href="mailto:mes-donnees@en-marche.fr">mes-donnees@en-marche.fr</a>.
                    </p>
                </div>
            </div>
        </section>
    </main>
{% endblock %}
