{% extends 'base.html.twig' %}

{% block content %}
    <section class="adherent-dashboard l__wrapper">
        <div class="adherent-dashboard__welcome">
            <p>
                {% if summary is not null %}
                    <img src="{{ path('asset_url', { path: summary.picturePath }) }}" title="{{ 'dashboard.picture.update'|trans }}">
                {% else %}
                    <a href="{{ path('app_summary_manager_step', {step: 'photo'}) }}">
                        <img src="/images/user.png" alt="{{ 'dashboard.picture.update'|trans }}" title="{{ 'dashboard.picture.update'|trans }}">
                    </a>
                {% endif %}
            </p>

            <p>
                <b>{{ 'dashboard.welcome'|trans({'%firstname%': app.user.firstname}) }} 👋</b><br>
                {% if app.user.isReferent or app.user.isCoReferent or app.user.isDeputy or app.user.isSupervisor or app.user.isHost %}
                    {{ get_user_level_label(app.user) }},
                {% endif %}

                {{ 'dashboard.adherent_since'|trans({'%date%': app.user.registeredAt|localizeddate('none', 'none', 'fr_FR', null, "MMMM yyyy")}) }}
            </p>
        </div>

        <div class="adherent-dashboard__column-left">
            {% if area_stats is not null %}
                <div class="localization">
                    <h2>{{ app.user.managedArea.tags|join(', ') }}</h2>
                    <p>
                        {{ 'dashboard.members_stats'|transchoice(area_stats.total, {'%nb_members%': area_stats.total})|raw }}{{ 'dashboard.subscriber_stats'|transchoice(area_stats.subscriber, {'%nb_subscribers%': area_stats.subscriber}) }}
                    </p>

                    <ul class="horizontal">
                        <li><a href="{{ path('app_referent_users') }}" class="button">{{ 'dashboard.send_email'|trans }}</a></li>
                        <li><a href="{{ path('app_referent_event_manager_events_create') }}" class="button">{{ 'dashboard.create_event'|trans }}</a></li>
                    </ul>
                    <br>
                    <hr>
                    <ul class="horizontal">
                        <li><a href="{{ path('app_referent_users') }}" class="link--no-decor link--newblue">{{ 'dashboard.show_members'|trans }}</a></li>
                        <li><a href="{{ path('app_referent_event_manager_events') }}" class="link--no-decor link--newblue">{{ 'dashboard.show_events'|trans }}</a></li>
                        <li><a href="{{ path('app_referent_committees') }}" class="link--no-decor link--newblue">{{ 'dashboard.show_committees'|trans }}</a></li>
                    </ul>
                </div>
            {% endif %}
            <div class="emails">
                <b>{{ 'dashboard.my_emails_sended'|trans }}</b>
                <hr>
                {% if emails|length > 0 %}
                    <ul>
                        {% for email in emails|slice(0, 2) %}
                            <li>
                                <div class="list-title">
                                    {{ email.requestPayload.Subject }}
                                    <span class="pull-right">{{ email.Recipients|length }}</span>
                                </div>
                                <div class="list-subtitle">
                                    {{ email.createdAt|localizeddate('none', 'none', 'fr_FR', null, "d MMMM yyyy") }}
                                    <span class="pull-right">{{ 'dashboard.emails.recipent'|transchoice(email.Recipients|length) }}</span>
                                </div>
                                <hr>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
            <div class="events">
                <b>{{ 'dashboard.my_events'|trans }}</b>
                <hr>
                {% if events|length > 0 %}
                    <ul>
                        {% for event in events|slice(0, 2) %}
                            <li>
                                <div class="list-title">
                                    {{ event.name }}
                                    <span class="pull-right">{{ event.participantsCount }}</span>
                                </div>
                                <div class="list-subtitle">
                                    À {{ event.postAddress.city }}, le {{ event.beginAt|localizeddate('none', 'none', 'fr_FR', null, "d MMMM yyyy à HH:mm") }}
                                    <span class="pull-right">{{ 'dashboard.events.participantsCount'|transchoice(event.participantsCount) }}</span>
                                </div>
                                <hr>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
                <p style="text-align: center;">
                    <a href="{{ path('app_referent_event_manager_events') }}" class="button">{{ 'dashboard.show_events'|trans }}</a>
                </p>
            </div>

            <div class="interests">
                <b>{{ 'dashboard.my_internets'|trans }}</b>
                <hr>
                <div>
                    {% set interestEditPath = path('app_summary_manager_step', {step: 'interests'}) %}
                    {% if app.user.interests|length > 0 %}
                        <ul>
                            {% for interest in app.user.interests %}
                                <li class="adherent-dashboard-tag">{{ interest|capitalize }}</li>
                            {% endfor %}
                        </ul>
                        <br>
                        <p>
                            <a href="{{ interestEditPath }}" class="link--no-decor link--newblue">{{ 'dashboard.edit'|trans }}</a>
                        </p>
                    {% else %}
                        {{ 'dashboard.interests.empty'|trans({'%url%': interestEditPath})|raw }}
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="adherent-dashboard__column-right">
            <div class="shortcuts">
                <b>{{ 'dashboard.shortcut.label'|trans }}</b>
                <hr>
                <ul>
                    {% if is_granted('ROLE_PROCURATION_MANAGER') %}
                        <a href="{{ path('app_procuration_manager_requests') }}" class="link--no-decor link--newblue">{{ 'dashboard.shortcut.procuration_manager_space'|trans }}</a>
                    {% endif %}
                    {% if is_granted('ROLE_ASSESSOR_MANAGER') %}
                        <a href="{{ path('app_procuration_manager_requests') }}" class="link--no-decor link--newblue">{{ 'dashboard.shortcut.assessor_manager_space'|trans }}</a>
                    {% endif %}
                    {% if is_granted('ROLE_COORDINATOR_COMMITTEE') %}
                        <a href="{{ path('app_coordinator_committees') }}" class="link--no-decor link--newblue">{{ 'dashboard.shortcut.committee_coordinator_space'|trans }}</a>
                    {% endif %}
                    {% if is_granted('ROLE_COORDINATOR_CITIZEN_PROJECT') %}
                        <a href="{{ path('app_coordinator_citizen_project') }}" class="link--no-decor link--newblue">{{ 'dashboard.shortcut.citizen_project_coordinator_space_space'|trans }}</a>
                    {% endif %}
                    <li><a href="{{ path('app_documents_index') }}" class="link--no-decor link--newblue">{{ 'dashboard.shortcut.my_documents'|trans }}</a></li>

                    {% if is_granted('ROLE_REFERENT') %}
                        <li><a href="https://en-marche.helprace.com/" target="_blank" class="link--no-decor link--newblue">{{ 'dashboard.shortcut.contact'|trans }}</a></li>
                    {% endif %}
                </ul>
            </div>
            <div class="skills">
                {% set skillEditPath = path('app_summary_manager_step', ({step: 'skills'})) %}
                <b>{{ 'dashboard.my_skills'|trans }}</b>
                <hr>
                {% if summary is not null and summary.skills|length > 0 %}
                    <ul>
                        {% for skill in summary.skills|slice(0, 5) %}
                            <li class="adherent-dashboard-tag">{{ skill }}</li>
                        {% endfor %}
                    </ul>

                    <p>
                        <a href="{{ skillEditPath }}" class="link--no-decor link--newblue">{{ 'dashboard.edit'|trans }}</a>
                    </p>
                {% else %}
                    {{ 'dashboard.skills.empty'|trans({'%url%': skillEditPath})|raw }}
                {% endif %}
            </div>
            <br>
            <div class="committees">
                <b>{{ 'dashboard.my_committes'|trans }}</b>
                <hr>
                {% if app.user.memberships|length > 0 %}
                    <ul>
                    {% for membership in app.user.memberships|slice(0, 2) %}
                        <li>
                            {{ membership.committee }}
                            {% if membership.privilege is not empty %}
                                <span class="adherent-dashboard-tag">{{ membership.privilege|lower|trans|capitalize }}</span>
                            {% endif %}
                        </li>
                    {% endfor %}
                    </ul>
                {% else %}
                    {{ 'dashboard.committies.empty'|trans({'%url%': path('app_search_committees')})|raw }}
                {% endif %}
            </div>

            <div class="citizen-projects">
                <b>{{ 'dashboard.my_citizen_projects'|trans }}</b>
                <hr>
                {% if app.user.citizenProjectMemberships|length > 0 %}
                    <ul>
                        {% for membership in app.user.citizenProjectMemberships|slice(0, 2) %}
                            <li>
                                {{ membership.citizenProject }}
                                {% if membership.privilege is not empty %}
                                    <span class="adherent-dashboard-tag">{{ membership.privilege|lower|trans|capitalize }}</span>
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                {% else %}
                    {{ 'dashboard.citizen_project.empty'|trans({'%url%': path('react_app_citizen_projects_search')})|raw }}
                {% endif %}
            </div>

            <div class="activities">
                <b>{{ 'dashboard.recent_activity'|trans }}</b>
                <hr>
                {% if activities|length > 0 %}
                    <ul>
                    {% for activity in activities.logs|slice(0, 2) %}
                        <li>{{ activity }}</li>
                    {% endfor %}
                    </ul>
                {% else %}
                    {{ 'dashboard.activity.empty'|trans }}
                {% endif %}
            </div>
        </div>
    </section>
{% endblock %}
