{% extends 'base.html.twig' %}

{% block page_title 'Bienvenue, ' ~ app.user.firstName %}

{% block stylesheets %}
    <style>
        .content ul li {
            display: inline-block;
            margin: 10px;
        }
    </style>
{% endblock %}

{% block content %}
    <main>
        <section class="content b__nudge--bottom-huge text--center">
            <header class="l__wrapper--slim space--60-15">
                <h1 class="text--large">
                    Bienvenue, {{ app.user.firstName }} ! 👋
                </h1>

                <p class="text--body">
                    Merci encore de nous avoir rejoint ! Voici quelques actions à votre disposition dès maintenant.
                </p>
            </header>

            <div class="l__wrapper--slim">
                <ul>
                    <li><a href="{{ path('app_search_events') }}" class="newbtn newbtn--light">Chercher des événements autour de moi</a></li>
                    <li><a href="{{ path('app_search_committees') }}" class="newbtn newbtn--light">Rejoindre un comité</a></li>
                    <li><a href="{{ path('app_documents_index') }}" class="newbtn newbtn--light">Decouvrir mon kit La République En Marche</a></li>
                    <li><a href="{{ path('app_user_profile') }}" class="newbtn">Remplir mon profil</a></li>
                </ul>
            </div>
        </section>
    </main>
{% endblock %}
