{% extends 'base.html.twig' %}

{% block banner '' %}
{% block page_title 'Bienvenue, ' ~ app.user.firstName %}

{% block stylesheets %}
    <style>
        .content ul li {
            display: inline-block;
            margin: 10px;
        }
    </style>
{% endblock %}

{% block content %}
    <main class="home__adherent">
        <section class="content b__nudge--bottom-huge text--center">
            <header class="l__wrapper space--60-15 text--left">
                <h1 class="text--large">
                    Bienvenue, {{ app.user.firstName }} ! 👋
                </h1>
                <p class="text--body text--medium">Nous sommes {{ nb_adherent|number_format(0, ',', ' ') }} citoyens En Marche !</p>
            </header>
                <div class="home__adherent__don">
                    <p class="text--large text--bold">Notre transformation démocratique<br/> a besoin de vous !</p>
                    <div>
                        <a href="{{ path('app_donation_index') }}" class="btn btn--white btn--large">Donner</a>
                    </div>
                </div>
        </section>

        <div class=" l__wrapper">
            {% if committees is defined %}
                <h3 class="home__adherent__title">Rejoignez un comité autour de {{ app.user.cityname }}</h3>

                <section class="home__adherent__committees">
                    <div class="home__flex">
                        {% for committee in committees %}
                            <a href="{{ path('app_committee_show', {slug: committee.slug}) }}"
                                class="search__committee__box">
                                <div class="search__results__meta">
                                    <h2 class="text--medium text--normal">{{ committee.name }}</h2>
                                    <div class="text--body text--bold">{{ committee.cityName }}</div>
                                </div>
                                <div class="search__results__cta">
                                    <span class="btn btn--blue">En savoir plus</span>
                                    <div class="text--body icon--with-text l__row--center">
                                        {{ include('components/participants.html.twig') }}
                                        {{ 'committee.members_count'|trans({count: committee.membersEmCount}) }}
                                    </div>
                                </div>
                            </a>
                        {% endfor %}
                    </div>
                    <div class="text--center">
                        <a href="{{ path('app_search_committees') }}" class="btn btn--blue btn--medium btn__adherent">Voir tous les comités</a>
                    </div>
                </section>

                <div class="separator"></div>
            {% endif %}

            {% if events is defined %}
                <h3 class="home__adherent__title">Participez à un événement autour de {{ app.user.cityname }}</h3>

                <section class="home__adherent__event">
                    {% for event in events %}
                        {% if date is not defined or date != event.beginAt|date('Ymd') %}
                            {% set date = event.beginAt|date('Ymd') %}

                            <div class="text--body text--bold text--smallest text--uppercase b__nudge--bottom-medium b__nudge--top-large text--gray">
                            {{ event.beginAt|format_datetime('none', 'none', 'cccc d MMMM') }}
                            </div>
                        {% endif %}

                    <div class="search__results__row l__row l__row--h-stretch l__row--top">
                        <div class="search__results__date text--body text--bold text--smallest text--uppercase">
                            {{ event.beginAt|format_datetime('none', 'none', 'ccc d') }}<br/>
                            {{ event.beginAt|format_datetime('none', 'none', "HH'h'mm") }}
                        </div>
                        <div class="search__results__info l__col l__col--v-stretch l__col--left">
                            <div class="search__results__meta">
                                <div class="search__results__tag">
                                    <div class="tag">{{ event.category }}</div>
                                </div>

                                <h2 class="text--body text--medium b__nudge--bottom-tiny text--breakword">
                                    <a class="link--no-decor" href="{{ path('app_committee_event_show', {slug: event.slug}) }}">
                                        {{ event.name }}
                                    </a>
                                </h2>
                                <div class="text--body text--gray">Organisé par
                                    {% if event.committee %}
                                        <span class="text--bold">{{ event.committee.name }}</span>
                                    {% elseif event.organizer %}
                                        <span class="text--bold">{{ event.organizer.fullName }}</span>
                                    {% endif %}
                                        à {{ event.cityName }}
                                </div>
                            </div>
                            <div class="search__results__cta">
                                {% if event.finished %}
                                    <div class="text--body search__results__cta__text">
                                        Cet événement est terminé
                                    </div>
                                {% elseif event.cancelled %}
                                    <div class="text--body b__nudge--right">
                                        Cet événement est annulé
                                    </div>
                                {% elseif not event.full %}
                                    <a href="{{ path('app_committee_event_show', {slug: event.slug}) }}"
                                       class="btn btn--blue" target="_blank" rel="noopener noreferrer">
                                        Participer
                                    </a>
                                {% else %}
                                    <div class="text--body search__results__cta__text">
                                        Événement complet
                                    </div>
                                {% endif %}
                                <div class="text--body text--gray icon--with-text l__row--center">
                                    {{ 'participants_count'|trans({count: event.participantsCount}) }}
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    <div class="text--center">
                        <a href="{{ path('app_search_events') }}" class="btn btn--blue btn--medium btn__adherent">Voir tous les événements</a>
                    </div>
                </section>

                <div class="separator"></div>
            {% endif %}
        </div>
    </main>
{% endblock %}
