{% extends 'base.html.twig' %}

{% block page_title 'Désadhésion' %}

{% block content %}

<div>
    {% if is_adherent %}
        <div id="is_adherent">
            <a href="{{ path('app_adherent_profile') }}" class="l__wrapper icon--with-text text--summary">
                {{ include('components/caret--left.html.twig') }}
                Retour à mes informations</a>
            <p>Je confirme ma voloné de ne plus être adhérent du movement En Marche</p>

            {{ form_start(form, { attr: { class: 'b__nudge--top-40'} }) }}

            {{ form_errors(form) }}

            {{ form_row(form.word) }}

            <div>
                <button type="submit" class="btn btn--blue b__nudge--bottom-tiny">
                    Terminer
                </button>
            </div>

            {{ form_end(form) }}
        </div>
    {% else %}
        <div id="is_not_adherent">
            <p>Votre demande de désadhération a bien été prise en compte.</p>
            <p>Nous sommes preneurs de retours. N'hésitez pas à nous faire parvenir les raisons de votre déshésion en écrivant à contact@en-marche.fr</p>
            <a href="/" class="l__wrapper icon--with-text text--summary">Retour à l'accueil</a>
        </div>
    {% endif %}
</div>

{% endblock %}
