{% if committees|length == 0 %}
    <li>
        <a class="text--medium-small" href="{{ path('app_search_committees') }}">Rejoindre un comité</a>
    </li>
{% endif %}
{% if committees|length == 1 %}
    <li>
        <a class="text--medium-small" href="{{ path('app_committee_show', {'slug': committees[0].slug }) }}">Mon comité</a>
    </li>
{% endif %}
{% if committees|length > 1 %}
    <li>
        <a class="text--medium-small" href="">Mes comités</a>
        <div style="display: none;">
            <ul>
                {% for committee in committees %}
                    {# using the Adherent::isHostOf() method instead of a voter below prevents unneeded SQL queries #}
                    <li class="bullet {{ app.user.hostOf(committee) ? 'bullet--own' : '' }}">
                        <a href="{{ path('app_committee_show', {'slug': committee.slug}) }}"
                           title="{{ committee.name }}">
                            {{- committee.name -}}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </li>
{% endif %}
