{% if citizen_projects|length < 1 %}
    <div>
        {% if no_result_message %}
            <p class="text--muted">{{ no_result_message }}</p>
        {% else %}
            <a class="link--blue--dark" href="{{ path('app_search_citizen_projects') }}">Découvrir des projets citoyens autour de chez moi</a>
        {% endif %}
    </div>
{% else %}
    <ul>
        {% for citizen_project in citizen_projects %}
            <li>
                {% set citizen_project_path = citizen_project.isApproved ? 'app_citizen_project_show' : 'app_citizen_project_manager_edit' %}
                <a href="{{ path(citizen_project_path, {slug: citizen_project.slug}) }}"
                   class="{{ citizen_project_color_status(app.user, citizen_project) }}"
                   title="{{ citizen_project.name }}">
                    {{- citizen_project.name -}}
                </a>
            </li>
        {% endfor %}
    </ul>
{% endif %}
