{% if citizen_projects|length < 1 %}
    <div class="text--center">
        <div class="text--body b__nudge--bottom-small">Rejoignez un projet citoyen<br>En Marche !</div>
        <a class="btn btn--blue form--full" href="{{ path('app_search_citizen_projects') }}">Trouver un projet citoyen</a>
    </div>
{% else %}
    <ul>
        {% for citizen_project in citizen_projects %}
            <li class="bullet {{ citizen_project_color_status(app.user, citizen_project) }}">
                {% set citizen_project_path = citizen_project.isApproved ? 'app_citizen_project_show' : 'app_citizen_project_manager_edit' %}
                <a href="{{ path(citizen_project_path, {slug: citizen_project.slug}) }}"
                   title="{{ citizen_project.name }}">
                    {{- citizen_project.name -}}
                </a>
            </li>
        {% endfor %}
    </ul>
{% endif %}
