{% if committees|length < 1 %}
    <div>
        {% if no_result_message %}
            <p class="text--muted">{{ no_result_message }}</p>
        {% else %}
            <a class="link--blue--dark" href="{{ path('app_search_committees') }}">Découvrir des comités autour de chez moi</a>
        {% endif %}
    </div>
{% else %}
    <ul>
        {% for committee in committees %}
            {# using the Adherent::isHostOf() method instead of a voter below prevents unneeded SQL queries #}
            <li class="bullet {{ app.user.hostOf(committee) ? 'bullet--own' : '' }}">
                <a href="{{ path('app_committee_show', {'slug': committee.slug}) }}"
                   title="{{ committee.name }}">
                    {{- committee.name -}}
                </a>
            </li>
        {% endfor %}
    </ul>
{% endif %}
