{% if committees|length > 1 %}
    <ul class="list__links">
        <div class="nav-dropdown">
            <i class="fa fa-caret-down" aria-hidden="true"></i>
            <i class="fa fa-caret-up" aria-hidden="true"></i>
            <ul class="list__links">
                <li><a href="#">{{ 'my_committees'|trans }}</a></li>
            </ul>
            <div class="nav-dropdown__menu nav-dropdown__black">
                <ul class="list__links">
                    {% for committee in committees %}
                        <li>
                            <a href="{{ path('app_committee_show', { slug: committee.slug }) }}"
                               title="{{ committee.name }}">
                                {{- committee.name -}}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </ul>
{% elseif(committees) %}
    {% set committee = committees|first %}
    <a href="{{ path('app_committee_show', { slug: committee.slug }) }}"
       title="{{ committee.name }}">
        {{- committee.name -}}
    </a>
{% endif %}
