{% extends 'adherent/my_activity_layout.html.twig' %}

{% set committee_candidacy_membership = app.user.memberships.committeeCandidacyMembership %}
{% set is_adherent_able_to_change_vote = is_granted('ABLE_TO_CHANGE_COMMITTEE_VOTE') %}
{% set last_vote = get_election_last_vote(app.user) %}

{% block tab %}
    <div class="l__wrapper--narrow">
        <div class="alert alert--tips b__nudge--bottom-large">
            Comment participer pour voter et candidater ? Nous vous invitons à sélectionner un comité principal, que vous soyez membre de plusieurs comités ou d'un seul, pour participer à la désignation du binôme paritaire d'adhérents siégeant au Conseil territorial.
            <br /><br />
            Pour candidater, rendez-vous sur la page de votre comité principal en cliquant sur le bouton « VOIR » puis suivez les instructions.

            {% if last_vote %}
                {% set vote_committee = last_vote.election.electionEntity.committee %}

                <br /><br />
                Vous avez voté dans le comité <b>{{ vote_committee.name }}</b>, le {{ last_vote.votedAt|localizeddate('none', 'none', 'fr_FR', null, "d MMM yyyy à HH:mm") }}.
                Vous ne pouvez plus changer de comité principal jusqu'au <b>{{ last_vote.votedAt|date_modify('+3 months')|localizeddate('none', 'none', 'fr_FR', null, "d MMM yyyy à HH:mm") }}</b>.
                Voir les statuts ou réglement intérieur pour en savoir plus.
            {% endif %}
        </div>
    </div>

    <div class="l__wrapper--narrow b__nudge--bottom-huge">

        {% for membership in committeeMemberships %}
            {% set committee = membership.committee %}

            <div class="adherent__activity adherent__activity--committee space--30">
                <div class="committee__details">
                    <h2 class="text--normal text--medium b__nudge--bottom-small text--breakword">
                        <a class="link--no-decor"
                           href="{{ path("app_committee_show", { slug: committee.slug }) }}">
                            {{ committee.name }}
                        </a>
                    </h2>
                    <div class="font-roboto">
                        <span class="text--bold b__nudge--right-small">{{ committee.getCityName }}</span>
                        <span>{{ 'committee.members_count'|transchoice(committee.membersCount) }}</span>
                    </div>
                </div>
                <div class="committee__actions">
                    <div class="left l__row">
                        <a href="{{ path("app_committee_show", { slug: committee.slug }) }}"
                           class="btn btn--blue b__nudge--right-small">
                            Voir
                        </a>

                        {% if committee_candidacy_membership == membership and committee.committeeElection %}
                            {% if committee.committeeElection.isCandidacyPeriodActive or (not committee.committeeElection.isVotePeriodStarted and is_granted('ROLE_PREVIOUS_ADMIN')) %}
                                <a href="{{ path("app_committee_remove_candidacy", { slug: committee.slug }) }}"
                                   class="btn btn--ghosting--pink b__nudge--right-small em-confirm--trigger"
                                   data-confirm-content="Êtes-vous sûr de vouloir retirer votre candidature ?"
                                >
                                    Retirer la candidature
                                </a>
                            {% endif %}
                        {% endif %}
                    </div>

                    <div class="right">
                        {% set committee_is_locked = not is_granted('COMMITTEE_IS_NOT_LOCKED', membership.committee) %}

                        <div class="em-switch__wrapper">
                            <label class="switch">
                                <input
                                    type="checkbox"
                                    class="vote-switcher {{ is_adherent_able_to_change_vote and not committee_is_locked ? 'vote-switcher-enabled'}}"
                                    data-committee-title="{{ committee.name }}"
                                    data-committee-slug="{{ committee.slug }}"
                                    data-token="{{ csrf_token('committee.vote') }}"
                                    {{ not is_adherent_able_to_change_vote or committee_is_locked ? 'disabled="disabled"' }}
                                    {{ membership.isVotingCommittee ? 'checked="checked"' }}
                                >
                                <span class="slider"></span>
                            </label>
                            <span class="em-switch__label">Comité de désignation</span>
                        </div>

                        {% if committee_candidacy_membership is not null %}
                            {% if membership == committee_candidacy_membership %}
                                <div class="legend active">Vous êtes candidat dans ce comité.</div>
                            {% else %}
                                <div class="legend">Vous devez retirer votre candidature pour pouvoir changer de comité de désignation.</div>
                            {% endif %}
                        {% endif %}

                        {% if committee_is_locked %}
                            <div class="legend pink">Ce comité a une désignation en cours</div>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% else %}
            <div class="text--center b__nudge--bottom-60">
                <p class="text--body b__nudge--bottom-large">Vous n'êtes inscrit(e) dans aucun comité pour le moment.</p>
                <a href="{{ path('app_search_committees') }}" class="btn btn--blue">Rejoindre un comité</a>
            </div>
        {% endfor %}

        <div id="modal-wrapper"></div>
    </div>
{% endblock %}

{% block javascripts %}
    {% if is_adherent_able_to_change_vote %}
        <script type="text/javascript">
            Kernel.onLoad(function() {
                App.runMyActivityCommitteeList('.vote-switcher-enabled');
            });
        </script>
    {% endif %}
{% endblock %}
