{% extends 'adherent/my_activity_layout.html.twig' %}

{% block tab %}
    <div class="l__wrapper--narrow b__nudge--bottom-huge">
        <div class="actions text--center b__nudge--bottom-larger">
            <a href="{{ path('app_adherent_events', {type: 'upcoming'}) }}"
               class="text--body link--no--decor space--0-15 {{ app.request.query.get('type') == 'upcoming' ? 'text--bold' }}"
               rel="noopener noreferrer">
                À venir
            </a>
            <a href="{{ path('app_adherent_events', {type: 'past'}) }}"
               class="text--body link--no--decor space--0-15 {{ app.request.query.get('type') == 'past' ? 'text--bold' }}"
               rel="noopener noreferrer">
                Passés
            </a>
        </div>

        {% if registrations|length == 0 %}
            <div class="text--center b__nudge--bottom-60">
                <p class="text--body b__nudge--bottom-large">Vous n'êtes inscrit(e) à aucun événement pour le moment.</p>
                <a href="{{ path('app_search_events') }}" class="btn btn--blue">Participer à un événement</a>
            </div>
        {% else %}
            <div class="search__results">
                {% for registration in registrations %}
                    {% set event = registration.event %}

                    {% if date is not defined or date != event.beginAt|date('Ymd') %}
                        {% set date = event.beginAt|date('Ymd') %}

                        <div class="text--normal text--bold text--uppercase b__nudge--bottom-medium b__nudge--top-large">
                            {{ event.beginAt|localizeddate('none', 'none', 'fr_FR', null, 'd MMMM yyyy') }}
                        </div>
                    {% endif %}

                    <div class="event-registration search__results__row l__row l__row--h-stretch l__row--v-center {{ event.organizer and event.organizer.isReferent ? 'search__results__row--referent-event' : '' }}">
                        <div class="search__results__info l__col l__col--v-stretch l__col--left">
                            <div class="search__results__meta">
                                {% if not event.isCitizenAction and event.isForLegislatives %}
                                    <div class="tag--orange">Législatives</div>
                                {% endif %}
                                <h2 class="text--normal text--medium b__nudge--bottom-small text--breakword">
                                    <a class="link--no-decor"
                                       href="{{ path("app_#{event.type}_show", { slug: event.slug }) }}">
                                        {{ event.name }}
                                    </a>
                                </h2>
                                <div class="text--body">
                                    {{ event.beginAt|localizeddate('none', 'none', 'fr_FR', null, 'd MMMM yyyy') }} &mdash; à {{ event.cityName }}<br />
                                </div>
                                {% if event.type and event.isCitizenAction %}
                                    {% if event.organizer %}
                                        <div class="text--body"><span class="text--bold">Action citoyenne</span> organisée par l'adhérent <span class="text--bold">{{ is_granted('IS_AUTHENTICATED_FULLY') ? event.organizer.fullName : event.organizer.partialName }}</span></div>
                                    {% else %}
                                        <div class="text--body"><span class="text--bold">Action citoyenne</span> organisée par un ancien adhérent</div>
                                    {% endif %}
                                {% elseif event.committee %}
                                    <div class="text--body">Organisé par le comité <span class="text--bold">{{ event.committee.name }}</span></div>
                                {% elseif event.organizer %}
                                    <div class="text--body">Organisé par <span class="text--bold">{{ is_granted('IS_AUTHENTICATED_FULLY') ? event.organizer.fullName : event.organizer.partialName }}</span></div>
                                {% endif %}
                            </div>

                            <div class="search__results__cta">
                                {% if event.finished %}
                                    <div class="text--body search__results__cta__text">
                                        Cet événement est terminé
                                    </div>
                                {% elseif event.cancelled %}
                                    <div class="text--body search__results__cta__text">
                                        Cet événement est annulé
                                    </div>
                                {% elseif event.full %}
                                    <div class="text--body search__results__cta__text">
                                        Cet événement est complet
                                    </div>
                                {% endif %}

                                <a href="{{ path("app_#{event.type}_show", { slug: event.slug }) }}"
                                   class="btn" target="_blank" rel="noopener noreferrer">
                                    En savoir plus
                                </a>
                                <div class="text--body icon--with-text l__row--center">
                                    {{ include('components/participants.html.twig') }}
                                    {{ 'event.participants_count'|transchoice(event.participantsCount) }}
                                </div>
                            </div>
                        </div>

                        <img class="search-map"
                             src="{{ path('map_url', { latitude: event.latitude, longitude: event.longitude }) }}"
                             title="Carte d'accès à l'événement {{ event.name }}"
                             alt="{{ event.inlineFormattedAddress }}" />

                        <a href="{{ path("app_#{event.type}_show", { slug: event.slug }) }}"
                           class="search__results__row__link link--no-decor" target="_blank" rel="noopener noreferrer">
                            En savoir plus
                        </a>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>
{% endblock %}
