{% extends 'adherent/layout.twig' %}

{% block adherent_profile_form %}

    <h2>Mon compte</h2>

    <div class="b__nudge--top">
        <span class="settings__username">{{ app.user.fullname }}</span>
        <span class="text--gray">({{ app.user.emailaddress }})</span>.
    </div>
    {% if app.user.activatedAt %}
        <div class="settings__membership">Adhérent{{ app.user.female ? "e" }} depuis {{ app.user.registeredAt|localizeddate('none', 'none', 'fr_FR', null, 'MMMM yyyy') }}.</div>
    {% else %}
        <div class="settings__membership">Non adhérent{{ app.user.female ? "e" }}.</div>
    {% endif %}

    {% if is_granted('UNREGISTER') %}
        <p>
            <a href="{{ path('app_adherent_terminate_membership') }}"
               class="settings__delete_account">
                Supprimer mon adhésion et mon compte
            </a>
        </p>
    {% endif %}

{% endblock %}
