{% extends 'adherent/layout.twig' %}

{% block adherent_profile_form %}

    <h3>Centres d'intérêt</h3>
    <div class="text--summary b__nudge--top-10">Cochez vos centres d'intérêt.</div>

    {{ form_start(form, { attr: { id: 'app_adherent_pin_interests' } }) }}

        {{ form_errors(form.interests) }}

        <div class="form l__row l__row--wrap">
            {% for interest in form.interests %}
                <div class="form__checkbox form__checkbox--col">
                    {{ form_widget(interest) }}
                    {{ form_label(interest) }}
                </div>
            {% endfor %}
        </div>

        <div class="b__nudge--top">
            {{ form_widget(form.submit, { label: 'Enregistrer les modifications', attr: { class: 'btn--blue' } }) }}
        </div>

    {{ form_end(form) }}

{% endblock %}
