{% extends 'adherent_profile/_layout.html.twig' %}

{% block page_title 'Centres d\'intérêt' %}

{% block adherent_profile_content %}

<section class="adherent-profile__section">
    <h1 class="text--medium-large">Centres d'intérêt</h1>
    {{ form_start(form, {attr: {class: 'em-form'}}) }}

        {{ form_errors(form.interests) }}

        <section class="em-form__section">
            <h2 class="section-subtitle">Vos centres d'intérêt</h2>
            {{ form_errors(form.interests) }}
            <div class="em-form__group">
                <label for="" class="em-form__label">Les thématiques qui vous intéressent...</label>

                <div class="checkb-cols">
                    {% for interest in form.interests %}
                        <div class="checkb-cols__col">
                            <div class="form__checkbox">
                                {{ form_widget(interest) }}
                                {{ form_label(interest) }}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section>

    <section class="em-form__section">
        <h2 class="section-subtitle">Communautés thématiques</h2>
        <p class="text--body text--dark">Elles arrivent bientôt &#128521;</p>
    </section>

    <button class="btn btn--blue">Enregistrer</button>

    {{ form_end(form) }}
</section>

{% endblock %}
