{% extends 'adherent/layout.twig' %}

{% block adherent_profile_form %}

    <h3>Préférences des e-mails</h3>
    <div class="text--summary b__nudge--top-10">Cochez les cases des emails que vous souhaitez recevoir.</div>

    {{ form_start(form, { attr: { class: 'form' } }) }}

    {{ form_errors(form.emails_subscriptions) }}

        {% for subscription in form.emails_subscriptions %}
            <div class="form__checkbox">
                {{ form_widget(subscription) }}
                {{ form_label(subscription) }}
            </div>
        {% endfor %}

        <div class="b__nudge--top">
            {{ form_widget(form.submit, { label: 'Enregistrer les modifications', attr: { class: 'btn--blue' } }) }}
        </div>

    {{ form_end(form) }}

{% endblock %}
