{% extends 'base.html.twig' %}

{% block page_title 'Désadhésion' %}

{% block content %}

<div>
    {% if not unregistered %}
        <div id="is_adherent" class="adherent_profile__unsub">
            <header class="filtered-image progressive-background"
                    data-sd="{{ static_asset('delete-account-bg.jpg', {'w': 300, 'q': 20}) }}"
                    data-hd="{{ static_asset('delete-account-bg.jpg', {'q': 70}) }}">
                <div class="l__wrapper--slim">
                    <h1 class="text--center text--larger">
                        Supprimer mon adhésion et mon compte <em>En Marche</em>
                    </h1>
                </div>
            </header>
            <section class="l__wrapper--600 adherent_profile__unsub__intro">
                <div class="">Ceci est irréversible !</div>
                <ul>
                    <li>Toutes vos données seront définitivement supprimées.</li>
                    <li>Nous arrêterons de vous envoyer des e-mails, mais il est possible que vous en receviez encore un ou deux cette semaine.</li>
                </ul>
            </section>

            <section class="l__wrapper--600">

                {{ form_start(form, { attr: { class: 'b__nudge--top-40'} }) }}

                {{ form_errors(form) }}

                <div class="form__row">
                    {{ form_label(form.reasons, 'Pourquoi je quitte En Marche', { label_attr: {'class': 'form__label--header'} }) }}
                </div>

                {{ form_errors(form.reasons) }}

                <div class="form l__col">
                    {% for reason in form.reasons %}
                        <div class="form__checkbox form__checkbox--medium">
                            {{ form_widget(reason) }}
                            {{ form_label(reason) }}
                        </div>
                    {% endfor %}
                    {{ form_widget(form.comment, { attr: {'class': 'form__textbox'} }) }}
                </div>

                <div class="form__row form__word b__nudge--top-large">
                    {{ form_row(form.word) }}
                </div>

                <div class="text--center">
                    <button type="submit" class="btn btn--warning">
                        Je supprime définitivement mon compte En Marche
                    </button>
                </div>

                {{ form_end(form) }}
            </section>
        </div>
    {% else %}
        <div id="is_not_adherent" class="content">
            <header>
                <h1 class="space--60-0 l__wrapper--slim text--center text--large">
                    Votre demande de désadhésion a bien été prise en compte.
                </h1>
                <hr class="l__wrapper"/>
            </header>
            <section class="l__wrapper--600 text--body">
                <p>Nous sommes tristes de vous voir partir. Vous serez toujours les bienvenus si vous changez d’avis.</p>

                <p>Si vous avez des questions, n’hésitez pas à nous contacter au 01 86 95 02 86 ou par e-mail à l’adresse <a href="mailto:contact@en-marche.fr">contact@en-marche.fr</a>.</p>

                <p>À bientôt !</p>
            </section>
            <section class="text--center space--60-0">
                <img class="l__wrapper--medium" src="{{ asset('images/a-bientot.jpg') }}"/>
            </section>
        </div>
    {% endif %}
</div>

{% endblock %}
