{% extends 'renaissance/donation/_layout.html.twig' %}

{% block back_btn_target path('renaissance_site') %}

{% block final_javascripts %}
    <script type="text/javascript">
        Bootstrap.onLoad(function () {
            Main.runDonationPage();
        });
    </script>
{% endblock %}

{% block donation_content %}
    <section>
        <h2 class="uppercase text-center text-re-green-500 text-xl mb-12 lg:text-3xl">
            Faire <span class="stabilo stabilo-green font-bold text-white">un don</span> au parti Renaissance
        </h2>
        {{ form_start(form) }}
            {{ form_errors(form) }}
            {{ form_rest(form) }}

            <div class="renaissance-donation-widget-wrapper"></div>
        {{ form_end(form) }}

        <div class="or-separator"></div>

        <div class="flex mt-4 justify-between">
            <a href="{{ path('app_renaissance_donation_cheque') }}" class="button button-blue button-full">
                Je donne par chèque
            </a>
        </div>
    </section>
{% endblock %}
