{% extends 'renaissance/donation/_layout.html.twig' %}

{% form_theme form 'renaissance/forms/default_form_theme.html.twig' %}

{% block donation_content_title %}
    Je donne <span class="stabilo stabilo-green font-bold">en ligne</span>
{% endblock %}

{% set back_btn_target = path('app_donation_index') %}

{% block donation_content %}
    <section class="lg:max-w-xl lg:mx-auto space-y-12 selection:bg-green selection:text-white">
        <h2 class="uppercase text-center text-green text-2xl mb-12 lg:text-3xl">
            Je donne <span class="stabilo stabilo-green font-bold text-white">en ligne</span>
        </h2>
        {{ form_start(form) }}
            <div class="mb-5">
                <h2 class="text-lg">vous faites un don de : <span class="font-bold"> {{ donation.amount|format_currency('EUR')|replace({',00' : ''}) }} {{ donation.duration == constant('App\\Donation\\Paybox\\PayboxPaymentSubscription::UNLIMITED') ? ' / mois' }}</span></h2>
            </div>

            {{ form_errors(form) }}

            <p class="mb-5">Vous vous apprêtez à faire un don important, <strong>soutenez durablement la transformation du pays en donnant mensuellement</strong> :</p>
            <div>
                {{ form_row(form.confirmDonationType) }}
            </div>

            {% include 'renaissance/partials/previous-next-buttons.html.twig' with {
                previous_route_name: 'app_donation_index',
            } %}
        {{ form_end(form) }}
    </section>
{% endblock %}
