{% extends 'renaissance/donation/_layout.html.twig' %}

{% form_theme form 'renaissance/form_theme.html.twig' %}

{% block donation_title %}
    Je donne <span class="stabilo stabilo-green">en ligne</span>
{% endblock %}

{% block final_javascripts %}
    {% if google_maps_api_key %}
        <script src="https://maps.googleapis.com/maps/api/js?key={{ google_maps_api_key }}&libraries=places" async></script>
    {% endif %}
{% endblock %}

{% block donation_content %}
    <section class="w-96">
        {{ form_start(form) }}
            {{ form_errors(form) }}

            {{ form_row(form.gender, { label: false }) }}

            <div class="flex flex-row space-x-4">
                {{ form_row(form.firstName, { label: false, attr: { placeholder: 'Prénom' } }) }}
                {{ form_row(form.lastName, { label: false, attr: { placeholder: 'Nom' } }) }}
            </div>

            {{ form_row(form.emailAddress, { label: false, attr: { placeholder: 'E-mail' } }) }}

            {{ form_row(form.nationality, { label: false, attr: { placeholder: 'Nationalité'} }) }}

            {{ form_row(form.address, { label: false }) }}

            {% include 'renaissance/partials/previous-next-buttons.html.twig' with {
                route_name: 'app_renaissance_donation',
                form_button: form.fill_personal_info
            } %}
        {{ form_end(form) }}
    </section>
{% endblock %}
