{% extends 'renaissance/donation/_layout.html.twig' %}

{% form_theme form 'renaissance/forms/default_form_theme.html.twig' %}

{% block donation_content_title %}
    Je donne <span class="stabilo stabilo-green font-bold">en ligne</span>
{% endblock %}

{% block final_javascripts %}
    {% if google_maps_api_key %}
        <script src="https://maps.googleapis.com/maps/api/js?key={{ google_maps_api_key }}&libraries=places" async></script>
    {% endif %}
{% endblock %}

{% set back_btn_target = path('app_donation_index') %}

{% block donation_content %}
    <section>
        <h2 class="uppercase text-center text-green text-2xl mb-12 lg:text-3xl">
            Je donne <span class="stabilo stabilo-green font-bold text-white">en ligne</span>
        </h2>
        {{ form_start(form) }}
            {{ form_errors(form) }}

            {{ form_row(form.gender, { label: 'Civilité' }) }}

            <div class="flex flex-row space-x-4">
                {{ form_row(form.firstName, { label: 'Prénom' }) }}
                {{ form_row(form.lastName, { label: 'Nom' }) }}
            </div>

            {{ form_row(form.emailAddress, { label: 'E-mail' }) }}

            {{ form_row(form.nationality, { label: 'Nationalité' }) }}

            {{ form_row(form.address, { label: 'Adresse postale' }) }}

            {% include 'renaissance/partials/previous-next-buttons.html.twig' with {
                previous_route_name: 'app_donation_index',
            } %}
        {{ form_end(form) }}
    </section>
{% endblock %}
