{% extends 'base_renaissance.html.twig' %}

{% block page_title "Merci #{donation.donator.firstName} !" %}

{% block content %}
    <twig:ReStandaloneLayout class="re_new_ui">

        <twig:Atoms:ReCard class="max-w-[500px]">

            <twig:ReParagraphStatus status="success" icon slim>
                Votre paiement a bien été validé !
            </twig:ReParagraphStatus>

            <twig:Atoms:ReCard class="!p-0 overflow-hidden" variant="inner">
                <video loop muted autoplay width="100%" poster="{{ asset('videos/don/congrats/congrats.jpg') }}">
                    <source src="{{ asset('videos/don/congrats/congrats.webm') }}" type="video/webm">
                    <source src="{{ asset('videos/don/congrats/congrats.mp4') }}" type="video/mp4">
                    <source src="{{ asset('videos/don/congrats/congrats.ogv') }}" type="video/ogg">
                </video>
            </twig:Atoms:ReCard>

            <h1 class="text-ui_gray-90 text-3xl">
                Merci <span class="text-ui_green-50 font-medium">{{ donation.donator.firstName }}</span> pour votre <span class="whitespace-nowrap">don !</span>
            </h1>
            <div class="text-ui_gray-80 text-base flex flex-col gap-4">
                <p>
                    Je vous remercie d’avoir participé à la construction de notre parti Renaissance avec un don de {{ donation.amountInEuros() }} euros. Votre soutien est très précieux.
                </p>
                <p>
                     La priorité de Renaissance est de faire réussir le quinquennat d’Emmanuel Macron, également Président d’honneur du parti. Avec toutes les forces progressistes, nous continuerons à nous battre pour tenir les engagements du Président de la République et pour ne jamais laisser les clés de notre pays aux extrêmes.
                </p>
                <p>
                    Sans réussite collective, il n’y a pas de réussite individuelle. Ensemble, faisons de Renaissance la première force de proposition, le parti d'idées et l’organisation politique la plus décentralisée de la Vème République.
                </p>
                <p>
                    Merci à vous de soutenir notre parti.
                </p>
                <p>
                    <span class="font-medium">Stéphane Séjourné</span><br>
                    Secrétaire général de Renaissance
                </p>

            </div>
            <twig:ReParagraphStatus status="success">
                <p class="text-ui_gray-80">
                    Un <span class="font-medium">email contenant le reçu</span> de votre don vous a été envoyé. Merci de faire partie intégrante de notre succès commun.
                </p>
            </twig:ReParagraphStatus>

            {% set backPath = app.user ? 'app_renaissance_adherent_space': 'renaissance_site'  %}

            <twig:ReButton href="{{ path(backPath) }}" tag="a" color="green">
                Retour
            </twig:ReButton>

        </twig:Atoms:ReCard>
    </twig:ReStandaloneLayout>
{% endblock %}
