{% extends 'base_renaissance.html.twig' %}

{% block page_title 'Don' %}

{% block canonical_url url('app_donation_index') %}

{% form_theme form 'renaissance/forms/tailwind_form_theme.html.twig' %}

{% block content %}
    <main class="bg-[#F4F4F7] re_new_ui">
        <section
            x-data="xFunnelPage({
                    initStep: {{ step }},
                    amount: '{{ form.vars.value.amount }}',
                    duration: '{{ form.vars.value.duration }}',
                    localDestination: '{{ form.vars.value.localDestination }}',
                    connectUrl: '{{ login_path_for_anonymous_follower('app_donation_index', {step: 1}) }}'
                   })"
            @stepper:adhesion-stepper:change.window="handleStepperChange($event.detail)">
            <header class="w-full flex flex-col p-4 bg-white sticky top-0 z-50 items-center h-auto
                            xs:p-6
                            md:p-0 md:grid md:grid-cols-4 md:h-20
                            lg:grid-cols-3">

                <div class="pb-6 md:pb-0 md:pl-8 md:px-12">
                    <a href="{{ path('renaissance_site') }}">
                        <img src="{{ asset('/images/renaissance/logo-dark.svg') }}" class="h-4" alt="logo"/>
                    </a>
                </div>
                <twig:Molecules:ReStepper
                        color="green"
                        id="adhesion-stepper"
                        class="relative z-50 md:col-span-2 lg:col-span-1"
                        steps="{{ ['Montant', 'Informations', 'Autorisation'] }}"
                        initStep="currentStep"
                />
            </header>
            <div class="bg-[#F6F7F4] md:flex">

                <div class="w-full relative mb-8">
                    <div class="md:sticky top-[80px] md:pt-[6vh]">
                        <div class="flex flex-col md:items-center text-2xl md:text-4xl w-full pt-10 pl-10 md:p-0">
                            <h1 class="">
                                Faites un don à <br>
                                <img class="h-4 md:h-8 inline" src="{{ asset('images/renaissance/logo-dark.svg') }}" alt="">
                            </h1>
                        </div>
                        <figure class="w-full max-w-[75vw] md:max-w-[500px] lg:max-w-[700px] xl:max-w-[1000px] md:pt-[80px]">
                            {{ include('renaissance/donation/form_visual.svg.twig') }}
                        </figure>
                    </div>
                </div>

                <div class="flex flex-col justify-center items-center xl:items-start xl:pl-20 mt-8 gap-10 w-full">
                    <div class="flex-col justify-start items-start gap-8 inline-flex" x-data="{formData:{
                        email: '{{ form.vars.value.emailAddress }}'
                    }}">
                        {{ form_start(form) }}
                            <div class="flex gap-8 flex-col p-0 sm:p-5">
                                {% if form.vars.errors|length > 0 %}
                                    <twig:ReParagraphStatus status="error" icon class="max-w-[500px]">
                                        <ul
                                            {% if form.vars.errors|length > 1 %}
                                                class="list-disc list-inside flex flex-col gap-2.5"
                                            {% endif %}
                                        >
                                        {% for error in form.vars.errors %}
                                            <li class="[&>a]:font-medium [&>a]:underline">{{ error.message|raw }}</li>
                                        {% endfor %}
                                        </ul>
                                    </twig:ReParagraphStatus>
                                {% endif %}

                                <twig:Atoms:ReCard class="max-w-[500px] re-step" x-data="FirstFormStep" id="step_1">
                                    <twig:Atoms:ReLinkedToggle color="green" name="duration" id="donation_duration_picker" label="Choix du montant">
                                        <twig:Atoms:ReToggleButton
                                            id="duration_monthly" value="{{ constant('App\\Donation\\Paybox\\PayboxPaymentSubscription::UNLIMITED') }}" name="duration"
                                            x-model="duration"
                                            @click="amount = 10" >
                                            Mensuel
                                        </twig:Atoms:ReToggleButton>
                                        <twig:Atoms:ReToggleButton
                                            id="duration_punctual" value="{{ constant('App\\Donation\\Paybox\\PayboxPaymentSubscription::NONE') }}" name="duration"
                                            x-model="duration"
                                            @click="amount = 60" >
                                            Unique
                                        </twig:Atoms:ReToggleButton>
                                    </twig:Atoms:ReLinkedToggle>
                                    {{ form_errors(form.duration) }}
                                    <twig:Atoms:ReLinkedToggle color="green" name="amount" id="donation_amount_picker" grid label="">
                                        <template x-for="amt in getAmounts()" :key="amt">
                                            <twig:Atoms:ReToggleButton id="x:`amount_${amt}`" name="amount" @click="handleAmountClick(amt)" x-bind:value="amt" x-model="amount" x-text="amt" />
                                        </template>
                                    </twig:Atoms:ReLinkedToggle>

                                    <template x-if="duration === '{{ constant('App\\Donation\\Paybox\\PayboxPaymentSubscription::UNLIMITED') }}'">
                                        <twig:Molecules:ReTextField
                                            id="amount_custom"
                                            @input="handleCustomFieldChange($event)"
                                            @change="handleCustomFieldChange($event)"
                                            x-bind:value="defaultCustomAmount"
                                            center
                                            type="text"
                                            x-numberonly.5.625
                                            placeholder="Montant personnalisé (de 5€ à 625€ par mois)" />
                                    </template>

                                    <template x-if="duration === '{{ constant('App\\Donation\\Paybox\\PayboxPaymentSubscription::NONE') }}'">
                                        <twig:Molecules:ReTextField
                                            id="amount_custom"
                                            @input="handleCustomFieldChange($event)"
                                            @change="handleCustomFieldChange($event)"
                                            x-bind:value="defaultCustomAmount"
                                            center
                                            type="text"
                                            x-numberonly.10.7500
                                            placeholder="Montant personnalisé (de 10€ à 7500€)" />
                                    </template>

                                    {{ form_errors(form.amount) }}

                                    {{ form_row(form.amount, {attr: {'x-bind:value': 'amount'}}) }}
                                    {{ form_row(form.duration, {attr: {'x-bind:value': 'duration'}}) }}

                                    {{ form_row(form.localDestination, {
                                        label: 'donation.local_destination.label', label_html: true,
                                        attr: {onCheck: "setFieldValid('localDestination')", 'x-model': 'localDestination'},
                                    }) }}

                                    <div>
                                        <twig:Atoms:ReLabel class="mb-6">Après réduction d’impôt :</twig:Atoms:ReLabel>
                                        <div class="rounded-[10px] bg-ui_gray-10 text-ui_green-90 text-center h-[51px] flex flex-col items-center justify-center">
                                            <span x-text="getTaxTextReduction()"></span>
                                        </div>
                                    </div>

                                    <twig:ReButton color="green" class="w-full" @click="handleOnSubmit($event, $dispatch)">Suivant</twig:ReButton>

                                    <p class="text-center">Vous préférez effectuer votre contribution<br/>par chèque ? Retrouvez ici nos<br/>coordonnées bancaires.</p>

                                    <a href="https://doc.parti.re/bulletin-don.pdf" class="re-button text-sm sm:text-base font-medium px-8 py-2 transition-colors rounded-[10px] justify-center items-center gap-2.5 border border-ui_green-50 inline-flex focus:enabled:outline focus:outline-4 focus:outline-offset-0 focus:outline-ui_blue-20 text-ui_green-50 hover:bg-ui_green-50 hover:text-white active:bg-ui_green-70 w-full">Téléchargez le PDF</a>
                                </twig:Atoms:ReCard>
                                <div class="re-step flex-col flex gap-8" id="step_2" x-data="SecondFormStep">
                                    {% if not (app.user and app.user.hasActiveMembership()) %}
                                        <twig:Atoms:ReCard class="max-w-[500px]">
                                            {% if not app.user %}
                                                <p>
                                                    <twig:Atoms:ReLabel class="mb-6">Vous avez déjà un compte Renaissance ? </twig:Atoms:ReLabel>
                                                    Connectez vous pour pré-remplir toutes vos informations.
                                                </p>
                                                <twig:ReButton stroke color="black" tag="a" x-bind:href="connectUrl()">
                                                    Me connecter
                                                </twig:ReButton>
                                            {% endif %}

                                            <p>
                                                Un don ne vaut pas adhésion ou cotisation au parti Renaissance.
                                                Si vous souhaitez adhérer/cotiser, veuillez vous rendre sur
                                                <a class="text-ui_green-50 hover:text-ui_green-70" href="{{ path('app_adhesion_index') }}">cette page</a>.
                                            </p>
                                        </twig:Atoms:ReCard>
                                    {% endif %}

                                    <twig:Atoms:ReCard class="max-w-[500px]">
                                        {{ form_row(form.gender, {
                                            label: 'Mes informations',
                                            attr: {color: 'green', onCheck: "setFieldValid('gender')", validate: "['required']", autocomplete: 'gender'},
                                        }) }}

                                        <div class="flex flex-col xs:flex-row gap-5 ">
                                            {{ form_row(form.lastName, {
                                                label: false,
                                                attr: {placeholder: 'Nom', onCheck: "setFieldValid('lastName')", validate: "['required', 'min:1', 'max:50']"},
                                            }) }}
                                            {{ form_row(form.firstName, {
                                                label: false,
                                                attr: {placeholder: 'Prénom', onCheck: "setFieldValid('firstName')", validate: "['required', 'min:2', 'max:50']"},
                                            }) }}
                                        </div>

                                        {{ form_row(form.emailAddress, {
                                            attr: {
                                                placeholder: 'Adresse email',
                                                validate: "['required', 'email']",
                                                autocomplete: 'email',
                                                type: 'email',
                                                onCheck: "setFieldValid('emailAddress')",
                                            }, label: false}) }}

                                        {{ form_row(form.nationality, {
                                            label: 'Nationalité',
                                            attr: {onCheck: "setFieldValid('nationality')", validate: "['required']"},
                                        }) }}

                                        {{ form_row(form.address, {label: 'Adresse postale'}) }}

                                        <twig:ReButton
                                            class="w-full"
                                            color="green"
                                            @click="handleOnSubmit($event, $dispatch)"
                                            onDisabledClick="checkFormValidity($event)"
                                            disabled="x:!checkValidity()"
                                        >Suivant</twig:ReButton>
                                    </twig:Atoms:ReCard>
                                </div>
                                <twig:Atoms:ReCard class="max-w-[500px] re-step" id="step_3" x-data="ThirdFormStep">
                                    <twig:Atoms:ReLabel>Autorisations</twig:Atoms:ReLabel>
                                    {{ form_row(form.autorisations, {
                                        label: 'donation.autorisations.label', label_html: true,
                                        attr: {onCheck: "setFieldValid('autorisations')", validate: "['required']"},
                                    }) }}

                                    <div class="w-full re-field-frame !h-auto cursor-pointer"
                                         @click="dom('.frc-button')?.click()">
                                        {{ include('renaissance/partials/friendly-captcha.html.twig') }}
                                    </div>
                                    <twig:ReButton
                                            color="green"
                                            class="w-full"
                                            loading="x:loading"
                                            disabled="x:!checkValidity()"
                                            onDisabledClick="triggerValidateOnAllField()"
                                            @click="handleOnSubmit($event)"
                                    >Passer au paiement</twig:ReButton>
                                </twig:Atoms:ReCard>
                                <twig:Atoms:ReCard class="max-w-[500px]">
                                    <twig:Atoms:ReLabel>Légalités</twig:Atoms:ReLabel>
                                    <p>Une question relative aux dons ? Écrivez-nous à <a class="text-ui_green-50" href="mailto:dons@parti-renaissance.fr">dons@parti-renaissance.fr</a>.</p>
                                    <p>66 % de votre don vient en réduction de votre Impôt sur le Revenu des Personnes Physiques (IRPP), dans la limite de 20 % du revenu imposable.</p>
                                    <p>
                                        Votre don est exclusivement versé à l’AFIR (Association de financement de Renaissance agréée le 7 mars 2016 sous le n°1158), unique mandataire financier, au bénéfice du parti politique Renaissance (numéro RNA W943004354). Aux termes de l’article 11-4 de la loi n° 88-227 du 11 mars 1988 relative à la transparence financière de la vie politique modifiée par la loi n° 2017-286 du 6 mars 2017 : « Une personne physique peut verser un don à un parti ou groupement politique si elle est de nationalité française ou si elle réside en France. Les dons consentis et les cotisations versées en qualité d’adhérent d’un ou de plusieurs partis politiques par une personne physique dûment identifiée à une ou plusieurs associations agréées en qualité d’association de financement ou à un ou plusieurs mandataires financiers d’un ou de plusieurs partis politiques ne peuvent annuellement excéder 7 500 euros. […] Les personnes morales à l’exception des partis ou groupements politiques ne peuvent contribuer au financement des partis ou groupements politiques, ni en consentant des dons, sous quelque forme que ce soit, à leurs associations de financement ou à leurs mandataires financiers, ni en leur fournissant des biens, services ou autres avantages directs ou indirects à des prix inférieurs à ceux qui sont habituellement pratiqués’ ». L'article 11-5 de la même loi précise que les personnes qui ont versé un don ou consenti un prêt à un ou plusieurs partis ou groupements politiques en violation des articles 11-3-1 et 11-4 sont punies de trois ans d'emprisonnement et de 45 000 euros d'amende.
                                    </p>
                                    <p>
                                        Les données recueillies sur ce formulaire sont traitées par Renaissance, en sa qualité de responsable de traitement, afin de gérer les opérations liées aux dons et les informations relatives à ses donateurs. Les informations marquées d’un astérisque sont obligatoires. L’absence de réponse dans ces champs ne permettra pas à Renaissance de traiter votre demande. Conformément à la règlementation, vous disposez d’un droit d’opposition et d’un droit à la limitation du traitement de données vous concernant, ainsi que d’un droit d’accès, de rectification, de portabilité et d’effacement de vos données. Vous disposez également de la faculté de donner des directives sur le sort de vos données après votre décès. Vous pouvez exercer vos droits en nous adressant votre demande à l'adresse postale : Renaissance, 11 avenue Robert Schuman, 75007 Paris, France ou à l’adresse électronique : <a class="text-ui_green-50" href="mailto:mes-donnees@parti-renaissance.fr">mes-donnees@parti-renaissance.fr</a>. Dans certains cas, Renaissance peut vous demander un justificatif d’identité afin de traiter votre demande. Pour toute information relative au traitement de vos données, vous pouvez consulter notre politique de protection des données en cliquant ici.
                                    </p>
                                </twig:Atoms:ReCard>

                                <div class="spacer h-[50vh]"></div>
                            </div>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
            <input type="hidden" id="email-validation-token" value="{{ email_validation_token }}"/>
        </section>
    </main>
{% endblock %}

{% block final_javascripts %}
    <script type="module" src="{{ asset('js/friendlycaptcha.widget-0.9.14.module.min.js') }}" async defer></script>
    <script>
        Bootstrap.onLoad(() => Main.runDonationFunnelPage());
    </script>
{% endblock %}
