{% extends 'renaissance/donation/_layout.html.twig' %}

{% form_theme form 'renaissance/form_theme.html.twig' %}

{% block donation_content_title %}
    Je donne <span class="stabilo stabilo-green font-bold">en ligne</span>
{% endblock %}

{% set back_btn_target = path('app_renaissance_donation_informations') %}

{% block final_javascripts %}
    <script type="module" src="{{ asset('js/friendly-challenge.widget.module.min.js') }}" async defer></script>
{% endblock %}

{% block donation_content %}
    <section class="lg:max-w-xl lg:mx-auto space-y-12 selection:bg-green selection:text-white">
        <h2 class="uppercase text-center text-green text-2xl mb-12 lg:text-3xl">
            Je donne <span class="stabilo stabilo-green font-bold text-white">en ligne</span>
        </h2>

        {{ form_start(form) }}
            {{ form_errors(form) }}
            <div class="border-t-1 border-white/10 pt-4 mb-5">
                {{ form_widget(form.isPhysicalPerson, { attr: { class: 'form-checkbox form-checkbox-green' }}) }}
                <label for="{{ form.isPhysicalPerson.vars.id }}" class="required">
                    <span>
                        Je certifie sur l'honneur être une personne physique, et que le règlement de mon don ne provient pas du compte d'une personne morale (entreprise, association, collectivité...) mais bien de mon compte bancaire personnel
                    </span>
                </label>
                {{ form_errors(form.isPhysicalPerson) }}
            </div>

            <div class="border-t-1 border-white/10 pt-4 mb-5">
                {{ form_widget(form.hasFrenchNationality, { attr: { class: 'form-checkbox form-checkbox-green' }}) }}
                <label for="{{ form.hasFrenchNationality.vars.id }}" class="required">
                    <span>
                        Je certifie être de nationalité française ou résider fiscalement en France
                    </span>
                </label>
                {{ form_errors(form.hasFrenchNationality) }}
            </div>

            <div class="border-t-1 border-white/10 pt-4 mb-5">
                {{ form_widget(form.personalDataCollection, { attr: { class: 'form-checkbox form-checkbox-green' }}) }}
                <label for="{{ form.personalDataCollection.vars.id }}" class="required">
                    <span>
                        J’accepte les <a class="underline font-bold" href="{{ path('app_static_page', {slug: 'conditions-generales-utilisation', app_domain: app_renaissance_host}) }}" target="_blank">CGU du site Renaissance</a> et déclare avoir lu la <a href="{{ path('app_static_page', {slug: 'politique-de-protection-des-donnees', app_domain: app_renaissance_host}) }}" class="underline font-bold" target="_blank">politique de protection des données personnelles</a> et les mentions d’informations relatives au traitement de mes données ci-dessous
                    </span>
                </label>
                {{ form_errors(form.personalDataCollection) }}
            </div>

            <div class="w-full">
                {% include 'renaissance/partials/friendly-captcha.html.twig' %}
            </div>

            {% include 'renaissance/partials/previous-next-buttons.html.twig' with {
                previous_route_name: 'app_renaissance_donation_informations',
                next_button_label: 'Finaliser le don',
            } %}

            <div class="mt-10 prose lg:prose-lg prose-emerald">
                {{ cms_block('renaissance-donation-rgpd-block') }}
            </div>
        {{ form_end(form) }}
    </section>
{% endblock %}
