{% extends 'renaissance/donation/_layout.html.twig' %}

{% form_theme form 'renaissance/form_theme.html.twig' %}

{% block donation_content_title %}
    Je donne <span class="stabilo stabilo-green font-bold">en ligne</span>
{% endblock %}

{% set back_btn_target = path('app_renaissance_donation_informations') %}

{% block donation_content %}
    <section class="w-96">
        <p class="uppercase text-center text-green font-din text-xl mb-12">
            Je donne <span class="stabilo stabilo-green font-bold">en ligne</span>
        </p>

        {{ form_start(form) }}
            {{ form_errors(form) }}
            <div class="border-t-1 border-white/10 pt-4 mb-5">
                {{ form_widget(form.isPhysicalPerson) }}
                <label for="{{ form.isPhysicalPerson.vars.id }}">
                    <span>
                        Je certifie sur l'honneur être une personne physique, et que le règlement de mon don ne provient pas du compte d'une personne morale (entreprise, association, collectivité...) mais bien de mon compte bancaire personnel
                    </span>
                </label>
                {{ form_errors(form.isPhysicalPerson) }}
            </div>

            <div class="border-t-1 border-white/10 pt-4 mb-5">
                {{ form_widget(form.hasFrenchNationality) }}
                <label for="{{ form.hasFrenchNationality.vars.id }}">
                    <span>
                        Je certifie être de nationalité française ou résider fiscalement en France
                    </span>
                </label>
                {{ form_errors(form.hasFrenchNationality) }}
            </div>

            <div class="border-t-1 border-white/10 pt-4 mb-5">
                {{ form_widget(form.personalDataCollection) }}
                <label for="{{ form.personalDataCollection.vars.id }}">
                    <span>
                        J’accepte les <a class="underline font-bold" href="{{ path('app_static_page', {slug: 'conditions-generales-utilisation', app_domain: renaissance_host}) }}" target="_blank">CGU du site Renaissance</a> et déclare avoir lu la <a href="{{ path('app_static_page', {slug: 'politique-de-protection-des-donnees', app_domain: renaissance_host}) }}" class="underline font-bold" target="_blank">politique de protection des données personnelles</a> et les mentions d’informations relatives au traitement de mes données ci-dessous
                    </span>
                </label>
                {{ form_errors(form.personalDataCollection) }}
            </div>

        {% if re_friendly_site_key is not empty %}
            <div class="w-full">
                <script
                        type="module"
                        src="https://cdn.jsdelivr.net/npm/friendly-challenge@0.9.1/widget.module.min.js"
                        async
                        defer
                ></script>
                <script nomodule src="https://cdn.jsdelivr.net/npm/friendly-challenge@0.9.1/widget.min.js" async defer></script>


                <div class="frc-captcha mb-5"
                     data-sitekey="{{ re_friendly_site_key }}"
                     data-puzzle-endpoint="https://eu-api.friendlycaptcha.eu/api/v1/puzzle"
                     data-lang="fr"
                ></div>
                <input type="hidden" name="recaptcha_site_key" value="{{ re_friendly_site_key }}" />
            </div>
        {% elseif app.debug %}
            <div class="w-full">
                <input type="hidden" name="frc-captcha-solution" value="fake" />
                <input type="hidden" name="recaptcha_site_key" value="fake_key" />
            </div>
        {% endif %}

            {% include 'renaissance/partials/previous-next-buttons.html.twig' with {
                previous_route_name: 'app_renaissance_donation_informations',
                next_button_label: 'Finaliser le don',
            } %}

            <div class="mt-5 h-80 md:h-64 overflow-auto mb-5 border border-white/10 py-2 px-4">
                {{ cms_block('renaissance-donation-rgpd-block') }}
            </div>
        {{ form_end(form) }}
    </section>
{% endblock %}
