{% extends 'renaissance/donation/_layout.html.twig' %}

{% form_theme form 'renaissance/form_theme.html.twig' %}

{% block donation_title %}
    Je donne <span class="stabilo stabilo-green">en ligne</span>
{% endblock %}

{% block final_javascripts %}
    <script src="https://www.google.com/recaptcha/enterprise.js"></script>
{% endblock %}

{% block donation_content %}
    <section class="w-96">
        {{ form_start(form) }}
            {{ form_errors(form) }}
            <div class="border-t-1 border-white/10 pt-3.75 mb-5">
                {{ form_widget(form.isPhysicalPerson) }}
                <label for="{{ form.isPhysicalPerson.vars.id }}">
                    <span>
                        Je certifie sur l'honneur être une personne physique, et que le règlement de mon don ne provient pas du compte d'une personne morale (entreprise, association, collectivité...) mais bien de mon compte bancaire personnel
                    </span>
                </label>
                {{ form_errors(form.isPhysicalPerson) }}
            </div>

            <div class="border-t-1 border-white/10 pt-3.75 mb-5">
                {{ form_widget(form.hasFrenchNationality) }}
                <label for="{{ form.hasFrenchNationality.vars.id }}">
                    <span>
                        Je certifie être de nationalité française ou résider fiscalement en France
                    </span>
                </label>
                {{ form_errors(form.hasFrenchNationality) }}
            </div>

            <div class="border-t-1 border-white/10 pt-3.75 mb-5">
                {{ form_widget(form.personalDataCollection) }}
                <label for="{{ form.personalDataCollection.vars.id }}">
                    <span>
                        J’accepte les <a class="underline font-bold" href="{{ path('app_static_page', {slug: 'conditions-generales-utilisation', app_domain: renaissance_host}) }}" target="_blank">CGU du site Renaissance</a> et déclare avoir lu la <a href="{{ path('app_static_page', {slug: 'Politique-de-protection-des-donnees', app_domain: renaissance_host}) }}" class="underline font-bold" target="_blank">politique de protection des données personnelles</a> et les mentions d’informations relatives au traitement de mes données ci-dessous
                    </span>
                </label>
                {{ form_errors(form.personalDataCollection) }}
            </div>

            <div class="mt-5 h-80 md:h-64 overflow-auto mb-5 border border-white/10 py-2 px-3.75">
                {{ cms_block('renaissance-donation-rgpd-block') }}
            </div>

            <div class="w-full">
                <input type="hidden" class="nojs-g-recaptcha-response" name="g-recaptcha-response" value="" />
                {% if recaptcha_public_key is not empty %}
                    {% for flashMessage in app.flashes("error_recaptcha") %}
                        <p id="recapture_error" class="form__error">{{ flashMessage|trans }}</p>
                    {% endfor %}
                    <div class="g-recaptcha" data-sitekey="{{ recaptcha_public_key }}" style="margin: 30px auto 10px auto;"></div>
                {% elseif app.debug %}
                    <input type="hidden" name="g-recaptcha-response" value="fake" />
                {% endif %}
            </div>

            {% include 'renaissance/partials/previous-next-buttons.html.twig' with {
                route_name: 'app_renaissance_donation_informations',
                form_button: form.donation_request_mentions
            } %}
        {{ form_end(form) }}
    </section>
{% endblock %}
