{% extends 'national_council/_layout.html.twig' %}

{% import 'territorial_council/_macros.html.twig' as helper %}

{% block page_title 'Candidats aux élections' %}

{% block sub_content %}
    {% for group in candidacies_groups %}
        <section class="instance-page__candidacies">
            <div class="l__row l__row--h-stretch">
                <h2>{{ group.getLabel() }}</h2>

                <a href="#" class="font-roboto text--blue--dark link--no-decor em-modal--trigger"
                   data-content-element="#candidacies-list-content-{{ group.id }}"
                >Voir</a>
            </div>

            <div class="l__row l__row--wrap b__nudge--top">
                {% for candidacy in group.candidacies|filter(candidacy => candidacy.imagePath) %}
                    <div class="candidate-photo avatar-initials avatar--small">
                        <img src="{{ path('asset_url', {path: candidacy.imagePath}) }}" alt="photo" />
                    </div>
                {% endfor %}
            </div>

            <div id="candidacies-list-content-{{ group.id }}" class="hidden">
                <div class="candidacies-list-content">
                    <h2 class="text--medium-large b__nudge--bottom-large">{{ group.getLabel() }}</h2>

                    {% for candidacy in group.candidacies %}
                        <div class="l__row b__nudge--bottom-medium b__nudge--left">
                            <div class="candidate-photo avatar-initials avatar--medium b__nudge--right">
                                <img src="{{ path('asset_url', {path: candidacy.imagePath}) }}" alt="photo" />
                            </div>

                            <div class="font-roboto">
                                <div class="text--bold">{{ candidacy.adherent.fullName }}</div>
                                <div>{{ candidacy.quality }}</div>
                            </div>
                        </div>
                    {% endfor %}

                    <p class="text--body text--dark b__nudge--top-50">{{ group.candidacies|first.faithStatement|markdown }}</p>
                </div>
            </div>
        </section>
    {% endfor %}
{% endblock %}
