{% extends 'renaissance/adherent/_layout.html.twig' %}

{% block page_title 'Certification' %}

{% block content_right_side %}
    <section class="space-y-4 md:space-y-6" id="certification">
        <h1 class="text-3xl font-bold leading-10 text-gray-900">Certification du profil</h1>

        <div class="rounded-lg p-5 md:p-6 bg-white shadow overflow-hidden">
            {{ form_start(form, {attr: {class: 'em-form', id: 'app_certification_request'}}) }}

                {{ form_errors(form) }}

                <div class="space-y-6">
                    <div class="space-y-5">
                        <h2 class="text-lg font-medium text-gray-900">1. Mettez à jour vos informations personnelles</h2>

                        <p class="text-gray-500 leading-7">
                            Les informations suivantes (Nom, Prénom, Date de naissance) doivent être renseignées dans vos informations générales et correspondre à celles présentes sur votre pièce d’idendité.
                            Sans cette correspondance, votre compte ne pourra pas être certifié.
                        </p>
                        <div class="text-gray-500">
                            <p><span class="text-gray-700 font-medium">Nom :</span> {{ app.user.lastName }}</p>
                            <p><span class="text-gray-700 font-medium">Prénom :</span> {{ app.user.firstName }}</p>
                            <p>
                                <span class="text-gray-700 font-medium">Date de naissance :</span>
                                {{ app.user.birthDate|date('d/m/Y') }} ({{ app.user.birthdate|format_datetime('none', 'none', 'd MMMM YYYY') }} - {{ app.user.age }} ans)
                            </p>
                        </div>
                        <a class="inline-flex items-center text-re-blue-500 leading-6 hover:underline" href="{{ path('app_renaissance_adherent_profile') }}">
                            Éditer les informations
                            <svg class="w-5 h-5 ml-1" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L6.832 19.82a4.5 4.5 0 01-1.897 1.13l-2.685.8.8-2.685a4.5 4.5 0 011.13-1.897L16.863 4.487zm0 0L19.5 7.125" />
                            </svg>
                        </a>
                    </div>

                    <div class="space-y-5">
                        <h2 class="text-lg font-medium text-gray-900">2. Téléchargez une pièce d'identité</h2>
                        <div class="rounded-md bg-red-50 p-4">
                            <h3 class="text-sm font-medium text-red-800">Attention</h3>
                            <div class="mt-2 text-sm text-red-700">
                                <p>Votre scan doit être de <strong class="text-red-800">bonne qualité</strong> et <strong class="text-red-800">dépourvu de reflets</strong> (les écritures restant bien lisibles).</p>
                                <p>Si votre pièce n'est pas lisible ou tronquée ou n'est pas un scan original, elle sera refusée.</p>
                            </div>
                        </div>

                        <div>
                            <div class="space-y-1">
                                <div class="relative flex justify-center rounded-md border-2 border-dashed border-gray-300 hover:border-re-blue-200 px-6 pt-5 pb-6">
                                    <div class="space-y-1 text-center">
                                        <svg class="mx-auto h-12 w-12 text-gray-400" stroke="currentColor" fill="none" viewBox="0 0 48 48" aria-hidden="true">
                                            <path d="M28 8H12a4 4 0 00-4 4v20m32-12v8m0 0v8a4 4 0 01-4 4H12a4 4 0 01-4-4v-4m32-4l-3.172-3.172a4 4 0 00-5.656 0L28 28M8 32l9.172-9.172a4 4 0 015.656 0L28 28m0 0l4 4m4-24h8m-4-4v8m-12 4h.02" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                                        </svg>
                                        <div class="flex text-sm text-gray-600">
                                            <label for="file-upload" class="relative cursor-pointer rounded-md bg-white font-medium text-gray-600">
                                                Téléchargez votre <span class="text-re-green-600">Carte nationale d'identité</span> recto ou votre <span class="text-re-green-600">passeport</span>
                                            </label>
                                        </div>
                                        <p class="text-xs text-gray-500">Formats acceptés PNG, JPG, JPEG • Taille max.: 5Mo</p>
                                    </div>
                                    {{ form_widget(form.document, {attr: {class: 'absolute inset-0 h-full w-full cursor-pointer opacity-0 em-form__file--area', id: 'file-upload'}}) }}
                                </div>
                                {{ form_errors(form.document) }}
                            </div>

                            <div id="preview-container" class="mt-3 visually-hidden">
                                <p class="text--body b__nudge--top-0">Prévisualisation :</p>
                                <div id="preview" class="text--center background--lighter space--20"></div>
                                <div class="l__row l__row--h-stretch">
                                    <p id="preview-file-name" class="text--body"></p>
                                    <button type="button" id="document-remover" class="btn btn--as-link right">Supprimer la pièce d'identité</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="prose text-gray-500 prose-blue max-w-none">
                        <p>
                            Les données présentes sur ce formulaire sont recueillies,
                            en vertu de l’article 9.2 a) et 9.2 d) du Règlement Général sur la Protection des Données (RGPD)
                            par Renaissance et traitée par elle et son équipe
                            afin de certifier les profils des adhérents qui souhaitent participer
                            à une élection interne au Parti en candidatant ou en votant,
                            conformément au règlement intérieur adopté par le Bureau exécutif de Renaissance le 11 mai 2020
                            sur base des statuts adoptés par la Convention en décembre 2019.
                        </p>
                        <p>
                            Les informations et les champs marqués d’un astérisque sont obligatoires.
                            L’absence de réponse dans ces champs ne permettra pas à Renaissance de traiter votre demande.
                        </p>
                        <p>
                            Vous pouvez exercer vos droits en nous adressant votre demande à l’adresse électronique suivante :
                            <a href="mailto:mes-donnees@parti-renaissance.fr">mes-donnees@parti-renaissance.fr</a>.
                            Pour toute information concernant la protection de vos données,
                            vous pouvez consulter la Politique de protection des données de Renaissance ici :
                            et/ou contacter notre DPO à l’adresse <a href="mailto:dpo@parti-renaissance.fr">dpo@parti-renaissance.fr</a>
                        </p>
                        <p>
                            La copie de la pièce d'identité que vous communiquez dans le cadre de votre demande de certification
                            sera conservée pour une période de 14 jours durant laquelle votre demande sera traitée.
                            A la fin de ce délai, la copie de votre pièce d’identité est supprimée automatiquement.
                        </p>
                    </div>

                    <div class="space-y-1">
                        <div>
                            {{ form_widget(form.cgu, {attr: {class: 'h-4 w-4 rounded border-gray-300 text-re-blue-600 focus:ring-re-blue-500'}}) }}
                            {% block _form_cgu_label %}
                                <label class="text-sm leading-5 text-gray-700" for="certification_request_cgu">
                                <span>
                                    En cliquant sur « Valider », je reconnais avoir lu, compris et donne mon consentement
                                    pour que mes données soient traitées dans les conditions et pour les finalités précitées.
                                </span>
                                </label>
                            {% endblock %}
                        </div>
                        {{ form_errors(form.cgu) }}
                    </div>

                    <div>
                        <button type="submit" class="button button-blue">Valider</button>
                    </div>
                </div>

            {{ form_end(form) }}
        </div>
    </section>
{% endblock %}

{% block head_javascripts %}
    <script type="text/javascript" src={{ asset('js/jquery/jquery-2.2.4.min.js') }}></script>
{% endblock %}

{% block final_javascripts %}
    {{ parent() }}

    <script type="text/javascript">
        $('.em-form__file--area').bind('change', (event) => {
            const $input = $(event.currentTarget);
            const selectedFileName = $input.val();

            if (0 < $input.length && 0 < selectedFileName.length) {
                const file = $input[0].files[0];
                $('#bad-file-selected').hide();

                if (!file || !$input.attr('accept').split(',').includes(file.type)) {
                    $('#bad-file-selected').show();
                    $('#form-file').show().find('input[type=file]').val('');
                    return;
                }

                const reader = new FileReader();
                reader.readAsDataURL(file);
                reader.onload = function (e) {
                    var embed = `<embed type="${file.type}"
                        src="${e.target.result}"
                        style="max-height: 400px">`;

                    $('#form-file').hide();
                    $('#preview').html(embed);
                    $('#preview-file-name').text(selectedFileName.split('\\').pop());
                    $('#preview-container').show();
                };
            }
        });

        $('#document-remover').on('click', function (e) {
            e.preventDefault();
            $('#preview-container').hide();
            $('#preview').html('');
            $('#form-file').show().find('input[type=file]').val('');
            $('#preview-file-name').text('');
        });
    </script>
{% endblock %}
