{% extends 'renaissance/adherent/_layout.html.twig' %}

{% block page_title 'Certification' %}

{% block content_right_side %}
    <section class="adherent-profile__section" id="certification">
        <h1 class="text--medium-large">Certification du profil</h1>

        <h2 class="section-subtitle">Votre profil certifié</h2>
        <p class="text--body">Cela vous permet de voter pour les élections internes des nouveaux statuts si vous avez au moins 3 mois d'ancienneté à LaREM.</p>
        <div class="certification-status font-roboto b__border text--center b__nudge--bottom-large {{ app.user.isCertified ? 'certified' : '' }}">
            {% if app.user.isCertified %}
                <img src="{{ asset('/images/icons/certification/certified-lg.svg') }}" alt="certif-img"/>
                <div class="title">Votre profil est certifié</div>

            {% elseif app.user.certificationRequests.hasBlockedCertificationRequest %}
                <img src="{{ asset('images/icons/certification/blocked.svg') }}" alt="certif-img"/>
                <div class="title b__nudge--bottom">Demande de certification bloquée</div>
                <p>Vous ne pouvez pas refaire de nouvelle demande pour l'instant.</p>

            {% elseif app.user.certificationRequests.hasPendingCertificationRequest %}
                <img src="{{ asset('/images/icons/certification/on-waiting.svg') }}" alt="certif-img"/>
                <div class="title b__nudge--bottom">Demande de certification en attente</div>
                <p>Votre demande est en attente d'approbation par nos équipes.</p>

            {% elseif app.user.certificationRequests.hasRefusedCertificationRequest %}
                {% set refusedCertificationRequest = app.user.certificationRequests.getRefusedCertificationRequests.first %}

                <img src="{{ asset('/images/icons/certification/blocked.svg') }}" alt="certif-img"/>
                <div class="title b__nudge--bottom">Demande de certification refusée</div>
                <p>Votre demande de certification a été refusée.<br />
                {% if refusedCertificationRequest.refusalReason %}
                    <p>
                        Raison:
                        {% if refusedCertificationRequest.isRefusedWithOtherReason %}
                            {{ refusedCertificationRequest.customRefusalReason }}
                        {% else %}
                            {{ refusedCertificationRequest.refusalReasonKey|trans }}
                        {% endif %}
                    </p>
                {% endif %}
                Vous pouvez <a class="link--blue--dark link--no-decor" href="{{ path('app_certification_request_form', { app_domain: renaissance_host }) }}">réessayer</a>.</p>

            {% else %}
                <img src="{{ asset('/images/icons/certification/not-certified.svg') }}" alt="certif-img"/>
                <div class="title b__nudge--bottom">Votre profil n'est pas encore certifié.</div>
                <p>Certifiez-le avec une pièce d'identité, ça ne prend qu'une minute.</p>

                <a href="{{ path('app_certification_request_form', { app_domain: renaissance_host }) }}" class="btn btn--blue b__nudge--top">Certifier mon profil</a>
            {% endif %}
        </div>
    </section>
{% endblock %}
