{% extends 'renaissance/adherent/_layout.html.twig' %}

{% block page_title 'Certification' %}

{% block content_right_side %}
    <section class="space-y-4 md:space-y-6" id="certification">
        <h1 class="text-3xl font-bold leading-10 text-gray-900">Certification du profil</h1>

        <div class="rounded-lg p-5 md:p-6 bg-white shadow overflow-hidden">
            <div>
                <h3 class="text-lg font-medium leading-6 text-gray-900 uppercase tracking-wider">Votre profil certifié</h3>
                <p class="mt-4 text-base leading-6 text-gray-500">Certifier votre profil permet de voter pour les élections internes de Renaissance.</p>
            </div>
            <div class="mt-8">
                {% if app.user.isCertified %}
                    <div class="relative px-4 py-5 border border-gray-300 rounded-lg bg-white overflow-hidden">
                        <img class="absolute inset-0 h-full w-full z-0 pointer-events-none bg-center" src="{{ asset('images/icons/certification/certification_confettis.svg') }}" alt="Confetti svg"/>
                        <div class="relative z-10 flex flex-col items-center justify-center justify-center">
                            {{ include('icons/check-blue.svg.twig') }}
                            <p class="mt-1.5 text-lg leading-8 font-medium text-gray-900">Votre profil est certifié</p>
                        </div>
                    </div>

                {% elseif app.user.certificationRequests.hasBlockedCertificationRequest %}
                    <div class="bg-gray-50 rounded-lg max-w-2xl px-4 py-5 sm:p-6">
                        <img src="{{ asset('images/icons/certification/blocked.svg') }}" alt="certif-img"/>
                        <h4 class="mt-3 text-lg font-medium leading-6 text-gray-900">Demande de certification bloquée</h4>
                        <p class="mt-2 max-w-xl text-sm text-gray-500">Vous ne pouvez pas refaire de nouvelle demande pour l'instant.</p>
                    </div>

                {% elseif app.user.certificationRequests.hasPendingCertificationRequest %}
                    <div class="bg-gray-50 rounded-lg max-w-2xl px-4 py-5 sm:p-6">
                        <img src="{{ asset('/images/icons/certification/on-waiting.svg') }}" alt="certif-img"/>
                        <h4 class="mt-3 text-lg font-medium leading-6 text-gray-900">Demande de certification en attente</h4>
                        <p class="mt-2 max-w-xl text-sm text-gray-500">Votre demande est en attente d'approbation par nos équipes.</p>
                    </div>

                {% elseif app.user.certificationRequests.hasRefusedCertificationRequest %}
                    {% set refusedCertificationRequest = app.user.certificationRequests.getRefusedCertificationRequests.first %}
                    <div class="bg-gray-50 rounded-lg max-w-2xl px-4 py-5 sm:p-6">
                        <img src="{{ asset('/images/icons/certification/blocked.svg') }}" alt="certif-img"/>
                        <h4 class="mt-3 text-lg font-medium leading-6 text-gray-900">Demande de certification refusée</h4>
                        <div class="mt-2 max-w-xl text-sm text-gray-500">
                            <p>Votre demande de certification a été refusée.</p>
                            {% if refusedCertificationRequest.refusalReason %}
                                <p class="mt-4 text-sm leading-5 text-gray-600 font-medium">
                                    Raison:
                                    {% if refusedCertificationRequest.isRefusedWithOtherReason %}
                                        {{ refusedCertificationRequest.customRefusalReason }}
                                    {% else %}
                                        {{ refusedCertificationRequest.refusalReasonKey|trans }}
                                    {% endif %}
                                </p>
                            {% endif %}
                            Vous pouvez <a class="text-re-blue-500 font-medium hover:text-re-blue-600 hover:underline" href="{{ path('app_certification_request_form', {app_domain: app_renaissance_host}) }}">réessayer</a>.
                        </div>
                    </div>

                {% else %}
                    <div class="bg-gray-50 rounded-lg max-w-2xl px-4 py-5 sm:p-6">
                        <div class="flex items-start">
                            <svg class="w-6 h-6 text-gray-400" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75L11.25 15 15 9.75M21 12c0 1.268-.63 2.39-1.593 3.068a3.745 3.745 0 01-1.043 3.296 3.745 3.745 0 01-3.296 1.043A3.745 3.745 0 0112 21c-1.268 0-2.39-.63-3.068-1.593a3.746 3.746 0 01-3.296-1.043 3.745 3.745 0 01-1.043-3.296A3.745 3.745 0 013 12c0-1.268.63-2.39 1.593-3.068a3.745 3.745 0 011.043-3.296 3.746 3.746 0 013.296-1.043A3.746 3.746 0 0112 3c1.268 0 2.39.63 3.068 1.593a3.746 3.746 0 013.296 1.043 3.746 3.746 0 011.043 3.296A3.745 3.745 0 0121 12z" />
                            </svg>
                            <div class="ml-3">
                                <h3 class="text-lg font-medium leading-6 text-gray-900">Votre profil n'est pas encore certifié</h3>
                                <div class="mt-2 max-w-xl text-sm text-gray-500">
                                    <p>Certifiez-le avec une pièce d'identité, ça ne prend qu'une minute.</p>
                                </div>
                            </div>
                        </div>
                        <div class="mt-5">
                            <a href="{{ path('app_certification_request_form', {app_domain: app_renaissance_host}) }}" class="inline-flex items-center rounded-md border border-gray-300 bg-white px-4 py-2 uppercase tracking-wider font-medium text-gray-700 shadow-sm hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-re-blue-500 focus:ring-offset-2 sm:text-sm">
                                Certifier mon profil
                            </a>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </section>
{% endblock %}
