{% extends 'base.html.twig' %}

{% block banner '' %}

{% set is_cp_administrator = is_citizen_project_administrator(citizen_action.citizenProject) %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        Kernel.onLoad(function(di) {
            {% if can_unregister_citizen_action(citizen_action) %}
            var unregistrationButton = dom('#citizen_action-unregistration');

            unregistrationButton && on(unregistrationButton, 'click', function () {
                unregistrationButton.disabled = true;

                di.get('api').unregisterFromCitizenAction(
                    '{{ citizen_action.slug }}',
                    unregistrationButton.getAttribute('data-csrf-token'),
                    function (data) {
                        if (data.hasOwnProperty('error')) {
                            dom('#unregistration_error').textContent = data.error;
                        } else {
                            window.location.reload();
                        }
                    }
                );
            });
            {% endif %}
        });

    </script>
{% endblock %}
{% block content %}
    <main class="citizen_action">
        <header class="background--purple space--60-0">
            <div class="l__wrapper text--white">
                <div class="b__nudge--bottom-larger">
                    <div class="text--uppercase text--small b__nudge--bottom-tiny">
                        {{- citizen_action.beginAt|localizeddate('none', 'none', 'fr_FR', null, 'd MMMM')|capitalize -}}
                    </div>
                    <h1 class="citizen-action-name text--large text--white b__nudge--bottom-small text--breakword">
                        {{- citizen_action.name -}}
                    </h1>
                    {% if citizen_action.organizer %}
                        <div class="citizen-action-organizer text--body text--white">
                            Organisé par <span class="text--bold">{{ is_granted('IS_AUTHENTICATED_FULLY') ? citizen_action.organizer.fullName : citizen_action.organizer.partialName }}</span>
                            {% if citizen_action.citizenProject is defined %}
                                du projet citoyen
                                <a class="link--white" href="{{ path('app_citizen_project_show', {slug: citizen_action.citizenProject.slug}) }}">
                                    {{- citizen_action.citizenProject.name -}}
                                </a>
                            {% endif %}
                        </div>
                    {% else %}
                        <div class="citizen-action-organizer text--body text--white">
                            Organisé par un ancien adhérent
                        </div>
                    {% endif %}
                </div>

                <div class="text--body l__row">
                    <div class="b__nudge--right">
                        {% if citizen_action.finished %}
                            Cette action citoyenne est terminée
                        {% elseif citizen_action.cancelled %}
                            L'action citoyenne a été annulée
                        {% elseif citizen_action.full %}
                            L'action citoyenne est complète
                        {% elseif can_unregister_citizen_action(citizen_action) %}
                            <button type="button"
                                    id="citizen_action-unregistration"
                                    class="newbtn newbtn--orange b__nudge--right-large"
                                    data-csrf-token="{{ csrf_token('event.unregistration') }}">
                                Se désinscrire
                            </button>
                        {% else %}
                            <a class="newbtn newbtn--orange register-event" href="{{ path("app_citizen_action_attend", { slug: citizen_action.slug }) }}">S'inscrire</a>
                        {% endif %}
                    </div>
                </div>
                <div id="unregistration_error"></div>
            </div>
        </header>

        <div class="l__wrapper l__row l__row--top l__row--h-stretch l__tablet--col">
            <div class="l__wrapper--main l__wrapper--main-left">
                {% block citizen_action_content %}{% endblock %}
            </div>

            {% block citizen_action_sidebar %}
                {{ include('citizen_action/_sidebar.html.twig') }}
            {% endblock %}
        </div>
    </main>
{% endblock %}
