{% extends 'citizen_action/_layout.html.twig' %}

{% block page_title 'Participants à l\'action citoyenne' %}

{% block javascripts %}
    {% if is_cp_administrator %}
        {{ parent() }}
        <script type="text/javascript">
            Kernel.onLoad(function() {
                App.runManageParticipants();
            });
        </script>
    {% endif %}
{% endblock %}

{% block citizen_action_content %}
    <div class="l__wrapper l__row l__row--top l__row--h-stretch l__tablet--col">
        <div class="committee__main l__wrapper--main l__wrapper--main-left">
            <a href="{{ path('app_citizen_action_event_show', { slug: citizen_action.slug }) }}"
               class="back-to-list icon--with-text text--summary space--20-0">
                {{ include('components/caret--left.html.twig') }}
                Retour à l'action citoyenne
            </a>
            <header class="space--30-0">
                <h1 class="b__nudge--bottom-small text--medium">
                    Liste des participants
                </h1>
            </header>

            {% if is_cp_administrator %}
                <div class="committee__members__nav">
                    <div>
                        <form method="post" action="{{ path("app_citizen_action_contact_participants", { slug: citizen_action.slug, project_slug: citizen_action.citizenProject.slug }) }}">
                            <input type="hidden" name="token" value="{{ csrf_token('citizen_action.contact_participants') }}" id="members-contact-token" />
                            <input type="hidden" name="contacts" value="" id="members-contact-selection" />
                            <button id="members-contact-button" class="btn b__nudge--right" disabled="disabled">Contacter</button>
                        </form>
                        <form method="post" action="{{ path("app_citizen_action_export_participants", { slug: citizen_action.slug, project_slug: citizen_action.citizenProject.slug }) }}">
                            <input type="hidden" name="token" value="{{ csrf_token('citizen_action.export_participants') }}" id="members-export-token" />
                            <input type="hidden" name="exports" value="" id="members-export-selection" />
                            <button id="members-export-button" class="btn b__nudge--right" disabled="disabled">Exporter</button>
                        </form>
                        <form method="post" action="{{ path("app_citizen_action_print_participants", { slug: citizen_action.slug, project_slug: citizen_action.citizenProject.slug }) }}">
                            <input type="hidden" name="token" value="{{ csrf_token('citizen_action.print_participants') }}" id="members-print-token" />
                            <input type="hidden" name="prints" value="" id="members-print-selection" />
                            <button id="members-print-button" class="btn" disabled="disabled">Imprimer</button>
                        </form>
                    </div>
                </div>
            {% endif %}

            {% include 'citizen_action/_participants_list.html.twig' %}
        </div>
    </div>
{% endblock %}
