{% extends 'citizen_action/_layout.html.twig' %}

{% block page_title citizen_action.name %}
{% block canonical_url url('app_citizen_action_show', {'slug': citizen_action.slug}) %}

{% block json_ld %}
    <script type="application/ld+json">
    {
        "@context": "http://schema.org",
        "@type": "Organization",
        "name": "{{ citizen_action.name }}",
        "url": "{{ block('open_graph_url') }}",
        "image": {
            "@type": "ImageObject",
            "url": "{{ block('open_graph_image')|raw }}",
            "contentUrl": "{{ block('open_graph_image')|raw }}",
            "width": {{ block('open_graph_image_width') }},
            "height": {{ block('open_graph_image_height') }}
        },
        "description": "{{ citizen_action.description }}",
        "funder": {
            "@type": "Person",
            "givenName": "Emmanuel",
            "familyName": "Macron"
        },
        "parentOrganization": {
            "@type": "Organization",
            "name": "En Marche !",
            "url": "{{ homepage_url }}"
        },
        "location": {
            "@type": "PostalAddress",
            "streetAddress": "{{ citizen_action.address }}",
            "addressLocality": "{{ citizen_action.cityName }}",
            "postalCode": "{{ citizen_action.postalCode }}",
            "addressCountry": "{{ citizen_action.country }}"
        }
    }
    </script>
{% endblock %}

{% block citizen_action_content %}
        <section class="b__nudge--top-40">
            <div id="members">
                {% if is_cp_administrator and citizen_action.active %}
                    <div class="b__nudge--bottom flex--center--mobile">
                        <a href="{{ path('app_citizen_action_manager_edit', { slug: citizen_action.slug, project_slug: citizen_action.citizenProject.slug }) }}" class="text--body link--blue link--padding link--no-decor">
                            Modifier cette action citoyenne
                        </a>
                        <a href="{{ path("app_citizen_action_manager_cancel", { slug: citizen_action.slug, project_slug: citizen_action.citizenProject.slug }) }}" class="text--body link--blue link--no-decor">
                            Annuler cette action citoyenne
                        </a>
                    </div>
                {% endif %}

                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <a href="{{ path('app_citizen_action_list_participants', { slug: citizen_action.slug }) }}">
                        <h3 class="text--medium event-attendees">{{ 'citizen_action.participants_count'|transchoice(participants|length) }}</h3>
                    </a>
                {% endif %}
            </div>

        </section>

        <section>
            <h3 class="text--medium b__nudge--top">À propos</h3>
            <p class="text--body text--dark">{{ citizen_action.description }}</p>
        </section>
{% endblock %}
