{% extends 'procuration_v2/_form.html.twig' %}

{% block page_title 'Procuration - Demande (Mandant)' %}

{% block open_graph_image "https://doc.besoindeurope.fr/images/sharer/procuration-mandant.jpg" %}
{% block open_graph_title "Trouvez une personne qui ira voter pour vous • Besoin d’Europe" %}
{% block open_graph_description "Remplissez ce formulaire et nous vous mettrons en relation avec une personne proche de chez vous." %}
{% block canonical_url url('app_procuration_v2_request', { slug: election.slug }) %}

{% block content_title 'Demande (Mandant)' %}

{% block title_content_section %}
    {{ election.requestTitle|markdown }}
{% endblock %}

{% block description_content_section %}
    {{ election.requestDescription|markdown }}
{% endblock %}

{% block inner_content_section '' %}

{% block legal_content_section %}
    {{ election.requestLegal|markdown }}
{% endblock %}

{% block fde_additional_form %}
    <template x-if="isNotInFrance">
        <p class="text-[#555555] opacity-50">
            Vous avez la possibilité de faire enregistrer votre procuration à l’étranger auprès de n’importe quel Consulat français (il convient de vérifier en ligne les modalités d’accueil).
        </p>
    </template>
    <template x-if="isNotInFrance">
        <twig:ReParagraphStatus status="info">
            <p class="text-black">
                Vous avez également la possibilité de faire enregistrer votre procuration en France en vous rendant dans un commissariat français ou une gendarmerie française.
            </p>
            <br>
            <fieldset>
                {{ form_row(form.fromFrance, {
                    label: 'Je vais faire ma procuration sur le sol Français',
                }) }}
            </fieldset>
        </twig:ReParagraphStatus>
    </template>
{% endblock %}

{% block alternative_form %}
    <p class="text-center">
        <b>Disponible le 9 juin ?</b>
        <br>
        Votez pour une personne proche de chez vous.
        <br>
        <a
            class="text-[#1877F2] text-center hover:text-[rgb(20,86,171)] cursor-pointer"
            href="{{ url('app_procuration_v2_proxy', { slug: election.slug }) }}">
            Je me propose
        </a>
    </p>
{% endblock %}

{% block submit_label_content %}
    Je dépose une demande
{% endblock %}
