{% for item in committee_timeline %}
    <div class="committee__timeline__item committee__timeline__{{ item.type }}">
        <div class="committee__timeline__item--head l__row l__row--middle">
            <div class="avatar-initials avatar--small avatar--style-01 b__nudge--right-small">
                {{item.author.initials}}
            </div>
            <h3 class="text--body">
                {{ has_role_adherent ? item.author.fullName : item.author.partialName }}
                <span class="text--summary text--small text--gray b__nudge--bottom">{{ item.author.isSupervisorOf(committee) ? 'animateur' : (item.author.isHostOf(committee) ? 'co-animateur') }}</span>
            </h3>
        </div>
        {{ include("committee/timeline/_#{item.type}.html.twig", ignore_missing=true) }}
        <div class="feed__options">
            <span class="time-ago text--small text--muted font-roboto">{{ item.createdAt|ago|capitalize }}</span>
            {% if committee_timeline_forms[item.id] is defined %}
                 <ul class="list__links--row">
                     <li>
                         <a class="link--newblue text--small font-roboto" href="{{ path('app_committee_timeline_edit', { slug: committee.slug, id: item.id }) }}">
                             Modifier le message
                         </a>
                     </li>
                     <li>
                         {{ form_start(committee_timeline_forms[item.id]) }}
                            {{ form_widget(committee_timeline_forms[item.id].delete, { attr: { class: 'btn--as-link btn--as-link--error text--small font-roboto'}, defaultClass: false}) }}
                         {{ form_end(committee_timeline_forms[item.id]) }}
                     </li>
                 </ul>
            {% endif %}
        </div>
    </div>
{% endfor %}
