{{ form_start(form_donation) }}
    {{ form_errors(form_donation) }}
    {{ form_row(form_donation.amount, {attr: { class: 'renaissance-amount-chooser' } }) }}
    {{ form_rest(form_donation) }}

    <button type="submit" title="Je donne" class="button button-green button-full">
        Je donne à Renaissance
    </button>
{{ form_end(form_donation) }}
