{{ form_start(form_donation) }}
    {{ form_errors(form_donation) }}
    {{ form_row(form_donation.amount, {attr: { class: 'renaissance-amount-chooser' } }) }}
    {{ form_rest(form_donation) }}

    <button type="submit" title="Je donne" class="w-full text-center bg-white py-5.75 px-7.5 rounded text-light-blue uppercase font-bold text-lg mr-4">
        Donner à Renaissance <i class="fa fa-caret-right text-black"></i>
    </button>
{{ form_end(form_donation) }}
