{% extends 'base.html.twig' %}

{% block content %}

<div class="background--primary l__hide--on-tablet">
    <div class="l__wrapper l__row l__row--h-stretch space--30-0">
        <div class="text--large text--bold text--limited">
            La démocratie n’a pas de prix, mais
            <span class="text--on-white">elle a un coût !</span>
        </div>
        <div class="l__row">
            <div class="btn btn--large btn--no-border b__nudge--right-big">Donnez</div>
            <a href="#" class="btn__icon btn__icon--dark">
                <svg width="24px" height="24px" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <g stroke="#000000">
                        <path d="M0.6,0.6 L23.4,23.4"></path>
                        <path d="M0.6,0.6 L23.4,23.4" transform="translate(12.000000, 12.000000) scale(-1, 1) translate(-12.000000, -12.000000) "></path>
                    </g>
                </svg>
            </a>
        </div>
    </div>
</div>
<header>
    <!--  Header / Navigation desktop -->
    <nav class="l__wrapper l__row l__row--h-stretch space--20-0 l__hide--on-tablet">
        <ul class="list__links list__links--row list__links--row-bottom list__links--no-decor list__links--nav">
            <li><h1><a href="/">En Marche !</a></h1></li>
            <li><a class="text--medium-small" href="#">Emmanuel Macron</a></li>
            <li><a class="text--medium-small" href="#">Le Mouvement</a></li>
            <li><a class="text--medium-small" href="#">Actualités</a></li>
            <li><a href="#">
                <svg class="icon-search" width="23px" height="24px" viewBox="0 0 23 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <path d="M9.9263,0 C4.4443,0 0.0003,4.444 0.0003,9.926 C0.0003,15.408 4.4443,19.853 9.9263,19.853 C15.4083,19.853 19.8523,15.408 19.8523,9.926 C19.8523,4.444 15.4083,0 9.9263,0 M9.9263,1 C14.8483,1 18.8523,5.004 18.8523,9.926 C18.8523,14.848 14.8483,18.853 9.9263,18.853 C5.0043,18.853 1.0003,14.848 1.0003,9.926 C1.0003,5.004 5.0043,1 9.9263,1" fill="#333333"></path>
                    <path class="stroke" d="M16.6294,16.7087 L22.6294,22.6357" stroke="#333333" stroke-linecap="round"></path>
                </svg>
            </a></li>
        </ul>
        <div class="l__row">
            <a href="#" class="btn b__nudge--right-nano">J'adhère</a>
            <a href="#" class="btn btn--primary b__nudge--right">Je donne</a>
            <a href="#" class="icon--with-text text--medium-small">
                <svg width="28px" height="27px" viewBox="503 375 28 27" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <path
                        d="M517.1737,375 C509.8977,375 503.9997,380.898 503.9997,388.174 C503.9997,395.45 509.8977,401.348 517.1737,401.348 C524.4497,401.348 530.3477,395.45 530.3477,388.174 C530.3477,380.898 524.4497,375 517.1737,375 M517.1737,376 C523.8867,376 529.3477,381.461 529.3477,388.174 C529.3477,394.886 523.8867,400.348 517.1737,400.348 C510.4607,400.348 504.9997,394.886 504.9997,388.174 C504.9997,381.461 510.4607,376 517.1737,376"
                        stroke="none"
                        fill="#000000"
                        fill-rule="evenodd"></path>
                    <path
                        d="M517.1737,379.9834 C514.8597,379.9834 512.9837,381.8594 512.9837,384.1734 C512.9837,386.4884 514.8597,388.3644 517.1737,388.3644 C519.4877,388.3644 521.3637,386.4884 521.3637,384.1734 C521.3637,381.8594 519.4877,379.9834 517.1737,379.9834 M517.1737,380.9834 C518.9327,380.9834 520.3637,382.4144 520.3637,384.1734 C520.3637,385.9324 518.9327,387.3644 517.1737,387.3644 C515.4147,387.3644 513.9837,385.9324 513.9837,384.1734 C513.9837,382.4144 515.4147,380.9834 517.1737,380.9834"
                        stroke="none"
                        fill="#000000"
                        fill-rule="evenodd"></path>
                    <path
                        d="M508.424568,397.153247 C510.76681,393.840331 513.821352,391.4676 517.3383,391.4676 C520.844145,391.4676 523.792095,393.805307 526.000766,397.080174 C526.155171,397.309115 526.465934,397.369538 526.694874,397.215134 C526.923815,397.060729 526.984238,396.749966 526.829834,396.521026 C524.453485,392.997537 521.263123,390.4676 517.3383,390.4676 C513.409729,390.4676 510.119924,393.02308 507.608032,396.575953 C507.448616,396.801433 507.502173,397.113453 507.727653,397.272868 C507.953133,397.432284 508.265153,397.378727 508.424568,397.153247 Z"
                        stroke="none"
                        fill="#000000"
                        fill-rule="evenodd"></path>
                </svg>
                Connexion</a>
        </div>
    </nav>
    <!--  Header / Navigation Mobile-->
    <nav class="l__wrapper l__hide--on-desktop space--20-0">
        <ul class="list__links list__links--row list__links--no-decor list__links--nav l__row--h-stretch">
            <li><h1><a href="/">En Marche !</a></h1></li>
            <li class="l__row">
                <a href="#" class="btn btn--green b__nudge--right">Je donne</a>
                <a href="#" class="btn__icon">
                    <svg width="25px" height="18px" viewBox="0 0 25 18" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <path d="M1.42592593,16.5 L23.6395045,16.5" id="Line" stroke="#000000" stroke-width="1" fill="none"></path>
                        <path d="M1.42592593,8.5 L23.6395045,8.5" id="Line" stroke="#000000" stroke-width="1" fill="none"></path>
                        <path d="M1.42592593,0.5 L23.6395045,0.5" id="Line" stroke="#000000" stroke-width="1" fill="none"></path>
                    </svg>
                </a>
            </li>
        </ul>
    </nav>
</header>

<main>
    <section class="l__wrapper">
        <div class="l__row l__tablet--col l__row--v-stretch b__nudge--bottom">
            {% for article in articles|slice(0,1) %}
                <a href="{{ article.link }}" class="card card--large l__col--bottom l__hide--bg-on-mobile" style="background: linear-gradient(20deg ,rgba(0,0,0,.8), rgba(0,0,0,0)), url('{{ article.image }}') no-repeat; background-size: cover; background-position: center;">
                    <div class="image" style="background: url('{{ article.image }}') no-repeat; background-size: cover; background-position: center;"></div>
                    <h2>{{ article.title }}</h2>
                    <p>{{ article.subtitle }}</p>
                    <div class="btn btn--no-border btn--inline">Lire</div>
                </a>
            {% endfor %}
            <div class="comite l__col l__col--bottom space--30">
                <h2 class="text--normal text--white">Déjà plus de 2900 comités «En Marche !»</h2>
                <p class="text--white">Partout sur le territoire et à l’étranger, faites vivre le mouvement et portez ses valeurs.</p>
                <input type="text" pattern="[0-9]{4}" class="form form__field form--full b__nudge--bottom-nano" title="Code postal" placeholder="Code postal" />
                <input type="submit" class="form btn btn--blue text--center btn--full" value="Je rejoins un comité">
            </div>
        </div>
        
        <div class="l__row l__row--h-stretch background--light space--20-30 b__nudge--bottom l__tablet--col">
            <div class="text--default text--all-caps">Recevez la newsletter</div>
            <div class="l__row l__tablet--col">
                <input type="email" name="email" class="form form__field form__email-field" placeholder="Adresse email" required>
                <input type="text" pattern="[0-9]{4}" class="form form__field form__zipcode" title="Code postal" placeholder="Code postal" />
                <input type="submit" class="form btn btn--green" value="Je m'inscris">
            </div>
        </div>
        
        <ul class="list__links list__links--row list__links--no-decor list__links--svgs l__hide--on-mobile">
            <li class="head">Suivez En Marche !</li>
            <li><a href="https://www.facebook.com/EnMarche/"><i class="fa fa-facebook-square"></i></a></li>
            <li><a href="https://twitter.com/enmarchefr"><i class="fa fa-twitter"></i></a></li>
            <li><a href="https://www.instagram.com/enmarchefr/"><i class="fa fa-instagram"></i></a></li>
            <li><a href="https://www.youtube.com/channel/UCJw8np695wqWOaKVhFjkRyg"><i class="fa fa-youtube-square"></i></a></li>
            <li><a href="https://medium.com/@enmarchefr"><i class="fa fa-medium"></i></a></li>
            <li><a href="https://www.linkedin.com/company/en-marche"><i class="fa fa-linkedin-square"></i></a></li>
            <li><a href="#"><i class="fa fa-snapchat-ghost"></i></a></li>
        </ul>
        
        <div class="l__wrapper space--20-0 l__row l__row--center l__hide--on-tablet">
            <div class="icon--with-text text--all-caps text--bold b__nudge--right">
                <svg width="16px" height="27px" viewBox="0 0 16 27" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <g transform="translate(0.000000, -3.000000)" fill="#000000" fill-opacity="0.2">
                        <polygon points="10.5954467 2.9997 0 18.8437 5.49478963 18.8437 5.33131988 29.7147 15.8595735 13.8437 10.491147 13.8437"></polygon>
                    </g>
                </svg>
                En Direct
            </div>

            <ul class="list__links list__links--row">
                {% for live_link in live_links %}
                    <li><a href="{{ live_link.link }}">{{ live_link.title }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </section>
    
    <section class="l__wrapper">
        <ul class="l__row l__row--wrap l__row--top space--20-0 l__row--h-stretch l__tablet--col">
            {% for article in articles|slice(1,6) %}
                <a href="{{ article.link }}" class="card card--{{ loop.index }} card--{{ loop.index }}--{{ article.type }} l__col--bottom"
                   style="background: linear-gradient(20deg ,rgba(0,0,0,.8), rgba(0,0,0,0)), 
                                      url('{{ article.image }}') no-repeat;
                                      background-size: cover;
                                      background-position: center;">
                    <li>
                        <div class="card--{{ loop.index }}__image card--{{ loop.index }}--{{ article.type }}__image" style="background: linear-gradient(20deg ,rgba(0,0,0,.8), rgba(0,0,0,0)), url('{{ article.image }}') no-repeat; background-size: cover; background-position: center;">
                            <svg width="86px" height="86px" viewBox="8 4 86 86" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                <title>Play icon</title>
                                <path d="M92.8999,47.1999 C92.8999,70.2299 74.2299,88.8999 51.1999,88.8999 C28.1699,88.8999 9.4999,70.2299 9.4999,47.1999 C9.4999,24.1699 28.1699,5.4999 51.1999,5.4999 C74.2299,5.4999 92.8999,24.1699 92.8999,47.1999 Z" class="outer" stroke="#FFFFFF" stroke-width="1" fill="none"></path>
                                <path d="M43.2027,30.7156 L68.4057,44.8236 C70.2627,45.8636 70.2627,48.5366 68.4057,49.5756 L43.2027,63.6846 C41.3877,64.7006 39.1497,63.3886 39.1497,61.3086 L39.1497,33.0916 C39.1497,31.0116 41.3877,29.6996 43.2027,30.7156" class="inner" stroke="none" fill="#FFFFFF" fill-rule="evenodd"></path>
                            </svg>
                        </div>
                        <div class="headline">
                            <svg width="86px" height="86px" viewBox="8 4 86 86" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                <title>Play icon</title>
                                <path d="M92.8999,47.1999 C92.8999,70.2299 74.2299,88.8999 51.1999,88.8999 C28.1699,88.8999 9.4999,70.2299 9.4999,47.1999 C9.4999,24.1699 28.1699,5.4999 51.1999,5.4999 C74.2299,5.4999 92.8999,24.1699 92.8999,47.1999 Z" class="outer" stroke="#FFFFFF" stroke-width="1" fill="none"></path>
                                <path d="M43.2027,30.7156 L68.4057,44.8236 C70.2627,45.8636 70.2627,48.5366 68.4057,49.5756 L43.2027,63.6846 C41.3877,64.7006 39.1497,63.3886 39.1497,61.3086 L39.1497,33.0916 C39.1497,31.0116 41.3877,29.6996 43.2027,30.7156" class="inner" stroke="none" fill="#FFFFFF" fill-rule="evenodd"></path>
                            </svg>
                            <h2>{{ article.title }}</h2>
                        </div>
                        <div class="card__share card--{{ loop.index }}__share">
                            Partagez <i class="fa fa-facebook-square"></i> <i class="fa fa-twitter"></i>
                        </div>
                    </li>
                </a>
            {% endfor %}
        </ul>
        <div class="l__row l__row--center b__nudge--bottom-large">
            <a class="btn">Plus D'actualités</a>
        </div>
    </section>
    
    <section>
        <div class="proteger l__col l__col--center">
            <h2 class="text--extra-large b__nudge--bottom text--limited text--center text--white text--italic">3 boucliers pour protéger la France</h2>
            <a href="#" class="btn btn--no-border">En savoir plus</a>
        </div>
    </section>
    
    <section class="background--blue space--60-0">
        <div class="l__wrapper-500 text--center b__nudge--bottom-larger">
            <h3 class="text--white text--all-caps text--normal">Le Mouvement</h3>
            <div class="text--white text--large text--bold">«Tout commence par la rénovation de l’engagement politique.»</div>
        </div>
        <ul class="l__wrapper l__row l__row--h-stretch-around">
            <li class="box">
                <div>
                    <h2 class="text--medium text--normal">En Marche est un mouvement ouvert à tous, sans exception.</h2>
                    <p class="">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer sed molestie libero.</p>
                </div>
                <a href="#" class="btn btn--blue">Adhérer</a>
            </li>
            <li class="box">
                <div>
                    <h2 class="text--medium text--normal">Des comités locaux partout en France, près de chez vous !</h2>
                    <p class="">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer sed molestie libero, maximus mattis lectus nam eu.</p>
                </div>
                <a href="#" class="btn btn--blue">Rejoindre un comité</a>
            </li>
            <li class="box">
                <div>
                    <h2 class="text--medium text--normal">Des centaines d’évènements gratuits chaque semaine.</h2>
                    <p class="">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer sed molestie libero, maximus mattis lectus.</p>
                </div>
                <a href="#" class="btn btn--blue">Participer</a>
            </li>
        </ul>
    </section>
    
    <section class="donate">
        <div class="donate__inner l__wrapper space--45-5 l__row l__row--h-stretch l__tablet--col">
            <div class="text text--white">
                <h2 class="text--large">Notre révolution démocratique a <span class="text--on-pink">besoin de vous !</span></h2>
                <p class="text--summary">En Marche est un mouvement indépendant, qui ne reçoit pas un seul euro de subvention de l’Etat ni d’aucun parti politique. Notre réussite repose uniquement sur votre générosité.</p>
            </div>
            <div>
                <label class="" for=""><span>€10</span></label>
                <input class="" name="" type="radio" value="10">
                <label class="" for=""><span>€20</span></label>
                <input class="" name="" type="radio" value="20">
                <label class="" for=""><span>€30</span></label>
                <input class="" name="" type="radio" value="30">
                <label class="" for=""><span>€100</span></label>
                <input class="" name="" type="radio" value="100">
                <label class="" for=""><span>€150</span></label>
                <input class="" name="" type="radio" value="150">
                <button type="submit" class="form btn btn--primary btn--medium-small text--center btn--full" value="Je donne">
                    Je donne
                    <svg width="10px" height="16px" viewBox="1 5 10 16" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <title>Right arrow</title>
                        <polyline id="right-arrow" stroke="#FFFFFF" stroke-width="1" fill="none" points="2 6 10.14 12.9223586 2 19.8436338"></polyline>
                    </svg>
                </button>
            </div>
        </div>
    </section>

</main>

<footer class="background--lighter space--30">
    <div class="l__wrapper">
        <div class="l__row l__row--h-stretch b__nudge--bottom-large l__tablet--col">
            <svg width="109px" height="41px" viewBox="462 369 109 41" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <title>En Marche Logo</title>
                <polygon id="E" stroke="none" fill="#000000" fill-rule="evenodd" points="468.6709 369.5363 462.9999 408.6353 492.3099 408.6353 493.2979 401.6383 474.0579 401.6383 475.3849 391.9913 489.2349 391.9913 490.2219 384.9943 476.4849 384.9943 477.6969 376.5043 493.5239 376.5043 494.5109 369.5363"></polygon>
                <polygon id="M" stroke="none" fill="#000000" fill-rule="evenodd" points="538.969 369.5363 525.569 394.3603 519.391 369.5363 508.869 369.5363 495.978 408.6353 505.822 408.6353 514.313 382.8223 520.774 408.6353 526.782 408.6353 540.351 383.6123 541.451 408.6353 551.043 408.6353 549.209 369.5363"></polygon>
                <path id="!" d="M570.3975,373.2315 C570.3975,374.1905 570.2895,375.1775 570.0735,376.1935 C569.8565,377.2095 569.5415,378.4505 569.1275,379.9175 L564.6705,395.5175 L558.7185,395.5175 L559.2265,377.3775 C559.4145,374.9155 559.6685,373.2215 559.9885,372.3005 C560.2885,371.4725 560.8765,370.7155 561.7515,370.0295 C562.6265,369.3425 563.8525,369.0005 565.4325,369.0005 C567.2005,369.0005 568.4695,369.4375 569.2415,370.3115 C570.0115,371.1865 570.3975,372.1595 570.3975,373.2315 M566.4485,403.2745 C566.4485,404.3285 566.1845,405.3055 565.6585,406.2095 C565.1315,407.1115 564.4175,407.8265 563.5135,408.3525 C562.6115,408.8785 561.6335,409.1425 560.5805,409.1425 C559.5085,409.1425 558.5205,408.8785 557.6185,408.3525 C556.7155,407.8265 556.0015,407.1115 555.4745,406.2095 C554.9475,405.3055 554.6845,404.3285 554.6845,403.2745 C554.6845,402.2035 554.9475,401.2155 555.4745,400.3125 C556.0015,399.4105 556.7155,398.6955 557.6185,398.1685 C558.5205,397.6425 559.5085,397.3785 560.5805,397.3785 C561.6335,397.3785 562.6115,397.6425 563.5135,398.1685 C564.4175,398.6955 565.1315,399.4105 565.6585,400.3125 C566.1845,401.2155 566.4485,402.2035 566.4485,403.2745" stroke="none" fill="#000000" fill-rule="evenodd"></path>
            </svg>
            <ul class="list__links list__links--row list__links--no-decor list__links--svgs l__hide--on-tablet">
                <li class="head">Suivez En Marche !</li> 
                <li><a href="https://www.facebook.com/EnMarche/"><i class="fa fa-facebook-square"></i></a></li>
                <li><a href="https://twitter.com/enmarchefr"><i class="fa fa-twitter"></i></a></li>
                <li><a href="https://www.instagram.com/enmarchefr/"><i class="fa fa-instagram"></i></a></li>
                <li><a href="https://www.youtube.com/channel/UCJw8np695wqWOaKVhFjkRyg"><i class="fa fa-youtube-square"></i></a></li>
                <li><a href="https://medium.com/@enmarchefr"><i class="fa fa-medium"></i></a></li>
                <li><a href="https://www.linkedin.com/company/en-marche"><i class="fa fa-linkedin-square"></i></a></li>
                <li><a href="#"><i class="fa fa-snapchat-ghost"></i></a></li>
            </ul>
        </div>
        <div class="l__row l__row--h-stretch l__row--top b__nudge--bottom-large l__tablet--col">
            <ul class="list__links list__links--col list__links--no-decor">
                <li><h4><a href="#" class="text--bold text--medium-small">Emmanuel Macron</a></h4></li>
                <li><a href="#">Ce que je suis</a></li>
                <li><a href="#">Révolution</a></li>
                <li><a href="#">Mes propositions</a></li>
                <li><a href="#">Mon agenda</a></li>                    
            </ul>
            <ul class="list__links list__links--col list__links--no-decor">
                <li><h4><a href="#" class="text--bold text--medium-small">Le Mouvement</a></h4></li>
                <li><a href="#">Nos valeurs</a></li>
                <li><a href="#">Notre organisation</a></li>
                <li><a href="#">Les comités</a></li>
                <li><a href="#">Les évènements</a></li>                    
                <li><a href="#">Devenez bénévole</a></li>                    
                <li><a href="#">Recrutement</a></li>                    
            </ul>
            <ul class="list__links list__links--col list__links--no-decor">
                <li><h4><a href="#" class="text--bold text--medium-small">Actualités</a></h4></li>
                <li><a href="#">Vidéos</a></li>
                <li><a href="#">Photos</a></li>
                <li><a href="#">Discours</a></li>
                <li><a href="#">Médias</a></li>                    
                <li><a href="#">Communiqués</a></li>                    
            </ul>
            <ul class="list__links list__links--col list__links--no-decor">
                <li><h4><a href="#" class="text--bold text--medium-small">S’engager</a></h4></li>
                <li><a href="#">Adhérer</a></li>
                <li><a href="#">Donner</a></li>
                <li><a href="#">Rejoindre un comité</a></li>
                <li><a href="#">S’inscrire à un évènement</a></li>                    
                <li><a href="#">FAQ</a></li>                    
            </ul>
            <ul class="list__links list__links--col list__links--no-decor">
                <li><h4><a href="#" class="text--bold text--medium-small">#TousEnMarche</a></h4></li>
                <li><a href="#">Vision Macron</a></li>
                <li><a href="#">Les Jeunes avec Macron</a></li>
                <li><a href="#">Elles Marchent</a></li>
                <li><a href="#">Les élus avec Macron</a></li>                    
            </ul>
        </div>
        <div class="l__row l__row--h-stretch l__tablet--col">
            <div>Vous pouvez envoyer vos dons en <a href="#" class="text--semi">téléchargeant ce bulletin</a>.</div>
            <ul class="list__links list__links--row list__links--no-decor l__tablet--col">
                <li>En Marche &copy;</li>
                <li><a href="#">Écrivez-nous</a></li>
                <li><a href="#">Presse</a></li>
                <li><a href="#">Mentions Legales</a></li>
            </ul>
        </div>
    </div>
</footer>

{% endblock %}
