{% extends 'base.html.twig' %}

{% block javascripts %}
    <script type="text/javascript">
        function controller(app) {
            app.home();
        }
    </script>
{% endblock %}

{% block content %}

<main>
    <section class="l__wrapper">
        <div class="l__row l__tablet--col l__row--v-stretch b__nudge--bottom">
            {% for article in articles|slice(0,1) %}
                <a href="{{ article.link }}" class="card card--large l__col--bottom l__hide--bg-on-mobile" style="background: linear-gradient(20deg ,rgba(0,0,0,.8), rgba(0,0,0,0)), url('{{ article.image }}') no-repeat; background-size: cover; background-position: center;">
                    <div class="image" style="background: url('{{ article.image }}') no-repeat; background-size: cover; background-position: center;"></div>
                    <h2>{{ article.title }}</h2>
                    <p class="text--summary">{{ article.subtitle }}</p>
                    <div class="btn btn--no-border btn--inline">Lire</div>
                </a>
            {% endfor %}
            <div class="comite l__col l__col--bottom space--30">
                <h2 class="text--normal text--white">Déjà plus de 2900 comités «En Marche !»</h2>
                <p class="text--white text--summary">Partout sur le territoire et à l’étranger, faites vivre le mouvement et portez ses valeurs.</p>
                <input type="text" pattern="[0-9]{4}" class="form form__field form form__field--no-border b__nudge--bottom-medium form--full" title="Code postal" placeholder="Code postal" />
                <input type="submit" class="form btn btn--blue text--center btn--full" value="Je rejoins un comité">
            </div>
        </div>

        <div class="newsletter l__row l__row--h-stretch background--light space--20-30 b__nudge--bottom l__row--wrap l__tablet--col">
            <div class="text--small text--all-caps space--10-0">Recevez la newsletter du mouvement</div>
            <form method="post" action="{{ path('newsletter_subscription') }}" class="l__row l__row--wrap">
                {{ form_widget(newsletter_form.email, {
                    'attr': {
                        'title': 'Adresse email',
                        'placeholder': 'Adresse email',
                        'class': 'form form__field form__email'
                    }
                }) }}
                {{ form_widget(newsletter_form.postalCode, {
                        'attr': {
                            'title': 'Code postal',
                            'placeholder': 'Code postal',
                            'class': 'form form__field form__zipcode'
                        }
                    }) }}

                <button type="submit" class="form btn btn--green">Je m'inscris</button>
            </form>
        </div>

        <ul class="list__links list__links--row list__links--no-decor list__links--svgs l__hide--on-mobile">
            <li class="head">Suivez Emmanuel Macron !</li>
            <li><a href="https://www.facebook.com/EnMarche/"><i class="fa fa-facebook-square"></i></a></li>
            <li><a href="https://twitter.com/enmarchefr"><i class="fa fa-twitter"></i></a></li>
            <li><a href="https://www.instagram.com/enmarchefr/"><i class="fa fa-instagram"></i></a></li>
            <li><a href="https://www.youtube.com/channel/UCJw8np695wqWOaKVhFjkRyg"><i class="fa fa-youtube-square"></i></a></li>
            <li><a href="https://medium.com/@enmarchefr"><i class="fa fa-medium"></i></a></li>
            <li><a href="https://www.linkedin.com/company/en-marche"><i class="fa fa-linkedin-square"></i></a></li>
            <li><a href="#"><i class="fa fa-snapchat-ghost"></i></a></li>
        </ul>

        <div class="l__wrapper space--20-0 l__row l__row--center l__hide--on-tablet">
            <div class="icon--with-text text--all-caps text--bold b__nudge--right">
                <svg width="16px" height="27px" viewBox="0 0 16 27" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <g transform="translate(0.000000, -3.000000)" fill="#000000" fill-opacity="0.2">
                        <polygon points="10.5954467 2.9997 0 18.8437 5.49478963 18.8437 5.33131988 29.7147 15.8595735 13.8437 10.491147 13.8437"></polygon>
                    </g>
                </svg>
                En Direct
            </div>

            <ul class="list__links list__links--row">
                {% for live_link in live_links %}
                    <li><a href="{{ live_link.link }}">{{ live_link.title }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </section>

    <section class="l__wrapper b__nudge--bottom-larger">
        <ul class="l__row l__row--wrap l__row--top space--20-0 l__row--h-stretch-around l__mobile--col">
            {% for article in articles|slice(1,6) %}
                <a href="{{ article.link }}" class="card card--{{ loop.index }} card--{{ loop.index }}--{{ article.type }} l__col--bottom"
                   style="background: linear-gradient(20deg ,rgba(0,0,0,.8), rgba(0,0,0,0)),
                                      url('{{ article.image }}') no-repeat;
                                      background-size: cover;
                                      background-position: center;">
                    <li>
                        <div class="card--{{ loop.index }}__image card--{{ loop.index }}--{{ article.type }}__image" style="background: linear-gradient(20deg ,rgba(0,0,0,.8), rgba(0,0,0,0)), url('{{ article.image }}') no-repeat; background-size: cover; background-position: center;">
                            <svg width="86px" height="86px" viewBox="8 4 86 86" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                <title>Play icon</title>
                                <path d="M92.8999,47.1999 C92.8999,70.2299 74.2299,88.8999 51.1999,88.8999 C28.1699,88.8999 9.4999,70.2299 9.4999,47.1999 C9.4999,24.1699 28.1699,5.4999 51.1999,5.4999 C74.2299,5.4999 92.8999,24.1699 92.8999,47.1999 Z" class="outer" stroke="#FFFFFF" stroke-width="1" fill="none"></path>
                                <path d="M43.2027,30.7156 L68.4057,44.8236 C70.2627,45.8636 70.2627,48.5366 68.4057,49.5756 L43.2027,63.6846 C41.3877,64.7006 39.1497,63.3886 39.1497,61.3086 L39.1497,33.0916 C39.1497,31.0116 41.3877,29.6996 43.2027,30.7156" class="inner" stroke="none" fill="#FFFFFF" fill-rule="evenodd"></path>
                            </svg>
                        </div>
                        <div class="headline">
                            <svg width="86px" height="86px" viewBox="8 4 86 86" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                <title>Play icon</title>
                                <path d="M92.8999,47.1999 C92.8999,70.2299 74.2299,88.8999 51.1999,88.8999 C28.1699,88.8999 9.4999,70.2299 9.4999,47.1999 C9.4999,24.1699 28.1699,5.4999 51.1999,5.4999 C74.2299,5.4999 92.8999,24.1699 92.8999,47.1999 Z" class="outer" stroke="#FFFFFF" stroke-width="1" fill="none"></path>
                                <path d="M43.2027,30.7156 L68.4057,44.8236 C70.2627,45.8636 70.2627,48.5366 68.4057,49.5756 L43.2027,63.6846 C41.3877,64.7006 39.1497,63.3886 39.1497,61.3086 L39.1497,33.0916 C39.1497,31.0116 41.3877,29.6996 43.2027,30.7156" class="inner" stroke="none" fill="#FFFFFF" fill-rule="evenodd"></path>
                            </svg>
                            <h2>{{ article.title }}</h2>
                        </div>
                        <div class="card__share card--{{ loop.index }}__share">
                            Partagez <i class="fa fa-facebook-square"></i> <i class="fa fa-twitter"></i>
                        </div>
                    </li>
                </a>
            {% endfor %}
        </ul>
        <div class="l__row l__row--center b__nudge--bottom-large">
            <a class="btn">Plus D'actualités</a>
        </div>
    </section>

    <section class="l__wrapper b__nudge--bottom-large">
        <div class="proteger l__col l__col--center">
            <h2 class="text--extra-large b__nudge--bottom text--limited text--center text--white text--italic">3 boucliers pour protéger la France</h2>
            <a href="#" class="btn btn--no-border">En savoir plus</a>
        </div>
    </section>

    <section class="background--blue space--60-0">
        <div class="l__wrapper-500 text--center b__nudge--bottom-larger">
            <h3 class="text--white text--all-caps-wide text--normal b__nudge--bottom-small">Le Mouvement</h3>
            <div class="text--white text--large text--bold">«Tout commence par la rénovation de l’engagement politique.»</div>
        </div>
        <ul class="l__wrapper--medium l__row l__row--h-stretch-around">
            <li class="box">
                <div>
                    <h2 class="text--medium text--normal">En Marche est un mouvement ouvert à tous, sans exception.</h2>
                    <p class="text--summary">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer sed molestie libero.</p>
                </div>
                <a href="#" class="btn btn--blue">Adhérer</a>
            </li>
            <li class="box">
                <div>
                    <h2 class="text--medium text--normal">Des comités locaux partout en France, près de chez vous !</h2>
                    <p class="text--summary">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer sed molestie libero, maximus mattis lectus nam eu.</p>
                </div>
                <a href="#" class="btn btn--blue">Rejoindre un comité</a>
            </li>
            <li class="box">
                <div>
                    <h2 class="text--medium text--normal">Des centaines d’évènements gratuits chaque semaine.</h2>
                    <p class="text--summary">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer sed molestie libero, maximus mattis lectus.</p>
                </div>
                <a href="#" class="btn btn--blue">Participer</a>
            </li>
        </ul>
    </section>

    <section class="donate">
        <div class="donate__inner l__wrapper space--45-5 l__row l__row--h-stretch l__mobile--col">
            <div class="text text--white">
                <h2 class="text--large">Notre révolution démocratique a <span class="text--on-pink">besoin de vous !</span></h2>
                <p class="text--body b__nudge--top-large">En Marche est un mouvement indépendant, qui ne reçoit pas un seul euro de subvention de l’Etat ni d’aucun parti politique. Notre réussite repose uniquement sur votre générosité.</p>
            </div>

            {# React component HomeDonation replace the following div when JS is available #}
            <div id="home-donation">
                <div class="donate__nojs">
                    <a href="{{ path('donation_index') }}" title="Je donne" class="form btn btn--primary btn--medium-small text--center btn--full">
                        Je donne
                        <svg width="10px" height="16px" viewBox="1 5 10 16" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                            <title>Right arrow</title>
                            <polyline id="right-arrow" stroke="#FFFFFF" stroke-width="1" fill="none" points="2 6 10.14 12.9223586 2 19.8436338"></polyline>
                        </svg>
                    </a>
                </div>
            </div>

        </div>
    </section>
</main>

{% endblock %}
