<div class="committee-event-header l__wrapper--medium space--60-0">
    <div class="committee-event-titles">
        <h2 class="committee-event-name text--large b__nudge--bottom">
            {{- committee_event.name -}}
        </h2>
        <h3 class="committee-event-date text--body text--normal icon--with-text">
            <i class="fa fa-clock-o"></i>
            {{- committee_event.beginAt|localizeddate('full', 'none')|capitalize }} à {{ committee_event.beginAt|date('G\\hi') -}}.
        </h3>
        <h3 class="committee-event-address text--body text--normal icon--with-text">
            <i class="fa fa-map-marker"></i>
            {{- committee_event.inlineFormattedAddress -}}
        </h3>
        <ul class="list__links list__links--row list__links--default b__nudge--top-10 l__row--h-start">
          <li class="icon--with-text">
            <i class="fa fa-calendar-plus-o" aria-hidden="true"></i>
            Ajouter au calendrier :
          </li>
          <li role="button" aria-label="{{ 'committee.event.show.share.cal_google'|trans }}">
              <a href="https://calendar.google.com/calendar/render?action=TEMPLATE&amp;text={{ committee_event.name }}&amp;dates={{ committee_event.beginAt|date('Ymd') }}T{{ committee_event.beginAt|date('His') }}Z/{{ committee_event.finishAt|date('Ymd') }}T{{ committee_event.finishAt|date('His') }}Z&amp;location={{ committee_event.inlineFormattedAddress }}" target="_blank" title="{{ 'committee.event.show.share.cal_google'|trans }}">
                  Google
                  <span class="sr-only">{{ 'committee.event.show.share.cal_google'|trans }}</span>
              </a>
          </li>
          <li role="button" aria-label="{{ 'committee.event.show.share.download_ical'|trans }}">
              <a href="{{ path('app_event_export_ical', {uuid: committee_event.uuid, slug: committee_event.slug}) }}" title="{{ 'committee.event.show.share.download_ical'|trans }}">
                  Apple
                  <span class="sr-only">{{ 'committee.event.show.share.download_ical'|trans }}</span>
              </a>
          </li>
        </ul>
    </div>
</div>
