{% extends 'base.html.twig' %}

{% block page_title 'Inviter des amis à un événement' %}

{% block content %}
    <section class="l__wrapper">
        <a href="{{ path('app_committee_show_event', {'uuid': committee_event.uuid, 'slug': committee_event.slug}) }}"
           class="previous-link icon--with-text text--summary">
            {{ include('components/caret--left.html.twig') }}
            Retour à la page de l'événement
        </a>
        {{ include('events/_event_header.html.twig') }}
        <hr/>
    </section>
    <section class="l__wrapper-500 space--30-0 b__nudge--bottom-huge">
        <div class="committee-event-registration">
            <h2 class="b__nudge--bottom text--normal">Inviter des amis à l'événement</h2>

            <div class="invitation-page__form">
                {{ form_start(invitation_form) }}

                {{ form_errors(invitation_form) }}

                <div class="form__row">
                    {{ form_label(invitation_form.email, 'Votre adresse e-mail') }}
                    {{ form_errors(invitation_form.email) }}
                    {{ form_widget(invitation_form.email, { 'attr': { 'class': 'form--full' } }) }}
                </div>

                <div class="form__row">
                    {{ form_label(invitation_form.firstName, 'Votre prénom') }}
                    {{ form_errors(invitation_form.firstName) }}
                    {{ form_widget(invitation_form.firstName, { 'attr': { 'class': 'form--full' } }) }}
                </div>

                <div class="form__row">
                    {{ form_label(invitation_form.lastName, 'Votre nom') }}
                    {{ form_errors(invitation_form.lastName) }}
                    {{ form_widget(invitation_form.lastName, { 'attr': { 'class': 'form--full' } }) }}
                </div>

                <div class="form__row">
                    {{ form_label(invitation_form.message, 'Message d\'invitation') }}
                    {{ form_errors(invitation_form.message) }}
                    {{ form_widget(invitation_form.message, { 'attr': { 'class': 'form--full form__field--textarea-120' } }) }}
                </div>

                {% for guest in invitation_form.guests %}
                    <div class="form__row">
                        {{ form_errors(guest) }}
                        {{ form_widget(guest, { 'attr': { 'class': 'form--full' } }) }}
                    </div>
                {% endfor %}

                {{ form_end(invitation_form) }}
            </div>
        </div>
    </section>
{% endblock %}
