{% extends 'base.html.twig' %}

{% block page_title event.name %}

{% block javascripts %}
    <script type="text/javascript">
        var map = null;
        function initMap() {
            var point = {
                lat: {{ event.latitude }},
                lng: {{ event.longitude }}
            };

            map = new google.maps.Map(document.getElementById('map'), {
                center: point,
                zoom: 15
            });

            var marker = new google.maps.Marker({
                position: point,
                map: map,
                title: '{{ event.name|e('js') }}'
            });
        }
    </script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key={{ google_maps_api_key }}&amp;callback=initMap"></script>
{% endblock %}

{% block content %}
    {% set event_url = url('app_committee_show_event', {uuid: event.uuid.toString, slug: event.slug}) %}
    <main>
        <section class="commitee__event l__wrapper">
            <a href="{{ path('app_search_events') }}" class="back-to-list icon--with-text text--summary">
                {{ include('components/caret--left.html.twig') }}
                Retour à la liste des événements</a>

            <div class="committee__event__header">

                <div class="committee__event__header__titles">
                    <h1 class="committee-event-name text--large text--white b__nudge--bottom-small text--breakword">
                        {{- event.name -}}
                    </h1>
                    <div class="committee-event-organizer text--body text--white">
                        Organisé par <span class="text--bold">{{ event.organizer }}</span>
                        {% if committee %}
                            du comité
                            <a class="link--white" href="{{ committee_path('app_committee_show', committee) }}">
                                {{- committee.name -}}
                            </a>
                        {% endif %}
                    </div>
                </div>

                <div class="committee__event__header__cta">
                    {% if event.finishAt < date() %}
                        <div class="text--body text--white">
                            Cet événement est terminé
                        </div>
                    {% else %}
                        <a class="btn btn--no-border btn--full" href="{{ path('app_committee_attend_event', {uuid: event.uuid.toString, slug: event.slug}) }}">Je veux participer</a>
                    {% endif %}
                    <div class="text--body text--white icon--with-text l__row--center b__nudge--top-10">
                        {{ include('components/participants.html.twig') }}
                        {{ event.participantsCount }} / {{ 'event.capacity'|transchoice(event.capacity)  }}
                    </div>
                    <ul class="committee__event__header__cta__social list__links list__links--row list__links--svgs list__links--svgs--small text--white">
                        <li class="head">Partagez</li>
                        <li role="button" arial-label="Partagez sur Facebook"
                            class=""
                            onclick="App.share('facebook', '{{ event_url|url_encode }}', 'En Marche ! à {{ event.cityName }} le {{ event.beginAt|date('d/m') }}')">
                            <i class="fa fa-facebook-square"></i>
                        </li>
                        <li role="button" arial-label="Partagez via Twitter"
                            class=""
                            onclick="App.share('twitter', '{{ event_url|url_encode }}', 'En Marche ! à {{ event.cityName }} le {{ event.beginAt|date('d/m') }} :')">
                            <i class="fa fa-twitter"></i>
                        </li>
                        <li role="button" arial-label="Partagez via email"
                            class=""
                            onclick="App.share('email', '{{ event_url|url_encode }}', 'En Marche ! à {{ event.cityName }} le {{ event.beginAt|date('d/m') }}: ')">
                            <i class="fa fa-envelope-o"></i>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="committee__event__schedule text--summary">
                <ul>
                    <li class="b__nudge--bottom-tiny">
                        <i class="fa fa-clock-o" aria-hidden="true"></i>
                        <span class="committee-event-date">
                            {{- event.beginAt|localizeddate('full', 'none')|capitalize }}, {{ event.beginAt|date('G\\hi') -}}
                        </span>
                    </li>
                    <li>
                        <i class="fa fa-map-marker" aria-hidden="true"></i>
                        <span class="committee-event-address">
                            {{- event.inlineFormattedAddress -}}
                        </span>
                    </li>
                </ul>
            </div>

            <div class="committee__event__map" id="map"></div>
            <hr>
        </section>
        <section class="l__wrapper--slim space--30-0 text--body">
            <ul id="committee__event__nav" class="list__links list__links--row list__links--default b__nudge--bottom">
                <li class="text--bold">À propos</li>
                <li>
                    <a href="mailto:?subject=Rejoins cet événement En Marche !&amp;body=Je vais participer à l'événement {{ event.name }} ({{ event_url }}), rejoins moi !">Inviter des amis</a>
                </li>
                <li>
                    <a href="{{ path('app_adherent_contact', {'uuid': event.organizer.uuid, 'from': 'event', 'id': event.uuid.toString}) }}">
                        Contact
                    </a>
                </li>
                {% if is_granted('HOST_EVENT', event) %}
                    <li>
                        <a href="{{ path('app_event_edit', {'uuid': event.uuid.toString, 'slug': event.slug}) }}">
                            Modifier l'événement
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('app_event_registrations', {'uuid': event.uuid.toString, 'slug': event.slug}) }}">
                            Gérer les participants
                        </a>
                    </li>
                {% endif %}
            </ul>

            <div class="committee-event-description b__nudge--bottom-huge">
                {{- event.description|raw -}}
            </div>
        </section>
    </main>
{% endblock %}
