{% extends 'renaissance/adherent/_layout.html.twig' %}

{% form_theme form 'renaissance/forms/form_theme_profile.html.twig' %}

{% block page_title 'Communication' %}

{% block content_right_side %}
    <section class="space-y-4 md:space-y-6">
        <h1 class="text-3xl font-bold leading-10 text-gray-900">Communication</h1>

        <div class="rounded-lg p-5 md:p-6 bg-white shadow overflow-hidden">
            <div class="divide-y divide-gray-200">
                <section class="pt-8 mb-6 first:pt-0">
                    {% if not app.user.isEmailSubscribed() %}
                        <div class="rounded-md bg-orange-50 p-4">
                            <div class="flex">
                                <div class="flex-1 inline-flex items-center md:flex md:justify-between">
                                    <p class="text-lg font-medium text-gray-700">Vous êtes désabonné</p>
                                    <a href="#" class="button button-blue" id="resubscribe-mc-trigger">Me réabonner</a>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </section>
            </div>

            {{ form_start(form, { attr: { class: 're-form' } }) }}
                {{ form_errors(form) }}

                {% set help_messages = {} %}

                <div class="divide-y divide-gray-200">
                    {% for group_choices in form.subscriptionTypes.vars.choices %}
                        <section class="pt-8 mb-6 first:pt-0">
                            {% if group_choices.choices is defined %}
                                {% if group_choices.label %}
                                    <h2 class="text-lg font-medium text-gray-900">{{ group_choices.label|trans }}</h2>
                                {% endif %}

                                <div class="mt-4 space-y-3">
                                    {% for key, choice_view in group_choices %}
                                        <div>
                                            {{ form_row(form.subscriptionTypes.children[key]) }}

                                            {% if help_messages[choice_view.data.code] is defined %}
                                                <div class="pl-6 mt-1 text-sm leading-5 text-gray-500">
                                                    <p>{{ help_messages[choice_view.data.code]|raw }}</p>
                                                </div>
                                            {% endif %}
                                        </div>
                                    {% endfor %}
                                </div>
                            {% endif %}
                        </section>
                    {% endfor %}
                </div>

                <div class="mt-10">
                    {{ form_widget(form.submit, { attr: { class: 'button button-blue' } }) }}
                </div>
            {{ form_end(form) }}
        </div>
    </section>
{% endblock %}

{% block final_javascripts %}
    {% if not app.user.isEmailSubscribed() %}
        <script type="text/javascript">
            Bootstrap.onLoad(function () {
                on(dom('#resubscribe-mc-trigger'), 'click', function (event) {
                    event.preventDefault();
                    Main.runMailchimpResubscribeEmail({});
                })

                {% if app.request.query.has('autorun') %}
                    Main.runMailchimpResubscribeEmail({});
                {% endif %}
            });
        </script>
    {% endif %}
{% endblock %}
