{% extends 'base.html.twig' %}

{% block banner '' %}

{% block page_title 'Inviter à la newsletter' %}
{% block canonical_url url('newsletter_subscription') %}

{% block content %}

    <main>
        <section>
            <div class="newsletter-page">
                <h2 class="text--large b__nudge--top-large text--center l__wrapper--slim">
                    J'invite des amis<br>
                    à la newsletter de campagne
                </h2>
                <p class="text--body l__wrapper--medium b__nudge--top b__nudge--bottom-large">
                    Vous connaissez quelqu'un que ça intéresserait ? Une personne qui reste à convaincre et qui souhaite
                    en savoir plus ? Dites-le nous en renseignant leurs coordonnées ci-dessous et nous irons directement
                    leur proposer de recevoir notre newsletter de campagne.
                </p>
                <p class="text--body l__wrapper--medium b__nudge--top b__nudge--bottom-large">
                    La newsletter de campagne c'est : des détails sur nos propositions, des moyens d'agir, des appels
                    signés par Emmanuel Macron ainsi que des exclusivités sur la campagne.
                </p>
                <p class="text--body l__wrapper--medium b__nudge--top b__nudge--bottom-large">
                    Participez à faire gagner nos idées.
                </p>

                <div class="newsletter-page__form text--center">
                    {{ form_start(invitation_form, {attr: {novalidate: 'novalidate'}}) }}

                    {{ form_errors(invitation_form) }}

                    <div class="form__row">
                        {{ form_label(invitation_form.firstName) }}
                        {{ form_errors(invitation_form.firstName) }}
                        {{ form_widget(invitation_form.firstName) }}
                        {{ form_label(invitation_form.lastName) }}
                        {{ form_errors(invitation_form.lastName) }}
                        {{ form_widget(invitation_form.lastName) }}
                    </div>

                    {% for guest in invitation_form.guests %}
                        {% if loop.index is odd -%}
                            <div class="form__row">
                        {%- endif %}
                        {{ form_label(guest) }}
                        {{ form_errors(guest) }}
                        {{ form_widget(guest) }}
                        {% if loop.index is even or loop.last -%}
                            </div>
                        {%- endif %}
                    {% endfor %}

                    <div class="l__row l__row--center b__nudge--top">
                        {{ form_widget(invitation_form.invite) }}
                    </div>

                    {{ form_end(invitation_form) }}
                </div>
            </div>
        </section>
    </main>

{% endblock %}
