{% extends 'base.html.twig' %}

{% block banner '' %}
{% block footer '' %}

{% block page_title 'Se désinscrire de la newsletter' %}
{% block canonical_url url('newsletter_subscription') %}

{% block content %}

    <main>
        <section>
            <div class="newsletter-page">
                <h2 class="text--large b__nudge--top-large text--center l__wrapper--slim">
                    Je me désinscris de la newsletter<br />
                    de la campagne
                </h2>
                <p class="text--body text--center l__wrapper--medium b__nudge--top b__nudge--bottom-large">
                    Souhaitez-vous vraiment vous désinscrire de la newsletter En Marche ?<br />
                    Vous ne recevrez plus d'informations sur la campagne et le mouvement.
                </p>

                <div class="newsletter-page__form l__wrapper-500">
                    {{ form_start(form) }}

                    {{ form_errors(form) }}

                    <div class="form__row">
                        {{ form_label(form.email, 'L\'adresse e-mail à laquelle vous recevez la newsletter') }}
                        {{ form_errors(form.email) }}
                        {{ form_widget(form.email, { 'attr': { 'class': 'form--full' } }) }}
                    </div>

                    <p class="text--small">
                        Attention : l'adresse e-mail est sensible à la casse.
                    </p>

                    <div class="l__row l__row--center b__nudge--top">
                        <button type="submit" class="btn btn--blue">
                            Oui, je souhaite me désinscrire
                        </button>
                    </div>

                    {{ form_end(form) }}
                </div>
            </div>
        </section>
    </main>

{% endblock %}
