<h4 class="b__nudge--bottom">{{ maching_proxies_title }}</h4>
{% set proxies_count = proxies|length %}
{% if not proxies_count %}
    <div class="text--body b__nudge--bottom-large">
        Aucun mandataire trouvé pour cette demande.
    </div>
{% else %}
    <div class="text--body b__nudge--bottom-large">
        {% if proxies_count == 1 %}
            1 mandataire semble correspondre à cette demande.<br />
            N'hésitez pas à le contacter pour confirmer ses disponibilités.
        {% else %}
            {{ proxies_count }} mandataires semblent correspondre à cette demande.<br />
            N'hésitez pas à les contacter pour confirmer leurs disponibilités.
        {% endif %}
    </div>

    <table class="datagrid__table datagrid__table--bordered-rows datagrid__table--no-hover">
        <thead>
        <tr>
            <th>Score</th>
            <th class="datagrid__table__col--left" colspan="2">Mandataire</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for matchingProxy in proxies %}
            {% set score = matchingProxy.score %}
            {% set proxy = matchingProxy.data %}
            {% set reliability = proxy.reliability %}

            <tr>
                <td style="border: 0;"></td>
                <td colspan="3" class="datagrid__table__col--left datagrid__table__col--top proxy_name" style="border: 0;">
                    <strong>{{ proxy.firstNames }} {{ proxy.lastName }}</strong>
                    {% if proxy.reliabilityDescription %}
                        ({{ proxy.reliabilityDescription }})
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td>
                    {{ score }}
                    {% if reliability in constant('App\\Entity\\ProcurationProxy::RELIABILITIES') %}
                        <br>
                        ({{ ('procuration_proxy.reliability_' ~ reliability)|trans }})
                    {% endif %}
                </td>
                <td class="datagrid__table__col--left datagrid__table__col--top">
                    <em>Email :</em>
                    <a href="mailto:{{ proxy.emailAddress }}">
                        {{ proxy.emailAddress }}
                    </a>
                    {% if proxy.phone %}
                        <br />
                        <em>Téléphone :</em>
                        <a href="{{ proxy.phone|phone_number_format(constant('\\libphonenumber\\PhoneNumberFormat::RFC3966')) }}">
                            {{ proxy.phone|phone_number_format }}
                        </a>
                    {% endif %}
                    <br />
                    <em>Disponibilités :</em><br />
                    <div class="b__nudge--left">
                        {% include 'procuration/proxy/_available_rounds.html.twig' with { proxy: proxy } %}
                    </div>
                </td>
                <td class="datagrid__table__col--left">
                    <em>Lieu de vote :</em><br />
                    {{ proxy.votePostalCode }} {{ proxy.voteCityName }}, {{ proxy.voteCountry }}
                    {% if proxy.voteOffice %}
                        <br />(bureau : {{ proxy.voteOffice }})
                    {% endif %}
                    <br />
                    <em>Lieu de résidence :</em><br />
                    {{ proxy.address }}, {{ proxy.postalCode }} {{ proxy.cityName }},{% if proxy.state %} {{ proxy.state }},{% endif %} {{ proxy.country }}
                </td>
                <td>
                    <a href="{{ path('app_procuration_manager_request_associate', {id: request.id, proxyId: proxy.id}) }}"
                       id="associate-link-{{ proxy.id }}">
                        Associer
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endif %}
