{% for proxy in proxies %}
    <tr>
        <td class="datagrid__table__col--hide-mobile">
            {{ proxy.id }}
        </td>
        <td class="datagrid__table__col--left">
            <strong>{{ proxy.firstNames }} {{ proxy.lastName }}</strong>
            {% if proxy.reliabilityDescription %}
                ({{ proxy.reliabilityDescription }})
            {% endif %}
            <br/>
            Email :
            <a href="mailto:{{ proxy.emailAddress }}">
                {{ proxy.emailAddress }}
            </a>
            {% if proxy.phone %}
                <br />
                Téléphone :
                <a href="{{ proxy.phone|phone_number_format(constant('\\libphonenumber\\PhoneNumberFormat::RFC3966')) }}">
                    {{ proxy.phone|phone_number_format }}
                </a>
            {% endif %}
            <br />
            <span class="datagrid__table__col--hide-mobile">
                <em>Lieu de vote :</em>
                {{ proxy.votePostalCode }} {{ proxy.voteCityName }} {{ proxy.voteCountry }}
            </span>
        </td>
        <td class="datagrid__table__col--left">
            {{ proxy.getAvailableRoundsAsString|nl2br }}
        </td>
        <td class="datagrid__table__col--hide-mobile">
            {{ proxy.createdAt|date('d/m/Y H:i') }}
        </td>
        <td>
            Pour une demande faite :<br>
            en France : {{ proxy.frenchRequestAvailable ? 'global.yes'|trans : 'global.no'|trans }} <br>
            à l'étranger : {{ proxy.foreignRequestAvailable ? 'global.yes'|trans : 'global.no'|trans }}
        </td>
        <td>
            {% if not proxy.foundRequests.isEmpty %}
                {% for foundRequest in proxy.foundRequests %}
                    Associé à la<br />
                    demande n°<a href="{{ path('app_procuration_manager_request', { id: foundRequest.id }) }}">{{ foundRequest.id }}</a>
                {% endfor %}
            {% elseif proxy.disabled %}
                Désactivé<br />
                (n'est plus associable)
            {% else %}
                <strong>Disponible</strong>
            {% endif %}
        </td>
        <td>
            {% if proxy.disabled %}
                <a href="{{ path('app_procuration_manager_proposal_transform', { id: proxy.id, action: constant('ACTION_ENABLE', proxy) }) }}">
                    Réactiver
                </a>
            {% else %}
                <a href="{{ path('app_procuration_manager_proposal_transform', { id: proxy.id, action: constant('ACTION_DISABLE', proxy) }) }}">
                    Désactiver
                </a>
            {% endif %}
        </td>
    </tr>
{% endfor %}
