{% for request in requests %}
    <tr>
        <td class="datagrid__table__col--hide-mobile">
            {{ request.data.id }}
        </td>
        <td class="datagrid__table__col--left">
            {{ request.data.firstNames }} {{ request.data.lastName }}<br />
            <span class="datagrid__table__col--hide-mobile">
                <em>Lieu de vote :</em><br>
                {{ request.data.votePostalCode }} {{ request.data.voteCityName }} {{ request.data.voteCountry }}
            </span>
            <br>
            <span class="datagrid__table__col--hide-mobile">
                <em>Établissement de la procuration :</em><br>
                {{ request.data.requestFromFrance ? 'France' : 'Étranger' }}
            </span>
        </td>
        <td>
            {% if not request.data.processed %}
                <strong>En attente</strong>
            {% else %}
                Traitée<br />
                (le {{ request.data.processedAt|date('d/m/Y à H:i') }})
            {% endif %}
        </td>
        <td class="datagrid__table__col--left">
            {{ include('procuration_manager/_election_rounds.html.twig', {
                rounds: request.data.electionRounds,
            }, with_context=false) }}
        </td>
        <td>
            {{ request.matchingProxiesCount }}
        </td>
        <td class="datagrid__table__col--hide-mobile">
            {{ request.data.createdAt|date('d/m/Y H:i') }}
        </td>
        {% if constant('DISABLED', filters) == filters.status %}
            <td>
                {{ request.data.disabledReason == constant('App\\Entity\\ProcurationRequest::DISABLED_REASON_BY_PROCURATION_MANAGER') ? 'Manuellement' : 'Automatiquement' }}
            </td>
        {% endif %}
        <td>
            <a href="{{ path('app_procuration_manager_request', {'id': request.data.id}) }}"
               id="request-link-{{ request.data.id }}"
               target="_blank">
                Afficher
            </a>
            {% if request.data.enabled %}
                <p class="b__nudge--top-15">
                    <a href="{{ path('app_procuration_manager_request_transform', { id: request.data.id, action: constant('App\\Entity\\ActionEnum::ACTION_DISABLE'), csrfToken: csrf_token('request_action') }) }}">
                    Désactiver
                    </a>
                </p>
            {% else %}
                <p class="b__nudge--top-15">
                    <a href="{{ path('app_procuration_manager_request_transform', { id: request.data.id, action: constant('App\\Entity\\ActionEnum::ACTION_ENABLE'), csrfToken: csrf_token('request_action') }) }}">
                        Réactiver
                    </a>
                </p>
            {% endif %}
        </td>
    </tr>
{% endfor %}
