{% for request in requests %}
    <tr>
        <td class="datagrid__table__col--hide-mobile">
            {{ request.data.id }}
        </td>
        <td class="datagrid__table__col--left">
            {{ request.data.firstNames }} {{ request.data.lastName }}<br />
            <span class="datagrid__table__col--hide-mobile">
                <em>Lieu de vote :</em><br>
                {{ request.data.votePostalCode }} {{ request.data.voteCityName }} {{ request.data.voteCountry }}
            </span>
            <br>
            <span class="datagrid__table__col--hide-mobile">
                <em>Lieu de résidence :</em><br>
                {{ request.data.postalCode }} {{ request.data.cityName }}{% if request.data.state %} {{ request.data.state }}{% endif %} {{ request.data.country }}
            </span>
        </td>
        <td>
            {% if not request.data.processed %}
                <strong>En attente</strong>
            {% else %}
                Traitée<br />
                (le {{ request.data.processedAt|date('d/m/Y à H:i') }})
            {% endif %}
        </td>
        <td class="datagrid__table__col--left">
            {{ include('procuration_manager/_election_rounds.html.twig', {
                rounds: request.data.electionRounds,
            }, with_context=false) }}
        </td>
        <td>
            {{ request.matchingProxiesCount }}
        </td>
        <td class="datagrid__table__col--hide-mobile">
            {{ request.data.createdAt|date('d/m/Y H:i') }}
        </td>
        <td>
            <a href="{{ path('app_procuration_manager_request', {'id': request.data.id}) }}"
               id="request-link-{{ request.data.id }}"
               target="_blank">
                Afficher
            </a>
        </td>
    </tr>
{% endfor %}
