{% extends 'procuration_manager/_layout.html.twig' %}

{% block procuration_manager_content %}
    <div class="text--summary b__nudge--bottom-large">
        <a href="{{ path('app_procuration_manager_request', { id: request.id }) }}" class="back-to-list icon--with-text">
            {{ include('components/caret--left.html.twig') }}
            Retour à la demande
        </a>
    </div>

    <h3 class="b__nudge--bottom-large">
        Associer la demande de procuration n°{{ request.id }} à {{ proxy.firstNames }} {{ proxy.lastName }}
    </h3>

    <hr />

    <div class="l__row l__tablet--col l__row--center l__row--top">
        <div class="procuration-manager__associate__col">
            <h4 class="b__nudge--bottom">
                Demande
            </h4>

            <div class="profile-label">
                Auteur
            </div>
            <div class="profile-value">
                {{ request.gender == 'male' ? 'Monsieur' : 'Madame' }}
                {{ request.firstNames }} {{ request.lastName }}
            </div>

            <div class="profile-label">
                Coordonnées
            </div>
            <div class="profile-value">
                Email :
                <a href="mailto:{{ request.emailAddress }}">
                    {{ request.emailAddress }}
                </a>
                {% if request.phone %}
                    <br />
                    Téléphone :
                    <a href="tel:{{ request.phone|phone_number_format(constant('\\libphonenumber\\PhoneNumberFormat::RFC3966')) }}">
                        {{ request.phone|phone_number_format }}
                    </a>
                {% endif %}
            </div>

            <div class="profile-label">
                Date de naissance
            </div>
            <div class="profile-value">
                {{ request.birthdate|date('d/m/Y') }}
            </div>

            <div class="profile-label">
                Lieu de vote
            </div>
            <div class="profile-value">
                {{ request.votePostalCode }} {{ request.voteCityName }} {{ request.voteCountry }}
                {% if request.voteOffice %}
                    <br />
                    Bureau : {{ request.voteOffice }}
                {% endif %}
            </div>

            <div class="profile-label">
                Lieu de résidence
            </div>
            <div class="profile-value">
                {{ request.address }}<br />
                {{ request.postalCode }} {{ request.cityName }}{% if request.state %} {{ request.state }}{% endif %} {{ request.country }}
            </div>

            <div class="profile-label">
                Scrutins concernés
            </div>
            <div class="profile-value">
                {{ include('procuration_manager/_election_rounds.html.twig', {
                    rounds: request.electionRounds,
                }, with_context=false) }}
            </div>

            <div class="profile-label">
                Raison de la demande
            </div>
            <div class="profile-value">
                {{ include('procuration/_request_reasons.html.twig', { request: request }, with_context=false) }}
            </div>
        </div>

        <div class="procuration-manager__associate__col">
            <h4 class="b__nudge--bottom">
                Proposition
            </h4>

            <div class="profile-label">
                Auteur
            </div>
            <div class="profile-value" id="proxy-author">
                {{ proxy.gender == 'male' ? 'Monsieur' : 'Madame' }} {{ proxy.firstNames }} {{ proxy.lastName }}
            </div>

            <div class="profile-label">
                Coordonnées
            </div>
            <div class="profile-value">
                Email :
                <a href="mailto:{{ proxy.emailAddress }}" id="proxy-email">
                    {{ proxy.emailAddress }}
                </a>
                {% if proxy.phone %}
                    <br />
                    Téléphone :
                    <a href="tel:{{ proxy.phone|phone_number_format(constant('\\libphonenumber\\PhoneNumberFormat::RFC3966')) }}" id="proxy-phone">
                        {{ proxy.phone|phone_number_format }}
                    </a>
                {% endif %}
            </div>

            <div class="profile-label">
                Date de naissance
            </div>
            <div class="profile-value" id="proxy-birthdate">
                {{ proxy.birthdate|date('d/m/Y') }}
            </div>

            <div class="profile-label">
                Lieu de vote
            </div>
            <div class="profile-value">
                <span id="proxy-vote-city">{{ proxy.votePostalCode }} {{ proxy.voteCityName }} {{ proxy.voteCountry }}</span>
                {% if proxy.voteOffice %}
                    <br />
                    Bureau : <span id="proxy-vote-office">{{ proxy.voteOffice }}</span>
                {% endif %}
            </div>

            <div class="profile-label">
                Lieu de résidence
            </div>
            <div class="profile-value">
                <span id="proxy-address">{{ proxy.address }}</span><br />
                <span id="proxy-city">{{ proxy.postalCode }} {{ proxy.cityName }}{% if proxy.state %} {{ proxy.state }}{% endif %} {{ proxy.country }}</span>
            </div>

            <div class="profile-label">
                Disponibilités
            </div>
            <div class="profile-value">
                <span id="proxy-election">
                    {{ proxy.getAvailableRoundsAsString|nl2br }}}
                </span>
            </div>
        </div>
    </div>

    <hr />

    <div class="text--center b__nudge--bottom-60">
        <form method="post" name="app_associate">
            {{ form_rest(form) }}

            <button type="submit" class="btn btn--primary">
                Associer
            </button>

            <a href="{{ path('app_procuration_manager_request', {'id': request.id}) }}" class="btn">
                Retour
            </a>
        </form>
    </div>
{% endblock %}
