{% extends 'procuration_manager/_layout.html.twig' %}

{% block javascripts %}
    <script type="text/javascript">
        Kernel.onLoad(function() {
            App.runProcurationManagerProposals('{{ filters.toQueryString|e('js') }}', {{ total_count }}, {{ filters.limit }});
        });
    </script>
{% endblock %}

{% block procuration_manager_content %}

    {{ include('procuration_manager/_filters.html.twig') }}

    {% if 0 == proxies|length %}
        <div class="alert alert--tips b__nudge--bottom-60">
            {% if constant('UNASSOCIATED', filters) == filters.status %}
                Vous n'avez pas encore de proposition de mandataire disponible.
            {% elseif constant('ASSOCIATED', filters) == filters.status %}
                Vous n'avez pas encore de proposition de mandataire associée à une demande de procuration.
            {% else %}
                Vous n'avez pas encore de proposition de mandataire désactivée.
            {% endif %}
        </div>
    {% else %}
        <div class="alert alert--tips b__nudge--bottom-60 procuration_proposals_total_count">
            {% if constant('UNASSOCIATED', filters) == filters.status %}
                {{ '{1} Vous avez une proposition de mandataire disponible.|[2, Inf[ Vous avez %count% propositions de mandataires disponibles.'|transchoice(total_count) }}
            {% elseif constant('ASSOCIATED', filters) == filters.status %}
                {{ '{1} Vous avez une proposition de mandataire associée.|[2, Inf[ Vous avez %count% propositions de mandataires associées.'|transchoice(total_count) }}
            {% else %}
                {{ '{1} Vous avez une proposition de mandataire désactivée.|[2, Inf[ Vous avez %count% propositions de mandataires désactivées.'|transchoice(total_count) }}
            {% endif %}
        </div>
    {% endif %}

    {% if proxies|length %}
        <div class="datagrid__table-container">
            <table class="datagrid__table-manager">
                <thead>
                <tr>
                    <th class="datagrid__table__col--hide-mobile" style="width: 70px;">Numéro</th>
                    <th class="datagrid__table__col--left">Coordonnées du mandataire</th>
                    <th class="datagrid__table__col--left">Disponibilités restantes</th>
                    <th class="datagrid__table__col--hide-mobile">Date de la proposition</th>
                    <th class="datagrid__table__col--hide-mobile" style="width: 170px;">Procurations disponibles</th>
                    <th>Statut</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody id="proposals-list">
                    {{ include('procuration_manager/_proposals_list.html.twig') }}
                </tbody>
            </table>
        </div>

        {% if total_count > filters.limit %}
            <div class="text--center space--30">
                <button class="btn" id="btn-more">Afficher plus</button>
                <span id="loader" style="display: none;">Chargement ...</span>
            </div>
        {% endif %}
    {% endif %}
{% endblock %}
