{% extends 'procuration_manager/_layout.html.twig' %}

{% block procuration_manager_content %}
    <div class="text--summary b__nudge--bottom-large">
        <a href="{{ path('app_procuration_manager_proposals') }}" class="back-to-list icon--with-text">
            {{ include('components/caret--left.html.twig') }}
            Retour à la liste
        </a>
    </div>

    <h3 class="b__nudge--bottom-large">
        <span id="proxy-title">Mandataire n°{{ proxy.id }}</span>
    </h3>

    <hr />

    <div class="l__row l__tablet--col l__row--v-stretch b__nudge--bottom-60 procuration-manager__proxy">
        <div class="procuration-manager">
            <h4 class="b__nudge--bottom">
                Statut :
                {% if not proxy.foundRequests.isEmpty %}
                    {{ proxy.foundRequests.count > 1 ? '<br />' }}
                    {% for foundRequest in proxy.foundRequests %}
                        Associé à la demande n°<a href="{{ path('app_procuration_manager_request', { id: foundRequest.id }) }}">{{ foundRequest.id }}</a><br />
                    {% endfor %}
                {% elseif proxy.disabled %}
                    Désactivé (n'est plus associable)
                {% else %}
                    Disponible
                {% endif %}
            </h4>

            <div class="profile-label">
                Mandataire
            </div>
            <div class="profile-value" id="proxy-author">
                {{ proxy.gender == 'male' ? 'Monsieur' : 'Madame' }} {{ proxy.firstNames }} {{ proxy.lastName }}
            </div>

            <div class="profile-label">
                Coordonnées
            </div>
            <div class="profile-value">
                Email :
                <a href="mailto:{{ proxy.emailAddress }}" id="proxy-email">
                    {{ proxy.emailAddress }}
                </a>
                {% if proxy.phone %}
                <br />
                Téléphone :
                <a href="{{ proxy.phone|phone_number_format(constant('\\libphonenumber\\PhoneNumberFormat::RFC3966')) }}" id="proxy-phone">
                    {{ proxy.phone|phone_number_format }}
                </a>
                {% endif %}
            </div>

            <div class="profile-label">
                Date de naissance
            </div>
            <div class="profile-value" id="proxy-birthdate">
                {{ proxy.birthdate|date('d/m/Y') }}
            </div>

            <div class="profile-label">
                Numéro d'électeur
            </div>
            <div class="profile-value" id="proxy-voter-number">
                {{ proxy.voterNumber ?? '-' }}
            </div>

            <div class="profile-label">
                Lieu de vote
            </div>
            <div class="profile-value">
                <span id="proxy-vote-city">{{ proxy.votePostalCode }} {{ proxy.voteCityName }} {{ proxy.voteCountry }}</span>
                {% if proxy.voteOffice %}
                    <br />
                    Bureau : <span id="proxy-vote-office">{{ proxy.voteOffice }}</span>
                {% endif %}
            </div>

            <div class="profile-label">
                Lieu de résidence
            </div>
            <div class="profile-value">
                <span id="proxy-address">{{ proxy.address }}</span><br />
                <span id="proxy-city">{{ proxy.postalCode }} {{ proxy.cityName }}{% if proxy.state %} {{ proxy.state }}{% endif %} {{ proxy.country }}</span>
            </div>

            <div class="profile-label">
                Scrutins concernés
            </div>
            <div class="profile-value" id="proxy-election-rounds">
                <div class="b__nudge--left">
                    {% include 'procuration/proxy/_available_rounds.html.twig' with { proxy: proxy } %}
                </div>
            </div>

            <div class="profile-label">
                Date de la proposition
            </div>
            <div class="profile-value" id="proxy-created-at">
                {{ proxy.createdAt|date('d/m/Y H:i') }}
            </div>
        </div>
    </div>
{% endblock %}
