{% extends 'procuration_manager/_layout.html.twig' %}

{% block procuration_manager_content %}
    <div class="text--summary b__nudge--bottom-large">
        <a href="{{ path('app_procuration_manager_requests') }}" class="back-to-list icon--with-text">
            {{ include('components/caret--left.html.twig') }}
            Retour à la liste
        </a>
    </div>

    <h3 class="b__nudge--bottom-large">
        <span id="request-title">Demande de procuration n°{{ request.id }}</span>

        {% if request.hasFoundProxy %}
            <a href="{{ path('app_procuration_manager_request_deassociate', { id: request.id }) }}"
               class="btn btn--small procuration-manager__request__process" id="request-deassociate">
                Désassocier de {{ request.foundProxy.firstNames }} {{ request.foundProxy.lastName }}
            </a>
        {% elseif request.processed %}
            <a href="{{ path('app_procuration_manager_request_transform', { id: request.id, action: constant('ACTION_UNPROCESS', request), token: csrf_token('request_action') }) }}"
               class="btn btn--small procuration-manager__request__process">
                Marquer "En attente"
            </a>
        {% else %}
            <a href="{{ path('app_procuration_manager_request_transform', { id: request.id, action: constant('ACTION_PROCESS', request), token: csrf_token('request_action') }) }}"
               class="btn btn--small procuration-manager__request__process">
                Marquer "Traitée manuellement"
            </a>
        {% endif %}
    </h3>

    <hr />

    <div class="l__row l__tablet--col l__row--v-stretch b__nudge--bottom-60 procuration-manager__request">
        <div class="procuration-manager__request__col-left">
            <h4 class="b__nudge--bottom">
                {% if request.processedAt %}
                    Demande traitée le {{ request.processedAt|date('d/m/Y à H:i') }}
                {% else %}
                    Demande en attente
                {% endif %}
            </h4>

            <div class="profile-label">
                Auteur
            </div>
            <div class="profile-value" id="request-author">
                {{ request.gender == 'male' ? 'Monsieur' : 'Madame' }} {{ request.firstNames }} {{ request.lastName }}
            </div>

            <div class="profile-label">
                Coordonnées
            </div>
            <div class="profile-value">
                Email :
                <a href="mailto:{{ request.emailAddress }}" id="request-email">
                    {{ request.emailAddress }}
                </a>
                {% if request.phone %}
                <br />
                Téléphone :
                <a href="{{ request.phone|phone_number_format(constant('\\libphonenumber\\PhoneNumberFormat::RFC3966')) }}" id="request-phone">
                    {{ request.phone|phone_number_format }}
                </a>
                {% endif %}
            </div>

            <div class="profile-label">
                Date de naissance
            </div>
            <div class="profile-value" id="request-birthdate">
                {{ request.birthdate|date('d/m/Y') }}
            </div>

            <div class="profile-label">
                Lieu de vote
            </div>
            <div class="profile-value">
                <span id="request-vote-city">{{ request.votePostalCode }} {{ request.voteCityName }} {{ request.voteCountry }}</span>
                {% if request.voteOffice %}
                    <br />
                    Bureau : <span id="request-vote-office">{{ request.voteOffice }}</span>
                {% endif %}
            </div>

            <div class="profile-label">
                Établissement de la procuration
            </div>
            <div class="profile-value">
                {{ request.requestFromFrance ? 'France' : 'Étranger' }}
            </div>

            <div class="profile-label">
                Lieu de résidence
            </div>
            <div class="profile-value">
                <span id="request-address">{{ request.address }}</span><br />
                <span id="request-city">{{ request.postalCode }} {{ request.cityName }}{% if request.state %} {{ request.state }}{% endif %} {{ request.country }}</span>
            </div>

            <div class="profile-label">
                Scrutins concernés
            </div>
            <div class="profile-value">
                {{ include('procuration_manager/_election_rounds.html.twig', {
                    rounds: request.electionRounds,
                }, with_context=false) }}
            </div>

            <div class="profile-label">
                Raison de la demande
            </div>
            {{ include('procuration/_request_reasons.html.twig', { request: request }, with_context=false) }}
        </div>

        <div class="procuration-manager__request__col-right">
            {% if request.processedAt %}
                {% if not request.hasFoundProxy %}
                    <h4 class="b__nudge--bottom">
                        Demande traitée manuellement
                    </h4>
                {% else %}
                    <h4 class="b__nudge--bottom">
                        Demande associée à {{ request.foundProxy.firstNames }} {{ request.foundProxy.lastName }}
                    </h4>

                    <div class="profile-label">
                        Auteur
                    </div>
                    <div class="profile-value">
                        {{ request.foundProxy.gender == 'male' ? 'Monsieur' : 'Madame' }}
                        {{ request.foundProxy.firstNames }} {{ request.foundProxy.lastName }}
                    </div>

                    <div class="profile-label">
                        Coordonnées
                    </div>
                    <div class="profile-value">
                        Email :
                        <a href="mailto:{{ request.foundProxy.emailAddress }}">
                            {{ request.foundProxy.emailAddress }}
                        </a>
                        {% if request.foundProxy.phone %}
                            <br />
                            Téléphone :
                            <a href="tel:{{ request.foundProxy.phone|phone_number_format(constant('\\libphonenumber\\PhoneNumberFormat::RFC3966')) }}">
                                {{ request.foundProxy.phone|phone_number_format }}
                            </a>
                        {% endif %}
                    </div>

                    <div class="profile-label">
                        Date de naissance
                    </div>
                    <div class="profile-value">
                        {{ request.foundProxy.birthdate|date('d/m/Y') }}
                    </div>

                    <div class="profile-label">
                        Lieu de vote
                    </div>
                    <div class="profile-value">
                        {{ request.foundProxy.votePostalCode }} {{ request.foundProxy.voteCityName }} {{ request.foundProxy.voteCountry }}
                        {% if request.foundProxy.voteOffice %}
                            <br />
                            Bureau : {{ request.foundProxy.voteOffice }}
                        {% endif %}
                    </div>

                    <div class="profile-label">
                        Lieu de résidence
                    </div>
                    <div class="profile-value">
                        {{ request.foundProxy.address }}<br />
                        {{ request.foundProxy.postalCode }} {{ request.foundProxy.cityName }}{% if request.foundProxy.state %} {{ request.foundProxy.state }}{% endif %} {{ request.foundProxy.country }}
                    </div>

                    <div class="profile-label">
                        Disponibilités ({{ request.foundProxy.countFreeSlots }})
                    </div>
                    <div class="profile-value">
                        {% include 'procuration/proxy/_available_rounds.html.twig' with { proxy: request.foundProxy } %}
                    </div>
                {% endif %}
            {% else %}
                <h4 class="b__nudge--bottom">
                    Mandataires trouvés dans la même commune
                </h4>
                {% set proxies_count = matchingProxies|length %}
                {% if proxies_count is same as(0) %}
                    <div class="text--body b__nudge--bottom-large">
                        Aucun mandataire trouvé pour cette demande.
                    </div>
                {% else %}
                    <div class="text--body b__nudge--bottom-large">
                        {% if proxies_count is same as(1) %}
                            1 mandataire semble correspondre à cette demande.<br />
                            N'hésitez pas à le contacter pour confirmer ses disponibilités.
                        {% else %}
                            {{ proxies_count }} mandataires semblent correspondre à cette demande.<br />
                            N'hésitez pas à les contacter pour confirmer leurs disponibilités.
                        {% endif %}
                    </div>

                    <table class="datagrid__table datagrid__table--bordered-rows datagrid__table--no-hover">
                        <thead>
                        <tr>
                            <th>Score</th>
                            <th class="datagrid__table__col--left" colspan="2">Mandataire</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for matchingProxy in matchingProxies %}
                            {% set score = matchingProxy.score %}
                            {% set proxy = matchingProxy.data %}

                            <tr>
                                <td style="border: 0;"></td>
                                <td colspan="3" class="datagrid__table__col--left datagrid__table__col--top proxy_name" style="border: 0;">
                                    <strong>{{ proxy.firstNames }} {{ proxy.lastName }}</strong>
                                    {% if proxy.reliabilityDescription %}
                                        ({{ proxy.reliabilityDescription }})
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <td>{{ score }}</td>
                                <td class="datagrid__table__col--left datagrid__table__col--top">
                                    <em>Email :</em>
                                    <a href="mailto:{{ proxy.emailAddress }}">
                                        {{ proxy.emailAddress }}
                                    </a>
                                    {% if proxy.phone %}
                                        <br />
                                        <em>Téléphone :</em>
                                        <a href="tel:{{ proxy.phone|phone_number_format(constant('\\libphonenumber\\PhoneNumberFormat::RFC3966')) }}">
                                            {{ proxy.phone|phone_number_format }}
                                        </a>
                                    {% endif %}
                                    <br />
                                    <em>Disponibilités ({{ proxy.countFreeSlots }}):</em><br />
                                    {% include 'procuration/proxy/_available_rounds.html.twig' with { proxy: proxy } %}
                                </td>
                                <td class="datagrid__table__col--left">
                                    <em>Lieu de vote :</em><br />
                                    {{ proxy.votePostalCode }} {{ proxy.voteCityName }}, {{ proxy.voteCountry }}
                                    {% if proxy.voteOffice %}
                                        <br />(bureau : {{ proxy.voteOffice }})
                                    {% endif %}
                                    <br />
                                    <em>Lieu de résidence :</em><br />
                                    {{ proxy.address }}, {{ proxy.postalCode }} {{ proxy.cityName }},{% if proxy.state %} {{ proxy.state }},{% endif %} {{ proxy.country }}
                                </td>
                                <td>
                                    <a href="{{ path('app_procuration_manager_request_associate', {id: request.id, proxyId: proxy.id}) }}"
                                       id="associate-link-{{ proxy.id }}">
                                        Associer
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% endif %}
            {% endif %}
        </div>
    </div>
{% endblock %}
