{% extends 'procuration_manager/_layout.html.twig' %}

{% block javascripts %}
    <script type="text/javascript">
        Kernel.onLoad(function() {
            App.runProcurationManagerRequests('{{ filters.toQueryString|e('js') }}', {{ total_count }}, {{ filters.limit }});
        });
    </script>
{% endblock %}

{% block procuration_manager_content %}

    {{ include('procuration_manager/_filters.html.twig') }}

    {% if 0 == requests|length %}
        <div class="alert alert--tips b__nudge--bottom-60">
            {% if constant('PROCESSED', filters) == filters.status %}
                Vous n'avez pas encore de demande de procuration traitée.
            {% else %}
                Vous n'avez pas encore de demande de procuration à traiter.
            {% endif %}
        </div>
    {% else %}
        <div class="alert alert--tips b__nudge--bottom-60">
            {% if constant('PROCESSED', filters) == filters.status %}
                {{ '{1} Vous avez une demande de procuration traitée.|[2, Inf[ Vous avez %count% demandes de procuration traitées.'|transchoice(total_count) }}
            {% else %}
                {{ '{1} Vous avez une demande de procuration à traiter.|[2, Inf[ Vous avez %count% demandes de procuration à traiter.'|transchoice(total_count) }}
            {% endif %}
        </div>
    {% endif %}

    {% if requests|length %}
        <table class="datagrid__table-manager">
            <thead>
            <tr>
                <th class="datagrid__table__col--hide-mobile" width="100px">Numéro</th>
                <th class="datagrid__table__col--left" width="200px">Coordonnées du demandeur</th>
                <th>Statut de la demande</th>
                <th class="datagrid__table__col--left">Scrutins concernés</th>
                <th>Mandataires</th>
                <th class="datagrid__table__col--hide-mobile">Date de la demande</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody id="requests-list">
                {{ include('procuration_manager/_requests_list.html.twig') }}
            </tbody>
        </table>
        {% if total_count > filters.limit %}
            <div class="text--center space--30">
                <button class="btn" id="btn-more">Afficher plus</button>
                <span id="loader" style="display: none;">Chargement ...</span>
            </div>
        {% endif %}
    {% endif %}
{% endblock %}
