{% extends 'base.html.twig' %}

{% block page_title 'Contact | Législatives' %}
{% block canonical_url url('app_legislative_candidates_platform_contact') %}

{% block banner '' %}
{% block header '' %}
{% block footer '' %}

{% block content %}
    <a href="{{ path('app_legislative_candidates_platform') }}"
       class="l__wrapper icon--with-text space--20-0 text--body">
        {{ include('components/caret--left.html.twig') }}
        Retour à l'espace candidat
    </a>
    <article class="l__wrapper--slim b__nudge--bottom-huge l__col l__col--center">
        <h1>Vous avez une question ?</h1>
        <h2>Contactez-nous</h2>
        <div class="register__form">
            <form action="{{ path('app_legislative_candidates_platform_contact') }}" method="post" id="legislatives_campaign_contact_form">

                {{ form_errors(form) }}

                <div class="register__form--full">
                    {{ form_label(form.emailAddress, 'Mon email') }}
                    {{ form_errors(form.emailAddress) }}
                    {{ form_widget(form.emailAddress) }}
                </div>

                <div class="space--10-0"></div>

                <div class="l__row l__row--top l__row--h-stretch l__mobile--col">
                    <div class="register__form--mid">
                        {{ form_label(form.firstName, 'Mon prénom') }}
                        {{ form_errors(form.firstName) }}
                        {{ form_widget(form.firstName) }}
                    </div>
                    <div class="register__form--mid">
                        {{ form_label(form.lastName, 'Mon nom de famille') }}
                        {{ form_errors(form.lastName) }}
                        {{ form_widget(form.lastName) }}
                    </div>
                </div>

                <div class="space--10-0"></div>

                <div class="l__row l__row--top l__row--h-stretch l__mobile--col">
                    <div class="register__form--mid">
                        {{ form_label(form.departmentNumber, 'Mon numéro de département') }}
                        {{ form_errors(form.departmentNumber) }}
                        {{ form_widget(form.departmentNumber) }}
                    </div>
                    <div class="register__form--mid">
                        {{ form_label(form.electoralDistrictNumber, 'Mon numéro de circonscription') }}
                        {{ form_errors(form.electoralDistrictNumber) }}
                        {{ form_widget(form.electoralDistrictNumber) }}
                    </div>
                </div>

                <div class="register__form--full">
                    {{ form_label(form.role, 'Mon role dans la campagne') }}
                    {{ form_errors(form.role) }}
                    {{ form_widget(form.role) }}
                </div>

                <div class="space--10-0"></div>

                <div class="register__form--full">
                    {{ form_label(form.recipient, "À qui s'adresse votre message ?") }}
                    {{ form_errors(form.recipient) }}
                    {{ form_widget(form.recipient) }}
                </div>

                <div class="space--10-0"></div>

                <div class="register__form--full">
                    {{ form_label(form.subject, 'Sujet de mon message') }}
                    {{ form_errors(form.subject) }}
                    {{ form_widget(form.subject) }}
                </div>

                <div class="space--10-0"></div>

                <div class="register__form--full">
                    {{ form_label(form.message, 'Mon message') }}
                    <br/>
                    {{ form_errors(form.message) }}
                    {{ form_widget(form.message, { 'attr': { 'class': 'form--full form__field--textarea-300' } }) }}
                </div>

                <div class="register__form">
                    {{ form_rest(form) }}
                    <button type="submit" class="btn btn--blue btn--medium b__nudge--top form btn">J'envoie ma demande</button>
                </div>
            </form>
        </div>
    </article>
{% endblock %}
