<nav class="manager-sidebar__menu">
    <ul>
        {% if not committee.isPending %}
            <li>
                <a href="{{ path('app_committee_space_dashboard') }}">Tous mes comités <br /><br /></a>
            </li>
        {% endif %}
        <li class="{{ is_active_route(app.request, 'app_committee_manager_edit') ? 'active' }}">
            <a href="{{ path('app_committee_manager_edit', {slug: committee.slug}) }}">Mon comité</a>
        </li>

        {% if committee.isApproved %}
            <li class="{{ is_active_route(app.request, ['app_committee_manager_list_members', 'app_committee_demote_host', 'app_committee_promote_host', 'app_committee_contact_members', 'app_supervisor_adherent_invitation']) ? 'active' }}">
                <a href="{{ path('app_committee_manager_list_members', {slug: committee.slug}) }}">Adhérents</a>
            </li>

            {% if app.user.supervisorOf(committee, false) %}
                <li class="{{ is_active_route(app.request, 'app_supervisor_designations_*') ? 'active' }}">
                    <a href="{{ path('app_supervisor_designations_list', {committee_slug: committee.slug}) }}">Désignations</a>
                </li>
            {% endif %}
        {% endif %}
    </ul>
</nav>
