{% extends 'committee_manager/_space_layout.html.twig' %}

{% block page_title 'Contacter des membres de mon comité' %}

{% block javascripts %}
    {% import 'javascript.js.twig' as js %}

    <script src="{{ asset('ckeditor/ckeditor.js') }}"></script>
    <script src="{{ asset('ckeditor/lang/fr.js') }}"></script>
    <script type="text/javascript">
        Kernel.onLoad(function() {
            {{ js.ckeditor('message', null, constant('AppBundle\\Entity\\UserDocument::TYPE_COMMITTEE_CONTACT'), false, true) }}
        });
    </script>
{% endblock %}

{% block committee_content %}
    <main>
        <a href="{{ path('app_committee_manager_list_members', {'slug': committee.slug}) }}" class="back-to-list text--blue--dark link--no-decor b__nudge--bottom block">
            ⟵ Retour à la liste
        </a>
        <section class="l__wrapper--slim">
            <h1 class="text--medium b__nudge--bottom-large">
                Contacter des membres de mon comité
            </h1>
            {% if contacts is empty %}
                <div class="error">Vous n'avez pas selectionné de membre destinataire de ce message, il ne pourra donc pas être envoyé.</div>
            {% else %}
                <div class="text--body">Votre message sera envoyé par e-mail à <span class="text--bold text--blue--dark">{{ '%s'|format('committee.members_count'|transchoice(contacts|length)) }}</span> de votre comité.</div>
            {% endif %}

            <div class="text--body b__nudge--bottom-large">
                Vous serez systématiquement mis(e) en copie des messages que vous envoyez.
            </div>

            {{ form_start(form) }}

                <input type="hidden" name="contacts" value="{{ contacts|json_encode }}" />

                <div class="form__row subject">
                    {{ form_label(form.subject, 'Objet') }}
                    {{ form_errors(form.subject) }}
                    {{ form_widget(form.subject, { attr: { class: 'form--full' } }) }}
                </div>

                <div class="form__row message">
                    {{ form_label(form.message, 'Message') }}
                    {{ form_errors(form.message) }}
                    {{ form_widget(form.message, { attr: { class: 'form--full form__field--textarea-300' } }) }}
                </div>

                {{ form_widget(form.submit, { label: 'Envoyer', attr: { class: 'btn btn--blue btn--large-and-full b__nudge--top' } }) }}

                <a href="{{ path('app_committee_manager_list_members', {'slug': committee.slug}) }}" class="btn btn--ghosting--blue btn--large-and-full b__nudge--top-15">
                    Annuler
                </a>
            {{ form_end(form) }}
        </section>
    </main>
{% endblock %}
