{% extends 'committee_manager/_space_layout.html.twig' %}

{% block page_title 'Modifier mon comité' %}

{% block javascripts %}
    {% import 'javascript.js.twig' as js %}
    <script type="text/javascript">
        Kernel.onLoad(function() {
            {{ js.address(form.address) }}
        });
    </script>
{% endblock %}

{% block committee_content %}
    <main>
        <section class="l__wrapper--slim">
            <h3 class="text--medium">Modifier mon comité</h3>
            {{ form_start(form, {attr: {'id': 'edit-committee-form', 'class': 'form committee-form b__nudge--top-40'}}) }}
                {{ include('committee/_form.html.twig') }}
                <div class="b__nudge--top-50">
                    <button type="submit" id="edit-committee" class="btn btn--blue btn--large-and-full">
                        Enregistrer
                    </button>
                    <a href="{{ path('app_committee_show', {'slug': committee.slug}) }}" class="btn btn--ghosting--blue btn--large-and-full b__nudge--top-15">
                        Annuler
                    </a>
                </div>
                {{ form_rest(form) }}
            {{ form_end(form) }}
        </section>
    </main>
{% endblock %}
