{% extends 'committee/_layout.html.twig' %}

{% block page_title 'Modifier mon comité' %}

{% block javascripts %}
    {% import 'javascript.js.twig' as js %}
    <script type="text/javascript">
        Kernel.onLoad(function() {
            {{ js.address(form.address) }}
        });
    </script>
{% endblock %}

{% block committee_content %}
    <main>
        <section class="l__wrapper--medium space--30-0">
            <a href="{{ path('app_committee_show', {'slug': committee.slug}) }}"
               class="back-to-list icon--with-text text--summary">
                {{ include('components/caret--left.html.twig') }}
                Retour au comité</a>

            <header class="space--30-0">
                <h1 class="b__nudge--bottom-small text--medium">
                    Modifier mon comité
                </h1>
            </header>

            <form method="post" id="edit-committee-form" class="form committee-form">
                {{ include('committee/_form.html.twig') }}
                <div>
                    <button type="submit" id="edit-committee" class="btn btn--blue">
                        Enregistrer
                    </button>
                    <a href="{{ path('app_committee_show', {'slug': committee.slug}) }}" class="btn">
                        Annuler
                    </a>
                </div>
                {{ form_rest(form) }}
            </form>
        </section>
    </main>
{% endblock %}
