{% extends 'committee_manager/_space_layout.html.twig' %}

{% block page_title 'Modifier mon comité' %}

{% block javascripts %}
    {% import 'javascript.js.twig' as js %}
    <script type="text/javascript">
        Kernel.onLoad(function() {
            {{ js.address(form.address) }}
        });
    </script>
{% endblock %}

{% block committee_content %}
    <main>
        <section class="l__wrapper--medium">
            {{ form_start(form, {attr: {'id': 'edit-committee-form', 'class': 'form committee-form'}}) }}
                {{ include('committee/_form.html.twig') }}
                <div>
                    <button type="submit" id="edit-committee" class="btn btn--blue">
                        Enregistrer
                    </button>
                    <a href="{{ path('app_committee_show', {'slug': committee.slug}) }}" class="btn">
                        Annuler
                    </a>
                </div>
                {{ form_rest(form) }}
            {{ form_end(form) }}
        </section>
    </main>
{% endblock %}
