{% extends 'committee_manager/_space_layout.html.twig' %}

{% block page_title 'Membres de mon comité' %}

{% block committee_content %}
    {% set is_supervisor = is_supervisor(committee) %}

    <section>
        <div class="datagrid__pre-table b__nudge--bottom">
            <h3>Adhérents</h3>

            {% if total_member_count %}
                <span class="datagrid__count">
                    <span>{{ members.totalItems|number_format(0, ',', ' ') }}</span> sur {{ total_member_count|number_format(0, ',', ' ') }} résultat{{ total_member_count > 1 ? 's' : '' }}
                </span>
            {% endif %}
        </div>

        <div class="manager__filters">
            <div class="manager__filters__form">
                {{ form_start(form) }}

                <h4 class="manager__filters__subtitle">Filtrer par</h4>

                {{ form_errors(form) }}

                <div class="manager__filters__row">
                    <div class="manager__filters__section">
                        <div class="manager__filters__group">
                            <div class="filter__row">
                                {{ form_label(form.firstName, 'Prénom', {label_attr: {class: 'filter__label'}}) }}
                                {{ form_widget(form.firstName, {attr: {class: 'filter__field', placeholder: 'Saisissez un prénom'}}) }}
                                {{ form_errors(form.firstName) }}
                            </div>

                            <div class="filter__row">
                                {{ form_label(form.city, 'Ville ou code postal', {label_attr: {class: 'filter__label'}}) }}
                                {{ form_widget(form.city, {attr: {class: 'filter__field', placeholder: 'Exemple : 59300, Valenciennes, Tourcoing'}}) }}
                                {{ form_errors(form.city) }}
                            </div>
                        </div>
                    </div>

                    <div class="manager__filters__section">
                        <div class="manager__filters__group">
                            <div class="filter__row">
                                {{ form_label(form.registeredSince, 'Date d\'adhésion', {label_attr: {class: 'filter__label'}}) }}
                                <div class="filter__multi">
                                    <label style="width: 45%">
                                        {{ form_widget(form.registeredSince, {label: false, attr: {class: 'filter__field'}}) }}
                                    </label>
                                    à
                                    <label style="width: 45%">
                                        {{ form_widget(form.registeredUntil, {label: false, attr: {class: 'filter__field'}}) }}
                                    </label>
                                </div>
                            </div>

                            <div class="filter__row">
                                {{ form_label(form.joinedSince, 'Rejoint le comité', {label_attr: {class: 'filter__label'}}) }}
                                <div class="filter__multi">
                                    <label style="width: 45%">
                                        {{ form_widget(form.joinedSince, {label: false, attr: {class: 'filter__field'}}) }}
                                    </label>
                                    à
                                    <label style="width: 45%">
                                        {{ form_widget(form.joinedUntil, {label: false, attr: {class: 'filter__field'}}) }}
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="manager__filters__section">
                        <div class="manager__filters__group">
                            <div class="filter__row">
                                {{ form_label(form.ageMin, 'Âge', {label_attr: {class: 'filter__label'}}) }}
                                <div class="filter__multi">
                                    <label style="width: 45%">
                                        {{ form_widget(form.ageMin, {label: false, attr: {class: 'filter__field', placeholder: 18}}) }}
                                    </label>
                                    à
                                    <label style="width: 45%">
                                        {{ form_widget(form.ageMax, {label: false, attr: {class: 'filter__field', placeholder: 99}}) }}
                                    </label>
                                </div>
                            </div>

                            <div class="filter__row">
                                {{ form_label(form.subscribed, 'common.adherent.status_email', {label_attr: {class: 'filter__label'}}) }}
                                {{ form_widget(form.subscribed, {attr: {class: 'filter__field'}}) }}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="manager__filters__actions b__nudge--top">
                    <button type="submit" class="btn btn--black b__nudge--bottom-medium">Filtrer</button>
                    <a href="{{ path('app_committee_manager_list_members', {slug: committee.slug}) }}"
                        class="btn btn--no-border b__nudge--bottom-medium btn-filter--reset"
                    >Réinitialiser le filtre</a>
                </div>

                {{ form_end(form) }}
            </div>
        </div>

        <div class="committee__members__nav">
            {% if members.count %}
                <a href="{{ path('app_committee_manager_list_members', {filter: filter.toArray}|merge({slug: committee.slug, export: true})) }}" id="members-export-button" class="btn-secondary btn-secondary--blue">Exporter tout</a>
            {% endif %}

            <a href="{{ path('app_supervisor_adherent_invitation', {slug: committee.slug}) }}" class="btn-secondary btn-secondary--blue datagrid__action--align-right">Inviter à adhérer</a>
        </div>

        {% set order = filter.order and filter.order == 'DESC' ? 'ASC' : 'DESC' %}

        <table class="datagrid__table-manager" cellpadding="10">
            <thead>
                <tr>
                    <th width="200px">Prénom nom</th>
                    <th width="50px">Âge</th>
                    <th width="50px">CP</th>
                    <th width="150px">Ville</th>
                    <th width="100px">Statut</th>
                    <th width="80px">Rôle</th>
                    <th width="100px">Adhérent depuis le</th>
                    <th width="100px">
                        <a href="{{ path('app_committee_manager_list_members', {filter: filter.toArray|merge({sort: 'joinedAt', order: order})}|merge({slug: committee.slug})) }}"
                            class="sort-link sort-link--order-{{ filter.sort == 'joinedAt' ? (filter.order == 'DESC' ? 'd' : 'a') : 'a' }}"
                        >A rejoint le comité le</a>
                    </th>

                    {% if is_supervisor %}
                        {% if is_canary_enabled()  %}
                            <th width="150px">Votant dans le comité</th>
                        {% endif %}

                        <th style="min-width: 150px;">Actions</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {% for membership in members %}
                    {% set member = membership.adherent %}
                    {% set is_promotable_host = membership.promotableHost %}
                    {% set is_demotable_host = is_promotable_host ? false : membership.demotableHost %}

                    <tr{{ not is_promotable_host ? ' class="host-member"' : '' }}>
                        <td class="member-name">{{ member.firstName|default('~')|capitalize }} {{ member.lastNameInitial|default('~') }}</td>
                        <td class="member-age">{{ member.age|default('~') }}</td>
                        <td class="member-postal-code">{{ member.postalCode|default('~') }}</td>
                        <td class="member-city-name">{{ member.cityName|default('~') }}</td>
                        <td>
                            <span class="status status__{{ member.hasSubscribedLocalHostEmails ? '1' : '2' }}">
                                {{ (member.hasSubscribedLocalHostEmails ? 'common.adherent.subscribed' : 'common.adherent.unsubscribed')|trans }}
                            </span>
                        </td>
                        <td>
                            {% if not is_promotable_host %}
                                {% if member.female %}
                                    {{ is_demotable_host ? 'Co-animatrice' : 'Animatrice' }}
                                {% else %}
                                    {{ is_demotable_host ? 'Co-animateur' : 'Animateur' }}
                                {% endif %}
                            {% else %}
                                Membre
                            {% endif %}
                        </td>

                        <td>{{ member.registeredAt|date('d/m/Y') }}</td>
                        <td class="member-subscription-date">{{ membership.subscriptionDate|date('d/m/Y') }}</td>

                        {% if is_supervisor %}
                            {% if is_canary_enabled() %}
                                <td>
                                    <span class="status status__{{ membership.isVotingCommittee() ? '1' : '2' }}">
                                        {{ membership.isVotingCommittee() ? 'Votant(e)' : 'Non-votant(e)' }}
                                    </span>
                                </td>
                            {% endif %}

                            <td>
                                {% if is_promotable_host %}
                                    <a href="{{ path('app_committee_promote_host', {'slug': committee.slug, 'member_uuid': member.uuid}) }}"
                                       title="Définir {{ member.female ? 'co-animatrice' : 'co-animateur' }}"
                                       class="promote-host-link text--blue--dark link--no-decor">
                                        Définir {{ member.female ? 'co-animatrice' : 'co-animateur' }}
                                    </a>
                                {% elseif is_demotable_host %}
                                    <a href="{{ path('app_committee_demote_host', {'slug': committee.slug, 'member_uuid': member.uuid}) }}"
                                       title="Définir membre"
                                       class="demote-host-link text--blue--dark link--no-decor">
                                        Définir membre
                                    </a>
                                {% endif %}
                            </td>
                        {% endif %}
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="{{ is_supervisor ? 10 : 8 }}" class="text--center">
                            <img src="{{ asset('/images/icons/icn_no-result.svg') }}" class="icn--no-result" width="30" />
                            La liste est vide
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        {% if members.count %}
            {% include 'components/_modern_pagination.html.twig' with {
                current_page: members.currentPage,
                total_pages: members.lastPage,
                pagination_route_params: {filter: filter.toArray}|merge({slug: committee.slug})
            } %}
        {% endif %}
    </section>
{% endblock %}
