{% extends 'committee_manager/_space_layout.html.twig' %}

{% block page_title 'Membres de mon comité' %}

{% block javascripts %}
    <script type="text/javascript">
        Kernel.onLoad(function() {
            App.runManageParticipants();
        });
    </script>
{% endblock %}

{% block committee_content %}
    {% set is_supervisor = is_supervisor(committee) %}

    <section>
        <div class="datagrid__pre-table b__nudge--bottom">
            <h3>Mes adhérents</h3>
        </div>

        <div class="committee__members__nav">
            <div>
                <form method="post" action="{{ path('app_committee_contact_members', {slug: committee.slug}) }}">
                    <input type="hidden" name="token" value="{{ csrf_token('committee.contact_members') }}" id="members-contact-token" />
                    <input type="hidden" name="contacts" value="" id="members-contact-selection" />

                    <button id="members-contact-button" class="btn-type-table" disabled="disabled">Contacter</button>
                </form>

                <form method="post" action="{{ path('app_committee_manager_export_members', {slug: committee.slug}) }}" class="b__nudge--bottom b__nudge--left-small">
                    <input type="hidden" name="token" value="{{ csrf_token('committee.export_members') }}" id="members-export-token" />
                    <input type="hidden" name="exports" value="" id="members-export-selection" />
                    <button id="members-export-button" disabled="disabled" class="btn-type-table">Exporter</button>
                </form>
            </div>
        </div>
        <table class="datagrid__table-manager" cellpadding="10">
            <thead>
                <tr>
                    <th width="50px"><input type="checkbox" id="members-check-all" /></th>
                    <th width="150px">Prénom</th>
                    <th width="150px">Nom</th>
                    <th width="75px">Âge</th>
                    <th width="100px">CP</th>
                    <th width="150px">Ville</th>
                    <th width="100px">Rôle</th>
                    <th width="100px">Adhérent depuis le</th>
                    <th width="100px">A rejoint le comité le</th>
                    {% if is_supervisor %}
                        <th style="min-width: 200px;">Actions</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
            {% for membership in members %}
                {% set member = membership.adherent %}
                {% set is_promotable_host = membership.promotableHost %}
                {% set is_demotable_host = is_promotable_host ? false : membership.demotableHost %}

                <tr{{ not is_promotable_host ? ' class="host-member"' : '' }}>
                    <td><input type="checkbox" name="members[]" value="{{ member.uuid }}" /></td>
                    <td class="member-first-name">{{ member.firstName|capitalize }}</td>
                    <td class="member-last-name">{{ member.lastNameInitial }}</td>
                    <td class="member-age">{{ member.age }}</td>
                    <td class="member-postal-code">{{ member.postalCode }}</td>
                    <td class="member-city-name">{{ member.cityName }}</td>
                    <td>
                        {% if not is_promotable_host %}
                            {% if member.female %}
                                {{ is_demotable_host ? 'Co-animatrice' : 'Animatrice' }}
                            {% else %}
                                {{ is_demotable_host ? 'Co-animateur' : 'Animateur' }}
                            {% endif %}
                        {% else %}
                            Membre
                        {% endif %}
                    </td>

                    <td>{{ membership.adherent.registeredAt|date('d/m/Y') }}</td>
                    <td class="member-subscription-date">{{ membership.subscriptionDate|date('d/m/Y') }}</td>

                    {% if is_supervisor %}
                        <td>
                            {% if is_promotable_host %}
                                <a href="{{ path('app_committee_promote_host', {'slug': committee.slug, 'member_uuid': member.uuid}) }}"
                                   title="Définir {{ member.female ? 'co-animatrice' : 'co-animateur' }}"
                                   class="promote-host-link text--blue--dark link--no-decor">
                                    Définir {{ member.female ? 'co-animatrice' : 'co-animateur' }}
                                </a>
                            {% elseif is_demotable_host %}
                                <a href="{{ path('app_committee_demote_host', {'slug': committee.slug, 'member_uuid': member.uuid}) }}"
                                   title="Définir membre"
                                   class="demote-host-link text--blue--dark link--no-decor">
                                    Définir membre
                                </a>
                            {% endif %}
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </section>
{% endblock %}
