{% extends 'committee_manager/_space_layout.html.twig' %}

{% block page_title 'Membres de mon comité' %}

{% block committee_content %}
    {% set is_supervisor = is_supervisor(committee) %}

    <section>
        <div class="datagrid__pre-table b__nudge--bottom">
            <h3>Adhérents</h3>

            {% if total_member_count %}
                <span class="datagrid__count">
                    <span>{{ members.totalItems|number_format(0, ',', ' ') }}</span> sur {{ total_member_count|number_format(0, ',', ' ') }} résultat{{ total_member_count > 1 ? 's' : '' }}
                </span>
            {% endif %}
        </div>

        <div class="manager__filters">
            <div class="manager__filters__form">
                {{ form_start(form) }}

                <h4 class="manager__filters__subtitle">Filtrer par</h4>

                {{ form_errors(form) }}

                <div class="manager__filters__row">
                    <div class="manager__filters__section">
                        <div class="manager__filters__group">
                            <div class="filter__row">
                                {{ form_label(form.firstName, 'Prénom', {label_attr: {class: 'filter__label'}}) }}
                                {{ form_widget(form.firstName, {attr: {class: 'filter__field', placeholder: 'Saisissez un prénom'}}) }}
                                {{ form_errors(form.firstName) }}
                            </div>

                            <div class="filter__row">
                                {{ form_label(form.city, 'Ville ou code postal', {label_attr: {class: 'filter__label'}}) }}
                                {{ form_widget(form.city, {attr: {class: 'filter__field', placeholder: 'Exemple : 59300, Valenciennes, Tourcoing'}}) }}
                                {{ form_errors(form.city) }}
                            </div>

                            <div class="filter__row">
                                {{ form_row(form.votersOnly, {label: 'Votant dans ce comité'}) }}
                            </div>
                        </div>
                    </div>

                    <div class="manager__filters__section">
                        <div class="manager__filters__group">
                            <div class="filter__row">
                                {{ form_label(form.registeredSince, 'Date d\'adhésion', {label_attr: {class: 'filter__label'}}) }}
                                <div class="filter__multi">
                                    <label style="width: 45%">
                                        {{ form_widget(form.registeredSince, {label: false, attr: {class: 'filter__field'}}) }}
                                    </label>
                                    à
                                    <label style="width: 45%">
                                        {{ form_widget(form.registeredUntil, {label: false, attr: {class: 'filter__field'}}) }}
                                    </label>
                                </div>
                            </div>

                            <div class="filter__row">
                                {{ form_label(form.joinedSince, 'Rejoint le comité', {label_attr: {class: 'filter__label'}}) }}
                                <div class="filter__multi">
                                    <label style="width: 45%">
                                        {{ form_widget(form.joinedSince, {label: false, attr: {class: 'filter__field'}}) }}
                                    </label>
                                    à
                                    <label style="width: 45%">
                                        {{ form_widget(form.joinedUntil, {label: false, attr: {class: 'filter__field'}}) }}
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="manager__filters__section">
                        <div class="manager__filters__group">
                            <div class="filter__row">
                                {{ form_label(form.ageMin, 'Âge', {label_attr: {class: 'filter__label'}}) }}
                                <div class="filter__multi">
                                    <label style="width: 45%">
                                        {{ form_widget(form.ageMin, {label: false, attr: {class: 'filter__field', placeholder: 18}}) }}
                                    </label>
                                    à
                                    <label style="width: 45%">
                                        {{ form_widget(form.ageMax, {label: false, attr: {class: 'filter__field', placeholder: 99}}) }}
                                    </label>
                                </div>
                            </div>

                            <div class="filter__row">
                                {{ form_label(form.subscribed, 'common.adherent.status_email', {label_attr: {class: 'filter__label'}}) }}
                                {{ form_widget(form.subscribed, {attr: {class: 'filter__field'}}) }}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="manager__filters__actions b__nudge--top">
                    <button type="submit" class="btn btn--black b__nudge--bottom-medium">Filtrer</button>
                    <a href="{{ path('app_committee_manager_list_members', {slug: committee.slug}) }}"
                        class="btn btn--no-border b__nudge--bottom-medium btn-filter--reset"
                    >Réinitialiser le filtre</a>
                </div>

                {{ form_end(form) }}
            </div>
        </div>

        <div class="committee__members__nav">
            {% if members.count %}
                <a href="{{ path('app_committee_manager_list_members', {filter: filter.toArray}|merge({slug: committee.slug, export: true})) }}" id="members-export-button" class="btn-secondary btn-secondary--blue">Exporter tout</a>
            {% endif %}

            <a href="{{ path('app_supervisor_adherent_invitation', {slug: committee.slug}) }}" class="btn-secondary btn-secondary--blue datagrid__action--align-right">Inviter à adhérer</a>
        </div>

        {% set order = filter.order and filter.order == 'DESC' ? 'ASC' : 'DESC' %}

        <table class="datagrid__table-manager" cellpadding="10">
            <thead>
                <tr>
                    <th width="200px">Prénom nom</th>
                    <th width="50px">Âge</th>
                    <th width="50px">CP</th>
                    <th width="150px">Ville</th>
                    <th width="100px">Statut</th>
                    <th width="80px">Rôle</th>
                    <th width="100px">Adhérent depuis le</th>
                    <th width="100px">
                        <a href="{{ path('app_committee_manager_list_members', {filter: filter.toArray|merge({sort: 'joinedAt', order: order})}|merge({slug: committee.slug})) }}"
                            class="sort-link sort-link--order-{{ filter.sort == 'joinedAt' ? (filter.order == 'DESC' ? 'd' : 'a') : 'a' }}"
                        >A rejoint le comité le</a>
                    </th>
                    <th width="150px">Votant dans le comité</th>
                    {% if is_supervisor %}
                        <th style="min-width: 150px;">Actions</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {{ include('committee_manager/_member_rows.html.twig') }}
            </tbody>
        </table>

        {% if members.count %}
            {% include 'components/_modern_pagination.html.twig' with {
                current_page: members.currentPage,
                total_pages: members.lastPage,
                pagination_route_params: {filter: filter.toArray}|merge({slug: committee.slug})
            } %}
        {% endif %}
    </section>
{% endblock %}
