{% extends 'committee_manager/_layout_committee.html.twig' %}

{% block page_title 'Promouvoir un membre' %}

{% block committee_content %}
    <section class="b__nudge--top-5 b__nudge--bottom-huge">
        <header class="l__wrapper b__nudge--bottom-tiny">
            <h2 class="text--center text--medium font-gillsans">Promouvoir un adhérent</h2>
            <hr/>
        </header>
        <div class="l__wrapper--600 center-block l__col">
            <div class="text--body b__nudge--bottom-large">
                Voulez-vous vraiment définir <strong>{{ member.partialName }}</strong>
                comme {{ member.gender == 'female' ? 'co-animatrice' : 'co-animateur' }}
                du comité <br/>
                <strong>{{ committee.name }}</strong> ?
            </div>

            <div class="committee__members__nav">
                <div>
                    <form method="post" action="">
                        {{ form_widget(form) }}

                        <button type="submit" id="members-promote-button" class="btn btn--primary b__nudge--right">
                            Oui, promouvoir l'adhérent
                        </button>
                        <a href="{{ path('app_committee_manager_list_members', {'slug': committee.slug}) }}" class="btn">
                            Non, annuler
                        </a>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
