{% extends 'legislatives/layout.html.twig' %}

{% block page_title referent.fullName %}
{% block canonical_url url('our_referents_referent', { slug: referent.slug}) %}
{% block meta_description "#{referent.fullName} est le ou la référent(e) du département #{referent.adherentReferentData.tagsLabel}. Il ou elle répresente le mouvement de La République En Marche ! au sein de ce territoire et est en charge de la coordination avec les élus, les comités locaux et les représentants du mouvement au niveau national." %}

{% block navMap %}{% endblock %}

{% block content__inner %}
    <div class="l__wrapper">
        <a href="{{ path('our_referents_homepage') }}" class="icon--with-text text--summary space--20-0" title="Retour à la liste des candidats">
            {{ include('components/caret--left.html.twig') }}
            Retour à la liste des référents
        </a>
    </div>

    <div class="l__wrapper--medium space--30-0 l__row l__row--h-stretch l__mobile--col"
         id="candidate-profile">
        <div class="legislatives__candidate__photo progressive-background link--no-decor"
             id="candidat-profile-picture"
                {% if referent.adherentReferentData.profilePicture  %}
                    data-sd="{{ media_asset(referent.adherentReferentData.profilePicture, { w: 50, q: 20 }) }}"
                    data-hd="{{ media_asset(referent.adherentReferentData.profilePicture, { w: 640, q: 70 }) }}"
                {% else  %}
                    data-sd="{{ static_asset('legislatives/unknown-referent.jpg', { w: 50, q: 20 }) }}"
                    data-hd="{{ static_asset('legislatives/unknown-referent.jpg', { w: 640, q: 70 }) }}"
                {% endif %}
        >
        </div>
        <div class="legislatives__candidate__info">
            <h1 class="text--large">{{ referent.fullName }}</h1>
            <span class="text--body" id="candidate-district-name">{{ referent.adherentReferentData.tagsLabel }}</span>
            {% if referent.adherentReferentData.hasWebPages %}
                {% set website_url_class = 'btn--muted' %}
                {{ include('referent/nomination/_referent_links.html.twig', {
                    show_name: true,
                    website_url_class: 'btn ' ~ website_url_class
                }) }}
            {% endif %}
        </div>
    </div>

    <div class="l__wrapper--slim text--body b__nudge--bottom-huge" id="candidate-description">
        {{ referent.adherentReferentData.description|markdown }}
    </div>
{% endblock %}
