<h2 class="b__nudge--bottom">Ma fiche contact</h2>

{{ form_row(summary_form.contact_email, { label: 'Votre email' }) }}
{{ form_row(summary_form.linked_in_url, { label: 'Votre compte LinkedIn' }) }}
{{ form_row(summary_form.website_url, { label: 'Votre site internet' }) }}
{{ form_row(summary_form.facebook_url, { label: 'Votre compte Facebook' }) }}
{{ form_row(summary_form.twitter_nickname, { label: 'Votre compte Twitter' }) }}
{{ form_row(summary_form.viadeo_url, { label: 'Votre compte Viadeo' }) }}

<div class="l__row l__row--wrap l__tablet-col b__nudge--bottom-large">
    {{ form_row(summary_form.personal_data_collection) }}
</div>

<p class="text--summary text--gray">
    Les données recueillies sur ce formulaire sont traitées par LaREM afin de gérer les informations relatives à la gestion du profil par l’utilisateur sur le site LaREM et de permettre à LaREM de vous envoyer des communications politiques.
    Les informations marquées d’un astérisque sont obligatoires. L’absence de réponse dans ces champs ne permettra pas à LaREM de traiter votre demande.
    Conformément à la règlementation, vous disposez d’un droit d’opposition et d’un droit à la limitation du traitement de données vous concernant, ainsi que d’un droit d’accès, de rectification, de portabilité et d’effacement de vos données. Vous disposez également de la faculté de donner des directives sur le sort de vos données après votre décès.
    Vous pouvez exercer vos droits en nous adressant votre demande accompagnée d’une copie de votre pièce d’identité à l’adresse postale ou électronique suivante : La République En Marche, 63 rue Sainte-Anne, 75002 Paris ou <a href="mailto:mes-donnees@en-marche.fr">mes-donnees@en-marche.fr</a>.
</p>
