<section class="l__wrapper--medium">
    {% block summary_content %}
        <h3>Ajouter une compétence</h3>

        <div class="l__row l__row--h-stretch l__row--top l__tablet--col b__nudge--bottom-large">
            {{ form_start(summary_form) }}
            {{ form_errors(summary_form) }}
            {{ form_widget(summary_form.skill_search) }}
            {{ form_widget(summary_form.skills) }}
            {{ form_end(summary_form) }}
        </div>
    {% endblock %}
</section>

{% block javascripts %}
    <script type="text/javascript" src={{ asset('bundles/sonataadmin/vendor/jquery/dist/jquery.min.js') }}></script>
    <script type="text/javascript" src={{ asset('bundles/sonataadmin/vendor/jqueryui/ui/jquery-ui.js') }}></script>
    <script type="text/javascript">
        $(document).ready(function() {
            var skillList = $('#summary_skills');
            var removeSkill = function() {
                $(".summary-skill-remove").unbind("click");
                $(".summary-skill-remove").click(function() {
                    $(this).parent().parent().parent().remove();
                });
            };

            // Prevent submitting form by pressing enter
            $(window).keydown(function(event){
                if(event.keyCode == 13) {
                    event.preventDefault();
                    return false;
                }
            });

            // Add skill autocomplete
            $("#summary_skill_search").autocomplete({
                source: "{{ path('app_summary_manager_skills_autocomplete') }}",
                minLength: 2,
                messages: {
                    noResults: '',
                    results: function() {},
                }
            });

            // Add skill by pressing enter
            $("#summary_skill_search").keyup(function(e){
                if(e.which == 13 || e.keyCode == 13){
                    e.preventDefault();

                    var skillCount = 0;
                    $('.summary-skill > input[type=hidden]').each(function() {
                        skillCount = Math.max(this.id.replace(/[^0-9]/g, ''), skillCount);
                    });
                    skillCount++;

                    var newSkillWidget = skillList.attr('data-prototype');
                    newSkillWidget = newSkillWidget.replace(/__name__/g, skillCount);
                    $(newSkillWidget).appendTo(skillList);
                    var idNewSkill = "#"+$(newSkillWidget).children('div').attr('id');
                    $(idNewSkill).find('input').val($(this).val());
                    $(idNewSkill).find('.summary-skill-value').text(' '+$(this).val());

                    $(this).val('');
                    removeSkill();
                }
            });

            removeSkill();
        });
    </script>
{% endblock %}
