{% extends 'procuration/_layout.html.twig' %}

{% block page_title 'Merci de votre participation ! - Procuration' %}
{% block subtitle '' %}

{% block procuration_content %}
    <section class="procuration__thanks l__wrapper--slim text--center space--60-0">
        {{ cms_block('procuration-proxy-thanks-content') }}

        <div class="space--30-0">
            <div class="text--medium text--bold b__nudge--bottom">
                Proposez à vos amis de devenir mandataires !
            </div>
            <ul>
                <li role="button" aria-label="Partagez sur Facebook"
                    class="btn btn--social btn--facebook"
                    onclick="App.share('facebook', '{{ url('app_procuration_proxy_proposal') }}', 'Chaque vote compte. Allez voter au nom d’un citoyen.')">
                    <i class="fa fa-facebook-square"></i> <span>Partagez</span>
                </li>
                <li role="button" aria-label="Partagez via Twitter"
                    class="btn btn--social btn--twitter"
                    onclick="App.share('twitter', '{{ url('app_procuration_proxy_proposal') }}', 'Chaque vote compte. Allez voter au nom d’un citoyen.')">
                    <i class="fa fa-twitter"></i> <span>Tweetez</span>
                </li>
                <li role="button" aria-label="Partagez via email"
                    class="btn btn--social btn--email"
                    onclick="App.share('email', '{{ url('app_procuration_proxy_proposal') }}', 'Chaque vote compte. Allez voter au nom d’un citoyen.')">
                    <i class="fa fa-envelope-o"></i> <span>Envoyez</span>
                </li>
            </ul>
        </div>

        <p>
            <a href="{{ path('app_procuration_proxy_proposal') }}" class="btn">
                Recommencer
            </a>
        </p>

        <p><a href="https://avecvous.fr">Retourner sur avecvous.fr</a></p>

        <p class="text--summary b__nudge--top-50">
            {{ cms_block('procuration-support-contact') }}
        </p>
    </section>
{% endblock %}
