{% extends 'renaissance/adherent/contribution/_layout.html.twig' %}

{% block contribution_content %}
    <div class="rounded-md bg-blue-50 p-4">
        <div class="flex">
            <div class="shrink-0">
                {{ include('icons/money.svg.twig', {svg_class: 'h-5 w-5 text-re-blue-400'}) }}
            </div>
            <div class="ml-3 flex-1 md:flex md:justify-between">
                <p class="text-sm text-blue-700">
                    Montant de cotisation mensuelle calculé: <span class="font-medium text-re-blue-700">{{ command.contributionAmount }}€</span>
                    <br>(soit {{ command.contributionAmountAfterTax }}€ après réduction d’impôts)
                </p>

                <p class="mt-3 text-sm md:mt-0 md:ml-6">
                    <a href="{{ path('app_renaissance_contribution_fill_revenue') }}" class="whitespace-nowrap text-blue-700 hover:text-blue-500">
                        Modifier le montant des indemnités
                        <span aria-hidden="true"> &larr;</span>
                    </a>
                </p>
            </div>
        </div>
    </div>
    <p class="text-base leading-6 text-gray-500">
        {{ cms_block('renaissance-elected-representative-contribution-step-2') }}
    </p>

    <div class="mt-5">
        <a class="button button-blue" href="{{ path('app_renaissance_contribution_fill_informations') }}">Valider</a>
    </div>
{% endblock %}
