{% block donation_form %}
    <div class="donation__form">
        <ul class="donation__form-steps">
            <li class="active">Coordonnées</li>
            <li>Paiement</li>
            <li>Confirmation</li>
        </ul>
        <h2>Je soutiens Emmanuel Macron</h2>
        <span class="fluo">Vous êtes une majorité à donner 50€</span>

        {{ form_start(form, { attr: { class: 'form' } }) }}
            {{ form_errors(form) }}

            <p>
                Sélectionnez le montant de votre don :
            </p>

            {{ form_errors(form.amount) }}

            {{ form_widget(form.amount, { 'attr': { 'class': 'form--full', 'id': 'donation-amount' } }) }}

            {% if form.vars.sponsor_form is defined %}

                <div class="form__row form__row--stretch">
                    {{ form_errors(form.gender) }}
                    {{ form_widget(form.gender) }}
                </div>

                <div class="form__row">
                    {{ form_errors(form.lastName) }}
                    {{ form_widget(form.lastName, { 'attr': { 'class': 'form--full',
                                                    'placeholder': 'Nom' } }) }}
                </div>

                <div class="form__row">
                    {{ form_errors(form.firstName) }}
                    {{ form_widget(form.firstName, { 'attr': { 'class': 'form--full',
                                                     'placeholder': 'Prénom' } }) }}
                </div>

                <div class="form__row">
                    {{ form_errors(form.email) }}
                    {{ form_widget(form.email, { 'attr': { 'class': 'form--full',
                                                 'placeholder': 'Adresse email' } }) }}
                </div>

                <div id="donation-address">
                    <div class="form__row">
                        {{ form_errors(form.country) }}
                        {{ form_widget(form.country, { 'attr': { 'class': 'form--full' } }) }}
                    </div>

                    <div class="form__row form__row--stretch">
                        {{ form_errors(form.postalCode) }}
                        {{ form_widget(form.postalCode, { 'attr': { 'class': 'form--mid', 'placeholder': 'Code postal' } }) }}
                        {{ form_widget(form.city, { 'attr': { 'class': 'form--mid' } }) }}
                    </div>

                    <div class="form__row">
                        {{ form_errors(form.address) }}
                        {{ form_widget(form.address, { 'attr': { 'class': 'form--full',
                                                       'placeholder': 'Adresse postale' } }) }}
                    </div>
                </div>

                <div class="form__row form__row--stretch">
                    {{ form_errors(form.phone) }}
                    {{ form_widget(form.phone.country, { 'attr': { 'class': 'donation__form__phone, form--mid'} }) }}
                    {{ form_widget(form.phone.number, { 'attr': { 'class': 'form--mid',
                                                        'placeholder': 'Numéro de téléphone' } }) }}
                </div>

            {% endif %}

            {% if form.pass is defined %}
                {{ form_widget(form.pass, { label: 'adherent.pass_donation_label' }) }}
            {% endif %}

            {{ form_widget(form.submit, { 'attr': { 'class': 'btn--large btn--primary' } }) }}

            {{ form_rest(form) }}
        {{ form_end(form) }}
    </div>
{% endblock %}
