{% extends 'base.html.twig' %}

{% block page_title 'Je donne' %}
{% block meta_description 'En Marche est un mouvement indépendant, qui ne reçoit pas un seul euro de subvention de l’Etat ni d’aucun parti politique. Notre réussite repose uniquement sur votre générosité.' %}
{% block canonical_url url('donation_index') %}

{% block stylesheets %}
    <style type="text/css">
        header,
        footer div div:nth-child(2),
        footer div div:nth-child(3) {
            display: none;
        }
    </style>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        Kernel.onLoad(function() {
            App.creteAddressSelector(
                '{{ form.address.country.vars.id }}',
                '{{ form.address.postalCode.vars.id }}',
                '{{ form.address.city.vars.id }}',
                '{{ form.address.cityName.vars.id }}'
            );
        });
    </script>
{% endblock %}

{% block banner '' %}

{% block content %}

    <div class="donation">

        <section class="donation__header l__wrapper l__row l__row--h-stretch list__links--nav">
            <h1><a href="{{ path('homepage') }}" class="link--no-decor">En Marche !</a></h1>
            <div class="text--white text--all-caps"><i class="fa fa-lock text--medium-small"></i> Page Sécurisée</div>
        </section>

        <section class="l__wrapper l__row space--60-0">
            <div class="donation__form">
                <ul class="donation__form-steps">
                    <li class="active">Coordonnées</li>
                    <li>Paiement</li>
                    <li>Confirmation</li>
                </ul>
                <h2>Je soutiens Emmanuel Macron</h2>
                <span class="fluo">Vous êtes une majorité à donner 50€</span>

                {{ form_start(form, { attr: { class: 'form' } }) }}
                {{ form_errors(form) }}

                <p>
                    Sélectionnez le montant de votre don :
                </p>

                {{ form_errors(form.amount) }}

                {{ form_widget(form.amount, { 'attr': { 'class': 'form--full' } }) }}

                <div class="form__row form__row--stretch">
                    {{ form_errors(form.gender) }}
                    {{ form_widget(form.gender) }}
                </div>

                <div class="form__row">
                    {{ form_errors(form.lastName) }}
                    {{ form_widget(form.lastName, { 'attr': { 'class': 'form--full', 'placeholder': 'Nom' } }) }}
                </div>

                <div class="form__row">
                    {{ form_errors(form.firstName) }}
                    {{ form_widget(form.firstName, { 'attr': { 'class': 'form--full', 'placeholder': 'Prénom' } }) }}
                </div>

                <div class="form__row">
                    {{ form_errors(form.emailAddress) }}
                    {{ form_widget(form.emailAddress, { 'attr': { 'class': 'form--full', 'placeholder': 'Adresse email' } }) }}
                </div>

                {{ form_errors(form.address) }}

                <div class="form__row">
                    {{ form_errors(form.address.country) }}
                    {{ form_widget(form.address.country, { 'attr': { 'class': 'form--full' } }) }}
                </div>

                <div class="form__row form__row--stretch">
                    <div class="form--mid">
                        {{ form_errors(form.address.postalCode) }}
                        {{ form_widget(form.address.postalCode, { 'attr': { 'class': 'form--full', 'placeholder': 'Code postal' } }) }}
                    </div>
                    <div class="form--mid">
                        {{ form_errors(form.address.city) }}
                        {{ form_widget(form.address.city) }}
                        {{ form_widget(form.address.cityName, { 'attr': { 'class': 'form--full', 'placeholder': 'Ville' } }) }}
                    </div>
                </div>

                <div class="form__row">
                    {{ form_errors(form.address.address) }}
                    {{ form_widget(form.address.address, { 'attr': { 'class': 'form--full', 'placeholder': 'Adresse postale' } }) }}
                </div>

                <div class="form__row form__row--stretch">
                    {{ form_errors(form.phone) }}
                    {{ form_widget(form.phone.country, { 'attr': { 'class': 'donation__form__phone, form--mid'} }) }}
                    {{ form_widget(form.phone.number, { 'attr': { 'class': 'form--mid', 'placeholder': 'Numéro de téléphone' } }) }}
                </div>

                {{ form_widget(form.submit, { 'attr': { 'class': 'btn--large btn--primary' } }) }}

                {{ form_rest(form) }}
                {{ form_end(form) }}
            </div>

            <div class="donation__form-note">
                <div class="donation__form-quote">
                    « Pour mettre la France en marche, nous avons besoin de votre soutien car notre mouvement ne
                    bénéficie d’aucun financement public. Nous avons besoin de vos dons pour organiser des meetings,
                    vous rencontrer dans toutes les régions de France… Aidez nous à gagner, aidez nous à faire gagner
                    vos idées ! »
                </div>
                <img src="{{ asset('images/donation-signature.png') }}" style="width: 350px; padding: 25px;" />
            </div>
        </section>
    </div>

{% endblock %}
