{% extends 'donation/layout.html.twig' %}

{% block donation_content %}
    <ul class="donation__form-steps">
        <li><a href="{{ path('donation_index', {'montant': donation.amount}) }}">Montant</a></li>
        <li class="active">Coordonnées</li>
        <li>Paiement</li>
        <li>Confirmation</li>
    </ul>

    <div class="donation__informations">
        <div class="donation__informations__amount">
            Je donne<br />
            <h3>{{ donation.amount }}€</h3>
        </div>

        {{ form_start(form, { attr: { class: 'form' } }) }}
        {{ form_errors(form) }}

        <div class="l__row l__row--h-stretch b__nudge--bottom-tiny form__radio-button">
            {{ form_widget(form.gender, { attr: { class: 'register__form__gender' } }) }}
            {{ form_errors(form.gender) }}
        </div>

        <div class="form__row">
            {{ form_errors(form.lastName) }}
            {{ form_widget(form.lastName, { 'attr': { 'class': 'form--full', 'placeholder': 'Nom' } }) }}
        </div>

        <div class="form__row">
            {{ form_errors(form.firstName) }}
            {{ form_widget(form.firstName, { 'attr': { 'class': 'form--full', 'placeholder': 'Prénom' } }) }}
        </div>

        <div class="form__row">
            {{ form_errors(form.emailAddress) }}
            {{ form_widget(form.emailAddress, { 'attr': { 'class': 'form--full', 'placeholder': 'Adresse email' } }) }}
        </div>

        {{ form_errors(form.address) }}

        <div class="form__row">
            {{ form_errors(form.country) }}
            {{ form_widget(form.country, { 'attr': { 'class': 'form--full' } }) }}
        </div>

        <div class="form__row form__row--stretch">
            <div class="form--mid">
                {{ form_errors(form.postalCode) }}
                {{ form_widget(form.postalCode, { 'attr': { 'class': 'form--full', 'placeholder': 'Code postal' } }) }}
            </div>
            <div class="form--mid">
                {{ form_errors(form.cityName) }}
                {{ form_widget(form.cityName, { 'attr': { 'class': 'form--full', 'placeholder': 'Ville' } }) }}
            </div>
        </div>

        <div class="form__row">
            {{ form_errors(form.address) }}
            {{ form_widget(form.address, { 'attr': { 'class': 'form--full', 'placeholder': 'Adresse postale' } }) }}
        </div>

        <div class="form__row form__row--stretch">
            {{ form_errors(form.phone) }}
            {{ form_widget(form.phone.country, { 'attr': { 'class': 'donation__form__phone, form--mid'} }) }}
            {{ form_widget(form.phone.number, { 'attr': { 'class': 'form--mid', 'placeholder': 'Numéro de téléphone' } }) }}
        </div>

        <div class="form__row form__checkbox form__checkbox--large">
            <input type="checkbox" required="required" id="donation_check" />
            <label for="donation_check">
                Je certifie sur l'honneur être une personne physique et que le règlement de mon don
                provient de mon compte bancaire personnel ou de celui de mon conjoint, concubin,
                ascendant ou descendant.
            </label>
        </div>

        {{ form_widget(form.submit, { 'attr': { 'class': 'btn--large-and-medium btn--primary' } }) }}

        <p class="text--summary b__nudge--top-50 text--left">
            Aux termes de l'article 11-4 de la loi n° 88-227 du 11 mars 1988 relative à la transparence financière
            de la vie politique modifiée par la loi n° 2017-286 du 6 mars 2017 : « les dons consentis et les cotisations
            versées en qualité d'adhérent d'un ou de plusieurs partis politiques par une personne physique dûment
            identifiée à une ou plusieurs associations agréées en qualité d'association de financement ou à un ou
            plusieurs mandataires financiers d'un ou de plusieurs partis politiques ne peuvent annuellement excéder
            7 500 euros. […] Les personnes morales à l'exception des partis ou groupements politiques ne peuvent
            contribuer au financement des partis ou groupements politiques, ni en consentant des dons, sous quelque
            forme que ce soit, à leurs associations de financement ou à leurs mandataires financiers, ni en leur
            fournissant des biens, services ou autres avantages directs ou indirects à des prix inférieurs à ceux qui
            sont habituellement pratiqués. ». L'article 11-5 de la loi n° 88-227 précitée dispose également que « Ceux
            qui ont versé des dons à un ou plusieurs partis politiques en violation de l'article 11-4 sont punis d'une
            amende de 3 750 euros et d'un an d'emprisonnement. »
            <br /><br />
            Ces dons sont versés à l’AFEMA (Association de financement de l’association En Marche agréée le 7 Mars
            2016 sous le n°1158) au bénéfice du parti politique En Marche EMA (Numéro RNA W943004354).
            <br /><br />
            Les informations que vous nous communiquez sont nécessaires à la gestion de vos dons et de nos relations.
            Elles sont exclusivement réservées à l’usage d’En Marche et de l’AFEMA et en retournant le formulaire vous
            autorisez celles-ci à utiliser vos données pour des opérations de communication politique et de dons. Vos
            informations ne pourront être communiquées qu’aux personnes habilitées d’En Marche et de l’AFEMA et aux
            cocontractants qui, en leur qualité de sous-traitants, n’agiront que sur instruction et seront soumis à
            une stricte obligation de confidentialité. Certains de ces partenaires peuvent avoir des activités dans
            des pays situés en dehors de l’Union Européenne, notamment aux fins d’hébergement des données. Vos données
            pourront être transférées dans des pays présentant une protection adéquate au regard des garanties
            imposées par la loi informatique et libertés du 6 janvier 1978, et dans le cadre des clauses contractuelles
            types de la Commission européenne. En application des articles 38 et suivants de la loi du 6 janvier 1978,
            vous bénéficiez des droits d’accès et de rectification aux informations vous concernant. Vous pouvez
            également, pour des motifs légitimes, vous opposer au traitement des données vous concernant. Vous pouvez
            exercer ces droits en nous écrivant à l’adresse : En Marche – BP 80 049 – 94801 Villejuif – France.
        </p>

        {{ form_rest(form) }}
        {{ form_end(form) }}
    </div>
{% endblock %}
