{% extends 'donation/layout.html.twig' %}

{% block javascripts %}
    <script type="text/javascript">
        Kernel.onLoad(function() {
            hide(dom('#app-donation-redirect-form'));
            show(dom('#app-donation-redirect-loader'));
            document.getElementById('app-donation-redirect-form').submit();
        });
    </script>
{% endblock %}

{% block donation_content %}
    <ul class="donation__form-steps">
        <li>Montant</li>
        <li>Coordonnées</li>
        <li>Paiement</li>
        <li class="active">Confirmation</li>
    </ul>

    <div class="donation__result {{ successful ? 'donation__result--successful' : 'donation__result--failure' }}">
        {% if successful %}
            <div class="donation__result--successful__amount">
                Paiement réussi de<br />
                <h3>{{ (donation.amount/100)|round(2) }}€</h3>
            </div>
            <div class="donation__result--successful__thankyou">
                Votre soutien compte<br />
                beaucoup pour moi.<br />
                Vous êtes maintenant<br />
                un acteur de la révolution<br />
                En Marche !
            </div>
            <div class="donation__result--successful__thankyou">
                Faites le savoir à vos<br />
                proches, diffusez nos idées,<br />
                rejoignez nos comités<br />
                locaux. Soyez fier d’être<br />
                En Marche !
            </div>
            <div class="donation__result--successful__share-pride">
                « Fier d’être en Marche ! »
            </div>
            <ul class="donation__result--successful__sharer">
                <li role="button" arial-label="Partagez sur Facebook"
                    class="btn btn-medium btn--social btn--facebook"
                    onclick="App.share('facebook', '{{ url('donation_index') }}', 'Fier d’être en Marche ! J\'ai donné, et vous ?')">
                    <i class="fa fa-facebook-square"></i> <span>Je partage</span>
                </li>
                <li role="button" arial-label="Partagez via Twitter"
                    class="btn btn-medium btn--social btn--twitter"
                    onclick="App.share('twitter', '{{ url('donation_index') }}', 'Fier d’être en Marche ! J\'ai donné, et vous ?')">
                    <i class="fa fa-twitter"></i> <span>Je tweete</span>
                </li>
            </ul>
            <p>
                <a href="{{ path('homepage') }}" class="btn btn-medium">
                    Retour à l'accueil
                </a>
            </p>
        {% else %}
            <h3>
                Votre don n'a pas été effectué, soit car vous l'avez annulé soit car une erreur s'est produite.
            </h3>

            <p>
                <a href="{{ retry_url }}" class="btn btn--medium btn--primary">
                    Je souhaite réessayer
                </a>
            </p>

            <p class="donation-result__support">
                Si le problème se reproduit et que vous ne le comprenez pas, n'hésitez pas à contacter le
                <a href="mailto:support@en-marche.fr">support En Marche</a>.
            </p>
        {% endif %}
    </div>
{% endblock %}
