{% extends 'base.html.twig' %}

{% block banner '' %}

{% block title %}
    Suivre des comités {{ parent() }}
{% endblock %}

{% block content %}
    <main>
        <section class="content l__wrapper--slim register__comites">
            <header class="l__wrapper--slim space--60-0 text--center">
                <h1 class="text--large">
                    Pour terminer
                </h1>
                <h2 class="b__nudge--top-15">Suivez l'actualité des comités locaux près de chez vous.<br>C'est le cœur du mouvement En Marche !</h2>
            </header>
            <div class="membership_choose_nearby_committee__form">
                {{ form_start(form) }}
                    {{ form_row(form.committees) }}
                    <div>* En cochant ces cases, j'accepte de recevoir l'actualité des comités sélectionnés</div>
                    {{ form_row(form.submit) }}
                {{ form_end(form) }}
            </div>
        </section>
    </main>
{% endblock %}
