{% extends 'base.html.twig' %}

{% block content %}

    <section class="l__wrapper--medium">
        <div class="registering_donation">
            <h2>En Marche ! ne bénéficie pas de subventions. Soutenez-nous !</h2>

            <div class="l__row l__row--top l__row--h-stretch">

                {{ form_start(form, { attr: { class: 'form' } }) }}
                    {{ form_errors(form) }}

                    <p>
                        Sélectionnez le montant de votre don :
                    </p>

                    {{ form_errors(form.amount) }}
                    {{ form_widget(form.amount, { 'attr': { 'class': 'form--full', 'id': 'donation-amount' } }) }}

                    {{ form_widget(form.pass, { label: 'adherent.pass_donation_label', translation_domain: 'messages' }) }}
                    {{ form_widget(form.submit, { translation_domain: 'messages' }) }}

                    {{ form_rest(form) }}
                {{ form_end(form) }}

                <p class="donation__form-explainations">
                    Votre don vous donne droit à une réduction annuelle d’impôt sur le revenu à hauteur de 66%
                    de son montant, dans la double limite de 20% du revenu imposable et de 15 000 € par foyer fiscal.
                </p>
            </div>
        </div>
    </section>

{% endblock %}
