{% extends 'base.html.twig' %}

{% block banner '' %}
{% block page_title 'Soutenez-nous !' %}

{% block content %}

    <main>
        <section class="register__donation content b__nudge--bottom-huge">
            <header class="l__wrapper--slim space--60-0">
                <h1 class="text--center text--large">
                    En Marche ! ne bénéficie pas de subventions. Soutenez-nous !
                </h1>
            </header>

            <hr class="l__wrapper b__nudge--bottom-large"/>

            <article class="l__wrapper--slim">
                {{ form_start(form, { attr: { class: 'form text--center' } }) }}
                    {{ form_errors(form) }}

                    {{ form_errors(form.amount) }}
                    {{ form_widget(form.amount, { 'attr': { 'class': 'amount-chooser' } }) }}

                    <div class="l__col l__wrapper-500 b__nudge--top">
                        {{ form_widget(form.submit, { translation_domain: 'messages', attr : { class: 'btn--primary b__nudge--bottom-small' } }) }}
                    </div>
                    <div class="l__col l__wrapper-500">
                        {{ form_widget(form.pass, { label: 'adherent.pass_donation_label', translation_domain: 'messages', attr: { class: 'b__nudge--bottom-small' } }) }}
                    </div>

                    {{ form_rest(form) }}
                {{ form_end(form) }}

                <p class="text--body">
                    Votre don vous donne droit à une réduction annuelle d’impôt sur le revenu à hauteur de 66%
                    de son montant, dans la double limite de 20% du revenu imposable et de 15 000 € par foyer fiscal.
                </p>
            </article>
        </section>
    </main>
{% endblock %}
