{% extends 'base.html.twig' %}

{% use 'adherent/_membership_form.html.twig' %}

{% block title 'Adhérer au mouvement En Marche !' %}

{% block banner '' %}

{% block javascripts %}
    <script type="text/javascript">
        function controller(app) {
            app.membershipIndex(
                {
                    country: '{{ membership.address.country|e('js') }}',
                    postalCode: '{{ membership.address.postalCode|e('js') }}',
                    city: '{{ membership.address.city|e('js') }}',
                    address: '{{ membership.address.address|e('js') }}',
                    errors: {
                        form: '{{ form_errors(form.address)|e('js') }}',
                        country: '{{ form_errors(form.address.country)|e('js') }}',
                        postalCode: '{{ form_errors(form.address.postalCode)|e('js') }}',
                        city: '{{ form_errors(form.address.city)|e('js') }}',
                        address: '{{ form_errors(form.address.address)|e('js') }}'
                    }
                },
                {{ countries|json_encode|raw }}
            );
        }
    </script>
    <script src="https://www.google.com/recaptcha/api.js"></script>
{% endblock %}

{% block content %}
    <section class="l__wrapper--medium">
        <div class="register">
            <h2>J'adhère au mouvement En Marche !</h2>

            <p>
                En Marche ! est un collectif citoyen qui part d'une conviction : les Français doivent être au cœur
                de la vie politique et non son décor. Ce collectif n'est pas l'addition d'individus, mais le rassemblement
                de personnes engagées qui partagent un socle de valeurs.
                <a href="#" class="link--blue">Télécharger l'intégralité de la charte et des règles de fonctionnement.</a>
            </p>

            <div class="register__form">
                {{ block('adherent_membership_form') }}
            </div>

            <p>
                Les informations que vous nous communiquez sont nécessaires à la gestion de vos dons et de nos
                relations. Elles sont exclusivement réservées à l'usage de En Marche et en retournant ce formulaire, vous
                autorisez celle-ci à utiliser vos données pour des opérations de communication politique et de dons. Vos
                informations ne pourront être communiquées qu'à des co-contractants qui en leur qualité de sous-traitants
                de En Marche, n'agiront que sur instruction de cette dernière et seront soumis à une stricte obligation
                de confidentialité. En application des articles 38 et suivants de la loi du 6 janvier 1978, vous bénéficiez
                des droits d'accès, de rectification, de suppression et d'oppostion aux informations vous concernant. Vous
                pouvez exercer ces droits en nous écrivant à l'adresse :
                <a href="mailto:contact@enmarche.fr" class="link--blue">contact@enmarche.fr</a>
                ou En Marche - BP 80 049 - 94801 Villejuif.
            </p>
        </div>
    </section>

{% endblock %}
