{% set designation = election.getDesignation() %}

{% if designation.type == constant('App\\VotingPlatform\\Designation\\DesignationTypeEnum::COPOL') %}
    {% set candidate_button_label = 'Je candidate en binôme' %}
    {% set create_invitation_button_label = 'Je choisis un binôme' %}
    {% set update_invitation_button_label = 'Modifier ma demande de binôme' %}
{% else %}
    {% set candidate_button_label = 'Je candidate en trinôme' %}
    {% set create_invitation_button_label = 'Je choisis un trinôme' %}
    {% set update_invitation_button_label = 'Modifier ma demande de trinôme' %}
{% endif %}

{% set able_to_candidate = is_granted('ABLE_TO_BECOME_TERRITORIAL_COUNCIL_CANDIDATE', app.user) %}

<section class="instance__elections-box b__nudge--bottom-larger">
    <div class="l__row">
        <h2 class="text--medium box-el">{{ designation.getTitle() }}</h2>
    </div>

    {% if designation.type == constant('App\\VotingPlatform\\Designation\\DesignationTypeEnum::COPOL') %}
        <div class="text--body text--dark b__nudge--top b__nudge--bottom-large instance__elections-box--text">
            La désignation des 5 binômes paritaires siégeant au comité politique aura lieu lors du premier Conseil territorial.
            Tous les animateurs locaux, adhérents désignés au sein des comités locaux, conseillers municipaux, départementaux et
            régionaux peuvent candidater avec un binôme paritaire de leur choix qui siège au Conseil territorial avec la même qualité.
        </div>
    {% else %}
        <div class="text--body text--dark b__nudge--top b__nudge--bottom-large instance__elections-box--text">
            Pour assurer une meilleure représentativité et poursuivre nos objectifs de démocratie interne et de parité dans
            nos instances, les membres du Conseil territorial désignent un trio composé d’un élu local, d’un animateur local
            et d’un adhérent qui constituent un quatuor paritaire avec le référent territorial.
        </div>
    {% endif %}

    {% if election.voteStartDate is null %}
        <p class="text--body text--bold b__nudge--bottom-large b__nudge--top-0">
            La date du du vote n'a pas encore été fixée par votre référent.
        </p>
    {% else %}
        <p class="text--body b__nudge--bottom-large b__nudge--top-0">
        {% if election.isOnlineMode %}
            Le Conseil territorial se tiendra en ligne du <span class="text--bold">{{ election.meetingStartDate|localizeddate('none', 'none', 'fr_FR', null, "dd/MM/y à HH'h'mm") }}</span> au
            <span class="text--bold">{{ election.meetingEndDate|localizeddate('none', 'none', 'fr_FR', null, "dd/MM/y à HH'h'mm") }}</span>. <a href="{{ election.meetingUrl }}" class="link--no-decor text--blue--dark text--normal" target="_blank">Rejoindre la réunion</a>.
        {% else %}
            Le Conseil territorial se tiendra le <span class="text--bold">{{ election.meetingStartDate|localizeddate('none', 'none', 'fr_FR', null, "dd/MM/y à HH'h'mm") }}</span> au
            <a href="https://www.google.fr/maps/place/'{{ election.address }},+{{ election.postalCode }}+{{ election.cityName }}'" class="link--no-decor text--blue--dark text--normal">{{ election.inlineFormattedAddress }}</a>.
        {% endif %}

        Le vote sera ouvert du <span class="text--bold">{{ election.voteStartDate|localizeddate('none', 'none', 'fr_FR', null, "dd/MM/y à HH'h'mm") }}</span> au <span class="text--bold">{{ election.voteEndDate|localizeddate('none', 'none', 'fr_FR', null, "dd/MM/y à HH'h'mm") }}</span>.
    {% endif %}

    <hr/>

    <div class="text--body l__row l__row--wrap">
        {% if election.isCandidacyPeriodActive %}
            <div class="b__nudge--top-large">
                {% if able_to_candidate %}
                    {% if candidacy %}
                        {% set with_two_rows = true %}

                        {% if candidacy.isConfirmed %}
                            {% if candidacy.hasOtherCandidacies() %}
                                <div class="font-roboto text--bold b__nudge--bottom-large elections-icon-container">
                                    <img class="elections-icon" src="{{ asset('images/icons/election-box/icn_confirmed.svg') }}" alt="elections-icon"/>

                                    {% set candidacies = candidacy.getOtherCandidacies() %}

                                    {% if designation.type == constant('App\\VotingPlatform\\Designation\\DesignationTypeEnum::COPOL') %}
                                        Vous êtes maintenant candidat{{ candidacy.isFemale ? 'e' }} en binôme avec {{ candidacies|first.membership.fullName }}.<br />
                                        Vous ne pouvez plus retirer votre candidature.
                                    {% else %}
                                        Vous êtes maintenant candidat{{ candidacy.isFemale ? 'e' }} en trinôme avec {{ candidacies|map(candidacy => candidacy.membership.fullName)|join(' et ') }}.<br />
                                        Vous ne pouvez plus retirer votre candidature.
                                    {% endif %}
                                </div>
                            {% else %}
                                <div class="font-roboto text--bold b__nudge--bottom-large elections-icon-container l__col--half">
                                    <img class="elections-icon" src="{{ asset('images/icons/election-box/icn_confirmed.svg') }}" />
                                    Vous êtes candidat{{ candidacy.isFemale ? 'e' }} seul{{ candidacy.isFemale ? 'e' }} à titre dérogatoire.
                                </div>
                            {% endif %}

                            <span class="btn btn--ghosting--pink btn--no-wrap box-el b__nudge--right btn--disabled">{{ update_invitation_button_label }}</span>
                        {% elseif candidacy.hasPendingInvitation %}
                            <div class="font-roboto text--bold b__nudge--bottom-large elections-icon-container">
                                <img class="elections-icon" src="{{ asset('images/icons/election-box/icn_on-waiting.svg') }}" />
                                {% set pending_invitations = candidacy.getPendingInvitations() %}

                                {% if pending_invitations|length == 1 %}
                                    {{ pending_invitations|first.getMembership().getFullName() }} doit accepter votre demande pour que votre candidature soit confirmée.
                                {% else %}
                                    {{ pending_invitations|map(invitation => invitation.getMembership().getFullName())|join(' et ') }}
                                    doivent accepter votre demande pour que votre candidature soit confirmée.
                                {% endif %}
                            </div>

                            <a href="{{ path('app_territorial_council_candidature_select_pair_candidate') }}" class="btn btn--ghosting--pink btn--no-wrap b__nudge--right box-el">{{ update_invitation_button_label }}</a>
                        {% else %}
                            <a href="{{ path('app_territorial_council_candidature_select_pair_candidate') }}" class="btn btn--pink btn--no-wrap b__nudge--right box-el">{{ create_invitation_button_label }}</a>
                        {% endif %}

                        <a href="{{ path('app_territorial_council_candidature_edit') }}" class="btn btn--ghosting--pink btn--no-wrap b__nudge--right box-el">Modifier mes informations</a>
                    {% else %}
                        {% if app.user.isOtherGender() %}
                            <a href="#" class="btn btn--pink b__nudge--right btn--no-wrap box-el em-modal--trigger"
                               data-content-element="#candidacy-gender-choice-content"
                            >{{ candidate_button_label }}</a>

                            <div class="hidden" id="candidacy-gender-choice-content">
                                <div class="text--center font-roboto">
                                    <p class="b__nudge--top-15 b__nudge--bottom-large text--dark">
                                        Souhaitez-vous candidater en tant que <strong>Femme</strong> ou <strong>Homme</strong> ?
                                    </p>

                                    <div>
                                        <a class="btn btn--ghosting--blue toggleModal b__nudge--right-nano" href="{{ path('app_territorial_council_candidature_edit', {gender: constant('App\\ValueObject\\Genders::FEMALE')}) }}">Femme</a>
                                        <a class="btn btn--ghosting--blue toggleModal b__nudge--right-nano" href="{{ path('app_territorial_council_candidature_edit', {gender: constant('App\\ValueObject\\Genders::MALE')}) }}">Homme</a>
                                    </div>
                                </div>
                            </div>
                        {% else %}
                            <a href="{{ path('app_territorial_council_candidature_edit') }}" class="btn btn--pink b__nudge--right btn--no-wrap box-el">{{ candidate_button_label }}</a>
                        {% endif %}
                    {% endif %}
                {% else %}
                    <span class="btn btn--ghosting--pink btn--no-wrap box-el b__nudge--right btn--disabled">{{ candidate_button_label }}</span>
                {% endif %}
            </div>
        {% elseif not election.isVotePeriodStarted %}
            <div class="em-countdown-clock l__col--full" data-event-timestamp="{{ election.voteStartDate.timestamp }}" data-now-timestamp="{{ date().timestamp }}">
                <span class="text--dark text--small">Le vote ouvrira dans :</span>
                <span class="clock-container"></span>
            </div>
        {% else %}
            {% set voting_platform_election = get_voting_platform_election_for_territorial_council_election(election) %}

            {% if voting_platform_election %}
                {% if voting_platform_election.isVotePeriodActive %}
                    {% if voting_platform_election.isSecondRoundVotePeriodActive %}
                        <p class="text--dark text--small instance__elections-box--text">
                            À la suite de cette première désignation il y a eu une égalité entre les candidats,
                            nous vous invitions à voter de nouveau.
                        </p>
                        <p class="text--small text--dark instance__elections-box--text">Consulter les
                            <a href="{{ path('app_voting_platform_results', {uuid: voting_platform_election.uuid}) }}" class="link--no-decor text--blue--dark box-el">
                                résultats incomplets
                            </a>
                        </p>
                        <hr/>
                    {% endif %}

                    {% if is_granted('ABLE_TO_VOTE', voting_platform_election) %}
                        <div class="em-countdown-clock l__col--full" data-event-timestamp="{{ voting_platform_election.realVoteEndDate.timestamp }}" data-now-timestamp="{{ date().timestamp }}">
                            <span class="text--dark text--small">Il vous reste</span>
                            <span class="clock-container"></span>
                            <span class="text--dark text--small">pour participer à la désignation.</span>
                        </div>

                        <p>
                            <a href="{{ path('app_voting_platform_index', {uuid: voting_platform_election.uuid}) }}"
                               id="committee-toggle-candidacy"
                               class="btn btn--pink btn--no-wrap box-el"
                            >Je participe</a>
                        </p>
                    {% else %}
                        {% set my_vote = get_my_vote_for_election(app.user, voting_platform_election.currentRound) %}

                        {% if my_vote %}
                            <p class="text--dark text--small instance__elections-box--text l__col--full">Votre choix a bien été enregistré.</p>

                            <div class="em-countdown-clock l__col--full" data-event-timestamp="{{ voting_platform_election.realVoteEndDate.timestamp }}" data-now-timestamp="{{ date().timestamp }}">
                                <span class="text--dark text--small">Les résultats seront publiés dans :</span>
                                <span class="clock-container"></span>
                            </div>

                            <p>
                                <span class="btn btn--disabled btn--no-wrap">Je participe</span>
                            </p>
                        {% endif %}
                    {% endif %}
                {% elseif voting_platform_election.isResultPeriodActive %}
                    <p class="text--small text--dark instance__elections-box--text">
                        {% if voting_platform_election.getElectionResult %}
                            Consulter les <a href="{{ path('app_voting_platform_results', {uuid: voting_platform_election.uuid}) }}" id="committee-toggle-candidacy" class="link--no-decor text--blue--dark box-el">résultats détaillés</a>
                        {% else %}
                            Le dépouillement est en cours, encore quelques secondes !
                        {% endif %}
                    </p>
                {% endif %}
            {% endif %}
        {% endif %}

        {% if not election.isVotePeriodStarted %}
            <p class="text--body text--small b__nudge--top-large b__nudge--right text--gray box-el">
                Consulter <a href="{{ path('app_territorial_council_candidacy_list', {'_fragment': 'tab-candidacy-list'}) }}" class="link--no-decor text--blue--dark box-el">la liste des candidats</a>
            </p>
        {% endif %}

        {% if able_to_candidate and candidacy and candidacy.isDraft and election.isCandidacyPeriodActive %}
            <p class="candidacy-remove text--body text--small b__nudge--top-large b__nudge--right">
                <a href="{{ path('app_territorial_council_candidature_remove') }}"
                      class="link--no-decor text--blue--dark em-confirm--trigger box-el"
                      data-confirm-title="Candidature"
                      data-confirm-content="Êtes-vous sûr de vouloir retirer votre candidature ?"
                      id="remove-candidacy-link">Retirer ma pré-candidature
                </a>
            </p>
        {% endif %}
    </div>
</section>
