{% for item in feed_items %}
    <div class="territorial-council__feed__item">
        <div class="territorial-council__feed__item--head l__row l__row--middle">
            <div class="avatar-initials avatar--small avatar--style-02 b__nudge--right-small">
                {{item.author.initials}}
            </div>
            <h3 class="text--body">
                {{ item.author.fullName }}
            </h3>
        </div>
        <div class="text--body text--with-bullet space--10-0">{{ item.content|raw }}</div>
        <div class="feed__options">
            <span class="time-ago text--small text--muted font-roboto">{{ item.createdAt|ago|capitalize }}</span>
            {% if feed_items_forms[item.id] is defined %}
                <ul class="list__links--row">
                    <li>
                        <a class="link--newblue text--small font-roboto" href="{{ path("app_#{feed_item_type}_edit_feed_item", { id: item.id }) }}">
                            Modifier le message
                        </a>
                    </li>
                    <li>
                        {{ form_start(feed_items_forms[item.id]) }}
                        {{ form_widget(feed_items_forms[item.id].delete, { attr: { class: 'btn--as-link btn--as-link--error text--small font-roboto'}, defaultClass: false}) }}
                        {{ form_end(feed_items_forms[item.id]) }}
                    </li>
                </ul>
            {% endif %}
        </div>
    </div>
{% endfor %}
