{% set xStatus = xSyncStatus is defined ? xSyncStatus : '\'' ~ status ~ '\'' %}

<div
    {{ attributes.only('class').defaults({class: 'rounded-full w4 h4 relative bg-white re-checkbox' ~ ' re-checkbox--' ~ status}) }}
    x-bind:class="'re-checkbox--' + {{ xStatus }}"
>
    <input {{ attributes.without('type', 'x-bind:class', 'class') }} class="absolute opacity-0" type="{{ type }}" {% if checked %}checked="checked"{% endif %} />
    <label for="{{ attributes.all().id }}"
           class="{{ type == 'checkbox' ? 'rounded-[3px]' : 'rounded-full' }} w-4 h-4 bg-white border flex justify-center items-center transition-colors">
        {% if type == 'checkbox' %}
            <img src="{{ asset('/images/icons/atoms/tick.svg') }}" alt="checkbox-tick" class="object-fill"/>
        {% else %}
            <i class=" w-1.5 h-1.5 rounded-full bg-white block"></i>
        {% endif %}
    </label>
</div>
