<div {{ attributes.defaults({class: 're-linked-toggle' ~ (grid ? ' re-linked-toggle--grid' : '') ~ (' re-linked-toggle--' ~ color)}) }}
    x-data="xValidateField({
        status: '{{ status is defined ? status : 'default' }}',
        message: '{{ message is defined ? message : '' }}',
        validate: {{ validate is defined ? validate : '[]' }},
        onCheck: {{ onCheck is defined ? onCheck : '()=>{}' }}
    })"
    {% if id is defined %}
    @x-validate:{{ id }}.window="setData($event.detail)"
    {% endif %}
    :class="{
        're-linked-toggle--default': status === 'default',
        're-linked-toggle--success': status === 'success',
        're-linked-toggle--error': status === 'error',
        're-linked-toggle--warning': status === 'warning',
        're-linked-toggle--info': status === 'info',
    }"
    type="radio-group"
>
    {% if id and label %}
        <twig:Atoms:ReLabel id="{{ id }}" class="mb-6">{{ label }}</twig:Atoms:ReLabel>
    {% endif %}

    <div class="re-linked-toggle-content {{ disabled ? 're-linked-toggle-content--disabled' }}">
        {% block content %}{% endblock %}
    </div>

    <twig:Atoms:ReTextStatus
            x-show="status !== 'default' && message"
            value="{{ message is defined ? '' }}"
            type="{{ status }}"
            xSyncStatus="status"
            xSyncValue="message"
            showIcon="true"
    />
</div>
