<span {{ attributes.defaults({class:"flex flex-row mt-2.5"}) }}>
    <template x-if="{{ showIcon ?? 'null' }}">
       <twig:Atoms:ReIcon xSyncType="{{ xSyncStatus }}" type="{{ status }}" class="mr-2" />
    </template>
    <span
        class="text-sm font-normal text-ui_gray-80 font-maax re-text-status--{{ status }}"
        :class="`re-text-status--${ {{ xSyncStatus }} }`"
        x-text="{{ xSyncValue }}">
        {{ value }}
    </span>
</span>
