<span {{ attributes.defaults({class:"flex flex-row mt-2.5"}) }}>
    <template x-if="{{ showIcon ?? 'null' }}">
       <twig:ReIcon name="{{ status }}" class="mr-2" />
    </template>
    <span
        class="text-sm font-normal text-ui_gray-80 font-maax re-text-status--{{ status }}"
        {{ xSyncStatus ? (':class="`re-text-status--${ ' ~ xSyncStatus ~ ' }`"')|raw }}
        {{ xSyncValue ? ('x-text="' ~ xSyncValue ~ '"')|raw }}
    >
        {{ value | raw }}
    </span>
</span>
