{% extends 'besoindeurope/inscription/_layout.html.twig' %}

{% block page_title 'Préférences de communication' %}

{% form_theme form 'renaissance/forms/tailwind_form_theme.html.twig' %}

{% block sub_content %}
    <div class="bg-[#F4F5F7] flex flex-col items-center py-20">
        <twig:Atoms:ReCard class="max-w-[500px]">
            {{ form_start(form, {attr: {'x-ref': 'form', class: 'flex gap-8 flex-col'}}) }}
                <twig:ReParagraphStatus status="warning">
                    {% if not accept_email and not accept_sms and not has_phone %}
                        <span class="font-medium">Attention, vous ne recevrez jamais aucune communication de notre part</span> (hors email statutaire) :
                        <br><br>
                        <ul class="list-disc list-inside">
                            <li>Nous n’avons pas votre numéro de téléphone</li>
                            <li>Vous n’avez pas accepté d’être contacté par téléphone</li>
                            <li>Vous n’avez pas accepté d’être contacté par email</li>
                        </ul>
                    {% elseif accept_email and not accept_sms and not has_phone %}
                        <span class="font-medium">Attention, vous ne recevrez jamais aucune communication par téléphone de notre part :</span>
                        <br><br>
                        <ul class="list-disc list-inside">
                            <li>Nous n’avons pas votre numéro de téléphone</li>
                            <li>Vous n’avez pas accepté d’être contacté par téléphone</li>
                        </ul>
                    {% elseif accept_email and not accept_sms and has_phone %}
                        <span class="font-medium">Attention, vous ne recevrez jamais aucune communication par téléphone de notre part :</span>
                        <br><br>
                        <ul class="list-disc list-inside">
                            <li>Vous n’avez pas accepté d’être contacté par téléphone</li>
                        </ul>
                    {% elseif not accept_email and accept_sms and has_phone %}
                        <span class="font-medium">Attention, vous ne recevrez jamais aucune communication par email de notre part (hors email statutaire)</span>
                    {% elseif not accept_email and not accept_sms and has_phone %}
                        <span class="font-medium">Attention, plusieurs de vos choix nous empêcheront de communiquer avec vous (hors email statutaire) :</span>
                        <br><br>
                        <ul class="list-disc list-inside">
                            <li>Vous n’avez pas accepté d’être contacté par email</li>
                            <li>Vous n’avez pas accepté d’être contacté par téléphone</li>
                        </ul>
                    {% endif %}
                </twig:ReParagraphStatus>

                <twig:ReParagraphStatus status="valid">
                    À noter que vos choix peuvent être modifiés à tout instant depuis les paramètres de votre profil.
                </twig:ReParagraphStatus>

                <div class="flex-col flex gap-6">
                    <div class="{{ has_phone ? 'hidden' }}">
                        {{ form_row(form.phone, {label: 'Numéro de téléphone'}) }}
                    </div>

                    <div class="{{ accept_sms ? 'hidden' }}">
                        {% if not accept_sms and has_phone %}
                            <twig:Atoms:ReLabel class="text-ui_gray-80">Communications par téléphone</twig:Atoms:ReLabel>
                        {% endif %}

                        {{ form_row(form.acceptSms, {label: 'Je souhaite recevoir les informations sur l\'actualité de la campagne et ses communications politiques par SMS et téléphone'}) }}
                    </div>

                    <div class="{{ accept_email ? 'hidden' }}">
                        <twig:Atoms:ReLabel class="mb-6">Communications par email</twig:Atoms:ReLabel>
                        {{ form_row(form.acceptEmail, {label: 'Je souhaite recevoir les informations sur l\'actualité de la campagne et ses communications politiques par email'}) }}
                    </div>
                </div>

                <twig:ReButton color="black" class="w-full">Terminer</twig:ReButton>
            {{ form_end(form) }}
        </twig:Atoms:ReCard>
    </div>
{% endblock %}
