{% extends 'besoindeurope/inscription/_layout.html.twig' %}

{% block page_title 'Confirmation de l\'email' %}

{% form_theme form 'renaissance/forms/tailwind_form_theme.html.twig' %}
{% form_theme new_code_form 'renaissance/forms/tailwind_form_theme.html.twig' %}

{% block sub_content %}
    <div class="bg-[#F4F5F7] flex flex-col items-center py-20">
        <twig:Atoms:ReCard class="max-w-[500px]"
            x-data="xEmailVerificationForm({
                email: '{{ app.user.emailAddress }}',
                step: '{{ request.emailAddress or not form.emailAddress.first.vars.valid ? 'email' : 'code' }}'
            })">

            {{ include('renaissance/partials/flashes.html.twig', {slim: true}) }}

            <div>
                <div class="gap-6 flex flex-col">
                    <p class="font-medium">Confirmez votre adresse email</p>

                    <span>
                        La confirmation de votre adresse email est obligatoire pour accéder à votre espace.
                    </span>
                    <span>
                        Vous venez de recevoir un code (actif pendant 15 minutes) de vérification sur l’adresse email suivante :
                    </span>
                    <span class="font-medium underline text-center">
                        {{ app.user.emailAddress }}
                    </span>
                </div>
            </div>

            {{ form_start(form, {attr: {'x-ref': 'form', class: 'flex gap-8 flex-col'}}) }}
                {{ form_errors(form) }}

                <template x-if="!isChangeMailMode">
                    <div class="flex gap-8 flex-col">
                        <div class="flex flex-col justify-center items-center gap-2.5">
                            <a @click.prevent="isChangeMailMode=true" class="text-ui_blue-50" href="#">Changer mon adresse email</a>
                        </div>

                        <hr class="border-dashed" />

                        {{ form_row(form.code, {label: false, attr: {
                            placeholder: 'Votre code de confirmation',
                            class: 'w-full [&>div>div>input]:text-center',
                            onCheck: "setFieldValid('code')",
                            '@input': 'handleCodeInput($event)',
                        }}) }}

                        {{ form_row(form.validate, {label: 'Confirmer mon adresse email', attr: {
                            color: 'black',
                            class: 'w-full',
                            'x-bind:class': '{disabled: !checkValidity()}',
                        }}) }}
                    </div>
                </template>

                <template x-if="isChangeMailMode" >
                    <div class="flex gap-8 flex-col">
                        <div class="flex flex-col justify-center items-center gap-2.5">
                            <a @click.prevent="isChangeMailMode=false" class="text-ui_blue-50" href="#">Revenir au code</a>
                        </div>

                        <div>
                            <twig:Atoms:ReLabel class="mb-6">Mon adresse email</twig:Atoms:ReLabel>

                            {{ form_row(form.emailAddress.first, {attr: {
                                placeholder: 'Adresse email',
                                validate: "['required']",
                                onCheck: "setFieldValid('email')",
                                '@input': 'handleEmailInput($event)',
                            }}) }}
                            {{ form_row(form.emailAddress.second, {attr: {
                                placeholder: 'Confirmer mon adresse email',
                                validate: "['required']",
                                onCheck: "setFieldValid('confirmEmail')",
                                '@input': 'handleEmailInput($event)',
                            }}) }}
                        </div>

                        {{ form_row(form.changeEmail, {label: 'Changer mon email', attr: {
                            color: 'blue',
                            class: 'w-full',
                            'x-bind:class': '{disabled: !checkValidity()}',
                        }}) }}
                    </div>
                </template>
            {{ form_end(form) }}

            {{ form_start(new_code_form, {action: path('app_bde_request_new_activation_code')}) }}
                {{ form_widget(new_code_form.allow, {attr: {
                    link: 'link',
                    class: 'w-full',
                }}) }}
            {{ form_end(new_code_form) }}
        </twig:Atoms:ReCard>
    </div>
{% endblock %}
