{% extends 'besoindeurope/inscription/_layout.html.twig' %}

{% block page_title 'Inscription' %}

{% block open_graph_image 'https://assets.parti-renaissance.fr/sharer/inscription.png' %}
{% block open_graph_description 'Devenez acteur de la campagne législative' %}
{% block canonical_url url('app_bde_inscription') %}

{% form_theme form 'renaissance/forms/tailwind_form_theme.html.twig' %}


{% block sub_content %}
    <div class="bg-[#17211c]">
        <figure class="md:fixed h-64 bottom-0 left-0 right-0 top-0 sm:h-[70vh] md:top-[82px]">
            <img class="object-cover absolute top-0 left-0 w-full h-full" src="{{ asset('/images/europe/inscription.jpg') }}">
            <div class="absolute bottom-0 w-full h-1/3 bg-gradient-to-t from-[#17211C]"></div>
        </figure>

        <div class="md:grid md:grid-cols-2 md:mb-[120px] w-full md:pt-[160px] relative">
            <div></div>
            <section x-data="xFunnelPage({initStep: {{ step }}})" class="w-full sm:w-auto bg-white md:bg-inherit">
                {{ form_start(form) }}
                    <div class="flex gap-8 flex-col p-0">
                        {% if form.vars.errors|length > 0 %}
                            <twig:ReParagraphStatus status="error" icon class="md:max-w-[500px]">
                                <ul
                                    {% if form.vars.errors|length > 1 %}
                                        class="list-disc list-inside flex flex-col gap-2.5"
                                    {% endif %}
                                >
                                    {% for error in form.vars.errors %}
                                        <li class="[&>a]:font-medium [&>a]:underline">{{ error.message|raw }}</li>
                                    {% endfor %}
                                </ul>
                            </twig:ReParagraphStatus>
                        {% endif %}

                        <twig:Atoms:ReCard class="md:max-w-[500px] re-step bg-white" id="step_1" x-data="FirstFormStep({api: '{{ path('app_bde_persist_email') }}'})">
                            <h1 class="font-sharp font-semibold text-[32px]/[29.8px] text-black neg-letter-spacing--4">Rejoignez la campagne !</h1>

                            <p>En créant votre compte ici, vous pourrez participer à la campagne législative en ayant accès aux actualités, événements et actions.</p>

                            <template x-if="generalNotification">
                                <twig:ReParagraphStatus
                                    x-bind:data-status="generalNotification.status"
                                    status="x:generalNotification.status"
                                    x-text="generalNotification.message"/>
                            </template>

                            {{ form_row(form.email, {
                                label: false,
                                attr: {
                                    placeholder: 'Adresse email',
                                    onCheck: "setFieldValid('email')",
                                    validate: "['required', 'email']",
                                },
                            }) }}

                            {{ form_row(form.acceptCgu, {
                                label: 'Je consens au traitement de mes données personnelles.',
                                attr: {onCheck: "setFieldValid('acceptCgu')", validate: "['required']"},
                            }) }}

                            <div class="w-full re-field-frame !h-auto cursor-pointer" @click="dom('.frc-button')?.click()">
                                {{ include('renaissance/partials/friendly-captcha.html.twig') }}
                            </div>

                            <twig:ReButton
                                color="black"
                                class="w-full"
                                loading="x:loading"
                                @click="handleOnSubmit($event)"
                            >Suivant</twig:ReButton>
                        </twig:Atoms:ReCard>

                        <twig:Atoms:ReCard class="md:max-w-[500px] re-step bg-white" id="step_2" x-data="SecondFormStep()">
                            <h2 class="font-medium">Mes informations</h2>

                            {{ form_row(form.civility, {label: false, attr: {onCheck: "setFieldValid('civility')", validate: "['required']", autocomplete: 'civility'}}) }}

                            {{ form_row(form.firstName, {
                                label: false,
                                attr: {placeholder: 'Prénom', onCheck: "setFieldValid('firstName')", validate: "['required', 'min:2', 'max:50']"},
                            }) }}

                            {{ form_row(form.lastName, {
                                label: false,
                                attr: {placeholder: 'Nom', onCheck: "setFieldValid('lastName')", validate: "['required', 'min:1', 'max:50']"},
                            }) }}

                            {{ form_row(form.address, {label: false}) }}

                            <twig:ReButton
                                color="black"
                                class="w-full"
                                loading="x:loading"
                                @click="handleOnSubmit($event)"
                            >Suivant</twig:ReButton>
                        </twig:Atoms:ReCard>

                        <twig:Atoms:ReCard class="md:max-w-[500px] re-step !gap-4 bg-white" id="step_3">
                                <h2 class="font-medium">Autorisations</h2>
                            <p>
                                Êtes-vous déjà membre d'un parti politique de la majorité présidentielle ?
                            </p>

                            {{ form_row(form.partyMembership) }}

                            {{ form_row(form.allowNotifications, {label: "Je souhaite recevoir les informations sur l'actualité de la campagne et ses communications politiques par email"}) }}

                            {{ form_row(form.acceptCgu2, {label: 'besoindeurope.inscription.accept_cgu'}) }}

                            <twig:ReButton
                                color="black"
                                class="w-full"
                            >Créer mon compte</twig:ReButton>
                        </twig:Atoms:ReCard>

                        <twig:Atoms:ReCard class="md:max-w-[500px] bg-white">
                            <h2 class="font-medium">Légalités</h2>

                            <p>Les données recueillies sur ce formulaire sont traitées par Renaissance, en sa qualité de
                                responsable de traitement, dans le cadre de votre demande d'inscription sur le site Besoin
                                d'Europe. Ces données permettront à Renaissance notamment d’instruire votre demande de contact
                                et de renseignements, de gérer votre inscription, d’effectuer et gérer les opérations de
                                communication, de prospection politique et de propagande électorale par tout moyen, d’établir
                                des études statistiques ou d’organiser et de gérer vérifie des événements. Si vous êtes élu(e)
                                ou ancien(ne) élu(e), nous traitons également vos données dans le cadre de l’animation de notre
                                réseau d’élu(e)s et vos données peuvent être transférées à l’institut de formation Tous
                                Politiques. Ces données sont conservées par Renaissance jusqu’à (3) trois ans après la fin de
                                votre inscription lorsque vous êtes adhérents, 3 ans après le dernier contact à votre initiative
                                lorsque vous êtes sympathisant ou jusqu’au retrait de votre consentement, lorsque vous souhaitez
                                recevoir les informations sur l’actualité de Renaissance et ses communications politiques. En
                                envoyant ce formulaire, vous autorisez Renaissance à utiliser vos données pour ces finalités.
                                Conformément à la règlementation, vous disposez d’un droit d’opposition et d’un droit à la
                                limitation du traitement de données vous concernant, ainsi que d’un droit d’accès, de
                                rectification, de portabilité et d’effacement de vos données. Vous disposez également de la
                                faculté de donner des directives sur le sort de vos données après votre décès. Vous pouvez
                                exercer vos droits en nous adressant votre demande à l'adresse postale : Renaissance, 68 rue du
                                Rocher, 75008 Paris, France ou à l’adresse électronique :
                                <a href="mailto:mes-donnees@parti-renaissance.fr" class="text-blue-500">mes-donnees@parti-renaissance.fr</a>. Dans
                                certains cas, Renaissance peut vous demander un justificatif d’identité afin de traiter votre
                                demande. Pour toute information relative au traitement de vos données, vous pouvez consulter
                                notre <a href="https://parti-renaissance.fr/politique-de-protection-des-donnees" class="text-blue-500">politique de
                                    protection des données en cliquant ici</a>.</p>
                        </twig:Atoms:ReCard>

                        <input type="hidden" id="email-validation-token" value="{{ email_validation_token }}"/>
                    </div>
                {{ form_end(form) }}
            </section>
        </div>
    </div>
{% endblock %}
