{% extends 'message/_layout.html.twig' %}

{% block message_page_title 'Filtrer pour envoyer' %}

{% block message_content %}
    {% if app.request.query.has('l') %}
        {% set back_url = path("app_message_#{message_type}_list", route_params|default({})) %}
    {% else %}
        {% set back_url = path("app_message_#{message_type}_update", route_params|default({})|merge({uuid: message.uuid})) %}
    {% endif %}

    <a href="{{ back_url }}" class="back-to-list text--blue--dark link--no-decor b__nudge--bottom block">
        ⟵ Retour
    </a>

    {% block filter_content '' %}

    <div id="message-actions-block" class="l__wrapper--slim b__nudge--top-40 text--center"></div>

    <div class="l__wrapper--slim text--center">
        <a class="btn btn--ghosting--blue btn--large-and-full b__nudge--top-15" href="{{ path("app_message_#{message_type}_test", route_params|default({})|merge({uuid: message.uuid})) }}">M'envoyer un message test</a>
    </div>
{% endblock %}

{% block javascripts %}
    {% if message.filter %}
        <script type="text/javascript">
            Kernel.onLoad(function() {
                App.runMessageFilters(
                    '{{ message.uuid|e('js') }}',
                    {{ message.synchronized ? 'true' : 'false' }},
                    {{ message.recipientCount|e('js') }}
                );
            });
        </script>
    {% endif %}
{% endblock %}
