{% extends 'message/_layout.html.twig' %}

{% block message_content %}
    <div class="b__nudge--bottom-small">
        <form onchange="this.submit();" class="pull-left">
            <select class="form form__field" name="status">
                <option value="">Tous les messages</option>
                <option {{ app.request.query.get('status') == constant('AppBundle\\AdherentMessage\\AdherentMessageStatusEnum::SENT_SUCCESSFULLY') ? 'selected="selected"' }} value="{{ constant('AppBundle\\AdherentMessage\\AdherentMessageStatusEnum::SENT_SUCCESSFULLY') }}">Messages envoyés</option>
                <option {{ app.request.query.get('status') == constant('AppBundle\\AdherentMessage\\AdherentMessageStatusEnum::DRAFT') ? 'selected="selected"' }} value="{{ constant('AppBundle\\AdherentMessage\\AdherentMessageStatusEnum::DRAFT') }}">Brouillons</option>
            </select>
        </form>
        <a class="btn btn--blue" href="{{ path("app_message_#{message_type}_create") }}">Nouveau message</a>
    </div>

    <table class="table__default">
        <thead>
            <tr>
                <th>Statut</th>
                <th>Label</th>
                <th>Objet</th>
                <th>Date de création</th>
                <th>Date d'envoi</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for message in messages %}
                <tr class="{{ message.status == constant('AppBundle\\AdherentMessage\\AdherentMessageStatusEnum::DRAFT') ? 'text--gray' : '' }}">
                    <td>{{ message.status|trans }}</td>
                    <td>{{ message.label }}</td>
                    <td>{{ message.subject }}</td>
                    <td>{{ message.createdAt|localizeddate('none', 'none', 'fr_FR', null, "d MMMM Y à HH:mm") }}</td>
                    <td>{{ message.sentAt ? message.sentAt|localizeddate('none', 'none', 'fr_FR', null, "d MMMM Y à HH:mm") : '~' }}</td>
                    <td>
                        <div class="action-menu-oval">
                            <a href="javascript:void(0);">
                                <span class="oval"></span>
                                <span class="oval"></span>
                                <span class="oval"></span>
                            </a>
                            <div class="action-dropdown-menu">
                                {% if not message.isSent %}
                                    <a class="link--blue" href="{{ path("app_message_#{message_type}_update", {uuid: message.uuid}) }}">Modifier</a>
                                {% endif %}

                                {% if message.isSynchronized %}
                                    <a class="link--no-decor" href="{{ path("app_message_#{message_type}_preview", {uuid: message.uuid}) }}">Visualiser</a>
                                {% else %}
                                    <a class="btn--disabled" href="javascript:void(0);">
                                        <span class="text--small">
                                            Visualiser<br/>
                                            (en cours de préparation ...)
                                        </span>
                                    </a>
                                {% endif %}

                                {% if not message.isSent %}
                                    <a class="link--blue" href="{{ path("app_message_#{message_type}_filter", {uuid: message.uuid}) }}">Filtrer</a>
                                {% endif %}

                                <a class="link--red" href="{{ path("app_message_#{message_type}_delete", {uuid: message.uuid}) }}">Supprimer</a>
                            </div>
                        </div>
                    </td>
                </tr>
            {% else %}
                <tr><td colspan="6" class="text--center">Vous n'avez aucun message</td></tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
