{% extends 'message/_layout.html.twig' %}

{% block messages_main_block %}
    <div class="datagrid__pre-table b__nudge--bottom-larger">
        <h3>{% block message_page_title %}Mes messages{% endblock %}</h3>
        <a href="{{ path("app_message_#{message_type}_create", route_params|default({})) }}" class="btn-secondary btn-secondary--blue">
            + Nouveau message
        </a>

        {% if total_message_count %}
            <span class="datagrid__count">
                <span>{{ messages.totalItems|number_format(0, ',', ' ') }}</span> sur {{ total_message_count|number_format(0, ',', ' ') }} résultat{{ total_message_count > 1 ? 's' : '' }}
            </span>
        {% endif %}
    </div>

    <div class="manager__filters">
        <div class="manager__filters__form">
            <form onchange="this.submit();">
                <h4 class="manager__filters__subtitle">Filtrer par</h4>
                <div class="manager__filters__row">
                    <div class="manager__filters__section">
                        <div class="manager__filters__group">
                            <div class="filter__row">
                                <label class="filter__label" for="message-status-filter">Statut</label>
                                <select class="filter__field" id="message-status-filter" name="status">
                                    <option value="">Tous les messages</option>
                                    <option {{ message_filter_status == constant('AppBundle\\AdherentMessage\\AdherentMessageStatusEnum::SENT_SUCCESSFULLY') ? 'selected="selected"' }} value="{{ constant('AppBundle\\AdherentMessage\\AdherentMessageStatusEnum::SENT_SUCCESSFULLY') }}">Messages envoyés</option>
                                    <option {{ message_filter_status == constant('AppBundle\\AdherentMessage\\AdherentMessageStatusEnum::DRAFT') ? 'selected="selected"' }} value="{{ constant('AppBundle\\AdherentMessage\\AdherentMessageStatusEnum::DRAFT') }}">Brouillons</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <table class="datagrid__table-manager">
        <thead>
            <tr>
                <th width="75">Statut</th>
                <th width="100">Label</th>
                <th width="200">Objet</th>
                <th width="100">Date de création</th>
                <th width="50">Action</th>
            </tr>
        </thead>
        <tbody>
            {% for message in messages %}
                <tr>
                    <td>
                        <span class="{{ message.status == constant('AppBundle\\AdherentMessage\\AdherentMessageStatusEnum::DRAFT') ? 'status status__2' : 'status status__1' }}">
                            {{ message.status|trans }}
                        </span>
                    </td>
                    <td width="100">{{ message.label }}</td>
                    <td>{{ message.subject }}</td>
                    <td>
                        {% if message.isSent %}
                            {{ message.sentAt ? message.sentAt|localizeddate('none', 'none', 'fr_FR', null, "d MMMM yyyy à HH:mm") : '~' }}
                        {% else %}
                            {{ message.createdAt|localizeddate('none', 'none', 'fr_FR', null, "d MMMM yyyy à HH:mm") }}
                        {% endif %}
                    </td>
                    <td>
                        <div class="action-menu-oval">
                            <a href="javascript:void(0);">
                                <span class="oval"></span>
                                <span class="oval"></span>
                                <span class="oval"></span>
                            </a>
                            <div class="action-dropdown-menu--bounce">
                                <div class="action-dropdown-menu--content">
                                    {% set message_route_params = route_params|default({})|merge({uuid: message.uuid}) %}
                                    {% if not message.isSent %}
                                        <a class="row-action text--blue--dark link--no-decor" href="{{ path("app_message_#{message_type}_update", message_route_params) }}">Modifier</a>
                                    {% endif %}

                                    {% if message.isSent %}
                                        <a class="row-action text--blue--dark link--no-decor adherent-message-statistics-button"
                                           href="javascript:void(0);"
                                           data-uuid="{{ message.uuid }}"
                                           data-subject="{{ message.subject }}"
                                        >Statistiques</a>
                                    {% else %}
                                        <a class="row-action text--blue--dark link--no-decor" href="{{ path("app_message_#{message_type}_filter", message_route_params|merge({l: true})) }}">Filtrer</a>
                                    {% endif %}

                                    {% if message.isSynchronized %}
                                        <a class="row-action text--blue--dark link--no-decor" href="{{ path("app_message_#{message_type}_preview", message_route_params) }}">Visualiser</a>
                                        <a class="row-action text--blue--dark link--no-decor" href="{{ path("app_message_common_preview-on-mailchimp", message_route_params) }}" target="_blank">Obtenir le lien du message</a>
                                    {% else %}
                                        <a class="row-action btn--disabled" href="javascript:void(0);">
                                            Visualiser<br/>
                                            <span class="text--smallest">
                                                (en cours de préparation ...)
                                            </span>
                                        </a>
                                    {% endif %}
                                    <a class="row-action text--dark link--no-decor" href="{{ path("app_message_#{message_type}_delete", message_route_params) }}">Supprimer</a>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            {% else %}
                <tr><td colspan="6" class="text--center">
                    <img src="{{ asset('/images/icons/icn_no-result.svg') }}" class="icn--no-result" width="30" />
                    Vous n'avez aucun message
                </td></tr>
            {% endfor %}
        </tbody>
    </table>

    {% if messages.count %}
        {% include 'components/_modern_pagination.html.twig' with {
            current_page: messages.currentPage,
            total_pages: messages.lastPage,
            pagination_route_params: route_params|default({})|merge(message_filter_status ? {status: message_filter_status} : {})
        } %}
    {% endif %}

    <div id="modal-wrapper"></div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        Kernel.onLoad(function() {
            App.runMessageList('adherent-message-statistics-button');
        });
    </script>
{% endblock %}
