{% extends 'message/_layout.html.twig' %}

{% block message_page_title 'Prévisualiser mon message' %}

{% block messages_header_left_block %}
    <a href="{{ path("app_message_#{message_type}_list") }}" class="link--blue link--no-decor">← Retour</a>
{% endblock %}

{% block message_content %}
    <iframe width="100%" class="address__postal-code--loading" frameborder="0" height="700px" style="background-position: top;"
            src="{{ path("app_message_#{message_type}_content", {uuid: message.uuid}) }}"
    ></iframe>
    <hr/>
    <div class="l__wrapper--slim background--lighter b__nudge--top-40 text--center">
        {% if not message.isSent %}
            <div class="space--60-0">
                {% if message.recipientCount is not null %}
                    <div>
                        {% if message.recipientCount == 0 %}
                            <p>Votre filtre ne correspond à aucun adhérent !</p>
                        {% else %}
                            <p>Votre filtre correspond à <b>{{ message.recipientCount }} adhérent(s) !</b></p>
                        {% endif %}
                    </div>
                {% endif %}
                <a class="btn" href="{{ path("app_message_#{message_type}_update", {uuid: message.uuid}) }}">Modifier</a>
                <a class="btn" href="{{ path("app_message_#{message_type}_filter", {uuid: message.uuid}) }}">Modifier les filtres</a>
                <a class="btn {{ not message.recipientCount ? 'btn--disabled' : 'btn--blue' }}"
                   href="{{ message.recipientCount ? path("app_message_#{message_type}_send", {uuid: message.uuid}) : 'javascript:void(0);' }}"
                >Envoyer</a>
            </div>
        {% endif %}
    </div>
{% endblock %}
