{% extends 'message/_layout.html.twig' %}

{% block message_page_title 'Rédiger mon message' %}

{% block head_javascripts %}
    <script type="text/javascript" src={{ asset('bundles/sonataadmin/vendor/jquery/dist/jquery.min.js') }}></script>
{% endblock %}

{% block message_content %}
    <a href="{{ path("app_message_#{message_type}_list", route_params|default({})) }}" class="back-to-list text--blue--dark link--no-decor b__nudge--bottom block">
         ⟵ Retour
    </a>

    <main>
        <section class="l__col">
            <div class="desc__texts l__wrapper--slim l__col l__col--center text--left">
                <div class="b__nudge--bottom">
                    <img src="{{ static_asset('images/mail.gif') }}" alt="mail anim" height="200" />
                </div>

                <div class="text--larger">
                    Félicitations !
                </div>

                <p>Vous venez d'envoyer un email à <span>{{ message.recipientCount }}</span> contact{{ message.recipientCount > 1 ? 's' }}.</p>
            </div>
            <div>
                {% block message_send_success_sub_content %}{% endblock %}
            </div>
        </section>
    </main>
{% endblock %}
