{% apply spaceless %}
{% set homepage_url = url('homepage')|trim('/') %}
{% endapply %}<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% apply spaceless %}{% block page_title '' %}{% endapply %} | {% block app_title 'Renaissance' %}{% endblock %}</title>

    {% block favicons %}
        <link rel="icon" type="image/png" href="{{ asset('favicon-ren-32x32.png') }}" sizes="32x32" />
    {% endblock %}

    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width" />

    <link rel="canonical" href="{% block canonical_url homepage_url %}" />
    <link rel="stylesheet" type="text/css" href="{{ webpack_asset('bootstrap.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('css/fontawesome-v4.min.css') }}" />
</head>
<body class="font-maax">
    {% block flash_message %}
        {% for label, messages in app.flashes(['error', 'info', 'success']) %}
            {% if messages|length %}
                {% if label == 'error' %}
                    <div class="p-4 text-sm text-red-700 bg-red-100 dark:bg-red-200 dark:text-red-800" role="alert">
                {% else %}
                    <div class="p-4 text-sm text-blue-700 bg-blue-100 dark:bg-blue-200 dark:text-blue-800" role="alert">
                {% endif %}
                    {% for message in messages %}
                        <div>{{ message|trans }}</div>
                    {% endfor %}
                </div>
            {% endif %}
        {% endfor %}
    {% endblock %}

    {% block content '' %}
    {% block footer '' %}

    <div id="modal-wrapper"></div>

    <script type="text/javascript" src="{{ webpack_asset('bootstrap.js') }}"></script>

    <script type="text/javascript">
        on(window, 'load', function() {
            Bootstrap.boot(
                '{{ app_version }}',
                {{ sentry_dsn ? ('\''~sentry_dsn~'\'')|raw : 'null' }},
                '{{ app_environment }}',
                '{{ app.user ? app.user.getUsername() }}'
            );
        });
    </script>

    {% if axeptio_clid %}
        <script>
            window.axeptioSettings = {
                clientId: "{{ axeptio_clid }}",
                cookiesVersion: "renaissance-fr",
            };

            (function(d, s) {
                var t = d.getElementsByTagName(s)[0], e = d.createElement(s);
                e.async = true; e.src = "//static.axept.io/sdk.js";
                t.parentNode.insertBefore(e, t);
            })(document, "script");
        </script>
    {% endif%}

    {% block final_javascripts '' %}
</body>
</html>
