{% spaceless %}
{% set homepage_url = url('homepage')|trim('/') %}

{% set default_sharer = 'https://storage.googleapis.com/en-marche-fr/E-MAILING/2017/images/REM/Logo-LREM-noir.jpg' %}
{% set default_sharer_width = 1600 %}
{% set default_sharer_height = 840 %}

{% set has_role_user = is_granted('ROLE_USER') %}
{% set has_role_adherent = is_granted('ROLE_ADHERENT') %}
{% set has_role_admin = is_granted('ROLE_ADMIN_DASHBOARD') %}
{% endspaceless %}<!DOCTYPE html>
<!--
 ______         __  __                _            _
|  ____|       |  \/  |              | |          | |
| |__   _ __   | \  / | __ _ _ __ ___| |__   ___  | |
|  __| | '_ \  | |\/| |/ _` | '__/ __| '_ \ / _ \ | |
| |____| | | | | |  | | (_| | | | (__| | | |  __/ |_|
|______|_| |_| |_|  |_|\__,_|_|  \___|_| |_|\___| (_)

-->
<html lang="fr">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="msapplication-tap-highlight" content="no" />
        <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width" />
        <meta name="referrer" content="origin" />
        {% block meta %}
            <meta property="og:type" content="{% block open_graph_type 'website' %}" />
        {% endblock %}

        <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('apple-touch-icon.png') }}?v2" />
        <link rel="icon" type="image/png" href="{{ asset('favicon-32x32.png') }}?v2" sizes="32x32" />
        <link rel="icon" type="image/png" href="{{ asset('favicon-16x16.png') }}?v2" sizes="16x16" />
        <link rel="manifest" href="{{ asset('manifest.json') }}?v2" />
        <link rel="mask-icon" href="{{ asset('safari-pinned-tab.svg') }}?v2" color="#ff3680" />
        <meta name="theme-color" content="#ffffff" />

        {% block extra_link '' %}

        <title>{% block title %}{% block page_title '' %} | {% block app_title 'La République En Marche !' %}{% endblock %}</title>
        {% if app.environment == 'prod' %}
            <!-- Google Tag Manager -->
            <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
                        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
                    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
                    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
                })(window,document,'script','dataLayer','GTM-W4TQQ7T');</script>
            <!-- End Google Tag Manager -->
        {% endif %}

        <link rel="canonical" href="{% block canonical_url homepage_url %}" />
        <meta name="description" content="{% block meta_description %}Pour ceux qui sont convaincus que le pays est bloqué, qui ont le goût du travail, du progrès, du risque, qui vivent pour la liberté, l'égalité, et l'Europe.{% endblock %}" />
        {% block amp_link '' %}

        <meta property="og:site_name" content="{% block open_graph_site_name 'La République En Marche !' %}" />
        <meta property="og:url" content="{% block open_graph_url block('canonical_url') %}" />
        <meta property="og:title" content="{% block open_graph_title block('title') %}" />
        <meta property="og:description" content="{% block open_graph_description block('meta_description') %}" />
        <meta property="og:image" content="{% block open_graph_image default_sharer %}" />
        <meta property="og:image:width" content="{% block open_graph_image_width default_sharer_width %}" />
        <meta property="og:image:height" content="{% block open_graph_image_height default_sharer_height %}" />
        {% block open_graph '' %}

        <meta property="fb:pages" content="543099962534877" />

        <meta name="twitter:card" content="summary_large_image" />
        <meta name="twitter:title" content="{{ block('open_graph_title') }}" />
        <meta name="twitter:description" content="{% block meta_twitter_description block('meta_description') %}" />
        <meta name="twitter:image" content="{{ block('open_graph_image')|raw }}" />

        {% block meta_rss %}
            <link rel="alternate" type="application/rss+xml" title="La République En Marche !" href="{{ url('articles_feed') }}" />
        {% endblock %}

        {% block json_ld %}
        <script type="application/ld+json">
            {
                "@context": "http://schema.org",
                "@type": "Organization",
                "sameAs" : ["http://www.facebook.com/EnMarche","http://www.twitter.com/enmarchefr","https://www.instagram.com/enmarchefr","https://www.youtube.com/channel/UCJw8np695wqWOaKVhFjkRyg","https://www.linkedin.com/company/en-marche/","https://soundcloud.com/enmarchefr"],
                "url": "{{ block('open_graph_url') }}",
                "name": "{{ block('title') }}",
                "logo": "{{ block('open_graph_image')|raw }}",
                "description": "{{ block('meta_description') }}",
                "subOrganization": {
                    "@type": "Organization",
                    "url": "https://lesjam.fr/",
                    "name": "Les Jeunes avec Macron",
                    "logo": "https://lesjam.fr/assets/images/logo-jam-1.png"
                }
            }
        </script>
        {% endblock %}

        {% block base_stylesheets %}
            <link rel="stylesheet" type="text/css" href="{{ asset('css/font-awesome.min.css') }}" />
            <link rel="stylesheet" type="text/css" href="{{ webpack_asset('app.css') }}" />
            <link rel="stylesheet" type="text/css" href="{{ asset('css/cookieconsent.min.css') }}" />
        {% endblock %}

        {% block stylesheets '' %}
        {% block final_stylesheets '' %}
        {% block head_javascripts '' %}
    </head>
    <body>
        {% if app.environment == 'prod' %}
            <!-- Google Tag Manager (noscript) -->
            <noscript>
                <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-W4TQQ7T" height="0" width="0" style="display:none;visibility:hidden"></iframe>
            </noscript>
            <!-- End Google Tag Manager (noscript) -->
        {% endif %}

        <!-- START Display Upgrade Message for IE 10 or Less -->
        <!-- [if lte IE 9]>
            {% block ie_warning %}
                <div class="flash notice-flashes">
                    <div class="flash__inner">
                        Pensez à mettre à jour votre navigateur web ou le changer <a href="https://browsehappy.com" target="_blank">ici</a> pour visualiser correctement le site.
                        <a href="#" class="link--no--decor" onClick="document.cookie = 'dismiss_ie_warning=true;';this.parentNode.parentNode.removeChild(this.parentNode);">&times;</a>
                    </div>
                </div>
            {% endblock %}
        <![endif]-->
        <script>
            // IF THE BROWSER IS INTERNET EXPLORER 10
            if (!document.cookie.match(new RegExp('dismiss_ie_warning=true')) && (navigator.appVersion.indexOf('MSIE 10') !== -1 || navigator.appVersion.indexOf('MSIE 11') !== -1)) { document.write('{{ block('ie_warning')|e('js') }}');}
            // ]]>
        </script>
        <!-- END Display Upgrade Message for IE 10 or Less -->

        {% block flash_message %}
            {% for label, messages in app.flashes(['info', 'error']) %}
                <div class="flash flash--{{ label }} notice-flashes">
                    {% for message in messages %}
                        <div class="flash__inner">{{ message|trans }}</div>
                    {% endfor %}
                </div>
            {% endfor %}
        {% endblock %}

        {% block banner include('banner/call.html.twig', { banner: get_home_block(constant('AppBundle\\Entity\\HomeBlock::HEADER_BANNER')) }) %}

        {% block header %}
            {{ include('components/_header.html.twig') }}
        {% endblock %}

        {% block content '' %}

        {% block footer %}
            {{ include('components/_footer.html.twig') }}
        {% endblock %}

        <div id="search-overlay">
            <div class="g-search__header l__wrapper l__row l__row--h-stretch">
                <div class="text--logo"><a href="/">En Marche !</a></div>
                <a href="javascript:void(0)" id="je-ferme-la-recherche"
                   class="l__row l__row--center text--body link--no-decor icon--with-text--reversed btn__icon">
                    <span>Fermer la recherche</span>
                    {{ include('components/close.html.twig') }}
                </a>
            </div>

            <div id="search-engine"></div>
        </div>

        <script type="text/javascript" src="{{ webpack_asset('kernel.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/cookieconsent.min.js') }}"></script>

        {% block javascripts '' %}

        <script type="text/javascript">
            on(window, 'load', function() {
                Kernel.boot(
                    '{{ app.debug ? 'debug' : assets_hash }}',
                    {{ sentry_dsn ? ('\''~sentry_dsn~'\'')|raw : 'null' }},
                    '{{ app.environment }}',
                    {{ algolia_app_id ? ('\''~algolia_app_id|e('js')~'\'')|raw : 'null' }},
                    {{ algolia_api_key ? ('\''~algolia_api_key|e('js')~'\'')|raw : 'null' }},
                    '{{ algolia_blacklist|base64_encode }}'
                );
            });
        </script>

        {% block final_javascripts '' %}

        {% block chatbot_javascripts include('bot/_javascript.html.twig') %}
    </body>
</html>
