{% use 'form_div_layout.html.twig' %}

{# Override #}

{%- block choice_widget_expanded -%}
    <div {{ block('widget_container_attributes') }}>
        {% set start = 0 %}
        {% for key, choice in choices %}
            {% if choice.choices is defined %}
                <h3>{{ key|trans }}</h3>
                {% set size = choice.choices|length %}
            {% else %}
                {% set size = 1 %}
            {% endif %}
            {%- for child in form.children|slice(start, size) %}
                {{- form_row(child, {translation_domain: choice_translation_domain}) -}}
            {% endfor -%}
            {% set start = start + size %}
        {% endfor -%}
    </div>
{%- endblock choice_widget_expanded -%}

{%- block form_row -%}
    {% if form_full %}
        {%- set attr = attr|merge({class: (attr.class|default('') ~ ' form--full')|trim}) -%}
    {% endif %}
    <div{% if form_full %} class="form__row"{% endif %}>
        {{- form_label(form) -}}
        {{- form_errors(form) -}}
        {{- form_widget(form, {attr: attr}) -}}
    </div>
{%- endblock form_row -%}

{% block form_widget_simple -%}
    {% if type is not defined or type not in ['file', 'hidden'] %}
        {%- set attr = attr|merge({class: (attr.class|default('') ~ ' form form__field')|trim}) -%}
    {% endif %}
    {{- parent() -}}
    {{- block('character_count') -}}
{%- endblock form_widget_simple %}

{% block textarea_widget -%}
    {% set attr = attr|merge({class: (attr.class|default('') ~ ' form form__field')|trim}) %}
    {{- parent() -}}
    {{- block('character_count') -}}
{%- endblock textarea_widget %}

{% block button_widget -%}
    {% if defaultClass is not defined or defaultClass is same as(true) %}
        {% set attr = attr|merge({class: (attr.class|default('btn') ~ ' form btn')|trim}) %}
    {% endif %}
    {{- parent() -}}
{%- endblock %}

{% block choice_widget_collapsed -%}
    {% set attr = attr|merge({class: (attr.class|default('') ~ ' form form__field')|trim}) %}
    {{- parent() -}}
{%- endblock %}

{%- block month_choice_widget -%}
    <div {{ block('widget_container_attributes') }}>
        {{- date_pattern|replace({
            '{{ year }}': form_widget(form.year),
            '{{ month }}': form_widget(form.month),
            '{{ day }}': '',
        })|raw -}}
    </div>
{%- endblock month_choice_widget -%}

{# Labels #}

{% block form_label -%}
    {%- set label_attr = label_attr|merge({class: (label_attr.class|default('') ~ ' form form__label')|trim}) -%}
    {{- parent() -}}
{%- endblock form_label %}

{% block accept_personal_data_collect_label %}
    {{ form_label(form, label|default("J'ai lu et j'accepte les mentions d'information relatives au recueil de mes données personnelles ci-dessous :"), {label_attr: {id: 'field-personal-data-collection'}}) }}
{% endblock %}

{# Errors #}

{% block form_errors -%}
    {% if errors|length > 0 -%}
    <ul id="{{ id }}_errors" class="form form__errors">
        {%- for error in errors -%}
            <li class="form__error re-text-status--error">
                {%- if error_raw -%}
                    {{- error.message|raw -}}
                {%- else -%}
                    {{- error.message -}}
                {%- endif -%}
            </li>
        {%- endfor -%}
    </ul>
    {%- endif %}
{%- endblock form_errors %}

{# Custom types #}

{% block _summary_skills_entry_name_row %}
    {% apply spaceless %}
        <div class="summary-skill">
            {{ block('form_errors') }}
            <span class="skill-remove">X</span>
            <span class="skill-value">&nbsp;{% if value is not empty %}{{ value }}{% endif %}</span>
            {{ block('hidden_widget') }}
        </div>
    {% endapply %}
{% endblock %}

{% block character_count -%}
    {% if with_character_count is defined and with_character_count and attr.maxlength is defined %}
        {% set maxlength = attr.maxlength %}
        <span id="{{ id }}_counter" class="character-count">0/{{ maxlength }}</span>

        <script type="text/javascript">
            $(document).ready(function() {
                const $field = $('#{{ id }}');
                const $counter = $('#{{ id }}_counter');
                $counter.html($field.val().length  + '/{{ maxlength }}');
                $field.keyup(function(event) {
                    const $text_length = $field.val().length;
                    $counter.html($text_length  + '/{{ maxlength }}');
                })
                .trigger('keyup');
            });
        </script>
    {% endif %}
{%- endblock character_count %}

{% block color_choice_entry_label %}
    {%- set label_attr = label_attr|merge({style: 'cursor: pointer; background-color: ' ~ label ~ '; width: 27px; height: 27px;'}) -%}
    {%- set label = ' ' -%}
    {{- block('form_label') -}}
{% endblock %}

{%- block checkbox_row -%}
    <div class="form__checkbox">
        {{ form_widget(form) }}
        {{ form_label(form) }}
        {{ form_errors(form) }}
    </div>
{%- endblock -%}

{%- block radio_row -%}
    <div class="form__radio">
        {{ form_widget(form) }}
        {{ form_label(form) }}
        {{ form_errors(form) }}
    </div>
{%- endblock -%}

{# Bug Fix for waiting this PR: https://github.com/misd-service-development/phone-number-bundle/pull/175 #}
{% block misd_tel_widget %}
    <div {{ block('widget_container_attributes') }}>
        {{- form_widget(form.country) -}}
        {{- form_widget(form.number) -}}
    </div>
{% endblock %}

{% block attachment_file_widget %}
    {{ form_widget(form) }}
    {% if form.path is defined %}
        <a href="{{ path('mooc_get_file', {slug: form.vars.value.slug, extension: form.vars.value.extension}) }}" target="_blank">Télécharger le fichier</a>
    {% endif %}
{% endblock %}

{% block _simple_message_filter_gender_widget %}
    {{ block('choice_tab_widget') }}
{% endblock %}

{% block _advanced_message_filter_gender_widget %}
    {{ block('choice_tab_widget') }}
{% endblock %}

{% block _adherent_geo_zone_filter_gender_widget %}
    {{ block('choice_tab_widget') }}
{% endblock %}

{% block _elected_representative_filter_gender_widget %}
    {{ block('choice_tab_widget') }}
{% endblock %}

{% block _referent_filter_gender_widget %}
    {{ block('choice_tab_widget') }}
{% endblock %}

{% block _referent_elected_representative_filter_gender_widget %}
    {{ block('choice_tab_widget') }}
{% endblock %}

{% block _referent_elected_representative_filter_isAdherent_widget %}
    {{ block('choice_tab_widget') }}
{% endblock %}

{% block _adherent_zone_filter_gender_widget %}
    {{ block('choice_tab_widget') }}
{% endblock %}

{% block _f_gender_widget %}
    {{ block('choice_tab_widget') }}
{% endblock %}

{% block _f_contactType_widget %}
    {{ block('choice_tab_widget') }}
{% endblock %}

{% block _f_emailSubscription_widget %}
    {{ block('choice_tab_widget') }}
{% endblock %}

{% block _f_isCertified_widget %}
    {{ block('choice_tab_widget') }}
{% endblock %}

{% block _f_voteInCommittee_widget %}
    {{ block('choice_tab_widget') }}
{% endblock %}

{% block _f_isCommitteeMember_widget %}
    {{ block('choice_tab_widget') }}
{% endblock %}

{% block _filter_subscribed_widget %}
    {{ block('choice_tab_widget') }}
{% endblock %}

{% block _filter_gender_widget %}
    {{ block('choice_tab_widget') }}
{% endblock %}

{% block _filter_certified_widget %}
    {{ block('choice_tab_widget') }}
{% endblock %}

{% block _filter_votersOnly_widget %}
    {{ block('choice_tab_widget') }}
{% endblock %}

{% block choice_tab_widget %}
    <div {{ block('widget_container_attributes') }}>
        {%- for child in form %}
            <div class="filter__radio__tab">
                {{- form_widget(child) -}}
                {{- form_label(child, null, {translation_domain: choice_translation_domain}) -}}
            </div>
        {% endfor -%}
    </div>
{% endblock %}

{% block _adherent_registration_birthdate_widget %}
    <div {{ block('widget_container_attributes') }}>
        {{- date_pattern|replace({
            '{{ year }}': form_widget(form.year, {attr: {'data-validated-with': 'adherent_registration_birthdate_'}}),
            '{{ month }}': form_widget(form.month, {attr: {'data-validated-with': 'adherent_registration_birthdate_'}}),
            '{{ day }}': form_widget(form.day, {attr: {'data-validated-with': 'adherent_registration_birthdate_'}}),
        })|raw -}}
    </div>
{% endblock %}

{% block date_time_picker_widget %}
    {% if attr.class is defined and 'em-datetime-picker' not in attr.class %}
        {%- set attr = attr|merge({class: (attr.class|default('') ~ ' em-datetime-picker')|trim}) -%}
    {% endif %}
    {{ block('datetime_widget') }}
{%- endblock date_time_picker_widget %}

{% block date_picker_widget %}
    {% if attr.class is defined and 'em-datetime-picker' not in attr.class %}
        {%- set attr = attr|merge({class: (attr.class|default('') ~ ' em-datetime-picker')|trim}) -%}
    {% endif %}
    {{ block('date_widget') }}
{%- endblock date_picker_widget %}

{% block provisional_supervisor_widget -%}
    <div class="form__row">
        <input type="text"
               value="{{ form.vars.label }}"
               id="{{ form.vars.id }}_autocomplete"
               class="{{ attr.class is defined ? attr.class }}"
               placeholder="{{ attr.placeholder is defined ? attr.placeholder }}"
        />
    </div>
    {{ block('hidden_widget') }}

    <script type="text/javascript">
        $(document).ready(function() {
            $('#{{ id }}_autocomplete').change(function() {
                if ($(this).val() === '') {
                    $('#{{ id }}').val('');
                }
            });

            $('#{{ id }}_autocomplete').autocomplete({
                source: function(request, response) {
                    var term = request.term.trim();

                    $.get("{{ path('app_referent_provisional_supervisor_autocomplete')|raw }}?name=" + term + "{{ (form.vars.gender ? '&gender=' ~ form.vars.gender)|raw }}", function(data) {
                        response($.map(data, function(m) {
                            var d = new Date(m.registeredAt);
                            return {
                                label: m.firstName+' '+m.lastName+', adhérent'+(m.gender === 'female' ? 'e' : '')+' depuis le '+d.toLocaleDateString(),
                                value: m.id
                            };
                        }));
                    });
                },
                minLength: 3,
                select: function( event, ui ) {
                    $(this).val(ui.item.label);
                    $('#{{ id }}').val(ui.item.value);

                    return false;
                },
            });
        });
    </script>
{% endblock %}

{% block cropped_image_row %}
    <div class="em-form__group">
        {{ form_label(form.image, label, {label_attr: {class: 'em-form__label' ~ (required ? ' required')}}) }}

        {{ form_errors(form) }}

        {% if image_path %}
            {% set image_url = path('asset_url', {path: image_path}) %}
        {% endif %}

        <div class="em-form__file">
            {{ form_widget(form.image, {attr: {accept: 'image/*'}}) }}
            {{ form_widget(form.croppedImage) }}

            <div>
                <div class="image-uploader--label {{ image_url is defined ? 'hidden' }}">
                    {{ form_label(form.image, 'Télécharger une photo', {label_attr: {class: 'text--blue--dark em-form__file--label'}}) }}
                    <div class="em-form__file--name custom-file-label">Aucun fichier sélectionné</div>
                </div>

                <div class="image-uploader--preview {{ image_url is not defined ? 'hidden' }}">
                    <div>
                        <div class="preview-image--container {% if image_url is defined and (ratio is defined and ratio == '16:9') %}preview-image--container-rectangle{% endif %}" {% if image_url is defined %}style="background-image: url({{ image_url }})"{% endif %}></div>
                    </div>

                    <div>
                        <label for="{{ form.image.vars.id }}" style="display: inline">Modifier</label>
                        <span class="separtor"><strong>·</strong></span>
                        <a href="#" class="link--no-decor link--blue delete-profile-image--trigger">Supprimer</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="em-form__legend">Formats acceptés : jpg, png • Taille max. : 5Mo.</div>
    </div>
{% endblock %}
