{% extends '@SonataDoctrineORMAdmin/Form/form_admin_fields.html.twig' %}

{% block measure_entry_row %}
    <div class="row">
        <div class="col-xs-4">
            {{ form_row(form.key, { required: true }) }}
        </div>
        <div class="col-xs-4">
            {{ form_row(form.value, { required: true }) }}
        </div>
    </div>
{% endblock %}

{% block app_admin_donator_radio_referenceDonation_referenceDonation_entry_widget %}
    {% set currentReferenceDonation = form.parent.parent.vars.value.referenceDonation %}
    {% set currentValue = currentReferenceDonation ? currentReferenceDonation.id : null %}

    <div class="radio">
        <label>
            <input type="radio"
                   id="{{ form.vars.id }}"
                   name="{{ form.vars.full_name }}"
                   value="{{ form.vars.value }}"
                   {% if currentValue == form.vars.value %} checked {% endif %}
            />
        </label>
        <span class="control-label__text">
            {% if form.vars.value %}
                <a href="{{ path('admin_app_donation_edit', { id: form.vars.value }) }}" target="_blank">
                    {{ form.vars.label }}
                </a>
            {% else %}
                {{ form.vars.label }}
            {% endif %}
        </span>
    </div>
{% endblock %}

{% block app_admin_donation_file_row -%}
    {{ block('form_row') }}

    {% set object = form.parent.vars.value %}
    {% if object.filename is defined and object.filename is not empty %}
        <a href="{{ path('app_admin_donation_file', { id: object.id }) }}" target="_blank">
            <i class="fa fa-link" aria-hidden="true"></i> Voir le fichier uploadé
        </a>
    {% endif %}
{% endblock %}

{% block app_admin_mooc_mooc_image_file_image_row -%}
    {{ block('admin_image_with_url_row') }}
{% endblock %}

{% block admin_image_with_url_row %}
    {{ block('form_row') }}

    {% set object = form.parent.vars.value %}
    {% if object.imageName is defined and object.imageName is not empty %}
        <img src="{{ path('asset_url', { path: object.getImagePath }) }}">
    {% endif %}
{% endblock %}
