{% use "form_div_layout.html.twig" %}

{%- block form_row -%}
    <div class="em-form__group{% if half is defined and half %} half{% endif %} {{ attr.class|default('') }}">
        {{- form_label(form) -}}
        {{- form_widget(form, { attr: attr }) -}}
        {{- form_errors(form) -}}
    </div>
{%- endblock form_row -%}

{% block form_label -%}
    {%- set label_attr = label_attr|merge({class: (label_attr.class|default('') ~ ' em-form__label')|trim}) -%}
    {{- parent() -}}
{%- endblock form_label %}

{% block choice_widget_collapsed -%}
    {% set attr = attr|merge({class: (attr.class|default('') ~ ' em-form__field')|trim}) %}
    {{- parent() -}}
{%- endblock %}

{%- block choice_widget_expanded -%}
    {%- for child in form %}
        <div class="form__{{ multiple ? 'checkbox' : 'radio' }}">
            {{- form_widget(child) -}}
            {{- form_label(child, null, {translation_domain: choice_translation_domain}) -}}
        </div>
    {% endfor -%}
{%- endblock choice_widget_expanded -%}

{% block form_widget_simple -%}
    {% if type is not defined or type not in ['file', 'hidden'] %}
        {%- set attr = attr|merge({class: (attr.class|default('') ~ ' em-form__field')|trim}) -%}
    {% endif %}
    {{- parent() -}}
    {{- block('character_count') -}}
{%- endblock form_widget_simple %}

{% block textarea_widget -%}
    {% set attr = attr|merge({class: (attr.class|default('') ~ ' em-form__field')|trim}) %}
    {{- parent() -}}
    {{- block('character_count') -}}
{%- endblock textarea_widget %}

{% block character_count -%}
    {% if with_character_count is defined and with_character_count and attr.maxlength is defined %}
        {% set maxlength = attr.maxlength %}
        <span id="{{ id }}_counter" class="character-count">0/{{ maxlength }}</span>

        <script type="text/javascript">
          $(document).ready(function() {
            const $field = $('#{{ id }}');
            const $counter = $('#{{ id }}_counter');
            $counter.html($field.val().length  + '/{{ maxlength }}');
            $field.keyup(function(event) {
              const $text_length = $field.val().length;
              $counter.html($text_length  + '/{{ maxlength }}');
            })
              .trigger('keyup');
          });
        </script>
    {% endif %}
{%- endblock character_count %}

{% block form_errors -%}
    {% if errors|length %}
        {%- for error in errors -%}
            <p class="em-form--error">
            {%- if error_raw -%}
                {{- error.message|raw -}}
            {%- else -%}
                {{- error.message -}}
            {%- endif -%}
            </p>
        {%- endfor -%}
    {% endif %}
{%- endblock form_errors %}
