{% extends '@SonataDoctrineORMAdmin/Form/form_admin_fields.html.twig' %}

{% block measure_entry_row %}
    <div class="row">
        <div class="col-xs-4">
            {{ form_row(form.key, { required: true }) }}
        </div>
        <div class="col-xs-4">
            {{ form_row(form.value, { required: true }) }}
        </div>
    </div>
{% endblock %}

{% block app_admin_donator_referenceDonation_entity_referenceDonation_row %}
    {{ block('form_row') }}

    {% set donator = form.parent.vars.value %}

    <span class="help-block sonata-ba-field-help">
        Adresse courante: {{ donator.referenceAddress }}
    </span>
{% endblock %}

{% block app_admin_donator_radio_referenceDonation_referenceDonation_entry_widget %}
    {% import 'admin/donation/_macros.html.twig' as macros %}

    {% set currentReferenceDonation = form.parent.parent.vars.value.referenceDonation %}
    {% set currentValue = currentReferenceDonation ? currentReferenceDonation.id : null %}

    <div class="radio">
        <label>
            <input type="radio"
                   id="{{ form.vars.id }}"
                   name="{{ form.vars.full_name }}"
                   value="{{ form.vars.value }}"
                   {% if currentValue == form.vars.value %} checked {% endif %}
            />
        </label>
        <span class="control-label__text">
            {% if form.vars.value %}
                {% set donation = form.parent.vars.choices[form.vars.value].data %}

                <strong>
                    Don {% if donation.hasSubscription %}récurrent {% endif %}de
                    {{ donation.amountInEuros|localizedcurrency('EUR') }}
                    le {{ donation.donatedAt|localizeddate }}
                </strong>

                <a href="{{ path('admin_app_donation_edit', { id: form.vars.value }) }}" target="_blank">
                    Voir le détail
                </a>

                <ul>
                    <li>
                        Type: {{ macros.get_donation_type_badge(donation.type) }}
                    </li>
                    <li>
                        Statut: {{ macros.get_donation_status_badge(donation.status) }}
                    </li>
                    {% if donation.type is constant('AppBundle\\Entity\\Donation::TYPE_CB') and donation.hasSubscription and not donation.transactions.isEmpty %}
                        <li>
                            Transactions:
                            <br>
                            <ul>
                                {% for transaction in donation.transactions %}
                                    <li>
                                        <span class="badge {% if transaction.isSuccessful %}bg-green{% else %}bg-red{% endif %}">
                                            {{ ('transaction.result_code.' ~ transaction.payboxResultCode)|trans }}
                                        </span>
                                        le {{ transaction.payboxDateTime|localizeddate }}
                                    </li>
                                {% endfor %}
                            </ul>
                        </li>
                    {% endif %}
                </ul>
            {% else %}
                {{ form.vars.label }}
            {% endif %}
        </span>
    </div>
{% endblock %}

{% block app_admin_donation_file_row -%}
    {{ block('form_row') }}

    {% set object = form.parent.vars.value %}
    {% if object.filename is defined and object.filename is not empty %}
        <a href="{{ path('app_admin_donation_file', { id: object.id }) }}" target="_blank">
            <i class="fa fa-link" aria-hidden="true"></i> Voir le fichier uploadé
        </a>
    {% endif %}
{% endblock %}

{% block app_admin_elected_representative_mandates_sonata_type_native_collection_mandates_widget -%}
    <div class="row">
        <div class="col-xs-11 col-xs-offset-1">
            <div class="row bg-primary">
                <div class="col-md-2">Type</div>
                <div class="col-md-1">Nuance politique</div>
                <div class="col-width4">Élu(e)</div>
                <div class="col-md-2">Soutien LaREM</div>
                <div class="col-width4">En cours</div>
                <div class="col-md-2">Date de début de mandat</div>
                <div class="col-md-2">Date de fin de mandat</div>
                <div class="col-md-2">Périmètre géographique</div>
            </div>
        </div>
    </div>
    ​
    <div class="mandates-collection">
        {{ form_widget(form) }}
    </div>

    <script type="text/javascript">
        $(document).ready(function() {
            $("div.mandates-collection").on('ifToggled', "input[id$='_isElected'], input[id$='_onGoing']", function() {
                var elementId = $(this).attr('id');
                if (elementId.includes('_isElected')) {
                    var id = elementId.substr(0, elementId.indexOf('_isElected'));
                    var isElected = $(this);
                    var onGoing = $('#'+elementId.replace('isElected', 'onGoing'));
                } else {
                    var id = elementId.substr(0, elementId.indexOf('_onGoing'));
                    var isElected = $('#'+elementId.replace('onGoing', 'isElected'));
                    var onGoing = $(this);
                }
                id = id.substr(id.length - 1);

                if (isElected.is(':checked') && !onGoing.is(':checked')) {
                    $(this).parents('.row.mandate').find("div.date input[id$='" + id + "_finishAt']").prop('disabled', false);
                } else {
                    $(this).parents('.row.mandate').find("div.date input[id$='" + id + "_finishAt']").prop('disabled', true);
                }
            });

            $("div.icheckbox_square-blue input[id$='_isElected'], div.icheckbox_square-blue input[id$='_onGoing']").trigger('ifToggled');
            $('div.mandates-collection .sonata-collection-add').on('sonata-collection-item-added', function () {
                $("div.icheckbox_square-blue input[id$='_isElected'], div.icheckbox_square-blue input[id$='_onGoing']").trigger('ifToggled');
            });
        });
    </script>
{% endblock %}

{% block app_admin_elected_representative_mandate_mandates_mandates_entry_widget -%}
    <div class="row mandate" style="margin-top: 10px; margin-left: -30px;">
        <div class="col-md-2{{ not form.type.vars.valid ? ' error' }}">
            {{ form_widget(form.type) }}
            {{ form_errors(form.type) }}
        </div>
        <div class="col-md-1{{ not form.politicalAffiliation.vars.valid ? ' error' }}">
            {{ form_widget(form.politicalAffiliation) }}
            {{ form_errors(form.politicalAffiliation) }}
        </div>
        <div class="col-width4{{ not form.isElected.vars.valid ? ' error' }}">
            {{ form_widget(form.isElected) }}
            {{ form_errors(form.isElected) }}
        </div>
        <div class="col-md-2{{ not form.laREMSupport.vars.valid ? ' error' }}">
            {{ form_widget(form.laREMSupport) }}
            {{ form_errors(form.laREMSupport) }}
        </div>
        <div class="col-width4{{ not form.onGoing.vars.valid ? ' error' }}">
            {{ form_widget(form.onGoing) }}
            {{ form_errors(form.onGoing) }}
        </div>
        <div class="col-md-2{{ not form.beginAt.vars.valid ? ' error' }}">
            {{ form_widget(form.beginAt) }}
            {{ form_errors(form.beginAt) }}
        </div>
        <div class="col-md-2{{ not form.finishAt.vars.valid ? ' error' }}">
            {{ form_widget(form.finishAt) }}
            {{ form_errors(form.finishAt) }}
        </div>
        <div class="col-md-2{{ not form.geographicalArea.vars.valid ? ' error' }}">
            {{ form_widget(form.geographicalArea) }}
            {{ form_errors(form.geographicalArea) }}
        </div>
    </div>
{% endblock %}

{% block app_admin_elected_representative_politicalFunctions_sonata_type_native_collection_politicalFunctions_widget -%}
    <div class="row">
        <div class="col-xs-11 col-xs-offset-1">
            <div class="row bg-primary">
                <div class="col-md-2">Nom</div>
                <div class="col-md-3">Précision</div>
                <div class="col-md-2">Périmètre géographique</div>
                <div class="col-md-1">En cours</div>
                <div class="col-md-2">Date de début de mandat</div>
                <div class="col-md-2">Date de fin de mandat</div>
            </div>
        </div>
    </div>
    ​
    <div class="political-functions-collection">
        {{ form_widget(form) }}
    </div>

    <script type="text/javascript">
        $(document).ready(function() {
            $("div.political-functions-collection").on('ifToggled', "input[id$='_onGoing']", function() {
                var onGoingId = $(this).attr('id');
                var id = onGoingId.substr(0, onGoingId.indexOf('_onGoing'));
                id = id.substr(id.length - 1);

                if ($(this).is(':checked')) {
                    $(this).parents('.row.political-function').find("div.date input[id$='" + id + "_finishAt']").prop('disabled', true);
                } else {
                    $(this).parents('.row.political-function').find("div.date input[id$='" + id + "_finishAt']").prop('disabled', false);
                }
            });

            $("div.icheckbox_square-blue input[id$='_onGoing']").trigger('ifToggled');
            $('div.political-functions-collection .sonata-collection-add').on('sonata-collection-item-added', function () {
                $("div.icheckbox_square-blue input[id$='_onGoing']").trigger('ifToggled');
            });
        });
    </script>
{% endblock %}

{% block app_admin_elected_representative_political_function_politicalFunctions_politicalFunctions_entry_widget -%}
    <div class="row political-function" style="margin-top: 10px; margin-left: -30px;">
        <div class="col-md-2{{ not form.name.vars.valid ? ' error' }}">
            {{ form_widget(form.name) }}
            {{ form_errors(form.name) }}
        </div>
        <div class="col-md-3{{ not form.clarification.vars.valid ? ' error' }}">
            {{ form_widget(form.clarification) }}
            {{ form_errors(form.clarification) }}
        </div>
        <div class="col-md-2{{ not form.geographicalArea.vars.valid ? ' error' }}">
            {{ form_widget(form.geographicalArea) }}
            {{ form_errors(form.geographicalArea) }}
        </div>
        <div class="col-md-1{{ not form.onGoing.vars.valid ? ' error' }}">
            {{ form_widget(form.onGoing) }}
            {{ form_errors(form.onGoing) }}
        </div>
        <div class="col-md-2{{ not form.beginAt.vars.valid ? ' error' }}">
            {{ form_widget(form.beginAt) }}
            {{ form_errors(form.beginAt) }}
        </div>
        <div class="col-md-2{{ not form.finishAt.vars.valid ? ' error' }}">
            {{ form_widget(form.finishAt) }}
            {{ form_errors(form.finishAt) }}
        </div>
    </div>
{% endblock %}

{% block app_admin_mooc_mooc_image_row -%}
    {{ block('admin_image_with_url_row') }}
{% endblock %}

{% block app_admin_mooc_element_image_row -%}
    {{ block('admin_image_with_url_row') }}
{% endblock %}

{% block admin_image_with_url_row %}
    {{ block('form_row') }}

    {% if value %}
        <div>
            <p><em>Image actuelle:</em></p>
            <p class="text-center">
                <img class="img-thumbnail" src="{{ path('asset_url', { path: value.filePath }) }}">
            </p>
        </div>
    {% endif %}
{% endblock %}
