{% extends 'base.html.twig' %}

{% block page_title reactApp.pageMetaData.title %}
{% block meta_description reactApp.pageMetaData.description ?? parent() %}

{% block canonical_url url(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) %}

{% block open_graph_image reactApp.pageMetaData.imageUrl ?? parent() %}
{% block open_graph_image_width reactApp.pageMetaData.imageWidth ?? parent() %}
{% block open_graph_image_height reactApp.pageMetaData.imageHeight ?? parent() %}

{% block stylesheets %}
    <style>
        .react-app-loader {
            text-align: center;
            padding: 120px 0 200px 0;
        }
    </style>

    {% for css in manifest.css %}
        <link rel="stylesheet" type="text/css" href="{{ asset(css) }}" />
    {% endfor %}
{% endblock %}

{% block final_javascripts %}
    <script type="text/javascript">
        var config = {
            env: '{{ app.environment }}',
            staging: {{ enable_canary ? 'true' : 'false' }},
            em_api_host: '{{ em_api_host }}',
        };
    </script>

    {% for js in manifest.js %}
        <script type="text/javascript" src="{{ asset(js) }}"></script>
    {% endfor %}
{% endblock %}

{% block content %}
    <main>
        <noscript>Vous devez activer JavaScript pour voir cette page.</noscript>

        <div id="root">
            <div class="react-app-loader">
                <img src="{{ asset('images/loader-sm.gif') }}" />
                <br />
                Chargement ...
            </div>
        </div>
    </main>
{% endblock %}
