{% set isAdiSection = type is null or type in ['adi_proposals', 'adi_contributions', 'adi_votes'] %}

<h1 class="text--medium-large">Mon atelier des idées</h1>
<nav class="tabs-nav b__nudge--bottom-larger">
    <ul>
        <li{% if type is null or (isAdiSection and type == 'adi_proposals') %} class="active"{% endif %}><a href="#" class="tabs-nav__item js--tabs" data-target="#adi-my-proposals">Mes propositions</a></li>
        <li{% if type == 'adi_contributions' %} class="active"{% endif %}><a href="#" class="tabs-nav__item js--tabs" data-target="#adi-my-contributions">Mes contributions</a></li>
        <li{% if type == 'adi_votes' %} class="active"{% endif %}><a href="#" class="tabs-nav__item js--tabs" data-target="#adi-my-votes">Mes votes</a></li>
    </ul>
</nav>

<div id="adi-my-proposals" class="js--tabs-content{{ type is not null and isAdiSection and type != 'adi_proposals' ? ' visually-hidden' }}">
    <div class="l__col">
        {% if adi_proposals.totalItems < 1 %}
            <div class="space--40-0 text--center">
                <p class="font-roboto text--default-large text--bold b__nudge--bottom">Contribuez à l'Atelier des idées</p>
                <a class="btn btn--blue" href="{{ path('react_app_ideas_workshop_propose') }}">Proposer une idée</a>
            </div>
        {% else %}
            {% for idea in adi_proposals %}
                <article class="activity-card b__nudge--bottom">
                    <div class="l__col">
                        <div class="activity-card__type activity-card__type--adi">Atelier des idées</div>
                        <h2 class="activity-card__title font-roboto text--medium b__nudge--bottom-small text--breakword text--bold l__row">
                            <a href="{{ path('react_app_ideas_workshop_proposition', {id: idea.uuid}) }}" class="link--no-decor l__col--grow-1">
                                {{- idea.name -}}
                            </a>
                            {% if not idea.themes.empty %}
                            <img
                                class="activity-card__theme text--small text--normal"
                                src="{{ asset(idea.themes.first.imagePath) }}"
                                data-tip=""
                                data-effect="solid"
                                data-type="light"
                                data-class="idea-card__theme-tip"
                                alt="Aperçu"
                            />
                            {% endif %}
                        </h2>
                        <div class="font-roboto text--gray b__nudge--bottom-small">
                            Par <span class="text--black">{{ idea.author }}</span> |
                            {{ ('ideas_workshop.author_category.' ~ (idea.authorCategory|lower))|trans }}
                        </div>
                        <div class="font-roboto text--grey">
                            {% if idea.pending %}
                                En cours -
                                {% set remainingDays = idea.daysBeforeDeadline %}
                                {% if remainingDays %}
                                    {{ remainingDays }} jour(s) restant(s)
                                {% else %}
                                    {{ idea.hoursBeforeDeadLine }} heure(s) restante(s)
                                {% endif %}
                            {% else %}
                                Finalisée
                            {% endif %}
                        </div>
                    </div>
                </article>
            {% endfor %}

            {% if adi_proposals.lastPage > 1 %}
                {% include 'adherent_profile/activity/_pagination.html.twig' with {
                    current_page: adi_proposals.currentPage,
                    total_pages: adi_proposals.lastPage,
                    pagination_type: 'adi_proposals',
                    section: 'adi'
                } %}
            {% endif %}
        {% endif %}
    </div>
</div>

<div id="adi-my-contributions" class="js--tabs-content{{ type != 'adi_contributions' ? ' visually-hidden' }}">
    <div class="l__col">
        {% if adi_contributions.totalItems < 1 %}
            <div class="space--40-0 text--center">
                <p class="font-roboto text--default-large text--bold b__nudge--bottom">Contribuez à l'Atelier des Idées</p>
                <a class="btn btn--blue" href="{{ path('react_app_ideas_workshop_contribute') }}">Contribuer à une idée</a>
            </div>
        {% else %}
            {% for idea in adi_contributions %}
                <article class="activity-card b__nudge--bottom">
                    <div class="l__col">
                        <div class="activity-card__type activity-card__type--adi">Atelier des idées</div>
                        <h2 class="activity-card__title font-roboto text--medium b__nudge--bottom-small text--breakword text--bold l__row">
                            <a href="{{ path('react_app_ideas_workshop_proposition', {id: idea.uuid}) }}" class="link--no-decor l__col--grow-1">
                                {{- idea.name -}}
                            </a>
                            {% if not idea.themes.empty %}
                                <img
                                        class="activity-card__theme text--small text--normal"
                                        src="{{ asset(idea.themes.first.imagePath) }}"
                                        data-tip=""
                                        data-effect="solid"
                                        data-type="light"
                                        data-class="idea-card__theme-tip"
                                        alt="Aperçu"
                                />
                            {% endif %}
                        </h2>
                        <div class="font-roboto text--gray b__nudge--bottom-small">
                            Par <span class="text--black">{{ idea.author }}</span> |
                            {{ ('ideas_workshop.author_category.' ~ (idea.authorCategory|lower))|trans }}
                        </div>
                        <div class="font-roboto text--grey">
                            {% if idea.pending %}
                                En cours -
                                {% set remainingDays = idea.daysBeforeDeadline %}
                                {% if remainingDays %}
                                    {{ remainingDays }} jour(s) restant(s)
                                {% else %}
                                    {{ idea.hoursBeforeDeadLine }} heure(s) restante(s)
                                {% endif %}
                            {% else %}
                                Finalisée
                            {% endif %}
                        </div>
                    </div>
                </article>
            {% endfor %}

            {% if adi_contributions.lastPage > 1 %}
                {% include 'adherent_profile/activity/_pagination.html.twig' with {
                    current_page: adi_contributions.currentPage,
                    total_pages: adi_contributions.lastPage,
                    pagination_type: 'adi_contributions',
                    section: 'adi'
                } %}
            {% endif %}
        {% endif %}
    </div>
</div>

<div id="adi-my-votes" class="js--tabs-content{{ type != 'adi_votes' ? ' visually-hidden' }}">
    <div class="l__col">
        {% if adi_votes.totalItems < 1 %}
            <div class="space--40-0 text--center">
                <p class="font-roboto text--default-large text--bold b__nudge--bottom">Contribuez à l'Atelier des Idées</p>
                <a class="btn btn--blue" href="{{ path('react_app_ideas_workshop_support') }}">Soutenir une idée</a>
            </div>
        {% else %}
            {% for adi_vote in adi_votes %}
                {% set vote = adi_vote[0] %}
                <article class="activity-card b__nudge--bottom">
                    <div class="l__col">
                        <div class="activity-card__type activity-card__type--adi">Atelier des idées</div>
                        <h2 class="activity-card__title font-roboto text--medium b__nudge--bottom-small text--breakword text--bold l__row">
                            <a href="{{ path('react_app_ideas_workshop_proposition', {id: vote.idea.uuid}) }}" class="link--no-decor l__col--grow-1">
                                {{- vote.idea.name -}}
                            </a>
                            {% if not vote.idea.themes.empty %}
                            <img
                                class="activity-card__theme text--small text--normal"
                                src="{{ asset(vote.idea.themes.first.imagePath) }}"
                                data-tip=""
                                data-effect="solid"
                                data-type="light"
                                data-class="idea-card__theme-tip"
                                alt="Aperçu"
                            />
                            {% endif %}
                        </h2>
                        <div class="font-roboto text--gray b__nudge--bottom-small">
                            Par <span class="text--black">{{ vote.idea.author }}</span> |
                            {{ ('ideas_workshop.author_category.' ~ (vote.idea.authorCategory|lower))|trans }}
                        </div>

                        <div class="font-roboto">
                            Vous avez voté : {{ adi_vote.votes_types|split(',')|map(type => ('vote.type.'~type)|trans|lower)|join(', ') }}
                        </div>
                        <div class="font-roboto text--grey">
                            {% if vote.idea.pending %}
                                En cours -
                                {% set remainingDays = vote.idea.daysBeforeDeadline %}
                                {% if remainingDays %}
                                    {{ remainingDays }} jour(s) restant(s)
                                {% else %}
                                    {{ vote.idea.hoursBeforeDeadLine }} heure(s) restante(s)
                                {% endif %}
                            {% else %}
                                Finalisée
                            {% endif %}
                        </div>
                    </div>
                </article>
            {% endfor %}

            {% if adi_votes.lastPage > 1 %}
                {% include 'adherent_profile/activity/_pagination.html.twig' with {
                    current_page: adi_votes.currentPage,
                    total_pages: adi_votes.lastPage,
                    pagination_type: 'adi_votes',
                    section: 'adi'
                } %}
            {% endif %}
        {% endif %}
    </div>
</div>
