<h1 class="text--medium-large">Mes comités</h1>

<div class="l__col">
    {% if committee_memberships.totalItems < 1 %}
        <div class="space--40-0 text--center">
            <p class="font-roboto text--default-large text--bold b__nudge--bottom">Rejoignez un comité proche de chez vous</p>
            <a class="btn btn--blue" href="{{ path('app_search_committees') }}">Rejoindre un comité</a>
        </div>
    {% else %}
        {% set candidacy_membership = app.user.getCommitteeMembership() %}
        {% set has_active_parliamentary_mandate = has_active_parliamentary_mandate(app.user) %}

        {% for membership in committee_memberships %}
            {% set committee = membership.committee %}

            <article class="activity-card b__nudge--bottom">
                <div class="space--30">
                    <div class="activity-card__type activity-card__type--committee">Comité</div>
                    <h2 class="activity-card__title font-roboto text--medium b__nudge--bottom-small text--breakword text--bold l__row">{{ committee.name }}</h2>
                    <div class="l__row l__row--wrap font-roboto text--gray b__nudge--bottom-small">
                        <div class="l__row b__nudge--right-small">
                            <img src="{{ asset('/images/icons/activity/place.svg') }}" alt="Ville" class="b__nudge--right-nano">
                            <span>{{ committee.getCityName }}</span>
                        </div>
                        <div class="l__row">
                            <img src="{{ asset('/images/icons/activity/members.svg') }}" alt="Adhérents" class="b__nudge--right-nano">
                            <span>{{ committee.membersEmCount }} adhérents</span>
                        </div>
                    </div>

                    <div class="activity-card__footer b__nudge--top">
                        <div class="l__row l__row--h-stretch l__row--bottom l__row--wrap">
                            <div class="l__row">
                                <a href="{{ path('app_committee_show', {slug: committee.slug}) }}" title="{{ committee.name }}" class="btn btn--blue b__nudge--right-small">
                                    Voir
                                </a>
                            </div>

                            <div class="b__nudge--top">
                                <div class="em-switch__wrapper">
                                    <label class="switch">
                                        <input
                                            type="checkbox"
                                            class="vote-switcher"
                                            data-committee-title="{{ committee.name }}"
                                            data-committee-slug="{{ committee.slug }}"
                                            data-token="{{ csrf_token('committee.vote') }}"
                                            disabled="disabled"
                                            {{ membership.votingCommittee ? 'checked="checked"' }}
                                        >
                                        <span class="slider"></span>
                                    </label>
                                    <span class="em-switch__label">Comité de vote</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                {% set committee_election = committee.getCurrentElection %}

                {% if
                    committee_election
                    and committee_election.isOngoing
                    and (not committee_election.isVotePeriodStarted() or committee_election.countConfirmedCandidacies())
                %}
                    <div class="activity-card__footer-note text--small space--20-30 font-roboto ">
                        {% set designation = committee_election.designation %}
                        {% set able_to_candidate = is_granted('ABLE_TO_CANDIDATE_IN_COMMITTEE', committee) %}
                        {% set able_to_vote = is_granted('ABLE_TO_VOTE_IN_COMMITTEE', committee) %}
                        {% set last_candidate_committee = find_committee_for_recent_candidate(designation, app.user) %}
                        {% set last_vote_committee = find_committee_for_recent_vote(designation, app.user) %}

                        {% set main_text = null %}
                        {% set help_link = null %}
                        {% set help_text = null %}
                        {% set image_url = null %}

                        {% if designation.type == constant('App\\VotingPlatform\\Designation\\DesignationTypeEnum::COMMITTEE_SUPERVISOR') %}
                            {% set help_link = '<a href="https://storage.googleapis.com/en-marche-fr/Site%20Media/Votes_Animateurs_locaux.pdf" class="link--no-decor text--blue--dark" target="_blank">En savoir plus.</a>' %}
                        {% endif %}

                        {% if able_to_vote %}
                            {% set image_url = '/images/icons/icn_vote-rose.svg' %}

                            {% set committee_candidacy = membership.committeeCandidacy(committee_election) %}

                            {% if able_to_candidate %}
                                {% if candidacy_membership %}
                                    {% set main_text = 'Vous êtes candidat' ~ (app.user.isFemale ? 'e') ~ ' dans ce comité.' %}
                                {% else %}
                                    {% set main_text = 'Une ' ~ designation.denomination() ~ ' est en cours dans ce comité.' %}
                                {% endif %}

                                {% if committee_election.isCandidacyPeriodActive %}
                                    {% set help_text = (candidacy_membership ? 'Vous pouvez modifier votre candidature jusqu\'au ' : 'Vous pouvez y candidater jusqu\'au ') ~ (committee_election.getCandidacyPeriodEndDate|date('d/m/Y H\\hi')) ~ '.' %}
                                {% elseif not committee_election.isVotePeriodStarted %}
                                    {% set help_text = 'Vous pourrez y voter à partir du ' ~ (committee_election.getVoteStartDate|date('d/m/Y H\\hi')) ~ '.' %}
                                {% elseif committee_election.isVotePeriodActive %}
                                    {% set help_text = 'Vous pouvez y voter jusqu\'au ' ~ (committee_election.getVoteEndDate|date('d/m/Y H\\hi')) ~ '.' %}
                                {% endif %}
                            {% else %}
                                {% if designation.type == constant('App\\VotingPlatform\\Designation\\DesignationTypeEnum::COMMITTEE_SUPERVISOR') %}
                                    {% if has_active_parliamentary_mandate %}
                                        {% set main_text = 'Les parlementaires ne peuvent pas candidater à cette élection.' %}
                                    {% elseif app.user.isSupervisor(false) %}
                                        {% set main_text = 'Les animateurs locaux ne peuvent pas candidater à cette élection.' %}
                                    {% endif %}
                                {% else %}
                                    {% if
                                        has_active_parliamentary_mandate
                                        or app.user.isSupervisor(false)
                                        or app.user.getActiveDesignatedAdherentMandates()
                                    %}
                                        {% set main_text = 'Les référents, les adhérents désignés, les animateurs et les élus ne peuvent pas candidater à cette désignation.' %}
                                    {% elseif designation.getPools() is not empty and app.user.getGender() not in designation.getPools() %}
                                        {% set main_text = 'Seule la partie ' ~ (('common.' ~ (designation.getPools()|first))|trans) ~ ' du binôme paritaire est renouvelée lors de cette désignation.' %}
                                    {% endif %}
                                {% endif %}

                                {% if not committee_election.isVotePeriodStarted %}
                                    {% set help_text = 'Vous pourrez y voter à partir du ' ~ (committee_election.getVoteStartDate|date('d/m/Y H\\hi')) ~ '.' %}
                                {% elseif committee_election.isVotePeriodActive %}
                                    {% set help_text = 'Vous pouvez y voter jusqu\'au ' ~ (committee_election.getVoteEndDate|date('d/m/Y H\\hi')) ~ '.' %}
                                {% endif %}
                            {% endif %}
                        {% else %}
                            {% set image_url = '/images/icons/icn_close-rose.svg' %}
                            {% set ref_date = committee_election.getVoteEndDate ?? date() %}

                            {% if
                                (last_candidate_committee is not null and last_candidate_committee != committee)
                                or (last_vote_committee is not null and last_vote_committee != committee)
                            %}
                                {% set main_text = 'Vous ne pouvez ni candidater ni voter dans ce comité car vous avez participé à ' ~ designation.denomination(true) ~ ' du binôme d\'' ~ (designation.type == constant('App\\VotingPlatform\\Designation\\DesignationTypeEnum::COMMITTEE_SUPERVISOR') ? 'animateurs' : 'adhérents') ~ ' dans le comité ' ~ (last_candidate_committee is not null and last_candidate_committee != committee ? last_candidate_committee.name : last_vote_committee) ~ ' il y a moins de 3 mois.' %}
                            {% elseif app.user.isMinor(ref_date) %}
                                {% set main_text = 'Vous ne pouvez ni candidater ni voter dans ce comité à cette ' ~ designation.denomination() ~ ' car vous êtes mineur.' %}
                            {% elseif candidacy_membership and not candidacy_membership.committee.equals(committee) %}
                                {% set main_text = 'Vous ne pouvez ni candidater, ni voter dans ce comité car vous êtes candidat dans un autre comité.' %}
                            {% else %}
                                {% if designation.type == constant('App\\VotingPlatform\\Designation\\DesignationTypeEnum::COMMITTEE_SUPERVISOR') %}
                                    {% if app.user.registeredAt > ref_date|date_modify('-3 months') %}
                                        {% set main_text = 'Vous ne pouvez ni candidater ni voter à cette élection car vous êtes adhérent' ~ (app.user.isFemale ? 'e') ~ ' depuis moins de 3 mois.' %}
                                    {% elseif membership.subscriptionDate > ref_date|date_modify('-30 days') %}
                                        {% set main_text = 'Vous ne pouvez ni candidater ni voter dans ce comité à cette élection car vous en êtes membre depuis moins de 30 jours.' %}
                                    {% elseif not app.user.isCertified %}
                                        {% set main_text = 'Certifiez votre profil pour candidater et voter à cette élection.' %}
                                        {% set help_text = '<br/><a href="' ~ path('app_certification_request_home') ~ '" class="link--no-decor text--blue--dark">Me certifier ➜</a>' %}
                                    {% endif %}
                                {% else %}
                                    {% if not app.user.isCertified %}
                                        {% set main_text = 'Certifiez votre profil pour candidater et voter à cette désignation.' %}
                                        {% set help_text = '<br/><a href="' ~ path('app_certification_request_home') ~ '" class="link--no-decor text--blue--dark">Me certifier ➜</a>' %}
                                    {% endif %}
                                {% endif %}
                            {% endif %}
                        {% endif %}

                        <div class="b__nudge--right">
                            <img src="{{ asset(image_url) }}" alt="vote/close icon" title="Election"/>
                        </div>

                        <div>
                            <div class="text--pink b__nudge--bottom-tiny">
                                <strong>{{ designation.getTitle() }}</strong>
                            </div>

                            {% if main_text %}
                                <div>{{ main_text }} {{ help_link|raw }}</div>
                            {% endif %}

                            <div>{{ help_text ? help_text|raw }}</div>
                        </div>
                    </div>
                {% endif %}
            </article>
        {% endfor %}

        {% if committee_memberships.lastPage > 1 %}
            {{ include('adherent_profile/activity/_pagination.html.twig', {
                current_page: committee_memberships.currentPage,
                total_pages: committee_memberships.lastPage,
                pagination_type: 'committees',
                section: 'committees',
            }) }}
        {% endif %}
    {% endif %}
    <div>
        <p class="text--center text--body b__nudge--top-50">
            <a class="link--no-decor text--blue--dark" href="{{ path('app_search_committees') }}">Voir tous les comités</a>
        </p>
    </div>
</div>
