{% set current_page = current_page|default(1) %}
{% set total_pages = total_pages|default(1) %}
{% set pagination_route_name = app.request.attributes.get('_route') %}
{% set nearbyPagesLimit = 3 %}

<div class="font-roboto listing__paginator">
    <ul>
        {% for i in 1..total_pages %}
            {% if 0 == (current_page - nearbyPagesLimit) - loop.index %}
                <li><a href="{{ path(pagination_route_name, {page: 1, type: pagination_type, '_fragment': section}) }}" class="link--no-decor">1</a></li>
                {% if 1 != loop.index %}
                    <li>...</li>
                {% endif %}
            {% elseif 0 == (current_page + nearbyPagesLimit) - loop.index  and (current_page + nearbyPagesLimit) < total_pages %}
                <li>...</li>
            {% elseif 0 < (current_page - nearbyPagesLimit) - loop.index %}
            {% elseif 0 > (current_page + nearbyPagesLimit) - loop.index %}
            {% else %}
                {% if current_page == loop.index  %}
                    <li class="active"><a href="{{ path(pagination_route_name, {page: i, type: pagination_type, '_fragment': section}) }}" class="active">{{ i }}</a></li>
                {% else %}
                    {% if loop.index == 1 %}
                        <li><a href="{{ path(pagination_route_name, {page: 1, type: pagination_type, '_fragment': section}) }}" class="link--no-decor">1</a></li>
                    {% else %}
                        <li><a href="{{ path(pagination_route_name, {page: i, type: pagination_type, '_fragment': section}) }}" class="link--no-decor">{{ i }}</a></li>
                    {% endif %}
                {% endif %}
            {% endif %}
        {% endfor %}
        {% if current_page != total_pages  and (current_page + nearbyPagesLimit) < total_pages %}
            <a href="{{ path(pagination_route_name, {page: total_pages, type: pagination_type, '_fragment': section}) }}" class="link--no-decor{{ total_pages == current_page ? ' active' }}">{{ total_pages }}</a>
        {% endif %}
    </ul>
</div>
