{% extends 'managed_users/_layout.html.twig' %}

{% block managed_users_content %}
    <div class="datagrid__pre-table b__nudge--bottom-larger">
        <h3>Adhérents</h3>

        {% if total_count %}
            <span class="datagrid__count">
                <span>{{ users.totalItems|number_format(0, ',', ' ') }}</span> sur {{ total_count|number_format(0, ',', ' ') }} adhérent{{ total_count > 1 ? 's' : '' }}
            </span>
        {% endif %}
    </div>

    {{ include(["#{space_name}/filter_form.html.twig", 'managed_users/filter_form.html.twig']) }}

    <div class="b__nudge--bottom datagrid__action--wrapper">
        <a href="{{ path("app_#{space_name}_managed_users_list", {f: filter.toArray(), '_format': 'csv'}) }}" class="btn-secondary btn-secondary--blue b__nudge--right-small">Exporter en CSV</a>

        <a href="{{ path("app_#{space_name}_managed_users_list", {f: filter.toArray(), '_format': 'xls'}) }}" class="btn-secondary btn-secondary--blue">Exporter en XLS</a>

        <a href="{{ path("app_#{space_name}_adherent_invitation") }}" class="btn-secondary btn-secondary--blue datagrid__action--align-right">Inviter à adhérer</a>
    </div>

    <div class="datagrid">
        <div class="b__nudge--bottom-larger">
            <div class="datagrid__table-container">
                {{ include(["#{space_name}/_table.html.twig", 'managed_users/_table.html.twig']) }}
            </div>
        </div>

        {% if users.count %}
            {% include 'components/_modern_pagination.html.twig' with {
                current_page: users.currentPage,
                total_pages: users.lastPage,
                pagination_route_params: {f: filter.toArray()},
            } %}
        {% endif %}
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('select2/select2.min.css') }}" rel="stylesheet">
{% endblock %}

{% block final_javascripts %}
    {{ parent() }}

    <script type="text/javascript" src={{ asset('select2/select2.min.js') }}></script>
    <script type="text/javascript" src={{ asset('select2/fr.js') }}></script>
    <script type="text/javascript" src="{{ asset('bundles/tetranzselect2entity/js/select2entity.js') }}"></script>

    <script type="text/javascript">
        Kernel.onLoad(function() {
            $('.multi_select2').each(function () {
                $(this).select2({
                    placeholder: this.dataset.placeholder || '',
                    theme: 'default em-filters'
                });
            });

            $('.select2entity[data-autostart="false"]').select2entity({
                theme: 'default em-filters'
            })

            App.runReferentUserList('referent-user__committees-modal--trigger');

            $('.js-role-select').on('change', function() {
                var selectedRoles = $(this).val(),
                    $oppositeOptions = $('#'+$(this).data('opposite')).find('option'),
                    $oppositeOption
                ;

                for (var i = 0; i < $oppositeOptions.length; i++) {
                    $oppositeOption = $($oppositeOptions[i]);
                    // disable or re-enable options for the opposite select
                    $oppositeOption.attr('disabled', $.inArray($oppositeOption.val(), selectedRoles) > -1);
                }
            });
            $('.js-role-select').trigger('change');
        });
    </script>
{% endblock %}
