{% extends 'managed_users/_layout.html.twig' %}

{% block managed_users_content %}
    <div class="datagrid__pre-table b__nudge--bottom-larger">
        <h3>Adhérents</h3>

        {% if total_count %}
            <span class="datagrid__count">
                <span>{{ users.totalItems|number_format(0, ',', ' ') }}</span> sur {{ total_count|number_format(0, ',', ' ') }} adhérent{{ total_count > 1 ? 's' : '' }}
            </span>
        {% endif %}
    </div>

    {% include 'managed_users/filter_form.html.twig' %}

    <div class="b__nudge--bottom datagrid__action--wrapper">
        <a href="{{ path("app_#{space_name}_managed_users_list", {f: filter.toArray(), '_format': 'csv'}) }}" class="btn-secondary btn-secondary--blue">Exporter en CSV</a>

        <a href="{{ path("app_#{space_name}_managed_users_list", {f: filter.toArray(), '_format': 'xls'}) }}" class="btn-secondary btn-secondary--blue">Exporter en XLS</a>

        <a href="{{ path("app_#{space_name}_adherent_invitation") }}" class="btn-secondary btn-secondary--blue datagrid__action--align-right">Inviter à adhérer</a>
    </div>

    <div class="datagrid">
        <div class="b__nudge--bottom-larger">
            <div class="datagrid__table-container">
                <table class="datagrid__table-manager">
                    <thead>
                    <tr>
                        {% set order = filter.order and filter.order == 'd' ? 'a' : 'd' %}

                        <th style="width: 100px;">
                            <a
                                    href="{{ path("app_#{space_name}_managed_users_list", {f: filter.toArray()|merge({sort: 'lastName', order: order})}) }}"
                                    class="sort-link sort-link--order-{{ filter.sort == 'lastName' ? filter.order : 'a' }}"
                            >
                                Identité
                            </a>
                        </th>
                        <th style="width: 100px;">Rôle</th>
                        <th style="width: 100px;">Téléphone</th>
                        <th style="width: 100px;">SMS/MMS</th>
                        <th style="width: 100px;">Commune</th>
                        <th style="width: 100px;">Comité</th>
                        <th style="width: 150px;" class="datagrid__table__col--hide-mobile">
                            <a
                                    href="{{ path("app_#{space_name}_managed_users_list", {f: filter.toArray()|merge({sort: 'createdAt', order: order})}) }}"
                                    class="sort-link sort-link--order-{{ filter.sort == 'createdAt' ? filter.order : 'a' }}"
                            >
                                Adhésion le
                            </a>
                        </th>
                        <th style="width: 100px;">{{ 'common.adherent.status_email'|trans }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for user in users %}
                        <tr class="referent__item referent__item--{{ user.styleType }}">
                            <td class="adherent-identity">
                                <div class="adherent-name">
                                    {{ user.lastName }} {{ user.firstName }}
                                </div>
                                <div class="adherent-caracs">
                                    {% if user.gender %}
                                    {% if 'male' == user.gender %}
                                        {{ 'common.gender.man'|trans }}
                                    {% else %}
                                        {{ 'common.gender.woman'|trans }}
                                    {% endif %}
                                {% else %}
                                    ~
                                    {% endif %},
                                    {{ user.age ? user.age ~ ' ans' : '~'}}
                                </div>
                            </td>
                            <td>
                                {{ user.getUserRoleLabels('<br />')|raw }}
                            </td>
                            <td>{{ user.phone ? user.phone|phone_number_format : 'Non renseigné' }}</td>
                            <td>
                                {% set hasSmsSubscriptionType = user.hasSmsSubscriptionType %}
                                <span class="status status__{{ hasSmsSubscriptionType ? '1' : '2' }}">
                                    {{ (hasSmsSubscriptionType ? 'global.yes' : 'global.no')|trans }}
                                </span>
                            </td>
                            <td>{{ user.city }} <br/> {{ user.postalCode }}, {{ user.country }}</td>
                            <td>
                                {% set committees_count = user.committees|length %}

                                {% if committees_count > 0 and user.adherentUuid %}
                                    {{ committees_count }} •
                                    <a
                                            href="javascript:void(0);"
                                            class="referent-user__committees-modal--trigger"
                                            data-uuid="{{ user.adherentUuid }}"
                                            data-adherent-name="{{ user.fullName }}"
                                    >Voir</a>
                                {% else %}
                                    Aucun
                                {% endif %}
                            </td>
                            <td class="datagrid__table__col--hide-mobile">
                                {{ user.createdAt|date('d/m/Y H:i') }}
                            </td>
                            <td>
                                {% set is_email_subscribed = filter.subscriptionType and filter.subscriptionType in user.subscriptionTypes %}

                                <span class="status status__{{ is_email_subscribed ? '1' : '2' }}">
                                    {{ (is_email_subscribed ? 'common.adherent.subscribed' : 'common.adherent.unsubscribed')|trans }}
                                </span>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="8" class="text--center">
                                <img src="{{ asset('/images/icons/icn_no-result.svg') }}" class="icn--no-result" width="30" />
                                Aucun résultat
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        {% if users.count %}
            {% include 'components/_modern_pagination.html.twig' with {
                current_page: users.currentPage,
                total_pages: users.lastPage,
                pagination_route_params: {f: filter.toArray()}
            } %}
        {% endif %}

        <div id="modal-wrapper"></div>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('select2/select2.min.css') }}" rel="stylesheet">
{% endblock %}

{% block final_javascripts %}
    {{ parent() }}

    <script type="text/javascript" src={{ asset('select2/select2.min.js') }}></script>
    <script type="text/javascript" src={{ asset('select2/fr.js') }}></script>

    <script type="text/javascript">
        Kernel.onLoad(function() {
            $('.multi_select2').each(function () {
                $(this).select2({
                    placeholder: this.dataset.placeholder || '',
                    theme: 'default em-filters'
                });
            });

            App.runReferentUserList('referent-user__committees-modal--trigger');

            $('.js-role-select').on('change', function() {
                var selectedRoles = $(this).val(),
                    $oppositeOptions = $('#'+$(this).data('opposite')).find('option'),
                    $oppositeOption
                ;

                for (var i = 0; i < $oppositeOptions.length; i++) {
                    $oppositeOption = $($oppositeOptions[i]);
                    // disable or re-enable options for the opposite select
                    $oppositeOption.attr('disabled', $.inArray($oppositeOption.val(), selectedRoles) > -1);
                }
            });
            $('.js-role-select').trigger('change');
        });
    </script>
{% endblock %}
