{% extends 'base.html.twig' %}

{% block page_title article.title %}
{% block meta_description article.description %}
{% block meta_twitter_description article.twitterDescription ?: article.description %}

{% block canonical_url url('article_view', {'slug': article.slug}) %}

{% block open_graph_image %}{% spaceless %}
    {% if article.media %}
        {{ url('homepage')|trim('/') }}{{ media_asset(article.media)|raw }}
    {% else %}
        {{ parent() }}
    {% endif %}
{% endspaceless %}{% endblock %}

{% block open_graph_image_width (article.media ? article.media.width : 628) %}
{% block open_graph_image_height (article.media ? article.media.height : 288) %}

{% block final_stylesheets include('bot/_stylesheet.html.twig') %}
{% block final_javascripts include('bot/_javascript.html.twig') %}

{% block content %}
<main>
    <section class="content">
        <header class="space--60-0 l__wrapper--slim">
            <h1 class="text--large b__nudge--bottom-small">
                {{ article.title }}
            </h1>
            <h2 class="text--gray b__nudge--bottom bigger">{{ article.publishedAt|localizeddate('none', 'none', 'fr_FR', null, "d MMMM Y") }} - {{ article.description }}</h2>
            <ul class="article__social">
                <li role="button" aria-label="Partagez sur Facebook"
                    class="btn btn--social btn--facebook"
                    onclick="App.share('facebook', window.location.href, '{{ article.title|escape('js') }}')">
                    <i class="fa fa-facebook-square"></i> <span>Partagez</span>
                </li>
                <li role="button" aria-label="Partagez via Twitter"
                    class="btn btn--social btn--twitter"
                    onclick="App.share('twitter', window.location.href, '{{ article.title|escape('js') }}')">
                    <i class="fa fa-twitter"></i> <span>Tweetez</span>
                </li>
                <li role="button" aria-label="Partagez via email"
                    class="btn btn--social btn--email"
                    onclick="App.share('email', window.location.href, '{{ article.title }}')">
                    <i class="fa fa-envelope-o"></i> <span>Envoyez</span>
                </li>
            </ul>
        </header>

        {% if article.media and article.displayMedia %}
        <figure class="fullscreen">
            <img src="{{ media_asset(article.media, {'q': 70}) }}"
                 title="{{ article.media.name }}"
                 alt="{{ article.media.name }}" />
        </figure>
        {% endif %}

        <article class="l__wrapper--slim">
            {{ article.content|markdown }}
        </article>

        <ul class="article__social space--60-0 l__wrapper--slim">
            <li role="button" aria-label="Partagez sur Facebook" class="btn btn--social btn--facebook"
                onclick="App.share('facebook', window.location.href, '{{ article.title|escape('js') }}')">
                <i class="fa fa-facebook-square"></i> <span>Partagez</span>
            </li>
            <li role="button" aria-label="Partagez sur Twitter"
                class="btn btn--social btn--twitter"
                onclick="App.share('twitter', window.location.href, '{{ article.title|escape('js') }}')">
                <i class="fa fa-twitter"></i> <span>Tweetez</span>
            </li>
            <li role="button" aria-label="Partagez via email"
                class="btn btn--social btn--email"
                onclick="App.share('email', window.location.href, '{{ article.title }}')">
                <i class="fa fa-envelope-o"></i> <span>Envoyez</span>
            </li>
        </ul>

    </section>
</main>
{% endblock %}
