{% form_theme form 'application_request/_form_theme.html.twig' %}

{{ form_start(form, { attr: { class: 'em-form' } }) }}
    {{ form_errors(form) }}

        <div class="em-form__section">
            <div class="em-form__group em-form__type-and-select">
                {{ form_label(form.favoriteCities_search, 'Villes', { required: true }) }}
                {{ form_widget(form.favoriteCities_search, { attr: { autocomplete: 'nope', placeholder: 'Rechercher une ville ou un code postal' } }) }}
                {% block favorite_cities_help '' %}
                {{ form_errors(form.favoriteCities) }}
                <div class="type-and-select__tags">
                    {{ form_widget(form.favoriteCities) }}
                </div>
            </div>

            <h4 class="text--medium b__nudge--bottom-larger">Qui êtes-vous ?</h4>

            <div class="em-form__row">
                <div class="em-form__group em-form__radio--inline">
                    {{ form_label(form.gender, 'Genre') }}
                    {{ form_widget(form.gender) }}
                    {{ form_errors(form.gender) }}
                </div>
            </div>

            <div class="em-form__row">
                <div class="em-form__group em-form__width--1">
                    {{ form_label(form.lastName, 'Nom') }}
                    {{ form_widget(form.lastName, { attr: { placeholder: 'Votre nom' } }) }}
                    {{ form_errors(form.lastName) }}
                </div>
                <div class="em-form__group em-form__width--1">
                    {{ form_label(form.firstName, 'Prénom') }}
                    {{ form_widget(form.firstName, { attr: { placeholder: 'Votre prénom' } }) }}
                    {{ form_errors(form.firstName) }}
                </div>
            </div>

            <div class="em-form__group">
                {{ form_label(form.emailAddress, 'E-mail') }}
                {{ form_widget(form.emailAddress, { attr: { placeholder: 'Votre adresse e-mail' } }) }}
                <div class="em-form__legend">Si vous êtes adhérent(e), indiquez-le ici avec l'adresse e-mail de votre compte En Marche.</div>
                {{ form_errors(form.emailAddress) }}
            </div>

            <div class="em-form__row">
                <div class="em-form__group em-form__width--1">
                    {{ form_label(form.phone.number, 'Téléphone') }}
                    {{ form_widget(form.phone.country) }}
                </div>
                <div class="em-form__group em-form__width--1">
                    {{ form_widget(form.phone.number, { attr: { placeholder: 'Téléphone' } }) }}
                    {{ form_errors(form.phone) }}
                </div>
            </div>

            <div class="address-block">
                <div class="">
                    <div class="em-form__group">
                        {{ form_label(form.address.address, 'Adresse') }}
                        {{ form_widget(form.address.address, { attr: { placeholder: 'Votre adresse' } }) }}
                        {{ form_errors(form.address.address) }}
                    </div>
                </div>

                <div class="em-form__row">
                    <div class="em-form__group em-form__width--1">
                        {{ form_label(form.address.postalCode, 'Code postal') }}
                        {{ form_widget(form.address.postalCode, { attr: { placeholder: 'Votre code postal' } }) }}
                        {{ form_errors(form.address.postalCode) }}
                    </div>
                    <div class="em-form__group em-form__width--2">
                        {{ form_label(form.address.cityName, 'Ville') }}
                        {{ form_widget(form.address.city, { attr: { class: 'register__form__city'} }) }}
                        {{ form_widget(form.address.cityName, { attr: { class: 'register__form__city_name ', placeholder: 'Ville' } }) }}
                        {{ form_errors(form.address.city) }}
                        {{ form_errors(form.address.cityName) }}
                    </div>
                </div>

                <div class="em-form__group">
                    {{ form_label(form.address.country, 'Pays') }}
                    {{ form_widget(form.address.country, { attr: { placeholder: 'Pays' } }) }}
                    {{ form_errors(form.address.country) }}
                </div>
            </div>

            <div class="em-form__group">
                <div class="address-autocomplete visually-hidden">
                    <label class="em-form__label required">
                        Adresse <span class="em-form__required">*</span>
                    </label>
                </div>
                <p class="em-form__legend address-autocomplete-help-message visually-hidden">
                    Nous n'avons pas reconnu votre adresse, veuillez cliquer <a href="#">ici</a> pour pouvoir la renseigner librement.
                </p>
            </div>
        </div>

        <h4 class="text--medium b__nudge--bottom-larger">Vos expériences et expertises</h4>

        {% block curriculum_block '' %}

        <div class="em-form__group">
            {{ form_label(form.profession, 'Quelle est votre profession ?') }}
            {{ form_widget(form.profession, { attr: { placeholder: 'Votre profession' } }) }}
            {{ form_errors(form.profession) }}
        </div>

        {% block skills_block '' %}

        {% block experience_block '' %}

        <div class="em-form__group application_request_favoriteThemes">
            {{ form_label(form.favoriteThemes, 'Vos thématique(s) de prédilection') }}
            <div class="checkb-cols">
                {% for column in form.favoriteThemes|batch(6) %}
                    <div class="checkb-cols__col">
                        {% for skill in column %}
                            {{ form_row(skill) }}
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
            {{ form_errors(form.favoriteThemes) }}
        </div>

        <div class="em-form__group application_request_customFavoriteTheme">
            {{ form_label(form.customFavoriteTheme, 'Autre(s)', { required: true }) }}
            {{ form_widget(form.customFavoriteTheme, { attr: { placeholder: 'Entrez une ou plusieurs thématiques' } }) }}
            {{ form_errors(form.customFavoriteTheme) }}
        </div>

        {% block themes_block '' %}

        {% block associative_commitment_block '' %}

        {% block project_block '' %}

        {% block chart_block '' %}

        <div class="em-form__group em-form__group--cgu">
            <div class="form__checkbox">
                {% set agreeToDataUseLabel %}
                    <span class="label-with-link">
                        Je consens au traitement de mes données par LaREM et les équipes locales de campagne
                        pour les élections municipales de 2020 et j’accepte d’être recontacté(e) dans ce cadre.
                    </span>
                {% endset %}
                {{ form_widget(form.agreeToDataUse) }}
                <label for="{{ form.agreeToDataUse.vars.id }}">{{ agreeToDataUseLabel|raw }}</label>
                {{ form_errors(form.agreeToDataUse) }}
            </div>
        </div>

        <div class="em-form__group">
            <p class="em-form__cgu b__nudge--top">
                NB : ces données sont collectées par LaREM et seront transmises aux équipes départementales et candidats investis par LaREM ou tête de file
                LaREM dans les villes où nous soutiendrions un autre candidat d’une autre formation politique ou issu de la société civile.<br /><br />

                Les informations et les champs marqués d’un astérisque sont obligatoires. L’absence de réponse dans ces champs ne permettra pas à LaREM
                de traiter votre candidature.<br /><br />

                Les données recueillies sur ce formulaire sont traitées par LaREM et les équipes locales de campagne afin de gérer les informations relatives
                aux candidatures des colistiers et bénévoles pour les élections municipales de 2020 en vertu de l’article 9.2 a) du RGPD, et permettront aux
                équipes locales de campagne et LaREM de vous contacter dans ce cadre.<br /><br />

                Conformément à la règlementation, vous disposez d’un droit d’opposition et d’un droit à la limitation du traitement de données vous concernant,
                ainsi que d’un droit d’accès, de rectification, de portabilité et d’effacement de vos données. Vous disposez également du droit de retirer votre
                consentement à tout moment et de la faculté de donner des directives sur le sort de vos données après votre décès.<br /><br />

                Vous pouvez exercer vos droits en nous adressant votre demande accompagnée d’une copie de votre pièce d’identité à l’adresse électronique suivante :
                mes-donnees@en-marche.fr. Pour toute information concernant la protection de vos données, vous pouvez consulter la <a href="https://en-marche.fr/politique-protection-donnees" target="_blank" class="text--blue--dark">Politique de protection des
                données</a> de LaREM et/ou contacter notre DPO à l’adresse <a href="mailto:dpo&#64;en-marche.fr" class="text--blue--dark">dpo&#64;en-marche.fr</a>.
            </p>
        </div>



        <input type="hidden" class="nojs-g-recaptcha-response" name="g-recaptcha-response" value="" />
        {% if recaptcha_public_key is not empty %}
            <div class="g-recaptcha" data-sitekey="{{ recaptcha_public_key }}" style="margin: 10px auto 50px auto;"></div>
        {% elseif app.debug %}
            <input type="hidden" name="g-recaptcha-response" value="fake" />
        {% endif %}

        <button type="submit" class="btn btn--blue btn--large-and-full b__nudge--top">
            Valider
        </button>

    {{ form_rest(form) }}
{{ form_end(form) }}
