{% extends 'application_request/_layout.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src={{ asset('select2/select2.min.js') }}></script>
    <script type="text/javascript" src={{ asset('select2/fr.js') }}></script>
    {% import 'javascript.js.twig' as js %}
    {% if google_maps_api_key %}
        <script src="https://maps.googleapis.com/maps/api/js?key={{ google_maps_api_key }}&amp;libraries=places" async defer></script>
    {% endif %}
    <script type="text/javascript">
        Kernel.onLoad(function() {
            App.runApplicationRequest(
                '{{ volunteer_form.vars.form_type_class|e('js') }}',
                '{{ running_mate_form.vars.form_type_class|e('js') }}'
            );
            {{ js.address(volunteer_form.address) }}
            {{ js.address(running_mate_form.address) }}
        });
    </script>
    <script src="https://www.google.com/recaptcha/api.js"></script>
{% endblock %}

{% block form_body %}

    <div id="volunteer-form">
        {% embed 'application_request/_form.html.twig' with { form: volunteer_form } %}

            {% block skills_block %}
                <div class="em-form__group">
                    {{ form_label(form.technicalSkills, 'Disposez-vous de compétences techniques spécifiques ?', { label_attr: { class: 'em-form__label' } }) }}
                    {{ form_widget(form.technicalSkills) }}
                    {% for column in form.technicalSkills|batch(4) %}
                            <div class="checkb-col">
                                {% for skill in column %}
                                    {{ form_row(skill) }}
                                {% endfor %}
                            </div>
                    {% endfor %}
                    {{ form_errors(form.technicalSkills) }}
                </div>

                <div class="em-form__group">
                    {{ form_label(form.customTechnicalSkills, 'Autre', { label_attr: { class: 'em-form__label' } }) }}
                    {{ form_widget(form.customTechnicalSkills, { attr: { class: 'em-form__field' } }) }}
                    {{ form_errors(form.customTechnicalSkills) }}
                </div>

                <div class="em-form__group">
                    {{ form_label(form.isPreviousCampaignMember, 'Avez-vous déjà participé à une campagne ?', { label_attr: { class: 'em-form__label' } }) }}
                    {{ form_widget(form.isPreviousCampaignMember) }}
                    {{ form_errors(form.isPreviousCampaignMember) }}
                </div>

                <div class="em-form__group">
                    {{ form_label(form.previousCampaignDetails, 'Si oui, détaillez', { label_attr: { class: 'em-form__label' } }) }}
                    <div class="em-form__field--ctn">
                        {{ form_widget(form.previousCampaignDetails, { attr: { class: 'em-form__field', placeholder: 'Détaillez...' } }) }}
                        <span class="em-form__chars-count">2 000</span>
                    </div>
                    {{ form_errors(form.previousCampaignDetails) }}
                </div>
            {% endblock %}

            {% block associative_commitment_block %}
                <div class="em-form__group">
                    {{ form_label(form.shareAssociativeCommitment, 'Souhaitez-vous nous faire part de vos engagements associatifs et/ou militants ?', { label_attr: { class: 'em-form__label' } }) }}
                    {{ form_widget(form.shareAssociativeCommitment) }}
                    {{ form_errors(form.shareAssociativeCommitment) }}
                </div>
                <div class="em-form__group">
                    {{ form_label(form.associativeCommitmentDetails, 'Si oui, détaillez', { label_attr: { class: 'em-form__label' } }) }}
                    <div class="em-form__field--ctn">
                        {{ form_widget(form.associativeCommitmentDetails, { attr: { class: 'em-form__field', placeholder: 'Détaillez...' } }) }}
                        <span class="em-form__chars-count">2 000</span>
                    </div>
                    {{ form_errors(form.associativeCommitmentDetails) }}
                </div>
            {% endblock %}

            {% block chart_block %}
                <div class="em-form__group">
                    <div class="form__checkbox">
                        {% set LREMValuesLabel %}
                            <span class="label-with-link">
                                Je certifie sur l'honneur adhérer à la <a href="{{ path('homepage') }}" class="text--blue--dark">Charte des Valeurs</a> de la République En Marche.
                            </span>
                        {% endset %}
                        {{ form_widget(form.agreeToLREMValues) }}
                        <label for="{{ form.agreeToLREMValues.vars.id }}">{{ LREMValuesLabel|raw }}</label>
                        {{ form_errors(form.agreeToLREMValues) }}
                    </div>
                </div>
            {% endblock %}

        {% endembed %}
    </div>


    <div id="running-mate-form">
        {% embed 'application_request/_form.html.twig' with { form: running_mate_form } %}

            {% block curriculum_block %}
                <div class="em-form__group">
                    <div class="em-form__label">Téléchargez votre CV</div>
                    <div class="em-form__file">
                        {{ form_label(form.curriculum, 'Ajouter une pièce jointe', { label_attr: { class: 'em-form__file--label text--blue--dark' } }) }}
                        {{ form_widget(form.curriculum, { attr: { class: 'em-form__file--area' } }) }}
                    </div>
                    <div class="em-form__legend">Formats acceptés : pdf, doc, xl — Taille max. : 5Mo.</div>
                    {{ form_errors(form.curriculum) }}
                </div>
            {% endblock %}

            {% block experience_block %}
                <div class="em-form__group">
                    {{ form_label(form.isLocalAssociationMember, 'Etes vous enagé dans une/des association(s) locales ?', { label_attr: { class: 'em-form__label' } }) }}
                    {{ form_widget(form.isLocalAssociationMember) }}
                    {{ form_errors(form.isLocalAssociationMember) }}
                </div>

                <div class="em-form__group">
                    {{ form_label(form.localAssociationDomain, 'Si oui, quels domaines ?', { label_attr: { class: 'em-form__label' } }) }}
                    <div class="em-form__field--ctn">
                        {{ form_widget(form.localAssociationDomain, { attr: { class: 'em-form__field', placeholder: 'Détaillez...' } }) }}
                        <span class="em-form__chars-count">2 000</span>
                    </div>
                    {{ form_errors(form.localAssociationDomain) }}
                </div>

                <div class="em-form__group">
                    {{ form_label(form.isPoliticalActivist, 'Avez vous déjà eu un engagement militant ?', { label_attr: { class: 'em-form__label' } }) }}
                    {{ form_widget(form.isPoliticalActivist) }}
                    {{ form_errors(form.isPoliticalActivist) }}
                </div>

                <div class="em-form__group">
                    {{ form_label(form.politicalActivistDetails, 'Si oui, quels domaines ?', { label_attr: { class: 'em-form__label' } }) }}
                    <div class="em-form__field--ctn">
                        {{ form_widget(form.politicalActivistDetails, { attr: { class: 'em-form__field', placeholder: 'Détaillez...' } }) }}
                        <span class="em-form__chars-count">2 000</span>
                    </div>
                    {{ form_errors(form.politicalActivistDetails) }}
                </div>

                <div class="em-form__group">
                    {{ form_label(form.isPreviousElectedOfficial, 'Avez vous déjà exercé un mandat ?', { label_attr: { class: 'em-form__label' } }) }}
                    {{ form_widget(form.isPreviousElectedOfficial) }}
                    {{ form_errors(form.isPreviousElectedOfficial) }}
                </div>

                <div class="em-form__group">
                    {{ form_label(form.previousElectedOfficialDetails, 'Si oui, precisez ?', { label_attr: { class: 'em-form__label' } }) }}
                    <div class="em-form__field--ctn">
                        {{ form_widget(form.previousElectedOfficialDetails, { attr: { class: 'em-form__field', placeholder: 'Détaillez...' } }) }}
                        <span class="em-form__chars-count">2 000</span>
                    </div>
                    {{ form_errors(form.previousElectedOfficialDetails) }}
                </div>
            {% endblock %}

            {% block themes_block %}
                <div class="em-form__group">
                    {{ form_label(form.favoriteThemeDetails, 'Pourquoi avez vous choisi cette thématique ?', { label_attr: { class: 'em-form__label' } }) }}
                    {{ form_widget(form.favoriteThemeDetails, { attr: { class: 'em-form__field', placeholder: 'Détaillez...' } }) }}
                    <div class="em-form__field--ctn">
                        {{ form_widget(form.favoriteThemeDetails, { attr: { class: 'em-form__field', placeholder: 'Détaillez...' } }) }}
                        <span class="em-form__chars-count">2 000</span>
                    </div>
                    {{ form_errors(form.favoriteThemeDetails) }}
                </div>
            {% endblock %}

            {% block project_block %}
                <div class="em-form__group">
                    {{ form_label(form.projectDetails, 'Quel projet pour votre commune souhaiteriez-vous contribuer à porter ?', { label_attr: { class: 'em-form__label' } }) }}
                    <div class="em-form__field--ctn">
                        {{ form_widget(form.projectDetails, { attr: { class: 'em-form__field', placeholder: 'Détaillez...' } }) }}
                        <span class="em-form__chars-count">2 000</span>
                    </div>
                    {{ form_errors(form.projectDetails) }}
                </div>

                <div class="em-form__group">
                    {{ form_label(form.professionalAssets, 'Quel sont les atouts de votre parcours professionnel ?', { label_attr: { class: 'em-form__label' } }) }}
                    <div class="em-form__field--ctn">
                        {{ form_widget(form.professionalAssets, { attr: { class: 'em-form__field', placeholder: 'Détaillez...' } }) }}
                        <span class="em-form__chars-count">2 000</span>
                    </div>
                    {{ form_errors(form.professionalAssets) }}
                </div>
            {% endblock %}

            {% block chart_block %}
                <div class="em-form__group">
                    <div class="form__checkbox">
                        {% set LREMValuesLabel %}
                            <span class="label-with-link">
                                Je certifie sur l'honneur adhérer à la <a href="{{ path('homepage') }}" class="text--blue--dark">Charte des Valeurs</a> de la République En Marche
                                et m'engage à respecter les 10 points de la <a href="{{ path('homepage') }}" class="text--blue--dark">Charte de l'élu local</a> LaREM.
                            </span>
                        {% endset %}
                        {{ form_widget(form.agreeToLREMValues) }}
                        <label for="{{ form.agreeToLREMValues.vars.id }}">{{ LREMValuesLabel|raw }}</label>
                        {{ form_errors(form.agreeToLREMValues) }}
                    </div>
                </div>

                <div class="em-form__group">
                    <div class="form__checkbox">
                        {% set agreeToDataUseLabel %}
                            <span class="label-with-link">
                                Je consens au traitement de mes données par LAREM et les équipes locales de campagne
                                pour les élections municipales de 2020 et j’accepte d’être recontacté(e) dans ce cadre.
                            </span>
                        {% endset %}
                        {{ form_widget(form.agreeToDataUse) }}
                        <label for="{{ form.agreeToDataUse.vars.id }}">{{ agreeToDataUseLabel|raw }}</label>
                        {{ form_errors(form.agreeToDataUse) }}
                    </div>
                </div>
            {% endblock %}

        {% endembed %}
    </div>
{% endblock %}
