{% extends 'base.html.twig' %}

{% block page_title 'Espace référent' %}
{% block canonical_url url('app_referent_users') %}

{% block content %}
    <main>
        <section class="referent">
            <header class="l__wrapper--slim b__nudge--bottom-large">
                <h1 class="text--center text--large">
                    Espace référent
                </h1>
            </header>

            <div class="l__row l__tablet--col l__row--v-stretch">
                <div class="referent__sidebar">
                    <ul>
                        <li>
                            <h4>Envoyer un message</h4>

                            <ul>
                                <li {% block referent_menu_users_list %}{% endblock %}>
                                    <a href="{{ path('app_referent_users') }}">
                                        À <span class="csv-export-title">tous les contacts</span>
                                    </a>
                                </li>
                                <li {% block referent_menu_users_subscribers %}{% endblock %}>
                                    <a href="{{ path('app_referent_subscribers') }}">
                                        Uniquement aux <span class="csv-export-title">Marcheurs</span>
                                    </a>
                                </li>
                                <li {% block referent_menu_users_adherents %}{% endblock %}>
                                    <a href="{{ path('app_referent_adherents') }}">
                                        Uniquement aux <span class="csv-export-title">adhérents</span>
                                    </a>
                                </li>
                                <li {% block referent_menu_users_nonfollowers %}{% endblock %}>
                                    <a href="{{ path('app_referent_nonfollowers') }}">
                                        Uniquement aux <span class="csv-export-title">adhérents non membres de Comités</span>
                                    </a>
                                </li>
                                <li {% block referent_menu_users_followers %}{% endblock %}>
                                    <a href="{{ path('app_referent_followers') }}">
                                        Uniquement aux <span class="csv-export-title">adhérents membres de Comités</span>
                                    </a>
                                </li>
                                <li {% block referent_menu_users_hosts %}{% endblock %}>
                                    <a href="{{ path('app_referent_hosts') }}">
                                        Uniquement aux <span class="csv-export-title">animateurs de Comités</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <h4>Événements</h4>

                            <ul>
                                <li {% block referent_menu_events_list %}{% endblock %}>
                                    <a href="{{ path('app_referent_events') }}">
                                        Tous les événements
                                    </a>
                                </li>
                                <li {% block referent_menu_events_create %}{% endblock %}>
                                    <a href="{{ path('app_referent_events_create') }}">
                                        Créer un événement
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <h4>Comités</h4>

                            <ul>
                                <li {% block referent_menu_commitees_list %}{% endblock %}>
                                    <a href="{{ path('app_referent_commitees') }}">
                                        Tous les comités
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="referent__content">
                    {% block referent_content %}{% endblock %}
                </div>
            </div>
        </section>
    </main>
{% endblock %}
