{% extends 'base.html.twig' %}

{% block page_title 'Mon espace Responsable communal' %}

{% block banner '' %}

{% block content %}
    <main>
        <section class="manager-space b__nudge--bottom-huge">
            <header class="manager-header">
                <div class="l__wrapper">
                    <div class="first-section">
                        <div class="el manager-information">
                            <p>Vous gérez : <span>{{ app.user.municipalManagerRole.cities|join(', ') }}</span></p>
                        </div>
                        <div class="el">
                            <p class="report">🐛 Bug ? Nouveau besoin ?
                                <a href="mailto:cellule.technique.municipales&#64;en-marche.fr" class="text--blue--dark link--no-decor">Écrivez-nous !</a>
                            </p>
                        </div>
                    </div>
                    <div class="second-section">
                        <h1 class="page-title text--large b__nudge--bottom">
                            {{ block('page_title') }}
                        </h1>
                    </div>
                    <nav class="manager-header__menu">
                        <ul>
                            <li class="{{ is_active_route(app.request, ['app_assessors_municipal_manager_*', 'app_municipal_manager_vote_result_list_edit', 'app_vote_results_municipal_manager_index', 'app_municipal_manager_cities_list', 'app_municipal_manager_city_vote_results_edit']) ? 'active' }}">
                                <a href="{{ path('app_assessors_municipal_manager_attribution_form') }}">Assesseurs</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </header>

            <div class="l__wrapper text--body">
                <div class="datagrid__table__tabs">
                    <div class="datagrid__table__tabs__items">
                        <h3>
                            <a href="{{ path('app_assessors_municipal_manager_attribution_form') }}">Bureaux de votes</a>
                        </h3>

                        <span class="separator"></span>

                        <h3>
                            <a href="{{ path('app_municipal_manager_cities_list') }}">Communes</a>
                        </h3>
                    </div>
                </div>

                {% block municipal_manager_content %}{% endblock %}
            </div>
        </section>
    </main>
{% endblock %}
