{% extends '@SonataAdmin/CRUD/base_list_field.html.twig' %}

{% block field %}
    {% set stats = get_publication_stats(object) %}

    <ul style="list-style-type: none; padding: 0; margin: 0;">
        <li><strong>Contacts : </strong>{{ stats.contacts }}</li>
        <li><strong>Emails : </strong>{{ stats.unique_emails }}</li>
        <li><strong>Notifications : </strong>{{ stats.unique_notifications }}</li>
        <li><strong>Impressions : </strong>{{ stats.unique_impressions }}</li>
        <li>&nbsp;</li>
        <li><strong>Ouvertures : </strong>{{ stats.unique_opens__total_rate|round(2) }} %</li>
        <li><strong>Clics : </strong>{{ stats.unique_clicks__total_rate|round(2) }} %</li>
    </ul>
{% endblock %}
