{% extends '@SonataAdmin/CRUD/base_list_field.html.twig' %}

{% block field %}
    {% set stats = object.getStatistics() %}

    <ul style="list-style-type: none; padding: 0; margin: 0;">
        <li><strong>Contacts : </strong>{{ stats.contacts }}</li>
        <li><strong>Emails : </strong>{{ stats.uniqueEmails }}</li>
        <li><strong>Notifications : </strong>{{ stats.uniqueNotifications }}</li>
        <li><strong>Impressions : </strong>{{ stats.uniqueImpressions }}</li>
        <li>&nbsp;</li>
        <li><strong>Ouvertures : </strong>{{ stats.uniqueOpensRate|round(2) }} %</li>
        <li><strong>Clics : </strong>{{ stats.uniqueClicksRate|round(2) }} %</li>
    </ul>
{% endblock %}
