{% extends 'committee_designation/_layout.html.twig' %}

{% block designation_content %}
    <section>
        <div class="datagrid__pre-table b__nudge--bottom">
            <h3>Désignations</h3>
        </div>

        <div class="datagrid__table-container">
            <table class="datagrid__table-manager">
                <thead>
                    <tr>
                        <th width="250">Type</th>
                        <th width="150" class="text--center">Date</th>
                        <th width="150">Statut</th>
                        <th width="300">Détails</th>
                        <th width="100" class="text--center">Action</th>
                    </tr>
                </thead>

                <tbody>
                    {% for row in elections %}
                        {% set election = row[0] %}
                        {% set designation = election.designation %}
                        {% set committee = election.committee %}

                        <tr>
                            <td>{{ designation.getTitle() }}</td>
                            <td class="text--center">{{ designation.voteStartDate|localizeddate('none', 'none', 'fr_FR', null, "dd MMMM y à HH'h'mm") }}</td>
                            <td>
                                {% set status = election.status %}
                                <span class="status {{ status in constant('App\\VotingPlatform\\Designation\\DesignationStatusEnum::ACTIVE_STATUSES') ? 'status__1' : 'status__2' }}">
                                    {{ ('designation.status.'~status)|trans }}
                                </span>
                            </td>
                            <td>
                                {% if election.isVotePeriodActive %}
                                    {{ row.voters }} vote{{ row.voters > 1 ? 's' }}
                                {% elseif row.winners %}
                                    {% for winner in row.winners|split(',')|sort((a, b) => a|split('|', 1) <=> b|split('|', 1)) %}
                                        {% set winner = winner|split('|') %}

                                        <span>{{ winner[1] }} {{ winner[2] }}</span>
                                        <span class="candidate-gender l__col l__col--center">{{ winner[0] == 'female' ? 'F' : 'H' }}</span>
                                        <br/>
                                    {% endfor %}
                                {% else %}
                                    {% set total_confirmed_candidatures = row.total_confirmed_candidacy_male + row.total_confirmed_candidacy_female %}
                                    {% set total_draft_candidatures = row.total_draft_candidacy_male + row.total_draft_candidacy_female %}

                                    {% if total_confirmed_candidatures > 0 %}
                                        <a href="{{ path('app_committee_candidature_candidacy_list', {slug: committee.slug}) }}" target="_blank" rel="noopener noreferrer">{{ total_confirmed_candidatures }} candidature{{ total_confirmed_candidatures > 1 ? 's' }}</a>
                                    {% else %}
                                        <span>{{ total_confirmed_candidatures }} candidature{{ total_confirmed_candidatures > 1 ? 's' }}</span>
                                    {% endif %}

                                    <br><span>{{ total_draft_candidatures }} pré-candidature{{ total_draft_candidatures > 1 ? 's' }}</span>
                                {% endif %}
                            </td>
                            <td>
                                {% if row.voting_platform_election_uuid %}
                                    {% set items = [{
                                        href: path("app_#{space_type}_designations_dashboard", {committee_slug: committee.slug, uuid: row.voting_platform_election_uuid}),
                                        label: 'Voir les détails',
                                        linkAttr: {class: 'row-action link--no-decor'}
                                    }] %}

                                    {% include 'components/_annimated_sub_menu.html.twig' with {items: items} %}
                                {% endif %}
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="5" class="text--center">
                                <img src="{{ asset('/images/icons/icn_no-result.svg') }}" alt="aucun résultat" class="icn--no-result" width="30" />
                                La liste est vide
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </section>
{% endblock %}
