{% for city in cities %}
    <tr>
        <td class="datagrid__table__col--left">
            <strong>{{ city.city ~ ' (' ~ city.postalCode ~ ')' }}</strong>
        </td>
        <td class="datagrid__table__col--left">
            {{ city.nb_vote_places }}
        </td>
        <td class="datagrid__table__col--left">
            {{ city.nb_assessors }}
        </td>
        <td>
            <a href="{{ path('app_assessor_manager_city_assessors_export', {commune: city.city_code}) }}"
               id="request-link-{{city.city }}">
                Exporter la liste des assesseurs
            </a>
        </td>
    </tr>
{% endfor %}
