{% extends 'assessor_manager/_layout.html.twig' %}

{% block javascripts %}
    <script type="text/javascript">
        Kernel.onLoad(function() {
            App.runAssessorManagerRequests('{{ filters.toQueryString|e('js') }}', {{ total_count }}, {{ filters.limit }});
        });
    </script>
{% endblock %}

{% block assessor_manager_content %}

    {{ include('assessor_manager/_filters_assessor_requests.html.twig') }}

    <hr />

    {% if 0 == requests|length %}
        <div class="text--body text--center">
            {% if constant('PROCESSED', filters) == filters.status %}
                Vous n'avez pas encore de demande d'assesseur traitée.
            {% else %}
                Vous n'avez pas encore de demande d'assesseur à traiter.
            {% endif %}
        </div>
    {% else %}
        <div class="text--body text--center assessor_requests_total_count b__nudge--top-10">
            {% if constant('PROCESSED', filters) == filters.status %}
                {{ 'assessor.processed.choices'|transchoice(total_count) }}
            {% else %}
                {{ 'assessor.unprocessed.choices'|transchoice(total_count) }}
            {% endif %}
        </div>
        {% if constant('UNPROCESSED', filters) == filters.status %}
            <div class="text-body text--left b__nudge--top-10 b__nudge--bottom-small">
                Vous pouvez assigner un assesseur à n'importe quel bureau de vote du département (ou du pays dans le cas des FDE).<br/>
                Néanmoins, veuillez tenir compte du fait que les bureaux de vote souhaités sont listés dans l'ordre des
                préférences du demandeur.<br/>
                Veuillez également tenir compte du souhait du demandeur d'être titulaire ou suppléant.
            </div>
        {% endif %}
    {% endif %}

    {% if requests|length %}
        <table class="datagrid__table datagrid__table--bordered-rows">
            <thead>
            <tr>
                <th class="datagrid__table__col--hide-mobile" style="width: 100px;">Numéro</th>
                <th class="datagrid__table__col--left">Coordonnées de l'assesseur</th>
                <th>Bureau(x) de vote souhaité</th>
                <th>Poste souhaité</th>
                <th>Statut de la demande</th>
                <th>Bureau de vote</th>
                <th class="datagrid__table__col--hide-mobile">Date de la demande</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody id="requests-list">
                {{ include('assessor_manager/_requests_list.html.twig') }}
            </tbody>
        </table>
        {% if total_count > filters.limit %}
            <div class="text--center space--30">
                <button class="btn" id="btn-more">Afficher plus</button>
                <span id="loader" style="display: none;">Chargement ...</span>
            </div>
        {% endif %}
    {% endif %}
{% endblock %}
