{% extends 'assessor_manager/_layout.html.twig' %}

{% block javascripts %}
    <script type="text/javascript">
        Kernel.onLoad(function() {
            App.runAssessorManagerRequests('{{ filters.toQueryString|e('js') }}', {{ total_count }}, {{ filters.limit }});
        });
    </script>
{% endblock %}

{% block assessor_manager_content %}
    {% if 0 == requests|length %}
        <div class="text--body text--center">
            {% if constant('PROCESSED', filters) == filters.status %}
                Vous n'avez pas encore de demande d'assesseur traitée.
            {% else %}
                Vous n'avez pas encore de demande d'assesseur à traiter.
            {% endif %}
        </div>
    {% else %}
        <div class="text--body text--center b__nudge--bottom-large assessor_requests_total_count">
            {% if constant('PROCESSED', filters) == filters.status %}
                {{ 'assessor.processed.choices'|transchoice(total_count) }}
            {% else %}
                {{ 'assessor.unprocessed.choices'|transchoice(total_count) }}
            {% endif %}
        </div>
    {% endif %}

    {% if requests|length %}
        <table class="datagrid__table datagrid__table--bordered-rows">
            <thead>
            <tr>
                <th class="datagrid__table__col--hide-mobile" style="width: 100px;">Numéro</th>
                <th class="datagrid__table__col--left">Coordonnées de l'assesseur</th>
                <th>Bureau(x) de vote souhaité</th>
                <th>Poste souhaité</th>
                <th>Statut de la demande</th>
                <th>Bureau de vote</th>
                <th class="datagrid__table__col--hide-mobile">Date de la demande</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody id="requests-list">
                {{ include('assessor_manager/_requests_list.html.twig') }}
            </tbody>
        </table>
        {% if total_count > filters.limit %}
            <div class="text--center space--30">
                <button class="btn" id="btn-more">Afficher plus</button>
                <span id="loader" style="display: none;">Chargement ...</span>
            </div>
        {% endif %}
    {% endif %}
{% endblock %}
