<section class="instance__elections-box b__nudge--bottom-larger">
    <div class="l__row">
        <h2 class="text--medium box-el">{{ designation.getTitle() }}</h2>
    </div>

    <div class="text--body text--dark b__nudge--top b__nudge--bottom-large instance__elections-box--text">
        {{ cms_block('vote-statuses-landing-page-designation-description')|markdown }}
    </div>

    <p class="text--body b__nudge--bottom-large b__nudge--top-0">
        Le vote sera ouvert du <span class="text--bold">{{ designation.voteStartDate|format_datetime('none', 'none', "dd/MM/y à HH'h'mm") }}</span> au <span class="text--bold">{{ designation.voteEndDate|format_datetime('none', 'none', "dd/MM/y à HH'h'mm") }}</span>.
    </p>

    <hr/>

    <div class="text--body l__row l__row--wrap">
        {% set voting_platform_election = get_voting_platform_election_for_designation(designation) %}

        {% if not designation.isVotePeriodStarted %}
            <div class="em-countdown-clock l__col--full" data-event-timestamp="{{ designation.voteStartDate.timestamp }}" data-now-timestamp="{{ date().timestamp }}">
                <span class="text--dark text--small">Le vote ouvrira dans :</span>
                <span class="clock-container"></span>
            </div>
        {% elseif not voting_platform_election %}
            <p>Le vote commencera dans quelques instants.</p>
        {% else %}
            {% if voting_platform_election.isVotePeriodActive %}
                {% if is_granted('ABLE_TO_VOTE', voting_platform_election) %}
                    <div class="em-countdown-clock l__col--full" data-event-timestamp="{{ voting_platform_election.realVoteEndDate.timestamp }}" data-now-timestamp="{{ date().timestamp }}">
                        <span class="text--dark text--small">Il vous reste</span>
                        <span class="clock-container"></span>
                        <span class="text--dark text--small">pour participer au vote.</span>
                    </div>

                    <p>
                        <a href="{{ path('app_voting_platform_index', {uuid: voting_platform_election.uuid}) }}"
                           class="btn btn--red-secondary btn--no-wrap box-el"
                        >Je participe</a>
                    </p>
                {% else %}
                    {% set my_vote = get_my_vote_for_election(app.user, voting_platform_election.currentRound) %}

                    {% if my_vote %}
                        <p class="text--dark text--small instance__elections-box--text l__col--full">Votre choix a bien été enregistré.</p>

                        <div class="em-countdown-clock l__col--full" data-event-timestamp="{{ voting_platform_election.realVoteEndDate.timestamp }}" data-now-timestamp="{{ date().timestamp }}">
                            <span class="text--dark text--small">Les résultats seront publiés dans :</span>
                            <span class="clock-container"></span>
                        </div>

                        <p>
                            <span class="btn btn--disabled btn--no-wrap">Je participe</span>
                        </p>
                    {% endif %}
                {% endif %}
            {% elseif voting_platform_election.isResultPeriodActive %}
                <p class="text--small text--dark instance__elections-box--text">
                    {% if voting_platform_election.isResultsDisplayable() %}
                        Consulter les <a href="{{ path('app_voting_platform_results', {uuid: voting_platform_election.uuid}) }}" class="link--no-decor text--blue--dark box-el">résultats détaillés</a>
                    {% else %}
                        Le dépouillement est en cours, encore quelques secondes !
                    {% endif %}
                </p>
            {% endif %}
        {% endif %}
    </div>
</section>
