{% extends base_template %}

{% block show %}
    <div class="sonata-ba-view">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-default">
                    <div class="box-header">
                        <h4 class="box-title">
                            Envoi de campagne SMS : <strong>{{ admin.toString(object) }}</strong>
                        </h4>
                    </div>

                    <div class="box-body">
                        <h4 class="text-bold">Contenu :</h4>
                        <div><pre>{{ object.getContent() }}</pre></div>
                        <h4 class="text-bold">Audience :</h4>
                        <p>{{ object.getAudience() }}</p>
                        <p>Nombre de contacts trouvés : {{ total_count }}</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="sonata-ba-form-actions well well-small form-actions">
                    <a href="{{ admin.generateObjectUrl('edit', object, actions.link_parameters|default([])) }}" class="btn btn-default">
                        <i class="fa fa-edit" aria-hidden="true"></i> Modifier
                    </a>

                    <button type="submit" {{ total_count < 1 ? 'disabled="disabled"' }} class="btn btn-success" name="btn_update"><i class="fa fa-send" aria-hidden="true"></i> Envoyer</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
