{% extends 'besoindeurope/base_legislative.html.twig' %}

{% block page_title 'Financer la campagne' %}

{% block open_graph_image 'https://assets.parti-renaissance.fr/sharer/don.png' %}
{% block open_graph_description 'Derrière chaque action locale, chaque événement, chaque tract et affiche de campagne produit, il y a vos dons.' %}
{% block canonical_url url('app_bde_donation') %}

{% form_theme form 'renaissance/forms/tailwind_form_theme.html.twig' %}

{% block sub_content %}
    <main class="bg-[#F4F4F7]">
        <section x-data="xFunnelPage({initStep: {{ step }}, amount: '{{ form.vars.value.amount }}'})">
            <div class="bg-[#F6F7F4] md:flex">
                <div class="w-full relative mb-8">
                    <div class="md:sticky top-[80px] md:pt-[6vh]">
                        <figure class="w-full max-w-[75vw] md:max-w-[500px] lg:max-w-[700px] xl:max-w-[1000px] md:pt-[80px]">
                            {{ include('renaissance/donation/form_visual.svg.twig') }}
                        </figure>
                    </div>
                </div>

                <div class="flex flex-col justify-center items-center xl:items-start xl:pl-20 mt-8 gap-10 w-full">
                    <div class="flex-col justify-start items-start gap-8 inline-flex" x-data="{formData:{email: '{{ form.vars.value.email }}'}}">
                        {{ form_start(form) }}
                            <div class="flex gap-8 flex-col p-0 sm:p-5">
                                {% if form.vars.errors|length > 0 %}
                                    <twig:ReParagraphStatus status="error" icon class="max-w-[500px]">
                                        <ul
                                            {% if form.vars.errors|length > 1 %}
                                                class="list-disc list-inside flex flex-col gap-2.5"
                                            {% endif %}
                                        >
                                            {% for error in form.vars.errors %}
                                                <li class="[&>a]:font-medium [&>a]:underline">{{ error.message|raw }}</li>
                                            {% endfor %}
                                        </ul>
                                    </twig:ReParagraphStatus>
                                {% endif %}

                                <twig:Atoms:ReCard class="max-w-[500px] re-step" x-data="FirstFormStep({amounts: [10, 30, 60, 150, 500, 1000]})" id="step_1">
                                    <h1 class="font-sharp font-semibold text-[32px]/[29.8px] text-black neg-letter-spacing--4">Aidez nous à financer<br/><span class="text-[#00E08C]">la campagne</span></h1>

                                    <p>Tout doit être fait pour mobiliser nos électeurs jusqu'au 30 juin. Grâce à vos dons, nous pourrons démultiplier nos actions locales, nos réunions publiques, nos affiches et nos tracts pour convaincre davantage.</p>

                                    <twig:Atoms:ReLinkedToggle color="green" name="amount" id="donation_amount_picker" grid label="Choix du montant">
                                        <template x-for="amt in getAmounts()">
                                            <twig:Atoms:ReToggleButton id="x:`amount_${amt}`" name="amount" @click="handleAmountClick(amt)" x-bind:value="amt" x-model="amount" x-text="amt" />
                                        </template>
                                        <span></span>
                                    </twig:Atoms:ReLinkedToggle>

                                    <twig:Molecules:ReTextField
                                        id="amount_custom"
                                        @input="handleCustomFieldChange($event)"
                                        @change="handleCustomFieldChange($event)"
                                        x-bind:value="defaultCustomAmount"
                                        center
                                        type="text"
                                        x-numberonly.10.4600
                                        placeholder="Montant personnalisé (de 10€ à 4600€)" />

                                    {{ form_errors(form.amount) }}

                                    {{ form_row(form.amount, {attr: {'x-bind:value': 'amount'}}) }}

                                    <div>
                                        <twig:Atoms:ReLabel>Après réduction d’impôt de 66 % :</twig:Atoms:ReLabel>
                                        <div class="rounded-[10px] bg-ui_gray-10 text-ui_green-90 text-center h-[51px] flex flex-col items-center justify-center font-medium">
                                            <span x-text="getTaxTextReduction()"></span>
                                        </div>
                                    </div>

                                    <twig:ReButton color="black" class="w-full" @click="handleOnSubmit($event, $dispatch)">Suivant</twig:ReButton>

                                    <p class="text-center">Vous préférez effectuer un don par chèque ? Retrouver ici le bulletin de don à joindre à votre règlement.</p>

                                    <a href="https://doc.besoindeurope.fr/bulletin-don.pdf" class="re-button text-sm sm:text-base font-medium px-8 py-2 transition-colors rounded-[10px] justify-center items-center gap-2.5 border border-ui_green-50 inline-flex focus:enabled:outline focus:outline-4 focus:outline-offset-0 focus:outline-ui_blue-20 text-ui_green-50 hover:bg-ui_green-50 hover:text-white active:bg-ui_green-70 w-full">Télécharger le bulletin de don</a>
                                </twig:Atoms:ReCard>

                                <div class="re-step flex-col flex gap-8" id="step_2" x-data="SecondFormStep">
                                    {% if not app.user %}
                                        <twig:Atoms:ReCard class="max-w-[500px]">
                                            <p>
                                                <twig:Atoms:ReLabel>Vous avez déjà un compte Besoin d'Europe ?</twig:Atoms:ReLabel>
                                                Connectez vous pour pré-remplir toutes vos informations.
                                            </p>
                                            <twig:ReButton color="black" tag="a" href="{{ login_path_for_anonymous_follower('app_bde_donation', app.request.query.all|merge({amount: form.vars.value.amount})) }}">
                                                Me connecter
                                            </twig:ReButton>
                                        </twig:Atoms:ReCard>
                                    {% endif %}

                                    <twig:Atoms:ReCard class="max-w-[500px]">
                                        {{ form_row(form.civility, {
                                            label: 'Mes informations',
                                            attr: {color: 'green', onCheck: "setFieldValid('gender')", validate: "['required']"},
                                        }) }}

                                        <div class="flex flex-col xs:flex-row gap-5 ">
                                            {{ form_row(form.lastName, {
                                                label: false,
                                                attr: {placeholder: 'Nom', onCheck: "setFieldValid('lastName')", validate: "['required', 'min:1', 'max:50']"},
                                            }) }}
                                            {{ form_row(form.firstName, {
                                                label: false,
                                                attr: {placeholder: 'Prénom', onCheck: "setFieldValid('firstName')", validate: "['required', 'min:2', 'max:50']"},
                                            }) }}
                                        </div>

                                        {{ form_row(form.email, {
                                            attr: {
                                                placeholder: 'Adresse email',
                                                validate: "['required', 'email']",
                                                autocomplete: 'email',
                                                type: 'email',
                                                onCheck: "setFieldValid('emailAddress')",
                                            }, label: false}) }}

                                        {{ form_row(form.nationality, {
                                            label: 'Nationalité',
                                            attr: {onCheck: "setFieldValid('nationality')", validate: "['required']"},
                                        }) }}

                                        {{ form_row(form.address, {label: 'Adresse postale'}) }}

                                        <twig:ReButton
                                            class="w-full"
                                            color="green"
                                            @click="handleOnSubmit($event, $dispatch)"
                                            onDisabledClick="checkFormValidity($event)"
                                            disabled="x:!checkValidity()"
                                        >Suivant</twig:ReButton>
                                    </twig:Atoms:ReCard>
                                </div>
                                <twig:Atoms:ReCard class="max-w-[500px] re-step" id="step_3" x-data="ThirdFormStep">
                                    <twig:Atoms:ReLabel>Autorisations</twig:Atoms:ReLabel>
                                    {{ form_row(form.autorisations, {
                                        label: 'besoindeurope.donation.autorisations', label_html: true,
                                        attr: {onCheck: "setFieldValid('autorisations')", validate: "['required']"},
                                    }) }}

                                    <div class="w-full re-field-frame !h-auto cursor-pointer" @click="dom('.frc-button')?.click()">
                                        {{ include('renaissance/partials/friendly-captcha.html.twig', {friendly_captcha_site_key: friendly_captcha_europe_site_key}) }}
                                    </div>
                                    <twig:ReButton
                                        color="green"
                                        class="w-full"
                                        loading="x:loading"
                                        disabled="x:!checkValidity()"
                                        onDisabledClick="triggerValidateOnAllField()"
                                        @click="handleOnSubmit($event)"
                                    >Passer au paiement</twig:ReButton>
                                </twig:Atoms:ReCard>

                                <twig:Atoms:ReCard class="max-w-[500px]">
                                    <p>Les dons sont exclusivement versés à l’Association de Financement Électorale Besoin d’Europe pour les élections européennes 2024 (AFEBE 2024), déclarée à la Préfecture de Police de Paris le 6 mars 2024, mandataire financier de la liste Besoin d’Europe conduite par Valérie Hayer pour les élections des représentants au Parlement européen prévues les 8 et 9 juin 2024. La liste ne peut recueillir de dons que par l’intermédiaire de son mandataire financier. Conformément à l’article L.52-8 du code électoral, une personne physique peut verser un don à un candidat si elle est de nationalité française ou si elle réside en France. Les dons consentis par une personne physique dûment identifiée pour le financement de la campagne d'un ou plusieurs candidats lors des mêmes élections ne peuvent excéder 4 600 euros. Les personnes morales, à l'exception des partis ou groupements politiques, ne peuvent participer au financement de la campagne électorale d'un candidat, ni en lui consentant des dons sous quelque forme que ce soit, ni en lui fournissant des biens, services ou autres avantages directs ou indirects à des prix inférieurs à ceux qui sont habituellement pratiqués. Les personnes morales, à l'exception des partis et groupements politiques ainsi que des établissements de crédit ou sociétés de financement ayant leur siège social dans un État membre de l'Union européenne ou partie à l'accord sur l'Espace économique européen, ne peuvent ni consentir des prêts à un candidat, ni lui apporter leur garantie pour l'obtention de prêts. Tout don de plus de 150 euros consentis à un candidat en vue de sa campagne doit être versé par chèque, virement, prélèvement automatique ou carte bancaire. Sera puni de trois ans d'emprisonnement et de 45 000 € d'amende quiconque aura, en vue d'une campagne électorale, accordé un don ou un prêt en violation des articles L. 52-7-1 et L. 52-8. Les données recueillies sur ce formulaire de don seront traitées par Renaissance pour le compte de l’AFEBE 2024, afin de gérer le financement de la campagne de la liste Besoin d’Europe conduite par Valérie Hayer pour l’élection des représentants au parlement européen prévue les 8 et 9 juin 2024, et de vous en tenir informé. Elles permettront également, si vous le souhaitez, de vous envoyer les communications politiques relatives à l’élection européenne. Les champs marqués d’un astérisque sont obligatoires. L’absence de renseignement dans ces champs ne permettra pas à Renaissance et à l’AFEBE 2024 de traiter votre demande. Ces données seront conservées jusqu’à la fin des procédures de contrôle du compte de campagne de la liste ou jusqu’à la fin du délai de prescription lié à tout éventuel contentieux sur le financement de la campagne de la liste. En envoyant ce formulaire, vous autorisez Renaissance à traiter vos données pour ces finalités pour le compte de l’AFEBE 2024. Conformément à la réglementation en vigueur, vous disposez d’un droit d’opposition et d’un droit à la limitation du traitement de données vous concernant, ainsi que d’un droit d’accès, de rectification, de portabilité et d’effacement de vos données. Vous disposez également de la faculté de donner des directives sur le sort de vos données après votre décès. Vous pouvez exercer vos droits en nous adressant votre demande accompagnée d’une copie de votre pièce d’identité à l’adresse postale ou électronique suivante : 25 rue d’Édimbourg, 75008 Paris, ou <a href="mailto:contact@besoindeurope.fr">contact@besoindeurope.fr</a>. Nous prendrons votre demande en compte dans les meilleurs délais. Vous êtes enfin en droit d’introduire une réclamation auprès de la Commission nationale de l’Informatique et des Libertés (CNIL). Pour toute information sur le traitement de vos données, vous pouvez consulter <a href="https://parti-renaissance.fr/politique-de-protection-des-donnees">notre politique de protection des données</a>.</p>
                                </twig:Atoms:ReCard>

                                <div class="spacer h-[50vh]"></div>
                            </div>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
            <input type="hidden" id="email-validation-token" value="{{ email_validation_token }}"/>
        </section>
    </main>
{% endblock %}

{% block final_javascripts %}
    <script type="module" src="{{ asset('js/friendlycaptcha.widget-0.9.14.module.min.js') }}" async defer></script>
    <script>
        Bootstrap.onLoad(() => Main.runDonationFunnelPage());
    </script>
{% endblock %}
