{% extends 'base.html.twig' %}

{% block banner '' %}
{% block page_title 'Partagez le project' %}
{% block canonical_url url('app_social_share_list') %}

{% block javascripts %}
    <script type="text/javascript">
        Kernel.onLoad(function() {
            App.runProcurationThanks();
        });
    </script>
{% endblock %}

{% block content %}
<main class="content je-partage">
    <section class="programme">
        <nav class="text--body">
            <ul class="l__wrapper">
                <li>
                    <a href="{{ path('page_emmanuel_macron_programme') }}">
                        Le programme
                    </a>
                </li>
                <li>
                    <a href="{{ path('article_view', {'slug': 'contrat-avec-la-nation'}) }}">
                        Le contrat avec la Nation
                    </a>
                </li>
                <li>
                    <a href="{{ path('article_view', {'slug': 'emmanuel-macron-notre-projet-economique-efficace-juste-et-credible'}) }}">
                        Stratégie économique
                    </a>
                </li>
                <li>
                    <a href="https://storage.googleapis.com/en-marche-fr/COMMUNICATION/Programme-Emmanuel-Macron.pdf"
                       target="_blank" rel="noopener noreferrer">
                        Télécharger le programme
                    </a>
                </li>
                <li class="active">
                    <a href="{{ path('app_social_share_list') }}"
                       target="_blank" rel="noopener noreferrer">
                        Partagez
                    </a>
                </li>
            </ul>
        </nav>
    </section>
    <section class="je-partage__header background--green space--30-0">
        <header class="l__wrapper--slim">
            <h1 class="text--large text--center">
                Partagez le projet
            </h1>

            {#
            <div class="select__styled">
                <select name="category" data-width="100%" class="select__styled--inner">
                    {% for category in socialShareCategories %}
                        <option value="{{ category }}" {{  category == 'value' ? ' selected ' : '' }}>
                            {{ category | trans }}
                        </option>
                    {% endfor %}
                </select>
            </div>
            #}
        </header>
    </section>

    <section class="je-partage__graphics l__wrapper l__row l__row--top l__row--wrap">
        {% for story in socialShares %}
        <script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "ImageObject",
            "author": {
                "@type": "Organization",
                "name": "En Marche !",
                "url": "{{ url('homepage') }}"
            },
            "name": "{{ story.name }}",
            "description": "{{ story.description }}",
            "contentUrl": "{{ (url('homepage')|trim('/')~media_asset(story.media, {'w': 1050, 'q': 70}))|raw }}",
            "dateCreated": "{{ story.createdAt|date(constant('\DATE_ATOM')) }}",
            "potentialAction": {
                "@type": "ShareAction",
                "object": {
                    "@type": "CreativeWork",
                    "url": "{{ story.defaultUrl }}"
                }
            }
        }
        </script>

        <div class="je-partage__graphics__crop progressive-background"
             data-sd="{{ media_asset(story.media, {'w': 300, 'q': 20}) }}"
             data-hd="{{ media_asset(story.media, {'w': 1050, 'q': 70}) }}">
            <div class="je-partage__social">
                <div class="je-partage__social--inner">
                    <a download="{{ story.name }}" href="{{ media_asset(story.media) }}"
                       title="Téléchargez {{ story.name }}"
                       arial-label="Téléchargez {{ story.name }}">
                        <i class="fa fa-download"></i>
                    </a>
                    <input type="text" id="story-{{ story.id }}" value="{{ story.defaultUrl }}"
                           style="position: absolute; left: -09111983px"/>
                    <div class="social__copy" arial-label="Copiez le lien" id="copy-link-button"
                         data-clipboard-target="#story-{{ story.id }}">
                        <i class="fa fa-link"></i>
                    </div>
                    <a href="#" arial-label="Partagez sur Facebook"
                       onclick="App.share('facebook', '{{ story.facebookUrl ?? story.defaultUrl }}', '{{ story.name }}')">
                        <i class="fa fa-facebook"></i>
                    </a>
                    <a href="#" arial-label="Partagez sur Twitter"
                       onclick="App.share('twitter', '{{ story.twitterUrl ?? story.defaultUrl }}', '{{ story.name }}')">
                        <i class="fa fa-twitter"></i>
                    </a>
                </div>
            </div>
        </div>
        {% endfor %}
    </section>

</main>
{% endblock %}
