{% extends 'base.html.twig' %}

{% block banner '' %}
{% block page_title 'Partagez le projet' %}
{% block canonical_url url('app_social_share_list') %}

{% block javascripts %}
    <script type="text/javascript">
        Kernel.onLoad(function() {
            App.runSocialShare(
                '{{ path('app_social_share_list') }}',
                '{{ path('app_social_share_show', {'slug': 'slug'}) }}'
            );
        });
    </script>
{% endblock %}

{% block content %}
<main class="content je-partage">
    <section class="programme">
        <nav class="text--body">
            <ul class="l__wrapper">
                <li>
                    <a href="{{ path('page_emmanuel_macron_programme') }}">
                        Le programme
                    </a>
                </li>
                <li>
                    <a href="{{ path('article_view', {'slug': 'contrat-avec-la-nation'}) }}">
                        Le contrat avec la Nation
                    </a>
                </li>
                <li>
                    <a href="{{ path('article_view', {'slug': 'emmanuel-macron-notre-projet-economique-efficace-juste-et-credible'}) }}">
                        Stratégie économique
                    </a>
                </li>
                <li>
                    <a href="https://storage.googleapis.com/en-marche-fr/COMMUNICATION/Programme-Emmanuel-Macron.pdf"
                       target="_blank" rel="noopener noreferrer">
                        Télécharger le programme
                    </a>
                </li>
                <li class="active">
                    <a href="{{ path('app_social_share_list') }}">
                        Partagez
                    </a>
                </li>
            </ul>
        </nav>
    </section>
    <section class="je-partage__header background--green space--60-0">
        <header class="l__wrapper--slim l__row l__row--h-stretch">
            <h1 class="text--large">
                Partagez le projet
            </h1>

            <div class="select__styled">
                <select name="category" data-width="100%" class="select__styled--inner" id="je-partage-category">
                    <option value="all" {{ not currentCategory ? ' selected ' : '' }}>
                        Toutes les thématiques
                    </option>
                    {% for category in socialShareCategories %}
                        <option value="{{ category.slug }}" {{  category == currentCategory ? ' selected ' : '' }}>
                            {{ category.name }}
                        </option>
                    {% endfor %}
                </select>
            </div>
        </header>
    </section>

    <section>
        <div id="confirm-message" class="je-partage__copy">Copié !</div>
    </section>

    <section class="je-partage__graphics" id="je-partage">
        {% for story in socialShares %}
        <div class="je-partage__graphics__crop {{ loop.index is even ? 'story--even' }}">
            <script type="application/ld+json">
            {
                "@context": "http://schema.org",
                 "@type": "ImageObject",
                 "author": {
                     "@type": "Organization",
                     "name": "En Marche !",
                     "url": "{{ url('homepage') }}"
                 },
                 "name": "{{ story.name }}",
                 "description": "{{ story.description }}",
                 "contentUrl": "{{ (url('homepage')|trim('/')~media_asset(story.media, {'w': 1050, 'q': 70}))|raw }}",
                 "dateCreated": "{{ story.createdAt|date(constant('\DATE_ATOM')) }}",
                 "potentialAction": {
                     "@type": "ShareAction",
                     "object": {
                         "@type": "CreativeWork",
                         "url": "{{ story.defaultUrl }}"
                     }
                 }
            }
            </script>
            <div class="je-partage__header__info">
                <div class="je-partage__header__title">
                    {{ story.name }}
                </div>
                <div><a href="{{ story.defaultUrl }}" target="_blank"
                    class="link--white text--small">
                    voir la source &rarr;
                </a></div>
            </div>
            <img src="{{ media_asset(story.media, {'w': 1050, 'q': 70}) }}"
                 title="{{ story.name }}" alt="{{ story.name }}" />
            <div class="je-partage__social l__col">
                <div class="je-partage__info text--white text--body l__col">
                    <div class="je-partage__info__title">{{ story.name }}</div>
                    <div><a href="{{ story.defaultUrl }}" target="_blank"
                        class="link--white text--small">
                        voir la source &rarr;
                    </a></div>
                </div>
                <div class="je-partage__social--inner">
                    <a download="{{ story.name }}" href="{{ media_asset(story.media) }}"
                       title="Téléchargez {{ story.name }}"
                       aria-label="Téléchargez {{ story.name }}"
                       target="_blank">
                        <i class="fa fa-download"></i>
                    </a>
                    <input type="text" id="story-{{ story.id }}" value="{{ story.defaultUrl }}"
                           style="position: absolute; left: -09111983px"/>
                    <div class="social__copy" aria-label="Copiez le lien" data-clipboard-target="#story-{{ story.id }}"
                         style="display: none !important;">
                        <i class="fa fa-link"></i>
                    </div>
                    <a href="javascript:void(0)" aria-label="Partagez sur Facebook"
                       onclick="App.share('facebook', '{{ story.facebookUrl ?? story.defaultUrl }}', '{{ story.name|e('js') }}')">
                        <i class="fa fa-facebook"></i>
                    </a>
                    <a href="javascript:void(0)" aria-label="Partagez sur Twitter"
                       onclick="App.share('twitter', '{{ story.twitterUrl ?? story.defaultUrl }}', '{{ story.name|e('js') }}')">
                        <i class="fa fa-twitter"></i>
                    </a>
                </div>
            </div>
        </div>
        {% endfor %}
    </section>

</main>
{% endblock %}
