{% extends 'base_renaissance.html.twig' %}

{% set designation = election.designation %}
{% set region = designation.getParentZonesOfType(constant('App\\Entity\\Geo\\Zone::REGION'))|first %}
{% if not region %}
    {% set region = designation.getParentZonesOfType(constant('App\\Entity\\Geo\\Zone::CUSTOM'))|first %}
{% endif %}

{% block page_title designation.label %}

{% block content %}
    {% include 'renaissance/partials/site-header.html.twig' with { theme_bg: 'border-b border-re-blue-400 bg-re-blue-500' } %}

    <section class="bg-re-blue-50 py-10 md:py-12">
        <div class="max-w-8xl mx-auto px-4 md:px-6">
            <div>
                <nav class="md:hidden" aria-label="Back">
                    <a href="{{ path('app_renaissance_local_election_summary_list') }}" class="flex items-center text-sm font-medium text-gray-500 hover:text-gray-700">
                        {% include 'icons/left-arrow.svg.twig' %}
                        Retour
                    </a>
                </nav>
                <nav class="hidden md:flex" aria-label="Breadcrumb">
                    <ol role="list" class="flex items-center space-x-4">
                        <li>
                            <div class="flex">
                                <a href="{{ path('app_renaissance_local_election_summary_list') }}" class="text-sm font-medium text-gray-500 hover:text-gray-700">
                                    Retour à la liste des élections
                                </a>
                            </div>
                        </li>
                        <li>
                            <div class="flex items-center">
                                {% include 'icons/right-arrow.svg.twig' %}
                                <a href="{{ path('app_renaissance_local_election_summary_list', {'_fragment': 'region-' ~ region.code}) }}" class="ml-4 text-sm font-medium text-gray-500 hover:text-gray-700">
                                    {{ region.name }}
                                </a>
                            </div>
                        </li>
                    </ol>
                </nav>
            </div>
        </div>
    </section>

    <main class="py-12 lg:py-16 max-w-8xl mx-auto px-4 md:px-6">

        <h2 class="text-lg font-medium text-gray-900">{{ designation.label }}</h2>

        {% block content_section %}
            <div class="grid gap-5 md:grid-cols-2 md:gap-x-6 lg:grid-cols-3 lg:gap-y-8">
                {% for candidaciesGroup in election.candidaciesGroups %}
                    <div class="border border-gray-300 rounded-md p-4 md:p-5">
                        <h3 class="text-lg font-medium text-gray-900">Liste #{{ loop.index }}</h3>
                        <a class="inline-flex items-center mt-1 text-re-blue-500 hover:text-re-blue-600" href="{{ path('asset_url', { path: candidaciesGroup.getFaithStatementFilePath(), app_domain: app_renaissance_host }) }}">
                            {% include 'icons/download.svg.twig' with { svg_class: 'h-5 w-5 mr-2' } %}
                            Télécharger la profession de foi
                        </a>

                        <div class="border-t border-dashed border-gray-200 mt-5 pt-4">
                            <div class="pb-3">
                                <h3 class="text-lg font-medium leading-6 text-gray-500">Titulaires</h3>
                            </div>
                            <ul class="px-2 mt-2 space-y-3 text-gray-500" role="list">
                                {% for candidacy in candidaciesGroup.candidacies %}
                                    <li class="px-4 py-1.5">
                                        <span class="text-gray-400">{{ candidacy.gender == 'male' ? 'M' : 'Mme' }}</span>
                                        <span class="inline-block ml-0.5 text-gray-600 font-medium">
                                            {{ candidacy.getFirstName() }} <span class="uppercase">{{ candidacy.getLastName() }}</span>
                                        </span>
                                    </li>
                                {% endfor %}
                            </ul>
                            {%if candidaciesGroup.substituteCandidacies is not empty %}
                                <div class="mt-2 pb-3">
                                    <h3 class="text-lg font-medium leading-6 text-gray-500">Suppléants</h3>
                                </div>
                                <ul class="px-2 mt-2 space-y-3 text-gray-500" role="list">
                                    {% for substitute in candidaciesGroup.substituteCandidacies %}
                                        <li class="px-4 py-1.5">
                                            <span class="text-gray-400">{{ substitute.gender == 'male' ? 'M' : 'Mme' }}</span>
                                            <span class="inline-block ml-0.5 text-gray-700 font-medium">
                                                {{ substitute.getFirstName() }} <span class="uppercase">{{ substitute.getLastName() }}</span>
                                            </span>
                                        </li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endblock %}
    </main>

    {% include 'renaissance/partials/small-footer.html.twig' %}
{% endblock %}
