{% extends 'base_renaissance.html.twig' %}

{% block page_title 'Élections locales' %}

{% block content %}
    {% include 'renaissance/partials/site-header.html.twig' with { theme_bg: 'border-b border-re-blue-400 bg-re-blue-500' } %}

    <section class="bg-re-blue-50 py-10 md:py-16 lg:py-20">
        <div class="max-w-8xl mx-auto px-4 md:px-6">
            <div class="text-center">
                <h1 class="text-4xl font-din font-extrabold tracking-tight text-gray-900 sm:text-5xl md:text-6xl">
                    <span class="block">Les élections au sein du </span>
                    <span class="block">parti <span class="text-re-blue-600">Renaissance</span></span>
                </h1>
                <p class="mx-auto mt-3 max-w-md text-base text-gray-500 sm:text-lg md:mt-5 md:max-w-3xl md:text-xl">
                    {{ cms_block('renaissance-local-elections-subtitle') }}
                </p>
            </div>
        </div>
    </section>

    <main class="max-w-8xl mx-auto px-4 md:px-6">
        <div class="py-12 lg:py-14">
            {% block content_section %}
                <div class="space-y-6 lg:space-y-8">
                    {% for regionData in elections.getAllByRegions() %}
                        {% set region = regionData.region %}
                        {% set elections = regionData.elections %}

                        <div x-data="{ open: true }" id="region-{{ region.code }}">
                            <button @click="open = !open" class="w-full border-b border-gray-200 pb-4 flex items-center justify-between" x-bind:aria-expanded="open.toString()" aria-controls="faq-{{ region.id }}">
                                <span class="text-lg leading-6 text-gray-500">
                                    <span class="font-medium text-gray-900">{{ region.name }}</span>
                                </span>
                                <svg x-show="!open" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
                                    <path fill-rule="evenodd" d="M12 5.25a.75.75 0 01.75.75v5.25H18a.75.75 0 010 1.5h-5.25V18a.75.75 0 01-1.5 0v-5.25H6a.75.75 0 010-1.5h5.25V6a.75.75 0 01.75-.75z" clip-rule="evenodd" />
                                </svg>
                                <svg x-cloak x-show="open" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
                                    <path fill-rule="evenodd" d="M5.25 12a.75.75 0 01.75-.75h12a.75.75 0 010 1.5H6a.75.75 0 01-.75-.75z" clip-rule="evenodd" />
                                </svg>
                            </button>

                            <div x-show="open" class="mt-6 grid gap-5 md:grid-cols-2 md:gap-y-6 lg:grid-cols-4 lg:gap-x-4">
                                {% for election in elections %}
                                    <div class="relative border border-gray-300 rounded-md p-4 md:p-5 divide-y divide-gray-200">
                                        {% set department = election.designation.zones.first %}
                                        <a href="{{ path('app_renaissance_local_election_summary_candidacies', { uuid: election.uuid }) }}" class="inline-block pb-4 focus:outline-none">
                                            <span class="absolute inset-0" aria-hidden="true"></span>
                                            <p class="font-medium text-gray-900">{% if department.type == constant('App\\Entity\\Geo\\Zone::FOREIGN_DISTRICT') %}Français de l'Étranger{% else %}{{ department.name }} ({{ department.code }}){% endif %}</p>
                                            <p class="truncate text-gray-500">{{ election.candidaciesGroups|length }} candidature{{ election.candidaciesGroups|length > 1 ? 's' }}</p>
                                        </a>

                                        <div class="pt-4">
                                            <p class="flex items-center space-x-2">
                                                {% include 'icons/calendar.svg.twig' with { svg_class: 'w-4 h-4 mr-2' } %}
                                                Début: {{ election.voteStartDate|date('d/m/Y à H:i') }}
                                            </p>
                                            <p class="flex items-center space-x-2">
                                                {% include 'icons/calendar.svg.twig' with { svg_class: 'w-4 h-4 mr-2' } %}
                                                Fin: {{ election.voteEndDate|date('d/m/Y à H:i') }}
                                            </p>
                                        </div>
                                    </div>

                                {% endfor %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endblock %}
        </div>
        <div class="py-12 px-4 text-center">
            <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">
                <span class="block">Rejoindre le parti</span>
                <span class="block">Renaissance aujourd’hui</span>
            </h2>
            <div class="mt-8 flex justify-center">
                <div class="inline-flex rounded-md shadow">
                    <a href="{{ path('app_adhesion_index') }}" class="inline-flex items-center justify-center rounded-md border border-transparent uppercase tracking-wider bg-re-blue-600 px-5 py-3 text-base font-medium text-white hover:bg-re-blue-700">
                        Adhérer
                    </a>
                </div>
                <div class="ml-3 inline-flex">
                    <a href="{{ path('app_renaissance_donation') }}" class="inline-flex items-center justify-center rounded-md border border-transparent uppercase tracking-wider bg-re-blue-100 px-5 py-3 text-base font-medium text-re-blue-700 hover:bg-re-blue-200">
                        Faire un don
                    </a>
                </div>
            </div>
        </div>
    </main>

    {% include 'renaissance/partials/small-footer.html.twig' %}
{% endblock %}
