{% extends 'voting_platform/_layout_base.html.twig' %}

{% set start_button_label = 'J\'accède au vote' %}

{% block vote_step_pool_title %}
    {{ pool.code }}
{% endblock %}

{% block voting_platform_result_tab_pool_title %}
    Question {{ loop.index }}
{% endblock %}

{% block results_page_sub_title %}
    <h2 class="text--extra-large text-base font-medium lg:text-xl mt-3">{{ designation.getTitle() }}</h2>
{% endblock %}

{% block voting_platform_subtitle %}
    {{ designation.getZones()|join(', ') }}
{% endblock %}

{% block vote_finish_action_block %}
    <div class="b__nudge--bottom-large b__nudge--top-large">
        <a href="{{ path('app_renaissance_local_election_home', {uuid: designation.getUuid()}) }}" class="btn btn--blue">
            Retour à l’accueil
        </a>
    </div>
{% endblock %}

{% block voting_platform_result_tab_votes_list_title 'Détails des résultats' %}
