{% extends 'voting_platform/_layout_base.html.twig' %}

{% set start_button_label = 'J\'accède au vote' %}

{% block vote_finish_action_block %}
    <div class="b__nudge--bottom-large b__nudge--top-large">
        <a href="{{ path('app_sas_election_index', {uuid: designation.getUuid()}) }}" class="btn btn--blue">
            Retour à l’accueil
        </a>
    </div>
{% endblock %}

{% block voting_platform_result_tab_votes_list_title 'Détails des résultats' %}

{% block voting_platform_result_tab_pool_title 'Listes' %}

{% block voting_platform_result_header %}
    <h1 class="text-xl text-center font-bold">Résultats de {{ designation.getDenomination(true) }}</h1>

    {% set pool_result = election_round_result.getElectionPoolResults|first %}
    {% set voters = pool_result.participated ?? 0 %}
    {% set expressed = pool_result.expressed ?? 0 %}
    {% set participated = pool_result.getBulletinCount() ?? 0 %}
    {% set blank = pool_result.blank ?? 0 %}

    <div class="flex flex-col">
        <div class="-my-2 -mx-4 overflow-x-auto sm:-mx-6 lg:-mx-8">
            <div class="inline-block min-w-full py-2 align-middle md:px-6 lg:px-8">
                <div class="overflow-hidden shadow ring-1 ring-black ring-opacity-5 rounded-lg">
                    <table class="min-w-full divide-y divide-gray-300">
                        <thead class="bg-gray-50">
                            <tr>
                                <th scope="col" class="py-3 pl-4 pr-3 text-left text-xs font-medium uppercase tracking-wide text-gray-500 sm:pl-6"></th>
                                <th scope="col" class="px-3 py-3 text-left text-xs font-medium uppercase tracking-wide text-gray-500">% Inscrits</th>
                                <th scope="col" class="px-3 py-3 text-left text-xs font-medium uppercase tracking-wide text-gray-500">Votants</th>
                            </tr>
                        </thead>
                        <tbody class="divide-y divide-gray-200 bg-white">
                            {% if designation.isBlankVoteEnabled() %}
                                <tr>
                                    <td class="py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-6">Blancs</td>
                                    <td class="py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-6">{{ (voters == 0 ? 0 : blank / voters * 100)|number_format(2, ',') }}%</td>
                                    <td class="py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-6">{{ (participated == 0 ? 0 : blank / participated * 100)|number_format(2, ',') }}%</td>
                                </tr>
                            {% endif %}

                            <tr>
                                <td class="py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-6">Exprimés</td>
                                <td class="py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-6">{{ (voters == 0 ? 0 : expressed / voters * 100)|number_format(2, ',') }}%</td>
                                <td class="py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-6">{{ (participated == 0 ? 0 : expressed / participated * 100)|number_format(2, ',') }}%</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <h1 class="text-xl text-center font-bold">Exprimés</h1>
{% endblock %}
