{% extends 'voting_platform/_layout_base.html.twig' %}

{% set start_button_label = 'J\'accède au vote' %}
{% set vote_blanc_label = 'Ne se prononce pas' %}

{% block vote_step_pool_title %}
    {{ cms_block(pool.code)|markdown_to_html }}
{% endblock %}

{% block vote_finish_action_block %}
    <div class="b__nudge--bottom-large b__nudge--top-large">
        <a href="{{ path('app_sas_election_index', {uuid: designation.getUuid()}) }}" class="btn btn--blue">
            Retour à l’accueil
        </a>
    </div>
{% endblock %}

{% block voting_platform_subtitle %}
    Le vote est ouvert du
    {% if election.isSecondRoundVotePeriodActive %}
        {{ election.voteEndDate|date('d/m/Y \à H:i') }} au {{ election.secondRoundEndDate|date('d/m/Y \à H:i') }}
    {% else %}
        {{ election.voteStartDate|date('d/m/Y \à H:i') }} au {{ election.voteEndDate|date('d/m/Y \à H:i') }}
    {% endif %}
{% endblock %}

{% block voting_platform_result_tab_votes_list_title 'Détails des résultats' %}

{% block voting_platform_result_tab_pool_title %}
    Question {{ loop.index }}
{% endblock %}
