{% extends 'base_renaissance.html.twig' %}

{% set designation = election.designation %}

{% block title %}
    {% block page_title '' %} | {{ designation.denomination|capitalize }}
{% endblock %}

{% block banner %}
    <div class="max-w-8xl mx-auto py-3 px-4 md:px-6">
        <a href="{{ path('app_sas_election_index', {uuid: designation.getUuid()}) }}"
           class="text-base text-gray-500 hover:text-gray-900">
            ← Retourner
        </a>
    </div>
{% endblock %}

{% block vote_step_pool_title '' %}

{% block voting_platform_result_tab_votes_list_title 'Bulletins dépouillés' %}

{% block voting_platform_result_tab_pool_title %}
    Résultats {{ get_election_pool_title_key(pool_result.electionPool)|trans }}
{% endblock %}

{% block vote_finish_action_block %}
    <div class="b__nudge--bottom-large b__nudge--top-large">
        <a href="{{ path('app_sas_election_index', {uuid: designation.uuid}) }}" class="btn btn--blue">
            Retour
        </a>
    </div>
{% endblock %}

{% block header %}
    <header class="re-voting voting-platform__header voting-platform-theme__{{ designation_type }}">
        <div class="l__wrapper--wide l__row l__row--h-stretch l__row--wrap">
            <div class="l__row space--20-0 heading-link">
                <a href="{{ path('app_sas_election_index', {uuid: designation.getUuid()}) }}" class="link--no-decor text--logo b__nudge--right-large">
                    {{ include('renaissance/partials/logo-text.svg.twig', {svg_class: 'h-5 w-auto text-white'}) }}
                </a>
            </div>
            <div class="anonymous l__row space--20-0">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" width="24" height="24">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M3.98 8.223A10.477 10.477 0 001.934 12C3.226 16.338 7.244 19.5 12 19.5c.993 0 1.953-.138 2.863-.395M6.228 6.228A10.45 10.45 0 0112 4.5c4.756 0 8.773 3.162 10.065 7.498a10.523 10.523 0 01-4.293 5.774M6.228 6.228L3 3m3.228 3.228l3.65 3.65m7.894 7.894L21 21m-3.228-3.228l-3.65-3.65m0 0a3 3 0 10-4.243-4.243m4.242 4.242L9.88 9.88" />
                </svg>
                <span>Session anonyme</span>
            </div>
        </div>
    </header>
{% endblock %}

{% block content %}
    <main class="re-voting px-4 md:px-6 voting-platform voting-platform-theme__{{ designation_type }}">
        {% block voting_platform_ornametns %}
            <div class="voting-platform__ornaments">
                <img src="{{ asset('images/vote-platform-ornaments/ornament-1.png') }}" class="ornament ornament--1" alt="" />
                <img src="{{ asset('images/vote-platform-ornaments/ornament-2.png') }}" class="ornament ornament--2" alt="" />
                <img src="{{ asset('images/vote-platform-ornaments/ornament-3.png') }}" class="ornament ornament--3" alt="" />
            </div>
        {% endblock %}

        <div class="voting-platform__content">
            {% block voting_platform_header %}
                <div class="l__wrapper{{ designation.isMajorityType ? '--medium' : '--slim' }}">
                    <div class="introduction-header l__wrapper--slim">
                        <h1 class="text--larger b__nudge--bottom-large">{{ election.title }}</h1>
                        <p class="text--body text--default-large text--muted b__nudge--bottom-large">
                            {% block voting_platform_subtitle %}
                                {{ designation.getDenomination(true, true) }} est ouverte du
                                {% if election.isSecondRoundVotePeriodActive %}
                                    {{ election.voteEndDate|date('d/m/Y \à H:i') }} au {{ election.secondRoundEndDate|date('d/m/Y \à H:i') }}
                                {% else %}
                                    {{ election.voteStartDate|date('d/m/Y \à H:i') }} au {{ election.voteEndDate|date('d/m/Y \à H:i') }}
                                {% endif %}
                            {% endblock %}
                        </p>
                    </div>
                </div>
            {% endblock %}

            {{ block('voting_platform_content') ?? block('voting_platform_content_default') }}
        </div>
    </main>
{% endblock %}

{% block footer '' %}
