{% extends 'voting_platform/_layout_base.html.twig' %}

{% set start_button_label = 'J\'accède au vote' %}

{% block vote_finish_action_block %}
    <div class="b__nudge--bottom-large b__nudge--top-large">
        <a href="{{ path('app_sas_election_index', {uuid: designation.getUuid()}) }}" class="btn btn--blue">
            Retour à l’accueil
        </a>
    </div>
{% endblock %}

{% block voting_platform_result_tab_votes_list_title 'Détails des résultats' %}

{% block voting_platform_result_tab_pool_title 'Listes' %}

{% block voting_platform_result_header %}
    <div>
        <h1 class="text-2xl font-bold mb-2">{{ designation.title }}</h1>

        <p class="text--muted italic mb-2">
            Du {{ designation.voteStartDate|format_datetime('none', 'none', 'd MMMM yyyy à HH:mm') }} au
            {{ designation.voteEndDate|format_datetime('none', 'none', 'd MMMM yyyy à HH:mm') }}
        </p>

        {% set pool_result = election_round_result.getElectionPoolResults|first %}
        {% set voters = pool_result.participated ?? 0 %}
        {% set participated = pool_result.getBulletinCount() ?? 0 %}

        <div class="inline-block min-w-full py-2 align-middle mt-2">
            <div class="overflow-hidden shadow ring-1 ring-black ring-opacity-5 rounded-lg">
                <table class="table-fixed w-full divide-y divide-gray-300">
                    <tbody class="divide-y divide-gray-200 bg-white">
                        <tr>
                            <td class="py-4 pl-4 pr-3 w-2/3 text-sm font-medium text-gray-900">Taux de participation</td>
                            <td class="py-4 pl-4 pr-3 text-sm font-medium text-gray-900">{{ (voters == 0 ? 0 : participated / voters * 100)|number_format(2, ',') }} %</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block voting_platform_content %}
    <h2 class="text-xl font-bold">Résultats</h2>

    {% for pool_result in election_round_result.getElectionPoolResults %}
        {% if designation.isBlankVoteEnabled() %}
            {% set blank = pool_result.getBlank() ?? 0 %}
        {% endif %}

        <div>
            <div class="inline-block min-w-full py-2 align-middle">
                <div class="overflow-hidden shadow ring-1 ring-black ring-opacity-5 rounded-lg">
                    <table class="table-fixed w-full divide-y divide-gray-300">
                        <thead class="bg-gray-50">
                            <tr>
                                <th scope="col" class="py-3 pl-4 w-2/3 pr-3 text-left text-xs font-medium uppercase tracking-wide text-gray-500">Listes</th>
                                <th scope="col" class="px-3 py-3 text-left text-xs font-medium uppercase tracking-wide text-gray-500">Résultat</th>
                            </tr>
                        </thead>
                        <tbody class="divide-y divide-gray-200 bg-white">
                            {% for candidate_group_result in pool_result.getCandidateGroupResults() %}
                                {% set candidate_group = candidate_group_result.getCandidateGroup() %}
                                {% set candidate = candidate_group.getCandidates|first %}
                                <tr>
                                    <td class="py-4 pl-4 pr-3 text-sm font-medium text-gray-900">Liste : {{ candidate.getFirstName() }} {{ candidate.getLastName()|upper }}</td>
                                    <td class="py-4 pl-4 pr-3 text-sm font-medium text-gray-900">{{ pool_result.getBulletinCount() > 0 ? (candidate_group_result.getTotal() * 100 / pool_result.getBulletinCount())|number_format(2, ',') : 0 }} %</td>
                                </tr>
                            {% endfor %}

                            {% if blank is defined %}
                                <tr>
                                    <td class="py-4 pl-4 pr-3 text-sm font-medium text-gray-900">Blancs</td>
                                    <td class="py-4 pl-4 pr-3 text-sm font-medium text-gray-900">{{ pool_result.getBulletinCount() > 0 ? (blank * 100 / pool_result.getBulletinCount())|number_format(2, ',') : 0 }} %</td>
                                </tr>
                            {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <p>
            Nombre de sièges à pourvoir : {{ designation.seats }}<br/>
            Prime majoritaire : {{ designation.majorityPrime }} %
        </p>

        {% for candidate_group_result in pool_result.getCandidateGroupResults() %}
            {% set candidate_group = candidate_group_result.getCandidateGroup() %}
            {% set candidate = candidate_group.getCandidates|first %}

            <h2 class="text-xl font-bold">{{ candidate.getFirstName() }} {{ candidate.getLastName()|upper }}</h2>

            <div class="inline-block min-w-full py-2 align-middle">
                <div class="overflow-hidden shadow ring-1 ring-black ring-opacity-5 rounded-lg">
                    <table class="table-fixed w-full divide-y divide-gray-300">
                        <thead class="bg-gray-50">
                            <tr>
                                <th scope="col" class="py-3 w-2/3 pl-4 pr-3 text-left text-xs font-medium uppercase tracking-wide text-gray-500">
                                    Candidats
                                </th>
                                <th scope="col" class="px-3 py-3 text-left text-xs font-medium uppercase tracking-wide text-gray-500">
                                    Résultat
                                </th>
                            </tr>
                        </thead>
                        <tbody class="divide-y divide-gray-200 bg-white">
                            {% for candidate in candidate_group.getCandidates %}
                                <tr>
                                    <td class="py-4 pl-4 pr-3 text-sm font-medium text-gray-900">{{ candidate.getFirstName() }} {{ candidate.getLastName()|upper }}</td>
                                    <td class="py-4 pl-4 pr-3 text-sm font-medium text-gray-900">{{ candidate.isAdditionallyElected() ? 'ÉLU' : 'NON-ÉLU' }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        {% endfor %}
    {% endfor %}
{% endblock %}
