{% extends base_layout %}

{% block page_title 'Vote ' ~ designation.denomination %}

{% block voting_platform_content %}
    <div class="l__wrapper--slim">
            <div class="text--body text--dark">

                {{ block('election_sub_title') }}

                {% if designation.isCommitteeAdherentType() %}
                    <p>Vous allez participer à la désignation des binômes paritaires d'adhérents au sein de votre comité. C’est un grand temps fort de démocratie interne pour notre mouvement et une première étape importante pour la représentativité des adhérentes et des adhérents au sein du Conseil territorial.</p>

                    <h2>Comment ça marche ?</h2>
                    <p>La désignation des adhérents au sein des comités est paritaire, soit une femme et un homme qui candidatent de façon individuelle. Deux désignations ont lieux ainsi en même temps, celle des femmes et celle des hommes. Les deux adhérents désignés formeront un binôme paritaire.</p>
                    <p>S’il n’y a qu'une candidature au sein de votre comité (un homme ou une femme), vous n’aurez à vous prononcer que sur celle-ci. Votre comité sera alors représenté que par une personne au Conseil territorial.  Dans tous les cas, le vote blanc est possible.</p>
                    <p>La désignation se fait par scrutin majoritaire à un tour. Le candidat ayant obtenu le plus de suffrages est automatiquement désigné à l’annonce des résultats. Il n’y a pas de second tour.</p>

                    <h2>Puis-je changer de comité de vote pour voter dans un autre territoire ?</h2>
                    <p>Vous ne pouvez voter et candidater que dans un seul comité. En participant à cette désignation, vous ne pourrez plus changer de comité de vote avant la fin de cette première étape.</p>

                    <h2>Mon choix est-il anonyme ?</h2>
                    <p>Ici, vous êtes comme dans l’isoloir. Votre choix ne sera connu que de vous seul. Lors de votre vote, vous recevrez un numéro anonymisé qui vous permettra de retrouver votre choix lors de l’affichage des résultats dans l’espace de votre comité.</p>

                    <h2>Comment serais-je informé des résultats ?</h2>
                    <p>A la fin de la période de vote de votre territoire, vous recevrez un email avec l’annonce des résultats. Ces informations seront également disponibles dans l’espace de votre comité local.</p>

                    <h2>Que se passe-t-il lors d’une égalité parfaite ?</h2>
                    <p>Dans le cas où deux candidats ont exactement le même nombre de suffrages, la désignation est relancée pour 5 jours avec les mêmes candidats et les adhérents inscrits sont invités à voter de nouveau.</p>
                {% elseif election.designationType == constant('App\\VotingPlatform\\Designation\\DesignationTypeEnum::COPOL') %}
                    <p>Vous allez participer à la désignation des binômes paritaires pour le Comité politique. C’est un grand temps fort de démocratie interne pour notre mouvement et une étape importante pour la représentativité des adhérents, animateurs et élus au sein du Comité politique.</p>

                    <h2>Comment se déroule le vote ?</h2>
                    <p>La désignation des 5 binômes est paritaire, vous allez choisir un binôme paritaire qui siège au Conseil territorial par qualité : les adhérents désignés, les animateurs, les élus municipaux, les élus départementaux et élus régionaux.</p>
                    <p>Pour les conseillers départementaux et régionaux, s’il n’y a qu’une candidature (un homme ou une femme), vous n’aurez à vous prononcer que sur celle-ci. Pour rappel, à titre dérogatoire et provisoire jusqu'aux prochaines élections, s’il n’y avait qu’un homme ou une femme, ils pouvaient se présenter de façon individuelle.</p>
                    <p>La désignation se fait par scrutin majoritaire à un tour. Le binôme par qualité ayant obtenu le plus de suffrages est automatiquement désigné à l’annonce des résultats. Il n’y a pas de second tour.</p>

                    <h2>Mon choix est-il anonyme ?</h2>
                    <p>Ici, vous êtes comme dans l’isoloir. Votre choix ne sera connu que de vous seul. Lors de votre vote, vous recevrez un numéro anonymisé qui vous permettra de retrouver votre choix lors de l’affichage des résultats dans l’espace de Conseil territorial.</p>

                    <h2>Quand et comment seront affichés les résultats ?</h2>
                    <p>A la fin de la période de vote de votre territoire, vous recevrez un email avec l’annonce des résultats. Ces informations seront également disponibles dans l’espace de votre Conseil territorial.</p>

                    <h2>Que se passe-t-il en cas d'égalité ?</h2>
                    <p>En cas d’égalité entre plusieurs binômes de candidats qui ont la même qualité, les membres du Conseil territorial sont invités à voter de nouveau pour une période de 3 jours avec les mêmes candidatures de binômes paritaires.</p>

                    <h2>Pour les territoires avec un nombre de membres supplémentaires voté par le Conseil territorial pour respecter la règle de parité au sein du Comité politique :</h2>
                    <p>A l’issue du vote des 5 binômes paritaires pour le Comité politique, seront élus individuellement (le(s) femme(s) ou le(es)’hommes(s)) figurant dans les binômes ayant obtenu le plus de voix en valeur absolue, tous types de binômes confondus, à la suite des binômes paritaires élus.</p>
                {% elseif election.designationType in [
                    constant('App\\VotingPlatform\\Designation\\DesignationTypeEnum::COMMITTEE_SUPERVISOR'),
                    constant('App\\VotingPlatform\\Designation\\DesignationTypeEnum::CONSULTATION'),
                    constant('App\\VotingPlatform\\Designation\\DesignationTypeEnum::VOTE'),
                ] %}
                    <p>{{ designation.getDescription()|nl2br }}</p>
                {% elseif election.designationType == constant('App\\VotingPlatform\\Designation\\DesignationTypeEnum::NATIONAL_COUNCIL') %}
                    <p>Pour assurer une meilleure représentativité et poursuivre nos objectifs de démocratie interne et de parité dans nos instances, nous vous invitions à désigner un trio composé d'un élu local, d'un animateur local et d'un adhérent qui constituera un quatuor paritaire avec le référent territorial. Le trio désigné siégera au Conseil national pendant 2 ans.</p>

                    <p>Un choix innovant pour voter : le « jugement majoritaire »</p>

                    <p>Le jugement majoritaire est représentatif des valeurs que porte le Mouvement, il permet de favoriser le consensus et la bienveillance.</p>

                    <p>Lors du vote, vous allez ainsi donner votre avis sur une ou plusieurs listes de trinômes candidats en leur attribuant cinq mentions : Excellent; Très bien; Bien ; Passable; Insuffisant.</p>

                    <p>👉 La liste de trinôme qui obtiendra le meilleur score auprès de 50% du corps électoral sera élu.</p>
                {% elseif election.designationType == constant('App\\VotingPlatform\\Designation\\DesignationTypeEnum::EXECUTIVE_OFFICE') %}
                    <p>Bienvenue sur la plateforme de vote électronique de La République en Marche !</p>
                    <p>Vous allez participer au vote des listes candidates au Bureau Exécutif, qui constitue l'organe de direction et assure la conduite et l'animation du Mouvement aux côtés du Délégué Général.</p>

                    <h2>Comment se déroule le vote ?</h2>
                    <p>Le vote a lieu de façon dématérialisée du 19 juillet à 13h30 au 21 juillet à 16h00. Les résultats seront annoncés lors de la visio-conférence du Conseil national et affichés sur la plateforme.</p>
                    <p>Le vote se fait par scrutin majoritaire à un tour. La liste ayant obtenue le plus de suffrages est automatiquement élue à l’annonce des résultats. Il n’y a pas de second tour.</p>

                    <h2>Mon choix est-il anonyme ?</h2>
                    <p>Ici, vous êtes comme dans l’isoloir. Votre choix ne sera connu que de vous seul. Lors de votre vote, vous recevrez un numéro anonymisé qui vous permettra de retrouver votre choix lors de l’affichage des résultats dans l’espace du Conseil national.</p>
                {% elseif election.designationType == constant('App\\VotingPlatform\\Designation\\DesignationTypeEnum::POLL') %}
                    {{ cms_block('vote-statuses-voting-platform-description')|markdown_to_html }}
                {% elseif designation.wordingWelcomePage %}
                    {{ designation.wordingWelcomePage.content|markdown_to_html }}
                {% else %}
                    {{ cms_block('voting-platform-index-election-description-' ~ designation.getType())|markdown_to_html }}
                {% endif %}
            </div>

        <div class="text--center b__nudge--top-50">
            <a href="{{ path('app_voting_platform_vote_step', {uuid: election.uuid}) }}" class="btn btn--blue btn--large-and-full">{{ start_button_label ?? 'Soumettre mon vote' }}</a>
        </div>
    </div>
{% endblock %}
