{% if not campaign_expired %}
    <div class="nav__user">
        {% if has_role_admin %}
            <a href="{{ path('sonata_admin_dashboard') }}" class="icon--with-text text--medium-small nav__user__name">
                Administration
            </a>
        {% else %}
            <a href="{{ path(has_role_user ? 'app_adherent_profile' : 'app_adherent_login') }}" class="icon--with-text text--medium-small nav__user__name">
                {{ include('components/user.html.twig') }}
                {{ has_role_user ? app.user.fullName : 'Espace perso' }}
            </a>
            {% if has_role_user %}
                <div class="nav__user__caret">
                    <span class="nav__user__caret--outer"></span>
                    <span class="nav__user__caret--inner"></span>
                </div>
                <div class="nav__user__menu">
                    <div class="nav__user__menu__comites">
                        {# Prerendering this block and saving it in a variable prevents extra SQL queries #}
                        {% set adherent_committees %}
                            {{ render(controller('AppBundle:EnMarche/Adherent:listMyCommittees')) }}
                        {% endset %}
                        {{ adherent_committees }}
                    </div>
                    <ul class="nav__user__menu__account">
                        <li><a href="{{ path('app_search_events') }}">Tous les événements</a></li>
                        <li><a href="{{ path('app_search_committees') }}">Tous les comités</a></li>
                        <li><a href="{{ path('map_committees') }}">La carte des comités</a></li>
                        <li><a href="{{ path('map_events') }}">La carte des événements</a></li>
                        <li><a href="{{ path('app_documents_index') }}">Documents</a></li>
                        <li class="nav__user__menu__separator"></li>
                        <li class="text--small">
                            <a class="text--pink" href="{{ path('app_summary_manager_index') }}">Mon profil En Marche</a>
                        </li>
                        <li class="text--small">
                            <a href="{{ path('app_create_citizen_initiative') }}">Créer une initiative</a>
                        </li>
                        {% if is_granted('CREATE_COMMITTEE') %}
                            <li class="text--small">
                                <a href="{{ path('app_adherent_create_committee') }}">Créer un comité</a>
                            </li>
                        {% endif %}
                        {% if is_granted('ROLE_REFERENT') %}
                            <li class="text--small">
                                <a href="{{ path('app_referent_users') }}">Espace référent</a>
                            </li>
                        {% endif %}
                        {% if is_granted('ROLE_BOARD_MEMBER') %}
                            <li class="text--small">
                                <a href="{{ path('app_board_member_home') }}">Espace membre du Conseil</a>
                            </li>
                        {% endif %}
                        {% if is_granted('ROLE_COORDINATOR') %}
                            <li class="text--small">
                                <a href="{{ path('app_coordinator_committees', { 's': constant('AppBundle\\Entity\\Committee::PENDING') }) }}">Espace coordinateur régional</a>
                            </li>
                        {% endif %}
                        {% if is_granted('ROLE_PROCURATION_MANAGER') %}
                            <li class="text--small">
                                <a href="{{ path('app_procuration_manager_index') }}">Espace responsable procuration</a>
                            </li>
                        {% endif %}
                        {% if is_granted('ROLE_LEGISLATIVE_CANDIDATE') %}
                            <li class="text--small">
                                <a href="{{ path('app_legislative_candidates_platform') }}" target="_blank">
                                    Espace candidat aux législatives
                                </a>
                            </li>
                        {% endif %}
                        <li class="text--small">
                            <a href="{{ path('app_adherent_events') }}">Mes événements</a>
                        </li>
                        <li class="text--small">
                            <a href="{{ path('app_adherent_profile') }}">Mon compte</a>
                        </li>
                        <li class="text--small">
                            <a href="https://aide.en-marche.fr" target="_blank" rel="noopener noreferrer">Aide</a>
                        </li>
                        {% if is_granted('ROLE_PREVIOUS_ADMIN') %}
                            <li class="text--small">
                                <a href="{{ path('app_admin_impersonation_exit') }}">
                                    Quitter l'impersonnification
                                </a>
                            </li>
                        {% endif %}
                        <li class="text--small"><a href="{{ path('auth_logout') }}">Déconnexion</a></li>
                    </ul>
                </div>
            {% endif %}
        {% endif %}
    </div>
{% endif %}
