<div class="em-nav-mobile__adherent-profile">
    <div class="b__nudge--bottom space--20">
        {% if has_role_user %}
            <div class="adherent-profile__id l__row b__nudge--bottom">
                <div class="name b__nudge--right-nano">{{ app.user.partialName }}</div>
            </div>
            <ul class="adherent-profile__roles b__nudge--bottom">
                {% for role in get_adherent_role_labels(app.user) %}
                    <li>{{ role }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        <div class="em-nav__menu em-nav__menu--mobile">
            <div class="b__nudge--bottom">
                <ul class="items">
                    {% if not app.user %}
                        <li><a href="{{ path('app_renaissance_login') }}">Connexion</a></li>
                    {% endif %}
                    <li><a href="https://aide.en-marche.fr" rel="noopener noreferrer" target="_blank">Aide</a></li>
                    {% if is_granted('IS_IMPERSONATOR') %}
                        <li><a href="{{ impersonation_exit_path(path('admin_app_adherent_list')) }}">Quitter l'impersonnification</a></li>
                    {% endif %}
                    {% if has_role_user %}
                        <li><a href="{{ path('logout') }}">Déconnexion</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>

        {% if has_role_user %}
            <div class="em-nav__menu em-nav__menu--mobile">
                <div class="b__nudge--bottom">
                    <span class="head">Informations</span>
                    <ul class="items">
                        <li><a href="{{ path('app_user_edit') }}">Général</a></li>
                        <li><a href="{{ path('app_certification_request_home') }}">Certification</a></li>
                        <li><a href="{{ path('app_user_change_password') }}">Mot de passe</a></li>
                        <li><a href="{{ path('app_adherent_pin_interests') }}">Centres d'intéret</a></li>
                        <li><a href="{{ path('app_user_set_email_notifications') }}">Communication</a></li>
                    </ul>
                </div>
            </div>

            <div class="em-nav__menu em-nav__menu--mobile">
                <div class="b__nudge--bottom">
                    <span class="head">Activités</span>
                    <ul class="items">
                        <li><a href="{{ path('app_adherent_profile_activity', {_fragment: 'committees'}) }}">Mes comités</a></li>
                        <li><a href="{{ path('app_adherent_profile_activity', {_fragment: 'events'}) }}">Mes événements</a></li>
                        <li><a href="{{ path('app_adherent_profile_activity', {_fragment: 'donations'}) }}">Mes dons</a></li>
                    </ul>
                </div>
            </div>

            <div class="em-nav__menu em-nav__menu--mobile">
                <div class="b__nudge--bottom">
                    <ul class="items">
                        <li><a href="{{ path('app_documents_index') }}">Mes documents</a></li>
                    </ul>
                </div>
            </div>
        {% endif %}
    </div>
</div>
<div class="em-nav-mobile__sitemap">
    <div class="space--20 b__nudge--bottom">
        <div class="em-nav__menu em-nav__menu--mobile">
            <div class="b__nudge--bottom">
                <span class="head">Le Mouvement</span>
                <ul class="items">
                    <li><a href="https://dpt.en-marche.fr">Nos sites départementaux</a></li>
                </ul>
            </div>
            <div class="b__nudge--bottom">
                <span class="head">S'engager</span>
                <ul class="items">
                    <li><a href="{{ path('app_search_events') }}">Événements</a></li>
                    <li><a href="{{ path('app_search_committees') }}">Comités</a></li>
                    <li><a href="https://pourunecause.fr">Je m'engage pour une cause</a></li>
                    <li><a href="{{ mooc_host }}">Formation</a></li>
                    <li><a href="{{ path('app_donation_index') }}">Faire un don</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
