<div class="em-dropdown--container em-nav">
    <div class="l__wrapper">
        <div class="l__row l__row--top">
            <div class="em-nav-dropdown__col">
                <div class="adherent-profile__id l__row b__nudge--bottom">
                    <div class="name b__nudge--right-nano">{{ app.user }}</div>
                    {% if is_certified %}
                        <div class="l__row">
                            {{ include(('components/_certification_logo.html.twig')) }}
                        </div>
                    {% endif %}
                </div>
                <ul class="adherent-profile__roles b__nudge--bottom">
                    {% for role in get_adherent_role_labels(app.user) %}
                        <li>{{ role }}</li>
                    {% endfor %}
                </ul>
                <ul class="">
                    <li class="space--5-0"><a href="https://aide.en-marche.fr" rel="noopener noreferrer" target="_blank" class="text--body text--small link--no-decor">Aide</a></li>
                    <li class="space--5-0"><a href="{{ path('logout') }}" class="text--body text--small link--no-decor">Déconnexion</a></li>
                    {% if is_granted('IS_IMPERSONATOR') %}
                        <li class="space--5-0">
                            <a href="{{ impersonation_exit_path(path('admin_app_adherent_list')) }}" class="text--body text--small link--no-decor">
                                Quitter l'impersonnification
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </div>
            <div class="em-nav-dropdown__col">
                <div class="em-nav__menu em-nav__menu--dropdown">
                    <span class="head">Informations</span>
                    <ul class="items">
                        <li><a href="{{ path('app_user_edit') }}">Général</a></li>
                        <li><a href="{{ path('app_certification_request_home') }}">Certification</a></li>
                        <li><a href="{{ path('app_user_change_password') }}">Mot de passe</a></li>
                        <li><a href="{{ path('app_adherent_pin_interests') }}">Centres d'intéret</a></li>
                        <li><a href="{{ path('app_user_set_email_notifications') }}">Communication</a></li>
                    </ul>
                </div>
            </div>
            <div class="em-nav-dropdown__col">
                <div class="em-nav__menu em-nav__menu--dropdown">
                    <span class="head">Activités</span>
                    <ul class="items">
                        <li><a href="{{ path('app_adherent_profile_activity', {_fragment: 'committees'}) }}">Mes comités</a></li>
                        <li><a href="{{ path('app_adherent_profile_activity', {_fragment: 'events'}) }}">Mes événements</a></li>
                        <li><a href="{{ path('app_adherent_profile_activity', {_fragment: 'donations'}) }}">Mes dons</a></li>
                    </ul>
                </div>
            </div>
            <div class="em-nav-dropdown__col">
                <div class="em-nav__menu em-nav__menu--dropdown">
                    <span class="head">Documents</span>
                    <ul class="items">
                        <li><a href="{{ path('app_documents_index') }}">Mes documents</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
