{% set current_page = current_page|default(1) %}
{% set total_pages = total_pages|default(1) %}
{% set pagination_route_name = app.request.attributes.get('_route') %}
{% set pagination_route_params = pagination_route_params|default({}) %}

<div class="datagrid__pager">
    <ul>
        <li>
            <form method="get" class="pager__go-to-page">
                <span>Aller à la page </span>
                {% for key, value in pagination_route_params %}
                    {% if value is iterable %}
                        {% for v in value %}
                            <input type="hidden" name="{{ key }}[]" value="{{ v }}" />
                        {% endfor %}
                    {% else %}
                        <input type="hidden" name="{{ key }}" value="{{ value }}" />
                    {% endif %}
                {% endfor %}
                <input type="number" max="{{ total_pages }}" name="page" class="pager__action" value="{{ current_page }}"/>
                <input type="submit" class="btn btn--blue" value="OK" />
                <span class="b__nudge--left-large">{{ current_page }} sur {{ total_pages }}</span>
            </form>
        </li>
        <li>
            <a href="{{ current_page > 1 ? path(pagination_route_name, pagination_route_params|merge({ page: current_page - 1 })) : 'javascript:void(0);' }}" class="pager__action switch">
                <svg xmlns="http://www.w3.org/2000/svg" width="9" height="14" viewBox="0 0 9 14">
                    <polygon fill="#444" points="27.45 22.571 27.45 24.571 18.45 24.571 18.45 15.571 20.45 15.571 20.45 22.571" transform="rotate(45 30.642 -5.743)"/>
                </svg>
            </a>
        </li>

        <li>
            <a href="{{ current_page < total_pages ? path(pagination_route_name, pagination_route_params|merge({ page: current_page + 1 })) : 'javascript:void(0);' }}" class="pager__action switch">
                <svg xmlns="http://www.w3.org/2000/svg" width="9" height="14" viewBox="0 0 9 14">
                    <polygon fill="#444" points="27.45 22.571 27.45 24.571 18.45 24.571 18.45 15.571 20.45 15.571 20.45 22.571" transform="scale(-1 1) rotate(45 26.142 -16.607)"/>
                </svg>
            </a>
        </li>
    </ul>
</div>
