<nav class="gtm__navigation__desktop l__wrapper l__row l__row--h-stretch l__hide--on-tablet {{ app.user ? '' : 'space--20-0' }}">
    <ul class="list__links list__links--row list__links--nav list__links--no-decor">
        <li>
            <a href="{{ path('homepage') }}" class="text--logo b__nudge--right-0">EM!</a>
        </li>
        <div class="l__row">
            <div class="nav-dropdown">
                <p>
                    Le Mouvement
                    <img alt="menu" class="nav__chevron" src="{{ asset('/images/icons/chevron-down-light-black.svg') }}">
                </p>
                <ul class="nav-dropdown__item">
                    <li><a href="https://dpt.en-marche.fr" rel="noopener noreferrer" target="_blank">Nos sites départementaux</a></li>
                </ul>
            </div>
        </div>
        <div class="l__row">
            <div class="nav-dropdown nav-dropdown__mrg--0">
                <p>
                    Actualités
                    <img alt="menu" class="nav__chevron" src="{{ asset('/images/icons/chevron-down-light-black.svg') }}">
                </p>
            </div>
        </div>
        <div class="l__row">
            <div class="nav-dropdown">
                <p>
                    S'engager
                    <img alt="menu" class="nav__chevron" src="{{ asset('/images/icons/chevron-down-light-black.svg') }}">
                </p>
                <ul class="nav-dropdown__item">
                    <li><a href="{{ path('app_search_events') }}">Événements</a></li>
                    <li><a href="{{ path('app_search_committees') }}">Comités</a></li>
                    <li><a href="https://pourunecause.fr">Je m'engage pour une cause</a></li>
                    <li><a href="{{ mooc_host }}">Formation</a></li>
                    <li><a href="{{ path('app_donation_index') }}">Faire un don</a></li>
                </ul>
            </div>
        </div>
        <div class="l__row">
            <div class="nav-dropdown nav-dropdown__mrg--0">
                <p>
                    Nos idées
                    <img alt="menu" class="nav__chevron" src="{{ asset('/images/icons/chevron-down-light-black.svg') }}">
                </p>
            </div>
        </div>
    </ul>
    <div class="l__row">
        <div class="font-roboto b__nudge--right">
            {% if is_granted('ROLE_ADMIN_DASHBOARD') %}
                <div class="space--20-0">
                    <a href="{{ path('sonata_admin_dashboard') }}" class="nav-dropdown__name link--no--decor">
                        Admin 🤓
                    </a>
                </div>
            {% elseif has_role_adherent %}
                <div class="em-dropdown em-nav-dropdown">
                    <span class="em-dropdown--trigger icon--with-text space--20-0">
                        {{ include('components/user.html.twig') }}

                        {{ app.user.firstName is defined ? app.user.firstName }}

                        {% if is_certified %}
                            {{ include(('components/_certification_logo.html.twig')) }}
                        {% endif %}
                    </span>

                    {{ include('components/_dropdown_user_desktop.html.twig') }}
                </div>
            {% endif %}
        </div>
        {% if not app.user %}
            <a href="{{ path('app_renaissance_login') }}" class="text--body link--no-decor b__nudge--right">Connexion</a>
        {% endif %}
        <a href="{{ path('app_donation_index') }}" class="btn btn--red">Donner</a>
    </div>
</nav>
