<nav class="gtm__navigation__desktop l__wrapper l__row l__row--h-stretch space--20-0 l__hide--on-small-laptop">
    <ul class="list__links list__links--row list__links--no-decor list__links--nav">
        <li><h1><a href="{{ path('homepage') }}">En Marche !</a></h1></li>
        <li class="text--medium-small">
            <a href="{{ path('page_le_mouvement') }}">Le Mouvement</a>
        </li>
        <li class="text--medium-small">
            <a href="{{ path('page_campus') }}">Campus</a>
        </li>
        <li class="text--medium-small">
            <a href="{{ path('app_search_events') }}">Événements</a>
        </li>
        <li class="text--medium-small" >
            <a href="{{ path('articles_list', {category: 'tout'}) }}">Actualités</a>
        </li>
        <li {% if not algolia_app_id or not algolia_api_key %}style="display: none;"{% endif %}>
            <a href="javascript:void(0)" class="je-cherche">
                {{ include('components/search.html.twig') }}
            </a>
        </li>
    </ul>
    <div class="l__row">
        {% if not campaign_expired and not is_granted('ROLE_ADHERENT') %}
            <a href="{{ path('app_register_fully') }}"
               class="newbtn newbtn--hollow newbtn--small b__nudge--right-nano">
                Adhérer
            </a>
        {% endif %}
        <a href="{{ path('donation_index') }}" class="newbtn newbtn--small newbtn--pink b__nudge--right">Donner</a>

        {% if not campaign_expired %}
            <div class="nav__user">
                {% if has_role_admin %}
                    <a href="{{ path('sonata_admin_dashboard') }}" class="icon--with-text nav__user__name">
                        Administration
                    </a>
                {% else %}
                    <a href="{{ path('app_user_profile') }}" class="icon--with-text nav__user__name">
                        {{ include('components/user.html.twig') }}
                        {{ is_granted('ROLE_ADHERENT') ? app.user.fullName : 'Espace perso' }}
                    </a>
                    {% if is_granted('ROLE_ADHERENT') %}
                        <div class="nav__user__caret">
                            <span class="nav__user__caret--outer"></span>
                            <span class="nav__user__caret--inner"></span>
                        </div>
                        <div class="nav__user__menu">
                            <div class="nav__user__menu__items committees">
                                <h3>Comités</h3>
                                {# Prerendering this block and saving it in a variable prevents extra SQL queries #}
                                {% set adherent_committees %}
                                    {{ render(controller('AppBundle:EnMarche/Adherent:listMyCommittees')) }}
                                {% endset %}
                                {{ adherent_committees }}
                            </div>
                            <div class="nav__user__menu__items citizen_projects">
                                <h3>Projets citoyens</h3>
                                {% set adherent_citizen_projects %}
                                    {{ render(controller('AppBundle:EnMarche/Adherent:listMyCitizenProjects')) }}
                                {% endset %}
                                {{ adherent_citizen_projects }}
                            </div>
                            <ul class="nav__user__menu__account">
                                <li><a href="{{ path('app_search_events') }}">Tous les événements</a></li>
                                <li><a href="{{ path('app_search_committees') }}">Tous les comités</a></li>
                                <li><a href="{{ path('app_search_citizen_projects') }}">Tous les projets citoyens</a></li>
                                <li><a href="{{ path('map_events') }}">La carte des événements</a></li>
                                <li><a href="{{ path('map_committees') }}">La carte des comités</a></li>
                                <li><a href="{{ path('app_documents_index') }}">Documents</a></li>
                                <li class="nav__user__menu__separator"></li>
                                <li class="text--small">
                                    <a class="text--pink" href="{{ path('app_summary_manager_index') }}">Mon profil En Marche</a>
                                </li>
                                {% if is_granted('CREATE_COMMITTEE') %}
                                    <li class="text--small">
                                        <a href="{{ path('app_adherent_create_committee') }}">Créer un comité</a>
                                    </li>
                                {% endif %}
                                {% if is_granted('CREATE_CITIZEN_PROJECT') %}
                                    <li class="text--small">
                                        <a href="{{ path('app_adherent_create_citizen_project') }}">Créer un projet citoyen</a>
                                    </li>
                                {% endif %}
                                {% if is_granted('ROLE_REFERENT') %}
                                    <li class="text--small">
                                        <a href="{{ path('app_referent_users') }}">Espace référent</a>
                                    </li>
                                {% endif %}
                                {% if is_granted('ROLE_COORDINATOR') %}
                                    <li class="text--small">
                                        {% if is_granted('ROLE_COORDINATOR_CITIZEN_PROJECT') %}
                                            <a href="{{ path('app_coordinator_citizen_project', { 's': constant('AppBundle\\Entity\\Committee::PENDING')}) }}">Espace Responsable Engagement Citoyen</a>
                                        {% elseif is_granted('ROLE_COORDINATOR_COMMITTEE') %}
                                            <a href="{{ path('app_coordinator_committees', { 's': constant('AppBundle\\Entity\\CitizenProject::PENDING')}) }}">Espace coordinateur régional</a>
                                        {% endif %}
                                    </li>
                                {% endif %}
                                {% if is_granted('ROLE_PROCURATION_MANAGER') %}
                                    <li class="text--small">
                                        <a href="{{ path('app_procuration_manager_index') }}">Espace responsable procuration</a>
                                    </li>
                                {% endif %}
                                {% if is_granted('ROLE_LEGISLATIVE_CANDIDATE') %}
                                    <li class="text--small">
                                        <a href="{{ path('app_legislative_candidates_platform') }}" target="_blank">
                                            Espace candidat aux législatives
                                        </a>
                                    </li>
                                {% endif %}
                                <li class="text--small">
                                    <a href="{{ path('app_adherent_events') }}">Mes événements</a>
                                </li>
                                <li class="text--small">
                                    <a href="{{ path('app_user_profile') }}">Mon compte</a>
                                </li>
                                <li class="text--small">
                                    <a href="https://aide.en-marche.fr" target="_blank" rel="noopener noreferrer">Aide</a>
                                </li>
                                {% if is_granted('ROLE_PREVIOUS_ADMIN') %}
                                    <li class="text--small">
                                        <a href="{{ path('app_admin_impersonation_exit') }}">
                                            Quitter l'impersonnification
                                        </a>
                                    </li>
                                {% endif %}
                                <li class="text--small"><a href="{{ path('logout') }}">Déconnexion</a></li>
                            </ul>
                        </div>
                    {% endif %}
                {% endif %}
            </div>
        {% endif %}
    </div>
</nav>
