<nav class="gtm__navigation__mobile l__wrapper l__hide--on-desktop space--20-0">
    <ul class="list__links list__links--row list__links--nav l__row--h-stretch">
        <li>
            <a href="{{ path('homepage') }}" class="link--no-decor text--logo">EM!</a>
        </li>
        <li>
            <a class="btn btn--red b__nudge--right-extra-large" href="{{ path('donation_index') }}">Donner</a>
        </li>
    </ul>
    <div class="nav-mobile">
        <input id="nav-menu" type="checkbox">
        <label for="nav-menu">Menu de navigation</label>
        <div class="nav-mobile--menu">
            <ul>
                {% if not app.user %}
                    <li>
                        <a href="{{ path('app_user_login') }}">Connexion</a>
                    </li>
                {% endif %}
                {% if not has_role_adherent %}
                    <li>
                        <a href="{{ path('app_membership_join') }}">Adhérer</a>
                    </li>
                {% endif %}
                <li>
                    <a href="{{ path('donation_index') }}">Donner</a>
                </li>
            </ul>
            <hr>
            {% if has_role_user %}
                <ul>
                    <li>
                        <a href="{{ has_role_adherent ? path('app_user_profile') : path('app_user_login') }}">
                            <div class="text--bold">{{ app.user.firstName }}</div>
                            <div class="text--small text--gray">{{ get_adherent_role_labels(app.user)|join(', ') }}</div>
                        </a>
                    </li>
                </ul>
                <hr>
                {% if has_role_adherent %}
                    <ul>
                        <li>
                            <a href="{{ path('app_summary_manager_index') }}">Profil</a>
                        </li>
                        <li>
                            <a href="{{ path('app_adherent_events') }}">Mes activités</a>
                        </li>
                        <li>
                            <a href="{{ path('app_user_profile_donation') }}">Mes dons</a>
                        </li>
                        {% if is_granted('ROLE_FORMATION_SPACE') %}
                            <li class="visually-hidden">
                                <a href="{{ path('app_formation_home') }}" class="is-new">Je me forme</a>
                            </li>
                        {% endif %}
                    </ul>
                {% endif %}
                <ul>
                    {% if has_role_adherent and is_granted('CREATE_COMMITTEE') %}
                        <ul>
                            <li>
                                <a href="{{ path('app_adherent_create_committee') }}">Créer un comité</a>
                            </li>
                        </ul>
                    {% endif %}
                    {% if app.user.isReferent or app.user.isCoReferent %}
                        <li>
                            <a href="{{ path(app.user.isReferent ? 'app_referent_event_manager_events' : 'app_referent_users') }}">Espace référent</a>
                        </li>
                    {% endif %}
                    {% if app.user.isDeputy %}
                        <li>
                            <a href="{{ path('app_message_deputy_list') }}">Espace député</a>
                        </li>
                    {% endif %}
                    {% if app.user.isCoordinatorCitizenProjectSector %}
                        <li>
                            <a href="{{ path('app_coordinator_citizen_project', { s: constant('AppBundle\\Entity\\CitizenProject::PENDING')}) }}">Espace responsable engagement citoyen</a>
                        </li>
                    {% endif %}
                    {% if app.user.isCoordinatorCommitteeSector %}
                        <li>
                            <a href="{{ path('app_coordinator_committees', { s: constant('AppBundle\\Entity\\Committee::PENDING')}) }}">Espace coordinateur régional</a>
                        </li>
                    {% endif %}
                    {% if app.user.isProcurationManager %}
                        <li>
                            <a href="{{ path('app_procuration_manager_requests') }}">Espace responsable procuration</a>
                        </li>
                    {% endif %}
                    {% if app.user.isAssessorManager %}
                        <li>
                            <a href="{{ path('app_assessor_manager_requests') }}">Espace responsable assesseur</a>
                        </li>
                    {% endif %}
                    {% if app.user.isMunicipalChief %}
                        <li>
                            <a href="{{ path('app_municipal_chief_home') }}">Espace Municipales 2020 🇫🇷</a>
                        </li>
                    {% endif %}
                </ul>
                <ul>
                    <li>
                        <a href="{{ path('app_user_set_email_notifications') }}">Mes communications via e-mail et mobile</a>
                    </li>
                    <li>
                        <a href="{{ path('app_user_profile') }}">Paramètres</a>
                    </li>
                    <li>
                        <a href="https://aide.en-marche.fr" rel="noopener noreferrer" target="_blank">Aide</a>
                    </li>
                    {% if is_granted('ROLE_PREVIOUS_ADMIN') %}
                        <li>
                            <a href="{{ path('app_admin_impersonation_exit') }}">
                                Quitter l'impersonnification
                            </a>
                        </li>
                    {% endif %}
                </ul>
                <hr>
            {% endif %}

            <small>LE MOUVEMENT</small>
            <ul class="b__nudge--bottom">
                <li>
                    <a href="{{ path('page_le_mouvement') }}">Qui sommes-nous ?</a>
                </li>
                <li>
                    <a href="{{ path('app_our_organization') }}">Notre organisation</a>
                </li>
                <li>
                    <a href="{{ path('our_referents_homepage') }}">Nos référents</a>
                </li>
                <li>
                    <a href="https://dpt.en-marche.fr">Nos sites départementaux</a>
                </li>
                <li>
                    <a href="{{ path('legislatives_homepage') }}">
                        Nos députés
                    </a>
                </li>
            </ul>

            <ul class="b__nudge--bottom">
                <li>
                    <a href="{{ path('articles_list', {category: 'tout'}) }}">Actualités</a>
                </li>
            </ul>

            <small>MUNICIPALES</small>
            <ul class="b__nudge--bottom">
                <li>
                    <a href="https://en-marche.fr/municipales">Municipales 2020</a>
                </li>
                <li>
                    <a href="https://en-marche.fr/articles/communiques/cni-municipales-larem">
                        La CNI
                    </a>
                </li>
                <li>
                    <a href="https://storage.googleapis.com/en-marche-fr/charte_10_engagements.pdf" rel="noopener noreferrer" target="_blank">
                        Les 10 engagements de l’élu(e) progressiste
                    </a>
                </li>
                <li>
                    <a href="https://en-marche.fr/articles/actualites/laboratoire-initiatives-locales">
                        Le laboratoire d’initiatives locales
                    </a>
                </li>
                <li>
                    <a href="https://en-marche.fr/municipales/candidats-investis">
                        Nos candidat(e)s
                    </a>
                </li>
                <li>
                    <a href="https://en-marche.fr/articles/actualites/toutes-politiques-engagement-femmes">
                        Toutes Politiques
                    </a>
                </li>
                <li>
                    <a href="{{ path('app_application_request_request') }}">
                        Appel à l’engagement
                    </a>
                </li>
            </ul>

            <small>S'ENGAGER</small>
            <ul class="b__nudge--bottom">
                <li>
                    <a href="{{ path('app_search_events') }}">Événements</a>
                </li>
                <li>
                    <a href="{{ path('app_search_committees') }}">Comités</a>
                </li>
                <li>
                    <a href="{{ path('react_app_citizen_projects_home') }}">Projets citoyens</a>
                </li>
                <li>
                    <a href="{{ path('react_app_ideas_workshop_home') }}">Atelier des idées</a>
                </li>
                <li>
                    <a href="{{ path('page_campus') }}">Formation</a>
                </li>
                <li>
                    <a href="{{ path('page_le_mouvement_devenez_benevole') }}">Devenez bénévole</a>
                </li>
                <li>
                    <a href="{{ path('donation_index') }}">Faire un don</a>
                </li>
                {% if has_role_adherent %}
                    <li>
                        <a href="{{ path('app_adherent_my_vote') }}">Vote des statuts</a>
                    </li>
                    <li>
                        <a href="{{ path('app_documents_index') }}">Mes documents</a>
                    </li>
                {% endif %}
                <li {% if not algolia_app_id or not algolia_api_key %} style="display: none;" {% endif %}>
                    <a class="je-cherche" href="javascript:void(0)">
                        {{ include('components/search.html.twig') }}
                    </a>
                </li>
            </ul>
            <hr>
            {% if has_role_adherent %}
                <div>
                    <div class="text--body text--bold text--small">Comités</div>
                    {{ adherent_committees }}
                </div>
                <hr>
                <div>
                    <div class="text--body text--bold text--small">Projets citoyens</div>
                    {{ adherent_citizen_projects }}
                </div>
                <hr>
            {% endif %}
            {% if has_role_user %}
                <ul>
                    <li>
                        <a href="{{ path('logout') }}">Déconnexion</a>
                    </li>
                </ul>
                <hr>
            {% endif %}
            <ul class="list__links list__links--row b__nudge--bottom-small">
                <li class="head">Suivez La République En Marche !</li>
            </ul>
            <ul class="list__links list__links--row list__links--no-decor list__links--svgs l__row--wrap">
                <li>
                    <a href="https://www.facebook.com/EnMarche" rel="noopener noreferrer" target="_blank">
                        <i class="fa fa-facebook-square"></i>
                    </a>
                </li>
                <li>
                    <a href="https://twitter.com/enmarchefr" rel="noopener noreferrer" target="_blank">
                        <i class="fa fa-twitter"></i>
                    </a>
                </li>
                <li>
                    <a href="https://www.instagram.com/enmarchefr/" rel="noopener noreferrer" target="_blank">
                        <i class="fa fa-instagram"></i>
                    </a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/company/en-marche" rel="noopener noreferrer" target="_blank">
                        <i class="fa fa-linkedin-square"></i>
                    </a>
                </li>
                <li>
                    <a href="https://www.youtube.com/channel/UCJw8np695wqWOaKVhFjkRyg" rel="noopener noreferrer" target="_blank">
                        <i class="fa fa-youtube-square"></i>
                    </a>
                </li>
                <li>
                    <a href="https://www.flickr.com/photos/enmarchefr/albums" rel="noopener noreferrer" target="_blank">
                        <i class="fa fa-flickr"></i>
                    </a>
                </li>
                <li>
                    <a href="https://t.me/enmarchefr" rel="noopener noreferrer" target="_blank">
                        <i class="fa fa-telegram"></i>
                    </a>
                </li>
                <li>
                    <a href="{{ url('articles_feed') }}" target="_blank" rel="noopener noreferrer">
                        <i class="fa fa-rss"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
