<{{ tag }}
    {{ attributes.without('x-text') }}
    class="{{ this.tw(
        'text-sm sm:text-base font-medium px-8 py-2 transition-colors rounded-[10px]',
        'justify-center items-center gap-2.5 inline-flex',
        'focus:enabled:outline focus:outline-4 focus:outline-offset-0 focus:outline-ui_blue-20',
        'disabled:cursor-not-allowed',
        this.variantClasses
    )}}"
    >
    {% if icon is defined %}
        <twig:Atoms:ReIcon type="{{ icon }}"/>
    {% endif %}

        <div {{ attributes.only('x-text') }}>
            {% block content '' %}
        </div>

    {% if loading %}
        <twig:Atoms:ReIcon type="{{ this.loaderType }}" x-show="{{ loading }}"/>
    {% endif %}
</{{ tag }}>
