<fieldset {{ attributes.defaults({class: 'flex flex-col gap-8'}) }}
    x-data="xValidateField({ status: 'default', message: '',
        validate: {{ validate is defined ? validate : '[]' }},
        onCheck: {{ onCheck is defined ? onCheck : '()=>{}' }}
    })"
    {% if id is defined %}
    @x-validate:{{ id }}.window="setData($event.detail)"
    {% endif %}
    type="radio-group"
>
    <twig:ReParagraphStatus
            x-show="status !== 'default' && message"
            value="{{ message is defined ? '' }}"
            type="{{ status }}"
            status="x:status"
            x-text="message"
    />

    <div class="flex flex-col gap-4">
        {% block content '' %}
    </div>
</fieldset>
