{% extends 'summary_manager/_form_layout.html.twig' %}

{% block summary_form %}
    <h2 class="b__nudge--bottom">Ajouter / Modifier une formation</h2>

    {{ form_start(training_form) }}

    {{ form_errors(training_form) }}

    <div class="form__row">
        {{ form_row(training_form.organization, { label: 'Organisme/Université/MOOC' }) }}
    </div>

    <div class="form__row">
        {{ form_row(training_form.diploma, { label: 'Diplôme' }) }}
    </div>

    <div class="form__row">
        {{ form_row(training_form.study_field, { label: 'Domaine d\'étude' }) }}
    </div>

    <div class="form__row">
        {{ form_row(training_form.started_at, { label: 'Date de début' }) }}
    </div>

    <div class="form__row">
        {{ form_row(training_form.ended_at, { label: 'Date de fin (si adapté)' }) }}
    </div>

    <div class="form__row">
        {{ form_errors(training_form.on_going) }}
        <div class="form__checkbox form__checkbox--col">
            {{ form_widget(training_form.on_going) }}
            {{ form_label(training_form.on_going, 'J\'y étudie actuellement') }}
        </div>
    </div>

    <div class="form__row">
        {{ form_row(training_form.description, { label: 'Description de la formation' }) }}
    </div>

    <div class="form__row">
        {{ form_row(training_form.extra_curricular, { label: 'Participation à des activités extra-scolaires' }) }}
    </div>

    {% if training_form.display_order.entry.vars.choices is defined %}
        {{ form_row(training_form.display_order, { label: 'Position dans la liste de vos formations' }) }}
    {% else %}
        {{ form_widget(training_form.display_order) }}
    {% endif %}

    <button type="submit" class="btn btn--blue">Enregistrer</button>
    <a href="{{ path('app_summary_manager_index') }}" class="btn btn--no-border">Annuler</a>

    {{ form_end(training_form) }}

    {% if training_form.vars.data and not training_form.vars.data.new %}
        {{ delete_form(path('app_summary_manager_remove_training', { id: training_form.vars.data.id }), constant('App\\Summary\\SummaryManager::DELETE_TRAINING_TOKEN')) }}
    {% endif %}
{% endblock %}
