{% extends 'summary_manager/_form_layout.html.twig' %}

{% block summary_form %}
    <h2 class="b__nudge--bottom">Ajouter / Modifier une expérience</h2>

    {{ form_start(experience_form) }}

    {{ form_errors(experience_form) }}

    <div class="form__row">
        {{ form_row(experience_form.company, { label: 'Organisation' }) }}
    </div>

    <div class="form__row">
        {{ form_row(experience_form.position, { label: 'Poste' }) }}
    </div>

    <div class="form__row">
        {{ form_row(experience_form.location, { label: 'Ville' }) }}
    </div>

    <div class="form__row">
        {{ form_row(experience_form.website, { label: 'Site internet de l\'organisation' }) }}
    </div>

    <div class="form__row">
        {{ form_row(experience_form.company_facebook_page, { label: 'Page Facebook de l\'organisation' }) }}
    </div>

    <div class="form__row">
        {{ form_row(experience_form.company_twitter_nickname, { label: 'Compte Twitter de l\'organisation' }) }}
    </div>

    <div class="form__row">
        {{ form_row(experience_form.started_at, { label: 'Date de début de l\'expérience' }) }}
    </div>

    <div class="form__row">
        {{ form_row(experience_form.ended_at, { label: 'Date de fin' }) }}
    </div>

    <div class="form__row">
        {{ form_errors(experience_form.on_going) }}
        <div class="form__checkbox form__checkbox--col">
            {{ form_widget(experience_form.on_going) }}
            {{ form_label(experience_form.on_going, 'J\'y travaille actuellement') }}
        </div>
    </div>

    <div class="form__row">
        {{ form_row(experience_form.contract, { label: 'Type de contrat' }) }}
    </div>

    <div class="form__row">
        {{ form_row(experience_form.duration, { label: 'Statut' }) }}
    </div>

    <div class="form__row">
        {{ form_row(experience_form.description, { label: 'Description du poste' }) }}
    </div>

    {% if experience_form.display_order.entry.vars.choices is defined %}
        {{ form_row(experience_form.display_order, { label: 'Position dans la liste de vos expériences' }) }}
    {% else %}
        {{ form_widget(experience_form.display_order) }}
    {% endif %}

    <button type="submit" class="btn btn--blue">Enregistrer</button>
    <a href="{{ path('app_summary_manager_index') }}" class="btn btn--no-border">Annuler</a>

    {{ form_end(experience_form) }}

    {% if experience_form.vars.data and not experience_form.vars.data.new %}
        {{ delete_form(path('app_summary_manager_remove_experience', { id: experience_form.vars.data.id }), constant('App\\Summary\\SummaryManager::DELETE_EXPERIENCE_TOKEN')) }}
    {% endif %}
{% endblock %}
