{% extends 'summary_manager/_form_layout.html.twig' %}

{% block summary_form %}
    <h2 class="b__nudge--bottom">Ajouter / Modifier une langue</h2>

    {{ form_start(language_form) }}

    {{ form_errors(language_form) }}

    <div class="form__row">
        {{ form_row(language_form.code, { label: 'Langue' }) }}
    </div>

    <div class="form__row">
        {{ form_row(language_form.level, { label: 'Niveau' }) }}
    </div>

    <button type="submit" class="btn btn--blue">Enregistrer</button>
    <a href="{{ path('app_summary_manager_index') }}" class="btn btn--no-border">Annuler</a>

    {{ form_end(language_form) }}

    {% if language_form.vars.data and language_form.vars.data.id %}
        {{ delete_form(path('app_summary_manager_remove_language', { id: language_form.vars.data.id }), constant('App\\Summary\\SummaryManager::DELETE_LANGUAGE_TOKEN')) }}
    {% endif %}
{% endblock %}
