{% extends 'summary_manager/_form_layout.html.twig' %}

{% block final_stylesheets %}
    {% if step == 'skills' %}
        <link rel="stylesheet" href="{{ asset('bundles/sonataadmin/vendor/jqueryui/themes/base/minified/jquery-ui.min.css') }}" />
    {% endif %}
{% endblock %}

{% block final_javascripts %}
    {% if step == 'skills' %}
        {% import 'javascript.js.twig' as js %}
        <script type="text/javascript" src={{ asset('bundles/sonataadmin/vendor/jquery/dist/jquery.min.js') }}></script>
        <script type="text/javascript" src={{ asset('bundles/sonataadmin/vendor/jqueryui/ui/jquery-ui.js') }}></script>
        <script type="text/javascript">
            {{ js.skills('#summary_skills', '#summary_skill_search', path('app_summary_manager_skills_autocomplete') , '#summary_skill_search') }}
        </script>
    {% endif %}
{% endblock %}

{% block summary_form %}
    {{ form_start(summary_form) }}

    {{ form_errors(summary_form) }}

    {{ include('summary_manager/_form/' ~ step ~ '.html.twig') }}

    <button type="submit" class="btn btn--blue">Enregistrer</button>
    <a href="{{ path('app_summary_manager_index') }}" class="btn btn--no-border">Annuler</a>

    {{ form_end(summary_form) }}

    {% if step is same as('photo') %}
        {{ delete_form(path('app_summary_manager_remove_photo'), constant('App\\Summary\\SummaryManager::DELETE_PHOTO_TOKEN')) }}
    {% endif %}
{% endblock %}
