{% extends 'summary_manager/_form_layout.html.twig' %}

{% block final_stylesheets %}
    {% if step == 'skills' %}
        <link rel="stylesheet" href="{{ asset('bundles/sonataadmin/vendor/jqueryui/themes/base/minified/jquery-ui.min.css') }}" />
    {% endif %}
{% endblock %}

{% block final_javascripts %}
    {% if step == 'skills' %}
        <script type="text/javascript" src={{ asset('bundles/sonataadmin/vendor/jquery/dist/jquery.min.js') }}></script>
        <script type="text/javascript" src={{ asset('bundles/sonataadmin/vendor/jqueryui/ui/jquery-ui.js') }}></script>
        <script type="text/javascript">
            $(document).ready(function() {
                var skillList = $('#summary_skills');
                var removeSkill = function() {
                    var btn = $('.summary-skill-remove');

                    btn.unbind('click');
                    btn.click(function() {
                        $(this).parent().parent().parent().remove();
                    });
                };

                // Prevent submitting form by pressing enter
                $(window).keydown(function(event){
                    if(event.keyCode == 13) {
                        event.preventDefault();
                        return false;
                    }
                });

                var input = $("#summary_skill_search");

                // Add skill autocomplete
                input.autocomplete({
                    source: "{{ path('app_summary_manager_skills_autocomplete') }}",
                    minLength: 2,
                    messages: {
                        noResults: '',
                        results: function() {},
                    }
                });

                // Add skill by pressing enter
                input.keyup(function(e){
                    if(e.which == 13 || e.keyCode == 13){
                        e.preventDefault();

                        var skillCount = 0;
                        $('.summary-skill > input[type=hidden]').each(function() {
                            skillCount = Math.max(this.id.replace(/[^0-9]/g, ''), skillCount);
                        });
                        skillCount++;

                        var newSkillWidget = skillList.attr('data-prototype');
                        newSkillWidget = newSkillWidget.replace(/__name__/g, skillCount);
                        $(newSkillWidget).appendTo(skillList);
                        var idNewSkill = "#"+$(newSkillWidget).children('div').attr('id');
                        $(idNewSkill).find('input').val($(this).val());
                        $(idNewSkill).find('.summary-skill-value').text(' '+$(this).val());

                        $(this).val('');
                        removeSkill();
                    }
                });

                removeSkill();
            });
        </script>
    {% endif %}
{% endblock %}

{% block summary_form %}
    {{ form_start(summary_form) }}

    {{ form_errors(summary_form) }}

    {{ include('summary_manager/_form/' ~ step ~ '.html.twig') }}

    <button type="submit" class="btn btn--blue">Enregistrer</button>
    <a href="{{ path('app_summary_manager_index') }}" class="btn btn--no-border">Annuler</a>

    {{ form_end(summary_form) }}

    {% if step is same as('photo') %}
        {{ delete_form(path('app_summary_manager_remove_photo'), constant('AppBundle\\Summary\\SummaryManager::DELETE_PHOTO_TOKEN')) }}
    {% endif %}
{% endblock %}
