{% extends 'summary_manager/layout.html.twig' %}

{% block summary_content %}
    <section class="l__wrapper-500">

    <h2 class="b__nudge--bottom">{{ step|capitalize }}</h2>

    <div class="cv__form">
        {{ form_start(summary_form) }}

            {{ form_errors(summary_form) }}

            {{ include('summary_manager/_form/' ~ step ~ '.html.twig') }}

        {{ form_end(summary_form) }}

        <div class="b__nudge--bottom">
            <a href="{{ path('app_summary_manager_index') }}">
                Retourner au CV
            </a>
        </div>
    </div>

</section>
{% endblock %}
