{% extends 'base_renaissance.html.twig' %}

{% block content %}
    <div x-data="{ show: false }" @keydown.window.escape="show = false;" class="adherent-account relative flex min-h-screen flex-col bg-gray-50">
        <!-- Navbar -->
        <nav class="shrink-0 bg-re-blue-600">
            <div class="mx-auto max-w-7xl px-2 sm:px-4 lg:px-8">
                <div class="relative flex h-16 items-center justify-between">
                    <div class="flex h-16 flex-1">
                        <!-- Mobile menu button -->
                        <button @click="show = true" type="button" class="border-r border-re-blue-300 px-4 text-white focus:outline-none focus:ring-2 focus:ring-inset focus:ring-re-blue-500 md:hidden">
                            <span class="sr-only">Ouverture du menu</span>
                            <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25H12"/>
                            </svg>
                        </button>
                        <!-- Logo section -->
                        <div class="flex items-center px-4 lg:px-0">
                            <a href="{{ path('renaissance_site') }}" class="shrink-0">
                                <!-- Logo Renaissance Texte -->
                                {% include 'renaissance/partials/logo-text.svg.twig' with { svg_class: 'h-6 w-auto text-white hidden md:block' } %}
                                <!-- Logo Renaissance Icon -->
                                {% include 'renaissance/partials/logo-icon.svg.twig' with { svg_class: 'h-8 w-8 text-white md:hidden' } %}
                            </a>
                        </div>
                    </div>

                    <!-- Links section -->
                    <div class="flex items-center space-x-5 md:space-x-4 justify-end">
                        <div class="flex">
                            <a href="//{{ renaissance_host }}" class="inline-flex items-center rounded-md text-re-blue-100 hover:text-white">
                                <svg class="w-5 h-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 6H5.25A2.25 2.25 0 003 8.25v10.5A2.25 2.25 0 005.25 21h10.5A2.25 2.25 0 0018 18.75V10.5m-10.5 6L21 3m0 0h-5.25M21 3v5.25" />
                                </svg>
                                <span class="hidden lg:block lg:ml-1">Retourner sur le site</span>
                            </a>
                        </div>
                        <!-- Profile dropdown -->
                        <div x-data="{ open: false }" @keydown.escape.stop="open = false;" @click.away="open = false" class="relative shrink-0">
                            <div>
                                <button @click="open =! open" type="button" class="flex items-center py-2 px-3 bg-re-blue-700 hover:bg-re-blue-800 rounded-md  text-re-blue-100 hover:text-white focus:outline-none" id="user-menu-button" aria-expanded="false" aria-haspopup="true" x-bind:aria-expanded="open.toString()">
                                    <span class="sr-only">Menu utilisateur</span>
                                    <svg class="w-5 h-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 6a3.75 3.75 0 11-7.5 0 3.75 3.75 0 017.5 0zM4.501 20.118a7.5 7.5 0 0114.998 0A17.933 17.933 0 0112 21.75c-2.676 0-5.216-.584-7.499-1.632z" />
                                    </svg>
                                    <span class="hidden lg:inline-flex ml-2 items-center">
                                        {{ app.user.firstName }}
                                        {% if app.user.certified %}
                                            {% include 'icons/check-blue.svg.twig' with { svg_class: 'w-5 h-5 text-sky-50 ml-1'} %}
                                        {% endif %}
                                    </span>
                                </button>
                            </div>
                            <div x-cloak x-show="open"
                                 x-transition:enter="transition ease-out duration-100"
                                 x-transition:enter-start="transform opacity-0 scale-95"
                                 x-transition:enter-end="transform opacity-100 scale-100"
                                 x-transition:leave="transition ease-in duration-75"
                                 x-transition:leave-start="transform opacity-100 scale-100"
                                 x-transition:leave-end="transform opacity-0 scale-95"
                                 class="absolute right-0 z-10 mt-2 w-56 origin-top-right divide-y divide-gray-100 rounded-md bg-white shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none"
                                 x-ref="menu-items"
                                 role="menu"
                                 aria-orientation="vertical"
                                 aria-labelledby="menu-button"
                                 tabindex="-1"
                                 @keydown.tab="open = false"
                                 @keydown.enter.prevent="open = false;"
                                 @keyup.space.prevent="open = false;">
                                <div class="px-4 py-3" role="none">
                                    <p class="text-sm" role="none">Connecté avec</p>
                                    <p class="truncate text-sm font-medium text-gray-900" role="none">{{ app.user.emailAddress }}</p>
                                </div>
                                <div class="py-1" role="none">
                                    <a href="{{ path('app_renaissance_adherent_profile') }}" class="text-gray-700 block px-4 py-2 text-sm" role="menuitem">Mon compte</a>
                                    <a href="{{ path('app_certification_request_home', { app_domain: app_renaissance_host }) }}" class="text-gray-700 block px-4 py-2 text-sm" role="menuitem">Certification</a>
                                </div>
                                <div class="py-1" role="none">
                                    {% if is_granted('ROLE_PREVIOUS_ADMIN') %}
                                        <a href="{{ path('admin_app_adherent_list', {'_switch_user': '_exit'}) }}" class="text-gray-700 block w-full px-4 py-2 text-left text-sm" tabindex="-1">Quitter l'impersonnification</a>
                                    {% else %}
                                        <a href="{{ path('logout', { app_domain: app_renaissance_host }) }}" class="text-gray-700 block w-full px-4 py-2 text-left text-sm" tabindex="-1">Me déconnecter</a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>

                        <!-- Donation dropdown -->
                        <div x-data="{ open: false }" @keydown.escape.stop="open = false;" @click.away="open = false" class="relative shrink-0 md:hidden">
                            <div>
                                <button @click="open =! open" type="button" class="flex items-center py-2 px-3 bg-re-blue-700 hover:bg-re-blue-800 rounded-md  text-re-blue-100 hover:text-white focus:outline-none" id="user-menu-button" aria-expanded="false" aria-haspopup="true" x-bind:aria-expanded="open.toString()">
                                    <span>Autres liens</span>
                                </button>
                            </div>
                            <div x-cloak x-show="open"
                                 x-transition:enter="transition ease-out duration-100"
                                 x-transition:enter-start="transform opacity-0 scale-95"
                                 x-transition:enter-end="transform opacity-100 scale-100"
                                 x-transition:leave="transition ease-in duration-75"
                                 x-transition:leave-start="transform opacity-100 scale-100"
                                 x-transition:leave-end="transform opacity-0 scale-95"
                                 class="absolute right-0 z-10 mt-2 w-80 origin-top-right divide-y divide-gray-100 rounded-md bg-white shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none"
                                 x-ref="menu-items"
                                 role="menu"
                                 aria-orientation="vertical"
                                 aria-labelledby="menu-button"
                                 tabindex="-1"
                                 @keydown.tab="open = false"
                                 @keydown.enter.prevent="open = false;"
                                 @keyup.space.prevent="open = false;"
                            >
                                <div class="px-2" role="none">
                                    <div class="py-1" role="none">
                                        <a href="{{ path('app_donation_index') }}" class="inline-flex items-center bg-white rounded-md px-3 py-2 text-sm leading-5 uppercase tracking-wider font-medium text-re-blue-500 hover:bg-re-blue-50 focus:ring-2 focus:ring-white focus:ring-offset-re-blue-500 focus:ring-offset-2">Donner</a>
                                        {% if app.user.isRenaissanceAdherent() and not app.user.hasActiveMembership() and app.user.isEligibleForMembershipPayment() %}
                                            <a href="{{ path('app_adhesion_index') }}" class="inline-flex items-center bg-white rounded-md px-3 py-2 text-sm leading-5 uppercase tracking-wider font-medium text-re-blue-500 hover:bg-re-blue-50 focus:ring-2 focus:ring-white focus:ring-offset-re-blue-500 focus:ring-offset-2">Je mets à jour ma cotisation</a>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="hidden md:flex items-center space-x-5">
                            <a href="{{ path('app_donation_index') }}" class="inline-flex items-center bg-white rounded-md px-3 py-2 text-sm leading-5 uppercase tracking-wider font-medium text-re-blue-500 hover:bg-re-blue-50 focus:ring-2 focus:ring-white focus:ring-offset-re-blue-500 focus:ring-offset-2">Donner</a>

                            {% if app.user.isRenaissanceSympathizer() or (app.user.isRenaissanceAdherent() and not app.user.hasActiveMembership() and app.user.isEligibleForMembershipPayment()) %}
                                <a href="{{ path('app_adhesion_index') }}" class="inline-flex items-center bg-white rounded-md px-3 py-2 text-sm leading-5 uppercase tracking-wider font-medium text-re-blue-500 hover:bg-re-blue-50 focus:ring-2 focus:ring-white focus:ring-offset-re-blue-500 focus:ring-offset-2">
                                    {% if app.user.isRenaissanceSympathizer() %}
                                        Adhérer
                                    {% else %}
                                        Je mets à jour ma cotisation
                                    {% endif %}
                                </a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </nav>

        <!-- Responsive Sidebar -->
        <div x-cloak x-show="show" class="relative z-40 md:hidden" aria-modal="true">
            <div x-show="show"
                 x-transition:enter="transition-opacity ease-linear duration-300"
                 x-transition:enter-start="opacity-0"
                 x-transition:enter-end="opacity-100"
                 x-transition:leave="transition-opacity ease-linear duration-300"
                 x-transition:leave-start="opacity-100"
                 x-transition:leave-end="opacity-0"
                 class="fixed inset-0 bg-gray-600 bg-opacity-75"></div>

            <div class="fixed inset-0 z-40 flex">
                <div x-show="show"
                     x-transition:enter="transition ease-in-out duration-300 transform"
                     x-transition:enter-start="-translate-x-full"
                     x-transition:enter-end="translate-x-0"
                     x-transition:leave="transition ease-in-out duration-300 transform"
                     x-transition:leave-start="translate-x-0"
                     x-transition:leave-end="-translate-x-full"
                     class="relative flex w-full max-w-xs flex-1 flex-col bg-white pb-4"
                     @click.away="show = false;">

                    <div x-show="show"
                         x-transition:enter="ease-in-out duration-300"
                         x-transition:enter-start="opacity-0"
                         x-transition:enter-end="opacity-100"
                         x-transition:leave="ease-in-out duration-300"
                         x-transition:leave-start="opacity-100"
                         x-transition:leave-end="opacity-0"
                         class="absolute top-0 right-0 -mr-12 pt-2"
                    >
                        <button type="button" class="ml-1 flex h-10 w-10 items-center justify-center rounded-full focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white" @click="show = false;">
                            <span class="sr-only">Fermer la sidebar</span>
                            <svg class="h-6 w-6 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12"/>
                            </svg>
                        </button>
                    </div>

                    <div class="flex flex-shrink-0 items-center bg-re-blue-500 px-4 py-6">
                        {% include 'renaissance/partials/logo-text.svg.twig' with { svg_class: 'h-6 w-auto text-white' } %}
                    </div>
                    <div class="mt-8 h-0 flex-1 overflow-y-auto">
                        <div class="space-y-4 px-3">
                            {% include 'renaissance/adherent/_menu.html.twig' %}
                        </div>
                    </div>
                </div>

                <div class="w-14 shrink-0" aria-hidden="true">
                    <!-- Dummy element to force sidebar to shrink to fit close icon -->
                </div>
            </div>
        </div>

        <!-- Main Content -->
        <main class="relative mx-auto w-full max-w-7xl px-4 py-6 sm:px-6 flex-grow flex lg:px-8 lg:py-8 overflow-hidden">
            <aside class="hidden h-full lg:block shrink-0 lg:w-72 lg:pr-6">
                <div class="space-y-4">
                    <div class="relative flex items-center space-x-3">
                        <div class="h-10 w-10 flex items-center justify-center rounded-full bg-re-blue-100/50 text-re-blue-600 text-base font-medium">
                            {{ app.user.initials }}
                        </div>
                        <div class="min-w-0 flex-1">
                            <h6 class="inline-flex items-center text-base font-medium text-gray-900">
                                {{ app.user }}
                                {% if app.user.certified %}
                                    {% include 'icons/check-blue.svg.twig' with { svg_class: 'w-5 h-5 text-sky-400 ml-1.5'} %}
                                {% endif %}
                            </h6>
                            <p class="truncate text-sm text-gray-500">{{ app.user.emailAddress }}</p>
                        </div>
                    </div>
                    <div>
                        <p class="text-sm leading-5 text-gray-500" id="adherent-since">
                            {% if app.user.isRenaissanceUser %}
                                Inscrit{{ app.user.female ? "e" }} depuis le <span class="capitalize">{{ app.user.registeredAt|format_datetime('none', 'none', 'd MMMM yyyy') }}</span>
                            {% else %}
                                Non adhérent{{ app.user.female ? "e" }}.
                            {% endif %}
                        </p>
                        <div class="mt-1.5 flex flex-wrap space-x-2 first:mx-0">
                            {% for role in get_adherent_role_labels(app.user) %}
                                <span class="inline-flex my-0.5 leading-5 text-xs font-medium text-re-blue-500 px-2 py-0.5 border border-re-blue-500 rounded">{{ role }}</span>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="mt-10 space-y-6">
                    {% include 'renaissance/adherent/_menu.html.twig' %}
                </div>
            </aside>

            <!-- Right side -->
            <div class="lg:min-w-0 lg:flex-1">
                <div class="lg:pl-8 pointer-events-auto" tabindex="-1">
                    {% include 'renaissance/adherent/_banner.html.twig' %}

                    {% block content_right_side '' %}
                </div>
            </div>
        </main>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript">
        Bootstrap.onLoad(function() {
            Main.runCountdownClock('.em-countdown-clock', true);
        });
    </script>
{% endblock %}
