{% extends 'base_renaissance.html.twig' %}

{% block content %}

    <div x-data="{ show: false }" @keydown.window.escape="show = false;" class="adherent-account relative flex min-h-screen flex-col bg-gray-50">
        <!-- Navbar -->
        <nav class="shrink-0 bg-re-blue-600">
            <div class="mx-auto max-w-7xl px-2 sm:px-4 lg:px-8">
                <div class="relative flex h-16 items-center justify-between">
                    <div class="flex h-16 flex-1">
                        <!-- Mobile menu button -->
                        <button @click="show = true" type="button" class="border-r border-re-blue-300 px-4 text-white focus:outline-none focus:ring-2 focus:ring-inset focus:ring-re-blue-500 md:hidden">
                            <span class="sr-only">Ouverture du menu</span>
                            <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25H12"/>
                            </svg>
                        </button>
                        <!-- Logo section -->
                        <div class="flex items-center px-4 lg:px-0">
                            <a href="{{ path('app_user_edit', { app_domain: renaissance_host }) }}" class="shrink-0">
                                <!-- Logo Renaissance Texte -->
                                <svg class="h-6 w-auto text-white hidden md:block" fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 296 26">
                                    <g clip-path="url(#a)" fill="currentColor">
                                        <path d="M0 .432h8.357c5.906 0 9.184 2.625 9.184 7.803 0 4.351-2.305 6.834-6.554 7.553l6.843 9.818h-2.16l-6.7-9.637H1.73v9.637H0V.432Zm8.86 13.81c4.322 0 6.843-1.907 6.843-6.007 0-3.955-2.521-6.077-6.843-6.077H1.73v12.083h7.13ZM28.503.432h16.028v1.726h-14.3v9.745h13.616v1.727H30.232v10.248h14.3v1.726h-16.03V.432Zm25.879 0h2.81l14.334 20.462V.432h2.773v25.172h-2.846L57.12 5.214v20.392h-2.736V.432h-.002Zm38.186 0h3.098l9.831 25.172h-2.954l-2.305-5.79H87.922l-2.233 5.79h-2.99L92.568.432Zm6.664 16.757L94.081 3.955 89.003 17.19h10.23ZM113.898.432h2.736v25.172h-2.736V.432Zm12.146 20.748 2.916-2.947c1.549 2.013 3.639 3.883 7.673 3.883 3.204 0 4.79-1.51 4.79-3.416 0-1.618-1.007-3.02-3.961-3.525l-3.063-.503c-4.61-.755-7.383-3.344-7.383-7.444 0-4.495 4.107-7.228 8.897-7.228 4.465 0 7.312 1.906 9.328 4.028l-2.989 3.164c-1.405-1.69-3.423-3.308-6.519-3.308-3.098 0-4.395 1.726-4.395 3.237 0 1.69 1.08 2.877 3.999 3.38l2.52.431c5.403.935 7.888 3.705 7.888 7.696 0 4.244-3.565 7.373-9.652 7.373-4.683-.001-7.96-2.194-10.049-4.82Zm28.094 0 2.916-2.947c1.549 2.013 3.639 3.883 7.673 3.883 3.204 0 4.79-1.51 4.79-3.416 0-1.618-1.009-3.02-3.961-3.525l-3.063-.503c-4.61-.755-7.383-3.344-7.383-7.444 0-4.495 4.107-7.228 8.897-7.228 4.465 0 7.311 1.906 9.328 4.028l-2.989 3.164c-1.405-1.69-3.423-3.308-6.519-3.308-3.098 0-4.395 1.726-4.395 3.237 0 1.69 1.08 2.877 3.999 3.38l2.52.431c5.402.935 7.887 3.705 7.887 7.696 0 4.244-3.565 7.373-9.651 7.373-4.683-.001-7.961-2.194-10.049-4.82ZM190.443.432h5.114l9.869 25.172h-5.548l-2.016-4.962H188.1l-1.981 4.962h-5.547L190.443.432Zm5.69 15.463-3.134-8.199-3.134 8.2h6.268ZM219.692.432l10.193 17.046V.432h5.329v25.172h-6.411L218.611 8.631v16.973h-5.367V.432h6.448Zm24.558 12.55C244.25 5.645 249.761 0 257.181 0c4.574 0 7.635 1.762 9.977 4.495l-4.142 4.243c-1.405-1.619-2.666-2.806-5.51-2.806-3.601 0-6.483 2.986-6.483 7.049 0 4.136 2.809 7.084 6.555 7.084 2.989 0 4.538-1.258 6.159-3.489l3.962 4.388c-2.342 3.129-5.907 5.035-10.662 5.035-7.455.001-12.787-5.608-12.787-13.017ZM275.323.432h19.017v5.754h-12.462v3.812h11.848v5.538h-11.848v4.314h12.462v5.754h-19.017V.432Z"/>
                                    </g>
                                    <defs>
                                        <clipPath id="a">
                                            <path fill="currentColor" d="M0 0h294.34v26H0z"/>
                                        </clipPath>
                                    </defs>
                                </svg>
                                <!-- Logo Renaissance Icon -->
                                <svg class="h-8 w-8 text-white md:hidden" fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
                                    <g clip-path="url(#a)" fill="currentColor">
                                        <path d="M8.064 11.264h3.257c2.095 0 3.417 1.177 3.417 2.99 0 1.475-.855 2.517-2.27 2.87l2.496 3.612H13.75l-2.442-3.491h-2.23v3.491H8.065v-9.472Zm3.403 5.02c1.335 0 2.256-.65 2.256-2.03 0-1.312-.894-2.016-2.256-2.016H9.08v4.046h2.388Zm5.568-5.02h6.901v1.854h-4.912v1.867h4.685v1.827h-4.685v2.07h4.912v1.854h-6.9v-9.472Z"/>
                                        <path d="M27.143 4.437C21.797-.65 14.668-1.073 9.092 1.697A15.778 15.778 0 0 0 0 15.997a15.783 15.783 0 0 0 8.894 14.207c5.606 2.881 12.844 2.505 18.252-2.646 6.475-6.106 6.47-17.014-.003-23.12ZM.483 15.995A15.29 15.29 0 0 1 7.25 3.293C11.275.745 16.475.073 21.302 2.279 33.004 7.676 33 24.31 21.3 29.706c-4.855 2.22-10.09 1.53-14.125-1.057A15.29 15.29 0 0 1 .484 15.995Z"/>
                                    </g>
                                    <defs>
                                        <clipPath id="a">
                                            <path d="M0 0h32v32H0z"/>
                                        </clipPath>
                                    </defs>
                                </svg>
                            </a>
                        </div>
                    </div>

                    <!-- Links section -->
                    <div class="flex items-center space-x-5 md:space-x-4 justify-end">
                        <div class="flex">
                            <a href="{{ path('app_renaissance_homepage') }}" class="inline-flex items-center rounded-md text-re-blue-100 hover:text-white">
                                <svg class="w-5 h-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 6H5.25A2.25 2.25 0 003 8.25v10.5A2.25 2.25 0 005.25 21h10.5A2.25 2.25 0 0018 18.75V10.5m-10.5 6L21 3m0 0h-5.25M21 3v5.25" />
                                </svg>
                                <span class="hidden lg:block lg:ml-1">Retourner sur le site</span>
                            </a>
                        </div>
                        <!-- Profile dropdown -->
                        <div x-data="{ open: false }" @keydown.escape.stop="open = false;" @click.away="open = false" class="relative shrink-0">
                            <div>
                                <button @click="open =! open" type="button" class="flex items-center py-2 px-3 bg-re-blue-700 hover:bg-re-blue-800 rounded-md  text-re-blue-100 hover:text-white focus:outline-none" id="user-menu-button" aria-expanded="false" aria-haspopup="true" x-bind:aria-expanded="open.toString()">
                                    <span class="sr-only">Menu utilisateur</span>
                                    <svg class="w-5 h-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 6a3.75 3.75 0 11-7.5 0 3.75 3.75 0 017.5 0zM4.501 20.118a7.5 7.5 0 0114.998 0A17.933 17.933 0 0112 21.75c-2.676 0-5.216-.584-7.499-1.632z" />
                                    </svg>
                                    <span class="hidden lg:inline-flex ml-2 items-center">
                                        {{ app.user.firstName }}
                                        {% if app.user.certified %}
                                            <svg class="w-5 h-5 text-sky-50 ml-1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
                                                <path fill-rule="evenodd" d="M8.603 3.799A4.49 4.49 0 0112 2.25c1.357 0 2.573.6 3.397 1.549a4.49 4.49 0 013.498 1.307 4.491 4.491 0 011.307 3.497A4.49 4.49 0 0121.75 12a4.49 4.49 0 01-1.549 3.397 4.491 4.491 0 01-1.307 3.497 4.491 4.491 0 01-3.497 1.307A4.49 4.49 0 0112 21.75a4.49 4.49 0 01-3.397-1.549 4.49 4.49 0 01-3.498-1.306 4.491 4.491 0 01-1.307-3.498A4.49 4.49 0 012.25 12c0-1.357.6-2.573 1.549-3.397a4.49 4.49 0 011.307-3.497 4.49 4.49 0 013.497-1.307zm7.007 6.387a.75.75 0 10-1.22-.872l-3.236 4.53L9.53 12.22a.75.75 0 00-1.06 1.06l2.25 2.25a.75.75 0 001.14-.094l3.75-5.25z" clip-rule="evenodd" />
                                            </svg>
                                        {% endif %}
                                    </span>
                                </button>
                            </div>
                            <div x-cloak x-show="open"
                                 x-transition:enter="transition ease-out duration-100"
                                 x-transition:enter-start="transform opacity-0 scale-95"
                                 x-transition:enter-end="transform opacity-100 scale-100"
                                 x-transition:leave="transition ease-in duration-75"
                                 x-transition:leave-start="transform opacity-100 scale-100"
                                 x-transition:leave-end="transform opacity-0 scale-95"
                                 class="absolute right-0 z-10 mt-2 w-56 origin-top-right divide-y divide-gray-100 rounded-md bg-white shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none"
                                 x-ref="menu-items"
                                 role="menu"
                                 aria-orientation="vertical"
                                 aria-labelledby="menu-button"
                                 tabindex="-1"
                                 @keydown.tab="open = false"
                                 @keydown.enter.prevent="open = false;"
                                 @keyup.space.prevent="open = false;">
                                <div class="px-4 py-3" role="none">
                                    <p class="text-sm" role="none">Connecte avec</p>
                                    <p class="truncate text-sm font-medium text-gray-900" role="none">{{ app.user.emailAddress }}</p>
                                </div>
                                <div class="py-1" role="none">
                                    <a href="{{ path('app_user_edit', { app_domain: renaissance_host }) }}" class="text-gray-700 block px-4 py-2 text-sm" role="menuitem">Mon compte</a>
                                    <a href="{{ path('app_certification_request_home', { app_domain: renaissance_host }) }}" class="text-gray-700 block px-4 py-2 text-sm" role="menuitem">Certification</a>
                                </div>
                                <div class="py-1" role="none">
                                    <a href="{{ path('logout', { app_domain: renaissance_host }) }}" class="text-gray-700 block w-full px-4 py-2 text-left text-sm" tabindex="-1">Se déconnecter</a>
                                </div>
                            </div>
                        </div>

                        <a href="{{ path('app_renaissance_donation') }}" class="inline-flex items-center bg-white rounded-md px-3 py-2 text-sm leading-5 uppercase tracking-wider font-medium text-re-blue-500 hover:bg-re-blue-50 focus:ring-2 focus:ring-white focus:ring-offset-re-blue-500 focus:ring-offset-2">Donner</a>
                    </div>
                </div>
            </div>
        </nav>

        <!-- Responsive Sidebar -->
        <div x-cloak x-show="show" class="relative z-40 md:hidden" aria-modal="true">
            <div x-show="show"
                 x-transition:enter="transition-opacity ease-linear duration-300"
                 x-transition:enter-start="opacity-0"
                 x-transition:enter-end="opacity-100"
                 x-transition:leave="transition-opacity ease-linear duration-300"
                 x-transition:leave-start="opacity-100"
                 x-transition:leave-end="opacity-0"
                 class="fixed inset-0 bg-gray-600 bg-opacity-75"></div>

            <div class="fixed inset-0 z-40 flex">
                <div x-show="show"
                     x-transition:enter="transition ease-in-out duration-300 transform"
                     x-transition:enter-start="-translate-x-full"
                     x-transition:enter-end="translate-x-0"
                     x-transition:leave="transition ease-in-out duration-300 transform"
                     x-transition:leave-start="translate-x-0"
                     x-transition:leave-end="-translate-x-full"
                     class="relative flex w-full max-w-xs flex-1 flex-col bg-white pb-4"
                     @click.away="show = false;">

                    <div x-show="show"
                         x-transition:enter="ease-in-out duration-300"
                         x-transition:enter-start="opacity-0"
                         x-transition:enter-end="opacity-100"
                         x-transition:leave="ease-in-out duration-300"
                         x-transition:leave-start="opacity-100"
                         x-transition:leave-end="opacity-0"
                         class="absolute top-0 right-0 -mr-12 pt-2"
                    >
                        <button type="button" class="ml-1 flex h-10 w-10 items-center justify-center rounded-full focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white" @click="show = false;">
                            <span class="sr-only">Fermer la sidebar</span>
                            <svg class="h-6 w-6 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12"/>
                            </svg>
                        </button>
                    </div>

                    <div class="flex flex-shrink-0 items-center bg-re-blue-500 px-4 py-6">
                        <svg class="h-6 w-auto text-white" fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 296 26">
                            <g clip-path="url(#a)" fill="currentColor">
                                <path d="M0 .432h8.357c5.906 0 9.184 2.625 9.184 7.803 0 4.351-2.305 6.834-6.554 7.553l6.843 9.818h-2.16l-6.7-9.637H1.73v9.637H0V.432Zm8.86 13.81c4.322 0 6.843-1.907 6.843-6.007 0-3.955-2.521-6.077-6.843-6.077H1.73v12.083h7.13ZM28.503.432h16.028v1.726h-14.3v9.745h13.616v1.727H30.232v10.248h14.3v1.726h-16.03V.432Zm25.879 0h2.81l14.334 20.462V.432h2.773v25.172h-2.846L57.12 5.214v20.392h-2.736V.432h-.002Zm38.186 0h3.098l9.831 25.172h-2.954l-2.305-5.79H87.922l-2.233 5.79h-2.99L92.568.432Zm6.664 16.757L94.081 3.955 89.003 17.19h10.23ZM113.898.432h2.736v25.172h-2.736V.432Zm12.146 20.748 2.916-2.947c1.549 2.013 3.639 3.883 7.673 3.883 3.204 0 4.79-1.51 4.79-3.416 0-1.618-1.007-3.02-3.961-3.525l-3.063-.503c-4.61-.755-7.383-3.344-7.383-7.444 0-4.495 4.107-7.228 8.897-7.228 4.465 0 7.312 1.906 9.328 4.028l-2.989 3.164c-1.405-1.69-3.423-3.308-6.519-3.308-3.098 0-4.395 1.726-4.395 3.237 0 1.69 1.08 2.877 3.999 3.38l2.52.431c5.403.935 7.888 3.705 7.888 7.696 0 4.244-3.565 7.373-9.652 7.373-4.683-.001-7.96-2.194-10.049-4.82Zm28.094 0 2.916-2.947c1.549 2.013 3.639 3.883 7.673 3.883 3.204 0 4.79-1.51 4.79-3.416 0-1.618-1.009-3.02-3.961-3.525l-3.063-.503c-4.61-.755-7.383-3.344-7.383-7.444 0-4.495 4.107-7.228 8.897-7.228 4.465 0 7.311 1.906 9.328 4.028l-2.989 3.164c-1.405-1.69-3.423-3.308-6.519-3.308-3.098 0-4.395 1.726-4.395 3.237 0 1.69 1.08 2.877 3.999 3.38l2.52.431c5.402.935 7.887 3.705 7.887 7.696 0 4.244-3.565 7.373-9.651 7.373-4.683-.001-7.961-2.194-10.049-4.82ZM190.443.432h5.114l9.869 25.172h-5.548l-2.016-4.962H188.1l-1.981 4.962h-5.547L190.443.432Zm5.69 15.463-3.134-8.199-3.134 8.2h6.268ZM219.692.432l10.193 17.046V.432h5.329v25.172h-6.411L218.611 8.631v16.973h-5.367V.432h6.448Zm24.558 12.55C244.25 5.645 249.761 0 257.181 0c4.574 0 7.635 1.762 9.977 4.495l-4.142 4.243c-1.405-1.619-2.666-2.806-5.51-2.806-3.601 0-6.483 2.986-6.483 7.049 0 4.136 2.809 7.084 6.555 7.084 2.989 0 4.538-1.258 6.159-3.489l3.962 4.388c-2.342 3.129-5.907 5.035-10.662 5.035-7.455.001-12.787-5.608-12.787-13.017ZM275.323.432h19.017v5.754h-12.462v3.812h11.848v5.538h-11.848v4.314h12.462v5.754h-19.017V.432Z"/>
                            </g>
                            <defs>
                                <clipPath id="a">
                                    <path fill="currentColor" d="M0 0h294.34v26H0z"/>
                                </clipPath>
                            </defs>
                        </svg>
                    </div>
                    <div class="mt-8 h-0 flex-1 overflow-y-auto">
                        <div class="space-y-6 px-3">
                            {% include 'renaissance/adherent/_menu.html.twig' %}
                        </div>
                    </div>
                </div>

                <div class="w-14 shrink-0" aria-hidden="true">
                    <!-- Dummy element to force sidebar to shrink to fit close icon -->
                </div>
            </div>
        </div>

        <!-- Main Content -->
        <main class="relative mx-auto w-full max-w-7xl px-4 py-6 sm:px-6 flex-grow flex lg:px-8 lg:py-8 overflow-hidden">
            <aside class="hidden h-full lg:block shrink-0 lg:w-72 lg:pr-6">
                <div class="space-y-4">
                    <div class="relative flex items-center space-x-3">
                        <div class="h-10 w-10 flex items-center justify-center rounded-full bg-re-blue-100/50 text-re-blue-600 text-base font-medium">
                            {{ app.user.initials }}
                        </div>
                        <div class="min-w-0 flex-1">
                            <h6 class="inline-flex items-center text-base font-medium text-gray-900">
                                {{ app.user }}
                                {% if app.user.certified %}
                                    <svg class="w-5 h-5 text-sky-400 ml-1.5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
                                        <path fill-rule="evenodd" d="M8.603 3.799A4.49 4.49 0 0112 2.25c1.357 0 2.573.6 3.397 1.549a4.49 4.49 0 013.498 1.307 4.491 4.491 0 011.307 3.497A4.49 4.49 0 0121.75 12a4.49 4.49 0 01-1.549 3.397 4.491 4.491 0 01-1.307 3.497 4.491 4.491 0 01-3.497 1.307A4.49 4.49 0 0112 21.75a4.49 4.49 0 01-3.397-1.549 4.49 4.49 0 01-3.498-1.306 4.491 4.491 0 01-1.307-3.498A4.49 4.49 0 012.25 12c0-1.357.6-2.573 1.549-3.397a4.49 4.49 0 011.307-3.497 4.49 4.49 0 013.497-1.307zm7.007 6.387a.75.75 0 10-1.22-.872l-3.236 4.53L9.53 12.22a.75.75 0 00-1.06 1.06l2.25 2.25a.75.75 0 001.14-.094l3.75-5.25z" clip-rule="evenodd" />
                                    </svg>
                                {% endif %}
                            </h6>
                            <p class="truncate text-sm text-gray-500">{{ app.user.emailAddress }}</p>
                        </div>
                    </div>
                    <div>
                        <p class="text-sm leading-5 text-gray-500" id="adherent-since">
                            {% if app.user.activatedAt %}
                                Adhérent{{ app.user.female ? "e" }} depuis le <span class="capitalize">{{ app.user.registeredAt|format_datetime('none', 'none', 'd MMMM yyyy') }}</span>
                            {% else %}
                                Non adhérent{{ app.user.female ? "e" }}.
                            {% endif %}
                        </p>
                        <div class="mt-1.5 flex flex-wrap space-x-2 first:mx-0">
                            {% for role in get_adherent_role_labels(app.user) %}
                                <span class="inline-flex my-0.5 text-sm leading-5 text-xs font-medium text-re-blue-500 px-2 py-0.5 border border-re-blue-500 rounded">{{ role }}</span>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="mt-10 space-y-6">
                    {% include 'renaissance/adherent/_menu.html.twig' %}
                </div>
            </aside>

            <!-- Right side -->
            <div class="lg:min-w-0 lg:flex-1">
                <div class="lg:pl-8 pointer-events-auto" tabindex="-1">

                    {% block content_right_side '' %}

                </div>
            </div>
        </main>
    </div>
{% endblock %}
