{% block subject %}
    Partagez cette initiative citoyenne dans votre comité !
{% endblock %}

{% block body_html %}

    {% embed 'email/layout.html.twig' %}
        {% block content %}
            {% verbatim %}
                <tr>
                    <td align="left">
                        <p>
                            Bonjour {{var:prenom:""}},
                        </p>
                        <p>
                            {{var:IC_organizer_firstname:""}} {{var:IC_organizer_lastname:""}}
                            vient de créer une initiative citoyenne :
                            <strong>{{var:IC_name:""}}</strong>. Vous la recevez car vous vous situez à moins de 5 kilomètres de celle-ci.
                        </p>
                        <p>
                            Celle-ci se déroulera le {{var:IC_date:""}}
                            à {{var:IC_hour:""}}, {{var:IC_address:""}}.
                        </p>
                        <p>
                            Soutenez cette initiative en la partageant aurès des membres de votre comité local !
                        </p>
                    </td>
                </tr>
                <tr>
                    <td align="center">
                        <a href="{{var:IC_link:""}}" target="_blank" class="btn">Partager cette initiative dans mon comité</a>
                    </td>
                </tr>
                <tr>
                    <td align="left">
                        <p>
                            Merci pour votre implication et à très bientôt !

                        </p>
                        <p>
                            L'équipe d'En Marche !
                        </p>
                    </td>
                </tr>
            {% endverbatim %}
        {% endblock %}
    {% endembed %}

{% endblock %}
