{% block subject %}
    Email subject
{% endblock %}

{% block body_html %}

    {% embed 'email/layout.html.twig' %}
        {% block content %}
            {% verbatim %}
            <tr>
                <td align="left">
                    <p>
                        Bonjour
                        {{var:prenom}},
                    </p>
                    <p>
                        Vous êtes bien inscrit(e) à l'événement
                        <strong>{{var:event_name}}</strong>
                        organisé par
                        {{var:event_organiser}}.
                    </p>
                    <p>
                        Celui-ci se déroulera le
                        {{var:event_date:""}}
                        à
                        {{var:event_hour:""}},
                        {{var:event_address:""}}.
                    </p>
                    <p>
                        Merci pour votre engagement !
                    </p>
                    <p>
                        À très bientôt,
                    </p>
                    <p>
                        L'équipe d'En Marche !
                    </p>
                </td>
            </tr>
            <tr>
                <td align="center">
                    <a href="https://www.facebook.com/sharer/sharer.php?u={{var:event_link:" https%3A//en-marche.fr/evenements "}}" target="_blank" class="btn">Partager sur Facebook !</a>
                </td>
            </tr>
            {% endverbatim %}
        {% endblock %}
    {% endembed %}

{% endblock %}
