{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% block field %}
    {% if object.presentation is defined and object.presentation %}
        <a href="#" data-toggle="modal" data-target="#candidate-presentation-{{ object.type }}-{{ object.id }}">Oui</a>
    {% else %}Non{% endif %} /

    {% if object.project is defined and object.project %}
        <a href="#" data-toggle="modal" data-target="#candidate-presentation-{{ object.type }}-{{ object.id }}">Oui</a>
    {% else %}Non{% endif %}

    <div class="modal fade" id="candidate-presentation-{{ object.type }}-{{ object.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">{{ object.first_name }} {{ object.last_name }}</h4>
                </div>
                <div class="modal-body">
                    {% if object.presentation is defined and object.presentation %}
                        <h4>Présentation</h4>
                        <div>{{ object.presentation|raw }}</div>
                    {% endif %}

                    {% if object.project is defined and object.project %}
                        <h4>Projet</h4>
                        <div>{{ object.project|raw }}</div>
                    {% endif %}
                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>
{% endblock %}
