<div class="tonmacron__header">
    <h1 class="text--large b__nudge--top-large text--center l__wrapper--slim">
        Votre message pour {{ invitation.friendFirstName }} est prêt !
    </h1>
</div>

<section class="tonmacron__content l__wrapper--medium l__mobile--col space--60-0">
    <div>
        <ul class="tonmacron__steps">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li class="active"></li>
        </ul>

        {{ form_start(invitation_form) }}

        <h5 class="tonmacron__title">
            Récapitulatif de votre message
        </h5>

        {{ form_errors(invitation_form) }}

        <div class="form__row">
            {{ form_label(invitation_form.messageSubject, 'Objet') }}
            {{ form_errors(invitation_form.messageSubject) }}
            {{ form_widget(invitation_form.messageSubject, { 'attr': { 'class': 'form--full' } }) }}
        </div>

        <div class="form__row">
            {{ form_label(invitation_form.messageContent, 'Message') }}
            {{ form_errors(invitation_form.messageContent) }}
            {{ form_widget(invitation_form.messageContent, { 'attr': { 'class': 'form--full form__field--textarea-500' } }) }}
        </div>

        <div class="l__wrapper--500 b__nudge--top-50">
            <div class="form__row">
                {{ form_label(invitation_form.selfFirstName, 'Votre prénom') }}
                {{ form_errors(invitation_form.selfFirstName) }}
                {{ form_widget(invitation_form.selfFirstName, { 'attr': { 'class': 'form--full' } }) }}
            </div>

            <div class="form__row">
                {{ form_label(invitation_form.selfLastName, 'Votre nom') }}
                {{ form_errors(invitation_form.selfLastName) }}
                {{ form_widget(invitation_form.selfLastName, { 'attr': { 'class': 'form--full' } }) }}
            </div>

            <div class="form__row">
                {{ form_label(invitation_form.selfEmail, 'Votre adresse e-mail') }}
                {{ form_errors(invitation_form.selfEmail) }}
                {{ form_widget(invitation_form.selfEmail, { 'attr': { 'class': 'form--full' } }) }}
            </div>

            <div class="form__row">
                {{ form_label(invitation_form.friendEmail, 'L\'e-mail de votre proche') }}
                {{ form_errors(invitation_form.friendEmail) }}
                {{ form_widget(invitation_form.friendEmail, { 'attr': { 'class': 'form--full' } }) }}
            </div>
        </div>

        <div class="text--center b__nudge--top-large">
            <a href="{{ path('app_ton_macron_invite_restart') }}" class="btn">Recommencer</a>
            {{ form_widget(invitation_form.send, {'attr': {'class': 'btn btn--blue'}}) }}
        </div>

        {{ form_end(invitation_form) }}
    </div>
</section>
