{% macro get_certification_request_status_badge(certification_request) %}
    {% spaceless %}
        <span class="badge
            {% if certification_request.isApproved %}
                bg-green
            {% elseif certification_request.isRefused %}
                bg-red
            {% elseif certification_request.isPending %}
                bg-blue
            {% elseif certification_request.isBlocked %}
                bg-orange
            {% endif %}
            ">
            {{ ('certification_request.status.'~certification_request.status)|trans }}
        </span>
    {% endspaceless %}
{% endmacro %}

{% macro get_certification_request_adherent_summary(adherent) %}
    <a href="{{ path('admin_app_adherent_edit', { id: adherent.id }) }}">
        {{ adherent.fullName }}
    </a>
    <br>
    <i>{{ adherent.emailAddress }}</i>
{% endmacro %}

{% macro get_certification_request_processed_by(certification_request) %}
    {% if certification_request.isProcessed %}
        <i>
            Traitée par <b>{{ certification_request.processedBy }}</b>
            <br>
            le <b>{{ certification_request.processedAt|localizeddate }}</b>
        </i>
    {% endif %}
{% endmacro %}

