{% extends 'SonataAdminBundle:CRUD:show.html.twig' %}

{% import 'admin/certification_request/_macros.html.twig' as macros %}

{% set adherent = object.adherent %}
{% set can_approve = is_granted(constant('App\\Adherent\\Certification\\CertificationPermissions::APPROVE'), object) %}
{% set can_refuse = is_granted(constant('App\\Adherent\\Certification\\CertificationPermissions::REFUSE'), object) %}
{% set can_block = is_granted(constant('App\\Adherent\\Certification\\CertificationPermissions::BLOCK'), object) %}

{% block show %}

    <div class="sonata-ba-view">

        <div class="row">
            <div class="col-md-6">
                <div class="box box-primary">
                    <div class="box-header">
                        <h4 class="box-title">Informations générales</h4>
                    </div>
                    <div class="box-body table-responsive no-padding">
                        <table class="table table-bordered table-striped sonata-ba-list">
                            <tbody>
                                <tr>
                                    <th class="sonata-ba-list-field-header-text">ID</th>
                                    <td class="sonata-ba-list-field sonata-ba-list-field-text">
                                        {{ object.id }}
                                    </td>
                                </tr>
                                <tr>
                                    <th class="sonata-ba-list-field-header-text">UUID</th>
                                    <td class="sonata-ba-list-field sonata-ba-list-field-text">
                                        {{ object.uuid }}
                                    </td>
                                </tr>
                                <tr>
                                    <th class="sonata-ba-list-field-header-text">Adhérent</th>
                                    <td class="sonata-ba-list-field sonata-ba-list-field-text">
                                        {% include('admin/adherent/_summary.html.twig') with { adherent: adherent } %}
                                    </td>
                                </tr>
                                <tr>
                                    <th class="sonata-ba-list-field-header-text">Date de création</th>
                                    <td class="sonata-ba-list-field sonata-ba-list-field-text">
                                        {{ object.createdAt|localizeddate('medium', 'medium') }}
                                    </td>
                                </tr>
                                <tr>
                                    <th class="sonata-ba-list-field-header-text">Statut</th>
                                    <td class="sonata-ba-list-field sonata-ba-list-field-text">
                                        {{ macros.get_certification_request_status_badge(object) }}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="box box-primary">
                    <div class="box-header">
                        <h4 class="box-title">Informations adhérent</h4>
                    </div>
                    <div class="box-body table-responsive no-padding">
                        <table class="table table-bordered table-striped sonata-ba-list">
                            <tbody>
                                <tr>
                                    <th class="sonata-ba-list-field-header-text">Nom</th>
                                    <td class="sonata-ba-list-field sonata-ba-list-field-text">
                                        {{ adherent.lastName }}
                                    </td>
                                </tr>
                                <tr>
                                    <th class="sonata-ba-list-field-header-text">Prénom</th>
                                    <td class="sonata-ba-list-field sonata-ba-list-field-text">
                                        {{ adherent.firstName }}
                                    </td>
                                </tr>
                                <tr>
                                    <th class="sonata-ba-list-field-header-text">Date de naissance</th>
                                    <td class="sonata-ba-list-field sonata-ba-list-field-text">
                                        {{ adherent.birthDate|localizeddate('full', 'none') }} ({{ adherent.age }} ans)
                                        <br>
                                        <i>{{ adherent.birthDate|date('d/m/Y') }}</i>
                                    </td>
                                </tr>
                                <tr>
                                    <th class="sonata-ba-list-field-header-text">Téléphone</th>
                                    <td class="sonata-ba-list-field sonata-ba-list-field-text">
                                        {% if adherent.phone %}
                                            {% set phone_number = adherent.phone|phone_number_format %}
                                            <div class="b__nudge--top-10">
                                                <a href="tel:{{ phone_number }}">{{ phone_number }}</a>
                                            </div>
                                        {% endif %}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>

        <div class="row">

            <div class="col-md-8">
                <div class="box box-primary">
                    <div class="box-header">
                        <h4 class="box-title">Document</h4>
                    </div>
                    <div class="box-body">
                        {% if object.hasDocument %}
                            <div class="table-responsive no-padding">
                                <table class="table table-bordered table-striped sonata-ba-list">
                                    <tbody>
                                        <tr>
                                            <th class="sonata-ba-list-field-header-text">Lien</th>
                                            <td class="sonata-ba-list-field sonata-ba-list-field-text">
                                                <a href="{{ admin.generateObjectUrl('document', object, { download: true }) }}" target="_blank">
                                                    Cliquez ici pour voir le document
                                                </a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th class="sonata-ba-list-field-header-text">Mime Type</th>
                                            <td class="sonata-ba-list-field sonata-ba-list-field-text">
                                                {{ object.documentMimeType }}
                                            </td>
                                        </tr>
                                        <tr>
                                            <th class="sonata-ba-list-field-header-text">Aperçu</th>
                                            <td class="sonata-ba-list-field sonata-ba-list-field-text">
                                                <embed type="{{ object.documentMimeType }}"
                                                       src="{{ admin.generateObjectUrl('document', object) }}"
                                                       width="100%"
                                                       style="min-height: 400px"
                                                      >
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        {% else %}
                            <p>
                                Aucun document disponible.
                            </p>
                        {% endif %}
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="box box-primary">
                    <div class="box-header">
                        <h4 class="box-title">Actions</h4>
                    </div>
                    <div class="box-body">
                            <div class="row">
                                <div class="col-md-12">
                                    {% if can_approve or can_refuse or can_block %}
                                        <p class="form-text text-muted text-center">
                                            Une confirmation vous sera demandée pour toute action
                                        </p>
                                        <hr>
                                        {% if can_approve %}
                                            <a href="{{ admin.generateObjectUrl('approve', object) }}" class="btn btn-success btn-block">
                                                <i class="fa fa-check"></i> Approuver
                                            </a>
                                        {% endif %}
                                        {% if can_refuse %}
                                            <a href="{{ admin.generateObjectUrl('refuse', object) }}" class="btn btn-danger btn-block">
                                                <i class="fa fa-remove"></i> Refuser
                                            </a>
                                        {% endif %}
                                        {% if can_block %}
                                            <a href="{{ admin.generateObjectUrl('block', object) }}" class="btn btn-warning btn-block">
                                                <i class="fa fa-stop-circle"></i> Bloquer
                                            </a>
                                        {% endif %}
                                    {% else %}
                                        <p class="form-text text-muted text-center">
                                            Aucune action possible
                                        </p>
                                    {% endif %}
                                </div>
                            </div>

                        {% if object.isProcessed %}
                            <hr>
                            <p class="form-text text-muted text-center">
                                {{ macros.get_certification_request_processed_by(object) }}
                            </p>

                            {% if object.blockReason %}
                                <p class="form-text text-muted text-center">
                                    Bloquée:
                                    <b>
                                        {% if constant('App\\Adherent\\Certification\\CertificationRequestBlockCommand::BLOCK_REASON_OTHER') == object.blockReason %}
                                            {{ object.customBlockReason }}
                                        {% else %}
                                            {{ ('certification_request.block_reason.' ~ object.blockReason)|trans }}
                                        {% endif %}
                                    </b>

                                    {% if object.blockComment %}
                                        <br>
                                        ({{ object.blockComment }})
                                    {% endif %}
                                </p>
                            {% endif %}

                            {% if object.foundDuplicatedAdherent %}
                                <p class="form-text text-muted text-center">
                                    Duplicatat trouvé:
                                    <br>
                                    {% include('admin/adherent/_summary.html.twig') with { adherent: object.foundDuplicatedAdherent } %}
                                </p>
                            {% endif %}

                            {% if object.refusalReason %}
                                <p class="form-text text-muted text-center">
                                    Refusée:
                                    <b>
                                        {% if object.isRefusedWithOtherReason %}
                                            {{ object.customRefusalReason }}
                                        {% else %}
                                            {{ object.refusalReasonKey|trans }}
                                        {% endif %}
                                    </b>

                                    {% if object.refusalComment %}
                                        <br>
                                        ({{ object.refusalComment }})
                                    {% endif %}
                                </p>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="box box-primary">
                    <div class="box-header">
                        <h4 class="box-title">Demandes associées</h4>
                    </div>
                    <div class="box-body">
                        {% if adherent.certificationRequests|length > 1 %}
                            <table class="table table-bordered table-striped sonata-ba-list">
                                <thead>
                                    <tr class="sonata-ba-list-field-header">
                                        <th class="sonata-ba-list-field-header-text">ID</th>
                                        <th class="sonata-ba-list-field-header-text">Date</th>
                                        <th class="sonata-ba-list-field-header-text">Statut</th>
                                        <th class="sonata-ba-list-field-header-text">Informations</th>
                                        <th class="sonata-ba-list-field-header-text">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for certification_request in adherent.certificationRequests %}
                                        <tr>
                                            <td class="sonata-ba-list-field sonata-ba-list-field-text">
                                                <b>{{ certification_request.id }}</b>
                                            </td>
                                            {% if certification_request is same as(object) %}
                                                <td class="sonata-ba-list-field sonata-ba-list-field-text" colspan="4">
                                                    <i>Demande actuelle</i>
                                                </td>
                                            {% else %}
                                                <td class="sonata-ba-list-field sonata-ba-list-field-text">
                                                    {{ certification_request.createdAt|localizeddate }}
                                                </td>
                                                <td class="sonata-ba-list-field sonata-ba-list-field-text">
                                                    {{ macros.get_certification_request_status_badge(certification_request) }}
                                                </td>
                                                <td class="sonata-ba-list-field sonata-ba-list-field-text">
                                                    {% if certification_request.isProcessed %}
                                                        {{ macros.get_certification_request_processed_by(certification_request) }}
                                                    {% endif %}
                                                </td>
                                                <td class="sonata-ba-list-field sonata-ba-list-field-text">
                                                    <a href="{{ admin.generateObjectUrl('show', certification_request) }}" class="btn btn-sm btn-default">
                                                        <i class="fa fa-eye"></i> Afficher
                                                    </a>
                                                </td>
                                            {% endif %}
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        {% else %}
                            <div class="alert alert-info" role="alert">
                                Aucune autre demande faite par cet adhérent.
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
