{% extends 'assessor_space/_layout.html.twig' %}

{% block assessor_content %}
    <section>
        <div class="text--right">
            Export des résultats par bureau de vote:&nbsp;
            <a href="{{ path("app_assessors_#{space_type}_results_export", {'_format': 'xls'}) }}" class=link--blue">XLS</a>
            •
            <a href="{{ path("app_assessors_#{space_type}_results_export", {'_format': 'csv'}) }}" class=link--blue">CSV</a>
        </div>

        <div class="text--right">
            Export de la liste des candidatures au poste d’assesseur:&nbsp;
            <a href="{{ path("app_assessors_#{space_type}_export", {'_format': 'xls'}) }}" class=link--blue">XLS</a>
            •
            <a href="{{ path("app_assessors_#{space_type}_export", {'_format': 'csv'}) }}" class=link--blue">CSV</a>
        </div>
        <p class="alert alert--tips b__nudge--bottom-20">
            Attention, les assesseurs peuvent être assignés aux bureaux de vote par le référent ou le chef de file des municipales.<br/>
            Vous avez donc accès au même formulaire !
        </p>

        <div class="manager__filters">
            <div class="manager__filters__form">
                {{ form_start(filter_form) }}

                {{ form_errors(filter_form) }}

                <div class="manager__filters__row">
                    <div class="manager__filters__section">
                        <div class="manager__filters__group">
                            <div class="filter__row">
                                {{ form_row(filter_form.name, {label: 'Bureau de vote (ou alias)', label_attr: {class: 'filter__label'}, attr: {class: 'filter__field', placeholder: 'Saisissez un nom'}}) }}
                            </div>
                        </div>
                    </div>

                    {% if filter_form.vars.form_type_class == 'AppBundle\\Form\\Assessor\\ReferentVotePlaceFilterType' %}
                        <div class="manager__filters__section">
                            <div class="manager__filters__group">
                                <div class="filter__row">
                                    {{ form_row(filter_form.city, {label: 'Ville', label_attr: {class: 'filter__label'}, attr: {class: 'filter__field', placeholder: 'Saisissez une ville'}}) }}
                                </div>

                                <div class="filter__row">
                                    {{ form_row(filter_form.country, {label: 'Pays', label_attr: {class: 'filter__label'}, attr: {class: 'filter__field'}, placeholder: 'Sélectionnez un pays'}) }}
                                </div>
                            </div>
                        </div>

                        <div class="manager__filters__section">
                            <div class="manager__filters__group">
                                <div class="filter__row">
                                    {{ form_row(filter_form.postalCode, {label: 'Code postal', label_attr: {class: 'filter__label'}, attr: {class: 'filter__field', placeholder: 'Saisissez un code postal'}}) }}
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </div>

                <div class="manager__filters__actions b__nudge--top">
                    <button type="submit" class="btn btn--black b__nudge--bottom-medium">Filtrer</button>
                    <a href="{{ path("app_assessors_#{space_type}_attribution_form") }}" class="btn btn--no-border b__nudge--bottom-medium btn-filter--reset">Réinitialiser le filtre</a>
                </div>

                {{ form_end(filter_form) }}
            </div>
        </div>

        {{ form_start(form) }}
            <div class="text--right b__nudge--bottom">
                <a href="{{ path("app_assessors_#{space_type}_create_vote_place", route_params) }}" class="btn btn--as-link">Ajouter un bureau de vote</a>
                <button type="submit" class="btn btn--blue--soft">Sauvegarder les choix</button>
            </div>

            {% if not form.vars.valid %}
                <p class="text--error text--center">Le formulaire n'est pas valide</p>
            {% endif %}

            <table class="datagrid__table-manager">
                <thead>
                    <tr>
                        <td class="space--0-15">Bureau de vote</td>
                        <td>Bureau de vote - Alias</td>
                        <td>Adhérent - Assesseur</td>
                        <td>État</td>
                        <td>Actions</td>
                    </tr>
                </thead>
                <tbody>
                    {% for index, place in vote_places %}
                        <tr>
                            <td>
                                <div class="l__row l__row--h-start">
                                    <div class="l__col">
                                        <span class="cursor--pointer status {{ place.enabled ? 'status__1' : 'status__2' }}" title="{{ place.enabled ? 'Activé' : 'Désactivé' }}"></span>
                                    </div>

                                    <div class="l__col">
                                        <strong>{{ place.name }}</strong> ({{ place.code|split('_', 2)|last }})<br/>
                                        <span class="text--small">
                                            {{ place.address }}<br/>
                                            {{ place.city }}, {{ place.country|countryName }}
                                        </span>
                                    </div>
                                </div>
                            </td>
                            <td>
                                {% if form[index] is defined %}
                                    {{ form_row(form[index].votePlace) }}
                                {% endif %}
                            </td>
                            <td>
                                {% if form[index] is defined %}
                                    {{ form_row(form[index].adherent) }}
                                {% endif %}
                            </td>
                            <td class="status__1">
                                {% set results_status = place.getResultStatus(current_election_round) %}

                                <span class="cursor--pointer status
                                    {% if results_status is constant('RESULTS_COMPLETED', place) %}
                                        status__1
                                    {% elseif results_status is constant('RESULTS_PARTIAL', place) %}
                                        status__4
                                    {% else %}
                                        status__3
                                    {% endif %}
                                    " title="{{ ('vote_place.results.' ~ results_status)|trans }}">
                                    {{ ('vote_place.results.' ~ results_status)|trans }}
                                </span>
                            </td>
                            <td>
                                {% set items = [
                                    {
                                        href: path("app_assessors_#{space_type}_" ~ (place.enabled ? 'disable' : 'enable') ~ "_vote_place", {id: place.id}|merge(route_params)),
                                        label: place.enabled ? 'Désactiver' : 'Activer',
                                        linkAttr: {
                                            class: 'row-action text--dark link--no-decor',
                                        }
                                    }
                                ] %}

                                {% include 'components/_annimated_sub_menu.html.twig' with {items: items} %}
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="5" class="text--center">
                                <img src="{{ asset('/images/icons/icn_no-result.svg') }}" class="icn--no-result" width="30" />
                                Aucun résultat
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

            <div class="text--right b__nudge--top-15">
                <button type="submit" class="btn btn--blue--soft">Sauvegarder les choix</button>
            </div>

        {{ form_end(form) }}

        {% include 'components/_modern_pagination.html.twig' with {
            current_page: vote_places.currentPage,
            total_pages: vote_places.lastPage,
            pagination_route_params: route_params
        } %}
    </section>
{% endblock %}
