{% extends 'base.html.twig' %}

{% block page_title 'Espace assesseur' %}
{% block canonical_url url('app_assessor_space_vote_results') %}

{% block content %}
    {% form_theme form with ['jquery.collection.html.twig'] %}

    <main>
        <section class="manager-space procuration-manager b__nudge--bottom-huge">
            <header class="manager-header">
                <div class="l__wrapper">
                    <div class="first-section">
                        <div class="manager-information">
                            {% set vote_place = app.user.assessorRole.votePlace %}
                            <p>Vous êtes responsable du bureau de vote : <span>{{ vote_place.name }} - {{ vote_place.city }}</span></p>
                        </div>
                    </div>
                    <div class="second-section">
                        <h1 class="page-title text--large b__nudge--bottom">
                            {{ block('page_title') }}
                        </h1>
                    </div>
                    <nav class="manager-header__menu">
                        <ul>
                            <li class="{{ is_active_route(app.request, 'app_assessor_space_vote_results') ? 'active' }}">
                                <a href="{{ path('app_assessor_space_vote_results') }}">Résultats</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </header>

            <div class="l__wrapper procuration-manager__content text--body">

                <p class="alert alert--tips">{{ vote_result.electionRound.label }}</p>

                {{ form_start(form) }}

                    <div class="text--right b__nudge--bottom-small">
                        <button class="btn btn--blue--soft" type="submit">Sauvegarder</button>
                    </div>

                    <div class="l__row manager__filters">
                        <div class="l__col l__col--half">
                            <div class="form__row">
                                {{ form_row(form.registered, {label: 'Inscrits'}) }}
                            </div>

                            <div class="form__row vote-result-percent-field">
                                {{ form_row(form.expressed, {label: 'Exprimés', attr: {'data-percent-base-field-id': 'vote_result_registered'}}) }}
                            </div>
                        </div>

                        <div class="l__col l__col--half b__nudge--left-medium">
                            <div class="form__row vote-result-percent-field">
                                {{ form_row(form.abstentions, {label: 'Abstentions', attr: {'data-percent-base-field-id': 'vote_result_registered'}}) }}
                            </div>

                            <div class="form__row vote-result-percent-field">
                                {{ form_row(form.voters, {label: 'Votants', attr: {'data-percent-base-field-id': 'vote_result_registered'}}) }}
                            </div>
                        </div>
                    </div>

                    <hr/>

                    <div>
                        {{ form_row(form.lists, {label: 'Résultats:', attr: {class: 'vote-result-list-collection'}}) }}
                    </div>

                    <div class="text--right">
                        <button class="btn btn--blue--soft" type="submit">Sauvegarder</button>
                    </div>
                {{ form_end(form) }}
            </div>
        </section>
    </main>
{% endblock %}

{% block final_javascripts %}
    <script type="text/javascript" src={{ asset('bundles/sonataadmin/vendor/jquery/dist/jquery.min.js') }}></script>
    <script type="text/javascript" src="{{ asset('js/jquery.collection.js') }}"></script>

    <script type="text/javascript">
        Kernel.onLoad(function() {
            $('.vote-result-list-collection').collection({
                allow_up: false,
                allow_down: false,
                add_at_the_end: true,
                add: '<div class="b__nudge--top-40"><a href="#" class="btn btn-info">+</a></div>',
            });

            var percentUpdateHandle = function (percentElement, value, total) {
                percentElement.setAttribute('data-percent', (total == 0 ? 0 : (value * 100 / total)).toFixed(2) + ' %');
            };

            $('.vote-result-percent-field input').on('change', function (event) {
                percentUpdateHandle(
                    $(event.currentTarget).parent().parent().get(0),
                    event.currentTarget.value,
                    $('#vote_result_registered').val()
                );
            });

            $(document).on('change', '.vote-result-percent-list-field input.form__field', function (event) {
                percentUpdateHandle(
                    $(event.currentTarget).parent().parent().get(0),
                    event.currentTarget.value,
                    $('#vote_result_voters').val()
                );
            });

            $('#vote_result_registered').on('change', function () {
                $('.vote-result-percent-field input').trigger('change');
            }).trigger('change');

            $('#vote_result_voters').on('change', function () {
                $('.vote-result-percent-list-field input').trigger('change');
            }).trigger('change');
        });
    </script>
{% endblock %}
