<div class="l__wrapper--slim">
    <h3 class="text--medium b__nudge--bottom-50">Détails du candidat</h3>

    <div class="data-listing">
        <div class="data-listing__row">
            <div class="data-listing__item data-listing__item--label">Nom</div>
            <div class="data-listing__item data-listing__item--value">{{ runningMateRequest.lastName }}</div>
        </div>

        <div class="data-listing__row">
            <div class="data-listing__item data-listing__item--label">Prénom</div>
            <div class="data-listing__item data-listing__item--value">{{ runningMateRequest.firstName }}</div>
        </div>

        <div class="data-listing__row">
            <div class="data-listing__item data-listing__item--label">Téléphone</div>
            <div class="data-listing__item data-listing__item--value">{{ runningMateRequest.phone ? runningMateRequest.phone|phone_number_format : '' }}</div>
        </div>

        <div class="data-listing__row b__nudge--bottom">
            <div class="data-listing__item data-listing__item--label">Quelle est votre profession ?</div>
            <div class="data-listing__item data-listing__item--value">{{ runningMateRequest.profession }}</div>
        </div>

        <div class="data-listing__row">
            <div class="data-listing__item data-listing__item--label">Vos thématique(s) de prédilection</div>
            <div class="data-listing__item data-listing__item--value">
                <ul>
                    {% for favoriteTheme in runningMateRequest.favoriteThemes %}
                        <li>{{ favoriteTheme.name }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        <div class="data-listing__row b__nudge--bottom">
            <div class="data-listing__item data-listing__item--label">Vos thématique(s) de prédilection personnalisés</div>
            <div class="data-listing__item data-listing__item--value">{{ runningMateRequest.favoriteThemeDetails }}</div>
        </div>

        <div class="data-listing__row b__nudge--bottom">
            <div class="data-listing__item data-listing__item--label">CV</div>
            <div class="data-listing__item data-listing__item--value">
                <a href="{{ path('asset_url', { path: runningMateRequest.getPathWithDirectory, mime_type: 'application/pdf' }) }}" class="text--blue--dark link--no-decor" target="_blank">Télécharger le CV</a>
            </div>
        </div>

        <div class="data-listing__row">
            <div class="data-listing__item data-listing__item--label">Êtes-vous engagé(e) dans une/des association(s) locale(s) ?</div>
            <div class="data-listing__item data-listing__item--value">{{ runningMateRequest.isLocalAssociationMember ? 'Oui' : 'Non' }}</div>
        </div>

        <div class="data-listing__row b__nudge--bottom">
            <div class="data-listing__item data-listing__item--label">Détails</div>
            <div class="data-listing__item data-listing__item--value">{{ runningMateRequest.localAssociationDomain }}</div>
        </div>

        <div class="data-listing__row">
            <div class="data-listing__item data-listing__item--label">Avez-vous déjà eu un engagement militant ?</div>
            <div class="data-listing__item data-listing__item--value">{{ runningMateRequest.isPoliticalActivist ? 'Oui' : 'Non' }}</div>
        </div>

        <div class="data-listing__row b__nudge--bottom">
            <div class="data-listing__item data-listing__item--label">Détails</div>
            <div class="data-listing__item data-listing__item--value">{{ runningMateRequest.politicalActivistDetails }}</div>
        </div>

        <div class="data-listing__row">
            <div class="data-listing__item data-listing__item--label">Avez-vous déjà exercé un mandat ?</div>
            <div class="data-listing__item data-listing__item--value">{{ runningMateRequest.isPreviousElectedOfficial ? 'Oui' : 'Non' }}</div>
        </div>

        <div class="data-listing__row b__nudge--bottom">
            <div class="data-listing__item data-listing__item--label">Détails</div>
            <div class="data-listing__item data-listing__item--value">{{ runningMateRequest.previousElectedOfficialDetails }}</div>
        </div>

        <div class="data-listing__row">
            <div class="data-listing__item data-listing__item--label">Quel projet pour votre commune souhaiteriez-vous contribuer à porter ?</div>
            <div class="data-listing__item data-listing__item--value">{{ runningMateRequest.projectDetails }}</div>
        </div>

        <div class="data-listing__row b__nudge--bottom">
            <div class="data-listing__item data-listing__item--label">Quel sont les atouts de votre parcours professionnel ?</div>
            <div class="data-listing__item data-listing__item--value">{{ runningMateRequest.professionalAssets }}</div>
        </div>
    </div>
</div>
