{% extends 'base.html.twig' %}

{% block banner '' %}
{% block page_title 'Suivre des comités' %}

{% block content %}
    <section class="l__wrapper--medium">
        <header class="space--60-0 l__wrapper--slim">
            <h1 class="text--center text--large">
                Suivez l'actualité des comités locaux près de chez vous.
            </h1>
        </header>

        <hr class="l__wrapper b__nudge--bottom-large" />

        <div class="l__wrapper--slim membership_choose_nearby_committee__form">
            {{ form_start(form) }}
                {{ form_row(form.committees) }}
                <div class="form--full text--center space--30">
                    {{ form_widget(form.pass, { label: 'Passer cette étape'}) }}
                    {{ form_widget(form.submit, { label: 'Continuer', attr: { class: 'btn--primary' } }) }}
                </div>
            {{ form_end(form) }}
        </div>
    </section>
{% endblock %}
