{% extends 'base.html.twig' %}

{% block banner '' %}
{% block page_title 'Vos centres d\'intérêt' %}

{% block content %}
    <main>
        <section class="register__interests content b__nudge--bottom-huge">
            <header class="space--60-0 l__wrapper--slim">
                <h1 class="text--center text--large">
                    Dîtes-nous en plus sur vos centres d'intérêt
                </h1>
            </header>

            <hr class="l__wrapper b__nudge--bottom-large" />

            <div class="l__wrapper--slim adherent_pin_interests__form">
                {{ form_start(form, { attr: { class: 'form l__row l__row--wrap', id: 'app_adherent_pin_interests' } }) }}

                    {{ form_errors(form.interests) }}

                    <div class="l__row l__row--wrap l__tablet-col b__nudge--bottom-large">
                        {% for interest in form.interests %}
                            <div class="form__checkbox form__checkbox--col">
                                {{ form_widget(interest) }}
                                {{ form_label(interest) }}
                            </div>
                        {% endfor %}
                    </div>

                    <div class="form--full text--center space--30">
                        {{ form_widget(form.pass, { label: 'Passer cette étape'}) }}
                        {{ form_widget(form.submit, { label: 'Continuer', attr: { class: 'btn--primary' }  }) }}
                    </div>

                {{ form_end(form) }}
            </div>
        </section>
    </main>
{% endblock %}
