{% extends 'oauth/base.html.twig' %}

{% block header %}
    <section class="l__inner__footer">
        Vous avez déjà un compte ? <a href="{{ path('app_user_login') }}">Connexion</a>.
    </section>
{% endblock %}

{% block title 'Créez un compte. Cela ne vous engage pas à adhérer au mouvement En Marche.' %}

{% block javascripts %}
    {% import 'javascript.js.twig' as js %}
    <script type="text/javascript">
        Kernel.onLoad(function() {
            App.runRegistration('{{ form.vars.form_type_class|e('js') }}');
        });
    </script>
    <script src="https://www.google.com/recaptcha/api.js"></script>
{% endblock %}

{% block content %}
    <section class="l__inner">
        <h1>Créez un compte. Cela ne vous engage pas à adhérer au mouvement <em>En Marche</em>.</h1>

        {{ form_start(form) }}
            <ul class="form">
                <li>{{ form_errors(form) }}</li>

                <li class="form--split">
                    <ul>
                        <li>
                            {{ form_label(form.firstName,'Prénom',{ label_attr: {class: 'visually-hidden'} }) }}
                            {{ form_errors(form.firstName) }}
                            {{ form_widget(form.firstName, {attr: {placeholder: 'Prénom'} }) }}
                        </li>

                        <li>
                            {{ form_label(form.lastName,'Nom',{ label_attr: {class: 'visually-hidden'} }) }}
                            {{ form_errors(form.lastName) }}
                            {{ form_widget(form.lastName, {attr: {placeholder: 'Nom'} }) }}
                        </li>
                    </ul>
                </li>

                <li>
                    {{ form_label(form.emailAddress.first,'E-mail',{ label_attr: {class: 'visually-hidden'} }) }}
                    {{ form_errors(form.emailAddress.first) }}
                    {{ form_widget(form.emailAddress.first, {attr: {placeholder: 'E-mail'} }) }}
                </li>

                <li class="visually-hidden">
                    {{ form_label(form.emailAddress.second,'Re-saisir l\'e-mail',{ label_attr: {class: 'visually-hidden'} }) }}
                    {{ form_errors(form.emailAddress.second) }}
                    {{ form_widget(form.emailAddress.second, {attr: {placeholder: 'Re-saisir l\'e-mail'} }) }}
                </li>

                <li>
                    {{ form_label(form.password,'Mot de passe',{ label_attr: {class: 'visually-hidden'} }) }}
                    {{ form_errors(form.password) }}
                    {{ form_widget(form.password, {attr: {placeholder: 'Mot de passe', autocomplete: "new-password"} }) }}
                </li>

                {{ form_errors(form.address) }}
                <li class="form--split">
                    <ul>
                        <li>
                            {{ form_label(form.address.postalCode,'Code postal',{ label_attr: {class: 'visually-hidden'} }) }}
                            {{ form_errors(form.address.postalCode) }}
                            {{ form_widget(form.address.postalCode, {attr: {placeholder: 'Code postal'} }) }}
                        </li>
                        <li>
                            {{ form_label(form.address.country, 'Pays', { label_attr: {class: 'visually-hidden'} }) }}
                            {{ form_errors(form.address.country) }}
                            {{ form_widget(form.address.country, {attr: {placeholder: 'Pays'} }) }}
                        </li>
                    </ul>

                </li>

                <li class="form__checkbox">
                    {{ form_widget(form.allowNotifications) }}
                    {{ form_label(form.allowNotifications, 'J\'accepte de recevoir par courrier électronique des sollicitations ou informations à des fins de communication politique de la part de En Marche') }}
                </li>

                <li>
                    <input type="hidden" class="nojs-g-recaptcha-response" name="g-recaptcha-response" value="" />
                    {% if recaptcha_public_key is not empty %}
                        {% for flashMessage in app.flashes("error_recaptcha") %}
                            <p id="recapture_error" class="form__error">{{ flashMessage|trans }}</p>
                        {% endfor %}
                        <div class="g-recaptcha" data-sitekey="{{ recaptcha_public_key }}" style="margin: 10px auto 50px auto;"></div>
                    {% elseif app.debug %}
                        <input type="hidden" name="g-recaptcha-response" value="fake" />
                    {% endif %}
                </li>

                <li>
                    <button class="btn">Créer mon compte</button>
                </li>
                <li class="text--small text--gray text--center">
                    En vous inscrivant, vous acceptez nos <a href="{{ path('page_mentions_legales') }}" target="_blank" rel="noopener noreferrer">Conditions d'utilisation</a> et notre <a href="{{ path('page_politique_cookies') }}" target="_blank" rel="noopener noreferrer">Politique en matière de cookies</a>.
                </li>
            </ul>

            {{ form_row(form._token) }}
        {{ form_end(form, {render_rest: false}) }}
    </section>
{% endblock %}
