{% extends 'base.html.twig' %}

{% block page_title 'Les propositions d\'Emmanuel Macron' %}
{% block canonical_url url('page_emmanuel_macron_programme') %}
{% block meta_description page.description %}

{% block open_graph_image %}{% spaceless %}
    {{ url('homepage')|trim('/') }}{{ static_asset('programme.jpg', {'w': 1200, 'h': 630})|raw }}
{% endspaceless %}{% endblock %}
{% block open_graph_image_width 1200 %}
{% block open_graph_image_height 630 %}

{% block content %}
    <main>
        <section class="content emmanuel-programme">
            <header class="space--60-0 l__wrapper--slim">
                <h1 class="text--large b__nudge--bottom-small">
                    {{ page.title }}
                </h1>
                <h2 class="text--gray b__nudge--bottom bigger">{{ page.description }}</h2>
                <ul class="article__social">
                    <li role="button" arial-label="Partagez sur Facebook"
                        class="btn btn--social btn--facebook"
                        onclick="App.share('facebook', window.location.href, '{{ page.title|escape('js') }}')">
                        <i class="fa fa-facebook-square"></i> <span>Partagez</span>
                    </li>
                    <li role="button" arial-label="Partagez via Twitter"
                        class="btn btn--social btn--twitter"
                        onclick="App.share('twitter', window.location.href, '{{ page.title|escape('js') }}')">
                        <i class="fa fa-twitter"></i> <span>Tweetez</span>
                    </li>
                    <li role="button" arial-label="Partagez via email"
                        class="btn btn--social btn--email"
                        onclick="App.share('email', window.location.href, '{{ page.title }}')">
                        <i class="fa fa-envelope-o"></i> <span>Envoyez</span>
                    </li>
                </ul>
            </header>

            <article>
                {{ page.content|markdown }}
            </article>

            <ul class="article__social space--60-0 l__wrapper--slim">
                <li role="button" arial-label="Partagez sur Facebook" class="btn btn--social btn--facebook"
                    onclick="App.share('facebook', window.location.href, '{{ page.title|escape('js') }}')">
                    <i class="fa fa-facebook-square"></i> <span>Partagez</span>
                </li>
                <li role="button" aria-label="Partagez sur Twitter"
                    class="btn btn--social btn--twitter"
                    onclick="App.share('twitter', window.location.href, '{{ page.title|escape('js') }}')">
                    <i class="fa fa-twitter"></i> <span>Tweetez</span>
                </li>
                <li role="button" arial-label="Partagez via email"
                    class="btn btn--social btn--email"
                    onclick="App.share('email', window.location.href, '{{ page.title }}')">
                    <i class="fa fa-envelope-o"></i> <span>Envoyez</span>
                </li>
            </ul>

        </section>
    </main>
{% endblock %}
