{% import 'voting_platform/_macros.html.twig' as helper %}

<div class="ballot-paper">
    <div class="ballot-paper__content">
        <div>
            {% set candidate_group = candidate_groups|filter(group => vote_choice == group.uuid.toString)|first %}

            {% if candidate_group %}
                {% set candidates = candidate_group.getCandidatesSorted(true) %}
                {% set first = candidates|first %}

                {% if designation.isLocalPollType() %}
                    <p class="text-gray-500 font-bold text-center">
                        {{ first.getFirstName() }}
                    </p>
                {% else %}
                    <ul>
                        {% if candidate_group.label %}
                            <li class="text-gray-500">{{ candidate_group.label }}</li>
                        {% endif %}
                        <li class="text-gray-500">
                            {{ first.getFirstName() }}
                            <span class="uppercase font-medium"> {{ first.getLastName() }}</span>
                        </li>
                        {% if candidates|length > 1 %}
                            <li class="text-gray-500">+ {{ candidates|length - 1 }} candidature{{ candidates|length - 1 > 1 ? 's' }}</li>
                        {% endif %}
                    </ul>
                {% endif %}
            {% else %}
                <h3>Bulletin blanc</h3>
            {% endif %}
        </div>

        <a href="{{ path('app_voting_platform_vote_step', {uuid: election.uuid, s: loop.index}) }}" class="inline-block mt-2 text-re-blue-400 hover:text-re-blue-600">
            Modifier mon choix
        </a>
    </div>
</div>
