{% import 'voting_platform/_macros.html.twig' as helper %}

<div class="ballot-paper">
    <div class="ballot-paper__content">
        <div>
            {% set candidate_group = candidate_groups|filter(group => vote_choice == group.uuid.toString)|first %}

            {% if candidate_group %}
                {% set candidates = candidate_group.getCandidatesSorted(true) %}
                {% set first = candidates|first %}

                <ul>
                    <li class="text-gray-500">
                        {{ first.getFirstName() }}
                        <span class="uppercase font-medium"> {{ first.getLastName() }}</span>
                        <span class="inline-block">
                            {% if first.isFemale %}
                                <svg class="h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                                    <path d="M10 2.5c-2.06 0-3.75 1.641-3.75 3.665 0 1.866 1.442 3.388 3.28 3.616v3.973H7.676a.469.469 0 1 0 0 .938H9.53v2.34a.47.47 0 0 0 .938 0v-2.34h1.851a.469.469 0 1 0 0-.938h-1.85V9.781c1.838-.228 3.281-1.749 3.281-3.616C13.75 4.141 12.058 2.5 10 2.5Zm0 .938c1.564 0 2.812 1.223 2.812 2.727 0 1.504-1.248 2.726-2.813 2.726-1.565 0-2.81-1.222-2.81-2.726s1.245-2.727 2.81-2.727Z"/>
                                </svg>
                            {% else %}
                                <svg class="h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                                    <path d="M13.9 3.125a.48.48 0 0 0-.13.018L9.117 4.419a.484.484 0 0 0-.296.232.504.504 0 0 0 .179.68.482.482 0 0 0 .37.05l3.515-.966-3.178 5.61c-1.773-.765-3.862-.131-4.833 1.583-1.053 1.86-.383 4.26 1.47 5.35 1.852 1.091 4.228.485 5.28-1.375.97-1.713.462-3.875-1.073-5.059l3.179-5.612.936 3.585a.5.5 0 0 0 .227.302.481.481 0 0 0 .666-.182.505.505 0 0 0 .05-.377l-1.242-4.746a.498.498 0 0 0-.172-.265.481.481 0 0 0-.295-.104Zm-5.897 7.56c.582-.033 1.16.11 1.663.408 1.408.83 1.895 2.612 1.113 3.993-.782 1.382-2.539 1.842-3.948 1.012-1.408-.829-1.895-2.612-1.113-3.993.235-.412.567-.758.966-1.006s.852-.39 1.32-.414Z"/>
                                </svg>
                            {% endif %}
                        </span>
                    </li>
                    <li class="text-gray-500">+ {{ candidates|length - 1 }} candidature{{ candidates|length - 1 > 1 ? 's' }}</li>
                </ul>
            {% else %}
                <h3>Bulletin blanc</h3>
            {% endif %}
        </div>

        <a href="{{ path('app_voting_platform_vote_step', {uuid: election.uuid, s: loop.index}) }}" class="inline-block mt-2 text-re-blue-400 hover:text-re-blue-600">
            Modifier mon choix
        </a>
    </div>
</div>
