{% extends 'base.html.twig' %}

{% block page_title measure.title %}
{% block canonical_url url('app_approach_measure_view', {uuid: measure.uuid}) %}

{% block content %}
    {% set approach = measure.subApproach.approach %}
    {% set sub_approach = measure.subApproach %}

    <div class="l__wrapper--narrow">
        <ul class="l__wrapper--narrow programmatic-foundation__breadcrumb text--body">
            <li>{{ approach.position }}. {{ approach.title }}</li>
            <li>{{ approach.position }}.{{ sub_approach.position }} {{ sub_approach.title }}</li>
        </ul>
    </div>

    <main class="programmatic-foundation programmatic-foundation__view-measure">
        <section class="content">
            <article class="l__wrapper--narrow">
                <header>
                    <h1 class="{{ measure.isLeading ? 'leading' : '' }}">{{ measure.title }}</h1>
                </header>

                <div class="html">
                    {{ measure.content|raw }}
                </div>

                <div class="programmatic-foundation__items-type">Projets illustratifs</div>

                <div class="programmatic-foundation__children programmatic-foundation__project">
                    {% for project in measure.projects %}
                        <div class="child {{ project.isExpanded ? 'expanded' : '' }}">
                            <div class="head text--default-large" onclick="toggleClass(this.parentNode, 'expanded');">
                                <span class="title">{{ project.title }}</span>
                                <span class="toggle"></span>
                            </div>
                            <div class="content">
                                <div class="html">
                                    {{ project.content|raw }}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </article>
        </section>
    </main>
{% endblock %}
