{% extends 'base.html.twig' %}

{% block page_title current.name %}
{% block canonical_url url('articles_list', {'category': current.slug}) %}

{% block final_javascripts include('bot/_javascript.html.twig') %}

{% block content %}
    <main>
        <section class="listing">
            <header class="l__wrapper--narrow space--100-0">
                <h1 class="text--center text--large">
                    {{ current.name }}
                </h1>

                {% if current.slug == 'communiques' %}
                    <div class="text--body text--center">
                        <p>
                            Vous pouvez contacter le service de presse de <em>La République En Marche !</em> par e-mail à
                            <a href="mailto:contactpresse@en-marche.fr">contactpresse@en-marche.fr</a>.
                        </p>
                        <p>
                            Please get in touch with our PR department at<br />
                            <a href="mailto:contactpresse@en-marche.fr">contactpresse@en-marche.fr</a>.
                        </p>
                    </div>
                {% endif %}
            </header>

            <nav class="l__wrapper text--body b__nudge--bottom-larger">
                <ul>
                    <li class="label">
                        Filtres :
                    </li>
                    {% for category in categories %}
                        <li class="{{ current.slug == category.slug ? 'active' }}">
                            <a href="{{ path('articles_list', {'category': category.slug}) }}">
                                {{ category.name }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </nav>

            <article class="l__wrapper--narrow">
                <ul>
                    {% for article in articles %}
                    <li>
                        <a href="{{ path('article_view', {'categorySlug': article.category.slug, 'articleSlug': article.slug}) }}" class="thumbnail">
                            <img src="{{ media_asset(article.media, {'w': 250, 'h': 170, 'fit': 'crop'}) }}"
                                 title="{{ article.media.name }}"
                                 alt="{{ article.media.name }}" />
                        </a>
                        <div>
                            <h2>
                                <a href="{{ path('article_view', {'categorySlug': article.category.slug, 'articleSlug': article.slug}) }}">
                                    {{ article.title }}
                                </a>
                            </h2>
                            <div>
                                {{ article.publishedAt|localizeddate('none', 'none', 'fr_FR', null, "d MMMM Y") }}
                            </div>
                            <div class="share">
                                Partagez
                                <span role="button" onclick="App.share('facebook', '{{ url('article_view', {'categorySlug': article.category.slug, 'articleSlug': article.slug}) }}', '{{ article.title|e('js') }}')">
                                    <i class="fa fa-facebook-square"></i>
                                </span>
                                <span role="button" onclick="App.share('twitter', '{{ url('article_view', {'categorySlug': article.category.slug, 'articleSlug': article.slug}) }}', '{{ article.title|e('js') }}')">
                                    <i class="fa fa-twitter"></i>
                                </span>
                            </div>
                        <div>
                    </li>
                    {% endfor %}
                </ul>
            </article>

            {{ include('article/_pagination.html.twig') }}
        </section>

    </main>
{% endblock %}
