{% extends 'base.html.twig' %}

{% block page_title %}{{  current.name }} - Page {{ currentPage }}{% endblock %}
{% block canonical_url url('articles_list', {category: current.slug, page: currentPage}) %}
{% block meta_description "Retrouvez l'ensemble des " ~ ('actualites.label.' ~ current.slug)|trans ~ " publié(e)s sur le site de La République En Marche ! Nous publions dans cette partie du site l'ensemble des actualités liées à notre mouvement et aux réformes menées par Emmanuel Macron et le Gouverment pour transformer la France. La page actuelle est la numéro #{currentPage}." %}

{% block extra_link %}
    {{ parent() }}
    {% if currentPage > 1 %}
        <link rel="prev" href="{{ url('articles_list', {category: current.slug, page: currentPage-1}) }}">
    {% endif %}

    {% if currentPage < totalPages %}
        <link rel="next" href="{{ url('articles_list', {category: current.slug, page: currentPage+1}) }}">
    {% endif %}
{% endblock %}

{% block content %}
    <main>
        <section class="listing">
            <header class="l__wrapper--narrow space--100-0">
                <h1 class="text--center text--large">
                    {{ current.name }}{{ currentPage > 1 ? " (page #{currentPage})" : '' }}
                </h1>

                {% if current.slug == 'communiques' %}
                    <div class="text--body text--center">
                        <p>
                            Vous pouvez contacter le service de presse de <em>La République En Marche !</em> par e-mail à
                            <a href="mailto:contactpresse@en-marche.fr">contactpresse@en-marche.fr</a>.
                        </p>
                        <p>
                            Please get in touch with our PR department at<br />
                            <a href="mailto:contactpresse@en-marche.fr">contactpresse@en-marche.fr</a>.
                        </p>
                    </div>
                {% endif %}
            </header>

            <nav class="l__wrapper text--body b__nudge--bottom-larger">
                <ul>
                    <li class="label">
                        Filtres :
                    </li>
                    {% for category in categories %}
                        <li class="{{ current.slug == category.slug ? 'active' }}">
                            <a href="{{ path('articles_list', { category: category.slug }) }}" id="articles-list-filter-category-{{ category.slug }}">
                                {{ category.name }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </nav>

            <article class="l__wrapper--narrow">
                <ul>
                    {% for article in articles %}
                    <li>
                        {% if article.media %}
                            <a href="{{ path('article_view', {'categorySlug': article.category.slug, 'articleSlug': article.slug}) }}" class="thumbnail">
                                <img src="{{ media_asset(article.media, {'w': 250, 'h': 170, 'fit': 'crop'}) }}"
                                     title="{{ article.media.name }}"
                                     alt="{{ article.media.name }}" />
                            </a>
                        {% endif %}

                        <div>
                            <h2>
                                <a href="{{ path('article_view', {'categorySlug': article.category.slug, 'articleSlug': article.slug}) }}">
                                    {{ article.title }}
                                </a>
                            </h2>
                            <div>
                                {{ article.publishedAt|localizeddate('none', 'none', 'fr_FR', null, "d MMMM yyyy") }}
                            </div>
                            <div class="share">
                                Partagez
                                <span role="button" onclick="App.share('facebook', '{{ url('article_view', {'categorySlug': article.category.slug, 'articleSlug': article.slug}) }}', '{{ article.title|e('js') }}')">
                                    <i class="fa fa-facebook-square"></i>
                                </span>
                                <span role="button" onclick="App.share('twitter', '{{ url('article_view', {'categorySlug': article.category.slug, 'articleSlug': article.slug}) }}', '{{ article.title|e('js') }}')">
                                    <i class="fa fa-twitter"></i>
                                </span>
                            </div>
                        <div>
                    </li>
                    {% endfor %}
                </ul>
            </article>

            {{ include('article/_pagination.html.twig') }}
        </section>

    </main>
{% endblock %}
