{% extends 'base_renaissance.html.twig' %}

{% block page_title article.title %}
{% block canonical_url url('article_view', { categorySlug: article.category.slug, articleSlug: article.slug, app_domain: app_renaissance_host }) %}

{% block content %}
    {% include 'renaissance/partials/site-header.html.twig' %}

    <main class="max-w-8xl mx-auto px-4 md:px-6">
        <header class="py-10 space-y-10 md:py-12" role="banner">

            <div class="text-center">
                {% if not article.published %}
                    <div class="rounded-md bg-orange-50 p-4 mb-2">
                        <p class="text-lg font-medium text-gray-700">Vous consultez un article non-publié</p>
                    </div>
                {% endif %}
                <time class="text-sm text-re-blue-500 lg:text-base">{{ article.publishedAt|format_datetime('none', 'none', "d MMMM yyyy") }}</time>
                <h1 class="mt-2 text-2xl text-black font-din lg:text-4xl font-bold">{{ article.title }}</h1>
                <p class="mt-1 text-base text-gray-500 leading-6 lg:leading-7 max-w-4xl mx-auto lg:text-lg">{{ article.description }}</p>
            </div>

            {% if article.media and article.displayMedia %}
                <figure class="md:max-w-5xl md:mx-auto">
                    <div class="aspect-w-2 aspect-h-1">
                        <img class="object-cover h-full w-full shadow-lg rounded-xl" src="{{ media_asset(article.media, {'q': 70}) }}"
                             title="{{ article.media.name }}"
                             alt="{{ article.media.name }}" />
                    </div>
                </figure>
            {% endif %}
        </header>

        <article class="mt-10 prose lg:prose-lg prose-re-blue prose-headings:font-din prose-img:rounded-xl prose-img:shadow-lg page-content max-w-screen-lg mx-5 md:mx-auto">
            {{ article.content|markdown }}

            {% if article.category.ctaLink and article.category.ctaLabel %}
                <a href="{{ article.category.ctaLink }}" class="inline-block mt-5 category">
                    <div class="category__label">
                        <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
                        {{ article.category.ctaLabel }}
                    </div>
                </a>
            {% endif %}
        </article>

        <section class="py-10 lg:py-12 article-content flex-grow">
            {% if latestArticles %}
                <h3 class="text-center text-xl font-semibold tracking-tight text-gray-900 font-din sm:text-2xl">Dernières actualités</h3>

                <div class="mt-10 mx-auto lg:mt-12 grid max-w-lg gap-5 lg:max-w-none lg:grid-cols-3 lg:gap-x-6">
                    {% for article in latestArticles %}
                        {% include 'article/partial/article-item.html.twig' %}
                    {% endfor %}
                </div>
            {% endif %}
        </section>
    </main>

    {% include 'renaissance/partials/small-footer.html.twig' %}
{% endblock %}
