<table class="datagrid__table" style="border-spacing: 0 1em;">
    <thead class="no-text-transform">
        <tr>
            <th>{{ 'citizen_project.list.title'|trans }}</th>
            <th>{{ 'citizen_project.list.organisator'|trans }}</th>
            <th>{{ 'citizen_project.list.members'|trans }}</th>
            <th>{{ 'citizen_project.list.support_committees'|trans }}</th>
            <th>{{ 'citizen_project.list.place'|trans }}</th>
            <th>{{ 'citizen_project.about'|trans }}</th>
            <th>{{ 'citizen_project.list.status'|trans }}</th>
        </tr>
    </thead>
    <tbody id="citizen-projects-list">
        {% for project in results %}
            {% if not project.isApproved %}
                {% set form = forms[project.id] %}

                {{ form_start(form) }}
                    {{ form_errors(form) }}
            {% endif %}
            <tr class="coordinator__item space--20-0">
                <td>
                    <span class="text--bold">{{ project.name }}</span>
                    <br/>
                    {{ project.subTitle }}
                    <br />
                    {{ 'citizen_project.created_at'|trans({'%date%': project.createdAt|date('d/m/Y'), '%time%':project.createdAt|date('H:i')}) }}
                </td>
                <td>
                    {% if project.creator %}
                        <a href="mailto:{{ project.creator.emailAddress }}" class="link--no-decor" title="{{ project.creator.emailAddress }}"><i class="fa fa-envelope" aria-hidden="true"></i></a>
                        {{ project.creator }}
                        <br/>
                        {% if project.phone %}
                            <br/>
                            {{ project.phone|phone_number_format }}
                        {% endif %}
                    {% else %}
                        ~
                    {% endif %}
                </td>
                <td>{{ project.membersCount }}</td>
                <td>
                    {% for committeeSupport in project.committeeSupports %}
                        <a href="{{ path('app_committee_show', {slug: committeeSupport.committee.slug}) }}">
                            {{ committeeSupport.committee.name }} ({{ (committeeSupport.pending ? 'pending' : 'approved')|trans }})
                        </a>
                    {% else %}
                        ~
                    {% endfor %}
                </td>
                <td>
                    {{ project.cityName }}<br/>
                    {{ project.postalCode }}<br/>
                    {{ project.country }}
                </td>
                <td>
                    <u>{{ 'citizen_project.list.local_problem'|trans }}</u><br>
                    {{ project.problemDescription|read_more(50, 'problem-description' ~ project.id, 'common.show_more'|trans, 'common.show_less'|trans) }}<br>
                    <hr>
                    <u>{{ 'citizen_project.list.problem_answer'|trans }}</u><br>
                    {{ project.proposedSolution|read_more(50, 'solution' ~ project.id, 'common.show_more'|trans, 'common.show_less'|trans) }}<br>
                    <hr>
                    <u>{{ 'citizen_project.list.roadmap'|trans }}</u><br>
                    {{ project.requiredMeans|read_more(50, 'required-means' ~ project.id, 'common.show_more'|trans, 'common.show_less'|trans) }}<br>
                </td>
                <td>
                    {% if not project.isApproved %}
                        {% for messages in app.flashes(["error_#{project.id}"]) %}
                            <ul class="form form__errors">
                                {% for message in messages %}
                                    <li class="form__error">
                                        {{ message }}
                                    </li>
                                {% endfor %}
                            </ul>
                        {% endfor %}
                   {% endif %}
                </td>
                <td>
                    {% if project.isPending %}
                        <span>
                            {{ form_widget(form.accept, {label: 'Pré-accepter', attr: {class: 'btn--success btn--success__icon'}}) }}
                        </span>
                        <span>
                            {{ form_widget(form.refuse, {label: 'Pré-refuser', attr: {class: 'btn--error btn--error__icon'}}) }}
                        </span>
                    {% elseif project.isPreRefused %}
                        <span>
                            {{ form_widget(form.accept, {label: 'Pré-accepter', attr: {class: 'btn--success btn--success__icon'}}) }}
                        </span>
                    {% elseif project.isPreApproved %}
                        <span>
                            {{ form_widget(form.refuse, {label: 'Pré-refuser', attr: {class: 'btn--error btn--error__icon'}}) }}
                        </span>
                    {% else %}
                        {% include 'citizen_project/status.html.twig' with {citizenProject: project} %}
                    {% endif %}
                </td>
            </tr>
            {% if not project.isApproved %}
                {{ form_end(form) }}
            {% endif %}
        {% endfor %}
    </tbody>
</table>
