{% extends 'base.html.twig' %}

{% block page_title 'Espace coordinateur régional' %}
{% block canonical_url url(coordinator_path) %}

{% block content %}
    <main>
        <section class="coordinator coordinator-area b__nudge--bottom-huge">
            <header class="hero">
                <h1 class="">
                    {{ block('page_title') }}
                </h1>
                {% block coordinator_area_header_description %}{% endblock %}
            </header>

            <div class="l__wrapper coordinator-area__content">
                <ul class="list__links list__links--row coordinator-area__tabs b__nudge--top b__nudge--bottom">
                    {% for page in pages %}
                        <li>
                            <a class="btn btn--small {{ app.request.query.has('s') and app.request.query.get('s') == page.status ? 'btn--black' : '' }}"
                               href="{{ path(page.route, { 's': page.status }) }}">
                                {{ page.label }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>

                {% block coordinator_content %}{% endblock %}

                <div class="text--center text--gray">
                    {% set current_page = (filter.offset / constant('PER_PAGE', filter))|round(0, 'ceil') + 1 %}
                    {% set last_page = (filter.count / constant('PER_PAGE', filter))|round(0, 'ceil') %}

                    {% if filter.offset > 0 %}
                        <a href="{{ path(coordinator_path) ~ filter.queryStringForOffset(0) }}" class="btn btn--small">
                            Première
                        </a>
                        <a href="{{ path(coordinator_path) ~ filter.previousPageQueryString }}" class="btn btn--small">
                            Précédente
                        </a>
                    {% endif %}

                    {% if last_page != 0 %}
                        <span class="text--summary">Page {{ current_page }} / {{ last_page }}</span>
                    {% endif %}

                    {% if filter.offset + constant('PER_PAGE', filter) < filter.count %}
                        <a href="{{ path(coordinator_path) ~ filter.nextPageQueryString }}" class="btn btn--small">
                            Suivante
                        </a>
                        <a href="{{ path(coordinator_path) ~ filter.queryStringForOffset((last_page - 1) * constant('PER_PAGE', filter)) }}" class="btn btn--small">
                            Dernière
                        </a>
                    {% endif %}
                </div>
            </div>
        </section>
    </main>
{% endblock %}
