{% extends 'base.html.twig' %}

{% block page_title 'Espace coordinateur régional' %}
{% block canonical_url url('app_coordinator_committees') %}

{% block content %}
    <main>
        <section class="coordinator coordinator-committee-manager b__nudge--bottom-huge">
            <header class="hero">
                <h1 class="">
                    {{ block('page_title') }}
                </h1>
                <p class="text--center">
                    L’espace coordinateur vous permet d'apprécier les comités des
                    zones que vous gérez. Seule l’équipe du QG sera en mesure de
                    voir vos appréciations.
                </p>
                <p class="text--center">
                    Zones gérées : {{ app.user.coordinatorManagedAreaCodesAsString }}.
                </p>
            </header>

            <div class="l__wrapper coordinator-committee-manager__content">
                {% set pages = [
                    {
                        'route': 'app_coordinator_committees',
                        'status': constant('AppBundle\\Entity\\Committee::PENDING'),
                        'label': 'Comités en attente'
                    },
                    {
                        'route': 'app_coordinator_committees',
                        'status': constant('AppBundle\\Entity\\Committee::PRE_APPROVED'),
                        'label': 'Comités pré-validés'
                    },
                    {
                        'route': 'app_coordinator_committees',
                        'status': constant('AppBundle\\Entity\\Committee::PRE_REFUSED'),
                        'label': 'Comités pré-refusés'
                    }
                ] %}

                <ul class="list__links list__links--row coordinator-committee-manager__tabs b__nudge--top b__nudge--bottom">
                    {% for page in pages %}
                        <li>
                            <a class="btn btn--small {{ app.request.query.has('s') and app.request.query.get('s') == page.status ? 'btn--black' : '' }}"
                               href="{{ path(page.route, { 's': page.status }) }}">
                                {{ page.label }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>

                {% block coordinator_content %}{% endblock %}
            </div>
        </section>
    </main>
{% endblock %}
