{% extends 'adherent_space/_layout.html.twig' %}

{% block page_title 'Espace coordinateur régional' %}
{% block canonical_url url(coordinator_path) %}

{% block manager_sidebar %}
    <nav class="manager-sidebar__menu">
        <ul>
            <li class="active">
                <a href="#">
                    {% block coordinator_nav %}{% endblock %}
                </a>
            </li>
        </ul>
    </nav>
{% endblock %}

{% block manager_content %}
    <section class="b__nudge--bottom-huge">
        <div class="b__nudge--bottom">
            {% block coordinator_area_header_description %}{% endblock %}
        </div>
        <nav class="tabs-nav b__nudge--bottom-larger">
            <ul>
                {% for page in pages %}
                    <li class="{{ app.request.query.has('s') and app.request.query.get('s') == page.status ? 'active' : '' }}">
                        <a class="tabs-nav__item" href="{{ path(page.route, {s: page.status}) }}">
                            {{ page.label }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </nav>

        {% block coordinator_content '' %}

        <div class="datagrid__pager">
            {% set current_page = (filter.offset / constant('PER_PAGE', filter))|round(0, 'ceil') + 1 %}
            {% set last_page = (filter.count / constant('PER_PAGE', filter))|round(0, 'ceil') %}

            {% if filter.offset > 0 %}
                <a href="{{ path(coordinator_path) ~ filter.queryStringForOffset(0) }}" class="btn btn--small">
                    Première
                </a>
                <a href="{{ path(coordinator_path) ~ filter.previousPageQueryString }}" class="btn btn--small">
                    Précédente
                </a>
            {% endif %}

            {% if last_page != 0 %}
                <span class="text--summary">Page {{ current_page }} / {{ last_page }}</span>
            {% endif %}

            {% if filter.offset + constant('PER_PAGE', filter) < filter.count %}
                <a href="{{ path(coordinator_path) ~ filter.nextPageQueryString }}" class="btn btn--small">
                    Suivante
                </a>
                <a href="{{ path(coordinator_path) ~ filter.queryStringForOffset((last_page - 1) * constant('PER_PAGE', filter)) }}" class="btn btn--small">
                    Dernière
                </a>
            {% endif %}
        </div>
    </section>
{% endblock %}
