{% extends 'base.html.twig' %}

{% block banner '' %}
{% block page_title 'Je Marche !' %}
{% block canonical_url url('app_je_marche_action') %}

{% block javascripts %}
    <script src="https://www.google.com/recaptcha/api.js"></script>
    <script type="text/javascript">
        Kernel.onLoad(function() {
            App.runJeMarche();
        });
    </script>
{% endblock %}

{% block content %}
<main class="content je-marche">
    <section class="je-marche__header background--green space--60-0 text--center">
        <div class="text--summary b__nudge--bottom l__wrapper">
            <a href="{{ path('app_je_marche') }}" class="back-to-list icon--with-text">
                {{ include('components/caret--left.html.twig') }}
                Retour à J'agis
            </a>
        </div>
        <h1 class="text--larger b__nudge--bottom">
            Je Marche !
        </h1>
        <div class="text--body">
            J'organise ma propre action et collecte les adresses emails des convaincus et des réceptifs.
        </div>
    </section>

    <section class="action__block background--green" id="actions">
        <div class="l__wrapper--slim action__items l__row l__row--h-stretch l__row--top l__tablet--col">
            <ul class="action__menu">
                <li><a class="action__menu__item action__menu__item--active" href="javascript:void(0)" onclick="openAction('action__one')">Le porte-à-porte</a></li>
                <li><a class="action__menu__item" href="javascript:void(0)" onclick="openAction('action__two')">L'atelier du programme</a></li>
                <li><a class="action__menu__item" href="javascript:void(0)" onclick="openAction('action__three')">La marche</a></li>
                <li><a class="action__menu__item" href="javascript:void(0)" onclick="openAction('action__four')">La conversation</a></li>
                <li><a class="action__menu__item" href="javascript:void(0)" onclick="openAction('action__five')">L'action qui vous ressemble</a></li>
                <li><a class="action__menu__item" href="javascript:void(0)" onclick="openAction('action__six')">Le dîner</a></li>
            </ul>

            <div id="action__one" class="action__item">
              <h4>Le porte à porte</h4>
              <p>Le porte-à-porte, c’est pour nous le moyen le plus efficace  d’aller au-devant des citoyens et en particulier de ceux qui habituellement ne s'expriment pas. Et pour y parvenir, le maillon clé, c’est vous !</p>
              <a href="https://storage.googleapis.com/en-marche-prod/je-marche/je-marche-porte-a-porte.pdf">Télécharger le guide</a>
            </div>

            <div id="action__two" class="action__item" style="display:none">
              <h4>L'atelier</h4>
              <p>Organisez des ateliers pour débattre sur des thématiques du  projet d’Emmanuel Macron. Ouvert à tous, ces ateliers sont un temps d’écoute, de partage et de conviction autour des sujets que vous aurez choisis.</p>
              <a href="https://storage.googleapis.com/en-marche-prod/je-marche/je-marche-atelier.pdf">Télécharger le guide</a>
            </div>

            <div id="action__three" class="action__item" style="display:none">
              <h4>La Marche</h4>
              <p>Marcher à la rencontre de nos concitoyens est un acte fondateur de notre mouvement. En abordant les passants dans la rue et en vous rendant chez les commerçants de votre quartier, vous créez un moment d’échange original sur les raisons de  voter pour Emmanuel Macron.</p>
              <a href="https://storage.googleapis.com/en-marche-prod/je-marche/je-marche-la-marche.pdf">Télécharger le guide</a>
            </div>

            <div id="action__four" class="action__item" style="display:none">
              <h4>La conversation</h4>
              <p>Agir c’est d’abord convaincre nos proches, nos amis, nos collègues, notre famille de voter Emmanuel Macron en leur parlant de sujets qui les intéressent. Une simple conversation, un appel ou un e-mail peuvent suffire !</p>
              <a href="https://storage.googleapis.com/en-marche-prod/je-marche/je-marche-la-conversation.pdf">Télécharger le guide</a>
            </div>

            <div id="action__five" class="action__item" style="display:none">
              <h4>L'action qui vous ressemble</h4>
              <p>Pour cela, nous vous invitons à imaginer et réaliser votre propre action en rejoignant ou en organisant un événement citoyen, solidaire, écologique, sportif ou culturel !</p>
              <a href="https://storage.googleapis.com/en-marche-prod/je-marche/je-marche-action.pdf">Télécharger le guide</a>
            </div>

            <div id="action__six" class="action__item" style="display:none">
              <h4>Le dîner</h4>
              <p>Nous vous invitons à organiser un moment convivial  avec vos proches, comme un dîner, un apéritif ou un thé, pour parler de la  présidentielle, écouter leurs préoccupations et partager vos convictions. Quoi  de mieux que de convaincre autour d’un délicieux repas ?</p>
              <a href="https://storage.googleapis.com/en-marche-prod/je-marche/je-marche-diner.pdf">Télécharger le guide</a>
            </div>
        </div>
        <div class="text--center b__nudge--top-50">
            <div class="text--body">
                Je télécharge <a href="{{ asset('en-marche_fiches-juridiques.pdf') }}" target="_blank">le guide juridique de mes actions</a>.
            </div>
            <div class="space--20-0">
                <a href="#action" class="btn btn--primary btn--large-and-medium">
                    Je fais un compte rendu de mon action
                </a>
            </div>
        </div>
    </section>

    <section class="l__wrapper--slim space--60-0" id="action">
        <h1 class="text--body text--large text--center b__nudge--bottom">
            Compte rendu de mon action
        </h1>
        <h2 class="text--body text--medium text--center text--normal">
            Saisissez les e-mails ... et faites remonter les réactions.
            <br />
            Pour ce faire, téléchargez notre applications mobile, ou bien remplissez le formulaire ci-dessous.
        </h2>

        <div class="l__row l__row--center b__nudge--top-10 l__mobile--col">
            <a href="https://appsto.re/fr/og3Hib.i"
               class="link--no-decor">
                <img height="54" src="{{ asset('images/download-jemarche-ios.svg') }}"/>
            </a>
            <a href="https://play.google.com/store/apps/details?id=fr.en_marche.jemarche123"
               class="link--no-decor">
                <img height="80" src="{{ asset('images/download-jemarche-google.png') }}"/>
            </a>
        </div>

        <div class="text--body b__nudge--top">
            {{ form_start(form) }}

            {{ form_errors(form) }}

            <div class="form__row b__nudge--bottom-large">
                {{ form_label(form.type, 'Quelle action avez-vous réalisée ?') }}
                {{ form_widget(form.type, { attr: { 'class': 'b__nudge--top-10 form--full' } }) }}
                {{ form_errors(form.type) }}
            </div>

            <div class="form__row b__nudge--bottom-large">
                {{ form_label(form.postalCode, 'Où l\'avez-vous réalisée (code postal) ?') }}
                <br />
                {{ form_widget(form.postalCode, { attr: { 'class': 'b__nudge--top-10', 'placeholder': 'Code postal' } }) }}
                {{ form_errors(form.postalCode) }}
            </div>

            <div class="form__row b__nudge--bottom-large">
                {{ form_label(form.convinced, 'Personnes convaincues') }}
                <div class="text--small text--gray b__nudge--bottom-small">Elles ont dit: "Je vais voter pour Emmanuel Macron et je souhaite être tenu(e) informé(e) de la campagne et/ou m'engager".</div>
                {{ form_widget(form.convinced, { attr: { placeholder: 'Saisissez une adresse e-mail par ligne', 'class': 'form--full form__field--textarea-120' } }) }}
                {{ form_errors(form.convinced) }}
                <div class="text--small"><a href="https://enmarche.typeform.com/to/OjHb7I">
                    Saisissez ici une ou plusieurs adresses postales et/ou numéros de téléphones
                </a></div>
            </div>

            <div class="form__row b__nudge--bottom-large">
                {{ form_label(form.almostConvinced, 'Personnes réceptives') }}
                <div class="text--small text--gray b__nudge--bottom-small">Elles ont dit: "Je ne sais pas encore pour qui je vais voter et je souhaite en savoir davantage sur Emmanuel Macron".</div>
                {{ form_widget(form.almostConvinced, { attr: { placeholder: 'Saisissez une adresse e-mail par ligne', 'class': 'form--full form__field--textarea-120' } }) }}
                {{ form_errors(form.almostConvinced) }}
                <div class="text--small"><a href="https://enmarche.typeform.com/to/wRRu15">
                    Saisissez ici une ou plusieurs adresses postales et/ou numéros de téléphones
                </a></div>
            </div>

            <div class="form__row b__nudge--bottom-large">
                {{ form_label(form.notConvinced, 'Personnes acquises à un autre candidat ou n\'ayant pas souhaité échanger (nombre de personnes)') }}
                <div class="text--small text--gray b__nudge--bottom-small">Je leur ai parlé du projet d'Emmanuel Macron, mais elles ne voteront pas pour lui ou n’ont pas souhaité poursuivre la discussion.</div>
                {{ form_widget(form.notConvinced) }}
                {{ form_errors(form.notConvinced) }}
            </div>

            <div class="form__row b__nudge--bottom-large">
                {{ form_label(form.reaction, 'Réaction des personnes rencontrées / commentaires') }}
                {{ form_widget(form.reaction, { attr: { placeholder: 'Décrivez ici les réactions des personnes avec lesquelles vous avez échangé', 'class': 'b__nudge--top-10 form--full form__field--textarea-120' } }) }}
                {{ form_errors(form.reaction) }}
            </div>

            <div class="form__row">
                {{ form_label(form.emailAddress, 'Votre e-mail') }}
                {{ form_widget(form.emailAddress, { attr: { placeholder: 'Saisissez votre e-mail', 'class': 'b__nudge--top-10 form--full' } }) }}
                {{ form_errors(form.emailAddress) }}
            </div>

            <input type="hidden" class="nojs-g-recaptcha-response" name="g-recaptcha-response" value="" />
            {% if recaptcha_public_key is not empty %}
                <div class="g-recaptcha" data-sitekey="{{ recaptcha_public_key }}" style="margin: 10px auto 50px auto;"></div>
            {% endif %}

            {{ form_rest(form) }}

            <button type="submit" class="b__nudge--top btn btn--blue">
                J'envoie le compte rendu
            </button>

            {{ form_end(form) }}
        </div>
    </section>

</main>
{% endblock %}
