{% extends 'base.html.twig' %}

{% block banner '' %}
{% block page_title 'Je Marche !' %}
{% block canonical_url url('app_je_marche') %}

{% block stylesheets %}
    <style type="text/css">
        body > header {
            display: none;
        }
    </style>
{% endblock %}

{% block javascripts %}
    <script src="https://www.google.com/recaptcha/api.js"></script>
    <script type="text/javascript">
        Kernel.onLoad(function() {
            App.runJeMarche();
        });
    </script>
{% endblock %}

{% block content %}
<main class="content je-marche">
    <section class="header__main background--blue">
        <div class="l__wrapper space--30-0">
            <a href="{{ path('homepage') }}" class="text--logo link--no-decor text--white">En Marche !</a>
        </div>
    </section>
    <section class="je-marche__header background--blue">
        <header class="l__wrapper--slim text--center">
            <h1 class="text--large b__nudge--bottom-small text--white">
                {{ include('components/je-marche.html.twig') }}
            </h1>
            <h2 class="text--white">Emmanuel Macron<br>a besoin de vous pour convaincre les indécis !</h2>
            <h3 class="text--white text--body text--normal">Convaincre 10 personnes, collecter 10 e-mails ou donner 10 euros, chacun peut aider à sa façon pour faire gagner les idées du progrès.</h2>
        </header>
    </section>

    <section>
        <div class="bandeau bandeau--pink">
            <ul>
                <li class="text--white text--half-opacity">Je parraine mes amis à la newsletter
                    <div class="text--small">Bientôt disponible</div></li>
                <li><a href="{{ path('donation_index') }}">
                    Je donne en ligne maintenant
                </a></li>
                <li><a href="{{ path('page_emmanuel_macron_programme') }}">
                    Je partage une proposition du programme
                </a></li>
            </ul>
        </div>
        <div class="bandeau bandeau--yellow">
            <ul>
                <li><a href="http://teamlove.ghost.io/teammarcheurs/">
                    Je convaincs sur les réseaux sociaux
                </a></li>
                <li><a href="{{ path('app_search_events') }}">
                    Je rejoins une équipe de volontaires
                </a></li>
                <li><a href="https://enmarche.typeform.com/to/JGyz8W">
                    Je deviens relais du programme
                </a></li>
            </ul>
        </div>
        <div class="bandeau bandeau--green bandeau--one">
            <ul>
                <li>
                    J'organise ma propre action
                    <div>Sélectionnez l'une des 6 actions à mener en toute autonomie et collectez les adresses e-mails des convaincus et des réceptifs.</div>
                </li>
            </ul>
        </div>
    </section>

    <section class="action__block background--green" id="actions">
        <div class="l__wrapper--slim action__items l__row l__row--h-stretch l__row--top l__tablet--col">
            <ul class="action__menu">
                <li><a class="action__menu__item action__menu__item--active" href="javascript:void(0)" onclick="openAction('action__one')">Le porte-à-porte</a></li>
                <li><a class="action__menu__item" href="javascript:void(0)" onclick="openAction('action__two')">L'atelier du programme</a></li>
                <li><a class="action__menu__item" href="javascript:void(0)" onclick="openAction('action__three')">La marche</a></li>
                <li><a class="action__menu__item" href="javascript:void(0)" onclick="openAction('action__four')">La conversation</a></li>
                <li><a class="action__menu__item" href="javascript:void(0)" onclick="openAction('action__five')">L'action qui vous ressemble</a></li>
                <li><a class="action__menu__item" href="javascript:void(0)" onclick="openAction('action__six')">Le dîner</a></li>
            </ul>

            <div id="action__one" class="action__item">
              <h4>Le porte à porte</h4>
              <p>Le porte-à-porte, c’est pour nous le moyen le plus efficace  d’aller au-devant des citoyens et en particulier de ceux qui habituellement ne s'expriment pas. Et pour y parvenir, le maillon clé, c’est vous !</p>
              <a href="https://storage.googleapis.com/en-marche-prod/je-marche/je-marche-porte-a-porte.pdf">Télécharger le guide</a>
            </div>

            <div id="action__two" class="action__item" style="display:none">
              <h4>L'atelier</h4>
              <p>Organisez des ateliers pour débattre sur des thématiques du  projet d’Emmanuel Macron. Ouvert à tous, ces ateliers sont un temps d’écoute, de partage et de conviction autour des sujets que vous aurez choisis.</p>
              <a href="https://storage.googleapis.com/en-marche-prod/je-marche/je-marche-atelier.pdf">Télécharger le guide</a>
            </div>

            <div id="action__three" class="action__item" style="display:none">
              <h4>La Marche</h4>
              <p>Marcher à la rencontre de nos concitoyens est un acte fondateur de notre mouvement. En abordant les passants dans la rue et en vous rendant chez les commerçants de votre quartier, vous créez un moment d’échange original sur les raisons de  voter pour Emmanuel Macron.</p>
              <a href="https://storage.googleapis.com/en-marche-prod/je-marche/je-marche-la-marche.pdf">Télécharger le guide</a>
            </div>

            <div id="action__four" class="action__item" style="display:none">
              <h4>La conversation</h4>
              <p>Agir c’est d’abord convaincre nos proches, nos amis, nos collègues, notre famille de voter Emmanuel Macron en leur parlant de sujets qui les intéressent. Une simple conversation, un appel ou un e-mail peuvent suffire !</p>
              <a href="https://storage.googleapis.com/en-marche-prod/je-marche/je-marche-la-conversation.pdf">Télécharger le guide</a>
            </div>

            <div id="action__five" class="action__item" style="display:none">
              <h4>L'action qui vous ressemble</h4>
              <p>Pour cela, nous vous invitons à imaginer et réaliser votre propre action en rejoignant ou en organisant un événement citoyen, solidaire, écologique, sportif ou culturel !</p>
              <a href="https://storage.googleapis.com/en-marche-prod/je-marche/je-marche-action.pdf">Télécharger le guide</a>
            </div>

            <div id="action__six" class="action__item" style="display:none">
              <h4>Le dîner</h4>
              <p>Nous vous invitons à organiser un moment convivial  avec vos proches, comme un dîner, un apéritif ou un thé, pour parler de la  présidentielle, écouter leurs préoccupations et partager vos convictions. Quoi  de mieux que de convaincre autour d’un délicieux repas ?</p>
              <a href="https://storage.googleapis.com/en-marche-prod/je-marche/je-marche-diner.pdf">Télécharger le guide</a>
            </div>
        </div>
    </section>

    <section class="l__wrapper--medium space--60-0">
        <h1 class="text--body text--medium text--center b__nudge--bottom-large">Compte rendu de mon action</h1>
        <p class="text--body">Saisissez les e-mails ... et faites remonter les réactions.</p>


        <div class="text--body">
            {{ form_start(form) }}

            {{ form_errors(form) }}

            <div class="form__row b__nudge--bottom-large">
                {{ form_label(form.type, 'Quelle action avez-vous réalisée ?') }}
                {{ form_widget(form.type, { attr: { 'class': 'b__nudge--top-10 form--full' } }) }}
                {{ form_errors(form.type) }}
            </div>

            <div class="form__row b__nudge--bottom-large">
                {{ form_label(form.postalCode, 'Où l\'avez-vous réalisée (code postal) ?') }}
                <br />
                {{ form_widget(form.postalCode, { attr: { 'class': 'b__nudge--top-10', 'placeholder': 'Code postal' } }) }}
                {{ form_errors(form.postalCode) }}
            </div>

            <div class="form__row b__nudge--bottom-large">
                {{ form_label(form.convinced, 'Personnes convaincues') }}
                <div class="text--small text--gray b__nudge--bottom-small">Elles ont dit: "Je vais voter pour Emmanuel Macron et je souhaite être tenu(e) informé(e) de la campagne et/ou m'engager".</div>
                {{ form_widget(form.convinced, { attr: { placeholder: 'Saisissez une adresse e-mail par ligne', 'class': 'form--full form__field--textarea-120' } }) }}
                {{ form_errors(form.convinced) }}
                <div class="text--small"><a href="https://enmarche.typeform.com/to/OjHb7I">
                    Saisissez ici une ou plusieurs adresses postales
                </a></div>
            </div>

            <div class="form__row b__nudge--bottom-large">
                {{ form_label(form.almostConvinced, 'Personnes réceptives') }}
                <div class="text--small text--gray b__nudge--bottom-small">Elles ont dit: "Je ne sais pas encore pour qui je vais voter et je souhaite en savoir davantage sur Emmanuel Macron".</div>
                {{ form_widget(form.almostConvinced, { attr: { placeholder: 'Saisissez une adresse e-mail par ligne', 'class': 'form--full form__field--textarea-120' } }) }}
                {{ form_errors(form.almostConvinced) }}
                <div class="text--small"><a href="https://enmarche.typeform.com/to/wRRu15">
                    Saisissez ici une ou plusieurs adresses postales
                </a></div>
            </div>

            <div class="form__row b__nudge--bottom-large">
                {{ form_label(form.notConvinced, 'Personnes acquises à un autre candidat ou n\'ayant pas souhaité échanger (nombre de personnes)') }}
                <div class="text--small text--gray b__nudge--bottom-small">Je leur ai parlé du projet d'Emmanuel Macron, mais elles ne voteront pas pour lui ou n’ont pas souhaité poursuivre la discussion.</div>
                {{ form_widget(form.notConvinced) }}
                {{ form_errors(form.notConvinced) }}
            </div>

            <div class="form__row b__nudge--bottom-large">
                {{ form_label(form.reaction, 'Réaction des personnes rencontrées / commentaires') }}
                {{ form_widget(form.reaction, { attr: { placeholder: 'Décrivez ici les réactions des personnes avec lesquelles vous avez échangé', 'class': 'b__nudge--top-10 form--full form__field--textarea-120' } }) }}
                {{ form_errors(form.reaction) }}
            </div>

            <div class="form__row">
                {{ form_label(form.emailAddress, 'Votre e-mail') }}
                {{ form_widget(form.emailAddress, { attr: { placeholder: 'Saisissez votre e-mail', 'class': 'b__nudge--top-10 form--full' } }) }}
                {{ form_errors(form.emailAddress) }}
            </div>

            <input type="hidden" class="nojs-g-recaptcha-response" name="g-recaptcha-response" value="" />
            {% if recaptcha_public_key is not empty %}
                <div class="g-recaptcha" data-sitekey="{{ recaptcha_public_key }}" style="margin: 10px auto 50px auto;"></div>
            {% endif %}

            {{ form_rest(form) }}

            <button type="submit" class="b__nudge--top btn btn--blue">
                J'envoie le compte rendu
            </button>

            {{ form_end(form) }}
        </div>
    </section>
</main>
{% endblock %}
