{% extends 'adherent_space/_layout.html.twig' %}

{% block canonical_url url('app_candidate_managed_users_list') %}

{% set currentUserOrDelegator = current_user() %}
{% set delegated_access = get_delegated_access() %}

{% block page_title %}
    {% if app.user is same as(currentUserOrDelegator) %}
        Espace candidat
    {% else %}
        Espace candidat partagé
    {% endif %}
{% endblock %}

{% set hasCharterAccepted = app.user.charters.hasCandidateCharterAccepted %}
{% set isCandidate = is_granted('ROLE_CANDIDATE') %}

{% block stylesheets %}
    {% if not hasCharterAccepted %}
        <link rel="stylesheet" href="{{ asset('js/jquery/ui/jquery-ui-1.10.4.min.css') }}" />
    {% endif %}
{% endblock %}

{% set has_datacorner_access = is_granted('ROLE_CANDIDATE_REGIONAL_HEADED') %}

{% block manager_sidebar %}
    {{ include('candidate/_sidebar.html.twig') }}
{% endblock %}

{% block manager_content %}
    {% block candidate_content %}{% endblock %}

    {% if not hasCharterAccepted %}
        {{ include('chart_dialog.html.twig', {
            title: 'candidate.popup.title'|trans,
            subtitle: 'candidate.popup.subtitle'|trans,
            fileUrl: 'candidate.popup.file_url'|trans,
        }) }}
    {% endif %}

    {% if has_datacorner_access %}
        {{ include('candidate/_data-corner-modal.html.twig') }}
    {% endif %}
{% endblock %}

{% block adherent_space_header_title %}
    Vous gérez : <span class="text--black text--bold">{{ currentUserOrDelegator.candidateManagedArea.zone }} </span>
{% endblock %}

{% block final_javascripts %}
    {{ parent() }}

    <script type="text/javascript" src={{ asset('js/jquery/jquery-2.2.4.min.js') }}></script>
    <script type="text/javascript" src={{ asset('js/jquery/ui/jquery-ui-1.10.4.min.js') }}></script>

    {% if js is not defined %}
        {% import 'javascript.js.twig' as js %}
    {% endif %}

    <script type="text/javascript">
        Kernel.onLoad(function() {
            {% if not hasCharterAccepted %}
                {{ js.chart_acceptation('#chart_dialog', constant('App\\AdherentCharter\\AdherentCharterTypeEnum::TYPE_CANDIDATE')) }}
            {% endif %}

            {% if has_datacorner_access and is_active_route(app.request, 'app_candidate_managed_users_list') %}
                dom('#data-corner-modal--trigger').click();
            {% endif %}
        } );
    </script>
{% endblock %}
