{% set delegated_access_uuid = app.request.attributes.get('delegated_access_uuid') %}
<nav class="manager-sidebar__menu">
    {% if app.user is not same as(currentUserOrDelegator) %}
        <p class="manager-sidebar__text text--body">Vous êtes <span class="text--black">{{ delegated_access.role|lower }}</span> du candidat <span class="text--black">{{ currentUserOrDelegator }}</span></p>
    {% endif %}

    {% if isCandidate or is_granted('HAS_DELEGATED_ACCESS_MESSAGES') %}
        <ul>
            <li class="menu-section">Messagerie</li>
            <li class="{{ is_active_route(app.request, 'app_message_candidate_*') ? 'active' }}">
                <a href="{{ path('app_message_candidate_list') }}" class="messaging adherent">
                    <svg width="16" height="16" viewBox="0 0 16 16">
                        <use xlink:href="/images/icons/icons.svg#messaging"></use>
                    </svg>
                    Aux adhérents
                </a>
            </li>
        </ul>
    {% endif %}

    <ul>
        <li class="menu-section">Territoires</li>

        {% if isCandidate or is_granted('HAS_DELEGATED_ACCESS_ADHERENTS') %}
            <li class="{{ is_active_route(app.request, ['app_candidate_managed_users_list', 'app_candidate_adherent_invitation']) ? 'active' }}">
                <a href="{{ path('app_candidate_managed_users_list') }}">Adhérents</a>
            </li>
        {% endif %}

        {% if isCandidate or is_granted('HAS_DELEGATED_ACCESS_EVENTS') %}
            <li class="{{ is_active_route(app.request, 'app_candidate_event_manager_event*') ? 'active' }}">
                <a href="{{ path('app_candidate_event_manager_events') }}">Événements</a>
            </li>
        {% endif %}

        {% if isCandidate or is_granted('HAS_DELEGATED_ACCESS_JECOUTE') %}
            <li class="{{ is_active_route(app.request, 'app_jecoute_candidate_*') ? 'active' }}">
                <a href="{{ path('app_jecoute_candidate_local_surveys_list') }}">Questionnaires</a>
            </li>
        {% endif %}
    </ul>

    {% if isCandidate or is_granted('HAS_DELEGATED_ACCESS_FILES') %}
        <ul>
            <li class="menu-section">Mon équipe</li>

            {% if isCandidate or is_granted('HAS_DELEGATED_ACCESS_FILES') %}
                <li class="{{ is_active_route(app.request, 'app_candidate_files_*') ? 'active' }}">
                    <a href="{{ path('app_candidate_files_list') }}">Documents</a>
                </li>
            {% endif %}

            {% if isCandidate %}
                <li class="{{ is_active_route(app.request, ['app_candidate_my_team_list', 'app_candidate_my_team_delegate_access']) ? 'active' }}">
                    <a href="{{ path('app_candidate_my_team_list') }}">Délégations d'accès</a>
                </li>
            {% endif %}
        </ul>
    {% endif %}
</nav>
