{% set delegated_access_uuid = app.request.attributes.get('delegated_access_uuid') %}
<nav class="manager-sidebar__menu">
    {% if app.user is not same as(currentUserOrDelegator) %}
        <p class="manager-sidebar__text text--body">Vous êtes <span class="text--black">{{ delegated_access.role|lower }}</span> du candidat <span class="text--black">{{ currentUserOrDelegator }}</span></p>
    {% endif %}

    {% if has_datacorner_access %}
        <div>
            <a href="{{ jemengage_host }}" class="link--no--decor">
                <img src="{{ asset('images/data-corner/sidebar-data-corner.png') }}" style="width: 100%;" alt="data-corner-logo">
            </a>
        </div>
    {% endif %}

    <ul>
        <li class="menu-section">Territoires</li>

        {% if isCandidate or is_granted('HAS_DELEGATED_ACCESS_ADHERENTS') %}
            <li class="{{ is_active_route(app.request, ['app_candidate_managed_users_list', 'app_candidate_adherent_invitation']) ? 'active' }}">
                <a href="{{ path('app_candidate_managed_users_list') }}">Adhérents</a>
            </li>
        {% endif %}

        {% if isCandidate or is_granted('HAS_DELEGATED_ACCESS_EVENTS') %}
            <li class="{{ is_active_route(app.request, 'app_candidate_event_manager_event*') ? 'active' }}">
                <a href="{{ path('app_candidate_event_manager_events') }}">Événements</a>
            </li>
        {% endif %}
    </ul>

    {% if isCandidate or is_granted('HAS_DELEGATED_ACCESS_JECOUTE') or is_granted('ROLE_JECOUTE_NEWS') %}
        <ul>
            <li class="menu-section">Je Marche</li>

            {% if isCandidate or is_granted('HAS_DELEGATED_ACCESS_JECOUTE') %}
                <li class="{{ is_active_route(app.request, 'app_jecoute_candidate_*') and not is_active_route(app.request, 'app_jecoute_candidate_region_edit') ? 'active' }}">
                    <a href="{{ path('app_jecoute_candidate_local_surveys_list') }}">Questionnaires</a>
                </li>
            {% endif %}

            {% if is_granted('ROLE_CANDIDATE_REGIONAL_HEADED') or is_granted('HAS_DELEGATED_ACCESS_POLLS') %}
                <li class="{{ is_active_route(app.request, 'app_candidate_polls_*') ? 'active' }}">
                    <a href="{{ path('app_candidate_polls_local_list') }}">Question du jour</a>
                </li>
            {% endif %}

            {% if is_granted('ROLE_JECOUTE_NEWS') or is_granted('HAS_DELEGATED_ACCESS_JECOUTE_NEWS') %}
                <li class="{{ is_active_route(app.request, 'app_jecoute_news_candidate_*') ? 'active' }}">
                    <a href="{{ path('app_jecoute_news_candidate_news_list') }}">Actualités</a>
                </li>
            {% endif %}

            {% if is_granted('ROLE_JECOUTE_REGION') or is_granted('HAS_DELEGATED_ACCESS_JECOUTE_REGION') %}
                <li class="{{ is_active_route(app.request, 'app_jecoute_candidate_region_edit') ? 'active' }}">
                    <a href="{{ path('app_jecoute_candidate_region_edit') }}">Personnaliser</a>
                </li>
            {% endif %}
        </ul>
    {% endif %}

    {% if isCandidate or is_granted('HAS_DELEGATED_ACCESS_FILES') %}
        <ul>
            <li class="menu-section">Mon équipe</li>

            {% if isCandidate or is_granted('HAS_DELEGATED_ACCESS_FILES') %}
                <li class="{{ is_active_route(app.request, 'app_candidate_files_*') ? 'active' }}">
                    <a href="{{ path('app_candidate_files_list') }}">Documents</a>
                </li>
            {% endif %}
        </ul>
    {% endif %}
</nav>
