<table class="datagrid__table-manager">
    <thead>
    <tr>
        {% set order = filter.order and filter.order == 'd' ? 'a' : 'd' %}

        <th>
            <a
                    href="{{ path("app_#{space_name}_managed_users_list", {f: filter.toArray()|merge({sort: 'lastName', order: order})}) }}"
                    class="sort-link sort-link--order-{{ filter.sort == 'lastName' ? filter.order : 'a' }}"
            >
                Identité
            </a>
        </th>
        <th>Téléphone</th>
        <th>Adresse postale</th>
        <th>{{ 'common.adherent.status_email'|trans }}</th>
        <th>SMS/MMS</th>
    </tr>
    </thead>
    <tbody>
    {% for user in users %}
        <tr class="referent__item referent__item--{{ user.styleType }}">
            <td class="adherent-identity">
                <div class="adherent-name">
                    {{ user.lastName }} {{ user.firstName }}
                </div>
                <div class="adherent-caracs">
                    {% if user.gender %}
                    {% if 'male' == user.gender %}
                        {{ 'common.gender.man'|trans }}
                    {% else %}
                        {{ 'common.gender.woman'|trans }}
                    {% endif %}
                {% else %}
                    ~
                    {% endif %},
                    {{ user.age ? user.age ~ ' ans' : '~'}}
                </div>
            </td>
            <td>{{ user.phone ? user.phone|phone_number_format : 'Non renseigné' }}</td>
            <td>
                {{ user.address }}<br/>
                {{ user.postalCode }} {{ user.city }}, {{ user.country }}
            </td>
            <td>
                {% set is_email_subscribed = filter.subscriptionType and filter.subscriptionType in user.subscriptionTypes %}

                <span class="status status__{{ is_email_subscribed ? '1' : '2' }}">
                    {{ (is_email_subscribed ? 'common.adherent.subscribed' : 'common.adherent.unsubscribed')|trans }}
                </span>
            </td>
            <td>
                {% set hasSmsSubscriptionType = user.hasSmsSubscriptionType %}
                <span class="status status__{{ hasSmsSubscriptionType ? '1' : '2' }}">
                    {{ (hasSmsSubscriptionType ? 'common.adherent.subscribed' : 'common.adherent.unsubscribed')|trans }}
                </span>
            </td>
        </tr>
    {% else %}
        <tr>
            <td colspan="5" class="text--center">
                <img src="{{ asset('/images/icons/icn_no-result.svg') }}" class="icn--no-result" width="30" />
                Aucun résultat
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
