{% extends 'base.html.twig' %}

{% block content %}
    <main id="adherent-profile">
        <div class="l__wrapper">
            <div class="adherent-profile l__row l__row--v-stretch">
                <aside class="adherent-profile__aside">
                    <div class="adherent-profile__status b__nudge--top">
                        <div class="l__row b__nudge--bottom-large">
                            <div class="avatar-initials avatar--medium avatar--style-02">
                                {{app.user.initials}}
                            </div>
                            <div class="adherent-profile__id">
                                <div class="name">{{ app.user.partialName }}</div>
                                <div class="adhesion-date">Inscrit{{ app.user.female ? "e" }} en {{ app.user.registeredAt|localizeddate('none', 'none', 'fr_FR', null, 'MMMM yyyy') }}</div>
                            </div>
                        </div>
                        <ul class="adherent-profile__roles b__nudge--bottom-large">
                            {% for role in get_adherent_role_labels(app.user) %}
                                <li>{{ role }}</li>
                            {% endfor %}
                        </ul>
                        <div class="profile-completion b__nudge--bottom-50">
                            <div class="text--body b__nudge--bottom-small">
                                <!-- If is not completed -->
                                Complétion du profil : 50%
                                <!-- If is completed TODO
                                👏 Profil complété ! -->
                            </div>
                            <div class="gauge">
                                <span></span>
                            </div>
                        </div>
                    </div>
                    <nav class="adherent-profile__menu adherent-profile__menu--desktop">
                        <div class="menu-section">
                            <div class="menu-section__heading active">
                                <div class="icon-container">
                                    {% include('components/_adherent-menu/active/profile.html.twig') %}
                                </div>
                                <span>Informations</span>
                            </div>
                            <ul class="menu-section__items">
                                <li class="{{ is_active_route(app.request, 'app_adherent_profil_general_information_update*') ? 'active' }}">
                                    <a href="{{ path('app_adherent_profil_general_information_update') }}">Général</a>
                                </li>
                                <li class="{{ is_active_route(app.request, 'app_adherent_profil_certification_demand*') ? 'active' }}">
                                    <a href="{{ path('app_adherent_profil_certification_demand') }}">Certification du profil</a>
                                </li>
                                <li class="{{ is_active_route(app.request, 'app_adherent_profil_email_password_update*') ? 'active' }}">
                                    <a href="{{ path('app_adherent_profil_email_password_update') }}">E-mail et mot de passe</a>
                                </li>
                                <li class="{{ is_active_route(app.request, 'app_adherent_profil_interests_update*') ? 'active' }}">
                                    <a href="{{ path('app_adherent_profil_interests_update') }}">Centres d'intérêt</a>
                                </li>
                                <li class="{{ is_active_route(app.request, 'app_adherent_profil_engagement_update*') ? 'active' }}">
                                    <a href="{{ path('app_adherent_profil_engagement_update') }}">Engagement</a>
                                </li>
                                <li class="{{ is_active_route(app.request, 'app_adherent_profil_elections*') ? 'active' }}">
                                    <a href="{{ path('app_adherent_profil_elections') }}">Élections</a>
                                </li>
                                <li class="{{ is_active_route(app.request, 'app_adherent_profil_subscriptions_update*') ? 'active' }}">
                                    <a href="{{ path('app_adherent_profil_subscriptions_update') }}">Communication</a>
                                </li>
                            </ul>
                        </div>
                        <div class="menu-section">
                            <a href="{{ path('app_adherent_profil_activity') }}" class="menu-section__heading">
                                <div class="icon-container">
                                    {% include('components/_adherent-menu/default/activity.html.twig') %}
                                </div>
                                <span href="">Activités</span>
                            </a>
                            <ul class="menu-section__items">
                                <li><a href="{{ path('app_adherent_profil_activity') }}">Mes comités</a></li>
                                <li><a href="{{ path('app_adherent_profil_activity') }}">Mes événements</a></li>
                                <li><a href="{{ path('app_adherent_profil_activity') }}">Mes projets citoyens</a></li>
                                <li><a href="{{ path('app_adherent_profil_activity') }}">Mon atelier des idées</a></li>
                                <li><a href="{{ path('app_adherent_profil_activity') }}">Mes dons</a></li>
                            </ul>
                        </div>
                        <div class="menu-section">
                            <a href="{{ path('app_adherent_profil_documents') }}" class="menu-section__heading">
                                <div class="icon-container">
                                    {% include('components/_adherent-menu/default/documents.html.twig') %}
                                </div>
                                <span>Documents</span>
                            </a>
                        </div>
                    </nav>
                    <ul class="">
                        <li class="space--10-0"><a href="" class="text--body text--small link--no-decor">Formation</a></li>
                        <li class="space--10-0"><a href="" class="text--body text--small link--no-decor">Aide</a></li>
                        <li class="space--10-0"><a href="" class="text--body text--small link--no-decor">Déconnexion</a></li>
                    </ul>
                </aside>
                <div class="adherent-profile__content">
                    {% block adherent_profile_content %}{% endblock %}
                </div>
            </div>
        </div>
    </main>
{% endblock %}
