{% extends 'base.html.twig' %}

{% block javascripts %}
    <!-- En attente de reload la bonne lib jquery -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>

    <!-- Accordeon nav -->
    <script type="text/javascript">
        $(document).ready(function() {
            $(function($){
                var contents = $('.jsItemsSection');
                var titles = $('.jsHeadSection');
                titles.on('click',function(){
                    var title = $(this);
                    contents.filter(':visible').slideUp(function(){
                    	$(this).prev('.jsHeadSection').removeClass('is-opened');
                    });

                    var content = title.next('.jsItemsSection');

                    if (!content.is(':visible')) {
                        content.slideDown(function(){title.addClass('is-opened')});
                    }
                });
            })(jQuery);
        });
    </script>
{% endblock %}

{% block content %}
    <main id="adherent-profile">
        <div class="l__wrapper">
            <div class="adherent-profile l__row l__row--v-stretch">
                <aside class="adherent-profile__aside">
                    <div class="adherent-profile__status b__nudge--top">
                        <div class="l__row b__nudge--bottom-large">
                            <div class="avatar-initials avatar--medium avatar--style-02">
                                {{app.user.initials}}
                            </div>
                            <div class="adherent-profile__id">
                                <div class="name l__row">
                                    {{ app.user.partialName }}
                                    {% include('components/_certification_logo.html.twig') %}
                                </div>
                                <div class="adhesion-date">Inscrit{{ app.user.female ? "e" }} en {{ app.user.registeredAt|localizeddate('none', 'none', 'fr_FR', null, 'MMMM yyyy') }}</div>
                            </div>
                        </div>
                        <ul class="adherent-profile__roles b__nudge--bottom-large">
                            {% for role in get_adherent_role_labels(app.user) %}
                                <li>{{ role }}</li>
                            {% endfor %}
                        </ul>
                        <div class="adherent-profile__completion b__nudge--bottom-50">
                            <div class="text--body text--small b__nudge--bottom-small">
                                <!-- If is not completed -->
                                Complétion du profil : 50%
                                <!-- If is completed TODO
                                👏 Profil complété ! -->
                            </div>
                            <div class="gauge">
                                <span></span>
                            </div>
                        </div>
                    </div>
                    <nav class="adherent-profile__menu adherent-profile__menu--desktop">
                        <div class="menu-section">
                            <div class="menu-section__heading menu-section-informations jsHeadSection {{ is_active_route(app.request, [
                            'app_adherent_profile_general_information_update*' ,
                            'app_adherent_profile_certification_demand*' ,
                            'app_adherent_profile_email_password_update*' ,
                            'app_adherent_profile_interests_update*' ,
                            'app_adherent_profile_engagement_update*' ,
                            'app_adherent_profile_elections*' ,
                            'app_adherent_profile_subscription_update*'
                            ] ) ? 'active' }}">
                                <span>Informations</span>
                                <span class="trigger-container"></span>
                            </div>
                            <ul class="menu-section__items jsItemsSection">
                                <li class="{{ is_active_route(app.request, 'app_adherent_profile_general_information_update*') ? 'active' }}">
                                    <a href="{{ path('app_adherent_profile_general_information_update') }}">Général</a>
                                </li>
                                <li class="{{ is_active_route(app.request, 'app_adherent_profile_certification_demand*') ? 'active' }}">
                                    <a href="{{ path('app_adherent_profile_certification_demand') }}">Certification du profil</a>
                                </li>
                                <li class="{{ is_active_route(app.request, 'app_adherent_profile_email_password_update*') ? 'active' }}">
                                    <a href="{{ path('app_adherent_profile_email_password_update') }}">E-mail et mot de passe</a>
                                </li>
                                <li class="{{ is_active_route(app.request, 'app_adherent_profile_interests_update*') ? 'active' }}">
                                    <a href="{{ path('app_adherent_profile_interests_update') }}">Centres d'intérêt</a>
                                </li>
                                <li class="{{ is_active_route(app.request, 'app_adherent_profile_engagement_update*') ? 'active' }}">
                                    <a href="{{ path('app_adherent_profile_engagement_update') }}">Engagement</a>
                                </li>
                                <li class="{{ is_active_route(app.request, 'app_adherent_profile_elections*') ? 'active' }}">
                                    <a href="{{ path('app_adherent_profile_elections') }}">Élections</a>
                                </li>
                                <li class="{{ is_active_route(app.request, 'app_adherent_profile_subscriptions_update*') ? 'active' }}">
                                    <a href="{{ path('app_adherent_profile_subscriptions_update') }}">Communication</a>
                                </li>
                            </ul>
                        </div>
                        <div class="menu-section">
                            <div class="menu-section__heading menu-section-activity jsHeadSection {{ is_active_route(app.request, 'app_adherent_profile_activity*') ? 'active' }}">
                                <span href="">Activités</span>
                                <span class="trigger-container"></span>
                            </div>
                            <ul class="menu-section__items jsItemsSection">
                                <li><a href="{{ path('app_adherent_profile_activity') }}">Mes comités</a></li>
                                <li><a href="{{ path('app_adherent_profile_activity') }}">Mes événements</a></li>
                                <li><a href="{{ path('app_adherent_profile_activity') }}">Mes projets citoyens</a></li>
                                <li><a href="{{ path('app_adherent_profile_activity') }}">Mon atelier des idées</a></li>
                                <li><a href="{{ path('app_adherent_profile_activity') }}">Mes dons</a></li>
                            </ul>
                        </div>
                        <div class="menu-section">
                            <a href="{{ path('app_adherent_profile_documents') }}" class="menu-section__heading menu-section-documents {{ is_active_route(app.request, 'app_adherent_profile_documents*') ? 'active' }}">
                                <span>Documents</span>
                            </a>
                        </div>
                    </nav>
                    <ul class="">
                        <li class="space--10-0"><a href="" class="text--body text--small link--no-decor">Formation</a></li>
                        <li class="space--10-0"><a href="" class="text--body text--small link--no-decor">Aide</a></li>
                        <li class="space--10-0"><a href="" class="text--body text--small link--no-decor">Déconnexion</a></li>
                    </ul>
                </aside>
                <div class="adherent-profile__content">
                    {% block adherent_profile_content %}{% endblock %}
                </div>
            </div>
        </div>
    </main>
{% endblock %}
