{% extends 'base_renaissance.html.twig' %}

{% block body_classes 'h-screen bg-[#D9DDD7]' %}

{% block open_graph_title event.ogTitle ?? event.name %}
{% block open_graph_description event.ogDescription %}

{% block flash_message '' %}

{% block open_graph %}
    {% if event.ogImage %}
        <meta property="og:image" content="{{ path('asset_url', {path: event.ogImage.getPath()}) }}" />
        <meta property="og:image:width" content="{{ event.ogImage.getWidth() }}" />
        <meta property="og:image:height" content="{{ event.ogImage.getHeight() }}" />
    {% endif %}
{% endblock %}

{%- block canonical_url -%}
    {% apply spaceless %}
        {% if event is defined %}
            {{ url('app_national_event_by_slug', {slug: event.getSlug()}) }}
        {% else %}
            {{ 'https://' ~ national_event_host }}
        {% endif %}
    {% endapply %}
{%- endblock -%}

{% block header %}
    <header class="fixed w-full top-0 z-20 border-b border-b-black bg-white flex flex-col p-4 items-center h-auto xs:p-6 md:p-0 md:grid md:grid-cols-4 md:h-20 lg:grid-cols-3">
        <div class="py-3 md:pl-8 md:px-12">
            <a href="{{ path('renaissance_site') }}"><img src="{{ asset('/images/renaissance/logo-dark.svg') }}" class="h-4" alt="logo"/></a>
        </div>

        {% for label, messages in app.flashes(['error', 'info', 'success']) %}
            {% if messages|length %}
                <div class="p-4 text-sm {{ label == 'error' ? 'text-red-700 bg-red-100 dark:bg-red-200 dark:text-red-800' : 'text-blue-700 bg-blue-100 dark:bg-blue-200 dark:text-blue-800' }}" role="alert">
                    {% for message in messages %}
                        <div class="flash--{{ label }}">{{ message|trans }}</div>
                    {% endfor %}
                </div>
            {% endif %}
        {% endfor %}
    </header>
{% endblock %}

{% block content %}
    <main class="re_new_ui bg-primary relative" style="height:calc(100vh - 80px);">
        {{ include('renaissance/national_event/partials/background_video.html.twig') }}

        {% block content_section '' %}
    </main>
{% endblock %}
