{% extends 'base_renaissance.html.twig' %}

{% block app_title 'Besoin d\'Europe' %}
{%- block canonical_url -%}
    {% apply spaceless %}
        {% if event is defined %}
            {{ url('app_renaissance_national_event_by_slug', {slug: event.getSlug()}) }}
        {% else %}
            {{ 'https://' ~ national_event_host }}
        {% endif %}
    {% endapply %}
{%- endblock -%}
{% block meta_description "Besoin d'Europe est la liste commune Renaissance, MODEM, Horizons et Parti Radical, unis pour les Européennes du 9 juin 2024." %}

{% block favicons %}
    <link rel="icon" type="image/png" href="{{ asset('images/europe/favicon.png') }}" sizes="32x32" />
{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('fonts/SharpGrotesk/stylesheet.css') }}" rel="stylesheet">
    <link href="{{ asset('fonts/Value/stylesheet.css') }}" rel="stylesheet">
{% endblock %}

{% block open_graph %}
    {% set sharer_image = url('asset_url', {path: 'static/national/besoindeurope.webp', app_domain: national_event_host}) %}
    <meta property="og:image" content="{{ sharer_image }}" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:image" content="{{ sharer_image }}" />
{% endblock %}

{% block head_javascripts %}
    {% if app_environment == 'production' %}
        <!-- Matomo -->
        <script>
            var _paq = window._paq = window._paq || [];
            /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
            _paq.push(["setDocumentTitle", document.domain + "/" + document.title]);
            _paq.push(["setDoNotTrack", true]);
            _paq.push(["disableCookies"]);
            _paq.push(['trackPageView']);
            _paq.push(['enableLinkTracking']);
            (function() {
                var u="https://partirenaissance.matomo.cloud/";
                _paq.push(['setTrackerUrl', u+'matomo.php']);
                _paq.push(['setSiteId', '4']);
                var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
                g.async=true; g.src='https://cdn.matomo.cloud/partirenaissance.matomo.cloud/matomo.js'; s.parentNode.insertBefore(g,s);
            })();
        </script>
        <!-- End Matomo Code -->
    {% endif %}
{% endblock %}

{% block flash_message '' %}

{% block content %}
    <main class="flex flex-col h-screen bde-theme">
        <header class="fixed w-full top-0 z-20   {{ theme_bg|default('border-b border-b-black bg-white') }}">
            <div class="w-full border-b-[2px] border-black">
                <div class="max-w-8xl flex items-center mx-auto pt-0 px-6 md:px-6 md:py-6 md:h-[80px] h-[56px] ">
                    <a href="{{ eu_campaign_base_url }}" class="mt-2">
                        <h1 class="font-sharp font-semibold text-[22px]/[19.8px] text-black neg-letter-spacing--4">Besoin<br/>d'Europe</h1>
                    </a>
                </div>
            </div>

            {% block header '' %}
        </header>

        {% block content_section %}{% endblock %}

        <footer class="flex flex-col z-20 bg-black items-center md:justify-center gap-[56px] py-[80px] text-white text-sm border-t-[2px] border-white">
            {# --------------- SOCIALS ---------------#}
            <div class="flex bg-black items-center md:justify-center gap-[40px]">
                {% include 'renaissance/national_event/partials/sn_links.html.twig' %}
            </div>

            <div class="h-[2px] md:hidden bg-white/25 w-3/4"></div>

            {# --------------- PARTENERS ---------------#}
            <div class="flex flex-col flex-wrap md:flex-row bg-black items-center md:justify-center gap-x-[40px]">
                <img src="{{ asset('images/icons/bde/parteners/LOGO_RENAISSANCE.svg') }}" alt="Logo Renaissance">
                <img src="{{ asset('images/icons/bde/parteners/LOGO_MODEM.svg') }}" alt="Logo Modem">
                <img src="{{ asset('images/icons/bde/parteners/LOGO_HORIZONS.svg') }}" alt="Logo Horizons">
                <img src="{{ asset('images/icons/bde/parteners/LOGO_PARTI_RADICAL.svg') }}" alt="Logo Parti Radical">
            </div>

            <div class="h-[2px] md:hidden bg-white/25 w-3/4"></div>

            {# --------------- LINKS ---------------#}
            <div class="flex flex-col gap-[40px] md:gap-[24px] justify-center items-center">
                <div class="flex flex-col md:flex-row bg-black items-center md:justify-center gap-[40px]">
                    <a href="https://parti-renaissance.fr/cgu" target="_blank">CGU</a>
                    <a href="https://parti-renaissance.fr/mentions-legales" target="_blank">Mentions légales</a>
                    <a href="https://parti-renaissance.fr/politique-de-protection-des-donnees" target="_blank">Données personnelles</a>
                </div>
                <span>© {{ "now"|date('Y') }} RENAISSANCE</span>
            </div>
        </footer>
    </main>
{% endblock %}
