{% extends 'renaissance/national_event/_inscription_layout.html.twig' %}

{% block background_image '' %}
{% block body_classes 'bg-ui_gray-5' %}

{% block header %}
    <header class="flex py-10 md:py-20 justify-center w-full">
        <a href="{{ path('renaissance_site') }}">
            <img src="{{ asset('/images/renaissance/logo-dark.svg') }}" alt="logo"/>
        </a>
    </header>
{% endblock %}

{% block content_section %}
    <div class="flex flex-col md:flex-row gap-8 justify-center items-center md:items-start w-full px-5 pb-20"  x-data="xNationalEventPage({transport: '{{ inscription.transport }}', uncheckInputs: false, transportConfig: {{ event.transportConfiguration|json_encode }}})">
        {{ form_start(form, {attr: {class: 'max-w-[500px]'}}) }}
            <div class="flex flex-col gap-8">
                <twig:Atoms:ReCard class="!rounded-2xl !gap-6">
                    {{ include('renaissance/partials/flashes.html.twig', {slim: true}) }}

                    <p class="font-medium text-2xl text-ui_gray-80">Changer de forfait</p>

                    {{ form_errors(form) }}

                    {{ form_row(form.visitDay, {
                        label: 'Quand venez-vous ?',
                        attr: {
                            validate: "['required']",
                            '@change': 'handleVisitDayChange($event)',
                        },
                    }) }}
                </twig:Atoms:ReCard>

                <twig:Atoms:ReCard class="!rounded-2xl !gap-6">
                    {{ form_row(form.transport, {
                        label: 'Besoin d’un transport ?',
                        attr: {
                            validate: "['required']",
                            'x-model': 'transport',
                        },
                    }) }}

                    <template x-if="selectedTransportConfig">
                        {{ form_row(form.withDiscount, {label: 'Étudiant, demandeur d’emploi ou bénéficiaire des minimas sociaux ? Vous bénéficiez de -50%', attr: {
                            widget_side: 'right',
                            'x-model': 'withDiscount',
                        }}) }}
                    </template>
                </twig:Atoms:ReCard>

                <twig:Atoms:ReCard class="!rounded-2xl !gap-6">
                    {% if inscription.isPaymentSuccess() %}
                        <twig:ReParagraphStatus status="info" icon="info" x-show="initialTransport !== transport && !initialTransport?.startsWith('gratuit') && transport?.startsWith('gratuit')">
                            Le nouveau forfait est gratuit.<br/>L’ancien vous sera remboursé sous 30 jours.
                        </twig:ReParagraphStatus>

                        <twig:ReParagraphStatus status="warning" icon="warning" x-show="initialTransport !== transport && !initialTransport?.startsWith('gratuit') && !transport?.startsWith('gratuit')">
                            Le nouveau forfait doit être réglé en totalité.<br/>L’ancien vous sera remboursé sous 30 jours.
                        </twig:ReParagraphStatus>
                    {% endif %}

                    <div class="flex flex-col  bg-ui_gray-1 rounded-lg p-6 gap-4" x-show="initialTransport !== transport && selectedTransportConfig">
                        <twig:Atoms:ReLabel class="text-gray-950">Récapitulatif</twig:Atoms:ReLabel>

                        <template x-if="selectedTransportConfig">
                            <div>
                                <div class="grid grid-cols-[5fr_1fr] gap-2 items-center">
                                    <span x-text="selectedTransportConfig.recap_label"></span>
                                    <span class="text-ui_blue-50 text-right" x-text="selectedTransportConfig.montant + ' €'"></span>
                                </div>

                                <template x-if="withDiscount">
                                    <div class="grid grid-cols-[5fr_1fr] gap-2 mt-1 items-center">
                                        <span>Je suis étudiant, demandeur d’emploi ou bénéficiaire des minimas sociaux</span>
                                        <span class="text-ui_green-50 text-right" x-text="'-' + (selectedTransportConfig.montant / 2) + ' €'"></span>
                                        <span class="font-medium text-ui_gray-80">Montant total</span>
                                        <span class="font-medium text-ui_gray-80 text-right" x-text="(selectedTransportConfig.montant / 2) + ' €'"></span>
                                    </div>
                                </template>

                                <template x-if="!withDiscount">
                                    <div class="grid grid-cols-[5fr_1fr] gap-2 mt-1 items-center">
                                        <span class="font-medium text-ui_gray-80">Montant total</span>
                                        <span class="font-medium text-ui_gray-80 text-right" x-text="selectedTransportConfig.montant + ' €'"></span>
                                    </div>
                                </template>
                            </div>
                        </template>
                    </div>

                    <twig:ReButton class="w-full" color="blue" disabled="x:initialTransport === transport">Modifier ma réservation</twig:ReButton>

                    <twig:ReButton tag="a" href="{{ path('app_national_event_my_inscription', {slug: event.slug, uuid: inscription.uuid}) }}" class="w-full" color="white">Annuler</twig:ReButton>
                </twig:Atoms:ReCard>
            </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
