{% extends 'renaissance/national_event/_layout.html.twig' %}

{% block page_title 'Inscription' %}

{% form_theme form 'renaissance/forms/tailwind_form_theme.html.twig' %}

{% block final_javascripts %}
    <script type="module" src="{{ asset('js/friendlycaptcha.widget-0.9.14.module.min.js') }}" async defer></script>

    <script>
        Bootstrap.onLoad(() => Main.runNationaleEventPage());
    </script>
{% endblock %}

{% block content_section %}
    {{ form_start(form) }}
        <div class="md:grid sm:items-center mb-[120px] md:grid-cols-2 w-full z-10 relative" x-data="xNationalEventPage">
            <div class="flex gap-8 flex-col mt-[90px] pt-[150px] md:pt-[50px] p-5 md:pl-0 md:col-start-2 items-center justify-center md:justify-start">
                <twig:Atoms:ReCard class="max-w-[500px] re-step !gap-6 !border-black !border-[1px] ">
                    {% if event.intoImagePath %}
                        <img class="w-full" src="{{ path('asset_url', {path: 'static' ~ event.intoImagePath, app_domain: national_event_host}) }}" alt="{{ event.name }}">
                    {% endif %}

                    {% if event.textIntro %}
                        <div class="text-subtitle1">{{ event.textIntro|tw_html }}</div>
                    {% endif %}

                    {{ form_errors(form) }}

                    <div class="flex-col flex gap-4">
                        {{ form_row(form.civility, {
                            label: false,
                            attr: {onCheck: "setFieldValid('gender')", validate: "['required']"},
                        }) }}

                        <div class="flex flex-col xs:flex-row gap-5 ">
                            {{ form_row(form.firstName, {
                                label: false,
                                attr: {placeholder: 'Prénom', onCheck: "setFieldValid('firstName')", validate: "['required', 'min:2', 'max:50']"},
                            }) }}
                            {{ form_row(form.lastName, {
                                label: false,
                                attr: {placeholder: 'Nom', onCheck: "setFieldValid('lastName')", validate: "['required', 'min:1', 'max:50']"},
                            }) }}
                        </div>
                    </div>

                    {{ form_row(form.email, {
                        label: 'Mon adresse email',
                        help: 'Si vous êtes déjà militant, merci de renseigner l\'adresse email de votre compte',
                        attr: {
                            placeholder: 'adresse@mail.com',
                            validate: "['required', 'email']",
                            autocomplete: 'email',
                            onCheck: "setFieldValid('email')",
                        },
                    }) }}

                    {{ form_row(form.postalCode, {
                        label: 'Code postal',
                        attr: {placeholder: '75000', onCheck: "setFieldValid('postalCode')", validate: "['required']"},
                    }) }}

                    <fieldset class="relative">
                        <twig:Atoms:ReLabel class="mb-3">Date de naissance</twig:Atoms:ReLabel>

                        <fieldset class="flex gap-2.5 relative">
                            {{ form_widget(form.birthdate.day, {label: false, attr: {
                                class: 'w-full',
                                placeholder: 'Jour',
                                validate: "['required']",
                                onCheck: "setFieldValid('birthDay')",
                                searchBoxProps: {'x-numberonly': ''},
                            }}) }}

                            {{ form_widget(form.birthdate.month, {label: false, attr: {
                                class: 'w-full',
                                placeholder: 'Mois',
                                validate: "['required']",
                                onCheck: "setFieldValid('birthMonth')",
                            }}) }}

                            {{ form_widget(form.birthdate.year, {label: false, attr: {
                                class: 'w-full',
                                placeholder: 'Année',
                                validate: "['required']",
                                onCheck: "setFieldValid('birthYear')",
                                searchBoxProps: {'x-numberonly': ''},
                            }}) }}
                        </fieldset>

                        {{ form_errors(form.birthdate) }}
                    </fieldset>

                    {{ form_row(form.birthPlace, {
                        label: 'Lieu de naissance',
                        attr: {onCheck: "setFieldValid('birthPlace')", validate: "['required']"},
                    }) }}

                    <fieldset class="mb-4">
                        {{ form_row(form.phone, {label: 'Numéro de téléphone (optionnel)', help: 'En nous communiquant votre téléphone, vous recevrez votre billet par SMS.'}) }}
                    </fieldset>

                    <hr class="my-6" />

                    {{ form_row(form.transportNeeds, {label: "J'ai besoin d'un transport organisé"}) }}
                    {{ form_row(form.volunteer, {label: "Je souhaite être bénévole pour aider à l'organisation"}) }}

                    <hr class="my-6" />

                    <div x-data="{with_children: {{ form.withChildren.vars.data == true ? 'true' : 'false' }}}">
                        {{ form_row(form.withChildren, {label: 'Je viens avec mes enfants', attr: {'x-model': 'with_children'}}) }}

                        <fieldset class="bg-gray-100 ml-6 mt-2 flex flex-col gap-4 rounded-lg p-4" x-show="with_children" x-transition>
                            <span class="text-sm font-medium text-gray-900">Veillez indiquer le nom prénom âge de chaque enfant.</span>

                            {{ form_row(form.children, {label: false}) }}

                            {{ form_row(form.isResponsibilityWaived, {label: 'Déclare, en qualité de responsable légal, décharger de toute responsabilité le Parti Renaissance concernant les blessures et dommages matériels ou corporels occasionnés ou subis par mon enfant, en cas de vol ou de perte de biens ainsi que toute dégradation des sites pouvant lui être imputées.'}) }}
                        </fieldset>
                    </div>

                    <hr class="my-6" />

                    {{ form_row(form.allowNotifications, {label: 'Je m’abonne à la newsletter pour ne rien rater des actualités de Renaissance (optionnel)'}) }}

                    {{ form_row(form.acceptCgu, {label: 'national_event.inscription.accept_cgu', attr: {validate: '["required"]', onCheck: "setFieldValid('acceptCgu')"}}) }}

                    {{ form_row(form.acceptMedia, {label: 'En participant à cet événement, je suis informé(e) qu’il sera filmé et autorise Renaissance ou toute structure qui se substituerait à elle, à enregistrer sur tous supports mon image et ma voix et/ou mon image et la voix d’un mineur dont je suis le représentant légal, à l’exploiter et à la diffuser en intégralité ou par extrait (1)', attr: {validate: '["required"]', onCheck: "setFieldValid('acceptMedia')"}}) }}

                    <hr class="my-6" />

                    {{ form_row(form.accessibility, {label: 'Avez-vous un handicap visible ou invisible nécessitant des aménagements spécifiques ?'}) }}

                    <div class="w-full re-field-frame !h-auto cursor-pointer"
                         @click="dom('.frc-button')?.click()">
                        {{ include('renaissance/partials/friendly-captcha.html.twig', {friendly_captcha_site_key: friendly_captcha_europe_site_key}) }}
                    </div>

                    <twig:ReButton
                            class="w-full"
                            color="black"
                    >Je réserve ma place</twig:ReButton>
                </twig:Atoms:ReCard>

                <twig:Atoms:ReCard class="max-w-[500px] re-step !gap-6 !border-black !border-[1px] ">
                    {{ event.textHelp|raw }}
                </twig:Atoms:ReCard>

                <twig:Atoms:ReCard class="max-w-[500px] re-step !gap-6 !border-white/20 !border-[1px] text-white !bg-[rgb(47,53,50)]">
                    <h2 class="font-medium">Légalités</h2>

                    <p>
                        Les données recueillies sur ce formulaire sont traitées par Renaissance et ses équipes aux fins d’organisation de cet événement. Elles permettront à ses équipes de gérer les informations relatives aux participants et de vous inviter à d’autres événements qu’elles organisent. Elles permettront également à Renaissance de vous envoyer ses communications politiques si vous y consentez. En envoyant ce formulaire, vous acceptez que Renaissance traite vos données pour ces finalités. Les champs marqués d’un astérisque sont obligatoires, l’absence de réponse dans ces champs ne permettra pas de traiter votre demande. Vos données seront conservées jusqu’à 1 mois à compter de la fin de l’événement ou jusqu’au retrait de votre consentement lorsque vous acceptez de recevoir les communications politiques de Renaissance.
                        Conformément à la réglementation en vigueur, vous pouvez retirer votre consentement à tout moment. Vous disposez d’un droit d’opposition et d’un droit à la limitation du traitement des données vous concernant, ainsi que d’un droit d’accès, de rectification et d’effacement de vos données. Vous disposez, par ailleurs, de la faculté de donner des directives sur le sort de vos données après votre décès. Vous pouvez exercer vos droits en contactant Renaissance à l’adresse postale : Renaissance, 68 rue du Rocher 75008 Paris, ou à l’adresse électronique mes-donnees@parti-renaissance.fr. Dans certaines hypothèses, une copie de votre pièce d’identité pourra vous être demandée. Pour toute information relative au traitement de vos données par Renaissance, vous pouvez consulter la politique de protection des données ou contacter le délégué à la protection des données à l’adresse dpo@parti-renaissance.fr
                    </p>

                    <p>
                        (1) J’autorise Renaissance ou toute structure qui se substituerait à elle, à enregistrer, à fixer mon image et/ou ma voix sur tous supports, à l’exploiter et à la diffuser en intégralité ou par extrait sans limitation du nombre de reproduction, sur tous canaux, sites web et réseaux sociaux édités par les équipes de Renaissance ou ses associations partenaires, dans le cadre de sa communication politique, sous toutes formes, par quelque moyen technique que ce soit, et dans le monde entier, et ce, pour une durée de 2 ans. J’accepte également que cette vidéo soit partagée en intégralité ou par extrait, sur les réseaux sociaux par d’autres utilisateurs. Cette autorisation est consentie à titre gratuit, sans aucune exploitation commerciale.
                        Si je participe en compagnie d’une personne mineure, en qualité de représentant légal de cette personne mineure, j’autorise sans réserve Renaissance ou toute structure qui se substituerait à elle, à enregistrer, à fixer les images de la personne participante dont j’ai la responsabilité, ainsi que les éléments sonores dont elle serait l’émettrice, durant l’événement autorise Renaissance à exploiter ces images et/ou éléments sonores, à les diffuser intégralement ou par extrait, sans limitation du nombre de reproduction, sur tous canaux, sites web et réseaux sociaux édités par Renaissance ou ses partenaires, dans le cadre de sa communication politique, sous toutes formes, par quelque moyen technique que ce soit, et dans le monde entier, et ce, pour un durée de 2 ans. J’accepte également que cette vidéo contenant l’image et/ou la voix de la personne dont j’ai la responsabilité soit partagée sur les réseaux sociaux par d’autres utilisateurs. Cette autorisation est consentie à titre gratuit, sans aucune exploitation commerciale.
                    </p>
                </twig:Atoms:ReCard>
            </div>
        </div>
        <input type="hidden" id="email-validation-token" value="{{ email_validation_token }}"/>
    {{ form_end(form) }}
{% endblock %}
