{% extends 'renaissance/national_event/_confirmation_layout.html.twig' %}

{% block background_image '' %}
{% block body_classes 'bg-ui_gray-5' %}

{% set is_confirmation = app.request.query.has('confirmation') %}

{% block header %}
    <header class="flex py-10 md:py-20 justify-center w-full">
        <a href="{{ path('renaissance_site') }}">
            <img src="{{ asset('/images/renaissance/logo-dark.svg') }}" alt="logo"/>
        </a>
    </header>
{% endblock %}

{% block content %}
    <main class="max-w-screen-lg flex justify-center mx-auto pb-10">
        <section class="w-full grid grid-cols-1 md:grid-cols-2 gap-4 md:gap-8 p-4 md:p-1">
            {% if inscription.isPaymentRequired() and not inscription.isPaymentSuccess() %}
                <div class="md:col-span-2 order-first">
                    <twig:ReParagraphStatus status="error" icon slim="true">
                        Aucun paiement n’a encore été enregistré. Veuillez <a class="font-medium text-ui_blue-50" href="{{ path('app_national_event_new_payment', {slug: event.slug, uuid: inscription.uuid}) }}">procéder au règlement</a> pour valider votre inscription.
                    </twig:ReParagraphStatus>
                </div>
            {% endif %}

            {% if is_confirmation %}
                <twig:Atoms:ReCard class="md:col-span-2 bg-gradient-to-r from-[#AE2EE0] to-[#EA9818] !p-0 !border-0">
                    <div class="flex gap-10 bg-white bg-opacity-95 h-full p-8 m-[1px] rounded-[calc(theme(borderRadius.2xl)+3px)]">
                        {% if event.intoImage %}
                            <div class="hidden md:flex items-center justify-center h-full w-64">
                                {% set imgRatio = event.intoImage.getHeight() / event.intoImage.getWidth() %}
                                {% set imgHeight = 264 * imgRatio %}
                                <div style="height: {{ imgHeight }}px;" class="relative w-full">
                                    <img
                                        src="{{ vich_uploader_asset(event.intoImage) }}"
                                        loading="lazy"
                                        class="absolute inset-0 w-full h-full object-cover rounded-2xl"
                                    />
                                </div>
                            </div>
                        {% endif %}

                        <div class="flex flex-col gap-8">
                            <div class="flex flex-col md:flex-row gap-8">
                                <div class="flex items-center justify-center bg-ui_blue-20 rounded-full w-12 h-12 flex-shrink-0">
                                    <div class="p-1 bg-ui_blue-50 rounded-full text-ui_blue-50"><twig:ReIcon name="valid" /></div>
                                </div>

                                <h1 class="text-ui_gray-80 font-medium text-2xl leading-none">Votre inscription au grand rassemblement 2025 a bien été enregistrée !</h1>
                            </div>

                            <p>Votre billet vous sera envoyé peu de temps avant l'événement.<br/>Il vous sera nécessaire pour y accéder.</p>
                        </div>
                    </div>
                </twig:Atoms:ReCard>
            {% endif %}

            <twig:Atoms:ReCard class="{{ is_confirmation ? 'order-last' : 'order-first' }} md:order-none">
                {{ include('renaissance/partials/flashes.html.twig', {slim: true}) }}

                <div class="flex justify-between items-center">
                    <h2 class="font-medium text-2xl">Mon inscription</h2>

                    {% if inscription.isPaymentRequired() and not inscription.isPaymentSuccess() %}
                        <twig:Molecules:ReBadge status="error" icon="error">Paiement en attente</twig:Molecules:ReBadge>
                    {% elseif not inscription.isApproved %}
                        <twig:Molecules:ReBadge status="info" icon="clock">En attente de validation</twig:Molecules:ReBadge>
                    {% endif %}
                </div>

                <div class="flex flex-col gap-4">
                    <p class="font-medium">Informations personnelles</p>

                    <div class="flex flex-col bg-ui_gray-1 rounded-2xl p-6">
                        <div>
                            <span class="font-medium">Prénom Nom :</span>
                            {{ inscription.gender|civility_alias }} {{ inscription.firstName }} {{ inscription.lastName }}
                        </div>
                        <div>
                            <span class="font-medium">Email :</span>
                            {{ inscription.addressEmail }}
                        </div>
                        <div>
                            <span class="font-medium">Code postal :</span>
                            {{ inscription.postalCode }}
                        </div>
                        <div>
                            <span class="font-medium">Date de naissance :</span>
                            {{ inscription.birthdate|date('d/m/Y') }}
                        </div>
                        <div>
                            <span class="font-medium">Lieu de naissance :</span>
                            {{ inscription.birthPlace }}
                        </div>
                        <div>
                            <span class="font-medium">Téléphone :</span>
                            {{ inscription.phone ? inscription.phone|phone_number_format }}
                        </div>
                        {% if inscription.isJAM %}
                            <div>
                                <span class="font-medium">Membre des JAM :</span>
                                OUI
                            </div>
                        {% endif %}
                    </div>
                </div>

                {% if inscription.allowEditInscription() %}
                    <twig:ReButton stroke tag="a" href="{{ path('app_national_event_edit_inscription', {slug: event.getSlug(), uuid: inscription.getUuid().toString()}) }}">Modifier mes informations</twig:ReButton>
                {% endif %}

                <div class="flex flex-col gap-4">
                    <p class="font-medium">Mon forfait</p>
                    {% set visit_day_config = inscription.getVisitDayConfig() %}

                    {% if visit_day_config %}
                        <div class="flex flex-col bg-ui_gray-1 rounded-lg p-6 gap-2">
                            <p class="font-medium">{{ visit_day_config.titre }}</p>
                            <div>{{ visit_day_config.description|raw }}</div>
                        </div>
                    {% endif %}

                    {% set transport_config = inscription.getTransportConfig() %}

                    {% if transport_config %}
                        <div class="flex flex-col bg-ui_gray-1 rounded-lg p-6 gap-2">
                            <p class="font-medium">{{ transport_config.titre }}</p>

                            {% if transport_config.description is defined %}
                                <div>{{ transport_config.description|raw }}</div>
                            {% endif %}

                            {% if transport_config.montant is defined %}
                                <div>
                                    <span class="text-ui_blue-50 font-medium">{{ transport_config.montant }} €</span> -

                                    {% if inscription.isPaymentSuccess() %}
                                        <span class="text-ui_green-50 italic">Paiement accepté</span>
                                    {% elseif inscription.isPaymentFailed() %}
                                        <span class="text-ui_red-50 italic">Paiement échoué</span>
                                    {% else %}
                                        <span class="text-amber-500 italic">Paiement en attente</span>
                                    {% endif %}
                                </div>
                            {% else %}
                                <div class="text-ui_green-50 font-medium">Gratuit</div>
                            {% endif %}
                        </div>
                    {% endif %}

                    {% set accommodation_config = inscription.getAccommodationConfig() %}

                    {% if accommodation_config %}
                        <div class="flex flex-col bg-ui_gray-1 rounded-lg p-6 gap-2">
                            <p class="font-medium">{{ accommodation_config.titre }}</p>

                            {% if accommodation_config.description is defined %}
                                <div>{{ accommodation_config.description|raw }}</div>
                            {% endif %}

                            {% if accommodation_config.montant is defined %}
                                <div>
                                    <span class="text-ui_blue-50 font-medium">{{ accommodation_config.montant }} €</span> -

                                    {% if inscription.isPaymentSuccess() %}
                                        <span class="text-ui_green-50 italic">Paiement accepté</span>
                                    {% elseif inscription.isPaymentFailed() %}
                                        <span class="text-ui_red-50 italic">Paiement échoué</span>
                                    {% else %}
                                        <span class="text-amber-500 italic">Paiement en attente</span>
                                    {% endif %}
                                </div>
                            {% else %}
                                <div class="text-ui_green-50 font-medium">Gratuit</div>
                            {% endif %}

                            {% if accommodation_config.accompagnement is defined %}
                                <div class="flex flex-col gap-4 border border-[#919EAB] p-6 rounded-lg bg-white mt-2">
                                    <p class="text-ui_gray-80 font-medium">
                                        {% if inscription.accommodation == 'chambre_individuelle' %}
                                            {% if inscription.roommateIdentifier %}
                                                Vous partagez cette chambre en couple
                                            {% else %}
                                                Vous ne partagez pas cette chambre en couple
                                            {% endif %}
                                        {% elseif inscription.accommodation == 'chambre_partagee' %}
                                            Vous partagez cette chambre avec un autre participant
                                        {% endif %}
                                    </p>
                                    <p class="text-[#919EAB]">
                                        {% if inscription.accommodation == 'chambre_individuelle' %}
                                            {% if inscription.roommateIdentifier %}
                                                {% if roommate %}
                                                    Lors de votre inscription vous avez sélectionné <span class="font-bold">{{ roommate }} ({{ roommate.publicId }})</span> pour partager le lit double de votre chambre.
                                                {% endif %}
                                            {% else %}
                                                Lors de votre inscription vous n’avez pas déclaré partager cette chambre en couple.
                                            {% endif %}
                                        {% elseif inscription.accommodation == 'chambre_partagee' %}
                                            {% if inscription.roommateIdentifier %}
                                                {% if roommate %}
                                                    Lors de votre inscription vous avez déclaré vouloir partager votre chambre avec <span class="font-bold">{{ roommate }} ({{ roommate.publicId }})</span>. Vous disposerez chacun d’un lit simple.
                                                {% endif %}
                                            {% else %}
                                                Lors de votre inscription vous n’avez pas fléché d’autre participant pour partager votre chambre.
                                                <br/><br/>
                                                Par défaut, nous choisirons un participant de même civilité et d’âge similaire.
                                            {% endif %}
                                        {% endif %}
                                    </p>
                                </div>
                            {% endif %}
                        </div>
                    {% endif %}
                </div>

                {% if inscription.allowEditInscription() %}
                    <twig:ReButton stroke tag="a" href="{{ path('app_national_event_edit_transport', {slug: event.getSlug(), uuid: inscription.getUuid().toString()}) }}">Changer de forfait</twig:ReButton>
                {% endif %}
            </twig:Atoms:ReCard>

            <twig:Atoms:ReCard class="h-fit">
                <div class="flex flex-col gap-[24px] text-base">
                    {% if event.textConfirmation %}
                        <div>{{ event.textConfirmation|raw }}</div>
                    {% endif %}

                    <hr/>

                    <p class="text-ui_gray-80">Suivez nos réseaux sociaux :</p>

                    <div class="flex items-center justify-center gap-[40px]">
                        {{ include('renaissance/national_event/partials/sn_links.html.twig') }}
                    </div>
                </div>
            </twig:Atoms:ReCard>

            <twig:Atoms:ReCard class="{{ not is_confirmation ? 'order-first' }} bg-gradient-to-r from-[#AE2EE0] to-[#EA9818] !p-0 !border-0">
                <div class="flex flex-col gap-6 bg-white bg-opacity-95 p-8 h-full m-[1px] rounded-[calc(theme(borderRadius.2xl)+3px)]">
                    <div class="flex gap-6">
                        <img src="{{ asset('images/renaissance/meeting/billet.png') }}" alt="Billet" class="w-[150px]"/>

                        <div class="flex flex-col gap-4">
                            <h2 class="font-medium text-2xl text-ui_gray-80">Mon billet</h2>
                            <p class="text-ui_gray-80">Votre billet sera envoyé avant le grand jour. Il sera demandé pour accéder à l’événement.</p>
                        </div>
                    </div>

                    <button disabled class="w-full border cursor-not-allowed p-2 border-ui_gray-30 bg-white text-ui_gray-40 rounded-[10px]">
                        Billet bientôt disponible
                    </button>
                </div>
            </twig:Atoms:ReCard>

            <twig:Atoms:ReCard class="{{ not is_confirmation ? 'order-first' }} bg-gradient-to-r from-[#AE2EE0] to-[#EA9818] !p-0 !border-0">
                <div class="flex flex-col gap-6 bg-white bg-opacity-95 p-8 m-[1px] h-full rounded-[calc(theme(borderRadius.2xl)+3px)]">
                    <div class="flex gap-6">
                        <img src="{{ asset('images/renaissance/meeting/programme.png') }}" alt="Programme" class="w-[150px]"/>

                        <div class="flex flex-col gap-4">
                            <h2 class="font-medium text-2xl text-ui_gray-80">Programme</h2>
                            <p class="text-ui_gray-80">Découvrez les temps forts, ateliers et invités de l’événement : consultez le programme !</p>
                        </div>
                    </div>

                    <button disabled class="w-full border cursor-not-allowed p-2 border-ui_gray-30 bg-white text-ui_gray-40 rounded-[10px]">
                        Programme bientôt disponible
                    </button>
                </div>
            </twig:Atoms:ReCard>
        </section>
    </main>
{% endblock %}
