{% extends 'renaissance/national_event/_confirmation_layout.html.twig' %}

{% block background_image '' %}
{% block body_classes 'bg-ui_gray-5' %}

{% set is_confirmation = app.request.query.has('confirmation') %}

{% block header %}
    <header class="flex py-10 md:py-20 justify-center w-full">
        {% if event.logoImage %}
            <img class="max-h-36" src="{{ vich_uploader_asset(event.logoImage) }}" alt="logo"/>
        {% else %}
            <a href="{{ path('renaissance_site') }}">
                <img src="{{ asset('/images/renaissance/logo-dark.svg') }}" alt="logo" />
            </a>
        {% endif %}
    </header>
{% endblock %}

{% block content %}
    <main class="max-w-screen-lg flex justify-center mx-auto pb-10">
        <section class="w-full grid grid-cols-1 md:grid-cols-2 gap-4 md:gap-8 p-4 md:p-1">
            {% if inscription.isWaitingPayment() %}
                <div class="md:col-span-2">
                    <twig:ReParagraphStatus status="error" icon slim="true">
                        Aucun paiement n’a encore été enregistré. Veuillez <a class="font-medium text-ui_blue-50" href="{{ path('app_national_event_new_payment', {slug: event.slug, uuid: inscription.uuid}) }}">procéder au règlement</a> pour valider votre inscription.
                    </twig:ReParagraphStatus>
                </div>
            {% endif %}

            {% if inscription.isTicketReady() and inscription.ticketSentAt %}
                <p class="text-ui_red-50 w-1/2 text-center md:col-span-2 mx-auto">Pour accéder à l’événement, <strong>vous devrez obligatoirement le présenter accompagné d’une pièce d’identité en cours de validité.</strong></p>
            {% endif %}

            {% if is_confirmation %}
                <twig:Atoms:ReCard class="md:col-span-2 bg-gradient-to-r from-[#AE2EE0] to-[#EA9818] !p-0 !border-0">
                    <div class="flex gap-10 bg-white bg-opacity-95 h-full p-8 m-[1px] rounded-[calc(theme(borderRadius.2xl)+3px)]">
                        {% if event.intoImage %}
                            <div class="hidden md:flex items-center justify-center h-full w-64">
                                {% set imgRatio = event.intoImage.getHeight() / event.intoImage.getWidth() %}
                                {% set imgHeight = 264 * imgRatio %}
                                <div style="height: {{ imgHeight }}px;" class="relative w-full">
                                    <img
                                        src="{{ vich_uploader_asset(event.intoImage) }}"
                                        loading="lazy"
                                        class="absolute inset-0 w-full h-full object-cover rounded-2xl"
                                    />
                                </div>
                            </div>
                        {% endif %}

                        <div class="flex flex-col gap-8">
                            <div class="flex flex-col md:flex-row gap-8">
                                <div class="flex items-center justify-center bg-ui_blue-20 rounded-full w-12 h-12 flex-shrink-0">
                                    <div class="p-1 bg-ui_blue-50 rounded-full text-ui_blue-50"><twig:ReIcon name="valid" /></div>
                                </div>

                                <h1 class="text-ui_gray-80 font-medium text-2xl leading-none">Votre inscription a bien été enregistrée !</h1>
                            </div>

                            <p>Votre billet vous sera envoyé peu de temps avant l'événement.<br/>Il vous sera nécessaire pour y accéder.</p>
                        </div>
                    </div>
                </twig:Atoms:ReCard>
            {% endif %}

            <twig:Atoms:ReCard class="bg-gradient-to-r from-[#AE2EE0] to-[#EA9818] !p-0 !border-0 h-fit">
                <div class="flex flex-col gap-6 bg-white bg-opacity-95 p-8 h-full m-[1px] rounded-[calc(theme(borderRadius.2xl)+3px)]">
                    {% if inscription.isTicketReady() and inscription.ticketSentAt %}
                        <div class="flex flex-col gap-8">
                            <p class="text-[#183E65] font-bold text-3xl">{{ inscription.firstName }}<br/>{{ inscription.lastName|upper }}</p>

                            {% if inscription.ticketCustomDetail %}
                                <p class="text-[#A725D7] font-bold text-4xl">{{ inscription.ticketCustomDetail }}</p>
                            {% endif %}

                            <img class="w-[200px] border-2 border-[#DDE4EB] rounded-lg" src="{{ path('app_national_event_ticket', {file: inscription.ticketQRCodeFile}) }}" alt="Mon billet" />

                            <p class="text-ui_gray-90">Présentez ce QR code à l’entrée de l’événement directement depuis votre smartphone. Vous pouvez également présenter une impression.</p>
                        </div>
                    {% else %}
                        <div class="flex gap-6">
                            <img src="{{ asset('images/renaissance/meeting/billet.png') }}" alt="Billet" class="w-[150px]"/>

                            <div class="flex flex-col gap-4">
                                <h2 class="font-medium text-2xl text-ui_gray-80">Mon billet</h2>
                                <p class="text-ui_gray-80">Votre billet sera envoyé avant le grand jour. Il sera demandé pour accéder à l’événement.</p>
                            </div>
                        </div>

                        <button disabled class="w-full border cursor-not-allowed p-2 border-ui_gray-30 bg-white text-ui_gray-40 rounded-[10px]">
                            Billet bientôt disponible
                        </button>
                    {% endif %}
                </div>
            </twig:Atoms:ReCard>

            <twig:Atoms:ReCard class="bg-gradient-to-r from-[#AE2EE0] to-[#EA9818] !p-0 !border-0 h-fit">
                <div class="flex flex-col gap-6 bg-white bg-opacity-95 p-8 m-[1px] h-full rounded-[calc(theme(borderRadius.2xl)+3px)]">
                    <div class="flex gap-6">
                        <img src="{{ asset('images/renaissance/meeting/programme.png') }}" alt="Programme" class="w-[150px]"/>

                        <div class="flex flex-col gap-4">
                            <h2 class="font-medium text-2xl text-ui_gray-80">Programme</h2>
                            <p class="text-ui_gray-80">Découvrez les temps forts, ateliers et invités de l’événement : consultez le programme !</p>
                        </div>
                    </div>

                    {% if event.programUrl %}
                        <a href="{{ event.programUrl }}" target="_blank" class="w-full border p-2 border-ui_gray-30 bg-white text-ui_gray-80 font-medium text-center rounded-[10px]">
                            Découvrir le programme
                        </a>
                    {% else %}
                        <button disabled class="w-full border cursor-not-allowed p-2 border-ui_gray-30 bg-white text-ui_gray-40 rounded-[10px]">
                            Programme bientôt disponible
                        </button>
                    {% endif %}
                </div>
            </twig:Atoms:ReCard>

            {% if inscription.transportDetail %}
                <twig:Atoms:ReCard class="h-fit !gap-2">
                    <span class="flex items-center justify-center rounded-full bg-ui_blue-1 w-12 h-12 text-ui_blue-40"><i data-lucide="tram-front"></i></span>
                    <h3 class="text-2xl text-ui_blue-40 font-bold">Mon transport</h3>
                    <div class="pt-2">{{ inscription.transportDetail|raw|nl2br }}</div>
                </twig:Atoms:ReCard>
            {% endif %}

            {% if inscription.accommodationDetail %}
                <twig:Atoms:ReCard class="h-fit !gap-2">
                    <span class="flex items-center justify-center rounded-full bg-ui_blue-1 w-12 h-12 text-ui_blue-40"><i data-lucide="bed"></i></span>
                    <h3 class="text-2xl text-ui_blue-40 font-bold">Mon hébergement</h3>
                    <div class="pt-2">{{ inscription.accommodationDetail|raw|nl2br }}</div>
                </twig:Atoms:ReCard>
            {% endif %}

            <twig:Atoms:ReCard>
                {{ include('renaissance/partials/flashes.html.twig', {slim: true}) }}

                <div class="flex justify-between items-center">
                    <h2 class="font-medium text-2xl">Mon inscription</h2>

                    {% if inscription.isApproved() %}
                        <twig:Molecules:ReBadge status="success" icon="success-outline">Inscription validée</twig:Molecules:ReBadge>
                    {% elseif inscription.isPending() %}
                        <twig:Molecules:ReBadge status="info" icon="clock">En attente de validation</twig:Molecules:ReBadge>
                    {% elseif inscription.isCanceled() %}
                        <twig:Molecules:ReBadge status="error" icon="error">Inscription annulée</twig:Molecules:ReBadge>
                    {% elseif inscription.isRefused() %}
                        <twig:Molecules:ReBadge status="error" icon="error">Inscription refusée</twig:Molecules:ReBadge>
                    {% else %}
                        <twig:Molecules:ReBadge status="error" icon="error">Inscription incomplète</twig:Molecules:ReBadge>
                    {% endif %}
                </div>

                <div class="flex flex-col gap-4">
                    <p class="font-medium">Informations personnelles</p>

                    <div class="flex flex-col bg-ui_gray-1 rounded-2xl p-6">
                        <div>
                            <span class="font-medium">Prénom Nom :</span>
                            {{ inscription.gender|civility_alias }} {{ inscription.firstName }} {{ inscription.lastName }}
                        </div>
                        <div>
                            <span class="font-medium">Email :</span>
                            {{ inscription.addressEmail }}
                        </div>
                        <div>
                            <span class="font-medium">Votre code personnel :</span>
                            {{ inscription.getPublicId() }}
                        </div>
                        <div>
                            <span class="font-medium">Code postal :</span>
                            {{ inscription.postalCode }}
                        </div>
                        <div>
                            <span class="font-medium">Date de naissance :</span>
                            {{ inscription.birthdate|date('d/m/Y') }}
                        </div>
                        {% if inscription.birthPlace %}
                            <div>
                                <span class="font-medium">Lieu de naissance :</span>
                                {{ inscription.birthPlace }}
                            </div>
                        {% endif %}
                        <div>
                            <span class="font-medium">Téléphone :</span>
                            {{ inscription.phone ? inscription.phone|phone_number_format }}
                        </div>
                        {% if inscription.isJAM %}
                            <div>
                                <span class="font-medium">Membre des JAM :</span>
                                OUI
                            </div>
                        {% endif %}
                        {% if inscription.emergencyContactName %}
                            <div class="flex flex-col gap-2">
                                <div class="font-medium">Contact d'urgence :</div>
                                <div class="flex flex-col p-4 gap-2 bg-white rounded-lg ">
                                    <div>
                                        <span class="font-medium">Prénom Nom :</span>
                                        {{ inscription.emergencyContactName }}
                                    </div>
                                    <div>
                                        <span class="font-medium">Téléphone :</span>
                                        {{ inscription.emergencyContactPhone|phone_number_format }}
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>

                {% if inscription.allowEditInscription() %}
                    <twig:ReButton stroke tag="a" href="{{ path('app_national_event_edit_inscription', {slug: event.getSlug(), uuid: inscription.getUuid().toString()}) }}">Modifier mes informations</twig:ReButton>
                {% endif %}

                {% macro info_card(title, value, description, amount, inscription) %}
                    <div class="flex flex-col bg-ui_gray-1 rounded-lg p-6 gap-2">
                        {% if title %}
                            <p class="font-bold">{{ title }}</p>
                        {% endif %}
                        <p class="font-medium">{{ value }}</p>

                        {% if description is not empty %}
                            <div>{{ description|raw }}</div>
                        {% endif %}

                        {% if amount is not null %}
                            {% if amount > 0 %}
                                <div>
                                    <span class="text-ui_blue-50 font-medium">{{ amount }} €</span>
                                    {% if inscription.amount > 0 %}
                                        -
                                        {% if inscription.isPaymentSuccess() %}
                                            <span class="text-ui_green-50 italic">Paiement accepté</span>
                                        {% elseif inscription.isPaymentFailed() %}
                                            <span class="text-ui_red-50 italic">Paiement échoué</span>
                                        {% else %}
                                            <span class="text-amber-500 italic">Paiement en attente</span>
                                        {% endif %}
                                    {% endif %}
                                </div>
                            {% else %}
                                <div class="text-ui_green-50 font-medium">Gratuit</div>
                            {% endif %}
                        {% endif %}
                    </div>
                {% endmacro %}

                <div class="flex flex-col gap-4">
                    <p class="font-medium">Mon forfait</p>

                    {% import _self as display %}

                    {% set package_config = event.getIndexedPackageConfig() %}
                    {% set keys_to_display = [
                        'visitDay',
                        'packagePlan',
                        'transport',
                        'packageCity',
                        'packageDepartureTime',
                        'packageDonation',
                        'accommodation',
                    ] %}

                    {% for key in keys_to_display %}
                        {% set userValue = inscription.packageValues[key] ?? null %}
                        {% set fieldConfig = attribute(package_config, key) ?? null %}

                        {% if userValue and fieldConfig %}
                            {% if fieldConfig.options is not defined or fieldConfig.options is empty %}
                                {{ display.info_card(
                                    null,
                                    fieldConfig.titre,
                                    userValue,
                                    null,
                                    inscription,
                                ) }}
                            {% else %}
                                {% set selectedOption = null %}

                                {% for option in fieldConfig.options %}
                                    {% if option == userValue or (option is iterable and ((option.id ?? null) == userValue or (option.titre ?? null) == userValue)) %}
                                        {% set selectedOption = option %}
                                    {% endif %}
                                {% endfor %}

                                {% if selectedOption %}
                                    {{ display.info_card(
                                        selectedOption is iterable and selectedOption.description is defined ? null : fieldConfig.titre,
                                        selectedOption.titre ?? selectedOption.id ?? selectedOption,
                                        selectedOption.description ?? null,
                                        selectedOption.montant ?? null,
                                        inscription,
                                    ) }}
                                {% endif %}
                            {% endif %}
                        {% endif %}
                    {% endfor %}

                    {% for key in ['partie1place', 'partie2place'] %}
                        {% set userValue = inscription.packageValues[key] ?? null %}
                        {% set fieldConfig = attribute(package_config, key) ?? null %}
                        {% if userValue and fieldConfig %}
                            {% set row = userValue|first %}
                            {{ display.info_card(
                                null,
                                'Place' ~ (key == 'partie1place' ? ' première' : ' deuxième') ~ ' partie',
                                'Rangée ' ~ row ~ ' - Place ' ~ userValue,
                                null,
                                inscription,
                            ) }}
                        {% endif %}
                    {% endfor %}
                </div>

                {% if inscription.allowEditInscription() or (event.startDate > date('now') and not inscription.amount) %}
                    <twig:ReButton stroke tag="a" href="{{ path('app_national_event_package_edit', {slug: event.getSlug(), uuid: inscription.getUuid().toString()}) }}">Changer de forfait</twig:ReButton>
                {% endif %}
            </twig:Atoms:ReCard>

            <twig:Atoms:ReCard class="h-fit">
                <div class="flex flex-col gap-[24px] text-base">
                    {% if event.textConfirmation %}
                        <div>{{ event.textConfirmation|raw }}</div>
                    {% endif %}

                    <hr/>

                    <p class="text-ui_gray-80">Suivez nos réseaux sociaux :</p>

                    <div class="flex items-center justify-center gap-[40px]">
                        {{ include('renaissance/national_event/partials/sn_links.html.twig') }}
                    </div>
                </div>
            </twig:Atoms:ReCard>
        </section>
    </main>
{% endblock %}

{% block head_javascripts %}
    {{ parent() }}

    {% if is_confirmation %}
        <script>
            if (document.cookie.split('; ').some(cookie => cookie.startsWith('axeptio_cookies='))) {
                window.axeptioSettings = {
                    clientId: "688098fa82b4b17eaa2085ea",
                    cookiesVersion: "utilisateur-fr-EU",
                };

                (function(d,s) {
                    var t = d.getElementsByTagName(s)[0], e = d.createElement(s);
                    e.async = true; e.src = "//static.axept.io/sdk.js";
                    t.parentNode.insertBefore(e, t);
                })(document, "script");

                void 0 === window._axcb && (window._axcb = []);

                window._axcb.push(function(axeptio) {
                    axeptio.on("cookies:complete", function(choices) {
                        if (!!choices.facebook_pixel) {
                            !function(f,b,e,v,n,t,s) {
                                if(f.fbq)return;n=f.fbq=function(){n.callMethod?
                                    n.callMethod.apply(n,arguments):n.queue.push(arguments)};
                                if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
                                n.queue=[];t=b.createElement(e);t.async=!0;
                                t.src=v;s=b.getElementsByTagName(e)[0];
                                s.parentNode.insertBefore(t,s)
                            }(window, document,'script', 'https://connect.facebook.net/en_US/fbevents.js');
                            fbq('init', '934128938863527');
                            fbq('track', 'CompleteRegistration');
                        }
                    })
                })
            }
        </script>
    {% endif %}
{% endblock %}
