{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} | Réinitialisation du mot de passe
{% endblock %}

{% block banner '' %}

{% block content %}

    <main>
        <section class="l__wrapper-500">
            <div class="reset-password">
                <h2>Espace adhérent</h2>

                <div class="security__form">
                    <p class="security__form__title">Réinitialisation du mot de passe</p>

                    {{ form_start(form) }}

                        {{ form_errors(form) }}

                        <div class="form__row">
                            {{ form_errors(form.password) }}
                            {{ form_widget(form.password.first, { attr: { class: 'form--full' } }) }}
                            {{ form_widget(form.password.second, { attr: { class: 'form--full' } }) }}
                        </div>

                        <div class="form__row">
                            {{ form_widget(form.submit, { label: 'Réinitialiser le mot de passe', attr: { class: 'form form--full btn btn--blue login__button' } }) }}
                        </div>

                        {{ form_rest(form) }}
                    {{ form_end(form) }}
                </div>
            </div>
        </section>
    </main>
{% endblock %}
