{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} | Connexion
{% endblock %}

{% block banner '' %}

{% block content %}

    <main>
        <section class="l__wrapper-500">
            <div class="login">
                <h2>Espace adhérent</h2>

                <div class="security__form">
                    <p class="security__form__title">Connectez-vous à votre espace adhérent</p>

                    <form action="{{ path('app_adherent_login_check') }}" name="app_login" method="post">

                    {{ form_errors(form) }}

                    {% if error %}
                        <div class="form__error login__error">
                            Identifiants invalides.
                        </div>
                    {% endif %}

                    <div class="form__row">
                        {{ form_widget(form._adherent_email, { 'attr': {
                            'placeholder': 'Addresse e-mail',
                            'aria-label': 'Addresse e-mail',
                            'class': 'form--full'
                        } }) }}
                    </div>

                    <div class="form__row">
                        {{ form_widget(form._adherent_password, { 'attr': {
                            'placeholder': 'Mot de passe',
                            'aria-label': 'Mot de passe',
                            'class': 'form--full'
                        } }) }}
                    </div>

                    {{ form_rest(form) }}

                    <button type="submit"
                            title="Je me connecte"
                            class="form form--full btn btn--primary login__button">Je me connecte</button>
                    </form>
                </div>

                <a href="{{ path('adherent_forgot_password') }}">Mot de passe oublié</a>

                <div class="login__separator">
                    <div class="login__separator__text">ou</div>
                </div>

                <div class="login__subscribe">
                    <a href="{{ path('app_membership_register') }}" title="J'adhère à En Marche !"
                       class="form form--full btn btn--primary login__button">
                        J'adhère à En Marche !
                    </a>
                </div>
            </div>
        </section>
    </main>
{% endblock %}
