{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} | Connexion
{% endblock %}

{% block stylesheets %}
    <style type="text/css">
        body {
            height: 100vh;
            justify-content: space-between;
        }
        header,
        footer {
            flex-grow: 0;
        }
        main {
            flex-grow: 1;
        }
    </style>
{% endblock %}

{% block banner '' %}

{% block content %}

    <main class="login">
        <section class="l__wrapper-300">
            <div>
                <h2>Identifiez-vous</h2>

                <div class="security__form">
                    <form action="{{ path('app_adherent_login_check') }}" name="app_login" method="post">

                    {{ form_errors(form) }}

                    {% if error %}
                        <div class="form__error login__error">
                            Oups! Vos identifiants sont invalides.
                        </div>
                    {% endif %}

                    <div class="form__row">
                        {{ form_widget(form._adherent_email, { 'attr': {
                            'placeholder': 'Addresse e-mail',
                            'aria-label': 'Addresse e-mail',
                            'class': 'form--full'
                        } }) }}
                    </div>

                    <div class="form__row">
                        {{ form_widget(form._adherent_password, { 'attr': {
                            'placeholder': 'Mot de passe',
                            'aria-label': 'Mot de passe',
                            'class': 'form--full'
                        } }) }}
                    </div>

                    {{ form_rest(form) }}

                    <button type="submit"
                            title="Je me connecte"
                            class="form form--full btn btn--primary">Je me connecte</button>
                    </form>
                </div>

                <p><a href="{{ path('adherent_forgot_password') }}">Mot de passe oublié</a></p>

                <div class="login__separator">
                    <div class="login__separator__text">Pas encore adhérent?</div>
                </div>

                <a href="{{ path('app_membership_register') }}" title="J'adhère à En Marche !"
                    class="form form--full btn login__subscribe">
                    J'adhère à En Marche !
                </a>
                </div>
            </div>
        </section>
    </main>
{% endblock %}
