{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} | Mot de passe oublié
{% endblock %}

{% block banner '' %}

{% block content %}

    <main>
        <section class="l__wrapper-500">
            <div class="forgot-password">
                <h2>Espace adhérent</h2>

                <div class="security_password__form">
                    <p class="security__form__title">Mot de passe oublié</p>

                    {{ form_start(form) }}

                        {{ form_errors(form) }}

                        <div class="form__row">
                            {{ form_errors(form.email) }}
                            {{ form_widget(form.email, { attr: {
                                placeholder: 'Addresse e-mail',
                                'aria-label': 'Addresse e-mail',
                                class: 'form--full'
                            } }) }}
                        </div>

                        <div class="form__row">
                            {{ form_widget(form.submit, { label: 'Envoyer un e-mail', attr: { class: 'form form--full btn btn--primary login__button' } }) }}
                        </div>

                        {{ form_rest(form) }}
                    {{ form_end(form) }}
                </div>
            </div>
        </section>
    </main>
{% endblock %}
