{% for event in results %}
    {% if date is not defined or date != event.beginAt|date('Ymd') %}
        {% set date = event.beginAt|date('Ymd') %}

        <h1>{{ event.beginAt|localizeddate('none', 'none', 'fr_FR', null, 'd MMMM Y') }}</h1>
    {% endif %}

    <div style="margin: 10px">
        <img src="{{ path('map_url', { latitude: event.latitude, longitude: event.longitude }) }}" style="float: right; width: 200px">

        <p class="text--medium">{{ event.name }}</p>
        <p>
            {{ event.beginAt|localizeddate('none', 'none', 'fr_FR', null, 'd MMMM Y') }} &mdash; à {{ event.cityName }}
        </p>
        <p>Organisé par : <strong>{{ event.committee.name }}</strong></p>

        <a href="{{ path('app_committee_attend_event', { committee_uuid: event.committee.uuid, slug: event.slug }) }}" class="btn btn--blue">Je Participe</a>
        <i class="fa fa-users"></i> {{ 'committee.participants_count'|transchoice(event.participantsCount) }}

        <hr style="clear: both"/>
    </div>
{% endfor %}
