<ul class="search__bar__toggle">
    {% set currentRoute = app.request.attributes.get('_route') %}
    <li class="{{ currentRoute == 'app_search_events' ? 'active' }}">
        <a href="{{ path('app_search_events') }}" class="link--no-decor">Événements</a>
    </li>
    <li class="{{ currentRoute == 'app_search_committees' ? 'active' }}">
        <a href="{{ path('app_search_committees') }}" class="link--no-decor">Comités</a>
    </li>
</ul>
<div class="search__bar space--30 text--white text--body">
    <div class="search__bar__options">
        <input class="search-box" name="{{ constant('PARAMETER_QUERY', search) }}" placeholder="Rechercher...">

        {% if search_type is constant('TYPE_EVENTS', search) %}
            <div class="search__event__type">
                <select name="{{ constant('PARAMETER_EVENT_CATEGORY', search) }}" class="form">
                    <option value="" selected="selected">Tous les événements</option>
                    {% for label, category in event_categories %}
                        <option value="{{ category }}">{{ label }}</option>
                    {% endfor %}
                </select>
            </div>
        {% endif %}

        <div>
            dans un rayon de
            {# this widget will be embedded in the ribbon text #}
            <select name="{{ constant('AppBundle\\Search\\SearchParametersFilter::PARAMETER_RADIUS') }}">
                {% for option in constant('AppBundle\\Search\\SearchParametersFilter::RADII') %}
                    <option value="{{ option }}" {% if constant('AppBundle\\Search\\SearchParametersFilter::DEFAULT_RADIUS') == option %}selected="selected"{% endif %}>{{ option }} Km</option>
                {% endfor %}
            </select>
        </div>

        <div>
            autour de
            {# this widget will be embedded in the ribbon text #}
            <input class="search-city" name="{{ constant('PARAMETER_CITY', search) }}" value="{% if app.user.cityName is defined %}{{ app.user.cityName }}{% else %}{{ constant('DEFAULT_CITY', search) }}{% endif %}" placeholder="Ville ou code postal">
            <input type="hidden" name="{{ constant('PARAMETER_TYPE', search) }}" value="{{ search_type }}"/>
        </div>
    </div>
</div>
