<ul class="search__bar__toggle">
    {% set currentRoute = app.request.attributes.get('_route') %}
    <li class="{{ currentRoute == 'app_search_events' ? 'active' }}">
        <a href="{{ path('app_search_events') }}" class="link--no-decor">Événements</a>
    </li>
    <li class="{{ currentRoute == 'app_search_committees' ? 'active' }}">
        <a href="{{ path('app_search_committees') }}" class="link--no-decor">Comités</a>
    </li>
</ul>
<div class="search__bar space--20 text--white text--body">
    <div class="search__bar__options">
        <div>
            Rechercher dans un rayon de
            {# this widget will be embedded in the ribbon text #}
            <select name="{{ constant('AppBundle\\Search\\SearchParametersFilter::PARAMETER_RADIUS') }}">
                {% for option in constant('AppBundle\\Search\\SearchParametersFilter::RADII') %}
                    <option value="{{ option }}" {% if constant('AppBundle\\Search\\SearchParametersFilter::DEFAULT_RADIUS') == option %}selected="selected"{% endif %}>{{ option }} Km</option>
                {% endfor %}
            </select>

            autour de
            {# this widget will be embedded in the ribbon text #}
            <input class="search-city" name="{{ constant('PARAMETER_CITY', search) }}" value="{% if app.user.cityName is defined %}{{ app.user.cityName }}{% else %}{{ constant('DEFAULT_CITY', search) }}{% endif %}" placeholder="Ville ou code postal">
            <input type="hidden" name="{{ constant('PARAMETER_TYPE', search) }}" value="{{ search_type }}"/>
        </div>

        <ul class="search__bar__toggle">
            {% set currentRoute = app.request.attributes.get('_route') %}
            <li class="{{ currentRoute == 'app_search_events' ? 'active' }}">
                <a href="{{ path('app_search_events') }}" class="link--no-decor">Événements</a>
            </li>
            <li class="{{ currentRoute == 'app_search_committees' ? 'active' }}">
                <a href="{{ path('app_search_committees') }}" class="link--no-decor">Comités</a>
            </li>
        </ul>
    </div>
    <a class="btn btn--blue">Rechercher</a>
</div>
