<div class="background--blue space--30 b__nudge--bottom-60 text--white text--body">
    <div class="search__bar">
        <div class="search__bar__options">
            <input class="search-box" name="{{ constant('PARAMETER_QUERY', search) }}" placeholder="Recherche">

            <div>
                dans un rayon de
                {# this widget will be embedded in the ribbon text #}
                <select name="{{ constant('PARAMETER_RADIUS', search) }}">
                    {% for option in constant('RADII', search) %}
                        <option value="{{ option }}" {% if constant('DEFAULT_RADIUS', search) == option %}selected="selected"{% endif %}>{{ option }} km</option>
                    {% endfor %}
                </select>

                autour de
                {# this widget will be embedded in the ribbon text #}
                <input class="search-city" name="{{ constant('PARAMETER_CITY', search) }}" value="{% if app.user.cityName is defined %}{{ app.user.cityName }}{% else %}{{ constant('DEFAULT_CITY', search) }}{% endif %}" placeholder="Ville ou code postal">
                <input type="hidden" name="{{ constant('PARAMETER_TYPE', search) }}" value="{{ search_type }}"/>
            </div>
        </div>

        <ul class="search__bar__toggle">
            {% set currentRoute = app.request.attributes.get('_route') %}
            <li class="{{ currentRoute == 'app_search_events' ? 'active' }}">
                <a href="{{ path('app_search_events') }}" class="link--no-decor">Événements</a>
            </li>
            <li class="{{ currentRoute == 'app_search_committees' ? 'active' }}">
                <a href="{{ path('app_search_committees') }}" class="link--no-decor">Comités</a>
            </li>
        </ul>
    </div>

    {% if enable_canary and search_type is constant('TYPE_EVENTS', search) %}
        <div class="search__event__type">
            type d'événement
            <select name="{{ constant('PARAMETER_EVENT_CATEGORY', search) }}" class="form form__field">
                <option value="" selected="selected">Tous</option>
                {% for label, category in event_categories %}
                    <option value="{{ category }}">{{ label }}</option>
                {% endfor %}
            </select>
        </div>
    {% endif %}
</div>
