<table class="datagrid__table-manager">
    <thead>
    <tr>
        <th width="50" class="space--20"><input type="checkbox" id="items-check-all" /></th>
        {% set order = filter.order and filter.order == 'd' ? 'a' : 'd' %}

        <th style="width: 100px;">
            <a
                    href="{{ path("app_referent_elected_representatives_list", {f: filter.toArray()|merge({sort: 'lastName', order: order})}) }}"
                    class="sort-link sort-link--order-{{ filter.sort == 'lastName' ? filter.order : 'a' }}"
            >
                Identité
            </a>
        </th>
        <th style="width: 100px;">Mandats actuels (nuance)</th>
        <th style="width: 100px;">Fonctions actuelles</th>
        <th style="width: 100px;">Étiquettes</th>
        <th style="width: 100px;">Labels</th>
        <th style="width: 100px;">Réseaux sociaux</th>
        <th style="width: 100px;">Adhérent</th>
        <th style="width: 100px;">Action</th>
    </tr>
    </thead>
    <tbody>
    {% for key, elected_representative in elected_representatives %}
        <tr class="referent__item">
            <td><input type="checkbox" name="items[]" value="{{ elected_representative.id }}" /></td>
            <td class="adherent-identity">
                <div class="adherent-name">
                    {{ elected_representative.lastName }} {{ elected_representative.firstName }}
                </div>
                <div class="adherent-caracs">
                    {{ elected_representative.gender ? ('male' == elected_representative.gender ? 'common.gender.man' : 'common.gender.woman')|trans : '~' }},
                    {{ elected_representative.age ? elected_representative.age ~ ' ans' : '~'}}
                </div>
            </td>
            <td>
                {% for mandate in elected_representative.mandates %}
                    <b>{{ mandate }}</b><br />
                    <i>{{ mandate.zone }}</i><br />
                {% endfor %}
            </td>
            <td>
                {% for politicalFunction in elected_representative.politicalFunctions %}
                    {{ politicalFunction }}<br />
                {% endfor %}
            </td>
            <td>
                {% for label in elected_representative.sortedLabels %}
                    {{ label }}<br />
                {% endfor %}
            </td>
            <td>
                {% for label in elected_representative.userListDefinitions|slice(0, 2) %}
                    <span class="label">{{ label }}</span><br />
                {% endfor %}

                {% if elected_representative.userListDefinitions|length > 2 %}
                    <span id="show_more_labels_{{ key }}" class="text--body text--gray cursor--pointer">+{{ elected_representative.userListDefinitions|length - 2 }}</span>
                    <div id="other_labels_{{ key }}" class="visually-hidden">
                        {% for label in elected_representative.userListDefinitions|slice(2) %}
                            <span class="label">{{ label }}</span><br />
                        {% endfor %}
                    </div>
                    <span id="show_less_labels_{{ key }}" class="text--body text--gray visually-hidden cursor--pointer">^</span>
                {% endif %}
            </td>
            <td>
                {% for link in elected_representative.socialNetworkLinks %}
                    <a target="_blank" rel="noopener" href="{{ link.url }}">
                        <i class="fa fa-{{ link.type|lower }}-square"></i>
                    </a>
                {% endfor %}
            </td>
            <td>
                            <span class="status status__{{ elected_representative.isAdherent ? '1' : '2' }}">
                                {{ (elected_representative.isAdherent is null ? 'global.maybe' : (elected_representative.isAdherent ? 'global.yes' : 'global.no'))|trans }}
                            </span>
            </td>
            <td>
                <a href="{{ path('app_referent_elected_representatives_show', { uuid: elected_representative.uuid }) }}" class="btn-secondary btn-secondary--blue">Afficher</a>
            </td>
        </tr>
    {% else %}
        <tr>
            <td colspan="7" class="text--center">
                <img src="{{ asset('/images/icons/icn_no-result.svg') }}" class="icn--no-result" width="30" />
                Aucun résultat
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
