{% extends 'referent/_layout.html.twig' %}

{% block referent_content %}
    <main>
        <section class="b__nudge--bottom-huge">
            <div class="datagrid__pre-table b__nudge--bottom">
                <h3>Élus</h3>

                {% if total_count %}
                    <span class="datagrid__count">
                        <span>{{ elected_representatives.totalItems|number_format(0, ',', ' ') }}</span> sur {{ total_count|number_format(0, ',', ' ') }} élu{{ total_count > 1 ? 's' : '' }}
                    </span>
                {% endif %}
            </div>

            <div class="manager__filters">
                <div class="manager__filters__form">
                    {{ form_start(form) }}

                    <h4 class="manager__filters__subtitle">Filtrer par</h4>

                    {{ form_errors(form) }}

                    <div class="manager__filters__row">
                        <div class="manager__filters__section">
                            <div class="manager__filters__group">
                                <div class="filter__row">
                                    <label class="filter__label">Nom</label>
                                    {{ form_widget(form.lastName, {attr: {class: 'filter__field', placeholder: 'Saisissez un nom'}}) }}
                                    {{ form_errors(form.lastName) }}
                                </div>

                                <div class="filter__row">
                                    <label class="filter__label">Prénom</label>
                                    {{ form_widget(form.firstName, {attr: {class: 'filter__field', placeholder: 'Saisissez un prénom'}}) }}
                                    {{ form_errors(form.firstName) }}
                                </div>

                                <div class="filter__row">
                                    <label class="filter__label">Genre</label>
                                    {{ form_widget(form.gender, {attr: {class: 'filter__radio__tabs inputs--4'}}) }}
                                </div>
                            </div>
                        </div>

                        <div class="manager__filters__section">
                            <div class="manager__filters__group">

                                <div class="filter__row">
                                    <label class="filter__label">Étiquettes</label>
                                    {{ form_widget(form.labels, {attr: {class: 'filter__field multi_select2', 'data-placeholder': 'elected_representative.filter.labels'|trans}}) }}
                                </div>

                                <div class="filter__row">
                                    <label class="filter__label">Mandats</label>
                                    {{ form_widget(form.mandates, {attr: {class: 'filter__field multi_select2', 'data-placeholder': 'elected_representative.filter.mandates'|trans}}) }}
                                </div>

                                <div class="filter__row">
                                    <label class="filter__label">Fonctions</label>
                                    {{ form_widget(form.politicalFunctions, {attr: {class: 'filter__field multi_select2', 'data-placeholder': 'elected_representative.filter.political_functions'|trans}}) }}
                                </div>
                            </div>
                        </div>

                        <div class="manager__filters__section">
                            <div class="manager__filters__group">
                                <div class="filter__row">
                                    <label class="filter__label">Villes</label>
                                    {{ form_widget(form.cities, {attr: {class: 'filter__field multi_select2', 'data-placeholder': 'elected_representative.filter.cities'|trans}}) }}
                                </div>

                                <div class="filter__row">
                                    <label class="filter__label">Labels</label>
                                    {{ form_widget(form.userListDefinitions, {attr: {class: 'filter__field multi_select2', 'data-placeholder': 'elected_representative.filter.user_list_definitions'|trans}}) }}
                                </div>

                                <div class="filter__row">
                                    <label class="filter__label">Adhérent</label>
                                    {{ form_widget(form.isAdherent, {attr: {class: 'filter__radio__tabs inputs--3'}}) }}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="manager__filters__actions b__nudge--top">
                        <button type="submit" class="btn btn--black b__nudge--bottom-medium">Appliquer</button>

                        {% if form.vars.submitted %}
                            <a href="{{ path('app_referent_elected_representatives_list') }}" class="btn btn--no-border b__nudge--bottom-medium">
                                Réinitialiser les filtres
                            </a>
                        {% endif %}
                    </div>

                    {{ form_end(form) }}
                </div>
            </div>

            <div class="datagrid">
                <div class="l__row datagrid__action datagrid__action--sticky-scroll user-list-definition-manager-wrapper"></div>

                <div class="b__nudge--bottom-larger">
                    <div class="datagrid__table-container">
                        <table class="datagrid__table-manager">
                            <thead>
                            <tr>
                                <th width="50" class="space--20"><input type="checkbox" id="items-check-all" /></th>
                                {% set order = filter.order and filter.order == 'd' ? 'a' : 'd' %}

                                <th style="width: 100px;">
                                    <a
                                            href="{{ path("app_referent_elected_representatives_list", {f: filter.toArray()|merge({sort: 'lastName', order: order})}) }}"
                                            class="sort-link sort-link--order-{{ filter.sort == 'lastName' ? filter.order : 'a' }}"
                                    >
                                        Identité
                                    </a>
                                </th>
                                <th style="min-width: 200px;">Mandats actuels (nuance)</th>
                                <th style="width: 100px;">Fonctions actuelles</th>
                                <th style="width: 100px;">Étiquettes</th>
                                <th style="width: 100px;">Labels</th>
                                <th style="width: 100px;">Réseaux sociaux</th>
                                <th style="width: 100px;">Adhérent</th>
                                <th style="width: 100px;">Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for key, elected_representative in elected_representatives %}
                                <tr class="referent__item">
                                    <td><input type="checkbox" name="items[]" value="{{ elected_representative.id }}" /></td>
                                    <td class="adherent-identity">
                                        <div class="adherent-name">
                                            {{ elected_representative.lastName }} {{ elected_representative.firstName }}
                                        </div>
                                        <div class="adherent-caracs">
                                            {{ elected_representative.gender ? ('male' == elected_representative.gender ? 'common.gender.man' : 'common.gender.woman')|trans : '~' }},
                                            {{ elected_representative.age ? elected_representative.age ~ ' ans' : '~'}}
                                        </div>
                                    </td>
                                    <td>
                                        {% for mandate in elected_representative.currentMandates %}
                                            <b>{{ mandate }}</b><br />
                                            <i>{{ mandate.zone }}</i><br />
                                        {% endfor %}
                                    </td>
                                    <td>
                                        {% for politicalFunction in elected_representative.currentPoliticalFunctions %}
                                            {{ politicalFunction }}<br />
                                        {% endfor %}
                                    </td>
                                    <td>
                                        {% for label in elected_representative.sortedLabels %}
                                            {{ label }}<br />
                                        {% endfor %}
                                    </td>
                                    <td class="table-labels">
                                        {% for label in elected_representative.userListDefinitions|slice(0, 2) %}
                                            <span>{{ label }}</span><br />
                                        {% endfor %}

                                        {% if elected_representative.userListDefinitions|length > 2 %}
                                            <span id="show_more_labels_{{ key }}" class="text--body text--gray cursor--pointer">+{{ elected_representative.userListDefinitions|length - 2 }}</span>
                                            <div id="other_labels_{{ key }}" class="visually-hidden">
                                                {% for label in elected_representative.userListDefinitions|slice(2) %}
                                                    <span class="label">{{ label }}</span><br />
                                                {% endfor %}
                                            </div>
                                            <span id="show_less_labels_{{ key }}" class="text--body text--gray visually-hidden cursor--pointer">^</span>
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% for link in elected_representative.socialNetworkLinks %}
                                            <a target="_blank" rel="noopener" href="{{ link.url }}">
                                                <i class="fa fa-{{ link.type|lower }}-square"></i>
                                            </a>
                                        {% endfor %}
                                    </td>
                                    <td>
                                        <span class="status status__{{ elected_representative.isAdherent ? '1' : '2' }}">
                                            {{ (elected_representative.isAdherent ? 'global.yes' : 'global.no')|trans }}
                                        </span>
                                    </td>
                                    <td>
                                        <a href="{{ path('app_referent_elected_representatives_show', { uuid: elected_representative.uuid }) }}" class="text--blue--dark link--no-decor">Afficher</a>
                                    </td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="9" class="text--center">
                                        <img src="{{ asset('/images/icons/icn_no-result.svg') }}" class="icn--no-result" width="30" />
                                        Aucun résultat
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>

                {% if elected_representatives.count %}
                    {% include 'components/_modern_pagination.html.twig' with {
                        current_page: elected_representatives.currentPage,
                        total_pages: elected_representatives.lastPage,
                        pagination_route_params: {f: filter.toArray()}
                    } %}
                {% endif %}
            </div>
        </section>
    </main>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('select2/select2.min.css') }}" rel="stylesheet">
{% endblock %}

{% block final_javascripts %}
    {{ parent() }}

    <script type="text/javascript" src="{{ asset('select2/select2.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('select2/fr.js') }}"></script>
    <script type="text/javascript">
        Kernel.onLoad(function() {
            $('.multi_select2').each(function () {
                $(this).select2({
                    placeholder: this.dataset.placeholder || '',
                    theme: 'default em-filters'
                });
            });

            $('td.table-labels').on('click', '[id^="show_more_labels_"], [id^="show_less_labels_"]', function() {
                let elementId = $(this).attr('id');
                $(this).click(function(){
                    $('#'+elementId).toggleClass('visually-hidden');
                    if (elementId.includes('more')) {
                        $('#'+elementId.replace('show_more_labels', 'show_less_labels')).toggleClass('visually-hidden');
                        $('#'+elementId.replace('show_more_labels', 'other_labels')).toggleClass('visually-hidden');
                    } else {
                        $('#'+elementId.replace('show_less_labels', 'show_more_labels')).toggleClass('visually-hidden');
                        $('#'+elementId.replace('show_less_labels', 'other_labels')).toggleClass('visually-hidden');
                    }
                });
            });

            {% if elected_representatives.count %}
                App.runUserListDefinitions(
                    '{{ constant('App\\Controller\\Api\\UserListDefinition\\ElectedRepresentativeUserListDefinitionController::MEMBER_TYPE') }}',
                    '{{ constant('App\\Entity\\UserListDefinitionEnum::TYPE_ELECTED_REPRESENTATIVE') }}',
                    '.user-list-definition-manager-wrapper',
                    'input[name="items[]"]',
                    '#items-check-all',
                    function (labels) {
                        let cell = '';
                        labels.slice(0, 2).forEach((label) => {
                            cell += `<span class="label">${label.label}</span><br />`;
                        });

                        if (labels.length > 2) {
                            const nb = Math.random().toString().slice(2,9);
                            cell += `<span id="show_more_labels_${nb}" class="text--body text--gray cursor--pointer">+${labels.length - 2}</span>`;
                            cell += `<div id="other_labels_${nb}" class="visually-hidden">`;
                            labels.slice(2).forEach((label) => {
                                cell += `<span class="label">${label.label}</span><br />`;
                            });
                            cell += '</div>';
                            cell += `<span id="show_less_labels_${nb}" class="text--body text--gray visually-hidden cursor--pointer">^</span>`;
                        }

                        return cell;
                    }
                );
            {% endif %}
        });
    </script>
{% endblock %}
