{% extends base_template %}

{% block elected_representatives_content %}
    <main>
        <section class="b__nudge--bottom-huge">
            <a href="{{ path("app_#{space_name}_elected_representatives_list") }}" class="back-to-list text--blue--dark link--no-decor b__nudge--bottom-larger block">
                ⟵ Retour
            </a>

            <div class="elected-representative-identity">
                <h3 class="text--medium b__nudge--bottom-small">{{ elected_representative.fullName }}</h3>
                <div class="b__nudge--bottom-small">
                    {{ elected_representative.gender ? ('male' == elected_representative.gender ? 'common.gender.man' : 'common.gender.woman')|trans : '~' }},
                    {{ elected_representative.age ? elected_representative.age ~ ' ans' : '~' }}
                </div>
                <div class="elected-representative-social-networks text--medium">
                    {% for link in elected_representative.socialNetworkLinks %}
                        <a target="_blank" href="{{ link.url }}" class="link--no-decor">
                            <i class="fa fa-{{ link.type|lower }}{{ link.type is constant('App\\Entity\\ElectedRepresentative\\SocialLinkTypeEnum::INSTAGRAM') ? '' : '-square' }}"></i>
                        </a>
                    {% endfor %}
                </div>
                <div class="b__nudge--bottom-50">{{ elected_representative.isAdherent ? 'Adhérent' }}</div>
            </div>

            <div class="datagrid">

                <div class="datagrid__table-row">
                    <div class="datagrid__table-container pb-small">
                        <h3 class="b__nudge--bottom">Parrainages</h3>
                        <table class="datagrid__table-manager elected-representative-sponsorships">
                            <thead>
                            <tr>
                                <th>Candidat</th>
                                <th style="width: 50px;">Élection</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for sponsorship in elected_representative.sponsorships if sponsorship.candidate is not null %}
                                <tr class="referent__item">
                                    <td>{{ sponsorship.candidate }}</td>
                                    <td>{{ sponsorship.presidentialElectionYear }}</td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="2">
                                        Aucun
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>

                    <div class="datagrid__table-container pb-small">
                        <h3 class="b__nudge--bottom">Étiquettes</h3>
                        <table class="datagrid__table-manager elected-representative-labels">
                            <thead>
                            <tr>
                                <th>Nom</th>
                                <th style="width: 100px;">Date de début</th>
                                <th style="width: 100px;">Date de fin</th>
                            </tr>
                            </thead>
                            <tbody class="no-border-bottom">
                            {% for label in elected_representative.labels %}
                                <tr class="referent__item">
                                    <td>{{ label.name }}</td>
                                    <td>{{ label.beginYear }}</td>
                                    <td>{{ label.finishYear }}</td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="3">
                                        Aucune
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="datagrid__table-container pb-small">
                    <h3 class="b__nudge--bottom">Mandats et Fonctions</h3>
                    <table class="datagrid__table-manager elected-representative-mandates">
                        <thead>
                        <tr>
                            <th style="width: 100px;">Mandat</th>
                            <th style="width: 50px;">Nuance politique</th>
                            <th style="width: 50px;">Soutien LaREM</th>
                            <th style="width: 50px;">Date de début</th>
                            <th style="width: 50px;">Date de fin</th>
                            <th style="width: 50px;">Fontions</th>
                        </tr>
                        </thead>
                        <tbody class="no-border-bottom">
                        {% for mandate in elected_representative.electedMandates %}
                            <tr class="referent__item">
                                <td>{{ mandate.name }}</td>
                                <td>{{ mandate.politicalAffiliation }}</td>
                                <td>{{ mandate.laREMSupport ? "elected_representative.mandate.larem_support.#{mandate.laREMSupport}"|trans }}</td>
                                <td>{{ mandate.beginAt ? mandate.beginAt|localizeddate('none', 'none', 'fr_FR', null, 'd MMMM yyyy') }}</td>
                                <td>{{ mandate.finishAt ? mandate.finishAt|localizeddate('none', 'none', 'fr_FR', null, 'd MMMM yyyy') }}</td>
                                <td>
                                    {% for politicalFunction in mandate.politicalFunctions %}
                                        {{ politicalFunction }}
                                        {% if politicalFunction.beginAt %}
                                            ({{ politicalFunction.beginAt|date('Y') }}{{ politicalFunction.finishAt ? '-' ~ politicalFunction.finishAt|date('Y') }})
                                        {% endif %}
                                        <br />
                                    {% endfor %}
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="6">
                                    Aucun
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>

                <div class="datagrid__table-container pb-small">
                    <h3 class="b__nudge--bottom">Candidatures</h3>
                    <table class="datagrid__table-manager elected-representative-candidacies">
                        <thead>
                        <tr>
                            <th style="width: 100px;">Mandat</th>
                            <th style="width: 50px;">Nuance politique</th>
                            <th style="width: 50px;">Soutien LaREM</th>
                            <th style="width: 50px;">Date</th>
                        </tr>
                        </thead>
                        <tbody class="no-border-bottom">
                        {% for mandate in elected_representative.notElectedMandates %}
                            <tr class="referent__item">
                                <td>{{ mandate.name }}</td>
                                <td>{{ mandate.politicalAffiliation }}</td>
                                <td>{{ mandate.laREMSupport ? "elected_representative.mandate.larem_support.#{mandate.laREMSupport}"|trans }}</td>
                                <td>{{ mandate.beginAt ? mandate.beginAt|localizeddate('none', 'none', 'fr_FR', null, 'd MMMM yyyy') }}</td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="4">
                                    Aucune
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>

            </div>
        </section>
    </main>
{% endblock %}
