{% extends 'adherent/layout.twig' %}

{% block adherent_profile_form %}
    <h2>Mon compte</h2>

    <div class="b__nudge--top">
        <span class="settings__username"><strong>Nom</strong> {{ app.user.fullname }}</span> <br />
        <span class="settings__username"><strong>Email</strong> {{ app.user.emailaddress }}</span><br />
        <span class="settings__username"><strong>Code postal</strong> {{ app.user.postAddress.postalCode }}</span><br/>

        {% if has_role_adherent and app.user.activatedAt %}
            <div class="settings__membership">Adhérent{{ app.user.female ? "e" }} depuis {{ app.user.registeredAt|localizeddate('none', 'none', 'fr_FR', null, 'MMMM yyyy') }}.</div>
        {% else %}
            <div class="settings__membership">Non adhérent{{ app.user.female ? "e" }}.</div>
        {% endif %}

        <span class="settings__username"><a href="{{ path('app_user_edit') }}">Modifier mes informations</a></span><br/>
        <span class="settings__username"><a href="{{ path('app_user_change_password') }}">Modifier mon mot de passe</a></span><br/>
        <div class="b__nudge--top"><a href="https://donnees.en-marche.fr" target="_blank" rel="noopener noreferrer">Gérer mes données En Marche</a>
        </div>
    </div>

    {# This will be enable by the PR on branch auth2 #}
    {#{% if has_role_adherent and not is_granted('ROLE_REFERENT') and not is_granted('ROLE_ADMINISTRATOR') %}#}
        {#<p>#}
            {#<a href="{{ path('app_user_terminate_membership') }}" class="settings__delete_account">Annuler mon adhésion</a>#}
        {#</p>#}
    {#{% endif %}#}

    {% if is_granted('UNREGISTER') and app.user.isBasicAdherent %}
        <p>
            <a href="{{ path('app_user_terminate_membership') }}" class="settings__delete_account">Supprimer définitivement ce compte</a>
        </p>
    {% endif %}

    {% if not is_granted('UNREGISTER') %}
        <p class="b__nudge--top-large">
            Si vous êtes animateur local, référent, parlementaire, porteur de projet ou membre du conseil, vous ne
            pouvez pas supprimer votre compte directement : il vous faut d'abord quitter vos responsabilités.
            Pour se faire, vous pouvez écrire votre demande par e-mail à l'adresse suivante :
            <a href="mailto:territoires@en-marche.fr">territoires@en-marche.fr</a>.
        </p>
        <p class="b__nudge--top-10">
            Si vous êtes co-animateur local, votre animateur peut retirer votre rôle depuis son espace comité.
        </p>
    {% endif %}

    {% if is_granted('UNREGISTER') and app.user.isUser %}
        <p>
            <a href="{{ path('app_user_terminate_membership') }}" class="settings__delete_account">Supprimer mon compte</a>
        </p>
    {% endif %}
{% endblock %}
