{% extends 'adherent/layout.twig' %}

{% block adherent_profile_form %}
    {{ form_start(form, { attr: { class: 'form' } }) }}
        <h2 class="b__nudge--bottom-large">Notifications via e-mail et mobile</h2>

        {{ form_errors(form) }}

        {% set help_messages = {
            (constant('AppBundle\\Subscription\\SubscriptionTypeEnum::REFERENT_EMAIL')): 'Les référents territoriaux sont les représentants du mouvement dans les zones géographiques qui leur sont attribuées. Ils y ont la charge de l\'animation du mouvement au niveau local, de la coordination des comités locaux et du lien avec les instances nationales. Découvrez le vôtre en cliquant <a href="' ~ path('our_referents_homepage') ~ '" target="_blank" rel="noopener noreferrer">ici</a>.'
        } %}

        {% for group_choices in form.subscriptionTypes.vars.choices %}
            {% if group_choices.choices is defined %}
                {% if group_choices.label %}
                    <h3 class="b__nudge--top-40 b__nudge--bottom-medium">{{ group_choices.label|trans }}</h3>
                {% endif %}

                {% for key, choice_view in group_choices %}
                    {{ form_row(form.subscriptionTypes.children[key]) }}

                    {% if help_messages[choice_view.data.code] is defined %}
                        <p class="text--small text--muted">{{ help_messages[choice_view.data.code]|raw }}</p>
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endfor %}

        {{ form_row(form.citizenProjectCreationEmailSubscriptionRadius) }}

        <div class="b__nudge--top">
            {{ form_widget(form.submit, { attr: { class: 'btn--blue' } }) }}
        </div>

        {% if app.user.isAdherent %}
            <div class="b__nudge--top-50">
                <p class="text--small">
                    ☝️ Pour ne plus recevoir les e-mails de <strong>certains animateurs ou porteurs de projets citoyens</strong>, rendez-vous sur leur page respective de comité ou projet citoyen pour cesser de les suivre.
                </p>

                <h3 class="b__nudge--bottom">Les comités que je suis</h3>
                <div>{{ render(controller('AppBundle\\Controller\\EnMarche\\AdherentController:listMyCommitteesAction', { noResultMessage: 'Aucun comité pour l\'instant' })) }}</div>

                <h3 class="b__nudge--bottom b__nudge--top">Les projets citoyens que je suis</h3>
                <div>{{ render(controller('AppBundle\\Controller\\EnMarche\\AdherentController:listMyCitizenProjectsAction', { noResultMessage: 'Aucun projet pour l\'instant' })) }}</div>
            </div>
        {% endif %}
    {{ form_end(form) }}
{% endblock %}

{% if app.user.isAdherent %}
    {% block javascripts %}
        {{ parent() }}
        <script type="text/javascript" src={{ asset('bundles/sonataadmin/vendor/jquery/dist/jquery.min.js') }}></script>
        <script type="text/javascript">
            $(document).ready(function () {
                const selectDistanceNotificationPc = $('#adherent_email_subscription_citizenProjectCreationEmailSubscriptionRadius');
                const checkBoxNotificationPc = $('#adherent_email_subscription_subscriptionTypes_{{ cpSubscriptionType.id }}');
                const labelCheckBoxNotificationPc = $('label[for="adherent_email_subscription_subscriptionTypes_{{ cpSubscriptionType.id }}"]');

                checkboxHandler();

                function checkboxHandler() {
                    if (checkBoxNotificationPc.is(':checked')) {
                        labelCheckBoxNotificationPc.text('');
                        labelCheckBoxNotificationPc.append(
                            $('<span>')
                                .append('Être notifié(e) de la création de nouveaux projets citoyens dans un rayon de ')
                                .append(selectDistanceNotificationPc)
                                .append('autour de chez moi')
                        );
                        selectDistanceNotificationPc.children('option:selected').removeAttr('selected');
                        selectDistanceNotificationPc.children('option[value="{{ app.user.hasCitizenProjectCreationEmailSubscription ? app.user.citizenProjectCreationEmailSubscriptionRadius : constant('CITIZEN_PROJECT_EMAIL_DEFAULT_DISTANCE', app.user) }}"]').prop('selected', true);
                        selectDistanceNotificationPc.show();
                    } else {
                        selectDistanceNotificationPc.hide();
                        $("form[name='adherent_email_subscription']").append(selectDistanceNotificationPc);
                        labelCheckBoxNotificationPc.text('Être notifié(e) de la création de nouveaux projets citoyens');
                    }
                }

                function selectHandler() {
                    var val = selectDistanceNotificationPc.find('option:selected').val(),
                        message = '';

                    if (val == '0') {
                        message = 'Être notifié(e) de toute création de projet citoyen autour de chez moi';
                    } else {
                        message = 'Être notifié(e) de la création de nouveaux projets citoyens dans un rayon de '+selectDistanceNotificationPc+' autour de chez moi';
                    }

                    labelCheckBoxNotificationPc.text('');
                    labelCheckBoxNotificationPc.append(
                        $('<span>')
                            .append('Être notifié(e) de ')
                            .append(selectDistanceNotificationPc)
                            .append('création de projet citoyen autour de chez moi')
                    );
                    selectDistanceNotificationPc.unbind('change').on('change', selectHandler);
                }

                checkBoxNotificationPc.on('change', checkboxHandler);
                selectDistanceNotificationPc.on('change', selectHandler);
            });
        </script>
    {% endblock %}
{% endif %}
