{% extends 'adherent/layout.twig' %}

{% block adherent_profile_form %}
    {{ form_start(form, { attr: { class: 'form' } }) }}
        <h2 class="b__nudge--bottom-large">Mes communications via e-mail et mobile</h2>

        {{ form_errors(form) }}

        {% set help_messages = {
            (constant('App\\Subscription\\SubscriptionTypeEnum::REFERENT_EMAIL')): 'Les référents territoriaux sont les représentants du mouvement dans les zones géographiques qui leur sont attribuées. Ils y ont la charge de l\'animation du mouvement au niveau local, de la coordination des comités locaux et du lien avec les instances nationales. Découvrez le/la vôtre en cliquant <a href="' ~ path('our_referents_homepage') ~ '" target="_blank" rel="noopener noreferrer">ici</a>.'
        } %}

        {% for group_choices in form.subscriptionTypes.vars.choices %}
            {% if group_choices.choices is defined %}
                {% if group_choices.label %}
                    <h3 class="b__nudge--top-40 b__nudge--bottom-medium">{{ group_choices.label|trans }}</h3>
                {% endif %}

                {% for key, choice_view in group_choices %}
                    {{ form_row(form.subscriptionTypes.children[key]) }}

                    {% if help_messages[choice_view.data.code] is defined %}
                        <p class="text--small text--muted">{{ help_messages[choice_view.data.code]|raw }}</p>
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endfor %}

        <div class="b__nudge--top">
            {{ form_widget(form.submit, { attr: { class: 'btn--blue' } }) }}
        </div>

        {% if app.user.isAdherent %}
            <div class="b__nudge--top-50">
                <p class="text--small">
                    ☝️ Pour ne plus recevoir les e-mails de <strong>certains animateurs ou porteurs de projets citoyens</strong>, rendez-vous sur leur page respective de comité ou projet citoyen pour cesser de les suivre.
                </p>

                <h3 class="b__nudge--bottom">Les comités que je suis</h3>
                <div>{{ render(controller('App\\Controller\\EnMarche\\AdherentController:listMyCommitteesAction', { noResultMessage: 'Aucun comité pour l\'instant' })) }}</div>

                <h3 class="b__nudge--bottom b__nudge--top">Les projets citoyens que je suis</h3>
                <div>{{ render(controller('App\\Controller\\EnMarche\\AdherentController:listMyCitizenProjectsAction', { noResultMessage: 'Aucun projet pour l\'instant' })) }}</div>
            </div>
        {% endif %}
    {{ form_end(form) }}
{% endblock %}
