{% extends 'adherent/layout.twig' %}

{% block adherent_profile_form %}

    <h2>Notifications</h2>
    <p>Cochez les cases des e-mails que vous souhaitez recevoir.</p>

    {{ form_start(form, { attr: { class: 'form' } }) }}

    {{ form_errors(form.emails_subscriptions) }}

        {% for subscription in form.emails_subscriptions %}
            <div class="form__checkbox">
                {{ form_widget(subscription) }}
                {{ form_label(subscription) }}
            </div>
        {% endfor %}

        {{ form_widget(form.citizenProjectCreationEmailSubscriptionRadius) }}

        <div class="b__nudge--top">
            {{ form_widget(form.submit, { label: 'Enregistrer les modifications', attr: { class: 'btn--blue' } }) }}
        </div>

    {{ form_end(form) }}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src={{ asset('bundles/sonataadmin/vendor/jquery/dist/jquery.min.js') }}></script>
    <script type="application/javascript">

        $(document).ready(function() {
            var selectDistanceNotificationPc = $('#adherent_email_subscription_citizenProjectCreationEmailSubscriptionRadius'),
                checkBoxNotificationPc = $('#adherent_email_subscription_emails_subscriptions_3'),
                labelCheckBoxNotificationPc = $('label[for="adherent_email_subscription_emails_subscriptions_3"]');

            checkboxHandler();

            function checkboxHandler() {
                const isCheck = checkBoxNotificationPc.is(':checked');

                if (isCheck) {
                    labelCheckBoxNotificationPc.text('');
                    labelCheckBoxNotificationPc.append(
                        $('<span>')
                            .append('Être notifié(e) de la création de nouveaux projets citoyens dans un rayon de ')
                            .append(selectDistanceNotificationPc)
                            .append('autour de chez moi')
                    );
                    selectDistanceNotificationPc.children('option:selected').removeAttr("selected");
                    selectDistanceNotificationPc.children('option[value="{{ app.user.citizenProjectCreationEmailSubscriptionRadius != constant('DISABLED_CITIZEN_PROJECT_EMAIL', app.user) ? app.user.citizenProjectCreationEmailSubscription : 10}}"]').prop('selected', true);
                    selectDistanceNotificationPc.show();
                } else {
                    selectDistanceNotificationPc.hide();
                    $("form[name='adherent_email_subscription']").append(selectDistanceNotificationPc);
                    labelCheckBoxNotificationPc.text('Être notifié(e) de la création de nouveaux projets citoyens');
                }
            }

            function selectHandler() {
                var val = selectDistanceNotificationPc.find('option:selected').val(),
                    message = '';

                if (val == '0') {
                    message = 'Être notifié(e) de toute création de projet citoyen autour de chez moi';
                } else {
                    message = 'Être notifié(e) de la création de nouveaux projets citoyens dans un rayon de '+selectDistanceNotificationPc+' autour de chez moi';
                }

                labelCheckBoxNotificationPc.text('');
                labelCheckBoxNotificationPc.append(
                    $('<span>')
                        .append('Être notifié(e) de ')
                        .append(selectDistanceNotificationPc)
                        .append('création de projet citoyen autour de chez moi')
                );
                selectDistanceNotificationPc.unbind('change').on('change', selectHandler);
            }

            checkBoxNotificationPc.on('change', checkboxHandler);
            selectDistanceNotificationPc.on('change', selectHandler);
        })
    </script>
{% endblock %}
