{% extends 'adherent/layout.twig' %}

{% block adherent_profile_form %}
    {{ form_start(form, { attr: { class: 'form' } }) }}
        <h2>Notifications</h2>
        <br>
        <div class="b__nudge--bottom">
            <button type="button" class="btn btn--small click-all-checkbox" data-target="{{ form.emails_subscriptions.vars.id }}">
                Tout sélectionner
            </button>
            <button type="button" class="btn btn--small un-click-all-checkbox" data-target="{{ form.emails_subscriptions.vars.id }}">
                Tout désélectionner
            </button>
        </div>

        {{ form_errors(form) }}
        {{ form_row(form.emails_subscriptions) }}
        {{ form_row(form.citizenProjectCreationEmailSubscriptionRadius) }}

        <div class="b__nudge--top">
            {{ form_widget(form.submit, { attr: { class: 'btn--blue' } }) }}
        </div>

        <p class="text--small">
            Pour ne plus recevoir les notifications des <strong>animateurs de comités</strong> ou de <strong>porteurs de projets citoyens</strong>, rendez-vous sur leurs pages respectives et arretez de les suivre.
        </p>

    {{ form_end(form) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src={{ asset('bundles/sonataadmin/vendor/jquery/dist/jquery.min.js') }}></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('.click-all-checkbox').on('click', function () {
                $('#'+$(this).data('target')).find(':checkbox').prop('checked', true);
            });

            $('.un-click-all-checkbox').on('click', function () {
                $('#'+$(this).data('target')).find(':checkbox').prop('checked', false);
            });
        });
    </script>
    <script type="text/javascript">

        $(document).ready(function () {
            var selectDistanceNotificationPc = $('#adherent_email_subscription_citizenProjectCreationEmailSubscriptionRadius'),
                checkBoxNotificationPc = $('#adherent_email_subscription_emails_subscriptions_3'),
                labelCheckBoxNotificationPc = $('label[for="adherent_email_subscription_emails_subscriptions_3"]');

            checkboxHandler();

            function checkboxHandler() {
                const isCheck = checkBoxNotificationPc.is(':checked');

                if (isCheck) {
                    labelCheckBoxNotificationPc.text('');
                    labelCheckBoxNotificationPc.append(
                        $('<span>')
                            .append('Être notifié(e) de la création de nouveaux projets citoyens dans un rayon de ')
                            .append(selectDistanceNotificationPc)
                            .append('autour de chez moi')
                    );
                    selectDistanceNotificationPc.children('option:selected').removeAttr("selected");
                    selectDistanceNotificationPc.children('option[value="{{ app.user.hasCitizenProjectCreationEmailSubscription ? app.user.citizenProjectCreationEmailSubscriptionRadius : constant('CITIZEN_PROJECT_EMAIL_DEFAULT_DISTANCE', app.user) }}"]').prop('selected', true);
                    selectDistanceNotificationPc.show();
                } else {
                    selectDistanceNotificationPc.hide();
                    $("form[name='adherent_email_subscription']").append(selectDistanceNotificationPc);
                    labelCheckBoxNotificationPc.text('Être notifié(e) de la création de nouveaux projets citoyens');
                }
            }

            function selectHandler() {
                var val = selectDistanceNotificationPc.find('option:selected').val(),
                    message = '';

                if (val == '0') {
                    message = 'Être notifié(e) de toute création de projet citoyen autour de chez moi';
                } else {
                    message = 'Être notifié(e) de la création de nouveaux projets citoyens dans un rayon de '+selectDistanceNotificationPc+' autour de chez moi';
                }

                labelCheckBoxNotificationPc.text('');
                labelCheckBoxNotificationPc.append(
                    $('<span>')
                        .append('Être notifié(e) de ')
                        .append(selectDistanceNotificationPc)
                        .append('création de projet citoyen autour de chez moi')
                );
                selectDistanceNotificationPc.unbind('change').on('change', selectHandler);
            }

            checkBoxNotificationPc.on('change', checkboxHandler);
            selectDistanceNotificationPc.on('change', selectHandler);
        });
    </script>
{% endblock %}
