{% extends 'adherent_profile/_layout.html.twig' %}

{% block page_title 'Communication' %}

{% block adherent_profile_content %}
<section class="adherent-profile__section" id="subscriptions">
    <h1 class="text--medium-large">Communications</h1>

    {{ form_start(form, { attr: { class: 'em-form' } }) }}
        {{ form_errors(form) }}

        {% set help_messages = {
            (constant('App\\Subscription\\SubscriptionTypeEnum::REFERENT_EMAIL')): 'Les référents territoriaux sont les représentants du mouvement dans les zones géographiques qui leur sont attribuées. Ils y ont la charge de l\'animation du mouvement au niveau local, de la coordination des comités locaux et du lien avec les instances nationales. Découvrez le/la vôtre en cliquant <a href="' ~ path('our_referents_homepage') ~ '" target="_blank" rel="noopener noreferrer">ici</a>.'
        } %}

        {% for group_choices in form.subscriptionTypes.vars.choices %}
            <section class="em-form__section">
            {% if group_choices.choices is defined %}
                {% if group_choices.label %}
                    <h2 class="section-subtitle">{{ group_choices.label|trans }}</h2>
                {% endif %}

                <div class="em-form__group">
                    {% for key, choice_view in group_choices %}
                        {{ form_row(form.subscriptionTypes.children[key]) }}

                        {% if help_messages[choice_view.data.code] is defined %}
                            <p class="text--small text--muted">{{ help_messages[choice_view.data.code]|raw }}</p>
                        {% endif %}
                    {% endfor %}
                </div>
            {% endif %}
            </section>
        {% endfor %}

        <div class="b__nudge--top">
            {{ form_widget(form.submit, { attr: { class: 'btn--blue' } }) }}
        </div>
    {{ form_end(form) }}
</section>
{% endblock %}
