{% extends 'base.html.twig' %}
{% block page_title 'Formulaire de signalement' %}

{% block content %}
    <div>
        <section class="l__wrapper">
            <header class="space--100-0 text--center">
                <h1 class="text--larger b__nudge--bottom-small">
                    Formulaire de signalement
                </h1>
            </header>
            <hr/>
        </section>

        <section class="l__wrapper--500 b__nudge--bottom-huge">
            {{ form_start(form, { attr: {class: 'b__nudge--top-40'}}) }}
                {{ form_errors(form) }}

                <div class="text--body">
                    Merci de nous indiquer les raisons de votre signalement en choisissant une ou plusieurs réponses ci-dessous :
                </div>

                <div class="form__checkbox b__nudge--top b__nudge--bottom">
                    {{ form_errors(form.reasons) }}
                    {{ form_widget(form.reasons) }}
                </div>

                <div>
                    {{ form_errors(form.comment) }}
                    {{ form_widget(form.comment, {attr: {class: 'form__textbox'}}) }}
                </div>

                <p class="text--body">
                    Nos équipes se chargeront de traiter votre requête dans les plus brefs délais.
                </p>

                <div class="text--center">
                    <button type="submit" class="btn btn--error">
                        Envoyer mon signalement
                    </button>
                </div>
            {{ form_end(form) }}
        </section>
    </div>
{% endblock %}
