{% use "form_div_layout.html.twig" %}

{% block form_label %}
    {% set label_attr = label_attr|merge({'x-ref': form.vars.id}) %}
    {{- parent() -}}
{% endblock %}

{% block form_widget_simple -%}
    {% set attr = attr|merge({class: (attr.class|default('') ~ ' form-control')|trim}) %}
    {{- parent() -}}
{%- endblock form_widget_simple %}

{%- block date_widget -%}
    {%- if widget == 'single_text' -%}
        {{ block('form_widget_simple') }}
    {%- else -%}
        <div {{ block('widget_container_attributes') }} class="flex flex-row space-x-4 w-full">
            {{- date_pattern|replace({
                '{{ year }}':  form_widget(form.year),
                '{{ month }}': form_widget(form.month),
                '{{ day }}':   form_widget(form.day),
            })|raw -}}
        </div>
    {%- endif -%}
{%- endblock date_widget -%}

{%- block choice_widget_expanded -%}
    {% set attr = attr|merge({class: (attr.class|default('') ~ ' flex')|trim}) %}

    <div {{ block('widget_container_attributes') }}>
        {%- for child in form %}
            <div class="mr-3">
                {{- form_widget(child) -}}
                {{- form_label(child, null, {label_attr: { class: 'ml-2' }, translation_domain: choice_translation_domain}) -}}
            </div>
        {% endfor -%}
    </div>
{%- endblock choice_widget_expanded -%}

{%- block choice_widget_collapsed -%}
    {% set attr = attr|merge({class: (attr.class|default('') ~ ' form-control')|trim}) %}
    {{- parent() -}}
{%- endblock choice_widget_collapsed -%}

{% block form_row -%}
    {%- set row_attr = row_attr|merge({
        'x-data': "",
        '@click': "$refs." ~ form.vars.id ~ ".focus()",
        class: (row_attr.class|default('') ~ ' form-group')|trim,
    }) -%}
    {{- parent() -}}
{%- endblock form_row %}

{%- block form_errors -%}
    {%- if errors|length > 0 -%}
        <div class="text-red-500 mb-2 form-errors">{{ parent()|raw }}</div>
    {%- endif -%}
{%- endblock form_errors -%}

{% block choice_tab_widget %}
    <div class="flex">
        {%- for child in form %}
            {{- form_widget(child, {attr: {class: 'hidden choice-widget'}}) -}}
            {{- form_label(child, null, {translation_domain: choice_translation_domain, label_attr: {class: 'button-group grow'}}) -}}
        {% endfor -%}
    </div>
{% endblock %}

{% block _app_renaissance_membership_gender_row %}
    {{- form_label(form, null, {label_attr: { class: 'text-sm uppercase tracking-wider text-re-blue-500 font-medium' }}) -}}
    {{ form_errors(form) }}
    <div class="mt-1 isolate flex rounded-md w-full max-w-xs">
        {%- for child in form %}
            <div class="civility-choice relative inline-flex w-full items-center justify-center first:rounded-l-md last:rounded-r-md last:-ml-px border border-re-blue-100 overflow-hidden">
                {{- form_widget(child, {attr: {class: 'sr-only'}}) -}}
                <label for="{{ child.vars.id }}" class="cursor-pointer block text-center w-full bg-gray px-4 py-2.5 text-sm font-medium text-re-blue-700 hover:bg-re-blue-50 uppercase tracking-wider">
                    {{ child.vars.label|trans }}
                </label>
            </div>
        {% endfor -%}
    </div>
{% endblock %}

{% block autocomplete_address_row %}
    <div class="address-autocomplete {% if not form.vars.valid %}has-error{% endif %}" data-form="{{ form.vars.name }}">
        {{ block('form_errors') }}

        <div class="address-autocomplete-wrapper hidden">

            {{ form_row(form.autocomplete, { label: 'Adresse postale', attr: { placeholder: 'Saisissez et sélectionnez une adresse' } }) }}
            <p class="text-gray-600 text-sm italic">
                Commencez à saisir votre adresse puis sélectionnez une proposition dans la liste d'adresses affichée.
            </p>

            <div class="rounded-md bg-blue-50/30 p-4">
                <div class="flex">
                    <div class="flex-shrink-0">
                        {% include 'icons/info.svg.twig' %}
                    </div>
                    <div class="ml-3 flex-1 text-sm leading-5">
                        <p class="text-gray-900">
                            Votre adresse n'apparait pas dans la liste?
                            <br>
                            <a href="#" class="text-blue-500 hover:underline font-medium enable-address-fields">Cliquez ici</a> pour saisir manuellement votre adresse.
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="address-fields-wrapper">
            {{ form_row(form.address, { label: 'Adresse' }) }}
            {{ form_row(form.cityName, { label: 'Ville' }) }}

            <div class="flex space-x-4">
                {{ form_row(form.postalCode, { label: 'Code postal' }) }}
                {{ form_row(form.country, { label: 'Pays', attr: { placeholder: 'Sélectionner un pays' } }) }}
            </div>

            <div class="rounded-md bg-blue-50/30 p-4">
                <div class="flex">
                    <div class="flex-shrink-0">
                        {% include 'icons/info.svg.twig' %}
                    </div>
                    <div class="ml-3 flex-1 text-sm leading-5">
                        <p class="text-gray-900">
                            <a href="#" class="text-blue-500 hover:underline font-medium enable-address-autocomplete">Cliquez ici</a> pour retourner à la sélection d'adresse.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
