{% use "form_div_layout.html.twig" %}

{%- block form_row -%}
    <div class="form__group{% if half is defined and half %} half{% endif %} {{ attr.class|default('') }}">
        {{- form_label(form) -}}
        {{- form_widget(form, { attr: attr }) -}}
        {{- form_errors(form) -}}
    </div>
{%- endblock form_row -%}

{% block form_label -%}
    {%- set label_attr = label_attr|merge({class: (label_attr.class|default('') ~ ' block text-sm font-medium text-gray-700 uppercase tracking-wider')|trim}) -%}
    {{- parent() -}}
{%- endblock form_label %}

{% block choice_widget_collapsed -%}
    {% set attr = attr|merge({class: (attr.class|default('') ~ ' mt-1 w-full rounded-md border-gray-300 shadow-sm focus:border-re-blue-500 focus:ring-re-blue-500 sm:text-sm')|trim}) %}
    {{- parent() -}}
{%- endblock %}

{%- block choice_widget_expanded -%}
    {%- for child in form %}
        <div class="form__{{ multiple ? 'checkbox' : 'radio' }}">
            {{- form_widget(child, { attr: { class: 'h-4 w-4 rounded border-gray-300 text-re-blue-600 focus:ring-re-blue-500' } }) -}}
            {{- form_label(child, null, {translation_domain: choice_translation_domain}) -}}
        </div>
    {% endfor -%}
{%- endblock choice_widget_expanded -%}

{% block form_widget_simple -%}
    {% if type is not defined or type not in ['file', 'hidden'] %}
        {%- set attr = attr|merge({class: (attr.class|default('') ~ ' mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-re-blue-500 focus:ring-re-blue-500 sm:text-sm placeholder:text-gray-400 text-gray-900 disabled:bg-gray-100/80 disabled:opacity-80')|trim}) -%}
    {% endif %}
    {{- parent() -}}
    {{- block('character_count') -}}
{%- endblock form_widget_simple %}

{% block textarea_widget -%}
    {% set attr = attr|merge({class: (attr.class|default('') ~ ' mt-1 block w-full rounded-md border-gray-300 py-1.5  shadow-sm focus:border-re-blue-500 focus:ring-re-blue-500 sm:text-sm sm:leading-6 placeholder:text-gray-400 text-gray-900 disabled:bg-gray-100/80 disabled:opacity-80')|trim}) %}
    {{- parent() -}}
    {{- block('character_count') -}}
{%- endblock textarea_widget %}

{% block character_count -%}
    {% if with_character_count is defined and with_character_count and attr.maxlength is defined %}
        {% set maxlength = attr.maxlength %}
        <span id="{{ id }}_counter" class="character-count">0/{{ maxlength }}</span>

        <script type="text/javascript">
          $(document).ready(function() {
            const $field = $('#{{ id }}');
            const $counter = $('#{{ id }}_counter');
            $counter.html($field.val().length  + '/{{ maxlength }}');
            $field.keyup(function(event) {
              const $text_length = $field.val().length;
              $counter.html($text_length  + '/{{ maxlength }}');
            })
              .trigger('keyup');
          });
        </script>
    {% endif %}
{%- endblock character_count %}

{% block form_errors -%}
    {% if errors|length %}
        {%- for error in errors -%}
            <p class="mt-1.5 text-sm text-red-600 re-form-error">
                {%- if error_raw -%}
                    {{- error.message|raw -}}
                {%- else -%}
                    {{- error.message -}}
                {%- endif -%}
            </p>
        {%- endfor -%}
    {% endif %}
{%- endblock form_errors %}

{% block _adherent_profile_mandates_widget %}
    <div class="mt-6 grid md:grid-cols-2 gap-4">
        {%- for child in form %}
            <div>
                <div class="flex items-center space-x-2 {{ multiple ? 'checkbox' : 'radio' }}">
                    {{- form_widget(child, { attr: { class: 'h-4 w-4 rounded border-gray-300 text-re-blue-600 focus:ring-re-blue-500' } }) -}}
                    {{- form_label(child, null, {translation_domain: choice_translation_domain}) -}}
                </div>
            </div>
        {% endfor -%}
    </div>
{% endblock %}

{% block _adherent_email_subscription_subscriptionTypes_entry_row %}
    <div class="flex items-center space-x-2 checkbox">
        {{- form_widget(form, { attr: { class: 'h-4 w-4 rounded border-gray-300 text-re-blue-600 focus:ring-re-blue-500' } }) -}}
        {{- form_label(form) -}}
    </div>
{% endblock %}

{% block autocomplete_address_row %}

    <div class="address-autocomplete {% if not form.vars.valid %}has-error{% endif %}" data-form="{{ form.vars.name }}">
        {{ block('form_errors') }}

        <div class="address-autocomplete-wrapper hidden">
            <div class="mt-6">
                {{ form_row(form.autocomplete, { label: 'Adresse postale', attr: { placeholder: 'Saisissez et sélectionnez une adresse' } }) }}
            </div>

            <div class="mt-2 text-gray-500">
                <p>
                    Commencez à saisir votre adresse puis sélectionnez une proposition dans la liste d'adresses affichée.
                </p>
            </div>

            <div class="mt-2 rounded-md bg-blue-50 p-4 max-w-2xl">
                <div class="text-sm text-blue-700">
                    <p>Votre adresse n'apparait pas dans la liste?</p>
                    <p>
                        <a href="#" class="text-blue-800 hover:underline font-medium enable-address-fields">Cliquez ici</a> pour saisir manuellement votre adresse.
                    </p>
                    <p class="mt-2">
                        <span class="text-blue-800 font-bold uppercase">Attention:</span> il est possible que le changement de votre adresse entraîne votre rattachement à un autre comité.
                    </p>
                </div>
            </div>
        </div>

        <div class="address-fields-wrapper">
            <div class="mt-6 grid grid-cols-1 gap-y-6 gap-x-4 md:grid-cols-6">
                <div class="md:col-span-3">
                    {{ form_row(form.address, { label: 'Adresse' }) }}
                </div>
                <div class="md:col-span-3">
                    {{ form_row(form.postalCode, { label: 'Code postal' }) }}
                </div>
                <div class="md:col-span-3">
                    {{ form_row(form.additionalAddress, { label: 'Complément d\'adresse' }) }}
                </div>
                <div class="md:col-span-3">
                    {{ form_row(form.cityName, { label: 'Ville' }) }}
                </div>
                <div class="md:col-span-3">
                    {{ form_row(form.country, { label: 'Pays', attr: { placeholder: 'Sélectionner un pays' } }) }}
                </div>
            </div>
            <div class="mt-2 rounded-md bg-blue-50 p-4 max-w-2xl">
                <div class="text-sm text-blue-700">
                    <p>
                        <a href="#" class="text-blue-800 hover:underline font-medium enable-address-autocomplete">Cliquez ici</a> pour retourner à la sélection d'adresse.
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
