{% use 'renaissance/forms/tailwind_form_theme.html.twig' %}

{% block procuration_voteZone_row %}
    <fieldset>
        <twig:Atoms:ReLabel class="mb-6">Ma commune / mon pays de vote</twig:Atoms:ReLabel>
        <twig:Molecules:ReSelect
            onQuery="getVoteZone"
            name="{{ full_name }}"
            id="{{ id }}"
            placeholder="{{ attr.placeholder ?? 'Rechercher votre commune ou pays' }}"
            @change="handleVoteZoneChange($event.target.value)"
            validate="['required']"
            onCheck="setFieldValid('voteZone')"
        />
    </fieldset>
{% endblock %}

{% block _procuration_proxy_voteZone_row %}
    {{ block('procuration_voteZone_row') }}
{% endblock %}

{% block _procuration_request_voteZone_row %}
    {{ block('procuration_voteZone_row') }}
{% endblock %}

{% block procuration_votePlace_widget %}
    <twig:Molecules:ReSelect
            name="{{ full_name }}"
            id="{{ id }}"
            validate="['required']"
            onCheck="setFieldValid('voteZone')"
            placeholder="{{ attr.placeholder ?? 'Rechercher votre bureau de vote' }}"

    />
{% endblock %}

{% block _procuration_proxy_votePlace_widget %}
    {{ block('procuration_votePlace_widget') }}
{% endblock %}

{% block _procuration_request_votePlace_widget %}
    {{ block('procuration_votePlace_widget') }}
{% endblock %}

{% block procuration_firstNames_label %}
    {{ form_label(form) }}
    <p class="text-[#555555] opacity-80 mb-2">Attention à bien renseigner l'ensemble de vos prénoms présent sur votre acte de naissance.</p>
{% endblock %}

{% block _procuration_proxy_firstNames_label %}
    {{ block('procuration_firstNames_label') }}
{% endblock %}

{% block _procuration_request_firstNames_label %}
    {{ block('procuration_firstNames_label') }}
{% endblock %}
