{% use "form_div_layout.html.twig" %}

{% block re_choice_tab_widget %}
    <twig:Atoms:ReLinkedToggle>
        {% for child in form.children %}
            <twig:Atoms:ReToggleButton
                name="{{ form.vars.full_name }}"
                id="{{ child.vars.id }}"
                value="{{ child.vars.value }}"
            >
                {{ child.vars.label|trans }}
            </twig:Atoms:ReToggleButton>
        {% endfor %}
    </twig:Atoms:ReLinkedToggle>
{% endblock %}

{% block form_widget_simple %}
    {%- set type = type|default('text') -%}
    <twig:molecules:ReTextField
        name="{{ form.vars.full_name }}"
        id="{{ form.vars.id }}"
        value="{{ form.vars.value }}"
        status="default"
        type="{{ type }}"
        {{ ...attr }}
    />
{% endblock %}

{% block checkbox_row %}
    <twig:molecules:ReCheckboxField
        name="{{ form.vars.full_name }}"
        id="{{ form.vars.id }}"
        value="{{ form.vars.value }}"
        icon="{{ icon }}"
        status="default"
        {{ ...attr }}
    >
        {{ label|trans }}
    </twig:molecules:ReCheckboxField>
{% endblock %}

{% block autocomplete_address_row %}
    <div class="address-autocomplete {% if not form.vars.valid %}has-error{% endif %}" data-form="{{ form.vars.name }}">
        {{ block('form_errors') }}

        <div class="address-autocomplete-wrapper hidden">

            {{ form_row(form.autocomplete, { label: 'Adresse postale', attr: { placeholder: 'Saisissez et sélectionnez une adresse' } }) }}
            <p class="text-gray-600 text-sm italic">
                Commencez à saisir votre adresse puis sélectionnez une proposition dans la liste d'adresses affichée.
            </p>

            <div class="rounded-md bg-blue-50/30 p-4">
                <div class="flex">
                    <div class="flex-shrink-0">
                        {% include 'icons/info.svg.twig' %}
                    </div>
                    <div class="ml-3 flex-1 text-sm leading-5">
                        <p class="text-gray-900">
                            Votre adresse n'apparait pas dans la liste?
                            <br>
                            <a href="#" class="text-blue-500 hover:underline font-medium enable-address-fields">Cliquez
                                ici</a> pour saisir manuellement votre adresse.
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="address-fields-wrapper">
            {{ form_row(form.address, { label: 'Adresse' }) }}
            {{ form_row(form.cityName, { label: 'Ville' }) }}

            <div class="flex space-x-4">
                {{ form_row(form.postalCode, { label: 'Code postal' }) }}
                {{ form_row(form.country, { label: 'Pays', attr: { placeholder: 'Sélectionner un pays' } }) }}
            </div>

            <div class="rounded-md bg-blue-50/30 p-4">
                <div class="flex">
                    <div class="flex-shrink-0">
                        {% include 'icons/info.svg.twig' %}
                    </div>
                    <div class="ml-3 flex-1 text-sm leading-5">
                        <p class="text-gray-900">
                            <a href="#" class="text-blue-500 hover:underline font-medium enable-address-autocomplete">Cliquez
                                ici</a> pour retourner à la sélection d'adresse.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
