<div class="committee__event__header">
    <div class="committee__event__header__titles">
        <h1 class="committee-event-name text--large text--white b__nudge--bottom-small text--breakword">
            {{- event.name }} - {{ event.cityName }}, {{ event.beginAt|date('d/m/Y') -}}
        </h1>
        <div class="l__row">
            {% if event.organizer %}
                <div class="committee-event-organizer text--body text--white">
                    Organisé par <span class="text--bold">{{ is_granted('IS_AUTHENTICATED_FULLY') ? event.organizer.fullName : event.organizer.partialName }}</span>
                    {% if committee is defined and committee %}
                        du comité
                        <a class="link--white" href="{{ path('app_committee_show', {'slug': committee.slug}) }}">
                            {{- committee.name -}}
                        </a>
                    {% endif %}
                </div>
            {% else %}
                <div class="committee-event-organizer text--body text--white">
                    Organisé par un ancien adhérent
                </div>
            {% endif %}
        </div>
    </div>
    <div class="committee__event__header__cta">
        {% set isFull = true %}
        {% if event.organizer is not same as (app.user) %}
            {% if event.finished %}
                <div class="text--body text--white">
                    Cet événement est terminé
                </div>
            {% elseif event.cancelled %}
                <button class="btn btn--no-border{{ isFull?' btn--full':''}} btn--text-blue btn--disabled" disabled="disabled">
                    Je veux participer
                </button>
                <div class="text--white text--center">
                    L'événement a été annulé
                </div>
            {% else %}
                {% if is_event_already_participating(event, app.user) %}
                    <button class="btn btn--no-border {{ isFull?' btn--full':''}} unregister-event" data-csrf-token="{{ csrf_token('event.unregistration') }}">Je ne peux plus participer</button>
                {% elseif not event.full %}
                    <a class="btn btn--no-border {{ isFull?' btn--full':''}} register-event" href="{{ path("app_#{event.type}_attend", {slug: event.slug}) }}">Je veux participer</a>
                {% else %}
                    <button class="btn btn--no-border{{ isFull?' btn--full':''}} btn--text-blue btn--disabled register-event" disabled="disabled">
                        Je veux participer
                    </button>
                    <div class="text--white text--center">
                        L'événement est complet
                    </div>
                {% endif %}
            {% endif %}
        {% endif %}
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <div class="text--body text--white icon--with-text l__row--center b__nudge--top-10 committee-event-attendees event-attendees">
                {{ include('components/participants.html.twig') }}
                {{ event.participantsCount }} {{ 'capacity'|transchoice(event.participantsCount) }}
            </div>
        {% endif %}
        <ul class="committee__event__header__cta__social list__links list__links--row list__links--svgs list__links--svgs--small text--white">
            <li class="head">Partagez</li>
            <li role="button" aria-label="Partagez sur Facebook"
                onclick="App.share('facebook', '{{ event_url|url_encode }}', 'En Marche ! à {{ event.cityName }} le {{ event.beginAt|date('d/m') }}')">
                <i class="fa fa-facebook-square"></i>
            </li>
            <li role="button" aria-label="Partagez via Twitter"
                onclick="App.share('twitter', '{{ event_url|url_encode }}', 'En Marche ! à {{ event.cityName }} le {{ event.beginAt|date('d/m') }} :')">
                <i class="fa fa-twitter"></i>
            </li>
            <li role="button" aria-label="Partagez via email"
                onclick="App.share('email', '{{ event_url|url_encode }}', 'En Marche ! à {{ event.cityName }} le {{ event.beginAt|date('d/m') }}: ')">
                <i class="fa fa-envelope-o"></i>
            </li>
            <li role="button" aria-label="{{ 'committee.event.show.share.download_ical'|trans }}">
                <a href="{{ path("app_#{event.type}_export_ical", {slug: event.slug}) }}" title="{{ 'committee.event.show.share.download_ical'|trans }}" class="text--white">
                    <i class="fa fa-calendar-plus-o" aria-hidden="true"></i>
                    <span class="sr-only">{{ 'committee.event.show.share.download_ical'|trans }}</span>
                </a>
            </li>
        </ul>
    </div>
</div>
<div id="unregistration_error"></div>
