{% extends 'events/_layout.html.twig' %}

{% block page_title "Inscription à #{event.name} - #{event.cityName}, #{event.beginAt|date('d/m/Y')}" %}
{% block canonical_url url('app_event_attend', { slug: event.slug }) %}
{% block meta_description "S'inscrire à #{event.name} qui est un événement local du mouvement La République En Marche ! organisé par #{event.organizer} le #{event.beginAt|date('d/m/Y')} à #{event.beginAt|date('G\\hi')}, dans la ville de #{event.cityName}." %}

{% block event_name %}
    <h1 class="committee-event-name text--large b__nudge--bottom">
        Inscription à {{ event.name }} - {{ event.cityName }}, {{ event.beginAt|date('d/m/Y') }}
    </h1>
{% endblock %}

{% block event_content %}
    <section class="l__wrapper--500 space--30-0 b__nudge--bottom-huge">
        <div class="committee-event-registration">
            <h2 class="b__nudge--bottom text--normal">Participer à l'événement</h2>
            {% if not has_role_adherent %}
                <p>
                    <a href="{{ login_path_for_anonymous_follower("app_#{event.type}_attend", { slug: event.slug }) }}">
                        Connectez-vous
                    </a>
                    avec votre compte En Marche pour vous inscrire plus rapidement.
                </p>
            {% endif %}

            <form action="{{ path("app_#{event.type}_attend", { slug: event.slug }) }}" method="post" id="committee-event-registration-form">
                {{ form_errors(form) }}

                <div class="form__row" id="field-first-name">
                    {{ form_errors(form.firstName) }}
                    {{ form_widget(form.firstName, {
                        'attr': {
                            'class': 'form--full',
                            'placeholder': 'Prénom',
                        }
                    }) }}
                </div>

                <div class="form__row" id="field-last-name">
                    {{ form_errors(form.lastName) }}
                    {{ form_widget(form.lastName, {
                        'attr': {
                            'class': 'form--full',
                            'placeholder': 'Nom',
                        }
                    }) }}
                </div>

                <div class="form__row" id="field-email-address">
                    {{ form_errors(form.emailAddress) }}
                    {{ form_widget(form.emailAddress, {
                        'attr': {
                            'class': 'form--full',
                            'placeholder': 'Adresse e-mail',
                        }
                    }) }}
                </div>

                <div class="form__row form__checkbox" id="field-accept-terms">
                    {{ form_widget(form.acceptTerms) }}
                    {{ form_errors(form.acceptTerms) }}
                    <label for="{{ form.acceptTerms.vars.id }}">
                        {{ 'event.personal_data_collect'|trans({'%organisator_name%':
                            event.organizer ?
                                (has_role_adherent ? event.organizer.fullName : event.organizer.partialName)
                                : ''
                        }) }}
                    </label>
                </div>

                {% if form.newsletterSubscriber is defined %}
                    <div class="form__row form__checkbox" id="field-newsletter-subscriber">
                        {{ form_widget(form.newsletterSubscriber) }}
                        {{ form_errors(form.newsletterSubscriber) }}
                        <label for="{{ form.newsletterSubscriber.vars.id }}">
                            Je souhaite recevoir la newsletter hebdomadaire de LaREM&nbsp;<i> (optionnel)</i>
                        </label>
                    </div>
                {% endif %}

                <div class="text--center">
                    {{ form_rest(form) }}
                    <button type="submit" class="btn btn--blue" id="attend-committee-event">
                        Je m'inscris
                    </button>
                    <a  href="{{ path('app_event_show', {slug: event.slug}) }}"
                        class="btn">
                        Annuler
                    </a>
                </div>

                <p class="text--small text--gray">
                    {{ include('components/_gdpr_mentions.html.twig') }}
                </p>
            </form>
        </div>

    </section>
{% endblock %}
