{% extends 'committee/_layout.html.twig' %}

{% block page_title 'Contacter des inscrits à mon événement' %}

{% block javascripts %}
    {% import 'javascript.js.twig' as js %}

    <script src="{{ asset('ckeditor/ckeditor.js') }}"></script>
    <script src="{{ asset('ckeditor/lang/fr.js') }}"></script>
    <script type="text/javascript">
        Kernel.onLoad(function() {
            {{ js.ckeditor('message') }}
        });
    </script>
{% endblock %}

{% block committee_content %}
    <main>
        <section class="l__wrapper--medium space--30-0">
            <a href="{{ path('app_event_show', {'slug': event.slug}) }}" class="back-to-list icon--with-text b__nudge--top-15">
                {{ include('components/caret--left.html.twig') }}
                Retour à l'événement
            </a>
            <header class="space--30-0">
                <h1 class="b__nudge--bottom-small text--medium">
                    Contacter des inscrits à mon événement
                </h1>
            </header>
            {% if contacts is empty %}
                <div class="error">
                    Vous n'avez pas selectionné de membre destinataire de ce message,
                    il ne pourra donc pas être envoyé.
                </div>
            {% else %}
                <div class="text--body">{{ 'Votre message sera envoyé par e-mail à %s de votre comité.'|format('event.participants_count'|transchoice(contacts|length)) }}</div>
            {% endif %}

            {{ form_start(form) }}

                {{ form_errors(form.message) }}

                <input type="hidden" name="contacts" value="{{ contacts|json_encode }}" />

                {{ form_widget(form.message, { attr: {
                    class: 'form--full form__field--textarea-300 b__nudge--top-15',
                    placeholder: 'Écrivez votre message'
                } }) }}

                {{ form_widget(form.submit, { label: 'Envoyer', attr: { class: 'btn btn--blue b__nudge--top-15' } }) }}

                <a href="{{ path('app_event_show', {'slug': event.slug}) }}"
                   class="btn">
                    Annuler
                </a>

            {{ form_end(form) }}

        </section>
    </main>
{% endblock %}
