{% extends 'events/_layout.html.twig' %}

{% block page_title "Invitation pour #{event.name} - #{event.cityName}, #{event.beginAt|date('d/m/Y')}" %}
{% block canonical_url url('app_event_invite', { slug: event.slug }) %}
{% block meta_description "Envoyer une invitation pour #{event.name} qui est un événement local du mouvement La République En Marche ! organisé par #{event.organizer} le #{event.beginAt|date('d/m/Y')} à #{event.beginAt|date('G\\hi')}, dans la ville de #{event.cityName}." %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://www.google.com/recaptcha/api.js"></script>
{% endblock %}

{% block event_name %}
    <h1 class="committee-event-name text--large b__nudge--bottom">
        Invitation pour {{ event.name }} - {{ event.cityName }}, {{ event.beginAt|date('d/m/Y') }}
    </h1>
{% endblock %}

{% block event_content %}
    <section class="l__wrapper--500 space--30-0 b__nudge--bottom-huge">
        <div class="committee-event-registration">
            <h2 class="b__nudge--bottom text--normal">Inviter des amis à l'événement</h2>

            <div class="invitation-page__form">
                {{ form_start(invitation_form) }}

                {{ form_errors(invitation_form) }}

                <div class="form__row">
                    {{ form_label(invitation_form.email, 'Votre adresse e-mail') }}
                    {{ form_errors(invitation_form.email) }}
                    {{ form_widget(invitation_form.email, { 'attr': { 'class': 'form--full' } }) }}
                </div>

                <div class="form__row">
                    {{ form_label(invitation_form.firstName, 'Votre prénom') }}
                    {{ form_errors(invitation_form.firstName) }}
                    {{ form_widget(invitation_form.firstName, { 'attr': { 'class': 'form--full' } }) }}
                </div>

                <div class="form__row">
                    {{ form_label(invitation_form.lastName, 'Votre nom') }}
                    {{ form_errors(invitation_form.lastName) }}
                    {{ form_widget(invitation_form.lastName, { 'attr': { 'class': 'form--full' } }) }}
                </div>

                <div class="form__row">
                    {{ form_label(invitation_form.message, 'Message d\'invitation') }}
                    {{ form_errors(invitation_form.message) }}
                    {{ form_widget(invitation_form.message, { 'attr': { 'class': 'form--full form__field--textarea-120' } }) }}
                </div>

                {% for guest in invitation_form.guests %}
                    <div class="form__row">
                        {{ form_errors(guest) }}
                        {{ form_widget(guest, { 'attr': { 'class': 'form--full' } }) }}
                    </div>
                {% endfor %}

                <input type="hidden" class="nojs-g-recaptcha-response" name="g-recaptcha-response" value="" />
                {% if recaptcha_public_key is not empty %}
                    {% for flashMessage in app.flashes("error_recaptcha") %}
                        <p id="recapture_error" class="form__error">{{ flashMessage|trans }}</p>
                    {% endfor %}
                    <div class="g-recaptcha" data-sitekey="{{ recaptcha_public_key }}" style="margin: 10px auto 50px auto;"></div>
                {% elseif app.debug %}
                    <input type="hidden" name="g-recaptcha-response" value="fake" />
                {% endif %}

                {{ form_end(invitation_form) }}

                <p class="text--small text--gray">
                    Les données recueillies sur ce formulaire sont traitées par LaREM afin de gérer les informations relatives aux inscriptions aux évènements de LaREM et de permettre à LaREM de vous envoyer des communications politiques.
                    Toutes les informations sont obligatoires, sauf celles marquées "Optionnel". L’absence de réponse dans ces champs ne permettra pas à LaREM de traiter votre demande.
                    Conformément à la règlementation, vous disposez d’un droit d’opposition et d’un droit à la limitation du traitement de données vous concernant, ainsi que d’un droit d’accès, de rectification, de portabilité et d’effacement de vos données. Vous disposez également de la faculté de donner des directives sur le sort de vos données après votre décès.
                    Vous pouvez consulter notre <a href="https://en-marche.fr/politique-protection-donnees" target="_blank">Politique de protection des données</a> et exercer vos droits en nous adressant votre demande accompagnée d’une copie de votre pièce d’identité à l’adresse postale ou électronique suivante : La République En Marche, 63 rue Sainte-Anne, 75002 Paris, France et <a href="mailto:mes-donnees@en-marche.fr">mes-donnees@en-marche.fr</a>.
                </p>
            </div>
        </div>
    </section>
{% endblock %}
