{% extends 'base.html.twig' %}

{% block page_title event.name %}

{% block javascripts %}
    <script type="application/javascript">
        Kernel.onLoad(function() {
            App.runManageParticipants();
        });
    </script>
{% endblock %}

{% block content %}
    {% set event_url = url('app_committee_event_show', {slug: event.slug}) %}
    <main class="committee__event__create">
        <section class="committee__event l__wrapper">
            <div class="committee__event__header">
                <div class="committee__event__header__titles">
                    <h1 class="committee-event-name text--large text--white b__nudge--bottom-small">
                        {{- event.name -}}
                    </h1>
                    <div class="committee-event-organizer text--body text--white">
                        Organisé par <span class="text--bold">{{ event.organizer }}</span>
                        {% if committee is defined and committee %}
                            du comité
                            <a class="link--white" href="{{ path('app_committee_show', {'slug': committee.slug}) }}">
                            {{- committee.name -}}
                            </a>
                        {% endif %}
                    </div>
                </div>
                <div class="committee__event__header__cta">
                    {% if event.cancelled %}
                        <button class="btn btn--no-border btn--full btn--text-blue btn--disabled" disabled="disabled">
                            Je veux participer
                        </button>
                        <div class="text--white text--center">
                            L'événement à été annulé
                        </div>
                    {% else %}
                        <a class="btn btn--no-border btn--full" href="{{ path('app_committee_event_attend', {slug: event.slug}) }}">Je veux participer</a>
                    {% endif %}
                    <div class="text--body text--white icon--with-text l__row--center b__nudge--top-10">
                        {{ include('components/participants.html.twig') }}
                        {{ 'event.participants_count'|transchoice(event.participantsCount) }}
                    </div>
                    <ul class="committee__event__header__cta__social list__links list__links--row list__links--svgs list__links--svgs--small text--white">
                        <li class="head">Partagez</li>
                        <li role="button" aria-label="Partagez sur Facebook"
                            class=""
                            onclick="App.share('facebook', '{{ event_url|url_encode }}', 'En Marche ! à {{ event.cityName }} le {{ event.beginAt|date('d/m') }}')">
                            <i class="fa fa-facebook-square"></i>
                        </li>
                        <li role="button" aria-label="Partagez via Twitter"
                            class=""
                            onclick="App.share('twitter', '{{ event_url|url_encode }}', 'En Marche ! à {{ event.cityName }} le {{ event.beginAt|date('d/m') }} :')">
                            <i class="fa fa-twitter"></i>
                        </li>
                        <li role="button" aria-label="Partagez via email"
                            class=""
                            onclick="App.share('email', '{{ event_url|url_encode }}', 'En Marche ! à {{ event.cityName }} le {{ event.beginAt|date('d/m') }}: ')">
                            <i class="fa fa-envelope-o"></i>
                        </li>
                    </ul>
                </div>
            </div>
            <a href="{{ path('app_committee_event_show', {slug: event.slug}) }}" class="back-to-list icon--with-text b__nudge--top-15">
                {{ include('components/caret--left.html.twig') }}
                Retour à l'événement
            </a>
        </section>
        <section class="l__wrapper--slim space--30-0 text--body">
            <div class="b__nudge--bottom-huge">
                <h2 class="b__nudge--bottom-small text--medium">
                    Gérer les participants
                </h2>
                <div class="committee__members__nav">
                    <div>
                        {% if not event.isCoalitionsEvent %}
                            <form method="post" action="{{ path("app_committee_event_contact_members", { slug: event.slug }) }}">
                                <input type="hidden" name="token" value="{{ csrf_token('event.contact_members') }}" id="members-contact-token" />
                                <input type="hidden" name="contacts" value="" id="members-contact-selection" />
                                <button id="members-contact-button" class="btn b__nudge--right" disabled="disabled">Contacter</button>
                            </form>
                        {% endif %}
                        <form method="post" action="{{ path("app_committee_event_export_members", { slug: event.slug }) }}">
                            <input type="hidden" name="token" value="{{ csrf_token('event.export_members') }}" id="members-export-token" />
                            <input type="hidden" name="exports" value="" id="members-export-selection" />
                            <button id="members-export-button" class="btn b__nudge--right" disabled="disabled">Exporter</button>
                        </form>
                        <form method="post" action="{{ path("app_committee_event_print_members", { slug: event.slug }) }}">
                            <input type="hidden" name="token" value="{{ csrf_token('event.print_members') }}" id="members-print-token" />
                            <input type="hidden" name="prints" value="" id="members-print-selection" />
                            <button id="members-print-button" class="btn" disabled="disabled">Imprimer</button>
                        </form>
                    </div>
                </div>
                {% include 'events/_member_list.html.twig' with { registrations: registrations } only %}
            </div>
        </section>
    </main>
{% endblock %}
