{% extends 'base.html.twig' %}

{% block page_title %}{{ event.name }} - {{ event.cityName }}, {{ event.localBeginAt|date('d/m/Y', false) }}{% endblock %}
{% block canonical_url url('app_event_show', {'slug': event.slug}) %}

{%- block meta_description -%}
    {{ event.name }} est un événement local du mouvement La République En Marche ! organisé par {{ event.organizer ? event.organizer.partialName : 'un ancien adhérent' }} le {{ event.localBeginAt|localizeddate('full', 'none', null, false) }} à {{ event.localBeginAt|date('G\\hi', false) -}}, dans la ville de {{ event.postAddress.cityName }}. Visitez la page dédiée pour vous inscrire et obtenir toutes les informations concernant cet événement.
{%- endblock -%}

{% block json_ld %}
    <script type="application/ld+json">
    {
        "@context": "http://schema.org",
        "@type": "Event",
        "name": "{{ event.name }}",
        "url": "{{ block('open_graph_url') }}",
        "image": {
            "@type": "ImageObject",
            "url": "{{ block('open_graph_image')|raw }}",
            "contentUrl": "{{ block('open_graph_image')|raw }}",
            "width": {{ block('open_graph_image_width') }},
            "height": {{ block('open_graph_image_height') }}
        },
        "description": "{{ event.description }}",
        "startDate": "{{ event.localBeginAt|date(constant('DATE_ATOM'), false) }}",
        "endDate": "{{ event.finishAt|date(constant('DATE_ATOM')) }}",
        "eventStatus": "{{ event.active ? 'http://schema.org/EventScheduled' : 'http://schema.org/EventCancelled' }}",
        {% if event.organizer %}
        "organizer": {
            {% if committee is defined and committee %}
            "@type": "Organization",
            "name": "{{ committee.name }}",
            "url": "{{ url('app_committee_show', {'slug': committee.slug}) }}"
            {% else %}
            "@type": "Person",
            "givenName": "{{ event.organizer.firstName }}",
            "familyName": "{{ event.organizer.lastName }}"
            {% endif %}
        },
        {% endif %}
        "funder": {
            "@type": "Person",
            "givenName": "Emmanuel",
            "familyName": "Macron"
        },
        "sponsor": {
            "@type": "Organization",
            "name": "En Marche !",
            "url": "{{ url('homepage') }}"
        },
        "location": {
            "@type": "Place",
            "name": "{{ event.inlineFormattedAddress }}",
            "address": {
                "@type": "PostalAddress",
                "streetAddress": "{{ event.address }}",
                "addressLocality": "{{ event.cityName }}",
                "postalCode": "{{ event.postalCode }}",
                "addressCountry": "{{ event.country }}"
            }
        }
    }
    </script>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
         Kernel.onLoad(function(di) {
            var unregistrationButton = dom('.unregister-event');
             unregistrationButton && on(unregistrationButton, 'click', function () {
                di.get('api').unregisterEvent(
                    '{{ event.slug }}',
                    unregistrationButton.getAttribute('data-csrf-token'),
                    function(data) {
                        if (data.hasOwnProperty('error')) {
                            dom('#unregistration_error').textContent = data.error;
                        } else {
                            window.location.reload();
                        }
                    }
                );
            });
        });
    </script>
{% endblock %}

{% block content %}
    {% set event_url = url("app_#{event.type}_show", {slug: event.slug}) %}
    <main>
        <section class="committee__event l__wrapper">
            <a href="{{ path('app_search_events') }}" class="back-to-list icon--with-text text--summary">
                {{ include('components/caret--left.html.twig') }}
                {{ 'event.back_to_list'|trans }}
            </a>

            {{ include('events/_header.html.twig') }}

            <div class="b__nudge--top-10 text--body text--small">
                {% if is_granted('HOST_EVENT', event) %}
                    {% if event.active %}
                        <a class="b__nudge--right-small link--newblue"
                           href="{{ path("app_#{event.type}_edit", {'slug': event.slug}) }}">
                            {{ 'event.edit'|trans }}
                        </a>
                        <a class="b__nudge--right-small link--newblue"
                           href="{{ path("app_#{event.type}_cancel", {'slug': event.slug}) }}">
                            {{ 'event.cancel'|trans }}
                        </a>
                    {% endif %}
                    <a href="{{ path("app_#{event.type}_members", {'slug': event.slug}) }}" class="link--newblue">
                        {{ 'event.manage_participants'|trans }}
                    </a>
                {% elseif is_granted('REPORT') %}
                    <a href="{{ report_path(event, app.request.pathInfo) }}" class="text--body link--newblue pull-right">{{ 'event.report'|trans }}</a>
                {% endif %}
            </div>

            <div class="committee__event__schedule text--summary">
                <ul>
                    <li class="b__nudge--bottom-tiny">
                        <i class="fa fa-clock-o" aria-hidden="true"></i>
                        <span class="committee-event-date">{{- event.localBeginAt|localizeddate('full', 'none', null, false)|capitalize }}, {{ event.localBeginAt|date('G\\hi', false) -}}{{ event.timeZone|utc_offset }}</span>
                    </li>
                    <li>
                        <i class="fa fa-map-marker" aria-hidden="true"></i>
                        <span class="committee-event-address">
                            {{- event.inlineFormattedAddress -}}
                        </span>
                    </li>
                </ul>
            </div>
        </section>
        <section class="l__wrapper--slim space--30-0 text--body">
            <ul id="committee__event__nav" class="list__links list__links--row list__links--default b__nudge--bottom">
                <li>
                    <a href="{{ path("app_#{event.type}_show", {'slug': event.slug}) }}">
                        À propos
                    </a>
                </li>
                {% if event.active %}
                    <li>
                        <a href="{{ path("app_#{event.type}_invite", {'slug': event.slug}) }}">
                            Inviter des amis
                        </a>
                    </li>
                {% endif %}
                {% if event.organizer %}
                <li>
                    {% if has_role_user %}
                        <a href="{{ path('app_adherent_contact', {'uuid': event.organizer.uuid, 'from': 'event', 'id': event.uuid.toString}) }}">
                            Contact
                        </a>
                    {% else %}
                        Contact <span class="text--smallest">(connectez-vous pour pouvoir contacter l'organisateur de l'événement)</span>
                    {% endif %}
                </li>
                {% endif %}
            </ul>
            <div class="committee-event-description text--with-bullet b__nudge--bottom-huge l__wrapper--slim">
                {%- block main_section -%}
                    {%- if event.isCitizenAction -%}
                        {{- event.description -}}
                    {%- else -%}
                        {{- event.description|raw -}}
                    {%- endif -%}
                {%- endblock -%}
            </div>
        </section>

        {% if eventsNearby %}
            <section class="committee-event-nearby l__wrapper--narrow">
                <h2 class="text--large">{{ 'event.next_events_nearby'|transchoice(eventsNearby|length) }}</h2>
                <ul class="l__row l__row--wrap l__row--top space--20-0 l__row--h-stretch-around l__mobile--col">
                    {% for eventNearby in eventsNearby %}
                        <li class="card card--content l__col--bottom">
                            <div class="box-header">
                                <a href="{{ path('app_event_show', { slug: eventNearby.slug }) }}" class="headline link--no-decor">
                                    <h2 class="text--normal">{{ eventNearby.name }}</h2>
                                    <h4 class="text--summary text--gray b__nudge--bottom-medium"><i class="fa fa-clock-o" aria-hidden="true"></i> Le {{ eventNearby.localBeginAt|localizeddate('medium', 'none', null, false)|capitalize }}, {{ event.localBeginAt|date('G\\hi', false) }}</h4>
                                    <img class="search-map"
                                         src="{{ path('map_url', { latitude: eventNearby.latitude, longitude: eventNearby.longitude }) }}"
                                         title="Carte d'accès à l'événement {{ eventNearby.name }}"
                                         alt="{{ eventNearby.inlineFormattedAddress }}"
                                    />
                                </a>
                            </div>
                            <div class="box-bottom">
                                <h4 class="text--summary b__nudge--bottom-tiny"><i class="fa fa-map-marker" aria-hidden="true"></i> {{ eventNearby.cityName }}</h4>
                                <div class="share">
                                    <span role="button" onclick="App.share('facebook', '{{ url('app_event_show', { slug: eventNearby.slug }) }}', '{{ eventNearby.name|escape('js') }}')">
                                        <i class="fa fa-facebook-square"></i>
                                    </span>
                                    <span role="button" onclick="App.share('twitter', '{{ url('app_event_show', { slug: eventNearby.slug }) }}', '{{ eventNearby.name|escape('js') }}')">
                                        <i class="fa fa-twitter"></i>
                                    </span>
                                </div>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </section>
        {% endif %}

    </main>
{% endblock %}
