{% extends 'municipal_chief/_layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('select2/select2.min.css') }}" rel="stylesheet">
{% endblock %}

{% block municipal_chief_content %}
    <div class="datagrid__pre-table b__nudge--bottom-larger">
        <h3>Adhérents</h3>
        <span class="datagrid__count">
            <span>{{ results.count|number_format(0, ',', ' ') }}</span> sur {{ results.totalItems|number_format(0, ',', ' ') }} adhérent{{ results.count > 1 ? 's' : '' }}
        </span>
    </div>

    <div class="datagrid">
        <div class="b__nudge--bottom-larger">
            <table class="datagrid__table-manager">
                <thead>
                    <tr>
                        <th style="width: 100px;">Identité</th>
                        <th style="width: 100px;">Téléphone</th>
                        <th style="width: 100px;">Commune</th>
                        <th style="width: 150px;" class="datagrid__table__col--hide-mobile">Adhésion le</th>
                    </tr>
                </thead>
                <tbody>
                {% for user in results %}
                    <tr class="referent__item">
                        <td class="adherent-identity">
                            <div class="adherent-name">
                                {{ user.lastName }} {{ user.firstName }}
                            </div>
                            <div class="adherent-caracs">
                                {{ user.gender ? ('common.gender.'~ user.gender)|trans : '~' }},
                                {{ user.age ? user.age ~ ' ans' : '~'}}
                            </div>
                        </td>
                        <td>{{ user.phone ? user.phone|phone_number_format : 'Non renseigné' }}</td>
                        <td>{{ user.address }}<br/>{{ user.cityName }} {{ user.postalCode }}, {{ user.country }}</td>
                        <td class="datagrid__table__col--hide-mobile">
                            {{ user.registeredAt|date('d/m/Y H:i') }}
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="6" class="text--center">
                            <img src="{{ asset('/images/icons/icn_no-result.svg') }}" class="icn--no-result" width="30" />
                            Aucun résultat
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    {% if results.count %}
        {% include 'components/_modern_pagination.html.twig' with {
            current_page: results.currentPage,
            total_pages: results.lastPage
        } %}
    {% endif %}
{% endblock %}
