<table class="table">
    <tbody>
        <tr class="sonata-ba-view-container">
            <th>ID</th>
            <td>{{ committee.id }}</td>
        </tr>
        <tr class="sonata-ba-view-container">
            <th>Nom</th>
            <td>{{ committee.name }}</td>
        </tr>
        <tr class="sonata-ba-view-container">
            <th>Nombre de membres</th>
            <td>{{ committee.membersCount }}</td>
        </tr>
        <tr class="sonata-ba-view-container">
            <th>Code postal</th>
            <td>{{ committee.postalCode }}</td>
        </tr>
        <tr class="sonata-ba-view-container">
            <th>Ville</th>
            <td>{{ committee.cityName }}</td>
        </tr>
        <tr class="sonata-ba-view-container">
            <th>Pays</th>
            <td>{{ committee.country }}</td>
        </tr>
    </tbody>
</table>
