{% extends '@SonataAdmin/CRUD/base_show.html.twig' %}

{% form_theme form '@SonataDoctrineORMAdmin/Form/form_admin_fields.html.twig' %}

{% block title %}
    Fusion de comités
{% endblock %}

{% block show %}
    <div class="row">
        <div class="col-md-6">
            <div class="box box-danger">
                <div class="box-header">
                    <h4 class="box-title">Comité source</h4>
                </div>
                <div class="box-body table-responsive no-padding">
                    {% include 'admin/committee/merge/_committee_summary.html.twig' with { committee: source_committee } %}
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="box box-success">
                <div class="box-header">
                    <h4 class="box-title">
                        Comité de destination
                    </h4>
                </div>
                <div class="box-body table-responsive no-padding">
                    {% include 'admin/committee/merge/_committee_summary.html.twig' with { committee: destination_committee } %}
                </div>
            </div>
        </div>

        <div class="col-md-12">
            {{ form_start(form) }}
            <div class="row">
                <div class="col-md-6">
                    <div class="box box-warning">
                        <div class="box-header">
                            <h4 class="box-title">Confirmation de la fusion</h4>
                        </div>
                        <div class="box-body">
                            <div class="sonata-ba-collapsed-fields">
                                {{ form_row(form.sourceCommittee, { label: 'ID du comité source', attr: { readonly: true } }) }}
                                {{ form_row(form.destinationCommittee, { label: 'ID du comité de destination', attr: { readonly: true } }) }}

                                <div>
                                    La fusion entraînera:
                                    <ul>
                                        <li>
                                            la désactivation du comité source <b>{{ source_committee.name }} ({{ source_committee.id }})</b>
                                        </li>
                                        <li>
                                            l'arrivée de <b>{{ new_members_count }}</b> nouveau(x) membre(s)
                                            au sein du comité de destination <b>{{ destination_committee.name }} ({{ destination_committee.id }})</b>
                                        </li>
                                        <li>
                                            Les membres qui votaient dans le comité source voteront désormais dans le comité de destination.
                                        </li>
                                    </ul>
                                </div>
                                <div>
                                    {{ form_widget(form.confirm, { label: 'Confirmer la fusion', attr: { class: 'btn btn-success' } }) }}
                                    <a href="{{ path('admin_app_reporting_committeemergehistory_merge') }}" class="btn btn-danger">Annuler</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
