{% extends '@SonataAdmin/CRUD/base_list_field.html.twig' %}

{% block field %}
    {% if object.hasVotingCommitteeMembership %}
        <a href="{{ path('admin_app_committee_list', {filter: {id: {value: object.memberships.votingCommitteeMembership.committee.id}}}) }}">
            {{ object.memberships.votingCommitteeMembership.committee }}
        </a>{{ object.isTerritorialCouncilMember ? ', ' }}<br />
    {% endif %}
    {% if object.isTerritorialCouncilMember %}
        <a href="{{ path('admin_app_territorialcouncil_territorialcouncil_list', {filter: {id: {value: object.territorialCouncilMembership.territorialCouncil.id }}}) }}">
            {{ object.territorialCouncilMembership.territorialCouncil }}
        </a><br />
    {% endif %}
{% endblock %}
