{% import 'admin/macros/labels.html.twig' as ui %}

{% set displayed_tags = [] %}

<div style="display: flex; flex-direction: column; align-items: flex-start; gap: 1px;">
    {# 1. Tags "adherent:*" ou "sympathisant:*" #}
    {% for tag in object.tags %}
        {% if tag starts with 'adherent:' %}
            {{ ui.label(
                translate_tag(tag, false),
                object.hasActiveMembership() ? '#ffeccc' : '#d6e7ff',
                object.hasActiveMembership() ? '#8e681e' : '#0f72bd',
            ) }}
            {% set displayed_tags = displayed_tags|merge([tag]) %}
        {% elseif tag starts with 'sympathisant:' %}
            {{ ui.label(
                translate_tag(tag, false),
                '#e3f8ff',
                '#4890a8',
            ) }}
            {% set displayed_tags = displayed_tags|merge([tag]) %}
        {% endif %}
    {% endfor %}

    {# 2. Tags "elu:*" #}
    {% set bgColor = '#fcede7' %}
    {% set textColor = '#fd6a3d' %}

    {% for tag in object.tags %}
        {% if tag starts with 'elu:' %}
            {{ ui.label(translate_tag(tag, false), bgColor, textColor) }}
            {% set displayed_tags = displayed_tags|merge([tag]) %}
        {% endif %}
    {% endfor %}

    {# 3. Zone-based roles #}
    {% set bgColor = '#ece2ff' %}
    {% set textColor = '#714991' %}

    {% for zone_based_role in object.getZoneBasedRoles() %}
        {% set label %}
            {% set role_label = ('role.' ~ zone_based_role.getType())|trans({gender: object.gender}) %}
            {% set instance = '' %}

            {% if zone_based_role.getType() starts with ('national_') %}
                {% set instance = constant('App\\Scope\\ScopeEnum::SCOPE_INSTANCES')[zone_based_role.getType()] ?? '' %}
            {% endif %}

            {{ instance ? instance ~ ' :' }} {{ role_label }}

            {% if zone_based_role.zones is not empty %}
                {% set codes = [] %}
                {% for zone in zone_based_role.zones %}
                    {% set codes = codes|merge([zone.code]) %}
                {% endfor %}
                ({{ codes|join(', ') }})
            {% endif %}
        {% endset %}

        {% set tooltip %}
            {% if zone_based_role.zones is not empty %}
                {% set zones = [] %}
                {% for zone in zone_based_role.zones %}
                    {% set zones = zones|merge([zone.name ~ ' (' ~ zone.code ~ ')']) %}
                {% endfor %}

                {{ zones|join(', ') }}
            {% endif %}
        {% endset %}

        {{ ui.label(label, bgColor, textColor, tooltip, 'left') }}
    {% endfor %}

    {# 4. Délégués #}
    {% for delegated_role in object.getReceivedDelegatedAccesses() %}
        {% set role_type = delegated_role.getType() %}

        {% set label = delegated_role.role %}
        {% set tooltip = ('role.' ~ role_type)|trans({gender: object.gender}) ~ ' délégué' ~ (object.gender is same as('female') ? 'e') %}

        {% if role_type in constant('App\\Adherent\\Authorization\\ZoneBasedRoleTypeEnum::ALL') %}
            {% set zone_based_role = delegated_role.delegator.findZoneBasedRole(role_type) %}

            {% if zone_based_role and zone_based_role.zones is not empty %}
                {% set zones = [] %}
                {% set codes = [] %}
                {% for zone in zone_based_role.zones %}
                    {% set codes = codes|merge([zone.code]) %}
                    {% set zones = zones|merge([zone.name ~ ' (' ~ zone.code ~ ')']) %}
                {% endfor %}

                {% set label = label ~ ' (' ~ codes|join(', ') ~ ')' %}

                {% set tooltip %}
                    {{ tooltip }}
                    <br />
                    {{ zones|join(', ') }}
                {% endset %}
            {% endif %}
        {% elseif role_type is same as('animator') %}
            {% set committees = [] %}
            {% for committee in delegated_role.delegator.getAnimatorCommittees() %}
                {% set committees = committees|merge([committee.name]) %}
            {% endfor %}

            {% set tooltip %}
                {{ tooltip }}
                <br />
                {{ committees|join(', ') }}
            {% endset %}
        {% endif %}

        {{ ui.label(label, bgColor, textColor, tooltip, 'left') }}
    {% endfor %}

    {# 5. Rôles / responsabilités divers #}
    {% set customRoleLabels = [
        object.isAnimator ? 'animator',
        object.isJecouteManager ? 'jecoute_manager',
        object.isHost ? 'committee_host',
        object.isSupervisor(false) ? 'committee_supervisor',
        object.isHeadedRegionalCandidate ? 'candidate_regional_headed',
        object.isLeaderRegionalCandidate ? 'candidate_regional_leader',
        object.isDepartmentalCandidate ? 'candidate_departmental',
        object.isDelegatedHeadedRegionalCandidate ? 'delegated_candidate_regional_headed',
        object.isDelegatedLeaderRegionalCandidate ? 'delegated_candidate_regional_leader',
        object.isDelegatedDepartmentalCandidate ? 'delegated_candidate_departmental',
        object.hasNationalRole ? 'national',
        object.hasPhoningManagerRole ? 'phoning_national_manager',
        object.hasPapNationalManagerRole ? 'pap_national_manager',
        object.isPresidentOfAgora ? 'agora_president',
        object.isGeneralSecretaryOfAgora ? 'agora_general_secretary',
        object.isTerritoireProgresMembership ? 'membership.tdp',
        object.isAgirMembership ? 'membership.agir',
        object.meetingScanner ? 'meeting_scanner',
    ]|filter(v => v) %}

    {% for label in customRoleLabels %}
        {% set tooltip = null %}
        {% if label is same as ('animator') %}
            {% set tooltip %}
                {% for committee in object.animatorCommittees %}
                    {{ committee.name }}
                    {% if not loop.last %}
                        <br />
                    {% endif %}
                {% endfor %}
            {% endset %}
        {% elseif label is same as ('agora_president') %}
            {% set tooltip %}
                {% for agora in object.presidentOfAgoras %}
                    {{ agora.name }}
                    {% if not loop.last %}
                        <br />
                    {% endif %}
                {% endfor %}
            {% endset %}
        {% elseif label is same as ('agora_general_secretary') %}
            {% set tooltip %}
                {% for agora in object.generalSecretaryOfAgoras %}
                    {{ agora.name }}
                    {% if not loop.last %}
                        <br />
                    {% endif %}
                {% endfor %}
            {% endset %}
        {% endif %}

        {{ ui.label(('role.' ~ label)|trans({gender: object.gender}), bgColor, textColor, tooltip, 'left') }}
    {% endfor %}

    {# 6. Static labels & tags non encore affichés #}
    {% set bgColor = '#dfe3e8' %}
    {% set textColor = '#58636f' %}

    {% for tag in object.tags %}
        {% if tag not in displayed_tags %}
            {{ ui.label(translate_tag(tag, false), bgColor, textColor) }}
            {% set displayed_tags = displayed_tags|merge([tag]) %}
        {% endif %}
    {% endfor %}

    {% for staticLabel in object.staticLabels %}
        {% set tagCode = staticLabel.category.code ~ ':' ~ staticLabel.code %}
        {% if tagCode not in displayed_tags %}
            {{ ui.label(staticLabel.label, bgColor, textColor) }}
            {% set displayed_tags = displayed_tags|merge([tag]) %}
        {% endif %}
    {% endfor %}
</div>
