{% import 'admin/macros/labels.html.twig' as ui %}

{% set labels = [] %}

{% for zone_based_role in object.getZoneBasedRoles() %}
    {% set labels = labels|merge([('role.' ~ zone_based_role.getType())|trans]) %}
{% endfor %}

{% for delegated_role in object.getReceivedDelegatedAccesses() %}
    {% if delegated_role.getType() in constant('App\\Adherent\\Authorization\\ZoneBasedRoleTypeEnum::ALL') %}
        {% set labels = labels|merge([(('role.' ~ delegated_role.getType())|trans) ~ ' délégué']) %}
    {% else %}
        {% set labels = labels|merge([(delegated_role.getType()|trans)|capitalize ~ ' délégué']) %}
    {% endif %}
{% endfor %}

{% if object.hasAdvancedPrivileges %}
    {% if object.isAnimator %}
        {% set labels = labels|merge(['Responsable comité local']) %}
    {% endif %}

    {% if object.isJecouteManager %}
        {% set labels = labels|merge(['Responsable des questionnaires']) %}
    {% endif %}

    {% if object.isHost %}
        {% set labels = labels|merge(['Co-Animateur']) %}
    {% endif %}

    {% if object.isSupervisor(false) %}
        {% set labels = labels|merge(['Animateur']) %}
    {% endif %}

    {% if object.isSupervisor(true) %}
        {% set labels = labels|merge(['Animateur provisiore']) %}
    {% endif %}

    {% if object.isHeadedRegionalCandidate %}
        {% set labels = labels|merge(['Tête de liste aux régionales']) %}
    {% endif %}

    {% if object.isLeaderRegionalCandidate %}
        {% set labels = labels|merge(['Chef de file aux régionales']) %}
    {% endif %}

    {% if object.isDepartmentalCandidate %}
        {% set labels = labels|merge(['Candidat aux départementales']) %}
    {% endif %}

    {% if object.isDelegatedHeadedRegionalCandidate %}
        {% set labels = labels|merge(['Tête de liste aux régionales délégué']) %}
    {% endif %}

    {% if object.isDelegatedLeaderRegionalCandidate %}
        {% set labels = labels|merge(['Chef de file aux régionales délégué']) %}
    {% endif %}

    {% if object.isDelegatedDepartmentalCandidate %}
        {% set labels = labels|merge(['Candidat aux départementales délégué']) %}
    {% endif %}

    {% if object.isElectionResultsReporter %}
        {% set labels = labels|merge(['Rapporteur résultats']) %}
    {% endif %}
{% endif %}

{% if object.hasNationalRole %}
    {% set labels = labels|merge(['Rôle National']) %}
{% endif %}

{% if object.hasNationalCommunicationRole %}
    {% set labels = labels|merge(['Rôle National communication']) %}
{% endif %}

{% if object.hasPhoningManagerRole %}
    {% set labels = labels|merge(['Responsable équipe d\'appel']) %}
{% endif %}

{% if object.hasPapNationalManagerRole %}
    {% set labels = labels|merge(['Responsable National PAP']) %}
{% endif %}

{% if object.isPresidentOfAgora %}
    {% set labels = labels|merge(['role.agora_president'|trans]) %}
{% endif %}

{% if object.isGeneralSecretaryOfAgora %}
    {% set labels = labels|merge(['role.agora_general_secretary'|trans]) %}
{% endif %}

<div style="display: flex;flex-direction: column;align-items: flex-start;gap: 1px;">
    {% for label in labels %}
        {{ ui.label(label) }}
    {% endfor %}

    {{ include('admin/adherent/_tags.html.twig', {tags: object.tags}) }}

    {% if object.staticLabels is not empty %}
        {% for staticLabel in object.staticLabels %}
            {% if not object.hasTag(staticLabel.category.code ~ ':' ~ staticLabel.code) %}
                {{ ui.label(staticLabel.label, 'grey') }}
            {% endif %}
        {% endfor %}
    {% endif %}

    {% if object.isTerritoireProgresMembership %}
        {{ ui.label('Militant TDP') }}
    {% endif %}

    {% if object.isAgirMembership %}
        {{ ui.label('Militant AGIR') }}
    {% endif %}
</div>
